﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #variationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="variation.id">Edit Variation</span>
                        <span *ngIf="!variation.id">{{l("CreateNewVariation")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="form-group form-icon">
                            <label for="Variation_Name">{{l("Name")}} *</label>
                            <input type="text" id="Variation_Name" class="form-control" [(ngModel)]="variation.name" name="Name" required />
                            <span class="icon-box"><i class="las la-money-bill"></i></span>
                        </div>

                        <div class="mt-1">
                            <div class="kt-radio-inline">
                                <label for="Variation_Action_Plus" class="kt-radio">
                                    <input id="Variation_Action_Plus" name="Action" 
                                           [value]="'Plus'" type="radio" [(ngModel)]="variation.action">
                                           Plus
                                    <span></span>
                                </label>
                                <label for="Variation_Action_Minus" class="kt-radio">
                                    <input id="Variation_Action_Minus" name="Action" 
                                           [value]="'Minus'" type="radio" [(ngModel)]="variation.action">
                                           Minus
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-icon">
                                <label>Is-Active</label>
                                <input type="checkbox"  class="form-control" [(ngModel)]="variation.isActive" name="isActive" style="width: 22px;" />
                              </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn  btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Close")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!variationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>