﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #elecDistributorForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="elecDistributor.id">{{l("EditElecDistributor")}}</span>
                        <span *ngIf="!elecDistributor.id">{{l("CreateElecDistributor")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="ElecDistributor_Name">{{l("Name")}} *</label>
                                    <input type="text" id="ElecDistributor_Name" class="form-control" [(ngModel)]="elecDistributor.name" name="Name" minlength="3" maxlength="200" required/>
                                    <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="ElecDistributor_ElectDistABB">{{l("ElectDistABB")}} *</label>
                                    <input type="text" id="ElecDistributor_ElectDistABB" class="form-control" [(ngModel)]="elecDistributor.electDistABB" name="ElectDistABB" required />
                                    <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                 <label>Is-Active</label>
                                 <input type="checkbox"  class="form-control" [(ngModel)]="elecDistributor.isActive" name="isActive" style="width: 22px;" />
                               </div>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!elecDistributorForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>