﻿<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("ElecDistributor")}}</span>
                        <span class="total-records-count">
                                  ({{(primengTableHelper.totalRecordsCount)}})
                              </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getElecDistributors()"></button>
                            </li>
                            <li>
                                <div class="btn-group btnexceldropdown" dropdown>
                                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                          <!-- <i class="far fa-file-excel"></i> -->
                                          <!-- {{"ExcelOperations" | localize}} -->
                                          Export
                                          <img src="../../../assets/common/images/icon_downarrow.svg" />
                  
                                      </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                        <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            <i class="las la-file-csv"></i> CSV
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="isGranted('Pages.ElecDistributors.Create')"><button (click)="createElecDistributor()" class="btn btn-outline-primary btnadd">
                                Add <i class="las la-plus-circle"></i>
                            </button></li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" [placeholder]="l('Searchfieldname')" [(ngModel)]="filterText" (keydown.enter)="getElecDistributors();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getElecDistributors()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getElecDistributors();searchLog();" />
                                    </div>


                                    <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox d-none">
                                        <h3>Advance Filters </h3>
                                        <div class="advfilterform">

                                            <form class="kt-form" autocomplete="off">
                                                <ul>
                                                    <li class="fullwidth">
                                                        <div class="form-group">
                                                            <!-- <label for="NameFilter">{{l("Name")}}</label> -->
                                                            <input type="text" class="form-control" id="NameFilter" name="nameFilter" placeholder="Name" [(ngModel)]="nameFilter">
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id="ElectDistABBFilter" name="electDistABBFilter" placeholder="ElectDistABB" [(ngModel)]="electDistABBFilter">
                                                        </div>
                                                    </li>

                                                    <li class="fullwidth text-right">
                                                        <button class="btn btn-success btn-sm ng-tns-c458-53" (click)="clear()"><i class="fa fa-search ng-tns-c458-53"></i> Clear</button>
                                                        <button class="btn btn-success btn-sm ng-tns-c458-53" (click)="getElecDistributors()"><i class="fa fa-search ng-tns-c458-53"></i> Search</button>
                                                    </li>
                                                </ul>

                                            </form>


                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getElecDistributors($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.ElecDistributors.Edit', 'Pages.ElecDistributors.Delete')">{{l('Actions')}}</th>
                                        <th pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="elecDistributor.name"></p-sortIcon>
                                        </th>

                                        <th style="width:150px" pSortableColumn="electDistABB">
                                            {{l('ElectDistABB')}}
                                            <p-sortIcon field="elecDistributor.electDistABB"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="isActive">
                                            {{l('IsActive')}}
                                            <p-sortIcon field="elecDistributor.isActive"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td class="actionwidth" style="text-align: center;" [hidden]="!isGrantedAny('Pages.ElecDistributors.Edit', 'Pages.ElecDistributors.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                  <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                              </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" (click)="viewElecDistributorModal.show(record)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.ElecDistributors.Edit')" (click)="createOrEditElecDistributorModal.show(record.elecDistributor.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.ElecDistributors.Delete')" (click)="deleteElecDistributor(record.elecDistributor)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.elecDistributor.name}}
                                        </td>

                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('ElectDistABB')}}</span> {{record.elecDistributor.electDistABB}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('IsActive')}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.elecDistributor.isActive">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.elecDistributor.isActive">{{'No' | localize}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getElecDistributors($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                showing {{firstrowcount}}
                                To {{last}}
                                <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditElecDistributorModal #createOrEditElecDistributorModal (modalSave)="getElecDistributors()"></createOrEditElecDistributorModal>
        <viewElecDistributorModal #viewElecDistributorModal></viewElecDistributorModal>

    </div>
</div>