<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #installerinvoiceform="ngForm" novalidate (ngSubmit)="saveJobInstallerInvoic()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("EditInstallerInvoice")}} - {{installerInv.jobNumber}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box mt-0">
                        <h3 class="d-flex align-items-center"><i class="las la-file-invoice-dollar fs-30 mr-2"></i>Invoice Details</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="installation_Maintenance_Inspection">{{l("Select Invoice Type")}}</label>
                                    <select class="form-control" required [(ngModel)]="installerInv.installation_Maintenance_Inspection" id="installerInv.installation_Maintenance_Inspection" name="installation_Maintenance_Inspection">
                                        <option value="">{{l("Select Invoice Type")}}</option>
                                        <option *ngFor="let item of installerInvoiceType"
                                        value="{{item}}">{{item}}
                                        </option>
                                        <!-- <option value="Installation">{{l('Installation')}}</option>
                                        <option value="Maintenance">{{l('Maintenance')}}</option>
                                        <option value="Inspection">{{l('Inspection')}}</option> -->
                                    </select>
                                    <span class="icon-box"><i class="las la-user-cog"></i></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="jobId">Select Job Number</label>
                                    <p-autoComplete id="jobIds" name="jobIds" [readonly]="true" [(ngModel)]="installerInv.jobNumber" [suggestions]="searchResult" (completeMethod)="filterjobnumber($event)" placeholder="Job Number" [minLength]="5" inputStyleClass="form-control" styleClass="width-percent-100"
                                        (keydown.enter)="OnSelectDetails($event)" (onSelect)="OnSelectDetails($event)" (onClear)="OnSelectDetails($event)" required>
                                        <ng-template let-result pTemplate="item">
                                            <div class="result-item">
                                                <div class="d-flex align-items-center mb-1">
                                                    <strong>{{result.jobNumber}}</strong>
                                                    <span class="px-2" *ngIf="result.jobNumber != null">|</span>
                                                    <strong>{{result.customerName}}</strong>
                                                </div>
                                                <div class="d-flex align-items-center mb-1">
                                                    <span *ngIf="result.mobile != null" class="d-flex align-items-center"><i class="las la-mobile fs-16 mr-1"></i> {{result.mobile}}</span>
                                                    <span class="px-2" *ngIf="result.mobile != null && result.email != ''">|</span>
                                                    <span class="d-flex align-items-center" *ngIf="result.email != ''"><i class="las la-envelope fs-16 mr-1"></i> {{result.email}}</span>
                                                </div>
                                                <div class="d-flex align-items-center" *ngIf="result.address != ''">
                                                    <i class="las la-map-marker-alt fs-16 mr-1"></i> {{result.address}}</div>
                                            </div>
                                        </ng-template>
                                    </p-autoComplete>
                                    <span class="icon-box"><i class="lab la-slack-hash"></i></span>
                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="InvDate">{{l("Installer")}}</label>
                                    <p-autoComplete id="installerIds" name="installerIds" [suggestions]="installerSearchResult" (completeMethod)="filterInstaller($event)" [minLength]="1" [placeholder]="l('SelectInstaller')" required inputStyleClass="form-control" styleClass="width-percent-100"
                                        (onSelect)="selectInstaller($event)" (onClear)="selectInstaller($event)" (keydown.enter)="selectInstaller($event)" [(ngModel)]="installerInv.installerName">
                                        <ng-template let-result pTemplate="item">
                                            <div class="result-item">
                                                <div class="d-flex align-items-center mb-1">
                                                    <i class="las la-user-cog fs-16 mr-1"></i> {{result.displayName}}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-autoComplete>
                                    <span class="icon-box"><i class="las la-user-cog"></i></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="invNo">{{l("Inv No")}}</label>
                                    <input type="text" id="invoiceNo" class="form-control" [(ngModel)]="installerInv.invoiceNo" name="invoiceNo" (change)="onInvoiceNoChange()" required />
                                    <span class="icon-box"><i class="lab la-slack-hash"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="Amount">{{l("Inv Amount")}}</label>
                                    <input type="number" id="installerInv.Amount" class="form-control" [(ngModel)]="installerInv.amount" name="JobInvAmount" disabled required />
                                    <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="isGSTInclude">{{l("IsGSTInclude")}} </label>
                                <input type="checkbox" id="isGSTInclude" class="form-control" [(ngModel)]="installerInv.isGSTInclude" name="isGSTInclude" style="width: 22px;"  (change)="calculateRate()"/>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="invDate">{{l("Inv Date")}}</label>
                                    <input type="text" bsDatepicker datePickerMomentModifier name="invDate" [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" class="form-control daterangebox" [(date)]="installerInv.invDate" required/>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="invoiceIssuedDate">{{l("Invoice issued Date")}}</label>
                                    <input type="text" bsDatepicker datePickerMomentModifier name="invoiceIssuedDate" [(date)]="installerInv.invoiceIssuedDate" [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" class="form-control daterangebox" required />
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="flexbloxbutton fileuploadbtn">
                                    <div class="form-group marginbtm0">
                                        <label for="Notes">{{l("File")}}</label>
                                        <div class="white-file-upload">
                                            <input type="file" (change)="filechangeEvent($event)" #fileInput accept=".pdf" class="fileuploadboxbtn" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="FileName">{{l("FileName")}}</label>
                                    <span class="badge badge-secondary d-flex align-items-center fw-600" style="max-width:320px;"><i class="las la-file-pdf fs-20 mr-2"></i>{{installerInv.fileName}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-clipboard-list fs-30 mr-2"></i>Price List</h3>
                        <div class="row">
                            <div class="formcontainer singleli">
                                <ul>
                                    <li *ngFor="let item of installerInv.installerInvoicePriceListDtos; let i = index">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center">
                                                <div class="mr-2" style="padding-left:0px!important;">
                                                    <select name="priceItemId{{i}}" #PriceItemId="ngModel" [(ngModel)]="item.priceItemId" class="form-control">
                                                        <option [ngValue]="undefined">Select</option>
                                                        <option *ngFor="let item of priceItemList"
                                                            value="{{item.id}}">{{item.displayName}}
                                                        </option>
                                                    </select>
                                                    <!-- <validation-messages [formCtrl]="priceItemId">
                                                    </validation-messages> -->
                                                </div>
                                                <div class="mr-2">
                                                    <div class="disflexdiv">

                                                        <input type="number" name="amountItem{{i}}" #amountItem="ngModel" [(ngModel)]="item.amount" class="form-control" (change)="calculateRate()" placeholder="Amount" />
                                                        <!-- <a *ngIf="JobVariations.length != 1" [hidden]="!disbaleifsalerep" (click)="removeJobVariation(item)" class="removebtn ml-2"><img [src]="appRootUrl() + 'assets/common/images/icon_delete.svg'" alt="" /></a> -->

                                                    </div>
                                                    <!-- <validation-messages [formCtrl]="amountItem">
                                                    </validation-messages> -->
                                                </div>
                                                <div class="mr-2">
                                                    <div class="disflexdiv">

                                                        <input type="text" name="noteItem{{i}}" #noteItem="ngModel" [(ngModel)]="item.notes" class="form-control" placeholder="Notes" />
                                                        <!-- <a *ngIf="JobVariations.length != 1" [hidden]="!disbaleifsalerep" (click)="removeJobVariation(item)" class="removebtn ml-2"><img [src]="appRootUrl() + 'assets/common/images/icon_delete.svg'" alt="" /></a> -->

                                                    </div>
                                                    <!-- <validation-messages [formCtrl]="amountItem">
                                                    </validation-messages> -->
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="action-btn mr-1" *ngIf="installerInv.installerInvoicePriceListDtos.length != 1">
                                                        <a (click)="removePriceList(item)" class=""><i class="las la-trash text-danger"></i></a>
                                                    </div>


                                                    <div class="action-btn addbtn" *ngIf="installerInv.installerInvoicePriceListDtos.length == (i+1)">
                                                        <a (click)="addPriceList()"><i class="las la-plus-circle"></i></a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- <div class="addmorebtn" style="padding-left: 0px!important;" [hidden]="!disbaleifsalerep">
                                    <a (click)="addJobVariation()">+ Add more item</a>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-sticky-note fs-30 mr-2"></i>Notes</h3>
                        <textarea id="installerInv.Notes" class="form-control" [(ngModel)]="installerInv.notes" name="Notes"></textarea>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!installerinvoiceform.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>