<style>
    @media (max-width: 768px) {
        .dis-column .col-6 {
            max-width: inherit;
        }
        .secondary-grid {
            overflow: auto;
        }
    }
</style>
<div bsModal #viewModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}} - {{applicationview.leadCompanyName}} - {{applicationview.jobNumber}} </span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between">
                        <span><i class="las la-user-alt fs-30 mr-2"></i>Customer Details</span>
                        <span *ngIf="mapSrc != ''">
                            <a class="d-flex align-items-center text-primary fs-14" href="{{mapSrc}}" target="_blank">
                            <i class="las la-map-marker-alt fs-24 mr-1"></i> <span style="font-weight:500;">Show in map</span> </a>
                        </span>
                    </h3>

                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Name")}}</span>
                                        <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.leadCompanyName}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Mobile")}}</span>
                                        <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.mobileno}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Email")}}</span>
                                        <span style="width: 15px;font-weight: 600;">:</span>
                                    <span class="emailtext"> <span class="" style="font-weight:600;">{{applicationview.email}}</span></span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Phone")}}</span>  <span style="width: 15px;font-weight: 600;">:</span> <span class="" style="font-weight:600;">{{ applicationview.phone}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Address")}}</span>  <span style="width: 15px;font-weight: 600;">:</span> <span class="" style="font-weight:600;">{{ applicationview.adress}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Suburb")}}</span>  <span style="width: 15px;font-weight: 600;">:</span> <span class="" style="font-weight:600;">{{ applicationview.suburb}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("State")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.state}}                                                
                                        </span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("PostalCode")}}</span>  <span style="width: 15px;font-weight: 600;">:</span> <span class="" style="font-weight:600;">{{ applicationview.postalCode}}</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-white-box" *ngIf="applicationview.referralPayDate != null">
                    <h3 class="d-flex align-items-center"><i class="las la-coins fs-30 mr-2"></i>Paid Details</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Paid Date")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.referralPayDate |
                                            momentFormat:'DD-MM-YYYY'}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("paid Amount")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.referralAmount}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Paid Notes")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.referralRemark}}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-white-box" [hidden]="!finance">
                    <h3 class="d-flex align-items-center"><i class="las la-wallet fs-30 mr-2"></i>Finance Details</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("PaymentOption")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.paymentOptionName}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("FinPaymentType")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.financeOptionName}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("DepositOption")}} : </span><span class="emailtext">{{
                                            applicationview.depositOptionName}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("ApplicationDate")}} : </span><span class="emailtext">{{
                                            applicationview.financeApplicationDate |
                                            momentFormat:'DD-MM-YYYY'}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("FinancePurchaseNo")}} : </span><span class="emailtext">{{
                                            applicationview.financePurchaseNo}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("DocumentsVeridiedDate")}} : </span><span class="emailtext">{{
                                            applicationview.documentsVeridiedDate |
                                            momentFormat:'DD-MM-YYYY'}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("CoolingoffPeriodEnd")}} : </span><span class="emailtext">{{
                                            applicationview.coolingoffPeriodEnd |
                                            momentFormat:'DD-MM-YYYY'}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("DocumentVerifiedBy")}} : </span><span class="emailtext">{{
                                            applicationview.documentsVeridiedByName}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("DocumentVerified")}} : </span>
                                        <span class="emailtext" *ngIf="applicationview.financeDocumentVerified == 1">{{l("Verify")}}</span>
                                        <span class="emailtext" *ngIf="applicationview.financeDocumentVerified == 2">{{l("NotVerify")}}</span>
                                        <span class="emailtext" *ngIf="applicationview.financeDocumentVerified == 3">{{l("Query")}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("FinanceNotes")}} : </span><span class="emailtext">{{
                                            applicationview.financeNotes}}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-info-circle fs-30 mr-2"></i>Site Details</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("HouseType")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.houseTypeName}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("RoofType")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.roofTypeName}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("MeterNo")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.meterNumber}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("MeterPhase")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.meterPhaseName}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("RegPlanNo")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.regPlanNo}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("LotNo")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.lotNumber}}</span></h6>
                                </div>


                                <div class="col-6 mb-3">
                                    <h6><span>{{l("ElectDist")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.elecDistributorName}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("electricRetailer")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.elecRetailerName}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("NMINo")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.nmiNumber}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("ApplicationRefNo")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.applicationRefNo}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("PaymentMethod")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;"> {{ applicationview.finance}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("DistApplied")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;"> {{ applicationview.distApplied |
                                            momentFormat:'DD-MM-YYYY'}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("DistExpDate")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.distExpiryDate |
                                            momentFormat:'DD-MM-YYYY'}}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-white-box" *ngIf="applicationview.state == 'VIC'">
                    <h3 class="d-flex align-items-center"><i class="las la-info-circle fs-30 mr-2"></i>VIC Details</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("RebateAppRef")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.rebateAppRef}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("ApprovalDate")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.approvalDate |
                                            momentFormat:'DD-MM-YYYY'}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("ExpiryDate")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.expiryDate |
                                            momentFormat:'DD-MM-YYYY'}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("VICRebate")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.vicRebate}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("SolarVICRebate")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.solarVICRebate}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("SolarVICLoanDiscount")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.solarVICLoanDiscont}}</span></h6>
                                </div>


                                <div class="col-6 mb-3">
                                    <h6><span>{{l("SolarRebateStatus")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.solarRebateStatus}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Notes")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.vicRebateNotes}}</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-box fs-30 mr-2"></i>Product Details</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-12 mb-3">
                                    <h6><span style="padding-top: 5px;">{{l("ProjectType")}} </span> <span style="width: 15px;font-weight: 600;padding-top: 5px;">:</span>
                                        <span class="badge badge-pill badge-secondary" style="display:inline-block; width:auto; font-weight:600;">{{applicationview.jobTypeName}}</span></h6>
                                </div>

                                <div class="col-6 mb-3">
                                    <h6><span style="padding-top: 5px;">{{l("ProjectStatus")}}</span> <span style="width: 15px;font-weight: 600;padding-top: 5px;">:</span>
                                        <span class="badge badge-pill badge-secondary" style="display:inline-block; width:auto; font-weight:600;">{{applicationview.jobStatusName}}</span>
                                    </h6>
                                </div>

                                <div class="col-6 mb-3">
                                    <h6><span style="padding-top: 5px;">{{l("SystemCapacity")}}</span> <span style="width: 15px;font-weight: 600;padding-top: 5px;">:</span>
                                        <span class="badge badge-pill badge-secondary d-flex align-items-center" style="width:auto;">
                                            <i class="fas fa-bolt fs-16 mr-1"></i> <span style="font-weight:600;">{{ applicationview.systemCapacity}}</span>
                                        </span>
                                    </h6>
                                </div>

                                <div class="col-12 mb-3">
                                    <div class="secondary-grid vscrollbar" style="max-height:300px; overflow-y:auto;">
                                        <table class="table table_blck">
                                            <thead>
                                                <tr>
                                                    <th>Product Category</th>
                                                    <th>Product Name</th>
                                                    <th style="text-align: center;">Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of applicationview.jobProducts">
                                                    <td>{{ item.category }}</td>
                                                    <td>{{ item.name | titlecase }}</td>
                                                    <td style="text-align: center;">{{ item.quantity }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- <div class="col-4 mb-3">
                                    <h6><span>{{l("SystemDetail")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.panel}} {{
                                            applicationview.inverter }}</span></h6>
                                </div>

                                <div class="col-6 mb-3">
                                    <h6><span>{{l("NoPannel")}} : </span>
                                        <span class="badge badge-pill badge-secondary d-flex align-items-center" style="width:auto;">
                                            <i class="fas fa-solar-panel fs-16 mr-1"></i> <span style="font-weight:600;">{{ applicationview.panelQTY}}</span>
                                        </span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Price")}} : </span>
                                        <span class="badge badge-pill badge-success d-flex align-items-center" style="width:auto;">
                                            <i class="fas fa-dollar-sign fs-16 mr-1"></i> <span style="font-weight:600;">{{ applicationview.price}}</span>
                                        </span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Pannel")}} :</span> <span>{{ applicationview.panelNAme}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("PannelModel")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.panelModelNo}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("InveterBrand")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.inverterNAme}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("InveterModel")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.inverterModelNo}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("InverterOutput")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.inverterOutPut}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("InvQty1")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.inverterQTY}}</span>
                                    </h6>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-file-invoice-dollar fs-30 mr-2"></i>Price Details</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <h6 class="d-flex align-items-center fs-16">
                                                <span>Basic Cost</span><span style="width: 15px;font-weight: 600;padding-top: 5px;">:</span>
                                                <span class="badge badge-pill badge-success d-flex align-items-center" style="width: auto;">
                                                    <i class="fas fa-dollar-sign fs-16 mr-1"></i>
                                                    <span style="font-weight: 600;">{{job.basicCost}}.00</span>
                                                </span>
                                            </h6>
                                        </div>
                                        <div class="col-12 mb-3" style="border-top:1px solid #EFF2F5; padding-top:10px;">
                                            <h6 class="d-flex align-items-center">
                                                <i class="las la-cogs fs-22 mr-2" style="color:#a29fbd;"></i><span style="font-weight:600;">Varition</span>
                                            </h6>
                                        </div>
                                        <div>
                                            <div class="col-12 mb-3" *ngFor="let item of applicationview.variations">
                                                <h6 class="fs-14 fw-normal">
                                                    <span>{{ item.name }}</span><span style="width: 15px;font-weight: 600;">:</span>
                                                    <span style="font-weight: 600;">${{ item.value }}</span>
                                                </h6>
                                            </div>
                                            <!-- <div class="col-12 mb-3">
                                                <h6 class="fs-14 fw-normal">
                                                    <span class="fw-normal">Manager Discount : </span>
                                                    <span class="fw-normal" style="font-weight: 600;">$50.00</span>
                                                </h6>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="secondary-grid vscrollbar" style="max-height:300px; overflow-y: auto;">
                                        <table class="table">
                                            <tr>
                                                <th>Total Cost :</th>
                                                <th style="text-align:right;">${{job.totalCost}}.00</th>
                                            </tr>
                                            <tr *ngIf="job.state == 'VIC'">
                                                <td>Less - Solar VIC Rebate :</td>
                                                <td style="text-align:right;">${{job.solarVICRebate}}.00</td>
                                            </tr>
                                            <tr *ngIf="job.state == 'VIC'">
                                                <td>Less - Solar VIC Loan Discount :</td>
                                                <td style="text-align:right;">${{job.solarVICLoanDiscont}}.00</td>
                                            </tr>
                                            <tr>
                                                <td>Deposit Required</td>
                                                <td style="text-align:right;">${{job.depositRequired}}.00</td>
                                            </tr>
                                            <tr>
                                                <td style="font-weight:600;">Bill to Pay :</td>
                                                <td style="text-align:right; font-weight:600;">${{billToPay}}.00</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-white-box" *ngIf="invoiceinstaller==26">
                    <h3 class="d-flex align-items-center"><i class="las la-file-invoice-dollar fs-30 mr-2"></i>Installer Invoice</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("ActualPanelsInstalled")}} : </span>
                                        <span *ngIf="applicationview.actualPanelsInstalled == 1"> {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.actualPanelsInstalled != 1"> {{l("No")}} </span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("CES")}} : </span><span *ngIf="applicationview.ces == 1"> {{l("Yes")}}
                                        </span>
                                        <span *ngIf="applicationview.ces != 1"> {{l("No")}} </span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("CxSign")}} : </span><span *ngIf="applicationview.cxSign == 1">
                                            {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.cxSign != 1"> {{l("No")}} </span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("EmailSent")}} : </span> <span>{{applicationview.emailSent}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Frontofproperty")}} : </span><span *ngIf="applicationview.frontofproperty == 1"> {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.frontofproperty != 1"> {{l("No")}} </span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("InstDesElesign")}} : </span><span *ngIf="applicationview.instDesElesign == 1"> {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.instDesElesign != 1"> {{l("No")}} </span>
                                    </h6>
                                </div>

                                <div class="col-6 mb-3">
                                    <h6><span>{{l("InstalaltionPic")}} :</span><span *ngIf="applicationview.instalaltionPic == 1"> {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.instalaltionPic != 1"> {{l("No")}} </span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("InstMaintInspPic")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.instMaintInspPic}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Installerselfie")}} : </span>
                                        <span *ngIf="applicationview.installerselfie == 1"> {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.installerselfie != 1"> {{l("No")}} </span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("InverterSerialNo")}} : </span>
                                        <span *ngIf="applicationview.inverterSerialNo == 1"> {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.inverterSerialNo != 1"> {{l("No")}} </span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("InvoiceAmount")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.invoiceAmount}}</span></h6>
                                </div>


                                <div class="col-6 mb-3">
                                    <h6><span>{{l("InvoiceNo")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.invoiceNo}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("NoofPanelsinvoice")}} : </span>
                                        <span *ngIf="applicationview.noofPanelsinvoice == 1"> {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.noofPanelsinvoice != 1"> {{l("No")}} </span>

                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("NoofPanelsPortal")}} : </span>
                                        <span *ngIf="applicationview.noofPanelsPortal == 1"> {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.noofPanelsPortal != 1"> {{l("No")}} </span>

                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("NotesOrReasonforPending")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.notesOrReasonforPending}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("PanelsSerialNo")}} : </span>
                                        <span *ngIf="applicationview.panelsSerialNo == 1"> {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.panelsSerialNo != 1"> {{l("No")}} </span>

                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Remarkifowing")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.remarkifowing}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Splits")}} : </span>
                                        <span *ngIf="applicationview.splits == 1"> {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.splits != 1"> {{l("No")}} </span>

                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Traded")}} : </span>
                                        <span *ngIf="applicationview.traded == 1"> {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.traded != 1"> {{l("No")}} </span>

                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("TravelKMfromWarehouse")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.travelKMfromWarehouse}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("WiFiDongle")}} : </span>
                                        <span *ngIf="applicationview.wiFiDongle == 1"> {{l("Yes")}} </span>
                                        <span *ngIf="applicationview.wiFiDongle != 1"> {{l("No")}} </span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("otherExtraInvoiceNumber")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.otherExtraInvoiceNumber}}</span>
                                    </h6>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mt-3" *ngIf="applicationview.filenameinv != null">
                                        <div class="card card-custom card-stretch">
                                            <h3>Document List</h3>
                                            <div class="card-body sitedetailbox xlmin517">
                                                <div class="">
                                                    <div class="secondary-grid vscrollbar">
                                                        <table class="table table_blck">
                                                            <thead>
                                                                <tr>
                                                                    <th>Document Title</th>
                                                                    <th class="text-center" style="width:120px;">Download
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>{{applicationview.filenameinv}}</td>
                                                                    <td class="text-center" style="width:120px;">
                                                                        <a (click)="downloadfile1(applicationview)" class="btndownloaddocument"><img [src]="appRootUrl() + 'assets/common/images/down-arrow.svg'" alt="" /></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mt-3">
                                        <div class="card card-custom card-stretch">
                                            <h3>Previous Document List</h3>
                                            <div class="card-body sitedetailbox xlmin517">
                                                <div class="">
                                                    <div class="secondary-grid vscrollbar">
                                                        <table class="table table_blck">
                                                            <thead>
                                                                <tr>
                                                                    <th>Document Title</th>
                                                                    <th class="text-center" style="width:120px;">Download
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let item of applicationview.filelist">
                                                                    <td>{{item.filename}}</td>
                                                                    <td class="text-center" style="width:120px;">
                                                                        <a (click)="downloadfile(item)" class="btndownloaddocument"><img [src]="appRootUrl() + 'assets/common/images/down-arrow.svg'" alt="" /></a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-tachometer-alt fs-30 mr-2"></i>Meter Details</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-6 mb-3">
                                    <h6><span>Peak Meter No.</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.peakMeterNo}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>Off Peak Meters</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.offPeakMeter}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>Meter Phase 1-2-3</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.meterPhaseId}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <!-- <h6><span>{{l("EnoughMeterSpace")}}</span>  <span style="width: 15px;font-weight: 600;">:</span> -->
                                        <h6><span>Meter Space</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.enoughMeterSpace}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("InSystemOffPeak")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.isSystemOffPeak}}</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-coins fs-30 mr-2"></i>Payment Method</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("PaymentOption")}} </span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.paymentOptionName}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3" *ngIf="applicationview.paymentOptionName != 'Cash'">
                                    <h6><span>{{l("FinPaymentType")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.financeOptionName}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3" *ngIf="applicationview.paymentOptionName != 'Cash'">
                                    <h6><span>{{l("DepositOption")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{
                                            applicationview.depositOptionName}}</span></h6>
                                </div>
                                <div class="col-6 mb-3" *ngIf="applicationview.paymentOptionName != 'Cash'">
                                    <h6><span>{{l("FinancePurchaseNo")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.financePurchaseNo}}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-user-cog fs-30 mr-2"></i>Installer Details</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Name")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.installerName}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Mobile")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.installerName}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Email")}}</span><span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="emailtext" style="font-weight:600;">{{applicationview.installerEmail}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Address")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.installerAdress}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Acc Code")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.accCodeExpDate}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Acc Exp Date")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.accExpDate | momentFormat:'DD-MM-YYYY'}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Elect Code")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.electCodeExpDate}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Elect Exp Date")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.electExpDate | momentFormat:'DD-MM-YYYY'}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Design Code")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.designCodeExpDate}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Design Exp Date")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.designExpDate | momentFormat:'DD-MM-YYYY'}}</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-calendar fs-30 mr-2"></i>Date Details</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-6 mb-3">
                                    <h6><span>Project Opened</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{applicationview.creationTime | momentFormat:'DD-MM-YYYY'}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>Quote Created</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{applicationview.quoteCreated | momentFormat:'DD-MM-YYYY'}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>Deposit Rev </span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span style="font-weight:600;">{{applicationview.depositeRecceivedDate | momentFormat:'DD-MM-YYYY'}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>Application Date</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span style="font-weight:600;">{{ applicationview.applicationDate | momentFormat:'DD-MM-YYYY'}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>Approve Date</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.approveDate | momentFormat:'DD-MM-YYYY'}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>Active Date</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.activeDate | momentFormat:'DD-MM-YYYY'}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>Finance Applied</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.financeApplicationDate | momentFormat:'DD-MM-YYYY'}}</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>Finance Approved</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="" style="font-weight:600;">{{ applicationview.financeDocReceivedDate | momentFormat:'DD-MM-YYYY'}}</span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="lar la-sticky-note fs-30 mr-2"></i>Notes</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("ProjectNotes")}}</span> <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="notetxtbox" style="font-weight:600;height: 150px;">{{applicationview.note}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("OldSystemDetails")}} </span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="notetxtbox" style="font-weight:600;height: 150px;">{{applicationview.oldSystemDetails}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("InstallerNotes")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="notetxtbox" style="font-weight:600;height: 150px;">{{applicationview.installerNotes}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>Installer Notes</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="notetxtbox" style="font-weight:600;height: 150px;">{{applicationview.installerDepartmentNotes}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("ApplicationNote")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="notetxtbox" style="font-weight:600;height: 150px;">{{applicationview.applicationNotes}}</span></h6>
                                </div>
                                <div class="col-6 mb-3" [hidden]="!finance">
                                    <h6><span>{{l("FinanceNotes")}}</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="notetxtbox" style="font-weight:600;height: 150px;">{{applicationview.financeNotes}}</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>Grid Connect Notes</span>  <span style="width: 15px;font-weight: 600;">:</span>
                                        <span class="notetxtbox" style="font-weight:600;height: 150px;">{{applicationview.gridConnectionNotes}}</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-white-box" *ngIf="this.invoiceinstaller == 22">
                    <h3 class="d-flex align-items-center"><i class="las la-clipboard-list fs-30 mr-2"></i>Service Sub Category Document List</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row dis-column">
                                <div class="secondary-grid vscrollbar">
                                    <table class="table table_blck">
                                        <thead>
                                            <tr>
                                                <th>Document Title</th>
                                                <th>Uploaded Date</th>
                                                <th>Uploaded By</th>
                                                <th class="text-center" style="width:120px;">Download</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of applicationview.subCatServieDocFilelist">
                                                <td>{{item.fileName}}</td>
                                                <td>{{item.creationTime | momentFormat:'DD-MM-YYYY'}}</td>
                                                <td>{{item.createdBy}}</td>
                                                <td class="text-center" style="width:120px;">
                                                    <a (click)="downloadfile(item)" class="btndownloaddocument"><img [src]="appRootUrl() + 'assets/common/images/down-arrow.svg'" alt="" /></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-clipboard-list fs-30 mr-2"></i>Document List</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="secondary-grid vscrollbar" style="max-height:250px; overflow-y:auto;">
                                <table class="table table_blck">
                                    <thead>
                                        <tr>
                                            <th>Document Title</th>
                                            <th>Uploaded Date</th>
                                            <th>Uploaded By</th>
                                            <th class="text-center" style="width:120px;">Download</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="applicationview.gridFilename!=null">
                                            <td>{{applicationview.gridFilename}}</td>
                                            <td>{{applicationview.creationTime | momentFormat:'DD-MM-YYYY'}}</td>
                                            <td>{{applicationview.createdBy}}</td>
                                            <td class="text-center action" style="width:120px;">
                                                <a (click)="downloadaprovefile(applicationview)" class="btndownloaddocument"><i class="las la-file-download"></i></a>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let item of applicationview.approvalFilelist">
                                            <td>{{item.fileName}}</td>
                                            <td>{{item.creationTime | momentFormat:'DD-MM-YYYY'}}</td>
                                            <td>{{item.createdBy}}</td>
                                            <td class="text-center action" style="width:120px;">
                                                <a (click)="downloadfile(item)" class="btndownloaddocument"><i class="las la-file-download"></i></a>
                                            </td>
                                        </tr>
                                        <tr *ngFor="let item of applicationview.doc">
                                            <td>{{item.documentTitle}}</td>
                                            <td>{{item.creationTime | momentFormat:'DD-MM-YYYY'}}</td>
                                            <td>{{item.createdBy}}</td>
                                            <td class="text-center action" style="width:120px;">
                                                <a (click)="downloadfile(item)" class="btndownloaddocument"><i class="las la-file-download"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-clipboard-list fs-30 mr-2"></i>Quotation</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="secondary-grid vscrollbar" style="max-height:250px; overflow-y:auto;">
                                <table class="table table_blck">
                                    <thead>
                                        <tr>
                                            <th>Quote Dt</th>
                                            <th>Quote No</th>
                                            <th>Created By</th>
                                            <th class="text-center">Signed</th>
                                            <th class="text-center">Document</th>
                                            <th class="text-center">Open Document</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of JobQuotations">
                                            <td>{{item.quotation.quoteDate | momentFormat:'DD-MM-YYYY hh:mm:ss A'}}
                                            </td>
                                            <td>{{item.quotation.quoteNumber}}</td>
                                            <td>{{item.quotation.createdBy}}</td>
                                            <td class="text-center action">
                                                <a *ngIf="item.quotation.isSigned && !item.newQuote" (click)="downloadSignQuotefile(item)">
                                                    <i class="las la-file-signature"></i>
                                                </a>
                                                <a *ngIf="item.quotation.isSigned && item.newQuote">
                                                    <i class="las la-file-signature"></i>
                                                </a>
                                            </td>
                                            <td class="text-center action">
                                                <a (click)="downloadQuotefile(item)" *ngIf="!item.newQuote">
                                                    <i class="las la-file-pdf"></i>
                                                </a>
                                            </td>

                                            <td class="text-center action">
                                                <a (click)="viewQuoteModel.show(job.id,item.quotation.id,job.leadId)" *ngIf="item.newQuote">
                                                    <i class="las la-external-link-square-alt"></i>
                                                </a>
                                            </td>


                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="modal-white-box">
                            <h3 class="d-flex align-items-center"><i class="las la-clipboard-list fs-30 mr-2"></i>Export Control Form</h3>
                            <div class="card card-custom card-stretch">
                                <div class="card-body sitedetailbox xlmin517">
                                    <div class="secondary-grid vscrollbar" style="max-height:200px; overflow:auto;">
                                        <table class="table table_blck">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Doc No</th>
                                                    <th>Created By</th>
                                                    <th class="text-center">Signed</th>
                                                    <th class="text-center">Document</th>
                                                    <!-- <th class="text-center">{{l("Email")}}</th> -->
                                                </tr>
                                            </thead>

                                            <tbody>
                                                <tr *ngFor="let item of exportControl">
                                                    <td>{{item.jobAcknowledgement.createdDate | momentFormat:'DD-MM-YYYY'}}</td>
                                                    <td>{{item.jobAcknowledgement.id }}</td>
                                                    <td>{{item.jobAcknowledgement.createdBy}}</td>
                                                    <td class="text-center action">
                                                        <a *ngIf="item.jobAcknowledgement.isSigned" (click)="acknowledgement(item.jobAcknowledgement.id, item.jobAcknowledgement.createdDate)">
                                                            <i class="las la-file-signature"></i>
                                                            <!-- <img [src]="appRootUrl() + 'assets/common/images/signature.svg'" alt="" style="width:16px;" /> -->
                                                        </a>
                                                    </td>
                                                    <td class="text-center action">
                                                        <a (click)="acknowledgement(item.jobAcknowledgement.id, item.jobAcknowledgement.createdDate)">
                                                            <i class="las la-file-pdf"></i>
                                                            <!-- <img [src]="appRootUrl() + 'assets/common/images/icon_clipboard.svg'" alt="" style="height:18px;" /> -->
                                                        </a>
                                                    </td>
                                                    <!-- <td class="text-center">
                                                        <a *ngIf="item.jobAcknowledgement.isSigned"
                                                            (click)="sendQuotations('Send')">
                                                            <img [src]="appRootUrl() + 'assets/common/images/icon_emailenvelope.svg'"
                                                                alt="" style="height:18px;" />
                                                        </a>
                                                    </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="modal-white-box">
                            <h3 class="d-flex align-items-center"><i class="las la-clipboard-list fs-30 mr-2"></i>Feed In Tariff</h3>
                            <div class="card card-custom card-stretch">
                                <div class="card-body sitedetailbox xlmin517">
                                    <div class="secondary-grid vscrollbar" style="max-height:200px; overflow:auto;">
                                        <table class="table table_blck">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Doc No</th>
                                                    <th>Created By</th>
                                                    <th class="text-center">Signed</th>
                                                    <th class="text-center">Document</th>
                                                    <!-- <th class="text-center">{{l("Email")}}</th> -->
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of feedInTariif">
                                                    <td>{{item.jobAcknowledgement.createdDate | momentFormat:'DD-MM-YYYY'}}</td>
                                                    <td>{{item.jobAcknowledgement.id }}</td>
                                                    <td>{{item.jobAcknowledgement.createdBy}}</td>
                                                    <td class="text-center action">
                                                        <a *ngIf="item.jobAcknowledgement.isSigned" (click)="acknowledgement(item.jobAcknowledgement.id, item.jobAcknowledgement.createdDate)">
                                                            <i class="las la-file-signature"></i>
                                                            <!-- <img [src]="appRootUrl() + 'assets/common/images/signature.svg'" alt="" style="width:16px;" /> -->
                                                        </a>
                                                    </td>
                                                    <td class="text-center action">
                                                        <a (click)="acknowledgement(item.jobAcknowledgement.id, item.jobAcknowledgement.createdDate)">
                                                            <i class="las la-file-pdf"></i>
                                                            <!-- <img [src]="appRootUrl() + 'assets/common/images/icon_clipboard.svg'" alt="" style="height:18px;" /> -->
                                                        </a>
                                                    </td>
                                                    <!-- <td class="text-center">
                                                        <a *ngIf="item.jobAcknowledgement.isSigned"
                                                            (click)="sendQuotations('Send')">
                                                            <img [src]="appRootUrl() + 'assets/common/images/icon_emailenvelope.svg'"
                                                                alt="" style="height:18px;" />
                                                        </a>
                                                    </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="modal-white-box">
                            <h3 class="d-flex align-items-center"><i class="las la-clipboard-list fs-30 mr-2"></i>Shading Declaration</h3>
                            <div class="card card-custom card-stretch">
                                <div class="card-body sitedetailbox xlmin517">
                                    <div class="secondary-grid vscrollbar" style="max-height:200px; overflow:auto;">
                                        <table class="table table_blck">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Doc No</th>
                                                    <th>Created By</th>
                                                    <th class="text-center">Signed</th>
                                                    <th class="text-center">Document</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of shadingDeclaration">
                                                    <td>{{item.declarationForm.createdDate | momentFormat:'DD-MM-YYYY'}}</td>
                                                    <td>{{item.declarationForm.id }}</td>
                                                    <td>{{item.declarationForm.createdBy}}</td>
                                                    <td class="text-center action">
                                                        <a *ngIf="item.declarationForm.isSigned" (click)="declaration(item.declarationForm.id, item.declarationForm.createdDate)">
                                                            <i class="las la-file-signature"></i>
                                                            <!-- <img [src]="appRootUrl() + 'assets/common/images/signature.svg'" alt="" style="width:16px;" /> -->
                                                        </a>
                                                    </td>
                                                    <td class="text-center action">
                                                        <a (click)="declaration(item.declarationForm.id, item.declarationForm.createdDate)">
                                                            <i class="las la-file-pdf"></i>
                                                            <!-- <img [src]="appRootUrl() + 'assets/common/images/icon_clipboard.svg'" alt="" style="height:18px;" /> -->
                                                        </a>
                                                    </td>
                                                    <!-- <td class="text-center">
                                                        <a *ngIf="item.jobAcknowledgement.isSigned"
                                                            (click)="sendQuotations('Send')">
                                                            <img [src]="appRootUrl() + 'assets/common/images/icon_emailenvelope.svg'"
                                                                alt="" style="height:18px;" />
                                                        </a>
                                                    </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="modal-white-box">
                            <h3 class="d-flex align-items-center"><i class="las la-clipboard-list fs-30 mr-2"></i>Efficiency Declaration</h3>
                            <div class="card card-custom card-stretch">
                                <div class="card-body sitedetailbox xlmin517">
                                    <div class="secondary-grid vscrollbar" style="max-height:200px; overflow:auto;">
                                        <table class="table table_blck">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Doc No</th>
                                                    <th>Created By</th>
                                                    <th class="text-center">Signed</th>
                                                    <th class="text-center">Document</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of efficiencyDeclaration">
                                                    <td>{{item.declarationForm.createdDate | momentFormat:'DD-MM-YYYY'}}</td>
                                                    <td>{{item.declarationForm.id }}</td>
                                                    <td>{{item.declarationForm.createdBy}}</td>
                                                    <td class="text-center action">
                                                        <a *ngIf="item.declarationForm.isSigned" (click)="declaration(item.declarationForm.id, item.declarationForm.createdDate)">
                                                            <i class="las la-file-signature"></i>
                                                            <!-- <img [src]="appRootUrl() + 'assets/common/images/signature.svg'" alt="" style="width:16px;" /> -->
                                                        </a>
                                                    </td>
                                                    <td class="text-center action">
                                                        <a (click)="declaration(item.declarationForm.id, item.declarationForm.createdDate)">
                                                            <i class="las la-file-pdf"></i>
                                                            <!-- <img [src]="appRootUrl() + 'assets/common/images/icon_clipboard.svg'" alt="" style="height:18px;" /> -->
                                                        </a>
                                                    </td>
                                                    <!-- <td class="text-center">
                                                        <a *ngIf="item.jobAcknowledgement.isSigned"
                                                            (click)="sendQuotations('Send')">
                                                            <img [src]="appRootUrl() + 'assets/common/images/icon_emailenvelope.svg'"
                                                                alt="" style="height:18px;" />
                                                        </a>
                                                    </td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary blue" (click)="close()"><i class="las la-times-circle"></i>{{l("Close")}}</button>
            </div>
        </div>
    </div>
    <viewQuoteModel #viewQuoteModel></viewQuoteModel>
</div>