﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #meterPhaseForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="meterPhase.id">{{l("EditMeterPhase")}}</span>
                        <span *ngIf="!meterPhase.id">{{l("CreateNewMeterPhase")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="MeterPhase_Name">{{l("Name")}}</label>
									<input type="text" id="MeterPhase_Name" class="form-control" [(ngModel)]="meterPhase.name" name="Name"    />
								</div>
					
								<div class="form-group">
									<label for="MeterPhase_DisplayOrder">{{l("DisplayOrder")}}</label>
									<input type="number" id="MeterPhase_DisplayOrder" class="form-control" [(ngModel)]="meterPhase.displayOrder" name="DisplayOrder"  />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn  btn-secondary" (click)="close()">{{l("Close")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!meterPhaseForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>