﻿<div [@routerTransition]>
  <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">   
                <div class="kt-subheader kt-grid__item">
                  <div [class]="containerClass">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>{{l("MeterPhases")}}</span>
                            <span class="total-records-count">
                                ({{(primengTableHelper.totalRecordsCount)}})
                            </span>
                        </h3>
                        <!-- <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="kt-subheader__desc">
                            {{l("MeterPhasesHeaderInfo")}}
                        </span> -->
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <div class="kt-buttonarea"> 
                                <!-- <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button> -->
                                <button *ngIf="isGranted('Pages.MeterPhases.Create')" (click)="createMeterPhase()" 
                                class="btn btn-outline-primary btnadd">
                                        <!-- <i class="fa fa-plus"></i> {{l("CreateNewMeterPhase")}} -->
                                        Add
                                        <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt="" />
                                    </button>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <!-- <i class="far fa-file-excel"></i> -->
                                            <!-- {{"ExcelOperations" | localize}} -->
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />
                    
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu
                                            style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()"
                                                href="javascript:;">
                                                <!-- <i class="fa fa-download" style="font-size: 1rem;"></i> -->
                                                <!-- {{'Export CSV' | localize}} -->
                                                Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;">
                                                CSV
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;">
                                                PDF
                                            </a>                          
                                        </div>
                                    </div>
                            </div>
                            <div class="kt-searchmainbox">

                                <div class="kt-stextbox">
                                    <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                    <input type="button" class="btnsearch"(click)="getMeterPhases()" />                                   
                                </div>
                            </div>


            				
                        </div>
                    </div>
                  </div>
                </div>
            
    
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <!-- <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                      
                                        <span class="input-group-btn">
                                           
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="NameFilter">{{l("Name")}}</label>
									<input type="text" class="form-control" id="NameFilter" name="nameFilter" [(ngModel)]="nameFilter">
								</div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form> -->

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getMeterPhases($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="actionwidth" [hidden]="!isGrantedAny('Pages.MeterPhases.Edit', 'Pages.MeterPhases.Delete')">{{l('Actions')}}</th>
                                    <th  pSortableColumn="name">
                                        {{l('Name')}}
                                        <p-sortIcon field="meterPhase.name"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="displayOrder">
                                        {{l('DisplayOrder')}}
                                        <p-sortIcon field="meterPhase.displayOrder"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="text-align:center" class="actionwidth"
                                        [hidden]="!isGrantedAny('Pages.MeterPhases.Edit', 'Pages.MeterPhases.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" 
														(click)="viewMeterPhaseModal.show(record)">
                                                        <img src="../../../assets/common/images/icon_view.svg"/>
                                                        {{l('View')}}</a>
												</li>
												<li>
                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.MeterPhases.Edit')" 
														(click)="createOrEditMeterPhaseModal.show(record.meterPhase.id)">
                                                        <img src="../../../assets/common/images/icon_edit.svg"/> 
                                                        {{l('Edit')}}</a>												
                                                </li>
												<li>
											        <a  href="javascript:;" *ngIf="permission.isGranted('Pages.MeterPhases.Delete')"
														(click)="deleteMeterPhase(record.meterPhase)">
                                                        <img src="../../../assets/common/images/icon_delete.svg"/>
                                                        {{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td>
											<span class="ui-column-title"> {{l('Name')}}</span>
											{{record.meterPhase.name}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('DisplayOrder')}}</span>
											{{record.meterPhase.displayOrder}}
										</td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getMeterPhases($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditMeterPhaseModal #createOrEditMeterPhaseModal (modalSave)="getMeterPhases()"></createOrEditMeterPhaseModal>    
    <viewMeterPhaseModal #viewMeterPhaseModal></viewMeterPhaseModal>
    
  </div>
</div>
