<style>
    /* .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
        padding-top: 80px !important;
    }
     */
    
    .day-filter .dropdown-toggle::after {
        display: none;
    }
    
    .day-filter .btn {
        background: #fff !important;
        color: #5344ed !important;
        padding: 0 10px !important;
        height: 36px !important;
    }
    
    .day-filter .btn:hover {
        background: #5344ed !important;
        color: #fff !important;
    }
    
    .day-filter .movedd {
        inset: 100% auto auto -5px !important;
    }
    
    .day-filter .form-control {
        height: 36px !important;
        border-color: #5344ed !important;
    }
    
    .kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox .kt-advancefilterbox.hide {
        right: -650px !important;
        transition: ease all 0.5s;
    }
    
    .kt-subheader .btn i {
        font-size: 1.3rem !important;
    }
</style>

<!-- <div class="maindashboard"> -->
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="new-dashboard-block">

            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>Sales Dashboard</span>
                        </h3>
                    </div>

                    <div class="kt-subheader__toolbar h-mobile mobile-filter">
                        <div class="kt-subheader__wrapper">
                            <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                                <ul class="hd_right">
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group  selectdropdown m-form__group">
                                                <select *ngIf="organizationUnitlength > 1" name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="bindusers();getSearchedData();">
                                                    <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group  selectdropdown m-form__group">
                                                <select *ngIf="usersLength > 1" name="userId" class="form-control" [(ngModel)]="userId" (change)="getSearchedData();" style="max-width:130px;">
                                                    <option value=0>Select Users</option>
                                                    <option *ngFor="let item of users" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="btn-group dropdown" dropdown>
                                            <button class="btn btn-outline-success d-flex align-items-center" dropdownToggle style="height:34px !important; color:#000;">
                                                {{datetype}}: <span class="ml-1">{{ date }}</span> <i class="las la-calendar ml-3"></i>
                                            </button>
                                            <ul class="dropdown-menu" *dropdownMenu (click)="onClick($event)">
                                                <li style="margin-right:0;"><a href="javascript:;">Today</a></li>
                                                <li style="margin-right:0;"><a href="javascript:;">Yesterday</a></li>
                                                <li style="margin-right:0;"><a href="javascript:;">Last 7 Days</a></li>
                                                <li style="margin-right:0;"><a href="javascript:;">Last 30 Days</a></li>
                                                <li style="margin-right:0;"><a href="javascript:;">This Month</a></li>
                                                <li style="margin-right:0;"><a href="javascript:;">Last Month</a></li>
                                                <li style="margin-right:0;"><a href="javascript:;">Custom Range</a></li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="kt-searchmainbox searchclearbox">

                                            <div class="kt-advfilterbox" *ngIf="shouldShowCustom == true">
                                                <a (click)="shouldShow = !shouldShow" class="btnadvfilter" style="margin-left:0 !important;"><i class="las la-filter"></i></a>
                                            </div>


                                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                                <h3>{{l("AdvanceFilters")}} </h3>
                                                <div class="advfilterform">
                                                    <ul>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="StartDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="EndDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>

                                                        <li class="text-right fullwidth">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()"><i class="fa fa-times-circle"></i> {{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm" (click)="getSearchedData()"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                    </div>

                </div>
            </div>

            <div class="row mb-4" style="margin-top:10px;">
                <div class="col-md-4" *ngIf="headerDto.name != null">
                    <div class="card-white no-bdr" style="min-height:245px;">
                        <div class="dcard-body">
                            <h3 style="margin:0 0 1rem !important;"><span class="mr-1" *ngIf="(role != 'Admin' && role != 'Sales Manager')">Congratulations</span> {{headerDto.name}}! 🎉</h3>
                            <p class="mb-0 light text-light" *ngIf="(role != 'Admin' && role != 'Sales Manager')">You are now on {{rank}} position in Sales Ladder</p>
                            <p class="mb-0 light text-light">Is on {{rank}} position in Sales Ladder</p>
                            <div class="mt-3">
                                <div class="fs-32 mr-5 mb-4 text-primary" style="font-weight:500;">${{headerDto.systemCapacity}}k</div>
                                <!-- <div class="mb-2 light d-flex align-items-center text-light">75% of target <span class="ml-2">🤟🏻</span></div> -->
                                <button class="btn btn-primary" *ngIf="(role == 'Admin' || role == 'Sales Manager')" (click)="viewSale()">VIEW SALES</button>
                            </div>
                        </div>
                        <div class="img_avod"><img src="../../../../assets/common/images/trophy.png" alt=""></div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card-white no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-chalkboard-teacher fs-30 mr-2 text-primary"></i><span>Message Board</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body scrollbar-dashboard" style="height:155px;">
                            <div *ngFor="let item of MessageBoardList">{{item}}</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="card-white plain-card no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-chart-bar fs-30 mr-2 text-primary"></i><span>Lead Overview {{TotalLeadData}}</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body gray-box">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="card-white border-primary">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Assigned</div>
                                                    <h3 class="text-info lrg">{{Assigned}}</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-assigned.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-danger">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Cold</div>
                                                    <h3 class="text-info lrg">{{Cold}}</h3>
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-cold.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 12% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-success">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Warm</div>
                                                    <h3 class="text-info lrg">{{Warm}}</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-warm.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block down">+ 13% <i class="ml-2 fas fa-angle-down"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-warning">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Hot</div>
                                                    <h3 class="text-info lrg">{{Hot}}</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-hot.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 28% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-primary">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Un Handled</div>
                                                    <h3 class="text-info lrg">{{UnHandled}}</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-unhandled.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 28% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-danger">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Canceled</div>
                                                    <h3 class="text-info lrg">{{Canceled}}</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-canceled.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 28% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="card-white plain-card no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-chart-bar fs-30 mr-2 text-primary"></i><span>Sales Overview {{TotalJobs}}</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body gray-box">
                            <div class="row">
                                <!-- <div class="col-md-2">
                                    <div class="card-white border-primary">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Total Jobs</div>
                                                    <h3 class="text-info lrg">{{TotalJobs}}</h3>
                                                   
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-jobs.png" alt="" style="max-height:70px;">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-md-2">
                                    <div class="card-white border-danger">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Planned</div>
                                                    <h3 class="text-info lrg">{{Planned}}</h3>
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-planned.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 12% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-success">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Dep.rev / Active</div>
                                                    <h3 class="text-info lrg">{{active}}</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-active.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block down">+ 13% <i class="ml-2 fas fa-angle-down"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-primary">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">JobBook</div>
                                                    <h3 class="text-info lrg">{{JobBook}}</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-booked.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 28% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-primary">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">StockAssign</div>
                                                    <h3 class="text-info lrg">{{JobBook}}</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-booked.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 28% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-warning">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Installed</div>
                                                    <h3 class="text-info lrg">{{Installed}}</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-installed.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 28% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-danger">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Can/Hold</div>
                                                    <h3 class="text-info lrg">{{Can_Hold}}</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-cancel.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 28% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="card-white no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-globe fs-30 mr-2 text-primary"></i><span>State Wise Sales {{totalStatewiseSale}}</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body gray-box">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/nsw.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 task-label fs-14">NSW</div>
                                                    <div class="d-flex align-items-center">
                                                        <h3 class="text-info">{{NSW}}</h3>
                                                        <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/qld.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 task-label fs-14">QLD</div>
                                                    <div class="d-flex align-items-center">
                                                        <h3 class="text-info">{{QLD}}</h3>
                                                        <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/vic.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 task-label fs-14">VIC</div>
                                                    <div class="d-flex align-items-center">
                                                        <h3 class="text-info">{{VIC}}</h3>
                                                        <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/sa.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 task-label fs-14">SA</div>
                                                    <div class="d-flex align-items-center">
                                                        <h3 class="text-info">{{SA}}</h3>
                                                        <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="card-white no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-phone-volume fs-30 mr-2 text-primary"></i><span>Call History {{totalCallHitory}}</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body gray-box" style="height:201px;">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-incoming.png" alt="" style="max-height:50px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-3 task-label fs-14">Inbound</div>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <h3 class="text-info">{{Inbound}}</h3>
                                                        <!-- <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-outgoing.png" alt="" style="max-height:50px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-3 task-label fs-14">Outbound</div>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <h3 class="text-info">{{Outbound}}</h3>
                                                        <!-- <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-misscall.png" alt="" style="max-height:50px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-3 task-label fs-14">Missed</div>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <h3 class="text-info">{{Missed}}</h3>
                                                        <!-- <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-outbound.png" alt="" style="max-height:50px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-3 task-label fs-14">Not Answered</div>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <h3 class="text-info">{{NotAnswerd}}</h3>
                                                        <!-- <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mb-4">
                <!-- <div class="col-md-6">
                    <div class="card-white no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-calendar-day fs-30 mr-2 text-primary"></i><span>Today's Followup</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body">
                            <div class="dashboard-block-grid scrollbar-dashboard" id="style-4">
                                <div class="force-overflow">
                                    <table class="table mb-0 table-hover">
                                        <tr>
                                            <th style="width:230px;">Name</th>
                                            <th style="width:140px; text-align:center;">Lead Status</th>
                                            <th style="width:140px; text-align:center;">Lead Source</th>
                                            <th>Comment</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="mr-3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'" style="height:28px;">
                                                    <div>
                                                        Jill Lihou<br>
                                                        <span class="badge badge-secondary mt-1">9898545454</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:center;"><span class="badge badge-secondary blue">UnHandled</span></td>
                                            <td style="text-align:center;"><span class="badge badge-warning">TV</span></td>
                                            <td>Not received - call back!! </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="mr-3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'" style="height:28px;">
                                                    <div>
                                                        Robert Barnbrook<br>
                                                        <span class="badge badge-secondary mt-1">0437977636</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:center;"><span class="badge badge-secondary blue">Assigned</span></td>
                                            <td style="text-align:center;"><span class="badge badge-secondary blue">Lead 1</span></td>
                                            <td>Not received - call back!! </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="mr-3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'" style="height:28px;">
                                                    <div>
                                                        Amber Palmer<br>
                                                        <span class="badge badge-secondary mt-1">0437977636</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:center;"><span class="badge badge-secondary blue">Cold</span></td>
                                            <td style="text-align:center;"><span class="badge badge-primary">Lead 2</span></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="mr-3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'" style="height:28px;">
                                                    <div>
                                                        Chrill Miller<br>
                                                        <span class="badge badge-secondary mt-1">0437977636</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:center;"><span class="badge badge-danger">Cancled</span></td>
                                            <td style="text-align:center;"><span class="badge badge-primary">Lead 2</span></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="mr-3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'" style="height:28px;">
                                                    <div>
                                                        George Blackwell<br>
                                                        <span class="badge badge-secondary mt-1">0437977636</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:center;"><span class="badge badge-secondary blue">Assigned</span></td>
                                            <td><span class="badge badge-primary">Lead 1</span></td>
                                            <td>
                                                <div>12thDec- Convinced to pay 100 now, Rest after installation</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->

                <div class="col-md-6">
                    <div class="card-white no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-chart-area fs-30 mr-2 text-primary"></i><span>Lead Status Details</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body">
                            <div class="dashboard-block-grid scrollbar-dashboard" id="style-4">
                                <div class="force-overflow">
                                    <table class="table mb-0 table-hover">
                                        <thead>
                                            <tr>
                                                <!-- <th></th> -->
                                                <th>Lead Source</th>
                                                <th style="width:150px; text-align:center;">Lead</th>
                                                <th style="width:150px; text-align:center;">Upgrade</th>
                                                <th style="width:150px; text-align:center;">Sales</th>
                                                <th style="width:150px; text-align:center;">Ratio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of LeadStatusList">
                                                <td>{{item.leadSource}}</td>
                                                <td>{{item.lead}}</td>
                                                <td>{{item.upgrade}}</td>
                                                <td>{{item.sales}}</td>
                                                <td>{{item.ratio}}</td>
                                            </tr>
                                        </tbody>

                                        <!-- <tr>
                                            <td>
                                                <img src="../../../../assets/common/images/icon-tv.png" alt="" style="max-height:24px;">
                                            </td>
                                            <td><span class="badge badge-warning">TV</span></td>
                                            <td style="text-align:center;">100</td>
                                            <td style="text-align:center;">59</td>
                                            <td style="text-align:center;">56</td>
                                            <td style="text-align:right;">
                                                <div class="ratio-block">+ 12% <i class="ml-2 fas fa-angle-up"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="../../../../assets/common/images/icon-google.png" alt="" style="max-height:24px;">
                                            </td>
                                            <td><span class="badge badge-secondary blue">Google</span></td>
                                            <td style="text-align:center;">1525</td>
                                            <td style="text-align:center;">117</td>
                                            <td style="text-align:center;">100</td>
                                            <td style="text-align:right;">
                                                <div class="ratio-block">+ 6.56% <i class="ml-2 fas fa-angle-up"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="../../../../assets/common/images/icon-fb.png" alt="" style="max-height:24px;">
                                            </td>
                                            <td><span class="badge badge-info">Facebook</span></td>
                                            <td style="text-align:center;">887</td>
                                            <td style="text-align:center;">49</td>
                                            <td style="text-align:center;">38</td>
                                            <td style="text-align:right;">
                                                <div class="ratio-block">+ 4.20% <i class="ml-2 fas fa-angle-up"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="../../../../assets/common/images/icon-ref.png" alt="" style="max-height:24px;">
                                            </td>
                                            <td><span class="badge badge-secondary blue">Referral</span></td>
                                            <td style="text-align:center;">26</td>
                                            <td style="text-align:center;">21</td>
                                            <td style="text-align:center;">21</td>
                                            <td style="text-align:right;">
                                                <div class="ratio-block">+ 80.70% <i class="ml-2 fas fa-angle-up"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="../../../../assets/common/images/icon-source.png" alt="" style="max-height:24px;">
                                            </td>
                                            <td><span class="badge badge-info">Others</span></td>
                                            <td style="text-align:center;">3156</td>
                                            <td style="text-align:center;">54</td>
                                            <td style="text-align:center;">38</td>
                                            <td style="text-align:right;">
                                                <div class="ratio-block">+ 1.2% <i class="ml-2 fas fa-angle-up"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img src="../../../../assets/common/images/icon-google.png" alt="" style="max-height:24px;"></td>
                                            <td><span class="badge badge-success">SB Google</span></td>
                                            <td style="text-align:center;">1525</td>
                                            <td style="text-align:center;">117</td>
                                            <td style="text-align:center;">100</td>
                                            <td style="text-align:right;">
                                                <div class="ratio-block">+ 6.56% <i class="ml-2 fas fa-angle-up"></i></div>
                                            </td>
                                        </tr> -->
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
    <viewSalesModal #viewSalesModal></viewSalesModal>
    <!-- <customizable-dashboard [dashboardName]="dashboardName"></customizable-dashboard> -->
</div>