﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #InsCostForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off" [ngClass]="{ 'has-error': InsCostForm.submitted}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="stateWiseInstallationCost.id">{{l("EditStateWiseInstallationCost")}}</span>
                        <span *ngIf="!stateWiseInstallationCost.id">{{l("CreateStateWiseInstallationCost")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="state" ><strong>{{l("State")}}</strong> *</label>
                                    <select name="state" required [(ngModel)]="stateWiseInstallationCost.stateId" class="form-control">
                                    <option value="0">Select</option>
                                    <option *ngFor="let item of allState" value="{{item.id}}">{{item.displayName}}</option>
                                </select>
                                <span class="icon-box"><i class="las la-globe"></i></span>
                                </div>
                                
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="Metro" ><strong>{{l("Metro")}}</strong></label>
                                    <input type="text" id="Metro" class="form-control" [(ngModel)]="stateWiseInstallationCost.metro" name="metro" autofocus />
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="Regional" ><strong>{{l("Regional")}}</strong></label>
                                    <input type="text" id="Regional" class="form-control" [(ngModel)]="stateWiseInstallationCost.regional" name="Name" autofocus />
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>


                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!InsCostForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>