﻿<div [@routerTransition]>
    <div>

        <!-- side bar grid-->
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>{{l("ClosedLead")}}</span>
                            <span>&nbsp;({{primengTableHelper.totalRecordsCount}})</span>
                        </h3>

                    </div>

                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <div class="kt-searchmainbox wdth830 width927 leadedropdown leadtrackeradvancefilter">
                                <ul class="hd_right flex_continu lar_ul">
                                    <li>
                                        <button type="button" class="btn_refresh" (click)="getLeads()"></button>
                                    </li>
                                    <li *ngIf="permission.isGranted('Pages.Leads.Export')">
                                        <div class="btn-group btnexceldropdown leadbtnexcel " dropdown>
                                            <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <i class="far fa-file-excel"></i> -->
                                        <!-- {{"ExcelOperations" | localize}} -->
                                        Export
                                        <img src="../../../assets/common/images/icon_downarrow.svg" />
                
                                    </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                                <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.Leads.Export' | permission">
                                                    <i class="las la-file-excel"></i> {{'Export' | localize}}
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="javascript:;" (click)="exportToExcel(2)" *ngIf="'Pages.Leads.Export' | permission">
                                                    <i class="las la-file-csv"></i> {{l("ExportCSV")}}
                                                </a>

                                            </div>
                                        </div>
                                    </li>
                                    <li *ngIf="organizationUnitlength > 1">
                                        <div class="kt-sdropdown">
                                            <div class="form-group selectdropdown m-form__group">
                                                <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getLeads();RereshLog();addSearchLog('Filter Organization')">
                                            <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">{{item.displayName}}</option>
                                        </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group selectdropdown  m-form__group">
                                                <select class="form-control" [(ngModel)]="leadStatusId" name="leadStatusId">
                                                <option value="0">{{l("AllLeads")}}</option>
                                                <option value="5">{{l("Hot")}}</option>
                                                <option value="3">{{l("Cold")}}</option>
                                                <option value="4">{{l("Warm")}}</option>
                                            </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-searchmainbox searchclearbox">
                                            <div class="kt-stextbox wdth250">
                                                <input [(ngModel)]="filterText" name="filterText" autoFocus (keydown.enter)="getLeads();addSearchLog('Filter');" class="form-control m-input autoWidth" [placeholder]="l('LeadSearch')" type="text">
                                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getLeads($event)"></a>
                                                <!-- <input type="text" class="form-control" placeholder="Search"/> -->
                                                <button (click)="getLeads();addSearchLog('Filter');" class="btnsearch" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                                <!-- <input type="submit" class="btnsearch"/> -->
                                            </div>
                                            <div class="kt-advfilterbox">
                                                <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                    <i class="las la-filter"></i>
                                                </a>
                                            </div>
                                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                                <h3>{{l("AdditionalFilters")}}</h3>
                                                <div class="advfilterform">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="postCodeSuburbFilter" id="postCodeSuburbFilter" (keydown.enter)="getLeads();addSearchLog('Advanced Filter');" [suggestions]="suburbSuggestions" (completeMethod)="filtersuburbs($event)" placeholder='{{l("Suburb")}}' [minlength]="2" #suburbInput="ngModel"
                                                                    name="postCodeSuburbFilter" inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" [(ngModel)]="stateNameFilter" name="stateNameFilter">
                                                                <option value="">{{l("SelectAState")}}</option>
                                                                <option *ngFor="let item of allStates" value="{{item.displayName}}">{{item.displayName}}</option>
                                                            </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" class="form-control" id="postCodePostalCode2Filter" name="postCodePostalCode2Filter" [(ngModel)]="postCodePostalCode2Filter" placeholder='{{l("PostCode")}}'>
                                                            </div>
                                                        </li>
                                                        <li class="text-right fullwidth">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getLeads();addSearchLog('Advanced Filter')"><i class="fa fa-search ng-tns-c458-53"></i>  {{l("Search")}}</button>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">

                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body padzero">
                        <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.Lead.Close.EnableCopyPaste' | permission)}">
                            <!--<Primeng-Datatable-Start>-->
                            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeads($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:80px" [hidden]="!isGrantedAny('Pages.Leads.Edit', 'Pages.Leads.Delete')">
                                                {{l('Actions')}}</th>
                                            <!-- <th style="width: 150px" pSortableColumn="leadSourceFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="leadSourceName"></p-sortIcon>
                                    </th> -->

                                            <th style="width:250px" pSortableColumn="companyName">
                                                {{l('CopanyName')}}
                                                <p-sortIcon field="lead.companyName"></p-sortIcon>
                                            </th>
                                            <th style="width:150px;">
                                                {{l('Organization')}}
                                            </th>
                                            <th style="width: 200px" pSortableColumn="email" *ngIf="'Pages.Lead.Close.ShowEmailPhone' | permission">
                                                {{l('Email')}}
                                                <p-sortIcon field="lead.email"></p-sortIcon>
                                            </th>
                                            <th style="width: 130px" pSortableColumn="phone" *ngIf="'Pages.Lead.Close.ShowEmailPhone' | permission">
                                                {{l('Phone')}}
                                                <p-sortIcon field="lead.phone"></p-sortIcon>
                                            </th>
                                            <th style="width: 130px" pSortableColumn="mobile" *ngIf="'Pages.Lead.Close.ShowEmailPhone' | permission">
                                                {{l('Mobile')}}
                                                <p-sortIcon field="lead.mobile"></p-sortIcon>
                                            </th>
                                            <th class="min170" pSortableColumn="address">
                                                {{l('Address')}}
                                                <p-sortIcon field="lead.address"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="Suburb" style="width:100px">
                                                {{l('Suburb')}}
                                                <p-sortIcon field="lead.suburb"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="State" style="width:100px">
                                                {{l('State')}}
                                                <p-sortIcon field="lead.state"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="PostCode" style="width:100px">
                                                {{l('PostCode')}}
                                                <p-sortIcon field="lead.postCode"></p-sortIcon>
                                            </th>
                                            <!-- <th style="width: 150px" pSortableColumn="requirements">
                                        {{l('Requirements')}}
                                        <p-sortIcon field="lead.requirements"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="requirements">
                                        <div class="kt-checkbox-list">
                                            <label class="kt-checkbox">
                                                <input type="checkbox" name="name1" value="true">
                                               &nbsp;
                                                <span></span>
                                            </label>
                                        </div>  
                                    </th> -->

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr (click)="navigateToLeadDetail(record.lead.id);">
                                            <td style="width:80px; text-align:center" [hidden]="!isGrantedAny('Pages.Leads.Edit', 'Pages.Leads.Delete')">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                        <i class="fa fa-cog"></i><span class="caret"></span>
                                                        {{l("Actions")}}
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a *ngIf="permission.isGranted('Pages.Leads.Edit')" [routerLink]="['/app/main/myleads/myleads/myview']" [queryParams]="{id: record.lead.id}">
                                                                {{l('View')}}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a *ngIf="permission.isGranted('Pages.Leads.Edit')" [routerLink]="['/app/main/myleads/myleads/mycreateOrEdit']" [queryParams]="{id: record.lead.id}">
                                                                {{l('Edit')}}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="permission.isGranted('Pages.Leads.Delete')" (click)="deleteLead(record.lead)">{{l('Delete')}}</a>
                                                        </li>
                                                        <li>
                                                            <a *ngIf="permission.isGranted('Pages.Leads.Edit')" [routerLink]="['/app/main/myleads/myleads/myactivityLog']" [queryParams]="{id: record.lead.id}">
                                                                {{l('activitylog')}}</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </td>
                                            <!-- <td style="width:150px">
												<span class="ui-column-title"> {{l('Name')}}</span>
												{{record.leadSourceName}}
											</td> -->
                                            <td style="width:250px">
                                                <span class="ui-column-title"> {{l('CopanyName')}}</span> {{record.lead.companyName}}
                                            </td>
                                            <td style="width:150px;">
                                                <span class="ui-column-title"> {{l('OrganizationName')}}</span> {{record.lead.organizationName}}
                                            </td>
                                            <td style="min-width:200px" *ngIf="'Pages.Lead.Close.ShowEmailPhone' | permission">
                                                <span class="ui-column-title"> {{l('Email')}}</span> {{record.lead.email}}
                                            </td>
                                            <td style="width:130px" *ngIf="'Pages.Lead.Close.ShowEmailPhone' | permission">
                                                <span class="ui-column-title"> {{l('Phone')}}</span> {{record.lead.phone}}
                                            </td>
                                            <td style="width:130px" *ngIf="'Pages.Lead.Close.ShowEmailPhone' | permission">
                                                <span class="ui-column-title"> {{l('Mobile')}}</span> {{record.lead.mobile}}
                                            </td>
                                            <td>
                                                <span class="ui-column-title"> {{l('Address')}}</span>
                                                <p [tooltip]="record.lead.address" class="tooltipcnt">
                                                    {{record.lead.address | titlecase}}
                                                </p>
                                            </td>
                                            <td style="width:100px;">
                                                <span class="ui-column-title"> {{l('Suburb')}}</span> {{record.lead.suburb | titlecase}}
                                            </td>
                                            <td style="width:100px;">
                                                <span class="ui-column-title"> {{l('State')}}</span> {{record.lead.state}}
                                            </td>
                                            <td style="width:100px;">
                                                <span class="ui-column-title"> {{l('PostCode')}}</span> {{record.lead.postCode}}
                                            </td>
                                            <!-- <td style="width:150px">
											<span class="ui-column-title"> {{l('Requirements')}}</span>
											{{record.lead.requirements}}
                                        </td>
                                        <td style="width:150px">
                                            <div class="kt-checkbox-list">
                                                <label class="kt-checkbox">
                                                    <input type="checkbox" name="name1" value="true">
                                                   &nbsp;
                                                    <span></span>
                                                </label>
                                            </div>  
                                        </td> -->

                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeads($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <!-- <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span> -->
                                    <span class="total-records-count">
                                        showing {{firstrowcount}}
                                        To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                            </div>
                            <!--<Primeng-Datatable-End>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>