<div [@routerTransition]>

    <!-- side bar grid-->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-cdetailhead">
                <div class="kt-cname">
                    <ul class="custdetail">
                        <li>
                            <h2> {{ item.lead.companyName }}</h2>
                        </li>
                        <li>
                            <div *ngIf="item.lead.leadStatusID == 5">
                                <span class="badgelead">Hot</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 4">
                                <span class="badgelead">Warm</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 3">
                                <span class="badgelead">Cold</span>
                            </div>
                            <!-- <div *ngIf="item.lead.leadStatusID != 5">
                                <span class="badgelead">##</span>
                            </div>-->
                        </li>
                        <li>
                            <a class="nbox custphone" href="{{ item.lead.phone }}">
                                <img [src]="appRootUrl() + 'assets/common/images/phone.svg'" alt="" />
                                {{ item.lead.phone }}
                            </a>
                        </li>
                        <li>
                            <a class="nbox custemail" href="{{ item.lead.email }}">
                                <img [src]="appRootUrl() + 'assets/common/images/mail.svg'" alt="" />
                                {{ item.lead.email }}
                            </a>
                        </li>
                    </ul>
                    <ul class="actionsicon">
                        <li>
                            <a [routerLink]="['/app/main/leads/leads/createOrEdit']" [queryParams]="{id: item.lead.id}">
                                <img [src]="appRootUrl() + 'assets/common/images/edit.svg'" alt="" />
                            </a>
                        </li>
                        <li>
                            <a *ngIf="permission.isGranted('Pages.Leads.Delete')"
                                (click)="deleteLead(item.lead)"><img
                                    [src]="appRootUrl() + 'assets/common/images/delete.svg'" alt="" /></a>
                        </li>
                        <li>
                            <a (click)="createLead()">
                                <img [src]="appRootUrl() + 'assets/common/images/blackplus.svg'"
                                    alt="" /> 
                            </a>
                        </li>
                    </ul>

                </div>

                <div class="myleadsstatus">
                    <ul>
                        <li>
                            <label>Current Lead Owner</label>
                            <span>{{item.currentAssignUserName}}</span>
                        </li>
                        <li>
                            <label>Lead created By</label>
                            <span>{{item.createdByName}}</span>
                        </li>
                        <li>
                            <label>Lead Created On</label>
                            <span>{{item.createdOn | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <div class="table-responsive statictable">
                        </div>

                        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                            <div class="kt-portlet">
                                <div class="kt-portlet__body">
                                    <tabset>
                                        <tab heading="{{'ActivityLog' | localize}}" [active]="activeTabIndex == 0">
                                            <div class="form-group">
                                                <button 
              class="btn btn-primary blue btnadd">
              <img [src]="appRootUrl() + 'assets/common/images/plusicon.svg'" alt="" />  
              </button>
                                                <div class="ativityLogs">
                                                    <ul class="mainactivity">
                                                        <li *ngFor="let item of activityLog">
                                                            <div class="activitylogttl">
                                                                {{ item.logDate}}
                                                            </div>
                                                            <div class="activitylogdtl">
                                                                <ul>
                                                                    <li>{{ item.actionNote }}</li>
                                                                    <!-- <li>Abhishek Dave has Created the Project</li>
                                                                    <li>Abhishek Dave has Created the Project</li>
                                                                    <li>Abhishek Dave has Created the Project</li>
                                                                    <li>Abhishek Dave has Created the Project</li>
                                                                    <li>Abhishek Dave has Created the Project</li> -->
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>


                                                    <div class="list_area_box">
                                                        <div class="list_box">
                                                            <div class="img_area activity_exreminder">
                                                                <div><span><img src="../../../../assets/common/images/activitylog/icon_exreminder.svg" alt="" class="img-full" /></span></div>
                                                            </div>
                                                            <div class="text_area">
                                                                <div class="title_hd"><span>STC Submission:</span> Feb 4 2021 12:00AM</div>
                                                                <p><a href="javascript:void(0)">Ka Yi Leung - System</a> changed STC Status to CER Failed on Feb 42021
                                                                    12:00AM</p>
                                                            </div>
                                                        </div>
                                                        <div class="list_box">
                                                            <div class="img_area activity_sms">
                                                                <div><span><img src="../../../../assets/common/images/activitylog/icon_sms.svg" alt="" class="img-full" /></span></div>
                                                            </div>
                                                            <div class="text_area">
                                                                <div class="title_hd"><span>Download Document:</span> Feb 2 2021 10:55AM</div>
                                                                <p><a href="javascript:void(0)">Ka Yi Leung - Rubal Sharma</a> has downloaded <a
                                                                        href="javascript:void(0)">201229061_2879277_PV_Serials_sp.txt</a> from CES/COC Form.</p>
                                                            </div>
                                                        </div>
                                                        <div class="list_box">
                                                            <div class="img_area activity_mail">
                                                                <div><span><img src="../../../../assets/common/images/activitylog/icon_mail.svg" alt="" class="img-full" /></span></div>
                                                            </div>
                                                            <div class="text_area">
                                                                <div class="title_hd"><span>Download Document:</span> Feb 2 2021 10:55AM</div>
                                                                <p><a href="javascript:void(0)">Ka Yi Leung - Rubal Sharma</a> has downloaded <a
                                                                        href="javascript:void(0)">201229061_2879277_PV_Serials_sp.txt</a> from CES/COC Form.</p>
                                                            </div>
                                                        </div>
                                                        <div class="list_box">
                                                            <div class="img_area activity_comment">
                                                                <div><span><img src="../../../../assets/common/images/activitylog/icon_comment.svg" alt="" class="img-full" /></span></div>
                                                            </div>
                                                            <div class="text_area">
                                                                <div class="title_hd"><span>Download Document:</span> Feb 2 2021 10:55AM</div>
                                                                <p><a href="javascript:void(0)">Ka Yi Leung - Rubal Sharma</a> has downloaded <a
                                                                        href="javascript:void(0)">201229061_2879277_PV_Serials_sp.txt</a> from CES/COC Form.</p>
                                                            </div>
                                                        </div>
                                                        <div class="list_box">
                                                            <div class="img_area activity_update">
                                                                <div><span><img src="../../../../assets/common/images/activitylog/icon_refreshbtn.svg" alt="" class="img-full" /></span></div>
                                                            </div>
                                                            <div class="text_area">
                                                                <div class="title_hd"><span>Download Document:</span> Feb 2 2021 10:55AM</div>
                                                                <p><a href="javascript:void(0)">Ka Yi Leung - Rubal Sharma</a> has downloaded <a
                                                                        href="javascript:void(0)">201229061_2879277_PV_Serials_sp.txt</a> from CES/COC Form.</p>
                                                                <ul>
                                                                    <li><i><img src="../../../../assets/common/images/activitylog/icon_doc.png" alt="" class="img-full" /></i><span><a
                                                                                href="javascript:void(0)" target="_blank">Document</a></span></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="list_box">
                                                            <div class="img_area activity_edit">
                                                                <div><span><img src="../../../../assets/common/images/activitylog/icon_edit.svg" alt="" class="img-full" /></span></div>
                                                            </div>
                                                            <div class="text_area">
                                                                <div class="title_hd"><span>Download Document:</span> Feb 2 2021 10:55AM</div>
                                                                <p><a href="javascript:void(0)">Ka Yi Leung - Rubal Sharma</a> has downloaded <a
                                                                        href="javascript:void(0)">201229061_2879277_PV_Serials_sp.txt</a> from CES/COC Form.</p>
                                                            </div>
                                                        </div>
                                                        <div class="list_box">
                                                            <div class="img_area activity_notify">
                                                                <div><span><img src="../../../../assets/common/images/activitylog/icon_notify.svg" alt="" class="img-full" /></span></div>
                                                            </div>
                                                            <div class="text_area">
                                                                <div class="title_hd"><span>Download Document:</span> Feb 2 2021 10:55AM</div>
                                                                <p><a href="javascript:void(0)">Ka Yi Leung - Rubal Sharma</a> has downloaded <a
                                                                        href="javascript:void(0)">201229061_2879277_PV_Serials_sp.txt</a> from CES/COC Form.</p>
                                                            </div>
                                                        </div>
                                                        <div class="list_box">
                                                            <div class="img_area activity_transfer">
                                                                <div><span><img src="../../../../assets/common/images/activitylog/icon_transfer.svg" alt="" class="img-full" /></span></div>
                                                            </div>
                                                            <div class="text_area">
                                                                <div class="title_hd"><span>Download Document:</span> Feb 2 2021 10:55AM</div>
                                                                <p><a href="javascript:void(0)">Ka Yi Leung - Rubal Sharma</a> has downloaded <a
                                                                        href="javascript:void(0)">201229061_2879277_PV_Serials_sp.txt</a> from CES/COC Form.</p>
                                                            </div>
                                                        </div>
                                                        <div class="list_box">
                                                            <div class="img_area activity_assign">
                                                                <div><span><img src="../../../../assets/common/images/activitylog/icon_assign.svg" alt="" class="img-full" /></span></div>
                                                            </div>
                                                            <div class="text_area">
                                                                <div class="title_hd"><span>Download Document:</span> Feb 2 2021 10:55AM</div>
                                                                <p><a href="javascript:void(0)">Ka Yi Leung - Rubal Sharma</a> has downloaded <a
                                                                        href="javascript:void(0)">201229061_2879277_PV_Serials_sp.txt</a> from CES/COC Form.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tab>
                                        <tab heading="{{'Map' | localize}}">
                                            <div class="row m-form">

                                            </div>
                                        </tab>
                                        <tab heading="{{'Summary' | localize}}">
                                            <div class="kt-form">
                                                <div class="row align-items-center">
                                                    <div class="col-6 mb-3">
                                                        <h6>{{l("CopanyName")}} :</h6>
                                                        {{ item.lead.companyName }}
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <h6>{{l("Email")}} :</h6>
                                                        {{ item.lead.email }}
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <h6>{{l("Phone")}} :</h6>
                                                        {{ item.lead.phone }}
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <h6>{{l("Mobile")}} :</h6>
                                                        {{ item.lead.mobile }}
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <h6>{{l("Address")}} :</h6>
                                                        {{ item.lead.address | titlecase}} {{ item.lead.suburb | titlecase}}, {{ item.lead.state | titlecase}} - {{ item.lead.postCode }}
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <h6>{{l("Requirements")}} :</h6>
                                                        {{ item.lead.requirements }}
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <h6>({{l("PostCode")}}) {{l("Suburb")}} :</h6>
                                                        {{item.postCodeSuburb}}
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <h6>({{l("State")}}) {{l("Name")}} :</h6>
                                                        {{item.stateName}}
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <h6>({{l("LeadSource")}}) {{l("Name")}} :</h6>
                                                        {{item.leadSourceName}}
                                                    </div>
                                                </div>
                                            </div>
                                        </tab>
                                    </tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
