<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg addSmsEmailModal">
        <div class="modal-content">
            <form #addActivityForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title div_flex width100per">
                        <span *ngIf="activityType == 1">{{l("Sms")}} - {{leadCompanyName}} - {{this.item.jobNumber}} </span>
                        <span *ngIf="activityType == 2">{{l("Email")}} - {{leadCompanyName}} - {{this.item.jobNumber}} </span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray p-0">

                    <div class="d-flex align-items-center" style="justify-content: space-around;" *ngIf="activityName == 'SMS To '">
                        <div class="p-2">
                            <img [src]="appRootUrl() + 'assets/common/images/graphics-sms.png'" style="max-width:320px;" *ngIf="activityName == 'SMS To ' || activityName == 'Comment '">
                        </div>
                        <!-- Right section starts -->
                        <div style="padding:15px 0; width:650px;">
                            <div class="emailboxlayout">
                                <div class="m-form__group">
                                    <div class="emailboxlayout modal-white-box" *ngIf="activityName == 'SMS To '">
                                        <div class="activitysms smsemailbox">
                                            <span class="labelttl">Type</span>
                                            <select class="form-control" [(ngModel)]="types" (change)="ontypechange($event)" name="types">
                                                <option value="1">Customer</option>
                                                <option value="2">Installer</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="activitysms smsemailbox modal-white-box" *ngIf="activityName == 'SMS To '">
                                        <span class="labelttl">{{activityName}} </span>
                                        <span class="badge badge-light d-flex align-items-center activity-tags"><i class="las la-comment"></i>{{ mobile}}</span>
                                    </div>
                                    <div class="emailboxlayout modal-white-box" *ngIf="activityName == 'SMS To '">
                                        <div class="activitysms smsemailbox">
                                            <span class="labelttl">Template</span>
                                            <select class="form-control" name="EmailTemplate" [(ngModel)]="activityLog.smsTemplateId" (change)="smseditorLoaded()">
                                                <option value="0">New Template</option>
                                                <option *ngFor="let item of allSMSTemplates" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div *ngIf="activityName == 'SMS To '" style="margin-top:10px;">
                                        <div class="modal-white-box">
                                            <textarea class="form-control" (keyup)="countCharcters()" cols="20" rows="5" placeholder="SMS Body" [(ngModel)]="activityLog.body" id="SMSBody" name="SMSBody"></textarea>
                                        </div>
                                    </div>
                                    <div *ngIf="activityName == 'SMS To '" style="margin-top:10px;" class="d-flex align-items-center">
                                        <div class="mr-3 d-flex align-items-center"><span><b>Total: </b></span> <span class="badge badge-danger ml-1">{{total}}</span></div>
                                        <div class="d-flex align-items-center"><span><b>Credit: </b></span> <span class="badge badge-success ml-1">{{credit}}</span></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box" style="width:96%; margin:5px auto 10px;" *ngIf="activityName == 'Email To '">
                        <div class="emailboxlayout">
                            <div class="activitysms smsemailbox brdrbottom1 templatebox" *ngIf="activityName == 'Email To '">
                                <span class="labelttl">Type </span> <span class="lowercase">
                                    <select class="form-control" [(ngModel)]="types" (change)="ontypechange($event)" name="types" style="width:368px;">
                                        <option value="1">Customer</option>
                                        <option value="2">Installer</option>
                                    </select>
                                </span>
                            </div>
                            <div class="activitysms smsemailbox brdrbottom1 templatebox" *ngIf="activityName == 'Email To '">
                                <span class="labelttl">{{activityName}} </span>
                                <span class="d-flex align-items-center justify-content-between" style="width:100%;">
                                    <span class="badge badge-light d-flex align-items-center activity-tags">
                                        <i class="las la-at"></i>{{ item.lead.email }}
                                    </span>
                                <span class="lowercase ccandbbcc" style="width:auto; margin-left:auto;">
                                        <span class="ccbcc_box">
                                            <a (click)="opencc();">Cc</a>&nbsp;&nbsp;<a (click)="openbcc();">Bcc</a></span>
                                </span>
                                </span>
                            </div>

                            <div *ngIf="ccbox">
                                <div class="activitysms smsemailbox brdrbottom1 lowercase" *ngIf="activityName == 'Email To '">
                                    <span class="labelttl">CC </span>
                                    <input type="text" name="cc" [(ngModel)]="activityLog.cc" placeholder="write CC" class="form-control ccbox paddnone"><a (click)="opencc();" class="fnt26">&times;</a>
                                </div>
                            </div>
                            <div *ngIf="bccbox">
                                <div class="activitysms smsemailbox brdrbottom1 lowercase" *ngIf="activityName == 'Email To '">
                                    <span class="labelttl">BCC </span>
                                    <input type="text" name="cc" [(ngModel)]="activityLog.bcc" placeholder="write BCC" class="form-control brd_none"><a (click)="openbcc();" class="fnt26">&times;</a>
                                </div>
                            </div>
                        </div>

                        <div class="emailboxlayout" *ngIf="activityName == 'Email To '">
                            <div class="activitysms smsemailbox brdrbottom1 templatebox">
                                <span class="labelttl">Template</span>
                                <select class="form-control" name="EmailTemplate" [(ngModel)]="activityLog.emailTemplateId" (change)="editorLoaded()">
                                    <option value="0">New Template</option>
                                    <option *ngFor="let item of allEmailTemplates" value="{{item.id}}">{{item.displayName}}</option>
                                </select>
                                <select *ngIf="activityLog.emailTemplateId == 0" (change)="onTagChange($event)" class="form-control" name="EmailTemplate" [(ngModel)]="activityLog.customeTagsId">
                                    <option value="0">CustomeTags</option>
                                    <option value="1">Custome Name</option>
                                    <option value="2">Custome Mobile</option>
                                    <option value="3">Custome Phone</option>
                                    <option value="4">Custome Email</option>
                                    <option value="5">Custome Address</option>
                                    <option value="6">SalesRep Name</option>
                                    <option value="7">SalesRep Mobile</option>
                                    <option value="8">SalesRep Email</option>
                                    <option value="9">Project No</option>
                                    <option value="10">System Capacity</option>
                                    <option value="11">All product Item</option>
                                    <option value="12">Total Quote price</option>
                                    <option value="13">Installation Date</option>
                                    <option value="14">Installer Name</option>
                                </select>
                            </div>
                            <div class="activitysms smsemailbox brdrbottom1 templatebox">
                                <span class="labelttl">Subject</span>
                                <span class="subject">
                                    <input type="text" name="subject" [(ngModel)]="activityLog.subject" placeholder="write subject" class="form-control" style="width: 770px !important; border: none;">                                    
                                </span>
                            </div>
                        </div>

                        <div class="row mt-3" *ngIf="activityName == 'Email To '">
                            <div class="col-md-12">
                                <div class="" *ngIf="activityLog.emailTemplateId == 0">
                                    <p-editor [(ngModel)]="activityLog.body" aria-placeholder="Email Body" name="HtmlEditorInput" [style]="{'height':'200px'}"></p-editor>
                                </div>
                                <div class="container-fluid maxwidth80 emailtemplatebox" *ngIf="activityLog.emailTemplateId != 0">
                                    <email-editor [(ngModel)]="activityLog.body" aria-placeholder="Email Body" name="HtmlEditorInput"></email-editor>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{("Cancel")}}</button>
                    <button (click)="saveDesign()" type="submit" class="btn btn-primary blue" *ngIf="activityName == 'Email To '" [disabled]="!addActivityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>Send</span></button>
                    <button (click)="save()" id="btnSubmit" type="submit" class="btn btn-primary blue" *ngIf="activityName == 'SMS To '" [disabled]="!addActivityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>Send</span></button>
                </div>
            </form>
        </div>

    </div>

    <!-- <viewLeadDetail #viewLeadDetail></viewLeadDetail> -->
</div>