<customizable-dashboard [dashboardName]="userdashboard"></customizable-dashboard>

<!-- <div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
      <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">
          <div class="kt-subheader__main">
          </div>
        </div>
      </div>
      <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
          <div class="kt-portlet kt-portlet--mobile">
              <div class="kt-portlet__body">
                  <div class="row align-items-center" *ngFor="let item of userLead">
                     <div class="col-6 mb-3">
                          <h6>{{l("CopanyName")}} :</h6>
                          {{ item.copanyName }}
                      </div>
                      <div class="col-6 mb-3">
                          <h6>{{l("Action")}} :</h6>
                          {{ item.email }}
                      </div>
                      <div class="col-6 mb-3">
                          <h6>{{l("CreationTime")}} :</h6>
                          {{ item.phone}}
                      </div>
                      <div class="col-6 mb-3">
                          <h6>{{l("CreatedBy")}} :</h6>
                          {{ item.address }}
                      </div>
                      <div class="col-6 mb-3">
                        <div class="btn-group dropdown" dropdown container="body">
                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                {{l('Action')}}
                            </button>
                                <ul class="dropdown-menu"  *dropdownMenu>
                                <li>
                                    <a href="javascript:;"
                                        (click)="reject(item.id)">{{l('Reject')}}</a>
                                </li>
                                <li>
                                    <a href="javascript:;"
                                        (click)="unHandled(item.id)">{{l('UnHandled')}}</a>
                                </li>
                                <li>
                                    <a href="javascript:;"
                                    (click)="transferLeadModal.show(item.id)">{{l('Transfer')}}</a>
                                </li>
                            </ul>
                        </div>
                      </div>
                  </div>
              </div>
          </div>          
      </div>

      <transferLeadModal #transferLeadModal (modalSave)="show()"></transferLeadModal>
    </div>
  </div> -->
  