<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Series")}}</span>
                        <span class="total-records-count">
                        ({{(primengTableHelper.totalRecordsCount)}})
                    </span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getSeries()"></button>
                            </li>
                            <li *ngIf="isGranted('Pages.Tenant.WholeSale.DataVaults.Serieses.Create')"><button (click)="createSeries()" class="btn btn-outline-primary btnadd">
                          Add <i class="las la-plus-circle"></i>
                      </button></li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getSeries();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getSeries()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getSeries();searchLog();" />
                                    </div>
                                </div>
                            </li>
                            
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)=" getSeries($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth"  [hidden]="!isGrantedAny('Pages.Tenant.WholeSale.DataVaults.Serieses.Edit', 'Pages.Tenant.WholeSale.DataVaults.Serieses.Delete')" >{{l('Actions')}}</th>
                                        <th pSortableColumn="ProductTypeFK.Name">
                                            {{l('ProductType')}}
                                            <p-sortIcon field="ProductCategory"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="SeriesName">
                                            Series Name 
                                            <p-sortIcon field="seriesName"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth"  [hidden]="!isGrantedAny('Pages.Tenant.WholeSale.DataVaults.Serieses.Edit', 'Pages.Tenant.WholeSale.DataVaults.Serieses.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                  <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                              </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.DataVaults.Serieses.Edit')">
                                                        <a href="javascript:;" (click)="CreateOrEditSeriesModal.show(record.series.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.DataVaults.Serieses.Delete')">
                                                        <a href="javascript:;" (click)=" deleteSeries(record.series)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('ProductCategory')}}</span> {{record.series.productCategory}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('SeriesName')}}</span> {{record.series.seriesName}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)=" getSeries($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                showing {{firstrowcount}}
                                To {{last}}
                                <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
         <CreateOrEditSeriesModal #CreateOrEditSeriesModal (modalSave)=" getSeries()"></CreateOrEditSeriesModal>
        <!--<viewECommerceSliderModal #viewECommerceSliderModal></viewECommerceSliderModal> -->

    </div>
</div>

        