<div appBsModal #editModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <form #tenantEditForm="ngForm" role="form" novalidate class="form-validation" (submit)="save()" *ngIf="tenant && active">

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"EditTenant" | localize}}: {{tenant.tenancyName}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body modal-bg-gray">

                    <div class="modal-white-box">
                        <div class="form-group form-icon">
                            <label for="Name">{{"TenantName" | localize}} *</label>
                            <input id="Name" #nameInput="ngModel" type="text" name="Name" class="form-control" [ngClass]="{'edited':tenant.name}" [(ngModel)]="tenant.name" required maxlength="128">
                            <span style="top:31px;" class="icon-box"><i class="las la-building"></i></span>
                            <validation-messages [formCtrl]="nameInput"></validation-messages>
                        </div>

                        <div class="form-group form-icon" *ngIf="currentConnectionString">
                            <label for="DatabaseConnectionString">{{"DatabaseConnectionString" | localize}} *</label>
                            <input id="DatabaseConnectionString" #connectionStringInput="ngModel" type="text" name="ConnectionString" class="form-control" [(ngModel)]="tenant.connectionString" required maxlength="1024">
                            <span style="top:31px;" class="icon-box"><i class="las la-database"></i></span>
                            <validation-messages [formCtrl]="connectionStringInput"></validation-messages>
                        </div>

                        <div *ngIf="currentConnectionString">
                            <span class="alert alert-warning">{{"TenantDatabaseConnectionStringChangeWarningMessage" | localize}}</span>
                        </div>

                        <div class="form-group form-icon">
                            <label for="edition">{{"Edition" | localize}}</label>
                            <select id="edition" name="edition" class="form-control" [(ngModel)]="tenant.editionId" (change)="onEditionChange()" style="width:300px !important">
                                <option *ngFor="let edition of editions" [value]="edition.value">{{edition.displayText}}
                                </option>
                            </select>
                            <span style="top:31px;" class="icon-box"><i class="las la-box"></i></span>
                        </div>

                        <div [hidden]="!isSubscriptionFieldsVisible" class="kt-checkbox-list my-3">
                            <label class="kt-checkbox">
                                <input id="CreateTenant_IsUnlimited" type="checkbox" name="IsUnlimited"
                                    [(ngModel)]="isUnlimited" (ngModelChange)="onUnlimitedChange()" />
                                {{"UnlimitedTimeSubscription" | localize}}
                                <span></span>
                            </label>
                        </div>

                        <div [hidden]="isUnlimited || !isSubscriptionFieldsVisible" class="form-group" [ngClass]="{'has-error': !subscriptionEndDateUtcIsValid }">
                            <label for="SubscriptionEndDateUtc">{{"SubscriptionEndDateUtc" | localize}}</label>
                            <input id="SubscriptionEndDateUtc" type="datetime" #SubscriptionEndDateUtc name="SubscriptionEndDateUtc" class="form-control daterangebox" bsDatepicker datePickerMomentModifier (ngModelChange)="subscriptionEndDateChange($event)" [(date)]="tenant.subscriptionEndDateUtc"
                                [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" [required]="!isUnlimited" />
                        </div>

                        <div [hidden]="isUnlimited ||!isSubscriptionFieldsVisible" class="kt-checkbox-list">
                            <label class="kt-checkbox">
                                <input id="CreateTenant_IsInTrialPeriod" type="checkbox" name="IsInTrialPeriod"
                                    [disabled]="selectedEditionIsFree()" [(ngModel)]="tenant.isInTrialPeriod">
                                {{"IsInTrialPeriod" | localize}}
                                <span></span>
                            </label>
                        </div>

                        <div class="kt-checkbox-list">
                            <label class="kt-checkbox">
                                <input id="EditTenant_IsActive" type="checkbox" name="IsActive"
                                    [(ngModel)]="tenant.isActive">
                                {{"Active" | localize}}
                                <span></span>
                            </label>
                        </div>

                    </div>







                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="saving" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{"Cancel" | localize}}</button>
                    <button type="submit" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" class="btn btn-primary" [disabled]="!tenantEditForm.form.valid || saving || !subscriptionEndDateUtcIsValid"><i
                            class="las la-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>