.advfilterform {
    .kt-checkbox-list{margin-bottom:8px!important;
    label{margin-bottom: 10px!important;}
    }
    .input-group{margin-bottom: 15px;}
}
bs-datepicker-container, bs-daterangepicker-container{
    left:-150px!important;
}
