<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item minidesktop">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"Tenants" | localize}}</span>
                        <span class="total-records-count">
                            ({{primengTableHelper.totalRecordsCount}})
                        </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getTenants()"></button>
                            </li>
                            <li *ngIf="'Pages.Tenants.Create' | permission"><button class="btn btn-outline-primary btnadd" (click)="createTenant()">Add <i class="las la-plus-circle"></i></button></li>
                            <li>
                                <div class="kt-searchmainbox  advancesearch tenantsearch">
                                    <div class="kt-sdropdown">
                                        <div class="form-group m-form__group">
                                            <div class="input-group selectdropdown">
                                                <!-- <label for="EditionDropdown">{{'Edition' | localize}}</label> -->
                                                <edition-combo [(selectedEdition)]="filters.selectedEditionId" aria-placeholder="Select Edition" (selectedEditionChange)="getTenants($event)"></edition-combo>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="Search" id="TenantNameOrTenancyCode" [(ngModel)]="filters.filterText" (keydown.enter)="getTenants()" />
                                        <a class="btnclearsearch" *ngIf="filters.filterText" (click)="filters.filterText=''"><i class="fas fa-times-circle"></i></a>
                                        <input id="searchTxt" type="button" form="my-form" class="btnsearch" />
                                    </div>
                                    <div class="kt-advfilterbox">
                                        <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                    </div>
                                    <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                        <h3>Advance Filters </h3>
                                        <div class="advfilterform new_add">
                                            <form (submit)="getTenants()" id="my-form" autocomplete="new-password">
                                                <div class="form-body set_new_advfilter">
                                                    <div class="row">
                                                        <div class="input-group ">
                                                            <div class="col-md-12">
                                                                <div class="kt-checkbox-list">
                                                                    <label class="kt-checkbox">
                                                                            <input type="checkbox"
                                                                                [(ngModel)]="filters.subscriptionEndDateRangeActive"
                                                                                id="TenantsTable_SubscriptionEndDateRangeActive"
                                                                                name="SubscriptionEndDateRangeActive" value="true" style="margin-left:10px;position: relative;" 
                                                                                >
                                                                                {{'SubscriptionEndDate' | localize}}
                                                                            <span></span>
                                                                        </label >
                                                                    </div>
                                                                    <input class="form-control daterangebox" name="SubscriptionEndDateRange" style="border-width:0 0 1px !important; border-radius:0 !important;"
                                                                        [attr.disabled]="!filters.subscriptionEndDateRangeActive ? 'disabled' : null"
                                                                        #drpSubscriptionEndDateRange="bsDaterangepicker" bsDaterangepicker
                                                                        readonly="readonly" dateRangePickerMomentModifier
                                                                        [(date)]="subscriptionDateRange">
                                                            </div> 
                                                        </div>
                                                            <div class="input-group" style="margin-top:15px !important;">
                                                                <div class="col-md-12">
                                                                <div class="kt-checkbox-list">
                                                                    <label class="kt-checkbox">
                                                                        <input type="checkbox" [(ngModel)]="filters.creationDateRangeActive"
                                                                            id="TenantsTable_CreationDateRangeActive"
                                                                            name="CreationDateRangeActive" value="true" style="margin-left: 10px;position: relative;">
                                                                        {{'CreationTime' | localize}}
                                                                        <span></span>
                                                                    </label>
                                                                </div>
                                                                <input class="form-control daterangebox" name="CreationDateRange" style="border-width:0 0 1px !important; border-radius:0 !important;" [attr.disabled]="!filters.creationDateRangeActive ? 'disabled' : null" #drpCreationDateRange="bsDaterangepicker" bsDaterangepicker
                                                                    readonly="readonly" dateRangePickerMomentModifier [(date)]="creationDateRange" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-right">
                                                            <button name="RefreshButton" class="btn btn-primary"><i class="fa fa-search"></i>
                                                                    {{'Search' | localize}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- fORMbODY eNDS-->
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- <div class="kt-buttonarea">
                            
                        </div> -->


                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet">
                <div class="kt-portlet__body padzero">

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable sortMode="multiple" (onLazyLoad)="getTenants($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth">{{'Actions' | localize}}</th>
                                        <th pSortableColumn="tenancyName">
                                            {{'TenancyCodeName' | localize}}
                                            <p-sortIcon field="tenancyName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="name">
                                            {{'TenantName' | localize}}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th>{{'Edition' | localize}}</th>
                                        <th pSortableColumn="subscriptionEndDateUtc" style="width:265px;">
                                            {{'SubscriptionEndDateUtc' | localize}}
                                            <p-sortIcon field="subscriptionEndDateUtc"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="isActive" style="width:90px;">
                                            {{'Active' | localize}}
                                            <p-sortIcon field="isActive"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="creationTime" style="width:157px;">
                                            {{'CreationTime' | localize}}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="text-align:center;" class="actionwidth">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [class.disabled]="!record.isActive">
                                                        <a href="javascript:;" *ngIf="'Pages.Tenants.Impersonation' | permission" [class.disabled]="!record.isActive" (click)="record.isActive && showUserImpersonateLookUpModal(record)">
                                                            <i class="las la-sign-in-alt"></i> {{'LoginAsThisTenant' | localize}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="'Pages.Tenants.Edit' | permission" (click)="editTenantModal.show(record.id)">
                                                            <i class="las la-edit"></i> {{'Edit' | localize}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="'Pages.Tenants.ChangeFeatures' | permission" (click)="tenantFeaturesModal.show(record.id, record.name)">
                                                            <i class="las la-list-alt"></i> {{'Features' | localize}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="'Pages.Tenants.Delete' | permission" (click)="deleteTenant(record)">
                                                            <i class="las la-trash"></i> {{'Delete' | localize}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" (click)="unlockUser(record)">
                                                            <i class="las la-lock-open"></i> {{'Unlock' | localize}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="entityHistoryEnabled" (click)="showHistory(record)">
                                                            <i class="las la-history"></i> {{'History' | localize}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'TenancyCodeName' | localize}}</span>
                                            <span class="d-flex align-items-center">
                                                <i class="las la-database fs-24 text-primary mr-2" *ngIf="record.connectionString"></i> {{record.tenancyName}}
                                            </span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'Name' | localize}}</span> {{record.name}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'Edition' | localize}}</span>
                                            <span class="badge badge-secondary">{{record.editionDisplayName}}</span>
                                        </td>
                                        <td style="width: 265px;">
                                            <span class="ui-column-title">{{'SubscriptionEndDateUtc' | localize}}</span>
                                            <span *ngIf="record.subscriptionEndDateUtc > 0" class="badge badge-secondary d-flex align-items-center" style="width:120px;"><i class="las la-calendar fs-20 mr-1"></i>{{ record.subscriptionEndDateUtc ? (record.subscriptionEndDateUtc | momentFormat:'L') : '-'}}</span>
                                        </td>
                                        <td style="width:80px">
                                            <span class="ui-column-title">{{'Active' | localize}}</span>
                                            <span *ngIf="record.isActive" class="kt-badge kt-badge--success kt-badge--inline">{{'Yes' | localize}}</span>
                                            <span *ngIf="!record.isActive" class="kt-badge kt-badge--dark kt-badge--inline">{{'No' | localize}}</span>
                                        </td>
                                        <td style="width:157px;">
                                            <span class="ui-column-title">{{'CreationTime' | localize}}</span>
                                            <span class="badge badge-secondary d-flex align-items-center" style="width:120px;"><i class="las la-calendar fs-20 mr-1"></i> {{record.creationTime | momentFormat:'L'}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getTenants($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createTenantModal #createTenantModal (modalSave)="getTenants()"></createTenantModal>
        <editTenantModal #editTenantModal (modalSave)="getTenants()"></editTenantModal>
        <tenantFeaturesModal #tenantFeaturesModal></tenantFeaturesModal>
        <commonLookupModal #impersonateUserLookupModal (itemSelected)="impersonateUser($event)"></commonLookupModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    </div>
</div>