<div appBsModal #DocumentUploadModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Document Upload")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-bg-gray">

                <div class="modal-white-box">
                    <div class="row">
                        <select name="Invoice.userId" [(ngModel)]="documentTypeId" class="btn-outliner mr-3" style="width:250px; border-radius:5px; padding:0 10px; font-size:1rem">
                            <option [ngValue]="0">{{l("DocumentType")}}</option>
                            <option *ngFor="let item of DocumentTypes"
                                value="{{item.id}}">
                                {{item.displayName}}</option>
                        </select>
                        <div class="form-group mb-0">
                            <input type="file" (change)="fileChangeEvent($event)" accept=".pdf" class="fileuploadboxbtn" />
                        </div>
                        <span [tooltip]="l('Upload')">
                            <a (click)="savedocument()" class="ml-3" style="font-size:1.7rem; color:#5867dd"
                            [buttonBusy]="active" [busyText]="l('active')">
                                
                                <i class="las la-file-upload"></i>
                                <!-- <img src="../../../../assets/common/images/icon_fileupload.svg" style="width:20px;" /> -->
                            </a>
                        </span>
                    </div>
                    
                </div>

                <div class="modal-white-box">
                    <div class="secondary-grid tablebodyscroll">
                        <table class="table ui-table-scrollable-header-table">
                            <thead class="ui-table-thead brdnone">
                                <tr>
                                    <th>Documnet Title</th>
                                    <th>Created Date</th>
                                    <th>Created By</th>
                                    <th class="text-center" style="width:120px;">Download</th>
                                    <th class="text-center" style="width:120px;">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of wholeSaleLeaddocs">
                                    <td> {{item.docTitle}}</td>
                                    <!-- <td><span class="d-flex align-items-center"><i class="las la-file-pdf fs-20 mr-2"></i> {{item.docTitle}}</span></td> -->
                                    <td><span class="badge badge-secondary">{{item.creationTime | momentFormat:'DD-MM-YYYY'}}</span></td> 
                                    <td>{{item.creationUser}}</td>
                                    <td class="text-center action" style="width:120px;">
                                        <a (click)="downloadfile(item)" class="btndownloaddocument"><i class="las la-file-download fs-22"></i></a>
                                    </td>
                                    <td class="text-center action" style="width:120px;">
                                        <a (click)="deletefile(item.id)" class="btndownloaddocument"><i class="las la-trash fs-22"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
            </div>
        </div>
    </div>
</div>