<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Result")}}</span>
                    </h3>

                </div>
                <div>
                    <!-- <img [src]="appRootUrl() + 'assets/common/images/left-arrow.svg'" alt="" class="sidemenuarrow backbuttonarrow" (click)="goBack()"/> -->
                </div>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <div class="kt-buttonarea ">
                        <a class="btn btn-primary btnadd btnback" (click)="goBack()"> <img src="../../../../assets/common/images/arrow_prev_blue.svg" /> Back</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- side bar grid-->
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                <div class="kt-cdetailhead leaddetilpage asasas">
                    <div class="kt-cname">
                        <ul class="custdetail">
                            <li>
                                <h2> {{ item.lead.companyName }}</h2>
                            </li>
                            <li>
                                <div *ngIf="item.lead.leadStatusID == 5">
                                    <span class="badgelead hotlead ">Hot</span>
                                </div>
                                <div *ngIf="item.lead.leadStatusID == 4">
                                    <span class="badgelead warmlead">Warm</span>
                                </div>
                                <div *ngIf="item.lead.leadStatusID == 3">
                                    <span class="badgelead coldlead ">Cold</span>
                                </div>
                                <div *ngIf="item.lead.leadStatusID != 5 && item.lead.leadStatusID != 4 && item.lead.leadStatusID != 3">
                                    <span class="badgelead  unhandled">Unhandled</span>
                                </div>
                            </li>
                        </ul>
                        <ul class="actionsicon">
                            <!-- <li>
                                <a (click)="addActivityModal.show(item.lead.id)">
                                    <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt="" /> Add

                                </a>
                            </li> -->
                            <li *ngIf="sectionId == 30">
                                <a (click)="promoStopRespmodel.deattilshow(item.lead.id)">
                                    <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt="" /> StopResponce

                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="myleadsstatus myleadsReport subtalentpage" style="margin-bottom:0px !important;">
                        <ul class="mt-2 mr-3">
                            <li>
                                <span class="icon blue"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user avatar-icon ng-tns-c291-8"><path _ngcontent-hmb-c291="" d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle _ngcontent-hmb-c291="" cx="12" cy="7" r="4"></circle></svg></span>
                                <div>
                                    <label>Current Lead Owner</label>
                                    <span>{{item.currentAssignUserName}}</span>
                                </div>
                            </li>
                            <li>
                                <span class="icon red"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3 avatar-icon ng-tns-c291-8"><path _ngcontent-hmb-c291="" d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle _ngcontent-hmb-c291="" cx="12" cy="7" r="4"></circle></svg></span>
                                <div>
                                    <label>Lead created By</label>
                                    <span>{{item.createdByName}}</span>
                                </div>
                            </li>
                            <li>
                                <span class="icon green"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar avatar-icon ng-tns-c291-8"><rect _ngcontent-hmb-c291="" x="3" y="4" width="18" height="18" rx="2" ry="2" class="ng-tns-c291-8"></rect><line _ngcontent-hmb-c291="" x1="16" y1="2" x2="16" y2="6" class="ng-tns-c291-8"></line><line _ngcontent-hmb-c291="" x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
                                <div>
                                    <label>Lead Created On</label>
                                    <span>{{item.createdOn | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                </div>
                            </li>
                            <li *ngIf="item.jobNumber != null">
                                <span class="icon blue">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar avatar-icon css-i6dzq1"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                </span>
                                <div>
                                    <label>Job Number</label>
                                    <span>{{item.jobNumber}}</span>
                                </div>
                            </li>
                            <li *ngIf="item.jobNumber != null">
                                <span class="icon green">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar avatar-icon css-i6dzq1"><circle cx="12" cy="12" r="10"></circle><line x1="22" y1="12" x2="18" y2="12"></line><line x1="6" y1="12" x2="2" y2="12"></line><line x1="12" y1="6" x2="12" y2="2"></line><line x1="12" y1="22" x2="12" y2="18"></line></svg>
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar avatar-icon ng-tns-c291-8"><rect _ngcontent-hmb-c291="" x="3" y="4" width="18" height="18" rx="2" ry="2" class="ng-tns-c291-8"></rect><line _ngcontent-hmb-c291="" x1="16" y1="2" x2="16" y2="6" class="ng-tns-c291-8"></line><line _ngcontent-hmb-c291="" x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> -->
                                </span>
                                <div>
                                    <label>Job Status</label>
                                    <span>{{item.jobStatusName}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="kt-portlet kt-portlet--mobile marpadzero">
                    <div class="kt-portlet__body padzero">
                        <div class="row align-items-center">
                            <div class="table-responsive statictable">
                            </div>

                            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                                <div class="kt-portlet ">
                                    <div class="kt-portlet__body padzero leaddetailtabs no-tab-header">
                                        <tabset>
                                            <tab heading="{{'ActivityLog' | localize}}">
                                                <activityLog #activityLog></activityLog>
                                            </tab>
                                        </tabset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- <addActivityModal #addActivityModal (modalSave)="ngOnInit()"></addActivityModal> -->
    <promoStopRespmodel #promoStopRespmodel></promoStopRespmodel>
</div>