
<style>
    .form-icon .icon-box {
        top: 31px !important;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 22px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e3e2ef;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #7367f0;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #7367f0;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
    }
    /* Rounded sliders */
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
</style>
<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #stocktransferForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <!-- <span *ngIf="user.id">{{"Edit Sales Representative" | localize}}: {{user.userName}}</span> -->
                        <!-- <span *ngIf="!user.id">{{"CreateNewUser" | localize}}</span> -->
                        <span >Create New Stock Transfer</span>
                        <div class="d-flex align-items-center">
                            

                            <span class="d-flex align-items-center">
                                <span class="mr-2 badge badge-secondary fs-16 d-flex align-items-center"
                                    *ngIf="!stocktransfer.id">
                                    Next Transfer No.
                                    <span style="font-weight: 600">{{
                                        stocktransfer.transferNo
                                        }}</span>
                                </span>
                                <span class="mr-2 badge badge-secondary fs-16 d-flex align-items-center"
                                    *ngIf="stocktransfer.id" style="height: 40px">
                                    Transfer No
                                    <span style="font-weight: 600">{{
                                        stocktransfer.transferNo
                                        }}</span>
                                </span>
                            </span>
                        </div>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="tab_design tab-new">
                               <div class="modal-white-box">
                        <div class="col-md-12">
                            <h3 class="d-flex align-items-center"><i class="las la-map-marker mr-2"></i>{{l("Transfer Details")}} </h3>
                        </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("Transport Company")}}</label>
                                            <select class="form-control" [(ngModel)]="stocktransfer.transportCompanyId" name="transportCompanyId" >
                                                <option value="0">{{l("Select TransportCompany")}}</option>
                                                <option *ngFor="let item of allTransportCompany" value="{{item.id}}"> {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="cornetNo">{{"Cornet Number" | localize}} *</label>
                                            <input id="cornetNo" #CornetNumberInput="ngModel" type="text" name="cornetNo" class="form-control" [(ngModel)]="stocktransfer.cornetNo" required maxlength="64">
                                            <span class="icon-box"><i class="las la-user"></i></span>
                                            <validation-messages [formCtrl]="CornetNumberInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("From Location")}}</label>
                                            <select class="form-control" [(ngModel)]="stocktransfer.warehouseLocationFromId"(change)="filterToLocation()" name="warehouseLocationFromId">
                                                <option value="0">{{l("Select FromLocation")}}</option>
                                                <option *ngFor="let item of allLocation" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                                </select>    
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("To Location")}}</label>
                                            <select class="form-control" [(ngModel)]="stocktransfer.warehouseLocationToId"  name="warehouseLocationToId">
                                                <option value="0">{{l("Select ToLocation")}}</option>
                                                <option *ngFor="let item of filteredLocation" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("Organization")}}</label>
                                            <select name="organizationId" class="form-control" [(ngModel)]="stocktransfer.organizationId" >
                                                <option *ngFor="let item of allOrganizationUnits"
                                                    value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                            
                                        </div>
                                    </div> -->
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="">{{"Vehical No" | localize}} *</label>
                                            <input id="vehicalNo" #vehicalNoInput="ngModel" type="text" name="vehicalNo" class="form-control" [(ngModel)]="stocktransfer.vehicalNo" required maxlength="64">
                                            <span class="icon-box"><i class="las la-user"></i></span>
                                            <validation-messages [formCtrl]="vehicalNoInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="trackingNumber">{{"Tracking Number" | localize}} *</label>
                                            <input id="trackingNumber" #trackingNumberInput="ngModel" type="text" name="trackingNumber" class="form-control" [(ngModel)]="stocktransfer.trackingNumber" required maxlength="64">
                                            <span class="icon-box"><i class="las la-user"></i></span>
                                            <validation-messages [formCtrl]="trackingNumberInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="amount">{{"Amount " | localize}} *</label>
                                            <input id="amount" #amountNoInput="ngModel" type="text" name="amount" class="form-control" [(ngModel)]="stocktransfer.amount" required maxlength="64">
                                            <span class="icon-box"><i class="las la-user"></i></span>
                                            <validation-messages [formCtrl]="amountNoInput"></validation-messages>
                                        </div>
                                    </div>
                                    
                                </div>
                                </div>
                                <div class="modal-white-box">
                                    <div class="col-md-12">
                                        <h3 class="d-flex align-items-center"><i class="las la-map-marker mr-2"></i>{{l("Product Item")}} </h3>
                                    </div>
                                    <div class="productsgridbox formcontainer">
                                        <div class="row mb-2">
                                            <div class="col-md-2">Product Category</div>
                                            <div class="col-md-2">Product Item</div>
                                            <div class="col-md-2">Model No</div>
                                            <div class="col-md-2">Size</div>
                                            <div class="col-md-2">Quantity</div>
                                            <div class="col-md-1">Action</div>
                                        </div>
                                        <div class="row marginbtm0 mb-2" *ngFor="let item of StockTransferItemList; let i = index">
                                            <div class="col-md-2">
                                                <div class="form-group form-icon">
                                                    <select class="form-control" (change)="changeProductType(i)" [(ngModel)]="item.productTypeId" required #productType="ngModel" name="productType{{i}}">
                                                        <option value="">Product Type</option>
                                                        <option *ngFor="let item of productTypes" value="{{item.id}}">{{item.displayName}}</option>
                                                    </select>
                                                    <span class="icon-box" style="top:0;"><i class="las la-boxes"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group form-icon">
                                                    <p-autoComplete [(ngModel)]="item.productItemName" id="productItemName" name="jp{{i}}" #productItem="ngModel" required [suggestions]="productItemSuggestions" (completeMethod)="filterProductIteams($event , i)" (onSelect)="selectProductItem($event, i)"
                                                        aria-placeholder="Search Item" [minLength]="5" inputStyleClass="form-control" styleClass="width-percent-100">
                                                        <ng-template let-result pTemplate="item">
                                                            <div class="result-item">
                                                                {{result.productItem}}
                                                            </div>
                                                        </ng-template>
                                                    </p-autoComplete>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <input type="text"  name="modalNo{{i}}" class="form-control" [value]="item.productModel" disabled   required >
                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <input type="text"  name="size{{i}}" class="form-control" [value]="item.size" disabled required >
                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <input type="text" #jpmodel="ngModel" name="quantity{{i}}" placeholder="quantity" class="form-control" [(ngModel)]="item.quantity"  required >
                                                   
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="action-btn mr-1" *ngIf="StockTransferItemList.length != 1">
                                                        <a (click)="removeProductItem(item)" class=""><i class="las la-trash text-danger"></i></a>
                                                    </div>
                                                    <div class="action-btn addbtn" *ngIf="StockTransferItemList.length == (i+1)">
                                                        <a (click)="addProductItem()"><i class="las la-plus-circle"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-white-box">
                                    <div class="col-md-12">
                                        <h3 class="d-flex align-items-center"><i class="las la-map-marker mr-2"></i>{{l("Notes")}} </h3>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="addcustomerform">
                                            <textarea id="Lead_Requirements" name="aditionalNotes" minlength="1" maxlength="500" class="form-control" placeholder="Additional Notes" [(ngModel)]="stocktransfer.additionalNotes"></textarea>
                                        </div>
                                    </div>
                                </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!stocktransferForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>