<div [@routerTransition]>
    <div class="leaddtltitle activitytitle mt-3">
        <div class="disflexdiv">
            <h3>Activity</h3>
            <div [hidden]="!showsectionwise">
               
            </div>
        </div>
        <div class="activityfilter d-flex align-items-center">           
            <div class="switchbox">
                <span class="switchlabel">All Activity</span>
                <span class="kt-switch kt-switch--icon">
                    <label>
                        <input (change)="myActivity(PurchaseId)" name="SwitchToMyActivity"
                            [(ngModel)]="allActivity" type="checkbox">
                        <span></span>
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="leaddetailcnt">
        <div class="form-group">
            <div class="ativityLogs">
                <div class="list_area_box">
                    <div class="list_box" *ngFor="let item of StockOrderActivityList">
                        <div *ngIf="item.actionId == 77 " class="img_area activity_assign 111">
                            <div><i class="las la-edit"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 76|| item.actionId == 78" class="img_area activity_mail 777">
                            <div><i class="las la-envelope"></i></div>
                        </div>
                        <div class="text_area">
                            <div class="title_hd d-flex align-items-center"><span>{{item.section}} - {{item.actionName}} : </span>
                                <span class="log-date d-flex align-items-center ml-3">
                                    <i class="las la-clock mr-1"></i>{{item.creationTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                </span>
                            </div>
                            <p  class="123456">
                                <a href="javascript:void(0)">{{item.creatorUserName}}</a> -
                                <span *ngIf="item.actionId == 77" style="display:inline-block">
                                    <a (click)="stockTransferActivityLogHistory.show(item.id);"  class="ml-2 badge badge-pill badge-warning log-edit d-flex align-items-center">
                                        <i class="las la-user-edit mr-1"></i>{{item.actionNote}}
                                    </a>
                                </span>
                                <span *ngIf="item.actionId == 76" class="123456">
                                    {{item.actionNote}} 
                                </span>
                                <span *ngIf="item.actionId == 78" class="123456">
                                    {{item.actionNote}} 
                                </span>
                            </p>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <stockTransferActivityLogHistory #stockTransferActivityLogHistory></stockTransferActivityLogHistory> 
</div>
