<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Stock Transfer")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li><button type="button" class="btn_refresh" (click)="getStockTransfer()"></button></li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <!-- <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <div class="dropdown-divider"></div>
                                            <span class="dropdown-item-text text-muted pl-3" href="#">
                                                <a href="/assets/sampleFiles/InvoiceAccountData.xlsx" class="dropdown-item btnsample">{{l('SampleFile')}}</a>
                                            </span>
                                        </div> -->
                                        <div class="btn-group btnexceldropdown" dropdown>
                                            <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             
                                                {{l("Export")}}
                                                <img src="../../../assets/common/images/icon_downarrow.svg" />

                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations minwidth167" *dropdownMenu style="margin-left:10px;">
                                                <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" *ngIf="('Pages.Tenant.QuickStock.StockTransfer.Export' | permission)"  href="javascript:;">
                                                    <i class="las la-file-excel"></i>{{'Export' | localize}}
                                                </a>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                <button (click)="createStockTransfer()" *ngIf="('Pages.Tenant.QuickStock.StockTransfer.Create' | permission)" class="btn btn-outline-primary btnadd">
                                Add <i class="las la-plus-circle"></i>
                                </button>
                                </li>
                                <li >
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getStockTransfer();">
                                                <option *ngFor="let item of allOrganizationUnits"
                                                    value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                            <option value="TransportCompany">Transport Company</option>
                                            <option value="vehicalNo">Vehical No</option>
                                            <option value="TransferNo">Transfer no</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox leardsearchfilter">
                                            <input name="filterText" autoFocus class="form-control m-input" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getStockTransfer()" type="text">

                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getStockTransfer()"><i class="fas fa-times-circle"></i></a>
                                            <button (click)="getStockTransfer()" class="btnsearch" type="submit">
                                                <i class="flaticon-search-1"></i></button>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                           
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            
                                            <div class="advfilterform">
                                            
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="warehouseLocationFromIdFilter" name="warehouseLocationFromIdFilter" >
                                                                    <option [ngValue]="undefined">{{l("Select Location From")}}</option>
                                                                    <option *ngFor="let item of allLocation" value="{{item.id}}"> {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="WarehouseLocationToIdFilter" name="WarehouseLocationToIdFilter" >
                                                                    <option [ngValue]="undefined">{{l("Select Location To")}}</option>
                                                                    <option *ngFor="let item of allLocation" value="{{item.id}}"> {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control">
                                                                    <option>Show</option>
                                                                    <option>Not Received</option>
                                                                    <option>Received</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control">
                                                                    <option>Show</option>
                                                                    <option>Not Transferd</option>
                                                                    <option>Transferd</option>                                                                    
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateFilterType" (keydown.enter)="getStockTransfer()" name="dateFilterType">
                                                                    <option [ngValue]="undefined"> Select Date</option>
                                                                    <option value="OrderDate">Transfer Date</option>
                                                                    
                                                                </select>
                                                            </div>
                                                        </li>
                                                       
                                                       
                                                        
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier name="distapplied" [(date)]="StartDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier name="distapplied" [(date)]="EndDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        
    
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red marright10 btn-sm ng-tns-c458-53" (click)="clear()">
                                                                <i class="fas fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getStockTransfer()"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>
    
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div> 
                                </li>
                        </ul>

                    </div>
                </div>
                <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">

                    <div class="row leaddata_row">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }"  [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getStockTransfer($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                 [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth">
                                            {{l('Actions')}}</th>
                                            <th style="width:100px;" >
                                                {{l('Transfer No')}}
                                                
                                            </th>
                                            <th style="width:100px;" >
                                                {{l('Transfer Date')}}
                                                
                                            </th>
                                        <th style="width:100px;" >
                                            {{l('Transport Company')}}
                                            
                                        </th>
                                        <th style="width:100px;" >
                                            {{l('Location From')}}
                                            
                                        </th>
                                        
                                        <th style="width:100px;">
                                            {{l('To Location')}}
                                            
                                        </th>
                                        <th style="width:100px;">
                                            {{l('Product Item')}}
                                            
                                        </th>
                                        <th style="width:100px;">
                                            {{l('Qty')}}
                                            
                                        </th>
                                        <th style="width:100px;">
                                            {{l('Vehical No')}}
                                            
                                        </th>
                                        <th style="width:100px;">
                                            {{l('Tracking Number')}}
                                            
                                        </th>
                                        <th style="width:100px;" >
                                            {{l('Amount')}}
                                        </th>
                                        <th style="width:100px;" >
                                            {{l('CornetNo')}}
                                        </th>
                                        <th style="width:100px;" >
                                            {{l('Transferd')}}
                                        </th>
                                        <th style="width:100px;" >
                                            {{l('TransferByDate')}}
                                        </th>
                                        <th style="width:100px;" >
                                            {{l('Received')}}
                                        </th>
                                        <th style="width:100px;" >
                                            {{l('ReceivedByDate')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr [pSelectableRow]="record"  >
                                        <td class="actionwidth text-center" >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    
                                                    <li>
                                                        <a href="javascript:;"
                                                        *ngIf="('Pages.Tenant.QuickStock.StockTransfer.Edit' | permission)"
                                                        (click)="createOrEditStockTransferModal.show(record.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                   
                                                    <li>
                                                        <a href="javascript:;" 
                                                        *ngIf="('Pages.Tenant.QuickStock.StockTransfer.Delete' | permission)"
                                                         (click)="deleteStockTransfer(record)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:100px;" >
                                            <span class="ui-column-title" > </span> {{record.transferNo}}
                                        </td>
                                        <td style="width:100px;" >
                                            <span class="ui-column-title" > </span> {{record.transferDate | date: 'dd MMM yyyy' }}
                                        </td>
                                        <td style="width:100px;" (click)="navigateToStockTransferDetail(record.id);">
                                            <span class="ui-column-title" > </span> {{record.transportCompany}}
                                        </td>
                                        <td style="width:100px;">
                                            <span class="ui-column-title"></span> {{record.warehouseLocationFrom}}
                                        </td>
                                        <td style="width:100px;">
                                            <span class="ui-column-title"> </span> {{record.warehouseLocationTo}}
                                        </td>
                                        <td style="width:130px;">

                                            <ul >
                                                <li *ngFor="let item of record.productItemInfo">{{ item.productItem }}</li>
                                            </ul>
                                        </td>
                                        <td style="width:100px;">
                                            <span class="ui-column-title"> </span> {{record.qty}}
                                        </td>
                                        <td style="width:100px;">
                                            <span class="ui-column-title"> </span> {{record.vehicalNo}}
                                        </td>
                                        <td style="width:100px;">
                                            <span class="ui-column-title"> </span> {{record.trackingNumber}}
                                        </td>
                                        <td style="width:100px;">
                                            <span class="ui-column-title"> </span> {{record.amount}}
                                        </td>
                                        <td style="width:100px;">
                                            <span class="ui-column-title"> </span> {{record.cornetNo}}
                                        </td>
                                        <td style="width:100px;">
                                            <span class="ui-column-title"> </span> 
                                            <!-- {{record.transferd}} -->
                                        </td>
                                        <td style="width:100px;">
                                            <span class="ui-column-title"> </span>
                                             <!-- {{record.transferByDate | date: 'dd MMM yyyy' }} -->
                                        </td>
                                        <td style="width:100px;">
                                            <span class="ui-column-title"> </span>
                                             <!-- {{record.received}} -->
                                        </td>
                                        <td style="width:100px;">
                                            <span class="ui-column-title"> </span> 
                                            <!-- {{record.receivedByDate | date: 'dd MMM yyyy' }} -->
                                        </td>
                                    </tr>

                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getStockTransfer($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewStockTranferDetail #viewStockTranferDetail SelectedStockTransferId="{{SelectedStockTransferId}}" (reloadLead)="reloadPage($event)"></viewStockTranferDetail>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <createOrEditStockTransferModal #createOrEditStockTransferModal (modalSave)="getStockTransfer()">
        </createOrEditStockTransferModal>
     

    </div>
</div>