﻿<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("CallFlowQueues")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">

                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getCallFlowQueue()"></button>
                            </li>
                            <li>
                                <div class="btn-group btnexceldropdown" dropdown>
                                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <i class="far fa-file-excel"></i> -->
                                        <!-- {{"ExcelOperations" | localize}} -->
                                        Export
                                        <img src="../../../assets/common/images/icon_downarrow.svg" />

                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                        <a class="dropdown-item" id="ExportUsersToExcelButton" href="javascript:;">
                                            <!-- <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;"> -->
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            <i class="las la-file-csv"></i> CSV
                                        </a>
                                        <!-- <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            PDF
                                        </a> -->
                                    </div>
                                </div>
                            </li>
                            <li><button *ngIf="isGranted('Pages.CallFlowQueues.Create')" (click)="createOrEditCallFlowQueueModal.show()" class="btn btn-outline-primary btnadd">
                                    <!-- <i class="fa fa-plus"></i>  -->
                                    <!-- <img [src]="appRootUrl() + 'assets/common/images/plusicon.svg'" alt="" />   -->
                                    <!-- {{l("CreateNewLeadSource")}} -->
                                    Add
                                    <i class="las la-plus-circle"></i>
                                </button></li>

                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox ">
                                        <input type="text" class="form-control" placeholder="{{l('Call Queue/Ext/Org Name')}}" [(ngModel)]="filterText" (keydown.enter)="getCallFlowQueue();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getCallFlowQueue();"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getCallFlowQueue();searchLog();" />
                                    </div>
                                    <div class="kt-advfilterbox">
                                        <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                    </div>

                                    <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                        <h3>{{l("AdvanceFilters")}} </h3>
                                        <div class="advfilterform">
                                            <form class="kt-form" autocomplete="off">
                                                <ul>
                                                    <li class="clear-date">
                                                        <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                        <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                    </li>
                                                    <li class="clear-date">
                                                        <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                        <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                    </li>
                                                    <li class="fullwidth text-right">
                                                        <button class="btn btn_red btn-sm marright10"><i class="fa fa-times-circle"></i>{{l("Clear")}}</button>
                                                        <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getCallFlowQueue();searchLog();"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                        <!-- <div class="kt-buttonarea">
                        </div> -->
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getCallFlowQueue($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.CallFlowQueues.Edit', 'Pages.CallFlowQueues.Delete','Pages.CallFlowQueues.View')">
                                            Actions</th>
                                        <th pSortableColumn="name">
                                            3cx Call Queue
                                            <p-sortIcon field="leadSource.name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="name">
                                            3cx Call Queue Ext
                                            <p-sortIcon field="leadSource.name"></p-sortIcon>
                                        </th>
                                        <th>
                                            Organization
                                        </th>
                                        <th>
                                            Is Active
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align:center; width:95px;" class="actionwidth" [hidden]="!isGrantedAny('Pages.CallFlowQueues.Edit', 'Pages.CallFlowQueues.Delete','Pages.CallFlowQueues.View')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li *ngIf="permission.isGranted('Pages.CallFlowQueues.View')">
                                                        <a href="javascript:;" (click)="viewcallFlowQueueModal.show(record)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}
                                                        </a>
                                                    </li>
                                                    <li *ngIf="permission.isGranted('Pages.CallFlowQueues.Edit')">
                                                        <a href="javascript:;" (click)="createOrEditCallFlowQueueModal.show(record.callFlowQueue.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li *ngIf="permission.isGranted('Pages.CallFlowQueues.Delete')">
                                                        <a href="javascript:;" (click)="deleteLeadSource(record.callFlowQueue)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>




                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            {{record.callFlowQueue.name}}
                                        </td>
                                        <td>
                                            <span class="badge badge-warning">{{record.callFlowQueue.extentionNumber}}</span>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Organization')}}</span>
                                            <div class="d-flex align-items-center">
                                                <div *ngFor="let items of record.callFlowQueue.organizationUnitsName" style="margin-right:3px;">
                                                    <span class="badge badge-pill badge-secondary amount me-1">
                                                        {{items}}
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- <span *ngFor="let item of record.leadSource.organizationUnitsName">{{ item }}</span> -->
                                            <!-- {{record.leadSource.OrganizationUnitsName}} -->
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('IsActive')}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.callFlowQueue.isActive">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.callFlowQueue.isActive">{{'No' | localize}}</span>
                                        </td>

                                    </tr>

                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getCallFlowQueue($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <viewcallFlowQueueModal #viewcallFlowQueueModal></viewcallFlowQueueModal>
        <createOrEditCallFlowQueueModal #createOrEditCallFlowQueueModal (modalSave)="getCallFlowQueue()"></createOrEditCallFlowQueueModal>

    </div>
</div>