﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #leadSourceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off" [ngClass]="{'formvalid':leadSourceForm.form.valid}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="CallFlowQueue.id">{{l("EditCallFlowQueues")}}</span>
                        <span *ngIf="!CallFlowQueue.id">{{l("CreateNewCallFlowQueues")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label for="CallFlowQueue_Name">3cx Call Queue *</label>
                                    <input type="text" id="CallFlowQueuee_Name" class="form-control" [(ngModel)]="CallFlowQueue.name" name="Name" required/>
                                    <span class="icon-box"><i class="las la-phone-square"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label for="CallFlowQueue_ExtentionNumber">3cx Call Queue  Ext*</label>
                                    <input type="number" id="CallFlowQueuee_ExtentionNumber" class="form-control" [(ngModel)]="CallFlowQueue.extentionNumber" name="ExtentionNumber" required/>
                                    <span class="icon-box"><i class="las la-phone-square"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                <label for="Organization">Organization</label>
                                <div class="jobmultipleselect selectdropdown ml-0 rt_arrow size40">
                                    <ng-select [items]="allOrganizationUnits" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadSource" [(ngModel)]="CallFlowQueue.organizationUnits" name="organazationId">
                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                        </ng-template>
                                    </ng-select>
                                    <span class="icon-box"><i class="las la-sitemap"></i></span>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="CheckActives_IsActive">Is-Active</label>
                                    <input type="checkbox" id="CheckActives_IsActive" class="form-control" [(ngModel)]="CallFlowQueue.isActive" name="isActive" style="width: 22px;" />
                                </div>
                            </div>

                        </div>
                    </div>





                    <!-- <div class="m-checkbox-list">
                        <label for="LeadSource_isActive" class="kt-checkbox">
                            <input type="checkbox"  id="LeadSource_isActive" name="Active" [(ngModel)]="LeadSource.isActive"> 
                            {{l("Active")}}
                        </label>
                    </div> -->

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las fa-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- [disabled]="!leadSourceForm.form.valid" -->