<!-- <div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}"></div> -->
<div bsModal #addModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
aria-labelledby="addModal" aria-hidden="true" [config]="{ backdrop: 'static' }"> 
<div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">{{state}}</h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="secondary-grid" style="overflow-x: auto;">
                        <table class="table">
                            <thead>
                                <th>Job Number</th>
                                <th>Amount</th>
                               
                            </thead>
                            <tr *ngFor="let item of JobNumberAmountDto">
                                <td>
                                   {{item.jobNumber}}
                                </td>
                                <td>
                                 {{item.amount}}
                                </td>
                               

                            </tr>
                        </table>
                    </div>


                </div>

            </form>
        </div>
    

</div>