<!-- Required meta tags -->
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

<title>Pick List</title>

<style>
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    
    body {
        background: #fff url(http://thesolarproduct.com/assets/common/images/SavvySolar/bg.png) top center no-repeat;
        background-size: 940px;
        margin: 0;
        padding: 0;
        font-family: 'Roboto';
        color: #333;
        font-size: 13px;
        font-weight: 400;
    }
    
    .pdf_wrapper {
        width: 940px;
        margin: 0 auto;
        padding: 0 !important;
    }
    
    .pdf_container {
        width: 920px;
        overflow: hidden;
        margin: 0 auto;
        padding: 0 10px;
    }
    
    .text-right {
        text-align: right !important;
    }
    
    .bolder {
        font-weight: 900 !important;
    }
    
    .bold {
        font-weight: 700 !important;
    }
    
    .medium {
        font-weight: 500 !important;
    }
    
    .dflex {
        display: flex;
    }
    
    .align-item-center {
        align-items: Center;
    }
    
    .justify-space-between {
        justify-content: space-between;
    }
    
    .f12 {
        font-size: 12px !important;
    }
    
    .f14 {
        font-size: 14px !important;
    }
    
    .f16 {
        font-size: 16px !important;
    }
    
    .mb5 {
        margin-bottom: 5px !important;
    }
    
    .mb10 {
        margin-bottom: 10px !important;
    }
    
    .mb15 {
        margin-bottom: 15px !important;
    }
    
    .mb20 {
        margin-bottom: 20px !important;
    }
    
    .me5 {
        margin-right: 5px !important;
    }
    
    .me10 {
        margin-right: 10px !important;
    }
    
    .gray {
        color: #A6A5A5 !important;
    }
    
    .black {
        color: #000 !important;
    }
    
    .sep {
        height: 1px;
        background: #FFF0D4;
        width: 100%;
        margin: 10px 0;
        display: block;
    }
    
    .primary-table table {
        width: 100%;
        border: 0;
        border-collapse: collapse;
    }
    
    .primary-table table th {
        height: 40px;
        background: #FDB432;
        color: #201F1F;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
        padding: 0 15px;
    }
    
    .primary-table table th:last-child,
    .primary-table table td:last-child {
        text-align: right;
    }
    
    .primary-table table td {
        padding: 12px 15px;
        border-top: 1px solid #DAE3ED;
        font-size: 12px;
    }
    
    .primary-table table td.white {
        background: #fff !important;
    }
    
    .primary-table table td:last-child,
    .primary-table table td:first-child {
        text-align: center;
        background: #FFF4E0;
    }
    
    .primary-table table tr.subtotal td {
        background: #FFF4E0;
        border: 1px solid #201F1F;
        border-width: 2px 0 0;
        font-weight: 600;
    }
    
    .primary-table table tr.balance-row td {
        background-color: #FDB432;
        color: #000;
        font-weight: 600;
        font-size: 16px;
        text-align: right;
        height: 40px;
        border: 0;
        padding: 0 15px;
        font-size: 14px;
    }
    
    .sign-container {
        display: flex;
        justify-content: space-between;
        width: 940px;
        margin: 0 10px;
    }
    
    .sign-container .sign-box {
        width: 420px;
    }
    
    .sign-box .sign {
        display: flex;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #ccc;
        width: 410px;
    }
    
    .pdf_header {
        height: 87px;
        position: relative;
    }
    
    .pdf_header .logo {
        float: left;
    }
    
    .pdf_header .logo img {
        height: 84px;
    }
    
    .pdf_header .pdf_contact {
        float: right;
        display: flex;
        align-items: center;
        color: #000;
        font-size: 20px;
        height: 84px;
        line-height: 84px;
    }
    
    .pdf_header .pdf_contact img {
        margin-right: 5px;
    }
    
    .pdf_header .pdf_main_title {
        margin: 0 auto;
        max-width: 400px;
        text-align: center;
        font-size: 38px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: -1px;
        padding-top: 15px;
    }
    
    .pdf_left_box {
        width: 320px;
        float: left;
    }
    
    .pdf_right_box {
        width: 585px;
        float: right;
    }
    
    .pdf_quote_number {
        width: 220px;
        position: absolute;
        left: 349px;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        top: 76px;
    }
    
    .pdf_customerbox {
        color: #A6A5A5;
        margin: 50px 0 0 15px;
        height: 205px;
    }
    
    .pdf_customerbox .pdf_cus_name {
        color: #FDB432;
        font-size: 22px;
        font-weight: 600;
    }
    
    .pdf_customerbox img {
        margin-right: 5px;
    }
    
    .pdf_panel {
        display: block;
        border: 1px solid #FFF0D4;
    }
    
    .pdf_panel .pdf_panel_header {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 15px;
        background: #FFF0D4;
    }
    
    .pdf_panel .pdf_panel_header.tc {
        padding: 8px 15px !important;
        font-size: 14px !important;
    }
    
    .pdf_panel .pdf_panel_container {
        padding: 15px;
        background: #fff;
    }
    
    .pdf_panel .pdf_panel_container.small {
        font-size: 10px;
    }
    
    .sign-container {
        display: flex;
        justify-content: space-between;
        width: 940px;
        margin: 0 10px;
    }
    
    .sign-container .sign-box {
        width: 420px;
    }
    
    .sign-box .sign {
        display: flex;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #ccc;
        width: 410px;
    }
    
    .footer-line {
        width: 100%;
        background: #FDB432;
        padding: 5px;
        text-align: center;
        color: #000;
        font-size: 12px;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .dark {
        color: #000 !important;
    }
</style>



<div class='pdf_wrapper'>
    <div class='pdf_container mb10'>
        <!-- HEADER STARTS -->
        <div class='pdf_header'>
            <div class='logo'><img src='http://thesolarproduct.com/assets/common/images/SavvySolar/logo.svg'></div>
            <div class='pdf_contact'><img src='http://thesolarproduct.com/assets/common/images/SavvySolar/icon-call.png' style='height:38px;'> 1800 728 897</div>
            <div class='pdf_main_title'>STOCK ALLOCATION</div>
            <div class='pdf_quote_number'>
                <div class='pdf_qtno mb5'><span class='medium'>Project#</span> {{PL.JobNumber}}</div>
                <div class='f12 medium'>Date : {{PL.Date}}</div>
            </div>
        </div>
        <!-- HEADER ENDS -->

        <div class='pdf_left_box'>
            <div class='pdf_customerbox'>
                <div class='f16 medium mb5'>CUSTOMER INFORMATION:</div>
                <div class='pdf_cus_name mb10'>{{PL.Cust.Name}}</div>
                <div class='dflex align-item-center mb10'>
                    <img src='http://thesolarproduct.com/assets/common/images/SavvySolar/mobile.png' style='width:18px;'> {{PL.Cust.Mobile}}
                </div>
                <div class='dflex align-item-center mb10'>
                    <img src='http://thesolarproduct.com/assets/common/images/SavvySolar/mail.png' style='width:18px;'> {{PL.Cust.Email}}
                </div>
                <div class='dflex align-item-center'>
                    <img src='http://thesolarproduct.com/assets/common/images/SavvySolar/pin.png' style='width:18px;'> {{PL.Cust.AddressLine1}}<br>{{PL.Cust.AddressLine2}}
                </div>
            </div>

            <div class='pdf_panel mb10'>
                <div class='pdf_panel_header'>Installation Details</div>
                <div class='pdf_panel_container'>
                    <div class='f16 bold mb10'>{{PL.ID.InstallerName}}</div>
                    <div class='mb5'><span class='bold'>Installation Date: </span></div>
                    <div class='mb15 medium'>{{PL.ID.InstallationDate}}</div>
                    <div class='mb5'><span class='bold'>Site Address: </span></div>
                    <div class='medium'>{{PL.ID.SA.AddressLine1}}<br>{{PL.ID.SA.AddressLine2}}</div>
                </div>
            </div>
        </div>

        <div class='pdf_right_box'>
            <div class='dflex justify-space-between' style='border-left:1px solid #4D4C4C; padding-left:50px; margin:71px 10px 0 30px;'>
                <div class='gray'>
                    <div class='mb10'>Meter Phase : <span class='medium'>{{PL.Cust.MeterPhase}}</span></div>
                    <div class='mb10'>Upgrades : <span class='medium'>{{PL.Cust.MeterUpgrad}}</span></div>
                    <div class='mb10'>Roof Type : <span class='medium'>{{PL.Cust.RoofType}}</span></div>
                    <div class=''>No. of Storey : <span class='medium'>{{PL.Cust.PropertyType}}</span></div>
                </div>
                <div class='gray'>
                    <div class='mb10'>Roof Pitch : <span class='medium'>{{PL.Cust.RoofPitch}}</span></div>
                    <div class='mb10'>Energy Distributor : <span class='medium'>{{PL.Cust.ElecDist}}</span></div>
                    <div class=''>Energy Retailer : <span class='medium'>{{PL.Cust.ElecRetailer}}</span></div>
                </div>
            </div>

            <div class='pdf_panel mb10' style='margin-top:95px; min-height: 185px;'>
                <div class='pdf_panel_header'>Special Notes</div>
                <div class='pdf_panel_container'>
                    {{PL.SN.Notes}}
                </div>
            </div>

        </div>
    </div>

    <div class='pdf_container' style='height:47vh'>
        <div class='primary-table'>
            <table style='width:100%;'>
                <tr>
                    <th>Category</th>
                    <th>Item</th>
                    <th>Model</th>
                    <th>QTY</th>
                    <th>Done</th>
                </tr>
				{{PL.PicklistItemDetails}}
                <!-- <tr> -->
                    <!-- <td>24</td> -->
                    <!-- <td>ZNShine 275 W Poly - 5BB</td> -->
                    <!-- <td>(ZXP6-60-275/P)</td> -->
                    <!-- <td>Sample text here...</td> -->
                    <!-- <td><img src='http://thesolarproduct.com/assets/common/images/SavvySolar/bullet.png' style='height:16px;'></td> -->
                <!-- </tr> -->
                <!-- <tr> -->
                    <!-- <td>1</td> -->
                    <!-- <td>Growa฀ 5.Kw - 3Phase (5000TL3-S)</td> -->
                    <!-- <td>5000TL3-S</td> -->
                    <!-- <td>Sample text here...</td> -->
                    <!-- <td><img src='http://thesolarproduct.com/assets/common/images/SavvySolar/bullet.png' style='height:16px;'></td> -->
                <!-- </tr> -->
                <!-- <tr> -->
                    <!-- <td>6</td> -->
                    <!-- <td>Growa฀ 5.Kw - 3Phase (5000TL3-S)</td> -->
                    <!-- <td>(ZXP6-60-275/P)</td> -->
                    <!-- <td>Sample text here...</td> -->
                    <!-- <td><img src='http://thesolarproduct.com/assets/common/images/SavvySolar/bullet.png' style='height:16px;'></td> -->
                <!-- </tr> -->
                <!-- <tr> -->
                    <!-- <td>4</td> -->
                    <!-- <td>Rail</td> -->
                    <!-- <td>5000TL3-S</td> -->
                    <!-- <td>Sample text here...</td> -->
                    <!-- <td><img src='http://thesolarproduct.com/assets/common/images/SavvySolar/bullet.png' style='height:16px;'></td> -->
                <!-- </tr> -->
                <!-- <tr> -->
                    <!-- <td>4</td> -->
                    <!-- <td>Mounting</td> -->
                    <!-- <td>5000TL3-S</td> -->
                    <!-- <td>Sample text here...</td> -->
                    <!-- <td><img src='http://thesolarproduct.com/assets/common/images/SavvySolar/bullet.png' style='height:16px;'></td> -->
                <!-- </tr> -->
                <!-- <tr> -->
                    <!-- <td>5</td> -->
                    <!-- <td>Growa฀ 5.Kw - 3Phase (5000TL3-S)</td> -->
                    <!-- <td> (ZXP6-60-275/P)</td> -->
                    <!-- <td>Sample text here...</td> -->
                    <!-- <td><img src='http://thesolarproduct.com/assets/common/images/SavvySolar/bullet.png' style='height:16px;'></td> -->
                <!-- </tr> -->
                <!-- <tr> -->
                    <!-- <td>4</td> -->
                    <!-- <td>Mounting</td> -->
                    <!-- <td>5000TL3-S</td> -->
                    <!-- <td>Sample text here...</td> -->
                    <!-- <td><img src='http://thesolarproduct.com/assets/common/images/SavvySolar/bullet.png' style='height:16px;'></td> -->
                <!-- </tr> -->
                <!-- <tr> -->
                    <!-- <td>5</td> -->
                    <!-- <td>Growa฀ 5.Kw - 3Phase (5000TL3-S)</td> -->
                    <!-- <td> (ZXP6-60-275/P)</td> -->
                    <!-- <td>Sample text here...</td> -->
                    <!-- <td><img src='http://thesolarproduct.com/assets/common/images/SavvySolar/bullet.png' style='height:16px;'></td> -->
                <!-- </tr> -->

            </table>
        </div>
    </div>


    <div class='pdf_container'>
        <div class='sign-container mb10'>
            <div class='sign-box'>
                <div class='sign mb5'>{{PL.SN.InstallerNotes}}</div>
                <div><span class='bold'>Installer Notes</span></div>
            </div>
            <div class='sign-box'>
                <div class='sign mb5'>{{PL.CustomerSign.PickedBy}}</div>
                <div><span class='bold'>Picked By</span></div>
            </div>
        </div>
        <div class='sign-container mb5'>
            <div class='sign-box'>
                <div class='sign mb5'>{{PL.CustomerSign.PickedDate}}</div>
                <div><span class='bold'>Date</span></div>
            </div>
            <div class='sign-box'>
                <div class='sign mb5'>{{PL.CustomerSign.SignSrc}}</div>
                <div><span class='bold'>Sign</span></div>
            </div>
        </div>
    </div>

    <div class='footer-line medium'>
        C5, Level 1, 2 Main Street Point Cook Vic 3030 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABN 65 617 964 539
    </div>

</div>