﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #financeOptionForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="financeOption.id">{{l("EditFinanceOption")}}</span>
                        <span *ngIf="!financeOption.id">Create New Payment Term</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="FinanceOption_Name">{{l("Name")}}</label>
                                    <input type="text" id="FinanceOption_Name" class="form-control" [(ngModel)]="financeOption.name" name="Name" required />
                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="FinanceOption_Percentage">Percentage</label>
                                    <input type="text" id="FinanceOption_Percentage" class="form-control" [(ngModel)]="financeOption.percentage" name="percentage" required />
                                    <span class="icon-box"><i class="las la-percent"></i></span>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                 <label>Is-Active</label>
                                 <input type="checkbox"  class="form-control" [(ngModel)]="financeOption.isActive" name="isActive" style="width: 22px;" />
                               </div>
                             </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!financeOptionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>