<style>
    .table-bordered .textcntr th{
        text-align: center !important;
        background-color:#4B4B4B !important;
        color:#fff !important;
    }

    .table-bordered .textcntr .lastbrdr{
        border-right: 2px solid white !important;
        background-color:#4B4B4B !important;
        color:#fff !important;
    }

    .table-bordered .textcntr_a td {
        text-align: center !important;
        }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Comparison")}}</span>
                        <!-- <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span> -->
                    </h3>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getAcivityList();RereshLog();" class="btn_refresh"></button>
                                </li>
                                <!-- <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{"Excel" | localize}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations userexceloperations" *dropdownMenu style="margin-left:10px;">


                                            <div class="dropdown-divider"></div>

                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;">
                                                {{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;">
                                                {{l("ExportCSV")}}
                                            </a>
                                        </div>
                                    </div>
                                </li> -->
                                <!-- <li>
                                    <div class="form-group m-form__group jobmultipleselect ">
                                        <ng-select [items]="allStates" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select States" [(ngModel)]="states" name="states">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li> -->
                                <!-- <li>
                                    <div class="form-group m-form__group jobmultipleselect ">
                                        <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select Leadsource" [(ngModel)]="leadSources" name="leadSources">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect ">
                                        <ng-select [items]="allhederFeild" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select Feild" [(ngModel)]="allheder" name="allheder">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadSource" [(ngModel)]="leadSourceIdFilter" name="jobStatusID">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="allStates" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="displayName" placeholder="All States" [(ngModel)]="stateFilter" name="jobStatusID">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="allAreas" [multiple]="true" [closeOnSelect]="false" placeholder="All Area" [(ngModel)]="areaFilter" name="area">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140 ">
                                        <ng-select [items]="allhederFeild" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select Feild" [(ngModel)]="allheder" name="allheder">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <select class="form-control" id="area" name="area" [(ngModel)]="areaFilter" (change)="getAcivityList()">
                                            <option value="">Select Area</option>
                                            <option value="Metro">Metro</option>
                                            <option value="Regional">Regional</option>
                                        </select>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <div>
                                                <select name="organizationid" class="form-control" [(ngModel)]="organizationid" (change)="getAcivityList();addSearchLog('Filter Organization');">
                                                    <option *ngFor="let item of allOrganizationUnits"
                                                        value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10"><i class="fa fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getAcivityList(); shouldShow = false;addSearchLog('Advanced Filter');"><i class="fa fa-search"></i> {{l("Search")}}</button>

                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                            <button (click)="getAcivityList()" class="btnsearch" type="submit">
                                                <i class="flaticon-search-1"></i></button>
                                        
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <form class="kt-form pad25" hidden autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getAcivityList()" class="btn btn-primary"
                                                    type="submit"><i class="flaticon-search-1"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>


                    <div class="row align-items-center" id="tblrpt">
                        <div class="ui-table-scrollable-body ng-star-inserted table_leadexpense_main noSelection" style="max-height:85vh; border-radius:10px; width:100%">
                            <table class="table table-bordered comparisontable">
                                <tr class="textcntr">
                                    <th class="comparisontable" [attr.colspan]="colspan" scope="colgroup" class="lastbrdr">{{data.date}}</th>
                                    <th class="comparisontable" [attr.colspan]="colspan" scope="colgroup" class="lastbrdr">{{data.lastDate}}</th>
                                    <th class="comparisontable" [attr.colspan]="colspan" scope="colgroup" class="lastbrdr">{{data.lastDate2}}</th>
                                </tr>
                                <tr class="textcntr">
                                    <th class="comparisontable" *ngIf="lead==0" colspan="1"  scope="colgroup">Lead</th>
                                    <th class="comparisontable" *ngIf="sold==0" colspan="1" scope="colgroup">KW Sold / Battery KW </th>
                                    <th class="comparisontable" *ngIf="installed==0" colspan="1" scope="colgroup">KW Installed</th>
                                    <th class="comparisontable" *ngIf="expence==0" colspan="1" scope="colgroup" class="lastbrdr" >Expense</th>
                                    <th class="comparisontable" *ngIf="lead==0" colspan="1" scope="colgroup">Lead</th>
                                    <th class="comparisontable" *ngIf="sold==0" colspan="1" scope="colgroup">KW Sold / Battery KW</th>
                                    <th class="comparisontable" *ngIf="installed==0" colspan="1" scope="colgroup">KW Installed</th>
                                    <th class="comparisontable" *ngIf="expence==0" colspan="1" scope="colgroup" class="lastbrdr">Expense</th>
                                    <th class="comparisontable" *ngIf="lead==0" colspan="1" scope="colgroup">Lead</th>
                                    <th class="comparisontable" *ngIf="sold==0" colspan="1" scope="colgroup">KW Sold / Battery KW</th>
                                    <th class="comparisontable" *ngIf="installed==0" colspan="1" scope="colgroup">KW Installed</th>
                                    <th class="comparisontable" *ngIf="expence==0" colspan="1" scope="colgroup" class="lastbrdr">Expense</th>
                                </tr>
                                <!-- <tr>
                                    <th class="comparisontable" scope="col">KW</th>
                                    <th class="comparisontable" scope="col">No Of Panel</th>
                                    <th class="comparisontable" scope="col">KW</th>
                                    <th class="comparisontable" scope="col">No Of Panel</th>
                                    <th class="comparisontable" scope="col">KW</th>
                                    <th class="comparisontable" scope="col">No Of Panel</th>
                                    <th class="comparisontable" scope="col">KW</th>
                                    <th class="comparisontable" scope="col">No Of Panel</th>
                                    <th class="comparisontable" scope="col">KW</th>
                                    <th class="comparisontable" scope="col">No Of Panel</th>
                                    <th class="comparisontable" scope="col">KW</th>
                                    <th class="comparisontable" scope="col">No Of Panel</th>
                                </tr> -->
                                <tr class="textcntr_a" style="text-align:center !important;">
                                    <!-- <td class="comparisontable">AP001001</td> -->
                                    <!-- <td class="comparisontable">{{data.spend}}</td> -->
                                    <td *ngIf="lead==0" class="comparisontable">{{data.totalLead}}</td>
                                    <td *ngIf="sold==0" class="comparisontable">{{data.panelSold_KW}} / {{data.batterySold_KW}}</td>
                                    <!-- <td class="comparisontable">{{data.panelSold_NoOfPanel}}</td> -->
                                    <!-- <td class="comparisontable">{{data.totalLeadInstalled}}</td> -->
                                    <td *ngIf="installed==0" class="comparisontable">{{data.installed_KW}} </td>
                                    <td style="border-right: 2px solid #ebedf2 !important;" *ngIf="expence==0" class="comparisontable">{{data.spend | number : '1.2-2'}}</td>
                                    <!-- <td class="comparisontable">{{data.installed_NoOfPanel}}</td> -->
                                    <!-- <td class="comparisontable">{{data.lastSpend}}</td> -->
                                    <td *ngIf="lead==0" class="comparisontable">{{data.lastTotalLead}}</td>
                                    <td *ngIf="sold==0" class="comparisontable">{{data.lastPanelSold_KW}}/ {{data.lastBatterySold_KW}}</td>
                                    <!-- <td class="comparisontable">{{data.lastPanelSold_NoOfPanel}}</td> -->
                                    <!-- <td class="comparisontable">{{data.lastTotalLeadInstalled}}</td> -->
                                    <td *ngIf="installed==0" class="comparisontable">{{data.lastInstalled_KW}}</td>
                                    <td style="border-right: 2px solid #ebedf2 !important;" *ngIf="expence==0" class="comparisontable">{{data.lastSpend | number : '1.2-2'}}</td>
                                    <!-- <td class="comparisontable">{{data.lastInstalled_NoOfPanel}}</td> -->
                                    <!-- <td class="comparisontable">{{data.lastSpend2}}</td> -->
                                    <td *ngIf="lead==0" class="comparisontable">{{data.lastTotalLead2}}</td>
                                    <td *ngIf="sold==0" class="comparisontable">{{data.lastPanelSold2_KW}}/ {{data.lastBatterySold_KW2}}</td>
                                    <!-- <td class="comparisontable">{{data.lastPanelSold2_NoOfPanel}}</td> -->
                                    <!-- <td class="comparisontable">{{data.lastTotalLeadInstalled2}}</td> -->
                                    <td *ngIf="installed==0" class="comparisontable">{{data.lastInstalled2_KW}}</td>
                                    <td style="border-right: 2px solid #ebedf2 !important;" *ngIf="expence==0" class="comparisontable">{{data.lastSpend2 | number : '1.2-2'}}</td>
                                    <!-- <td class="comparisontable">{{data.lastInstalled2_NoOfPanel}}</td> -->
                                </tr>
                                <!-- <tr>
                                    <td class="comparisontable">AP001001</td>
                                    <td class="comparisontable">{{data.panelSold_KW}}</td>
                                    <td class="comparisontable">{{data.panelSold_NoOfPanel}}</td>
                                    <td class="comparisontable">{{data.installed_KW}}</td>
                                    <td class="comparisontable">{{data.installed_NoOfPanel}}</td>
                                    <td class="comparisontable">{{data.lastPanelSold_KW}}</td>
                                    <td class="comparisontable">{{data.lastPanelSold_NoOfPanel}}</td>
                                    <td class="comparisontable">{{data.lastInstalled_KW}}</td>
                                    <td class="comparisontable">{{data.lastInstalled_NoOfPanel}}</td>
                                    <td class="comparisontable">{{data.lastPanelSold2_KW}}</td>
                                    <td class="comparisontable">{{data.lastPanelSold2_NoOfPanel}}</td>
                                    <td class="comparisontable">{{data.lastInstalled2_KW}}</td>
                                    <td class="comparisontable">{{data.lastInstalled2_NoOfPanel}}</td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    table.comparisontable,
    th.comparisontable,
    td.comparisontable {
        /* border: 1px solid white; */
        border-collapse: collapse;
    }

    th.comparisontable {
        background-color: #4B4B4B;
        color: white;
    }

    td.comparisontable {
        background-color: #fff;
        border-bottom: 1px solid #ebe9f1 !important;
    }
</style>