﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #cancelReasonForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="cancelReason.id">{{l("EditCancelReason")}}</span>
                        <span *ngIf="!cancelReason.id">{{l("CreateCancelReason")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                <label for="CancelReason_CancelReasonName">{{l("CancelReasonName")}} *</label>
                                <input type="text" id="CancelReason_CancelReasonName" class="form-control" [(ngModel)]="cancelReason.cancelReasonName" name="CancelReasonName" minlength="2" maxlength="100" required/>
                                <span class="icon-box"><i class="las la-window-close"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                            <div class="form-group form-icon">
                                <label for="CheckActives_IsActive">Is-Active</label>
                                <input type="checkbox" id="CheckActives_IsActive" class="form-control" [(ngModel)]="cancelReason.isActive" name="isActive" style="width: 22px;" />
                            </div>
                            </div>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!cancelReasonForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>