﻿<div class="kt-content creatleadpage kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item grayback">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{l("Create Wholesale Invoice")}}</span>
                </h3>
            </div>
        </div>
    </div>

    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid grayback kt-portlet__body'">
        <div class="" style="margin-top:0 !important;">
            <div class="createleadform">
                <form autocomplete="off" autocompleteOff> 
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i
                                        class="las la-file-invoice mr-2"></i>{{l("Invoice Details")}}</h3>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Invoice Type")}} *</label>
                                    <select class="form-control" id="invoiceTypeId" name="invoiceTypeId" [(ngModel)]="invoiceDto.invoiceTypeId" required>
                                        <option [ngValue]="undefined">{{l("Invoice Type")}}</option>
                                        <option *ngFor="let item of InvoiceTypes" value="{{item.id}}">{{item.displayName}}</option>

                                </select>
                                    <span class="icon-box"><i class="las la-file-invoice"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Invoice No.")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("Invoice Number")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Job Type")}} *</label>
                                    <select class="form-control" id="JobTypeId" name="JobTypeId" [(ngModel)]="invoiceDto.jobTypeId" required>
                                        <option [ngValue]="undefined">{{l("Job Type")}}</option>
                                            <option *ngFor="let item of JobTypes" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-file-invoice"></i></span>
                                </div>
                            </div>
                           
                            <div class="col-md-4">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Customer Name")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("Customer Name")}}' />
                                    <span class="icon-box"><i class="las la-user"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Credit Amount")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("XERO Ref ID")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Reference")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("XERO Ref ID")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Store Location")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("Store Location")}}' />
                                    <span class="icon-box"><i class="las la-map-marker"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Delivery Options")}} *</label>
                                    <select class="form-control" id="deliveryOptions" name="deliveryOptions" [(ngModel)]="invoiceDto.deliveryOptions" required>
                                        <option [ngValue]="undefined">{{l("Delivery Options")}}</option>
                                            <option *ngFor="let item of DeliveryOptions" value="{{item.displayName}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-dolly-flatbed"></i></span>
                                </div>
                            </div>
                            

                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Job Status")}} *</label>
                                    <select class="form-control" id="JobStatusId" name="JobStatusId" [(ngModel)]="invoiceDto.jobStatusId">
                                        <option [ngValue]="undefined">{{l("Job Status")}}</option>
                                        <option *ngFor="let item of JobStatuses" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-truck"></i></span>
                                </div>
                            </div>

                            
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Invoice Amount")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("Invoice Amount")}}' />
                                    <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Invoice Amount with GST")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("Invoice Amount")}}' />
                                    <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="daterange">Delivery Date </label>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Select Employee")}} *</label>
                                    <select class="form-control">
                                        <option>Select Employee</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-truck"></i></span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-people-carry mr-2"></i>{{l("Transport Details")}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Transport Type")}} *</label>
                                    <select class="form-control" id="TansportTypeId" name="TansportTypeId" [(ngModel)]="invoiceDto.tansportTypeId">
                                        <option [ngValue]="undefined">{{l("Transport Type")}}</option>
                                        <option *ngFor="let item of TransportTypes" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-truck"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Consign/Person")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("Consign")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Actual Freigth Charges")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("Frage Charges")}}' />
                                    <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Cust Freigth Charges")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("Frage Charges")}}' />
                                    <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-people-carry mr-2"></i>{{l("STC Details")}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Property Type")}} *</label>
                                    <select class="form-control" id="PropertyTypeId" name="PropertyTypeId" [(ngModel)]="invoiceDto.propertyTypeId">
                                        <option [ngValue]="undefined">{{l("Property Type")}}</option>
                                        <option *ngFor="let item of PropertyTypes" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-file-invoice"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("STC ID")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("STC ID")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("No pf STC")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("XERO Ref ID")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("STC Rate")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("STC ID")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("PVD Number")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" ViewLead maxlength="100"
                                        required placeholder='{{l("XERO Ref ID")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("PVD Status")}} *</label>
                                    <select class="form-control" id="pvdStatusId" name="pvdStatusId" [(ngModel)]="invoiceDto.pvdStatusId">
                                        <option [ngValue]="undefined">{{l("PVD Status")}}</option>
                                        <option *ngFor="let item of PVDStatuses" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-truck"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i
                                        class="las la-people-carry mr-2"></i>{{installationItemList.length}}</h3>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="w-200px mr-2">Category</div>
                            <div class="w-500px mr-2">Stock Item :</div>
                            <div class="w-200px mr-2">Model Name :</div>
                            <div class="w-200px mr-2">Expiry Date :</div>
                            <div class="w-100px mr-2">Qty :</div>
                            <div class="w-100px mr-2">Wh.Price :</div>
                            <div class="w-100px mr-2">Aval Qty :</div>
                            <div class="w-100px mr-2">ETA :</div>
                            <div class="w-125px mr-2">Action</div>
                        </div>
                        <div class="d-flex align-items-center mt-2" *ngFor="let item of installationItemList; let i = index">
                            <div class="w-200px mr-2">
                                <select class="form-control" (change)="changeProductType(i)"
                                                    [(ngModel)]="item.productTypeId" required #productType="ngModel"
                                                    name="productType{{i}}">
                                                    <option value="">Product Type</option>
                                                    <option *ngFor="let item of productTypes" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                </select>

                            </div>
                            <div class="w-500px mr-2">
                                <div class="form-group ">
                                    <p-autoComplete [(ngModel)]="item.productName" id="ProductName"
                                        name="jp{{i}}" #productName="ngModel" required
                                        [suggestions]="productItemSuggestions"
                                        (completeMethod)="filterProductIteams($event , i)"
                                        (onSelect)="selectProductItem($event, i)" aria-placeholder="Search Item"
                                        [minLength]="5" inputStyleClass="form-control"
                                        styleClass="width-percent-100">
                                        <ng-template let-result pTemplate="item">
                                            <div class="result-item">
                                                {{result.productName}}
                                            </div>
                                        </ng-template>
                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="w-200px mr-2">
                                <div class="form-group">
                                    <input type="text" #jpmodel="ngModel" name="model{{i}}"
                                        placeholder="model" class="form-control"
                                        [(ngModel)]="item.model" required>

                                </div>
                            </div>
                            <div class="w-200px mr-2">
                                <input type="text" class="form-control" value="31/12/2026" disabled>
                            </div>
                            <div class="w-100px mr-2">
                                <input type="number" class="form-control" value="25">
                            </div>
                            <div class="w-100px mr-2">
                                <input type="number" class="form-control" value="125">
                            </div>
                            <div class="w-100px mr-2">
                                <input type="number" class="form-control" value="226" disabled>
                            </div>
                            <div class="w-100px mr-2">
                                <input type="number" class="form-control" value="2126" disabled>
                            </div>
                            <div class="w-125px mr-2">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="action-btn mr-1" *ngIf="installationItemList.length != 1">
                                        <a (click)="removeInstallationItem(item)" class=""><i
                                                class="las la-trash text-danger"></i></a>
                                    </div>
                                    <div class="action-btn addbtn" *ngIf="installationItemList.length == (i+1)">
                                        <a (click)="addInstallationItem()"><i class="las la-plus-circle"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- <div class="modal-white-box">
                                <h3>Product Items ({{ installationItemList.length }})</h3>
                                <div class="productsgridbox formcontainer">
                                    <div class="row mb-2">
                                        <div class="col-md-3">Category </div>
                                        <div class="col-md-4">Stock Item </div>
                                        <div class="col-md-2">Model Name</div>
                                        <div class="col-md-1">Qty</div>
                                        <div class="col-md-1">Wh.Price</div>
                                        <div class="col-md-1">Action</div>
                                    </div>
                                    <div class="row marginbtm0 mb-2" *ngFor="let item of installationItemList; let i = index">
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <select class="form-control" (change)="changeProductType(i)"
                                                    [(ngModel)]="item.productTypeId" required #productType="ngModel"
                                                    name="productType{{i}}">
                                                    <option value="">Product Type</option>
                                                    <option *ngFor="let item of productTypes" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="form-group ">
                                                    <p-autoComplete [(ngModel)]="item.productName" id="ProductName"
                                                        name="jp{{i}}" #productName="ngModel" required
                                                        [suggestions]="productItemSuggestions"
                                                        (completeMethod)="filterProductIteams($event , i)"
                                                        (onSelect)="selectProductItem($event, i)" aria-placeholder="Search Item"
                                                        [minLength]="5" inputStyleClass="form-control"
                                                        styleClass="width-percent-100">
                                                        <ng-template let-result pTemplate="item">
                                                            <div class="result-item">
                                                                {{result.productName}}
                                                            </div>
                                                        </ng-template>
                                                    </p-autoComplete>
                    
                                                </div>
                                            </div>
                                            <!-- <div class="w-500px mr-2">
                                                <input type="text" class="form-control" name="ProductName{{i}}" [(ngModel)]="item.productName">
                                            </div> -->
                                            <!-- <div class="col-md-2">
                                                <div class="form-group">
                                                    <input type="text" #jpmodel="ngModel" name="model{{i}}"
                                                        placeholder="Price/Watt" class="form-control"
                                                        [(ngModel)]="item.model" required>
            
                                                </div>
                                            </div> -->
                                            <!-- <div class="col-md-2">
                                                <input type="text" class="form-control" name="model{{i}}" [(ngModel)]="item.model">
                                            </div> -->
                                            <!-- <div class="w-200px mr-2">
                                                <input type="text" class="form-control" value="31/12/2026" disabled>
                                            </div> -->
                                            <!-- <div class="col-md-2">
                                                <input type="number" class="form-control" name="qty{{i}}" [(ngModel)]="item.qty">
                                            </div> -->

                                            <!-- <div class="col-md-1">
                                                <div class="form-group">
                                                    <input type="text" #jpmodel="ngModel" name="qty{{i}}"
                                                        placeholder="Price/Watt" class="form-control"
                                                        [(ngModel)]="item.qty" required>
            
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <div class="form-group">
                                                    <input type="text" #jpmodel="ngModel" name="price{{i}}"
                                                        placeholder="Price/Watt" class="form-control"
                                                        [(ngModel)]="item.price" required>
                                                </div>
                                            </div>
                                        <div class="col-md-1">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="action-btn mr-1" *ngIf="installationItemList.length != 1">
                                                    <a (click)="removeInstallationItem(item)" class=""><i
                                                            class="las la-trash text-danger"></i></a>
                                                </div>
                                                <div class="action-btn addbtn" *ngIf="installationItemList.length == (i+1)">
                                                    <a (click)="addInstallationItem()"><i class="las la-plus-circle"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> --> -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btngroupbox mt-1">
                                <ul>
                                    <li>
                                        <a (click)="Reset()" class="btn btn_black">
                                            <i class="las la-times-circle"></i>Clear</a>
                                    </li>
                                    <li>
                                        <a class="btn btn_red" (click)="cancel()">
                                            <i class="las la-times-circle"></i>Cancel</a>
                                    </li>
                                    <li>

                                        <button id="saving"  type="submit" class="btn btn-primary btn-sm" (click)="save()">
                                            Save
                                        </button>

                                        <!-- <button type="submit" class="btn btn-primary">
                                            <i class="las la-save" ></i><span>Add</span>
                                        </button> -->
                                        <!-- <button type="submit" class="btn btn-primary">
                                            <i class="las la-save"></i><span>Save</span>
                                        </button> -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                 </form> 
            </div>
        </div>
    </div>
</div>
