<div appBsModal #EditInvoiceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- <form *ngIf="active"  #invoiceform="ngForm" novalidate (ngSubmit)="save()"  autocomplete="off"> -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        
                        <span *ngIf="invoiceDto.id">{{l("Edit Invoice")}}</span>
                        <span *ngIf="!invoiceDto.id">{{l("Create Invoice")}}</span>
                        <!-- <span>{{l("Edit Invoice")}} - INV025486</span> -->
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box ">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i
                                        class="las la-file-invoice mr-2"></i>{{l("Invoice Details")}}</h3>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Invoice Type")}} *</label>
                                    <select class="form-control" id="invoiceTypeId" name="invoiceTypeId" [(ngModel)]="invoiceDto.invoiceTypeId" required>
                                            <option [ngValue]="undefined">{{l("Invoice Type")}}</option>
                                            <option *ngFor="let item of InvoiceTypes" value="{{item.id}}">{{item.displayName}}</option>

                                    </select>
                                    <span class="icon-box"><i class="las la-file-invoice"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Invoice No.")}} *</label>
                                    <input type="text" id="invoiceNo" class="form-control" name="invoiceNo" ViewLead maxlength="100" [(ngModel)]="invoiceDto.invoiceNo"
                                        required placeholder='{{l("Invoice Number")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Job Type")}} *</label>
                                    <select class="form-control" id="JobTypeId" name="JobTypeId" [(ngModel)]="invoiceDto.jobTypeId" required style="padding-left: 35px !important;">
                                        <option [ngValue]="undefined">{{l("Job Type")}}</option>
                                            <option *ngFor="let item of JobTypes" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-file-invoice"></i></span>
                                </div>
                            </div>
                        
                            <div class="col-md-4">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Customer Name")}} *</label>
                                    <p-autoComplete id="customername" name="customername" [(ngModel)]="customername" ViewLead maxlength="100" [suggestions]="invoiceSearchResult"  (change)="filterCustomername($event)" (completeMethod)="filterCustomername($event)" (onSelect)="selectInvoice($event)" placeholder="Select Customer Name" 
                                            inputStyleClass="form-control" styleClass="width-percent-100">
                                            <ng-template let-result pTemplate="item">
                                                <div class="result-item">
                                                    <div class="d-flex align-items-center mb-1">
                                                        <i class="las la-user-cog fs-16 mr-1"></i> {{result.customerName}}
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-autoComplete> 

                                     <!-- <label for="" class="form-label">{{l("Customer Name")}} *</label>
                                    <input type="text" class="form-control" id="customerName" name="customerName" [(ngModel)]="invoiceDto.customerName" ViewLead maxlength="100"
                                        required placeholder='{{l("Customer Name")}}' />
                                    <span class="icon-box"><i class="las la-user"></i></span>  -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Credit Amount")}} *</label>
                                    <input type="text" class="form-control" ViewLead maxlength="100" id="creditAmount" name="creditAmount" [(ngModel)]="invoiceDto.creditAmount"
                                        required placeholder='{{l("Credit Amount")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Reference")}} *</label>
                                    <input type="text" class="form-control" ViewLead maxlength="100" id="Reference" name="Reference" [(ngModel)]="invoiceDto.reference"
                                        required placeholder='{{l("XERO Ref ID")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Store Location")}} *</label>
                                    <select class="form-control" id="StoreLoactionId" name="StoreLoactionId" [(ngModel)]="invoiceDto.storeLoactionId" required>
                                        <option [ngValue]="undefined">{{l("Store Location")}}</option>
                                            <option *ngFor="let item of allLocation" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-map-marker"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Delivery Options")}} *</label>
                                    <select class="form-control" id="deliveryOptions" name="deliveryOptions" [(ngModel)]="invoiceDto.deliveryOptions" required>
                                        <option [ngValue]="undefined">{{l("Delivery Options")}}</option>
                                            <option *ngFor="let item of DeliveryOptions" value="{{item.displayName}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-dolly-flatbed"></i></span>
                                </div>
                            </div>
                            

                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Job Status")}} *</label>
                                    <select class="form-control" id="JobStatusId" name="JobStatusId" [(ngModel)]="invoiceDto.jobStatusId">
                                        <option [ngValue]="undefined">{{l("Job Status")}}</option>
                                        <option *ngFor="let item of JobStatuses" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-truck"></i></span>
                                </div>
                            </div>

                            
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Invoice Amount")}} *</label>
                                    <input type="text" class="form-control"  ViewLead maxlength="100" id="invoiceAmount" name="invoiceAmount" [(ngModel)]="invoiceDto.invoiceAmount"
                                        required placeholder='{{l("Invoice Amount")}}' />
                                    <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Invoice Amount with GST")}} *</label>
                                    <input type="text" class="form-control"  ViewLead maxlength="100" id="invoiceAmountWithGST" name="invoiceAmountWithGST" [(ngModel)]="invoiceDto.invoiceAmountWithGST"
                                        required placeholder='{{l("Invoice Amount")}}' />
                                    <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="daterange">Delivery Date </label>
                                    <input type="text" bsDatepicker datePickerMomentModifier [(ngModel)]="invoiceDto.deliveryDate" [bsConfig]="{ customTodayClass: 'today' }" name="distapprovaldate" [(date)]="invoiceDto.deliveryDate" class="form-control daterangebox" />

                                </div>
                            </div>
                            <!-- <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Select Employee")}} *</label>
                                    <select class="form-control" id="JobStatusId" name="JobStatusId" [(ngModel)]="invoiceDto.jobStatusId">
                                        <option>Select Employee</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-truck"></i></span>
                                </div>
                            </div> -->

                        </div>
                    </div>
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-people-carry mr-2"></i>{{l("Transport Details")}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Transport Type")}} *</label>
                                    <select class="form-control" id="TansportTypeId" name="TansportTypeId" [(ngModel)]="invoiceDto.tansportTypeId">
                                        <option [ngValue]="undefined">{{l("Transport Type")}}</option>
                                        <option *ngFor="let item of TransportTypes" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-truck"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Consign/Person")}} *</label>
                                    <input type="text" class="form-control"  ViewLead maxlength="100" id="Consign" name="Consign" [(ngModel)]="invoiceDto.consign"
                                        required placeholder='{{l("Consign")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Actual Freigth Charges")}} *</label>
                                    <input type="text" class="form-control"  ViewLead maxlength="100" id="ActualFreigthCharges" name="ActualFreigthCharges" [(ngModel)]="invoiceDto.actualFreigthCharges"
                                        required placeholder='{{l("Frage Charges")}}' />
                                    <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Cust Freigth Charges")}} *</label>
                                    <input type="text" class="form-control"  ViewLead maxlength="100" id="CustFreigthCharges" name="CustFreigthCharges" [(ngModel)]="invoiceDto.custFreigthCharges"
                                        required placeholder='{{l("Frage Charges")}}' />
                                    <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-people-carry mr-2"></i>{{l("STC Details")}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Property Type")}} *</label>
                                    <select class="form-control" id="PropertyTypeId" name="PropertyTypeId" [(ngModel)]="invoiceDto.propertyTypeId">
                                        <option [ngValue]="undefined">{{l("Property Type")}}</option>
                                        <option *ngFor="let item of PropertyTypes" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-file-invoice"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("STC ID")}} *</label>
                                    <input type="text" class="form-control"  ViewLead maxlength="100" id="STCID" name="STCID" [(ngModel)]="invoiceDto.stcid"
                                        required placeholder='{{l("STC ID")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("No pf STC")}} *</label>
                                    <input type="text" class="form-control"  ViewLead maxlength="100" id="NoOfSTC" name="NoOfSTC" [(ngModel)]="invoiceDto.noOfSTC"
                                        required placeholder='{{l("XERO Ref ID")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("STC Rate")}} *</label>
                                    <input type="text" class="form-control"  ViewLead maxlength="100" id="STCRate" name="STCRate" [(ngModel)]="invoiceDto.stcRate"
                                        required placeholder='{{l("STC ID")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("PVD Number")}} *</label>
                                    <input type="text" class="form-control"  ViewLead maxlength="100" id="pvdNumber" name="pvdNumber" [(ngModel)]="invoiceDto.pvdNumber"
                                        required placeholder='{{l("XERO Ref ID")}}' />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("PVD Status")}} *</label>
                                    <select class="form-control" id="pvdStatusId" name="pvdStatusId" [(ngModel)]="invoiceDto.pvdStatusId">
                                        <option [ngValue]="undefined">{{l("PVD Status")}}</option>
                                        <option *ngFor="let item of PVDStatuses" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-truck"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- <div class="modal-white-box">
                        <h3>Product Items ({{l("Product Item")}})</h3> -->
                        <div class="d-flex align-items-center">
                            <div class="w-200px mr-2">Category  :</div>
                            <div class="w-500px mr-2">Stock Item :</div>
                            <div class="w-200px mr-2">Model  :</div>
                            <!-- <div class="w-200px mr-2">Expiry Date :</div> -->
                            <div class="w-100px mr-2">Qty :</div>
                            <div class="w-100px mr-2">Wh.Price :</div>
                            <div class="w-125px mr-2">Action</div>
                            <!-- <div class="w-125px mr-2"></div> -->
                        </div>
                        <div class="d-flex align-items-center " *ngFor="let item of installationItemList; let i = index">
                            
                                <!-- <select required="" class="form-control" name="productType{{i}}" [(ngModel)]="item.categoryId" >
                                    <option value="undefined">Select Product Type </option>
                                    <option *ngFor="let item of createByList" value="{{item.id}}"> {{item.displayName}}</option>
                                </select> -->
                        
                            <div class="w-200px mr-2">
                                <select class="form-control"  [(ngModel)]="item.categoryId" required #productType="ngModel"  name="categoryId{{i}}">
                                    <option  [ngValue]="undefined">Product Type</option>
                                    <option *ngFor="let item of productTypes" value="{{item.id}}">{{item.displayName}}</option>
                                </select>
                                <!-- <span class="icon-box" style="top:0;"><i class="las la-boxes"></i></span>  -->
                            </div>


                            <div class="w-500px mr-2" style="margin-top: 15px !important;">
                                <div class="form-group ">
                                    <p-autoComplete [(ngModel)]="item.productInvoiceName" id="productInvoiceName"
                                        name="jp{{i}}" #productItem="ngModel" required
                                        [suggestions]="productItemSuggestions"
                                        (completeMethod)="filterProductIteams($event , i)"
                                        (onSelect)="selectProductItem($event, i)" aria-placeholder="Search Item"
                                        [minLength]="5" inputStyleClass="form-control"
                                        styleClass="width-percent-100">
                                        <ng-template let-result pTemplate="item">
                                            <div class="result-item">
                                                {{result.productItem}}
                                            </div>
                                        </ng-template>
                                    </p-autoComplete>

                                </div>
                            </div>

                        
                            <!-- <div class="w-500px mr-2">
                                <input type="text" class="form-control" name="ProductName{{i}}" [(ngModel)]="item.productName">
                            </div> -->
                            <div class="w-200px mr-2">
                                <input type="text" class="form-control" name="model{{i}}" [(ngModel)]="item.model">
                            </div>
                            <!-- <div class="w-200px mr-2">
                                <input type="text" class="form-control" value="31/12/2026" disabled>
                            </div> -->
                            <div class="w-100px mr-2">
                                <input type="number" class="form-control" name="qty{{i}}" [(ngModel)]="item.qty" (change)="calculatePrice(i)">
                            </div>
                            <div class="w-100px mr-2">
                                <input type="number" class="form-control" name="price{{i}}" [(ngModel)]="item.price" (change)="caculateTotalamount()">
                            </div>
                            <!-- <div class="w-100px mr-2">
                                <input type="number" class="form-control" value="226" disabled>
                            </div>
                            <div class="w-100px mr-2">
                                <input type="number" class="form-control" value="2126" disabled>
                            </div> -->
                        <div class="w-125px mr-2">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="action-btn mr-1" *ngIf="installationItemList.length != 1">
                                    <a (click)="removeInstallationItem(item)" class=""><i
                                            class="las la-trash text-danger"></i></a>
                                </div>
                                <div class="action-btn addbtn" *ngIf="installationItemList.length == (i+1)">
                                    <a (click)="addInstallationItem()"><i class="las la-plus-circle"></i></a>
                                </div>
                            </div>
                        </div>
                    <!-- </div> -->
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" (click)="save()" ><i class="las la-save"></i> <span>{{"Save" | localize}}</span></button>

                    <!-- <button id="saving"  type="submit" class="btn btn-primary btn-sm" (click)="save()">
                        Save
                    </button> -->
                </div>
             <!-- </form>   -->
        </div>
    </div>
</div>