<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="d-flex align-items-center">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>{{l("Wholesale Invoice")}}</span>
                            <span class="total-records-count">
                                ({{(primengTableHelper.totalRecordsCount)}})
                            </span>
                        </h3>
                    </div>
                    <div class="dropdown help-dropdown" dropdown>
                        <a class="dropdown-toggle fs-30" dropdownToggle>
                            <i class="las la-question-circle"></i>
                        </a>
                        <ul class="dropdown-menu helpmenudorpdown" *dropdownMenu>
                            <li>Invoice Received Job Data</li>
                        </ul>
                    </div>
                </div>

                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getInvoiceIssued()"></button></li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <div class="dropdown-divider"></div>
                                            <span class="dropdown-item-text text-muted pl-3" href="#">
                                                <a href="/assets/sampleFiles/InvoiceAccountData.xlsx" class="dropdown-item btnsample">{{l('SampleFile')}}</a>
                                            </span>
                                        </div>
                                        <div class="btn-group btnexceldropdown" dropdown>
                                            <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <!-- <i class="far fa-file-excel"></i> -->
                                                <!-- {{"ExcelOperations" | localize}} -->
                                                {{l("Export")}}
                                                <img src="../../../assets/common/images/icon_downarrow.svg" />

                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations minwidth167" *dropdownMenu style="margin-left:10px;">
                                                <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;">
                                                    <i class="las la-file-excel"></i>{{'Export' | localize}}
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item icon_csv" href="javascript:;" id="ExportUsersToExcelButton" (click)="exportToExcel(2)">
                                                    <i class="las la-file-csv"></i>{{l("ExportCSV")}}
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item icon_deposite" id="ExportUsersToExcelButton" (click)="depositeexportToExcel()" href="javascript:;">
                                                    <i class="las la-file-excel"></i>{{'DepositeExport' | localize}}
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item icon_excel" id="ExportUsersToExcelButton" (click)="owningexportToExcel()" href="javascript:;">
                                                    <i class="las la-file-excel"></i>{{'OwningExport' | localize}}
                                                </a>

                                                <!-- <div class="dropdown-divider"></div>
                                                <a class="dropdown-item icon_pdf" href="javascript:;">
                                                    {{l("PDF")}}
                                                </a> -->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li><button (click)="EditInvoiceModal.show()" class="btn btn-outline-primary btnadd">                                            
                                    Add
                                    <i class="las la-plus-circle"></i>
                                </button></li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getInvoiceIssued()">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="invissuedPaymentOptions" [(ngModel)]="jobPaymentOption" class="form-control" (change)="getInvoiceIssued()">
                                                <option value="0">All</option>
                                                <option *ngFor="let item of jobPaymentOptions" value="{{item.id}}">
                                                    {{item.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </li> -->
                                <!-- <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="invoicenamefilter" (change)="getInvoiceIssued()" [(ngModel)]="invoicenamefilter" class="form-control">
                                                <option value="All">{{l("All")}}</option>
                                                <option value="Owing">{{l("Owing")}}</option>
                                                <option value="FullPaid">{{l("Full Paid")}}</option>
                                                <option value="OverPayment">{{l("Over Payment")}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName" style="width:120px;">
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="Phone">Phone</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                                <option value="FirstName">First Name</option>
                                                <option value="ABNNumber">ABN Number </option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox wdth250 apptrackeradv">
                                            <div class="kt-stextbox leardsearchfilter">
                                                <input name="filterText" autoFocus class="form-control m-input" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getInvoiceIssued()" type="text" style="width:170px;">

                                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getInvoiceIssued()"><i class="fas fa-times-circle"></i></a>
                                                <button (click)="getInvoiceIssued()" class="btnsearch" type="submit">
                                                    <i class="flaticon-search-1"></i></button>
                                            </div>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <!-- <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="postCodeSuburbFilter" (keydown.enter)="getInvoiceIssued($event)" id="postCodeSuburbFilter" [suggestions]="suburbSuggestions" (completeMethod)="filtersuburbs($event)" placeholder='{{l("Suburb")}}' [minlength]="2" #suburbInput="ngModel"
                                                                    name="postCodeSuburbFilter" inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li> -->
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" (keydown.enter)="getInvoiceIssued()" id="AddressFilter" name="AddressFilter" [(ngModel)]="addressFilter" placeholder='{{l("Address")}}'>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="stateId" name="stateNameFilter" (keydown.enter)="getInvoiceIssued($event)">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" (keydown.enter)="getInvoiceIssued()" id="postCodePostalCode2Filter" name="postCodePostalCode2Filter" [(ngModel)]="postCodePostalCode2Filter" placeholder='{{l("PostCode")}}'>
                                                            </div>
                                                        </li>
                                                        <!-- <li>
                                                            <div class="form-group m-form__group jobmultipleselect">
                                                                <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select JobStatus" [(ngModel)]="jobStatusID" name="jobStatusID">
                                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                                    </ng-template>
                                                                </ng-select>
                                                            </div>
                                                        </li> -->
                                                        <!-- <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="areaNameFilter" (keydown.enter)="getInvoiceIssued($event)" name="areaNameFilter">
                                                                    <option value="">{{l("SelectArea")}}</option>
                                                                    <option value="Metro">{{l("Metro")}}</option>
                                                                    <option value="Regional">{{l("Regional")}}</option>
                                                                </select>
                                                            </div>
                                                        </li> -->
                                                        <!-- <li *ngIf="organizationUnit == 2 || organizationUnit == 8">
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="vicrebate" (keydown.enter)="getInvoiceIssued($event)" name="vicrebate">
                                                                    <option value="All">{{l("VICRebate")}}</option>
                                                                    <option value="With Rebate Install">With Rebate
                                                                        Install</option>
                                                                    <option value="Without Rebate Install">Without
                                                                        Rebate Install</option>
                                                                </select>
                                                            </div>
                                                        </li> -->
                                                        <!-- <li *ngIf="organizationUnit == 2 || organizationUnit == 8">
                                                            <div class="form-group m-form__group">
                                                                <select [(ngModel)]="solarRebateStatus" (keydown.enter)="getInvoiceIssued($event)" name="solarRebateStatus" class="form-control">
                                                                    <option value="0">{{l("SolarRebateStatus")}}</option>
                                                                    <option value="1">Blank</option>
                                                                    <option value="2">After Install</option>
                                                                    <option value="3">Cancelled</option>
                                                                    <option value="4">Installation Completed
                                                                    </option>
                                                                    <option value="5">Installation Scheduled
                                                                    </option>
                                                                    <option value="6">Payment Approved</option>
                                                                    <option value="7">Payment Claim Under Review
                                                                    </option>
                                                                    <option value="8">Payment Processed</option>
                                                                    <option value="9">Quote Submitted</option>
                                                                    <option value="10">Appl Rejected</option>
                                                                    <option value="11">Additional Info Required
                                                                    </option>
                                                                    <option value="12">App Expired</option>
                                                                    <option value="13">Draft quote</option>
                                                                    <option value="14">Quote expired</option>
                                                                    <option value="15">Appl Started</option>
                                                                    <option value="16">Appl under review</option>
                                                                    <option value="17">Appl approved</option>
                                                                </select>
                                                            </div>
                                                        </li> -->

                                                        <!-- <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="paymentMethodId" (keydown.enter)="getInvoiceIssued($event)" [(ngModel)]="paymentMethodId" class="form-control">
                                                                    <option value="0">{{l("PaymentType")}}</option>
                                                                    <option
                                                                        *ngFor="let item of allInvoicePaymentMethods"
                                                                        value="{{item.id}}">{{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li> -->

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="invoiceDateNameFilter" name="invoiceDateNameFilter" (keydown.enter)="getInvoiceIssued($event)">
                                                                    <option value="Creation">{{l("Creation")}}</option>
                                                                    <option value="Followup">{{l("FollowUpDate")}}</option>
                                                                    <option value="NextFollowup">{{l("NextFollowupDate")}}</option>
                                                                    <!-- <option value="ActualDate">{{l("ActualDateDate")}}</option> -->
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <!-- <li class="clear-date">
                                                            <div class="form-group">
                                                                <input name="SampleDateRangePicker" type="text" (keydown.enter)="getInvoiceIssued($event)" [(ngModel)]="sampleDateRange" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }"
                                                                    [(date)]="sampleDateRange" />
                                                                <a class="btnclearsearch btndateClear" *ngIf="sampleDateRange" (click)="sampleDateRange=null"><i class="fas fa-times-circle"></i></a>
                                                            </div>
                                                        </li> -->
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>

                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red marright10 btn-sm ng-tns-c458-53" (click)="clear()">
                                                                <i class="fas fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getInvoiceIssued()"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>

                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <!-- <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div> -->
                </div>

            </div>
        </div>
        <!-- <div class="myleadsReport leadtopcouont promotionusercount leadtracker leadtrackerpage" [hidden]="FiltersData">
            <div class="wd50 leftpart duplicatecountbox full_part" *ngIf="organizationUnit == 1 || organizationUnit == 7">
                <ul class="pdrightxlzero">
                    <li><span>${{this.totalAmountOfInvoice}}</span><label> {{l("TotalAmount")}} </label></li>
                    <li><span>${{this.newtotalAmountReceived}}</span><label>{{l("AmountReceived")}}</label></li>
                    <li><span>${{this.newbalanceOwning}}</span><label> {{l("BalOwing")}} </label></li>
                </ul>
            </div>

            <div class="wd50 leftpart duplicatecountbox full_part" *ngIf="organizationUnit == 2 || organizationUnit == 8">
                <ul>
                    <li class="d-flex align-items-center justify-content-between" style="flex-direction:inherit !important; width:33%;">
                        <div>
                            <label>{{l("TotalAmount")}}</label>
                            <span>${{this.totalAmountOfInvoice}}</span>
                        </div>
                        <div class="mx-1 px-4" style="border:1px solid #ddd; border-width:0 1px;">
                            <label>{{l("AmountReceived")}}</label>
                            <span>${{this.newtotalAmountReceived}}</span>
                        </div>
                        <div>
                            <label>{{l("BalOwing")}}</label>
                            <span>${{this.newbalanceOwning}}</span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-between red" style="flex-direction:inherit !important; width:33%;">
                        <div>
                            <label>{{l("CustAmount")}}</label>
                            <span>${{this.totalCustAmountOfInvoice}}</span>
                        </div>
                        <div class="mx-1 px-4" style="border:1px solid #ddd; border-width:0 1px;">
                            <label>{{l("AmountReceived")}}</label>
                            <span>${{this.totalCustAmountReceived}}</span>
                        </div>
                        <div>
                            <label>{{l("BalOwing")}}</label>
                            <span>${{this.totalCustBAlOwning}}</span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-between yellow" style="flex-direction:inherit !important; width:33%;">
                        <div>
                            <label>{{l("VICAmount")}}</label>
                            <span>${{this.totalVICAmountOfInvoice}}</span>
                        </div>
                        <div class="mx-1 px-4" style="border:1px solid #ddd; border-width:0 1px;">
                            <label>{{l("AmountReceived")}}</label>
                            <span>${{this.totalVICAmountReceived}}</span>
                        </div>
                        <div>
                            <label>{{l("BalOwing")}}</label>
                            <span>${{this.totalVICBAlOwning}}</span>
                        </div>
                    </li>
                </ul>
            </div>

        </div> -->

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.WholeSale.Invoice.EnableCopyPaste' | permission)}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                                <!-- <img [src]="appRootUrl() + 'assets/common/images/pagi_nextactive.svg'" alt=""
                                    (click)="expandGrid()" /> -->
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getInvoiceIssued($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth p-frozen-column" [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Verify','Pages.Tracker.InvoiceTracker.Notify','Pages.Tracker.InvoiceTracker.SMS','Pages.Tracker.InvoiceTracker.Email','Pages.Tracker.InvoiceTracker.QuickView')">
                                            {{l('Actions')}}</th>
                                        <th style="width:150px; left:95px !important;" class="p-frozen-column">
                                            {{l('Invoice Number')}}
                                        </th>
                                        <th style="width:200px" [hidden]="!ExpandedView">
                                            {{l('Customer Name')}}
                                        </th>
                                        <th style="width:150px" [hidden]="!ExpandedView">
                                            {{l('Invoice Type')}}
                                        </th>
                                        <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('Location')}}
                                        </th>
                                        <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('Job Type')}}
                                        </th>
                                        <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('Reference No')}}
                                        </th>
                                        <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('STC Id')}}
                                        </th>
                                        <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('No of STC')}}
                                        </th>
                                        <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('Delivery Type')}}
                                        </th>
                                        <!-- <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('Quantity')}}
                                        </th> -->
                                        <!-- <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('Kw')}}
                                        </th> -->
                                        <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('Expected Delivery')}}
                                        </th>
                                        <!-- <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('Deduct Date')}}
                                        </th>
                                        <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('Deduct By')}}
                                        </th> -->
                                        <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('Invoice Amount')}}
                                        </th>
                                        <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('Freight Charges')}}
                                        </th>
                                        <!-- <th style="width:120px" [hidden]="!ExpandedView">
                                            {{l('Emp Name')}}
                                        </th>
                                        
                                        <th style="width:200px" [hidden]="!ExpandedView">
                                            {{l('Comments')}}
                                        </th>
                                        <th style="width:180px" [hidden]="!ExpandedView">
                                            {{l('Next Followup')}}
                                        </th>
                                        <th style="width:200px" [hidden]="!ExpandedView">
                                            {{l('Descriprion')}}
                                        </th> -->
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.leadId}">
                                        <td class="actionwidth p-frozen-column" style="text-align:Center;" [hidden]="!isGrantedAny('Pages.Tracker.InvoiceIssuedTracker.Verify','Pages.Tracker.InvoiceIssuedTracker.Notify','Pages.Tracker.InvoiceIssuedTracker.SMS','Pages.Tracker.InvoiceIssuedTracker.Email','Pages.Tracker.InvoiceIssuedTracker.QuickView')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceIssuedTracker.QuickView')">
                                                        <a href="javascript:;" (click)="EditInvoice(record.wholesaleInvoiceDto.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.DataVaults.InstallationCost.InstallationItemList.Delete')" (click)="delete(record.wholesaleInvoiceDto)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>


                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceIssuedTracker.QuickView')">
                                                        <a href="javascript:;" (click)="showInvoiceDetails()">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a (click)="taxInvoice(record.job.id)">
                                                            <i class="las la-file-invoice-dollar"></i> {{l('Wholesale Invoice')}}
                                                        </a>
                                                        <a (click)="paymentReceipt(record.job.id)">
                                                            <i class="las la-receipt"></i> {{l('Wholesale Payment Receipt')}}
                                                        </a>
                                                    </li>
                                                    <!-- <li>
                                                        <a (click)="viewpaymentdetail.show(record.job.id)">
                                                            <i class="las la-file-invoice"></i> View Payment
                                                        </a>
                                                    </li> -->

                                                    <li >
                                                        <a (click)="addActivityModal.show(record.leadId,9,0,9)">
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <!-- <li >
                                                        <a href="javascript:;" (click)="showReminder()">
                                                            <i class="las la-history"></i> {{l('ActionReminder')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a href="javascript:;" (click)="showComment()">
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a href="javascript:;" (click)="showToDo()">
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" (click)="showSMS()">
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a href="javascript:;" (click)="showEmail()">
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li> -->
                                                    <li >
                                                        <a href="javascript:;" (click)="InvoiceDocUpload()">
                                                            <i class="las la-file-upload"></i> {{l('Document Upload')}}
                                                        </a>
                                                    </li>
                                                </ul> 
                                            </div>
                                        </td>
                                        <td style="width:150px; left:95px !important;" [hidden]="!ExpandedView" class="p-frozen-column">
                                            <span class="badge badge-secondary">{{record.wholesaleInvoiceDto.invoiceNo}}</span>
                                        </td>
                                        <!-- <td style="width: 230px;" class="p-frozen-column" (click)="navigateToLeadDetail(record.createOrEditWholeSaleLeadDto.id);">
                                            <span class="ui-column-title"> {{l('Full Name')}}</span> {{record.createOrEditWholeSaleLeadDto.firstName }} {{record.createOrEditWholeSaleLeadDto.lastName }}
                                        </td> -->
                                        
                                         <td style="width:200px;">
                                            {{record.customerName}}
                                        </td> 
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.wholesaleInvoiceDto.invoiceType}}
                                        </td>
                                     
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.location}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.jobType}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.wholesaleInvoiceDto.reference}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.wholesaleInvoiceDto.stcid}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.wholesaleInvoiceDto.noOfSTC}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.wholesaleInvoiceDto.deliveryOptions}}
                                        </td>
                                        <!-- <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.wholesaleInvoiceDto.reference}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            6.6
                                        </td> -->
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                           {{record.wholesaleInvoiceDto.deliveryDate | momentFormat: 'DD-MM-YYYY' }}
                                        </td>
                                        <!-- <td style="width:120px" [hidden]="!ExpandedView">
                                            05-01-2023 12:19:00
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            karnav
                                        </td> -->
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            <span class="badge badge-success">$ {{record.wholesaleInvoiceDto.invoiceAmount}}</span>
                                        </td>
                                        <td style="width:120px;" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">$ {{record.wholesaleInvoiceDto.actualFreigthCharges}}</span>
                                        </td>
                                        <!-- <td style="width:120px" [hidden]="!ExpandedView">
                                            Abhay
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            -
                                        </td>
                                      
                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            05-01-2023 12:19:00
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            -
                                        </td> -->
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getInvoiceIssued($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <InvoiceDetailModal #InvoiceDetailModal></InvoiceDetailModal>
        <EditInvoiceModal #EditInvoiceModal></EditInvoiceModal>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <viewpaymentdetail #viewpaymentdetail></viewpaymentdetail>
        <addActivityModal #addActivityModal (modalSave)="reloadPage()"></addActivityModal>
        <editJobInvoiceModal #editJobInvoiceModal (modalSave)="getInvoiceIssued()"></editJobInvoiceModal>
        <invoiceIssuedpaymentSmsEmailModel #invoiceIssuedpaymentSmsEmailModel (modalSave)="getInvoiceIssued()">
        </invoiceIssuedpaymentSmsEmailModel>
        <InvoiceDocumentUploadModal #InvoiceDocumentUploadModal></InvoiceDocumentUploadModal>
        <wholeSaleSMSEmailModal #wholeSaleSMSEmailModal></wholeSaleSMSEmailModal>
        <wholeSaletodoModal #wholeSaletodoModal></wholeSaletodoModal>
        <wholeSaleReminderModal #wholeSaleReminderModal></wholeSaleReminderModal>
        <wholeSaleNotifyCommentModal #wholeSaleNotifyCommentModal></wholeSaleNotifyCommentModal>

    </div>
</div>