<div appBsModal #InvoiceDocumentUploadModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Document Upload")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-bg-gray">

                <div class="modal-white-box">
                    <div class="white-file-upload">
                        <input type="file" #myInput multiple accept=".pdf" />
                    </div>
                </div>

                <div class="modal-white-box">
                    <div class="secondary-grid tablebodyscroll">
                        <table class="table ui-table-scrollable-header-table">
                            <thead class="ui-table-thead brdnone">
                                <tr>
                                    <th>File</th>
                                    <th class="text-center" style="width:120px;">Download</th>
                                    <th class="text-center" style="width:120px;">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Company Document</td>
                                    <td class="text-center" style="width:120px;">
                                        <a href="javascript:;" class="btndownloaddocument"><i class="las la-file-download fs-24"></i></a>
                                    </td>
                                    <td class="text-center" style="width:120px;">
                                        <a href="javascript:;" class="btndownloaddocument"><i class="las la-trash fs-24 text-danger"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
            </div>
        </div>
    </div>
</div>