<div appBsModal #InvoiceDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Invoice Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-bg-gray">
                <!-- CUSTOMER SECTION DETAILS STARTS -->
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between mb-4">
                        <span><i class="las la-user-alt fs-30 mr-2"></i>Customer Details</span>
                        <span>
                            <a target="_blank" class="d-flex align-items-center text-primary fs-14" href="">
                                <i class="las la-map-marker-alt fs-24 mr-1"></i><span style="font-weight: 500;">Show in map</span>
                        </a>
                        </span>
                    </h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Organization Name")}} : </span><span> Arise Solar LLP.</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Full Name")}} : </span><span>Nilesh Dhimar</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Mobile")}} : </span><span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">9898545454</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Telephone")}} : </span><span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">9898545454</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Email")}} : </span><span class="">nileshdhimar@gmail.com</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("ABN")}} : </span><span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">AB01020304</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Customer Type")}} : </span><span class="badge badge-pill badge-primary" style="display: inline-block; width: auto; font-weight: 600;">Wholesale</span></h6>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- CUSTOMER SECTION DETAILS ENDS -->


                <!-- Address DETAILS STARTS -->
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between mb-4">
                        <span><i class="las la-info-circle fs-30 mr-2"></i>Other Details</span>
                    </h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Invoice Type")}} : </span><span> Sales Invoice</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Invoice No.")}} : </span><span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">INV025486</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("XERO ID")}} : </span><span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">XRO12564</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("STC ID")}} : </span><span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">STC20258</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Store Location")}} : </span><span>QLD</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Delivery Options")}} : </span><span>-</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Transport Type")}} : </span><span>-</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Invoice Amount")}} : </span>
                                        <span class="badge badge-pill badge-success d-flex align-items-center" style="width: auto;"><i class="fas fa-dollar-sign fs-16 mr-1"></i><span style="font-weight: 600;">10,000.00</span></span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Frage Charges")}} : </span>
                                        <span class="badge badge-pill badge-secondary d-flex align-items-center" style="width: auto;"><i class="fas fa-dollar-sign fs-16 mr-1"></i><span style="font-weight: 600;">500.00</span></span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Address DETAILS ENDS -->

                <!-- Address DETAILS STARTS -->
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between mb-4">
                        <span><i class="las la-map-marker fs-30 mr-2"></i>Address Details</span>
                    </h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Street No.")}} : </span><span> 38</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Street Name.")}} : </span><span> HAMELIN</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Street Type")}} : </span><span> Street type</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Suburb")}} : </span><span> BENTLEY PARK</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("State")}} : </span><span> QLD</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Post Code")}} : </span><span> 4869</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Address DETAILS ENDS -->

                <!-- Product Details -->
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between mb-4">
                        <span><i class="las la-info-circle fs-30 mr-2"></i>Product Details</span>
                    </h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="secondary-grid vscrollbar" style="max-height: 300px; overflow-y: auto;">
                                <table class="table table_blck">
                                    <thead>
                                        <tr>
                                            <th>Product Category</th>
                                            <th>Product Name</th>
                                            <th>Model Name</th>
                                            <th style="text-align: center;">Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="ng-star-inserted" style="">
                                            <td>Module</td>
                                            <td>Jinko 415kw Tiger Neo N-Type (JKM415N-54HL4-V)</td>
                                            <td>JKM415N-54HL4-V</td>
                                            <td style="text-align: center;">16</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Product Details -->

                <!-- Notes STARTS -->
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between mb-4">
                        <span><i class="las la-sticky-note fs-30 mr-2"></i>Additional Notes</span>
                    </h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-12">
                                    -
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Notes ENDS -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
            </div>
        </div>
    </div>
</div>