<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap' rel='stylesheet'>
</head>

<style>
    body {
        font-size: 13px !important;
    }
    
    .form-control-chk {
        font-family: system-ui, sans-serif;
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 1.2em;
    }
    
    .form-control-chk+.form-control-chk {
        margin-top: 1em;
    }
    
    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        /* Remove most all native input styles */
        appearance: none;
        /* For iOS < 15 */
        background-color: var(--form-background);
        /* Not removed via appearance */
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.50em;
        height: 1.50em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }
    
    input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: CanvasText;
    }
    
    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }
    
    input[type="checkbox"]:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
    }
    
    input[type="checkbox"]:disabled {
        --form-control-color: var(--form-control-disabled);
        color: var(--form-control-disabled);
        cursor: not-allowed;
    }
    
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    
    .data-container {
        width: 900px;
        padding: 0 20px;
        margin: 0 auto;
    }
    /*************** Common Classes ******************/
    
    .medium {
        font-weight: 500 !important;
    }
    
    .bold {
        font-weight: 700 !important;
    }
    
    .bolder {
        font-weight: 900 !important;
    }
    
    .f12 {
        font-size: 12px !important;
    }
    
    .f14 {
        font-size: 14px !important;
    }
    
    .f16 {
        font-size: 16px !important;
    }
    
    .f18 {
        font-size: 18px !important;
    }
    
    .f20 {
        font-size: 20px !important;
    }
    
    .mt15 {
        margin-top: 15px !important
    }
    
    .mt20 {
        margin-top: 20px !important
    }
    
    .mb10 {
        margin-bottom: 10px !important;
    }
    
    .mb15 {
        margin-bottom: 15px !important;
    }
    
    .mb5 {
        margin-bottom: 5px !important;
    }
    
    .mt10 {
        margin-top: 10px !important;
    }
    /*************** Common Ends ******************/
    
    .pdf_header {
        width: 880px;
        padding: 15px 10px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
    }
    
    .pdf_header_line {
        display: flex;
        height: 4px;
        width: 100%;
    }
    
    .pdf_header_line .yellow_line {
        height: 4px;
        width: 450px;
        background: #FEC95E;
    }
    
    .pdf_header_line .blue_line {
        height: 4px;
        width: 450px;
        background: #078BCC;
    }
    
    .header_abn {
        border-radius: 20px;
        background: #078BCC;
        border: 1px solid #078BCC;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        padding-left: 15px;
    }
    
    .header_abn span {
        background: #fff;
        color: #000;
        border-radius: 0 20px 20px 0;
        margin-left: 15px;
        padding: 8px 12px;
    }
    
    .pdf_address_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .pdf_address_box .sign_items {
        margin: 0 5px;
        width: 100%;
    }
    
    .pdf_address_box .sign_items .sign_box {
        border-bottom: 1px solid #ccc;
        padding: 5px 0;
        height: 70px;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-weight: 600;
    }
    
    .pdf_address_box .sign_items .box_label {
        text-align: center;
        padding: 5px 0;
        font-weight: 600;
    }
    
    .pdf_footer_box {
        display: flex;
        padding: 25px;
        align-items: center;
        justify-content: space-between;
        background: #078BCC;
        color: #fff;
        margin-top: 25px;
    }
    
    .pdf_footer_box .pdf_address_box {
        text-align: center;
        margin: 0 5px;
        display: block;
    }
    
    .pdf_footer_box .pdf_address_box h3 {
        display: block;
        font-size: 0.8rem;
        margin: 0 0 5px;
        padding: 0;
    }
    
    .pdf_footer_box .pdf_address_box p {
        line-height: 20px;
        padding: 0;
        margin: 0;
    }
    
    .pdf_main_data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .pdf_main_data .pdf_left_box {
        width: 100%;
    }
    
    .pdf_main_data .pdf_right_table {
        width: 23%;
    }
    
    .logo_img {
        width: 320px;
    }
    
    .pdf_banner_img {
        max-height: 250px;
        margin: 20px auto;
    }
    
    .chart_img {
        border-radius: 10px;
        width: 870px;
        margin: 0 auto;
        overflow: hidden;
        box-shadow: 0 0 10px #00000040;
    }
    
    .pdf_bottom_tags {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
        font-size: 0.7rem;
        font-weight: 600;
    }
    
    .tags {
        background: #e1e1ef;
    }
    
    @media (max-width: 768px) {
        html,
        body {
            overflow-x: hidden;
        }
        section {
            padding: 0 15px;
        }
        .data-container {
            width: auto;
            padding: 0;
        }
        .pdf_header {
            width: 100%;
            flex-direction: column;
            padding: 10px 0;
        }
        .logo_img {
            width: 250px;
        }
        .header_abn {
            margin-top: 15px;
        }
        .pdf_header_line .blue_line,
        .pdf_header_line .yellow_line {
            width: 50%;
        }
        .pdf_main_data {
            flex-direction: column;
        }
        .pdf_main_data .pdf_left_box,
        .pdf_main_data .pdf_right_table {
            width: 100%;
        }
        .pdf_main_data .pdf_right_table {
            margin-top: 15px
        }
        .chart_img {
            width: 95%;
        }
        .pdf_address_box,
        .pdf_footer_box {
            flex-direction: column;
        }
        .pdf_address_box .sign_items,
        .pdf_footer_box .pdf_address_box {
            width: 95%;
            margin: 10px;
        }
        .pdf_bottom_tags {
            flex-direction: column;
        }
    }
    
    @media (min-width: 768px) {
        body {
            background: #fff;
            color: #000;
            font-size: 13px !important;
        }
    }
    
    .kt-login.kt-login--v1 .kt-login__wrapper {
        background: #fff !important;
    }
</style>

<div [@routerTransition]>
    <div class='wrapper' style='overflow:hidden; background:#fff; height:auto !important;'>
        <div class='data-container'>
            <!-- HEADER STARTS -->
            <div class="pdf_header">
                <img [src]="appRootUrl() + 'assets/common/images/logo_arise.svg'" class="logo_img">
                <div class="header_abn"><img [src]="appRootUrl() + 'assets/common/images/phone-call.png'" style="max-height:20px;"><span>1300 274 737</span></div>
            </div>
            <div class="pdf_header_line">
                <div class="blue_line"></div>
                <div class="yellow_line"></div>
            </div>
            <!-- HEADER ENDS -->

            <!-- MIDDLE CONTENT STARTS -->
            <div style="text-align: center;"><img src="https://thesolarproduct.com/assets/common/images/banner.png" class="pdf_banner_img"></div>
            <section>
                <h1 style="text-align:center; margin:20px 0 10px; font-size:1.4rem;">Shading Declaration</h1>
                <p style="text-align:center; margin:0 0 25px; font-size:0.8rem; font-weight:500;">(for properties with risk of shading)</p>
            </section>
            <section style="padding:40px 20px; background:#eefaff;">
                <div class="pdf_main_data">
                    <div class="pdf_left_box">
                        <div style="text-align:justify; line-height: 18px;">
                            <strong>I,</strong> the customer, acknowledge that part (or whole) of the solar system installed at the property, will not produce at full capacity due to shading issues identified at the property and choose to continue with
                            installation at my own request.<br><br>
                            <strong>I,</strong> the customer, agree with the install location of all equipment such as solar panel(s), inverter(s), internal and external cables and conduits<br><br>
                            <strong>I,</strong> the customer, acknowledge and agree that Arise Solar will not be liable for any compensation if the system cannot perform at full capacity when the cause is in anyway related to the shading issues identified
                            at the property.
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="pdf_address_box">
                    <div class="sign_items">
                        <div class="sign_box">
                            <!-- {{A.Name}} -->
                        </div>
                        <div class="box_label">Name (known as "the customer")</div>
                    </div>
                    <div class="sign_items">
                        <div class="sign_box">
                            <!-- <img src="{{A.CustomerSign.SignSrc}}" style="max-height:100px;"> -->
                        </div>
                        <div class="box_label">Signature</div>
                    </div>
                    <div class="sign_items">
                        <div class="sign_box">
                            <!-- {{A.CustomerSign.Date}} -->
                        </div>
                        <div class="box_label">Date</div>
                    </div>
                </div>
                <div style="margin-top:25px;">
                    <div style="border-bottom:1px solid #ccc; padding:5px; ">
                        <!-- {{A.AddressLine1}} {{A.AddressLine2}} -->
                    </div>
                    <div style="font-weight:600; padding-top:5px;">Address<br>(known as “the property”)</div>
                </div>
            </section>

            <section class="pdf_bottom_tags">
                <div class="tags" style="padding:5px 10px;  border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                    <span>Captured IP Address: </span>
                    <span style="font-weight:700">{{ipAddress}}</span>
                </div>
                <div class="tags" style="padding:5px 10px; border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                    <span>Latitude: </span>
                    <span style="font-weight:700">{{lat}}</span>
                </div>
                <div class="tags" style="padding:5px 10px; border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                    <span>Longitide: </span>
                    <span style="font-weight:700">{{lng}}</span>
                </div>
            </section>

            <div class="pdf_footer_box">
                <div class="pdf_address_box">
                    <h3>QUEENSLAND</h3>
                    <p>Level 6/140 Creek St<br>Brisbane, QLD 4000</p>
                </div>
                <div class="pdf_address_box">
                    <h3>VICTORIA</h3>
                    <p>Level 13/114 William St<br>Melbourne, VIC 3000</p>
                </div>
                <div class="pdf_address_box">
                    <h3>NEW SOUTH WALES</h3>
                    <p>Level 13/50 Carrington St<br>Sydney NSW 2000</p>
                </div>
                <div class="pdf_address_box">
                    <h3>SOUTH AUSTRALIA</h3>
                    <p>Unit 2/12-14 Tikalara St<br>Regency Park SA 5010</p>
                </div>
            </div>

            <div style="padding:10px 0; text-align:center; background:#FEC95E; font-size:0.9rem; font-weight: 600;">ABN: 32 168 697 907</div>


            <!-- MIDDLE CONTENT ENDS -->


            <!-- THANKS MSSAEGE STARTS -->
            <section class="white-bg">
                <div style="text-align:center; margin:0 0;">
                    <img src="https://thesolarproduct.com/assets/common/images/submit.jpg" style="width:95%;">
                </div>
                <div style="text-align:center; font-size:40px; font-weight:bold; margin:0 0 20px;">Thank You!</div>
                <div style="text-align:center; font-size:20px; margin:20px 0;">You have successfully signed the documents !!</div>
            </section>
            <!-- THANKS MESSAGE STARTS -->
            <!-- ALREADY SIGNED STARTS -->
            <section class="white-bg" style="padding:60px 0; display:flex; flex-direction:column; align-items: center;">
                <div style="text-align:center; margin:0 0;">
                    <img src="https://thesolarproduct.com/assets/common/images/banner-img.png">
                </div>
                <div style="text-align:center; font-size:24px; margin:50px 0 0; font-weight:bold;">You have already signed the <br>
                    <!-- {{Page}}. -->
                </div>
            </section>
            <!-- ALREADY SIGNED ENDS -->
            <!-- EXPIRE MESSAGE STARTS -->
            <section class="white-bg" style="padding:50px 0;">
                <div style="text-align:center; margin:0 0;">
                    <img src="https://thesolarproduct.com/assets/common/images/link-expired.jpg" style="width:95%;">
                </div>
                <div style="text-align:center; font-size:18px; margin:40px 0 0; font-weight:bold;">Sorry, Your Link Has Expired Please Request New Link Again.</div>
            </section>
            <!-- EXPIRE MESSAGE ENDS -->
        </div>
    </div>
</div>