chat-bar.kt-quick-panel .kt-badge.kt-badge--warning {
  color: #fff;
  background: #ffb822;
  font-weight: bold;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  padding: 0px 0px 2px;
}
chat-bar.kt-quick-panel a.quick-panel-action-button {
  width: 28px !important;
  height: 28px !important;
  background-color: #f7f8fa !important;
  -webkit-transition: all 0.3s !important;
  transition: all 0.3s !important;
  text-align: center !important;
}
chat-bar.kt-quick-panel a.quick-panel-action-button:hover {
  background-color: #1A73E8 !important;
}
chat-bar.kt-quick-panel a.quick-panel-action-button.quick-sidebar-back {
  position: absolute;
  top: 1rem;
  display: inline-block;
  padding-top: 6px;
  left: 5px;
}
chat-bar.kt-quick-panel a.quick-panel-action-button.quick-sidebar-back:hover {
  color: #fff;
}
chat-bar.kt-quick-panel .kt-quick-panel__content {
  padding-top: 3rem !important;
}
chat-bar.kt-quick-panel .kt-quick-panel__content .kt-portlet {
  box-shadow: none;
  -webkit-box-shadow: none;
}
chat-bar.kt-quick-panel .kt-quick-panel__content .kt-portlet span.kt-chat__status small {
  margin-left: 2px;
}
chat-bar.kt-quick-panel #SearchChatUserButton {
  margin-top: 5px;
}
chat-bar.kt-quick-panel .kt-badge--online {
  background-color: #0abb87;
}
chat-bar.kt-quick-panel .kt-badge--offline {
  background-color: #cfcedb;
}
#UnreadChatMessageCount {
  margin-top: 14px;
}
@media (max-width: 1024px) {
  #UnreadChatMessageCount {
    margin-top: -15px;
    margin-left: -15px;
  }
}
#kt_quick_sidebar_back i.la-arrow-circle-left {
  color: #cfcedb;
  text-decoration: none;
}
#kt_quick_sidebar_back i.la-arrow-circle-left:hover {
  color: #716aca !important;
}
div.selected-chat-user {
  margin: 10px;
  padding-bottom: 5px;
  display: block;
  padding-right: 5px;
}
div.selected-chat-user div.selected-chat-user-image {
  display: inline-block;
}
div.selected-chat-user div.selected-chat-user-image img {
  display: inline-block;
  width: 40px;
}
div.selected-chat-user h6 {
  display: inline-block;
  margin-left: 5px;
}
div.selected-chat-user div.actions {
  display: inline-block;
  float: right;
  padding-top: 5px;
}
div.selected-chat-user div.actions a.btn-sm {
  padding: 6px 26px 6px 10px !important;
  width: 50px;
}
#friendListFriends .m-badge.m-badge--warning {
  color: white !important;
  float: right;
}
.kt-messenger__message--out .kt-messenger__message-username {
  text-align: right !important;
}
.chat-progress-bar {
  display: none;
}
.chat-image-preview {
  width: 235px;
  margin-top: 5px;
}
.chat-file-preview {
  margin-top: 15px;
  text-align: left;
  padding: 5px;
  background-color: #625dbb;
  display: block;
  color: #d9d9d9;
}
.chat-file-preview i.la-file {
  margin-right: 2px;
}
.chat-file-preview i.la-download {
  margin-top: 2px;
}
.chat-file-preview:hover {
  color: #fff;
}
.chat-file-preview:hover i {
  text-decoration: none;
}
.chat-link-message {
  display: block;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  margin-top: 15px;
  text-align: left;
  padding: 5px;
  background-color: #3598dc;
  color: #f7f7f7;
}
.chat-progress-bar {
  display: none;
}
.kt-messenger-friends .m-list-search__result-category {
  margin-top: 10px !important;
}
.slimScrollBar {
  width: 2px !important;
  background-color: lightgray !important;
}
#kt_quick_sidebar_close {
  cursor: pointer;
}
/* Quick Sidebar Pinner */
.kt-quick-panel--on a.page-quick-sidebar-pinner {
  display: inline-block !important;
}
a.page-quick-sidebar-pinner {
  overflow: hidden;
  z-index: 99999;
  width: 28px;
  height: 27px;
  position: fixed;
  top: 1rem;
  right: 50px;
  text-align: center;
  padding-top: 6px;
  display: none;
}
@media (max-width: 767px) {
  a.page-quick-sidebar-pinner {
    right: 40px;
    top: 0.5rem;
  }
}
a.page-quick-sidebar-pinner:hover {
  color: #fff;
}
@media (min-width: 767px) {
  .kt-quick-sidebar__close {
    display: none;
  }
}
.toast-chat-open {
  right: 460px;
  bottom: 12px;
}
/*Stlye for Chat Buttons */
.kt_chat__tools .ui-button {
  display: block;
  margin: 0;
  text-align: left;
  border-radius: 0;
  transition: none !important;
}
.kt_chat__tools button.ui-fileupload-choose {
  padding: 0.571em 1em;
}
.kt_chat__tools span.pi-plus {
  margin-left: -10px;
}
.kt_chat__tools span.fa-link {
  font-size: 1.1rem !important;
  margin-left: 7px;
}
.ui-fileupload-choose.ui-button,
.ui-fileupload-choose.ui-button .ui-widget,
.ui-fileupload-choose.ui-button .ui-state-default {
  background-color: #fff;
  color: #6f6f6f;
}
.ui-fileupload-choose.ui-button.ui-state-hover,
.ui-fileupload-choose.ui-button.ui-state-focus,
.ui-fileupload-choose.ui-button.ui-state-active {
  background-color: #eee;
}
.kt_chat__tools a:hover span.ui-button {
  background-color: #f4f5f8 !important;
}
.kt_chat__tools .ui-fileupload-choose:not(.ui-state-disabled) {
  border: none;
}
.kt_chat__tools .ui-fileupload-choose:not(.ui-state-disabled):hover,
.kt_chat__tools .ui-fileupload-choose:not(.ui-state-disabled):focus,
.kt_chat__tools .ui-fileupload-choose:not(.ui-state-disabled):active {
  background-color: #f4f5f8 !important;
  color: black;
  box-shadow: none !important;
  border: none;
}
.kt_chat__tools .chat-link-button {
  width: 100%;
  border: none !important;
  background-color: #fff !important;
}
.kt_chat__tools .chat-link-button:hover {
  background-color: #f4f5f8 !important;
}
.kt_chat__tools .chat-image-preview {
  width: 235px;
  margin-top: 5px;
}
.kt_chat__tools .chat-file-preview {
  margin-top: 15px;
  text-align: left;
  padding: 5px;
  background-color: #f0ad4e;
  display: block;
  color: #f7f7f7;
}
.kt_chat__tools .chat-link-message {
  display: block;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  margin-top: 15px;
  text-align: left;
  padding: 5px;
  background-color: #3598dc;
  color: #f7f7f7;
}
.chat-attachment-menu li a:hover button.chat-link-button,
.chat-attachment-menu li a:hover div.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
  background-color: #f4f5f8 !important;
}
.chat-attachment-menu li a.no-padding {
  padding: 0px !important;
}
.chat-attachment-menu li a span.fileinput-button {
  width: 100%;
}
.kt_chat__tools div.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
  border: none;
  background: #fff;
}
.kt_chat__tools div.ui-fileupload-content.ui-widget-content.ui-corner-bottom {
  display: none;
}
.kt_chat__tools div.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top:hover {
  background-color: #f4f5f8 !important;
}
div.kt-chat__text span {
  word-break: break-all;
}
