<div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kanban-dashboard">

        <div class="row" cdkDropListGroup>
            <div class="col-md-3" *ngFor="let f of fleet">
                <div class="drag-container {{f.class}}">
                    <div class="section-heading">{{f.item}}</div>
                    <div class="item-list" *ngIf="f.children" cdkDropList [cdkDropListData]="f.children" (cdkDropListDropped)="drop1($event)">
                        <div class="item-box" *ngFor="let item of f.children" cdkDrag>
                            <h4>{{item.item.itemTitle}}</h4>
                            <div class="sort-desc">{{item.item.itemDesc}}</div>
                            <div class="bottom-info d-flex align-items-center justify-content-between">
                                <span class="user-name">{{item.item.itemUser}}</span>
                                <span class="date">{{item.item.itemDate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="display:none;">
            <div class="col-md-3">
                <div class="drag-container blue">
                    <div class="section-heading">To Do</div>
                    <div cdkDropList #pendingList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[progressList,reviewList,doneList]" class="item-list" (cdkDropListDropped)="drop($event)">
                        <!-- <div class="item-box" cdkDrag>
                            <h4>Installer Update</h4>
                            <div class="sort-desc">Approved and documents received.</div>
                            <div class="bottom-info d-flex align-items-center justify-content-between">
                                <span class="user-name">RD</span>
                                <span class="date">17 Jan</span>
                            </div>
                        </div>
                        <div class="item-box" cdkDrag>
                            <h4>New Job Installation</h4>
                            <div class="sort-desc">Get date for new jon installation.</div>
                            <div class="bottom-info d-flex align-items-center justify-content-between">
                                <span class="user-name">ND</span>
                                <span class="date">17 Jan</span>
                            </div>
                        </div>
                        <div class="item-box" cdkDrag>
                            <h4>Installer Update</h4>
                            <div class="sort-desc">Approved and documents received.</div>
                            <div class="bottom-info d-flex align-items-center justify-content-between">
                                <span class="user-name">RD</span>
                                <span class="date">17 Jan</span>
                            </div>
                        </div>
                        <div class="item-box" cdkDrag>
                            <h4>New Job Installation</h4>
                            <div class="sort-desc">Get date for new jon installation.</div>
                            <div class="bottom-info d-flex align-items-center justify-content-between">
                                <span class="user-name">ND</span>
                                <span class="date">17 Jan</span>
                            </div>
                        </div> -->
                        <div class="item-box" *ngFor="let item of todo" cdkDrag>
                            <h4>{{item}}</h4>
                            <div class="sort-desc">Get date for new jon installation.</div>
                            <div class="bottom-info d-flex align-items-center justify-content-between">
                                <span class="user-name">ND</span>
                                <span class="date">17 Jan</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="drag-container yellow">
                    <div class="section-heading">In Progress</div>

                    <div cdkDropList #progressList="cdkDropList" [cdkDropListData]="progress" [cdkDropListConnectedTo]="[pendingList,doneList,reviewList]" class="item-list" (cdkDropListDropped)="drop($event)">
                        <div class="item-box" *ngFor="let item of progress" cdkDrag>
                            <h4>{{item}}</h4>
                            <div class="sort-desc">Get date for new jon installation.</div>
                            <div class="bottom-info d-flex align-items-center justify-content-between">
                                <span class="user-name">ND</span>
                                <span class="date">17 Jan</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="drag-container red">
                    <div class="section-heading">Testing</div>

                    <div cdkDropList #reviewList="cdkDropList" [cdkDropListData]="review" [cdkDropListConnectedTo]="[progressList,doneList,pendingList]" class="item-list" (cdkDropListDropped)="drop($event)">
                        <div class="item-box" *ngFor="let item of review" cdkDrag>
                            <h4>{{item}}</h4>
                            <div class="sort-desc">Get date for new jon installation.</div>
                            <div class="bottom-info d-flex align-items-center justify-content-between">
                                <span class="user-name">ND</span>
                                <span class="date">17 Jan</span>
                            </div>
                        </div>
                        <!-- <div class="item-box" *ngFor="let item of review" cdkDrag>{{item}}</div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="drag-container green">
                    <div class="section-heading">Done</div>

                    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[progressList,pendingList,reviewList]" class="item-list" (cdkDropListDropped)="drop($event)">
                        <div class="item-box" *ngFor="let item of done" cdkDrag>
                            <h4>{{item}}</h4>
                            <div class="sort-desc">Get date for new jon installation.</div>
                            <div class="bottom-info d-flex align-items-center justify-content-between">
                                <span class="user-name">ND</span>
                                <span class="date">17 Jan</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>