<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>


    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap' rel='stylesheet'>

    <title>Inline CSS Email</title>
</head>

<style>
    body {
        font-family: 'Roboto';
        margin: 0;
        padding: 0;
    }
table tbody, .kt-container--fluid .kt-portlet table tbody {background-color:transparent !important;}
table tr td {
white-space: normal !important;
}
</style>

<body>
    <div style="background-color:#F5F8FA;">
        <!-- Header starts -->
        <div style=" margin: 0 auto; width: 600px; min-width: 320px; padding:15px 0;">
            <table style="width:100%; border:0;">
                <tr>
                    <td style="background-color:transparent !important;"><img src='{{O.OrgLogo}}' style='max-width:200px;'></td>
                    <td style="text-align:right; background-color:transparent !important;">
                        <div style="padding:0 15px; background:#fff; display: inline-block; border-radius: 20px; font-weight:600; border:1px solid #E2EBF1; height:40px; line-height:40px; color:#1a1a1a; font-family: 'Montserrat', sans-serif; font-size:14px;">
                            Quotation No: <span style="font-weight:900">{{Q.JobNumber}}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!-- Header ends -->

        <div style=" margin: 0 auto; width: 538px; min-width: 320px; padding:30px 30px 15px; background-color: #fff; border:1px solid #E2EBF1; border-radius: 10px;;">
            <table style="width:100%; border:0;">
                <tr>
                    <td style="text-align:center;"><img src="https://thesolarproduct.com/assets/common/images/sm/header-image.png" style="height:180px;"></td>
                </tr>
                <tr>
                    <td style="height:20px;"> </td>
                </tr>
                <tr>
                    <td style="font-size:22px; font-weight:600; font-family: 'Montserrat', sans-serif; color:#000;">Dear {{Q.Cust.Name}}</td>
                </tr>
                <tr>
                    <td style="height:20px;"> </td>
                </tr>
                <tr>
                    <td style="text-align:left; font-size:14px; font-weight:normal; font-family: 'Montserrat', sans-serif; color:#1a1a1a; white-space: normal !important;">
                        <div style="font-size:14px; font-weight:normal; font-family: 'Montserrat', sans-serif; color:#1a1a1a; margin-bottom: 15px;">Thank you for moving forward towards a sustainable future, going Solar.</div>
                        <div style="font-size:14px; font-weight:normal; font-family: 'Montserrat', sans-serif; color:#1a1a1a; margin-bottom: 15px;">We are happy to share our best custom solar deal to you.</div>
                        <div style="font-size:14px; font-weight:normal; font-family: 'Montserrat', sans-serif; color:#1a1a1a; margin-bottom: 15px;"><strong>System:</strong> {{Q.PI.Capecity}} kW Premium Solar Package</div>
                        <div style="font-size:14px; font-weight:normal; font-family: 'Montserrat', sans-serif; color:#1a1a1a; margin-bottom: 15px;"><strong>Package Price: $ {{Q.PI.TCost}}</strong> Incl. GST</div>
                        <div style="font-size:14px; font-weight:normal; font-family: 'Montserrat', sans-serif; color:#1a1a1a; margin-bottom: 15px;"><strong>Includes:</strong></div>
                        <ul style="font-family: 'Montserrat', sans-serif; font-size:14px; margin:0 0 15px; ">
							{{Q.PI.AllproductItem}}
                        </ul>
                        <div style="font-size:14px; font-weight:normal; font-family: 'Montserrat', sans-serif; color:#1a1a1a; margin-bottom: 15px;"><strong>Local Warranties:</strong></div>
                        <ul style="font-family: 'Montserrat', sans-serif; font-size:14px; margin:0 0 15px; ">
                            <li style="font-family: 'Montserrat', sans-serif; font-size:14px; color:#1a1a1a; margin-bottom: 10px;">25 Years Linear Performance Warranty on Solar Panels</li>
                            <li style="font-family: 'Montserrat', sans-serif; font-size:14px; color:#1a1a1a; margin-bottom: 10px;">15 Years Product Warranty On Solar Panels</li>
                            <li style="font-family: 'Montserrat', sans-serif; font-size:14px; color:#1a1a1a; margin-bottom: 10px;">10 Years Product Warranty on Inverter (upon online registration)</li>

                        </ul>
                        <div style="font-size:14px; font-weight:normal; font-family: 'Montserrat', sans-serif; color:#1a1a1a; margin-bottom: 15px;">If you have any queries or need any clarification please do not hesitate to give me a quick call or drop an email.</div>
                        <div style="font-size:14px; font-weight:normal; font-family: 'Montserrat', sans-serif; color:#1a1a1a; margin-bottom: 25px;">We look forward to welcome you to {{O.OrgName}} - Family of Happy Customers
                        </div>

                        <div style="font-family: 'Montserrat', sans-serif; font-size:14px; color:#666; line-height: 20px; border-top:1px solid #E2EBF1; padding-top:20px;">
                            Kind Regards,<br><strong>{{Q.SolarAdviser.Name}}</strong><br>Solar Expert<br>{{Q.SolarAdviser.Mobile}}<br>{{Q.SolarAdviser.Email}}
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div style="font-family: 'Montserrat', sans-serif; font-size:12px; color:#666; line-height: 20px; padding:20px 0; text-align:center;">
            {{O.OrgName}}<br>{{O.OrgEmail}}<br>
            <div style="color:#000;"><strong>{{O.OrgPhone}}</strong></div>
        </div>


    </div>

</body>

</html>