<style>
    /* .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
        padding-top: 80px !important;
    }
     */
    
    .day-filter .dropdown-toggle::after {
        display: none;
    }
    
    .day-filter .btn {
        background: #fff !important;
        color: #5344ed !important;
        padding: 0 10px !important;
        height: 36px !important;
    }
    
    .day-filter .btn:hover {
        background: #5344ed !important;
        color: #fff !important;
    }
    
    .day-filter .movedd {
        inset: 100% auto auto -5px !important;
    }
    
    .day-filter .form-control {
        height: 36px !important;
        border-color: #5344ed !important;
    }
</style>

<div class="maindashboard">
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor ng-tns-c729-7">
        <div class="new-dashboard-block">
            <div class="d-flex align-items-center justify-content-between mb-4 day-filter">
                <h3 class="kt-subheader__title">Service Dashboard</h3>
                <div class="d-flex align-items-center">
                    <select class="form-control mr-2" style="width:150px !important">
                        <option>Nilesh Dhimar</option>
                        <option>Ravindra Gohel</option>
                    </select>
                    <div class="btn-group dropdown" dropdown>
                        <button class="dropdown-toggle btn btn-primary btn-primary btn-sm d-flex align-items-center" dropdownToggle>
                            Today: <span class="ml-1">{{ today }}</span> <i class="las la-calendar ml-3"></i>
                        </button>
                        <ul class="dropdown-menu movedd" *dropdownMenu>
                            <li><a href="javascript:;">Today</a></li>
                            <li><a href="javascript:;">Yesterday</a></li>
                            <li><a href="javascript:;">Last 7 Days</a></li>
                            <li><a href="javascript:;">Last 30 Days</a></li>
                            <li><a href="javascript:;">This Month</a></li>
                            <li><a href="javascript:;">Last Month</a></li>
                            <li><a href="javascript:;">Custom Range</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-2">
                    <div class="card-white border-secondary">
                        <div class="dcard-body column-record">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="mb-2 task-label">Unresolved</div>
                                    <h3 class="text-info lrg">360</h3>
                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                </div>
                                <div class="">
                                    <img [src]="appRootUrl() +'assets/common/images/tickets-unresolved.png'" alt="" style="max-height:45px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-white border-secondary">
                        <div class="dcard-body column-record">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="mb-2 task-label">Overdue</div>
                                    <h3 class="text-info lrg">127</h3>
                                </div>
                                <div class="">
                                    <img [src]="appRootUrl() +'assets/common/images/main-ticket.png'" alt="" style="max-height:45px; opacity: 0.5;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-white border-secondary">
                        <div class="dcard-body column-record">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="mb-2 task-label">Due Today</div>
                                    <h3 class="text-info lrg">4</h3>
                                </div>
                                <div class="">
                                    <img [src]="appRootUrl() +'assets/common/images/main-ticket.png'" alt="" style="max-height:45px; opacity: 0.5;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-white border-secondary">
                        <div class="dcard-body column-record">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="mb-2 task-label">Open</div>
                                    <h3 class="text-info lrg">350</h3>
                                </div>
                                <div class="">
                                    <img [src]="appRootUrl() +'assets/common/images/ticket-open.png'" alt="" style="max-height:45px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-white border-secondary">
                        <div class="dcard-body column-record">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="mb-2 task-label">On Hold</div>
                                    <h3 class="text-info lrg">10</h3>
                                </div>
                                <div class="">
                                    <img [src]="appRootUrl() +'assets/common/images/ticket-hold.png'" alt="" style="max-height:45px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="card-white border-secondary">
                        <div class="dcard-body column-record">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="mb-2 task-label">Unassigned</div>
                                    <h3 class="text-info lrg">0</h3>
                                </div>
                                <div class="">
                                    <img [src]="appRootUrl() +'assets/common/images/main-ticket.png'" alt="" style="max-height:45px; opacity: 0.5;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-3">
                    <div class="card-white border-primary">
                        <div class="dcard-body column-record">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="mb-2 task-label">Account & Billing</div>
                                    <h3 class="text-info lrg">360</h3>
                                </div>
                                <div class="">
                                    <img [src]="appRootUrl() +'assets/common/images/icon-account.png'" alt="" style="max-height:50px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-white border-primary">
                        <div class="dcard-body column-record">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="mb-2 task-label">Installation</div>
                                    <h3 class="text-info lrg">360</h3>
                                </div>
                                <div class="">
                                    <img [src]="appRootUrl() +'assets/common/images/icon-install.png'" alt="" style="max-height:50px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-white border-primary">
                        <div class="dcard-body column-record">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="mb-2 task-label">Sales</div>
                                    <h3 class="text-info lrg">360</h3>
                                </div>
                                <div class="">
                                    <img [src]="appRootUrl() +'assets/common/images/icon-sales.png'" alt="" style="max-height:50px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-white border-primary">
                        <div class="dcard-body column-record">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <div class="mb-2 task-label">Service</div>
                                    <h3 class="text-info lrg">360</h3>
                                </div>
                                <div class="">
                                    <img [src]="appRootUrl() +'assets/common/images/icon-services.png'" alt="" style="max-height:50px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="card-white no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-calendar-day fs-30 mr-2 text-primary"></i><span>Today's Trends</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body">
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <img [src]="appRootUrl() +'assets/common/images/graph.jpg'" alt="" style="width:auto;">
                                </div>
                                <div class="col-md-4">
                                    <div class="row graph-count">
                                        <div class="col-md-6">
                                            <div class="counts">
                                                <h4>Resolved<br><span>10</span></h4>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="counts">
                                                <h4>Received<br><span>6</span></h4>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="counts">
                                                <h4>Average first response time<br><span>3h 44m</span></h4>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="counts">
                                                <h4>Average response time<br><span>10h 58m</span></h4>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="counts">
                                                <h4>Resolution within SLA<br><span>100%</span></h4>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="card-white no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-calendar-day fs-30 mr-2 text-primary"></i><span>Today's Followup</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body">
                            <div class="dashboard-block-grid scrollbar-dashboard" id="style-4">
                                <div class="force-overflow">
                                    <table class="table mb-0 table-hover">
                                        <tr>
                                            <th style="width:230px;">Name</th>
                                            <th style="width:140px; text-align:center;">Lead Status</th>
                                            <th style="width:140px; text-align:center;">Lead Source</th>
                                            <th>Comment</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="mr-3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'" style="height:28px;">
                                                    <div>
                                                        Jill Lihou<br>
                                                        <span class="badge badge-secondary mt-1">9898545454</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:center;"><span class="badge badge-secondary blue">UnHandled</span></td>
                                            <td style="text-align:center;"><span class="badge badge-warning">TV</span></td>
                                            <td>Not received - call back!! </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="mr-3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'" style="height:28px;">
                                                    <div>
                                                        Robert Barnbrook<br>
                                                        <span class="badge badge-secondary mt-1">0437977636</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:center;"><span class="badge badge-secondary blue">Assigned</span></td>
                                            <td style="text-align:center;"><span class="badge badge-secondary blue">Lead 1</span></td>
                                            <td>Not received - call back!! </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="mr-3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'" style="height:28px;">
                                                    <div>
                                                        Amber Palmer<br>
                                                        <span class="badge badge-secondary mt-1">0437977636</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:center;"><span class="badge badge-secondary blue">Cold</span></td>
                                            <td style="text-align:center;"><span class="badge badge-primary">Lead 2</span></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="mr-3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'" style="height:28px;">
                                                    <div>
                                                        Chrill Miller<br>
                                                        <span class="badge badge-secondary mt-1">0437977636</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:center;"><span class="badge badge-danger">Cancled</span></td>
                                            <td style="text-align:center;"><span class="badge badge-primary">Lead 2</span></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <img class="mr-3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'" style="height:28px;">
                                                    <div>
                                                        George Blackwell<br>
                                                        <span class="badge badge-secondary mt-1">0437977636</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align:center;"><span class="badge badge-secondary blue">Assigned</span></td>
                                            <td><span class="badge badge-primary">Lead 1</span></td>
                                            <td>
                                                <div>12thDec- Convinced to pay 100 now, Rest after installation</div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card-white no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-chart-area fs-30 mr-2 text-primary"></i><span>Lead Status Details</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body">
                            <div class="dashboard-block-grid scrollbar-dashboard" id="style-4">
                                <div class="force-overflow">
                                    <table class="table mb-0 table-hover">
                                        <tr>
                                            <th></th>
                                            <th>Lead Source</th>
                                            <th style="width:150px; text-align:center;">Lead</th>
                                            <th style="width:150px; text-align:center;">Upgrade</th>
                                            <th style="width:150px; text-align:center;">Sales</th>
                                            <th style="width:150px; text-align:center;">Ratio</th>
                                        </tr>

                                        <tr>
                                            <td>
                                                <img src="../../../../assets/common/images/icon-tv.png" alt="" style="max-height:24px;">
                                                <!-- <i class="fas fa-tv"></i> -->
                                            </td>
                                            <td><span class="badge badge-warning">TV</span></td>
                                            <td style="text-align:center;">100</td>
                                            <td style="text-align:center;">59</td>
                                            <td style="text-align:center;">56</td>
                                            <td style="text-align:right;">
                                                <div class="ratio-block">+ 12% <i class="ml-2 fas fa-angle-up"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="../../../../assets/common/images/icon-google.png" alt="" style="max-height:24px;">
                                            </td>
                                            <td><span class="badge badge-secondary blue">Google</span></td>
                                            <td style="text-align:center;">1525</td>
                                            <td style="text-align:center;">117</td>
                                            <td style="text-align:center;">100</td>
                                            <td style="text-align:right;">
                                                <div class="ratio-block">+ 6.56% <i class="ml-2 fas fa-angle-up"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="../../../../assets/common/images/icon-fb.png" alt="" style="max-height:24px;">
                                            </td>
                                            <td><span class="badge badge-info">Facebook</span></td>
                                            <td style="text-align:center;">887</td>
                                            <td style="text-align:center;">49</td>
                                            <td style="text-align:center;">38</td>
                                            <td style="text-align:right;">
                                                <div class="ratio-block">+ 4.20% <i class="ml-2 fas fa-angle-up"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="../../../../assets/common/images/icon-ref.png" alt="" style="max-height:24px;">
                                            </td>
                                            <td><span class="badge badge-secondary blue">Referral</span></td>
                                            <td style="text-align:center;">26</td>
                                            <td style="text-align:center;">21</td>
                                            <td style="text-align:center;">21</td>
                                            <td style="text-align:right;">
                                                <div class="ratio-block">+ 80.70% <i class="ml-2 fas fa-angle-up"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="../../../../assets/common/images/icon-source.png" alt="" style="max-height:24px;">
                                            </td>
                                            <td><span class="badge badge-info">Others</span></td>
                                            <td style="text-align:center;">3156</td>
                                            <td style="text-align:center;">54</td>
                                            <td style="text-align:center;">38</td>
                                            <td style="text-align:right;">
                                                <div class="ratio-block">+ 1.2% <i class="ml-2 fas fa-angle-up"></i></div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><img src="../../../../assets/common/images/icon-google.png" alt="" style="max-height:24px;"></td>
                                            <td><span class="badge badge-success">SB Google</span></td>
                                            <td style="text-align:center;">1525</td>
                                            <td style="text-align:center;">117</td>
                                            <td style="text-align:center;">100</td>
                                            <td style="text-align:right;">
                                                <div class="ratio-block">+ 6.56% <i class="ml-2 fas fa-angle-up"></i></div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="card-white no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-globe fs-30 mr-2 text-primary"></i><span>State Wise Sales</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body gray-box">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record" style="position:relative">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img [src]="appRootUrl() +'assets/common/images/nsw.png'" alt="" style="max-height:40px;">
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 mb-1 task-label fs-12">NSW</div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h3 class="text-info mb-0">100 / 30</h3>
                                                        <div class="ratio-block fs-14 fw-600" style="color:#000;">30%</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record" style="position:relative">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img [src]="appRootUrl() +'assets/common/images/qld.png'" alt="" style="max-height:40px;">
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 mb-1 task-label fs-12">QLD</div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h3 class="text-info mb-0">100 / 20</h3>
                                                        <div class="ratio-block fs-14 fw-600" style="color:#000;">20%</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record" style="position:relative">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img [src]="appRootUrl() +'assets/common/images/vic.png'" alt="" style="max-height:40px;">
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 mb-1 task-label fs-12">VIC</div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h3 class="text-info mb-0">100 / 20</h3>
                                                        <div class="ratio-block fs-14 fw-600" style="color:#000;">20%</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record" style="position:relative">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img [src]="appRootUrl() +'assets/common/images/sa.png'" alt="" style="max-height:40px;">
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 mb-1 task-label fs-12">SA</div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h3 class="text-info mb-0">100 / 20</h3>
                                                        <div class="ratio-block fs-14 fw-600" style="color:#000;">20%</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="card-white no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-phone-volume fs-30 mr-2 text-primary"></i><span>Call History</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body gray-box">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record" style="position:relative">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img [src]="appRootUrl() +'assets/common/images/icon-incoming.png'" alt="" style="max-height:40px;">
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 mb-1 task-label fs-12">Inbound</div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h3 class="text-info mb-0">100 / 20</h3>
                                                        <div class="ratio-block fs-14 fw-600" style="color:#000;">20%</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record" style="position:relative">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img [src]="appRootUrl() +'assets/common/images/icon-outgoing.png'" alt="" style="max-height:40px;">
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 mb-1 task-label fs-12">Outbound</div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h3 class="text-info mb-0">100 / 20</h3>
                                                        <div class="ratio-block fs-14 fw-600" style="color:#000;">20%</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record" style="position:relative">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img [src]="appRootUrl() +'assets/common/images/icon-misscall.png'" alt="" style="max-height:40px;">
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 mb-1 task-label fs-12">Missed</div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h3 class="text-info mb-0">100 / 20</h3>
                                                        <div class="ratio-block fs-14 fw-600" style="color:#000;">20%</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record" style="position:relative">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img [src]="appRootUrl() +'assets/common/images/icon-outbound.png'" alt="" style="max-height:40px;">
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 mb-1 task-label fs-12">Not Answered</div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h3 class="text-info mb-0">100 / 20</h3>
                                                        <div class="ratio-block fs-14 fw-600" style="color:#000;">20%</div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <!-- <customizable-dashboard [dashboardName]="dashboardName"></customizable-dashboard> -->
</div>