<style>
    ul {
        margin: 0;
        padding: 0 0 0 25px;
    }
    
    ul li {
        list-style: disc;
        line-height: 26px;
    }
</style>
<div style="background:#F4F3FE;">
    <div class="d-flex align-items-center justify-content-center" style="padding:20px 0 35px;">
        <img [src]="appRootUrl() + 'assets/common/images/logo-icon.svg'" alt="logo" height="45" style="margin-right:10px;" />
        <h2 style="font-weight:600; color:#000;">{{ 'BrandName' | localize }}</h2>
    </div>
    <div style="text-align:center;"><img [src]="appRootUrl() + 'assets/common/images/bnr-privacy.png'" style="margin-right:10px;" /></div>
</div>

<div class="container" style="background-image: url(assets/common/images/watermark.png); background-repeat: no-repeat; background-position: center; background-attachment: fixed">

    <div style="padding:30px 0 20px; text-transform:uppercase; font-size:1.6rem; font-weight:700;">Privacy Policy</div>

    <div style="padding:0 0 15px; font-size:1.2rem; font-weight:600; color:#7367EF;">Introduction</div>
    <p>At TheSolarproduct, we understand the importance of privacy and the protection of personal information. This Privacy Policy outlines our practices in the collection, use, and disclosure of personal information for our solar CRM industry customers.</p>

    <div style="padding:0 0 15px; font-size:1.2rem; font-weight:600; color:#7367EF;">Collection of Personal Information</div>
    <p style="font-weight:500; ">We collect personal information from our customers for the purpose of providing our solar CRM services. The personal information we collect may include, but is not limited to, the following:</p>

    <ul>
        <li>Contact information, such as name, email address, phone number, and mailing address</li>
        <li>Company information, such as company name and website</li>
        <li>Billing information, such as credit card details or other payment information</li>
        <li>Technical information, such as IP address, browser type, and operating system</li>
        <li>Use of Personal Information</li>
    </ul>

    <p style="font-weight:500; margin:20px 0 15px;">We use personal information to provide our solar CRM services to our customers. This may include:</p>
    <ul>
        <li>Creating and managing customer accounts</li>
        <li>Processing payments and sending invoices</li>
        <li>Providing customer support</li>
        <li>Communicating with customers about our services</li>
        <li>Analyzing and improving our services</li>
        <li>Complying with legal and regulatory requirements</li>
        <li>Disclosure of Personal Information</li>
    </ul>

    <p style="font-weight:500; margin:20px 0 15px;">We may disclose personal information to third parties in the following circumstances:</p>
    <ul>
        <li>To comply with legal or regulatory requirements</li>
        <li>To enforce our Terms of Service or other agreements with our customers</li>
        <li>To protect our rights, property, or safety, or the rights, property, or safety of our customers or others</li>
        <li>To provide customer support, such as to our payment processor or hosting provider</li>
        <li>In connection with a business transaction, such as a merger or acquisition</li>
        <li>Security of Personal Information</li>
    </ul>

    <p style="font-weight:500; margin:20px 0 15px;">We take reasonable measures to protect personal information from unauthorized access, use, or disclosure. These measures may include physical, technical, and administrative safeguards.</p>
    <p style="font-weight:500; margin:20px 0 15px;">Retention of Personal Information<br>
        <span style="font-weight:normal;">We retain personal information for as long as necessary to provide our solar CRM services and to comply with legal and regulatory requirements.</span>
    </p>

    <p style="font-weight:500; margin:20px 0 15px;">Changes to this Privacy Policy<br>
        <span style="font-weight:normal;">We may update this Privacy Policy from time to time. If we make material changes, we will notify our customers by email or by posting a notice on our website.</span>
    </p>

    <p style="font-weight:500; margin:20px 0 15px;">Contact Us<br>
        <span style="font-weight:normal;">If you have any questions or concerns about this Privacy Policy, please contact us at <a href="mailto:info@thesolarproduct.com" style="text-decoration:underline;">info@thesolarproduct.com</a>.</span>
    </p>

</div>