<style>
    .modal-body .card .card-body h6 span:first-child {
        width: 225px !important;
    }
    
    .tab-container h3 {
        font-size: 1.35rem !important;
        margin-bottom: -3px !important;
    }
    .colorchng{
        background-color: #fff !important;
    }
    .btmbordr{
        border-top: 1px solid #d2d1df !important;
        width: 96% !important ;
        margin: 0 auto !important;
    }
</style>
<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form *ngIf="active" #WholeSaleLeadDocumentForm="ngForm" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("View Credit Application")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">


                  
                    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="boxshadownone tenantsettings">
                            <div class="tab_design1 tab-new sml-fnt  chngbodr"  >
                                <tabset>
                            <tab heading="{{'Business' | localize}}" [active]="activeTabIndex == 0" style="background-color: #f4f3fe !important;" >
                                        <div class="colorchng" style="border-radius: 13px !important; overflow: hidden !important;">
                                            <h3 class="colorchng" style="padding: 15px !important;"><i class="las la-briefcase fs-22 mr-2"></i> Business</h3>
                                            <div class="btmbordr"></div>
                                            <div class="card card-custom card-stretch" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding: 0px !important;">
                                                    <div class="modal-gray-box colorchng"  >
                                                        <div class="row dis-column" >
                                                           
                                                            <div class="col-6 mb-3">
                                                                <h6><span>ABN</span>
                                                                    <span style="width: 15px; font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.abnNumber}}</span>
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Business Structure</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.buisnessStructure}}</span>
                                                                   
                                                                </h6>
                                                                
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Year of Inception</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.yearOfInspaction}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Last Financial Year Turn over</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.lastFinancialYearTurnover}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Average Monthly Turn over</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.averageMonthlyTurnover}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Net Profit</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.netProfit}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>CEC Registration Number</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.cecRegistrationNumber}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Electrical Licence</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.electricalLicence}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Number Of Employees</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.numberOfEmployees}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Number Of Offices</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.numberOfOffices}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3" style="margin-top: 10px !important; border-radius: 13px !important; overflow: hidden !important;">
                                            <h3 class="colorchng" style="padding: 15px 15px 10px 20px !important;"><i class="las la-file-signature fs-22 mr-2"></i> Names</h3>
                                            <div class="btmbordr"></div>
                                            <div class="card card-custom card-stretch" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding:0 !important;">
                                                    <div class="modal-gray-box colorchng" >
                                                        <div class="row dis-column">
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Legal Entity Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.legalEntityName}}</span>
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Main Trading Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.mainTradingName}}</span>
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Other Trading Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.otherTradingNames}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div style=" border-radius: 13px !important; overflow: hidden !important;">
                                            <h3 class="colorchng" style="padding: 15px 15px 10px 20px !important; "><i class="las la-file-invoice fs-22 mr-2"></i> Account Details</h3>
                                            <div class="btmbordr"></div>
                                            <div class="card card-custom card-stretch" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                    <div class="modal-gray-box colorchng" >
                                                        <div class="row dis-column">
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Credit Limit Requested</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.creditLimitRequested}}</span>
                                                                    
                                                                </h6>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </tab>
                                    
                                    <tab *ngIf="true" heading="{{'Contact Details' | localize}}">
                                        <div class="mb-3 chngbodr " style="border-radius: 13px !important; overflow: hidden !important;" >
                                            <h3 class="colorchng" style="padding: 15px 15px 10px 20px;"><i class="las la-address-card fs-22 mr-2"></i> Primary Contact</h3>
                                            <div class="btmbordr"></div>
                                            <div class="card card-custom card-stretch colorchng" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                    <div class="modal-gray-box colorchng">
                                                        <div class="row dis-column">
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Full Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.primaryFullName}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Position</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.primaryPosition}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Email</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.primaryEmail}}</span>
                                                                   
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Contact No</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.primaryContactNo}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Fax</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.primaryFAX}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="colorchng" style="border-radius: 13px !important; overflow: hidden !important;">
                                            <h3 style="padding: 15px 15px 10px 20px;"><i class="las la-address-card fs-22 mr-2"></i> Account Payable Contact</h3>
                                            <div class="btmbordr"></div>
                                            <div class="card card-custom card-stretch" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                    <div class="modal-gray-box colorchng">
                                                        <div class="row dis-column">
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>A P C Full Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.apcFullName}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Email</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.apcEmail}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Contact No</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.apcContactNo}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Fax :</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.apcfax}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>

                                    <tab *ngIf="true" heading="{{'Director Details' | localize}}">
                                        <div class="mb-3 colorchng" style="border-radius: 13px !important; overflow: hidden !important;">
                                            <h3 style="padding: 15px 15px 10px 20px !important; "><i class="las la-user-tie fs-22 mr-2"></i> Director/Principal Details 1</h3>
                                            <div class="btmbordr"></div>
                                            <div class="card card-custom card-stretch" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                    <div class="modal-gray-box colorchng">
                                                        <div class="row dis-column">
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_Name}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Date of Birth</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_DOB}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Email</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_Email}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Phone No</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_Phone}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Mobile</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_Mobile}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Passport</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_PassportNo}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Passport No</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_PassportNo}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Passport Country</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_PassportCountry}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Passport</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_PassportNo}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Buisness Document Type</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_BuisnessDocumentType}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-12 mb-3">
                                                                <h6>
                                                                    <span style="width: 207px !important;">Address 1/2</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_UnitNo}} {{Business.dP_UnitType}} {{Business.dP_StreetNo}} {{Business.dP_StreetName}}  {{Business.dP_StreetType}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                           
                                                            <!-- <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>City :</span>
                                                                    <span>{{Business.dp_}}</span>
                                                                </h6>
                                                            </div> -->
                                                            <div class="col-6 ">
                                                                <h6>
                                                                    <span>Post Code</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_PostCode}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <!-- <div class="col-6">
                                                                <h6>
                                                                    <span>Country :</span>
                                                                    <span>{{Business.dp_}}</span>
                                                                </h6>
                                                            </div> -->
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>State</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_State}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="colorchng" style="border-radius: 13px !important; overflow: hidden !important;">
                                            <h3 style="padding: 15px 15px 10px 20px !important; "><i class="las la-user-tie fs-22 mr-2"></i> Director/Principal Details 2</h3>
                                            <div class="btmbordr"></div>
                                            <div class="card card-custom card-stretch" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                    <div class="modal-gray-box colorchng">
                                                        <div class="row dis-column">
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_Name2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Date of Birth</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_DOB2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Email</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_Email2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Phone No</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_Phone2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Mobile</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_Mobile2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Passport</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_PassportNo2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Passport No</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_PassportNo2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Passport Country</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_PassportCountry2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Passport</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_PassportNo2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Buisness Document Type</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_BuisnessDocumentType2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-12 mb-3">
                                                                <h6>
                                                                    <span style="width: 206px !important;">Address 1/2</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_UnitNo2}} {{Business.dP_UnitType2}} {{Business.dP_StreetNo2}} {{Business.dP_StreetName2}}  {{Business.dP_StreetType2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            
                                                            <!-- <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>City :</span>
                                                                    <span>{{Business.dp_}}</span>
                                                                </h6>
                                                            </div> -->
                                                            <div class="col-6 ">
                                                                <h6>
                                                                    <span>Post Code</span>
                                                                    <span style="width: 15px; font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_PostCode}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <!-- <div class="col-6">
                                                                <h6>
                                                                    <span>Country :</span>
                                                                    <span>{{Business.dp_}}</span>
                                                                </h6>
                                                            </div> -->
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>State</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.dP_State}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>

                                    <tab *ngIf="true" heading="{{'Business Addresses' | localize}}">
                                        <div class="mb-3 colorchng" style="border-radius: 13px !important; overflow: hidden !important;">
                                            <h3 style="padding: 15px 15px 10px 20px !important;"><i class="las la-address-book fs-22 mr-2"></i> Registered Addresses</h3>
                                            <div class="btmbordr"></div>
                                            <div class="card card-custom card-stretch" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                    <div class="modal-gray-box colorchng">
                                                        <div class="row dis-column">
                                                            <div class="col-12 mb-3 ">
                                                                <h6>
                                                                    <span style="width:210px !important">Address 1/2 :</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.r_UnitNo}} {{Business.r_UnitType}} {{Business.r_StreetNo}}  {{Business.r_StreetName}}  {{Business.r_StreetType}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <!-- <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>City :</span>
                                                                    <span>{{Business.abnNumber}}</span>
                                                                </h6>
                                                            </div> -->
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Post Code :</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.r_PostCode}}</span>
                                                                  
                                                                </h6>
                                                            </div>
                                                            <!-- <div class="col-6">
                                                                <h6>
                                                                    <span>Country :</span>
                                                                    <span>{{Business.abnNumber}}</span>
                                                                </h6>
                                                            </div> -->
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>State :</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.r_State}}</span>
                                                                    
                                                                </h6>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="colorchng" style="border-radius: 13px !important; overflow: hidden !important;">
                                            <h3 style="padding: 15px 15px 10px 20px !important;"><i class="las la-address-book fs-22 mr-2"></i> Billing Addresses</h3>
                                            <div class="btmbordr"></div>
                                            <div class=""></div>
                                            <div class="card card-custom card-stretch" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                    <div class="modal-gray-box colorchng">
                                                        <div class="row dis-column">
                                                            <div class="col-12 ">
                                                                <h6>
                                                                    <span style="width:207px !important">Address 1/2</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.b_UnitNo}} {{Business.b_UnitType}} {{Business.b_StreetNo}}  {{Business.b_StreetName}}  {{Business.b_StreetType}}</span>
                                                               
                                                                </h6>
                                                            </div>
                                                            <!-- <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>City :</span>
                                                                    <span>{{Business.abnNumber}}</span>
                                                                </h6>
                                                            </div> -->
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Post Code</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.b_PostCode}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <!-- <div class="col-6">
                                                                <h6>
                                                                    <span>Country :</span>
                                                                    <span>{{Business.abnNumber}}</span>
                                                                </h6>
                                                            </div> -->
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>State</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.b_State}}</span>
                                                                
                                                                </h6>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>

                                    <tab *ngIf="true" heading="{{'Trade Reference' | localize}}">
                                        <div class="mb-3 colorchng"  style="border-radius: 13px !important; overflow: hidden !important;">
                                            <h3 style="padding: 15px 15px 10px 20px;"><i class="las la-briefcase fs-22 mr-2"></i> Trade References</h3>
                                            <div class="btmbordr"></div>
                                            <div class="card card-custom card-stretch" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                    <div class="modal-gray-box colorchng">
                                                        <div class="row dis-column">
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Full Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.tradeFullName}}</span>
                                                                   
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Company Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.tradeCompanyName}}</span>
                                                                  
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Phone</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.tradePhone}}</span>
                                                                 
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Email</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.tradeEmail}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 colorchng"  style="border-radius: 13px !important; overflow: hidden !important;">
                                            <h3 style="padding: 15px 15px 10px 20px !important;"><i class="las la-briefcase fs-22 mr-2"></i> Trade References 2</h3>
                                            <div class="btmbordr"></div>
                                            <div class="card card-custom card-stretch" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                    <div class="modal-gray-box colorchng">
                                                        <div class="row dis-column">
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Full Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.tradeFullName2}}</span>
                                                                  
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Company Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.tradeCompanyName2}}</span>
                                                                   
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Phone</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.tradePhone2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Email</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.tradeEmail2}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 colorchng"  style="border-radius: 13px !important; overflow: hidden !important;">
                                            <h3 style="padding: 15px 15px 10px 20px !important;"><i class="las la-briefcase fs-22 mr-2"></i> Trade References 3</h3>
                                            <div class="btmbordr"></div>
                                            <div class="card card-custom card-stretch" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                    <div class="modal-gray-box colorchng">
                                                        <div class="row dis-column">
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Full Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.tradeFullName3}}</span>
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Company Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.tradeCompanyName3}}</span>
                                                                   
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Phone</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.tradePhone3}}</span>
                                                                    
                                                                    
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Email</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.tradeEmail3}}</span>
                                                             
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 colorchng"  style="border-radius: 13px !important; overflow: hidden !important;">
                                            <h3 style=" padding: 15px 15px 10px 20px !important;"><i class="las la-briefcase fs-22 mr-2"></i> Guarantor Details</h3>
                                            <div class="btmbordr"></div>
                                            <div class="card card-custom card-stretch" style="border:0">
                                                <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                    <div class="modal-gray-box colorchng">
                                                        <div class="row dis-column">
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Business / Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.guarantorName}}</span>
                                                                   
                                                                </h6>
                                                            </div>
                                                            <div class="col-6 mb-3">
                                                                <h6>
                                                                    <span>Company Name</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.guarantorCompanyName}}</span>
                                                                   
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Phone</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.guarantorPhone}}</span>
                                                                    <span>{{Business.guarantorPhone}}</span>
                                                                </h6>
                                                            </div>
                                                            <div class="col-6">
                                                                <h6>
                                                                    <span>Email</span>
                                                                    <span style="width: 15px;font-weight: 600;">:</span>
                                                                    <span class="" style="font-weight:600;">{{Business.guarantorEmail}}</span>
                                                                   
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>

                                    <tab *ngIf="true" heading="{{'Director Documents' | localize}}">
                                        <div class="row">
                                            <div class="col-6 colorchng"  style="border-radius: 13px !important; overflow: hidden !important; max-width: 48% !important;">
                                                <h3 style="padding: 15px 10px 10px 20px !important ;"><i class="las la-file-upload fs-22 mr-2"></i> Australian Drivers Licence / Passport Upload</h3>
                                                <div  class="btmbordr"></div>
                                                <div class="card card-custom card-stretch" style="border:0">
                                                    <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                        <div class="modal-gray-box colorchng">
                                                            <p>Please upload a copy of the front of your driver license or photo page of your passport</p>
                                                            <img src="{{Business.licencePassportDoc}}" class="rounded mx-auto d-block img-thumbnail" stylw="max-width:330px;" *ngIf = "Business.licencePassportDoc">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-6 colorchng "  style="border-radius: 13px !important; overflow: hidden !important; max-width: 48% !important;margin-left: 37px !important;">
                                                <h3 style="padding: 15px 10px 10px 20px !important ;"><i class="las la-file-upload fs-22 mr-2"></i> Proof Of Address</h3>
                                                <div  class="btmbordr"></div>
                                                <div class="card card-custom card-stretch" style="border:0">
                                                    <div class="card-body sitedetailbox xlmin517" style="padding:0;">
                                                        <div class="modal-gray-box colorchng">
                                                            <p>In order to validate your address, please provide a copy of a back side of your driver licence, utility bill or rates notice below.</p>
                                                            <img src="{{Business.addressDoc}}" class="rounded mx-auto d-block img-thumbnail" stylw="max-width:330px;" *ngIf = "Business.addressDoc">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </tab>

                                </tabset>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Close")}}</button>
                </div>
            </form>
        </div>
    </div>

</div>