﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #ExtraInsChargeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off" [ngClass]="{ 'has-error': ExtraInsChargeForm.submitted}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="extraInstallationCharge.id">{{l("EditExtraInstallationCharges")}}</span>
                        <span *ngIf="!extraInstallationCharge.id">{{l("CreateExtraInstallationCharges")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body lead_expen_popup modal-bg-gray">

                    <div class="modal-white-box">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="category"><strong>{{l("Category")}}</strong></label>

                                    <select name="category" id="category" required [(ngModel)]="extraInstallationCharge.category" class="form-control" (change)="bindName()">
                                        <option value="">Select</option>
                                        <option value="House Type">House Type</option>
                                        <option value="Roof Type">Roof Type</option>
                                        <option value="Roof Angle">Roof Angle</option>
                                        <option value="Price Variation">Price Variation</option>
                                        <option value="Other Charges">Other Charges</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-list"></i></span>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="name"><strong>{{l("Name")}}</strong></label>

                                    <select name="name" required [(ngModel)]="extraInstallationCharge.nameId" class="form-control">
                                        <option value="0">Select</option>
                                        <option *ngFor="let item of allName" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-list"></i></span>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="state"><strong>{{l("State")}}</strong></label>

                                    <select name="state" [(ngModel)]="extraInstallationCharge.stateId" class="form-control">
                                        <option value="0">Select</option>
                                        <option *ngFor="let item of allState" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>

                                </div>
                            </div>

                            <div class="col-md-6" *ngIf="!extraInstallationCharge.id" style="display:none;">
                                <div class="col-mb-3">
                                    <div class="form-group form-icon">
                                        <label for="state"><strong>{{l("State")}}</strong></label>

                                        <!-- <select name="state" required [(ngModel)]="extraInstallationCharge.stateId" class="form-control">
                                            <option value="0">Select</option>
                                            <option *ngFor="let item of allState" value="{{item.id}}">{{item.displayName}}</option>                                    
                                        </select> -->
                                        <p-autoComplete [(ngModel)]="stateIds" [suggestions]="filteredStates" (completeMethod)="filterStates($event)" field="displayName" placeholder="Select State" [minLength]="1" name="MultiSelectInput" id="MultiSelectInput" [multiple]="true" inputStyleClass="form-control"
                                            styleClass="width-percent-100">
                                        </p-autoComplete>
                                        <span class="icon-box"><i class="las la-globe"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="type"><strong>{{l("Type")}}</strong></label>

                                    <select name="type" required class="form-control" [(ngModel)]="extraInstallationCharge.type">
                                        <option value="">Select</option>
                                        <option value="Panel">Panel</option>
                                        <option value="Job">Job</option>
                                        <option value="Kw">Kw</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-list"></i></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="metroamount"><strong>Metro Amount</strong></label>

                                    <input type="number" name="metroamount" id="metroamount" class="form-control" [(ngModel)]="extraInstallationCharge.metroAmount" required>
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="regamount"><strong>Regional Amount</strong></label>

                                    <input type="number" name="regamount" id="regamount" class="form-control" [(ngModel)]="extraInstallationCharge.regionalAmount" required>
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!ExtraInsChargeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>