<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg financeSmsEmailModal">
        <div class="modal-content">
            <form #addActivityForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="activityType == 1">{{l("Sms")}} - {{leadCompanyName}} - {{this.item.jobNumber}} </span>
                        <span *ngIf="activityType == 2">{{l("Email")}} - {{leadCompanyName}} - {{this.item.jobNumber}} </span>
                </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body padtopzero">
                    <div class="row emailboxlayout">
                        <div class="col-md-12">
                            <div class="m-form__group">
                                <!-- <select class="form-control" [disabled]="id!=0" [(ngModel)]="activityType" (change)="selection()" name="leadStatusId">
                                    <option value="1">SMS</option>
                                    <option value="2">Email</option>
                                </select> -->

                                <div class="activitysms smsemailbox brdrbottom1"
                                *ngIf="activityName == 'SMS To '">
                                    <span class="labelttl">{{activityName}} </span> <span>{{ item.lead.mobile }}</span>
                                </div>

                                <div class="activitysms smsemailbox brdrbottom1"
                                *ngIf="activityName == 'Email To '">
                                    <span class="labelttl">{{activityName}} </span> <span class="lowercase">{{ item.lead.email }}</span>
                                </div>


                                <!-- <label class="form-label smslabel" *ngIf="activityName == 'SMS To '">
                                    <span><strong> {{activityName}} </strong></span><span>{{ item.lead.mobile }}</span>
                                </label>
                                <label class="form-label smslabel" *ngIf="activityName == 'Email To '">
                                    <span><strong> {{activityName}} </strong></span><span>{{ item.lead.email }}</span>
                                </label> -->
                            </div>
                        </div>
                     </div>
                     <div class="row emailboxlayout" *ngIf="activityName == 'Email To '">
                        <div>
                            <div class="col-md-12">
                                <div class="form-group activitysms smsemailbox">
                                    <span class="labelttl">Template</span>
                                    <select class="form-control" name="EmailTemplate" [(ngModel)]="activityLog.emailTemplateId" (change)="editorLoaded()">
                                        <option value="0">New Template</option>
                                        <option *ngFor="let item of allEmailTemplates" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <select  *ngIf="activityLog.emailTemplateId == 0" (change)="onTagChange($event)" class="form-control" name="EmailTemplate" [(ngModel)]="activityLog.customeTagsId">
                                        <option value="0">CustomeTags</option>
                                        <option value="1">Custome Name</option>
                                        <option value="2">Custome Mobile</option>
                                        <option value="3">Custome Phone</option>
                                        <option value="4">Custome Email</option>
                                        <option value="5">Custome Address</option>
                                        <option value="6">SalesRep Name</option>
                                        <option value="7">SalesRep Mobile</option>
                                        <option value="8">SalesRep Email</option>
                                        <option value="9">Project No</option>
                                        <option value="10">System Capacity</option>
                                        <option value="11">All product Item</option>
                                        <option value="12">Total Quote price</option>
                                        <option value="13">Installation Date</option>
                                        <option value="14">Installer Name</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group activitysms smsemailbox subjectbox">
                                    <span class="labelttl">Subject</span>
                                    <span  style="padding-left:5px;" class="wdth100w">
                                        <input type="text" name="subject" [(ngModel)]="activityLog.subject" placeholder="write subject" class="form-control">
                                    </span>
                                </div>                              
                            </div> 
                        </div>
                     </div>
                     <div class="row emailboxlayout" *ngIf="activityName == 'SMS To '">
                        <div>
                            <div class="col-md-12">
                                <div class="form-group activitysms smsemailbox">
                                    <span class="labelttl">Template</span>
                                    <select class="form-control" name="EmailTemplate" [(ngModel)]="activityLog.smsTemplateId" (change)="smseditorLoaded()">
                                        <option value="0">New Template</option>
                                        <option *ngFor="let item of allSMSTemplates" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                     </div>
                        <div class="row" *ngIf="activityName == 'SMS To '">
                            <div class="col-md-12">
                                <div class="form-group">                                    
                                    <textarea class="form-control" (keyup)="countCharcters()" cols="20" rows="5" placeholder="SMS Body" [(ngModel)]="activityLog.body" id="SMSBody" name="SMSBody"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="activityName == 'Email To '">
                            <div class="col-md-12">
                                <div class="form-group" *ngIf="activityLog.emailTemplateId == 0">
                                    <p-editor [(ngModel)]="activityLog.body" aria-placeholder="Email Body" name="HtmlEditorInput" [style]="{'height':'200px'}"></p-editor>
                                </div>
                                <div class="container-fluid maxwidth80 emailtemplatebox" *ngIf="activityLog.emailTemplateId != 0">
                                    <email-editor [(ngModel)]="activityLog.body" aria-placeholder="Email Body" name="HtmlEditorInput"></email-editor>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="activityName == 'SMS To '">
                           <span><b>Total: </b></span> {{total}} 
                           <span><b>Credit: </b></span> {{credit}}
                        </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="fa fa-times"></i> {{("Cancel")}}</button>
                    <button (click)="saveDesign()" type="submit" class="btn btn-primary blue" *ngIf="activityName == 'Email To '" [disabled]="!addActivityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>Send</span></button>
                    <button (click)="save()" id="btnSubmit" type="submit" class="btn btn-primary blue" *ngIf="activityName == 'SMS To '" [disabled]="!addActivityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>Send</span></button>
                </div>
            </form>
        </div>
        
    </div>

    <!-- <viewLeadDetail #viewLeadDetail></viewLeadDetail> -->
</div>
