<!-- Required meta tags -->
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

<title>Tax Invoice</title>

<style>
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    
    body {
        background: #fff url(http://thesolarproduct.com/assets/common/images/SavvySolar/bg.png) top center no-repeat;
        background-size: 940px;
        margin: 0;
        padding: 0;
        font-family: 'Roboto';
        color: #333;
        font-size: 13px;
        font-weight: 400;
    }
    
    .pdf_wrapper {
        width: 940px;
        margin: 0 auto;
        padding: 0 !important;
    }
    
    .pdf_container {
        width: 920px;
        overflow: hidden;
        margin: 0 auto;
        padding: 0 10px;
    }
    
    .text-right {
        text-align: right !important;
    }
    
    .bolder {
        font-weight: 900 !important;
    }
    
    .bold {
        font-weight: 700 !important;
    }
    
    .medium {
        font-weight: 500 !important;
    }
    
    .dflex {
        display: flex;
    }
    
    .align-item-center {
        align-items: Center;
    }
    
    .justify-space-between {
        justify-content: space-between;
    }
    
    .f12 {
        font-size: 12px !important;
    }
    
    .f14 {
        font-size: 14px !important;
    }
    
    .f16 {
        font-size: 16px !important;
    }
    
    .mb5 {
        margin-bottom: 5px !important;
    }
    
    .mb10 {
        margin-bottom: 10px !important;
    }
    
    .mb15 {
        margin-bottom: 15px !important;
    }
    
    .mb20 {
        margin-bottom: 20px !important;
    }
    
    .me5 {
        margin-right: 5px !important;
    }
    
    .me10 {
        margin-right: 10px !important;
    }
    
    .gray {
        color: #A6A5A5 !important;
    }
    
    .black {
        color: #000 !important;
    }
    
    .sep {
        height: 1px;
        background: #FFF0D4;
        width: 100%;
        margin: 10px 0;
        display: block;
    }
    
    .primary-table table {
        width: 100%;
        border: 0;
        border-collapse: collapse;
        margin-top: 27px;
    }
    
    .primary-table table th {
        height: 50px;
        background: #FDB432;
        color: #201F1F;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        padding: 0 15px;
    }
    
    .primary-table table th:last-child,
    .primary-table table td:last-child {
        text-align: right;
    }
    
    .primary-table table td {
        padding: 12px 15px;
        border-top: 1px solid #DAE3ED;
        font-size: 12px;
    }
    
    .primary-table table td.white {
        background: #fff !important;
    }
    
    .primary-table table td:last-child {
        text-align: right;
        background: #FFF4E0;
    }
    
    .primary-table table tr.subtotal td {
        background: #FFF4E0;
        border: 1px solid #201F1F;
        border-width: 2px 0 0;
        font-weight: 600;
    }
    
    .primary-table table tr.balance-row td {
        background-color: #FDB432;
        color: #000;
        font-weight: 600;
        font-size: 16px;
        text-align: right;
        height: 40px;
        border: 0;
        padding: 0 15px;
        font-size: 14px;
    }
    
    .sign-container {
        display: flex;
        justify-content: space-between;
        width: 940px;
        margin: 0 10px;
    }
    
    .sign-container .sign-box {
        width: 420px;
    }
    
    .sign-box .sign {
        display: flex;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #ccc;
        width: 410px;
    }
    
    .pdf_header {
        height: 87px;
        position: relative;
    }
    
    .pdf_header .logo {
        float: left;
    }
    
    .pdf_header .logo img {
        height: 84px;
    }
    
    .pdf_header .pdf_contact {
        float: right;
        display: flex;
        align-items: center;
        color: #000;
        font-size: 20px;
        height: 84px;
        line-height: 84px;
    }
    
    .pdf_header .pdf_contact img {
        margin-right: 5px;
    }
    
    .pdf_header .pdf_main_title {
        margin: 0 auto;
        max-width: 260px;
        text-align: center;
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: -1px;
        padding-top: 10px;
    }
    
    .pdf_left_box {
        width: 300px;
        float: left;
    }
    
    .pdf_right_box {
        width: 605px;
        float: right;
    }
    
    .pdf_quote_number {
        width: 220px;
        position: absolute;
        left: 349px;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        top: 76px;
    }
    
    .pdf_customerbox {
        color: #A6A5A5;
        margin: 30px 0 0 15px;
        height: 225px;
    }
    
    .pdf_customerbox .pdf_cus_name {
        color: #FDB432;
        font-size: 22px;
        font-weight: 600;
    }
    
    .pdf_customerbox img {
        margin-right: 5px;
    }
    
    .pdf_panel {
        display: block;
        border: 1px solid #FFF0D4;
    }
    
    .pdf_panel .pdf_panel_header {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 15px;
        background: #FFF0D4;
    }
    
    .pdf_panel .pdf_panel_header.tc {
        padding: 8px 15px !important;
        font-size: 14px !important;
    }
    
    .pdf_panel .pdf_panel_container {
        padding: 15px;
        background: #fff;
    }
    
    .pdf_panel .pdf_panel_container.small {
        font-size: 10px;
    }
    
    .sign-container {
        display: flex;
        justify-content: space-between;
        width: 940px;
        margin: 0 10px;
    }
    
    .sign-container .sign-box {
        width: 420px;
    }
    
    .sign-box .sign {
        display: flex;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #ccc;
        width: 410px;
    }
    
    .footer-line {
        width: 100%;
        background: #FDB432;
        padding: 5px;
        text-align: center;
        color: #000;
        font-size: 12px;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .dark {
        color: #000 !important;
    }
    
    .balance-due {
        border: 2px dotted #FDB432;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 0;
        font-size: 26px;
        font-weight: 900;
        background: #000;
        line-height: 32px;
        color: #fff;
    }
    
    .balance-due span {
        display: block;
        font-size: 18px;
        font-weight: 900;
        color: #fdb432;
    }
</style>



<div class='pdf_wrapper'>
    <div class='pdf_container mb10'>
        <!-- HEADER STARTS -->
        <div class='pdf_header'>
            <div class='logo'><img src='http://thesolarproduct.com/assets/common/images/SavvySolar/logo.svg'></div>
            <div class='pdf_contact'><img src='http://thesolarproduct.com/assets/common/images/SavvySolar/icon-call.png' style='height:38px;'> 1800 728 897</div>
            <div class='pdf_main_title'>TAX INVOICE</div>
            <div class='pdf_quote_number'>
                <div class='pdf_qtno mb5'><span class='medium'>INVOICE#:</span> {{TI.JobNumber}}</div>
                <div class='f12 medium'>Date : {{TI.Date}}</div>
            </div>
        </div>
        <!-- HEADER ENDS -->

        <div class='pdf_left_box'>
            <div class='pdf_customerbox'>
                <div class='f16 medium mb5'>QUOTATION TO:</div>
                <div class='pdf_cus_name mb10'>{{TI.Cust.Name}}</div>
                <div class='dflex align-item-center mb10'>
                    <img src='http://thesolarproduct.com/assets/common/images/SavvySolar/mobile.png' style='width:18px;'> {{TI.Cust.Mobile}}
                </div>
                <div class='dflex align-item-center mb10'>
                    <img src='http://thesolarproduct.com/assets/common/images/SavvySolar/mail.png' style='width:18px;'> {{TI.Cust.Email}}
                </div>
                <div class='dflex align-item-center'>
                    <img src='http://thesolarproduct.com/assets/common/images/SavvySolar/pin.png' style='width:18px;'> {{TI.Cust.AddressLine1}}<br>{{TI.Cust.AddressLine2}}
                </div>
            </div>

            <div class='pdf_panel mb10'>
                <div class='pdf_panel_header'>Payment Methods</div>
                <div class='pdf_panel_container'>
                    <div class='dflex align-item-center justify-space-between'>
                        <div>
                            <div class='f14 bolder mb5'>FUND TRANSFER</div>
                            <div class='f14'>Account Name: <span class='bold'>Savvy Solar</span><br> BSB: <span class='bold'>03400</span>, AC NO. <span class='bold'>632451</span></div>
                        </div>
                        <img src='http://thesolarproduct.com/assets/common/images/SavvySolar/fund.png' style='height:50px;'>
                    </div>
                    <div class='sep'></div>
                    <div class='dflex align-item-center justify-space-between'>
                        <div>
                            <div class='f14 bolder mb5'>CHEQUE PAYBLE TO</div>
                            <div class='f14'>Savvy Solar<br>P/o Box: XXXX , XXXX Bank</div>
                        </div>
                        <img src='http://thesolarproduct.com/assets/common/images/SavvySolar/cheque.png' style='height:50px;'>
                    </div>
                    <div class='sep'></div>
                    <div class='dflex align-item-center justify-space-between'>
                        <div>
                            <div class='f14 bolder mb5'>CARD PAYMENT ACCEPTED</div>
                            <div class='f14'>Visa / Master Card only<br>Surcharge Applicable<br>Call <span class='bold'>1800 728 897</span></div>
                        </div>
                        <img src='http://thesolarproduct.com/assets/common/images/SavvySolar/card.png' style='height:50px;'>
                    </div>
                    <div class='sep'></div>
                    <div class='dflex align-item-center justify-space-between'>
                        <div>
                            <div class='f14 bolder mb5'>Pay ID</div>
                            <div class='f14'>ABN: <span class='bold'>65 617 964 539</span><br>Ref: <span class='bold'>{{TI.JobNumber}}</span></div>
                        </div>
                        <img src='http://thesolarproduct.com/assets/common/images/SavvySolar/pay-id.png' style='height:50px;'>
                    </div>
                </div>
            </div>

        </div>

        <div class='pdf_right_box'>
            <div class='dflex justify-space-between' style='border-left:1px solid #4D4C4C; padding-left:20px; margin:71px 10px 0 0;'>
                <div class='dflex align-item-center justify-space-between' style='width:100%;'>
                    <div class='dflex justify-space-between'>
                        <div class='gray'>
                            <div class='mb10'>Meter Phase : <span class='medium'>{{TI.Cust.MeterPhase}}</span></div>
                            <div class='mb10'>Upgrades : <span class='medium'> {{TI.Cust.MeterUpgrad}}</span></div>
                            <div class='mb10'>Roof Type : <span class='medium'> {{TI.Cust.RoofType}}</span></div>
                            <div class=''>No. of Storey : <span class='medium'> {{TI.Cust.PropertyType}}</span></div>
                        </div>
                        <div class='gray'>
                            <div class='mb10'>Roof Pitch : <span class='medium'> {{TI.Cust.RoofPitch}}</span></div>
                            <div class='mb10'>Energy Distributor : <span class='medium'> {{TI.Cust.ElecDist}}</span></div>
                            <div class=''>Energy Retailer : <span class='medium'> {{TI.Cust.ElecRetailer}}</span></div>
                        </div>
                    </div>
                    <div class='balance-due'>
                        <span>Balance Due</span> ${{TI.BalanceDue}}
                    </div>
                </div>
            </div>


            <div class='primary-table mb15'>
                <table style='width:100%;'>
                    <tr>
                        <th>Solar Power Solution Design, Supply & Installation</th>
                        <th style='width:130px;'>Price</th>
                    </tr>
                    <tr>
                        <td class='white' colspan='2' style='text-align:left; border-top:0;'>
                            <div style='min-height:120px; font-size:13px;'>
                                {{TI.PD.SystemDetails}}
                            </div>
                        </td>
                    </tr>
                    <tr class='subtotal'>
                        <td class='bolder f14'>Total Cost</td>
                        <td class='bolder f14'>${{TI.PD.TCost}}</td>
                    </tr>
                    <tr>
                        <td>Less STC Rebate</td>
                        <td>${{TI.PD.Stc}}</td>
                    </tr>
                    <tr>
                        <td>Solar Rebate</td>
                        <td>${{TI.PD.SolarRebate}}</td>
                    </tr>
                    <tr>
                        <td>Solar Loan</td>
                        <td>${{TI.PD.SolarLoan}}</td>
                    </tr>
                    <tr>
                        <td>Plus Additional Cost</td>
                        <td>${{TI.PD.ACharge}}</td>
                    </tr>
                    <tr>
                        <td>Less Discount</td>
                        <td>${{TI.PD.Discount}}</td>
                    </tr>
                    <tr>
                        <td>Less Deposit (Inc. GST)</td>
                        <td>${{TI.PD.Deposit}}</td>
                    </tr>
                    <tr>
                        <td class='f14 bolder text-right'>Net Cost</td>
                        <td class='f14 bolder text-right'>${{TI.PD.NetCost}}</td>
                    </tr>
                    <tr>
                        <td class='f14 bolder text-right'>Amount Paid</td>
                        <td class='f14 bolder text-right'>${{TI.PD.Deposit}}</td>
                    </tr>
                    <tr class='balance-row'>
                        <td class='f16'>Balance Due :</td>
                        <td class='f16'>${{TI.BalanceDue}}</td>
                    </tr>

                </table>
            </div>

            <div class='pdf_panel' style='clear:both;'>
                <div class='pdf_panel_header'>Notes</div>
                <div class='pdf_panel_container'>
                    <span class='bold'>Note:</span> The Net Cost above includes GST of : ${{TI.PD.Gst}}
                </div>
            </div>

        </div>
    </div>

    <div class='footer-line medium'>
        C5, Level 1, 2 Main Street Point Cook Vic 3030 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABN 65 617 964 539
    </div>

</div>