<!-- Required meta tags -->
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

<title>Tax Invoice</title>

<style>
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    
    body {
        background: #fff;
        margin: 0;
        padding: 0;
        font-family: 'Roboto';
        color: #000;
        font-size: 13px;
        font-weight: 400;
    }
    
    .pdf_wrapper {
        width: 940px;
        margin: 0 auto;
        padding: 0 !important;
    }
    
    .container_pdf {
        width: 940px;
        margin: 0 auto;
        padding: 0 0;
    }
    
    .content {
        padding: 0 !important;
    }
    
    .header_pdf {
        background: url('https://thesolarproduct.com/assets/common/images/SolarMiner/header-bg.png') 0 0 no-repeat;
        height: 120px;
        display: flex;
        align-items: center;
        padding: 0;
        width: 940px;
        justify-content: space-between;
    }
    
    .logo {
        width: 260px;
    }
    
    .logo img {
        max-width: 260px;
        margin-left: 15px;
        margin-top: -10px;
    }
    
    .header-details {
        width: 565px;
    }
    
    .basic-info {
        color: #fff;
        font-size: 12px;
    }
    
    .title-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #ADADAD;
        align-items: center;
        margin-right: 15px;
    }
    
    .main-title {
        color: #fff;
        font-size: 38px;
        text-transform: uppercase;
        font-weight: 900;
    }
    
    .sub-title {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
    }
    
    .date {
        font-size: 14px;
    }
    
    .text-right {
        text-align: right !important;
    }
    
    .bolder {
        font-weight: 900 !important;
    }
    
    .bold {
        font-weight: 700 !important;
    }
    
    .medium {
        font-weight: 500 !important;
    }
    
    .dflex {
        display: flex;
    }
    
    .align-item-center {
        align-items: Center;
    }
    
    .justify-space-between {
        justify-content: space-between;
    }
    
    .f10 {
        font-size: 10px !important;
    }
    
    .f12 {
        font-size: 12px !important;
    }
    
    .f14 {
        font-size: 14px !important;
    }
    
    .f16 {
        font-size: 16px !important;
    }
    
    .mb5 {
        margin-bottom: 5px !important;
    }
    
    .mb10 {
        margin-bottom: 10px !important;
    }
    
    .mb15 {
        margin-bottom: 15px !important;
    }
    
    .mb20 {
        margin-bottom: 20px !important;
    }
    
    .gray {
        color: #666 !important;
    }
    
    .black {
        color: #000 !important;
    }
    
    .sep {
        height: 1px;
        background: #DAE3ED;
        width: 100%;
        margin: 30px 0;
        display: block;
    }
    
    .pdf-container {
        width: 920px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    
    .left-box {
        width: 280px;
    }
    
    .right-box {
        width: 615px;
    }
    
    .customer-info {
        border-left: 5px solid #F2F2F2;
        background: url('https://thesolarproduct.com/assets/common/images/SolarMiner/gray-arrow.png') 0 30px no-repeat;
        padding-left: 15px;
    }
    
    .qt-title {
        color: #666;
    }
    
    .cust-name {
        font-size: 24px;
        color: 000;
    }
    
    .left-content-title {
        color: #29588F;
        font-size: 18px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
    }
    
    .left-content-title img {
        margin-right: 10px;
    }
    
    .payment-box {
        background: url('https://thesolarproduct.com/assets/common/images/SolarMiner/payment-bg.png') 0 0 no-repeat;
        height: 80px;
        width: 260px;
        display: flex;
        align-items: center;
        padding: 0 15px 0 10px;
    }
    
    .payment-box img {
        margin-right: 10px;
    }
    
    .warranty-box {
        background: url('https://thesolarproduct.com/assets/common/images/SolarMiner/warranty-bg.png') 0 0 no-repeat;
        width: 281px;
        height: 206px;
    }
    
    .warranty-content {
        display: flex;
        align-items: center;
        height: 50px;
        margin-bottom: 2px;
    }
    
    .warranty-content .years {
        font-size: 28px;
        font-weight: 900;
        color: #fff;
        text-align: center;
        width: 60px;
        margin-right: 15px;
    }
    
    .warranty-content .years span {
        font-weight: normal;
        font-size: 12px;
        text-transform: uppercase;
        display: block;
    }
    
    .advisor {
        border-left: 2px solid #f2f2f2;
        padding: 10px 0 10px 15px;
    }
    
    .primary-table table {
        width: 100%;
        border: 0;
        border-collapse: collapse;
    }
    
    .primary-table table th {
        height: 50px;
        background: #333;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        padding: 0 15px;
    }
    
    .primary-table table th.price-box {
        background: #333 url('https://thesolarproduct.com/assets/common/images/SolarMiner/th-bg.png') right center no-repeat;
        width: 128px;
        text-align: right;
    }
    
    .primary-table table td {
        padding: 15px;
        border-top: 1px solid #DAE3ED;
        font-size: 12px;
    }
    
    .primary-table table td:last-child {
        text-align: right;
    }
    
    .primary-table table tr.subtotal td {
        border: 1px solid #333;
        border-width: 1px 0;
        font-weight: 600;
    }
    
    .primary-table table tr.balance-row td {
        background-color: #333;
        color: #fff;
        font-weight: 600;
        text-align: right;
        height: 40px;
        border: 0;
        padding: 0 15px;
        font-size: 14px;
    }
    
    .primary-table table tr.balance-row td:last-child {
        background: #333 url('https://thesolarproduct.com/assets/common/images/SolarMiner/sub-title-bg.png') right center no-repeat;
    }
    
    .pdf_panel {
        display: block;
    }
    
    .pdf_panel .pdf_panel-header,
    .normal-title {
        background: #333 url('https://thesolarproduct.com/assets/common/images/SolarMiner/sub-title-bg.png') right center no-repeat;
        height: 35px;
        line-height: 35px;
        padding: 0 15px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
    }
    
    .pdf_panel_content {
        font-size: 10px;
        line-height: 10px;
        background: #F2F2F2;
        padding: 10px 15px;
    }
    
    .sign-container {
        display: flex;
        justify-content: space-between;
        width: 940px;
        margin: 0 10px;
    }
    
    .sign-container .sign-box {
        width: 420px;
    }
    
    .sign-box .sign {
        display: flex;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid #ccc;
        width: 410px;
    }
    
    .footer-line {
        width: 100%;
        background: #333 url('https://thesolarproduct.com/assets/common/images/SolarMiner/footer-bg.png') 0 0 no-repeat;
        height: 8px;
        margin: 0;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    .red {
        color: red !important;
    }
    
    .solar-info {
        margin: 0;
        padding: 0;
    }
    
    .solar-info li {
        list-style: none;
        padding: 15px 15px 15px 45px;
        background-image: url('https://thesolarproduct.com/assets/common/images/SolarMiner/bullet.png');
        background-repeat: no-repeat;
        background-position: 10px center;
        font-size: 14px;
        line-height: 18px;
    }
    
    .solar-info li:nth-child(odd) {
        background-color: #F2F2F2;
    }
    
    .balance-due {
        border: 2px dotted #e63338;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 0;
        font-size: 26px;
        font-weight: 900;
        background: #fffafa;
        line-height: 32px;
        color: #000;
    }
    
    .balance-due span {
        display: block;
        font-size: 18px;
        font-weight: 900;
        color: #e63338;
    }
    
    .pdf_grayNo {
        color: #ADADAD !important;
    }
    
    .pdf_white {
        color: #fff !important;
    }
</style>



<div class='pdf_wrapper'>
    <div class='container_pdf'>
        <!-- HEADER STARTS -->
        <div class='header_pdf'>
            <div class='logo'>
                <img src='https://thesolarproduct.com/assets/common/images/sm/SM-logo.png'>
            </div>
            <div class='header-details'>
                <div class='dflex align-item-center justify-space-between'>
                    <div class='basic-info'>
                        <div class='medium f16 mb10'>The Green Miner Pty Ltd T/A Solar Miner</div>
                        <div class='medium mb15'><span class='bold'>ABN:</span> 93 603 941 475 <span style='margin:0 5px;'>|</span>
                            <span class='bold medium' style='background:#FF0000; padding:6px 15px; border-radius:15px; color:#fff;'><img src='https://thesolarproduct.com/assets/common/images/sm/phone-call.png' style='position: relative; height:16px; top:4px;'> <span class='bold'>1300 285 885</span></span>
                        </div>
                        <div class='dflex align-item-center '><img src='https://thesolarproduct.com/assets/common/images/sm/pin.png' style='height:16px; margin-right: 4px;'> 409 Francis St, Brooklyn VIC 3012 </div>
                    </div>
                    <div class='title-box'>
                        <div class='main-title'>Tax Invoice</div>
                        <div class='sub-title mb5'><span class='pdf_grayNo bold'>Invoice#:</span> <span class='bold'>{{TI.JobNumber}}</span></div>
                        <div class='date'><span class='bold'>Date:</span> <span class='pdf_white bold'>{{TI.Date}}</span></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- HEADER ENDS -->

        <div class='pdf-container' style='margin:30px 0;'>
            <div class='left-box'>
                <div class='customer-info'>
                    <div class='qt-title bold f16 mb5'>Quotation To:</div>
                    <div class='cust-name medium mb10'>{{TI.Cust.Name}}</div>
                    <div class='gray f12 mb10'><span class='bold'>Mobile:</span> {{TI.Cust.Mobile}}</div>
                    <div class='gray f12 mb10'><span class='bold'>Email:</span> {{TI.Cust.Email}}</div>
                    <div class='gray f12 mb10'><span class='bold'>Address:</span><br><span style='text-transform: capitalize;'>{{TI.Cust.AddressLine1}}<br>{{TI.Cust.AddressLine2}}</span></div>
                </div>
                <div class='sep'></div>

                <div>
                    <div class='left-content-title bold'><img src='https://thesolarproduct.com/assets/common/images/sm/icon-money.png' style='height:20px;'> Direct Deposit | EFT</div>

                    <div class='payment-box mb10'>
                        <img src='https://thesolarproduct.com/assets/common/images/sm/bank.png' style='height:50px;'>
                        <div>
                            <div class='bold mb5 f14'>Fund Transfer</div>
                            <div>Account Name: <span class='bold'>Solar Miner</span><br>BSB: <span class='bold'>034045</span>, Acc No.: <span class='bold'>196348</span><br>
                                <span>Ref: <span class='bold'>{{TI.JobNumber}}</span></span>
                            </div>
                        </div>
                    </div>
                    <div class='payment-box mb10'>
                        <img src='https://thesolarproduct.com/assets/common/images/sm/card.png' style='height:50px;'>
                        <div>
                            <div class='bold mb5 f14'>Credit Card</div>
                            <div>Visa / Master Card only<br>Surcharge Apply<br>Call: <span class='bold'>1300 285 885</span></div>
                        </div>
                    </div>
                    <div class='payment-box mb10'>
                        <img src='https://thesolarproduct.com/assets/common/images/sm/pay-id.png' style='height:50px;'>
                        <div>
                            <div class='bold mb5 f14'>Pay ID</div>
                            <div>ABN: <span class='bold'>93 603 941 475</span><br> <span>Ref: <span class='bold'>{{TI.JobNumber}}</span></span>
                            </div>
                        </div>
                    </div>


                    <div class='payment-box mb15'>
                        <img src='https://thesolarproduct.com/assets/common/images/sm/cheque.png' style='height:50px;'>
                        <div>
                            <div class='bold mb5 f14'>Cheque Payable to</div>
                            <div><span class='bold'>Solar Miner</span><br>P/O : <span class='bold'>1011</span>,<br>Altona Gate VIC 3024</div>
                        </div>
                    </div>

                </div>


            </div>
            <div class='right-box'>
                <div class='dflex align-item-center justify-space-between mb15'>
                    <div class='dflex justify-space-between' style='width:445px;'>
                        <div>
                            <div class='gray f12 mb10'><span class='bold'>Phase(Power):</span><br>{{TI.Cust.MeterPhase}}</div>
                            <div class='gray f12 mb10'><span class='bold'>Roof Type:</span><br>{{TI.Cust.RoofType}}</div>
                            <div class='gray f12 mb10'><span class='bold'>Roof Pitch:</span><br>{{TI.Cust.RoofPitch}}</div>
                            <div class='gray f12 mb10'><span class='bold'>Energy Retailer:</span><br>{{TI.Cust.ElecRetailer}}</div>
                            <div class='gray f12'><span class='bold'>Meter No:</span><br>{{TI.Cust.MeterNo}}</div>
                        </div>
                        <div>
                            <div class='gray f12 mb10'><span class='bold'>Switchboard Upgrade require:</span><br>{{TI.Cust.MeterUpgrad}}</div>
                            <div class='gray f12 mb10'><span class='bold'>No. of Storey:</span><br>{{TI.Cust.PropertyType}}</div>
                            <div class='gray f12 mb10'><span class='bold'>Energy Dist:</span><br>{{TI.Cust.ElecDist}}</div>
                            <div class='gray f12 mb10'><span class='bold'>NMI:</span><br>{{TI.Cust.NIMINumber}}</div>
                        </div>
                    </div>
                    <div class='balance-due'>
                        <span>Balance Due</span> ${{TI.BalanceDue}}
                    </div>
                </div>
                <div class='primary-table'>
                    <table>
                        <tr>
                            <th>Product Details</th>
                            <th class='price-box'>Total Cost<br><span class='f10 medium'>Inc GST</span></th>
                        </tr>
                        <tr>
                            <td colspan='2' style='text-align:left'>
                                <div style='height:150px;'>
                                    {{TI.PD.SystemDetails}}
                                </div>
                            </td>
                        </tr>
                        <tr class='subtotal'>
                            <td>Basic Cost</td>
                            <td>${{TI.PD.TCost}}</td>
                        </tr>
						<tr>
                            <td>Plus Additional Cost</td>
                            <td>${{TI.PD.ACharge}}</td>
                        </tr>
						<tr>
                            <td>Total Cost</td>
                            <td>${{TI.PD.TotalCost}}</td>
                        </tr>
                        <tr>
                            <td>Less STC Rebate</td>
                            <td>${{TI.PD.Stc}}</td>
                        </tr>
                        <tr>
                            <td>Solar VIC Rebate</td>
                            <td>${{TI.PD.SolarRebate}}</td>
                        </tr>
                        <tr>
                            <td>Solar VIC Loan</td>
                            <td>${{TI.PD.SolarLoan}}</td>
                        </tr>
                        <tr>
                            <td>Less Discount</td>
                            <td>${{TI.PD.Discount}}</td>
                        </tr>
                        <tr>
                            <td>Net Cost</td>
                            <td>${{TI.PD.NetCost}}</td>
                        </tr>
                        <tr>
                            <td>Amount Paid</td>
                            <td>${{TI.PD.Deposit}}</td>
                        </tr>
                        <tr class='balance-row'>
                            <td>Balance Due :</td>
                            <td>${{TI.BalanceDue}}</td>
                        </tr>
                    </table>
                </div>

                <div class='pdf_panel' style='width:100%;'>

                    <div class='pdf_panel_content f14' style='line-height:20px; text-align: right;'>
                        <span class='bold '>Note:</span> The Net Cost above includes GST of : ${{TI.PD.Gst}}</div>
                </div>

            </div>
        </div>

    </div>
    <div class='footer-line'></div>

</div>