﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #reviewTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="reviewTypes.id">Edit Review Type</span>
                        <span *ngIf="!reviewTypes.id">Create New Review Type</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="form-group form-icon">
                            <label for="ReviewType_ReviewType">{{l("ReviewTypeName")}} *</label>
                            <input type="text" #ReviewType_ReviewType="ngModel" id="ReviewType_ReviewType" class="form-control" [(ngModel)]="reviewTypes.name" name="name" required />
                            <validation-messages [formCtrl]="ReviewType_ReviewType"></validation-messages>
                            <span class="icon-box"><i class="las la-edit"></i></span>
                        </div>
                        <div class="form-group form-icon">
                            <label for="ReviewType_ReviewTypeLink">{{l("ReviewTypeLink")}} *</label>
                            <input type="text" #ReviewType_ReviewTypeLink="ngModel" id="ReviewType_ReviewTypeLink" class="form-control" [(ngModel)]="reviewTypes.reviewLink" name="reviewLink" required />
                            <validation-messages [formCtrl]="ReviewType_ReviewTypeLink"></validation-messages>
                            <span class="icon-box"><i class="las la-link"></i></span>
                        </div>
                        <div class="form-group form-icon">
                            <label>Is-Active</label>
                            <input type="checkbox"  class="form-control" [(ngModel)]="reviewTypes.isActive" name="isActive" style="width: 22px;" />
                          </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!reviewTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>