<div bsModal #viewBrandingPartner="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewBrandingPartner" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("ViewSlider")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray p-0">

                <div class="p-3">
                    <div class="promotion-title">
                        <span>{{ BrandingPartner.brandName }}</span>
                    </div>
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-sm-12">{{l("Product Type")}} : <span style="font-weight:600;">{{ BrandingPartner.productCategory }} </span></div>

                        </div>
                    </div>
                    <div class="modal-white-box">
                        <h3 style="font-size:1.2rem;">{{l("Logo")}}</h3>
                        <img src='{{imgurl}}' style="max-width:360px;">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i class="las la-times-circle"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>