<div [@routerTransition] (window:resize)="onResize($event)">
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{"Maintenance" | localize}}</span>
                    </h3>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">

            <div class="kt-portlet__body padzero maintenancetab">
                <div class="tab_design tab-new">
                    <tabset>
                        <tab heading=" {{'Caches' | localize}}">
                            <div class="kt-portlet paddtop0">
                                <div class="row flex_div paddtopbotm7">
                                    <div class="col-md-6">
                                        <p class="notes paddtopnone pl-3">{{"CachesHeaderInfo" | localize}}</p>
                                    </div>
                                    <div class="col-md-6 text-right pr-3">
                                        <div class="btnexceldropdown padrightzero">
                                            <button class="btn btn-primary blue btn_icon_in d-flex align-items-center" (click)="clearAllCaches()" style="margin-left:auto;">
                                            <!-- <i class="fa fa-recycle"></i> -->
                                            {{"ClearAll" | localize}}
                                            <i class="las la-times-circle text-white ml-2" style="padding-right:0 !important;"></i>
                                        </button>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl-12">
                                        <table class="table table-hover table-bordered">
                                            <tbody>
                                                <tr *ngFor="let cache of caches">
                                                    <td>
                                                        <span>{{cache.name}}</span>

                                                    </td>
                                                    <td style="width:50px;"><button class="btn btn-default btn-sm pull-right btngray" (click)="clearCache(cache.name);">
                                                        <!-- <i class="fa fa-times"></i> -->
                                                        <!-- {{"Clear" | localize}} -->
                                                        <i class="las la-trash fs-1 text-danger"></i>
                                                    </button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab heading="{{'WebSiteLogs' | localize}}">
                            <div class="kt-portlet paddtop0">
                                <div class="row flex_div paddtopbotm7">
                                    <div class="col-md-6">
                                        <p class="notes paddtopnone pl-3">{{"WebSiteLogsHeaderInfo" | localize}}</p>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <div class="btnexceldropdown downloadbtn padrightzero">
                                            <button class="btn btn-primary blue btn_icon_in btn_height_small" (click)="downloadWebLogs()">
                                             {{"DownloadAll" | localize}}
                                             <img src="../../../assets/common/images/icon_downloadall.svg"/>
                                            
                                            </button>
                                            <button class="btn btn-success btn_icon_in btn_height_small icon_width15" (click)="getWebLogs()">
                                            <!-- <i class="fa fa-sync"></i> -->
                                            {{"Refresh" | localize}}
                                            <img src="../../../assets/common/images/icon_refresh.svg"/>
                                        </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row tabledatabox rolebadge pl-4 pr-4">
                                    <div class="col-xl-12">
                                        <div class="web-log-view full-height">
                                            <span class="log-line" *ngFor="let log of logs">
                                                <span [class]="getLogClass(log)">{{getLogType(log)}}</span> {{getRawLogContent(log)}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
            </div>

        </div>
    </div>
</div>