﻿<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>Postal Types</span>
                        <span class="total-records-count">
                    ({{(primengTableHelper.totalRecordsCount)}})
                </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getPostalTypes()"></button>
                            </li>

                            <li>
                                <div class="btn-group btnexceldropdown" dropdown>
                                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!-- <i class="far fa-file-excel"></i> -->
                            <!-- {{"ExcelOperations" | localize}} -->
                            Export
                            <img src="../../../assets/common/images/icon_downarrow.svg" />
            
                        </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                        <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            <i class="las la-file-csv"></i> CSV
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            <i class="las la-file-pdf"></i> PDF
                                        </a>

                                    </div>
                                </div>
                            </li>
                            <li><button *ngIf="isGranted('Pages.PostalTypes.Create')" (click)="createPostalType()" class="btn btn-outline-primary btnadd">
                        Add <i class="las la-plus-circle"></i></button>
                            </li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" [placeholder]="l('SearchWithThreeDot')" [(ngModel)]="filterText" (keydown.enter)="getPostalTypes();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getPostalTypes()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getPostalTypes();searchLog();" />
                                    </div>
                                </div>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">


                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getPostalTypes($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.PostalTypes.Edit', 'Pages.PostalTypes.Delete')">{{l('Actions')}}</th>
                                        <th pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="postalType.name"></p-sortIcon>
                                        </th>
                                        <th  pSortableColumn="code">
                                            {{l('Code')}}
                                            <p-sortIcon field="postalType.code"></p-sortIcon>
                                        </th>
                                        <th  pSortableColumn="isActive">
                                            {{l('IsActive')}}
                                            <p-sortIcon field="postalType.isActive"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.PostalTypes.Edit', 'Pages.PostalTypes.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                                <ul class="dropdown-menu" *dropdownMenu>

                                                    <li>
                                                        <a href="javascript:;" (click)="viewPostalTypeModal.show(record)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.PostalTypes.Edit')" (click)="this.createOrEditPostalTypeModal.show(record.postalType.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.PostalTypes.Delete')" (click)="deletePostalType(record.postalType)">
                                                            <i class="las la-trash "></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.postalType.name}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('Code')}}</span> {{record.postalType.code}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('IsActive')}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.postalType.isActive">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.postalType.isActive">{{'No' | localize}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getPostalTypes($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditPostalTypeModal #createOrEditPostalTypeModal (modalSave)="getPostalTypes()"></createOrEditPostalTypeModal>
        <viewPostalTypeModal #viewPostalTypeModal></viewPostalTypeModal>



    </div>
</div>