<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("LeadActivityDetail")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getAcivityList()" class="btn_refresh"></button>
                                </li>
                                <li>
                                    <div class="kt-stextbox">
                                        <select name="organizationid" class="form-control" [(ngModel)]="organizationid" (change)="getAcivityList()">
                                            <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-stextbox">
                                        <select class="form-control" [(ngModel)]="teamId" name="teamId" (change)="getAcivityList()">
                                            <option value="0">{{l("SelectTeam")}}</option>
                                            <option *ngFor="let item of filteredTeams" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox maxwdth210" style="margin-right:10px;">
                                            <select class="form-control" [(ngModel)]="userId" name="userId" (change)="getAcivityList()">
                                                <option value="0">{{l("SelectUser")}}</option>
                                                <option *ngFor="let item of userlist" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" style="margin-left:0 !important;" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <!-- <div  *ngIf="!show" class="kt-advancefilterbox"> -->
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform ">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <!-- <a class="btnclearsearch btndateClear" style="top:2px !important; right:35px;" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a> -->
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" style="top:2px !important; right:35px;" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <!-- <button class="btn btn_red btn-sm marright10"><i class="fa fa-times-circle"></i>{{l("Clear")}}</button> -->
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getAcivityList($event)"><i class="fa fa-search"></i> {{l("Search")}}</button>

                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </li>

                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">
                    <form class="kt-form pad25" hidden autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getAcivityList()" class="btn btn-primary"
                                                    type="submit"><i class="flaticon-search-1"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center" [ngClass]="{'unselectable': ('Pages.ActivityReport.EnableCopyPaste' | permission)}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getAcivityList($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable (onLazyLoad)="getAcivityList($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        
                                        <th class="actionwidth">
                                            {{l('Actions')}}</th>
                                            <th>
                                                {{l('Section')}}
                                            </th>
                                        <!-- <th>
                                            {{l('CompanyName')}}
                                        </th> -->
                                        <th>
                                            {{l('ActionName')}}
                                        </th>
                                        <th>
                                            {{l('CreationTime')}}
                                        </th>
                                        <th>
                                            {{l('User')}}
                                        </th>
                                        <th>
                                            {{l('ActionNote')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align:center;" class="actionwidth">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>

                                            </div>
                                        </td>
                                        <td>
                                            {{record.userActivityLogs.section}}
                                        </td>
                                        <!-- <td>
                                            {{record.leadCompanyName}}
                                        </td> -->
                                        <td>
                                            {{record.action}}
                                        </td>
                                        <td>
                                            {{record.creationTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td>
                                        <td>
                                            {{record.createdBy}}
                                        </td>
                                        <td>
                                            <div class="set_warp_toltrip">{{record.userActivityLogs.actionNote}}</div>
                                        </td>
                                       
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getAcivityList($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>