// .ui-autocomplete-multiple-container.ui-inputtext{
//     border:0px!important; padding-left:0px!important; outline: none!important;
// }
// body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-input-token,
// body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-input-token input
// {width:100%!important;}

.kt-portlet__body {
    .searcharea{
    
        .col-md-3, .col-md-2, .col-md-4{
            padding-left: 10px!important; padding-right: 10px!important;
        }
        .col-md-3.pl-0{padding-left:0px!important;}
        .kt-checkbox-list{ margin-top:0px!important;
            label{margin-bottom: 0px!important; margin-top:0px!important;}
        }
        .kt-checkbox {margin-top:0px!important; margin-bottom: 0px!important;}
        .setpermission{margin-top:0px; width:180px;
            .btn-default{
                background: #d0d0d0!important;
                border:1px solid #d0d0d0!important;
                border-radius: 0.2rem!important;
                padding: 6px 16px;
                &:hover{
                    background: #bbbbbb!important;
                }
            }
            .modal-footer{
                .btn-default{
                background: orange!important;
                border:1px solid orange!important;
                border-radius: 0.2rem!important;
                padding: 6px 16px; 
                &:hover{
                    background: orange!important;
                }
                }
            }
        }
        .wdth200{width:170px; max-width: 170px;}
        .wdth150{width:130px; max-width: 130px;}
    }
    // .searchbox {padding:0px 15px 0px 0px;
    // .form-control{background: none!important; margin-bottom: 0px!important;}
    // }
    .rolefilter{
        .form-control{background: none!important; margin-bottom: 0px!important;}
    }
    }
