<div appBsModal #createModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #editionForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"CreateNewEdition" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="tab_design tab-new">
                        <tabset>
                            <tab heading="{{'EditionProperties' | localize}}">

                                <div class="modal-gray-box">
                                    <h3><i class="las la-box fs-22 mr-2"></i> Package Name</h3>
                                    <div class="form-group form-icon">
                                        <label for="EditionDisplayName">{{"EditionName" | localize}} *</label>
                                        <input id="EditionDisplayName" #editionNameInput="ngModel" class="form-control" type="text" name="EditionDisplayName" [(ngModel)]="edition.edition.displayName" required maxlength="64">
                                        <span style="top:31px;" class="icon-box"><i class="las la-box"></i></span>
                                        <validation-messages [formCtrl]="editionNameInput"></validation-messages>
                                    </div>
                                </div>

                                <div class="modal-gray-box">
                                    <h3><i class="las la-wallet fs-22 mr-2"></i> Subscription Price</h3>
                                    <div class="kt-radio-inline">
                                        <label for="EditEdition_IsFree" class="kt-radio">
                                            <input id="EditEdition_IsFree" name="SubscriptionPrice" [(ngModel)]="isFree"
                                                (ngModelChange)="resetPrices($event)" [value]="true" type="radio">
                                            {{"Free" | localize}}
                                            <span></span>
                                        </label>
                                        <label for="EditEdition_IsPaid" class="kt-radio set1">
                                            <input id="EditEdition_IsPaid" name="SubscriptionPrice" [(ngModel)]="isFree"
                                                [value]="false" type="radio">
                                            {{"Paid" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="modal-gray-box" *ngIf="!isFree">
                                    <h3><i class="las la-coins fs-22 mr-2"></i> Paid Subscription</h3>
                                    <div class="row  margin-top-10 brd_btm_none">
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="DailyPrice">{{"DailyPrice" | localize}}</label>
                                                <input #dailyPriceInput="ngModel" type="text" name="DailyPrice" id="DailyPrice" class="form-control" autocomplete="new-password" [ngClass]="{'edited':edition.edition.dailyPrice}" [required]="!isFree" [(ngModel)]="edition.edition.dailyPrice" [textMask]="{mask: currencyMask}"
                                                />
                                                <span style="top:31px;" class="icon-box"><i class="las la-dollar-sign"></i></span>
                                                <!-- <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text">{{appSession.application.currencySign}}</span></div>                                                    
                                                </div> -->
                                                <validation-messages [formCtrl]="dailyPriceInput"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="WeeklyPrice">{{"WeeklyPrice" | localize}}</label>
                                                <input #weeklyPriceInput="ngModel" type="text" name="WeeklyPrice" id="WeeklyPrice" class="form-control" autocomplete="new-password" [ngClass]="{'edited':edition.edition.weeklyPrice}" [required]="!isFree" [(ngModel)]="edition.edition.weeklyPrice" [textMask]="{mask: currencyMask}"
                                                />
                                                <span style="top:31px;" class="icon-box"><i class="las la-dollar-sign"></i></span>
                                                <!-- <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text">{{appSession.application.currencySign}}</span>
                                                    </div>                                                    
                                                </div> -->
                                                <validation-messages [formCtrl]="weeklyPriceInput"></validation-messages>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="MonthlyPrice">{{"MonthlyPrice" | localize}}</label>
                                                <span style="top:31px;" class="icon-box"><i class="las la-dollar-sign"></i></span>
                                                <input #monthlyPriceInput="ngModel" type="text" name="MonthlyPrice" id="MonthlyPrice" class="form-control" autocomplete="new-password" [ngClass]="{'edited':edition.edition.monthlyPrice}" [required]="!isFree" [(ngModel)]="edition.edition.monthlyPrice"
                                                    [textMask]="{mask: currencyMask}" />
                                                <!-- <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text">{{appSession.application.currencySign}}</span>
                                                    </div>                                                    
                                                </div> -->
                                                <validation-messages [formCtrl]="monthlyPriceInput"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="AnnualPrice">{{"AnnualPrice" | localize}}</label>
                                                <input #annualPriceInput="ngModel" type="text" name="AnnualPrice" id="AnnualPrice" class="form-control" autocomplete="new-password" [ngClass]="{'edited':edition.edition.annualPrice}" [required]="!isFree" [(ngModel)]="edition.edition.annualPrice" [textMask]="{mask: currencyMask}"
                                                />
                                                <span style="top:31px;" class="icon-box"><i class="las la-dollar-sign"></i></span>
                                                <!-- <div class="input-group">
                                                    <div class="input-group-prepend"><span class="input-group-text">{{appSession.application.currencySign}}</span>
                                                    </div>                                                    
                                                </div> -->
                                                <validation-messages [formCtrl]="annualPriceInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                    <div [hidden]="isFree" class="paid-features">
                                        <div class="kt-checkbox-list">
                                            <label for="EditEdition_IsTrialActive" class="kt-checkbox">
                                                <input id="EditEdition_IsTrialActive" type="checkbox" name="isTrialActive"
                                                    [(ngModel)]="isTrialActive" />
                                                {{"IsTrialActive" | localize}}
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="form-group trial-day-count mt-1 form-icon" *ngIf="isTrialActive" style="margin-bottom:25px !important;">
                                            <label for="TrialDayCount">{{"TrialDayCount" | localize}}</label>
                                            <input #trialDayCountInput="ngModel" class="form-control" type="number" name="TrialDayCount" id="TrialDayCount" [required]="isTrialActive" [(ngModel)]="edition.edition.trialDayCount" [ngClass]="{'edited':edition.edition.trialDayCount}" style="width:250px !important;">
                                            <span style="top:31px;" class="icon-box"><i class="las la-calculator"></i></span>
                                            <validation-messages [formCtrl]="trialDayCountInput"></validation-messages>
                                        </div>
                                        <div class="kt-checkbox-list">
                                            <label for="EditEdition_IsWaitingDayActive" class="kt-checkbox">
                                                <input id="EditEdition_IsWaitingDayActive" type="checkbox"
                                                    name="IsWaitingDayActive" [(ngModel)]="isWaitingDayActive" />
                                                {{"WaitAfterSubscriptionExpireDate" | localize}}
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="form-group trial-day-count mt-1 form-icon" *ngIf="isWaitingDayActive" style="margin-bottom:25px !important;">
                                            <label for="WaitingDayAfterExpire">{{"WaitingDayAfterExpire" | localize}}</label>
                                            <input #waitingDayAfterExpireInput="ngModel" class="form-control" type="number" name="WaitingDayAfterExpire" id="WaitingDayAfterExpire" [required]="isWaitingDayActive" [(ngModel)]="edition.edition.waitingDayAfterExpire" [ngClass]="{'edited':edition.edition.waitingDayAfterExpire}"
                                                style="width:250px !important;">
                                            <span style="top:31px;" class="icon-box"><i class="las la-hourglass-half"></i></span>
                                            <validation-messages [formCtrl]="waitingDayAfterExpireInput"></validation-messages>
                                        </div>
                                        <div class="margin-top-10">
                                            <label>{{"WhatWillDoneAfterSubscriptionExpiry" | localize}}</label>
                                            <div class="kt-radio-inline mt-1">
                                                <label for="EditEdition_ExpireAction_DeactiveUser" class="kt-radio">
                                                <input id="EditEdition_ExpireAction_DeactiveUser" name="ExpireAction"
                                                    [(ngModel)]="expireAction" [value]="expireActionEnum.DeactiveTenant"
                                                    (ngModelChange)="removeExpiringEdition($event)" type="radio">
                                                {{"DeactiveTenant" | localize}}
                                                <span></span>
                                            </label>
                                                <label for="EditEdition_ExpireAction_AssignEdition" class="kt-radio">
                                                <input id="EditEdition_ExpireAction_AssignEdition" name="ExpireAction"
                                                    [(ngModel)]="expireAction" [value]="expireActionEnum.AssignToAnotherEdition"
                                                    type="radio">
                                                {{"AssignToAnotherEdition" | localize}}
                                                <span></span>
                                            </label>
                                            </div>
                                        </div>
                                        <div class="form-group edition-list form-icon" *ngIf="expireAction == expireActionEnum.AssignToAnotherEdition">
                                            <select name="expiringEdition" class="form-control" [(ngModel)]="edition.edition.expiringEditionId" [attr.min]="expireAction == expireActionEnum.AssignToAnotherEdition ? 1:0" style="width:250px !important;">
                                                <option *ngFor="let expiringEdition of expiringEditions"
                                                    [value]="expiringEdition.value">{{expiringEdition.displayText}}</option>
                                            </select>
                                            <span style="top:2px;" class="icon-box"><i class="las la-box"></i></span>
                                        </div>
                                    </div>
                                </div>


                            </tab>
                            <tab heading="{{'Features' | localize}}">
                                <feature-tree #featureTree></feature-tree>
                            </tab>
                        </tabset>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!editionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>