<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{("Edition" | localize)}}</span>
                        <span class="total-records-count">
                            ({{primengTableHelper.totalRecordsCount}})
                        </span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getEditions()"></button>
                            </li>
                            <li *ngIf="'Pages.Editions.Create' | permission"><button class="btn btn-outline-primary btnadd" (click)="createEdition()">
                                Add <i class="las la-plus-circle"></i>
                            </button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getEditions()" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!(['Pages.Editions.Edit', 'Pages.Editions.Delete'] | permissionAny)">
                                            {{'Actions' | localize}}
                                        </th>
                                        <th>
                                            {{'EditionName' | localize}}
                                        </th>
                                        <th style="width:250px">
                                            {{'Price' | localize}}
                                        </th>
                                        <th style="width:130px; text-align:center;">
                                            {{'IsTrialActive' | localize}}
                                        </th>
                                        <th style="width:242px">
                                            {{'WaitingDayAfterExpire' | localize}}
                                        </th>
                                        <th style="width:173px">
                                            {{'ExpiringEdition' | localize}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="text-align:center" class="actionwidth">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{"Actions" | localize}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="'Pages.Editions.Edit' | permission" (click)="editEditionModal.show(record.id)">
                                                            <i class="las la-edit"></i> {{'Edit' | localize}}</a>
                                                    </li>

                                                    <li>
                                                        <a href="javascript:;" *ngIf="'Pages.Editions.Delete' | permission" (click)="deleteEdition(record)">
                                                            <i class="las la-trash"></i> {{'Delete' | localize}}</a>
                                                    </li>

                                                    <li>
                                                        <a href="javascript:;" *ngIf="'Pages.Editions.MoveTenantsToAnotherEdition' | permission" (click)="moveTenantsToAnotherEditionModal.show(record.id)">
                                                            <i class="las la-exchange-alt"></i> {{'MoveTenantsToAnotherEdition' | localize}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'EditionName' | localize}}</span> {{record.displayName}}
                                        </td>
                                        <td style="width:250px">
                                            <span class="ui-column-title">{{'Price' | localize}}</span>
                                            <span class="badge badge-secondary blue" *ngIf="record.dailyPrice || record.weeklyPrice || record.monthlyPrice || record.annualPrice">
                                                {{appSession.application.currencySign}}{{record.dailyPrice}} {{"Daily" |
                                                localize }} /
                                                {{appSession.application.currencySign}}{{record.weeklyPrice}} {{"Weekly"
                                                | localize }} /
                                                {{appSession.application.currencySign}}{{record.monthlyPrice}}
                                                {{"Monthly" | localize }} /
                                                {{appSession.application.currencySign}}{{record.annualPrice}} {{"Annual"
                                                | localize }}
                                            </span>
                                            <span class="badge badge-secondary" *ngIf="!record.dailyPrice && !record.weeklyPrice && !record.monthlyPrice && !record.annualPrice">
                                                {{"Free" | localize}}
                                            </span>
                                        </td>
                                        <td style="width:130px; text-align:center; ">
                                            <span class="ui-column-title">{{'IsTrialActive' | localize}}</span>
                                            <span *ngIf="record.trialDayCount" class="kt-badge kt-badge--success kt-badge--inline">
                                                {{"Yes" | localize}}, {{record.trialDayCount}} {{"Days" | localize}}
                                            </span>
                                            <span *ngIf="!record.trialDayCount" class="kt-badge kt-badge--dark kt-badge--inline">
                                                {{"No" | localize}}
                                            </span>

                                        </td>
                                        <td style="width:242px">
                                            <span class="ui-column-title">{{'WaitingDayAfterExpire' | localize}}</span> {{record.waitingDayAfterExpire}}
                                        </td>
                                        <td style="width:173px">
                                            <span class="ui-column-title">{{'ExpiringEdition' | localize}}</span> {{record.expiringEditionDisplayName}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container min_height51">

                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                            <div class="ui-table-footer">
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <createEditionModal #createEditionModal (modalSave)="getEditions()"></createEditionModal>
    <editEditionModal #editEditionModal (modalSave)="getEditions()"></editEditionModal>
    <moveTenantsToAnotherEditionModal #moveTenantsToAnotherEditionModal></moveTenantsToAnotherEditionModal>
</div>