<div appBsModal #editModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #editionForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{l("EditEdition")}}: {{edition.edition.displayName}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="tab_design tab-new">
                        <tabset>
                            <tab heading="{{l('EditionProperties')}}">
                                <div class="modal-gray-box">
                                    <h3><i class="las la-box fs-22 mr-2"></i> Package Name</h3>
                                    <div class="form-group form-icon">
                                        <label for="EditionDisplayName">{{l("EditionName")}} *</label>
                                        <input id="EditionDisplayName" #editionNameInput="ngModel" class="form-control" type="text" name="EditionDisplayName" [ngClass]="edition.edition.displayName" [(ngModel)]="edition.edition.displayName" required maxlength="64">
                                        <span style="top:31px;" class="icon-box"><i class="las la-box"></i></span>
                                        <validation-messages [formCtrl]="editionNameInput"></validation-messages>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{l('Features')}}">
                                <feature-tree #featureTree></feature-tree>
                            </tab>
                        </tabset>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!editionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>