﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #installationItemListForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off"
                [ngClass]="{ 'has-error': installationItemListForm.submitted}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="installationItemPeriod.id">{{l("EditInstallationItemList")}}</span>
                        <span *ngIf="!installationItemPeriod.id">{{l("CreateInstallationItemList")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body lead_expen_popup modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-3" *ngIf="organizationUnitlength != 0">
                                <div class="kt-sdropdown">
                                    <div class="form-group form-icon">
                                        <label for="daterange">Organization</label>
                                        <div class="selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control"
                                                [(ngModel)]="installationItemPeriod.organizationUnit"
                                                [disabled]="installationItemPeriod.id">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                            <span class="icon-box"><i class="las la-sitemap"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label for="Name">{{l("Name")}}</label>
                                    <input type="text" id="Name" class="form-control"
                                        [(ngModel)]="installationItemPeriod.name" name="Name" required />
                                    <span class="icon-box"><i class="las la-edit"></i></span>
                                </div>
                            </div>



                            <div class="col-md-3">
                                
                                <div class="form-group form-icon">
                                    <label>Period</label>
                                    <select name="PeriodMonths" class="form-control"
                                        [(ngModel)]="installationItemPeriod.month"
                                        [disabled]="installationItemPeriod.id" required>
                                        <option [ngValue]="undefined">Select</option>
                                        <option *ngFor="let item of monthList" value="{{item.Value}}">{{item.Text}}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                <label>Fetch</label>
                                <button class="form-control btn btn-primary" type="button" (click)="getPrevProductItemsList()"
                                    *ngIf="!installationItemPeriod.id"
                                    style="height:40px; line-height:18px;">{{l("Get")}}</button>
                                    </div>
                            </div>




                        </div>
                    </div>

                    <div class="modal-white-box">
                        <h3>Product Items ({{ installationItemList.length }})</h3>
                        <div class="productsgridbox formcontainer">
                            <div class="row mb-2">
                                <div class="col-md-3">Product Type</div>
                                <div class="col-md-4">Product Name</div>
                                <div class="col-md-2">Price/Watt</div>
                                <div class="col-md-2">Unit Price</div>
                                <div class="col-md-1">Action</div>
                            </div>
                            <div class="row marginbtm0 mb-2" *ngFor="let item of installationItemList; let i = index">
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <select class="form-control" (change)="changeProductType(i)"
                                            [(ngModel)]="item.productTypeId" required #productType="ngModel"
                                            name="productType{{i}}">
                                            <option value="">Product Type</option>
                                            <option *ngFor="let item of productTypes" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <p-autoComplete [(ngModel)]="item.productItemName" id="productItemName"
                                            name="jp{{i}}" #productItem="ngModel" required
                                            [suggestions]="productItemSuggestions"
                                            (completeMethod)="filterProductIteams($event , i)"
                                            (onSelect)="selectProductItem($event, i)" aria-placeholder="Search Item"
                                            [minLength]="5" inputStyleClass="form-control"
                                            styleClass="width-percent-100">
                                            <ng-template let-result pTemplate="item">
                                                <div class="result-item">
                                                    {{result.productItem}}
                                                </div>
                                            </ng-template>
                                        </p-autoComplete>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" #jpmodel="ngModel" name="Price_Watt{{i}}"
                                            placeholder="Price/Watt" class="form-control"
                                            [(ngModel)]="item.pricePerWatt" required (change)="calculateUnitPrice(i)">

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" #jpmodel="ngModel" name="Unit_Price{{i}}"
                                            placeholder="Unit Price" class="form-control" [(ngModel)]="item.unitPrice"
                                            required>

                                    </div>

                                </div>
                                <div class="col-md-1">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="action-btn mr-1" *ngIf="installationItemList.length != 1">
                                            <a (click)="removeInstallationItem(item)" class=""><i
                                                    class="las la-trash text-danger"></i></a>
                                        </div>
                                        <div class="action-btn addbtn" *ngIf="installationItemList.length == (i+1)">
                                            <a (click)="addInstallationItem()"><i class="las la-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!installationItemListForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>