<div class="kt-portlet kt-portlet--height-fluid dashboardboxmain margingcomman2">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Lead Statistics {{totalLeads}}
            </h3>

        </div>
    </div>
    <div class="kt-portlet__body row" style="min-height:155px; justify-content: center;">

        <!-- <div class="col-lg-12">
            <ul class="countmainarea">
                <li>
                    <div class="avatar bg-light-primary mr-2"><div class="avatar-content">
                      
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                    </div></div>
                    <div class="dashboard_countbox">
                        <h3>New</h3>{{new}}
                    </div>
                </li>
                <li>
                     <div class="avatar bg-light-info mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                                              </div></div>
                    <div class="dashboard_countbox">
                        <h3>UnHandled</h3>{{unHandled}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-danger bg_bule_light mr-2"><div class="avatar-content"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box avatar-icon"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg></div></div>
                    <div class="dashboard_countbox">
                        <h3>Cold</h3>{{cold}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-primary bg_orange mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                          </div></div>
                    <div class="dashboard_countbox">
                        <h3>Warm</h3>{{warm}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-primary bg_red mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-coffee"><path d="M18 8h1a4 4 0 0 1 0 8h-1"></path><path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path><line x1="6" y1="1" x2="6" y2="4"></line><line x1="10" y1="1" x2="10" y2="4"></line><line x1="14" y1="1" x2="14" y2="4"></line></svg>
                        </div></div>
                    <div class="dashboard_countbox">
                        <h3>Hot</h3>{{hot}}
                    </div>
                </li>
            </ul>
            <ul class="countmainarea">
                <li>
                    <div class="avatar bg-light-info bg_pink mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sunrise"><path d="M17 18a5 5 0 0 0-10 0"></path><line x1="12" y1="2" x2="12" y2="9"></line><line x1="4.22" y1="10.22" x2="5.64" y2="11.64"></line><line x1="1" y1="18" x2="3" y2="18"></line><line x1="21" y1="18" x2="23" y2="18"></line><line x1="18.36" y1="11.64" x2="19.78" y2="10.22"></line><line x1="23" y1="22" x2="1" y2="22"></line><polyline points="8 6 12 2 16 6"></polyline></svg>
                       </div></div>
                    <div class="dashboard_countbox">
                        <h3>Upgrade</h3>{{upgrade}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-danger mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-slash"><circle cx="12" cy="12" r="10"></circle><line x1="4.93" y1="4.93" x2="19.07" y2="19.07"></line></svg>
                       </div></div>
                    <div class="dashboard_countbox">
                        <h3>Rejected</h3>{{rejected}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-danger mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                      </div></div>
                    <div class="dashboard_countbox">
                        <h3>Canceled</h3>{{canceled}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-success mr-2"><div class="avatar-content">
                        <img src="../../../../assets/common/images/icon_close1.svg" alt="" class="width32" />
                       </div></div>
                    <div class="dashboard_countbox">
                        <h3>Closed</h3>{{closed}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-info mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
                      </div></div>
                    <div class="dashboard_countbox">
                        <h3>Assigned</h3>{{assigned}}
                    </div>
                </li>
            </ul>
            <ul class="countmainarea">
             
                <li>
                    <div class="avatar bg-light-info bg_purpal mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                       </div></div>
                    <div class="dashboard_countbox">
                        <h3>ReAssigned</h3>{{reAssigned}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-primary bg_skybule mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                       </div></div>
                    <div class="dashboard_countbox">
                        <h3>Planned</h3>{{planned}}/{{plannedTotalCost}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-info bg_yallow mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pause-circle"><circle cx="12" cy="12" r="10"></circle><line x1="10" y1="15" x2="10" y2="9"></line><line x1="14" y1="15" x2="14" y2="9"></line></svg>
                      </div></div>
                    <div class="dashboard_countbox">
                        <h3>OnHold</h3>{{onHold}}/{{onHoldTotalCost}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-danger mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                      </div></div>
                    <div class="dashboard_countbox">
                        <h3>Cancel</h3>{{cancel}}/{{cancelTotalCost}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-success mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-dollar-sign avatar-icon"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
                      </div></div>
                    <div class="dashboard_countbox">
                        <h3>DepositeReceived</h3>
                        {{depositeReceived}}/{{depositeReceivedTotalCost}}
                    </div>
                </li>
            </ul>
            <ul class="countmainarea">
                <li>
                    <div class="avatar bg-light-primary mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
                      </div></div>
                    <div class="dashboard_countbox">
                        <h3>Active</h3>{{active}}/{{activeTotalCost}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-primary mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg>
                      </div></div>
                    <div class="dashboard_countbox">
                        <h3>JobBook</h3>{{jobBook}}/{{jobBookTotalCost}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-success mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
                     </div></div>
                    <div class="dashboard_countbox">
                        <h3>JobIncomplete</h3>{{jobIncomplete}}/{{jobIncompleteTotalCost}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-primary bg_purpal mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download-cloud"><polyline points="8 17 12 21 16 17"></polyline><line x1="12" y1="12" x2="12" y2="21"></line><path d="M20.88 18.09A5 5 0 0 0 18 9h-1.26A8 8 0 1 0 3 16.29"></path></svg>
                     </div></div>
                    <div class="dashboard_countbox">
                        <h3>JobInstalled</h3>{{jobInstalled}}/{{jobInstalledTotalCost}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-primary mr-2"><div class="avatar-content">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server"><rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect><rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect><line x1="6" y1="6" x2="6.01" y2="6"></line><line x1="6" y1="18" x2="6.01" y2="18"></line></svg>
                     </div></div>
                    <div class="dashboard_countbox">
                        <h3>TotalJobs</h3>{{totalJobs}}/{{totalJobsCost}}
                    </div>
                </li>
            </ul>
        </div> -->


        <div class="col-lg-12">
            <ul class="countmainarea">

                <li>
                    <div class="avatar bg-light-info mr-2">
                        <div class="avatar-content">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-check"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><polyline points="17 11 19 13 23 9"></polyline></svg>
                        </div>
                    </div>
                    <div class="dashboard_countbox">
                        <h3>Assigned</h3>{{assigned}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-danger bg_bule_light mr-2">
                        <div class="avatar-content"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box avatar-icon"><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg></div>
                    </div>
                    <div class="dashboard_countbox">
                        <h3>Cold</h3>{{cold}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-primary bg_orange mr-2">
                        <div class="avatar-content">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                        </div>
                    </div>
                    <div class="dashboard_countbox">
                        <h3>Warm</h3>{{warm}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-primary bg_red mr-2">
                        <div class="avatar-content">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-coffee"><path d="M18 8h1a4 4 0 0 1 0 8h-1"></path><path d="M2 8h16v9a4 4 0 0 1-4 4H6a4 4 0 0 1-4-4V8z"></path><line x1="6" y1="1" x2="6" y2="4"></line><line x1="10" y1="1" x2="10" y2="4"></line><line x1="14" y1="1" x2="14" y2="4"></line></svg>
                        </div>
                    </div>
                    <div class="dashboard_countbox">
                        <h3>Hot</h3>{{hot}}
                    </div>
                </li>
                <li>
                    <div class="avatar bg-light-info mr-2">
                        <div class="avatar-content">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line></svg>
                        </div>
                    </div>
                    <div class="dashboard_countbox">
                        <h3>UnHandled</h3>{{unHandled}}
                    </div>
                </li>

                <li>

                    <div class="avatar bg-light-danger mr-2">
                        <div class="avatar-content">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                        </div>
                    </div>
                    <div class="dashboard_countbox">
                        <h3>Canceled</h3>{{canceled}}
                    </div>
                </li>


            </ul>

        </div>
    </div>
</div>