<style>
    .myleadsReport ul li {
        min-width: 9%;
    }
    
    .leadtopcouont .leftpart ul li span {
        font-size: 1.2rem !important;
    }
    
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 48%;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("STCTracker")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getJobs();RereshLog();"></button></li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                                            
                                            {{l("Import")}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a href="javascript:;" class="dropdown-item icon_import" style="padding:0 !important;">
                                                <span class="fileinput-button">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx"
                                                        (uploadHandler)="uploadExcelstc($event)"
                                                        (onError)="onUploadExcelErrorstc()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a href="/assets/sampleFiles/ImportSTCSampleFile.xlsx" class="dropdown-item btnsample">
                                                <i class="las la-file-excel"></i>{{l('SampleFile')}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;">
                                                <i class="las la-file-excel"></i>{{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item icon_csv" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;">
                                                <i class="las la-file-csv"></i>{{l("ExportCSV")}}
                                            </a>

                                        </div>

                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getJobs();getinstaller();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect">
                                        <ng-select [items]="allPVDStatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select PVD Status" [(ngModel)]="pvdStatus" name="pvdStatus">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="PVDStatus" class="form-control" [(ngModel)]="pvdnoStatus" (change)="getJobs();addSearchLog('Filter PVD Status');">
                                                <option value="0"> {{l("PVDNoStatus")}}</option>
                                                <option value="1">{{l("Yes")}}</option>
                                                <option value="2">{{l("No")}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="recStatus" class="form-control" [(ngModel)]="recStatus" (change)="getJobs();addSearchLog('Filter Rec Status');">
                                                <option value="">REC Status</option>
                                                <option value="Rec Approved">Rec Approved</option>
                                                <option value="Rec Pending">Rec Pending</option>
                                                <option value="Rec Failed">Rec Failed</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText)" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getJobs()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText)" />
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="salesRepId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="salesRepId">
                                                                    <option value="0">{{l("SelectSalesRep")}}</option>
                                                                    <option *ngFor="let item of filteredReps"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group jobmultipleselect">
                                                                <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select Job Status" [(ngModel)]="jobStatusIDFilter" name="jobStatusIDFilter">
                                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                                    </ng-template>
                                                                </ng-select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group">
                                                                <select name="jobTypeId" [(ngModel)]="jobTypeId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" class="form-control" id="jobTypeId">
                                                                    <option value="0">{{l("Select Type")}}</option>
                                                                    <option *ngFor="let item of jobTypes"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" id="pvdNo" name="pvdNo" [(ngModel)]="pvdNo" placeholder='{{l("pvdNo")}}'>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group selectdropdown alljobsdropdown m-form__group">
                                                                <select class="form-control" [(ngModel)]="installerID" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="installerID">
                                                                    <option value="0">Select Installer</option>
                                                                    <option *ngFor="let item of InstallerList"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="stateNameFilter" name="stateNameFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>

                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="batteryFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="BatteryFilter">
                                                                    <option value="0">Select System With</option>
                                                                    <option value="1">With Battery System</option>
                                                                    <option value="2">Without Battery</option>
                                                                    <option value="3">Only Battery</option>
                                                                    <option value="4">Only Inverter</option>
                                                                    <option value="5">Only Battery and Inverter</option>
                                                                    <option value="6">With Battery </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li class="fullwidth">
                                                            <div class="form-group selectdropdown alljobsdropdown m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateNameFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="dateNameFilter">
                                                                    <option value="All">{{l("All")}}</option>
                                                                    <option value="StcAppliedDate">{{l("stcAppliedDate")}}</option>
                                                                    <option value="InstallDate">{{l("InstallDate")}}</option>
                                                                    <option value="InstallCmpltDate">{{l("InstallCompleteDate")}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>

                                                        <!-- <li>
                                                            <div class="form-group">
                                                                <input name="SampleDateRangePicker" type="text" (keydown.enter)="getJobs($event)" [(ngModel)]="sampleDateRange" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }"
                                                                    [(date)]="sampleDateRange" />
                                                            </div>
                                                        </li> -->

                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getJobs();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>

        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li *ngFor="let item of totalstcData">
                        <span> {{item.totalSTCAmount}} ({{item.totalJob}})</span> <label>{{item.stc}}</label>
                        <span class="total-records-count">
                        </span>
                    </li>
                </ul>
            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.Tracker.STCTracker.EnableCopyPaste' | permission)}">
                        <div class="primeng-datatable-container myleadtable bule_double_table_scrool" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center p-frozen-column" [hidden]="!isGrantedAny('Pages.Tracker.STCTracker.Edit', 'Pages.STCTracker.Delete','Pages.STCTracker.JobDetail','Pages.STCTracker.Notify', 'Pages.STCTracker.QuickView','Pages.STCTracker.SMS','Pages.STCTracker.Email', 'Pages.STCTracker.AddSTC')">
                                            {{l('Actions')}}</th>

                                        <th style="width:120px; left:95px !important;" class="p-frozen-column" pSortableColumn="jobnumber">
                                            {{l('JobNumber')}}
                                            <p-sortIcon field="jobnumber"></p-sortIcon>
                                        </th>

                                        <th style="width: 200px" pSortableColumn="jobTypeFk.name" [hidden]="!ExpandedView">
                                            {{l('JobType')}}
                                            <p-sortIcon field="jobTypeName"></p-sortIcon>
                                        </th>

                                        <th style="width: 200px" pSortableColumn="address" [hidden]="!ExpandedView">
                                            {{l('Address')}}
                                            <p-sortIcon field="address"></p-sortIcon>
                                        </th>

                                        <th style="width: 170px" pSortableColumn="InstallationDate" [hidden]="!ExpandedView">
                                            {{l('InstalledDate')}}
                                            <p-sortIcon field="InstallationDate"></p-sortIcon>
                                        </th>

                                        <th style="width: 170px" pSortableColumn="STCAppliedDate" [hidden]="!ExpandedView">
                                            {{l('STCAPPDate')}}
                                            <p-sortIcon field="stcAppliedDate"></p-sortIcon>
                                        </th>

                                        <th style="width: 170px" pSortableColumn="pvdNumber" [hidden]="!ExpandedView">
                                            {{l('PVDNo')}}
                                            <p-sortIcon field="pvdNumber"></p-sortIcon>
                                        </th>

                                        <th style="width: 170px" pSortableColumn="pVDStatus" [hidden]="!ExpandedView">
                                            {{l('PVDStatus')}}
                                            <p-sortIcon field="pvdStatusName"></p-sortIcon>
                                        </th>

                                        <th style="width: 170px" pSortableColumn="recPvdNumber" [hidden]="!ExpandedView">
                                            REC PVDNumber
                                            <p-sortIcon field="recPvdNumber"></p-sortIcon>
                                        </th>

                                        <th style="width: 170px" pSortableColumn="recPvdStatus" [hidden]="!ExpandedView">
                                            REC PVD Status
                                            <p-sortIcon field="recPvdStatus"></p-sortIcon>
                                        </th>
                                        <th style="width:150px" pSortableColumn="jobStatusFk.name" [hidden]="!ExpandedView">
                                            {{l('JobStatus')}}
                                            <p-sortIcon field="jobStatusName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px; text-align:center" pSortableColumn="systemCapacity" [hidden]="!ExpandedView">
                                            {{l('KW')}}
                                            <p-sortIcon field="systemCapacity"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px" pSortableColumn="stc" [hidden]="!ExpandedView">
                                            {{l('STC')}}
                                            <p-sortIcon field="stc"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px" pSortableColumn="Rebate" [hidden]="!ExpandedView">
                                            {{l('STCPrice')}}
                                            <p-sortIcon field="stcTotalPrice"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px" pSortableColumn="GreenbotSTC" [hidden]="!ExpandedView">
                                            Greenbot STC
                                            <p-sortIcon field="greenbotSTC"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px" [hidden]="!ExpandedView">
                                            {{l('InstallerName')}}
                                        </th>

                                        <th style="width: 150px" pSortableColumn="stcNotes" [hidden]="!ExpandedView">
                                            {{l('STCNotes')}}
                                            <p-sortIcon field="stcNotes"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" pSortableColumn="stcSmsSend" [hidden]="!ExpandedView">
                                            {{l('SmsSend')}}
                                            <p-sortIcon field="stcSmsSend"></p-sortIcon>
                                        </th>
                                        <th style="width:130px" pSortableColumn="stcEmailSend" [hidden]="!ExpandedView">
                                            {{l('EmailSend')}}
                                            <p-sortIcon field="stcEmailSend"></p-sortIcon>
                                        </th>
                                        <th style="width:200px" [hidden]="!ExpandedView">
                                            {{l('CurrentLeadOwaner')}}
                                        </th>

                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('CommentDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Reminder')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            Last Greenbot Updated
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            Last REC Updated
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.leadId}">
                                        <td class="actionwidth p-frozen-column" style="text-align: center; width:95px;" [hidden]="!isGrantedAny('Pages.Tracker.STCTracker.Edit', 'Pages.STCTracker.Delete','Pages.STCTracker.JobDetail','Pages.STCTracker.Notify', 'Pages.STCTracker.QuickView','Pages.STCTracker.SMS','Pages.STCTracker.Email', 'Pages.STCTracker.AddSTC')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.STCTracker.QuickView')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.id,0,'STC Tracker')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.STCTracker.JobDetail')">
                                                        <a href="javascript:;" [routerLink]="['/app/main/installation/installation/pendinginstallationdetail']" target="_blank" [queryParams]="{id: record.leadId}">
                                                            <i class="las la-info-circle"></i> {{l('JobDetail')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.STCTracker.Notify')">
                                                        <a (click)="notifyModel.show(record.leadId,7,0,'STC Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,9,0,7)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.STCTracker.Reminder')">
                                                        <a (click)="ReminderModal.show(record.leadId,7,0,'STC Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,8,0,7)"> -->
                                                            <i class="las la-history"></i> {{l('ActionReminder')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.STCTracker.Comment')">
                                                        <a (click)="commentModel.show(record.leadId,7,0,'STC Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,24,0,7)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.STCTracker.ToDo')">
                                                        <a (click)="todoModal.show(record.leadId,7,0,'STC Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,25,0,7)"> -->
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.STCTracker.SMS')">
                                                        <a (click)="smsModel.show(record.leadId,7,0,'STC Tracker')">
                                                            <!-- <a (click)="stcTrackerSmsEmailModel.show(record.leadId,1,8)"> -->
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.STCTracker.Email')">
                                                        <a (click)="emailModel.show(record.leadId,7,0,0,'STC Tracker')">
                                                            <!-- <a (click)="stcTrackerSmsEmailModel.show(record.leadId,2,8)"> -->
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.STCTracker.AddSTC')">
                                                        <a (click)="addstcModal.show(record.id,7,'STC Tracker')">
                                                            <i class="las la-plus-circle"></i> {{l('AddSTC')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a (click)="issuedActivityLogModel.show(record.leadId,7,'STC Tracker')">
                                                            <i class="las la-cog"></i> {{l('Activity')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:120px; left:95px !important;" class="p-frozen-column" (click)="navigateToLeadDetail(record.leadId);">
                                            {{record.jobNumber}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.jobTypeName}}
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.address | titlecase" class="tooltipcnt">
                                                {{record.address | titlecase}}</span></div>
                                        </td>

                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            {{record.installationDate | momentFormat:'DD-MM-YYYY'}}
                                        </td>
                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            {{record.stcAppliedDate | momentFormat:'DD-MM-YYYY'}}
                                        </td>
                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            {{record.pvdNumber}}
                                        </td>
                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            {{record.pvdStatusName}}
                                        </td>
                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            {{record.recPvdNumber}}
                                        </td>
                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            {{record.recPvdStatus}}
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <span class="{{record.jobStatusColorClass}}">{{record.jobStatusName}}</span>
                                        </td>

                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <span style="width: 80px; margin: 0 auto;" class="badge badge-pill badge-secondary amount d-flex align-items-center justify-content-center ng-tns-c743-7">
                                                <i class="las la-bolt fs-22 mr-1"></i>{{record.systemCapacity}}
                                            </span>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.stc}}
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.stcTotalPrice}}
                                        </td>

                                        <td style="width:150px;text-align: center;" [hidden]="!ExpandedView">
                                            {{record.greenbotSTC}}
                                        </td>

                                        <td class="no_warp" style="width: 150px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.installerName" class="tooltipcnt">{{record.installerName}}</span></div>
                                        </td>

                                        <td class="no_warp" style="width:150px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.stcNotes" class="tooltipcnt">{{record.stcNotes}}</span></div>
                                        </td>

                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title"> {{l('SmsSend')}}</span> -->
                                            <Span *ngIf="record.stcSmsSend == 1" [tooltip]="record.stcSmsSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success"> {{l("Yes")}} </Span>
                                            <Span *ngIf="record.stcSmsSend != 1" [tooltip]="record.stcSmsSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}} </Span>
                                        </td>

                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title"> {{l('EmailSend')}}</span> -->
                                            <Span *ngIf="record.stcEmailSend == 1" [tooltip]="record.stcEmailSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success"> {{l("Yes")}} </Span>
                                            <Span *ngIf="record.stcEmailSend != 1" [tooltip]="record.stcEmailSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}} </Span>
                                        </td>

                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.currentLeadOwaner}}
                                        </td>

                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.activityComment">{{record.activityComment}}</span></div>
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            {{record.activityCommentDate}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">{{record.activityReminderTime}}</td>

                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.activityDescription">{{record.activityDescription}}</span></div>
                                        </td>

                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.lastUpdatedDate}}
                                        </td>

                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{ record.lastRECUpdated | momentFormat:'DD-MM-YYYY' }}
                                        </td>
                                    </tr>

                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getJobs($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    Showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <!-- <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
        <addstcModal #addstcModal></addstcModal>
        <!-- <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal> -->
        <!-- <stcTrackerSmsEmailModel #stcTrackerSmsEmailModel></stcTrackerSmsEmailModel> -->
        <smsModel #smsModel></smsModel>
        <emailModel #emailModel></emailModel>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="reloadPage($event)"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="reloadPage($event)"></ReminderModal>
        <issuedActivityLogModel #issuedActivityLogModel></issuedActivityLogModel>
    </div>
</div>