<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>Job Cost Fix Expense</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>

                </div>

                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getInstallationItemList()" ></button>
                            </li>
                            <li >
                                <div class="kt-sdropdown">
                                    <div class="form-group selectdropdown m-form__group">
                                        <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit">
                                            <option *ngFor="let item of allOrganizationUnits"
                                                value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="isGranted('Pages.Tenant.DataVaults.InstallationCost.JobCostFixExpense.Create')">
                                <button (click)="createjobCostFixExpense(0)" class="btn btn-outline-primary btnadd">Add <i class="las la-plus-circle"></i></button>
                            </li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getInstallationItemList();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getInstallationItemList()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getInstallationItemList();searchLog();" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getInstallationItemList($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.DataVaults.InstallationCost.JobCostFixExpense.Edit', 'Pages.Tenant.DataVaults.InstallationCost.JobCostFixExpense.Delete')">{{l('Actions')}}</th>
                                        <th pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="installationItemPeriod.name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="organizationUnit">
                                            {{l('Organization')}}
                                            <p-sortIcon field="installationItemPeriod.organizationUnit"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="StartDate">
                                            {{l('Period')}}
                                            <p-sortIcon field="installationItemPeriod.startDate"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.DataVaults.InstallationCost.JobCostFixExpense.Edit', 'Pages.Tenant.DataVaults.InstallationCost.JobCostFixExpense.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                              <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                          </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" (click)="ViewJobCostFixExpenseModal.show(record.id)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.DataVaults.InstallationCost.JobCostFixExpense.Edit') && (permission.isGranted('Pages.Tenant.DataVaults.InstallationCost.JobCostFixExpense.LastMonthEdit') || record.isEdit)" (click)="CreateOrEditJobCostFixExpenseModal.show(record.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.DataVaults.InstallationCost.JobCostFixExpense.Delete')" (click)="delete(record)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.name}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('organization')}}</span> {{ record.organizationUnit }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('period')}}</span> {{ record.period }}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getInstallationItemList($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    Showing {{firstrowcount}} To {{last}} <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <CreateOrEditJobCostFixExpenseModal #CreateOrEditJobCostFixExpenseModal (modalSave)="getInstallationItemList()"></CreateOrEditJobCostFixExpenseModal>
        <ViewJobCostFixExpenseModal #ViewJobCostFixExpenseModal></ViewJobCostFixExpenseModal>

    </div>
</div>