<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("ViewInstallationItemList")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body lead_expen_popup modal-bg-gray">
                <div class="modal-white-box">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="kt-sdropdown">
                                <label for="daterange">Organization</label>
                                <div style="font-weight:600">{{ insPeriod.organization }}</div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Name">{{l("Name")}}</label>
                                <div><span style="font-weight:600" class="badge badge-secondary">{{ insPeriod.name }}</span></div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="daterange">Date Range</label>
                                <div>
                                    <span style="font-weight:600" class="badge badge-secondary">
                                        {{ insPeriod.date | date: 'MMMM yyyy' }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>

                <div class="modal-white-box">
                    <h3>Product Items</h3>

                    <div class="secondary-grid vscrollbar" style="max-height: 300px; overflow-y: auto;">
                        <table class="table table_blck">
                            <tr>
                                <th>Type</th>
                                <th>Amount</th>
                            </tr>
                            <tr *ngFor="let item of insPeriod.jobCostFixExpenseList">
                                <td>{{ item.jobCostFixExpenseType }}</td>
                                <td>{{ item.amount }}</td>
                            </tr>
                            <!-- <tr>
                                <td>Module</td>
                                <td>Test Product Name</td>
                                <td>100</td>
                                <td>100</td>
                            </tr> -->
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{l("Cancel")}}</button>
            </div>        
        </div>
    </div>

</div>