<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Products")}}</span>
                        <span class="total-records-count">
                        ({{(primengTableHelper.totalRecordsCount)}})
                    </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="geteCommerceProductItem()"></button>
                            </li>
                            <!-- <li *ngIf="isGranted('Pages.Tenant.WholeSale.DataVaults.DocumentType.Create')"><button (click)="createProduct()" class="btn btn-outline-primary btnadd">
                          Add <i class="las la-plus-circle"></i>
                      </button></li> -->
                      <li>
                        <div class="kt-searchmainbox searchclearbox">
                            <div class="kt-stextbox">
                                <select name="productCategoryId" (change)="geteCommerceProductItem()" [(ngModel)]="productCategoryId" class="form-control">
                                    <option value="0">{{l("SelectAProductType")}}
                                    </option>
                                    <option *ngFor="let item of allProductTypes"
                                        value="{{item.id}}">
                                        {{item.displayName}}</option>
                                </select>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="kt-searchmainbox searchclearbox">
                            <div class="kt-stextbox">
                                <select name="activeFilter" (change)="geteCommerceProductItem()" [(ngModel)]="activeFilter" class="form-control">
                                    <option value="All">All</option>
                                    <option value="Active">Active</option>
                                    <option value="DeActive">DeActive</option>
                                </select>
                            </div>
                        </div>
                    </li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="geteCommerceProductItem()" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';geteCommerceProductItem()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="geteCommerceProductItem()" />
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="geteCommerceProductItem($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.WholeSale.ECommerce.Products.View', 'Pages.Tenant.WholeSale.ECommerce.Products.Edit','Pages.Tenant.WholeSale.ECommerce.Products.Delete','Pages.Tenant.WholeSale.ECommerce.Products.Documents','Pages.Tenant.WholeSale.ECommerce.Products.Images','Pages.Tenant.WholeSale.ECommerce.Products.EcommerceProductItemSpecification')">{{l('Actions')}}</th>
                                        <!-- <th>
                                            {{l('Image')}}
                                        </th> -->
                                        <th style="width:10%;text-align: left;" pSortableColumn="category">
                                            {{l('Category')}}
                                            <p-sortIcon field="eCommerceProductItem.productCategory"></p-sortIcon>
                                        </th>
                                        <th style="width:25% ;text-align: left;" pSortableColumn="model">
                                            {{l('Model')}}
                                            <p-sortIcon field="eCommerceProductItem.model"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="product" style="width: 25%;;text-align: left;">
                                            {{l('Name')}}
                                            <p-sortIcon field="eCommerceProductItem.product"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Size" style="width: 15%; ;text-align: left;">
                                            {{l('Size')}}
                                            <p-sortIcon field="eCommerceProductItem.Size"></p-sortIcon>
                                        </th>
                                        <th style="width:25%;text-align: left;">
                                            {{l('Status')}}
                                            
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.WholeSale.ECommerce.Products.View', 'Pages.Tenant.WholeSale.ECommerce.Products.Edit','Pages.Tenant.WholeSale.ECommerce.Products.Delete','Pages.Tenant.WholeSale.ECommerce.Products.Documents','Pages.Tenant.WholeSale.ECommerce.Products.Images','Pages.Tenant.WholeSale.ECommerce.Products.EcommerceProductItemSpecification')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                  <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                              </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.Products.View') && record.ecommerceProductItem.id > 0">
                                                        <a href="javascript:;" (click)="ViewProductModal.show(record.ecommerceProductItem.id)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}</a>
                                                    </li>
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.Products.Edit')">
                                                        <a href="javascript:;" (click)="CreateOrEditProductModal.show(record.ecommerceProductItem.productItemID, record.ecommerceProductItem.productCategoryId)">
                                                            <i class="las la-comment-medical"></i>{{l('Add Detail')}}</a>
                                                    </li>
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.Products.Delete') && record.ecommerceProductItem.id > 0">
                                                        <a href="javascript:;" (click)="deleteeCommerceProductItem(record.ecommerceProductItem)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.Products.Documents') && record.ecommerceProductItem.id > 0">
                                                        <a href="javascript:;" (click)="ProductDocumentModal.show(record.ecommerceProductItem.id)">
                                                            <i class="las la-file-alt"></i>{{l('Document')}}</a>
                                                    </li>
                                                   
                                                     <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.Products.Images') && record.ecommerceProductItem.id">
                                                        <a href="javascript:;" (click)="ProductImageModal.show(record.ecommerceProductItem.id)">
                                                            <i class="las la-file-alt"></i>{{l('Image')}}</a>
                                                    </li>
                                                    
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.Products.EcommerceProductItemSpecification') && record.ecommerceProductItem.id > 0">
                                                        <a href="javascript:;" (click)="ProductSpecificationModal.show(record.ecommerceProductItem.id,record.ecommerceProductItem.productCategoryId)">
                                                            <i class="las la-file-alt"></i>{{l('Specification')}}</a>
                                                    </li> 


                                                </ul>
                                            </div>
                                        </td>
                                        <!-- <td>
                                            <img src="{{record.ecommerceProductItem.productImage}}" class="img-thumbnail" style="width:50px; height:50px; object-fit: cover;">
                                        </td> -->
                                        <td style="width:10%; text-align: left;">
                                            {{record.ecommerceProductItem.productCategory}}
                                        </td>
                                       
                                        <td style="width:25% ; text-align: left;">
                                            {{record.ecommerceProductItem.model}}
                                        </td>

                                        <td  style="width:25%; text-align: left; padding: 0px 0px !important;" >
                                            <div class="set_warp_toltrip"><span [tooltip]="record.ecommerceProductItem.productName"> {{record.ecommerceProductItem.productName}}</span>
                                            </div>
                                        </td>

                                        <td style="width:15% ; text-align: left;"> 
                                            {{record.ecommerceProductItem.size}}
                                        </td>
                                        
                                        <td style="width:25%; text-align: left;padding-left: 27px !important; ">
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.ecommerceProductItem.specialStatus=='Active'">{{record.ecommerceProductItem.specialStatus}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="record.ecommerceProductItem.specialStatus!='Active'">{{record.ecommerceProductItem.specialStatus}}</span>
                                            <!-- <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.isDocumentRequest">{{'No' | localize}}</span> -->
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="geteCommerceProductItem($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                showing {{firstrowcount}}
                                To {{last}}
                                <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <CreateOrEditProductModal #CreateOrEditProductModal></CreateOrEditProductModal>
        <ViewProductModal #ViewProductModal></ViewProductModal>
        <ProductDocumentModal #ProductDocumentModal></ProductDocumentModal>
        <ProductImageModal #ProductImageModal></ProductImageModal>
        <ProductSpecificationModal #ProductSpecificationModal></ProductSpecificationModal>

        <!--<vieweCommerceProductItemModal #vieweCommerceProductItemModal></vieweCommerceProductItemModal> -->

    </div>
</div>