<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form *ngIf="active" #WholeSaleLeadDocumentForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="eCommerceProductItem.id">{{l("EditServiceDocument")}}</span>
                        <span *ngIf="!eCommerceProductItem.id">{{l("Add New Product")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <h3><i class="las la-box fs-22 mr-2"></i> Product Details</h3>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="brandName">{{l("Brand")}} *</label>

                                    <!-- <input type="text" id="brandName" class="form-control" name="brandName" minlength="1" maxlength="200" required [(ngModel)]="eCommerceProductItem.brandName" /> -->
                                    <select name="brandPartnerId" [(ngModel)]="eCommerceProductItem.brandPartnerId" class="btn-outliner mr-3" style="width:250px; border-radius:5px; padding:0 10px; font-size:1rem" required>
                                        <option [ngValue]="undefined">{{l("BrandingPartner")}}</option>
                                        <option *ngFor="let item of brandingPartners"
                                            value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="brandName">{{l("Series")}} *</label>

                                    <!-- <input type="text" id="brandName" class="form-control" name="brandName" minlength="1" maxlength="200" required [(ngModel)]="eCommerceProductItem.brandName" /> -->
                                    <select name="seriesId" [(ngModel)]="eCommerceProductItem.seriesId" class="btn-outliner mr-3" style="width:250px; border-radius:5px; padding:0 10px; font-size:1rem">
                                        <option [ngValue]="undefined">{{l("Series")}}</option>
                                        <option *ngFor="let item of seriesList"
                                            value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="brandName">{{l("Type")}} *</label>

                                    <!-- <input type="text" id="brandName" class="form-control" name="brandName" minlength="1" maxlength="200" required [(ngModel)]="eCommerceProductItem.brandName" /> -->
                                    <select name="ecommerceProductTypeId" [(ngModel)]="eCommerceProductItem.ecommerceProductTypeId" class="btn-outliner mr-3" style="width:250px; border-radius:5px; padding:0 10px; font-size:1rem">
                                        <option [ngValue]="undefined">{{l("Type")}}</option>
                                        <option *ngFor="let item of ecommerceProductTypeList"
                                            value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">{{l("Short Description")}} *</label>
                                    <p-editor [(ngModel)]="eCommerceProductItem.productShortDescription" aria-placeholder="Product Short Description" name="productShortDescription" [style]="{'height':'200px'}"></p-editor>
                                    <!-- <textarea class="form-control" name="productShortDescription" [(ngModel)]="eCommerceProductItem.productShortDescription" rows="5"></textarea> -->
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">{{l("Product Description")}} *</label>
                                    <p-editor [(ngModel)]="eCommerceProductItem.productDescription" aria-placeholder="Product Description" name="productDescription" [style]="{'height':'200px'}"></p-editor>
                                    <!-- <textarea class="form-control" name="productDescription" [(ngModel)]="eCommerceProductItem.productDescription" rows="5"></textarea> -->
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">{{l("Specification")}} *</label>
                                    <p-editor [(ngModel)]="eCommerceProductItem.specification" aria-placeholder="Specification" name="specification" [style]="{'height':'200px'}"></p-editor>
                                    <!-- <textarea class="form-control" name="productDescription" [(ngModel)]="eCommerceProductItem.productDescription" rows="5"></textarea> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="modal-white-box" *ngIf="eCommerceProductItem.id">
                        <h3><i class="las la-file-upload fs-22 mr-2"></i> Upload</h3>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">{{l("Document Type")}} *</label>
                                     <select class="form-control" [(ngModel)]="documentTypeId">
                                        <option value="0">{{l("Select A Document Type")}}</option>
                                        <option *ngFor="let doc of DocumentType"
                                            value="{{doc.id}}">{{doc.displayName}}</option>
                                    </select> 
                                    <select name="Invoice.userId" [(ngModel)]="documentTypeId" class="btn-outliner mr-3" style="width:250px; border-radius:5px; padding:0 10px; font-size:1rem">
                                        <option [ngValue]="undefined">{{l("DocumentType")}}</option>
                                        <option *ngFor="let item of DocumentType"
                                            value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">{{l("Document Name")}} *</label>
                                    <input type="text" id="" class="form-control" name="Name" minlength="1" maxlength="200" [(ngModel)]="ecommerceProductItemDocument.documentName"  />
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="form-label">Upload Doc.</label>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="white-file-upload">
                                            <input type="file" accept=".pdf" class="fileuploadboxbtn" (change)="fileChangeEvent($event)" />
                                        </div>
                                        <span [tooltip]="l('Upload')">
                                            <a class="" style="font-size:1.7rem; color:#5867dd" [buttonBusy]="saving" (click)="savedocument()" [busyText]="l('Saving')">
                                                <i class="las la-file-upload"></i>                                            
                                            </a>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="card card-custom card-stretch">
                                    <div class="card-body sitedetailbox">
                                        <div class="secondary-grid vscrollbar" style="max-height:250px; overflow-y: auto;">
                                            <table class="table table_blck">
                                                <thead>
                                                    <tr>
                                                        <th>Document Type</th>
                                                        <th>Document Name</th>
                                                        <th>Download</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let ite of ecommerceProductItemDocuments; let i = index">
                                                    <tr>
                                                        <td>{{ite.documentType}}</td>
                                                        <td>{{ite.documentName}}</td>
                                                        <td class="text-center action" style="width: 120px;">
                                                            <a class="btndownloaddocument"><i class="las la-file-download"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div> -->
                    <!-- <div class="modal-white-box">
                        <h3>Upload</h3>
                        <div class="productsgridbox formcontainer">
                            <div class="row mb-2">
                                <div class="col-md-4">Document Type</div>
                                <div class="col-md-4">Document Name</div>
                                <div class="col-md-1">upload</div>
                                <div class="col-md-1">Action</div>
                            </div>
                            <div class="row marginbtm0 mb-2" *ngFor="let item of ecommerceProductItemDocuments; let i = index">
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <select class="form-control" [(ngModel)]="item.documentTypeId" required #productType="ngModel" name="documentTypeId{{i}}">
                                            <option value="">Document Type</option>
                                            <option *ngFor="let it of DocumentType" value="{{it.id}}">{{it.displayName}}</option>
                                        </select>
                                        <span class="icon-box" style="top:0;"><i class="las la-boxes"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <input type="text" #jpmodel="ngModel" name="documentName{{i}}" placeholder="documentName" class="form-control" [(ngModel)]="item.documentName" required >
                                        <span class="icon-box" style="top:0;"><i class="las la-dollar-sign"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-icon">
                                                <a class="" style="font-size:1.7rem; color:#5867dd" [buttonBusy]="saving" [busyText]="l('Saving')">
                                                    <i class="las la-file-upload"></i>                                            
                                                </a>                                   
                                                <a class="btndownloaddocument" *ngIf = 'item.id > 0'><i class="las la-file-download"></i></a>

                                      
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="action-btn mr-1" *ngIf="ecommerceProductItemDocuments.length != 1">
                                            <a (click)="removeInstallationItem(item)" class=""><i class="las la-trash text-danger"></i></a>
                                        </div>
                                        <div class="action-btn addbtn" *ngIf="ecommerceProductItemDocuments.length == (i+1)">
                                            <a (click)="addInstallationItem()"><i class="las la-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->


                    <div class="modal-white-box">
                        <h3>Price</h3>
                        <div class="productsgridbox formcontainer">
                            <div class="row mb-2">
                                <div class="col-md-5">Price Category</div>
                                <div class="col-md-4">Price</div>
                                <div class="col-md-1">Action</div>
                            </div>
                            <div class="row marginbtm0 mb-2" *ngFor="let item of eCommerceProductItem.ecommerceProductItemPriceCategories; let i = index">
                                <div class="col-md-5">
                                    <div class="form-group form-icon">
                                        <select class="form-control" [(ngModel)]="item.eCommercePriceCategoryId" required #productType="ngModel" name="eCommercePriceCategoryId{{i}}">
                                            <option value="undefined">Price Category</option>
                                            <option *ngFor="let it of PriceCategory" value="{{it.id}}">{{it.displayName}}</option>
                                        </select>
                                        <span class="icon-box" style="top:0;"><i class="las la-boxes"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <input type="text" #jpmodel="ngModel" name="Price{{i}}" placeholder="Price" class="form-control" [(ngModel)]="item.price" required>
                                        <span class="icon-box" style="top:0;"><i class="las la-dollar-sign"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="action-btn mr-1" *ngIf="eCommerceProductItem.ecommerceProductItemPriceCategories.length != 1">
                                            <a (click)="removeInstallationItem(item)" class=""><i class="las la-trash text-danger"></i></a>
                                        </div>
                                        <div class="action-btn addbtn" *ngIf="eCommerceProductItem.ecommerceProductItemPriceCategories.length == (i+1)">
                                            <a (click)="addInstallationItem()"><i class="las la-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box">
                        <h3><i class="las la-info-circle fs-22 mr-2"></i> Other Details</h3>
                        <div class="row">
                            <div class="col-md-4" style="margin: 10px 0 0;">
                                <div class="form-group">
                                    <div class="kt-radio-inline">
                                        <label for="NA" class="kt-radio">
                                            <input id="NA" name="discount" [value]="false" type="radio"  [(ngModel)]="eCommerceProductItem.isDiscounted">
                                            N/A
                                            <span></span>
                                        </label>
                                        <label for="Disc" class="kt-radio">
                                            <input id="Disc" name="discount" [value]="true" type="radio"  [(ngModel)]="eCommerceProductItem.isDiscounted">
                                            Discount(%)
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4" style="margin: 10px 0 0;">
                                <div class="form-group">
                                    <div class="kt-checkbox-list">
                                        <label for="NewArrical" class="kt-checkbox">
                                            <input id="NewArrical" type="checkbox" name="NewArrical" [(ngModel)]="eCommerceProductItem.isNewArrival">
                                            {{"Is New Arrival?" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4" style="margin: 10px 0 0;">
                                <div class="form-group">
                                    <div class="kt-checkbox-list">
                                        <label for="Featured" class="kt-checkbox">
                                            <input id="Featured" type="checkbox" name="Featured" [(ngModel)]="eCommerceProductItem.isFeatured">
                                            {{"Is Featured?" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">{{l("Ratings")}} *</label>
                                    <select class="form-control" name="rating" [(ngModel)]="eCommerceProductItem.rating">
                                        <option value="0">{{l("Select A Ratings")}}</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">{{l("Special Status")}} *</label>
                                    <select class="form-control" name="specialStatusId" [(ngModel)]="eCommerceProductItem.specialStatusId">
                                        <option value="undefined">{{l("Select A Special Status")}}</option>
                                        <option *ngFor="let item of specialStatues"
                                            value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-4" style="margin-top:34px;">
                                <div class="form-group">
                                    <div class="kt-checkbox-list">
                                        <label for="Active" class="kt-checkbox">
                                            <input id="Active" type="checkbox" name="Active" [(ngModel)]="eCommerceProductItem.isActive">
                                            {{"Is Active?" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!WholeSaleLeadDocumentForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>