<div bsModal #productImageModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #WholeSaleLeadImageForm="ngForm" novalidate  autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Product Image")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    
                    <div class="modal-white-box" >
                        <h3><i class="las la-file-upload fs-22 mr-2"></i> Upload</h3>
                        <div class="row">
                            <!-- <div class="col-4">
                                <div class="form-group">
                                    <label for="">{{l("Document Type")}} *</label>
                                    <!-- <select class="form-control" [(ngModel)]="documentTypeId">
                                        <option value="0">{{l("Select A Document Type")}}</option>
                                        <option *ngFor="let doc of DocumentType"
                                            value="{{doc.id}}">{{doc.displayName}}</option>
                                    </select> -->
                                 <!--<select name="Invoice.userId" [(ngModel)]="documentTypeId" class="btn-outliner mr-3" style="width:250px; border-radius:5px; padding:0 10px; font-size:1rem">
                                        <option [ngValue]="undefined">{{l("DocumentType")}}</option>
                                        <option *ngFor="let item of DocumentType"
                                            value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>  -->
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">{{l("Image Name")}} *</label>
                                    <input type="text" id="" class="form-control" name="Name" minlength="1" maxlength="200" [(ngModel)]="ecommerceProductItemImage.imageName"  />
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="form-label">Upload Doc.</label>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="white-file-upload">
                                            <input type="file" accept=".pdf" class="fileuploadboxbtn" (change)="fileChangeEvent($event)" />
                                        </div>
                                        <span [tooltip]="l('Upload')">
                                            <a class="" style="font-size:1.7rem; color:#5867dd" [buttonBusy]="saving" (click)="saveimage()" [busyText]="l('Saving')">
                                                <i class="las la-file-upload"></i>                                            
                                            </a>
                                        </span>
                                    </div>

                                </div>
                            </div>

                            <div class="col-12">
                                <div class="card card-custom card-stretch">
                                    <div class="card-body sitedetailbox">
                                        <div class="secondary-grid vscrollbar" style="max-height:250px; overflow-y: auto;">
                                            <table class="table table_blck">
                                                <thead>
                                                    <tr>
                                                        
                                                        <th>Image Name</th>
                                                        <th>Type</th>
                                                        <th>CreateBY</th>
                                                        <th>Created</th>
                                                        <th *ngIf="isGranted('Pages.Tenant.WholeSale.ECommerce.Products.Imagesdownload')">Download</th>
                                                        <th *ngIf="isGranted('Pages.Tenant.WholeSale.ECommerce.Products.Imagesdelete')">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let ite of  ecommerceProductItemImages; let i = index">
                                                     
                                                        <tr>
                                                        <td>{{ite.imageName}}</td>
                                                        <td>{{ite.extention}}</td>
                                                        <td>{{ite.createBy}}</td>
                                                        <td>{{ite.creationTime}}</td>
                                                        <td  *ngIf="isGranted('Pages.Tenant.WholeSale.ECommerce.Products.Imagesdownload')">
                                                              <div><a class="btndownloaddocument" (click)="downloadfile(ite.image)"><i class="las la-file-download" style="font-size: x-large;padding-left: 10px;"></i></a></div>
                                                        </td>
                                                        <td  *ngIf="isGranted('Pages.Tenant.WholeSale.ECommerce.Products.Imagesdelete')">
                                                            <div><a class="btndownloaddocument" (click)=" deleteimage(ite.id)"><i class="las la-trash text-danger" style="font-size: x-large;padding-left: 5px;"></i></a></div>
                                                       
                                                        </td>
                                                    </tr>
                                                   
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!WholeSaleLeadDocumentForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div> -->
            </form>
        </div>
    </div>

</div>