<div bsModal #productSpecificationModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #SpecificationProductForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Specification Product")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">{{l("Specification")}}</label>
                                     <select name="ecommerceSpecification" [(ngModel)]="specificationId" class="btn-outliner mr-3" style="border-radius:5px; padding:0 10px; font-size:1rem">
                                        <option [ngValue]="undefined">{{l("SpecificationName")}}</option>
                                        <option *ngFor="let item of SpecificationName"
                                            value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select> 
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="">{{l(" Name")}} *</label>
                                    <input type="text" id="" class="form-control" name="Name" minlength="1" maxlength="200" [(ngModel)]="ecommerceProductItemSpecification.value" />
                                </div>
                            </div>

                            <div class="col-md-3">
                            <div class="modal-footer" style="border: 0px !important; margin-top:13px !important;">
                                <button id="saving"  type="submit" class="btn btn-primary btn-sm" (click)="save()" style="height: 33px; padding: 0.700rem 0.8rem !important;">
                                    Save
                                </button>
                            </div>        
                                <!-- <button type="submit" class="btn btn-primary blue"  (click)="save()" [disabled]="!SpecificationProductForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button> -->
                            </div>
                            <div class="col-12">
                                <div class="card card-custom card-stretch">
                                    <div class="card-body sitedetailbox">
                                        <div class="secondary-grid vscrollbar" style="max-height:250px; overflow-y: auto;">
                                            <table class="table table_blck">
                                                <thead>
                                                    <tr>
                                                        <th>Specification</th>
                                                        <th> Value</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let ite of ecommerceProductItemSpecifications; let i = index">
                                                    <tr>
                                                        <td>{{ite.name}}</td>
                                                        <td>{{ite.value}}</td>                                                        
                                                        <td style="font-size: 1.8rem;">
                                                            <div (click)="deleteSpecifications(ite.id)"><i class="las la-trash text-danger"></i></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!WholeSaleLeadDocumentForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div> -->
            </form>
        </div>
    </div>

</div>