<div bsModal #viewModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Product Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">

                <div class="d-flex align-items-center">

                    <div>

                        <div class="modal-white-box">
                            <h3 style="font-size:1.2rem;"><i class="las la-award fs-22 mr-2"></i>{{ecommerceProductItem.productName}}</h3>

                            <div class="row">
                                <div class="col-md-3" *ngIf="ecommerceProductItem.productImage != ''">
                                    <img cImg rounded src="{{ecommerceProductItem.productImage}}" thumbnail width="220" height="220" />
                                </div>
                                <div class="col-md-9">
                                    <table class="table">
                                        <tr>
                                            <th style="width:150px;">Model</th>
                                            <th style="width:50px;">:</th>
                                            <td>{{ ecommerceProductItem.model }}</td>
                                        </tr>
                                        <tr>
                                            <th>{{l("Category")}}</th>
                                            <th style="width:50px;">:</th>
                                            <td>{{ ecommerceProductItem.productCategory }}</td>
                                        </tr>
                                        <tr>
                                            <th>Brand</th>
                                            <th style="width:50px;">:</th>
                                            <td>{{ecommerceProductItem.brandName }}</td>
                                        </tr>
                                        <tr>
                                            <th>Product Code</th>
                                            <th style="width:50px;">:</th>
                                            <td>{{ecommerceProductItem.code}}</td>
                                        </tr>
                                        <tr>
                                            <th>Product Size</th>
                                            <th style="width:50px;">:</th>
                                            <td>{{ecommerceProductItem.size}}</td>
                                        </tr>
                                        <tr>
                                            <th>Stock Series</th>
                                            <th style="width:50px;">:</th>
                                            <td>{{ecommerceProductItem.stockSeries}}</td>
                                        </tr>

                                    </table>


                                </div>
                            </div>

                        </div>

                        <div class="modal-white-box">
                            <h3 style="font-size:1.2rem;"><i class="las la-comment fs-22 mr-2"></i>{{l("Short Description")}}</h3>
                            <div class="col-12">
                                <span> {{ecommerceProductItem.productShortDescription}}</span>

                            </div>
                        </div>
                        <div class="modal-white-box">
                            <h3 style="font-size:1.2rem;"><i class="las la-comment fs-22 mr-2"></i>{{l("Product Description")}}</h3>
                            <div class="col-12">
                                <span> {{ecommerceProductItem.productDescription}}</span>

                            </div>
                        </div>
                        <div class="modal-white-box">
                            <h3 style="font-size:1.2rem;"><i class="las la-comment fs-22 mr-2"></i>{{l("Specification")}}</h3>
                            <div class="col-12">
                                <span> {{ecommerceProductItem.specification}}</span>

                            </div>
                        </div>
                        <div class="modal-white-box">
                            <h3 style="font-size:1.2rem;"><i class="las la-file-pdf fs-22 mr-2"></i>{{l("Documents")}}</h3>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-custom card-stretch">
                                        <div class="card-body sitedetailbox">
                                            <div class="secondary-grid vscrollbar" style="max-height:250px; overflow-y: auto;">
                                                <table class="table table_blck">
                                                    <thead>
                                                        <tr>
                                                            <th>Document Type</th>
                                                            <th>Document Name</th>
                                                            <th>Download</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngFor="let ite of ecommerceProductItem.ecommerceProductItemDocuments; let i = index">
                                                        <tr>
                                                            <td>{{ite.documentType}}</td>
                                                            <td>{{ite.documentName}}</td>
                                                            <td class="text-center action" style="width: 120px;">
                                                                <a class="btndownloaddocument" (click)="downloadfile(ite.documemt)"><i class="las la-file-download"></i></a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-white-box">
                            <h3 style="font-size:1.2rem;"><i class="las la-hand-holding-usd fs-22 mr-2"></i>{{l("Price")}}</h3>
                            <div class="row">
                                <div class="col-12">
                                    <div class="card card-custom card-stretch">
                                        <div class="card-body sitedetailbox">
                                            <div class="secondary-grid vscrollbar" style="max-height:250px; overflow-y: auto;">
                                                <table class="table table_blck">
                                                    <thead>
                                                        <tr>
                                                            <th>Price Category</th>
                                                            <th>Price</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngFor="let ite of ecommerceProductItem.ecommerceProductItemPriceCategories; let i = index">
                                                        <tr>
                                                            <td>{{ite.eCommercePriceCategory}}</td>
                                                            <td>{{ite.price}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-white-box">

                            <h3 style="font-size:1.2rem;"><i class="las la-file fs-22 mr-2"></i>{{l("Other Details")}}</h3>
                            <div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">IsDiscounted :</label>
                                            <span style="font-weight:600;" class="kt-badge kt-badge--success kt-badge--inline" *ngIf="ecommerceProductItem.isDiscounted"> True</span>
                                            <span style="font-weight:600;" class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!ecommerceProductItem.isDiscounted"> False</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">IsNewArrival :</label>
                                            <span style="font-weight:600;" class="kt-badge kt-badge--success kt-badge--inline" *ngIf="ecommerceProductItem.isNewArrival"> True</span>
                                            <span style="font-weight:600;" class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!ecommerceProductItem.isNewArrival"> False</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">IsFeatured :</label>
                                            <span style="font-weight:600;" class="kt-badge kt-badge--success kt-badge--inline" *ngIf="ecommerceProductItem.isFeatured"> True</span>
                                            <span style="font-weight:600;" class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!ecommerceProductItem.isFeatured"> False</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">Rating :</label>
                                            <span style="font-weight:600;"> {{ecommerceProductItem.rating}}</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">Special Status :</label>
                                            <span style="font-weight:600;"> {{ecommerceProductItem.specialStatus}}</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">IsActive :</label>
                                            <span style="font-weight:600;" class="kt-badge kt-badge--success kt-badge--inline" *ngIf="ecommerceProductItem.isActive"> True</span>
                                            <span style="font-weight:600;" class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!ecommerceProductItem.isActive"> False</span>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                        <!-- <div class="modal-white-box">
                            <h3 style="font-size:1.2rem;">{{l("Responce")}}</h3>
                            <div [innerHTML]="item.wholeSalePromotion.responseMessage"> </div>

                        </div> -->
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i class="las la-times-circle"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>