<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item index_99">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{"Users" | localize}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getUsers()"></button>
                                </li>

                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />    
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;">
                                                <i class="las la-file-csv"></i> CSV
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item btnexcelupload excel_bg" *ngIf="'Pages.Administration.Users.PermissionReport' | permission"  id="ExportUsersPermissionToExcelButton" (click)="PermissionExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> {{'PermissionReport' | localize}}
                                            </a>
                                        </div>
                                    </div>
                                </li>

                                <li *ngIf="'Pages.Administration.Users.Create' | permission">
                                    <button (click)="createUser()" class="btn btn-outline-primary btnadd">
                                        Add <i class="las la-plus-circle"></i>
                                    </button>
                                </li>
                                <!-- <li>
                                    <div class="kt-searchmainbox">
                                        <div class="kt-stextbox searchclearbox">
                                            <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getUsers()" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getUsers()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getUsers()" />
                                        </div>
                                    </div>
                                </li> -->

                                <li hidden>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <!-- <i class="far fa-file-excel"></i> -->
                                            {{"STC" | localize}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations leadexceldropdown" *dropdownMenu style="margin-left:10px;">
                                            <a href="javascript:;" class="no-padding btnuploadexcel a_set1">
                                                <span class="fileinput-button">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx"
                                                        (uploadHandler)="uploadExcelstc($event)"
                                                        (onError)="onUploadExcelErrorstc()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <span class="dropdown-item-text padnoneall text-muted pl-3" href="#">
                                                <a href="/assets/sampleFiles/ImportSTCSampleFile.xlsx"
                                                    class="dropdown-item btnsample icon_samllfile">
                                                    <i class="las la-file-excel"></i> {{l('SampleFile')}}
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </li>

                                <li hidden>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{"Excel" | localize}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations leadexceldropdown" *dropdownMenu style="margin-left:10px;">
                                            <!-- class name "leadexceldropdown" ni gaiya add kari yu che "userexceloperations" -->
                                            <a class="dropdown-item btnexcelupload excel_bg" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> {{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider postion1"></div>
                                            <a href="javascript:;" *ngIf="'Pages.Administration.Users.Create' | permission" class="no-padding btnuploadexcel a_set1">
                                                <span class="fileinput-button">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <span class="dropdown-item-text padnoneall text-muted pl-3" href="#">
                                                <a href="/assets/sampleFiles/ImportUsersSampleFile.xlsx"
                                                    class="dropdown-item btnsample icon_samllfile">
                                                    <i class="las la-file-excel"></i> {{l('SampleFile')}}
                                                </a>
                                            </span>
                                            
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="kt-advfilterbox">
                                        <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();" style="margin-left:0 !important;">
                                                <i class="las la-sliders-h"></i>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="permissionmodal modalbutton set_1 fix_permission">
            <div [ngClass]="{'wdth200': ('Pages.Administration.Roles' | permission), 'col-md-12 wdth200':!('Pages.Administration.Roles' | permission)}">

                <div class="setpermission">
                    <permission-tree-modal #permissionFilterTreeModal (onModalclose)="getUsers()">
                    </permission-tree-modal>
                </div>

            </div>
        </div>
        <div class="blue-filter-box myleadsReport leadtopcouont leadtracker leadtrackerpage space_between flexend joblist job-page" [ngClass]="{'h-mobile': toggle, 'new': !toggle}" [hidden]="FiltersData">
            <form class="kt-form marbtmset" autocomplete="new-password">
                <div class="d-flex align-items-center justify-content-end dis-column" style="width:100%;">
                    <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control mr-3" placeholder="Name" type="text">
                    <div class="mr-3" *ngIf="'Pages.Administration.Roles' | permission">
                        <div class="rolefilter full-width-mob">
                            <role-combo name="roleFilter" [(ngModel)]="role"></role-combo>
                        </div>
                    </div>
                    <select name="OrganizationUnits" class="form-control mr-3 full-width-mob" [(ngModel)]="organizationUnit">
                        <option value="">{{l("SelectAOrganization")}}</option>
                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                            {{item.displayName}}</option>
                    </select>

                    <div class="kt-checkbox-list full-width-mob">
                        <div class="new_checkbox">
                            <label for="UsersTable_OnlyLockedUsers" class="kt-checkbox">
                                <input id="UsersTable_OnlyLockedUsers" type="checkbox"
                                    name="OnlyLockedUsers" [(ngModel)]="onlyLockedUsers">
                                {{"OnlyLockedUsers" | localize}}
                                <span></span>
                            </label>
                        </div>

                    </div>
                    <button class="btn btn-primary btn-sm " (click)="getUsers();searchLog();">{{"Search" | localize}}</button>
                </div>
            </form>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid '">

            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">

                    <div class="padbtmzero ">
                        <div class="row align-items-center">
                            <!--<Primeng-TurboTable-Start>-->
                            <div class="col  primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable sortMode="multiple" [lazyLoadOnInit]="true" (onLazyLoad)="getUsers($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                    [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                    <!-- <p-table #dataTable sortMode="multiple" (onLazyLoad)="getUsers($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="actionwidth text-center" style="width: 95px" [hidden]="!(['Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete'] | permissionAny)">
                                                {{'Actions' | localize}}</th>
                                            <th style="width: 150px" pSortableColumn="username">
                                                {{'UserName' | localize}}
                                                <p-sortIcon field="username"></p-sortIcon>
                                            </th>
                                            <th style="width: 150px" pSortableColumn="name">
                                                {{'Name' | localize}}
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>
                                            <!-- <th style="width: 150px" pSortableColumn="surname">
                                            {{'Surname' | localize}}
                                            <p-sortIcon field="surname"></p-sortIcon>
                                        </th> -->
                                            <th style="width: 300px">
                                                {{'Roles' | localize}}
                                            </th>
                                            <th style="width: 200px" pSortableColumn="emailAddress">
                                                {{'EmailAddress' | localize}}
                                                <p-sortIcon field="emailAddress"></p-sortIcon>
                                            </th>
                                            <th style="width: 130px; text-align: center;" pSortableColumn="isEmailConfirmed">
                                                {{'EmailConfirm' | localize}}
                                                <p-sortIcon field="isEmailConfirmed"></p-sortIcon>
                                            </th>
                                            <th style="width: 80px" pSortableColumn="isActive">
                                                {{'Active' | localize}}
                                                <p-sortIcon field="isActive"></p-sortIcon>
                                            </th>
                                            <th style="width:120px" pSortableColumn="creationTime">
                                                {{'CreationTime' | localize}}
                                                <p-sortIcon field="creationTime"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr [pSelectableRow]="record">
                                            <td class="actionwidth text-center" style="width: 95px" [hidden]="!(['Pages.Administration.Users.Impersonation', 'Pages.Administration.Users.Edit', 'Pages.Administration.Users.ChangePermissions', 'Pages.Administration.Users.Delete'] | permissionAny)">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                        <i class="flaticon-more"></i><span class="caret"></span>
                                                        {{"Actions" | localize}}
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="('Pages.Administration.Users.Impersonation' | permission) && record.id !== appSession.userId" (click)="_impersonationService.impersonate(record.id, appSession.tenantId)">
                                                                <i class="las la-sign-in-alt"></i> {{'LoginAsThisUser' | localize}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Administration.Users.Edit' | permission" (click)="createOrEditUserModal.show(record.id)">
                                                                <i class="las la-edit"></i> {{'Edit' | localize}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Administration.Users.ChangePermissions' | permission" (click)="editUserPermissionsModal.show(record.id, record.userName)">

                                                                <i class="las la-shield-alt"></i> {{'Permissions' | localize}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Administration.Users.Unlock' | permission" (click)="unlockUser(record)">
                                                                <i class="las la-unlock"></i> {{'Unlock' | localize}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Administration.EntityDynamicParameterValue.Edit' | permission" (click)="showDynamicParameters(record)">
                                                                <i class="las la-cog"></i> {{'DynamicParameters' | localize}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Administration.Users.Delete' | permission" (click)="deleteUser(record)">
                                                                <i class="las la-trash"></i> {{'Block' | localize}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td style="width: 150px">
                                                <!-- <span class="ui-column-title"> {{'UserName' | localize}}</span> -->
                                                <span class="div_flax">
                                                    <a class="round_div" [href]="record.profilePictureUrl"
                                                        target="_blank">
                                                        <img class="img-circle" [src]="record.profilePictureUrl">
                                                    </a>
                                                    {{record.userName}}
                                                </span>
                                            </td>
                                            <td style="width: 150px">
                                                <!-- <span class="ui-column-title"> {{'Name' | localize}}</span> -->
                                                {{record.name}} {{record.surname}}
                                            </td>
                                            <!-- <td style="width: 150px">
                                            <span class="ui-column-title"> {{'Surname' | localize}}</span>
                                        </td> -->
                                            <td style="width: 300px">
                                                <!-- <span class="ui-column-title"> {{'Roles' | localize}}</span> -->
                                                <span class="badge badge-secondary amount">{{getRolesAsString(record.roles)}}</span>
                                            </td>
                                            <td style="width: 200px" class="lower_text">
                                                <!-- <span class="ui-column-title"> {{'EmailAddress' | localize}}</span> -->
                                                <span>{{record.emailAddress}}</span>
                                            </td>
                                            <td style="width:130px; text-align: center;">
                                                <!-- <span class="ui-column-title"> {{'EmailConfirm' | localize}}</span> -->
                                                <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.isEmailConfirmed">{{'Yes' | localize}}</span>
                                                <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.isEmailConfirmed">{{'No' | localize}}</span>
                                            </td>
                                            <td style="width: 80px">
                                                <!-- <span class="ui-column-title"> {{'Active' | localize}}</span> -->
                                                <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.isActive">{{'Yes' | localize}}</span>
                                                <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.isActive">{{'No' | localize}}</span>
                                            </td>
                                            <td style="width: 120px">
                                                <!-- <span class="ui-column-title"> {{'CreationTime' | localize}}</span> -->
                                                <span class="badge badge-secondary">{{record.creationTime | momentFormat:'L'}}</span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{'NoData' | localize}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getUsers($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <!-- <span class="total-records-count">
                                        {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                    </span> -->
                                    <span class="total-records-count">
                                        showing {{firstrowcount}}
                                        To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                            </div>
                            <!--<Primeng-TurboTable-End>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <createOrEditUserModal #createOrEditUserModal (modalSave)="getUsers()"></createOrEditUserModal>
        <editUserPermissionsModal #editUserPermissionsModal></editUserPermissionsModal>
        <manage-entity-dynamic-parameter-values-modal #dynamicParametersModal>
        </manage-entity-dynamic-parameter-values-modal>
    </div>
</div>