/*Stlye for Chat Buttons */
.dropdown-excel-operations .ui-button {
    display: block;
    margin: 0;
    text-align: left;
    border-radius: 0;
    transition: none !important;
    margin-left: -11px;
}

.ui-fileupload-choose.ui-button,
.ui-fileupload-choose.ui-button .ui-widget,
.ui-fileupload-choose.ui-button .ui-state-default {
    background-color: #fff !important;
    color: #b2b1c5 !important;
}

.ui-button-text {
    color: #575962;
    font-size: 13px;
    margin-left: 9px;
}

.dropdown-excel-operations .ui-fileupload-choose.ui-button.ui-state-hover,
.ui-fileupload-choose.ui-button.ui-state-focus,
.ui-fileupload-choose.ui-button.ui-state-active {
    background-color: #eee;
}

.dropdown-excel-operations {
    a:hover {
        span.ui-button,
        div.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top {
            background-color: #f4f5f8 !important;
            .ui-button-icon-left, .ui-button-text{ color:#f7a400 !important}
        }
    }

    a.no-padding {
        padding: 0px !important;
    }
}

.dropdown-excel-operations .ui-fileupload-choose:not(.ui-state-disabled) {
    border: none;
}

.dropdown-excel-operations .ui-fileupload-choose:not(.ui-state-disabled):hover,
.dropdown-excel-operations .ui-fileupload-choose:not(.ui-state-disabled):focus,
.dropdown-excel-operations
    .ui-fileupload-choose:not(.ui-state-disabled):active {
    background-color: #f4f5f8 !important;
    color: #b2b1c5;
    box-shadow: none !important;
    border: none;
}

body .ui-fileupload .ui-fileupload-buttonbar {
    border: none !important;
    background-color: #fff !important;
}

.dropdown-excel-operations {
    div.ui-fileupload-buttonbar {
        &.ui-widget-header.ui-corner-top {
            border: none;
            background: #fff;
            padding-bottom: 3px !important;
            padding-top: 3px !important;

            &:hover {
                background-color: #f4f5f8 !important; color:#f7a400 !important;
                .ui-button-icon-left, .ui-button-text{ color:#f7a400 !important}
            }
        }
    }

    div.ui-fileupload-content.ui-widget-content.ui-corner-bottom {
        display: none;
    }

    div.ui-fileupload-buttonbar.ui-widget-header.ui-corner-top:hover {
        background-color: #f4f5f8 !important; color:#f7a400 !important;
        .ui-button-icon-left, .ui-button-text{ color:#f7a400 !important}
    }
}

.ui-table img.img-circle{
    height: 32px;
    margin-right: 8px;
    box-shadow: none;
}
.kt-portlet__body {
.searcharea{

    .col-md-3, .col-md-2, .col-md-4{
        padding-left: 10px!important; padding-right: 10px!important;
    }
    .kt-checkbox-list{ margin-top:0px!important;
        label{margin-bottom: 0px!important; margin-top: 0px!important;}
    }
    .setpermission{margin-top:0px; width:180px;
        @media screen and (min-width:1600px){
            width:210px;
        }
        .btn-default{
            background: #d0d0d0!important;
            border:1px solid #b9b9b9!important;
            border-radius: 0.2rem!important;
            padding: 6px 16px;
            &:hover{
                background: #bbbbbb!important;
            }
        }
        .modal-footer{
            .btn-default{
            background: orange!important;
            border:1px solid orange!important;
            border-radius: 0.2rem!important;
            padding: 6px 16px; 
            &:hover{
                background: orange!important;
            }
            }
        }
    }
    .wdth200{width:170px; max-width: 170px;}
    .wdth150{width:130px; max-width: 130px;}
    .kt-checkbox{margin-top:0px;}
}
.searchbox {padding:0px 0px 0px 0px;
.form-control{background: none!important; margin-bottom: 0px!important;}
}
.pl-0{padding-left:0px!important;}
.rolefilter{
    .form-control{background: none!important; margin-bottom: 0px!important;}
}
}