<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("WarehouseLocation")}}</span>
                        <span class="total-records-count">
                      ({{(primengTableHelper.totalRecordsCount)}})
                  </span>
                    </h3>
                </div>

                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getLocation()"></button>
                            </li>


                            <li>
                                <div class="kt-searchmainbox">
                                    <div class="kt-stextbox searchclearbox">
                                        <input type="text" class="form-control" placeholder="Location" [(ngModel)]="filterText" (keydown.enter)="getLocation();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getLocation()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getLocation();searchLog();" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getLocation($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" style="width:95px;" [hidden]="!isGrantedAny('Pages.WarehouseLocation.Edit')">{{l('Actions')}}</th>
                                        <th  pSortableColumn="location">
                                            {{l('WarehouseLocation')}}
                                            <p-sortIcon field="location"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="address">
                                            {{l('Address')}}
                                            <p-sortIcon field="address"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="UnitNo">
                                            {{l('UnitNo')}}
                                            <p-sortIcon field="unitNo"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="UnitType">
                                            {{l('UnitType')}}
                                            <p-sortIcon field="unitType"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="StreetNo">
                                            {{l('StreetNo')}}
                                            <p-sortIcon field="streetNo"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="StreetName">
                                            {{l('StreetName')}}
                                            <p-sortIcon field="streetName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="StreetType">
                                            {{l('StreetType')}}
                                            <p-sortIcon field="streetType"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Suburb">
                                            {{l('Suburb')}}
                                            <p-sortIcon field="suburb"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="PostCode">
                                            {{l('PostCode')}}
                                            <p-sortIcon field="postCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Latitude">
                                            {{l('Latitude')}}
                                            <p-sortIcon field="latitude"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Longitude">
                                            {{l('Longitude')}}
                                            <p-sortIcon field="longitude"></p-sortIcon>
                                        </th>
                                        <th  pSortableColumn="state">
                                            {{l('State')}}
                                            <p-sortIcon field="state"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align:center; width:95px;" class="actionwidth" [hidden]="!isGrantedAny('Pages.WarehouseLocation.Edit')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                 <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                             </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.WarehouseLocation.Edit')" (click)="createOrEditWarehouseLocation.show(record.location.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('WarehouseLocation')}}</span>{{record.location.location }}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Address')}}</span> {{record.location.address | titlecase}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('UnitNo')}}</span> {{record.location.unitNo}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('UnitType')}}</span> {{record.location.unitType}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('StreetNo')}}</span> {{record.location.streetNo}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('StreetName')}}</span> {{record.location.streetName}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('StreetType')}}</span> {{record.location.streetType}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('Suburb')}}</span> {{record.location.suburb}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('PostCode')}}</span> {{record.location.postCode}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('Latitude')}}</span> {{record.location.latitude}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('Longitude')}}</span> {{record.location.longitude}}
                                        </td>
                                       
                                        <td >
                                            <span class="ui-column-title"> {{l('State')}}</span> {{record.location.state}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLocation($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                showing {{firstrowcount}}
                                To {{last}}
                                <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditWarehouseLocation #createOrEditWarehouseLocation (modalSave)="getLocation()"></createOrEditWarehouseLocation>
    </div>
</div>