<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="Vouchers.id">Edit Voucher</span>
                        <span *ngIf="!Vouchers.id">Create New Voucher</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="ProductType_Name">{{l("Voucher Name")}} *</label>
                                    <input type="text" id="ProductType_Name" class="form-control" [(ngModel)]="Vouchers.voucherName" name="voucherName" minlength="3" maxlength="200" required/>
                                    <span class="icon-box"><i class="lab la-product-hunt"></i></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label for="Name">{{l("Image")}} *</label>
                                    <div class="flexbloxbutton fileuploadbtn">
                                        <div class="form-group marginbtm0">
                                            <div class="white-file-upload">
                                                <input name="f1" type="file" style="width: 232px; font-size:1rem" (change)="fileChangeEvent($event)" [(ngModel)]="selectedFile" />
                                                <a (click)="downloadfile(Vouchers.fileName,Vouchers.filePath)" *ngIf="Vouchers.fileName">
                                                    <i class="las la-file-pdf"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-group form-icon">
                                <label>Is-Active</label>
                                <input type="checkbox"  class="form-control" [(ngModel)]="Vouchers.isActive" name="isActive" style="width: 22px;" />
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box">
                        <div class="col-md-12">
                            <h3 class="d-flex align-items-center">
                                <i class="las la-info-circle mr-2"></i>{{ l("MultipleOrgnaization") }}
                            </h3>
                        </div>
                        <div class="productsgridbox formcontainer ">
                            <div class="row mb-2 d-flex align-items-center"
                                style="width: 128% !important; text-align: center !important; ">
                                <div class="col-md-3">Orgnization</div>
                                
                                <div class="col-md-1" style="text-align: left !important;">Action</div>
                            </div>
                            
                            <div class="row marginbtm0 mb-2" *ngFor="let item of OrgList;let i = index" style="width: 128% !important; ">
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select class="form-control" [(ngModel)]="item.orgId" name="orgId{{ i }}">
                                            <option *ngFor="let org of allOrganizationUnits" [value]="org.id">
                                                {{ org.displayName }}
                                            </option>
                                        </select>
                                        
                                    </div>
                                </div>
                                
                                <div class="col-md-1">
                                    <div class="d-flex ">
                                        <div class="action-btn " style="margin: 0px !important; padding:0px !important;"
                                            *ngIf="
                                            OrgList.length !=1">
                                            <a (click)="removeOrg(item)" class=""><i
                                                    class="las la-trash text-danger"></i></a>
                                        </div>
                                        <div class="action-btn addbtn" *ngIf="OrgList.length ==i + 1">
                                            <a (click)="addOrg()"><i class="las la-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!productTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>