<div appBsModal #auditLogDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="auditLogDetailModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #roleForm="ngForm">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="auditLog.userId">{{"AuditLogDetail" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">

                    <div class="modal-white-box">
                        <h3><i class="las la-user fs-22"></i> {{"UserInformations" | localize}}</h3>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="form-group row">
                                    <label class="col-lg-3">
                                        {{"UserName" | localize}}:
                                    </label>
                                    <div class="col-lg-9">
                                        <span>{{auditLog.userName}}</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 ">
                                        {{"IpAddress" | localize}}:
                                    </label>
                                    <div class="col-lg-9">
                                        <span>{{auditLog.clientIpAddress}}</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3">
                                        {{"Client" | localize}}:
                                    </label>
                                    <div class="col-lg-9">
                                        <span>{{auditLog.clientName}}</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3">
                                        {{"Browser" | localize}}:
                                    </label>
                                    <div class="col-lg-9">
                                        <span>{{auditLog.browserInfo}}</span>
                                    </div>
                                </div>

                                <div class="form-group row" *ngIf="auditLog.impersonatorUserId">
                                    <label class="col-lg-3 ">
                                    </label>
                                    <div class="col-lg-9 text-warning">
                                        <span>{{"AuditLogImpersonatedOperationInfo" | localize}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box">
                        <h3><i class="las la-info-circle fs-22"></i> {{"ActionInformations" | localize}}</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-lg-3 ">
                                    {{"Service" | localize}}:
                                </label>
                                    <div class="col-lg-9">
                                        <span>{{auditLog.serviceName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-lg-3">
                                    {{"Action" | localize}}:
                                </label>
                                    <div class="col-lg-9">
                                        <span>{{auditLog.methodName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-lg-3">
                                    {{"Time" | localize}}:
                                </label>
                                    <div class="col-lg-9">
                                        <span>{{getExecutionTime()}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-lg-3">
                                    {{"Duration" | localize}}:
                                </label>
                                    <div class="col-lg-9">
                                        <span>{{getDurationAsMs()}}</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-3">
                                    {{"Parameters" | localize}}:
                                </label>
                                    <div class="col-lg-9 alert kt-alert kt-alert--default">
                                        <pre lang="js">{{getFormattedParameters()}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <h3><i class="las la-info-circle fs-22"></i> {{"CustomData" | localize}}</h3>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-lg-3">
                                    {{"None" | localize}}:
                                </label>
                                    <div *ngIf="auditLog.customData" class="col-lg-9 alert kt-alert kt-alert--default">
                                        <pre>{{auditLog.customData}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <h3><i class="las la-info-circle fs-22"></i> {{"ErrorState" | localize}}</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label *ngIf="!auditLog.exception" class="badge badge-success d-flex align-items-center">
                                        <i class="las la-check-circle fs-22 mr-2"></i> {{"Success" | localize}}
                                    </label>
                                    <div *ngIf="auditLog.exception" class="col-lg-12 alert kt-alert kt-alert--default">
                                        <pre>{{auditLog.exception}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="close()"> <i class="las la-times-circle"></i> {{"Close" | localize}}</button>
                </div>
            </form>
        </div>
    </div>
</div>