<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <div *ngIf="'Pages.CallHistory.CallFlowQueueUserWiseCallHistory.Detail.Export' | permission">
                    <button class="btn btn-primary btn-sm ml-4" type="button" (click)="exportToExcel()"><i class="las la-file-excel"></i> Export</button>
                </div>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <div class="row dis-column">

                        <div class="col-12">
                            <div class="secondary-grid vscrollbar" style="max-height: 280px; overflow-y: auto;">
                                <table class="table table_blck">
                                    <thead>
                                        <tr>
                                            <th>3cx Call Queue</th>
                                            <th>Total Calls</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let index of item; let i = index">
                                            <td>{{index.name}}</td>
                                            <td>
                                                <a href="javascript:;" (click)="UserCsxCallQueueReportModal.show(ExtentionNumber,startDate,endDate,index.extentionNumber.toString(),mobile)" *ngIf="permission.isGranted('Pages.CallHistory.CallFlowQueueCallHistory.Detail.UserCallDetails')">
                                                    <span class="badge badge-warning">{{index.count}}</span>
                                                </a>
                                                <a href="javascript:;" *ngIf="!permission.isGranted('Pages.CallHistory.CallFlowQueueCallHistory.Detail.UserCallDetails')">
                                                    <span class="badge badge-warning">{{index.count}}</span>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i class="las fa-times-circle"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>

<UserCsxCallQueueReportModal #UserCsxCallQueueReportModal></UserCsxCallQueueReportModal>