﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #leadExpenseForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="leadExpense.id">{{l("EditLeadExpense")}}</span>
                        <span *ngIf="!leadExpense.id">{{l("CreateLeadExpense")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body lead_expen_popup modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-3">
                                
                                  <!--  <div class="kt-sdropdown">
                                         <label for="daterange">Organization</label>
                                        <div class=" selectdropdown m-form__group"> -->
                                        <div class="form-group form-icon">
                                            <label for="LeadExpense_Org">{{l("Organization")}}</label>
                                           <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit">
                                                <option selected>Select Organization</option>
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                            <span class="icon-box"><i class="las la-building"></i></span>
                                        </div>
                                   <!--  </div> -->
                                
                            </div>
                            <!-- <div class="col-md-4">
                                <div class="form-group">
                                    <label for="daterange">Date Range</label>
                                    <input name="daterange" type="text" class="form-control  daterangebox" id="daterange" bsDaterangepicker dateRangePickerMomentModifier [(date)]="sampleDateRange" required />
                                </div>
                            </div> -->
                            <div class="col-md-3">
                                <label for="LeadExpense_Startdate">{{l("Start Date")}}</label>
                                <input name="SampleSDatePicker" type="text" class="form-control daterangebox" id="sdate" bsDatepicker datePickerMomentModifier placeholder="Start Date" [(date)]="firstDay" required />
                            </div>
                            <div class="col-md-3">
                                <label for="LeadExpense_Enddate">{{l("End Date")}}</label>
                                <input name="SampleEDatePicker" type="text" class="form-control daterangebox" id="edate" bsDatepicker datePickerMomentModifier placeholder="End Date" [(date)]="lastday" required />
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label for="LeadExpense_Amount">{{l("Amount")}}</label>
                                    <input type="number" id="LeadExpense_Amount" class="form-control" [(ngModel)]="totalamount" name="toalAmount" required />
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="nswTotalAmount">{{l("NSW")}}</label>
                                    <input type="number" id="nswTotalAmount" class="form-control" [(ngModel)]="nswTotalAmount" name="nswTotalAmount" disabled />
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="qldTotalAmount">{{l("QLD")}}</label>
                                    <input type="number" id="qldTotalAmount" class="form-control" [(ngModel)]="qldTotalAmount" name="qldTotalAmount" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="waTotalAmount">{{l("WA")}}</label>
                                    <input type="number" id="waTotalAmount" class="form-control" [(ngModel)]="waTotalAmount" name="waTotalAmount" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="saTotalAmount">{{l("SA")}}</label>
                                    <input type="number" id="saTotalAmount" class="form-control" [(ngModel)]="saTotalAmount" name="saTotalAmount" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="vicTotalAmount">{{l("VIC")}}</label>
                                    <input type="number" id="vicTotalAmount" class="form-control" [(ngModel)]="vicTotalAmount" name="vicTotalAmount" disabled />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal-white-box">
                        <h3>Lead Expense</h3>
                        <div class="">
                            <div class="productsgridbox formcontainer">
                                <ul *ngFor="let item of expensesforlead; let i = index" class="row marginbtm0">
                                    <li class="col-md-2">
                                        <div class="form-group m-form__group">
                                            <label for="LeadSourceSourceName">{{l("LeadSource")}}</label>
                                            <select #leadSourceSource="ngModel" name="leadSourceSource{{i}}" id="leadSourceId" required [(ngModel)]="item.leadSourceId" class="form-control">
                                                <option value = 0>{{"LeadSource"}}</option>
                                                <option *ngFor="let lead of allLeadSources" value="{{lead.id}}">{{lead.displayName}}</option>
                                            </select>
                                           
                                        </div>
                                    </li>

                                    <li class="col-md-1 width14per">
                                        <div class="form-group">
                                            <label>NSW</label>
                                            <input type="number" name="jpmodel{{i}}" required (change)="caculateTotalamount($event)" #jpmodel="ngModel" [(ngModel)]="item.nswAmount" class="form-control" placeholder="NSW" />
                                        </div>
                                    </li>
                                    <li class="col-md-1 width14per">
                                        <div class="form-group">
                                            <label>QLD</label>
                                            <input type="number" name="jpmodel{{i}}" required (change)="caculateTotalamount($event)" #jpmodel="ngModel" [(ngModel)]="item.qldAmount" class="form-control" placeholder="QLD" />
                                        </div>
                                    </li>
                                    <li class="col-md-1 width14per">
                                        <div class="form-group">
                                            <label>SA</label>
                                            <input type="number" name="jpmodel{{i}}" required (change)="caculateTotalamount($event)" #jpmodel="ngModel" [(ngModel)]="item.saAmount" class="form-control" placeholder="SA" />
                                        </div>
                                    </li>
                                    <li class="col-md-1 width14per">
                                        <div class="form-group">
                                            <label>WA</label>
                                            <input type="number" name="jpmodel{{i}}" required (change)="caculateTotalamount($event)" #jpmodel="ngModel" [(ngModel)]="item.waAmount" class="form-control" placeholder="WA" />
                                        </div>
                                    </li>

                                    <li class="col-md-1 width14per">
                                        <div class="form-group">
                                            <label>VIC</label>
                                            <input type="text" name="vicAmount{{i}}" required (change)="caculateTotalamount($event)" #jpmodel="ngModel" [(ngModel)]="item.vicAmount" class="form-control" placeholder="VIC" />
                                        </div>
                                    </li>
                                    <li class="col-md-1 closebutton margintop35">
                                        <div class="d-flex align-items-center justify-content-between new_action">
                                            <div class="action-btn" *ngIf="expensesforlead.length != 1">
                                                <!-- <label class="form-control">Qty</label> -->
                                                <a (click)="removeJobProduct(item)" class="removebtn"><i class="las la-trash text-danger"></i></a>
                                            </div>
                                            <div class="action-btn addbtn">
                                                <a (click)="addJobProduct()"><i class="las la-plus-circle"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- <li>
                                        <div class="addmorebtn pl90">
                                            <a (click)="addJobProduct()"><i class="las la-plus-circle"></i></a>
                                        </div>
                                    </li> -->
                                </ul>

                            </div>
                        </div>
                    </div>


                    <!-- <div class="row">
                        <div class="kt-sdropdown" >
                            <label for="daterange">Organization</label>
                            <div class="form-group selectdropdown m-form__group">
                                <select name="OrganizationUnits" class="form-control"
                                    [(ngModel)]="organizationUnit">
                                    <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                        {{item.displayName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="daterange">Date Range</label>
                                    <input name="daterange" 
                                           type="text"
                                           class="form-control  daterangebox"
                                           id="daterange"
                                           bsDaterangepicker
                                           dateRangePickerMomentModifier
                                           [(date)]="sampleDateRange"
                                           required
                                           />
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LeadExpense_Amount">{{l("Amount")}}</label>
                                <input type="number" id="LeadExpense_Amount"   class="form-control" [(ngModel)]="totalamount" name="toalAmount" required />
                            </div>
                        </div>
                    </div>

					<div>
                        <table>
                            <thead>
                                <th>Lead Source</th>
                                <th *ngFor="let state of allStates">{{state.displayName}}</th>
                            </thead>
                             <tbody>
                                 <tr *ngFor="let item of leadstatedata" >
                                    <td>
                                    {{item.leadsource}}
                                    </td>
                                    <td *ngFor="let st of item.leadstates"> <input type="number" class="form-control" (change)="checkAll($event)"  [(ngModel)]="st.amount" name="Amount"   />  </td>
                                 </tr>
                             </tbody>
                        </table>
                    </div>
					  -->




                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>  {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" (click)="save()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"> <i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>