﻿<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("LeadExpenses")}}</span>
                        <span class="total-records-count">
                      ({{(primengTableHelper.totalRecordsCount)}})
                  </span>
                    </h3>
                </div>

                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getLeadExpenses()"></button>
                            </li>
                            <li>
                                <div class="btn-group btnexceldropdown " dropdown>
                                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Export
                                        <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                        <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel('LeadExpenses.xlsx')" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;" (click)="exportToExcel('LeadExpenses.csv')">
                                            <i class="las la-file-csv"></i> CSV
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="isGranted('Pages.LeadExpenses.Create')">
                                <button (click)="createOrEditLeadExpenseModal.show()" class="btn btn-outline-primary btnadd">
                                    Add <i class="las la-plus-circle"></i>
                                </button>
                            </li>

                            <li>
                                <div class="kt-searchmainbox">
                                    <div class="kt-sdropdown tenantsearhdropdown">
                                        <div class="form-group m-form__group">

                                            <select name="leadExpense.leadSourceId" [(ngModel)]="leadSourceIdFilter" class="form-control" (ngModelChange)="getLeadExpenses()">
                                  <option value = "0" >All Lead Source</option>
                                  <option *ngFor="let item of allLeadSources" value="{{item.id}}">{{item.displayName}}</option>
                              </select>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="kt-searchmainbox">
                                    <div class="kt-sdropdown tenantsearhdropdown">
                                        <div class="form-group m-form__group">

                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getLeadExpenses()">
                                  <option value = "0" >All Organization</option>
                                  <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="kt-searchmainbox">
                                    <div class="kt-stextbox tenantsearhdropdown">
                                        <!-- <div class="form-group"> -->
                                        <!-- <label for="daterange">Date Range</label> -->
                                        <input name="firstDay" type="text" class="form-control daterangebox" bsDatepicker datePickerMomentModifier placeholder="Start Date" id="firstDay" [(date)]="firstDay" (keydown.enter)="getLeadExpenses()" />
                                        <!-- </div> -->
                                        <!-- <input type="text" class="form-control" [placeholder]="l('SearchWithThreeDot')" [(ngModel)]="filterText"/> -->
                                        <!-- <input type="button" class="btnsearch" (click)="getLeadExpenses()" /> -->
                                        <!-- <div class="icon_close">x</div> -->
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="kt-searchmainbox">
                                    <div class="kt-stextbox tenantsearhdropdown">
                                        <!-- <div class="form-group"> -->
                                        <!-- <label for="daterange">Date Range</label> -->
                                        <input name="lastday" type="text" class="form-control daterangebox" bsDatepicker datePickerMomentModifier placeholder="Last Date" id="lastday" [(date)]="lastday" (keydown.enter)="getLeadExpenses()" />
                                        <!-- </div> -->
                                        <!-- <input type="text" class="form-control" [placeholder]="l('SearchWithThreeDot')" [(ngModel)]="filterText"/> -->
                                        <!-- <input type="button" class="btnsearch" (click)="getLeadExpenses()" /> -->
                                        <!-- <div class="icon_close">x</div> -->
                                    </div>
                                </div>
                            </li>
                            <li>
                                <button type="button" class="btn btn-outline-primary" style="padding-left:0.5rem; padding-right:0.5rem;" (click)="getLeadExpenses()"><i class="las la-search" style="margin-left:0;"></i></button>
                            </li>
                            <!-- <li>
                                <div class="kt-searchmainbox">
                                    <div class="kt-stextbox maxwdth210 dateandsearch_icon">
                                        <input name="daterange" type="text" class="form-control daterangebox autoWidth" id="daterange" placeholder="Select Date Range" bsDaterangepicker dateRangePickerMomentModifier [(date)]="sampleDateRange" (keydown.enter)="getLeadExpenses()" />
                                        <input type="button" class="btnsearch" (click)="getLeadExpenses()" />
                                    </div>
                                </div>
                            </li> -->
                        </ul>

                    </div>
                </div>


            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>${{totalSummary}}</span><label>{{l("Total")}}</label></li>
                    <li><span>${{totalNSWSummary}}</span><label>{{l("NSW")}}</label></li>
                    <li><span>${{totalQLDSummary}}</span><label>{{l("QLD")}}</label></li>
                    <li><span>${{totalSASummary}}</span><label>{{l("SA")}}</label></li>
                    <li><span>${{totalWASummary}}</span><label>{{l("WA")}}</label></li>
                    <li><span>${{totalVICSummary}}</span><label>{{l("VIC")}}</label></li>
                </ul>
            </div>

        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <form class="kt-form pad25" hidden autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" (keydown.enter)="getLeadExpenses();searchLog();" type="text">
                                            <span class="input-group-btn">
                                              <button (click)="getLeadExpenses();searchLog();" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getLeadExpenses($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" style="width:95px;" [hidden]="!isGrantedAny('Pages.LeadExpenses.Edit', 'Pages.LeadExpenses.Delete')">{{l('Actions')}}</th>
                                        <th pSortableColumn="Organization">
                                            {{l('Organization')}}
                                            <p-sortIcon field="organization"></p-sortIcon>
                                        </th>
                                        <th style="width: 400px; text-align:center;" pSortableColumn="Amount">
                                            {{l('Total Investment')}}
                                            <p-sortIcon field="Amount"></p-sortIcon>
                                        </th>
                                        <th style="width: 250px;" pSortableColumn="ForPeriod">
                                            {{l('Month-Year')}}
                                            <p-sortIcon field="ForPeriod"></p-sortIcon>
                                        </th>
                                        <th style="width: 300px" pSortableColumn="fromDate">
                                            {{l('Period')}}
                                            <p-sortIcon field="fromDate"></p-sortIcon>
                                        </th>



                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align:center; width:95px;" class="actionwidth" [hidden]="!isGrantedAny('Pages.LeadExpenses.Edit', 'Pages.LeadExpenses.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                 <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                             </button>
                                                <ul class="dropdown-menu" *dropdownMenu>

                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.LeadExpenses.Edit')&& (permission.isGranted('Pages.LeadExpenses.LastMonthEdit') || record.isEdit)" (click)="editLeadExpenseModal.show(record.fromDate, record.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.LeadExpenses.Delete')" (click)="deleteLeadExpense(record)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Organization')}}</span> {{record.organization}}
                                        </td>
                                        <td style="width:400px; text-align:center;">
                                            <span class="ui-column-title"> {{l('Amount')}}</span>
                                            <span class="badge badge-pill badge-secondary amount">$ {{record.amount}}</span>
                                        </td>
                                        <td style="width:250px">
                                            <span class="ui-column-title"> {{l('ForPeriod')}}</span>
                                            <span class="badge badge-pill badge-secondary amount">
                                             {{record.forPeriod }}
                                         </span>
                                            <span *ngIf="!record.forPeriod">-</span>
                                        </td>
                                        <td style="width:300px">
                                            <span class="ui-column-title"> {{l('fordate')}}</span>
                                            <span class="badge badge-pill badge-secondary amount">
                                          {{record.fromDate | momentFormat:'DD-MM-YYYY'}} to {{record.toDate | momentFormat:'DD-MM-YYYY'}} 
                                      </span>
                                            <span *ngIf="!record.forPeriod">-</span>
                                        </td>


                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeadExpenses($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                showing {{firstrowcount}}
                                To {{last}}
                                <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditLeadExpenseModal #createOrEditLeadExpenseModal (modalSave)="getLeadExpenses()"></createOrEditLeadExpenseModal>

        <editLeadExpenseModal #editLeadExpenseModal (modalSave)="getLeadExpenses()"></editLeadExpenseModal>
    </div>
</div>