﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("FromDate")}} :</h6>
                        {{ item.leadExpense.fromDate | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ToDate")}} :</h6>
                        {{ item.leadExpense.toDate }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Amount")}} :</h6>
                        {{ item.leadExpense.amount }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("LeadSource")}} :</h6>
                        {{ item.leadExpense.leadSourceId }}
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn  btn-secondary" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
