﻿<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 100%;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Hold Job Tracker")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getJobs();RereshLog();"></button></li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.HoldJobTracker.Export' | permission">
                                                <i class="las la-file-excel"></i>Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;" *ngIf="'Pages.HoldJobTracker.Export' | permission">
                                                <i class="las la-file-csv"></i>CSV
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getJobs();onsalesmanger();onsalesrep();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadSource" [(ngModel)]="leadSourceIdFilter" name="jobStatusID">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <select name="jobStatus" [(ngModel)]="holdresonsId" class="form-control" (change)="getJobs();addSearchLog('Filter hold Reasons');">
                                            <option value=0>Select Hold Reason</option>
                                            <option *ngFor="let item of holdReasons" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" class="form-control" [ngClass]="{pl50: filterName == 'JobNumber' }" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getJobs();"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">

                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" class="form-control" id="AddressFilter" name="AddressFilter" [(ngModel)]="addressFilter" placeholder='{{l("Address")}}'>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" [(ngModel)]="stateFilter" name="stateFilter">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li *ngIf="stateFilter == 'VIC'">
                                                            <div class="form-group m-form__group">
                                                                <select [(ngModel)]="solarvicstatus" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="solarvicstatus" class="form-control">
                                                                    <option value=0>{{l("SolarRebateStatus")}}</option>
                                                                    <option value="1">Blank</option>
                                                                    <option value="2">After Install</option>
                                                                    <option value="3">Cancelled</option>
                                                                    <option value="4">Installation Completed</option>
                                                                    <option value="5">Installation Scheduled</option>
                                                                    <option value="6">Payment Approved</option>
                                                                    <option value="7">Payment Claim Under Review
                                                                    </option>
                                                                    <option value="8">Payment Processed</option>
                                                                    <option value="9">Quote Submitted</option>
                                                                    <option value="10">Appl Rejected</option>
                                                                    <option value="11">Additional Info Required</option>
                                                                    <option value="12">App Expired</option>
                                                                    <option value="13">Draft quote</option>
                                                                    <option value="14">Quote submitted</option>
                                                                    <option value="15">Appl Started</option>
                                                                    <option value="16">Appl under review</option>
                                                                    <option value="17">Appl approved</option>
                                                                    <option value="18">Quote expired</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="paymentid" [(ngModel)]="paymentid" class="form-control" (keydown.enter)="getJobs()">;addSearchLog('Advanced Filter');
                                                                    <option value=0>Select PaymentMethod</option>
                                                                    <option *ngFor="let item of jobPaymentOptions"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="financeOptionNameFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" [(ngModel)]="financeOptionNameFilter" class="form-control">
                                                                    <option value="">Payment Term
                                                                    </option>
                                                                    <option *ngFor="let item of jobFinOptions"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="panelModel" id="panelModel" [suggestions]="panelSuggestions" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" (completeMethod)="filterPanelModel($event)" placeholder='{{l("PanelModel")}}' [minlength]="2" #suburbInput="ngModel" name="panelModel"
                                                                    inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="invertModel" id="invertModel" [suggestions]="invertSuggestions" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" (completeMethod)="filterInvertModel($event)" placeholder='{{l("InvertModel")}}' [minlength]="2" #suburbInput="ngModel" name="invertModel"
                                                                    inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" id="areaNameFilter" name="areaNameFilter" [(ngModel)]="areaNameFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value="">Select Area</option>
                                                                    <option value="Metro">Metro</option>
                                                                    <option value="Regional">Regional</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" id="postalcodefrom" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="postalcodefrom" [(ngModel)]="postalcodefrom" placeholder="PostCodeFrom">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" id="postalcodeTo" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="postalcode" [(ngModel)]="postalcodeTo" placeholder="PostCodeTo">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group">
                                                                <select name="jobTypeNameFilter" [(ngModel)]="jobTypeNameFilter" class="form-control" id="JobTypeNameFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value="">{{l("SelectType")}}</option>
                                                                    <option *ngFor="let item of jobTypes"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="teamId" name="teamId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value="0">{{l("SelectTeam")}}</option>
                                                                    <option *ngFor="let item of filteredTeams"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="salesRepId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="salesRepId">
                                                                    <option value="0">{{l("SelectSalesRep")}}</option>
                                                                    <option *ngFor="let item of filteredReps"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="jobDateFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="jobDateFilter">
                                                                    <option value="CreationDate">{{l("ProjectOpen")}}
                                                                    </option>
                                                                    <option value="NextFollowUp">
                                                                        {{l("NextFollowUpDate")}}</option>
                                                                    <option value="FirstDeposite">
                                                                        {{l("FirstDepositeDate")}}
                                                                    </option>
                                                                    <option value="DepositeReceived">
                                                                        {{l("DepositeReceivedDate")}}
                                                                    </option>
                                                                    <option value="Active">{{l("ActiveDate")}}</option>

                                                                    <option value="InstallBook">{{l("InstallBookDate")}}
                                                                    </option>
                                                                    <option value="InstallComplete">
                                                                        {{l("InstallCompleteDate")}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group">
                                                                <input name="SampleDateRangePicker" type="text" (keydown.enter)="getJobs($event)" [(ngModel)]="sampleDateRange" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }"
                                                                    [(date)]="sampleDateRange" />
                                                            </div>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getJobs();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{this.totalNoOfPanel}}</span><label>{{l("TotalNoOfPannels")}}</label></li>
                    <li><span>{{this.totalSystemCapacity}}</span><label>{{l("TotalSystemCapacityKW")}}</label></li>
                    <li><span>{{this.price}}</span><label>{{l("Price/KW")}}</label></li>
                </ul>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center" [ngClass] = "{'unselectable': ('Pages.HoldJobTracker.EnableCopyPaste' | permission)}">
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center p-frozen-column">
                                            {{l('Actions')}}</th>
                                        <th style="width:110px; left:95px !important;" class="p-frozen-column" pSortableColumn="JobNumber">
                                            {{l('ProjNo')}}
                                            <p-sortIcon field="jobnumber"></p-sortIcon>
                                        </th>
                                        <th style="width:180px" pSortableColumn="JobStatusFk.name" [hidden]="!ExpandedView">
                                            {{l('JobStatus')}}
                                            <p-sortIcon field="jobStatusName"></p-sortIcon>
                                        </th>
                                        <th style="width:180px" *ngIf="diplayifvic == true" [hidden]="!ExpandedView">
                                            {{l('solarRebateStatus')}}
                                        </th>
                                        <th style="width:160px" [hidden]="!ExpandedView">
                                            {{l('SalesRepName')}}

                                        </th>
                                        <th style="width:150px" pSortableColumn="leadFk.leadSource" [hidden]="!ExpandedView">
                                            {{l('LeadSource')}}
                                            <p-sortIcon field="leadSourceName"></p-sortIcon>
                                        </th>
                                        <th style="width:120px" pSortableColumn="postalCode" [hidden]="!ExpandedView">
                                            {{l('P/CD')}}
                                            <p-sortIcon field="postalCode"></p-sortIcon>
                                        </th>
                                        <th style="width:150px" pSortableColumn="leadFk.companyName" [hidden]="!ExpandedView">
                                            {{l('Contact')}}
                                            <p-sortIcon field="leadCompanyName"></p-sortIcon>
                                        </th>
                                        <!-- <th style="width:130px" pSortableColumn="leadFk.mobile" [hidden]="!ExpandedView">
                                            {{l('Mobile')}}
                                            <p-sortIcon field="mobile"></p-sortIcon>
                                        </th> -->
                                        <th style="width: 230px" pSortableColumn="installationDate" [hidden]="!ExpandedView">
                                            {{l('Deposite')}}
                                            <p-sortIcon field="installationDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" [hidden]="!ExpandedView">
                                            {{l('JobHoldReason')}}
                                        </th>
                                        <th style="width: 100px" [hidden]="!ExpandedView">
                                            {{l('HoldNote')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Reminder')}}
                                        </th>
                                        <th style="width:140px" pSortableColumn="jobGridSmsSend" [hidden]="!ExpandedView">
                                            {{l('SmsSend')}}
                                            <p-sortIcon field="jobGridSmsSend"></p-sortIcon>
                                        </th>
                                        <th style="width: 140px" pSortableColumn="jobGridEmailSend" [hidden]="!ExpandedView">
                                            {{l('EmailSend')}}
                                            <p-sortIcon field="postalCode"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.job.leadId}">
                                        <td class="actionwidth p-frozen-column" style="text-align: center; width:95px;">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.HoldJobTracker.JobDetail')">
                                                        <a href="javascript:;" target="_blank" [routerLink]="['/app/main/jobs/jobs/jobDetail']" [queryParams]="{id: record.job.leadId}">
                                                            <i class="las la-info-circle"></i> {{l('JobDetail')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.HoldJobTracker.QuickView')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.job.id,0,'Hold Jobs Tracker')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.HoldJobTracker.JobDetail')">
                                                        <a (click)="jobholdreasonModal.show(record.job.id,'Hold Jobs Tracker')">
                                                            <i class="las la-comment-medical"></i> {{l('Add Reason')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.HoldJobTracker.Notify')">
                                                        <a (click)="notifyModel.show(record.job.leadId,27,0,'Hold Jobs Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.job.leadId,9,0,27)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.HoldJobTracker.SMS')">
                                                        <a (click)="smsModel.show(record.job.leadId,27,0,'Hold Jobs Tracker')">
                                                            <!-- <a (click)="holdjobsTrackerSmsEmailModal.show(record.job.leadId,1,27)"> -->
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.HoldJobTracker.Email')">
                                                        <a (click)="emailModel.show(record.job.leadId,27,0,0,'Hold Jobs Tracker')">
                                                            <!-- <a (click)="holdjobsTrackerSmsEmailModal.show(record.job.leadId,2,27)"> -->
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.HoldJobTracker.Comment')">
                                                        <a (click)="commentModel.show(record.job.leadId,27,0,'Hold Jobs Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.job.leadId,24,0,27)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.HoldJobTracker.ToDo')">
                                                        <a (click)="todoModal.show(record.job.leadId,27,0,'Hold Jobs Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.job.leadId,25,0,27)"> -->
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.HoldJobTracker.Reminder')">
                                                        <a (click)="ReminderModal.show(record.job.leadId,27,0,'Hold Jobs Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.job.leadId,8,0,27)"> -->
                                                            <i class="lar la-bell"></i> Reminder
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:110px; left:95px !important;" class="p-frozen-column" (click)="navigateToLeadDetail(record.job.leadId);">
                                            {{record.job.jobNumber}}
                                        </td>
                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            {{record.jobStatusName}}
                                        </td>
                                        <td *ngIf="diplayifvic == true" style="width:180px" [hidden]="!ExpandedView">
                                            <span *ngIf="record.jobSolarRebateStatus == '1'">Bank</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '2'">After Install</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '3'">Cancelled</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '4'">Installation
                                                Completed</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '5'">Installation
                                                Scheduled</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '6'">Payment Approved</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '7'">Payment Claim Under
                                                Review</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '8'">Payment Processed</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '9'">Quote Submitted</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '10'">Appl Rejected</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '11'">Additional Info
                                                Required</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '12'">App Expired</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '13'">Draft quote</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '14'">Quote expired</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '15'">Appl Started</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '16'">Appl under review</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '17'">Appl approved</span>
                                            <span *ngIf="record.jobSolarRebateStatus == '18'">Quote expired</span>

                                        </td>
                                        <td style="width:160px" [hidden]="!ExpandedView">
                                            {{record.job.currentLeadOwaner}}
                                        </td>

                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.leadSourceName}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.job.postalCode}}
                                        </td>
                                        <td class="no_warp" style="width:150px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.leadCompanyName">{{record.leadCompanyName}}</span>
                                            </div>
                                        </td>
                                        <!-- <td style="width:130px" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary amount">{{record.mobile}}</span>
                                        </td> -->

                                        <td style="width:230px" [hidden]="!ExpandedView">
                                            {{record.job.depositeRecceivedDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.job.jobHoldReasonName">{{record.job.jobHoldReasonName}}</span>
                                            </div>
                                        </td>
                                        <td style="width:100px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.job.holdNotes">{{record.job.holdNotes}}</span>
                                            </div>
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.activityComment">{{record.activityComment}}</span>
                                            </div>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.activityReminderTime}}
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.activityDescription">{{record.activityDescription}}</span>
                                            </div>
                                        </td>
                                        <td style="width:140px; text-align: center;" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title"> {{l('SmsSend')}}</span> -->
                                            <Span *ngIf="record.job.jobGridSmsSend == 1" [tooltip]="record.job.jobGridSmsSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="kt-badge kt-badge--success tooltipcnt"> {{l("Yes")}} </Span>
                                            <Span *ngIf="record.job.jobGridSmsSend != 1" [tooltip]="record.job.jobGridSmsSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="kt-badge kt-badge--dark tooltipcnt"> {{l("No")}} </Span>
                                        </td>
                                        <td style="width:140px; text-align: center;" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title"> {{l('EmailSend')}}</span> -->
                                            <Span *ngIf="record.job.jobGridEmailSend == 1" [tooltip]="record.job.jobGridEmailSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="kt-badge kt-badge--success tooltipcnt"> {{l("Yes")}} </Span>
                                            <Span *ngIf="record.job.jobGridEmailSend != 1" [tooltip]="record.job.jobGridEmailSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="kt-badge kt-badge--dark tooltipcnt"> {{l("No")}} </Span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getJobs($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <!-- <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container" id="content" #content style="display: none;">
            <table>
                <tr>
                    <th>ProjNo</th>
                    <th>JobStatus</th>
                    <th>SalesRepName</th>
                    <th>LeadSource</th>
                    <th>P/CD</th>
                    <th>Contact</th>
                    <th>Mobile</th>
                    <th>InstallationBookingDate</th>
                    <th>depositeRecceivedDate</th>
                    <th>Comment</th>
                    <th>NextFollowUp</th>
                    <th>Description</th>
                </tr>
                <tr *ngFor="let record of primengTableHelper.records">
                    <td>{{record.job.jobNumber}}</td>
                    <td>{{record.jobStatusName}}</td>
                    <td>{{record.job.currentLeadOwaner}}</td>
                    <td>{{record.leadSourceName}}</td>
                    <td>{{record.job.postalCode}}</td>
                    <td>{{record.leadCompanyName}}</td>
                    <td>{{record.mobile}}</td>
                    <td>{{record.job.installationDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</td>
                    <td>{{record.job.depositeRecceivedDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</td>
                    <td>{{record.activityComment}}</td>
                    <td> {{record.activityReminderTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</td>
                    <td>{{record.activityDescription}}</td>
                </tr>
            </table>
        </div>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
        <!-- <jobNotesModal #jobNotesModal (modalSave)="reloadPage($event)"></jobNotesModal> -->
        <!-- <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal> -->
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <!-- <holdjobsTrackerSmsEmailModal #holdjobsTrackerSmsEmailModal (modalSave)="getJobs()">
        </holdjobsTrackerSmsEmailModal> -->
        <jobholdreasonModal #jobholdreasonModal (modalSave)="reloadPage($event)"></jobholdreasonModal>
        <smsModel #smsModel></smsModel>
        <emailModel #emailModel></emailModel>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="getJobs()"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="getJobs()"></ReminderModal>

    </div>
</div>