<!-- <div class="kt-customersignature" [@routerTransition]>
    <div class="quotepdfbox">
        <div class="expiredmessage" *ngIf="declarationFormData.signed">
            <img src="../../assets/common/images/smile.svg" style="width:100px;" />
            <h3 class="mt-4">Hello </h3>
            <p class="text-center">You have already signed the {{Page}}. <br />
                Please Ignore this email/SMS</p>
        </div>
        <div class="quotepdfbox">
            <div class="expiredmessage" *ngIf="declarationFormData.expiry">
                <img src="../../assets/common/images/sad.svg" style="width:100px;" />
                <h3 class="mt-4">Sorry </h3>
                <p class="text-center">Your Link Has Expired Please Request New Link Again. <br />
                    Thank You</p>
            </div>
            <div class="quotationarea" *ngIf="!declarationFormData.expiry && !declarationFormData.signed">
                <form #custSignForm="ngForm" novalidate autocomplete="off">
                    <h2>Collecting Home Owner Signature</h2>
                    <p class="mt-3">Dear {{declarationFormData.custName}},</p>
                    <p>Your Solar Advisor {{declarationFormData.instName}} from {{declarationFormData.organization}} PTY LTD is
                        requesting a signature on {{ Page }}.</p>
                    <h3 class="mt-4">Customer’s Details:</h3>
                    <div class="customerinfobox ">
                        <ul>
                            <li><label>Name</label> <Span>: {{declarationFormData.custName}}</Span></li>
                            <li><label>Address </label> <Span>: {{declarationFormData.address}} </Span></li>
                            <li><label>Mobile Number </label> <Span>: {{declarationFormData.mobile}}</Span></li>
                            <li><label>Email ID </label> <Span>: {{declarationFormData.email}}</Span></li>
                        </ul>

                        <h3 class="mt-4">Mandatory Declaration:</h3>
                        <label for="isChangeY" class="kt-checkbox">
                            <input type="checkbox" name="isChangeY" id="isChangeY" (click)="checkboxClick('yes')" [(ngModel)]="checkboxyes" />
                            <span></span>
                            {{ yesLine }}
                        </label>
                        <label for="isChangeN" class="kt-checkbox">
                            <input type="checkbox" name="isChangeN" id="isChangeN" (click)="checkboxClick('no')"  [(ngModel)]="checkboxno" />
                            <span></span>
                            {{ noLine }}
                        </label>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-5">
                            <div class="digitalsignaturebox">
                                <div class="digitalsignature">
                                    <h5>Signature</h5>
                                    <div class="wrapper" >
                                        <canvas id="signature-pad" class="signature-pad" width=300 height=130></canvas>
                                    </div>
                                    <div>
                                        <button id="save" (click)="save()">Save</button>
                                        <button id="clear" (click)="clear()">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <p>
                                Customer name: {{declarationFormData.custName}} <br />
                                Date: {{declarationFormData.date}}<br />
                                Email: {{declarationFormData.email}} <br />
                                Captured IP Address: {{ipAddress}} <br />
                                Location: Latitude: {{lat}} <br />
                                Longitide: {{lng}}
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap' rel='stylesheet'>
</head>

<div [@routerTransition]>

    <!-- <div class="sm-container"> -->
    <div [ngClass]="{'sm-container': declarationFormData.organizationId === 8, 'sb-container' : declarationFormData.organizationId === 1, 'savy-container' : declarationFormData.organizationId === 2 }">
        <!-- Header starts -->
        <div style=" margin: 0 auto; max-width: 620px; min-width: 320px; padding:10px 15px;">
            <table style="width:100%; border:0;">
                <tr>
                    <td style="text-align: center; ">
                        <img src='{{ declarationFormData.orgLogo }}' style='max-width:220px;'>
                    </td>
                </tr>
            </table>
        </div>
        <!-- Header ends -->

        <div class="main-box-container">
            <div *ngIf="!declarationFormData.expiry && !declarationFormData.signed">
                <form #custSignForm="ngForm" novalidate autocomplete="off">
                    <!-- CUSTOMER SIGNATURE SECTION STARTS -->
                    <div class="info-box">
                        <div style="text-align:center; margin:10px 0 20px; font-size:20px; font-weight:700;" class="deviceTitle">Collecting Home Owner Signature</div>
                        <div style="text-align:center; margin:20px 0;">
                            <img src="https://thesolarproduct.com/assets/common/images/banner.png" *ngIf="declarationFormData.organizationId != 8" style="width:240px;" class="mobileImg">
                            <img src="https://thesolarproduct.com/assets/common/images/sb/sb-banner.png" *ngIf="declarationFormData.organizationId == 8" style="width:240px;" class="mobileImg">
                        </div>

                        <div>
                            <div style="font-size:1.3rem; font-weight:700; margin:10px 0 10px; padding:10px 15px 0 15px; text-align:center;">
                                {{ Page }}
                            </div>
                            <div style="font-size:1rem; font-weight:700; margin:10px 0 20px; padding:0 15px 0 15px; text-align:center;" *ngIf="!hideshow">
                                (for properties with risk of shading)
                            </div>
                            <div style="font-size:1rem; font-weight:700; margin:10px 0 20px; padding:0 15px 0 15px; text-align:center;" *ngIf="hideshow">
                                (for panels with less than 15° tilt - OR - panels oriented between 100° E - 260° W.)
                            </div>
                        </div>

                    </div>

                    <div style="font-size:1.1rem; font-weight:700; margin:10px 0 10px; padding:15px 15px 0 15px;">
                        Dear {{declarationFormData.custName}},
                    </div>
                    <div style="font-size:0.9rem; font-weight:600; line-height:26px; margin:0 0 20px; padding:0 15px 0 15px;">
                        Your Solar Advisor <span style="font-weight:700; border-bottom:1px dotted #000;">{{declarationFormData.instName}}</span> from <span style="font-weight:700; border-bottom:1px dotted #000;">{{declarationFormData.organization}}</span>                        PTY LTD is requesting a signature on {{ Page }}.
                    </div>

                    <div style="padding:0 15px 15px;">

                        <!-- SHADING DEC CONTENT STARTS -->
                        <div *ngIf="!hideshow">
                            <section style="padding:15px; margin:10px 0; background:#eefaff; border-radius:10px;">
                                <div class="pdf_main_data">
                                    <div class="pdf_left_box">
                                        <div style="text-align:justify; line-height: 18px; font-size:0.9rem;">
                                            <strong>I, {{declarationFormData.custName}},</strong> acknowledge that part (or whole) of the solar system installed at the property, will not produce at full capacity due to shading issues identified at the
                                            property and choose to continue with installation at my own request.<br><br>
                                            <strong>I, {{declarationFormData.custName}},</strong> agree with the install location of all equipment such as solar panel(s), inverter(s), internal and external cables and conduits<br><br>
                                            <strong>I, {{declarationFormData.custName}},</strong> acknowledge and agree that {{declarationFormData.organization}} will not be liable for any compensation if the system cannot perform at full capacity when
                                            the cause is in anyway related to the shading issues identified at the property.
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <!-- SHADING DEC CONTENT ENDS -->

                        <!-- EFFIC DEC STARTS -->
                        <div *ngIf="hideshow">
                            <section style="padding:15px; margin:10px 0; background:#eefaff; border-radius:10px;">
                                <div class="pdf_main_data">
                                    <div class="pdf_left_box">
                                        <div style="text-align:justify; line-height: 18px; font-size: 0.9rem;">
                                            <strong>I, {{declarationFormData.custName}},</strong> agree with the proposed location of the solar panels, as confirmed by the installer.<br><br>
                                            <strong>I, {{declarationFormData.custName}},</strong> acknowledge that {{declarationFormData.organization}} will not be liable for any compensation relating to the losses in efficiency that may occur to part
                                            (or whole) of the solar system installed at the property, as a result of the proposed angle of tilt and orientation of the solar panels. (see chart below)<br><br>
                                            <strong>I, {{declarationFormData.custName}},</strong> acknowledge that solar panels mounted at tilt angles less than 15° may require additional cleaning in order to maintain their power output. As a general
                                            guide (see chart to right)
                                        </div>
                                    </div>
                                    <div class="pdf_right_table" style="margin-top:15px;">
                                        <div style="overflow:hidden; border-radius:5px; border:2px solid #078BCC;">
                                            <table style="width:100%; border:0; border-collapse: collapse; background:#fff;">
                                                <tr>
                                                    <th style="background:#078BCC; padding:8px; color:#fff; font-weight:600; text-align: center;">
                                                        Tilt
                                                    </th>
                                                    <th style="background:#078BCC; padding:8px; color:#fff; font-weight:600; text-align: center;">
                                                        Cleaning Frequency
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td style="padding:8px; text-align: center;">0°</td>
                                                    <td style="padding:8px; text-align: center;">Monthly</td>
                                                </tr>
                                                <tr style="background:#def4ff;">
                                                    <td style="padding:8px; text-align: center;">15°</td>
                                                    <td style="padding:8px; text-align: center;">Quarterly</td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:8px; text-align: center;">25°</td>
                                                    <td style="padding:8px; text-align: center;">Bi-annually</td>
                                                </tr>
                                                <tr style="background:#def4ff;">
                                                    <td style="padding:8px; text-align: center;">30°+</td>
                                                    <td style="padding:8px; text-align: center;">Annually</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </section>
                            <section style="padding:15px 0; text-align:center; background:#fff; text-align: center;">
                                <img src="https://thesolarproduct.com/assets/common/images/qld-solar-data.jpg" style="width:100%; overflow: hidden; box-shadow: 0 0 5px #00000040; border-radius:10px;" class="chart_img">
                            </section>
                        </div>
                        <!-- EFFIC DEC STARTS -->

                        <div class="bottom-part-sign">
                            <div class="steps">
                                <div class="sign">
                                    <canvas id="signature-pad" class="signature-pad" style="border:1px solid #999; border-radius: 10px; position:inherit; background-color: #fff;" height=130></canvas>
                                </div>
                                <!-- <div class="sign">
                                    
                                </div> -->
                                <div class="tag m-bold">Customer Signature</div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-tags">
                        <div class="tags" style="padding:5px 10px;  border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                            <span>Captured IP Address: </span>
                            <span style="font-weight:700">{{ipAddress}}</span>
                        </div>
                        <div class="tags" style="padding:5px 10px; border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                            <span>Latitude: </span>
                            <span style="font-weight:700">{{lat}}</span>
                        </div>
                        <div class="tags" style="padding:5px 10px; border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                            <span>Longitide: </span>
                            <span style="font-weight:700">{{lng}}</span>
                        </div>
                    </div>

                    <!-- <div class="btn-box">
                        <button id="save" (click)="save()" [disabled]="!custSignForm.form.valid" class="main-button">Save</button>
                        <button id="clear" (click)="clear()" class="clear-button">Clear</button>
                    </div> -->
                    <div style="text-align:center; height:80px; display:flex; align-items:center; justify-content: center; background: #F1F6FF; border-top:1px solid #ced9ee; z-index: 1; position:relative;">
                        <button type="button" id="save" (click)="save()" [disabled]="!custSignForm.form.valid" class="main-button" style="float:left; width:47%;">Save</button>
                        <button type="button" id="clear" (click)="clear()" class="clear-button" style="float:right; width:47%;">Clear</button>
                    </div>
                    <!-- CUSTOMER SIGNATURE SECTION ENDS -->
                </form>
            </div>



            <!-- THANKS MSSAEGE STARTS -->
            <section class="white-bg" *ngIf="Submit">
                <div style="text-align:center; margin:0 0;">
                    <img src="https://thesolarproduct.com/assets/common/images/submit.jpg" style="width:95%;">
                </div>
                <div style="text-align:center; font-size:40px; font-weight:bold; margin:0 0 20px;">Thank You!</div>
                <div style="text-align:center; font-size:20px; margin:20px 0;">You have successfully signed the documents !!</div>
            </section>
            <!-- THANKS MESSAGE STARTS -->

            <!-- ALREADY SIGNED STARTS -->
            <section class="white-bg" *ngIf="declarationFormData.signed && !Submit" style="padding:60px 0; display:flex; flex-direction:column; align-items: center;">
                <div style="text-align:center; margin:0 0;">
                    <img src="https://thesolarproduct.com/assets/common/images/banner-img.png">
                </div>
                <div style="text-align:center; font-size:24px; margin:50px 0 0; font-weight:bold;">You have already signed the <br>{{Page}}.
                    <div style="text-align:center; font-size:15px; margin:20px 0 0; font-weight:bold; color:#777;">Please Ignore this Email/SMS</div>
                </div>
            </section>
            <!-- ALREADY SIGNED ENDS -->

            <!-- EXPIRE MESSAGE STARTS -->
            <section class="white-bg" *ngIf="declarationFormData.expiry" style="padding:50px 0;">
                <div style="text-align:center; margin:0 0;">
                    <img src="https://thesolarproduct.com/assets/common/images/link-expired.jpg" style="width:95%;">
                </div>
                <div style="text-align:center; font-size:18px; margin:40px 0 0; font-weight:bold;">Sorry, Your Link Has Expired Please Request New Link Again.</div>
            </section>
            <!-- EXPIRE MESSAGE ENDS -->

        </div>
    </div>

</div>