<style>
    ul {
        margin: 0;
        padding: 0 0 0 25px;
    }
    
    ul li {
        list-style: disc;
        line-height: 26px;
    }
    
    body {
        background: #F4F3FE !important;
    }
    
    input[type="text"] {
        box-sizing: border-box;
        width: 100%;
        height: calc(4em + 1px);
        margin: 0 0 1em;
        padding: 1em 1em 0;
        border: 1px solid #ccc;
        background: #fff;
        resize: none;
        outline: none;
        border-width: 0 0 1px 0 !important;
    }
    
    input.lrg-txt[type="text"] {
        height: calc(6em + 1px);
    }
    
    input[type="text"][required]:focus {
        border-color: #7367F0;
        border-width: 0 0 2px !important;
    }
    
    input[type="text"][required]:focus+label[placeholder]:before {
        color: #7367F0;
        font-weight: 500 !important;
    }
    
    input[type="text"][required]:focus+label[placeholder]:before,
    input[type="text"][required]:valid+label[placeholder]:before {
        transition-duration: .2s;
        transform: translate(0, -1.5em) scale(0.9, 0.9);
    }
    
    input[type="text"][required]:invalid+label[placeholder][alt]:before {
        content: attr(alt);
    }
    
    input[type="text"][required]+label[placeholder] {
        display: block;
        pointer-events: none;
        line-height: 1em;
        margin-top: calc(-3em - 5px);
        margin-bottom: calc((3em - 1em) + 2px);
    }
    
    input[type="text"][required]+label[placeholder]:before {
        content: attr(placeholder);
        display: inline-block;
        margin: 0 calc(1em + 0);
        padding: 0 2px;
        color: #898989;
        white-space: nowrap;
        transition: 0.3s ease-in-out;
        background-image: linear-gradient(to bottom, #fff, #fff);
        background-size: 100% 5px;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    textarea {
        box-sizing: border-box;
        width: 100%;
        height: calc(6em + 1px);
        margin: 0 0 1em;
        padding: 1em 1em 0;
        border: 1px solid #ccc;
        background: #fff;
        resize: none;
        outline: none;
        border-width: 0 0 1px 0 !important;
    }
    
    textarea:focus {
        border-color: #7367F0;
        border-width: 0 0 2px !important;
    }
    
    textarea:focus+label[placeholder]:before {
        color: #7367F0 !important;
        font-weight: 500 !important;
    }
    
    textarea:focus+label[placeholder]:before,
    textarea:valid+label[placeholder]:before {
        transition-duration: .2s;
        transform: translate(0, -1.5em) scale(0.9, 0.9);
    }
    
    textarea:invalid+label[placeholder][alt]:before {
        content: attr(alt);
    }
    
    textarea[required]+label[placeholder] {
        display: block;
        pointer-events: none;
        line-height: 1em;
        margin-top: calc(-6em - 5px);
        margin-bottom: calc((3em - 1em) + 2px);
    }
    
    textarea[required]+label[placeholder]:before {
        content: attr(placeholder);
        display: inline-block;
        margin: 0 calc(1em + 0);
        padding: 0 2px;
        color: #898989;
        white-space: nowrap;
        transition: 0.3s ease-in-out;
        background-image: linear-gradient(to bottom, #fff, #fff);
        background-size: 100% 5px;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .contact-block {
        background-image: url(assets/common/images/contact-bg.png);
        background-color: #7367F0;
        background-repeat: no-repeat;
        background-position: bottom right;
        overflow: hidden;
    }
    
    .sharing {
        margin: 60px 0 100px;
        display: flex;
        align-items: center;
    }
    
    .sharing a {
        color: #fff;
        font-size: 1.4rem;
        margin-right: 15px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
    
    .sharing a:hover {
        background: #fff;
        color: #7367F0;
    }
    
    .sharing a:hover i {
        color: #7367F0 !important;
    }
</style>
<div style="background:#F4F3FE;">
    <div class="d-flex align-items-center justify-content-center" style="padding:40px 0;">
        <img [src]="appRootUrl() + 'assets/common/images/logo-icon.svg'" alt="logo" height="50" style="margin-right:10px;" />
        <h2 style="font-weight:600; color:#000;">{{ 'BrandName' | localize }}</h2>
    </div>
    <div style="padding:30px 0 10px; font-size:2.2rem; font-weight:700; text-align:center">Contact Us</div>
    <div style="padding:10px 0 40px; font-size:1.2rem; font-weight:normal; text-align:center">Any questing or remarks? Just write us a message!</div>

    <!-- <div style="text-align:center;"><img [src]="appRootUrl() + 'assets/common/images/bnr-privacy.png'" style="margin-right:10px;" /></div> -->
</div>

<div class="container">

    <div style="background:#fff; display:flex; border-radius:20px; padding:1px; box-shadow:0 0 10px 0 rgb(218 218 253 / 65%), 0 0px 10px 0 rgb(206 206 238 / 54%)">
        <div style="padding:40px; color:#fff; border-top-left-radius: 20px; border-bottom-left-radius: 20px; width:40%;" class="contact-block">
            <h3 style="font-size:1.8rem; font-weight:500; margin:0 0 35px;">Contact Information</h3>
            <p class="d-flex align-items-center" style="margin:0 0 35px; font-size:16px;">We love to hear from you. Our friendly team is always here to chat.</p>
            <p class="d-flex align-items-center" style="margin:0 0 35px; font-size:16px;"><i class="las la-phone mr-4" style="font-size:1.5rem;"></i> <span>+61 0124 56789</span></p>
            <p class="d-flex align-items-center" style="margin:0 0 35px; font-size:16px;"><i class="las la-envelope mr-4" style="font-size:1.5rem;"></i> <span>info@thesolarproduct.com</span></p>
            <p class="d-flex align-items-center" style="margin:0; font-size:16px;"><i class="las la-map-marker mr-4" style="font-size:1.5rem;"></i> <span>10/63-65 George Street Beenleigh QLD 4207</span></p>
            <div class="sharing">
                <a href="#"><i class="lab la-facebook-f"></i></a>
                <a href="#"><i class="lab la-linkedin-in"></i></a>
                <a href="#"><i class="lab la-twitter"></i></a>
            </div>
        </div>
        <div style="padding:40px; width:60%; display:flex; align-items: center;">
            <form>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <input required='' type='text'>
                        <label alt='First Name' placeholder='First Name'></label>
                    </div>
                    <div class="col-md-6 mb-4">
                        <input required='' type='text'>
                        <label alt='Last Name' placeholder='Last Name'></label>
                    </div>
                    <div class="col-md-6 mb-4">
                        <input required='' type='text'>
                        <label alt='Email' placeholder='Email'></label>
                    </div>
                    <div class="col-md-6 mb-4">
                        <input required='' type='text'>
                        <label alt='Phone' placeholder='Phone'></label>
                    </div>

                    <div class="col-md-12 mb-4">
                        <textarea rows="5" cols="50" required=''></textarea>
                        <label alt='Message' placeholder='Message'></label>
                    </div>
                    <div class="d-flex justify-content-end" style="margin-top:60px; margin-left:10px;">
                        <button class="btn btn-primary d-flex align-items-center" style="font-weight:500 !important; font-size:18px !important; padding:0.8rem 1.5rem !important;">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>