<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg addactivitymodal">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                       <!-- <span>{{l("AddNotes")}} - {{leadCompanyName}} - {{this.item.job.jobNumber}}</span> -->
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <select name="Invoice.userId" [(ngModel)]="documentTypeId"
                            class="form-control">
                            <option [ngValue]="undefined">{{l("DocumentType")}}</option>
                            <option *ngFor="let item of DocumentTypes"
                                value="{{item.id}}">
                                {{item.documentTitle}}</option>
                        </select>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="">
                                <div class="form-group marginbtm0">
                                     
                                </div>
                            </div>
                            <!-- <div class="flexbloxbutton fileuploadbtn">
                                <label>
                                    <input #myInput type="file" (change)="fileChangeEvent($event)"
                                        accept=".pdf" class="fileuploadboxbtn" />
                                    <span class="btnuparrow" [tooltip]="l('Atach')"></span>
                                </label>                               
                            </div> -->
                        </div>
                        </div>
                    </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn_red" (click)="close()">{{("Cancel")}}</button>
                       <button type="submit" (click)="savedocument()" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>     
                </div>
            </form>
        </div>
    </div>
</div>