#shadowbox {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }
  .dashboard_countbox{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    border: 0px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    align-items: flex-start;
    font-weight: 600;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 20%);
    margin-bottom: 0;
    font-size: 22px;
    text-align: left;
    color: #5e5873;
  }
  .dashboard_countbox h3{
      font-weight:400; font-size: 0.9rem;
  }
  .countmainarea{
      display: flex; flex-direction: row; justify-content:space-between; align-items: center;
  }
  .countmainarea li{
      margin:0px 5px; width: 20%; display: flex; flex-direction: row; align-items: center;
  }

  .avatar{
    white-space: nowrap;
    background-color: #c3c3c3;
    border-radius: 50%!important; width: 45px; height: 45px;
    position: relative;
    cursor: pointer;
    color: #fff;
    display: inline-flex;
    font-size: 1rem;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
  }
  .avatar.bg-light-primary {
    color: #7367f0!important;
   
}
.avatar.bg-light-primary svg{
    color: #7367f0!important;
}
.avatar.bg-light-success {
    color: #28c76f!important;
}
.avatar.bg-light-success svg {
    color: #28c76f!important;
}
.avatar.bg-light-danger {
    color: #ea5455!important;
}
.avatar.bg-light-danger svg{
    color: #ea5455!important;
}
.avatar.bg-light-info {
    color: #00cfe8!important;
}
.avatar.bg-light-info svg{
    color: #00cfe8!important;
}
.bg-light-info {
    background: rgba(0,207,232,.26)!important;
}
.bg-light-danger {
    background: rgba(234,84,85,.26)!important;
}
.bg-light-success {
    background: rgba(40,199,111,.26)!important;
}
.bg_bule_light{ background-color: #d5f3fb!important;}
.avatar.bg_bule_light, .avatar.bg_bule_light svg { color: #118faf!important;}
.bg_orange{ background-color: #fde2d6!important;}
.avatar.bg_orange, .avatar.bg_orange svg { color: #d65113!important;}
.bg_red{ background-color: #fbded8!important;}
.avatar.bg_red, .avatar.bg_red svg { color: #d63013!important;}
.bg_pink{ background-color: #fdd9e6!important;}
.avatar.bg_pink, .avatar.bg_pink svg { color: #8c2a4d!important;}
.bg_yallow{ background-color: #f7d9a1!important;}
.avatar.bg_yallow, .avatar.bg_yallow svg { color: #e09504!important;}
.bg_purpal{ background-color: #ebddfd!important;}
.avatar.bg_purpal, .avatar.bg_purpal svg { color: #9447f7!important;}
.bg_skybule{ background-color: #b9f7f1!important;}
.avatar.bg_skybule, .avatar.bg_skybule svg { color: #07a797!important;}


.avatar .avatar-content {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: .857rem;
}

