<div class="kt-portlet kt-portlet--height-fluid dashboardboxmain margingcomman1">
    <div class="box_dashbord_user">
        <div class="kt-portlet__body position_reletive">
            <div class="img_avod"><img
                    src="../../../../assets/common/images/badge.svg" alt=""></div>
            <div class="dashbord_tital">
                <h3> Congratulations 🎉 {{usernm}} </h3>
                <p>You are now on {{totalrecord}} position in Sales Ladder</p>
            </div>
            <div class="fnt1_5 color_perpal marginset1">{{lead1}} sold</div>
            <div class="dashbord_btn_area">
                <button type="button" class="btn btn-primary btn-primary_light"
                    (click)="addTaskShow= !addTaskShow ;
                    getSaleRepDetailCountDetail()"> {{l("MyTask")}}</button>
            </div>
        </div>
    </div>

    <div (click)="addTaskShow= !addTaskShow" [ngClass]="{show: addTaskShow,
        hide: !addTaskShow}"
        class="kt-advancefilterbox-overlay top0"></div>
    <div [ngClass]="{show: addTaskShow, hide: !addTaskShow}" class="todobox
        overflow">
        <div class="todobox_tital"><h3>Add Task</h3><div><span [ngClass]="{show:
                    addTaskShow, hide: !addTaskShow}"
                    class="remove">×</span></div></div>
        <h4>Monthly panel sold</h4>
        <table class="table table-bordered paddset_table1 brd_only_btm">
            <thead>
                <th>
                    job
                </th>
                <th>panels</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of countrecordsMonthly">
                    <td>{{item.jobnumber}}</td>
                    <td>{{item.panels}}</td>
                </tr>
            </tbody>
        </table> <div>
            <h4>Weekly panels sold</h4>
            <table>
                <thead>
                    <th>
                        job
                    </th>
                    <th>panels</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of countrecordsDaily">
                        <td>{{item.jobnumber}}</td>
                        <td>{{item.panels}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
