<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid
        kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("TodoActivityDetail")}}</span>
                        <span class="total-records-count">
                            ({{(taskcount.taskcount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getTodoActivityList()" class="btn_refresh"></button>
                                </li>
                                <li>
                                    <button [disabled]="saving" type="button" class="btn btn-outline-primary btnadd" (click)="addTaskShow= !addTaskShow">
                                        {{l("AddTask")}} <i class="las la-plus-circle"></i>
                                    </button>
                                </li>
                                <li>
                                    <div class="kt-stextbox">
                                        <select name="organizationid" class="form-control paddright10" [(ngModel)]="organizationid" (change)="getTodoActivityList()">
                                            <option *ngFor="let item of
                                                allOrganizationUnits" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </li>

                                <li>

                                    <div>

                                        <div class="activitysms smsemailbox
                                            brdrbottom1" style="width:200px;
                                            margin-left: 0px;">
                                            <select class="form-control paddright10
                                                height34" [(ngModel)]="taskid" name="taskid" (change)="getTodoActivityListfilter()">
                                                <!-- <option value="0">Select Task</option> -->
                                                <option value="1">Assigned To Me</option>
                                                <option value="2">Assigned By Me</option>
                                                <option value="3">My Completed Task</option>
                                                <option value="4">Given Task Completed</option>
                                            </select>
                                        </div>

                                    </div>
                                </li>

                                <li>
                                    <div class="kt-searchmainbox
                                        searchclearbox">
                                        <div class="kt-stextbox maxwdth210">
                                            <input type="text" class="form-control" placeholder="" [(ngModel)]="filterText" (keydown.enter)="getTodoActivityList()" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText=''"></a>
                                            <input type="button" class="btnsearch" (click)="getTodoActivityList()" />

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="email_section_area" [ngClass] = "{'unselectable': ('Pages.ToDoActivityReport.EnableCopyPaste' | permission)}">
                        <div class="primeng-datatable-container myleadtable" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan"></a>
                            </button>
                            <!-- <button class="btn btn-outline-primary btnadd btnback">
                             <img [src]="appRootUrl() + 'assets/common/images/pagi_nextactive.svg'" alt=""
                                  /></button> -->
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getTodoActivityList($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">

                                <ng-template pTemplate="header">
                                    <tr class="tr_list_box_head">
                                        <th style="width:50px;" class="checkboxhead">
                                            <div class="kt-checkbox-list">
                                                <label for="lead_id" class="kt-checkbox">
                                                    <input type="checkbox" id="lead_id" name="all"
                                                        [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th>

                                        <th>Task Assign</th>
                                        <th>Priority</th>
                                        <th>Date &nbsp; Time</th>

                                        <th>
                                            <ul>
                                                <!-- <li class="priority_li">Priority</li>
                                                <li class="date_li">Date &nbsp; Time</li> -->
                                                <li class="last_li1">Assign By</li>
                                                <li class="last_li"><a (click)="deleteAllTask()"><svg
                                                            xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round" class="feather
                                            feather-trash-2">
                                                            <polyline points="3 6 5 6 21
                                                6"></polyline>
                                                            <path d="M19 6v14a2 2 0 0
                                                1-2 2H7a2 2 0 0
                                                1-2-2V6m3 0V4a2 2 0
                                                0 1 2-2h4a2 2 0 0 1
                                                2 2v2"></path>
                                                            <line x1="10" y1="11" x2="10" y2="17"></line>
                                                            <line x1="14" y1="11" x2="14" y2="17"></line>
                                                        </svg></a></li>
                                            </ul>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" class="tr_list_box_td">
                                        <td class="padd8and10" style="width:50px;" *ngIf="taskid==2">
                                            <div class="kt-checkbox-list">
                                                <label for="{{record.id}}" class="kt-checkbox">
                                                    <input type="checkbox" id="{{record.id}}" name="recordSource"
                                                        [(ngModel)]="record.isSelected" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td (click)="shouldShow=!shouldShow;filtertodoActivity(record.id)">
                                            <div class="name_text">
                                                <h5> {{record.jobnumber}}<span>-{{record.leadCompanyName}}</span></h5>
                                                <div class="sub_tital">
                                                    {{record.activityNote}}
                                                </div>
                                            </div>
                                        </td>

                                        <td (click)="shouldShow=!shouldShow;filtertodoActivity(record.id)"><span class="badge badge-light-success">{{record.prioritytype}}</span></td>
                                        <td (click)="shouldShow=!shouldShow;filtertodoActivity(record.id)">
                                            {{record.creationTime|momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td>

                                        <td (click)="shouldShow=!shouldShow;filtertodoActivity(record.id)">
                                            <div class="todo_right">
                                                <ul>
                                                    <!-- <li class="priority_li">
                                                        <span class="badge badge-light-success">{{record.prioritytype}}</span></li>
                                                    <li class="date_li">
                                                        <small>{{record.creationTime|momentFormat:'DD-MM-YYYY
                                                            HH:mm:ss'}}</small>
                                                    </li> -->
                                                    <li class="last_li1" *ngIf="taskid==null ||taskid==1 || taskid==3">
                                                        {{record.creatorUserName}}</li>
                                                    <li class="last_li1" *ngIf="taskid==2 || taskid==4">
                                                        {{record.assignedTo}}</li>
                                                    <li class="last_li">
                                                        <div class="box_img">
                                                            <div class="img_round">
                                                                <!-- <img src="../../../assets/common/images/img_person1.jpg" alt="" /> -->
                                                                <img src="https://pixinvent.com/demo/vuexy-angular-admin-dashboard-template/demo-1/assets/images/avatars/6.png" alt="" />
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getTodoActivityList($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                 {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                             </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!-- <div class="email_right_section full_div">
                            <div class="email_list_section">
                                 
                                <div class="select_all_area">
                                    <div class="left_div">
                                        <div class="kt-checkbox-list colorset1
                                            fntwieght600"><label for="textcome"
                                                class="kt-checkbox set2"><input
                                                    type="checkbox"
                                                    name="textcome"
                                                    id="textcome"
                                                    class="ng-valid ng-dirty
                                                    ng-touched"
                                                    ng-reflect-name="textcome"
                                                    ng-reflect-model="false"><span></span>Select
                                                All</label></div>
                                    </div>
                                    <div class="right_div">
                                        <ul>
                                            <li><a href="#"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="18" height="18"
                                                        viewBox="0 0 24 24"
                                                        fill="none"
                                                        stroke="currentColor"
                                                        stroke-width="2"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        class="feather
                                                        feather-folder"><path
                                                            d="M22 19a2 2 0 0
                                                            1-2 2H4a2 2 0 0
                                                            1-2-2V5a2 2 0 0 1
                                                            2-2h5l2 3h9a2 2 0 0
                                                            1 2 2z"></path></svg></a></li>
                                            <li><a href="#"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="18" height="18"
                                                        viewBox="0 0 24 24"
                                                        fill="none"
                                                        stroke="currentColor"
                                                        stroke-width="2"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        class="feather
                                                        feather-tag"><path
                                                            d="M20.59
                                                            13.41l-7.17 7.17a2 2
                                                            0 0 1-2.83 0L2
                                                            12V2h10l8.59 8.59a2
                                                            2 0 0 1 0 2.82z"></path><line
                                                            x1="7" y1="7"
                                                            x2="7.01" y2="7"></line></svg></a></li>
                                            <li><a href="#"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="18" height="18"
                                                        viewBox="0 0 24 24"
                                                        fill="none"
                                                        stroke="currentColor"
                                                        stroke-width="2"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        class="feather
                                                        feather-mail"><path
                                                            d="M4 4h16c1.1 0 2
                                                            .9 2 2v12c0 1.1-.9
                                                            2-2 2H4c-1.1
                                                            0-2-.9-2-2V6c0-1.1.9-2
                                                            2-2z"></path><polyline
                                                            points="22,6 12,13
                                                            2,6"></polyline></svg></a></li>
                                            <li><a href="#"><svg
                                                        xmlns="http://www.w3.org/2000/svg"
                                                        width="18" height="18"
                                                        viewBox="0 0 24 24"
                                                        fill="none"
                                                        stroke="currentColor"
                                                        stroke-width="2"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round"
                                                        class="feather
                                                        feather-trash-2"><polyline
                                                            points="3 6 5 6 21
                                                            6"></polyline><path
                                                            d="M19 6v14a2 2 0 0
                                                            1-2 2H7a2 2 0 0
                                                            1-2-2V6m3 0V4a2 2 0
                                                            0 1 2-2h4a2 2 0 0 1
                                                            2 2v2"></path><line
                                                            x1="10" y1="11"
                                                            x2="10" y2="17"></line><line
                                                            x1="14" y1="11"
                                                            x2="14" y2="17"></line></svg></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="todo_list_area">
                                    <div class="todo_list_box" *ngFor="let item
                                        of activitylist">
                                        
                                        <div class="todo_left" (click)="shouldShow=
                                        !shouldShow;filtertodoActivity(item.id)">
                                            <div class="kt-checkbox-list">
                                                <label for="textcome1"
                                                    class="kt-checkbox
                                                    set2 span_margintop2">
                                                    <input type="checkbox1"
                                                        name="textcome1"
                                                        id="textcome1"
                                                        class="ng-valid
                                                        ng-dirty ng-touched"
                                                        ng-reflect-name="textcome1"
                                                        ng-reflect-model="false"><span></span></label>
                                            </div>
                                            <div class="name_text">
                                                <h5>{{item.jobnumber}}-{{item.leadCompanyName}} <span><svg
                                                    xmlns="http://www.w3.org/2000/svg"
                                                    width="14" height="14"
                                                    viewBox="0 0 24 24"
                                                    fill="none"
                                                    stroke="currentColor"
                                                    stroke-width="2"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    class="feather
                                                    feather-paperclip"><path
                                                        d="M21.44
                                                        11.05l-9.19 9.19a6 6
                                                        0 0
                                                        1-8.49-8.49l9.19-9.19a4
                                                        4 0 0 1 5.66
                                                        5.66l-9.2 9.19a2 2 0
                                                        0
                                                        1-2.83-2.83l8.49-8.48"></path></svg></span></h5>                                                
                                                
                                                            <div class="sub_tital"><span>{{item.activityNote}}</span></div>
                                            </div>
                                        </div>
                                        <div class="todo_right">
                                            <ul>
                                                <li><span class="badge
                                                        badge-light-success">{{item.prioritytype}}</span></li>
                                                <li><small>{{item.creationTime|momentFormat:'DD-MM-YYYY
                                                        HH:mm:ss'}}</small></li>
                                                <li>{{item.creatorUserName}}</li>
                                                <li>
                                                    <div class="box_img">
                                                        <div class="img_round">
                                                               <img
                                                                src="https://pixinvent.com/demo/vuexy-angular-admin-dashboard-template/demo-1/assets/images/avatars/6.png"
                                                                alt="" /></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                   
                                    </div>
                                </div>
                                
                            </div>
                            
                           
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div (click)="shouldShow= !shouldShow" [ngClass]="{show: shouldShow, hide:
        !shouldShow}" class="kt-advancefilterbox-overlay top0"></div>
    <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="todobox
        overflow">
        <div class="todobox_tital">
            <button type="button" class="btn btn-outline-primary" (click)="markascomplete(activityeditlog.id)">
                <i class="las la-check-circle"></i> {{l("Mark As Complete")}}
            </button>
            <div><span [ngClass]="{show: shouldShow,
                    hide: !shouldShow}" class="remove" (click)="closeDiv()">×</span></div>
        </div>
        <div class="todobox_body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="invDate">{{l("Titel")}}</label>
                            <input type="text" id="activityeditlog.activityNote" class="form-control" [(ngModel)]="activityeditlog.activityNote" name="activityNote" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group activitysms
                            smsemailbox">
                            <span class="labelttl">Assignee</span>
                            <select class="form-control" name="user" [(ngModel)]="activityeditlog.referanceId">
                                <option value="0">Select User</option>
                                <option *ngFor="let item of allUsers" value="{{item.id}}">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="todoDueDate">{{l("Due Date")}}</label>
                            <input type="text" bsDatepicker datePickerMomentModifier name="todoDueDate" [(date)]="activityeditlog.todoDueDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="invDate">{{l("Tag")}}</label>
                            <select class="form-control" [(ngModel)]="activityeditlog.todopriorityId" name="priorityId">
                                <option value="1">Low</option>
                                <option value="2">Heigh</option>
                                <option value="3">Medium</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="invDate">{{l("Description")}}</label>
                            <textarea class="form-control" name="todoResponse" rows="5" [(ngModel)]="activityeditlog.todoResponse" placeholder="Response"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn_two">
                            <button [disabled]="saving" type="button" class="btn btn_red" (click)="closeDiv()">
                                <i class="las la-times-circle"></i> {{l("Cancel")}}
                            </button>
                            <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="Updatediv()">
                                <i class="las la-save"></i>  {{l("Update")}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div (click)="addTaskShow= !addTaskShow" [ngClass]="{show: addTaskShow,
        hide: !addTaskShow}" class="kt-advancefilterbox-overlay top0"></div>
    <div [ngClass]="{show: addTaskShow, hide: !addTaskShow}" class="todobox
        overflow">
        <div class="todobox_tital">
            <h3>Add Task</h3>
            <div><span [ngClass]="{show:
                    addTaskShow, hide: !addTaskShow}" class="remove" (click)="closeTaskDiv()">×</span></div>
        </div>
        <div class="todobox_body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="jobId">Select Job Number</label>
                            <p-autoComplete [(ngModel)]="jobIds" id="jobIds"
                                            name="jobIds" #productItem="ngModel" required
                                            [suggestions]="filteredLeadSource"
                                            (completeMethod)="filterjobnumber($event)"
                                            field="jobNumber" 
                                            aria-placeholder="Select Job Number"
                                            [minLength]="5" inputStyleClass="form-control"
                                            styleClass="width-percent-100">
                                <ng-template let-result pTemplate="item">
                                    <div class="result-item">
                                        {{ result.fullDetails }}
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="invDate">{{l("Titel")}}</label>
                            <input type="text" id="createactivitylog.activityNote" class="form-control" [(ngModel)]="createactivitylog.activityNote" name="activityNote" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group activitysms
                            smsemailbox">
                            <span class="labelttl">Assignee</span>
                            <select class="form-control" name="user" [(ngModel)]="createactivitylog.referanceId">
                                <option value="0">Select User</option>
                                <option *ngFor="let item of allUsers" value="{{item.id}}">
                                    {{item.displayName}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="todoDueDate">{{l("Due Date")}}</label>
                            <input type="text" bsDatepicker datePickerMomentModifier name="todoDueDate" [(date)]="createactivitylog.todoDueDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="invDate">{{l("Tag")}}</label>
                            <select class="form-control" [(ngModel)]="createactivitylog.todopriorityId" name="priorityId">
                                <option value="1">Low</option>
                                <option value="2">Heigh</option>
                                <option value="3">Medium</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="invDate">{{l("Description")}}</label>
                            <textarea class="form-control" name="body" rows="5" [(ngModel)]="createactivitylog.body" placeholder="Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="btn_two">
                            <button [disabled]="saving" type="button" class="btn btn_red" (click)="closeTaskDiv()">
                                <i class="las la-times-circle"></i> {{l("Cancel")}}
                            </button>
                            <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="savetask()">
                                <i class="las la-save"></i> {{l("Save")}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>