<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{jobnumber}}</span>
                </h4>
                
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <div class="row dis-column">
                        

                        <div class="col-12">
                            <div class="secondary-grid vscrollbar" style="max-height: 280px; overflow-y: auto;">
                                <table class="table table_blck">
                                    <thead>
                                        <tr>
                                            <th>Installation Date</th>
                                            <th>Installer</th>
                                            <th>Create Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let index of item; let i = index">
                                            <td>{{index.installationDate}}</td>
                                            <td>{{index.installer}}</td>
                                            <td>{{index.createDate | momentFormat: 'DD-MM-YYYY' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i class="las fa-times-circle"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>