<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("RescheduleInstallation")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <!-- <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a> -->
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" name="btn_refresh" class="btn_refresh" (click)="getAllJobVariation();RereshLog();"></button>
                                </li>
                                <!-- <li *ngIf="'Pages.Report.JobVariation.Export' | permission">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </div>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getAllJobVariation();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                    <div class="form-group selectdropdown m-form__group">
                                       
                                        <select class="form-control" [(ngModel)]="AreaName" name="AreaName" (change)="getAllJobVariation();addSearchLog('Advanced Filter');" >
                                            <option [ngValue]="undefined">{{l("Select Area")}}</option>
                                            <option value="Metro">Metro</option>
                                            <option value="Regional">Regional</option>
                                        </select>
                                    </div>
                                </div>
                                </li>

                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select class="form-control" [(ngModel)]="StateFilter" name="StateFilter" (change)="getAllJobVariation();addSearchLog('Advanced Filter');" >
                                                <option [ngValue]="undefined">{{l("Select State")}}</option>
                                                <option *ngFor="let item of allStates" value="{{item.displayName}}"> {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    </li>

                               
                                <!-- <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="AllVariation" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select Variation" [(ngModel)]="variationIds" name="variationIds">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="Filter">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <span class="badge badge-secondary"  style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" class="form-control" placeholder="JobNumber" [ngClass]="{pl50: Filter == 'JobNumber' }" [(ngModel)]="filterText" (keydown.enter)="getAllJobVariation();addSearchLog('Filter' + Filter +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getAllJobVariation();"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getAllJobVariation();addSearchLog('Filter' + Filter +  ' : ' + filterText);" />
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <!-- <div  *ngIf="!show" class="kt-advancefilterbox"> -->
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10" (click)="onClear()"><i class="fa fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getAllJobVariation();addSearchLog('Advanced Filter');"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="summaryList.length == 0">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li *ngFor="let index of summaryList; let i = index"><span>{{index.count}}</span><label>{{index.state}}</label></li>
                   
                </ul>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'unselectable' : permission.isGranted('Pages.CallHistory.UserCallHistory.EnableCopyPaste')}">

                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getAllJobVariation($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="JobNumber">Job Number
                                            <p-sortIcon field="JobNumber"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Area">Area
                                            <p-sortIcon field="Area"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="State" >State
                                            <p-sortIcon field="State"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="PostCode">PostCode
                                            <p-sortIcon field="PostCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="SystemCapacity" >SystemCapacity
                                            <p-sortIcon field="SystemCapacity"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="noOfPanel" >NoOfPanel <p-sortIcon field="noOfPanel"></p-sortIcon></th>
                                        <th pSortableColumn="rescheduleCount" >Reschedule Count <p-sortIcon field="rescheduleCount"></p-sortIcon></th>
                                       
                                    </tr>
                                </ng-template>
                               
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td> {{record.jobnumber}}</td>
                                        <td> {{record.area}}</td>
                                        <td> {{record.state}}</td>
                                        <td> {{record.postCode}}</td>
                                        <td> {{record.systemCapacity}}</td>
                                        <td> {{record.noOfPanel}}</td>
                                        <td *ngIf="permission.isGranted('Pages.Report.RescheduleInstallation.History')" (click)="RescheduleInstallationHistoryModal.show(record.id,record.jobnumber,'Reschedule Installation Report')"> <span class="badge badge-warning">{{record.rescheduleCount}}</span></td>
                                        <td *ngIf="!permission.isGranted('Pages.Report.RescheduleInstallation.History')"> <span class="badge badge-warning">{{record.rescheduleCount}}</span></td>
                                        
                                    </tr>
                                </ng-template>

                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getAllJobVariation($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                            showing {{firstrowcount}}
                            To {{last}}
                            <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <RescheduleInstallationHistoryModal #RescheduleInstallationHistoryModal></RescheduleInstallationHistoryModal>
    </div>
</div>