.kt-loginheader {
  display: none !important;
}

.kt-login__body {
  padding: 0px !important;
}
.wrapper {
  position: relative;
  width: 300px;
  height: 130px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid black;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:300px;
  height:130px;
}


body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: 500;
  // background: #F5F8FA !important;
}

.m-bold {
font-weight: 600 !important;
}

.bolder {
font-weight: 700 !important;
}

.f14 {
font-size: 14px !important;
}

.f15 {
font-size: 15px !important;
}

.f16 {
font-size: 16px !important;
}

.f18 {
font-size: 18px !important;
}

.sm-container {
background-color:#F5F8FA;
}

.sb-container {
background-color:#F5F8FA;
}

.savy-container {
background-color:#F5F8FA;
}

.main-box-container {
margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
  overflow: hidden;
  padding: 0;
  background-color: #fff;
  border: 1px solid #E2EBF1;
  border-radius: 10px;
}

.sb-container .main-box-container {
border:1px solid #ffccb2 !important;
}

.savy-container .main-box-container {
border:1px solid #FFF4E0 !important;
}

.info-box {
background: #f1f6ff;
  min-height: 200px;
  padding: 10px;
}

.sb-container .info-box {
background:#FFFAF7 !important;
}

.savy-container .info-box {
background:#FFF0D4 !important;
}

.bottom-part-sign {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 0;
  text-align: center;
}

.bottom-part-sign .steps {
  margin: 0 15px;
  flex: 1;
}

.bottom-part-sign .steps .sign {
  min-height: 20px;
  border-radius: 10px;
}

table td {
  word-break: break-all;
}

.bottom-part-sign .tag {
  padding-top: 10px;
}

.form-control-chk {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  // font-weight: bold;
  text-align: justify;
  line-height: 1.3;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1.4em;
  word-break: break-word;
}

.form-control-chk+.form-control-chk {
  margin-top: 1em;
}

.bottom-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 20px;
  font-size: 0.7rem;
  font-weight: 600;
}

.whiteBox {
  padding: 4px;
}

.btn-box {
  margin: 0;
  text-align: center;
  border-top: 1px solid #ced9ee;
  padding: 15px;
  background: #F1F6FF;
}

.sb-container .btn-box {
border-top:1px solid #ffccb2 !important;
background:#fffaf7 !important;
}

.savy-container .btn-box {
border-top:1px solid #201F1F !important;
background:#201F1F !important;
}

.main-button {
  padding: 0 0;
width:83px;
height:47px;
line-height: 47px;
  color: #fff;
  border-radius: 5px;
  background: #29588F;
  font-size: 15px;
  font-weight: bold;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
}

.sb-container .main-button {
background:#f50 !important;
}

.savy-container .main-button {
color: #000 !important;
background: #FDB432 !important;
border: 0 !important;
}

.clear-button {
  padding: 0 0;
width:83px;
height:47px;
line-height: 47px;
  color: #999;
  border-radius: 5px;
  background: #fff;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #cdd7e9;
  cursor: pointer;
}

.sb-container .clear-button {
border:1px solid #cdd7e9 !important;
}

.savy-container .clear-button {
background: #3e3939 !important;  
border: 1px solid #585050 !important;
}

.tags {background:#e1e1ef;}
.sb-container .tags {background:#fffaf7; border:1px solid #f8c2a7;}
.savy-container .tags {background:#FFF0D4; border:1px solid #f3e1c0;}

@media screen and (max-width: 600px) {

.main-box-container {
  margin: 5px;
  min-width:inherit;
  max-width:inherit;
  width:auto;
}

.bottom-tags {
  flex-direction: column;
}
.deviceWidthTbl td {
    display: block !important;
}

.deviceTitle {
    font-size: 16px !important;
    margin-bottom: 10px !important;
}

.tableInfo td {
    font-size: 12px !important;
    display: table-cell !important;
}

.whiteBox {
    margin-top: 15px;
}

.mobileImg {
    max-width: 200px !important;
}

.bottom-part-sign {
    flex-direction: column;
}

.bottom-part-sign .steps {
    width: 99% !important;
}

.bottom-part-sign .steps .sign {
    min-height: 120px;
}

.p5 {
    padding: 5px !important;
}
}