<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap' rel='stylesheet'>
</head>

<style>
    input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: var(--form-background);
        margin: 9px 0 0 0;
        font: inherit;
        color: currentColor;
        width: 1.50em;
        height: 1.50em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }
    
    input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        background-color: CanvasText;
    }
    
    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }
    
    input[type="checkbox"]:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
    }
</style>

<div [@routerTransition]>

    <!-- <div class="sm-container"> -->
    <div [ngClass]="{'sm-container': acknowledementData.organizationId === 8, 'sb-container' : acknowledementData.organizationId === 1, 'savy-container' : acknowledementData.organizationId === 2 }">
        <!-- Header starts -->
        <div style=" margin: 0 auto; max-width: 620px; min-width: 320px; padding:15px 10px;">
            <table style="width:100%; border:0;">
                <tr>
                    <td style="text-align: center; ">
                        <!-- <img src='{{ acknowledementData.orgLogo }}' style='max-width:220px;'> -->
                    </td>
                </tr>
            </table>
        </div>
        <!-- Header ends -->

        <div class="main-box-container">

            <div *ngIf="!acknowledementData.expiry && !acknowledementData.signed">

                <form #custSignForm="ngForm" novalidate autocomplete="off">
                    <!-- CUSTOMER SIGNATURE SECTION STARTS -->
                    <div class="info-box">
                        <div style="text-align:center; margin:10px 0 20px; font-size:20px; font-weight:700;" class="deviceTitle">Collecting Home Owner Signature</div>
                        <table style="width:100%; border:0;" class="deviceWidthTbl">
                            <tr>
                                <td style="text-align:center;">
                                    <img src="https://thesolarproduct.com/assets/common/images/sm/banner.png" *ngIf="acknowledementData.organizationId == 8 || acknowledementData.organizationId == 7" style="width:240px;" class="mobileImg">
                                    <img src="https://thesolarproduct.com/assets/common/images/sb/sb-banner.png" *ngIf="acknowledementData.organizationId != 8 && acknowledementData.organizationId != 7" style="width:240px;" class="mobileImg">
                                    <!-- <img src="{{O.OrgHeaderImage}}" style="width:240px;" class="mobileImg"> -->
                                </td>
                                <td>
                                    <div style="border-radius:10px; background:#fff; border:1px dashed #ced9ee;" class="whiteBox p5">
                                        <table style="border:0;" class="tableInfo">
                                            <tr>
                                                <td style="padding:8px 5px; font-weight:600; font-size:14px;">Name : </td>
                                                <td style="padding:8px 5px; font-weight:600; font-size:14px;">{{acknowledementData.custName}}</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:8px 5px; font-weight:600; font-size:14px; vertical-align:top;">Full Address : </td>
                                                <td style="padding:8px 5px; font-weight:600; font-size:14px;">{{acknowledementData.address}}</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:8px 5px; font-weight:600; font-size:14px;">Mobile : </td>
                                                <td style="padding:8px 5px; font-weight:600; font-size:14px;">{{acknowledementData.mobile}}</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:8px 5px; font-weight:600; font-size:14px;">Email : </td>
                                                <td style="padding:8px 5px; font-weight:600; font-size:14px;">{{acknowledementData.email}}</td>
                                            </tr>
                                            <tr>
                                                <td style="padding:8px 5px; font-weight:600; font-size:14px;">Quote No. : </td>
                                                <td style="padding:8px 5px; font-weight:600; font-size:14px;">{{acknowledementData.jobNumber}}</td>
                                            </tr>

                                        </table>
                                    </div>
                                </td>

                            </tr>
                        </table>
                    </div>
                    <div style="font-size:1.1rem; font-weight:700; margin:10px 0 20px; padding:15px 15px 0 15px;">
                        Dear {{acknowledementData.custName}},
                    </div>
                    <div style="font-size:0.9rem; font-weight:600; line-height:26px; margin:0 0 20px; padding:0 15px 0 15px;">
                        Your Solar Advisor <span style="font-weight:700; border-bottom:1px dotted #000;">{{acknowledementData.instName}}</span> from <span style="font-weight:700; border-bottom:1px dotted #000;">{{acknowledementData.organization}}</span>                        PTY LTD is requesting a signature on {{ Page }}.
                    </div>
                    <div style="padding:15px; border-top:1px dashed #e1e1ef;">
                        <!-- CHECKBOX STARTS -->
                        <div style="margin:5px 0;">
                            <table style="width:100%; border:0;">
                                <tr *ngIf="!hideshow">
                                    <td colspan="2" style="padding:10px 0;">
                                        <div style="font-size:0.9rem; font-weight:600; line-height:26px; margin:0 0 20px; padding:0;">
                                            <p>You acknowledge that you will lose eligibility for the premium feed-in tariff on the<br>existing solar system if you:</p>
                                            <ul style="margin:0 0 0 10px; padding:0 0 0 20px;">
                                                <li style="list-style:disc; font-weight:normal;">Move house (as this will result in a new electricity account holder for the premises).</li>
                                                <li style="list-style:disc; font-weight:normal;">Sell or let your house (if this results in a new electricity account holder for the premises).</li>
                                                <li style="list-style:disc; font-weight:normal;">Increase your inverter capacity (i.e. the size).</li>
                                                <li style="list-style:disc; font-weight:normal;">Close your electricity account.</li>
                                                <li style="list-style:disc; font-weight:normal;">Are disconnected (e.g. because you fail to pay a bill or breach a contract).</li>
                                                <li style="list-style:disc; font-weight:normal;">Add extra capacity (i.e. panels) which exceeds the rated capacity of your system’s inverter.</li>
                                                <li style="list-style:disc; font-weight:normal;">Use alternative energy sources, (e.g. other generators or batteries) when the system receiving the premium feed-in tariff is operating (unless alternative sources have separate connections to the network).</li>
                                                <li style="list-style:disc; font-weight:normal;">Transfer your electricity account into any other name (other than your spouse).</li>
                                                <li style="list-style:disc; font-weight:normal;">Add any other name to your electricity account (other than your spouse).</li>
                                                <li style="list-style:disc; font-weight:normal;">Replace your inverter with a larger inverter.</li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="hideshow">
                                    <td colspan="2" style="padding:10px 0;">
                                        <div style="font-size:0.9rem; font-weight:600; line-height:26px; margin:0 0 20px; padding:0;">
                                            Export limiting is determined by your local electricity network operator and involves using additional hardware to throttle the inverter output if certain solar export limits are reached, typically around {{acknowledementData.kw}}kW. The network companies
                                            have been progressively introducing this rule for several years for a variety of reasons, including to reduce the effect of too much solar entering the network on strong solar production days (impacting electricity
                                            quality, creating surges, affecting transformers etc).
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="padding:10px 0;">
                                        <label for="isChangeY" class="form-control-chk">
                                            <input type="checkbox" name="isChangeY" id="isChangeY" (click)="checkboxClick('yes')" [(ngModel)]="checkboxyes" />
                                            {{ yesLine }}
                                        </label>
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <!-- CHECKBOX ENDS -->

                        <div class="bottom-part-sign">
                            <div class="steps">
                                <div class="sign">
                                    <canvas id="signature-pad" class="signature-pad" style="border:1px solid #999; border-radius: 10px; position:inherit; background-color: #fff;" height=130></canvas>
                                </div>
                                <!-- <div class="sign">
                                    
                                </div> -->
                                <div class="tag m-bold">Customer Signature</div>
                            </div>
                        </div>
                    </div>

                    <div class="bottom-tags">
                        <div class="tags" style="padding:5px 10px;  border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                            <span>Captured IP Address: </span>
                            <span style="font-weight:700">{{ipAddress}}</span>
                        </div>
                        <div class="tags" style="padding:5px 10px; border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                            <span>Latitude: </span>
                            <span style="font-weight:700">{{lat}}</span>
                        </div>
                        <div class="tags" style="padding:5px 10px; border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                            <span>Longitide: </span>
                            <span style="font-weight:700">{{lng}}</span>
                        </div>
                    </div>

                    <!-- <div class="btn-box">
                        <button id="save" (click)="save()" [disabled]="!custSignForm.form.valid" class="main-button">Save</button>
                        <button id="clear" (click)="clear()" class="clear-button">Clear</button>
                    </div> -->
                    <div style="text-align:center; height:80px; display:flex; align-items:center; justify-content: center; background: #F1F6FF; border-top:1px solid #ced9ee; z-index: 1; position:relative;">
                        <button type="button" id="save" (click)="save()" [disabled]="!custSignForm.form.valid" class="main-button" style="float:left; width:47%;">Save</button>
                        <button type="button" id="clear" (click)="clear()" class="clear-button" style="float:right; width:47%;">Clear</button>
                    </div>
                    <!-- CUSTOMER SIGNATURE SECTION ENDS -->
                </form>
            </div>



            <!-- THANKS MSSAEGE STARTS -->
            <section class="white-bg" *ngIf="Submit">
                <div style="text-align:center; margin:0 0;">
                    <img src="https://thesolarproduct.com/assets/common/images/submit.jpg" style="width:95%;">
                </div>
                <div style="text-align:center; font-size:40px; font-weight:bold; margin:0 0 20px;">Thank You!</div>
                <div style="text-align:center; font-size:20px; margin:20px 0;">You have successfully signed the documents !!</div>
            </section>
            <!-- THANKS MESSAGE STARTS -->

            <!-- ALREADY SIGNED STARTS -->
            <section class="white-bg" *ngIf="acknowledementData.signed && !Submit" style="padding:60px 0; display:flex; flex-direction:column; align-items: center;">
                <div style="text-align:center; margin:0 0;">
                    <img src="https://thesolarproduct.com/assets/common/images/banner-img.png">
                </div>
                <div style="text-align:center; font-size:24px; margin:50px 0 0; font-weight:bold;">You have already signed the <br>{{Page}}.
                    <div style="text-align:center; font-size:15px; margin:20px 0 0; font-weight:bold; color:#777;">Please Ignore this Email/SMS</div>
                </div>
            </section>
            <!-- ALREADY SIGNED ENDS -->

            <!-- EXPIRE MESSAGE STARTS -->
            <section class="white-bg" *ngIf="acknowledementData.expiry" style="padding:50px 0;">
                <div style="text-align:center; margin:0 0;">
                    <img src="https://thesolarproduct.com/assets/common/images/link-expired.jpg" style="width:95%;">
                </div>
                <div style="text-align:center; font-size:18px; margin:40px 0 0; font-weight:bold;">Sorry, Your Link Has Expired Please Request New Link Again.</div>
            </section>
            <!-- EXPIRE MESSAGE ENDS -->

        </div>
    </div>

</div>