.kt-portlet__body .tab-container .tab-content{
    padding:0px 10px!important;
    
}
.kt-portlet__body{
    .row{ margin-left:-10px!important; margin-right:-10px!important;
        .col-md-12, .col-md-6, .col-md-3, .col-md-4{padding-left:10px!important; padding-right:10px!important;}
    }
    .passwordchecklist{
        ul{margin:0px; padding:0px; list-style-type:none; display:flex; flex-direction:row;
            li{margin-right:15px;}
        }
    }
    .tab-pane{
        padding-bottom:20px!important;
    }
    .maxwdth300{max-width:300px}
 
}
.emailtestform{max-width:800px;
.form-group{margin-bottom: 1rem!important;}
}