.kt-portlet__body .tab-container .tab-content {
  padding: 0px 10px!important;
}
.kt-portlet__body .row {
  margin-left: -10px !important;
  margin-right: -10px !important;
}
.kt-portlet__body .row .col-md-12,
.kt-portlet__body .row .col-md-6,
.kt-portlet__body .row .col-md-3,
.kt-portlet__body .row .col-md-4 {
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.kt-portlet__body .passwordchecklist ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.kt-portlet__body .passwordchecklist ul li {
  margin-right: 15px;
}
.kt-portlet__body .tab-pane {
  padding-bottom: 20px!important;
}
.kt-portlet__body .maxwdth300 {
  max-width: 300px;
}
.emailtestform {
  max-width: 800px;
}
.emailtestform .form-group {
  margin-bottom: 1rem!important;
}
