<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("TransportCompanies")}}</span>
                        <span class="total-records-count">({{(primengTableHelper.totalRecordsCount)}})</span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getAll()"></button>
                            </li>


                            <li *ngIf="isGranted('Pages.Tenant.QuickStock.DataVaults.TransportCompanies.Export')">
                                <div class="btn-group btnexceldropdown" dropdown>
                                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                              
                              Export
                              <img src="../../../assets/common/images/icon_downarrow.svg" />
      
                          </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                        <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            <i class="las la-file-csv"></i> CSV
                                        </a>
                                    </div>
                                </div>
                            </li>


                            <li *ngIf="isGranted('Pages.Tenant.QuickStock.DataVaults.TransportCompanies.Create')">
                                <button (click)="createOrEditTransportCompanyModal.show()" class="btn btn-outline-primary btnadd">
                                Add <i class="las la-plus-circle"></i>
                                </button>
                            </li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" [placeholder]="l('SearchWithThreeDot')" [(ngModel)]="filterText" (keydown.enter)="getAll();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getAll()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getAll();searchLog();" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getAll($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.QuickStock.DataVaults.TransportCompanies.Edit', 'Pages.Tenant.QuickStock.DataVaults.TransportCompanies.Delete')">{{l('Actions')}}</th>
                                        <th class="actionwidth" pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="transportcompany.companyName"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width: 30px" [hidden]="!isGrantedAny('Pages.Tenant.QuickStock.DataVaults.TransportCompanies.Edit', 'Pages.Tenant.QuickStock.DataVaults.TransportCompanies.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <!-- <li>
                                                            <a href="javascript:;"
                                                                (click)="viewDepartmentModal.show(record)">{{l('View')}}</a>
                                                        </li>  -->
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.QuickStock.DataVaults.TransportCompanies.Edit')" (click)="createOrEditTransportCompanyModal.show(record.transportCompanies.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.QuickStock.DataVaults.TransportCompanies.Delete')" (click)="delete(record.transportCompanies)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:30px">
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.transportCompanies.companyName}}
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getAll($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>

                            <!--<Primeng-Datatable-End>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <createOrEditTransportCompanyModal #createOrEditTransportCompanyModal (modalSave)="getAll()"></createOrEditTransportCompanyModal>
        <!-- <viewDepartmentModal #viewDepartmentModal></viewDepartmentModal>   -->

    </div>
</div>