﻿
<div appBsModal #editaddressModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editaddressModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog" style="width: 670px!important;max-width: inherit;">

        <div class="modal-content">

            <form *ngIf="active" #editaddressModal="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{item.jobNumber}} - {{item.companyName}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!-- <div class="form-group">
                        <label for="TenancyName">{{"TenancyName" | localize}}</label>
                        <input id="TenancyName" #tenancyNameInput="ngModel" type="text" name="TenancyName" class="form-control" [ngClass]="{'edited': linkUser.tenancyName}" [(ngModel)]="linkUser.tenancyName" maxlength="64">
                    </div>

                    <div class="form-group">
                        <label for="UserName">{{"UserName" | localize}} *</label>
                        <input id="UserName" #usernameOrEmailAddressInput="ngModel" class="form-control" type="text" name="UserName" [ngClass]="{'edited': linkUser.usernameOrEmailAddress}" [(ngModel)]="linkUser.usernameOrEmailAddress" required maxlength="256">
                        <validation-messages [formCtrl]="usernameOrEmailAddressInput"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Password">{{"Password" | localize}} *</label>
                        <input id="Password" #passwordInput="ngModel" type="password" [ngClass]="{'edited': linkUser.password}" name="Password" class="form-control" [(ngModel)]="linkUser.password" required maxlength="128">
                        <validation-messages [formCtrl]="passwordInput"></validation-messages>
                    </div> -->
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-map-marker mr-2"></i>{{l("Addressdetail")}} </h3>
                            </div>
                            <div class="col-md-12">
                                <div class="addcustomerform">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="kt-radio-inline">
                                                    <label for="Google2" class="kt-radio">
                                                        <input id="Google2" name="address2" (change)="selectAddress = true;"
                                                            [value]="'Google'" type="radio" [(ngModel)]="isGoogle">
                                                        Google Address
                                                        <span></span>
                                                    </label>
                                                    <label for="Manual2" class="kt-radio">
                                                        <input id="Manual2" name="address2" (change)="selectAddress = false"
                                                            [value]="'Manual'" type="radio" [(ngModel)]="isGoogle">
                                                        Manual Address
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center alert alert-warning" *ngIf="Address">
                                                <i class="las la-map-marker-alt mr-1 fs-22"></i> <span><strong>Address :</strong> {{Address | titlecase }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" [hidden]="!selectAddress">
                                        <div class="col-md-12">
                                            <div class="form-group form-icon">
                                                <label for="Job_Address" class="form-label">{{l("Address")}}</label>
                                                <input matInput id="Job_Address" matGoogleMapsAutocomplete country="au" [types]="['address']" (onAutocompleteSelected)="onAutocompleteSelected($event)" (onLocationSelected)="onLocationSelected($event)" placeholder="Search Address" class="form-control"
                                                 name="Address" autocomplete="off" autocompleteOff>
                                                <span class="icon-box" style="height:37px !important; top:31px !important;"><i class="las la-map-marker"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Job_UnitNo" class="form-label">{{l("UnitNo")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("UnitNo")}}' id="Job_UnitNo" class="form-control" [(ngModel)]="job.unitNo" name="UnitNo" minlength="1" maxlength="50" />
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="UnitType" class="form-label">{{l("UnitType")}}</label>
                                                <p-autoComplete [(ngModel)]="job.unitType" id="UnitTypeInput" [suggestions]="unitTypesSuggestions" (completeMethod)="filterunitTypes($event)" placeholder='{{l("UnitType")}}' [minlength]="1" name="UnitTypeInput" inputStyleClass="form-control" styleClass="width-percent-100">
                                                </p-autoComplete>
                                                <span class="icon-box"><i class="las la-house-damage"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Job_StreetNo" class="form-label">{{l("StreetNo")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff #streetNoInput="ngModel" id="Job_StreetNo" placeholder='{{l("StreetNo")}}' class="form-control" [(ngModel)]="job.streetNo" name="StreetNo" minlength="1" maxlength="100"/>
                                                <span class="icon-box"><i class="las la-road"></i></span>
                                                <!-- <validation-messages [formCtrl]="streetNoInput"></validation-messages> -->
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Job_StreetName" class="form-label">{{l("StreetName")}}</label>
                                                <p-autoComplete [(ngModel)]="job.streetName" id="streetSelectInput" [suggestions]="streetNamesSuggestions" placeholder='{{l("StreetName")}}' (completeMethod)="filterstreetnames($event)" [minlength]="1" #streetNameInput="ngModel" name="streetSelectInput" inputStyleClass="form-control"
                                                    styleClass="width-percent-100" >
                                                </p-autoComplete>
                                                <span class="icon-box"><i class="las la-map-signs"></i></span>
                                                <!-- <validation-messages [formCtrl]="streetNameInput"></validation-messages> -->
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Job_StreetType" class="form-label">{{l("StreetType")}}</label>
                                                <p-autoComplete [(ngModel)]="job.streetType" id="StreetTypeInput" [suggestions]="streetTypesSuggestions" (completeMethod)="filterstreettypes($event)" placeholder='{{l("StreetType")}}' [minlength]="1" #streetTypeInput="ngModel" name="StreetTypeInput" inputStyleClass="form-control"
                                                    styleClass="width-percent-100">
                                                </p-autoComplete>
                                                <span class="icon-box"><i class="las la-city"></i></span>
                                                <!-- <validation-messages [formCtrl]="streetTypeInput"></validation-messages> -->
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="PostCodeSuburb" class="form-label">{{l("Suburb")}}</label>
                                                <p-autoComplete [(ngModel)]="job.suburb" id="SuburbInput" [suggestions]="suburbSuggestions" (completeMethod)="filtersuburbs($event)" placeholder='{{l("Suburb")}}' [minlength]="1" #suburbInput="ngModel" name="SuburbInput" (onSelect)="fillstatepostcode()" inputStyleClass="form-control"
                                                    styleClass="width-percent-100">
                                                </p-autoComplete>
                                                <span class="icon-box"><i class="las la-map-signs"></i></span>
                                                <!-- <validation-messages [formCtrl]="suburbInput"></validation-messages> -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="StateName" class="form-label">{{l("State")}}</label>
                                                <select name="state" #stateInput="ngModel" [(ngModel)]="job.state" disabled="disabled" class="form-control">
                                                    <option value="">{{l("SelectAState")}}</option>
                                                    <option *ngFor="let item of allStates" value="{{item.displayName}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-globe"></i></span>
                                                <!-- <validation-messages [formCtrl]="stateInput"></validation-messages> -->
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Job_PostCode" class="form-label">{{l("PostCode")}}</label>
                                                <input type="text" id="Job_PostCode" #postcodeInput="ngModel" placeholder='{{l("PostCode")}}' class="form-control" disabled="disabled" [(ngModel)]="job.postalCode" name="postCode" minlength="1" maxlength="4" />
                                                <span class="icon-box"><i class="las la-parking"></i></span>
                                                <!-- <validation-messages [formCtrl]="postcodeInput"></validation-messages> -->
                                            </div>
                                        </div>
                                        <div class="col-md-3" [hidden]="selectAddress">
                                            <div class="form-group form-icon">
                                                <label for="job_Latitude" class="form-label">{{l("Latitude")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Latitude")}}' id="job_Latitude" class="form-control" [(ngModel)]="job.latitude" name="Latitude" />
                                                <span class="icon-box" style="height: 38px; top: 28px;"><i class="las la-map-pin"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3" [hidden]="selectAddress">
                                            <div class="form-group form-icon">
                                                <label for="Job_Longitude" class="form-label">{{l("Longitude")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Longitude")}}' id="Job_Longitude" class="form-control" [(ngModel)]="job.longitude" name="Longitude" />
                                                <span class="icon-box" style="height: 38px; top: 28px;"><i class="las la-map-pin"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"> <i class="fa fa-times"></i> {{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!editaddressModal.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>

            </form>

        </div>
    </div>
</div>

