﻿<div appBsModal #viewLatLongMissingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" [config]="{keyboard: false, backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Other Jobs</span>
                    <span class="total-records-count">
                        ({{primengTableHelper.totalRecordsCount}})
                    </span>
                </h4>
            </div>
            <div class="modal-body">
                <div class="primeng-datatable-container"
                    [busyIf]="primengTableHelper.isLoading">
                   <p-table #dataTable [lazyLoadOnInit]=false
                            sortMode="multiple"
                            (onLazyLoad)="getMissingList($event)"
                            [value]="primengTableHelper.records"
                            rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                            [paginator]="false"
                            [lazy]="true"
                            [responsive]="primengTableHelper.isResponsive" selectionMode="single" >
                       <ng-template pTemplate="header">
                           <tr>
                               <th style="width:20%" pSortableColumn="jobNumber">
                                   Job Number
                                   <p-sortIcon field="jobNumber"></p-sortIcon>
                               </th>
                               <th style="width:25%" pSortableColumn="companyName">
                                    CompanyName
                                   <p-sortIcon field="companyName"></p-sortIcon>
                               </th>
                               <th style="width:25%" pSortableColumn="jobStatus">
                                    Job Status
                                    <p-sortIcon field="jobStatus"></p-sortIcon>
                               </th>
                               <th style="width:30%">
                                </th>
                            </tr>
                       </ng-template>
                       <ng-template pTemplate="body" let-record="$implicit">
                           <tr>
                                <td style="width:20%">
                                    <span>{{ record.jobNumber }}</span>
                                </td>
                                <td style="width:25%">
                                    <span>{{ record.companyName }}</span>
                                </td>
                               <td style="width: 25%">
                                <span class="{{record.jobStatusColorClass}}">{{ record.jobStatus }}</span>
                               </td>
                               <td style="width:30%;">
                                    <a href="javascript:;" (click)="editAddress(record)" class="d-flex align-items-center"><i class="las la-edit fs-20 mr-2"></i> Edit Address</a>
                               </td>
                           </tr>
                       </ng-template>
                   </p-table>
                   <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                       {{'NoData' | localize}}
                   </div>
                   <div class="primeng-paging-container">
                       <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                    #paginator (onPageChange)="getMissingList($event)" [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                       </p-paginator>
                       <span class="total-records-count">
                           {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                       </span>
                   </div>
               </div>
               <!--<Primeng-TurboTable-End>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary pull-right" (click)="close()"><i class="fa fa-times"></i>  {{"Close" | localize}}</button>
            </div>
        </div>
    </div>
</div>
<editaddressModal #editaddressModal (modalSave)="getMissingList()"></editaddressModal>
