<style>
    @media (max-width: 768px) {
        .dis-column .col-6 {
            max-width: inherit;
        }
        .secondary-grid {
            overflow: auto;
        }
    }
</style>
<div bsModal #invoiceDetailModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <div class="row dis-column">
                        <div class="col-6 mb-3">
                            <h6><span>Invoice Type : </span><span>{{ item.installation_Maintenance_Inspection }}</span>
                            </h6>
                        </div>
                        <div class="col-6 mb-3">
                            <h6><span>Job Number : </span><span>{{ item.jobNumber}}</span></h6>
                        </div>
                        <div class="col-6 mb-3">
                            <h6><span>Installer : </span><span>{{ item.installerName}}</span></h6>
                        </div>
                        <div class="col-6 mb-3">
                            <h6><span>Inv No : </span><span>{{ item.invoiceNo}}</span></h6>
                        </div>
                        <div class="col-6 mb-3">
                            <h6><span>Inv Amount : </span><span>{{ item.amount}}</span></h6>
                        </div>
                        <div class="col-6 mb-3">
                            <h6><span>IsGSTInclude : </span><span>{{ item.isGSTInclude}}</span></h6>
                        </div>
                        <div class="col-6 mb-3">
                            <h6><span>Inv Date : </span><span>{{ item.invDate}}</span></h6>
                        </div>
                        <div class="col-6 mb-3">
                            <h6><span>Invoice Issued Date : </span><span>{{ item.invoiceIssuedDate}}</span></h6>
                        </div>
                        <!-- <div class="col-6 mb-3">
                            <h6><span>file : </span><span>{{ item.invoiceIssuedDate}}</span></h6>
                        </div> -->
                    </div>
                </div>
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-sticky-note fs-30 mr-2"></i>Notes</h3>
                    <span>{{ item.notes}}</span>
                  
                </div>
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-sticky-note fs-30 mr-2"></i>Price List</h3>
                    <div class="col-12 mb-3">
                        <div class="secondary-grid vscrollbar" style="max-height:300px; overflow-y:auto;">
                            <table class="table table_blck">
                                <thead>
                                    <tr>
                                        <th>Price Item</th>
                                        <th>Amount</th>
                                        <th>Notes</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of item.installerInvoicePriceListDtos">
                                        <td>{{ item.priceItem }}</td>
                                        <td>{{ item.amount }}</td>
                                        <td >{{ item.notes }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i class="las fa-times-circle"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>