<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 100%;
        }
    }
</style>
<div class="kt-subheader__main justify-content-between full-width-mob">
    <div [@routerTransition]>
        <div>
            <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

                <div class="kt-subheader kt-grid__item">
                    <div [class]="containerClass">
                        <div class="kt-subheader__main justify-content-between full-width-mob">
                            <h3 class="kt-subheader__title">
                                <span>Ready To Pay</span>
                                <span class="total-records-count">
                                ({{(primengTableHelper.totalRecordsCount)}})
                            </span>
                            </h3>
                            <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                        </div>
                        <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                            <div class="kt-subheader__wrapper">
                                <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                                    <ul class="hd_right">
                                        <li>
                                            <button type="button" class="btn_refresh" (click)="getInstallerApproved();RereshLog();"></button>
                                        </li>
                                        <li [hidden]="!isGrantedAny('Pages.ReadyToPay.ExcelExport', 'Pages.ReadyToPay.Payement')">
                                            <div class="btn-group btnexceldropdown  " dropdown>
                                                <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Excel
                                                    <img src="../../../assets/common/images/icon_downarrow.svg" />
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations " *dropdownMenu style="margin-left:10px;">
                                                    <a href="javascript:;" class="dropdown-item icon_import" style="padding:0 !important;" *ngIf="'Pages.ReadyToPay.Payement' | permission">
                                                        <span class="fileinput-button">
                                                            <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                                #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                                accept=".csv,.xls,.xlsx"
                                                                (uploadHandler)="uploadExcelstc($event)"
                                                                (onError)="onUploadExcelErrorstc()"
                                                                chooseLabel="{{'Import' | localize}}">
                                                            </p-fileUpload>
                                                        </span>
                                                    </a>
                                                    <div class="dropdown-divider" *ngIf="'Pages.ReadyToPay.Payement' | permission"></div>
                                                    <a href="/assets/sampleFiles/ImportInstallerInvoicePaymentSampleFile.xlsx" class="dropdown-item btnsample" *ngIf="'Pages.ReadyToPay.Payement' | permission">
                                                        <i class="las la-file-excel"></i>{{l('SampleFile')}}
                                                    </a>
                                                    <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.ReadyToPay.ExcelExport' | permission">
                                                       <i class="las la-file-excel"></i> {{'Export' | localize}}
                                                    </a>
                                                    <!-- <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;">
                                                        <i class="las la-file-csv"></i> {{l("ExportCSV")}}
                                                    </a> -->
                                                </div>
                                            </div>
                                        </li>
                                        <!-- <li>
                                            <div class="btn-group btnexceldropdown" dropdown>
                                                <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                                            
                                                    {{l("Import")}}
                                                    <img src="../../../assets/common/images/icon_downarrow.svg" />
        
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                                    <a href="javascript:;" class="dropdown-item icon_import" style="padding:0 !important;">
                                                        <span class="fileinput-button">
                                                            <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                                #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                                accept=".csv,.xls,.xlsx"
                                                                (uploadHandler)="uploadExcelstc($event)"
                                                                (onError)="onUploadExcelErrorstc()"
                                                                chooseLabel="{{'Import' | localize}}">
                                                            </p-fileUpload>
                                                        </span>
                                                    </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a href="/assets/sampleFiles/ImportInstallerInvoicePaymentSampleFile.xlsx" class="dropdown-item btnsample">
                                                        <i class="las la-file-excel"></i>{{l('SampleFile')}}
                                                    </a>
                                                </div>
                                            </div>
                                        </li> -->
                                        <li *ngIf="organizationUnitlength > 1">
                                            <div class="kt-sdropdown">
                                                <div class="form-group selectdropdown m-form__group">
                                                    <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getInstallerApproved();addSearchLog('Filter Organization');">
                                                    <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">{{item.displayName}}</option>
                                                </select>
                                                </div>
                                            </div>
                                        </li>
                                        
                                        <!-- <li>
                                            <div class="kt-sdropdown">
                                                <div class="form-group selectdropdown m-form__group">
                                                    <a href="javascript:;" class="dropdown-item icon_import" style="padding:0 !important;">
                                                        <span class="fileinput-button">
                                                            <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                                #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                                accept=".csv,.xls,.xlsx"
                                                                (uploadHandler)="uploadExcelstc($event)"
                                                                (onError)="onUploadExcelErrorstc()"
                                                                chooseLabel="{{'Import' | localize}}">
                                                            </p-fileUpload>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </li> -->
                                        <li>
                                            <div class="kt-sdropdown">
                                                <div class="form-group selectdropdown m-form__group">
                                                    <select name="invoiceStatus" [(ngModel)]="invoiceStatus" class="form-control" (change)="getInstallerApproved();addSearchLog('Filter Invoice Status');">
                                                    <!-- <option value="0">{{l("UnPaid")}}</option>
                                                    <option value="1">{{l("Paid")}}</option>
                                                    <option value="2">{{l("all")}}</option> -->
                                                    
                                                    <option value="0">{{l("All")}}</option>
                                                    <option value="1">{{l("Paid")}}</option>
                                                    <option value="2">{{l("UnPaid")}}</option>
                                                </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="kt-sdropdown">
                                                <div class="form-group selectdropdown m-form__group">
                                                    <select name="isinvoice" [(ngModel)]="isinvoice" class="form-control" (change)="getInstallerApproved();addSearchLog('Filter IsInvoice');">
                                                    <!-- <option value="0">{{l("UnPaid")}}</option>
                                                    <option value="1">{{l("Paid")}}</option>
                                                    <option value="2">{{l("all")}}</option> -->
                                                    
                                                    <!-- <option value="All">{{l("All Invoice")}}</option> -->
                                                    <option value="Yes">{{l("Yes")}}</option>
                                                    <option value="No">{{l("No")}}</option>
                                                </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="kt-sdropdown">
                                                <div class="form-group selectdropdown m-form__group">
                                                    <select class="form-control" [(ngModel)]="invoiceType" id="invoiceType" name="invoiceType" (change)="getInstallerApproved();addSearchLog('Filter Invoice Type');">
                                                    <option value="">{{l("InvoiceType")}}</option>
                                                    <option value="Installation">{{l('Installation')}}</option>
                                                    <option value="Maintenance">{{l('Maintenance')}}</option>
                                                    <option value="Inspection">{{l('Inspection')}}</option>
                                                </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="kt-sdropdown">
                                                <div class="form-group  selectdropdown m-form__group">
                                                    <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                        <option value="JobNumber">JobNumber</option>
                                                        <option value="MobileNo">Mobile No</option>
                                                        <option value="CompanyName">Company Name</option>
                                                        <option value="Email">Email</option>
                                                        <option value="Phone">Phone</option>
                                                        <option value="InvNo">Invoice No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="kt-searchmainbox searchclearbox">
                                                <div class="kt-stextbox apptrackeradv">
                                                    <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                                    <input [ngClass]="{pl50: filterName == 'JobNumber' }" [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" placeholder="{{filterName}}" type="text">
                                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getInstallerApproved()"><i class="fas fa-times-circle"></i></a>
                                                    <button (click)="getInstallerApproved();addSearchLog('Filter' + filterName +  ' : ' + filterText);" class="btnsearch" type="submit"><i class="flaticon-search-1"></i></button>
                                                </div>
                                                <div class="kt-advfilterbox">
                                                    <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                        <i class="las la-filter"></i>
                                                    </a>
                                                </div>
                                                <div class="kt-advfilterbox">
                                                    <button class="btnadvfilter" (click)="toggleFiltersData()">
                                                    <i class="las la-sliders-h"></i>
                                                </button>
                                                </div>
                                                <div class="kt-advfilterbox">
                                                    <button class="btnadvfilter" (click)="toggleSummaryAll()">
                                                    <i class="las la-ellipsis-v"></i>
                                                </button>
                                                </div>
                                                <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                                    <h3>Additional Filters </h3>
                                                    <div class="advfilterform">
                                                        <ul>
                                                            <li>
                                                                <div class="form-group">
                                                                    <p-autoComplete id="installerId" name="installerId" [suggestions]="installerSearchResult" (completeMethod)="filterInstaller($event)" [minLength]="1" [placeholder]="l('SelectInstaller')" inputStyleClass="form-control" styleClass="width-percent-100" (onSelect)="selectInstaller($event);addSearchLog('Advanced Filter');"
                                                                        (onClear)="installerId = 0" field="displayName" (keydown.enter)="selectInstaller($event);addSearchLog('Advanced Filter');">
                                                                        <ng-template let-result pTemplate="item">
                                                                            <div class="result-item">
                                                                                <div class="d-flex align-items-center mb-1">
                                                                                    <i class="las la-user-cog fs-16 mr-1"></i> {{result.displayName}}
                                                                                </div>
                                                                            </div>
                                                                        </ng-template>
                                                                    </p-autoComplete>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="form-group m-form__group">
                                                                    <p-autoComplete [(ngModel)]="suburbFilter" (keydown.enter)="getInstallerApproved();addSearchLog('Advanced Filter');" id="suburbFilter" [suggestions]="suburbSuggestions" (completeMethod)="filtersuburbs($event)" placeholder='{{l("Suburb")}}' [minlength]="2" #suburbInput="ngModel"
                                                                        name="suburbFilter" inputStyleClass="form-control" styleClass="width-percent-100">
                                                                    </p-autoComplete>
                                                                </div>
                                                            </li>
                                                            <!-- <li>
                                                                <div class="form-group m-form__group">
                                                                    <select class="form-control" [(ngModel)]="stateNameFilter" name="stateNameFilter" (keydown.enter)="getInstallerApproved($event)">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"value="{{item.displayName}}">{{item.displayName}}</option>
                                                                </select>
                                                                </div>
                                                            </li> -->
                                                            <li class="multi_select">
                                                                <div class="form-group m-form__group jobmultipleselect">
                                                                    <ng-select [items]="allStates" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="displayName" placeholder="State" [(ngModel)]="stateList" name="stateList">
                                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                                        </ng-template>
                                                                    </ng-select>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="form-group m-form__group">
                                                                    <select class="form-control" id="areaNameFilter" name="areaNameFilter" [(ngModel)]="areaNameFilter" (keydown.enter)="getInstallerApproved();addSearchLog('Advanced Filter');">
                                                                        <option value="">Select Area</option>
                                                                        <option value="Metro">Metro</option>
                                                                        <option value="Regional">Regional</option>
                                                                    </select>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="form-group m-form__group">
                                                                    <select class="form-control" [(ngModel)]="batteryFilter" (keydown.enter)="getInstallerApproved();addSearchLog('Advanced Filter');" name="BatteryFilter">
                                                                        <option value="0">Select System With</option>
                                                                    <option value="1">With Battery System</option>
                                                                    <option value="2">Without Battery</option>
                                                                    <option value="3">Only Battery</option>
                                                                    <option value="4">Only Inverter</option>
                                                                    <option value="5">Only Battery and Inverter</option>
                                                                    <option value="6">With Battery </option>
                                                                    </select>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="form-group m-form__group">
                                                                    <select class="form-control" [(ngModel)]="dateFilterType" name="dateFilterType">
                                                                    <option value="CreationDate">{{l("CreationDate")}}</option>
                                                                    <option value="InstallDate">{{l("InstallDate")}}</option>
                                                                    <option value="InstallCompleteDate">{{l("InstallCompleteDate")}}</option>
                                                                    <option value="ApprovedDate">{{l("ApprovedDate")}}</option>
                                                                    <option value="PaidDate">{{l("Paid Date")}}</option>
                                                                </select>
                                                                </div>
                                                            </li>
                                                            <li class="clear-date">
                                                                <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                                <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                            </li>
                                                            <li class="clear-date">
                                                                <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                                <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                            </li>

                                                            <li class="fullwidth text-right">
                                                                <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">{{l("Clear")}}</button>
                                                                <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getInstallerApproved();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                        </div>
                    </div>
                </div>

                <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="!FiltersData">
                    <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                        <ul>
                            <li>
                                <span>{{totalM_Price + totalR_Price  | number : '1.2-2'}}/{{totalM_Kw + totalR_Kw  | number : '1.2-2'}} </span><label>Total Price/Total Kw</label>
                            </li>
                            <li>
                                <span>{{(totalM_Kw + totalR_Kw) > 0 ? (totalM_Price + totalR_Price) / (totalM_Kw + totalR_Kw) : 0 | number : '1.2-2'}}</span><label>Price/Kw</label>
                            </li>
                            
                            <li>
                                <span>{{totalM_Price  | number : '1.2-2'}}/{{totalM_Kw  | number : '1.2-2'}} </span><label>{{l("Metro")}} Total Price/Total Kw</label>
                            </li>
                            <li>
                                <span> {{M_price | number : '1.2-2'}}</span><label>{{l("Metro")}} Price/Kw</label>
                            </li>
                            <li>
                                <span>{{totalR_Price  | number : '1.2-2'}}/ {{totalR_Kw  | number : '1.2-2'}}</span><label>{{l("Regional")}} Total Price/Total Kw</label>
                            </li>
                            
                            <li>
                                <span>{{R_price | number : '1.2-2'}}</span><label>{{l("Regional")}} Price/Kw</label>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="!isSummaryAll"  >
                    <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                        <ul>
                            <li>
                                <span>{{totalM_PriceInspection + totalR_PriceInspection  | number : '1.2-2'}}/{{totalM_KwInspection + totalR_KwInspection  | number : '1.2-2'}} </span><label>Total Price Inspection/Total Kw</label>
                            </li>
                            <li>
                                <span>{{(totalM_KwInspection + totalR_KwInspection) > 0 ? (totalM_PriceInspection + totalR_PriceInspection) / (totalM_KwInspection + totalR_KwInspection) : 0 | number : '1.2-2'}}</span><label>Price/Kw</label>
                            </li>
                            
                            <li>
                                <span>{{totalM_PriceInspection  | number : '1.2-2'}}/{{totalM_KwInspection  | number : '1.2-2'}} </span><label>{{l("Metro")}} Total Price/Total Kw</label>
                            </li>
                            <li>
                                <span> {{M_priceInspection | number : '1.2-2'}}</span><label>{{l("Metro")}} Price/Kw</label>
                            </li>
                            <li>
                                <span>{{totalR_PriceInspection  | number : '1.2-2'}}/ {{totalR_KwInspection  | number : '1.2-2'}}</span><label>{{l("Regional")}} Total Price/Total Kw</label>
                            </li>
                            
                            <li>
                                <span>{{R_priceInspection | number : '1.2-2'}}</span><label>{{l("Regional")}} Price/Kw</label>
                            </li>
                        </ul>
                    </div>
                    <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                        <ul>
                            <li>
                                <span>{{totalM_PriceInstallation + totalR_PriceInstallation  | number : '1.2-2'}}/{{totalM_KwInstallation + totalR_KwInstallation  | number : '1.2-2'}} </span><label>Total Price Installation/Total Kw</label>
                            </li>
                            <li>
                                <span>{{(totalM_KwInstallation + totalR_KwInstallation) > 0 ? (totalM_PriceInstallation + totalR_PriceInstallation) / (totalM_KwInstallation + totalR_KwInstallation) : 0 | number : '1.2-2'}}</span><label>Price/Kw</label>
                            </li>
                            
                            <li>
                                <span>{{totalM_PriceInstallation  | number : '1.2-2'}}/{{totalM_KwInstallation  | number : '1.2-2'}} </span><label>{{l("Metro")}} Total Price/Total Kw</label>
                            </li>
                            <li>
                                <span> {{M_priceInstallation | number : '1.2-2'}}</span><label>{{l("Metro")}} Price/Kw</label>
                            </li>
                            <li>
                                <span>{{totalR_PriceInstallation  | number : '1.2-2'}}/ {{totalR_KwInstallation  | number : '1.2-2'}}</span><label>{{l("Regional")}} Total Price/Total Kw</label>
                            </li>
                            
                            <li>
                                <span>{{R_priceInstallation | number : '1.2-2'}}</span><label>{{l("Regional")}} Price/Kw</label>
                            </li>
                        </ul>
                    </div>
                    <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                        <ul>
                            <li>
                                <span>{{totalM_PriceMaintenance + totalR_PriceMaintenance  | number : '1.2-2'}}/{{totalM_KwMaintenance + totalR_KwMaintenance  | number : '1.2-2'}} </span><label>Total Price Maintenance/Total Kw</label>
                            </li>
                            <li>
                                <span>{{(totalM_KwMaintenance + totalR_KwMaintenance) > 0 ? (totalM_PriceMaintenance + totalR_PriceMaintenance) / (totalM_KwMaintenance + totalR_KwMaintenance) : 0 | number : '1.2-2'}}</span><label>Price/Kw</label>
                            </li>
                            
                            <li>
                                <span>{{totalM_PriceMaintenance  | number : '1.2-2'}}/{{totalM_KwMaintenance  | number : '1.2-2'}} </span><label>{{l("Metro")}} Total Price/Total Kw</label>
                            </li>
                            <li>
                                <span> {{M_priceMaintenance | number : '1.2-2'}}</span><label>{{l("Metro")}} Price/Kw</label>
                            </li>
                            <li>
                                <span>{{totalR_PriceMaintenance  | number : '1.2-2'}}/ {{totalR_KwMaintenance  | number : '1.2-2'}}</span><label>{{l("Regional")}} Total Price/Total Kw</label>
                            </li>
                            
                            <li>
                                <span>{{R_priceMaintenance | number : '1.2-2'}}</span><label>{{l("Regional")}} Price/Kw</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">

                    <div class="kt-portlet kt-portlet--mobile">
                        <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                            <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.ReadyToPay.EnableCopyPaste' | permission)}">
                                <!--<Primeng-Datatable-Start>-->
                                <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                                    <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getInstallerApproved($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                        scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                        <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getInstallerApproved($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                    ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th class="actionwidth p-frozen-column">
                                                    {{l('Actions')}}</th>
                                                <th style="width:140px; left:95px !important;" class="p-frozen-column" pSortableColumn="JobFk.JobNumber">
                                                    {{l('JobNumber')}}
                                                    <p-sortIcon field="JobNumber"></p-sortIcon>
                                                </th>
                                                <th style="width:130px" pSortableColumn="JobFk.LeadFk.CompanyName">
                                                    {{l('Customer')}}
                                                    <p-sortIcon field="customer"></p-sortIcon>
                                                </th>
                                                <th style="width:250px;" pSortableColumn="JobFk.Address">
                                                    {{l('Adress')}}
                                                    <p-sortIcon field="Adress"></p-sortIcon>
                                                </th>
                                                <th style="width:120px" pSortableColumn="JobFk.PostalCode">
                                                    {{l('PostCode')}}
                                                    <p-sortIcon field="pCode"></p-sortIcon>
                                                </th>
                                                <th style="width: 200px" pSortableColumn="JobFk.InstallationDate">
                                                    {{l('InstallDate')}}
                                                    <p-sortIcon field="InstallDate"></p-sortIcon>
                                                </th>
                                                <th style="width:140px;" pSortableColumn="invoiceNo">
                                                    {{l('InvoiceNo')}}
                                                    <p-sortIcon field="invoiceNo"></p-sortIcon>
                                                </th>

                                                <th style="width: 200px" pSortableColumn="InvDate">
                                                    {{l('InvoiceDate')}}
                                                    <p-sortIcon field="InvDate"></p-sortIcon>
                                                </th>
                                                <th style="width: 200px" pSortableColumn="DueDate">
                                                    {{l('DueDate')}}
                                                    <p-sortIcon field="DueDate"></p-sortIcon>
                                                </th>
                                                <th style="width: 180px" pSortableColumn="Amount">
                                                    {{l('Amount')}}
                                                    <p-sortIcon field="Amount"></p-sortIcon>
                                                </th>
                                                <th style="width:200px" pSortableColumn="ApproedDate">
                                                    {{l('ApprovedDate')}}
                                                    <p-sortIcon field="ApproedDate"></p-sortIcon>
                                                </th>
                                                <th style="width:200px" pSortableColumn="ApproedAmount">
                                                    {{l('ApprovedAmount')}}
                                                    <p-sortIcon field="ApproedAmount"></p-sortIcon>
                                                </th>
                                                <th style="width:180px" pSortableColumn="ApprovedNotes">
                                                    {{l('ApprovedNotes')}}
                                                    <p-sortIcon field="ApprovedNotes"></p-sortIcon>
                                                </th>
                                                <th style="width:150px" pSortableColumn="BankRefNo">
                                                    {{l('BankRefNo')}}
                                                    <p-sortIcon field="BankRefNo"></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit">
                                            <tr [pSelectableRow]="record">
                                                <td style="text-align:center; width:95px;" class="actionwidth p-frozen-column">
                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                        <i class="flaticon-more"></i><span class="caret"></span>
                                                        {{l("Actions")}}
                                                    </button>
                                                        <ul class="dropdown-menu" *dropdownMenu>

                                                            <li [hidden]="!isGrantedAny('Pages.ReadyToPay.Unapproved')" *ngIf="!record.isPayment">
                                                                <a (click)="revertInvoice(record)"><i class="las la-user-times"></i> {{l('UnApproved')}}</a>
                                                            </li>
                                                            <li [hidden]="!isGrantedAny('Pages.ReadyToPay.Payement')" *ngIf="!record.isPayment">
                                                                <a (click)="editupdatenewinvoice.show(record.id, 30,'Ready To Pay')">
                                                                    <i class="las la-wallet"></i> {{l('Payment')}}
                                                                </a>                                                                                                                                                           
                                                            </li>
                                                            <li [hidden]="!isGrantedAny('Pages.ReadyToPay.Payement.Revert')" *ngIf="record.isPayment">
                                                                <a (click)="revertPaymet(record)">
                                                                    <i class="las la-wallet"></i> {{l('ReadyToPayPayementRevert')}}
                                                                </a>                                                                                                                                                           
                                                            </li>
                                                            <li [hidden]="!isGrantedAny('Pages.ReadyToPay.QuickView')">
                                                                <a href="javascript:;" (click)="viewApplicationModal.show(record.jobId,30,'Ready To Pay')">
                                                                    <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="{{ path + record.fileName}}" target="_blank">
                                                                    <i class="las la-link"></i> {{l('File')}}
                                                                </a>
                                                            </li>
                                                            <li [hidden]="!isGrantedAny('Pages.ReadyToPay.View')">
                                                                <a href="javascript:;" (click)="invoiceDetailModal.show(record.id,'Ready To Pay')">
                                                                    <i class="las la-binoculars"></i> {{l('View')}}
                                                                </a>
                                                            </li>
                                                            <!-- <li [hidden]="!isGrantedAny('Pages.ReadyToPay.Notify')">
                                                            <a (click)="addActivityModal.show(record.leadId,30)">
                                                                <i class="las la-bell"></i> {{l('Notify')}}
                                                            </a>
                                                        </li> -->
                                                            <!-- <li [hidden]="!isGrantedAny('Pages.ReadyToPay.Sms')">
                                                            <a (click)="addSmsEmailModal.show(record.leadId,1,1)">
                                                                <i class="las la-sms"></i> {{l('Sms')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.ReadyToPay.Email')">
                                                            <a (click)="addSmsEmailModal.show(record.leadId,2,1)">
                                                                <i class="las la-envelope"></i> {{l('Email')}}
                                                            </a>
                                                        </li> -->
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td style="width:140px; left:95px !important;" class="p-frozen-column">
                                                    <!-- <span class="ui-column-title"> {{l('JobNumber')}}</span> -->
                                                    <span class="badge badge-secondary">{{record.jobNumber}}</span>
                                                </td>
                                                <td style="width:130px;">
                                                    <!-- <span class="ui-column-title"> {{l('Customer')}}</span> -->
                                                    {{record.customer}}
                                                </td>
                                                <td style="width:250px">
                                                    <!-- <span class="ui-column-title"> {{l('Address')}}</span> -->
                                                    <span class="set_warp_toltrip"><span [tooltip]="record.address | titlecase" class="tooltipcnt">{{ record.address | titlecase}}</span></span>
                                                </td>
                                                <td style="width:120px">
                                                    <!-- <span class="ui-column-title"> {{l('PostCode')}}</span> -->
                                                    {{record.pCode}}
                                                </td>
                                                <td style="width:200px">
                                                    <!-- <span class="ui-column-title"> {{l('InstallDate')}}</span> -->
                                                    <span class="badge badge-secondary d-flex align-items-center"><i class="las la-calendar fs-18 mr-1"></i>{{ record.installDate | date:'mediumDate' }}</span>
                                                </td>
                                                <td style="width:140px">
                                                    <!-- <span class="ui-column-title"> {{l('invoiceNo')}}</span> -->
                                                    <span>{{record.invoiceNo}}</span>
                                                </td>
                                                <td style="width:200px">
                                                    <!-- <span class="ui-column-title"> {{l('invDate')}}</span> -->
                                                    <span class="badge badge-secondary d-flex align-items-center"><i class="las la-calendar fs-18 mr-1"></i>{{ record.invDate | date:'mediumDate' }}</span>
                                                </td>
                                                <td style="width:200px">
                                                    <!-- <span class="ui-column-title"> {{l('invDate')}}</span> -->
                                                    <span class="badge badge-secondary d-flex align-items-center"><i class="las la-calendar fs-18 mr-1"></i>{{ record.dueDate | date:'mediumDate' }}</span>
                                                </td>
                                                <td style="width:180px">
                                                    <!-- <span class="ui-column-title"> {{l('Ammount')}}</span> -->
                                                    <span class="badge badge-secondary blue d-flex align-items-center" style="max-width:95px;">${{record.ammount | number : '1.2-2'}}</span>
                                                </td>
                                                <td style="width:200px">
                                                    <!-- <span class="ui-column-title"> {{l('ApprovedDate')}}</span> -->
                                                    <span class="badge badge-secondary d-flex align-items-center"><i class="las la-calendar fs-18 mr-1"></i>{{record.approvedDate | date:'mediumDate' }}</span>
                                                </td>
                                                <td style="width:200px">
                                                    <!-- <span class="ui-column-title"> {{l('ApprovedAmount')}}</span> -->
                                                    <span class="badge badge-success d-flex align-items-center" style="max-width:95px;">${{record.approvedAmount | number : '1.2-2' }}</span>
                                                </td>
                                                <td style="width:180px">
                                                    <!-- <span class="ui-column-title"> {{l('ApprovedNotes')}}</span> -->
                                                    <span class="set_warp_toltrip"> <span [tooltip]="record.approvedNotes | titlecase" class="tooltipcnt">{{record.approvedNotes | titlecase}}</span></span>

                                                </td>
                                                <td style="width:150px">
                                                    <!-- <span class="ui-column-title"> {{l('BankRefNo')}}</span> -->
                                                    <span class="badge badge-secondary">{{record.bankRefNo }}</span>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{l('NoData')}}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getInstallerApproved($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                        </p-paginator>
                                        <span class="total-records-count">
                                        Showing {{firstrowcount}} To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <viewApplicationModal #viewApplicationModal (modalSave)="getInstallerApproved()"></viewApplicationModal>
            <addActivityModal #addActivityModal (modalSave)="getInstallerApproved()"></addActivityModal>
            <addSmsEmailModal #addSmsEmailModal (modalSave)="getInstallerApproved()"></addSmsEmailModal>
            <editJobInvoiceModal #editJobInvoiceModal (modalSave)="getInstallerApproved()"></editJobInvoiceModal>
            <editupdatenewinvoice #editupdatenewinvoice (modalSave)="getInstallerApproved()"></editupdatenewinvoice>
            <invoiceDetailModal #invoiceDetailModal></invoiceDetailModal>
        </div>
    </div>