<style>
    body.kt-page--fluid bs-daterangepicker-container {
        left: -112px !important;
    }
    
    @media screen and (min-width: 1600px) {
        body.kt-page--fluid bs-daterangepicker-container {
            left: -138px !important;
        }
    }
    
    @media screen and (min-width: 1900px) {
        body.kt-page--fluid bs-daterangepicker-container {
            left: -111px !important;
        }
    }
    
    @media screen and (min-width: 2000px) {
        body.kt-page--fluid bs-daterangepicker-container {
            left: -85px !important;
        }
    }
    
    @media screen and (max-width: 1800px) {
        body.kt-page--fluid bs-daterangepicker-container {
            left: -157px !important;
        }
    }
    /* @media screen and (min-width: 1700px) {
        body.kt-page--fluid bs-daterangepicker-container{left: -127px !important;}
    } */
    
    @media screen and (max-width: 1366px) {
        body.kt-page--fluid bs-daterangepicker-container {
            left: -179px !important;
        }
    }
    
    .searchclearbox .btnclearsearch {
        z-index: 99;
    }
</style>
<div [@routerTransition]>
    <div class="kt-content creatleadpage kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item grayback">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span *ngIf="promotion.id">{{l("EditPromotion")}}</span>
                        <span *ngIf="!promotion.id">{{l("CreateNewPromotion")}}</span>
                    </h3>

                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid grayback'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body createleadform">
                    <form *ngIf="active" #promotionForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                        <div class="fullselect">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="organizationID">Organization</label>
                                        <select name="organizationID" class="form-control" required [(ngModel)]="promotion.organizationID" (change)="countLeads()">
                                            <option value=0 selected>{{l("Organization")}}</option>
                                            <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        <span class="icon-box"><i class="las la-building"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-icon">
                                        <label for="Promotion_Title">{{l("Title")}}</label>
                                        <input type="text" id="Promotion_Title" class="form-control" [(ngModel)]="promotion.title" name="Title" required />
                                        <span class="icon-box"><i class="las la-heading"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="radio-tile-group lg-radio promotion-radio" style="justify-content: start; padding-top:27px;">
                                        <div class="input-container" *ngFor="let item of allPromotionTypes; let i = index">
                                            <input id="PromotionTypeId{{i}}" value="{{item.id}}" class="radio-button" name="promotionType" type="radio" [(ngModel)]="promotion.wholeSalePromotionTypeId" (change)="this.SelectedPromotionTypeId=promotion.wholeSalePromotionTypeId" required>
                                            <div class="radio-tile">
                                                <div class="icon walk-icon">
                                                    <!-- <i class="las la-sun"></i> -->
                                                </div>
                                                <label for="PromotionTypeId{{i}}" class="radio-tile-label">{{item.displayName}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- <div class="col-md-3">
                                    <div class="form-group m-form__group">
                                        <label for="PromotionTypeName">{{l("Type")}}</label>
                                        <select name="promotion.wholeSalePromotionTypeId" [(ngModel)]="promotion.wholeSalePromotionTypeId" class="form-control" (change)="this.SelectedPromotionTypeId=promotion.wholeSalePromotionTypeId" required>
                                            <option value="null" selected>{{l("Select Promotion Type")}}</option>
                                            <option *ngFor="let item of allPromotionTypes" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </div> -->


                                <div class="col-md-3" *ngIf="promotion.wholeSalePromotionTypeId == 1">
                                    <div class="form-group form-icon">
                                        <label for="mobileNos">Testing mobile</label>
                                        <input id="promotion.mobileNos" class="form-control" [(ngModel)]="promotion.mobileNos" name="mobileNos" />
                                        <span class="icon-box"><i class="las la-mobile"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3" *ngIf="promotion.wholeSalePromotionTypeId == 2">
                                    <div class="form-group form-icon">
                                        <label for="emailFrom"> {{l("Email From")}}</label>
                                        <input id="promotion.emailFrom" [required]="promotion.wholeSalePromotionTypeId == 2" class="form-control" [(ngModel)]="promotion.emailFrom" name="emailFrom" />
                                        <span class="icon-box"><i class="lab la-wpforms"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3" *ngIf="promotion.wholeSalePromotionTypeId == 2">
                                    <div class="form-group form-icon">
                                        <label for="emails">Testing Email</label>
                                        <input id="promotion.emails" class="form-control" [(ngModel)]="promotion.emails" name="emails" />
                                        <span class="icon-box"><i class="las la-envelope-open-text"></i></span>
                                    </div>
                                </div>
                                <!-- <div class="col-md-2">
                                    <div class="form-group m-form__group jobmultipleselect s_height40 widthfull marginleftnone ml0 custom-required form-icon">
                                        <label for="MultiSelectInput_LeadSource">Lead Source</label>
                                        <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadSource" [(ngModel)]="leadSourceids" name="leadSourceids">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                        <span class="icon-box"><i class="las la-ad"></i></span>
                                    </div>
                                </div> -->
                                <div class="col-md-2">
                                    <div class="form-group m-form__group jobmultipleselect s_height40 widthfull marginleftnone ml0 custom-required form-icon">
                                        <label for="MultiSelectInput_leadStatus">Lead Status</label>
                                        <ng-select [items]="allLeadStatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadStatus" [(ngModel)]="leadStatusids" name="leadStatusids" (change)="leadStatusChange()">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                        <span class="icon-box"><i class="las la-hourglass-half"></i></span>
                                    </div>
                                </div>
                                <!-- <div class="col-md-2" [hidden]="!showjobstatus">
                                    <div class="form-group m-form__group jobmultipleselect s_height40 widthfull marginleftnone ml0 custom-required form-icon">
                                        <label for="MultiSelectInput_jobStatus">Job Status</label>
                                        <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All JobStatus" [(ngModel)]="jobStatusids" name="jobStatusids">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                        <span class="icon-box"><i class="las la-hourglass-half"></i></span>
                                    </div>
                                </div> -->
                                <div class="col-md-2">
                                    <div class="form-group m-form__group jobmultipleselect s_height40 widthfull marginleftnone ml0 custom-required form-icon">
                                        <label for="MultiSelectInput_State">States</label>
                                        <ng-select [items]="allStates" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All JobStatus" [(ngModel)]="stateids" name="stateids">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                        <span class="icon-box"><i class="las la-globe"></i></span>
                                    </div>
                                </div>
                                <!-- <div class="col-md-2">
                                    <div class="form-group m-form__group jobmultipleselect s_height40 widthfull marginleftnone ml0 custom-required form-icon">
                                        <label for="MultiSelectInput">Teams</label>
                                        <ng-select [items]="teams" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All JobStatus" [(ngModel)]="teamids" name="teamids">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                        <span class="icon-box"><i class="las la-users"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-icon">
                                        <label for="AreaNameFilter">{{l("Area")}}</label>
                                        <select class="form-control" id="areaNameFilter" name="areaNameFilter" [(ngModel)]="areaNameFilter">
                                            <option value="">Select Area</option>
                                            <option value="Metro">Metro</option>
                                            <option value="Regional">Regional</option>
                                        </select>
                                        <span class="icon-box"><i class="las la-city"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-icon">
                                        <label for="typeNameFilter">{{l("Type")}}</label>
                                        <select class="form-control" id="typeNameFilter" name="typeNameFilter" [(ngModel)]="typeNameFilter">
                                            <option value="">Select Type</option>
                                            <option value="Res">RES</option>
                                            <option value="Com">COM</option>
                                        </select>
                                        <span class="icon-box"><i class="las la-home"></i></span>
                                    </div>
                                </div> -->
                                <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="daterange">Date Range</label>
                                        <input name="daterange" placeholder="Select Date Range" type="text" class="form-control  daterangebox" id="daterange" bsDaterangepicker dateRangePickerMomentModifier [(date)]="sampleDateRange" />
                                    </div>
                                </div> -->

                                <div class="col-md-3 searchclearbox">
                                    <div class="form-group form-icon">
                                        <label for="Promotion_PromoCharge">{{l("Date Range")}}</label>
                                        <div class="d-flex align-items-center">
                                            <div class="clear-date mr-2">
                                                <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                <a style="top:11px !important; right:10px;" class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                <span class="icon-box" style="top:2px !important;"><i class="las la-calendar"></i></span>
                                            </div>
                                            <div class="clear-date">
                                                <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                <a style="top:10px !important; right:10px;" class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                <span class="icon-box" style="top:2px !important;"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <div class="col-md-2">
                                    <div class="form-group form-icon">
                                        <label for="Promotion_PromoCharge">{{l("Charge")}}</label>
                                        <input type="number" id="Promotion_PromoCharge" class="form-control" style="text-align: right;" [(ngModel)]="promotion.promoCharge" name="PromoCharge" min=0 step="0.01" placeholder="0.00" />
                                        <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!-- <label class="disblock">&nbsp;</label> -->
                                        <label>&nbsp;</label>
                                        <div (click)="countLeads()" class="totalleads d-flex align-items-center" style="height: 40px; padding: 0 15px; background:#f4f3fe; border-radius: 5px;">Total Leads: <span class="badge badge-pill badge-warning ml-2"><strong>{{promotion.leadCount}}</strong></span></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <!-- <label class="disblock">&nbsp;</label> -->
                                        <input type="checkbox" id="isFooterdAttached" class="form-control" style="text-align: right;" [(ngModel)]="promotion.isFooterdAttached" name="isFooterdAttached" /> IsFooterdAttached

                                    </div>
                                </div>
                                <!-- <div class="col-md-6">
                                    <div *ngFor="let item of allPromotionTypes; let i = index">
                                        <input id="PromotionTypeId{{i}}" value="{{item.id}}" class="radio-button" name="promotionType" type="radio" [(ngModel)]="promotion.wholeSalePromotionTypeId" (change)="this.SelectedPromotionTypeId=promotion.wholeSalePromotionTypeId" required>
                                        <label for="PromotionTypeId{{i}}" class="radio-tile-label">{{item.displayName}}</label>
                                    </div>
                                </div> -->



                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label *ngIf="SelectedPromotionTypeId!=0" for="Promotion_Description">{{l("Description")}}</label>
                                        <textarea *ngIf="SelectedPromotionTypeId==1" (keyup)="countCharcters()" type="text" id="Promotion_Description" class="form-control height300" [(ngModel)]="promotion.description" name="Description" style="height:45vh !important;"></textarea>
                                        <!-- <p-editor *ngIf="SelectedPromotionTypeId==2" name="HtmlEditorInput" [style]="{'height':'300px'}" [(ngModel)]="promotion.description"></p-editor> -->
                                        <email-editor *ngIf="SelectedPromotionTypeId==2" [(ngModel)]="promotion.description" name="HtmlEditorInput" aria-placeholder="Email Body"></email-editor>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="SelectedPromotionTypeId==1" (keyup)="countCharcters()">
                                <div class="d-flex align-items-center ng-star-inserted">
                                    <div class="mr-3 d-flex align-items-center">
                                        <span><b>Total: </b></span> <span class="badge badge-danger ml-1">{{total}}</span>
                                    </div>
                                    <div class="mr-3 d-flex align-items-center">
                                        <span><b>Credit: </b></span> <span class="badge badge-success ml-1">{{credit}}</span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="btngroupbox">
                                    <ul>
                                        <li><button type="button" class="btn btn_red" [disabled]="saving" (click)="close()"><i class="las la-times-circle"></i> {{l("Cancel")}}</button></li>
                                        <li *ngIf="SelectedPromotionTypeId==1">
                                            <button type="submit" #btn (click)="savesms($event); btn.disabled = true;" class="btn btn-primary" [disabled]="!promotionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-paper-plane"></i> <span>{{l("Send")}}</span></button>
                                        </li>
                                        <li *ngIf="SelectedPromotionTypeId==2"><button type="submit" (click)="sendEmail()" class="btn btn-primary" [disabled]="!promotionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-paper-plane"></i> <span>{{l("Send")}}</span></button></li>
                                        <li><button type="submit" [disabled]="!promotionForm.form.valid" (click)="Testing()" class="btn btn-secondary" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-cog"></i> <span>{{l("Testing")}}</span></button></li>
                                        <li *ngIf="SelectedPromotionTypeId==1"><button type="submit" (click)="exportExcel()" class="btn btn_black" [disabled]="!promotionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                            <i class="las la-file-excel"></i> <span>{{l("ExportExcel")}}</span></button></li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

</div>