﻿<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
    
    .kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox .kt-advancefilterbox.hide {
        right: -470%;
    }
    
    .clear-date a.btndateClear.btnclearsearch {
        top: 2px !important;
        right: 35px;
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("WholeSale Promotions")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getPromotions()"></button>
                                </li>
                                <li *ngIf="isGranted('Pages.WholeSale.Promotions.ExportExcel')">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <!-- <i class="far fa-file-excel"></i> -->
                                            <!-- {{"ExcelOperations" | localize}} -->
                                            {{'Export' | localize}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" *ngIf="isGranted('Pages.WholeSale.Promotions.ExportExcel')" id="ExportUsersToExcelButton" (click)="exportToExcel( )" href="javascript:;">
                                                <!-- <i class="fa fa-download" style="font-size: 1rem;"></i> -->
                                                <!-- {{'Export CSV' | localize}} -->
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" *ngIf="isGranted('Pages.WholeSale.Promotions.ExportExcel')" id="ExportUsersToExcelButton" href="javascript:;">
                                                <i class="las la-file-csv"></i> {{l("ExportCSV")}}
                                            </a>
                                            <!-- <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            {{l("PDF")}}
                                        </a> -->
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="isGranted('Pages.WholeSale.Promotions.Create')">
                                    <button (click)="createOrEditPromotion(this.organizationUnit)" class="btn btn-outline-primary btnadd ">
                                        Add <i class="las la-plus-circle"></i>
                                    </button>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown minwidth130">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getPromotions()">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">

                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox max_width_set400">
                                            <h3>{{l("AdditionalFilters")}}</h3>
                                            <div class="advfilterform">
                                                <ul>
                                                    <li class="fullwidth">
                                                        <div class="form-group">
                                                            <!-- <label for="TitleFilter">{{l("Title")}}</label> -->
                                                            <select class="form-control" [(ngModel)]="promotionTitleFilter" name="wholeSalePromotionTitleFilter" (keydown.enter)="getPromotions($event)">
                                                                <option selected value=0>{{l("AllwholeSalePromotions")}}</option>
                                                                <option *ngFor="let item of allPromotions"
                                                                    value="{{item.id}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                        </div>
                                                    </li>

                                                    <li class="fullwidth">
                                                        <div class="form-group">
                                                            <select name="promotype" [(ngModel)]="promotype" class="form-control" (change)="getPromotions()">
                                                                <option value="0" selected>PromoType</option>
                                                                <option value="1">{{l("SMS")}}</option>
                                                                <option value="2">{{l("Email")}}</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li class="clear-date fullwidth">
                                                        <div class="form-group">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </div>
                                                    </li>
                                                    <li class="clear-date fullwidth">
                                                        <div class="form-group">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </div>
                                                    </li>
                                                    <li class="fullwidth text-right">
                                                        <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">Clear</button>
                                                        <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getPromotions()"><i
                                                                class="fa fa-search ng-tns-c458-53"></i>
                                                            Search</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button> -->
                        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="myleadsReport leadtopcouont wholeSalePromotionusercount leadtracker leadtrackerpage" [hidden]="FiltersData">
            <div class="full_part leftpart duplicatecountbox">
                <ul>
                    <li><span>{{totalSendPromotion}}</span><label>{{l("TotalSend")}}</label></li>
                    <li><span>{{totalPromotion}}/{{pertotalPromotion}} %</span><label>{{l("TotalReceived")}}</label></li>
                    <li><span>{{interestedCount}}/{{perinterestedCount}} %</span><label> {{l('Yes')}}</label></li>
                    <li><span>{{notInterestedCount}}/{{pernotInterestedCount}} %</span><label>{{l('No')}}</label></li>
                    <li><span>{{otherCount}}/{{perotherCount}} %</span><label>{{l('Other')}}</label></li>
                    <!-- <li><span>{{unhandle}}/{{perunhandle}} %</span><label>{{l("UnHandle")}}</label></li>
                    <li><span>{{promotionProject}}/{{perpromotionProject}} %</span><label>{{l("Project")}}</label></li>
                    <li><span>{{promotionSold}}/{{perpromotionSold}} %</span><label>{{l("Sold")}}</label></li> -->
                </ul>
            </div>

        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center" [ngClass] = "{'unselectable': ('Pages.WholeSale.Promotions.EnableCopyPaste' | permission)}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 horizantal_scrrol" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getPromotions($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getwholeSalePromotions($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th class="actionwidth text-center"> -->
                                        <th class="actionwidth text-center" [hidden]="!isGrantedAny('Pages.WholeSale.Promotions.View', 'Pages.WholeSale.Promotions.Delete')">
                                            {{l('Actions')}}</th>
                                        <th style="width: 100px">
                                            {{l('Organization')}}
                                        </th>

                                        <th style="width:90px" pSortableColumn="wholeSalePromotionTypeFk.name">
                                            {{l('Type')}}
                                            <p-sortIcon field="wholeSalePromotionTypeName"></p-sortIcon>
                                        </th>
                                        <th style="width:150px" pSortableColumn="title">
                                            {{l('Title')}}
                                            <p-sortIcon field="wholeSalePromotion.title"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="promoCharge">
                                            {{l('Charge')}}
                                            <p-sortIcon field="wholeSalePromotion.promoCharge"></p-sortIcon>
                                        </th>

                                        <th style="width: 115px" pSortableColumn="createdBy">
                                            {{l('CreatedBy')}}
                                            <p-sortIcon field="wholeSalePromotion.createdBy"></p-sortIcon>
                                        </th>

                                        <th style="width: 113px" pSortableColumn="createdOn">
                                            {{l('CreatedOn')}}
                                            <p-sortIcon field="wholeSalePromotion.createdOn"></p-sortIcon>
                                        </th>

                                        <th style="width: 105px; text-align: center;" pSortableColumn="Interested">
                                            {{l('Interested')}}
                                            <p-sortIcon field="interestedCount"></p-sortIcon>
                                        </th>

                                        <th style="width: 133px; text-align: center;" pSortableColumn="Not Interested">
                                            {{l('NotInterested')}}
                                            <p-sortIcon field="notInterestedCount"></p-sortIcon>
                                        </th>

                                        <th style="width: 133px; text-align: center;" pSortableColumn="Other">
                                            {{l('Other')}}
                                            <p-sortIcon field="otherCount"></p-sortIcon>
                                        </th>

                                        <th style="width: 94px; text-align: center;" pSortableColumn="No Reply">
                                            {{l('NoReply')}}
                                            <p-sortIcon field="noReply"></p-sortIcon>
                                        </th>

                                        <th style="width:80px; text-align: center;" pSortableColumn="TotalLeads">
                                            {{l('Total')}}
                                            <p-sortIcon field="totalLeads"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td class="text-center" style="width:95px;" [hidden]="!isGrantedAny('Pages.WholeSale.Promotions.View', 'Pages.WholeSale.Promotions.Delete')">
                                            <!-- <td class="text-center" style="width:95px;" [hidden]="!isGrantedAny('Pages.wholeSalePromotions.Edit', 'Pages.wholeSalePromotions.Delete')"> -->
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li *ngIf="isGranted('Pages.WholeSale.Promotions.View')">
                                                        <a href="javascript:;" (click)="wholeSaleactivityLogDetail.show(record.wholeSalePromotion.id,record.wholeSalePromotion.responseMessage)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}
                                                        </a>
                                                    </li>
                                                    <!-- <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.wholeSalePromotions.Edit')" 
                                                        (click)="createOrEditwholeSalePromotionModal.show(record.wholeSalePromotion.id)">{{l('Edit')}}</a>
                                                    </li> -->
                                                    <li *ngIf="isGranted('Pages.WholeSale.Promotions.Delete')">
                                                        <!-- <a href="javascript:;" *ngIf="permission.isGranted('Pages.wholeSalePromotions.Delete')" (click)="deletePromotion(record.wholeSalePromotion.id)"><i class="las la-trash"></i>{{l('Delete')}}</a> -->
                                                        <a href="javascript:;" (click)="deletePromotion(record.wholeSalePromotion)"><i class="las la-trash"></i>{{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <!-- <span class="ui-column-promoCharge"> {{l('PromoCharge')}}</span> -->
                                            {{record.wholeSalePromotion.organizationName}}
                                        </td>
                                        <td style="width:90px">
                                            <!-- <span class="ui-column-wholeSalePromotionTypeName"> {{l('wholeSalePromotion Type')}}</span> -->
                                            {{record.wholeSalePromotionTypeName}}
                                        </td>
                                        <td class="no_warp" style="width: 150px">
                                            <!-- <span class="ui-column-title"> {{l('Title')}}</span> -->
                                            <div class="set_warp_toltrip"><span [tooltip]="record.wholeSalePromotion.title">{{record.wholeSalePromotion.title}}</span>
                                            </div>
                                        </td>
                                        <td style="width:100px">
                                            <!-- <span class="ui-column-promoCharge"> {{l('PromoCharge')}}</span> -->
                                            <span class="badge badge-pill bg-secondary amount" style="min-width:40px;">$ {{record.wholeSalePromotion.promoCharge}}</span>
                                        </td>
                                        <td style="width:115px">
                                            <!-- <span class="ui-column-createdBy"> {{l('Created By')}}</span> -->
                                            {{record.creatorUserName}}
                                        </td>
                                        <td style="width:113px" class="text-center">
                                            <!-- <span class="ui-column-creationTime"> {{l('CreationTime')}}</span> -->
                                            {{record.wholeSalePromotion.creationTime | momentFormat:'L'}}
                                        </td>
                                        <td style="width:105px; text-align: center;">
                                            <!-- <span class="ui-column-interested"> {{l('Interested')}}</span> -->
                                            <span class="badge badge-pill bg-success" style="min-width:40px; color:#fff; font-weight:600;">{{record.interestedCount}}</span>
                                        </td>
                                        <td style="width:133px; text-align: center;">
                                            <!-- <span class="ui-column-notInterestedCount"> {{l('Not InterestedCount')}}</span> -->
                                            <span class="badge badge-pill bg-danger" style="min-width:40px; color:#fff; font-weight:600;">{{record.notInterestedCount}}</span>
                                        </td>
                                        <td style="width:133px; text-align: center;">
                                            <!-- <span class="ui-column-notInterestedCount"> {{l('Not InterestedCount')}}</span> -->
                                            <span class="badge badge-pill bg-secondary amount" style="min-width:40px;">{{record.otherCount}}</span>
                                        </td>

                                        <td style="width:94px; text-align: center;">
                                            <!-- <span class="ui-column-noreply"> {{l('No Reply')}}</span> -->
                                            <!-- {{(record.wholeSalePromotion.totalLeads) * 1}} - {{(record.interestedCount) * 1}} + {{(record.notInterestedCount) * 1}} -->
                                            <span class="badge badge-pill bg-secondary amount" style="min-width:40px;">{{record.noReply}}</span>
                                        </td>
                                        <td style="width:80px; text-align: center;">
                                            <!-- <span class="ui-column-title"> {{l('CreationTime')}}</span> -->
                                            <span class="badge badge-pill bg-secondary amount" style="min-width:40px;">{{record.totalLeads}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getPromotions($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <WholesalecreateOrEditPromotionModal #createOrEditPromotionModal (modalSave)="getPromotions()">
        </WholesalecreateOrEditPromotionModal>
        <viewWholeSalePromotionModal #viewWholeSalePromotionModal></viewWholeSalePromotionModal>
        <wholeSaleactivityLogDetail #wholeSaleactivityLogDetail></wholeSaleactivityLogDetail>

    </div>
</div>