<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray p-0">

                <div class="d-flex align-items-center">

                    <div class="p-2 h-mobile">
                        <img [src]="appRootUrl() + 'assets/common/images/promotion.png'" style="max-width:360px;">
                    </div>
                    <div class="p-3" style="width:600px;">
                        <div class="promotion-title">
                            <span>{{ item.wholeSalePromotion.title }}</span>
                        </div>
                        <div class="modal-white-box">
                            <div class="d-flex align-items-center">
                                <div style="width:50%;">{{l("Charge")}} : <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{ item.wholeSalePromotion.promoCharge }}</span></div>
                                <div>Type : <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{item.wholeSalePromotionTypeName}}</span></div>
                            </div>
                        </div>
                        <div class="modal-white-box">
                            <h3 style="font-size:1.2rem;">{{l("Description")}}</h3>
                            <div [innerHTML]="item.wholeSalePromotion.description"> </div>
                        </div>
                        <div class="modal-white-box">
                            <h3 style="font-size:1.2rem;">{{l("Responce")}}</h3>
                            <div [innerHTML]="item.wholeSalePromotion.responseMessage"> </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i class="las la-times-circle"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>