<div class="kt-portlet kt-portlet--height-fluid dashboardboxmain  margingcommanleftright15 margintop-56">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Organization Wise Leads
                <span class="sub_tital">Date Range {{selectedDateRange[0] | momentFormat:'DD-MM-YYYY'}} To {{selectedDateRange[1] |
                    momentFormat:'DD-MM-YYYY'}}</span>
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body paddnone">
        <table class="table table-bordered paddset_table1 brd_only_btm">
            <thead>
                <tr>
                    <th>Organization Name</th>
                    <th>Lead</th>
                    <th>Duplicate</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of records">
                    <td (click)="detail(item.orgId)">{{item.orgName}}</td>
                    <td>{{item.lead}}</td>
                    <td>{{item.duplicateLead}}</td>
                    <td>{{item.totalLead}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>