<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
    @media screen and (min-width: 1600px) {
        .first .leadcompanynamebar {
        min-width: 15% !important;
        max-width: 15% !important;
    }

    .txtalign th{
        align-items: center !important;
    }
}

</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="d-flex align-items-center">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>{{l("Review Report")}}</span>
                            <span class="total-records-count">
                                ({{(primengTableHelper.totalRecordsCount)}})
                            </span>
                        </h3>
                        <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                    </div>
                </div>
               
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getReviewReport();searchLog();"></button></li>
                                
                              
                                <!-- <li >
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getReviewReport();">
                                                <option *ngFor="let item of allOrganizationUnits"
                                                    value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li> -->
                                
                               
                                <li>
                                <div class="kt-sdropdown">
                                    <div class="form-group selectdropdown m-form__group">
                                        <select class="form-control" [(ngModel)]="reviewType" name="reviewType" (change)="getReviewReport();searchLog();"  >
                                            <option [ngValue]="undefined">{{l("Select Review Type")}}</option>
                                            <option *ngFor="let item of allReviewType" value="{{item.id}}"> {{item.displayName}}</option>
                                        </select>
                                    </div>
                                </div>
                                </li>
                               
                                 
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="UserName">User Name</option>
                                               
                                                
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                       
                                        <div class="kt-stextbox leardsearchfilter">
                                            <input name="filterText" autoFocus class="form-control m-input" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getReviewReport();" type="text">

                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getReviewReport();searchLog();"><i class="fas fa-times-circle"></i></a>
                                            <button (click)="getReviewReport();searchLog();" class="btnsearch" type="submit">
                                                <i class="flaticon-search-1"></i></button>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                           
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            
                                            <div class="advfilterform">
                                                
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                       
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateFilterType" (keydown.enter)="getReviewReport()" name="dateFilterType">
                                                                    <option [ngValue]="undefined"> Select Date</option>
                                                                    <option value="OrderDate">Date Ordered</option>
                                                                   
                                                                </select>
                                                            </div>
                                                        </li>
                                                       
                                                        
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier name="distapplied" [(date)]="StartDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier name="distapplied" [(date)]="EndDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        

                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red marright10 btn-sm ng-tns-c458-53" >
                                                                <i class="fas fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getReviewReport();searchLog();"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>

                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div> 
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>

            </div>
        </div>
        
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">
                    <div class="row leaddata_row first">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                                
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getReviewReport($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                            
                                <ng-template pTemplate="header">
                                    <tr class="txtalign">
                                        <th class="actionwidth p-frozen-column" style="width: 95px;">
                                            {{l('Actions')}}</th>
                                        <th style="width:150px; " class="p-frozen-column" >
                                            {{l('UserName')}}
                                        </th>
                                        <th *ngIf="showACTCountColumn"  style="width:120px;" [hidden]="!ExpandedView">
                                            {{l('ACT')}}
                                        </th>
                                        <th *ngIf="showNSWCountColumn" style="width:120px;" [hidden]="!ExpandedView">
                                            {{l('NSW')}}
                                        </th>
                                        <th *ngIf="showNTCountColumn" style="width:120px;" [hidden]="!ExpandedView">
                                            {{l('NT')}}
                                        </th>
                                        <th *ngIf="showQLDCountColumn" style="width:120px;" [hidden]="!ExpandedView">
                                            {{l('QLD')}}
                                        </th>
                                        <th *ngIf="showSACountColumn" style="width:120px;" [hidden]="!ExpandedView">
                                            {{l('SA')}}
                                    
                                        </th>
                                        <th *ngIf="showTASCountColumn" style="width:120px;" [hidden]="!ExpandedView">
                                            {{l('TAS')}}
                                        </th>
                                        <th *ngIf="showVICCountColumn" style="width:120px;" [hidden]="!ExpandedView">
                                            {{l('VIC')}}
                                        </th>
                                        <th *ngIf="showWACountColumn" style="width:120px;" [hidden]="!ExpandedView">
                                            {{l('WA')}}
                                        </th>
                                       
                                        
                                        
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                <ng-container >
                                    <tr [pSelectableRow]="record"  class="txtalign">
                                        <td class="actionwidth p-frozen-column" style="text-align:Center; width: 95px;"  >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                   

                                                    
                                                </ul>
                                            </div>
                                        </td>
                                       
                                        <td style="width:150px;" class="p-frozen-column"   >
                                            <span class="ui-column-title"> </span> {{record.user}}
                                        </td>
                                        <td style="width:120px;" *ngIf="showACTCountColumn" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{ record.acTcount }}</span>
                                        </td>
                                        <td style="width:120px;" *ngIf="showNSWCountColumn" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{ record.nsWcount }}</span>
                                        </td>
                                        <td style="width:120px;" *ngIf="showNTCountColumn" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{ record.nTcount }}</span>
                                        </td>
                                        <td style="width:120px;" *ngIf="showQLDCountColumn" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{ record.qlDcount }}</span>
                                        </td>
                                        <td style="width:120px;" *ngIf="showSACountColumn" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{ record.sAcount }}</span>
                                        </td>
                                        <td style="width:120px;" *ngIf="showTASCountColumn" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{ record.taScount }}</span>
                                        </td>
                                        <td style="width:120px;" *ngIf="showVICCountColumn" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{ record.viCcount }}</span>
                                        </td>
                                        <td style="width:120px;" *ngIf="showWACountColumn" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{ record.wAcount }}</span>
                                        </td>
                                        
                                       
                                    </tr>
                                </ng-container>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getReviewReport($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                       
                       
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>

