<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form #approveUserReuestForm="ngForm" (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Approve User Request - {{ userRegisterRequest.firstName }} {{ userRegisterRequest.lastName }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <!-- <h3><i class="las la-file-upload fs-22 mr-2"></i> Organization</h3> -->
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">Organization Unit *</label>
                                    <select class="form-control" [(ngModel)]="organizationUnitId" required name="organizationUnit">
                                        <option value="undefined">{{l("Select Organization")}}</option>
                                        <option *ngFor="let item of organizationUnit" value="{{item.id}}">{{item.displayName}}</option>
                                    </select> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!approveUserReuestForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>Approve</span></button>
                </div>
            </form>
        </div>
    </div>

</div>