<div class="kt-portlet kt-portlet--height-fluid dashboardboxmain">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Manager Sales Detail
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <table>
            <thead>
                <tr>
                    <th>Sales Person</th>
                    <th>New</th>
                    <th>UnHandled</th>
                    <th>Cold</th>
                    <th>Warm</th>
                    <th>Hot</th>
                    <th>Upgrade</th>
                    <th>Rejected</th>
                    <th>Canceled</th>
                    <th>Closed</th>
                    <th>Assigned</th>
                    <th>ReAssigned</th>
                    <th>Planned</th>
                    <th>OnHold</th>
                    <th>Cancel</th>
                    <th>DepositeReceived</th>
                    <th>Active</th>
                    <th>JobBook</th>
                    <th>JobIncomplete</th>
                    <th>JobInstalled</th>
                    <th>JobJobs</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of records">
                    <td>{{item.name}}</td>
                    <td>{{item.new}}</td>
                    <td>{{item.unHandled}}</td>
                    <td>{{item.cold}}</td>
                    <td>{{item.warm}}</td>
                    <td>{{item.hot}}</td>
                    <td>{{item.upgrade}}</td>
                    <td>{{item.rejected}}</td>
                    <td>{{item.canceled}}</td>
                    <td>{{item.closed}}</td>
                    <td>{{item.assigned}}</td>
                    <td>{{item.reAssigned}}</td>
                    <td>{{item.planned}}/{{item.plannedTotalCost}}</td>
                    <td>{{item.onHold}}/{{item.onHoldTotalCost}}</td>
                    <td>{{item.cancel}}/{{item.cancelTotalCost}}</td>
                    <td>{{item.depositeReceived}}/{{item.depositeReceivedTotalCost}}</td>
                    <td>{{item.active}}/{{item.activeTotalCost}}</td>
                    <td>{{item.jobBook}}/{{item.jobBookTotalCost}}</td>
                    <td>{{item.jobIncomplete}}/{{item.jobIncompleteTotalCost}}</td>
                    <td>{{item.jobInstalled}}/{{item.jobInstalledTotalCost}}</td>
                    <td>{{item.totalJobs}}/{{item.totalJobsCost}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>