<div appBsModal #CreateEditWholesaleStatusTypeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addWholeSaleStatusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="wholeSaleStatus.id">{{l("EditWholeSaleStatus")}}</span>
                        <span *ngIf="!wholeSaleStatus.id">{{l("CreateNewWholeSaleStatus")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>

                <div class="modal-body modal-bg-gray">

                    <div class="modal-white-box">
                        <div class="card card-custom card-stretch">
                            <div class="card-body sitedetailbox xlmin517">
                                <div class="row">
                                    <div class="col-md-12 mb-2">
                                        <div class="form-group form-icon">
                                            <label for="wholeSaleStatusName">{{l("Wholesale Status")}} *</label>
                                            <input type="text" id="wholeSaleStatusName" [(ngModel)]="wholeSaleStatusName" class="form-control" name="wholeSaleStatusName" required/>
                                            <span class="icon-box"><i class="las la-edit"></i></span>
                                        </div>
                                    </div>

                                    <!-- <div class="col-md-12">
                                    <div class="m-checkbox-list">
                                        <label for="WholesaleType_Active" class="kt-checkbox">
                                            <input id="WholesaleType_Active" type="checkbox" name="Active" required> 
                                            {{l("Active")}} *
                                            <span></span>
                                        </label>
                                    </div>
                                </div> -->


                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!addWholeSaleStatusForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                    <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>