﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #elecRetailerForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="elecRetailer.id">{{l("EditElecRetailer")}}</span>
                        <span *ngIf="!elecRetailer.id">{{l("CreateElecRetailer")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="form-group form-icon">
                            <label for="ElecRetailer_Name">{{l("Name")}} *</label>
                            <input type="text" id="ElecRetailer_Name" class="form-control" [(ngModel)]="elecRetailer.name" name="Name" required />
                            <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                        </div>
                        
                            <div class="form-group form-icon">
                             <label>Is-Active</label>
                             <input type="checkbox"  class="form-control" [(ngModel)]="elecRetailer.isActive" name="isActive" style="width: 22px;" />
                           </div>
                         
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!elecRetailerForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>