<div class="kt-login__body loginnew">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 d-nonemobile">
                <div class="loginimgbox">
                    <div class="logo">
                        <a href="">
                            <img [src]="appRootUrl() + 'assets/common/images/logo-icon.svg'" alt="logo" height="60" />
                            <h2>{{ 'BrandName' | localize }}</h2>
                        </a>
                    </div>
                    <img src="../../assets/common/images/login-img-bg.png" class="img-fluid loginmainimg" width="80%" />
                </div>
            </div>
            <div class="col-lg-4 whiteback">
                <div class="kt-loginmainbox ">
                    <div class="logo deviceshow">
                        <a href="">
                            <img [src]="appRootUrl() + 'assets/common/images/logo-icon.svg'" alt="logo" height="45" />
                            <h2>{{ 'BrandName' | localize }}</h2>
                        </a>
                    </div>
                    <!-- <div class="logo deviceshow">
                        <a href="">
                            <img [src]="appRootUrl() + 'assets/common/images/logo_sd.svg'" alt="logo" height="60" />
                            <h2>{{ 'BrandName' | localize }}</h2>
                        </a>
                    </div> -->
                    <div class="loginformbox">
                        <div *ngIf="showTenantChange()" class="kt-login__signup-label tenant-change-box text-center">
                            <tenant-change></tenant-change>
                        </div>
                        <div class="kt-login__form" [@routerTransition]>
                            <div class="kt-login__title" style="display:none">
                                <h3 class="m-0">
                                    {{ 'LogIn' | localize }}
                                </h3>
                            </div>
                            <!-- <div class="tenantchange">
                            Current tenant : Not selected (<span>Change</span>)
                        </div> -->


                            <h1>Welcome to Portal 👋 </h1>
                            <p class="mb32">Please sign-in to your account and start the adventure</p>
                            <form #loginForm="ngForm" class="kt-form" method="post" novalidate (ngSubmit)="login()">

                                <div class="form-group form-icon login-screen">
                                    <label>{{'UserName' | localize}}</label>
                                    <input #userNameOrEmailAddressInput="ngModel" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" style="padding-left:80px !important; background:#fff !important; border-radius:10px !important; height:60px !important;" autoFocus class="form-control m-input"
                                        type="text" autocomplete="new-password" placeholder="{{'UserName' | localize}} *" name="userNameOrEmailAddress" required />
                                    <span class="icon-box"><i class="las la-user-tie"></i></span>
                                    <validation-messages [formCtrl]="userNameOrEmailAddressInput" *ngIf="!userNameOrEmailAddressInput.touched"></validation-messages>
                                </div>

                                <div class="form-group form-icon login-screen">
                                    <div class="formlabel">
                                        <label>{{'Password' | localize}}</label>
                                    </div>
                                    <input #passwordInput="ngModel" [(ngModel)]="loginService.authenticateModel.password" style="padding-left:80px !important; background:#fff !important; border-radius:10px !important; height:60px !important;" class="form-control m-input" type="password"
                                        autocomplete="new-password" placeholder="{{'Password' | localize}} *" name="password" required maxlength="32" />
                                    <span class="icon-box" style="top:38px;"><i class="las la-key"></i></span>
                                    <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched"></validation-messages>
                                </div>

                                <div class="form-group mt-4 forgotpassbox">
                                    <label class="kt-checkbox">
                                    <input class="form-control" [(ngModel)]="loginService.rememberMe" type="checkbox" name="rememberMe" value="true" />{{"KeepMeLoggedIn" | localize}}
                                    <span></span>
                                </label>
                                    <div> <a routerLink="/account/forgot-password" id="forget-password" class="kt-link kt-login__link-forgot">{{"ForgotPassword" | localize}}</a></div>
                                </div>

                                <div class="kt-login__actions">
                                    <button type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [disabled]="!loginForm.form.valid" style="line-height:inherit !important; display:flex; align-items:center; justify-content: center;">
                                        <i class="las la-unlock" style="font-size:2rem !important; padding-right:3px;"></i> {{"LogIn" | localize}}
                                    </button>
                                </div>
                            </form>

                            <div class="kt-login__divider" style="display:none;">
                                <div class="kt-divider newaccont">
                                    <!-- <span></span>
                                <span>{{"LoginWith" | localize}}</span>
                                <span></span> -->
                                    <p> New on our platform? <a href="#">Create an account</a></p>
                                </div>
                            </div>
                            <div class="divider my-2" style="display:none;">
                                <div class="divider-text">or</div>
                            </div>
                            <div class="auth-footer-btn d-flex justify-content-center" style="display:none !important;"><a href="javascript:void(0)" class="btn btn-facebook"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg></a>
                                <a href="javascript:void(0)" class="btn btn-twitter white"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg></a>
                                <a href="javascript:void(0)" class="btn btn-google"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg></a>
                                <a href="javascript:void(0)" class="btn btn-github"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg></a>
                            </div>



                            <div class="kt-login__options" *ngIf="(multiTenancySideIsTeanant || !isMultiTenancyEnabled) && loginService.externalLoginProviders.length > 0">
                                <a *ngFor="let provider of loginService.externalLoginProviders" class="btn btn-outline-secondary kt-btn btn-sm" (click)="externalLogin(provider)" title="{{provider.name}}">
                                    <i class="fab fa-{{provider.icon}}"></i> {{provider.name}}
                                </a>
                            </div>

                        </div>
                        <div class="kt-login__account" style="display:none">
                            <span *ngIf="isSelfRegistrationAllowed">
                            <a routerLink="/account/register">{{"CreateAnAccount" | localize}}</a>
                            <span> | </span>
                            </span>
                            <span *ngIf="!multiTenancySideIsTeanant && isTenantSelfRegistrationAllowed">
                            <a routerLink="/account/select-edition">{{"NewTenant" | localize}}</a>
                            <span> | </span>
                            </span>
                            <a routerLink="/account/email-activation" id="email-activation-btn">{{"EmailActivation" | localize}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>