.kt-login__options a {
    cursor: pointer;
    padding-right: 0.35rem;
    margin: 0 5px 0 0 !important;
}

.kt-login__options a i.fa-openidconnect {
    background: url(/assets/common/images/social/openid.png) no-repeat;
    width: 16px;
    height: 16px;
}

.kt-login__options a i.fa-wsfederation {
    background: url(/assets/common/images/social/adfs.png) no-repeat;
    width: 16px;
    height: 16px;
}

.kt-login.kt-login--v1 .kt-login__aside {
    display: none !important;
}

#kt_login .kt-login__aside {
    display: none !important;
}

#kt_login .kt-login_body {
    height: 100vh;
    display: FLEX !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#kt_login .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body {
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

#kt_login input[type="text"] {
    background: url(../../assets/common/images/icon_user.png) no-repeat left center !important;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form {
    margin: 0px !important;
}

.forgotpassbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.kt-login__form {
    text-transform: initial !important;
}

.kt-login__form h1 {
    color: #5e5873 !important;
    font-size: 1.74rem;
}

.kt-login__form p {
    font-size: 0.94rem;
    color: #6e6b7b;
    margin: 0px;
    padding: 0px;
}

.kt-login__form p.mb32 {
    margin-bottom: 120px;
}

.kt-login__form label.kt-checkbox {
    color: #0e2e3f !important;
    text-transform: none !important;
}

.kt-portlet.sessionbox {
    max-width: 400px !important;
    border: 0px solid #ff0000 !important;
    width: 400px !important;
    background-color: inherit !important;
    background: #ffffff !important;
    box-shadow: 0px 0px 55px #646464A0;
    border-radius: 17px !important;
    padding: 20px !important;
}

.kt-portlet.sessionbox .fa-lock {
    margin-top: 4px !important;
}

.newaccount {
    color: #6e6b7b;
    font-size: 1rem;
}

.newaccount a {
    color: #7367f0;
}

.divider {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 1rem 0;
}

.divider .divider-text {
    position: relative;
    display: inline-block;
    font-size: 0.9375rem;
    padding: 0 1rem;
}

.divider .divider-text:before {
    right: 100%;
}

.divider .divider-text:after {
    left: 100%;
}

.divider .divider-text:after,
.divider .divider-text:before {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    border-top: 1px solid #ebe9f1;
}

.auth-footer-btn a {
    margin-right: 1rem;
    width: 31px;
    height: 31px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newaccont {
    font-size: 1.2rem !important;
    color: #6e6b7b;
}

.newaccont a {
    color: #7367f0 !important;
}

.btn-github {
    color: #fff;
    background-color: #444;
    color: #fff !important;
    border: none;
}

.btn .feather {
    vertical-align: bottom;
}

.feather {
    font-family: feather !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

svg {
    overflow: hidden;
}

.sessionboxmain {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.sessionback {
    background: #ffffff url('../../assets/common/images/progress-hd2.png') no-repeat center bottom !important;
    height: 100vh !important;
}

.kt-portlet.sessionbox .alert.alert-solid-brand {
    background: rgba(0, 0, 0, 0.5) !important;
    color: #ffffff !important;
}

.kt-portlet.sessionbox .alert.alert-solid-brand .alert-text {
    color: #ffffff !important;
}

.kt-portlet.sessionbox .kt-widget.kt-widget--user-profile-4 .kt-widget__head .kt-widget__content .kt-widget__section .kt-widget__button,
.kt-portlet.sessionbox .kt-widget.kt-widget--user-profile-4 .kt-widget__head .kt-widget__content .kt-widget__section .kt-widget__username,
.kt-portlet.sessionbox .kt-widget.kt-widget--user-profile-4 .kt-widget__head .kt-widget__content .kt-widget__section .kt-widget__username:hover {
    color: #272727 !important;
}

.kt-portlet.sessionbox .btn.btn-primary.btn-elevate.kt-login__btn-primary {
    height: 45px;
    background: #1a73e9 !important;
    width: 100%;
    border-color: #1a73e9 !important;
    padding-left: 2.5rem;
    font-size: 16px;
    padding-right: 2.5rem;
    margin-bottom: 10px;
    padding-top: 5px;
    line-height: 29px;
}

@media screen and (min-width: 1800px) {
    .kt-portlet.sessionbox .btn.btn-primary.btn-elevate.kt-login__btn-primary {
        height: 57px !important;
    }
}

.kt-portlet.sessionbox .form-control {
    height: 43px !important;
    background: #ffffff;
    width: 100% !important;
    background-image: url('../../assets/common/images/lock.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 40px !important;
    border-radius: 4px !important;
}

.kt-portlet.sessionbox .kt-link {
    color: #000 !important;
}

.kt-portlet.sessionbox .kt-link.gotologin {
    color: #1a73e9 !important;
}

.kt-portlet.sessionbox .kt-link.gotologin:hover {
    border: 0px !important;
}

.kt-checkbox,
.kt-link.kt-login__link-forgot {
    color: #0e2e3f !important;
}

.kt-checkbox:hover,
.kt-link.kt-login__link-forgot:hover {
    color: #0e2e3f !important;
}

.kt-link.kt-login__link-forgot.gotologin,
.gotologin {
    color: #0e2e3f !important;
}

.kt-link.kt-login__link-forgot.gotologin:hover,
.gotologin:hover {
    color: #272727 !important;
}

@media screen and (max-width: 1100px) {}

@media screen and (min-width: 1400px) {}

@media screen and (min-width: 1600px) {}

@media screen and (min-width: 1800px) {}

.kt-loginheader {
    display: none !important;
}

.forgotpasssection {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    width: 100%;
}

.forgotpasssection .btnback {
    color: #7367f0 !important;
    margin-top: 5px;
    height: 45px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
    margin-bottom: 10px;
    line-height: 42px !important;
}

.forgotpasssection .btnback:hover {
    color: #7367f0 !important;
}