<div class="kt-login__body forgotpasswordbox" [@routerTransition]>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 d-nonemobile">
                <div class="loginimgbox">
                    <div class="logo">
                        <a href="">
                            <img [src]="appRootUrl() + 'assets/common/images/logo-icon.svg'" alt="logo" height="50" />
                            <h2>{{ 'BrandName' | localize }}</h2>
                        </a>
                    </div>
                    <img src="../../assets/common/images/session-expired.png" class="img-fluid loginmainimg" style="max-width:55%;" />
                </div>

            </div>
            <div class="col-lg-4 whiteback">
                <div class="kt-loginmainbox">
                    <div class="logo deviceshow">
                        <a href="">
                            <img [src]="appRootUrl() + 'assets/common/images/logo_solarblue.svg'" alt="logo" height="50" />
                            <h2>{{ 'BrandName' | localize }}</h2>
                        </a>
                    </div>
                    <div class="loginformbox">
                        <div class="alert alert-solid-brand alert-danger alert-bold" role="alert">
                            <div class="alert-text d-flex align-items-center" style="font-weight: bold;"><i class="las la-lock mr-3" style="font-size:40px;"></i> {{'YourSessionIsLocked' | localize}}</div>
                        </div>
                        <div class="kt-portlet__body kt-portlet__body--fit-y">
                            <!--begin::Widget -->
                            <div class="kt-widget kt-widget--user-profile-4">
                                <div class="kt-widget__head">
                                    <div class="kt-widget__media">
                                        <img class="kt-widget__img" *ngIf="userInfo && userInfo.profilePicture" [src]="userInfo.profilePicture" alt="profileimage">
                                    </div>
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__section">
                                            <span class="kt-widget__username">
                                                {{userInfo.userName}}
                                            </span>
                                            <div class="kt-widget__button">
                                                Tenant: <span style="font-weight: bold; font-size:14px;" class="badge badge-pill badge-secondary">{{userInfo.tenant}}</span>
                                            </div>
                                            <form #loginForm="ngForm" class="kt-form mt-4" method="post" novalidate (ngSubmit)="login()">
                                                <input #userNameOrEmailAddressInput="ngModel" [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress" autoFocus class="form-control m-input" type="hidden" autocomplete="new-password" name="userNameOrEmailAddress" />

                                                <div class="form-group form-icon login-screen">
                                                    <input #passwordInput="ngModel" [(ngModel)]="loginService.authenticateModel.password" class="form-control m-input" type="password" autocomplete="new-password" placeholder="{{'Password' | localize}}*" name="password" required maxlength="32" style="padding-left: 80px !important; background: #fff !important; border-radius: 30px !important; height: 60px !important;"
                                                    />
                                                    <span class="icon-box" style="top:17px;"><i class="las la-key"></i></span>
                                                    <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched">
                                                    </validation-messages>
                                                </div>

                                                <div>
                                                    <div class="mt-4">
                                                        <label class="kt-checkbox">
                                                            <input class="form-control" [(ngModel)]="loginService.rememberMe"
                                                                type="checkbox" name="rememberMe"
                                                                value="true" />{{"RememberMe" | localize}}
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                    <div class="kt-login__actions">
                                                        <button type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary" style="line-height: inherit !important; display: flex; align-items: center; justify-content: center;" [disabled]="!loginForm.form.valid"><i style="font-size: 2rem !important; padding-right: 3px;" class="las la-unlock"></i> {{"LogIn" | localize}}</button>
                                                        <div class="forgotpasssection">
                                                            <a routerLink="/account/login" class="btn-elevate btnback"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left mb-25"><polyline points="15 18 9 12 15 6"></polyline></svg>  {{'GoToLoginPage' | localize}}</a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Widget -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<!-- <div class="row justify-content-center align-items-center h-100" >
    <div class="col-lg-12 col-md-7 col-sm-10 col-xs-12 content">
      
       
    </div>
</div> -->