.remaining-time-counter {
    color: red;
}

.validtecodebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;

    .form-control {
        width: 15% !important;
        max-width: 15% !important;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        height: 50px !important;
    }
}

.remaining-time-counter {
    background: rgba(115, 103, 240, .12) !important;
    padding: .71rem 1rem;
    display: flex;
    width: 100%;
    border-radius: .358rem;
    color: #7367f0 !important;
    font-weight: 500;
    margin-bottom: 1rem;
    font-size: 1rem !important;
}
