
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 d-nonemobile">               
            <div class="loginimgbox">
                <div  class="logo">
                    <a href=""> 
                        <img [src]="appRootUrl() + 'assets/common/images/logo_solarblue.svg'" alt="logo" height="50" />            
                        <h2>{{ 'BrandName' | localize }}</h2>
                    </a>
                </div> 
                <img src="../../assets/common/images/reset-password-v2.svg" class="img-fluid loginmainimg"/>
            </div>
        </div>
        <div class="col-lg-4 whiteback">
            <div class="kt-loginmainbox"> 
                <div  class="logo deviceshow">
                    <a href=""> 
                        <img [src]="appRootUrl() + 'assets/common/images/logo_solarblue.svg'" alt="logo" height="50" />            
                        <h2>{{ 'BrandName' | localize }}</h2>
                    </a>
                </div>
                <div class="kt-login__form validatecodeboxmain" [@routerTransition]>
                    <div class="kt-login__title">
                        <h1>
                            {{'VerifySecurityCode' | localize}} 🔒
                        </h1>
                
                        <form #twoFactorForm="ngForm" class="kt-form" method="post" (ngSubmit)="submit()">
                            
                            <div class="validtecodebox">
                                <input type="text" [(ngModel)]="code1" name="code1" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="form-control"/>
                                <input type="text" [(ngModel)]="code2" name="code2"maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="form-control"/>
                                <input type="text" [(ngModel)]="code3" name="code3" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="form-control"/>
                                <input type="text" [(ngModel)]="code4" name="code4" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="form-control"/>
                                <input type="text"[(ngModel)]="code5" name="code5" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="form-control"/>
                                <input type="text" [(ngModel)]="code6" name="code6"maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" class="form-control"/>                               
                              </div>
                            <div class="form-group">
                                <input #passwordInput="ngModel" autoFocus [(ngModel)]="code" class="form-control" type="password" autocomplete="new-password" placeholder="{{'Code' | localize}} *" name="code"   maxlength="16" />
                                <validation-messages [formCtrl]="passwordInput"></validation-messages>
                            </div>
                
                            <div class="form-group mt-4" *ngIf="s('Abp.Zero.UserManagement.TwoFactorLogin.IsRememberBrowserEnabled') === 'true'">
                                <label class="kt-checkbox">
                                    <input class="form-control" [(ngModel)]="loginService.authenticateModel.rememberClient" type="checkbox" name="rememberClient" value="true" />{{"RememberThisBrowser" | localize}}
                                    <span></span>
                                </label>
                            </div>
                
                            <div class="kt-login__actions">
                                <span class="remaining-time-counter" *ngIf="remainingSeconds >= 0">{{"RemainingTime" | localize}}: {{"SecondShort{0}" | localize:remainingSeconds}}.</span>
                                <button type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [disabled]="!twoFactorForm.form.valid">{{"Submit" | localize}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

