<div class="kt-portlet kt-portlet--height-fluid dashboardboxmain martop15">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Lead Status
            </h3>
             
        </div>
    </div>
    <div class="kt-portlet__body form-group row">

        


        <div class="col-lg-12">
            <div class="ui-table">
                <table class="table table-bordered paddset_table1 brd_only_btm table_padd_new">
                    <tr>
                        <td width="30"><div class="img_max22"><img src="../../../assets/common/images/toolbox.svg" /></div></td>
                    <td width="100">TV</td>
                    <td width="80">{{tv}}</td>
                </tr>
                <tr>
                    <td width="30"><div class="img_max22"><img src="../../../assets/common/images/book.svg" /></div></td>
                    <td>Google</td>
                    <td>{{google}}</td>
                </tr>
                <tr>
                    <td width="30"><div class="img_max22"><img src="../../../assets/common/images/brush.svg" /></div></td>
                    <td>Facebook</td>
                    <td>{{facebook}}</td>
                </tr>
                <tr>
                    <td width="30"><div class="img_max22"><img src="../../../assets/common/images/parachute.svg" /></div></td>
                    <td>Refferal</td>
                    <td>{{refferal}}</td>
                </tr>
                <tr>
                    <td width="30"><div class="img_max22"><img src="../../../assets/common/images/rocket.svg" /></div></td>
                    <td>Others</td>
                    <td>{{others}}</td>
                </tr>
                </table>
            </div>
                 
               
           
           
        </div>
    </div>
</div>