<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Stock Order")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getStockOrder()"></button>
                            </li>

                            <li>
                                <div class="btn-group btnexceldropdown " dropdown>
                                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        
                                        Export
                                        <img src="../../../assets/common/images/icon_downarrow.svg" />

                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                        <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            <i class="las la-file-csv"></i> CSV
                                        </a>

                                    </div>
                                </div>
                            </li>
                            <li ><button (click)="createStockOrder()" class="btn btn-outline-primary btnadd">
                                Add <i class="las la-plus-circle"></i>
                            </button></li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" autoFocus placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getStockOrder()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getStockOrder()" />
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getStockOrder($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                               
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center"  >
                                            {{l('Actions')}}</th>
                                        <th pSortableColumn="stockOrderStatus">
                                                {{l('stockOrderStatus')}}
                                                <p-sortIcon field="stockOrderStatus"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="vendorInvNo">
                                            {{l('vendorInvNo')}}
                                            <p-sortIcon field="vendorInvNo"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="purchaseCompany">
                                            {{l('purchaseCompany')}}
                                            <p-sortIcon field="purchaseCompany"></p-sortIcon>
                                        </th>
                                        
                                        <th pSortableColumn="location">
                                            {{l('location')}}
                                            <p-sortIcon field="location"></p-sortIcon>
                                        </th>
                                        
                                        <th pSortableColumn="manualOrderNo">
                                            {{l('manualOrderNo')}}
                                            <p-sortIcon field="manualOrderNo"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="containerNo">
                                            {{l('containerNo')}}
                                            <p-sortIcon field="containerNo"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="vendor">
                                            {{l('vendor')}}
                                            <p-sortIcon field="vendor"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="paymentStatus">
                                            {{l('paymentStatus')}}
                                            <p-sortIcon field="paymentStatus"></p-sortIcon>
                                        </th>
                                        
                                        
                                        <!-- <th pSortableColumn="paymentMethod">
                                            {{l('paymentMethod')}}
                                            <p-sortIcon field="paymentMethod"></p-sortIcon>
                                        </th> -->
                                        <!-- <th pSortableColumn="expDeliveryDate">
                                            {{l('expDeliveryDate')}}
                                            <p-sortIcon field="expDeliveryDate"></p-sortIcon>
                                        </th> -->
                                        <!-- <th pSortableColumn="currency">
                                            {{l('currency')}}
                                            <p-sortIcon field="currency"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="amtDiscountwithGST">
                                            {{l('amtDiscountwithGST')}}
                                            <p-sortIcon field="amtDiscountwithGST"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="amtDiscountwithOutGST">
                                            {{l('amtDiscountwithOutGST')}}
                                            <p-sortIcon field="amtDiscountwithOutGST"></p-sortIcon>
                                        </th> -->
                                       
                                        
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr [pSelectableRow]="record"  >
                                        <td class="actionwidth text-center" [hidden]="!isGrantedAny('Pages.Tenant.DataVaults.PaymentType.Edit', 'Pages.Tenant.DataVaults.PaymentType.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;"(click)="viewStockOrderModal.show(record.id)" >
                                                            <i class="las la-binoculars"></i> {{l('View')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;"
                                                      
                                                        (click)="createOrEditStockOrderModal.show(record.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                   
                                                 
                                                    <li>
                                                        <a href="javascript:;" >
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                   
                                                    <li>
                                                            <a href="javascript:;"(click)="SMSModal.show(record.id,1)" >
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a  href="javascript:;"(click)="EmailModal.show(record.id,1,'Stock Order')">
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a  href="javascript:;"(click)="RemindersModal.show(record.id,1)">
                                                            <i class="las la-envelope"></i> {{'Reminder'}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a href="javascript:;"(click)="CommentsModal.show(record.id,1)">
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a >
                                                            <i class="las la-envelope"></i> {{l('Uploads Docs')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a >
                                                            <i class="las la-comment"></i> {{l('PO')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('stockOrderStatus')}}</span> {{record.stockOrderStatus}}
                                        </td>
                                       
                                        <td>
                                            <span class="ui-column-title"> {{l('VendorInvNo')}}</span> {{record.vendorInvNo}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Purchase Company')}}</span> {{record.purchaseCompany}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('CompanyLocation')}}</span> {{record.location}}
                                        </td>
                                        
                                        <td>
                                            <span class="ui-column-title"> {{l('manualOrderNo')}}</span> {{record.manualOrderNo}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('containerNo')}}</span> {{record.containerNo}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Vendor')}}</span> {{record.vendor}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('paymentStatus')}}</span> {{record.paymentStatus}}
                                        </td>
                                        <!-- <td>
                                            <span class="ui-column-title"> {{l('paymentMethod')}}</span> {{record.paymentMethod}}
                                        </td> -->
                                        <!-- <td>
                                            <span class="ui-column-title"> {{l('expDeliveryDate')}}</span> {{record.expDeliveryDate}}
                                        </td> -->
                                        <!-- <td>
                                            <span class="ui-column-title"> {{l('currency')}}</span> {{record.currency}}
                                        </td>
                        
                                        <td>
                                            <span class="ui-column-title"> {{l('amtDiscountwithGST')}}</span> {{record.amtDiscountwithGST}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('amtDiscountwithOutGST')}}</span> {{record.amtDiscountwithOutGST}}
                                        </td>  -->
                                       
                                    </tr>

                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getStockOrder($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditStockOrderModal #createOrEditStockOrderModal (modalSave)="getStockOrder()">
        </createOrEditStockOrderModal>
        <viewStockOrderModal #viewStockOrderModal></viewStockOrderModal>
        <SMSModal #SMSModal></SMSModal>
        <EmailModal #EmailModal></EmailModal>
        <RemindersModal #RemindersModal></RemindersModal>
        <CommentsModal #CommentsModal></CommentsModal>
    </div>
</div>