<!-- <div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #stockorderForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                       
                        <span>{{l("Create Stock Order")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    
                   

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!stockorderForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div> -->
<style>
    .form-icon .icon-box {
        top: 31px !important;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 22px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e3e2ef;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #7367f0;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #7367f0;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
    }
    /* Rounded sliders */
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
</style>
<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #stockorderForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <!-- <span *ngIf="user.id">{{"Edit Sales Representative" | localize}}: {{user.userName}}</span> -->
                        <!-- <span *ngIf="!user.id">{{"CreateNewUser" | localize}}</span> -->
                        <span>View Stock Order</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="tab_design tab-new">
                               <div class="modal-white-box">
                        <div class="col-md-12">
                            <h3 class="d-flex align-items-center"><i class="las la-map-marker mr-2"></i>{{l("Contacts")}} </h3>
                        </div>
                                <div class="row">
                                    <!-- <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("Purchase Company")}}</label>
                                            <label for="vendors_vendors" class="form-label">{{stockorder.purchaseCompany}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="">{{"manual Order No" | localize}} *</label>
                                            
                                            <label for="vendors_vendors" class="form-label">{{stockorder.manualOrderNo}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="vendorInvNo">{{"Vendor Inv No" | localize}} *</label>
                                            
                                            <label for="vendors_vendors" class="form-label">{{stockorder.vendorInvNo}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="containerNo">{{"Container No" | localize}} *</label>
                                            
                                            <label for="vendors_vendors" class="form-label">{{stockorder.containerNo}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("Stock Order Status")}}</label>
                                            
                                            <label for="vendors_vendors" class="form-label">{{stockorder.stockOrderStatus}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="stockFromOutside">{{"Stock From Outside" | localize}} *</label>
                                            
                                            <label for="vendors_vendors" class="form-label">{{stockorder.stockFromOutside}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("Payment Type")}}</label>
                                            <label for="vendors_vendors" class="form-label">{{stockorder.paymentType}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("Payment Method")}}</label>
                                           
                                            <label for="vendors_vendors" class="form-label">{{stockorder.paymentMethod}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("Payment Status")}}</label>
                                           
                                            <label for="vendors_vendors" class="form-label">{{stockorder.paymentStatus}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("Delivery Type")}}</label>
                                            
                                            <label for="vendors_vendors" class="form-label">{{stockorder.deliveryType}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("Location")}}</label>
                                            
                                            <label for="vendors_vendors" class="form-label">{{stockorder.location}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="discountPrice">{{"Discount Price" | localize}} *</label>
                                            
                                            <label for="vendors_vendors" class="form-label">{{stockorder.discountPrice}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="creditNotePrice">{{"Credit Note Price" | localize}} *</label>
                                         
                                            <label for="vendors_vendors" class="form-label">{{stockorder.creditNotePrice}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("Currency")}}</label>
                                            
                                            <label for="vendors_vendors" class="form-label">{{stockorder.currency}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon custom-required">
                                            <label for="" class="form-label">{{l("Stock Order For")}}</label>
                                           
                                            <label for="vendors_vendors" class="form-label">{{stockorder.orderFor}}</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4">
                                        <label for="" class="form-label">{{l("GST Type")}}</label>
                                        
                                        <label for="vendors_vendors" class="form-label">{{stockorder.gstType}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="form-label">{{l("Target Arrival Date")}}</label>
                                       
                                        <label for="vendors_vendors" class="form-label">{{stockorder.targetArrivalDate}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="form-label">{{l("exp Delivery Date")}}</label>
                                       
                                        <label for="vendors_vendors" class="form-label">{{stockorder.expDeliveryDate}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="form-label">{{l("eta")}}</label>
                                        
                                        <label for="vendors_vendors" class="form-label">{{stockorder.eta}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="form-label">{{l("etd")}}</label>
                                        
                                        <label for="vendors_vendors" class="form-label">{{stockorder.etd}}</label>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="" class="form-label">{{l("Physical Delivery Date")}}</label>
                                       
                                        <label for="vendors_vendors" class="form-label">{{stockorder.physicalDeliveryDate}}</label>
                                    </div> -->
                                    <!-- <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="amtDiscountwithGST">{{"AmtDiscount with GST Input" | localize}} *</label>
                                          
                                            <label for="vendors_vendors" class="form-label">{{stockorder.amtDiscountwithGST}}</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="amtDiscountwithOutGST">{{"AmtDiscount withOut GST" | localize}} *</label>
                                            
                                            
                                            <label for="vendors_vendors" class="form-label">{{stockorder.amtDiscountwithOutGST}}</label>
                                        </div>
                                    </div> -->
                                </div>
                                </div>
                                <div class="col-12" style="margin-top:10px;">
                                    <div class="card card-custom card-stretch">
                                        <div class="card-body sitedetailbox">
                                            <div class="secondary-grid vscrollbar" style="max-height:250px; overflow-y: auto;">
                                                <table class="table table_blck">
                                                    <thead>
                                                        <tr>
                                                            <th>Product Category</th>
                                                            <th>Product Item</th>
                                                            <th>Size</th>
                                                            <th>Quantity</th>
                                                            <th>Price Per Watt</th>
                                                            <th>Unit Rate</th>
                                                        </thead>
                                                        <tbody>
                                                            <!-- <tr *ngFor="let item of stockorder.productInfo; let i = index">
                                                                <td>{{item.productCategory}}</td>
                                                                <td>{{item.productItem}}</td>
                                                                <td>{{item.Size}}</td>
                                                                <td><span class="badge badge-secondary">{{item.Quantity}}</span></td>
                                                                <td>{{item.pricePerWatt}}</td>
                                                                <td>{{item.unitRate}}</td>
                                                                
                                                            </tr> -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                               </div>   
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!stockorderForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>