<div appBsModal #AddStockItemModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Add Stock Item")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-bg-gray">

                <div class="modal-white-box">
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="">Stock Category</label>
                                        <select class="form-control">
                                            <option>Select</option>
                                            <option>Battery</option>
                                        </select>
                                        <span class="icon-box" style="top:30px;"><i class="las la-tags"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="LastName">Stock Item</label>
                                        <input type="text" id="" name="" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-tag"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="LastName">Brand</label>
                                        <input type="text" id="" name="" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-copyright"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="LastName">Stock Model</label>
                                        <input type="text" id="" name="" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-hashtag"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="LastName">Stock Series</label>
                                        <input type="text" id="" name="" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-hashtag"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="LastName">Stock Size</label>
                                        <input type="text" id="" name="" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-ruler-combined"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="LastName">Min. Stock</label>
                                        <input type="text" id="" name="" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-hashtag"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin-top:37px;">
                                    <div class="kt-checkbox-list">
                                        <label for="IsActive" class="kt-checkbox">
                                            <input id="IsActive" type="checkbox" name="IsActive">
                                            Is Active?
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin-top:37px;">
                                    <div class="kt-checkbox-list">
                                        <label for="IsDashboard" class="kt-checkbox">
                                            <input id="IsDashboard" type="checkbox" name="IsDashboard">
                                            Is Dashboard?
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{("Cancel")}}</button>
                <button type="submit" class="btn btn-primary blue"><i class="las la-save"></i><span>Add</span></button>
            </div>
        </div>
    </div>
</div>