﻿<style>
    .addcustomerform {
        min-height: inherit;
    }
</style>
<div class="kt-content creatleadpage kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item grayback">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{l("Create Stock Order")}}</span>
                </h3>
            </div>
        </div>
    </div>

    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid grayback'">
        <div class="" style="margin-top:0 !important;">
            <div class="createleadform">
                <form autocomplete="off" autocompleteOff>
                    <div class="modal-white-box">
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center justify-content-between">
                                    <span class="mr-5 d-flex align-items-center"><i class="las la-info-circle mr-2"></i>{{l("Order Details")}}</span>
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex align-items-center mr-4 form-icon">
                                            <input type="text" id="wLead_firstName" id="" class="form-control mr-2" name="" ViewLead maxlength="100" required placeholder='Order No' style="width:160px; padding-left:45px !important;" />
                                            <span class="icon-box" style="top:3px !important;"><i class="las la-hashtag"></i></span>
                                            <span>
                                                <button type="submit" class="btn btn-primary px-2 d-flex align-items-center" style="height: 40px !important; border: 0; padding: 0 1rem !important; color:#fff !important;">
                                                    <i class="las la-download" style="font-size: 16px !important; color:#fff;"></i> Get Data
                                                </button>
                                            </span>
                                        </div>
                                        <span class="d-flex align-items-center">
                                            <span class="mr-2 badge badge-secondary fs-16 d-flex align-items-center" style="height:40px;">Next Order No. <span style="font-weight:600"># 7028</span></span>
                                        </span>
                                    </div>
                                </h3>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Vendor")}} *</label>
                                    <select class="form-control">
                                        <option>Select</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-user"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Purchase Company")}} *</label>
                                    <select class="form-control">
                                        <option>Select</option>
                                        <option>Acievers Energy</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-building"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Manual Order No")}} *</label>
                                    <div class="d-flex align-items-center">
                                        <input type="text" id="" id="" class="form-control mr-1" name="" maxlength="100" />
                                        <span class="icon-box"><i class="las la-hashtag"></i></span>
                                        <!-- <button type="submit" class="btn btn-primary" (click)="addStockItem()" style="height:40px !important; padding:0 0.6rem !important;"><i class="las la-plus-circle" style="padding-right:0;"></i></button> -->
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Vendor Invoice No")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" maxlength="100" />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Container No")}} *</label>
                                    <input type="text" id="" id="" class="form-control" name="" maxlength="100" />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Stock Order Status")}} *</label>
                                    <select class="form-control">
                                        <option>Active</option>
                                        <option>On Hold</option>
                                        <option>Void</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-tag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Stock From Outside?")}}</label>
                                    <select class="form-control">
                                        <option>Local</option>
                                        <option>International</option>                                        
                                    </select>
                                    <span class="icon-box"><i class="las la-globe"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Delivery Type")}}</label>
                                    <select class="form-control">
                                        <option>Select</option>
                                        <option>Warehouse</option>
                                        <option>Direct</option>
                                        <option>Third Party</option>                                        
                                    </select>
                                    <span class="icon-box"><i class="las la-warehouse"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Payment Status")}}</label>
                                    <select class="form-control">
                                        <option>Select</option>
                                        <option>Oder Booked</option>
                                        <option>Dep Paid</option>
                                        <option>Final Payment</option>                                        
                                    </select>
                                    <span class="icon-box"><i class="las la-tag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Payment Method")}}</label>
                                    <select class="form-control">
                                        <option>Select</option>
                                        <option>Cash</option>
                                        <option>Credit</option>                                        
                                    </select>
                                    <span class="icon-box"><i class="las la-tag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Stock Location")}}</label>
                                    <select class="form-control">
                                        <option>Select</option>                                        
                                    </select>
                                    <span class="icon-box"><i class="las la-tag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Freight Charge")}}</label>
                                    <input type="text" autocomplete="off" placeholder='0.00' id="" class="form-control" name="" minlength="" />
                                    <span class="icon-box"><i class="las la-receipt"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("Target Arrival Date")}} *</label>
                                    <input id="" type="text" name="" class="form-control daterangebox" bsDatepicker datePickerMomentModifier placeholder="Receive Date" required [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("ETD")}} *</label>
                                    <input id="" type="text" name="" class="form-control daterangebox" bsDatepicker datePickerMomentModifier placeholder="Receive Date" required [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("ETA")}} *</label>
                                    <input id="" type="text" name="" class="form-control daterangebox" bsDatepicker datePickerMomentModifier placeholder="Receive Date" required [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-wallet mr-2"></i>{{l("Payment Details")}} </h3>
                            </div>
                            <div class="col-md-12">
                                <div class="addcustomerform">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group form-icon custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Payment DueDate")}} *</label>
                                                <input id="" type="text" name="" class="form-control daterangebox" bsDatepicker datePickerMomentModifier placeholder="Receive Date" required [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group form-icon custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Currency")}}</label>
                                                <select class="form-control">
                                                    <option>Select</option>
                                                    <option>USD</option>
                                                    <option>AUD</option>
                                                    <option>CNY</option>                                        
                                                </select>
                                                <span class="icon-box"><i class="las la-coins"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group form-icon custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("GST Type")}}</label>
                                                <select class="form-control">
                                                    <option>Select</option>
                                                    <option>With GST</option>
                                                    <option>Without GST</option>                                        
                                                </select>
                                                <span class="icon-box"><i class="las la-donate"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group form-icon custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Order For")}}</label>
                                                <select class="form-control">
                                                    <option>Order For</option>
                                                    <option>Retail</option>
                                                    <option>Wholesale</option>
                                                    <option>Service</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-clipboard-check"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group form-icon">
                                                <label for="" class="form-label">{{l("Estimate Freight Charge")}}</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" />
                                                <span class="icon-box"><i class="las la-coins"></i></span>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-box mr-2"></i>{{l("Stock Items")}} </h3>
                            </div>
                            <div class="col-md-12">
                                <div class="addcustomerform">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Stock Category")}} *</label>
                                                <select class="form-control">
                                                    <option>Select</option>
                                                    <option>Battery</option>
                                                    <option>Inverters</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Stock Item")}} *</label>
                                                <select class="form-control">
                                                    <option>Select</option>                                                    
                                                    <option>Alpha ESS 5.04kW Battery</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="w-200px d-flex align-items-center mr-2" style="margin-left:5px;">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Total Qty")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" />
                                            </div>
                                        </div>
                                        <div class="w-200px d-flex align-items-center mr-2">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Price Par Watt")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" />
                                            </div>
                                        </div>
                                        <div class="w-200px d-flex align-items-center mr-2">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Unit Rate")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" />
                                            </div>
                                        </div>
                                        <div class="w-200px d-flex align-items-center mr-2">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Est Rate")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" />
                                            </div>
                                        </div>
                                        <div class="w-200px d-flex align-items-center mr-2">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Amt - Disc Without GST")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" />
                                            </div>
                                        </div>
                                        <div class="w-200px d-flex align-items-center mr-2">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Amt - Disc With GST")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" disabled />
                                            </div>
                                        </div>
                                        <div class="w-200px d-flex align-items-center mr-2">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Model No")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" disabled />
                                            </div>
                                        </div>
                                        <div class="w-200px d-flex align-items-center mr-2">
                                            <div class="form-group form-icon custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Expiry Date")}} *</label>
                                                <input id="" type="text" name="" class="form-control daterangebox" bsDatepicker datePickerMomentModifier placeholder="Receive Date" required [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" disabled />
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-1" style="max-width: fit-content;">
                                            <div class="form-group" style="margin-top:30px;">
                                                <div class="action-btn addbtn"><a><i class="las la-plus-circle"></i></a></div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row" style="display:none;">
                                        <div class="col-md-2">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Stock Category")}} *</label>
                                                <select class="form-control">
                                                    <option>Select</option>
                                                    <option>Battery</option>
                                                    <option>Inverters</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Stock Item")}} *</label>
                                                <select class="form-control">
                                                    <option>Select</option>                                                    
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Total Qty")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" />
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Price Par Watt")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" />
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Unit Rate")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" />
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Est Rate")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Amt - Discount Without GST")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Amt - Disc With GST")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Model No")}} *</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("")}}' id="" class="form-control" name="" minlength="" disabled />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group form-icon custom-required">
                                                <label for="wLead_firstName" class="form-label">{{l("Expiry Date")}} *</label>
                                                <input id="" type="text" name="" class="form-control daterangebox" bsDatepicker datePickerMomentModifier placeholder="Receive Date" required [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" disabled />
                                                <span class="icon-box"><i class="las la-calendar"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group" style="margin-top:30px;">
                                                <div class="action-btn addbtn"><a><i class="las la-plus-circle"></i></a></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-sticky-note mr-2"></i>{{l("Notes")}} </h3>
                            </div>
                            <div class="col-md-12">
                                <div class="addcustomerform">
                                    <textarea id="" name="Requirements" minlength="1" maxlength="500" class="form-control" placeholder="Additional Notes"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="btngroupbox mt-1">
                                <ul>
                                    <li>
                                        <a (click)="Reset()" class="btn btn_black">
                                            <i class="las la-times-circle"></i>Clear</a>
                                    </li>
                                    <li>
                                        <a class="btn btn_red" (click)="cancel()">
                                            <i class="las la-times-circle"></i>Cancel</a>
                                    </li>
                                    <li>
                                        <button type="submit" class="btn btn-primary" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                            <i class="las la-save"></i><span>Save</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<AddStockItemModal #AddStockItemModal></AddStockItemModal>