.modal-content{
    width: 130% !important;
    margin-left: -60px !important;
}


.first{
    height: 40px !important;
    border: 0;
    padding: 0 1rem !important;                                                           
    background-color: #384770;                                                            
    font-size: 16px;                                                           
    border-top-right-radius: 4px;                                                           
    border-bottom-right-radius: 4px;                                                            
    margin-right: 10px;                                                            
    color: white !important;                                                            
    text-decoration: none;                                                            
    text-transform: uppercase;                                                            
    cursor: pointer; 
    margin-left: -10px !important;
                                                                                                                      
    }
.second{
    width: 160px; 
    padding-left: 45px !important; 
    outline: none !important; 
    border: 10px solid #384770 !important;
    border-top-right-radius: none !important;                                                           
    border-bottom-right-radius: none !important;                                                            
    border-radius: none !important;
    color:white !important;
}
.placehold_clr ::placeholder{
    color: black !important;
}
.modal-body{
    overflow-x: hidden !important;
}














