<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }

    /* .ui-table-scrollable-body{
        overflow: hidden !important;
    } */

    @media screen and (min-width: 1600px) {
        .first .leadcompanynamebar {
        min-width: 15% !important;
        max-width: 15% !important;
    }

    .txtalign th{
        align-items: center !important;
    }
}

</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="d-flex align-items-center">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>{{l("Purchase Order")}}</span>
                            <span class="total-records-count">
                                ({{(primengTableHelper.totalRecordsCount)}})
                            </span>
                        </h3>
                        <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                    </div>
                </div>
               
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getStockOrder()"></button></li>
                                <li>
                                    <div class="btn-group btnexceldropdown  " dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Excel
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations " *dropdownMenu style="margin-left:10px;">
                                          
                                            
                                            <a href="/assets/sampleFiles/ImportSerialNoSampleFile.xlsx" class="dropdown-item btnsample" >
                                                <i class="las la-file-excel"></i>{{l('SampleFile')}}
                                            </a>
                                            <a class="dropdown-item" id="exportToExcel" (click)="exportToExcel(1)" href="javascript:;">
                                               <i class="las la-file-excel"></i> {{'Export' | localize}}
                                            </a>
                                            <!-- <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;">
                                                <i class="las la-file-csv"></i> {{l("ExportCSV")}}
                                            </a> -->
                                        </div>
                                    </div>
                                </li>
                                <li><button (click)="createPurchaseOrder(0)" *ngIf="('Pages.Tenant.QuickStock.PurchaseOrder.Create' | permission)" class="btn btn-outline-primary btnadd">                                            
                                    Add
                                    <i class="las la-plus-circle"></i>
                                </button></li>
                                <li >
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getStockOrder();">
                                                <option *ngFor="let item of allOrganizationUnits"
                                                    value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li >
                                    <div class="kt-sdropdown">
                                        <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                            <ng-select [items]="allLocation" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select Location" [(ngModel)]="WarehouseLocationIdFiletr" name="WarehouseLocationIdFiletr">
                                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                </li>
                                <li >
                                    <div class="kt-sdropdown">
                                        <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                            <ng-select [items]="allStockOrderStatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select Stock Order Status" [(ngModel)]="StockOrderStatusIds" name="StockOrderStatusIds">
                                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="ContainerNo">Container No</option>
                                                <option value="ManualOrderNo">Manual Order No</option>
                                                <option value="VendorInoviceNo">Vendor Inovice No</option>
                                                <option value="OrderNo">Order No</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                       
                                        <div class="kt-stextbox leardsearchfilter">
                                            <input name="filterText" autoFocus class="form-control m-input" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getStockOrder();searchLog();" type="text">

                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getStockOrder()"><i class="fas fa-times-circle"></i></a>
                                            <button (click)="getStockOrder();searchLog();" class="btnsearch" type="submit">
                                                <i class="flaticon-search-1"></i></button>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                           
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            
                                            <div class="advfilterform">
                                                
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="VendorIdFiletr" name="VendorIdFiletr" >
                                                                    <option [ngValue]="undefined">{{l("Select Vendor")}}</option>
                                                                    <option *ngFor="let item of allVendors" value="{{item.id}}"> {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="DeliveryTypeIdFiletr" name="DeliveryTypeIdFiletr" >
                                                                    <option [ngValue]="undefined">{{l("Select DeliveryType")}}</option>
                                                                    <option *ngFor="let item of allDeliveryType" value="{{item.id}}"> {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control">
                                                                    <option>Show</option>
                                                                    <option>Not Delivered</option>
                                                                    <option>Delivered</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="StockOrderIdFiletr" name="StockOrderIdFiletr" >
                                                                    <option [ngValue]="undefined">{{l("Select Order for")}}</option>
                                                                    <option *ngFor="let item of allStockOrderfor" value="{{item.id}}"> {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="TransportCompanyIdFiletr" name="TransportCompanyIdFiletr" >
                                                                    <option [ngValue]="undefined">{{l("Select TranportComoany")}}</option>
                                                                    <option *ngFor="let item of allTransportCompany" value="{{item.id}}"> {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="PaymentStatusIdFiletr" name="PaymentStatusIdFiletr" >
                                                                    <option [ngValue]="undefined">{{l("Select Payment Status")}}</option>
                                                                    <option *ngFor="let item of allPaymentStatus" value="{{item.id}}"> {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control">
                                                                    <option>Partial</option>
                                                                    <option>Yes</option>
                                                                    <option>No</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="GstTypeIdFilter" name="GstTypeIdFilter">
                                                                    <option [ngValue]="undefined">{{l("Select Gst/WGst")}}</option>
                                                                    <option value=1>With GST</option>
                                                                    <option value=2>Without GST</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control">
                                                                    <option>Final Amount</option>
                                                                    <option>Yes</option>
                                                                    <option>No</option>                                                                    
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateFilterType" (keydown.enter)="getStockOrder()" name="dateFilterType">
                                                                    <option [ngValue]="undefined"> Select Date</option>
                                                                    <option value="OrderDate">Date Ordered</option>
                                                                    <option>BOL Received</option>
                                                                    <option>Expected Date</option>
                                                                    <option>Received Date</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                       
                                                        
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier name="distapplied" [(date)]="StartDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier name="distapplied" [(date)]="EndDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        

                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red marright10 btn-sm ng-tns-c458-53" (click)="clear()">
                                                                <i class="fas fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getStockOrder();searchLog();"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>

                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div> 
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>

            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" >
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul *ngFor="let item of summary">
                    <li *ngIf="item.moduleSummary > 0">
                      <span>{{ item.moduleSummary }}</span><label>Module: </label>
                    </li>
              
                    <li *ngIf="item.invertersSummary > 0">
                      <span>{{ item.invertersSummary }}</span><label>Inverters: </label>
                    </li>
              
                    <li *ngIf="item.mountingSummary > 0">
                      <span>{{ item.mountingSummary }}</span><label>Mounting: </label>
                    </li>
              
                    <li *ngIf="item.electricalSummary > 0">
                      <span>{{ item.electricalSummary }}</span><label>Electrical: </label>
                    </li>
              
                    <li *ngIf="item.batterySummary > 0">
                      <span>{{ item.batterySummary }}</span><label>Battery: </label>
                    </li>
              
                    <li *ngIf="item.othersSummary > 0">
                      <span>{{ item.othersSummary }}</span><label>Others: </label>
                    </li>
                  </ul>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">
                    <div class="row leaddata_row first">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                                <!-- <img [src]="appRootUrl() + 'assets/common/images/pagi_nextactive.svg'" alt=""
                                    (click)="expandGrid()" /> -->
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getStockOrder($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                            <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getStockOrder($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll"> -->
                                <ng-template pTemplate="header">
                                    <tr class="txtalign">
                                        <th class="actionwidth p-frozen-column" style="width: 95px;">
                                            {{l('Actions')}}</th>
                                        <th style="width:110px; " class="p-frozen-column" >
                                            {{l('Order No')}}
                                        </th>
                                        <th style="width:150px;" [hidden]="!ExpandedView">
                                            {{l('Stock Order Status')}}
                                        </th>
                                        <th style="width:170px;" [hidden]="!ExpandedView">
                                            {{l('Invoice No.')}}
                                        </th>
                                        <th style="width:180px;" [hidden]="!ExpandedView">
                                            {{l('P.Company')}}
                                        </th>
                                        <th style="width:150px;" [hidden]="!ExpandedView">
                                            {{l('Company Location')}}
                                        </th>
                                        <th style="width:150px;" [hidden]="!ExpandedView">
                                            {{l('Ordered Date')}}
                                        </th>
                                        <th style="width:150px;" [hidden]="!ExpandedView">
                                            {{l('Exp.DeliveryDate')}}
                                        </th>
                                        <th style="width:200px;" [hidden]="!ExpandedView">
                                            {{l('Manual Order #')}}
                                        </th> 
                                        <th style="width:180px;" [hidden]="!ExpandedView">
                                            {{l('Container No.')}}
                                        </th>
                                        
                                        <th style="width:150px;" [hidden]="!ExpandedView">
                                            {{l('Vendor')}}
                                        </th>
                                        <th style="width:150px;" [hidden]="!ExpandedView">
                                            {{l('Payment Status')}}
                                        </th>
                                        <th style="width:150px;" [hidden]="!ExpandedView">
                                            {{l('Payment Type')}}
                                        </th>
                                        <th style="width:120px;" [hidden]="!ExpandedView">
                                            {{l('Currency')}}
                                        </th>
                                        <th style="width:120px; text-align:center;" [hidden]="!ExpandedView">
                                            {{l('Qty')}}
                                        </th>
                                        <th style="width:120px; text-align:center;" [hidden]="!ExpandedView">
                                            {{l('Pending Qty')}}
                                        </th>
                                        <th style="width:160px;" [hidden]="!ExpandedView">
                                            {{l('Amount Without GST')}}
                                        </th>
                                        <th style="width:160px;" [hidden]="!ExpandedView">
                                            {{l('Amount With GST')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                <ng-container *ngFor="let record of record.stockOrderList">
                                    <tr [pSelectableRow]="record"  class="txtalign">
                                        <td class="actionwidth p-frozen-column" style="text-align:Center; width: 95px;"  >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li >
                                                        <a href="javascript:;" *ngIf="('Pages.Tenant.QuickStock.PurchaseOrder.Edit' | permission)" (click)="CreateOrEditPurchaseOrderModal.show(record.id)" >
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>

                                                    <!-- <li >
                                                        <a href="javascript:;" (click)="stockOrderDetail(record.id)">
                                                            <i class="las la-binoculars"></i> {{l('Details')}}
                                                        </a>
                                                    </li> -->
                                                    <li >
                                                        <a href="javascript:;" (click)="ViewAllUploadsModal.show(record.id,record.organizationId,record.manualOrderNo, record.containerNo)">
                                                            <i class="las la-file-upload"></i> {{l('View Uploads')}}
                                                        </a>
                                                    </li>
                                                   
                                                    <li >
                                                        <a href="javascript:;"  (click)="viewPoModel.show(record.id,'Stock Order')" >
                                                            <i class="las la-bell"></i> {{l('PO')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a href="javascript:;"  (click)="RemindersModal.show(record.id,1,'Stock Order')">
                                                            <i class="las la-history"></i> {{l('ActionReminder')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a href="javascript:;" (click)="CommentsModal.show(record.id,1,'Stock Order')">
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a href="javascript:;" (click)="todosModal.show(record.id,1,'Stock Order')">
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a href="javascript:; " (click)="SMSModal.show(record.id,1)">
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a href="javascript:;" (click)="EmailModal.show(record.id,1,'Stock Order')">
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li >`                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
                                                        <a href="javascript:;" *ngIf="('Pages.Tenant.QuickStock.PurchaseOrder.Delete' | permission)" (click)="deleteStockOrder(record)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        
                                        <td style="width:120px;" class="p-frozen-column"  (click)="navigateToPurchaseOrderDetail(record.id);" >
                                            <span class="ui-column-title"> </span> {{record.orderNo}}
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> </span> {{record.stockOrderStatus}}
                                        </td>
                                        <td style="width:170px;" [hidden]="!ExpandedView">

                                            <span class="ui-column-title" > </span> {{record.vendorInoviceNo}}
                                        </td>
                                        <td style="width:180px;" [hidden]="!ExpandedView">
                                            <span class="ui-column-title" > </span> {{record.purchaseCompany}}
                                            
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> </span> {{record.warehouseLocation}}
                                            
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView">
                                            <!-- 03 Feb 2023 -->
                                            {{ record.orderDate | date: 'dd MMM yyyy' }}
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView">
                                            10 Feb 2023
                                        </td>
                                        <td style="width:200px;" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> </span> {{record.manualOrderNo}}
                                        </td>
                                        <td style="width:180px;" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> </span> {{record.containerNo}}
                                            
                                        </td>
                                        <!-- <td style="width:250px;">
                                            <span class="ui-column-title"> </span> {{record.purchaseOrder.containerNo}}
                                        </td> -->
                                        <td style="width:150px;" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> </span> {{record.vendor}}
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary"><span class="ui-column-title"> </span> {{record.paymentStatus}}</span>
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary"><span class="ui-column-title"> </span> {{record.paymentType}}</span>
                                        </td>
                                        <td style="width:120px;" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary"><span class="ui-column-title"> </span> {{record.currency}}</span>
                                        </td>
                                        <td style="width:120px; text-align:center;" [hidden]="!ExpandedView">
                                            {{record.qty}}
                                        </td>
                                        <td style="width:120px; text-align:center;" [hidden]="!ExpandedView">
                                            {{record.pendingQty}}  
                                        </td>
                                        <td style="width:160px;" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">$400.00</span>
                                        </td>
                                        <td style="width:160px;" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">$440.00</span>
                                        </td>
                                    </tr>
                                </ng-container>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getStockOrder($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                       
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <ViewPurchaseOrderDetail #ViewPurchaseOrderDetail SelectedPurtchaseOrderId="{{SelectedPurtchaseOrderId}}" (reloadLead)="reloadPage($event)"></ViewPurchaseOrderDetail>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
</div>
<ViewAllUploadsModal #ViewAllUploadsModal></ViewAllUploadsModal>
<SMSModal #SMSModal></SMSModal>
<RemindersModal #RemindersModal></RemindersModal>
<CommentsModal #CommentsModal></CommentsModal>
<EmailModal #EmailModal></EmailModal>
<todosModal #todosModal></todosModal>
<viewPoModel #viewPoModel></viewPoModel>
<CreateOrEditPurchaseOrderModal #CreateOrEditPurchaseOrderModal (modalSave)="getStockOrder()">
</CreateOrEditPurchaseOrderModal>
