<div [@routerTransition]>
    <div class="leaddtltitle activitytitle mt-3">
        <div class="disflexdiv">
            <h3>Activity</h3>
            <div [hidden]="!showsectionwise">
               
            </div>
        </div>
        <div class="activityfilter d-flex align-items-center">
           
            <div class="switchbox">
                <span class="switchlabel">All Activity</span>
                <span class="kt-switch kt-switch--icon">
                    <label>
                        <input (change)="myActivity(PurchaseId)" name="SwitchToMyActivity"
                            [(ngModel)]="allActivity" type="checkbox">
                        <span></span>
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div class="leaddetailcnt">
        <div class="form-group">
            <div class="ativityLogs">
                <div class="list_area_box">
                    <div class="list_box" *ngFor="let item of PurchaseOrderActivityList">
                      
                        <div *ngIf="item.actionId == 42" class="img_area activity_mail">
                            <div><i class="las la-folder-plus"></i></div>
                        </div>
                        
                        <div *ngIf="item.actionId == 69 " class="img_area activity_assign 111">
                            <div><i class="las la-edit"></i></div>
                        </div>
                      
                        <div *ngIf="item.actionId == 68 || item.actionId == 75 || item.actionId == 7 || item.actionId == 86" class="img_area activity_mail 777">
                            <div><i class="las la-envelope"></i></div>
                        </div>
                       
                        <div *ngIf="item.actionId == 6"  class="img_area activity_mail 777">
                            <div> <i class="las la-sms"></i>
                            </div>
                        </div>
                        <div *ngIf="item.actionId == 8 || item.actionId == 87"  class="img_area activity_mail 777">
                            <div><i class="las la-history"></i>
                            </div>
                        </div>
                        <div *ngIf="item.actionId == 24 || item.actionId == 88"  class="img_area activity_mail 777">
                            <div><i class="las la-comment"></i>
                            </div>
                        </div>
                        <div *ngIf="item.actionId == 25"  class="img_area activity_mail 777">
                            <div><i class="las la-clipboard-list"></i>
                            </div>
                        </div>
                        <div *ngIf="item.actionId == 84"  class="img_area activity_mail 777">
                            <div><i class="las la-file-upload"></i>
                            </div>
                        </div>
                        <div *ngIf="item.actionId == 85"  class="img_area activity_mail 777">
                            <div><i class="las la-trash"></i>
                            </div>
                        </div>
                       
                        <div class="text_area">
                            <div class="title_hd d-flex align-items-center"><span>{{item.section}} - {{item.actionName}} : </span>
                                <span class="log-date d-flex align-items-center ml-3">
                                    <i class="las la-clock mr-1"></i>{{item.creationTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                </span>
                            </div>

                            <p  class="123456">
                                <a href="javascript:void(0)">{{item.creatorUserName}}</a> -

                                <span  style="display:inline-block">
                                    <a *ngIf="item.actionId == 69" (click)="purchaseOrderactivityloghistory.show(item.id);"  class="ml-2 badge badge-pill badge-warning log-edit d-flex align-items-center">
                                        <i class="las la-user-edit mr-1"></i>{{item.actionNote}}
                                    </a>
                                </span>
                                <span  *ngIf="item.actionId == 68 || item.actionId == 75 || item.actionId == 7  " class="123456">
                                    {{item.actionNote}} 
                                </span>
                                <span  *ngIf="item.actionId == 6" class="123456">
                                    {{item.actionNote}} 
                                </span>
                                <span  *ngIf="item.actionId == 8" class="123456">
                                    {{item.actionNote}} 
                                </span>
                                <span  *ngIf="item.actionId == 24" class="123456">
                                    {{item.actionNote}} 
                                </span>
                                <span  *ngIf="item.actionId == 25" class="123456">
                                    {{item.actionNote}} 
                                </span>
                                <span  *ngIf="item.actionId == 84" class="123456">
                                    {{item.actionNote}} 
                                </span>
                                <span  *ngIf="item.actionId == 85" class="123456">
                                    {{item.actionNote}} 
                                </span>
                                <span  *ngIf="item.actionId == 87" class="123456">
                                    {{item.actionNote}} 
                                </span>
                                <span  *ngIf="item.actionId == 86" class="123456">
                                    {{item.actionNote}} 
                                </span>
                                <span  *ngIf="item.actionId == 88" class="123456">
                                    {{item.actionNote}} 
                                </span>
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <purchaseOrderactivityloghistory #purchaseOrderactivityloghistory></purchaseOrderactivityloghistory> 
    
</div>
