.leaddetailcnt .comcontactdtl {

    position: relative;
    display: flex !important;
    flex-direction: column !important;
    word-wrap: break-word !important;
    margin: 0px 5px 5px 0px !important;
    max-width: 100% !important;
    width: 100% !important;

    box-shadow: none !important;
    padding: 0px !important;

}

.leaddtltitle .activitytitle,
.disflexdiv {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    background-color: #e9e8f1 !important;
}

.comcontactdtl .comcontactdtl-body {
    padding: 0px 0px 0px 0px !important;
    min-height: 100px !important;
    flex: 1 1 auto;
}

.first th {
    width: 8.3% !important;
    margin: 0px !important;
    padding: 10px 0px 10px 0px !important;
}

.modal-white-box h3 {
    padding: 8px 8px 8px 5px !important;
    font-size: 1.4rem !important;
    background-color: #e9e8f1 !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0px !important;
}
.fntsmall th{
    overflow: hidden !important;
}

.modal-white-box {
    max-width: 100%;
    padding: 0px 0px 15px 0px !important;
    width: 100% !important;
    margin-top: 10px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 20px !important;
    background-color: #f7f8fe !important;
    /* margin: 10px auto;  */
}

.card,
.card-body {
    box-shadow: none !important;
    border-radius: 0px !important;
    border: 0px !important;
    width: 99% !important;
    margin: 0px auto !important;

}

.font_bold {
    font-weight: 500 !important;
    
}


/* .bolck_dv{
display: flex !important;
align-items: center;
justify-content: space-around;

} */

.set_wdth{
margin: 0px !important;
padding: 0px !important;
width: 55px !important;
}

.fntsmall th {
    font-size: 13.5px !important;
    font-weight: 600 !important;
    
    width: 50% !important;
}
.modal_div .card .card-body.sitedetailbox h6 span {
    font-weight: 400;
    width : 100%;
    display: block;
    margin-top: 12px;
}
.upload_btn{
    padding: 5px 10px !important;
    background-color: #7367f0 !important;
    margin-top: 3px !important; 
    margin-bottom: 0px;
    border-radius: 1px !important;
    color: #fff !important;
    box-shadow: rgba(182, 199, 253, 1) 0px 8px 15px;
   }
/* .contant_center h6{
    margin: ;
} */

.right_side_scrool_red{
    max-height: 78vh !important;
}
.fisrt .table thead tr:nth-child(1) th {
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}


.contnt-scrol th {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #f7f8fe  !important;
}


.scrolbr{
    max-width: 1330px !important;
    overflow-y: scroll !important;
    overflow-x: scroll !important;
    background-color: white !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
    border: 2px solid #e9e8f1;
    border-radius: 10px !important;
    margin: 5px !important;
    padding: 0px !important;
    max-height: 140px !important;
    scrollbar-width: thin !important;

}
.scrolbr tr td {
    padding-bottom: 0px !important;
}
.action-box td{
    padding-left: 50px !important;
}

.table th{
   padding-left: 40px !important;
}


/*
.leadmaindiv .leaddetailcnt .comcontactdtl h5 {
    align-items: center !important;
    min-height: inherit !important;
    padding: 1.2rem !important;
    font-weight: 700;
    justify-content: inherit;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e3ed;
}





.comcontactdtl {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100% !important;
}

 

 

   
   

   .verticalLineTop
   {
       width:100%;
       border-top:solid 1px #000;
   }
   .card-body{
    padding-top: 20px !important;
   } */



.leaddetailcnt {
    padding: 0px !important;
}