﻿<style>
    .addcustomerform {
        min-height: inherit;
    }
    
    .modal-white-box h6 {
        display: flex;
    }
    
    .modal-white-box h6 {
        display: flex;
        flex-direction: row;
    }
    
    .modal-white-box h6 span:first-child {
        font-weight: 600;
        white-space: nowrap;
        width: 180px;
        text-align: left;
        margin-right: 10px;
        margin-top: 0px;
        display: block;
    }
    
    .modal-white-box h6 span {
        font-weight: 400;
        width: 58%;
        display: block;
        margin-top: 1px;
    }
</style>
<div class="kt-content creatleadpage kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item grayback">
        <div [class]="containerClass" class="justify-content-between d-flex align-items-center">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{l("Purchase Order Detail")}}</span>
                </h3>
            </div>
            <a class="" (click)="cancel()"><i class="las la-angle-double-left"></i> Back</a>
        </div>
    </div>

    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid grayback'">
        <div class="" style="margin-top:0 !important;">
            <div class="createleadform">
                <form autocomplete="off" autocompleteOff>
                    <div class="modal-white-box">
                        <div class="row dis-column">
                            <div class="col-md-12 mb-3">
                                <h3 class="d-flex align-items-center"><i class="las la-info-circle mr-2"></i>{{l("Order Details")}} </h3>
                            </div>
                            <div class="col-4 mb-3 full-width-mob">
                                <h6>
                                    <span class="mr-2 ">Vendor : </span><span>{{purchaseOrder.purchaseOrder.vendor}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">Purchase Company : </span><span>{{purchaseOrder.purchaseOrder.purchaseCompany}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">Manual Order No : </span><span>{{purchaseOrder.purchaseOrder.manualOrderNo}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">V. Invoice No : </span><span>{{purchaseOrder.purchaseOrder.vendorInoviceNo}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">Stock Order Status : </span><span>{{purchaseOrder.purchaseOrder.stockOrderStatus}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">Container No : </span><span>{{purchaseOrder.purchaseOrder.containerNo}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">Payment Status : </span><span>{{purchaseOrder.purchaseOrder.paymentStatus}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">Order For : </span><span style="width:auto;">{{purchaseOrder.purchaseOrder.stockOrderFor}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">Stock Location : </span><span>{{purchaseOrder.purchaseOrder.warehouseLocation}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">Stock From : </span><span>{{purchaseOrder.purchaseOrder.stockFrom}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">Delivery Type : </span><span>{{purchaseOrder.purchaseOrder.deliveryType}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">Currency : </span><span>{{purchaseOrder.purchaseOrder.currency}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">gstType : </span><span style="width:auto;">{{purchaseOrder.purchaseOrder.gstType}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">Notes : </span><span style="width:auto;">{{purchaseOrder.purchaseOrder.additionalNotes}}</span>
                                </h6>
                            </div>
                            <div class="col-4 mb-3 data-view full-width-mob">
                                <h6>
                                    <span class=" mr-2">Product Notes : </span><span style="width:auto;">{{purchaseOrder.purchaseOrder.productNotes}}</span>
                                </h6>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="d-flex align-items-center mb-3"><i class="las la-shopping-cart mr-2"></i>{{l("Purchase Order Item Detail")}} </h3>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="secondary-grid vscrollbar" style="overflow: auto; max-height:400px;">
                                    <table class="table table_blck">
                                        <thead>
                                            <tr>
                                                <th scope="col">Stock Category</th>
                                                <th scope="col">Stock Item</th>
                                                <th scope="col" class="text-center">Quantity</th>
                                                <th scope="col" class="text-center">Price Per Watt</th>
                                                <th scope="col" class="text-center">Unit Rate</th>
                                                <th scope="col" class="text-center">Est Rate</th>
                                                <th scope="col" class="text-center">Product Modal</th>
                                                <th scope="col" class="text-center">Exp.Date</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col" class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of PurchaseOrderItemList;">
                                                <td>{{ item.productType }}</td>
                                                <td>{{ item.productItemName }}</td>
                                                <td class="text-center">{{ item.quantity }}</td>
                                                <td class="text-center">{{ item.pricePerWatt }}</td>
                                                <td class="text-center">{{ item.unitRate }}</td>
                                                <td class="text-center">{{ item.estRate }}</td>
                                                <td class="text-center">{{ item.productModel }}</td>
                                                <td class="text-center">{{ item.expiryDate }}</td>
                                                <td>{{ item.amount | currency }}</td>
                                                <td class="text-center">
                                                    <a href="javascript:;" class="las la-file-upload" style="padding:0 !important;">
                                                        <span class="fileinput-button">
                                                            <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                                #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                                accept=".csv,.xls,.xlsx"
                                                                (uploadHandler)="uploadExcelstc($event)"
                                                                
                                                                (onError)="onUploadExcelErrorstc()"
                                                                >
                                                            </p-fileUpload>
                                                        </span>
                                                    </a>
                                                   
                                                    &nbsp;
                                                    <a [tooltip]="l('Revert')">
                                                        <i class="las la-sync"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="btngroupbox mt-1">
                                <ul>
                                    <li>
                                        <a class="btn btn_red" (click)="cancel()">
                                            <i class="las la-times-circle"></i>Cancel</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- <AddStockItemModal #AddStockItemModal></AddStockItemModal> -->