<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog ttttt" style="width:1000px !important; max-width: inherit !important;">
        <div class="modal-content">
            <div class="modal-header" style="align-items: center;">
                <h4 class="modal-title mr-3">
                    <span>Purchase Order</span>
                </h4>
                <div>
                    <button type="button" class="btn btn-primary btn-sm" (click)="generatePdf()"><i class="las la-file-pdf"></i>DownLoad</button>
                </div>
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="margin-top:10px; height:85vh; overflow-y: auto;" [innerHtml]="htmlContentBody"></div>
        </div>
    </div>
</div>