<div appBsModal #ViewAllUploadsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>View Uploads - {{ManualOrder}} - {{ContainerNo}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-bg-gray">

               
                <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Document Type:</label>
                                <select class="form-control"  [(ngModel)]="selectedDocumentId" (change)="onDocumentTypeChange($event)">
                                    <option value="undefined">{{ l("Select Document Type") }}</option>
                                    <option *ngFor="let item of allPurchaseDocument" [value]="item.id">
                                        {{ item.displayName }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>Document Name:</label>
                                <input id="DocName" type="text" name="DocName" class="form-control"
                                [(ngModel)]="DocName" required maxlength="64" />
                            </div>
                            <div class="col-md-3">
                                <label>Upload File:</label>
                                <div class="white-file-upload">
                                    <input class="fileuploadboxbtn" #myFile type="file" name="myfile" (change)="onFileChange($event)" multiple />
                                     <!-- <input class="fileuploadboxbtn"  type="file" name="myfile" (change)="onFileChange($event)" multiple  [accept]="allowedFormatss"  /> -->
                                </div>
                            </div>
                            <div class="col-md-2 ">
                                    <label>.</label>
                                    <button class="btn btn-primary" (click)="save()" >Upload</button>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div *ngIf="messagee"  class="mr-4 mt-2 ml-2 ng-star-inserted" style="color: #d42d0f;">
                                {{ messagee }}
                            </div>
                        </div>
                </div>

                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-clipboard-list fs-30 mr-2"></i>Document List</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card card-custom card-stretch">
                            <div class="secondary-grid vscrollbar" style="max-height: 350px; overflow: auto;">
                                <table class="table table_blck">
                                    <tr>
                                        <th>Document Title</th>
                                        <th>Document NAme</th>
                                        <th>Uploaded Date</th>
                                        <th>Uploaded By</th>
                                        <th class="text-center">Download</th>
                                    </tr>
                                    <tr *ngFor="let document of documents">
                                        <td>{{ document.purchaseDocumentTitle }}</td>
                                        <td>{{ document.docName }}</td>
                                        <td>{{ document.creationDate | date: 'dd-MM-yyyy' }}</td>
                                        <td>{{ document.createdBy }}</td>
                                        <td class="text-center action">
                                            <a class="btndownloaddocument" (click)="downloadfile(document.filePath,document.fileName)"><i class="las la-file-download"></i></a>&nbsp;
                                            <a class="btndownloaddocument" (click)="deletePurchaseDocument(document.id)"><i class="las la-trash text-danger"></i></a>
                                        </td>
                                    </tr>
                                   
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{("Cancel")}}</button>
                <!-- <button type="submit" class="btn btn-primary blue"><i class="las la-save"></i><span>Save</span></button> -->
            </div>
        </div>
    </div>
</div>