<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #roleForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="new-password">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="role.id">{{"EditRole" | localize}}: {{role.displayName}}</span>
                        <span *ngIf="!role.id">{{"CreateNewRole" | localize}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">

                    <div class="tab_design tab-new">
                        <tabset class="tab-container tabbable-line">
                            <tab heading="{{'RoleName' | localize}}">
                                <div class="form-group form-icon">
                                    <label>{{"RoleName" | localize}} *</label>
                                    <input id="RoleDisplayName" #roleNameInput="ngModel" class="form-control" type="text" name="DisplayName" [(ngModel)]="role.displayName" required maxlength="64">
                                    <validation-messages [formCtrl]="roleNameInput"></validation-messages>
                                    <span class="icon-box"><i class="las la-edit"></i></span>
                                </div>

                                <div class="kt-checkbox-list mt-4 mb-2">
                                    <label class="kt-checkbox new_checkbox margintop13">
                                        <input id="EditRole_IsDefault" type="checkbox" name="IsDefault" [(ngModel)]="role.isDefault">
                                        {{"Default" | localize}}
                                        <span></span>
                                    </label>
                                    <span class="alert alert-secondary d-flex align-items-center"><i class="las la-question-circle fs-24 mr-2"></i> {{"DefaultRole_Description" | localize}}</span>
                                </div>
                            </tab>
                            <tab heading="{{'Permissions' | localize}}">
                                <permission-tree #permissionTree></permission-tree>
                            </tab>
                        </tabset>
                    </div>

                    <div class="alert alert-warning text_normal d-flex align-items-center" style="margin-top: 30px;">
                        <i class="las la-info-circle fs-30 mr-3"></i>
                        <em>{{'Note_RefreshPageForPermissionChanges' | localize}}</em>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!roleForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>

            </form>

        </div>
    </div>
</div>