<div class="permissionmodal modalbutton fix_permission">
    <div class="setpermission">
        <permission-tree-modal #permissionFilterTreeModal (onModalclose)="getRoles()">
        </permission-tree-modal>
    </div>
</div>
<div [@routerTransition]>

    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{"Roles" | localize}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getRoles()"></button>
                                </li>
                                <li *ngIf="'Pages.Administration.Roles.Create' | permission"><button (click)="createRole()" class="btn btn-outline-primary btnadd">
                                    Add <i class="las la-plus-circle"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="kt-buttonarea">

                       </div> -->
                    </div>
                </div>

            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet">

                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [lazyLoadOnInit]=true (onLazyLoad)="getRoles($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]="true" (onLazyLoad)="getRoles($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->


                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="" style="width:25px;" [hidden]="!(['Pages.Administration.Roles.Edit', 'Pages.Administration.Roles.Delete'] | permissionAny)">
                                            {{'Actions' | localize}}</th>
                                        <th style="width:350px;">{{'RoleName' | localize}}</th>
                                        <th style="width:350px;">{{'CreationTime' | localize}}</th>
                                    </tr>
                                </ng-template>

                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style=" width:25px;" class="actionwidth" [hidden]="!(['Pages.Administration.Roles.Edit', 'Pages.Administration.Roles.Delete'] | permissionAny)">
                                            <div class="btn-group dropdown" dropdown>
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                                </button>

                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="'Pages.Administration.Roles.Edit' | permission" (click)="createOrEditRoleModal.show(record.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="!record.isStatic && ('Pages.Administration.Roles.Delete' | permission)" (click)="deleteRole(record)">
                                                            <i class="las la-trash "></i> {{l('Delete')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="entityHistoryEnabled" (click)="showHistory(record)">{{'History' | localize}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:350px;">
                                            <!-- <span class="ui-column-title">{{'RoleName' | localize}}</span> -->
                                            <span class="rolebadge">
                                                <span class="mr-2">{{record.displayName}}</span>
                                            <span *ngIf="record.isStatic" class="badge badge-secondary blue mr-2" data-toggle="tooltip" title="{{'StaticRole_Tooltip' | localize}}" data-placement="top">
                                                    {{'Static' | localize}}
                                                </span>
                                            <span *ngIf="!record.isStatic" class="badge badge-warning mr-2" data-toggle="tooltip" title="{{'StaticRole_Tooltip' | localize}}" data-placement="top">
                                                    {{'Custom' | localize}}
                                                </span>
                                            <span *ngIf="record.isDefault" class="badge badge-secondary" data-toggle="tooltip" title="{{'DefaultRole_Description' | localize}}" data-placement="top">
                                                    {{'Default' | localize}}
                                                </span>
                                            </span>
                                        </td>
                                        <td style="width:350px;">
                                            <!-- <span class="ui-column-title">{{'CreationTime' | localize}}</span> -->
                                            <span class="badge badge-secondary">{{record.creationTime | momentFormat:'L'}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                            <!-- <div class="ui-table-footer">
                            </div> -->
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <createOrEditRoleModal #createOrEditRoleModal (modalSave)="getRoles()"></createOrEditRoleModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    </div>
</div>