.kt-login__options a {
  cursor: pointer;
  padding-right: 0.35rem;
  margin: 0 5px 0 0 !important;
}
.kt-login__options a i.fa-openidconnect {
  background: url(/assets/common/images/social/openid.png) no-repeat;
  width: 16px;
  height: 16px;
}
.kt-login__options a i.fa-wsfederation {
  background: url(/assets/common/images/social/adfs.png) no-repeat;
  width: 16px;
  height: 16px;
}
.kt-login.kt-login--v1 .kt-login__aside {
  display: none !important;
}
.kt-login__title h3 {
  color: #ffffff;
}
.kt-login__form p {
  color: #272727;
}
#kt_login .kt-login__aside {
  display: none !important;
}
#kt_login .kt-login_body {
  height: 100vh;
  display: FLEX !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#kt_login .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}
#kt_login input[type="text"] {
  background: url(../../assets/common/images/icon_user.png) no-repeat left center !important;
}
.kt-login__body.forgotpasswordbox {
  background: url('../../assets/common/images/progress-hd2.png') no-repeat center bottom;
  background-size: contain;
  height: 100vh !important;
}
.kt-login__body.forgotpasswordbox.kt-login__btn-primary {
  margin-bottom: 0px !important;
}
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form {
  margin: 0px !important;
}
.resetpassword h3 {
  color: #ffffff !important;
}
.resetpassword .kt-login__title {
  margin-bottom: 1.5rem !important;
}
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__title h3 {
  color: #ffffff !important;
}
.kt-login__form h3 {
  color: #ffffff !important;
}
.logo.centerlogo {
  display: flex;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  width: 95% !important;
}
.forgotpasssection {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}
.forgotpasssection .btnback {
  color: #1A73E8 !important;
  margin-top: 5px;
  border-color: #ecf8ff;
  background-color: #ecf8ff;
  height: 45px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  line-height: 42px !important;
}
.forgotpasssection .btnback:hover {
  background-color: #1A73E8 !important;
  border-color: #1A73E8;
  color: #ecf8ff !important;
}
.forgotpasswordmain {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form.forgotform {
  margin-top: 15px !important;
}
.forgotpasswordmain {
  position: relative;
}
.forgotpasswordmain .kt-login__signup-label.tenant-change-box {
  text-align: center !important;
  align-self: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  margin-bottom: 10px;
  max-width: 400px;
  z-index: 9999;
}
@media screen and (min-width: 1600px) {
  .kt-login__form {
    padding: 2rem 2rem 2rem !important;
  }
}
