
<div class="kt-login__body forgotpasswordbox">
    <div class="forgotpasswordmain">
<div class="kt-login__form" [@routerTransition]>
    <div  class="logo centerlogo">
        <a href=""> 
            <img [src]="appRootUrl() + 'assets/common/images/logo.svg'" alt="logo" height="80" />            
        </a>
    </div> 
    <div class="kt-login__title mb-0">
        <h2>
            {{"EmailActivation" | localize}}
        </h2>
    

        <form class="kt-form" #emailActivationForm="ngForm" method="post" novalidate (ngSubmit)="save()">
            <p>
                {{"SendEmailActivationLink_Information" | localize}}
            </p>
            <div class="form-group">
                <input #emailAddressInput="ngModel" [(ngModel)]="model.emailAddress" class="form-control form-control-solid placeholder-no-fix input-ltr" type="email" autocomplete="new-password" placeholder="{{'EmailAddress' | localize}} *" name="emailAddress" required maxlength="256" email />
                <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
            </div>

            <div class="kt-login__actions flexrow">
              
                <button type="submit"   class="btn btn-primary btn-elevate kt-login__btn-primary"  [disabled]="!emailActivationForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"> {{"Submit" | localize}}</button>
                <div class="forgotpasssection">
                    <a routerLink="/account/login"  class="btn-elevate btnback"> {{"Back" | localize}}</a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
</div>
