<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 100%;
        }
    }
</style>
<div [@routerTransition]>
    <div>

        <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>{{l("NewInstallerInvoice")}}</span>
                            <span class="total-records-count">
                                ({{(primengTableHelper.totalRecordsCount)}})
                            </span>
                        </h3>
                        <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                    </div>
                    <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                        <div class="kt-subheader__wrapper">
                            <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                                <ul class="hd_right">
                                    <li>
                                        <button type="button" class="btn_refresh" (click)="getnewinstaller();RereshLog();"></button>
                                    </li>

                                    <li [hidden]="!isGrantedAny('Pages.Installer.New.Create')"><button (click)="createnewinstallerinvoice.show(organizationUnit,0,null,'New Installer Invoice')" class="btn btn-outline-primary btnadd">
                                            {{l("Add")}} <i class="las la-plus-circle"></i>                                            
                                        </button>
                                    </li>
                                    <li>
                                        <div class="btn-group btnexceldropdown" dropdown>
                                            <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Export
                                                <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                                <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;" *ngIf="'Pages.Installer.New.Export' | permission">
                                                    <i class="las la-file-excel"></i> Excel
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcelPer()" href="javascript:;" *ngIf="'Pages.Tracker.ApplicationTracker.Export' | permission">
                                                    <i class="las la-file-csv"></i> Excel Invoice %
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </li>
                                    <li *ngIf="organizationUnitlength> 1">
                                        <div class="kt-sdropdown">
                                            <div class="form-group
                                                selectdropdown m-form__group">
                                                <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getnewinstaller();bindInstaller();addSearchLog('Filter Organization');">
                                                    <option *ngFor="let item of
                                                        allOrganizationUnits" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group selectdropdown m-form__group">
                                                <select class="form-control" required [(ngModel)]="invoiceType" id="invoiceType" name="invoiceType" (change)="getnewinstaller();addSearchLog('Filter Type');">
                                                    <option value="">{{l("Select Type")}}</option>
                                                    <option value="Installation">{{l('Installation')}} </option>
                                                    <option value="Maintenance">{{l('Maintenance')}}</option>
                                                    <option value="Inspection">{{l('Inspection')}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group  selectdropdown m-form__group">
                                                <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                    <option value="JobNumber">JobNumber</option>
                                                    <option value="MobileNo">Mobile No</option>
                                                    <option value="CompanyName">Company Name</option>
                                                    <option value="Email">Email</option>
                                                    <option value="Phone">Phone</option>
                                                    <option value="InvNo">Invoice No</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-searchmainbox searchclearbox">
                                            <div class="kt-stextbox ">
                                                <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                                <input [ngClass]="{pl50: filterName == 'JobNumber' }" [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" placeholder="{{filterName}}" type="text" (keydown.enter)="getnewinstaller();addSearchLog('Filter' + filterName +  ' : ' + filterText);">
                                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getnewinstaller()"><i class="fas fa-times-circle"></i></a>
                                                <button (click)="getnewinstaller();addSearchLog('Filter' + filterName +  ' : ' + filterText);" class="btnsearch" type="submit"><i
                                                        class="flaticon-search-1"></i></button>
                                            </div>
                                            <div class="kt-advfilterbox">
                                                <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                    <i class="las la-filter"></i>
                                                </a>
                                            </div>
                                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                                <h3>Additional Filters </h3>
                                                <div class="advfilterform">
                                                    <ul>
                                                        <li class="fullwidth">
                                                            <div class="form-group">
                                                                <!-- <p-autoComplete [(ngModel)]="installerId" id="installerId" [suggestions]="filteredinstaller" (completeMethod)="filterinstaller($event)" placeholder="Select Installer" [minlength]="1" 
                                                                name="installerId" inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete> -->
                                                                <p-autoComplete id="installerId" name="installerId" [suggestions]="installerSearchResult" (completeMethod)="filterInstaller($event)" [minLength]="1" [placeholder]="l('SelectInstaller')" inputStyleClass="form-control" styleClass="width-percent-100" (onSelect)="selectInstaller($event);addSearchLog('Advanced Filter');"
                                                                    (onClear)="installerId = 0" field="displayName" (keydown.enter)="selectInstaller($event);addSearchLog('Advanced Filter');">
                                                                    <ng-template let-result pTemplate="item">
                                                                        <div class="result-item">
                                                                            <div class="d-flex align-items-center mb-1">
                                                                                <i class="las la-user-cog fs-16 mr-1"></i> {{result.installerName}}
                                                                            </div>
                                                                        </div>
                                                                    </ng-template>
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="batteryFilter" (keydown.enter)="getnewinstaller();addSearchLog('Advanced Filter');" name="BatteryFilter">
                                                                    <option value="0">Select System With</option>
                                                                    <option value="1">With Battery System</option>
                                                                    <option value="2">Without Battery</option>
                                                                    <option value="3">Only Battery</option>
                                                                    <option value="4">Only Inverter</option>
                                                                    <option value="5">Only Battery and Inverter</option>
                                                                    <option value="6">With Battery </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <!-- <li>
                                                            <input name="SampleDateRangePicker" type="text" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }" [(date)]="sampleDateRange" />
                                                        </li> -->
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateFilterType" name="dateFilterType">
                                                                    <option value="CreationDate">Creation Date</option>
                                                                    <option value="InstallComplete">{{l("InstallCompleteDate")}}</option>
                                                                    <option value="InstallDate">Install Book Date</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li></li>

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="text-right fullwidth">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()"><i class="fas fa-times-circle"></i> Clear</button>
                                                            <button class="btn btn-primary btn-sm g-tns-c458-53" (click)="getnewinstaller();addSearchLog('Advanced Filter');"><i class="fa fa-search ng-tns-c458-53"></i> Search</button>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div (click)="shouldShow= !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">

                <div class="kt-portlet kt-portlet--mobile margintop0">
                    <div class="kt-portlet__body padzero">

                        <div class="row leaddata_row" [ngClass]="{'unselectable': ('Pages.Installer.New.EnableCopyPaste' | permission)}">
                            <div class="table-responsive statictable">

                            </div>

                            <!--<Primeng-Datatable-Start>-->
                            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getnewinstaller($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                    scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                    <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getnewinstaller($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                        ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns"> -->
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="actionwidth text-center p-frozen-column">
                                                {{l('Actions')}}
                                            </th>
                                            <th style="width:150px; left:95px !important;" pSortableColumn="JobFk.JobNumber" class="p-frozen-column">
                                                {{l('JobNumber')}}
                                                <p-sortIcon field="ProjectName"></p-sortIcon>
                                            </th>
                                            <th style="width:250px" pSortableColumn="JobFk.LeadFk.CompanyName">
                                                {{l('Customer')}}
                                                <p-sortIcon field="Customer"></p-sortIcon>
                                            </th>
                                            <th style="width:250px;" pSortableColumn="JobFk.Address">
                                                {{l('Adress')}}
                                                <p-sortIcon field="Address"></p-sortIcon>
                                            </th>
                                            <th style="width: 150px" pSortableColumn="JobFk.PostalCode">
                                                {{l('PostCode')}}
                                                <p-sortIcon field="PCode"></p-sortIcon>
                                            </th>
                                            <th style="width: 130px" pSortableColumn="JobFk.InstallationDate">
                                                {{l('InstallDate')}}
                                                <p-sortIcon field="InstallDate"></p-sortIcon>
                                            </th>
                                            <th style="width: 180px" pSortableColumn="JobFk.InstalledcompleteDate">
                                                Install Complete
                                                <p-sortIcon field="InstallComplate"></p-sortIcon>
                                            </th>
                                            <th style="width: 140px; text-align:center;" pSortableColumn="InvoiceNo">
                                                {{l('InvoiceNo')}}
                                                <p-sortIcon field="InvoiceNo"></p-sortIcon>
                                            </th>
                                            <th style="width: 250px">
                                                {{l('Installer Name/ Company Name')}}
                                            </th>
                                            <th style="width: 180px" pSortableColumn="Installation_Maintenance_Inspection">
                                                {{l('Invoice Type')}}
                                                <p-sortIcon field="invoiceType"></p-sortIcon>
                                            </th>
                                            <th style="width: 170px" pSortableColumn="Amount">
                                                {{l('InvoiceAmount')}}
                                                <p-sortIcon field="Amount"></p-sortIcon>
                                            </th>
                                            <th style="width: 150px" pSortableColumn="InvDate">
                                                {{l('InvoiceDate')}}
                                                <p-sortIcon field="InvDate"></p-sortIcon>
                                            </th>
                                            <th style="width: 150px">
                                                {{l('IssuedDate')}}
                                            </th>
                                            <th style="width: 160px" pSortableColumn="Notes">
                                                {{l('InvoiceNotes')}}
                                                <p-sortIcon field="invoiceNotes"></p-sortIcon>
                                            </th>
                                            <th style="width: 50px"></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr [pSelectableRow]="record">
                                            <td class="actionwidth text-center p-frozen-column">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle
                                                        btn btn-sm btn-primary" dropdownToggle>
                                                        <i class="flaticon-more"></i><span class="caret"></span>
                                                        {{l("Actions")}}
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li [hidden]="!isGrantedAny('Pages.Installer.QuickView')">
                                                            <a href="javascript:;" (click)="viewApplicationModal.show(record.jobId,26,'New Installer Invoice')">
                                                                <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="record.filenameinv == null">
                                                            <a href="javascript:;" (click)="downloadfile1(record.filenameinv,record.filePathinv)">
                                                                <i class="las la-file-download fs-24"></i> {{l('ViewFile')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.Installer.New.Edit')" *ngIf = 'record.id > 0'>
                                                            <a (click)="editinstallerinvoice.show(organizationUnit, record.invoiceinstallerId,'New Installer Invoice')">
                                                                <i class="las la-edit"></i> {{l('Edit')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.Installer.New.Delete')" *ngIf = 'record.id > 0'>
                                                            <a (click)="delete(record)">
                                                                <i class="las la-trash"></i> {{l('Delete')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.Installer.New.Create')" *ngIf = 'record.id == 0'>
                                                            <a (click)="createnewinstallerinvoice.show(organizationUnit,0,record.projectName,'New Installer Invoice')">
                                                                <i class="las la-edit"></i> {{l('Add')}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td style="width:150px; left:95px !important;" class="p-frozen-column">

                                                <span class="badge badge-secondary">{{record.projectName}}</span>
                                            </td>
                                            <td style="width:250px;">
                                                {{record.customer}}
                                            </td>
                                            <td class="no_warp" style="width:250px">
                                                <span class="set_warp_toltrip">
                                                    
                                                <span [tooltip]="getToolTipData(record) | titlecase" class="tooltipcnt">
                                                        {{record.address | titlecase}}, {{record.suburb | titlecase}}, {{record.state}}-{{record.pCode}}</span>
                                                </span>
                                            </td>
                                            <td style="width:150px">
                                                {{record.pCode}}
                                            </td>
                                            <td style="width:130px">
                                                {{record.installDate | date:'mediumDate' }}
                                            </td>
                                            <td style="width:180px">
                                                {{record.installComplate | date:'mediumDate' }}
                                            </td>
                                            <td style="width:140px; text-align:center;">

                                                <span class="badge badge-secondary">{{record.invoiceNO}}</span>
                                            </td>
                                            <td style="width:250px">
                                                {{record.installername}}
                                            </td>
                                            <td style="width:180px">
                                                {{record.invoiceType}}
                                            </td>
                                            <td style="width:170px">
                                                {{record.ammount}}
                                            </td>
                                            <td style="width:150px">
                                                {{record.invDate | date:'mediumDate'}}
                                            </td>
                                            <td style="width:150px">
                                                {{record.issued | date:'mediumDate' }}
                                            </td>
                                            <td style="width:160px">
                                                {{record.invoiceNotes}}
                                            </td>
                                            <!-- <td style="width:50px">
                                                <a (click)="downloadfile1(record.filenameinv,record.filePathinv)" class="btndownloaddocument">
                                                    <i class="las la-file-download fs-24"></i>
                                                </a>
                                            </td> -->
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getnewinstaller($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <span class="total-records-count">
                                        showing {{firstrowcount}}
                                        To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <viewApplicationModal #viewApplicationModal (modalSave)="getnewinstaller()"></viewApplicationModal>
        <createnewinstallerinvoice #createnewinstallerinvoice (modalSave)="getnewinstaller()"> </createnewinstallerinvoice>
        <editupdatenewinvoice #editupdatenewinvoice (modalSave)="getnewinstaller()"></editupdatenewinvoice>
        <editinstallerinvoice #editinstallerinvoice (modalSave)="getnewinstaller()"></editinstallerinvoice>

    </div>
</div>