<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #stockOrderStatusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="stockOrderStatus.id">{{l("EditStockOrderStatus")}}</span>
                        <span *ngIf="!stockOrderStatus.id">{{l("CreateNewStockOrderStatus")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="stockOrderStatus_StockOrderStatus">{{l("Name")}} *</label>
                                    <input type="text" #stockOrderStatus_StockOrderStatus="ngModel" id="stockOrderStatus_StockOrderStatus" class="form-control" [(ngModel)]="stockOrderStatus.name" name="name" required />
                                    <validation-messages [formCtrl]="stockOrderStatus_StockOrderStatus"></validation-messages>
                                    <span class="icon-box" ><i class="las la-edit"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="StockOrderStatus_IsActive">{{l("ISActive")}} </label>
                                    <input type="checkbox" id="StockOrderStatus_IsActive" class="form-control" [(ngModel)]="stockOrderStatus.isActive" name="isActive" style="width: 22px;" />
                                </div>
                            </div>
                        </div>


                    </div>



                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!stockOrderStatusForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>