<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Stock order status")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getStockorderstatus()"></button>
                            </li>

                            <li *ngIf="isGranted('Pages.Tenant.QuickStock.DataVaults.StockOrderStatus.Export')">
                                <div class="btn-group btnexceldropdown " dropdown>
                                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <i class="far fa-file-excel"></i> -->
                                        <!-- {{"ExcelOperations" | localize}} -->
                                        Export
                                        <img src="../../../assets/common/images/icon_downarrow.svg" />

                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                        <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            <i class="las la-file-csv"></i> CSV
                                        </a>

                                    </div>
                                </div>
                            </li>
                            <li *ngIf="isGranted('Pages.Tenant.QuickStock.DataVaults.StockOrderStatus.Create')"><button (click)="createStockorderstatus()" class="btn btn-outline-primary btnadd">
                                Add <i class="las la-plus-circle"></i>
                            </button></li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" autoFocus placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getStockorderstatus()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getStockorderstatus();searchLog();" />
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getStockorderstatus($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center"  [hidden]="!isGrantedAny('Pages.Tenant.QuickStock.DataVaults.StockOrderStatus.Edit', 'Pages.Tenant.QuickStock.DataVaults.StockOrderStatus.Delete')">
                                            {{l('Actions')}}</th>
                                        <th pSortableColumn="Name">
                                            {{l('Name')}}
                                            <p-sortIcon field="stockOrderStatus.name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="IsActive">
                                            {{l('IsActive')}}
                                            <p-sortIcon field="stockOrderStatus.IsActive"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr [pSelectableRow]="record"  >
                                        <td class="actionwidth text-center" [hidden]="!isGrantedAny('Pages.Tenant.QuickStock.DataVaults.StockOrderStatus.Edit', 'Pages.Tenant.QuickStock.DataVaults.StockOrderStatus.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <!-- <li>
                                                        <a href="javascript:;" (click)="viewserviceStatusModal.show(record)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}</a>
                                                    </li> -->
                                                    <li>
                                                        <a href="javascript:;"
                                                        *ngIf="permission.isGranted('Pages.Tenant.QuickStock.DataVaults.StockOrderStatus.Edit')"
                                                         (click)="createOrEditStockOrderStatusModal.show(record.stockOrderStatus.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                   
                                                 
                                                    <li>
                                                        <a href="javascript:;" 
                                                        *ngIf="permission.isGranted('Pages.Tenant.QuickStock.DataVaults.StockOrderStatus.Delete')"
                                                         (click)="deleteStockorderstatus(record.stockOrderStatus)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.stockOrderStatus.name}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('IsActive')}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.stockOrderStatus.isActive">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.stockOrderStatus.isActive">{{'No' | localize}}</span>
                                        </td>
                                    </tr>

                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getStockorderstatus($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditStockOrderStatusModal #createOrEditStockOrderStatusModal (modalSave)="getStockorderstatus()">
        </createOrEditStockOrderStatusModal>
        <!-- <viewserviceStatusModal #viewserviceStatusModal></viewserviceStatusModal> -->

    </div>
</div>