<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("User Detail Report")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <!-- <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a> -->
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getUserDetail();RereshLog();"></button>
                                </li>
                                <li *ngIf="'Pages.Report.UserDetails.Export' | permission">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel('UserDetail.xlsx')" href="javascript:;" >
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel('UserDetail.csv')" href="javascript:;" >
                                                <i class="las la-file-excel"></i> CSV
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="onOrganizationUnitChange();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" [(ngModel)]="filterName" name="filterName">
                                                <option value="Name">Name</option>
                                                <option value="Mobile">Mobile</option>
                                                <option value="Extension">Extension</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <!-- <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span> -->
                                            <input type="text" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filterText" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText=''"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getUserDetail();addSearchLog('Filter' + filterName +  ' : ' + filterText);"/> 
                                            
                                        </div>
                                        <!-- <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" *ngIf="!FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div> -->

                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div> -->
                </div>
            </div>
        </div>

        <!-- <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{this.Totalsmscount}}</span><label>SMS</label></li>
                    <li><span>{{this.TotalcreditCount}}</span><label>Credit</label></li>
                    <li><span>{{this.TotalAmount}}</span><label>Amount</label></li>
                </ul>
            </div>
        </div> -->

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center" [ngClass]="{'unselectable' : permission.isGranted('Pages.Report.LeadAssign.EnableCopyPaste')}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getUserDetail($event)"  [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:250px" class="p-frozen-column" pSortableColumn="FullName">
                                            UserName
                                            <p-sortIcon field="UserName"></p-sortIcon>
                                        </th>
                                        <th style="width:300px" pSortableColumn="EmailAddress">
                                            EmailAddress
                                            <p-sortIcon field="Email"></p-sortIcon>
                                        </th>
                                        
                                        <th style="width:250px" pSortableColumn="Mobile">
                                            Mobile
                                            <p-sortIcon field="Mobile"></p-sortIcon>
                                        </th>
                                        <th style="width:200px" pSortableColumn="ExtensionNumber">
                                            ExtensionNo
                                            <p-sortIcon field="Extension"></p-sortIcon>
                                        </th>
                                        <th style="width:200px">
                                            Organization
                                        </th>                                       
                                        <th style="width:400px">
                                            Roles
                                        </th>
                                                                               
                                        <th style="width:350px">
                                            Teams
                                        </th>
                                                                               
                                        <th style="width:100px" pSortableColumn="IsActive">
                                            Active
                                            <p-sortIcon field="IsActive"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="width:250px" class="p-frozen-column">{{record.userName}}</td>
                                        <td style="width:300px"> <span class="badge badge-secondary">{{record.email}}</span></td>
                                        <td style="width:250px"><span class="badge badge-secondary" >{{record.mobile}}</span></td>
                                        <td style="width:200px"><span class="badge badge-secondary" >{{record.extention}}</span></td>
                                        <td style="width:200px"><span class="badge badge-secondary" >{{record.organization}}</span></td>
                                        <td style="width:400px"><span class="badge badge-secondary">{{record.roles}}</span></td>
                                        <td style="width:350px"><span class="badge badge-secondary">{{record.teams}}</span></td>
                                        <td style="width:100px">
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.isActive">Yes</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.isActive">No</span>
                                        </td>
                                    </tr>
                                </ng-template>
                                <!-- <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Teams.Edit', 'Pages.Teams.Delete')">

                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.team.name}}
                                        </td>

                                    </tr>
                                </ng-template> -->
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getUserDetail($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                            showing {{firstrowcount}}
                            To {{last}}
                            <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
