<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Product Sold Report")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <!-- <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a> -->
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getLeadAssign();RereshLog();"></button>
                                </li>
                                <li *ngIf="'Pages.Report.ProductSold.Export' | permission">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel('ProductSold.xlsx')" href="javascript:;" *ngIf="'Pages.JobGrid.Export' | permission">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel('ProductSold.csv')" href="javascript:;" *ngIf="'Pages.JobGrid.Export' | permission">
                                                <i class="las la-file-excel"></i> CSV
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="onOrganizationUnitChange();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <!-- <div class="form-group selectdropdown">
                                            <select name="" class="form-control" [(ngModel)]="jobStatus" (change)="getLeadAssign($event)">
                                                <option value="0">select Job Status</option>
                                                <option *ngFor="let item of alljobstatus" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                            </select>
                                        </div> -->
                                        <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                            <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select JobStatus" [(ngModel)]="jobStatusIDFilter" name="jobStatusIDFilter">
                                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select name="" class="form-control" [(ngModel)]="productTypeid" (change)="getLeadAssign();addSearchLog('Filter Product Type');">
                                                <option value="0">Select Product Type</option>
                                                <option *ngFor="let item of allProductType" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <!-- <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span> -->
                                            <input type="text" class="form-control" placeholder="{{filterName}}" [ngClass]="{pl50: filterName == 'JobNumber' }" [(ngModel)]="filterText" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText=''"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getLeadAssign();addSearchLog('Filter JobNumber');" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" *ngIf="!FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                            <button class="btnadvfilter" *ngIf="FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="teamId" name="teamId">
                                                                    <option value="0">{{l("SelectTeam")}}</option>
                                                                    <option *ngFor="let item of filteredTeams"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="userFilter" name="userFilter">
                                                                    <option value="0">{{l("SelectUser")}}</option>
                                                                    <option *ngFor="let item of userList"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" id="areaNameFilter" name="areaNameFilter" [(ngModel)]="areaNameFilter">
                                                                    <option value="">Select Area</option>
                                                                    <option value="Metro">Metro</option>
                                                                    <option value="Regional">Regional</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="systemWithFilter" name="systemWithFilter">
                                                                    <option value="0">Select System With</option>
                                                                    <option value="1">With Battery</option>
                                                                    <option value="2">Without Battery</option>
                                                                    <option value="3">Only Battery</option>
                                                                    <option value="4">Only Inverter</option>
                                                                    <option value="5">Only Battery and Inverter</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" name="stateFilter" [(ngModel)]="datetype">
                                                                    <option value="CreationDate">Project Open</option>
                                                                    <option value="FirstDeposite">First Deposite</option>
                                                                    <option value="DepositeReceived">Deposite Received</option>
                                                                    <option value="Active">Active</option>
                                                                    <option value="InstallBook">Install Book</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <!-- <button class="btn btn_red btn-sm marright10"><i class="fa fa-times-circle"></i>{{l("Clear")}}</button> -->
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getLeadAssign();addSearchLog('Advance Filter');"><i class="fa fa-search"></i> {{l("Search")}}</button>

                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>

        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{this.total}}</span><label>Total</label></li>
                    <li><span>{{this.totalNSW}}</span><label>NSW</label></li>
                    <li><span>{{this.totalSA}}</span><label>SA</label></li>
                    <li><span>{{this.totalQLD}}</span><label>QLD</label></li>
                    <li><span>{{this.totalVIC}}</span><label>VIC</label></li>
                </ul>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center" [ngClass]="{'unselectable' : permission.isGranted('Pages.Report.LeadAssign.EnableCopyPaste')}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">

                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeadAssign($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:520px;" pSortableColumn="ProductItem">
                                            Product
                                            <p-sortIcon field="ProductItem"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Total">
                                            Total
                                            <p-sortIcon field="Total"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="NSW">
                                            NSW
                                            <p-sortIcon field="NSW"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="SA">
                                            SA
                                            <p-sortIcon field="SA"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="QLD">
                                            QLD
                                            <p-sortIcon field="QLD"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="VIC">
                                            VIC
                                            <p-sortIcon field="VIC"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="width:520px;">{{record.productItem}}</td>
                                        <td><a (click)="viewmodel(record.id,record.productItem)"><span class="badge badge-secondary">{{record.total}}</span></a></td>
                                        <td><span class="badge badge-secondary">{{record.nsw}}</span></td>
                                        <td><span class="badge badge-secondary">{{record.sa}}</span></td>
                                        <td><span class="badge badge-secondary">{{record.qld}}</span></td>
                                        <td><span class="badge badge-secondary">{{record.vic}}</span></td>
                                    </tr>
                                </ng-template>
                                <!-- <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Teams.Edit', 'Pages.Teams.Delete')">

                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.team.name}}
                                        </td>

                                    </tr>
                                </ng-template> -->
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeadAssign($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                            showing {{firstrowcount}}
                            To {{last}}
                            <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- <callDetailModal #callDetailModal (modalSave)="getUserCallHistory()"></callDetailModal> -->
        <productSoldPriceReportModel #productSoldPriceReportModel></productSoldPriceReportModel>
    </div>
</div>

<!-- <callDetailModal #callDetailModal></callDetailModal> -->