<div class="kt-portlet kt-portlet--height-fluid dashboardboxmain">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Invoice Status
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <h4>Date Range {{selectedDateRange[0] | momentFormat:'DD-MM-YYYY'}} To {{selectedDateRange[1] | momentFormat:'DD-MM-YYYY'}}</h4>
        <table>
            <thead>
                <tr>
                    <th>Organization Name</th>
                    <th></th>
                    <th>Planned</th>
                    <th>On Hold</th>
                    <th>Cancel</th>
                    <th>Deposite Received</th>
                    <th>Active</th>
                    <th>Job Book</th>
                    <th>Installation Completed</th>
                    <th>Job Installed</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of records">
                    <td>{{item.orgName}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.planned}}</td>
                    <td>{{item.onHold}}</td>
                    <td>{{item.cancel}}</td>
                    <td>{{item.depositeReceived}}</td>
                    <td>{{item.active}}</td>
                    <td>{{item.jobBook}}</td>
                    <td>{{item.jobIncomplete}}</td>
                    <td>{{item.jobInstalled}}</td>   
                    <td>{{item.total}}</td>                   
                </tr>
            </tbody>
        </table>
    </div>
</div>