#shadowbox {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }
  .dashboard_countbox{
      display: flex; flex-direction: column; justify-content: center;
      border:1px solid #ccc; border-radius: 4px; padding: 20px;
      align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,  0.2); margin-bottom: 15px; font-size: 18px;
  }
  .dashboard_countbox h3{
      font-weight:600; font-size: 22px;
  }
  .countmainarea{
      display: flex; flex-direction: row; justify-content:space-between; align-items: center;
  }
  .countmainarea li{
      margin:0px 5px; width: 20%;
  }
