<div class="kt-portlet kt-portlet--height-fluid dashboardboxmain">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Manager ToDo Detail List
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="ui-table">
        <table class="table table-bordered paddset_table1 brd_only_btm">
            <thead>
                <tr>
                    <th>CustomerName</th>
                    <th>ActivityNote</th>
                    <th>Task Given By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of records">
                    <td>{{item.customerName}}</td>
                    <td>{{item.activityNote}}</td>
                    <td>{{item.createdUser}}</td>
                    <a href="javascript:;" (click)="addremark(item.id)">
                        <img src="../../../assets/common/images/bookmark.svg" style="width: 16px;"/>
                        {{l('AddRemark')}}</a>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>