<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor ">
        <div class="kt-subheader kt-grid__item resultgridsearch">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title flex_colam"><span>{{l("Result")}}</span> <span class="result_text">{{filterText}}</span></h3>
                </div>
                <div>

                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container myleadtable col-12 scroll scroll-pull" data-scroll="true" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'leadcompanynamebar scrollone scroll1': ExpandedView === false || ExpandedView1 === false, 'col-12':ExpandedView === true || ExpandedView1 === true}">
                            <button class="btn btn-outline-primary btnadd btnback">
                        <img [src]="appRootUrl() + 'assets/common/images/pagi_nextactive.svg'" alt=""
                            (click)="expandGrid()" /></button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeads($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeads($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center p-frozen-column" style="width:45px !important;" alignFrozen="left" [hidden]="!(['Pages.Tenant.HeaderSearch.WholeSaleLead.ViewDetail','Pages.Tenant.HeaderSearch.WholeSaleLead.RequestToTransfer'] | permissionAny)">
                                            {{l('Actions')}}
                                        </th>
                                        <th pSortableColumn="companyName" style="width:150px">
                                            {{l('CopanyName')}}
                                            <!-- <p-sortIcon field="lead.companyName"></p-sortIcon> -->
                                        </th>
                                        <th style="width:150px;" [hidden]="!ExpandedView || !ExpandedView1">
                                            ABN Number
                                        </th>
                                        <th style="width:150px;" [hidden]="!ExpandedView || !ExpandedView1">
                                            {{l('Full Name')}}
                                        </th>
                                        <th style="width:150px;" [hidden]="!ExpandedView || !ExpandedView1">
                                            {{l('Status')}}
                                        </th>
                                        <th style="width:150px;" [hidden]="!ExpandedView || !ExpandedView1">
                                            Created
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [ngClass]="{'leadSelection': SelectedLeadId === record.createOrEditWholeSaleLeadDto.id}">

                                        <td class="actionwidth p-frozen-column" style="text-align: center; width:45px !important;" [hidden]="!(['Pages.Tenant.HeaderSearch.WholeSaleLead.ViewDetail','Pages.Tenant.HeaderSearch.WholeSaleLead.RequestToTransfer'] | permissionAny)">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Tenant.HeaderSearch.WholeSaleLead.ViewDetail')">
                                                        <a href="javascript:;" (click)="viewDetailsWholeSaleModal.show(record.createOrEditWholeSaleLeadDto.id)">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tenant.HeaderSearch.WholeSaleLead.RequestToTransfer')" *ngIf="roles.includes('Wholesale Manager') || roles.includes('Wholesale SalesRep')">
                                                        <a href="javascript:;" (click)="requestToTransferLead(record.createOrEditWholeSaleLeadDto.id)">
                                                            <i class="las la-binoculars"></i> {{l('RequestToTransfer')}}
                                                        </a>
                                                    </li>

                                                    
                                                    <li [hidden]="!isGrantedAny('Pages.Tenant.HeaderSearch.WholeSaleLead.RequestToMove')">
                                                        <a href="javascript:;" (click)="requestToMoveLead(record.createOrEditWholeSaleLeadDto.id)">
                                                            <i class="las la-binoculars"></i> {{l('Request To Move')}}
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>

                                        <td style="width:150px" class="gridleadimage" (click)="navigateToResultView(record.createOrEditWholeSaleLeadDto.id)">
                                            <!-- <img *ngIf="record.lead.leadStatusID == 5" [src]="appRootUrl() + 'assets/common/images/icon_flame.png'"> -->
                                            <!-- <img *ngIf="record.lead.leadStatusID == 4" [src]="appRootUrl() + 'assets/common/images/icon_orangesun.png'">
                                            <img *ngIf="record.lead.leadStatusID == 3" [src]="appRootUrl() + 'assets/common/images/icon_blueice.png'">
                                            <img *ngIf="record.lead.leadStatusID != 5 && record.lead.leadStatusID != 4 && record.lead.leadStatusID != 3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.png'"> -->
                                            <span class="ui-column-title"></span> {{record.createOrEditWholeSaleLeadDto.companyName}}
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView || !ExpandedView1">
                                            <span class="badge badge-pill bg-secondary amount">{{record.createOrEditWholeSaleLeadDto.abnNumber}}</span>
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView || !ExpandedView1">
                                            {{record.createOrEditWholeSaleLeadDto.firstName }} {{record.createOrEditWholeSaleLeadDto.lastName }}
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView || !ExpandedView1">
                                            {{record.createOrEditWholeSaleLeadDto.wholeSaleStatus}}
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView || !ExpandedView1">
                                            <span class="badge badge-pill bg-secondary amount d-flex align-items-center" style="max-width:125px; justify-content: center;">
                                                <i class="las la-calendar fs-22 mr-1"></i> {{record.createOrEditWholeSaleLeadDto.createTime}}
                                            </span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeads($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart right_side_scrool scrool_red top_no_bule" style="max-height: 75vh !important;">
                            <!-- <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}"></viewLeadDetail> -->
                        </div>
                        <div [hidden]="ExpandedView1 === true" class="leadedetailleftpart ">
                            <viewResultWholeSaleLead #viewResultWholeSaleLead SelectedLeadId="{{SelectedLeadId}}"></viewResultWholeSaleLead>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <viewResultWholeSaleLead #viewResultWholeSaleLead ></viewResultWholeSaleLead> -->
        <viewDetailsWholeSaleModal #viewDetailsWholeSaleModal></viewDetailsWholeSaleModal>
    </div>
</div>