<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }


    .primeng-datatable-container .ui-table .first {
        border: 2px solid white !important;    
    }
    .primeng-datatable-container .ui-table .first th{
    border: 1px solid white !important;
    text-align: center !important;
    }

    .primeng-datatable-container .ui-table .first .bordcolor_a {
    border-right: 3px solid #7367f0 !important;
    text-align: center !important;
    }

    .primeng-datatable-container .ui-table .second td{
        border :1px solid #ececec !important;
        text-align: center !important;
    }

    .primeng-datatable-container .ui-table .second .bordcolor{
       border-right:3px solid #7367f0  !important;
    }
    .srchbtn::before{
        color:#5374e1 !important;
        font-weight: 600 !important;
    }  
    

</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Lead Monthly Compare")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                   
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter"
                    [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div
                            class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getAcivityList();RereshLog();" class="btn_refresh"></button>
                                </li>
                              
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="allStates" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="displayName" placeholder="All States" [(ngModel)]="stateFilter" name="jobStatusID">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="allAreas" [multiple]="true" [closeOnSelect]="false" placeholder="All Area" [(ngModel)]="areaFilter" name="area">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <div>
                                                <select name="year" class="form-control" [(ngModel)]="selectedYear" >
                                                    <option *ngFor="let year of years" [value]="year">
                                                        {{year}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="monthsList" 
                                                   [multiple]="true" 
                                                   bindLabel="name" 
                                                   bindValue="id" 
                                                   placeholder="Select Months" 
                                                   [(ngModel)]="selectedMonths" 
                                                  
                                                   [closeOnSelect]="false">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="month-{{index}}" type="checkbox" [ngModel]="item$.selected" name="month-{{index}}" /> 
                                                {{item.name}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <div>
                                                <select name="organizationid" class="form-control" [(ngModel)]="organizationid" (change)="getAcivityList();addSearchLog('Filter Organization');">
                                                    <option *ngFor="let item of allOrganizationUnits"
                                                        value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>

                                      

                                    </div>
                                </li>
                                <li>
                                    <button (click)="getAcivityList()" class="btnsearch" type="submit" style="border: 1px solid #7367f0 !important;
                                    background-color: white !important;
                                    padding: 4px !important;
                                    padding-left: 8px !important;
                                    border-radius: 4px;
                                    text-align: center !important;
                                    padding-right: 8px !important;
                                    color:#7367f0 !important">
                                     <i class="flaticon-search-1" style></i></button>
                                       
                                </li>
                                
                                
                              

                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

       

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center"
                        >
                       
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool"
                            [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getAcivityList($event)"
                                [value]="primengTableHelper.records" selectionMode="single"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                                [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr style="border:2px solid white !important; " class="first">
                                        <th class="comparisontable bordcolor_a" style="width: 140px;border:1px solid white;" rowspan="2"
                                            pSortableColumn="Year" class="p-frozen-column">
                                            Lead Source
                                            <p-sortIcon field="Year"></p-sortIcon>
                                        </th>
                                        <th class="comparisontable bordcolor_a" [style.width]='logoWidth' [attr.colspan]="colspan"
                                            style="text-align:center;" *ngFor="let month of allHeaders" >
                                             {{ month}}
                                        </th>
                                        

                                    </tr>
                                    <tr class="first">
                                        <ng-container  *ngFor="let month of allHeaders">
                                        <th class="comparisontable" style="width: 164px;" pSortableColumn="Jan_Lead" >
                                            Lead<p-sortIcon field="Jan_Lead"></p-sortIcon></th>
                                        <th class="comparisontable" style="width: 162px;"
                                            pSortableColumn="Jan_PanelSold_KW" >KW Sold/BatteryKW<p-sortIcon
                                                field="Jan_PanelSold_KW"></p-sortIcon></th>
                                        <th class="comparisontable" style="width: 162px;"
                                            pSortableColumn="Jan_Installed_KW"  >KW Installed<p-sortIcon
                                                field="Jan_Installed_KW"></p-sortIcon></th>
                                        <th class="comparisontable bordcolor_a" style="width: 161px;"
                                            pSortableColumn="Jan_Expence" >Expence<p-sortIcon
                                                field="Jan_Expence"></p-sortIcon></th>
                                        </ng-container>
                                    </tr>

                                </ng-template>
                                <ng-template pTemplate="body" pTemplate="body" let-record="$implicit">
                                    <tr class="second" [pSelectableRow]="record">

                                        <td  style="width: 140px;" class="p-frozen-column bordcolor">{{record.leadsource }}</td>
                                                   
                                                    <ng-container *ngFor="let month of allHeaders">
                                                        <ng-container *ngFor="let compare of record.compareValues">
                                                            <ng-container *ngIf="monthNames[compare.month - 1] === month">
                                                                 
                                                                 <td style="width: 150px;"  class="comparisontable">{{compare.totalLead }}</td>
                                                                 <td style="width: 150px;"  class="comparisontable">{{compare.panelSold_KW | number: '1.2-2'}} / {{compare.batterySold_KW| number:'1.2-2'}}</td>
                                                                 <td style="width: 150px;"  class="comparisontable">{{compare.installed_KW | number: '1.2-2'}}</td>
                                                                 <td  style="width: 151px; "  class="comparisontable bordcolor">{{compare.spend | number: '1.2-2'}}</td>

                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                       
                                        
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr *ngIf="monthlyTotals.length" class="second">
                                        <td style="width: 140px;" class="comparisontable">Total</td>
                                        <ng-container *ngFor="let monthTotal of monthlyTotals">
                                            <td style="width: 150px;"   class="comparisontable">{{ monthTotal.totalLead | number: '1.2-2'}}</td>
                                            <td style="width: 150px;"  class="comparisontable">{{ monthTotal.panelSold_KW  | number: '1.2-2'}} / {{ monthTotal.batterySold_KW  | number: '1.2-2'}}</td>
                                            <td style="width: 150px;" class="comparisontable">{{ monthTotal.installed_KW | number: '1.2-2' }}</td>
                                            <td style="width: 151px;"  class="comparisontable">{{ monthTotal.spend | number: '1.2-2' }}</td>
                                        </ng-container>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getAcivityList($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}}
                                    Records
                                </span>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>

