<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #stateForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="state.id">Update  - {{state.name}}</span>
                        <span *ngIf="!state.id">{{l("CreateHouseType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-4">
                            <div class="form-group form-icon ">
                                <label for="batteryRebate">{{l("Bess")}} *</label>
                                <input type="number" id="HouseType_Name" class="form-control" [(ngModel)]="state.batteryRebate" name="batteryRebate" required />
                                <span class="icon-box"><i class="las la-home"></i></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-icon ">
                                <label for="batteryRebate">{{l("BatteryBess")}} *</label>
                                <input type="number" id="batteryBess" class="form-control" [(ngModel)]="state.batteryBess" name="batteryBess" required />
                                <span class="icon-box"><i class="las la-home"></i></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-icon">
                                <label>Is Active Battery Rebate</label>
                                <input type="checkbox"  class="form-control" [(ngModel)]="state.isActiveBatteryRebate" name="isActiveBatteryRebate" style="width: 22px;" />
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!stateForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>