﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #postCodeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="postCode.id">{{l("EditPostCode")}}</span>
                        <span *ngIf="!postCode.id">Create New Post Code</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                            <div class="form-group form-icon ">
                                <label for="StateName">{{l("State")}}</label>
                                <select name="postCode.stateId" [(ngModel)]="postCode.stateId" class="form-control" required>
									<option selected  value="">{{l("SelectAState")}}</option>
									<option *ngFor="let item of allStates" value="{{item.id}}">{{item.displayName}}</option>
								</select>
                                <span class="icon-box"><i class="las la-globe"></i></span>
                            </div>
                            </div>
                            <div class="col-md-6">
                             <div class="form-group form-icon ">
                                <label for="PostCode_PostalCode">{{l("PostalCode")}} *</label>
                                <input type="text" id="PostCode_PostalCode" class="form-control" [(ngModel)]="postCode.postalCode" name="PostalCode" pattern="(/^[0-9]+$/)" minlength="2" maxlength="50" required/>
                                <span class="icon-box"><i class="lab la-product-hunt"></i></span>
                                </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group form-icon">
                                <label for="PostCode_Suburb">{{l("Suburb")}} *</label>
                                <input type="text" id="PostCode_Suburb" class="form-control" [(ngModel)]="postCode.suburb" name="Suburb" minlength="2" maxlength="50" required/>
                                <span class="icon-box"><i class="las la-map-signs"></i></span>
                            </div>
                             </div>
                            <div class="col-md-6">
                            <div class="form-group form-icon ">
                                <label for="PostCode_POBoxes">{{l("POBoxes")}} *</label>
                                <input type="text" id="PostCode_POBoxes" class="form-control" [(ngModel)]="postCode.poBoxes" name="POBoxes" minlength="2" maxlength="50" required/>
                                <span class="icon-box"><i class="lab la-product-hunt"></i></span>
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-group form-icon ">
                                <label for="PostCode_Area">{{l("Area")}}</label>
                                <input type="text" id="PostCode_Area" class="form-control" [(ngModel)]="postCode.area" name="Area" minlength="2" maxlength="50" />
                                <span class="icon-box"><i class="las la-map-marked"></i></span>
                            </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-group form-icon ">
                                <label for="PostCode_Area">{{l("SelectArea")}} *</label>
                                <select class="form-control" [(ngModel)]="postCode.areas" name="postCode.areas">
										<option value="">{{l("SelectArea")}}</option>
										<option value="Metro">{{l("Metro")}}</option>
										<option value="Regional">{{l("Regional")}}</option>
									</select>
                                    <span class="icon-box"><i class="las la-map-marked"></i></span>
                            </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                 <label>Is-Active</label>
                                 <input type="checkbox"  class="form-control" [(ngModel)]="postCode.isActive" name="isActive" style="width: 22px;" />
                               </div>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>  {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>