﻿<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
				<span *ngIf="active && postCode.id">Edit Post Code</span>
				<span *ngIf="active && !postCode.id">Create New Post Code</span>
			</h3>
			<span class="kt-subheader__separator kt-subheader__separator--v"></span>
			<div class="kt-subheader__breadcrumbs">
				<a [routerLink]="['/app/main/postCodes/postCodes']"
					class="kt-subheader__breadcrumbs-home"><i
						class="flaticon2-shelter"></i>{{l("PostCode")}}</a>
				<span class="kt-subheader__breadcrumbs-separator"></span>
				<a 
					class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
					<span *ngIf="active && postCode.id">{{l("Edit")}}</span>
					<span *ngIf="active && !postCode.id">{{l("Create")}}</span>
				</a>
			</div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">              
                
					<div class="form-group m-form__group">
						<label for="StateName">{{l("State")}}</label>
						<select name="postCode.stateId" [(ngModel)]="postCode.stateId" class="form-control" required>
							<option value="">{{l("SelectAState")}}</option>
							<option *ngFor="let item of allStates" value="{{item.id}}">{{item.displayName}}</option>
						</select>
					</div>
					 
                
								<div class="form-group">
									<label for="PostCode_PostalCode">{{l("PostalCode")}} *</label>
									<input type="text" id="PostCode_PostalCode" class="form-control" [(ngModel)]="postCode.postalCode" name="PostalCode"  pattern="(/^[0-9]+$/)"  minlength="2"  maxlength="50"  required/>
								</div>
					
								<div class="form-group">
									<label for="PostCode_Suburb">{{l("Suburb")}} *</label>
									<input type="text" id="PostCode_Suburb" class="form-control" [(ngModel)]="postCode.suburb" name="Suburb"   minlength="2"  maxlength="50"  required/>
								</div>
					
								<div class="form-group">
									<label for="PostCode_POBoxes">{{l("POBoxes")}} *</label>
									<input type="text" id="PostCode_POBoxes" class="form-control" [(ngModel)]="postCode.poBoxes" name="POBoxes"   minlength="2"  maxlength="50"  required/>
								</div>
					
								<div class="form-group">
									<label for="PostCode_Area">{{l("Area")}}</label>
									<input type="text" id="PostCode_Area" class="form-control" [(ngModel)]="postCode.area" name="Area"   minlength="2"  maxlength="50" />
								</div>
					
            </div>
              <div class="kt-portlet__foot">			  
				<div class="col-lg-12">
					<button (click)="save()" class="btn btn-primary blue"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> 
                        <span>{{l("Save")}}</span>
                    </button>               
				</div>
		    </div>
        </div>
    </div>
  </div>
  
</div>
