﻿<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("PostCodes")}}</span>
                        <span class="total-records-count">
                    ({{(primengTableHelper.totalRecordsCount)}})
                </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getPostCodes()"></button>
                            </li>

                            <li>
                                <div class="btn-group btnexceldropdown" dropdown>
                                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <!-- <i class="far fa-file-excel"></i> -->
                            <!-- {{"ExcelOperations" | localize}} -->
                            Export
                            <img src="../../../assets/common/images/icon_downarrow.svg" />
            
                        </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                        <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            <i class="las la-file-csv"></i> CSV
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            <i class="las la-file-pdf"></i> PDF
                                        </a>

                                    </div>
                                </div>
                            </li>
                            <li><button *ngIf="isGranted('Pages.PostCodes.Create')" (click)="createOrEditPostCodeModal.show()" class="btn btn-outline-primary btnadd">
                        Add <i class="las la-plus-circle"></i>
                </button></li>
                            <li>
                                <div class="kt-searchmainbox advancesearch searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" [placeholder]="l('SearchWithThreeDot')" [(ngModel)]="filterText" (keydown.enter)="getPostCodes()" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getPostCodes()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getPostCodes()" />
                                    </div>
                                    <div class="kt-advfilterbox">
                                        <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                            <i class="las la-sliders-h"></i>
                                        </a>
                                    </div>

                                    <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                        <h3>Advance Filters </h3>
                                        <div class="advfilterform">

                                            <form (submit)="getPostCodes()" id="my-form" autocomplete="new-password">
                                                <div>
                                                    <ul>
                                                        <li>
                                                            <div class="form-group">
                                                                <!-- <label for="PostalCodeFilter">{{l("PostalCode")}}</label> -->
                                                                <input type="text" class="form-control" id="PostalCodeFilter" name="postalCodeFilter" placeholder='{{l("PostalCode")}}' [(ngModel)]="postalCodeFilter">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group">
                                                                <!-- <label for="SuburbFilter">{{l("Suburb")}}</label> -->
                                                                <input type="text" class="form-control" id="SuburbFilter" name="suburbFilter" placeholder='{{l("Suburb")}}' [(ngModel)]="suburbFilter">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group">
                                                                <!-- <label for="POBoxesFilter">{{l("POBoxes")}}</label> -->
                                                                <input type="text" class="form-control" id="POBoxesFilter" name="poBoxesFilter" placeholder='{{l("POBoxes")}}' [(ngModel)]="poBoxesFilter">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group">
                                                                <!-- <label for="AreaFilter">{{l("Area")}}</label> -->
                                                                <input type="text" class="form-control" id="AreaFilter" name="areaFilter" placeholder='{{l("Area")}}' [(ngModel)]="areaFilter">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group">
                                                                <!-- <label for="StateNameFilter">({{l("State")}}) {{l("Name")}}</label> -->
                                                                <input type="text" class="form-control" id="StateNameFilter" placeholder='{{l("State")}} {{l("Name")}}' name="stateNameFilter" [(ngModel)]="stateNameFilter">
                                                            </div>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button name="RefreshButton" class="btn btn-secondary btn_red btn-sm">
                                                {{'Clear' | localize}}</button>
                                                            <button name="RefreshButton" class="btn btn-primary btn-sm marginleft10"><i class="fa fa-search"></i>
                                                {{'Search' | localize}}</button>
                                                        </li>
                                                    </ul>


                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!--<div class="kt-buttonarea">  
                 <button (click)="exportToExcel()" class="btn btn-outline-primary">              
                     Excel
                 <img [src]="appRootUrl() + 'assets/common/images/csv_arrow.svg'" alt="" />  
                </button>               
                </div> -->

                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">


                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getPostCodes($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.PostCodes.Edit', 'Pages.PostCodes.Delete')">{{l('Actions')}}</th>
                                        <th style="width:130px" pSortableColumn="stateFk.name">
                                            {{l('State')}}
                                            <p-sortIcon field="stateName"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" pSortableColumn="postalCode">
                                            {{l('PostalCode')}}
                                            <p-sortIcon field="postCode.postalCode"></p-sortIcon>
                                        </th>
                                        <th style="width: 30%" pSortableColumn="suburb">
                                            {{l('Suburb')}}
                                            <p-sortIcon field="postCode.suburb"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="poBoxes">
                                            {{l('POBoxes')}}
                                            <p-sortIcon field="postCode.poBoxes"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="area">
                                            {{l('Area')}}
                                            <p-sortIcon field="postCode.area"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="areas">
                                            {{l('Areas')}}
                                            <p-sortIcon field="postCode.areas"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="isActive">
                                            {{l('IsActive')}}
                                            <p-sortIcon field="postCode.isActive"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.PostCodes.Edit', 'Pages.PostCodes.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" (click)="viewPostCodeModal.show(record)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.PostCodes.Edit')" (click)="createOrEditPostCodeModal.show(record.postCode.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.PostCodes.Delete')" (click)="deletePostCode(record.postCode)">
                                                            <i class="las la-trash "></i> {{l('Delete')}}
                                                        </a>
                                                    </li>


                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:130px">
                                            <span class="ui-column-title"> {{l('State')}}</span> {{record.stateName}}
                                        </td>
                                        <td style="width:130px">
                                            <span class="ui-column-title"> {{l('PostalCode')}}</span> {{record.postCode.postalCode}}
                                        </td>
                                        <td style="width:30%">
                                            <span class="ui-column-title"> {{l('Suburb')}}</span> {{record.postCode.suburb}}
                                        </td>
                                        <td style="width:150px">
                                            <span class="ui-column-title"> {{l('POBoxes')}}</span> {{record.postCode.poBoxes}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Area')}}</span> {{record.postCode.area}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Areas')}}</span> {{record.postCode.areas}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('IsActive')}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.postCode.isActive">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.postCode.isActive">{{'No' | localize}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getPostCodes($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>


        <createOrEditPostCodeModal #createOrEditPostCodeModal (modalSave)="getPostCodes()"></createOrEditPostCodeModal>
        <viewPostCodeModal #viewPostCodeModal></viewPostCodeModal>


    </div>
</div>