﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <h6>({{l("State")}}) {{l("Name")}} :</h6>
                            {{item.stateName}}
                        </div>
                        <div class="col-6 mb-3">
                            <h6>{{l("PostalCode")}} :</h6>
                            {{ item.postCode.postalCode }}
                        </div>
                        <div class="col-6 mb-3">
                            <h6>{{l("Suburb")}} :</h6>
                            {{ item.postCode.suburb }}
                        </div>
                        <div class="col-6 mb-3">
                            <h6>{{l("POBoxes")}} :</h6>
                            {{ item.postCode.poBoxes }}
                        </div>
                        <div class="col-6 mb-3">
                            <h6>{{l("Area")}} :</h6>
                            {{ item.postCode.area }}
                        </div>
                        <div class="col-6 mb-3">
                            <h6>{{l("Areas")}} :</h6>
                            {{ item.postCode.areas }}
                        </div>



                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i class="las la-times-circle"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>