<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("User Call History")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <!-- <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a> -->
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter"
                    [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div
                            class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" name="btn_refresh" class="btn_refresh"
                                        (click)="getUserCallHistory();RereshLog();"></button>
                                </li>
                                <li *ngIf="'Pages.CallHistory.UserCallHistory.Export' | permission">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button"
                                            class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations"
                                            *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton"
                                                (click)="exportToExcel(1)" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton"
                                                (click)="exportToExcel(2)" href="javascript:;">
                                                <i class="las la-file-excel"></i> CSV
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select name="OrganizationUnits" class="form-control"
                                                [(ngModel)]="organizationUnit"
                                                (change)="onOrganizationUnitChange();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <!-- <div class="kt-stextbox">
                                        <select name="userFilter" class="form-control" [(ngModel)]="userFilter" (change)="getUserCallHistory($event)">
                                            <option value=0>{{l("Select User")}}</option>
                                             <option *ngFor="let item of userList" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div> -->
                                    <div class="kt-searchmainbox">
                                        <div class="kt-stextbox" style="overflow:inherit;">
                                            <div class="form-group form-icon mb-0">
                                                <p-autoComplete id="installerIds" name="installerIds"
                                                    [suggestions]="userSearchResult"
                                                    (completeMethod)="filterUser($event)" [minLength]="1"
                                                    [placeholder]="l('Select User')" inputStyleClass="form-control"
                                                    styleClass="pl-4 w-275px"
                                                    (onSelect)="selectUser($event);addSearchLog('Filter User');"
                                                    field="displayName" (onClear)="selectUser($event)"
                                                    (keydown.enter)="selectUser($event);addSearchLog('Filter User');">
                                                    <ng-template let-result pTemplate="item">
                                                        <div class="result-item">
                                                            <div class="d-flex align-items-center mb-1">
                                                                <i class="las la-user-cog fs-16 mr-1"></i>
                                                                {{result.displayName}}
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-autoComplete>
                                                <span class="icon-box" style="z-index:1; top:-2px; padding:0 4px;"><i
                                                        class="las la-user-cog fs-20"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                </li>

                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox wdth250">
                                            <input type="text" name="text" class="form-control autoWidth"
                                                placeholder="Mobile" [(ngModel)]="filterText" />
                                            <a class="btnclearsearch" *ngIf="filterText"
                                                (click)="filterText='';getUserCallHistory();"><i
                                                    class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch"
                                                (click)="getUserCallHistory();addSearchLog('Filter Mobile');" />
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i
                                                    class="las la-filter"></i></a>
                                        </div>

                                        <!-- <div  *ngIf="!show" class="kt-advancefilterbox"> -->
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}"
                                            class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier
                                                                placeholder="Start Date" name="SampleDatePicker"
                                                                [(date)]="startDate"
                                                                [bsConfig]="{ customTodayClass: 'today' }"
                                                                class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate"
                                                                (click)="startDate=null"><i
                                                                    class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier
                                                                placeholder="End Date" name="SampleDatePicker"
                                                                [(date)]="endDate"
                                                                [bsConfig]="{ customTodayClass: 'today' }"
                                                                class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate"
                                                                (click)="endDate=null"><i
                                                                    class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10"
                                                                (click)="onClear()"><i
                                                                    class="fa fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53"
                                                                (click)="getUserCallHistory();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search"></i> {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}"
                        class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{this.totalCall}}</span><label>Total</label></li>
                    <li><span>{{this.totalMissed}}</span><label>Missed</label></li>
                    <li><span>{{this.totalOutbound}}</span><label>Outbound</label></li>
                    <li><span>{{this.totalInbound}}</span><label>Inbound</label></li>
                    <li><span>{{this.totalNotAnswered}}</span><label>Not Answered</label></li>
                </ul>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool"
                            [busyIf]="primengTableHelper.isLoading"
                            [ngClass]="{'unselectable' : permission.isGranted('Pages.CallHistory.UserCallHistory.EnableCopyPaste')}">

                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getUserCallHistory($event)"
                                [value]="primengTableHelper.records" selectionMode="single"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="userName">User
                                            <p-sortIcon field="userName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="missed" style="text-align:center;">Missed
                                            <p-sortIcon field="missed"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="outbound" style="text-align:center;">Outbound
                                            <p-sortIcon field="outbound"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="inbound" style="text-align:center;">Inbound
                                            <p-sortIcon field="inbound"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="notanswered" style="text-align:center;">Not Answered
                                            <p-sortIcon field="notanswered"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit"
                                    *ngIf="permission.isGranted('Pages.CallHistory.UserCallHistory.Detail')">
                                    <tr [pSelectableRow]="record">
                                        <td> {{record.userName}}</td>
                                        <td style="text-align:center;">
                                            <a (click)="viewModel(record.agent, 'Missed', record.userName)"><span
                                                    class="badge badge-danger">{{record.missed}}</span></a>
                                        </td>
                                        <td style="text-align:center;"><a
                                                (click)="viewModel(record.agent, 'Outbound', record.userName)"><span
                                                    class="badge badge-secondary">{{record.outbound}}</span></a></td>
                                        <td style="text-align:center;"><a
                                                (click)="viewModel(record.agent, 'Inbound', record.userName)"><span
                                                    class="badge badge-success">{{record.inbound}}</span></a></td>
                                        <td style="text-align:center;"><a
                                                (click)="viewModel(record.agent, 'Notanswered', record.userName)"><span
                                                    class="badge badge-warning">{{record.notanswered}}</span></a></td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit"
                                    *ngIf="!permission.isGranted('Pages.CallHistory.UserCallHistory.Detail')">
                                    <tr [pSelectableRow]="record">
                                        <td> {{record.userName}}</td>
                                        <td style="text-align:center;"><span
                                                class="badge badge-danger">{{record.missed}}</span></td>
                                        <td style="text-align:center;"><span
                                                class="badge badge-secondary">{{record.outbound}}</span></td>
                                        <td style="text-align:center;"><span
                                                class="badge badge-success">{{record.inbound}}</span></td>
                                        <td style="text-align:center;"><span
                                                class="badge badge-warning">{{record.notanswered}}</span></td>
                                    </tr>
                                </ng-template>

                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getUserCallHistory($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}}
                                    Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <callDetailModal #callDetailModal></callDetailModal>
    </div>
</div>