<div bsModal #subscriberEmailModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg addjobactiveSmsEmailModal financeSmsEmailModal">
        <div class="modal-content">
            <form #addActivityForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span >{{l("Email")}} 
                        </span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray p-0">

                    <div class="modal-white-box" style="width:96%; margin:0 auto 15px;" >
                        <div class="emailboxlayout">
                            <div class="activitysms smsemailbox brdrbottom1" >
                                <span class="labelttl"> EmailFrom </span> <span class="lowercase">
                                    <input type="text" name="emailFrom" [(ngModel)]="activityLog.emailFrom"
                                        placeholder="emailFrom" style="width:790px !important; padding-left:10px !important;" class="form-control pl-1 brd_none mr-0">
                                    </span>
                            </div>
                            <div class="activitysms smsemailbox brdrbottom1 templatebox">
                                <span class="labelttl">Subject</span>
                                <span class="text_capital subject">
                                    <input type="text" name="subject" [(ngModel)]="activityLog.subject"
                                        placeholder="write subject" style="width:790px !important; padding-left:10px !important;" class="form-control pl-1 brd_none mr-0">
                                </span>
                            </div>
                        </div>
                       


                        <div class="row" >
                            <div class="col-md-12">
                                <div class="form-group" >
                                    <!-- <p-editor [(ngModel)]="activityLog.body" aria-placeholder="EmailBody" name="activityLog.body" [style]="{'height':'200px'}" [(ngModel)]="activityLog.body"></p-editor> -->
                                    <email-editor [(ngModel)]="activityLog.body" name="HtmlEditorInput" style="min-width: 100%;" aria-placeholder="Email Body"></email-editor>

                                </div>
                                <!-- <div class="container-fluid maxwidth80 emailtemplatebox" *ngIf="activityLog.emailTemplateId != 0">
                                    <email-editor [(ngModel)]="activityLog.body" aria-placeholder="Email Body" name="HtmlEditorInput"></email-editor>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{("Cancel")}}</button>
                    <button  (click)="sendEmail()" id="btnSubmit" type="submit" class="btn btn-primary blue"  [disabled]="!addActivityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>Send</span></button>
                    
                </div>
            </form>
        </div>

    </div>

    <!-- <viewLeadDetail #viewLeadDetail></viewLeadDetail> -->
</div>