<style>
    .maxwidth80 {
        height: 92vh !important;
    }
    
    .jgsuws {
        background-color: #D8D6ED !important;
    }
</style>
<div class="container-fluid maxwidth80 emailtemplatebox">
    <div id="bar" class="email_set_div">

        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span *ngIf="!email.id">Create New Template</span>
                        <span *ngIf="email.id">Edit Template</span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox ">
                                            <input class="form-control" type="text" [(ngModel)]="email.subject" placeholder="Subject">
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select class="form-control" [(ngModel)]="email.organizationUnitId" name="SmsTemplate_Organization" placeholder="Organization">
                                                <option value="" selected>Organization</option>
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">{{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox ">
                                            <input class="form-control" type="text" [(ngModel)]="email.templateName" placeholder="Title">
                                        </div>
                                    </div>
                                </li>


                                <li><button (click)="saveDesign()" class="btn btn-primary min-width94 marginleft0"><i class="las la-save"></i>Save Design</button></li>
                                <li><button (click)="cancel()" class="btn btn-secondary marginleft0"><i class="las la-times-circle"></i>Cancel</button></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>



        <!--<button (click)="exportHtml()">Export HTML</button>-->
    </div>
    <div class="clear"></div>
    <div class="modal-white-box my-0">
        <email-editor (loaded)="editorLoaded($event)"></email-editor>
    </div>
</div>