<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("EmailTemplate")}}</span>
                        <span class="total-records-count">
                      ({{(primengTableHelper.totalRecordsCount)}})
                  </span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getEmailTemplate()"></button>
                                </li>
                                <li *ngIf="isGranted('Pages.Tenant.DataVaults.EmailTemplates.Create')"><button (click)="createEmailTemplate()" class="btn btn-outline-primary btnadd">
                                Add <i class="las la-plus-circle"></i></button></li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getEmailTemplate();searchLog()" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getEmailTemplate()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getEmailTemplate();searchLog()" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <form hidden class="kt-form pad25" autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="input-group-btn">
                                            <button (click)="getEmailTemplate()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [hidden]="!advancedFiltersAreShown">
                                <div class="col-md-12">
                                    <div class="kt-separator kt-separator--border-dashed"></div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="NameFilter">{{l("Name")}}</label>
                                        <input type="text" class="form-control" id="NameFilter" name="nameFilter" [(ngModel)]="nameFilter">
                                    </div>
                                </div>

                            </div>
                            <div class="row mb-2">
                                <div class="col-sm-12">
                                    <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                    <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getEmailTemplate($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.DataVaults.EmailTemplates.Edit', 'Pages.Tenant.DataVaults.EmailTemplates.Delete')">{{l('Actions')}}</th>
                                        <th pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="emailTemplate.templateName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="organization">
                                            {{l('Organization')}}
                                            <p-sortIcon field="organization"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="subject">
                                            {{l('Subject')}}
                                            <p-sortIcon field="emailTemplate.subject"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align:center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.DataVaults.EmailTemplates.Edit', 'Pages.Tenant.DataVaults.EmailTemplates.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                  <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                              </button>
                                                <ul class="dropdown-menu" *dropdownMenu>

                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.DataVaults.EmailTemplates.Edit')" (click)="createEmailTemplate(record.emailTemplate.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.DataVaults.EmailTemplates.Delete')" (click)="deleteEmailTemplate(record.emailTemplate)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.emailTemplate.templateName}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Organization')}}</span> {{record.organization}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.emailTemplate.subject}}
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getEmailTemplate($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                showing {{firstrowcount}}
                                To {{last}}
                                <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>