<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("AddNotes")}} - {{leadCompanyName}} - {{this.item.job.jobNumber}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label class="form-label col-md-12">Payment Option</label>
                                    <!-- <div class="col-md-12 pal2 parzero"> -->
                                        <select name="paymentOptionId" [(ngModel)]="item.job.paymentOptionId"
                                            class="form-control">
                                            <option *ngFor="let item of jobPaymentOptions" value="{{item.id}}">
                                                {{item.displayName}}
                                            </option>
                                        </select>
                                        <span class="icon-box"><i class="las la-list"></i></span>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="kt-sdropdown">
                                    <div class="form-group form-icon">
                                        <label class="form-label col-md-12">{{l("FinanceOption")}}</label>
                                        <select name="financeOptionId" id="financeOptionId"
                                            [(ngModel)]="item.job.financeOptionId" class="form-control" required>
                                            <option value=0>{{l("Select")}}
                                            </option>
                                            <option *ngFor="let item of jobFinOptions" value="{{item.id}}">
                                                {{item.displayName}}
                                            </option>
                                        </select>
                                        <span class="icon-box"><i class="las la-list"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="kt-sdropdown">
                                    <div class="form-group form-icon">
                                        <label class="form-label col-md-12">Deposit Option</label>
                                        <!-- <div class="col-md-12"> -->
                                            <select name="depositOptionId" id="depositOptionId"
                                                [(ngModel)]="item.job.depositOptionId" class="form-control">
                                                <option value=0>Select
                                                </option>
                                                <option *ngFor="let item of jobDepositOption" value="{{item.id}}">
                                                    {{item.displayName}}
                                                </option>
                                            </select>
                                            <span class="icon-box"><i class="las la-list"></i></span>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <div class="form-group maxwdth15">
                                        <label class="form-label">{{l("ApplicationDate")}}</label>
                                        <input type="text" name="financeApplicationDate"
                                            [(ngModel)]="financeApplicationDate" class="form-control daterangebox"
                                            placeholder="Select Date" bsDatepicker datePickerMomentModifier
                                            (ngModelChange)="onchange($event)" [(date)]="financeApplicationDate"
                                            [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("FinancePurchaseNo")}}</label>
                                    <input type="text" placeholder="Finance Purchase No" id="FinancePurchaseNo"
                                        class="form-control" name="FinancePurchaseNo"
                                        [(ngModel)]="item.job.financePurchaseNo" />
                                        <span class="icon-box"><i class="las la-edit"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <div class="form-group maxwdth15">
                                        <label class="form-label">{{l("DocumentsVeridiedDate")}}</label>
                                        <input type="text" name="documentsVeridiedDate"
                                            class="form-control daterangebox" placeholder="Select Date" bsDatepicker
                                            datePickerMomentModifier [(date)]="documentsVeridiedDate"
                                            [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <div class="form-group maxwdth15">
                                        <label class="form-label">{{l("CoolingoffPeriodEnd")}}</label>
                                        <input id="coolingoffPeriodEnd" type="text" name="coolingoffPeriodEnd"
                                            class="form-control daterangebox" disabled placeholder="Select Date"
                                            bsDatepicker datePickerMomentModifier [(date)]="coolingoffPeriodEnd"
                                            [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="kt-sdropdown">
                                    <div class="form-group form-icon selectdropdown m-form__group">
                                        <label class="form-label">{{l("DocumentVerifiedBy")}}</label>
                                        <select name="documentsVeridiedBy" id="documentsVeridiedBy" class="form-control"
                                            [(ngModel)]="item.job.documentsVeridiedBy" disabled>
                                            <option *ngFor="let item of userList" value="{{item.id}}">
                                                {{item.displayName}}
                                            </option>
                                        </select>
                                        <span class="icon-box"><i class="las la-question-circle"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label class="form-label">Document Verified</label>
                                    <select name="financeDocumentVerified" #financeDocumentVerifiedInput="ngModel"
                                        [(ngModel)]="item.job.financeDocumentVerified" required class="form-control"
                                        id="selectfnt">
                                        <option [ngValue]="2">Not Verify</option>
                                        <option [ngValue]="1">Verify</option>
                                        <option [ngValue]="3">Query</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-question-circle"></i></span>
                                    <validation-messages
                                        [formCtrl]="financeDocumentVerifiedInput"></validation-messages>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group mb-0">
                                    <label class="form-label">{{l("FinanceNotes")}}</label>
                                    <textarea #FinanceNotesInput="ngModel" name="FinanceNotes"
                                        [(ngModel)]="item.job.financeNotes" class="form-control height210"></textarea>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <label class="fntbold form-label">{{l("TotalQuotePrice")}}</label>
                                <div class="textboxddiv">${{item.totalCost}}.00/-</div>
                            </div>
                            <div class="col-md-4">
                                <label class="fntbold form-label">{{l("DepAmountPaid")}}</label>
                                <div class="textboxddiv">${{item.depPaid}}.00/-</div>
                            </div>
                            <div class="col-md-4">
                                <label class="fntbold form-label">{{l("BalanceDue")}}</label>
                                <div class="textboxddiv"> ${{item.balanceDue}}.00/-</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i>{{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i><span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>