<style>
    body {
        overflow-y: hidden;
    }
    
    bs-dropdown-container {
        z-index: 101 !important;
        top: -24.5% !important;
        left: 10px !important;
    }
    
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 100%;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="d-flex align-items-center">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>{{l("FinanceTracker")}}</span>
                            <span class="total-records-count">
                                ({{(total)}})
                            </span>
                        </h3>
                    </div>
                    <div class="dropdown help-dropdown" dropdown>
                        <a class="dropdown-toggle fs-30" dropdownToggle>
                            <i class="las la-question-circle"></i>
                        </a>
                        <ul class="dropdown-menu helpmenudorpdown" *dropdownMenu>
                            <li>Finance Company Selected Job Data Only After Invoice Payment</li>
                        </ul>
                    </div>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getJobs();RereshLog();"></button></li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{l("Export")}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.Tracker.FinanceTracker.Export' | permission">
                                                <i class="las la-file-excel"></i>{{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;" *ngIf="'Pages.Tracker.FinanceTracker.Export' | permission">
                                                <i class="las la-file-csv"></i>{{l("ExportCSV")}}
                                            </a>

                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getJobs();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="paymentid" [(ngModel)]="paymentid" class="form-control" (change)="getJobs();addSearchLog('Filter Payment Options');">
                                                <option Value='0'>{{l("PaymentOptions")}}</option>
                                                <option *ngFor="let item of jobPaymentOptions" value="{{item.id}}">
                                                    {{item.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="isVerified" #isVerified="ngModel" [(ngModel)]="isVerifiedData" class="form-control" (change)="getJobs();addSearchLog('Filter Verified');">
                                                <option [ngValue]="0">{{l("All")}}</option>
                                                <option [ngValue]="1">{{l("Verified")}}</option>
                                                <option [ngValue]="4">{{l("Awaiting")}}</option>
                                                <option [ngValue]="2">{{l("NotVerified")}}</option>
                                                <option [ngValue]="3">{{l("Query")}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                                <option value="FinancePurchaseNo">FinancePurchase No</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox apptrackeradv">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getJobs()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <!-- <li class="fullwidth">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="leadCompanyNameFilter" (keydown.enter)="getJobs($event)" name="leadCompanyNameFilter" placeholder="Company Name" [(ngModel)]="leadCompanyNameFilter">
                                                            </div>
                                                        </li> -->
                                                        <li class="form-group m-form__group">
                                                            <div class="form-group">
                                                                <select name="FinanceOptionNameFilter" #FinanceOptionNameFilter="ngModel" [(ngModel)]="stateFilter" class="form-control" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option Value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <!-- <li class="form-group m-form__group">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="Mobile" name="Mobile" placeholder="Mobile" [(ngModel)]="mobile" (keydown.enter)="getJobs($event)">
                                                            </div>
                                                        </li>
                                                        <li class="form-group m-form__group">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="Email" name="Email" placeholder="Email" [(ngModel)]="email" (keydown.enter)="getJobs($event)">
                                                            </div>
                                                        </li> -->
                                                        <li class="form-group m-form__group text-right">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">
                                                                {{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getJobs();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{total}}</span><label>{{l("Total")}}</label></li>
                    <li><span>{{totalVerify}}</span><label>{{l("Verified")}}</label></li>
                    <li><span>{{totalAwaiting}}</span><label>{{l("Awaiting")}}</label> </li>
                    <li><span>{{totalNotVerify}}</span><label>{{l("NotVerified")}}</label> </li>
                    <li><span>{{totalQuery}}</span><label>{{l("Query")}}</label> </li>
                </ul>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.Tracker.FinanceTracker.EnableCopyPaste' | permission)}">
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center p-frozen-column" [hidden]="!(['Pages.Tracker.FinanceTracker.AddDetails','Pages.Tracker.FinanceTracker.Notify','Pages.Tracker.FinanceTracker.SMS','Pages.Tracker.FinanceTracker.Email','Pages.Tracker.FinanceTracker.QuickView','Pages.Tracker.FinanceTracker.ToDo','Pages.Tracker.FinanceTracker.Reminder','Pages.Tracker.FinanceTracker.Comment'] | permissionAny)">
                                            {{l('Actions')}}</th>
                                        <th style="width: 120px; left:95px !important;" class="p-frozen-column" pSortableColumn="jobNumber">
                                            {{l('ProjNo')}}
                                            <p-sortIcon field="jobNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="financePurchaseNo" [hidden]="!ExpandedView">
                                            {{l('FinancePurchaseNo')}}
                                            <p-sortIcon field="financePurchaseNo"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="financeDocumentVerified" [hidden]="!ExpandedView">
                                            {{l('DocumentVerified')}}
                                            <p-sortIcon field="financeDocumentVerified"></p-sortIcon>
                                        </th>

                                        <th style="width:180px" pSortableColumn="JobStatusFk.Name" [hidden]="!ExpandedView">
                                            {{l('JobStatus')}}
                                            <p-sortIcon field="jobStatus"></p-sortIcon>
                                        </th>
                                        <th style="width: 180px" pSortableColumn="leadFk.companyName" [hidden]="!ExpandedView">
                                            {{l('CompanyName')}}
                                            <p-sortIcon field="companyName"></p-sortIcon>
                                        </th>
                                        <!-- <th style="width: 140px" pSortableColumn="leadFk.mobile" [hidden]="!ExpandedView">
                                            {{l('Mobile')}}
                                            <p-sortIcon field="mobile"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="leadFk.email" [hidden]="!ExpandedView">
                                            {{l('Email')}}
                                            <p-sortIcon field="email"></p-sortIcon>
                                        </th> -->
                                        <th style="width: 200px" pSortableColumn="address" [hidden]="!ExpandedView">
                                            {{l('Address')}}
                                            <p-sortIcon field="address"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" pSortableColumn="financeSmsSend" [hidden]="!ExpandedView">
                                            {{l('SmsSend')}}
                                            <p-sortIcon field="financeSmsSend"></p-sortIcon>
                                        </th>
                                        <th style="width:130px" pSortableColumn="financeEmailSend" [hidden]="!ExpandedView">
                                            {{l('EmailSend')}}
                                            <p-sortIcon field="financeEmailSend"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('CurrentLeadOwaner')}}
                                        </th>

                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Reminder')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.leadId}">
                                        <td class="actionwidth p-frozen-column" style="text-align: center; width:95px;" [hidden]="!(['Pages.Tracker.FinanceTracker.AddDetails','Pages.Tracker.FinanceTracker.Notify','Pages.Tracker.FinanceTracker.SMS','Pages.Tracker.FinanceTracker.Email','Pages.Tracker.FinanceTracker.QuickView','Pages.Tracker.FinanceTracker.ToDo','Pages.Tracker.FinanceTracker.Reminder','Pages.Tracker.FinanceTracker.Comment'] | permissionAny)">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.FinanceTracker.QuickView')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.id,3,'Finance Tracker')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.FinanceTracker.AddDetails')">
                                                        <a href="javascript:;" (click)="addDetails(record.id)">
                                                            <i class="las la-plus-circle"></i> {{l('AddDetails')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.FinanceTracker.Notify')">
                                                        <a (click)="notifyModel.show(record.leadId,3,0,'Finance Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,9,0,3)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.FinanceTracker.Reminder')">
                                                        <a (click)="ReminderModal.show(record.leadId,3,0,'Finance Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,8,0,3)"> -->
                                                            <i class="las la-stopwatch"></i> Reminder
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.FinanceTracker.Comment')">
                                                        <a (click)="commentModel.show(record.leadId,3,0,'Finance Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,24,0,3)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.FinanceTracker.ToDo')">
                                                        <a (click)="todoModal.show(record.leadId,3,0,'Finance Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,25,0,3)"> -->
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.FinanceTracker.SMS')">
                                                        <a (click)="smsModel.show(record.leadId,3,0,'Finance Tracker')">
                                                            <!-- <a (click)="financeTrackerSmsEmailModal.show(record.leadId,1,3)"> -->
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.FinanceTracker.Email')">
                                                        <a (click)="emailModel.show(record.leadId,3,0,0,'Finance Tracker')">
                                                            <!-- <a (click)="financeTrackerSmsEmailModal.show(record.leadId,2,3)"> -->
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 120px; left:95px !important;" class="p-frozen-column" (click)="navigateToLeadDetail(record.leadId);">
                                            {{record.jobNumber}}
                                        </td>
                                        <td style="width: 200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.financePurchaseNo}}</span>
                                        </td>
                                        <td style="width: 200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-success" *ngIf="record.financeDocumentVerified == 1">{{l("Verify")}}</span>
                                            <span class="badge badge-pill badge-danger" *ngIf="record.financeDocumentVerified == 2 || record.financeDocumentVerified == 0">{{l("NotVerify")}}</span>
                                            <span class="badge badge-pill badge-secondary" *ngIf="record.financeDocumentVerified == 3">{{l("Query")}}</span>
                                            <span class="badge badge-pill badge-secondary" *ngIf="record.financeDocumentVerified == 4">{{l("Awaiting")}}</span>
                                        </td>
                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            <span class="{{record.jobStatusColorClass}}">{{record.jobStatus}}</span>
                                        </td>
                                        <td style="width: 180px" [hidden]="!ExpandedView">
                                            {{record.companyName}}
                                        </td>
                                        <!-- <td style="width: 140px" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary amount">{{record.mobile}}</span>
                                        </td>
                                        <td style="width: 200px" [hidden]="!ExpandedView" class="lower_text">
                                            <span [tooltip]="record.email" class="tooltipcnt">{{record.email}}</span>
                                        </td> -->
                                        <td style="width: 200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.address" class="tooltipcnt">
                                                {{record.address | titlecase}} {{record.suburb | titlecase}}
                                                {{record.state }}{{record.postalCode}} </span>
                                        </td>
                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title"> {{l('SmsSend')}}</span> -->
                                            <Span *ngIf="record.financeSmsSend == 1" [tooltip]="record.financeSmsSendDate | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success"> {{l("Yes")}}
                                            </Span>
                                            <Span *ngIf="record.financeSmsSend != 1" [tooltip]="record.financeSmsSendDate | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}} </Span>
                                        </td>
                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title"> {{l('EmailSend')}}</span> -->
                                            <Span *ngIf="record.financeEmailSend == 1" [tooltip]="record.financeEmailSendDate | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss'" class="kt-badge kt-badge--success tooltipcnt"> {{l("Yes")}}
                                            </Span>
                                            <Span *ngIf="record.financeEmailSend != 1" [tooltip]="record.financeEmailSendDate | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}} </Span>
                                        </td>
                                        <td style="width: 200px" [hidden]="!ExpandedView">
                                            {{record.currentLeadOwaner}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.activityReminderTime}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.activityDescription">{{record.activityDescription}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.activityComment">{{record.activityComment}}</span>
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getJobs($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <!-- <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <financeDetailModal #financeDetailModal (modalSave)="getJobs()"></financeDetailModal>
        <!-- <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal> -->
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <!-- <financeTrackerSmsEmailModal #financeTrackerSmsEmailModal (modalSave)="getJobs()"></financeTrackerSmsEmailModal> -->
        <smsModel #smsModel></smsModel>
        <emailModel #emailModel></emailModel>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="getJobs()"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="getJobs()"></ReminderModal>
    </div>
</div>