<style>
    .form-icon .icon-box {
        top: 31px !important;
        padding: 0 6px !important;
    }
</style>
<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg largemodel">

        <div class="modal-content">

            <form *ngIf="active" #editForm="ngForm" novalidate (ngSubmit)="save()">

                <div class="modal-header">
                    <h5 class="modal-title">
                        <span *ngIf="organizationUnit.id">{{"Edit" | localize}}: {{organizationUnit.displayName}}
                        </span>
                        <span *ngIf="!organizationUnit.id">{{"NewOrganizationUnit" | localize}}</span>
                    </h5>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                        <div class="boxshadownone tenantsettings">
                            <div class="tab_design tab-new">
                                <tabset>
                                    <tab heading="{{'General' | localize}}" [active]="activeTabIndex == 0">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div
                                                    class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                    <label for="OrganizationUnitDisplayName">{{"Name" | localize}}
                                                        *</label>
                                                    <input id="OrganizationUnitDisplayName"
                                                        #organizationUnitDisplayName="ngModel" class="form-control"
                                                        type="text" name="displayName"
                                                        [ngClass]="{'edited': organizationUnit.displayName}"
                                                        [(ngModel)]="organizationUnit.displayName" required
                                                        maxlength="128">
                                                    <span class="icon-box"><i class="las la-building"></i></span>
                                                    <validation-messages [formCtrl]="organizationUnitDisplayName">
                                                    </validation-messages>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div
                                                    class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                    <label for="OrganizationOrganizationCode">{{"OrganizationCode" |
                                                        localize}} *</label>
                                                    <input id="OrganizationOrganizationCode"
                                                        #OrganizationOrganizationCode="ngModel" class="form-control"
                                                        type="text" name="OrganizationCode"
                                                        [ngClass]="{'edited': organizationUnit.organizationCode}"
                                                        [(ngModel)]="organizationUnit.organizationCode" required
                                                        maxlength="4">
                                                    <span class="icon-box"><i class="las la-code-branch"></i></span>
                                                    <validation-messages [formCtrl]="OrganizationOrganizationCode">
                                                    </validation-messages>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div
                                                    class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                    <label for="organizationProjectId">{{"ProjectId" | localize}}
                                                        *</label>
                                                    <input id="organizationProjectId" #organizationProjectId="ngModel"
                                                        class="form-control" type="number" name="projectId"
                                                        [ngClass]="{'edited': organizationUnit.projectId}"
                                                        [(ngModel)]="organizationUnit.projectId" required maxlength="6"
                                                        minlength="6">
                                                    <span class="icon-box"><i class="lab la-slack-hash"></i></span>
                                                    <validation-messages [formCtrl]="organizationProjectId">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div
                                                    class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                    <label for="abnNumber">{{"ABN Number" | localize}}
                                                        *</label>
                                                    <input id="abnNumber" #abnNumber="ngModel" class="form-control"
                                                        type="abnNumber" name="abnNumber"
                                                        [ngClass]="{'edited': organizationUnit.abnNumber}"
                                                        [(ngModel)]="organizationUnit.abnNumber" required>
                                                    <span class="icon-box"><i class="lab la-slack-hash"></i></span>
                                                    <validation-messages [formCtrl]="abnNumber">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div
                                                    class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                    <label for="organizationemail">Email</label>
                                                    <input id="organizationemail" #organizationemail="ngModel"
                                                        class="form-control" type="text" name="email"
                                                        [ngClass]="{'edited': organizationUnit.email}"
                                                        [(ngModel)]="organizationUnit.email">
                                                    <span class="icon-box"><i class="las la-envelope"></i></span>
                                                    <validation-messages [formCtrl]="organizationemail">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div
                                                    class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                    <label for="organizationMobile">MobileNo</label>
                                                    <input id="organizationMobile" #organizationMobile="ngModel"
                                                        class="form-control" type="text" name="mobile"
                                                        [ngClass]="{'edited': organizationUnit.mobile}"
                                                        [(ngModel)]="organizationUnit.mobile">
                                                    <span class="icon-box"><i class="las la-mobile"></i></span>
                                                    <validation-messages [formCtrl]="organizationMobile">
                                                    </validation-messages>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div
                                                    class="form-group form-icon form-md-line-input form-md-floating-label no-hint">

                                                    <label for="organizationMobile">Default Org.</label>
                                                    <div style="padding-top: 10px;">
                                                        <label for="EditUser_IsActive" class="kt-checkbox">
                                                            <input type="checkbox" id="organizationIsDefault"
                                                                #organizationIsDefault="ngModel" name="isDefault"
                                                                class="kt-checkbox"
                                                                [ngClass]="{'edited': organizationUnit.isDefault}"
                                                                [(ngModel)]="organizationUnit.isDefault">
                                                            {{"isDefault" | localize}}

                                                            <validation-messages [formCtrl]="organizationIsDefault">
                                                            </validation-messages>
                                                            <span></span>
                                                        </label>
                                                    </div>

                                                    <!-- <label for="organizationDefault">{{"Default Org." | localize}} </label>
                                                    <div>
                                                        <input type="checkbox" id="organizationIsDefault" #organizationIsDefault="ngModel" 
                                                        name="isDefault" class="kt-checkbox"
                                                        [ngClass]="{'edited': organizationUnit.isDefault}"
                                                        [(ngModel)]="organizationUnit.isDefault">
                                                    
                                                    <validation-messages [formCtrl]="organizationIsDefault">
                                                    </validation-messages> 
                                                </div>-->
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <!-- <div class="form-group marginbtm0">
                                                    <div class="upload_area up_height40">
                                                        <span class="control-fileupload">
                                                            <label for="file">Choose a file :</label>
                                                            <input #myInput type="file"
                                                                (change)="fileChangeEvent($event)" accept=".pdf"
                                                                class="fileuploadboxbtn" />
                                                            <span class="btnuparrow" [tooltip]="l('Atach')"></span>
                                                        </span>
                                                    </div>
                                                </div> -->
                                                <div class="col-md-4">
                                                    <div
                                                        class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <label for="organizationLogo">{{"Org Logo" | localize}}</label>
                                                        <div class="white-file-upload">
                                                            <input type="file" (change)="fileChangeEvent($event)"
                                                                #fileInput accept=".pdf" class="fileuploadboxbtn" />
                                                        </div>
                                                        <!-- <label for="file">Choose a file :</label>
                                                    <input type="file" (change)="fileChangeEvent($event)" #fileInput accept=".pdf" /> -->
                                                        <!-- </span>
                                                    </div> -->
                                                        <!-- <input type="file" #myInput (change)="fileChangeEvent($event)"
                                                        #fileInput  class="fileuploadboxbtn" /> -->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div
                                                    class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                    <label for="organizationProjectOrderNo">{{"Project OrderNo" |
                                                        localize}}
                                                        *</label>
                                                    <input id="organizationProjectOrderNo"
                                                        #organizationProjectOrderNo="ngModel" class="form-control"
                                                        type="number" name="projectOrderNo"
                                                        [ngClass]="{'edited': organizationUnit.projectOrderNo}"
                                                        [(ngModel)]="organizationUnit.projectOrderNo" required
                                                        maxlength="6" minlength="6">
                                                    <span class="icon-box"><i class="lab la-slack-hash"></i></span>
                                                    <validation-messages [formCtrl]="organizationProjectOrderNo">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                    <!-- <tab *ngIf="true" heading="{{'Greenbot' | localize}}">
                                        <div class="modal-gray-box">
                                            <h3><i class="las la-share-square fs-22 mr-2"></i> Greenbot Send</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <label for="greenBoatUsername">{{"GreenbotUsername" |
                                                        localize}}
                                                        *</label>
                                                        <input id="greenBoatUsername" #greenBoatUsername="ngModel" class="form-control" type="text" name="greenBoatUsername" [ngClass]="{'edited': organizationUnit.greenBoatUsername}" [(ngModel)]="organizationUnit.greenBoatUsername" required>
                                                        <span class="icon-box"><i class="las la-user"></i></span>
                                                        <validation-messages [formCtrl]="greenBoatUsername">
                                                        </validation-messages>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <label for="greenBoardpassword">{{"GreenbotPassword" |
                                                        localize}} *</label>
                                                        <input id="greenBoatPassword" #greenBoatPassword="ngModel" class="form-control" type="text" name="greenBoatPassword" [ngClass]="{'edited': organizationUnit.greenBoatPassword}" [(ngModel)]="organizationUnit.greenBoatPassword" required>
                                                        <span class="icon-box"><i class="las la-lock"></i></span>
                                                        <validation-messages [formCtrl]="greenBoatPassword">
                                                        </validation-messages>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-gray-box">
                                            <h3><i class="las la-mail-bulk fs-22 mr-2"></i> Greenbot Post</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <label for="greenBoatUsernameForFetch">{{"GreenbotUsername" |
                                                        localize}}
                                                        *</label>
                                                        <input id="greenBoatUsernameForFetch" #greenBoatUsernameForFetch="ngModel" class="form-control" type="text" name="greenBoatUsernameForFetch" [ngClass]="{'edited': organizationUnit.greenBoatUsernameForFetch}" [(ngModel)]="organizationUnit.greenBoatUsernameForFetch"
                                                            required>
                                                        <span class="icon-box"><i class="las la-user"></i></span>
                                                        <validation-messages [formCtrl]="greenBoatUsernameForFetch">
                                                        </validation-messages>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <label for="greenBoatPasswordForFetch">{{"GreenbotPassword" |
                                                        localize}} *</label>
                                                        <input id="greenBoatPasswordForFetch" #greenBoatPasswordForFetch="ngModel" class="form-control" type="text" name="greenBoatPasswordForFetch" [ngClass]="{'edited': organizationUnit.greenBoatPasswordForFetch}" [(ngModel)]="organizationUnit.greenBoatPasswordForFetch"
                                                            required>
                                                        <span class="icon-box"><i class="las la-lock"></i></span>
                                                        <validation-messages [formCtrl]="greenBoatPasswordForFetch">
                                                        </validation-messages>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab> -->
                                    <tab heading="{{'EmailSmtp' | localize}}">
                                        <div>
                                            <div class="emailtestform">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group form-icon">
                                                            <label for="DefaultFromAddress">{{"DefaultFromAddress" |
                                                                localize}}</label>
                                                            <input id="DefaultFromAddress" type="email"
                                                                name="DefaultFromAddress" class="form-control emailbox"
                                                                [ngClass]="{'edited':organizationUnit.defaultFromAddress}"
                                                                [(ngModel)]="organizationUnit.defaultFromAddress"
                                                                maxlength="128" required>
                                                            <span class="icon-box"><i
                                                                    class="las la-envelope"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group form-icon">
                                                            <label
                                                                for="DefaultFromDisplayName">{{"DefaultFromDisplayName"
                                                                | localize}}</label>
                                                            <input id="DefaultFromDisplayName" type="text"
                                                                name="DefaultFromDisplayName" class="form-control"
                                                                [ngClass]="{'edited':organizationUnit.defaultFromDisplayName}"
                                                                [(ngModel)]="organizationUnit.defaultFromDisplayName"
                                                                maxlength="128" required>
                                                            <span class="icon-box"><i
                                                                    class="las la-envelope"></i></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="{{'SMS' | localize}}">
                                        <div>
                                            <div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <select class="form-control" name="smsFrom"
                                                                [(ngModel)]="organizationUnit.smsForm">
                                                                <option value="Fone Dynamics">Fone Dynamics</option>
                                                                <option value="3CX Call">3CX </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <h5>{{"fonedynamicsSettings" | localize}}</h5> -->
                                                <div class="row">
                                                    <div class="col-md-6"
                                                        *ngIf="organizationUnit.smsForm == 'Fone Dynamics'">
                                                        <div class="form-group form-icon">
                                                            <label
                                                                for="foneDynamicsPhoneNumber">{{"FoneDynamicsPhoneNumber"
                                                                | localize}}</label>
                                                            <input id="foneDynamicsPhoneNumber" type="text"
                                                                name="foneDynamicsPhoneNumber" class="form-control"
                                                                [(ngModel)]="organizationUnit.foneDynamicsPhoneNumber"
                                                                maxlength="50">
                                                            <span class="icon-box"><i class="las la-mobile"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6"
                                                        *ngIf="organizationUnit.smsForm == 'Fone Dynamics'">
                                                        <div class="form-group form-icon">
                                                            <label
                                                                for="foneDynamicsPropertySid">{{"FoneDynamicsPropertySid"
                                                                | localize}}</label>
                                                            <input id="foneDynamicsPropertySid" type="text"
                                                                name="foneDynamicsPropertySid" class="form-control"
                                                                required
                                                                [(ngModel)]="organizationUnit.foneDynamicsPropertySid"
                                                                maxlength="50">
                                                            <span class="icon-box"><i
                                                                    class="lab la-slack-hash"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6"
                                                        *ngIf="organizationUnit.smsForm == 'Fone Dynamics'">
                                                        <div class="form-group form-icon">
                                                            <label
                                                                for="foneDynamicsAccountSid">{{"FoneDynamicsAccountSid"
                                                                | localize}}</label>
                                                            <input id="foneDynamicsAccountSid" type="text"
                                                                name="foneDynamicsAccountSid" class="form-control"
                                                                required
                                                                [(ngModel)]="organizationUnit.foneDynamicsAccountSid"
                                                                maxlength="50">
                                                            <span class="icon-box"><i
                                                                    class="lab la-slack-hash"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6"
                                                        *ngIf="organizationUnit.smsForm == 'Fone Dynamics'">
                                                        <div class="form-group form-icon">
                                                            <label for="foneDynamicsToken">{{"FoneDynamicsToken"
                                                                | localize}}</label>
                                                            <input id="foneDynamicsToken" type="text"
                                                                name="foneDynamicsToken" class="form-control" required
                                                                [(ngModel)]="organizationUnit.foneDynamicsToken">
                                                            <span class="icon-box"><i
                                                                    class="lab la-slack-hash"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6"
                                                        *ngIf="organizationUnit.smsForm == '3CX Call'">
                                                        <div class="form-group form-icon">
                                                            <label for="accountId">Account Id</label>
                                                            <input id="accountId" type="text" name="accountId"
                                                                class="form-control" required
                                                                [(ngModel)]="organizationUnit.accountId" maxlength="50">
                                                            <span class="icon-box"><i
                                                                    class="lab la-slack-hash"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6"
                                                        *ngIf="organizationUnit.smsForm == '3CX Call'">
                                                        <div class="form-group form-icon">
                                                            <label for="gateWayAccountEmail">GateWay Account
                                                                Email</label>
                                                            <input id="gateWayAccountEmail" type="text"
                                                                name="gateWayAccountEmail" class="form-control" required
                                                                [(ngModel)]="organizationUnit.gateWayAccountEmail"
                                                                maxlength="50">
                                                            <span class="icon-box"><i
                                                                    class="lab la-slack-hash"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6"
                                                        *ngIf="organizationUnit.smsForm == '3CX Call'">
                                                        <div class="form-group form-icon">
                                                            <label for="gateWayAccountPassword">GateWay Account
                                                                Password</label>
                                                            <input id="gateWayAccountPassword" type="text"
                                                                name="gateWayAccountPassword" class="form-control"
                                                                required
                                                                [(ngModel)]="organizationUnit.gateWayAccountPassword">
                                                            <span class="icon-box"><i
                                                                    class="lab la-slack-hash"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="{{'Payway' | localize}}">
                                        <div class="modal-gray-box">
                                            <h3><i class="las la-shield-alt fs-22 mr-2"></i> Authorization</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div
                                                        class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <label for="authorizationKey">{{l("Authorization Key")}}</label>
                                                        <input type="text" id="authorizationKey"
                                                            #authorizationKey="ngModel"
                                                            [ngClass]="{'edited': organizationUnit.authorizationKey}"
                                                            class="form-control" required
                                                            [(ngModel)]="organizationUnit.authorizationKey"
                                                            name="authorizationKey" />
                                                        <span class="icon-box"><i class="las la-key"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div
                                                        class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <label for="publishKey">{{l("Publish Key")}}</label>
                                                        <input type="text" id="publishKey" #publishKey="ngModel"
                                                            [ngClass]="{'edited': organizationUnit.publishKey}"
                                                            class="form-control" required
                                                            [(ngModel)]="organizationUnit.publishKey"
                                                            name="publishKey" />
                                                        <span class="icon-box"><i class="las la-key"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div
                                                        class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <label for="secrateKey">{{l("Secrate Key")}}</label>
                                                        <input type="text" id="secrateKey" #secrateKey="ngModel"
                                                            [ngClass]="{'edited': organizationUnit.secrateKey}" required
                                                            class="form-control"
                                                            [(ngModel)]="organizationUnit.secrateKey"
                                                            name="secrateKey" />
                                                        <span class="icon-box"><i class="las la-key"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-gray-box">
                                            <h3><i class="las la-credit-card fs-22 mr-2"></i> Surcharge</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div
                                                        class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <label for="surchargeAuthorizationKey">{{l("Surcharge
                                                            Authorization Key")}}</label>
                                                        <input type="text" id="surchargeAuthorizationKey"
                                                            #surchargeAuthorizationKey="ngModel"
                                                            [ngClass]="{'edited': organizationUnit.surchargeAuthorizationKey}"
                                                            class="form-control" required
                                                            [(ngModel)]="organizationUnit.surchargeAuthorizationKey"
                                                            name="surchargeAuthorizationKey" />
                                                        <span class="icon-box"><i class="las la-key"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div
                                                        class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <label for="surchargePublishKey">{{l("Surcharge Publish
                                                            Key")}}</label>
                                                        <input type="text" id="surchargePublishKey"
                                                            #surchargePublishKey="ngModel"
                                                            [ngClass]="{'edited': organizationUnit.surchargePublishKey}"
                                                            class="form-control" required
                                                            [(ngModel)]="organizationUnit.surchargePublishKey"
                                                            name="surchargePublishKey" />
                                                        <span class="icon-box"><i class="las la-key"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div
                                                        class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <label for="surchargeSecrateKey">{{l("Surcharge Secret
                                                            Key")}}</label>
                                                        <input type="text" id="surchargeSecrateKey"
                                                            #surchargeSecrateKey="ngModel"
                                                            [ngClass]="{'edited': organizationUnit.surchargeSecrateKey}"
                                                            required class="form-control"
                                                            [(ngModel)]="organizationUnit.surchargeSecrateKey"
                                                            name="surchargeSecrateKey" />
                                                        <span class="icon-box"><i class="las la-key"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-gray-box">
                                            <h3><i class="las la-store-alt fs-22 mr-2"></i> Merchant</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div
                                                        class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <label for="merchantId">{{l("MerchantId")}}</label>
                                                        <input type="text" id="merchantId" #merchantId="ngModel"
                                                            [ngClass]="{'edited': organizationUnit.merchantId}"
                                                            class="form-control" required
                                                            [(ngModel)]="organizationUnit.merchantId"
                                                            name="merchantId" />
                                                        <span class="icon-box"><i class="las la-key"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                    <!-- <tab heading="{{'WestPac' | localize}}">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div
                                                    class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <label for="westPacSecreteKey">{{l("Secrete Key")}}</label>
                                                    <input type="text" id="westPacSecreteKey"
                                                        #westPacSecreteKey="ngModel"
                                                        [ngClass]="{'edited': organizationUnit.westPacSecreteKey}"
                                                        class="form-control" required
                                                        [(ngModel)]="organizationUnit.westPacSecreteKey"
                                                        name="westPacSecreteKey" />
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div
                                                    class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <label for="westPacPublishKey">{{l("Publish Key")}}</label>
                                                    <input type="text" id="westPacPublishKey"
                                                        #westPacPublishKey="ngModel"
                                                        [ngClass]="{'edited': organizationUnit.westPacPublishKey}"
                                                        class="form-control" required
                                                        [(ngModel)]="organizationUnit.westPacPublishKey"
                                                        name="westPacPublishKey" />
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div
                                                    class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <label for="businesscode">{{l("Bussiness Code")}}</label>
                                                    <input type="text" id="businesscode" #businesscode="ngModel"
                                                        [ngClass]="{'edited': organizationUnit.businesscode}"
                                                        class="form-control" required
                                                        [(ngModel)]="organizationUnit.businesscode"
                                                        name="businesscode" />
                                                </div>
                                            </div>
                                        </div>
                                    </tab> -->

                                    <tab heading="Map">
                                        <div class="row">
                                            <div class="col-md-5"><label>Select Provider</label></div>
                                            <div class="col-md-5"><label>Api key</label></div>
                                            <div class="col-md-2"></div>
                                        </div>
                                        <div class="row" *ngFor="let item of mapList; let i = index">
                                            <div class="col-md-5">
                                                <div
                                                    class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                    <select class="form-control" name="provider{{i}}"
                                                        [(ngModel)]="item.mapProvider">
                                                        <!-- <option value="GoogleMap">Google Map</option> -->
                                                        <option value="NearMap">Near Map</option>
                                                        <option value="MetroMap">Metro Map</option>
                                                        <option value="Pylon">Pylon</option>
                                                        <option value="BingMap">BingMap</option>
                                                    </select>
                                                    <span class="icon-box" style="top:2px !important;"><i
                                                            class="las la-map-marked"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div
                                                    class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                    <input type="text" id="mapApiKey{{i}}" #mapApiKey="ngModel"
                                                        [ngClass]="{'edited': item.mapApiKey}" class="form-control"
                                                        [(ngModel)]="item.mapApiKey" name="mapApiKey{{i}}" />
                                                    <span class="icon-box" style="top:2px !important;"><i
                                                            class="las la-key"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="d-flex align-items-center" style="margin-top:5px;">
                                                    <div class="action-btn mr-1">
                                                        <a (click)="removePicklistProduct(item)">
                                                            <i class="las la-trash text-danger ng-tns-c286-48"></i>
                                                        </a>
                                                    </div>
                                                    <div class="action-btn addbtn" *ngIf="mapList.length == (i + 1)">
                                                        <a (click)="addPicklistProduct()" class="addmorebtn">
                                                            <i class="las la-plus-circle"></i>
                                                        </a>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="Auto Assign Lead User">
                                        <div class="modal-gray-box">
                                            <h3><i class="las la-shield-alt fs-22 mr-2"></i> Auto Assign LeadUser</h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <!-- <div class="form-group form-icon form-md-line-input form-md-floating-label no-hint"> -->
                                                    <div class="form-group form-icon">
                                                        <select name="assignLead"
                                                            [(ngModel)]="organizationUnit.autoAssignLeadUserId"
                                                            class="form-control mr-2" required
                                                            style="min-width:190px; width:auto;">
                                                            <option value="0">{{l("SelectAUser")}}</option>
                                                            <option *ngFor="let item of allUsers" value="{{item.id}}">
                                                                {{item.displayName}}</option>
                                                        </select>
                                                        <span class="icon-box" style="top:3px !important;"><i
                                                                class="las la-user-circle"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="STC Provider">
                                        <div class="modal-gray-box">
                                            <h3><i class="las la-shield-alt fs-22 mr-2"></i> STC Provider</h3>
                                            <div class="row">
                                                <div class="col-md-3"><label>Select Provider</label></div>
                                                <div class="col-md-3"><label>Name</label></div>
                                                <div class="col-md-2"><label>UserId</label></div>
                                                <div class="col-md-2"><label>Password</label></div>
                                                <div class="col-md-2"></div>
                                            </div>
                                            <div class="row" *ngFor="let item of stcProviderList; let i = index">
                                                <div class="col-md-3">
                                                    <div
                                                        class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <select class="form-control" name="provider{{i}}"
                                                            [(ngModel)]="item.provider">
                                                            <!-- <option value="GoogleMap">Google Map</option> -->
                                                            <option value="Greenboat">Greenboat</option>
                                                            <option value="Bridge Select">Bridge Select</option>
                                                        </select>
                                                        <span class="icon-box" style="top:2px !important;"><i
                                                                class="las la-map-marked"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div
                                                        class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <input type="text" id="name{{i}}" #name="ngModel"
                                                            [ngClass]="{'edited': item.name}" class="form-control"
                                                            [(ngModel)]="item.name" name="name{{i}}" />
                                                        <span class="icon-box" style="top:2px !important;"><i
                                                                class="las la-key"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div
                                                        class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <input type="text" id="userId{{i}}" #userId="ngModel"
                                                            [ngClass]="{'edited': item.userId}" class="form-control"
                                                            [(ngModel)]="item.userId" name="userId{{i}}" />
                                                        <span class="icon-box" style="top:2px !important;"><i
                                                                class="las la-key"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div
                                                        class="form-group form-icon form-md-line-input form-md-floating-label no-hint">
                                                        <input type="text" id="password{{i}}" #password="ngModel"
                                                            [ngClass]="{'edited': item.password}" class="form-control"
                                                            [(ngModel)]="item.password" name="password{{i}}" />
                                                        <span class="icon-box" style="top:2px !important;"><i
                                                                class="las la-key"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="d-flex align-items-center" style="margin-top:5px;">
                                                        <div class="action-btn mr-1">
                                                            <a (click)="removeSTCProvider(item)">
                                                                <i class="las la-trash text-danger ng-tns-c286-48"></i>
                                                            </a>
                                                        </div>
                                                        <div class="action-btn addbtn"
                                                            *ngIf="stcProviderList.length == (i+1)">
                                                            <a (click)="addSTCProvider()" class="addmorebtn">
                                                                <i class="las la-plus-circle"></i>
                                                            </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- <div class="modal-body">                    

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label for="greenBoatUsername">{{"GreenBoardUsername" | localize}} *</label>
                        <input id="greenBoatUsername" #greenBoatUsername="ngModel" class="form-control" type="text" name="greenBoatUsername" [ngClass]="{'edited': organizationUnit.greenBoatUsername}" [(ngModel)]="organizationUnit.greenBoatUsername" required  >
                        <validation-messages [formCtrl]="greenBoatUsername"></validation-messages>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <label for="greenBoatPassword">{{"greenBoatPassword" | localize}} *</label>
                        <input id="greenBoatPassword" #greenBoatPassword="ngModel" class="form-control" type="text" name="greenBoatPassword" [ngClass]="{'edited': organizationUnit.greenBoatPassword}" [(ngModel)]="organizationUnit.greenBoatPassword" required  >
                        <validation-messages [formCtrl]="greenBoatPassword"></validation-messages>
                    </div>
                </div> -->

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i>{{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{"Save" | localize}}</span></button>
                </div>

            </form>

        </div>
    </div>
</div>