<div class="kt-portlet hight_same">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                <i class="las la-sitemap fs-22 mr-2"></i>{{"OrganizationTree" | localize}}
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar organizationtable  pt-0 pl-0 pr-0 pb-0 mr-0">
            <button *ngIf="'Pages.Administration.OrganizationUnits.ManageOrganizationTree' | permission" (click)="addUnit(null)" class="btn btn-outliner d-flex align-items-center">
                <span class="ml-1">Add</span><i class="las la-plus-circle ml-2"></i>
            </button>
        </div>
    </div>
    <div class="kt-portlet__body organizationtable custom-org-list">
        <p-tree [value]="treeData" selectionMode="single" [(selection)]="selectedOu" (onNodeSelect)="nodeSelect($event)" (onNodeDrop)="nodeDrop($event)" [contextMenu]="ouContextMenu" [draggableNodes]="canManageOrganizationUnits" [droppableNodes]="canManageOrganizationUnits">
            <ng-template let-node pTemplate="default">
                <div>
                    <span>
                        {{node.label}}
                    </span>
                    <small style="font-size: .82em; opacity: .5;">{{node.memberCount}} {{'Members' | localize}}, {{'Code' | localize}} - {{node.code}}</small>
                </div>
            </ng-template>
        </p-tree>
        <p-contextMenu #ouContextMenu [model]="ouContextMenuItems" appendTo="body" baseZIndex="99999"></p-contextMenu>
        <div *ngIf="!totalUnitCount" class="text-muted alert alert-info">
            {{"NoOrganizationUnitDefinedYet" | localize}}
        </div>
    </div>
</div>

<createOrEditOrganizationUnitModal #createOrEditOrganizationUnitModal (unitCreated)="reload()" (unitUpdated)="reload()"></createOrEditOrganizationUnitModal>
<entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>