<div class="row">
    <div class="col-12">
        <button *ngIf="('Pages.Administration.OrganizationUnits.ManageRoles' | permission) && organizationUnit" (click)="openAddRoleModal()" class="btn btn-primary float-right mb-3">
            {{"AddRole" | localize}} <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="col-12">
        <div id="OuRolesTable">
            <!--<Primeng-TurboTable-Start>-->
            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading" [hidden]="!organizationUnit">
                <p-table #dataTable sortMode="multiple" (onLazyLoad)="getOrganizationUnitRoles($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 15%" [hidden]="!('Pages.Administration.OrganizationUnits.ManageRoles' | permission)">{{'Delete' | localize}}</th>
                            <th pSortableColumn="displayName">
                                {{'Role' | localize}}
                                <p-sortIcon field="displayName"></p-sortIcon>
                            </th>
                            <th pSortableColumn="addedTime">
                                {{'AddedTime' | localize}}
                                <p-sortIcon field="addedTime"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-record="$implicit">
                        <tr>
                            <td [hidden]="!('Pages.Administration.OrganizationUnits.ManageRoles' | permission)">
                                <button class="btn btn-outline-danger btn-icon" (click)="removeRole(record)" title="{{'Delete' | localize}}">
                                    <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i>
                                </button>
                            </td>
                            <td>
                                <span class="ui-column-title">{{'Role' | localize}}</span> {{record.displayName}}
                            </td>
                            <td>
                                <span class="ui-column-title">{{'AddedTime' | localize}}</span> {{record.addedTime | momentFormat:'L'}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                    {{'NoData' | localize}}
                </div>
                <div class="primeng-paging-container">
                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getOrganizationUnitRoles($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                    </p-paginator>
                    <span class="total-records-count">
                        {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                    </span>
                </div>
            </div>
            <!--<Primeng-TurboTable-End>-->
        </div>
    </div>
</div>

<div *ngIf="!organizationUnit" class="text-muted">
    {{"SelectAnOrganizationUnitToSeeRoles" | localize}}
</div>

<addRoleModal #addRoleModal (rolesAdded)="addRoles($event)"></addRoleModal>