<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 100%;
        }
    }
</style>
<div [@routerTransition]>
    <div>
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>Invoice File List</span>
                            <span class="total-records-count">
                                ({{(primengTableHelper.totalRecordsCount)}})
                            </span>
                        </h3>
                        <!-- <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a> -->
                    </div>
                    <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                        <div class="kt-subheader__wrapper">
                            <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            </div>
                        </div>
                        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                    </div>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">

                <div class="kt-portlet kt-portlet--mobile margintop0">
                    <div class="kt-portlet__body padzero">

                        <div class="row align-items-center">
                            <div class="table-responsive statictable">

                            </div>

                            <!--<Primeng-Datatable-Start>-->
                            <div class="primeng-datatable-container myleadtable nobulebox_table_scrool col-12" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getinstallerinvoicefilelist($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                    scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                    <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getinstallerinvoicefilelist($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                    ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th style="width:200px">
                                                {{l('CreationDate')}}
                                            </th>
                                            <th style="width:150px">
                                                {{l('CreatedUser')}}</th>
                                            <th style="width:350px">
                                                {{l('FileName')}}</th>
                                            <th class="text-center" style="width:80px">
                                                DownLoad</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr [pSelectableRow]="record">
                                            <td style="width:200px">
                                                <span class="badge badge-pill bg-secondary d-flex align-items-center" style="width:175px;"><i class="las la-calendar fs-22 mr-1"></i> {{record.createdDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                            </td>
                                            <td style="width:150px">
                                                <span class="d-flex align-items-center"><i class="las la-user-tie fs-22 mr-1"></i> {{record.createdUser}}</span>
                                            </td>
                                            <td style="width:350px">
                                                <div class="link_flex">
                                                    <span class="badge badge-pill bg-secondary d-flex align-items-center"><i class="las la-file fs-22 mr-1"></i>{{record.fileName}}</span>
                                                </div>
                                            </td>
                                            <td class="text-center img_float_none" style="width:80px;">
                                                <a href="javascript:;" (click)="downloadfile(record.filePath , record.fileName)">
                                                    <i class="las la-file-download fs-30"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getinstallerinvoicefilelist($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <span class="total-records-count">
                                        showing {{firstrowcount}}
                                        To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>