<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Lead Sold Report")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <!-- <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a> -->
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getLeadSold();RereshLog();"></button>
                                </li>
                                <li *ngIf="'Pages.Report.LeadSold.Export' | permission">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.JobGrid.Export' | permission">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;" *ngIf="'Pages.JobGrid.Export' | permission">
                                                <i class="las la-file-excel"></i> CSV
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="kt-searchmainbox searchclearbox"> -->
                                <!-- <div class="kt-stextbox wdth250">
                                            <input type="text" class="form-control" placeholder="Sales Rep Name" [(ngModel)]="filterText" />
                                            <a class="btnclearsearch" *ngIf="filterText"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" />
                                        </div> -->
                                <li>
                                    <div class="kt-stextbox">
                                        <select name="userFilter" class="form-control" [(ngModel)]="reportType" (change)="getLeadSold();addSearchLog('Filter Report Type');">
                                                    <option value=1>Actual</option>
                                                    <option value=2>Assign</option>
                                                </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="onOrganizationUnitChange($event);addSearchLog('Filter Organization');">
                                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                            {{item.displayName}}</option>
                                                    </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown wdth140 m-form__group jobmultipleselect">
                                            <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadSource" [(ngModel)]="leadSourceIdFilter" name="jobStatusID">
                                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-stextbox">
                                        <select name="teamId" class="form-control" [(ngModel)]="teamId" (change)="getLeadSold();addSearchLog('Filter Team');">
                                                    <option value=0>{{l("Select Team")}}</option>
                                                     <option *ngFor="let item of filteredTeams" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox advancesearch">
                                        <div class="kt-stextbox">
                                            <select name="userFilter" class="form-control" [(ngModel)]="userFilter" (change)="getLeadSold();addSearchLog('Filter User');">
                                                        <option value=0>{{l("Select User")}}</option>
                                                         <option *ngFor="let item of userList" value="{{item.id}}">
                                                            {{item.displayName}}</option>
                                                    </select>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li class="multi_select">
                                                            <div class="form-group m-form__group jobmultipleselect">
                                                            <ng-select [items]="allStates" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="displayName" placeholder="All States" [(ngModel)]="stateFilter" name="jobStatusID">
                                                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                                </ng-template>
                                                            </ng-select>
                                                            </div>
                                                        </li>

                                                        <!-- <li class="multi_select">
                                                            <div class="form-group m-form__group jobmultipleselect">
                                                          
                                                                <ng-select [items]="jobTypes" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="displayName" placeholder="Select Type" [(ngModel)]="jobTypeFilterList" name="jobStatusID">
                                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                                    </ng-template>
                                                                </ng-select>
                                                            </div>
                                                        </li> -->

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>

                                                        <!-- <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li> -->
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10" (click)="clear()"><i class="fa fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getLeadSold();addSearchLog('Advanced Filter');"><i class="fa fa-search"></i> {{l("Search")}}</button>

                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                <!-- <div  *ngIf="!show" class="kt-advancefilterbox"> -->


                                <!-- </div>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>

        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{this.leadAssignCount}} / {{ActualleadAssignCount}}</span><label>Lead assign / Actual Lead</label></li>
                    <li><span>{{this.soldLeadCount}} / {{ActualsoldLeadCount}}</span><label>Sold Lead / Actual Sold Lead</label></li>
                    <li><span>{{this.ratioCount}} / {{this.ActualratioCount}}</span><label>Ratio / Actual Ratio </label></li>
                    <li><span>{{this.missingCount | number : '1.2-2'}} / {{this.ActualmissingCount | number : '1.2-2'}}</span><label>Missing / Actual Missing</label></li>
                </ul>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center" [ngClass]="{'unselectable' : permission.isGranted('Pages.Report.LeadSold.EnableCopyPaste')}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeadSold($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:350px;">User Name </th>
                                        <th pSortableColumn="leadAssign">LeadAssign / ActualLead
                                            <p-sortIcon field="leadAssign"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="soldLead">SoldLead / ActualSoldLead
                                            <p-sortIcon field="soldLead"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="ratio">Ratio % / Actual Ratio %
                                            <p-sortIcon field="ratio"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="missing">Missing Sale / Actual Missing Sale
                                            <p-sortIcon field="missing"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="width:350px;">{{record.userName}}</td>
                                        <td><span class="badge badge-secondary">{{record.leadAssign}} / {{record.actualLeadAssign}}</span></td>
                                        <td><span class="badge badge-secondary">{{record.soldLead}} / {{record.actualSoldLead}}</span></td>
                                        <td><span class="badge badge-secondary">{{record.ratio}} / {{record.actualRatio}}</span></td>
                                        <td><span class="badge badge-secondary">{{record.missing | number : '1.2-2'}} / {{record.actualMissing| number : '1.2-2'}}</span></td>
                                    </tr>
                                </ng-template>
                                <!-- <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Teams.Edit', 'Pages.Teams.Delete')">

                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.team.name}}
                                        </td>

                                    </tr>
                                </ng-template> -->
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeadSold($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                            showing {{firstrowcount}}
                            To {{last}}
                            <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- <callDetailModal #callDetailModal (modalSave)="getUserCallHistory()"></callDetailModal> -->

    </div>
</div>

<!-- <callDetailModal #callDetailModal></callDetailModal> -->