<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #purchaseDocumentListForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="purchaseDocumentList.id">{{l("Edit Purchase Document List")}}</span>
                        <span *ngIf="!purchaseDocumentList.id">{{l("Create Purchase Document List")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="purchaseDocumentList_purchaseDocumentList">{{l("Purchase Document List
                                        Name")}} *</label>
                                    <input type="text" #purchaseDocumentList_purchaseDocumentList="ngModel"
                                        id="purchaseDocumentList_purchaseDocumentList" class="form-control"
                                        [(ngModel)]="purchaseDocumentList.name" name="name" required />
                                    <validation-messages
                                        [formCtrl]="purchaseDocumentList_purchaseDocumentList"></validation-messages>
                                    <span class="icon-box"><i class="las la-edit"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="purchaseDocumentList_size">{{l("Size")}} *</label>
                                    <input type="text" #purchaseDocumentList_size="ngModel"
                                        id="purchaseDocumentList_size" class="form-control"
                                        [(ngModel)]="purchaseDocumentList.size" name="size" required />
                                    <validation-messages [formCtrl]="purchaseDocumentList_size"></validation-messages>
                                    <span class="icon-box"><i class="las la-memory"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <div class="jobmultipleselect selectdropdown" style="margin-left:0 !important;">
                                        <label for="formats">{{l("Formats")}} *</label>
                                        <ng-select [items]="availableFormats" [multiple]="true" [closeOnSelect]="false"
                                            placeholder="Select Formats" [(ngModel)]="selectedFormats" name="formats">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                                    name="item-{{index}}" /> {{item}}
                                            </ng-template>
                                        </ng-select>
                                        <span class="icon-box"><i class="las la-file"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="purchaseCompanys_IsActive">{{l("Purchase Company Active")}} </label>
                                    <input type="checkbox" id="purchaseCompanys_IsActive" class="form-control"
                                        [(ngModel)]="purchaseDocumentList.isActive" name="isActive"
                                        style="width: 22px;" />
                                </div>
                            </div>
                        </div>






                    </div>



                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!purchaseDocumentListForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>