<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #changePaidDateForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("ApprovedDate")}} - {{item.installerCompanyName}} - {{item.jobNumber}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="AdvanceAmount">{{l("Approved Date")}}</label>
                            <div class="form-group m-form__group">
                                <div class="form-group maxwdth15">
                                    <input id="distApplied" type="text" #SampleDatePicker name="approedDate"
                                        class="form-control daterangebox" placeholder="Select Date" bsDatepicker
                                        datePickerMomentModifier [(date)]="item.approedDate"
                                        [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }" >
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="approedAmount">{{l("Approved Amount")}}</label>
                                <input type="text" name="approedAmount" [(ngModel)]="item.approedAmount" placeholder="Approved Amount" class="form-control" required />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label for="AdvanceAmount">{{l("Due Date")}}</label>
                            <div class="form-group m-form__group">
                                <div class="form-group maxwdth15">
                                    <input id="dueDate" type="text" #SampleDatePicker name="dueDate"
                                        class="form-control daterangebox" placeholder="Select Date" bsDatepicker
                                        datePickerMomentModifier [(date)]="item.dueDate"
                                        [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="prorityId">{{l("Priority")}}</label>
                            <select class="form-control" [(ngModel)]="prorityId" name="prorityId" required>
                                <!-- <option value="0">Select Priority</option> -->
                                <option value="1">Low</option>
                                <option value="2">Medium</option>
                                <option value="3">High</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="approvedNotes">{{l("Approved Notes")}}</label>
                                <textarea class="form-control" placeholder="Approved Notes" 
                                    [(ngModel)]="item.approvedNotes" id="item.approvedNotes"
                                    name="approvedNotes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="fa fa-times"></i> {{("Cancel")}}</button>

                    <button type="submit" class="btn btn-primary blue" [disabled]="!changePaidDateForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>