<div bsModal #ContactUSSMSEmailModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg addjobactiveSmsEmailModal financeSmsEmailModal">
        <div class="modal-content">
            <form #addActivityForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="activityName == 'SMS'">{{l("Sms")}} - {{activityLog.phoneNo}}
                        </span>
                        <span *ngIf="activityName == 'Email'">{{l("Email")}} - {{activityLog.emailTo}}
                        </span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray p-0">
                    <div class="d-flex align-items-center" style="justify-content: space-around;">
                        <div class="p-2">
                            <img [src]="appRootUrl() + 'assets/common/images/graphics-sms.png'" style="max-width:320px;" *ngIf="activityName == 'SMS'">
                        </div>
                        <!-- Right section starts -->
                        <div style="padding:15px 0; width:650px;">
                            <!-- SMS Starts -->
                            <!-- <div class="emailboxlayout" *ngIf="activityName == 'SMS'">
                                <div class="emailboxlayout">
                                    <div class="m-form__group">
                                        <div class="activitysms smsemailbox modal-white-box" *ngIf="activityName == 'SMS'">
                                            <span class="labelttl">{{activityName}} </span>
                                            <span class="badge badge-light d-flex align-items-center activity-tags"><i class="las la-comment"></i>{{ wholeSalelead.mobile}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="emailboxlayout modal-white-box" *ngIf="activityName == 'SMS'">
                                <div class="activitysms smsemailbox">
                                    <span class="labelttl">Template</span>
                                    <select class="form-control mr-0" name="SMSTemplate" [(ngModel)]="activityLog.smsTemplateId" (change)="smseditorLoaded()">
                                        <option value="0">New Template</option>
                                        <option *ngFor="let item of allSMSTemplates" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="" *ngIf="activityName == 'SMS'">
                                <div class="modal-white-box">
                                    <textarea class="form-control" (keyup)="countCharcters()" cols="20" rows="5" placeholder="SMS Body" [(ngModel)]="activityLog.body" id="SMSBody" name="SMSBody"></textarea>
                                </div>
                            </div>
                            <div *ngIf="activityName == 'SMS'" style="margin-top:10px;" class="d-flex align-items-center">
                                <div class="mr-3 d-flex align-items-center"><span><b>Total: </b></span> <span class="badge badge-danger ml-1">{{total}}</span></div>
                                <div class="d-flex align-items-center"><span><b>Credit: </b></span> <span class="badge badge-success ml-1">{{credit}}</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box" style="width:96%; margin:0 auto 15px;" *ngIf="activityName == 'Email'">
                        <div class="emailboxlayout">
                            <div class="activitysms smsemailbox brdrbottom1" *ngIf="activityName == 'Email'">
                                <span class="labelttl"> EmailFrom </span> <span class="lowercase">
                                    <input type="text" name="emailFrom" [(ngModel)]="activityLog.emailFrom"
                                        placeholder="emailFrom" style="width:790px !important; padding-left:10px !important;" class="form-control pl-1 brd_none mr-0">
                                    </span>
                            </div>
                            
                        </div>
                        <div class="emailboxlayout" *ngIf="activityName == 'Email'">
                            
                            <div class="activitysms smsemailbox brdrbottom1 templatebox">
                                <span class="labelttl">Subject</span>
                                <span class="text_capital subject">
                                    <input type="text" name="subject" [(ngModel)]="activityLog.subject"
                                        placeholder="write subject" style="width:790px !important; padding-left:10px !important;" class="form-control pl-1 brd_none mr-0">
                                </span>
                            </div>
                        </div>


                        <div class="row" *ngIf="activityName == 'Email'">
                            <div class="col-md-12">
                                    <p-editor [(ngModel)]="activityLog.body" aria-placeholder="EmailBody" name="activityLog.body" [style]="{'height':'200px'}" [(ngModel)]="activityLog.body"></p-editor>
                                <!-- <div class="container-fluid maxwidth80 emailtemplatebox" *ngIf="activityLog.emailTemplateId != 0">
                                    <email-editor [(ngModel)]="activityLog.body" aria-placeholder="Email Body" name="HtmlEditorInput"></email-editor>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{("Cancel")}}</button>
                    <!-- <button *ngIf="activityName == 'Email'" (click)="saveDesign()" id="btnSubmit" type="submit" class="btn btn-primary blue"  [disabled]="!addActivityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>Send</span></button> -->
                    
                    <button (click)="save()" id="btnSubmit" type="submit" class="btn btn-primary blue"  [disabled]="!addActivityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>Send</span></button>
                </div>
            </form>
        </div>

    </div>

    <!-- <viewLeadDetail #viewLeadDetail></viewLeadDetail> -->
</div>