<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <form *ngIf="active" #WholeSaleLeadDocumentForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                       <span>Edit ContactUs</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="form-group">
                            <label for="Name">{{l("FirstName")}} *</label>
                            <input type="text" id="Name" class="form-control" [(ngModel)]="ContactUsDto.firstName" name="Name" minlength="1" maxlength="200" required />
                        </div>
                        <div class="form-group">
                            <label for="Name">{{l("LastName")}} *</label>
                            <input type="text" id="Name" class="form-control" [(ngModel)]="ContactUsDto.lastName" name="LastName" minlength="1" maxlength="200" required />
                        </div>
                        <div class="form-group">
                            <label for="Email">{{l("Email")}} *</label>
                            <input type="text" id="Email" class="form-control" [(ngModel)]="ContactUsDto.email" name="Email" minlength="1" maxlength="200" required />
                        </div>
                        <div class="form-group">
                            <label for="Phone">{{l("Phone")}} *</label>
                            <input type="text" id="Phone" class="form-control" [(ngModel)]="ContactUsDto.phone" name="Phone" minlength="10" maxlength="10" required />
                        </div>                        
                        <div class="form-group">
                            <label for="Subject">{{l("Subject")}} *</label>
                            <input type="text" id="Subject" class="form-control" [(ngModel)]="ContactUsDto.subject" name="Subject" minlength="1" maxlength="200" required />
                        </div>
                        <div class="form-group">
                            <label for="Message">{{l("Message")}} *</label>
                            <textarea type="text" id="Message" class="form-control" [(ngModel)]="ContactUsDto.message" name="Message" rows="5" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!WholeSaleLeadDocumentForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>