<!-- Required Meta Tags -->
<Meta Charset='Utf-8'>
<Meta Name='Viewport' Content='Width=Device-Width, Initial-Scale=1, Shrink-To-Fit=No'>

<Title>Quotation</Title>

<Style>
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    
    Body {
        Margin: 0;
        Padding: 0;
        Font-Family: 'Roboto';
        Color: #333;
        Font-Size: 13px;
        Font-Weight: 400;
    }
    
    .Pdf_wrapper {
        Background: #Fff Url(Http://Thesolarproduct.Com/Assets/Common/Images/SavvySolar/Bg.Png) Top Center No-Repeat;
        Background-Size: 940px;
        Width: 940px;
        Margin: 0 Auto;
        Padding: 0 !Important;
    }
    
    .Pdf_container {
        Width: 920px;
        Overflow: Hidden;
        Margin: 0 Auto;
        Padding: 0 10px;
    }
    
    .modal-content .Pdf_container {
        Width: 930px;
        Padding: 0 5px;
        Font-Family: 'Roboto' !Important;
    }
    
    .Text-Right {
        Text-Align: Right !Important;
    }
    
    .Bolder {
        Font-Weight: 700 !Important;
    }
    
    .Bold {
        Font-Weight: 700 !Important;
    }
    
    .Medium {
        Font-Weight: 500 !Important;
    }
    
    .Dflex {
        Display: Flex;
    }
    
    .Align-Item-Center {
        Align-Items: Center;
    }
    
    .Justify-Space-Between {
        Justify-Content: Space-Between;
    }
    
    .F12 {
        Font-Size: 12px !Important;
    }
    
    .F14 {
        Font-Size: 14px !Important;
    }
    
    .F16 {
        Font-Size: 16px !Important;
    }
    
    .Mb5 {
        Margin-Bottom: 5px !Important;
    }
    
    .Mb10 {
        Margin-Bottom: 10px !Important;
    }
    
    .Mb15 {
        Margin-Bottom: 15px !Important;
    }
    
    .Mb20 {
        Margin-Bottom: 20px !Important;
    }
    
    .Me5 {
        Margin-Right: 5px !Important;
    }
    
    .Me10 {
        Margin-Right: 10px !Important;
    }
    
    .Gray {
        Color: #A6A5A5 !Important;
    }
    
    .Black {
        Color: #000 !Important;
    }
    
    .Sep {
        Height: 1px;
        Background: #FFF0D4;
        Width: 100%;
        Margin: 10px 0;
        Display: Block;
    }
    
    .Primary-Table Table {
        Width: 100%;
        Border: 0;
        Border-Collapse: Collapse;
        Margin-Top: 27px;
    }
    
    .Primary-Table Table Th {
        Height: 50px;
        Background: #FDB432;
        Color: #201F1F;
        Font-Size: 16px;
        Font-Weight: Bold;
        Text-Align: Left;
        Padding: 0 15px;
    }
    
    .Primary-Table Table Th:last-Child,
    .Primary-Table Table Td:last-Child {
        Text-Align: Right;
    }
    
    .Primary-Table Table Td {
        Padding: 14px 15px;
        Border-Top: 1px Solid #DAE3ED;
        Font-Size: 14px;
    }
    
    .Primary-Table Table Td.White {
        Background: #Fff !Important;
    }
    
    .Primary-Table Table Td:last-Child {
        Text-Align: Right;
        Background: #FFF4E0;
    }
    
    .Primary-Table Table Tr.Subtotal Td {
        Background: #FFF4E0;
        Border: 1px Solid #201F1F;
        Border-Width: 2px 0 0;
        Font-Weight: 600;
    }
    
    .Primary-Table Table Tr.Balance-Row Td {
        Background-Color: #FDB432;
        Color: #000;
        Font-Weight: 600;
        Font-Size: 16px;
        Text-Align: Right;
        Height: 45px;
        Border: 0;
        Padding: 0 15px;
        Font-Size: 14px;
    }

    .modal-content .Primary-Table Table Tr.Balance-Row Td {
        Height:55px;
    }
    
    .Sign-Container {
        Display: Flex;
        Justify-Content: Space-Between;
        Width: 940px;
        Margin: 0 10px;
    }
    
    .Sign-Container .Sign-Box {
        Width: 420px;
    }
    
    .Sign-Box .Sign {
        Display: Flex;
        Align-Items: Center;
        Height: 70px;
        Border-Bottom: 1px Solid #Ccc;
        Width: 410px;
    }
    
    .Pdf_header {
        Height: 87px;
        Position: Relative;
    }
    
    .Pdf_header .Logo {
        Float: Left;
        Padding:0;
    }
    
    .Pdf_header .Logo Img {
        Height: 84px;
    }
    
    .Pdf_header .Pdf_contact {
        Float: Right;
        Display: Flex;
        Align-Items: Center;
        Color: #000;
        Font-Size: 20px;
        Height: 84px;
        Line-Height: 84px;
    }
    
    .Pdf_header .Pdf_contact Img {
        Margin-Right: 5px;
    }
    
    .Pdf_header .Pdf_main_title {
        Margin: 0 Auto;
        Max-Width: 260px;
        Text-Align: Center;
        Font-Size: 45px;
        Text-Transform: Uppercase !Important;
        Font-Weight: 300;
        Letter-Spacing: -1px;
        Padding-Top: 10px;
    }
    
    .Pdf_left_box {
        Width: 320px;
    }
    
    .Pdf_right_box {
        Width: 585px;
    }
    
    .Pdf_quote_number {
        Width: 220px;
        Position: Absolute;
        Left: 349px;
        Text-Align: Center;
        Font-Size: 20px;
        Font-Weight: 300;
        Top: 76px;
    }
    
    .Pdf_customerbox {
        Color: #A6A5A5;
        Margin: 30px 0 0 15px;
        Height: 225px;
    }
    
    .Pdf_customerbox .Pdf_cus_name {
        Color: #FDB432;
        Font-Size: 22px;
        Font-Weight: 600;
    }
    
    .Pdf_customerbox Img {
        Margin-Right: 5px;
    }
    
    .Pdf_panel {
        Display: Block;
        Border: 1px Solid #FFF0D4;
    }
    
    .Pdf_panel .Pdf_panel_header {
        Font-Size: 18px;
        Font-Weight: 600;
        Padding: 10px 15px;
        Background: #FFF0D4;
    }

    .modal-content .Pdf_panel .Pdf_panel_header {
        Font-Size:16px;
    }
    
    .Pdf_panel .Pdf_panel_header.Tc {
        Padding: 8px 15px !Important;
        Font-Size: 14px !Important;
    }
    
    .Pdf_panel .Pdf_panel_container {
        Padding: 15px;
        Background: #Fff;
    }
    
    .Pdf_panel .Pdf_panel_container.Small {
        Font-Size: 10px;
        Padding:10px;
    }
    
    .Sign-Container {
        Display: Flex;
        Justify-Content: Space-Between;
        Width: 940px;
        Margin: 0 10px;
    }
    
    .Sign-Container .Sign-Box {
        Width: 420px;
    }
    
    .Sign-Box .Sign {
        Display: Flex;
        Align-Items: Center;
        Height: 75px;
        Border-Bottom: 1px Solid #Ccc;
        Width: 410px;
    }
    
    .Footer-Line {
        Width: 100%;
        Background: #FDB432;
        Padding: 5px;
        Text-Align: Center;
        Color: #000;
        Font-Size: 12px;
        Margin: 0;
        Position: Absolute;
        Bottom: 0;
        Left: 0;
    }
    
    .modal-content .Footer-Line {
        Position: Relative;
    }
    
    .modal-content .Pdf_quote_number {
        Top: 73px;
    }
    
    .Dark {
        Color: #000 !Important;
    }
    
    .Technical_info {
        Border-Left: 1px Solid #4D4C4C;
        Padding-Left: 40px;
        Margin: 71px 10px 0 30px;
        Font-Size: 0.8rem;
    }
    
    .modal-content .Technical_info {
        Margin-Top: 55px;
    }
    
    .Special_notes {
        Height: 58px;
        Overflow: Hidden;
        Padding:5px 15px !Important;
    }
    
    .modal-content .Special_notes {
        Height: 65px;
    }
    
    .modal-content .Primary-Table Table Td {
        Padding: 15px;
    }
</Style>



<Div Class='Pdf_wrapper'>
    <Div Class='Pdf_container Mb5'>
        <!-- HEADER STARTS -->
        <Div Class='Pdf_header'>
            <Div Class='Logo'><Img Src='Http://Thesolarproduct.Com/Assets/Common/Images/SavvySolar/Logo.Svg'></Div>
            <Div Class='Pdf_contact'><Img Src='Http://Thesolarproduct.Com/Assets/Common/Images/SavvySolar/Icon-Call.Png' Style='Height:38px;'> 1800 728 897</Div>
            <Div Class='Pdf_main_title'>Quotation</Div>
            <Div Class='Pdf_quote_number'>
                <Div Class='Pdf_qtno Mb5'><Span Class='Medium'>Quote No.</Span> {{Q.JobNumber}}</Div>
                <Div Class='F12 Medium'>Quotation Date : {{Q.Date}}</Div>
            </Div>
        </Div>
        <!-- HEADER ENDS -->
        <Div Style='Width:100%; Display: Flex; Justify-Content: Space-Between;'>
            <Div Class='Pdf_left_box'>
                <Div Class='Pdf_customerbox'>
                    <Div Class='F16 Medium Mb5'>QUOTATION TO:</Div>
                    <Div Class='Pdf_cus_name Mb10'>{{Q.Cust.Name}}</Div>
                    <Div Class='Dflex Align-Item-Center Mb10'>
                        <Img Src='Http://Thesolarproduct.Com/Assets/Common/Images/SavvySolar/Mobile.Png' Style='Width:18px;'> {{Q.Cust.Mobile}}
                    </Div>
                    <Div Class='Dflex Align-Item-Center Mb10'>
                        <Img Src='Http://Thesolarproduct.Com/Assets/Common/Images/SavvySolar/Mail.Png' Style='Width:18px;'> {{Q.Cust.Email}}
                    </Div>
                    <Div Class='Dflex'>
                        <Span><Img Src='Http://Thesolarproduct.Com/Assets/Common/Images/SavvySolar/Pin.Png' Style='Width:18px;'></Span>
                        <Span>{{Q.Cust.AddressLine1}}<Br>{{Q.Cust.AddressLine2}}</Span>
                    </Div>
                </Div>

                <Div Class='Pdf_panel Mb10'>
                    <Div Class='Pdf_panel_header'>Solar Advisor</Div>
                    <Div Class='Pdf_panel_container'>
                        <Div Class='F16 Bold Mb10'>{{Q.SolarAdviser.Name}}</Div>
                        <Div Class='Dflex Align-Item-Center Mb10'>
                            <Img Src='Http://Thesolarproduct.Com/Assets/Common/Images/SavvySolar/Phone.Png' Class='Me10' Style='Width:20px;'> {{Q.SolarAdviser.Mobile}}
                        </Div>
                        <Div Class='Dflex Align-Item-Center'>
                            <Img Src='Http://Thesolarproduct.Com/Assets/Common/Images/SavvySolar/Email.Png' Class='Me10' Style='Width:20px;'> {{Q.SolarAdviser.Email}}
                        </Div>
                    </Div>
                </Div>

                <Div Class='Pdf_panel Mb10'>
                    <Div Class='Pdf_panel_header'>Payment Methods</Div>
                    <Div Class='Pdf_panel_container'>
                        <Div Class='Dflex Align-Item-Center Justify-Space-Between'>
                            <Div>
                                <Div Class='F14 Bolder Mb5'>FUND TRANSFER</Div>
                                <Div Class='F14'>Account Name: <Span Class='Bold'>Savvy Solar</Span><Br> BSB: <Span Class='Bold'>03400</Span>, AC NO. <Span Class='Bold'>632451</Span></Div>
                            </Div>
                            <Img Src='Http://Thesolarproduct.Com/Assets/Common/Images/SavvySolar/Fund.Png' Style='Height:50px;'>
                        </Div>
                        <Div Class='Sep'></Div>
                        <Div Class='Dflex Align-Item-Center Justify-Space-Between'>
                            <Div>
                                <Div Class='F14 Bolder Mb5'>CHEQUE PAYBLE TO</Div>
                                <Div Class='F14'>Savvy Solar<Br>P/O Box: XXXX , XXXX Bank</Div>
                            </Div>
                            <Img Src='Http://Thesolarproduct.Com/Assets/Common/Images/SavvySolar/Cheque.Png' Style='Height:50px;'>
                        </Div>
                        <Div Class='Sep'></Div>
                        <Div Class='Dflex Align-Item-Center Justify-Space-Between'>
                            <Div>
                                <Div Class='F14 Bolder Mb5'>CARD PAYMENT ACCEPTED</Div>
                                <Div Class='F14'>Visa / Master Card Only<Br>Surcharge Applicable<Br>Call <Span Class='Bold'>1800 728 897</Span></Div>
                            </Div>
                            <Img Src='Http://Thesolarproduct.Com/Assets/Common/Images/SavvySolar/Card.Png' Style='Height:50px;'>
                        </Div>
                        <Div Class='Sep'></Div>
                        <Div Class='Dflex Align-Item-Center Justify-Space-Between'>
                            <Div>
                                <Div Class='F14 Bolder Mb5'>Pay ID</Div>
                                <Div Class='F14'>ABN: <Span Class='Bold'>65 617 964 539</Span><Br>Ref: <Span Class='Bold'>{{Q.JobNumber}}</Span></Div>
                            </Div>
                            <Img Src='Http://Thesolarproduct.Com/Assets/Common/Images/SavvySolar/Pay-Id.Png' Style='Height:50px;'>
                        </Div>
                    </Div>
                </Div>

                <Div Class='Pdf_panel Mb10'>
                    <Div Class='Pdf_panel_header'>Special Notes</Div>
                    <Div Class='Pdf_panel_container Special_notes'>
                        {{Q.JobNotes}}
                    </Div>
                </Div>

            </Div>

            <Div Class='Pdf_right_box'>
                <Div Class='Dflex Justify-Space-Between Technical_info'>
                    <Div Class='Gray'>
                        <Div Class='Mb10'>Meter Phase : <Span Class='Medium'>{{Q.Cust.MeterPhase}}</Span></Div>
                        <Div Class='Mb10'>Upgrades : <Span Class='Medium'> {{Q.Cust.MeterUpgrad}}</Span></Div>
                        <Div Class='Mb10'>Roof Type : <Span Class='Medium'> {{Q.Cust.RoofType}}</Span></Div>
                        <Div Class=''>No. Of Storey : <Span Class='Medium'> {{Q.Cust.PropertyType}}</Span></Div>
                    </Div>
                    <Div Class='Gray'>
                        <Div Class='Mb10'>Roof Pitch : <Span Class='Medium'> {{Q.Cust.RoofPitch}}</Span></Div>
                        <Div Class='Mb10'>Energy Distributor : <Span Class='Medium'> {{Q.Cust.ElecDist}}</Span></Div>
                        <Div Class=''>Energy Retailer : <Span Class='Medium'> {{Q.Cust.ElecRetailer}}</Span></Div>
                    </Div>
                </Div>


                <Div Class='Primary-Table'>
                    <Table Style='Width:100%;'>
                        <Tr>
                            <Th>Solar Power Solution Design, Supply & Installation</Th>
                            <Th Style='Width:130px;'>Price</Th>
                        </Tr>
                        <Tr>
                            <Td Class='White' Colspan='2' Style='Text-Align:left; Border-Top:0;'>
                                <!-- <Div Class='Mb10 '><Span Class='Bold'>Panels</Span> 20 X 330 W QCELLS 330 Q. Peak Duo G5+ - QPEAK DUO-G5+330</Div>
                            <Div Class='Mb10 '><Span Class='Bold'>Inverters</Span> 1 X 5 KW Fronius Australia Pty Ltd | Primo 5.0-01 AUS 1</Div>
                            <Div Class='Mb10 '><Span Class='Bold'>Monitoring</Span> Growatt Wi-Fi Stick For TL-X And TL-XH Models</Div>
                            <Div Class='Mb10 '><Span Class='Bold'>Inverters</Span> 1 X 5 KW Fronius Australia Pty Ltd | Primo 5.0-01 AUS 1</Div>
                            <Div Class=''><Span Class='Bold'>Monitoring</Span> Growatt Wi-Fi Stick For TL-X And TL-XH Models</Div> -->
                                <Div Style='Min-Height:135px; Font-Size:14px; Line-Height: 26px;'>
                                    {{Q.PI.SystemDetailsTable}}
                                </Div>
                            </Td>
                        </Tr>
                        <Tr Class='Subtotal'>
                            <Td Class='Bolder F14'>Sub Total (A)</Td>
                            <Td Class='Bolder F14'>$ {{Q.PI.SubTotal}}</Td>
                        </Tr>
                        <Tr>
                            <Td>Less STC INCENTIVE 78 X $38.10(B)</Td>
                            <Td>$ {{Q.PI.Stc}}</Td>
                        </Tr>
                        <Tr>
                            <Td>Grand Total (A-B)</Td>
                            <Td>$ {{Q.PI.GTotal}}</Td>
                        </Tr>
                        <Tr>
                            <Td>Plus Additional Charges</Td>
                            <Td>$ {{Q.PI.ACharge}}</Td>
                        </Tr>
                        <Tr>
                            <Td>Solar Rebate</Td>
                            <Td>$ {{Q.PI.SolarVICRebate}}</Td>
                        </Tr>
                        <Tr>
                            <Td>Solar Loan</Td>
                            <Td>$ {{Q.PI.SolarVICLoan}}</Td>
                        </Tr>
                        <Tr>
                            <Td>Less Special Discount</Td>
                            <Td>$ {{Q.PI.Discount}}</Td>
                        </Tr>
                        <Tr>
                            <Td>Less Deposit (Inc. GST)</Td>
                            <Td>$ {{Q.PI.Deposit}}</Td>
                        </Tr>
                        <Tr>
                            <Td Class='F14 Bolder Text-Right'>Total Price Less STCs Rebate (Inc. GST)</Td>
                            <Td Class='F14 Bolder Text-Right'>$ {{Q.PI.TotalPriceStcRebate}}</Td>
                        </Tr>
                        <Tr>
                            <Td Class='F14 Bolder Text-Right'>Deposite Required</Td>
                            <Td Class='F14 Bolder Text-Right'>$ {{Q.PI.Deposit}}</Td>
                        </Tr>
                        <Tr Class='Balance-Row'>
                            <Td Class='F16'>Balance Due :</Td>
                            <Td Class='F16'>$ {{Q.PI.Balance}}</Td>
                        </Tr>

                    </Table>
                </Div>
            </Div>
        </Div>
    </Div>

    <Div Class='Pdf_container'>
        <Div Class='Pdf_panel' Style='Clear:both;'>
            <Div Class='Pdf_panel_header Tc'>Terms & Conditions</Div>
            <Div Class='Pdf_panel_container Small'>
                <Div Class='Bolder Dark Mb5'>1. Introduction</Div>
                <Div Class='Medium Dark Mb5'>Who Does This Agreement Apply To</Div>
                <Div Class='Mb5'>1.1 This Agreement Is Between</Div>
                <Div Class='Mb10'>(A) The Green Miner Pty Ltd T/A SOLAR MINER ABN : 93 603 941 475, Referred To As 'We' Or 'Us'; And (B) The Customer Named In The Quote, Referred To As “You</Div>

                <Div Class='Medium Dark Mb5'>What Is This Agreement Made Up Of?</Div>
                <Div Class='Mb5'>1.2 This Agreement Is Made Up Of</Div>
                <Div Class='Mb10'>(A) These Terms And Conditions; And (B) The Quote Attached To These Terms And Conditions.</Div>
                <Div Class='Bold' Style='Text-Align:center'>See Additional Terms & Conditions Overleaf</Div>

            </Div>
        </Div>
    </Div>

    <Div Class='Pdf_container'>
        <Div Class='Sign-Container'>
            <Div Class='Sign-Box'>
                <Div Class='Sign Mb5'>{{Q.CustomerSign.SignSrc}}</Div>
                <Div>Customer Name: <Span Class='Bold'>{{Q.Cust.Name}}</Span></Div>
                <Div>Date: <Span Class='Bold'>{{Q.CustomerSign.Date}}</Span></Div>
            </Div>
            <Div Class='Sign-Box'>
                <Div Class='Sign Mb5'>{{Q.RepresentativeSign.SignSrc}}</Div>
                <Div><Span Class='Bold'>Representative (On Behalf Of Savvy Solar Pty Ltd)</Span></Div>
            </Div>
        </Div>
    </Div>

    <Div Class='Footer-Line Medium'>
        C5, Level 1, 2 Main Street Point Cook Vic 3030<Span Style='Padding:0 10px;'>|</Span>ABN 65 617 964 539
    </Div>

</Div>