<!-- Required Meta Tags -->
<Meta Charset='Utf-8'>
<Meta Name='Viewport' Content='Width=Device-Width, Initial-Scale=1, Shrink-To-Fit=No'>

<Title>Quotation</Title>

<Style>
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    /* cyrillic-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
        unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }
    /* cyrillic */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');
        unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }
    /* greek-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');
        unicode-range: U+1F00-1FFF;
    }
    /* greek */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');
        unicode-range: U+0370-03FF;
    }
    /* vietnamese */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');
        unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }
    /* latin-ext */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }
    /* latin */
    
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
    
    body {
        Background: #Fff;
        Margin: 0;
        Padding: 0;
        Font-Family: 'Roboto';
        Color: #000;
        Font-Size: 13px;
        Font-Weight: 400;
    }
    
    .modal-content .Pdf_wrapper {
        Font-Family: 'Roboto' !Important;
    }
    
    .Wrapper {
        Width: 100%;
        Margin: 0 Auto;
    }
    
    .Pdf_wrapper {
        Width: 940px;
        Margin: 0 Auto;
        Padding: 0 !Important;
    }
    
    .Container_pdf {
        Width: 940px;
        Margin: 0 Auto;
        Padding: 0 0;
    }
    
    .Content {
        Padding: 0 !Important;
    }
    
    .Header_pdf {
        /* Background: Url('https://thesolarproduct.com/assets/common/images/sm/Header-Bg.Png') 0 0 No-Repeat; */
        Background: Url('https://thesolarproduct.com/assets/common/images/sm/sm-header-bg.png') 0 0 No-Repeat;
        background-size: 940px;
        Height: 120px;
        Display: Flex;
        Align-Items: Center;
        Padding: 0;
        Width: 940px;
        Justify-Content: Space-Between;
    }
    
    .modal-content .Logo {
        Width: 260px;
        Padding: 0;
    }
    
    .Logo {
        Width: 260px;
    }
    
    .Logo Img {
        /* Max-Width: 260px; */
        Margin-Left: 10px;
        Margin-Top: -10px;
        Height: 60px;
    }
    
    .Header-Details {
        Width: 525px;
    }
    
    .Basic-Info {
        Color: #Fff;
        Font-Size: 12px;
    }
    
    .Title-Box {
        Display: Flex;
        Flex-Direction: Column;
        Justify-Content: Center;
        Color: #ADADAD;
        Align-Items: Center;
        Margin-Right: 10px;
        line-height: 30px;
    }
    
    .Main-Title {
        Color: #Fff;
        Font-Size: 22px;
        Text-Transform: Uppercase;
        Font-Weight: bold;
        color: #E63338;
    }
    
    .Sub-Title {
        Font-Size: 24px;
        Color: #Fff;
        Text-Transform: Uppercase;
    }
    
    .Date {
        Font-Size: 12px;
    }
    
    .Pdf_white {
        Color: #Fff !Important;
    }
    
    .Pdf_grayNo {
        Color: #ADADAD !Important;
    }
    
    .Text-Right {
        Text-Align: Right !Important;
    }
    
    .Bolder {
        Font-Weight: 900 !Important;
    }
    
    .Bold {
        Font-Weight: 700 !Important;
    }
    
    .Medium {
        Font-Weight: 500 !Important;
    }
    
    .Dflex {
        Display: Flex;
    }
    
    .Align-Item-Center {
        Align-Items: Center;
    }
    
    .Justify-Space-Between {
        Justify-Content: Space-Between;
    }
    
    .F12 {
        Font-Size: 12px !Important;
    }
    
    .F14 {
        Font-Size: 14px !Important;
    }
    
    .F16 {
        Font-Size: 16px !Important;
    }
    
    .Mb5 {
        Margin-Bottom: 5px !Important;
    }
    
    .Mb10 {
        Margin-Bottom: 10px !Important;
    }
    
    .Mb15 {
        Margin-Bottom: 15px !Important;
    }
    
    .Mb20 {
        Margin-Bottom: 20px !Important;
    }
    
    .Gray {
        /* Color: #666 !Important; */
        Color: #333 !Important;
    }
    
    .Black {
        Color: #000 !Important;
    }
    
    .Sep {
        Height: 2px;
        Background: #D9D9D9;
        Width: 100%;
        Margin: 15px 0;
        Display: Block;
    }
    
    .Pdf-Container {
        Width: 920px;
        Padding: 0 10px;
        Display: Flex;
        Justify-Content: Space-Between;
        Margin: 15px auto 0;
    }
    
    .modal-content .Pdf-Container {
        Width: 100%;
    }
    
    .Left-Box {
        Width: 305px;
    }
    
    .modal-content .Left-Box {
        Width: 300px;
    }
    
    .Right-Box {
        Width: 605px;
    }
    
    .modal-content .Right-Box {
        Width: 605px;
    }
    
    .Customer-Info {
        Border-Left: 5px Solid #F2F2F2;
        Background: Url('https://thesolarproduct.com/assets/common/images/sm/gray-arrow.png') 0 30px No-Repeat;
        Padding-Left: 15px;
        Padding-Top: 0;
    }
    
    .Qt-Title {
        Color: #666;
    }
    
    .Cust-Name {
        Font-Size: 24px;
        Color: 000;
    }
    
    .Left-Content-Title {
        Color: #29588F;
        Font-Size: 18px;
        Margin-Bottom: 12px;
        Display: Flex;
        Align-Items: Center;
    }
    
    .Left-Content-Title Img {
        Margin-Right: 10px;
    }
    
    .Payment-Box {
        Background: Url('https://thesolarproduct.com/assets/common/images/sm/Payment-Bg.Png') 0 0 No-Repeat;
        Height: 80px !Important;
        Width: 270px;
        Display: Flex;
        Align-Items: Center;
        Padding: 0 10px;
    }
    
    .modal-content .Payment-Box {
        Width: 290px;
        Font-Size: 0.8rem !Important;
    }
    
    .modal-content .Payment-Box Img {
        Margin-Right: 5px !Important;
    }
    
    .modal-content .Payment-Box .Mb5 {
        Margin-Bottom: 0 !Important;
    }
    
    .Payment-Box Img {
        Margin-Right: 10px;
    }
    
    .Advisor {
        Border-Left: 4px Solid #F2f2f2;
        Padding: 10px 0 10px 15px;
    }
    
    .Primary-Table Table {
        Width: 100%;
        Border: 0;
        Border-Collapse: Collapse;
    }
    
    .Primary-Table Table Th {
        Height: 50px;
        Background: #333;
        Color: #Fff;
        Font-Size: 16px;
        Font-Weight: Bold;
        Text-Align: Left;
        Padding: 0 15px;
    }
    
    .Primary-Table Table Th.Price-Box {
        Background: #333 Url('https://thesolarproduct.com/assets/common/images/sm/th-bg.png') Right Center No-Repeat;
        Width: 128px;
        Text-Align: Right;
    }
    
    .Primary-Table Table Td {
        Padding: 12px 15px;
        Border-Top: 1px Solid #DAE3ED;
        Font-Size: 12px;
    }
    
    .Primary-Table Table Td:last-Child {
        Text-Align: Right;
    }
    
    .Primary-Table Table Tr.Subtotal Td {
        Border: 1px Solid #333;
        Border-Width: 2px 0 1px;
        Font-Weight: 600;
    }
    
    .Primary-Table Table Tr.Balance-Row Td {
        Background-Color: #333;
        Color: #Fff;
        Font-Weight: 600;
        Text-Align: Right;
        Height: 40px;
        Border: 0;
        Padding: 0 15px;
        Font-Size: 14px;
    }
    
    .Primary-Table Table Tr.Balance-Row Td:last-Child {
        Background: #333 Url('https://thesolarproduct.com/assets/common/images/sm/sub-title-bg.Png') Right Center No-Repeat;
    }
    
    .Pdf_panel {
        Display: Block;
    }
    
    .Pdf_panel .Pdf_panel-Header,
    .Normal-Title {
        Background: #E63338;
        Height: 40px;
        Line-Height: 40px;
        Padding: 0 15px;
        Color: #Fff;
        Font-Size: 14px;
        Font-Weight: 600;
    }
    
    .modal-content .Normal-Title {
        Width: 98% !Important;
    }
    
    .Pdf_panel_content {
        Font-Size: 10px;
        Line-Height: 10px;
        Background: #fff;
        Padding: 10px 15px;
        border: 1px solid #DAE3ED;
    }
    
    .Pdf_panel_content.Pdf_terms {
        Line-Height: 14px;
    }
    
    .Sign-Container {
        Display: Flex;
        Justify-Content: Space-Between;
        Width: 940px;
        Margin: 0 10px;
    }
    
    .Sign-Container .Sign-Box {
        Width: 420px;
    }
    
    .Sign-Box .Sign {
        Display: Flex;
        Align-Items: center;
        justify-content: center;
        Height: 80px;
        Border: 2px dashed #Ccc;
        background: #fff;
        Width: 410px;
        Padding: 5px;
    }
    
    .Pdf_footer_line {
        Width: 100%;
        Background: #333 Url('https://thesolarproduct.com/assets/common/images/sm/footer-bg.png') 0 0 No-Repeat;
        Height: 5px;
        Margin: 0;
        Position: Absolute;
        Bottom: 0;
        Left: 0;
    }
    
    .Pdf_footer_bg {
        Width: 100%;
        Background: #333 Url('https://thesolarproduct.com/assets/common/images/sm/Footer-Bg.Png') 0 0 No-Repeat;
        Height: 5px;
        Margin: 0;
    }
    
    .Red,
    .red {
        Color: Red !Important;
    }
    
    .Solar-Info {
        Margin: 0;
        Padding: 0;
    }
    
    .Solar-Info Li {
        List-Style: None;
        Padding: 15px 15px 15px 45px;
        Background-Image: Url('https://thesolarproduct.com/assets/common/images/sm/Bullet.Png');
        Background-Size: 20px;
        Background-Repeat: No-Repeat;
        Background-Position: 10px Center;
        Font-Size: 14px;
        Line-Height: 18px;
    }
    
    .Solar-Info Li:nth-Child(Odd) {
        Background-Color: #F2F2F2;
    }
    
    .modal-content .Pdf_head_call Img,
    .modal-content .Pdf_kwinfo Img {
        Top: 0 !Important;
    }
    
    .modal-content .Main-Title {
        Line-Height: 37px;
    }
    
    .modal-content .Pdf_footer_bg {
        Position: relative !Important;
        Height: 8px !Important;
    }
    
    .modal-content Div {
        Height: auto !Important;
    }
    
    .modal-content .Sep {
        height: 2px !important;
    }
    
    .modal-content .Pdf_panel_content.Pdf_terms {
        Margin-Bottom: 10px !Important;
    }
    
    .modal-content .Sign-Box .Sign {
        Height: 80px !Important;
    }
    
    .modal-content .Header_pdf {
        Height: 120px!Important;
    }
    
    .payment-boxes {
        Background-Size: 100%;
        Background-Repeat: No-Repeat;
        Background-Position: 0 Center;
        height: 77px;
        width: 172px;
        padding: 8px 5px 0 62px;
        display: flex;
        flex-direction: column;
        line-height: 18px;
    }
    
    .modal-content .payment-boxes {
        width: 238px !important;
        height: 85px !important;
    }
    
    .fund-transfer {
        Background-Image: Url('https://thesolarproduct.com/assets/common/images/sm/box-fund.png');
    }
    
    .c-card {
        Background-Image: Url('https://thesolarproduct.com/assets/common/images/sm/box-card.png');
    }
    
    .payid {
        Background-Image: Url('https://thesolarproduct.com/assets/common/images/sm/box-payid.png');
    }
</Style>

<Body>
    <!-- PAGE 1 STARTS -->
    <Div>
        <Div Class='Wrapper'>
            <Div Class='Pdf_wrapper'>
                <Div Class='Container_pdf' style='height:1150px'>
                    <!-- HEADER STARTS -->
                    <Div Class='Header_pdf'>
                        <Div Class='Logo'>
                            <Img Src='https://thesolarproduct.com/assets/common/images/sm/SM-Logo.Png'>
                        </Div>
                        <Div Class='Header-Details'>
                            <Div Class='Dflex Align-Item-Center Justify-Space-Between'>
                                <Div Class='Basic-Info'>
                                    <Div Class='Medium F16 Mb10'>The Green Miner Pty Ltd T/A Solar Miner</Div>
                                    <Div Class='Medium Mb15'>
                                        <Span Class='Bold'>ABN:</Span> 93 603 941 475
                                        <Span Style='Margin:0 5px;'>|</Span>
                                        <Span Class='Bold Medium Pdf_head_call' Style='Background:#FF0000; Padding:6px 15px; Border-Radius:15px; Color:#Fff;'><Img Src='https://thesolarproduct.com/assets/common/images/sm/Phone-Call.Png' Style='Position: Relative; Height:16px; Top:4px;'> <Span Class='Bold'>1300 285 885</Span></Span>
                                    </Div>
                                    <Div Class='Dflex Align-Item-Center '>
                                        <Img Src='https://thesolarproduct.com/assets/common/images/sm/Pin.Png' Style='Height:16px; Margin-Right: 4px;'> 409 Francis St, Brooklyn VIC 3012 </Div>
                                </Div>
                                <Div Class='Title-Box'>
                                    <Div Class='Main-Title'>QUOTATION</Div>
                                    <Div Class='Sub-Title'>
                                        <Span Class='Bold'>{{Q.JobNumber}}</Span>
                                    </Div>
                                    <Div Class='Date'>
                                        <Span>Date:</Span>
                                        <Span>{{Q.Date}}</Span><span style='padding:0 5px;'>|</span> <span>Valid Until 7 days</span>
                                    </Div>
                                </Div>
                            </Div>
                        </Div>
                    </Div>
                    <!-- HEADER ENDS -->
                    <Div Class='Pdf-Container'>
                        <Div Class='Left-Box'>
                            <Div Class='Customer-Info'>
                                <Div Class='Qt-Title Bold F16 Mb5'>Quotation To:</Div>
                                <Div Class='Cust-Name Medium Mb5'>{{Q.Cust.Name}}</Div>
                                <Div Class='Gray Mb10'>
                                    <Span Class='Bold'>Mobile:</Span>
                                    <Br>{{Q.Cust.Mobile}}</Div>
                                <Div Class='Gray Mb10'>
                                    <Span Class='Bold'>Email:</Span>
                                    <Br>{{Q.Cust.Email}}</Div>
                                <Div Class='Gray Mb10'>
                                    <Span Class='Bold'>Address:</Span>
                                    <Br>
                                    <Span Style='Text-Transform: Capitalize;'>{{Q.Cust.AddressLine1}}<Br>{{Q.Cust.AddressLine2}}</Span>
                                </Div>
                            </Div>
                            <Div Class='Sep'></Div>

                            <Div Class='Advisor Customer-Info Mb15'>
                                <Div Class='Gray F16 Bold Mb5'>Solar Advisor</Div>
                                <Div Class='F14 Black Bold Mb5'>{{Q.SolarAdviser.Name}}</Div>
                                <Div Class='Gray Mb5'>
                                    <Span Class='Bold'>Mobile:</Span> {{Q.SolarAdviser.Mobile}}</Div>
                                <Div Class='Gray'>
                                    <Span Class='Bold'>Email:</Span> {{Q.SolarAdviser.Email}}
                                </Div>
                            </Div>

                            <Div Class='Pdf_panel Mb5 '>
                                <Div Class='Pdf_panel-Header '>Project Notes</Div>
                                <Div Class='Pdf_panel_content F14 ' Style='Padding:10px; Height:305px; Overflow: Hidden;'>
                                    <Div Class='F14' style='line-height:20px;'>
                                        {{Q.JobNotes}}
                                    </Div>
                                </Div>
                            </Div>

                        </Div>
                        <Div Class='Right-Box'>
                            <div class='F16 Bold Mb15'>Property Details</div>
                            <Div Class='Dflex Justify-Space-Between Mb15'>
                                <Div Class='Dflex Justify-Space-Between'>
                                    <Div Class=''>
                                        <Div Class='Mb10'>
                                            <Span Class='Bold'>Phase(Power):</Span> {{Q.Cust.MeterPhase}}</Div>
                                        <Div Class=' Mb10'>
                                            <Span Class='Bold'>Switchboard Upgrade:</Span> {{Q.Cust.MeterUpgrad}}</Div>
                                        <Div Class=' Mb10'>
                                            <Span Class='Bold'>Energy Retailer:</Span> {{Q.Cust.ElecRetailer}}</Div>
                                        <Div Class=''>
                                            <Span Class='Bold'>Meter No:</Span> {{Q.Cust.MeterNo}}</Div>
                                    </Div>
                                    <Div style='margin:0 15px;'>
                                        <Div Class=' Mb10'>
                                            <Span Class='Bold'>Roof Pitch:</Span> {{Q.Cust.RoofPitch}}</Div>
                                        <Div Class=' Mb10'>
                                            <Span Class='Bold'>No. Of Storey:</Span> {{Q.Cust.PropertyType}}</Div>
                                        <Div Class=' Mb10'>
                                            <Span Class='Bold'>NMI:</Span> {{Q.Cust.NIMINumber}}</Div>
                                        <Div Class=' Mb10'>
                                            <Span Class='Bold'>Roof Type:</Span> {{Q.Cust.RoofType}}</Div>
                                    </Div>
                                    <div>
                                        <Div Class=' Mb10'>
                                            <Span Class='Bold'>Energy Dist:</Span> {{Q.Cust.ElecDist}}</Div>
                                    </div>
                                </Div>

                            </Div>
                            <Div Class='Primary-Table Mb15'>
                                <Table>
                                    <Tr>
                                        <Th>
                                            <Div Class='Dflex Align-Item-Center' Style='Width:100%; Justify-Content: Space-Between;'>
                                                <Span>Solar Power Solution Design, Supply & Installation</Span>
                                                <Span Class='Pdf_kwinfo' Style='Background:#E63338; Padding:0 8px;  Border-Radius:15px; Height:30px; Font-Size:14px !Important; Display: Inline-Block; Width:100px; Text-Align: Center; Line-Height: 32px;; '>
                                                            <Img Src='https://thesolarproduct.com/assets/common/images/sm/Power1.Png' Style='Height:18px; Position: Relative; Top:3px;'> {{Q.PI.Capecity}} Kw</Span>
                                        </Th>
                                        </Div>
                                        <Th Class='Price-Box'>Price</Th>
                                    </Tr>
                                    <Tr>
                                        <Td Colspan='2' Style='Text-Align:left'>
                                            <Div Style='Height:125px; Font-Size:14px; line-height: 22px;'>
                                                <ul style='margin:0 0 0 10px; padding:0;'>
                                                    {{Q.PI.SystemDetailsTable}}
                                                </ul>

                                            </Div>
                                        </Td>
                                    </Tr>
                                    <Tr Class='Subtotal'>
                                        <Td>Sub Total (A)</Td>
                                        <Td>${{Q.PI.SubTotal}}</Td>
                                    </Tr>
                                    <Tr>
                                        <Td>Less STC INCENTIVE
                                            <Span Class='Bold'>( {{Q.PI.StcDesc}} ) (B)</Span>
                                        </Td>
                                        <Td>${{Q.PI.Stc}}</Td>
                                    </Tr>
                                    <Tr>
                                        <Td>Grand Total (A-B)</Td>
                                        <Td>${{Q.PI.GTotal}}</Td>
                                    </Tr>
                                   {{Q.PI.VicWithRebate}}
                                    <Tr>
                                        <Td>Plus Additional Charges</Td>
                                        <Td>${{Q.PI.ACharge}}</Td>
                                    </Tr>
                                    <!-- <Tr>
                                            <Td>Less Special Discount</Td>
                                            <Td>${{Q.PI.Discount}}</Td>
                                        </Tr> 
                                        <Tr>
                                      <Td>{{Q.PI.DepositeText}}</Td>
                                    <Td>$ {{Q.PI.Deposit}}</Td>
                                        </Tr>-->
                                    <Tr>
                                        <Td Class='Text-Right F14 Bold'>Total Price Less STCs Rebate (Inc. GST)</Td>
                                        <Td Class='F14 Bold'>${{Q.PI.TotalPriceStcRebate}}</Td>
                                    </Tr>
                                    <Tr>
                                        <Td Class='Text-Right F14 Bold' style='border-top:0 !important;'>Deposit Required</Td>
                                        <Td Class='F14 Bold' style='border-top:0 !important;'>${{Q.PI.Deposit}}</Td>
                                    </Tr>
                                    <Tr Class='Balance-Row'>
                                        <Td>Balance Due :</Td>
                                        <Td>${{Q.PI.Balance}}</Td>
                                    </Tr>
                                </Table>
                            </Div>
                        </Div>
                    </Div>

                    <div class='Dflex Justify-Space-Between Mb15' style=' padding:0 10px; margin-top:10px;'>
                        <Div Class='Pdf_panel' style='width:760px; '>
                            <Div Class='Pdf_panel-Header'>Notes</Div>
                            <Div Class='Pdf_panel_content'>
                                <div class='Dflex Justify-Space-Between '>
                                    <div class='fund-transfer payment-boxes '>
                                        <div class='Bold F14 Mb5 '>Fund Transfer</div>
                                        <div class='F12 '>
                                            Account Name: <span class='Bold'>Solar Miner</span><br>BSB: <span class='Bold'>033002</span>, Acc No.: <span class='Bold'>131507</span><br>Ref: <span class='Bold'>{{Q.JobNumber}}</span>
                                        </div>
                                    </div>
                                    <div class='c-card payment-boxes '>
                                        <div class='Bold F14 Mb5'>Credit Card</div>
                                        <div class='F12 '>
                                            Visa / Master Card Only<br>Call: <span class='Bold'>1300 285 885</span><br> Surcharge Apply
                                        </div>
                                    </div>
                                    <div class='payid payment-boxes '>
                                        <div class='Bold F14 Mb5'>Fund Transfer Via PayID</div>
                                        <div class='F12 '>
                                            ABN: <span class='Bold'>93 603 941 475</span> <br>Ref: <span class='Bold'>{{Q.JobNumber}}</span>
                                        </div>
                                    </div>
                                </div>
                            </Div>
                        </Div>
                        <div>
                            <img src='https://thesolarproduct.com/assets/common/images/sm/target-date.png ' style='max-width:145px; '>
                        </div>
                    </div>

                    <div style='padding:0 10px; margin-top:15px;'>
                        <div class='Bold F14 Mb10'>IMPORTANT NOTICE TO THE CUSTOMER</div>
                        <div class='F14' style='border-bottom: 1px dashed #E63338; padding-bottom: 25px; margin-bottom: 25px;'>
                            You have a right to cancel this agreement within 10 Business Days (Cooling Off Period) from and including the day you accept this agreement.<br>Deposit is 100% refundable within cooling off period.
                        </div>
                    </div>

                </Div>

                <div style='padding:0 10px;' class='F12 Dflex Align-Item-Center Mb15'>
                    <img src='https://thesolarproduct.com/assets/common/images/sm/round-bullet.png' style='height:18px; margin-right:5px;'> I have read and accepted the terms and conditions of the contract.
                </div>

                <Div Class='Sign-Container' Style='Padding:0 10px 5px 0;'>
                    <Div Class='Sign-Box '>
                        <Div Class='Sign Mb5'><img src='{{Q.CustomerSign.SignSrc}}' style='max-height:75px;'></Div>
                        <Div Class='Bold '>Customer Name & Signature:
                            <Span Class='Bold '>{{Q.CustomerSign.Name}}</Span>
                        </Div>
                        <Div>Date:
                            <Span Class='Bold '>{{Q.CustomerSign.Date}}</Span>
                        </Div>
                    </Div>
                    <Div Class='Sign-Box'>
                        <Div Class='Sign Mb5'><img src='{{Q.RepresentativeSign.SignSrc}}' style='max-height:75px;'></Div>
                        <Div>
                            <Span Class='Bold'>Representative Signature (On Behalf Of Solar Miner)</Span>
                        </Div>
                    </Div>
                </Div>
            </Div>
        </Div>
        <Div Class='Pdf_footer_bg' Style='Position: Absolute; Width:100%; Bottom:0;'></Div>
    </Div>
    <!-- PAGE 1 ENDS -->
</Body>


<Div Style='Page-Break-Before:always '></Div>

<!-- PAGE 2 Start -->
<Div Style='Position:relative;'>
    <Div Class='Wrapper '>
        <Div>
            <Div>
                <Div Class='Pdf_wrapper ' Style='Margin-Top:18px '>
                    <Div Class='Pdf-Container' Style='Height:1106px; flex-direction: column; justify-content:inherit;'>
                        <Div Class='Pdf_panel' Style='Margin-Top:15px;'>
                            <Div Class='Pdf_panel-Header Mb10 F16 '>Your Solar Proposal For {{Q.PI.Capecity}} Kw</Div>
                            <Div Class='Bold F14 Mb10 '>Acknowledgements And Consents</Div>
                            <Div Class='Pdf_panel_content ' Style='Background:#Fff; Padding:0; '>
                                <Ul Class='Solar-Info '>
                                    <li>You consent to us collecting, holding, using and disclosing your information, including Personal Information, in accordance with the Privacy Act for the purposes of this agreement, and for the purpose of us marketing
                                        our products and services to you that relate to the System.</li>
                                    <li>You acknowledge and agree that under this agreement you assign all STCs associated with the System and its operation to us, as set out in clause 10.</li>
                                    <li>You acknowledge that we have explained the process surrounding the payment and trade of STCs (i. that STCs are only sold through a Clearing House when there is a buyer, there is no guarantee on how long they will take
                                        to sell, and you are not guaranteed $40).</li>
                                    <li>You acknowledge and agree that we may vary the prices under this agreement in certain circumstances, as set out in clause 5.</li>
                                    <li>You acknowledge and agree that your electricity retailer may change your electricity retail contract or tariff, as a result of you having us install the System at the Premises, and that you should contact your electricity
                                        retailer to obtain details in relation to this.</li>
                                    <li>You acknowledge and agree that we may vary the prices under this agreement in certain.</li>
                                    <li>You acknowledge and agree that we will provide you with the Maintenance Documents listed in Attachment 2 once the System is installed and commissioned.</li>
                                    <li>You understand that provision to you of this Quote constitutes an offer from us to you on the terms of the Quote and the attached Terms and Conditions and that, by signing below, you accept that offer and enter into
                                        a legally binding agreement with us on those terms.</li>
                                </Ul>
                            </Div>
                        </Div>
                        <Div Class='Pdf_panel' Style='Margin:25px 0;'>
                            <Div Class='Pdf_panel-Header Dflex Align-Item-Center'><img src='https://thesolarproduct.com/assets/common/images/sm/Pin.Png' style='height:25px; margin-right:5px;'> Inverter Location</Div>
                            <Div Class='Pdf_panel_content Bold F14' style='padding:20px; line-height: 24px;'>{{Q.InverterLocation}}</Div>
                        </Div>
                    </Div>

                    <div style='padding:0 10px; margin-bottom:40px;' class='F12 Dflex Align-Item-Center'>
                        <div class='Dflex'>
                            <div class='Dflex'>
                                <div><img src='https://thesolarproduct.com/assets/common/images/sm/round-bullet.png' style='height:20px; margin-right:8px;'></div>
                                <div style='line-height:22px;'>
                                    I agree the terms and conditions of this contract and site details are correct as per above description. I also acknowledge that if any of details are incorrect I may be charged extra for additional components and labour.<br>
                                    <div class='Bold'>T&C: This is a proposed layout only and It may change based on the actual site conditions</div>
                                </div>
                            </div>
                            <div style='display: none;'>
                                <div style='background:#f5f5f5; border:1px dashed #ccc; width:280px; height:70px; display:flex; justify-content: center; align-items:center; margin-bottom: 10px;'>
                                    {{Q.CustomerSign.SignSrc}}
                                </div>
                                <div class='Mb5'>
                                    <Span Class='Bold'>{{Q.CustomerSign.Name}}</Span>
                                </div>
                                <div>Date:
                                    <Span Class='Bold '>{{Q.CustomerSign.Date}}</Span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <Div Class='Sign-Container' Style='Margin-Bottom:10px;'>
                        <Div Class='Sign-Box '>
                            <Div Class='Sign Mb5 '><img src='{{Q.CustomerSign.SignSrc}}' style='max-height:75px;'></Div>
                            <Div Class='Bold '>Customer Name & Signature:
                                <Span Class='Bold '>{{Q.CustomerSign.Name}}</Span>
                            </Div>
                            <Div>Date:
                                <Span Class='Bold '>{{Q.CustomerSign.Date}}</Span>
                            </Div>
                        </Div>
                        <Div Class='Sign-Box '>
                            <Div Class='Sign Mb5 '><img src='{{Q.RepresentativeSign.SignSrc}}' style='max-height:75px;'></Div>
                            <Div>
                                <Span Class='Bold '>Representative Signature (On Behalf Of Solar Miner)</Span>
                            </Div>
                        </Div>
                    </Div>
                </Div>
            </Div>
        </Div>
        <Div Class='Pdf_footer_bg ' Style='Width:100%; Bottom:0; '></Div>
    </Div>
</Div>
<!-- PAGE 2 Ends -->
<Div Style='Page-Break-Before:always '></Div>




<!-- Page 3 Starts -->
<Div Style='Position:relative;'>
    <Div Class='Wrapper '>
        <Div Style='Height:1351px;'>
            <Div Class='Pdf-Container'>
                <Div Class='Pdf_panel' Style='Margin-Top:15px;'>
                    <Div Class='Pdf_panel-Header'>Terms & Conditions</Div>
                    <Div Class='Pdf_panel_content Pdf_terms'>
                        <Div Class='Medium Dark Mb5'>Other Rules</Div>
                        <div class='bolder Dark red Mb5'>1. Introduction</div>
                        <div class='Medium Dark Mb5'>Who does this agreement apply to</div>
                        <div class='Mb5'>1.1 This agreement is between</div>
                        <div class='Mb10'>(a) The Green Miner Pty Ltd t/a SOLAR MINER ABN : 93 603 941 475, referred to as 'we' or 'us'; and (b) the customer named in the Quote, referred to as “you</div>

                        <div class='Medium Dark Mb5'>What is this agreement made up of?</div>
                        <div class='Mb5'>1.2 This agreement is made up of</div>
                        <div class='Mb10'>(a) these Terms and Conditions; and (b) the Quote attached to these Terms and Conditions.</div>

                        <div class='Medium Dark Mb5'>What does this agreement cover</div>
                        <div class='Mb5'>1.3 The agreement covers</div>
                        <div class='Mb10'>(a) your purchase from us of the solar photovoltaic system and other equipment, referred to as the 'System' and described in the Full System Design attached to this agreement; and (b) delivery and installation of the System at
                            your Premises.</div>

                        <div class='Mb5'>1.4 This agreement starts when you accept our offer set out in the Quote, which you can do by</div>
                        <div class='Mb10'>
                            (a) signing and posting or delivering the Quote to our address as set out in the Quote; (b) signing, scanning and emailing the Quote to our email address as set out in the Quote; or<br> (c) accepting the offer over the telephone,
                            by calling our telephone number as set out in the Quote (in which case we will send you a full copy of this agreement, by post or email, within one week after your acceptance).</div>
                        <div class='Mb5'>1.5 However, your purchase of the System will not become final until all of the following conditions have been satisfied</div>
                        <div class='Mb5'>(a) you have paid us the Deposit; and<br> (b) your electricity distributor (the company that actually delivers electricity to the Premises) has granted Grid Connection Approval</div>

                        <div class='Mb5'>1.6 This agreement ends when we have finished installing and commissioning the System, unless we or you end it earlier in accordance with it terms.</div>
                        <div class='Mb10'>1.7 If we have delivered and installed the System, then after the agreement ends the guarantees and related terms in clause 11 will continue for the Guarantee Period</div>

                        <div class='Mb10'>1.8 In addition to this agreement, various laws and codes, including the Australian Consumer Law and, if we have volunteered to be bound by it the CEC Solar Retailer Code of Conduct, also contain rules applicable to the sale and
                            installation of solar photovoltaic systems, and we will comply with these rules in selling you the System and installing it at the Premises</div>

                        <div class='Medium Dark Mb5'>Capitalised terms have special definition</div>
                        <div class='Mb10'>1.9 Capitalised terms used in the agreement have the meanings given to them in clause 17</div>

                        <div class='bolder Dark red Mb5'>2. Sale of the System</div>
                        <div class='Mb10'>2.1 Provided the conditions in clause 1.5 have been satisfied, we agree to sell, and you agree to purchase, the System on the terms of this agreement.</div>

                        <div class='bolder Dark red Mb5'>3. Payment</div>
                        <div class='Medium Dark Mb5'>Payment of the Deposit</div>
                        <div class='Mb5'>3.1 You must pay us the Deposit at the same time as you accept our offer set out in the Quote</div>
                        <div class='Medium Dark Mb5'>Payment of the Balance</div>
                        <div class='Mb5'>3.2 You must pay us the Balance at the same time as we deliver the System to the Premises</div>
                        <div class='Mb5'>3.3 Title in the System passes to you on payment of the Balance, provided you have already paid the Deposit and all other amounts you owe us.</div>

                        <div class='Medium Dark Mb5'>Payment method</div>
                        <div class='Mb5'>3.4 Payments under this agreement can be made by bank cheque, money order, cash, debit card, credit card or direct deposit.</div>
                        <div class='Medium Dark Mb5'>When payment is taken to be made</div>
                        <div class='Mb10'>3.4 You will be taken to have made payment on the date on which we receive your payment as cleared funds in our bank account.</div>

                        <div class='bolder Dark Red Mb5'>4. Refund</div>
                        <div class='Mb5'>4.1 If you have paid us money under this agreement, but the agreement ends for any of the following reasons before we install the System at your Premises, then when the agreement ends we will promptly refund all of the money you
                            have paid:</div>
                        <div class='Mb10'>
                            (a) if we have not delivered and installed the System at the Premises within 4 weeks after the original Target Date, and you choose to end the agreement under clause 7.7<br> (b) if we give you notice of a price increase under
                            clause 5, and you choose to end the agreement in accordance with clause 5.3 rather than accept the price increase; or<br> (c) Grid Connection Approval is refused.<br> (d) If any of the equipment quoted is unattainable and you
                            do not agree to equipment of a similar quality to be substituted
                        </div>

                        <div class='bolder Dark Red Mb5'>5. Price increases</div>
                        <div class='Mb5'>5.1 Subject to clause 5.2, we can increase the price of</div>
                        <div class='Mb10'>(a) the System or any part of it;<br>(b) the installation of the System; or<br>(c) any other item specified in the Quote</div>
                        <div class='Mb5'>to cover any new or increased cost in selling and installing the System under this agreement.</div>
                        <div class='Mb5'>5.2 We can only increase prices under clause 5.1 if:</div>
                        <div class='Mb10'>(a) it is reasonable to do so;<br>(b) we are not prohibited by law from doing so; and<br>(c) we give you written notice of the increase at least one week before the Target Date set out in the Quote, or, if we have notified you
                            of a new Target Date under clause 7.6, that new Target Date.
                        </div>
                        <div class='Mb10'>5.3 If we give you notice of a price increase and you prefer to end this agreement rather than accept the price increase, you can end the agreement in accordance with clause 5.4 and, if you do, we will give you any refund required
                            under clause 4.1(b).</div>
                        <div class='Mb5'>5.4 You can end this agreement under clause 5.3 by:</div>
                        <div class='Mb10'>(a) calling us on our telephone number as set out in the Quote; or<br>(b) giving us written notice of this, by post or email</div>
                        <div class='Mb10'>before the Target Date set out in the Quote, or, if we have notified you of a new Target Date under clause 7.6, that new Target Date.</div>
                        <div class='Mb10'>5.5 If we send you notice of a price increase and you do not end this agreement under clause 5.3 by the relevant date, you will be taken to have agreed to the price increase</div>

                        <div class='bolder Dark Red Mb5'>6. Approvals</div>
                        <div class='Medium Dark Mb5'>Grid Connection Approval</div>
                        <div class='Mb5'>6.1 We will apply for Grid Connection Approval on your behalf. In doing this, we will:</div>

                    </Div>
                </Div>
            </Div>
        </Div>
        <Div Class='Pdf_footer_bg ' Style='Width:100%; Bottom:0; '></Div>
    </Div>
</Div>

<Div Style='Page-Break-Before:always'></Div>

<!-- Page 4 Starts -->
<Div Style='Position:relative;'>
    <Div Class='Wrapper '>
        <Div Style='Height:1351px;'>
            <Div Class='Pdf-Container'>
                <Div Class='Pdf_panel' Style='Margin-Top:15px;'>
                    <Div Class='Pdf_panel-Header'>Terms & Conditions</Div>
                    <Div Class='Pdf_panel_content Pdf_terms'>
                        <div class=''>(a) make the application as soon as possible;<br> (b) keep you updated on the progress of the application;<br> (c) respond, within a reasonable timeframe, to any information or other requests from the distributor; and<br> (d) promptly
                            give you notice of the outcome of the application.
                        </div>
                        <div class='Mb10'>6.2 Your purchase of the System is subject to Grid Connection Approval being granted.</div>
                        <div class='Mb10'>6.3 If Grid Connection Approval is refused, then this agreement will end and we will give you any refund required under clause 4.1(c)</div>

                        <div class='bolder Dark Red Mb5'>6. Delivery and installation</div>
                        <div class='Medium Dark Mb5'>Delivery</div>
                        <div class='Mb10'>7.1 Provided the conditions in clause 1.5 have been satisfied, we must, or must procure, the delivery of the System to the Premises.</div>
                        <div class='Mb5'>7.2 The risk of loss or theft of, or damage to, the System passes to you on delivery of the System to the Premises</div>
                        <div class='Mb10'>(a) We may deliver SOLAR PV System materials and other installation related equipment to your premise prior to insatllation. You will take care of all delivered materialstill installation completed. In case, installation cancelled
                            and not scheduled within reasonable time or this agreement end, we will collect all delivered materials from your premise within reasnoble time.
                        </div>

                        <div class='Medium Dark Mb5'>Installation</div>
                        <div class='Mb5'>7.3 Provided you have paid the Balance, we must install, or must procure the installation of, the System at the Premises, in accordance with the Full System Design.</div>
                        <div class='Mb10'>(a) Provided you have paid the Balance, we must install, or must procure the installation of, the System at the Premises, in accordance with the Full System Design.<br> (b) Proposed Inverter Location May Change, CEC Accredited
                            Installer And Designer will discuss with you and finalize the location on the day of installation by considering inverter manufacturer’s installation requirements and specifications, house, garage access conditions. In case,
                            if it's installed where sunlight exposure, it may require to install canopy cover on top of inverter to protect it from sunlight. You agreed to provide or purchase it on the day of installation from nearest store. In case,
                            Solar Miner or our installer will supply it, addition cost going to apply on the day of installation. There will be no specific warranty on on it from Solar Miner, Warranty will be from store you purchased it as per it's manufacturer
                            provision.
                        </div>
                        <div class='Medium Dark Mb10'>Target Date</div>
                        <div class='Mb5'>7.4 We will use reasonable endeavours to deliver and install the System at the Premises on the Target Date.</div>
                        <div class='Mb5'>7.5 You agree, however, that:</div>
                        <div class='Mb10'>(a) the Target Date is only a target and not a strict deadline;the target date may change if unforeseen circumstances affect supply and installation of the solar PV system including but not limited to pandemic, extreme weather
                            conditions, unavailability of materials and any require equipment<br> (b) we will not be liable to you if we fail to deliver and install the System at the Premises by the Target Date
                        </div>

                        <div class='Mb10'>7.6 We will notify you if we do not think we can deliver and install the system at the premises by the Target Date, and give you a new Target Date</div>
                        <div class='Mb10'>7.7 If we have not delivered and installed the System at the Premises within 4 weeks after the original Target Date, you can end this agreement and, if you do, we will give you any refund required under clause 4.1(a)</div>
                        <div class='Medium Dark Mb10'>Installation requirement</div>
                        <div class='Mb5'>7.8 We (if we install the System) or our contractor (if we procure a contractor to install the System) must:</div>
                        <div class='Mb10'>(a) be a CEC-Accredited Installer; and<br>(b) install the System in accordance with the Clean Energy Council Design and Install Guidelines and all other requirements applicable to CEC-Accredited Installers.
                        </div>
                        <div class='Mb10'>7.9 After installation of the System, we will give you any certificate or similar document regarding the electrical safety of the System which is required by law.</div>
                        <div class='Mb5'>7.10 We will take every reasonable precaution in installing the System at the Premises. However, we will not be liable in respect of</div>
                        <div class='Mb10'>(a) the structural integrity of the roof;<br> (b) the roof's ability to carry the weight of the System;<br> (c) any effect installation of the System has on any roof manufacturer’s warranty; or<br> (d) any damage to the roof or
                            Premises which is not due to our negligence or breach of this agreement.Roof tiles may be cracked or damaged during solar PV system installation.You acknowledge to provide or arrange spare tiles to fix Roof tiles may be cracked
                            or damaged during solar PV system installation.cracked or damaged tiles while installing solar. If you do not supply spare tiles,installer will fix it by using silicon
                        </div>
                        <div class='bolder Dark red Mb5'>8. Accessing the Premises</div>
                        <div class='Mb5'>8.1 You grant us permission to enter and remain at the Premises, and to have our contractors enter and remain at the Premises, to:</div>
                        <div class='Mb10'>(a) conduct one or more site inspections, if we think this is necessary; and<br> (b) deliver and install the System, at any reasonable time, provided we give you at least 3 Business Days' notice of the proposed access time
                        </div>
                        <div class='Mb10'>8.2 You or your representative must be present at the Premises for any site inspection and for the delivery and installation of the System</div>
                        <div class='Mb5'>8.3 You must:</div>
                        <div class='Mb10'>
                            (a) ensure we and our contractors have convenient and safe access to all parts of the Premises necessary to conduct any required site inspections or to deliver and install the System;<br> (b) not hinder or obstruct this access;
                            and
                            <br> (c) ensure the Premises, including its roof, supporting structures and electrical wiring, are sound and able to accommodate installation
                        </div>

                        <div class='bolder Dark red Mb5'>9. System maintenance</div>
                        <div class='Mb10'>9.1 We must provide you with the Maintenance Documents.</div>
                        <div class='Mb5'>9.2 It is your responsibility to maintain the System in accordance with these documents</div>
                        <div class='Mb10'>(a) the maximum quantity of STCs that can be created in respect of the System under law, taking into account the Site-Specific <br> (b) the monetary value of that quantity of STCs, and deducted the STC Incentive from the System
                            Price
                        </div>

                        <div class='bolder Dark red Mb5'>10. System performance and STCs</div>
                        <div class='Medium Dark Mb10'>Site-Specific Performance Estimate</div>
                        <div class='Mb10'>10.1 We have calculated the Site-Specific Performance Estimate for the System and your Premises in accordance with the CEC System Design Guidelines</div>

                        <div class='Medium Dark Mb10'>STC Incentive</div>
                        <div class='Mb5'>10.2 We have calculated the STC Incentive based on:</div>
                        <div class='Mb10'>
                            (a) the maximum quantity of STCs that can be created in respect of the System under law, taking into account the Site-Specific Performance Estimate; an<br> (b) the monetary value of that quantity of STCs, and deducted the STC
                            Incentive from the System Price
                        </div>
                        <div class='Medium Dark Mb10'>Assignment of STCs to us</div>
                        <div class='Mb10'>10.3 You hereby assign to us all of your existing and future rights, title and interest in and to all STCs created or able to be created in respect of the System.</div>
                        <div class='Mb10'>10.4 You must do anything we reasonably request of you for the purpose of perfecting, confirming or evidencing this assignment, including providing information and executing documents.</div>
                        <div class='Mb10'>10.5 You warrant to us, when you accept the offer set out in the Quote and again on installation of the System, that you have no previously created, or assigned the right to create, any STCs in respect of the System or any other
                            solar photovoltaic generatin unit at the Premises</div>


                    </Div>
                </Div>
            </Div>
        </Div>
        <Div Class='Pdf_footer_bg ' Style='Width:100%; Bottom:0; '></Div>
    </Div>
</Div>

<Div Style='Page-Break-Before:always'></Div>

<!-- Page 5 Starts -->
<Div Style='Position:relative;'>
    <Div Class='Wrapper '>
        <Div Style='Height:1351px;'>
            <Div Class='Pdf-Container'>
                <Div Class='Pdf_panel' Style='Margin-Top:15px;'>
                    <Div Class='Pdf_panel-Header'>Terms & Conditions</Div>
                    <Div Class='Pdf_panel_content Pdf_terms'>
                        <div class='Medium Dark Mb10'>Charging you the STC Incentive</div>
                        <div class='Mb5'>10.6 If you do anything that:</div>
                        <div class='Mb10'>(a) obstructs or avoids the assignment under clause 10.3;<br> (b) reduces the maximum quantity of STCs that can be created in respect of the System; or<br> (c) renders the System ineligible for the creation of STCs, then we can
                            increase the Total Price by the amount of the STC Incentive, and you must pay us the STC Incentive within 10 Busines Days of us invoicing you for it.
                        </div>
                        <div class='Mb10'>10.7 Clause 5 does not apply to any increase of the Total Price increases under clause 10.6, and you cannot end the agreement as a result of a price increase, or refuse to accept it.</div>

                        <div class='bolder Dark red Mb5'>11. System guarantees</div>
                        <div class='Mb5'>11.1 Subject to clause 11.2, we guarantee.</div>
                        <div class='Mb10'>(a) our workmanship, and the workmanship of our contractors, in installing the System; and,<br> (b) the operation and performance of the System,will be free from fault or defect for a period of 5 years commencing on the date the
                            System is installed (Guarantee Period), and we will repair any such default or defect notified to us within the Guarantee Period, including by replacing all or part of the System where necessary, within a reasonable timeframe
                            at no cost to you
                        </div>
                        <div class='Mb5'>11.2 The guarantee in clause 11.1 will not apply where:</div>
                        <div class='Mb10'>
                            (a) the fault or defect is not notified to us within the Guarantee Period; or<br> (b) the fault or defect is a result of:<br> (i) something done by you or someone else, and not us or our contractors; or<br> (ii) something beyond
                            human control that occurred after installation, e.g., an extreme weather event;<br> (iii) the System being misused, abused, neglected or damaged after installation;<br> (iv) the System being maintained other than in accordance
                            with the Maintenance Documents; or<br> (v) the System being repaired, modified, reinstalled or repositioned by anyone other than a service technician approved by us in writing
                        </div>

                        <div class='Mb5'>11.3 The guarantee in clause 11.1 is additional to any other guarantee or warranty you may have:</div>
                        <div class='Mb10'>(a) from the manufacturer of the System; or<br> (b) under any applicable law, including the Australian Consumer Law, although these other guarantees and warranties may not cover labour costs, travel costs and delivery costs arising
                            from a claim under these other guarantees and warranties. We will notify you if this is the case, and tell you the costs payable. The costs will be payable in advance.
                        </div>

                        <div class='Mb10'>11.4 During the Guarantee Period, we will provide reasonable assistance to you in making any guarantee or warranty claim against the manufacturer of the System, including by acting as your liaison with the manufacturer</div>

                        <div class='bolder Dark red Mb5'>12. Complaints</div>
                        <div class='Medium Dark Mb10'>Making a complaint</div>
                        <div class='Mb5'>12.1 If you have a complaint relating to the System, its installation or this agreement generally, you can make a complaint to us by:</div>
                        <div class='Mb10'>(a) calling us on our telephone number as set out in the Quote; or<br> (b) giving us written notice of this, by post or email</div>

                        <div class='Mb10'>12.2 We will handle your complaint in accordance with our standard complaints procedures. If we have volunteered to be bound by by the CEC Solar Retailer Code of Conduct, then these procedures will comply with that Code, and with
                            the Australian Standard on Complaints Handling AS ISO 10002-2006
                        </div>
                        <div class='Medium Dark Mb10'>If you are still not satisfied</div>
                        <div class='Mb10'>12.3 If you are not satisfied with the outcome of your complaint, you can refer the complaint to with the relevant Fair Trading or Consumer Affairs office in your state or territory, as follows:</div>

                        <div class='Mb10 dflex align-item-center justify-space-between'>
                            <div style='width: 200px; padding: 5px; background: #f5f5f5; border-radius: 5px;'>
                                ACT: Office of Regulatory Services<br> Phone: (02) 6207 3000
                            </div>
                            <div style='width: 200px; padding: 5px; background: #f5f5f5; border-radius: 5px;'>
                                NSW: Fair Trading<br> Phone: 13 32 20
                            </div>
                            <div style='width: 200px; padding: 5px; background: #f5f5f5; border-radius: 5px;'>
                                NT: Consumer Affair<br> Phone: 1800 019 313
                            </div>
                            <div style='width: 200px; padding: 5px; background: #f5f5f5; border-radius: 5px;'>
                                QLD: Office of Fair Trading<br> Phone: 13 74 68
                            </div>
                        </div>

                        <div class='Mb10 dflex align-item-center justify-space-between'>
                            <div style='width: 200px; padding: 5px; background: #f5f5f5; border-radius: 5px;'>
                                SA: Consumer and Business Services<br> Phone: 13 18 82
                            </div>
                            <div style='width: 200px; padding: 5px; background: #f5f5f5; border-radius: 5px;'>
                                TAS: Consumer Affairs and Fair Trading<br> Phone: 1300 654 499
                            </div>
                            <div style='width: 200px; padding: 5px; background: #f5f5f5; border-radius: 5px;'>
                                VIC: Consumer Affairs<br> Phone: 1300 558 181
                            </div>
                            <div style='width: 200px; padding: 5px; background: #f5f5f5; border-radius: 5px;'>
                                WA: Consumer Protection<br> Phone: 1300 304 054
                            </div>
                        </div>

                        <div class='bolder Dark red Mb5'>13. Privacy</div>
                        <div class='Mb10'>13.1 We will comply with all relevant privacy legislation in relation to your personal information</div>
                        <div class='Mb5'>13.2 If you have any questions in relation to privacy, you can contact us by:</div>
                        <div class='Mb10'>(a) calling us on our telephone number as set out in the Quote; or<br> (b) giving us written notice of this, by post or email</div>

                        <div class='bolder Dark red Mb5'>14. What happens if you fail to perform this agreement</div>
                        <div class='Mb5'>14.1 If you:</div>
                        <div class='Mb10'>(a) fail to pay any amount when due; or<br> (b) fail to perform your obligations in clause 8, then we may suspend our performance of this agreement with immediate effect, and will give you a notice asking you to make the required
                            payment or perform the required obligation.
                        </div>
                        <div class='Mb10'>14.2 14.2 If you fail to make the required payment or perform the required obligation within one week after the date of our notice, then we may end payment or perform the required obligation.</div>
                        <div class='Mb10'>14.3 If we end this agreement under clause 14.2, you must pay us any costs we incur as a result of ending the agreement, and any costs we have already incurred in respect of the delivery or installation of the System.</div>

                        <div class='bolder Dark red Mb5'>15. GST</div>
                        <div class='Mb10'>15.1 All amounts specified in the Quote are inclusive of GST.</div>
                        <div class='bolder Dark red Mb5'>16. General</div>
                        <div class='Medium Dark Mb10'>Notice</div>
                        <div class='Mb10'>16.1 Any notice under this agreement must be in writing and signed by the sender or by an authorised representative of the sender and sent to or left at the address of the addressee in the Schedule or, if the addressee has previously
                            notified the sender in writing of an alternative address for notices, that alternative address.
                        </div>
                        <div class='Mb10'>16.2 If the delivery or receipt of a notice occurs on a day which is not a Business Day or at a time after 5.00 pm in the place of receipt, it is regarded as having been received at 9.00am on the following Business Day</div>
                        <div class='Medium Dark Mb10'>Assignment and novation of the agreement</div>
                        <div class='Mb10'>16.3 Neither party can assign its rights or novate its obligations under this agreement without the other party's prior written consent, not to be unreasonably withheld or delayed.</div>

                        <div class='Medium Dark Mb10'>Sub-contracting</div>
                        <div class='Mb5'>16.4 We may sub-contract any of our obligations under this agreement to a third party, provided that:</div>
                        <div class='Mb10'>
                            (a) if we sub-contract any obligations:
                        </div>



                    </Div>
                </Div>
            </Div>
        </Div>
        <Div Class='Pdf_footer_bg ' Style='Width:100%; Bottom:0; '></Div>
    </Div>
</Div>

<Div Style='Page-Break-Before:always'></Div>


<!-- Page 6 Starts -->
<Div Style='Position:relative;'>
    <Div Class='Wrapper '>
        <Div Style='Height:1351px;'>
            <Div Class='Pdf-Container'>
                <Div Class='Pdf_panel' Style='Margin-Top:15px;'>
                    <Div Class='Pdf_panel-Header'>Terms & Conditions</Div>
                    <Div Class='Pdf_panel_content Pdf_terms'>
                        <div class='Mb10'>
                            (i) we will ensure the relevant sub-contractor is suitable and performs all sub-contracted obligations in accordance with the requirements of this agreement;<br> (ii) we will continue to be liable to you for the performance
                            of our obligations under this agreement, even though we have sub contracted one or more of those obligations; and<br> (iii) we will be liable to you for the acts and omissions of our sub-contractors, as if these acts and omissions
                            were our own; and
                        </div>

                        <div class='Mb10'>
                            (b) our obligations in relation to the design or installation of the System can only be sub-contracted to a CEC-Accredited Installer
                        </div>

                        <div class='Medium Dark Mb10'>Amendment of the agreement</div>
                        <div class='Mb10'>16.5 This Agreement can only be amended in writing signed by both parties.</div>

                        <div class='Medium Dark Mb10'>Waiver</div>
                        <div class='Mb10'>16.6 A waiver in connection with this agreement is not valid or binding on the party granting that waiver unless made in writing by that party.</div>
                        <div class='Medium Dark Mb10'>Severance</div>
                        <div class='Mb10'>16.7 Any term of this agreement which is or becomes invalid or unenforceable does not render the other terms of the agreement invalid or unenforceable.</div>

                        <div class='Medium Dark Mb10'>Governing law of the agreement and submission to jurisdiction</div>
                        <div class='Mb10'>16.8 The laws of the State or Territory in which the Premises are located govern this agreement, and each party irrevocably submits to the non-exclusive jurisdiction of courts with jurisdiction there.</div>

                        <div class='bolder Dark red Mb5'>17. Meaning of capitalised terms in this agreement</div>
                        <div class='Mb10'>Australian Consumer Law means the Australian Consumer Law as set out in Schedule 2 to the Competition and Consumer Act 2010 (Cth).</div>
                        <div class='Mb10'>Balance means the amount specified as such in the Quote, subject to any adjustment of this amount in accordance with clause 5.1 or 10.6.</div>
                        <div class='Mb10'>Business Day means a day which is not a Saturday, Sunday or public holiday in the State or Territory in which the Premises are located.</div>
                        <div class='Mb10'>CEC-Accredited Installer means an installer of solar photovoltaic systems accredited in this capacity by the Clean Energy Council under the under the Clean Energy Council Code of Conduct and Accreditation Terms and Conditions CEC
                            System Design Guidelines means the Clean Energy Council System Design Guidelines for Accredited Designers</div>
                        <div class='Mb10'>CEC-Accredited Installer means an installer of solar photovoltaic systems accredited in this capacity by the Clean Energy Council under the under the Clean Energy Council Code of Conduct and Accreditation Terms and Conditions CEC
                            System Design Guidelines means the Clean Energy Council System Design Guidelines for Accredited Designers</div>
                        <div class='Mb10'>Grid Connection Approval means approval from your electricity distributor for the connection of the System to the electricity grid at the Premises</div>
                        <div class='Mb10'>GST has the meaning given in the A New Tax System (Goods and Services Tax) Act 1999 (Cth).</div>
                        <div class='Mb10'>Guarantee Period has the meaning given to it in clause 11.1 Maintenance Documents means the System maintenance documents listed in Attachment 2 to this agreement. Premises mean the premises at the address specified in the Quote</div>
                        <div class='Mb10'>Privacy Act means the Privacy Act 1988 (Cth).</div>
                        <div class='Mb10'>Quote means the document titled as such which forms part of this agreement and is attached to the Terms and Conditions Site-Specific Performance Estimate means our site-specific estimate of the average daily energy yield of the
                            System for each month, in kWh, as set out in the Full System Design.</div>
                        <div class='Mb10'>STC means a small-scale technology certificate created under the Renewable Energy (Electricity) Act 2000 (Cth).</div>
                        <div class='Mb10'>STC Incentive means the amount specified as such in the Quote.</div>
                        <div class='Mb10'>System means the solar photovoltaic system and other equipment we are to deliver and install at the Premises under this agreement, described in the Full System Design.</div>
                        <div class='Mb10'>System Price means the amount specified as such in the Quote Target Date means the date specified as such in the Quote, subject to any variation of that date in accordance with clause 7.6.</div>
                        <div class='Mb10'>Total Price means the amount specified as such in the Quote.</div>
                    </Div>
                </Div>
            </Div>
            <Div Class='Normal-Title' Style='Width:890px; Margin:15px Auto;'>Attachment2: Maintenance Documents</Div>
            <Div Class='Pdf-Container'>
                <Div Class='Tc-Table' Style='Width:100%;'>
                    <Table Style='Width:100%; Border:0; Border-Collapse: Collapse;'>
                        <Tr>
                            <Th Style='Background:#333; Color:#Fff; Font-Size: 14px; Text-Align: Left; Padding:15px; Border:1px Solid #Ccc;'>Document</Th>
                            <Th Style='Background:#333; Color:#Fff; Font-Size: 14px; Padding:15px; Border:1px Solid #Ccc; Width:90px;'>Provided</Th>
                        </Tr>
                        <Tr>
                            <Td Style='Background:#Fff;  Font-Size: 14px; Padding:15px; Border:1px Solid #Ccc;'>
                                List of equipment making up the System
                            </Td>
                            <Td Style='Background:#Fff;  Font-Size: 14px; Padding:15px; Border:1px Solid #Ccc; Text-Align: Center;'></Td>
                        </Tr>
                        <Tr>
                            <Td Style='Background:#Fff;  Font-Size: 14px; Padding:15px; Border:1px Solid #Ccc;'>
                                Warranty Information
                            </Td>
                            <Td Style='Background:#Fff;  Font-Size: 14px; Padding:15px; Border:1px Solid #Ccc; Text-Align: Center;'></Td>
                        </Tr>
                        <Tr>
                            <Td Style='Background:#Fff;  Font-Size: 14px; Padding:15px; Border:1px Solid #Ccc;'>
                                Equipment Manual
                            </Td>
                            <Td Style='Background:#Fff;  Font-Size: 14px; Padding:15px; Border:1px Solid #Ccc;'></Td>
                        </Tr>
                        <Tr>
                            <Td Style='Background:#Fff;  Font-Size: 14px; Padding:15px; Border:1px Solid #Ccc;'>
                                Equipment Handbook
                            </Td>
                            <Td Style='Background:#Fff;  Font-Size: 14px; Padding:15px; Border:1px Solid #Ccc;'></Td>
                        </Tr>
                        <Tr>
                            <Td Style='Background:#Fff;  Font-Size: 14px; Padding:15px; Border:1px Solid #Ccc;'>
                                Array frame engineering certiface
                            </Td>
                            <Td Style='Background:#Fff;  Font-Size: 14px; Padding:15px; Border:1px Solid #Ccc;'></Td>
                        </Tr>
                    </Table>
                </Div>
            </Div>
        </Div>
        <Div Class='Pdf_footer_bg ' Style='Width:100%; Bottom:0; '></Div>
    </Div>
</Div>