<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg addSmsEmailModal">
        <div class="modal-content">
            <form #addActivityForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title div_flex">
                        <span *ngIf="id == 9">{{l("Notify")}} - {{leadCompanyName}} -
                            {{this.item.jobNumber}}</span>
                        <span *ngIf="id == 6">{{l("SMS")}} - {{leadCompanyName}} -
                            {{this.item.jobNumber}}</span>
                        <span *ngIf="id == 7">{{l("Email")}} - {{leadCompanyName}} -
                            {{this.item.jobNumber}}</span>
                        <span *ngIf="id == 8">{{l("Reminder")}} - {{leadCompanyName}} -
                            {{this.item.jobNumber}}</span>
                        <span *ngIf="id == 24">{{l("Comment")}} - {{leadCompanyName}} -
                            {{this.item.jobNumber}}</span>
                        <span *ngIf="id == 25">{{l("ToDo")}} - {{leadCompanyName}} -
                            {{this.item.jobNumber}}</span>
                        <span *ngIf="id == 0">{{l("Add Activity")}} </span>

                        <div *ngIf="id == 0" class="activitysms smsemailbox brdrbottom1 text-center ml-2" style="width:200px;">
                            <select class="form-control" [disabled]="id!=0" [(ngModel)]="activityType" (change)="selection()" name="leadStatusId" style="border-radius: 20px !important; border-color: #aaa7c9 !important; padding: 0 20px !important;">
                                <option value="6">SMS</option>
                                <option value="7">Email</option>
                                <option value="8">Reminder</option>
                                <option value="9">Notify</option>
                                <option value="24">Comment</option>
                                <option value="25">ToDo</option>
                            </select>
                        </div>
                    </h4>


                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray p-0">
                    <div class="d-flex align-items-center" style="justify-content: space-around;">
                        <div class="p-1">
                            <img [src]="appRootUrl() + 'assets/common/images/graphics-sms.png'" style="max-width:320px;" *ngIf="activityName == 'SMS To ' || activityName == 'Comment '">
                            <img [src]="appRootUrl() + 'assets/common/images/graphics-reminder.png'" style="max-width:320px;" *ngIf="activityName == 'Notify To ' || activityName == 'Reminder To '">
                            <img [src]="appRootUrl() + 'assets/common/images/graphics-todo.png'" style="max-width:320px;" *ngIf="activityName == 'ToDo'">
                            <!-- <img [src]="appRootUrl() + 'assets/common/images/graphics-mail.png'" style="max-width:360px;" *ngIf="activityName == 'Email To '"> -->
                        </div>
                        <div style="padding:15px 0; width:650px;">
                            <div class="emailboxlayout">
                                <div class="">
                                    <div class="m-form__group">
                                        <div class="activitysms smsemailbox modal-white-box" *ngIf="activityName == 'Notify To '">
                                            <span class="labelttl">{{activityName}} </span>
                                            <span class="badge badge-light d-flex align-items-center activity-tags"><i class="las la-user-shield"></i>{{ item.currentAssignUserName}}</span>
                                        </div>
                                        <div class="activitysms smsemailbox modal-white-box" *ngIf="activityName == 'Reminder To '">
                                            <span class="labelttl">{{activityName}} </span>
                                            <span class="badge badge-light d-flex align-items-center activity-tags"><i class="las la-user-shield"></i>{{ userName}}</span>
                                        </div>

                                        <div class="activitysms smsemailbox modal-white-box" *ngIf="activityName == 'SMS To '">
                                            <span class="labelttl">{{activityName}} </span>
                                            <span class="badge badge-light d-flex align-items-center activity-tags"><i class="las la-comment"></i>{{ item.lead.mobile}}</span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class=" emailboxlayout modal-white-box" *ngIf="activityName == 'SMS To '">
                                <div class="activitysms smsemailbox">
                                    <span class="labelttl">Template</span>
                                    <select class="form-control" name="EmailTemplate" [(ngModel)]="activityLog.smsTemplateId" (change)="smseditorLoaded()">
                                        <option value="0">New Template</option>
                                        <option *ngFor="let item of allSMSTemplates" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="" *ngIf="activityName == 'SMS To '" style="margin-top:10px;">
                                <div class="modal-white-box">
                                    <div class="">
                                        <textarea class="form-control" (keyup)="countCharcters()" cols="20" rows="5" placeholder="SMS Body" [(ngModel)]="activityLog.body" id="SMSBody" name="SMSBody"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="emailboxlayout" *ngIf="activityName == 'ToDo'" style="margin-left:0 !important; margin-right:0 !important;">
                                <div class="">
                                    <div class="form-group activitysms smsemailbox modal-white-box">
                                        <span class="labelttl width75">User</span>
                                        <select class="form-control mr-0" name="user" [(ngModel)]="activityLog.referanceId">
                                            <option value=0>Select User</option>
                                            <option *ngFor="let item of allUsers" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group activitysms smsemailbox modal-white-box" *ngIf="activityName == 'ToDo'">
                                        <span class="labelttl width75">Priority</span>
                                        <select class="form-control mr-0" [(ngModel)]="priorityType" name="priorityId">
                                            <option value="1">Low</option>
                                            <option value="2">Heigh</option>
                                            <option value="3">Medium</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-white-box" *ngIf="activityName == 'Reminder To '" style="margin-top:10px;">
                                <input [owlDateTime]="dt1" required class="form-control daterangebox" required [owlDateTimeTrigger]="dt1" placeholder="Select Date Time" #myNameElem style="width:auto;">
                                <owl-date-time #dt1></owl-date-time>
                            </div>
                            <div class="modal-white-box" *ngIf="activityName == 'Reminder To ' || activityName == 'Notify To ' || activityName == 'Comment ' || activityName == 'ToDo'">
                                <textarea rows="5" cols="20" placeholder="Add Note" id="Notes" class="form-control" name="Notes" [(ngModel)]="activityLog.activityNote"></textarea>
                            </div>

                            <div *ngIf="activityName == 'SMS To '" style="margin-top:10px;" class="d-flex align-items-center">
                                <div class="mr-3 d-flex align-items-center"><span><b>Total: </b></span> <span class="badge badge-danger ml-1">{{total}}</span></div>
                                <div class="d-flex align-items-center"><span><b>Credit: </b></span> <span class="badge badge-success ml-1">{{credit}}</span></div>
                            </div>

                        </div>

                    </div>

                    <div class="modal-white-box" style="width:96%; margin:5px auto;" *ngIf="activityName == 'Email To '">
                        <div class="emailboxlayout">
                            <div class="activitysms smsemailbox brdrbottom1 templatebox" *ngIf="activityName == 'Email To '">
                                <span class="labelttl"> Email From </span> <span class="lowercase">
                                    <select class="form-control " name="emailfrom" style="width:368px;"
                                        [(ngModel)]="activityLog.emailFrom">
                                        <option *ngFor="let item of fromemails" value="{{item.displayName}}">
                                            {{item.displayName}}
                                        </option>
                                    </select></span>
                            </div>
                            <div class="activitysms smsemailbox brdrbottom1 templatebox" *ngIf="activityName == 'Email To '">
                                <span class="labelttl">{{activityName}} </span>
                                <span class="badge badge-light d-flex align-items-center activity-tags"><i class="las la-at"></i>{{ item.lead.email}}</span>
                            </div>
                            <!-- <div class="activitysms smsemailbox brdrbottom1 templatebox" *ngIf="activityName == 'Email To '">
                                <span class="labelttl"> Email From </span> <span class="lowercase">
                                    <select class="form-control " name="emailfrom" style="min-width:180px;"
                                        [(ngModel)]="activityLog.emailFrom">
                                        <option *ngFor="let item of fromemails" value="{{item.displayName}}">
                                            {{item.displayName}}
                                        </option>
                                    </select></span>
                            </div> -->
                        </div>

                        <div class="emailboxlayout" *ngIf="activityName == 'Email To '">
                            <div class="activitysms smsemailbox brdrbottom1 templatebox">
                                <span class="labelttl">Template</span>
                                <select class="form-control" name="EmailTemplate" [(ngModel)]="activityLog.emailTemplateId" (change)="editorLoaded()">
                                    <option value="0">New Template</option>
                                    <option *ngFor="let item of allEmailTemplates" value="{{item.id}}">
                                        {{item.displayName}}</option>
                                </select>
                                <select *ngIf="activityLog.emailTemplateId == 0" (change)="onTagChange($event)" class="form-control" name="EmailTemplate" [(ngModel)]="activityLog.customeTagsId">
                                    <option value="0">CustomeTags</option>
                                    <option value="1">Custome Name</option>
                                    <option value="2">Custome Mobile</option>
                                    <option value="3">Custome Phone</option>
                                    <option value="4">Custome Email</option>
                                    <option value="5">Custome Address</option>
                                    <option value="6">SalesRep Name</option>
                                    <option value="7">SalesRep Mobile</option>
                                    <option value="8">SalesRep Email</option>
                                    <option value="9">Project No</option>
                                    <option value="10">System Capacity</option>
                                    <option value="11">All product Item</option>
                                    <option value="12">Total Quote price</option>
                                    <option value="13">Installation Date</option>
                                    <option value="14">Installer Name</option>
                                    <option value="15">Transport Company</option>
                                    <option value="16">Transport Link</option>
                                    <option value="17">Dispatched Date</option>
                                    <option value="18">Tracking No</option>
                                    <option value="19">Promo type</option>
                                    <option value="20">User Name</option>
                                    <option value="21">User Mobile</option>
                                    <option value="22">User Email</option>
                                    <option value="23">Owing</option>
                                    <option value="24">Organization Email</option>
                                    <option value="25">Organization Mobile</option>
                                    <option value="26">Organization Mobile</option>
                                    <option value="27">Organization Logo</option>
                                    <option value="28">Review Link</option>
                                </select>
                            </div>
                            <div class="activitysms smsemailbox brdrbottom1 templatebox">
                                <span class="labelttl">Subject</span>
                                <span class="subject">
                                    <input class="form-control" type="text" name="subject" style="width: 770px !important; border: none;"
                                        [(ngModel)]="activityLog.subject" placeholder="write subject">
                                </span>
                            </div>
                        </div>
                        <div class="row" *ngIf="activityName == 'Email To '" style="margin-top:10px;">
                            <div class="col-md-12">
                                <div class="form-group" *ngIf="activityLog.emailTemplateId == 0">
                                    <p-editor [(ngModel)]="activityLog.body" aria-placeholder="Email Body" name="HtmlEditorInput" [style]="{'height':'200px'}">
                                        <!-- <p-header>
                                            <span class="ql-formats">
                                                <button aria-label="Link" class="ql-link"></button>
                                                <button aria-label="Image" class="ql-image"></button>
                                            </span>
                                            <div id="toolbar-container">
                                                <select class="ql-font">
                                                    <option selected>Aref Ruqaa</option>
                                                    <option value="mirza">Mirza</option>
                                                    <option value="roboto">Roboto</option>
                                                </select>
                                            </div>
                                            <span class="ql-formats">
                                                <select class="ql-size">
                                                    <option value="24px">24</option>
                                                    <option value="48px">48</option>
                                                    <option value="100px">100</option>
                                                    <option value="200px">200</option>
                                                </select>
                                            </span>
                                        </p-header> -->
                                    </p-editor>
                                </div>
                                <div class="container-fluid maxwidth80 emailtemplatebox" *ngIf="activityLog.emailTemplateId != 0">
                                    <email-editor [(ngModel)]="activityLog.body" aria-placeholder="Email Body" name="HtmlEditorInput"></email-editor>
                                </div>
                            </div>
                            <!-- <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="DefaultFileUploadFileInput">Upload Attachments</label>
                                        <p-fileUpload multiple="multiple"
                                                    id="DefaultFileUploadFileInput"
                                                    name="DefaultFileUploadFileInput[]"
                                                    [url]="uploadUrl"
                                                    maxFileSize="1000000"
                                                    (onUpload)="onUpload($event)"
                                                    (onBeforeSend)="onBeforeSend($event)">
                        
                                            <ng-template pTemplate="content">
                                                <ul *ngIf="uploadedFiles.length">
                                                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                                </ul>
                                            </ng-template>
                                        </p-fileUpload>
                                    </div>
                                </div> -->
                        </div>
                    </div>

                </div>


                <div class=" modal-footer ">
                    <button [disabled]="saving " type="button " class="btn btn-secondary " (click)="close() "><i
                            class="las la-times-circle "></i> {{("Cancel ")}}</button>
                    <button (click)="saveDesign() " type="submit " class="btn btn-primary blue " *ngIf="activityName=='Email To ' " [disabled]="!addActivityForm.form.valid ||  item.lead.email == null" [buttonBusy]="saving " [busyText]="l( 'SavingWithThreeDot') "><i class="las
                                la-save "></i>
                        <span>Send</span></button>
                    <button (click)="save() " type="submit " class="btn btn-primary blue " *ngIf="activityName=='SMS To '" [disabled]="item.lead.mobile == null" [buttonBusy]="saving " [busyText]="l(
                                'SavingWithThreeDot') "><i class="las la-save "></i> <span>Send</span></button>
                   <button (click)="save() " type="submit " class="btn btn-primary blue " *ngIf=" activityName=='Notify To ' " [disabled]="!addActivityForm.form.valid" [buttonBusy]="saving " [busyText]="l(
                                    'SavingWithThreeDot') "><i class="las la-save "></i> <span>Send</span></button>
                    <button (click)="save() " type="submit " class="btn btn-primary blue " *ngIf="activityName=='Reminder To ' || activityName=='Comment ' || activityName=='ToDo' " [disabled]="!addActivityForm.form.valid " [buttonBusy]="saving
                                " [busyText]="l( 'SavingWithThreeDot') "><i class="las la-save "></i>
                        <span>Set</span></button>
                </div>
            </form>
        </div>

    </div>

    <!-- <viewLeadDetail #viewLeadDetail></viewLeadDetail> -->
</div>