<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #cancelReasonForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                    <span >{{l("CancelReason")}}</span>
                </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group m-form__group">
                                <label for="cancelReasonId" class="form-label">{{l("CancelReason")}} *</label>
                                <select name="cancelReasonId" [(ngModel)]="CancelReasonId" required class="form-control">
                                    <option value="">{{l("SelectACancelReason")}}</option>
                                    <option *ngFor="let item of allCancelReasons" value="{{item.id}}">{{item.displayName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Notes">{{l("Notes")}} *</label>
                                <textarea  #cancelReason="ngModel" name="cancelReason"  class="form-control " [(ngModel)]="CancelReason"  required maxlength="4096"  style="height:150px;"></textarea>
                                <validation-messages [formCtrl]="cancelReason"></validation-messages>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="fa fa-times"></i> {{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!cancelReasonForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>