﻿<div [@routerTransition]>
    <!-- side bar grid-->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-cdetailhead leaddetilpage">
                <div class="kt-cname">
                    <ul class="custdetail h2_flex">
                        <li>
                            <span *ngIf="item.lead.leadStatusID == 6 && item.jobNumber != null" class="flex_disply">
                                <h2>
                                    <span class="userName"><i class="las la-user-tie"></i> {{ item.lead.companyName }}</span>
                            <span class="badge badge-primary d-flex align-items-center" style="font-size:0.9rem; margin:0 10px; font-weight:600; height:27px;">{{item.jobNumber}}</span>
                            </h2>
                            <span class="badgelead hotlead green ">{{item.jobStatusName}}</span>
                            </span>
                            <span *ngIf="item.lead.leadStatusID != 6 && item.jobNumber != null">
                                <h2><i class="las la-user-tie"></i> {{ item.lead.companyName }}  <span class="badge badge-primary d-flex align-items-center" style="font-size:0.9rem; margin:0 10px; font-weight:600; height:27px;">{{item.jobNumber}}</span></h2>
                            </span>
                            <span *ngIf="item.lead.leadStatusID != 6 && item.jobNumber == null">
                                <h2><i class="las la-user-tie"></i> {{ item.lead.companyName }}</h2>
                            </span>
                        </li>
                        <li>
                            <div *ngIf="item.lead.leadStatusID == 11">
                                <span class="badgelead hotlead red">ReAssigned</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 10">
                                <span class="badgelead hotlead green">Assigned</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 9">
                                <span class="badgelead hotlead red">Closed</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 8">
                                <span class="badgelead warmlead red">Canceled</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 7">
                                <span class="badgelead coldlead red">Rejected</span>
                            </div>
                            <!-- <div *ngIf="item.lead.leadStatusID == 6">
                                <span class="badgelead  unhandled">Upgrade</span>
                            </div> -->
                            <div *ngIf="item.lead.leadStatusID == 5">
                                <span class="badgelead hotlead red">Hot</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 4">
                                <span class="badgelead warmlead yellow">Warm</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 3">
                                <span class="badgelead coldlead yellow">Cold</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 2">
                                <span class="badgelead  unhandled yellow">Unhandled</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 1">
                                <span class="badgelead  unhandled green">New</span>
                            </div>
                        </li>
                        <li class="h-mobile">
                            <a class="nbox custphone" *ngIf="item.lead.mobile">
                                <!-- href="{{ item.lead.mobile }}" -->
                                <img [src]="appRootUrl() + 'assets/common/images/icon_phoneblue.svg'" alt="" /> {{ item.lead.mobile }}
                            </a>
                        </li>
                        <li *ngIf="item.lead.phone" class="h-mobile">
                            <a class="nbox custphone">
                                <!-- href="{{ item.lead.phone }}" -->
                                <img [src]="appRootUrl() + 'assets/common/images/icon_phoneblue.svg'" alt="" /> {{ item.lead.phone }}
                            </a>
                        </li>
                        <li class="h-mobile">
                            <a class="nbox custemail" *ngIf="item.lead.email">
                                <!-- href="{{ item.lead.email }}" -->
                                <img [src]="appRootUrl() + 'assets/common/images/icon_mail.svg'" alt="" /> {{ item.lead.email }}
                            </a>
                        </li>
                    </ul>
                    <ul class="actionsicon h-mobile">
                        <li *ngIf="item.lead.leadStatusID != 6">
                            <div class="dropdown" dropdown container="body">
                                <a class="dropdown-toggle" dropdownToggle>
                                    <i class="las la-hourglass-half" style="font-size:1.4rem; margin-right:3px;"></i> Status
                                </a>
                                <div>
                                    <ul class="dropdown-menu leadstatusdrp li_padd_0 widthset_1" *dropdownMenu>
                                        <li>
                                            <a (click)="warm(item.lead)">
                                                <!-- <i><img src="../../../../assets/common/images/orangesun.png" /></i> -->
                                                <i class="las la-thermometer-empty"></i> <span>Warm</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a (click)="cold(item.lead)">
                                                <!-- <i><img src="../../../../assets/common/images/icon_blueice.png" /></i> -->
                                                <i class="las la-temperature-low"></i> <span>Cold</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a (click)="hot(item.lead)">
                                                <!-- <i><img src="../../../../assets/common/images/icon_flame.png" /></i> -->
                                                <i class="las la-burn"></i> <span>Hot</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a (click)="cancel(item.lead)">
                                                <!-- <i><img src="../../../../assets/common/images/icon_canceled_new.svg" style="width:22px!important;" /></i><span>Cancelled</span> -->
                                                <i class="las la-ban"></i> <span>Cancelled</span>
                                            </a>
                                        </li>
                                        <li *ngIf="item.lead.leadStatusID === 10 || item.lead.leadStatusID === 11">
                                            <a href="javascript:;" (click)="reject(item.lead.id)">
                                                <i class="las la-ban"></i><span>{{l('Reject')}}</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li *ngIf="(item.jobStatusId < 4 || permission.isGranted('Pages.LeadTracker.Edit')) && sectionId != 28">
                            <a (click)="createEditLead.show(item.lead.organizationId,item.lead.id,name,sectionId,SectionName)">
                                <!-- <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt="" />  -->
                                <i class="las la-edit" style="font-size:1.4rem; margin-right:3px;"></i> Edit
                            </a>
                        </li>
                        <li *ngIf="permission.isGranted('Pages.LeadTracker.Delete') && sectionId != 28">
                            <a (click)="deleteLead(item.lead)">
                                <!-- <img [src]="appRootUrl() + 'assets/common/images/icon_delete.svg'" alt="" />  -->
                                <i class="las la-trash" style="font-size:1.4rem; margin-right:3px;"></i> Delete</a>
                        </li>
                        <!-- <li [hidden]="!showsectionwise">
                            <a (click)="addActivityModal.show(item.lead.id,0,0,sectionId)">
                                <i class="las la-plus-circle" style="font-size:1.4rem; margin-right:3px;"></i> Add
                            </a>
                        </li> -->
                        <li *ngIf="sectionId == 30">
                            <a (click)="promoStopRespmodel.deattilshow(item.lead.id,SectionName)">
                                <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt="" /> StopResponce
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="lead-progress" style="display:none;">
                    <div class="lead-progress-content">
                        <ul class="steps ">
                            <li class="step ">
                                <div class=" step-content step-success"><span class="step-circle "><i  class=""></i>1</span><span class="step-text ">Application Submitted</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>2</span><span class="step-text ">Document Verified</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>3</span><span class="step-text ">DisCom Letter</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>4</span><span class="step-text ">Feasibility Approved</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>5</span><span class="step-text ">Work Execution</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>6</span><span class="step-text ">Inspection Self Certification</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>7</span><span class="step-text ">Meter Installation</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>8</span><span class="step-text ">Subsidy Claimed</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>9</span><span class="step-text ">Inspection Approved From CEI</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>10</span><span class="step-text ">Intimation Rejected</span></div>
                            </li>
                            <!---->
                        </ul>
                    </div>
                </div>

            </div>
            <div class="kt-portlet detail-view-tab myleaddetails marpadzero right_side_scrool scrool_red">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <div class="table-responsive statictable">
                        </div>

                        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                            <div class="kt-portlet ">
                                <div class="kt-portlet__body padzero leaddetailtabs fix-tab">
                                    <tabset>
                                        <!-------------------- start summary tab -->
                                        <tab heading="{{'Summary' | localize}}" [active]="activeTabIndex == 0" id="tab01">
                                                <div class="leaddetailcnt radiusborder">
                                                    <div class="kt-form">
                                                        <div class="myleadsstatus myleadsReport mrbtmzero subtalentpage">
                                                            <ul>
                                                                <li>
                                                                    <span class="icon blue">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user avatar-icon"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                                    </span>
                                                                    <div>
                                                                        <label>Current Lead Owner</label>
                                                                        <span>{{item.currentAssignUserName}}</span>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <span class="icon red">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3 avatar-icon"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                                    </span>
                                                                    <div>
                                                                        <label>Lead created By</label>
                                                                        <span>{{item.createdByName}}</span>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <span class="icon green">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar avatar-icon"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                                    </span>
                                                                    <div>
                                                                        <label>Lead Created On</label>
                                                                        <span>{{item.createdOn | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                                                    </div>
                                                                </li>
    
                                                                <li *ngIf="item.creationTime">
                                                                    <span class="icon green">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar avatar-icon"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                                    </span>
                                                                <div *ngIf="('Pages.JobGrid.ProjectOpenDate' | permission)" 
                                                                    (click)="navigateToProjectOpen(item.leadid,sectionId);">
                                                                   <label>Project Opened On</label>
                                                                   <span>{{ item.creationTime | momentFormat: 'DD-MM-YYYY HH:mm:ss' }}</span>
                                                               </div>
                                                           
                                                               <!-- Static Div for no permission -->
                                                               <div *ngIf="!('Pages.JobGrid.ProjectOpenDate' | permission)">
                                                                   <label>Project Opened On</label>
                                                                   <span>{{ item.creationTime | momentFormat: 'DD-MM-YYYY HH:mm:ss' }}</span>
                                                               </div>
                                                                </li>
                                                                <!-- <li *ngIf="item.jobNumber != null">
                                                                    <label>Job Number</label>
                                                                    <span>{{item.jobNumber}}</span>
                                                                </li>
                                                                <li *ngIf="item.jobNumber != null">
                                                                    <label>Job Status</label>
                                                                    <span>{{item.jobStatusName}}</span>
                                                                </li> -->
                                                            </ul>
                                                        </div>
    
                                                        <div class="row">
                                                            <div class="col-md-6 col-xs-12">
                                                                <div class="comcontactdtl">
                                                                    <h5>Contact Detail</h5>
                                                                    <div class="comcontactdtl-body" style="height:380px;">
                                                                        <ul>
                                                                            <li class="email"> <i class="las la-envelope"></i> {{ item.lead.email }}</li>
                                                                            <li class="phone"> <i class="las la-phone"></i> {{ item.lead.phone }}</li>
                                                                            <li class="mobile"> <i class="las la-mobile"></i> {{ item.lead.mobile }}</li>
                                                                            <li class="address"> <i class="las la-map-marker-alt"></i> {{ item.lead.address | titlecase}} {{ item.lead.suburb | titlecase}}, {{ item.lead.state | titlecase}}-{{ item.lead.postCode }}</li>
                                                                            <li class="address"><i class="las la-edit"></i></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col-xs-12">
                                                                <div class="comcontactdtl">
                                                                    <h5>Other Detail</h5>
                                                                    <div class="comcontactdtl-body" style="height:380px;">
                                                                        <ul>
                                                                            <li class="abn"> <i class="las la-city"></i> {{item.lead.area}}</li>
                                                                            <li class="phone"> <i class="las la-home"></i> {{item.lead.type}}</li>
                                                                            <li class="phone" *ngIf="'Pages.MyLeads.ShowLeadSource' | permission" > <i class="las la-ad"></i> {{item.lead.leadSource}}</li>
                                                                            <li class="address"> <i class="las la-solar-panel"></i> {{ item.lead.requirements }}</li>
                                                                            <li class="phone"> <i class="las la-link"></i> {{ item.lead.fName }}</li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                        </tab>
                                        <!-------------------- start summary tab -->
                                        <!-------------------- start map tab -->
                                        <tab heading="{{'Map' | localize}}" style="border-radius:20px; overflow: hidden;" *ngIf="item.longitude != null && showTab" id="tab02">
                                            <!-- <agm-map [latitude]="lt" [longitude]="long" [zoom]="5">
                                                <agm-marker *ngFor="let marker of markers" [latitude]="marker.lt"
                                                    [longitude]="marker.long">
                                                    <agm-info-window #infoWindow>
                                                        {{ marker.label }}
                                                    </agm-info-window>
                                                </agm-marker>
                                            </agm-map> -->

                                            <div class="white-form-block">
                                                <div class="graybackbox">
                                                    <h4>
                                                        <div class="d-flex align-items-center justify-content-between">
                                                            <span>Map</span>
                                                            <select name="selectedMap" id="selectedMap" [(ngModel)]="selectedMap" class="white-ddl" (change)="bindMap()" style="-webkit-appearance: auto;">
                                                                <option value="GoogleMap">Google Map</option>
                                                                <option *ngFor="let item of OrganizationMapDto" value="{{item.mapProvider}}">{{item.mapProvider | localize}}</option>
                                                            </select>
                                                        </div>
                                                    </h4>

                                                    <div *ngIf="selectedMap != 'GoogleMap'" class="nearMap">
                                                        <img src="{{mapSrc}}">
                                                    </div>
                                                    <div style="border-radius:10px; overflow:hidden;">
                                                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="50" [mapTypeId]="'satellite'" *ngIf="selectedMap == 'GoogleMap'" [fullscreenControl]='true' [mapTypeControl]='true'>
                                                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                                        </agm-map>
                                                    </div>

                                                </div>
                                                <!-- <h3>Job Information</h3> -->


                                            </div>
                                        </tab>
                                        <!-------------------- end map tab -->
                                        <!-------------------- start Job tab -->
                                        <tab  heading="{{'Job' | localize}}"  id="tab03">
                                            <jobCreateOrEdit #jobCreateOrEdit [LeadId]="SelectedLeadId">
                                            </jobCreateOrEdit>
                                        </tab>
                                        <!-------------------- end Job tab -->
                                        <!-------------------- start Activitylog tab -->
                                        <tab heading="{{'ActivityLog' | localize}}" [active]="activeTabIndex == 1" id="tab04">
                                            <activityLog #activityLog></activityLog>
                                        </tab>

                                        <!-------------------- Start Call History Tab -------------------->
                                        <tab heading="{{'CallHistory' | localize}}" *ngIf="permission.isGranted('Pages.LeadDetails.CallHistory') && showTab" id="tab05">
                                            <div class="leaddtltitle activitytitle mt-3">
                                                <div class="disflexdiv">
                                                    <h3>Call History</h3>
                                                </div>
                                                <div class="activityfilter d-flex align-items-center">
                                                    <div style="margin-top:7px;">
                                                        <button type="button" class="btn_refresh mr-2" (click)="getCallHistory()" style="height: 32px; padding: 0 1rem !important;"></button>
                                                    </div>
                                                    <div class="form-group m-form__group mr-3 mb-0">
                                                        <select class="form-control minwidth145" name="typyFilter" [(ngModel)]="callType" (change)="getCallHistory()">
                                                            <option value="">All History</option>
                                                            <option value="Inbound">{{l("Inbound")}}</option>
                                                            <option value="Outbound">{{l("Outbound")}}</option>
                                                            <option value="Notanswered">{{l("Notanswered")}}</option>
                                                            <option value="Missed">{{l("Missed")}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="switchbox">
                                                        <span class="switchlabel">My History</span>
                                                        <span class="kt-switch kt-switch--icon">
                                                            <label>
                                                                <input checked="checked" name="SwitchToMyActivity" [(ngModel)]="myHistory" type="checkbox" (change)="getCallHistory()">
                                                                <span></span>
                                                        </label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="leaddetailcnt">
                                                <div class="form-group">
                                                    <div class="ativityLogs">
                                                        <div class="list_area_box">
                                                            <div class="list_box" *ngFor="let item of callHistories">
                                                                <div class="img_area {{item.colorClass}}">
                                                                    <div><i class="{{item.callTypeIcon}}"></i></div>
                                                                </div>
                                                                <div class="d-flex align-items-center justify-content-between" style="width:100%;">
                                                                    <div class="text_area">
                                                                        <div class="title_hd d-flex align-items-center">
                                                                            <span class="mr-2">{{item.agentName}} : </span>
                                                                            <span class="log-date d-flex align-items-center"><i class="las la-clock mr-1"></i>{{item.callStartTimeUTC | momentFormat:'DD-MM-YYYY hh:mm:ss a'}}</span>
                                                                        </div>
                                                                        <p class="d-flex align-items-center">
                                                                            <span> Call Type : {{l(item.callType)}}</span>
                                                                            <span class="mx-4">|</span>
                                                                            <span> Duration : <span class="badge badge-secondary" style="font-weight: 600;">{{item.duration}}</span></span>
                                                                        </p>
                                                                    </div>
                                                                    <div class="d-flex align-items-canter mr-3">
                                                                        <!-- <audio controls>
                                                                            <source [src]="appRootUrl() + 'assets/common/images/sample.ogg'" type="audio/ogg">
                                                                            <source [src]="appRootUrl() + 'assets/common/images/sample.mp3'" type="audio/mpeg">
                                                                            Your browser does not support the audio element.
                                                                          </audio> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tab>
                                        <!-------------------------- End Call History Tab ------------------------->
                                    </tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <addActivityModal #addActivityModal (modalSave)="addActivitySuccess()"></addActivityModal> -->
        <createEditLead #createEditLead (modalSave)="addActivitySuccess()"></createEditLead>
        <promoStopRespmodel #promoStopRespmodel (modalSave)="addActivitySuccess()"></promoStopRespmodel>


    </div>
</div>
<div appBsModal #detailActivityModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detailActivityModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Project Open Date Modified </h5>
                <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-3">
                    <div class="form-group form-icon custom-required">
                        <label for="wLead_firstName" class="form-label">{{ l("Project Opened On") }}
                            *</label>
                            <input type="text" 
                            name="projectOpenDate" 
                            disabled 
                            class="form-control daterangebox"
                            bsDatepicker 
                            placeholder="Project Opened On"
                            [(ngModel)]="projectOpenDate" 
                            [bsConfig]="{ customTodayClass: 'today', adaptivePosition: true }" />
                     
                        <span class="icon-box"><i class="las la-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">
                    <i class="las la-times-circle"></i>{{ l("Cancel") }}
                </button>
                <button  class="btn btn-primary" 
                (click)="SaveProjectOpenDate();" >
                    <i class="las la-save"></i>
                    <span>{{ "Save" | localize }}</span>
                </button>
            </div>
        </div>
    </div>
</div>