﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form *ngIf="active" #smsTemplateForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="smsTemplate.id">{{l("EditSmsTemplate")}}</span>
                        <span *ngIf="!smsTemplate.id">{{l("CreateNewSmsTemplate")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body modal-bg-gray">

                    <div class="">

                        <div class="row">
                            <div class="col-md-9">
                                <div class="modal-white-box" style="height:564px;">
                                    <h3 class="d-flex align-items-center"><i class="las la-comment mr-2"></i>SMS Content</h3>
                                    <div class="form-group">
                                        <label for="SmsTemplate_Organization">{{l("Organization")}} *</label>
                                        <select class="form-control" [(ngModel)]="smsTemplate.organizationUnitId" name="SmsTemplate_Organization">
                                            <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">{{item.displayName}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="SmsTemplate_Name">{{l("Name")}} *</label>
                                        <input type="text" #SmsTemplate_Name="ngModel" id="SmsTemplate_Name" class="form-control" [(ngModel)]="smsTemplate.name" name="Name" required />
                                        <validation-messages [formCtrl]="SmsTemplate_Name"></validation-messages>
                                    </div>

                                    <div class="form-group">
                                        <label for="SmsTemplate_Text">{{l("Text")}} *</label>
                                        <textarea type="text" #SmsTemplate_Text="ngModel" id="SmsTemplate_Text" style="min-height:232px !important;" class="form-control" [(ngModel)]="smsTemplate.text" name="Text" (keyup)="countCharcters()" required></textarea>
                                        <validation-messages [formCtrl]="SmsTemplate_Text"></validation-messages>
                                    </div>

                                    <div class="d-flex align-items-center mt-2">
                                        <div class="d-flex align-items-center mr-3"><span><b>Total: </b></span> <span class="badge badge-success ml-1">{{total}}</span></div>
                                        <div class="d-flex align-items-center"><span><b>Credit: </b></span> <span class="badge badge-danger ml-1">{{credit}}</span></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="modal-white-box" style="height:564px;">
                                    <h3 class="d-flex align-items-center"><i class="las la-tags mr-2"></i>Custom Tags</h3>
                                    <div class="form-group">
                                        <!-- <div class="kt-radio-inline"> -->
                                        <select (change)="onTagChange($event)" class="form-control">
                                            <option value="0">CustomeTags</option>
                                            <option value="1">Name</option>
                                            <option value="2">Mobile</option>
                                            <option value="3">Phone</option>
                                            <option value="4">Email</option>
                                            <option value="5">Address</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <!-- <div class="kt-radio-inline"> -->
                                        <select (change)="onTagChange($event)" class="form-control">
                                            <option value="0">SalesRep Tags</option>
                                            <option value="6">SalesRep Name</option>
                                            <option value="7">SalesRep Mobile</option>
                                            <option value="8">SalesRep Email</option>
                                        </select>

                                    </div>

                                    <div class="form-group">
                                        <select (change)="onTagChange($event)" class="form-control">
                                            <option value="0">Quote</option>
                                            <option value="10">System Capacity</option>
                                            <option value="11">All product Item</option>
                                            <option value="12">Total Quote price</option>
                                            <option value="13">Installation Date</option>
                                            <option value="14">Installer Name</option>
                                            <option value="29">JobNumber</option>
                                        </select>

                                    </div>

                                    <div class="form-group">
                                        <select (change)="onTagChange($event)" class="form-control">
                                            <option value="0">Freebies</option>
                                            <option value="15">Transport Company</option>
                                            <option value="16">Transport Link</option>
                                            <option value="17">Dispatched Date</option>
                                            <option value="18">Tracking No</option>
                                            <option value="19">Promo Type</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <select (change)="onTagChange($event)" class="form-control">
                                            <option value="0">User</option>
                                            <option value="20">User Name</option>
                                            <option value="21">User Mobile</option>
                                            <option value="22">User Email</option>
                                            <option value="23">Owning</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <select (change)="onTagChange($event)" class="form-control">
                                            <option value="0">Organization</option>
                                            <option value="24">Organization Name</option>
                                            <option value="25">Organization Email</option>
                                            <option value="26">Organization Mobile</option>
                                            <option value="27">Organization Logo</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <select (change)="onTagChange($event)" class="form-control">
                                            <option value="0">Review</option>
                                            <option value="28">Review Link </option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!smsTemplateForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>