﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #invoicePaymentMethodForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="invoicePaymentMethod.id">{{l("EditInvoicPaymentMethod")}}</span>
                        <span *ngIf="!invoicePaymentMethod.id">{{l("CreateInvoicPaymentMethod")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                            <div class="form-group form-icon">
                                <label for="InvoicePaymentMethod_PaymentMethod">{{l("PaymentMethod")}} *</label>
                                <input type="text" id="InvoicePaymentMethod_PaymentMethod" class="form-control" [(ngModel)]="invoicePaymentMethod.paymentMethod" name="PaymentMethod" required />
                                <span class="icon-box"><i class="las la-money-bill"></i></span>
                            </div>
                            </div>
                            <div class="col-md-6"> 
                            <div class="form-group form-icon">
                                <label for="InvoicePaymentMethod_ShortCode">{{l("ShortCode")}} *</label>
                                <input type="text" id="InvoicePaymentMethod_ShortCode" class="form-control" [(ngModel)]="invoicePaymentMethod.shortCode" name="ShortCode" required />
                                <span class="icon-box"><i class="las la-money-bill"></i></span>
                            </div>
                            </div>
                            <div class="col-md-12">
                                <div class="m-checkbox-list">
                                    <label for="InvoicePaymentMethod_Active" class="kt-checkbox">
										<input id="InvoicePaymentMethod_Active" type="checkbox" name="Active" [(ngModel)]="invoicePaymentMethod.active"> 
										{{l("Active")}} *
										<span></span>
									</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!invoicePaymentMethodForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>