﻿<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("InvoicPaymentMethod")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getInvoicePaymentMethods()"></button>
                                </li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;">
                                                <i class="las la-file-csv"></i> CSV
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="isGranted('Pages.InvoicePaymentMethods.Create')"><button (click)="createInvoicePaymentMethod()" class="btn btn-outline-primary btnadd">
                                    Add <i class="las la-plus-circle"></i>
                                </button></li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getInvoicePaymentMethods();searchLog();" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText=''"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getInvoicePaymentMethods();searchLog();" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                            <h3>Advance Filters </h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">
                                                    <div>
                                                        <ul>
                                                            <li class="fullwidth">
                                                                <div class="form-group">
                                                                    <!-- <label for="PaymentMethodFilter">{{l("PaymentMethod")}}</label> -->
                                                                    <input type="text" class="form-control" id="PaymentMethodFilter" name="paymentMethodFilter" placeholder="Payment Method" [(ngModel)]="paymentMethodFilter">
                                                                </div>
                                                            </li>
                                                            <li class="fullwidth">
                                                                <div class="form-group">
                                                                    <!-- <label for="ShortCodeFilter">{{l("ShortCode")}}</label> -->
                                                                    <input type="text" class="form-control" id="ShortCodeFilter" name="shortCodeFilter" placeholder="ShortCode" [(ngModel)]="shortCodeFilter">
                                                                </div>
                                                            </li>
                                                            <li class="fullwidth">
                                                                <div class="form-group">
                                                                    <select class="form-control" name="ActiveFilter" id="ActiveFilterSelect" [(ngModel)]="activeFilter">
                                                                        <option selected value="-1">{{l("All Active")}}
                                                                        </option>
                                                                        <option value="0">{{l("False")}}</option>
                                                                        <option value="1">{{l("True")}}</option>
                                                                    </select>
                                                                </div>
                                                            </li>
                                                            <li class="fullwidth text-right">
                                                                <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getInvoicePaymentMethods()"><i
                                                                        class="fa fa-search ng-tns-c458-53"></i>
                                                                    Search</button>
                                                            </li>
                                                        </ul>

                                                        <!-- <div class="row mb-2">
                                                            <div class="col-sm-12">
                                                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                                                            </div>
                                                        </div> -->
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- <div class="kt-buttonarea"> 
                                
                               <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>

                                     
                            </div> -->


                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getInvoicePaymentMethods($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.InvoicePaymentMethods.Edit', 'Pages.InvoicePaymentMethods.Delete')">{{l('Actions')}}</th>
                                        <th pSortableColumn="paymentMethod">
                                            {{l('PaymentMethod')}}
                                            <p-sortIcon field="invoicePaymentMethod.paymentMethod"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px; text-align:center;" pSortableColumn="shortCode">
                                            {{l('ShortCode')}}
                                            <p-sortIcon field="invoicePaymentMethod.shortCode"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px; text-align:center;" pSortableColumn="active">
                                            {{l('Active')}}
                                            <p-sortIcon field="invoicePaymentMethod.active"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td class="actionwidth" style="text-align:center" [hidden]="!isGrantedAny('Pages.InvoicePaymentMethods.Edit', 'Pages.InvoicePaymentMethods.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
                                                <ul class="dropdown-menu" *dropdownMenu>

                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.InvoicePaymentMethods.Edit')" (click)="createOrEditInvoicePaymentMethodModal.show(record.invoicePaymentMethod.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.InvoicePaymentMethods.Delete')" (click)="deleteInvoicePaymentMethod(record.invoicePaymentMethod)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title">                                                
                                                {{l('PaymentMethod')}}</span> {{record.invoicePaymentMethod.paymentMethod}}
                                        </td>
                                        <td style="width:150px;text-align:center;">
                                            <span class="ui-column-title"> {{l('ShortCode')}}</span> {{record.invoicePaymentMethod.shortCode}}
                                        </td>
                                        <td style="width:150px; text-align: center;">
                                            <!-- <span class="ui-column-title"> {{l('Active')}}</span> -->
                                            <span class="ui-column-title"> {{'Active' | localize}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.invoicePaymentMethod.active">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.invoicePaymentMethod.active">{{'No' | localize}}</span>
                                            <!-- <div  class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
										<div  class="text-center"><i class="fa fa-times-circle" title="False"></i></div> -->
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getInvoicePaymentMethods($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditInvoicePaymentMethodModal #createOrEditInvoicePaymentMethodModal (modalSave)="getInvoicePaymentMethods()"></createOrEditInvoicePaymentMethodModal>


    </div>
</div>