﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <div class="row">
                        <div class="col-6 mb-3">
                            <h6>{{l("PaymentMethod")}} :</h6>
                            {{ item.invoicePaymentMethod.paymentMethod }}
                        </div>
                        <div class="col-6 mb-3">
                            <h6>{{l("ShortCode")}} :</h6>
                            {{ item.invoicePaymentMethod.shortCode }}
                        </div>
                        <div class="col-12 mb-3">
                            <h6>{{l("Active")}} :</h6>
                            <div *ngIf="item.invoicePaymentMethod.active" class="text-left"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
                            <div *ngIf="!item.invoicePaymentMethod.active" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i class="fa fa-times"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>