<div bsModal #viewModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg" style="max-width:900px !important;">
        <div class="modal-content">
            <form *ngIf="active" #installerinvoiceform="ngForm" novalidate (ngSubmit)="saveJobInstallerInvoic()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("AddPayWayDetails")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <!-- <div class="modal-white-box">
                        <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="onChangeorganizationUnit(organizationUnit)" disabled>
                            <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">{{item.displayName}}</option>
                        </select>
                    </div> -->

                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-wallet mr-2"></i>Payment Details</h3>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="paymentMethod">{{l("PaymentMethod")}}</label>
                                    <select class="form-control" required [(ngModel)]="paywaydata.paymentMethod" id="paywaydata.paymentMethod" name="paymentMethod">
                                        <option value=0>{{l("Select paymentMethod")}}</option>
                                        <option value="payment">{{l('Credit Card')}}</option>                                    
                                    </select>
                                    <span class="icon-box" style="top: 30px; height: 37px;"><i class="las la-wallet"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="paymentType">{{l("PaymentType")}}</label>
                                    <select class="form-control" required [(ngModel)]="paywaydata.paymentType" id="paywaydata.paymentType" name="paymentType">
                                        <option *ngFor="let item of allInvoicePaymentStatus" value="{{item.id}}">
                                            {{item.displayName}}</option>                                 
                                    </select>
                                    <span class="icon-box" style="top: 30px; height: 37px;"><i class="las la-university"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="principalAmount">{{l("Amount")}}</label>
                                    <input type="text" id="paywaydata.principalAmount" required class="form-control" [(ngModel)]="paywaydata.principalAmount" name="principalAmount" />
                                    <span class="icon-box" style="top: 30px; height: 37px;"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center"><i class="las la-credit-card mr-2"></i> Card Derails</div>
                            <img src="../../../../assets/common/images/icon-visa.png">
                        </h3>
                        <div class="d-flex align-items-center justify-content-between">
                            <div class=" mr-2" style="width:60%;">
                                <div class="form-group">
                                    <label for="cardNumber">{{l("CardNumber")}}</label>
                                    <input type="number" id="paywaydata.cardNumber" required class="form-control" [(ngModel)]="paywaydata.cardNumber" name="cardNumber" />
                                </div>

                                <div class="form-group">
                                    <label for="cardholderName">{{l("CardHolderName")}}</label>
                                    <input type="text" id="paywaydata.cardholderName" required class="form-control" [(ngModel)]="paywaydata.cardholderName" name="cardholderName" />
                                </div>

                                <div class="form-group">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="mr-2">
                                            <label for="cardNumber">Expiry Date</label>
                                            <div class="d-flex align-items-center">
                                                <input type="number" id="paywaydata.expiryDateMonth" required class="form-control mr-4" [(ngModel)]="paywaydata.expiryDateMonth" name="expiryDateMonth" placeholder="Month" style="width:125px; padding-left:15px;" />
                                                <input type="number" id="paywaydata.expiryDateYear" required class="form-control" [(ngModel)]="paywaydata.expiryDateYear" name="expiryDateYear" placeholder="Year" style="width:125px; padding-left:15px;" />
                                            </div>
                                        </div>
                                        <div>
                                            <label for="cvn">{{l("CVN")}}</label>
                                            <input type="number" id="paywaydata.cvn" required class="form-control" [(ngModel)]="paywaydata.cvn" name="cvn" style="width:105px; padding-left:15px;" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <img src="../../../../assets/common/images/credit-card.png">
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>  {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!installerinvoiceform.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>