﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #roofAngleForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="roofAngle.id">{{l("EditRoofAngle")}}</span>
                        <span *ngIf="!roofAngle.id">{{l("CreateNewRoofAngle")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-icon">
                                    <label for="RoofAngle_Name">{{l("Name")}} *</label>
                                    <input type="text" id="RoofAngle_Name" class="form-control" [(ngModel)]="roofAngle.name" name="Name" minlength="2" maxlength="200" required/>
                                    <span class="icon-box"><i class="las la-home"></i></span>
                                </div>
                                <div class="form-group form-icon">
                                    <label>Is-Active</label>
                                    <input type="checkbox"  class="form-control" [(ngModel)]="roofAngle.isActive" name="isActive" style="width: 22px;" />
                                  </div>
                            </div>  
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!roofAngleForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>