﻿<style>
    .installationboxmain .installationsubox.no_warp_main {
        overflow-x: auto;
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Installation")}}</span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li class="paddnone">
                                    <div class="d-flex align-items-center" style="border:1px solid #5867dd; border-radius:5px; overflow:hidden;">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-light" (click)="previousDate();addSearchLog('Previous Date');" style="border-radius:0 !important;"><i class="las la-angle-left pr-0"></i></button>
                                            <button type="button" class="btn btn-light" style="border-left:1px solid #5867dd !important; border-radius:0 !important;" (click)="nextDate();addSearchLog('Filter Next Date');"><i class="las la-angle-right pr-0"></i></button>
                                        </div>
                                    </div>
                                </li>

                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getInstallations();getInstaller();addSearchLog('Filter Organization');">
                                        <option value="0">All Organization</option>
                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                          {{item.displayName}}</option>
                                      </select>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select class="form-control" id="areaNameFilter" name="areaNameFilter" [(ngModel)]="areaNameFilter" (change)="getInstallations();addSearchLog('Filter Area');">
                                        <option value="">Select Area</option>
                                        <option value="Metro">Metro</option>
                                        <option value="Regional">Regional</option>
                                      </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select class="form-control" [(ngModel)]="stateNameFilter" name="stateNameFilter" (change)="getInstallations();addSearchLog('Filter State');">
                                        <option value="">{{l("SelectAState")}}</option>
                                        <option *ngFor="let item of allStates" value="{{item.displayName}}">{{item.displayName}}</option>
                                      </select>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select class="form-control" [(ngModel)]="installerId" name="installerId" (change)="getInstallations()" *ngIf="permission.isGranted('Pages.Service.ServiceInstaller')">
                                        <option value="0">All Installers</option>
                                        <option *ngFor="let item of InstallerList" value="{{item.id}}">{{item.displayName}}</option>
                                      </select>
                                        </div>
                                    </div>
                                </li> -->
                                <li *ngIf="permission.isGranted('Pages.Service.ServiceInstaller')">
                                    <div class="kt-searchmainbox">
                                        <div class="kt-stextbox" style="overflow:inherit;">
                                            <div class="form-group form-icon mb-0">
                                                <p-autoComplete id="installerIds" name="installerIds" [suggestions]="installerSearchResult" (completeMethod)="filterInstaller($event)" [minLength]="1" [placeholder]="l('SelectInstaller')" inputStyleClass="form-control" styleClass="pl-4 w-275px" (onSelect)="selectInstaller($event)"
                                                    field="displayName" (onClear)="selectInstaller($event)" (keydown.enter)="selectInstaller($event);addSearchLog('Filter Installer');">
                                                    <ng-template let-result pTemplate="item">
                                                        <div class="result-item">
                                                            <div class="d-flex align-items-center mb-1">
                                                                <i class="las la-user-cog fs-16 mr-1"></i> {{result.displayName}}
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-autoComplete>
                                                <span class="icon-box" style="z-index:1; top:-2px; padding:0 4px;"><i class="las la-user-cog fs-20"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile bg_none">
                <div class="kt-portlet__body padzero">
                    <div class="installationboxmain">
                        <div class="installationsubox no_warp_main">
                            <div class="installationbox" *ngFor="let item of InstallationList; let i = index">
                                <div class="day-box">{{item.installationDate | momentFormat:'dddd'}}</div>
                                <div class="monthname">
                                    <span>{{item.installationDate | momentFormat:'DD-MM-YYYY'}}</span>
                                    <span class="badge badge-primary">Jobs - {{item.installationCount}}</span>
                                </div>
                                <!-- <div class="graybox"> -->
                                <div>
                                    <!-- <span>Job</span> -->
                                    <!-- <span>Time Bkd</span> -->
                                </div>
                                <div style="width:100%; max-height:74vh; overflow-y: auto; padding-right:4px;" class="scroll-section">
                                    <div class="installation-job sm-record" *ngFor="let installData of item.jobs">
                                        <div class="d-flex align-items-center mb-2 header-row">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm py-1 px-1" dropdownToggle>
                                              <i class="flaticon-more fs-16"></i><span class="caret"></span>                                                    
                                          </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Service.MyService.SMS')">
                                                        <a (click)="myserviceSmsEmailModel.show(installData.leadId,1,22,0,0,'Service Installation')">
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Service.MyService.Email')">
                                                        <a (click)="myserviceSmsEmailModel.show(installData.leadId,2,22,0,0,'Service Installation')">
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>
                                                <a href="javascript:;" *ngIf="isGrantedAny('Pages.Service.ServiceInstallationJobView')" [routerLink]="['/app/main/jobs/jobs/jobDetail']" target="_blank" [queryParams]="{id:installData.leadId}">
                                                {{installData.jobNumber}}
                                              </a>
                                                <span *ngIf="!isGrantedAny('Pages.Installation.JobView')">{{installData.jobNumber}}</span>
                                            </div>
                                        </div>
                                        <h4 class="d-flex align-items-center">
                                            <i class="las la-user-alt fs-18 mr-1" style="color:#797789;"></i> {{installData.customerName}}
                                        </h4>
                                        <div class="databox">
                                            <div class="dataleft">
                                                <div class="d-flex">
                                                    <i class="las la-map-marker-alt fs-18 mr-1" style="color:#797789;"></i>
                                                    <div>
                                                        <span>{{installData.address}} {{installData.suburb}}</span>
                                                        <span style="border-top:0;">{{installData.state}} - {{installData.postalCode}} </span>
                                                    </div>
                                                </div>
                                                <span><i class="las la-user-cog fs-18 mr-2" style="color:#797789;"></i> <span style="font-weight:600; border-top: 0;">{{installData.installerName}}</span> </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<myserviceSmsEmailModel #myserviceSmsEmailModel></myserviceSmsEmailModel>