﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #promotionResponseStatusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="promotionResponseStatus.id">{{l("EditPromotionResponseStatus")}}</span>
                        <span *ngIf="!promotionResponseStatus.id">{{l("CreateNewPromotionResponseStatus")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="PromotionResponseStatus_Name">{{l("Name")}} *</label>
									<input type="text" id="PromotionResponseStatus_Name" class="form-control" [(ngModel)]="promotionResponseStatus.name" name="Name"   minlength="1"  maxlength="200"  required/>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn  btn-secondary" (click)="close()">{{l("Close")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!promotionResponseStatusForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>