<div class="kt-portlet kt-portlet--height-fluid dashboardboxmain margingcomman5 martop15">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Lead Status
            </h3>

        </div>
    </div>
    <div class="kt-portlet__body form-group row paddnone">




        <div class="col-lg-12">
            <div class="ui-table">
                <table class="table table-bordered paddset_table1 brd_only_btm table_padd_new">
                    <thead>
                        <tr>
                            <th style="width:55px;"></th>
                            <th>Source</th>
                            <th style="width:80px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td width="30">
                                <div class="b-avatar badge-light-company rounded" style="width:32px; height:32px;">
                                    <span class="b-avatar-custom"><img src="../../../assets/common/images/toolbox.svg" /></span>
                                </div>
                            </td>
                            <td width="100">TV</td>
                            <td width="80">{{tv}}</td>
                        </tr>
                        <tr>
                            <td width="30">
                                <div class="b-avatar badge-light-company rounded" style="width:32px; height:32px;">
                                    <span class="b-avatar-custom"><img src="../../../assets/common/images/book.svg" /></span></div>
                            </td>
                            <td>Google</td>
                            <td>{{google}}</td>
                        </tr>
                        <tr>
                            <td width="30">
                                <div class="b-avatar badge-light-company rounded" style="width:32px; height:32px;">
                                    <span class="b-avatar-custom"><img src="../../../assets/common/images/brush.svg" /></span>
                                </div>
                            </td>
                            <td>Facebook</td>
                            <td>{{facebook}}</td>
                        </tr>
                        <tr>
                            <td width="30">
                                <div class="b-avatar badge-light-company rounded" style="width:32px; height:32px;">
                                    <span class="b-avatar-custom"><img src="../../../assets/common/images/parachute.svg" /></span>
                                </div>
                            </td>
                            <td>Refferal</td>
                            <td>{{refferal}}</td>
                        </tr>
                        <tr>
                            <td width="30">
                                <div class="b-avatar badge-light-company rounded" style="width:32px; height:32px;">
                                    <span class="b-avatar-custom"><img src="../../../assets/common/images/rocket.svg" /></span>
                                </div>
                            </td>
                            <td>Others</td>
                            <td>{{others}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>




        </div>
    </div>
</div>