﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <!-- <span>{{agentName}} - {{callType}} Call History</span> -->
                </h4>
                <button class="btn btn-primary btn-sm ml-4" type="button" (click)="exportToExcel()"><i class="las la-file-excel"></i> Export</button>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <div class="secondary-grid vscrollbar" style="max-height: 300px; overflow-y: auto;">
                        <table class="table table_blck">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Jobnumber</th>
                                    <th>InstallDate</th>
                                    <th>State</th>
                                    <th>SystemCapacity</th>
                                    <th>BatteryKw</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let index of callDetailInput; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{index.projectNo}}</td>
                                    <td>{{index.installDate | momentFormat:'DD-MM-YYYY hh:mm:ss a'}}</td>
                                    <td>{{index.state}}</td>
                                    <td>{{index.systemCapacity}}</td>
                                    <td>{{index.batteryKW}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>
                    {{l("Cancel")}}</button>
            </div>
        </div>
    </div>

</div>