<div class="input-group">
    <div>
        <div class="form-group m-form__group">
            <select class="form-control" [(ngModel)]="salesRepId" (change)="onChange()" name="salesRepId">
                <option value="0">{{l("SelectSalesRep")}}</option>
                <option *ngFor="let item of filteredReps" value="{{item.id}}">
                    {{item.displayName}}</option>
            </select>
        </div>
    </div>
</div>