﻿<div [@routerTransition]>
    <div>
        <!-- side bar grid-->
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>{{l("CancelLead")}}</span>
                            <span class="total-records-count">
                                ({{(primengTableHelper.totalRecordsCount)}})
                            </span>
                        </h3>
                        <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                    </div>
                    <!-- <div class="kt-totalcount">
                        <span>Total : </span> {{primengTableHelper.totalRecordsCount}}
                    </div> -->
                    <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                        <div class="kt-subheader__wrapper">
                            <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                                <ul class="hd_right">
                                    <li>
                                        <button type="button" class="btn_refresh" (click)="getLeads();RereshLog();"></button>
                                    </li>
                                    <li dropdown *ngIf="permission.isGranted('Pages.Lead.Calcel.ExcelExport')">
                                        <div class="btn-group btnexceldropdown leadbtnexcel">
                                            <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Export<img src="../../../assets/common/images/icon_downarrow.svg" />
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                                <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.Leads.Export' | permission">
                                                    <i class="las la-file-excel"></i> {{'Export' | localize}}
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;" *ngIf="'Pages.Leads.Export' | permission">
                                                    <i class="las la-file-csv"></i> {{l("ExportCSV")}}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="maxwidth220px" *ngIf="organizationUnitlength > 1">
                                        <div class="kt-sdropdown">
                                            <div class="form-group selectdropdown m-form__group">
                                                <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();bindUsers();getLeads();addSearchLog('Filter Organization');" style="width:160px;">
                                                    <option *ngFor="let item of allOrganizationUnits"
                                                        value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="maxwidth220px">
                                        <div class="form-group wdth140 selectdropdown m-form__group jobmultipleselect ml0">
                                            <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadSource" [(ngModel)]="leadSourceIdFilter" name="jobStatusID">
                                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </li>
                                    <li class="maxwidth220px">
                                        <div class="form-group wdth140 selectdropdown m-form__group jobmultipleselect ml0">
                                            <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select JobStatus" [(ngModel)]="jobStatusIDFilter" name="jobStatusIDFilter">
                                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown maxwidth250">
                                            <div class="form-group selectdropdown m-form__group">
                                                <select class="form-control" [(ngModel)]="cancelReasonFilter" name="cancelReasonFilter" (change)="getLeads();addSearchLog('Filter Cancel Reason');">
                                                    <option value="0">{{l("SelectCancelReason")}}</option>
                                                    <option *ngFor="let item of allcancelReason" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group  selectdropdown m-form__group">
                                                <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                    <option value="JobNumber">Job Number</option>
                                                    <option value="MobileNo">Mobile No</option>
                                                    <option value="CompanyName">Company Name</option>
                                                    <option value="Email">Email</option>
                                                    <option value="Phone">Phone</option>
                                                    <option value="Address">Address</option>
                                                    <option value="Requirements">Requirements</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-searchmainbox searchclearbox">
                                            <div class="kt-stextbox leardsearchfilter">
                                                <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                                <input [(ngModel)]="filterText" name="filterText" autoFocus [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control m-input" (keydown.enter)="getLeads();addSearchLog('Filter' + filterName +  ' : ' + filterText)" placeholder="{{filterName}}" type="text">
                                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getLeads();"></a>
                                                <button (click)="getLeads();addSearchLog('Filter' + filterName +  ' : ' + filterText)" class="btnsearch" type="submit"><i
                                                        class="flaticon-search-1"></i></button>
                                            </div>
                                            <div class="kt-advfilterbox">
                                                <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                            </div>
                                            <div class="kt-advfilterbox">
                                                <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                    <i class="las la-sliders-h"></i>
                                                </button>

                                            </div>

                                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                                <h3>{{l("AdditionalFilters")}}</h3>
                                                <div class="advfilterform">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="postCodeSuburbFilter" id="postCodeSuburbFilter" [suggestions]="suburbSuggestions" (completeMethod)="filtersuburbs($event)" (keydown.enter)="getLeads();addSearchLog('Advanced Filter');" placeholder='{{l("Suburb")}}' [minlength]="2" #suburbInput="ngModel"
                                                                    name="postCodeSuburbFilter" inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="stateNameFilter" (keydown.enter)="getLeads();addSearchLog('Advanced Filter');" name="stateNameFilter">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" (keydown.enter)="getLeads();addSearchLog('Advanced Filter');" id="postCodePostalCode2Filter" name="postCodePostalCode2Filter" [(ngModel)]="postCodePostalCode2Filter" placeholder='{{l("PostCode")}}'>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="teamId" name="teamId" (change)="bindUsers()" (keydown.enter)="getLeads();addSearchLog('Advanced Filter');">
                                                                    <option value="0">{{l("SelectTeam")}}</option>
                                                                    <option *ngFor="let item of filteredTeams"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li *ngIf="role != 'Sales Rep'">
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="salesManagerId" (keydown.enter)="getLeads();addSearchLog('Advanced Filter');" name="salesManagerId">
                                                                    <option value="0">{{l("SelectSalesManager")}}
                                                                    </option>
                                                                    <option *ngFor="let item of filteredManagers"
                                                                        value="{{item.id}}">{{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li *ngIf="role != 'Sales Rep'">
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="salesRepId" (keydown.enter)="getLeads();addSearchLog('Advanced Filter');" name="salesRepId">
                                                                    <option value="0">{{l("SelectSalesRep")}}</option>
                                                                    <option *ngFor="let item of filteredReps"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateFilterType" (keydown.enter)="getLeads();addSearchLog('Advanced Filter');" name="dateFilterType">
                                                                    <option value="Creation">{{l("CreationDate")}}
                                                                    </option>
                                                                    <option value="FirstDeposite">{{l("FirstDepositeDate")}}</option>
                                                                    <option value="DepositeReceived">{{l("DepositeReceivedDate")}}</option>
                                                                    <option value="Active">{{l("ActiveDate")}}</option>
                                                                    <option value="Cancel">{{l("CancelDate")}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <!-- <li>
                                                            <input name="SampleDateRangePicker" type="text" (keydown.enter)="getLeads($event)" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker [bsConfig]="{ customTodayClass: 'today' }" dateRangePickerMomentModifier [(date)]="sampleDateRange"
                                                            />
                                                        </li> -->
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="StartDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <!-- <input name="SampleDateRangePicker" type="text" class="form-control daterangebox" id="SampleDateRangePicker" [(ngModel)]="sampleDateRange" (keydown.enter)="getLeads($event)" bsDaterangepicker [bsConfig]="{ customTodayClass: 'today' }" dateRangePickerMomentModifier
                                                                [(date)]="sampleDateRange" /> -->
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="EndDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="text-right fullwidth">
                                                            <button class="btn btn_red marright10 btn-sm" (click)="clear()"><i
                                                                class="fa fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm-53" (click)="getLeads();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search"></i>
                                                                {{l("Search")}}</button>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                    </div>
                </div>
            </div>
            <div class="blue-filter-box" [hidden]="!FiltersData" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action')">
                <div class="d-flex align-items-center justify-content-end dis-column" style="width:100%;">
                    <div class="d-flex align-items-center dis-column">
                        <select name="changeOrganization" class="form-control mr-3" [(ngModel)]="changeOrganization" style="border-radius: 5px !important;" [disabled]="!permission.isGranted('Pages.Leads.LeadTracker.ChangeOrganization')" (change)="changeAction();">
                            <option value="0">Select Organization</option>
                            <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">{{item.displayName}}</option>
                        </select>

                        <select name="action" class="form-control mr-3" [(ngModel)]="action" style="border-radius: 5px !important;" (change)="changeAction();">
                            <option value="0">Select Action</option>
                            <!-- <option value="1" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action.AssignToManager')">Assign To Sales Manager</option> -->
                            <option value="2" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action.AssignToSalesRep')">Assign To Sales Rep</option>
                            <!-- <option value="3" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action.AssignToUsers')">Assign To Users</option> -->
                            <!-- <option value="4" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action.TransferToLeadGen') && ('App.LeadGeneration' | checkFeature)">Transfer To Lead Gen</option> -->
                        </select>

                        <select name="assignManagerId" class="form-control mr-3" [(ngModel)]="assignManagerId" style="border-radius: 5px !important;" *ngIf="action == 2" (change)="getSaleRep()">
                            <option value="0">Select Manager</option>
                            <option *ngFor="let item of assignManager" value="{{item.id}}">{{item.displayName}}</option>
                        </select>

                        <p-autoComplete id="assignUserId" name="assignUserId" [suggestions]="UserSearchResult" (completeMethod)="filterUserSearchResult($event)" [minLength]="1" placeholder='{{l(PlaceHolderVal)}}' inputStyleClass="form-control" styleClass="mr-3" (onSelect)="selectAssignUser($event)"
                            field="displayName" (onClear)="selectAssignUser($event)" (keydown.enter)="selectAssignUser($event)" *ngIf="action != 0">
                            <ng-template let-result pTemplate="item">
                                <div class="result-item">
                                    <div class="d-flex align-items-center mb-1">
                                        <i class="las la-user-cog fs-16 mr-1"></i> {{result.displayName}}
                                    </div>
                                </div>
                            </ng-template>
                        </p-autoComplete>

                        <!-- <select name="assignUserId" class="form-control mr-3" [(ngModel)]="assignUserId" style="border-radius: 5px !important;" *ngIf="action != 0">
                            <option value="0">Select {{PlaceHolderVal}}</option>
                            <option *ngFor="let item of assignUser" value="{{item.id}}">{{item.displayName}}</option>
                        </select> -->

                        <button [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary btn-sm" (click)="submit()">
                            Submit
                        </button>
                    </div>
                    <div class="recordsSelect">
                        <h2>Selected Records <span>{{count}}</span></h2>
                    </div>
                </div>
            </div>
            <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
                <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                    <ul>
                        <li><span>{{this.Total}}</span><label> {{l("Total")}} </label></li>
                        <li> <span>{{this.Online}}</span><label> {{l("Google")}} </label></li>
                        <li><span>{{this.FaceBook}}</span><label> {{l("FaceBook")}} </label></li>
                        <li><span>{{this.Tv}}</span><label> {{l("Tv")}} </label></li>
                        <li><span>{{this.Referral}}</span><label> {{l("Referral")}} </label></li>
                        <li><span>{{this.Others}}</span><label>{{l("Others")}} </label></li>
                    </ul>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">

                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body padzero tablewithtooltip">

                        <div class="row align-items-center" [ngClass]="{'unselectable': ('Pages.Lead.Calcel.EnableCopyPaste' | permission)}">
                            <!--<Primeng-Datatable-Start>-->
                            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">

                                <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeads($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                    [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <!-- <th style="width:80px"
                                                [hidden]="!isGrantedAny('Pages.Leads.Edit', 'Pages.Leads.Delete')">
                                                {{l('Actions')}}</th> -->
                                            <!-- <th style="width: 150px" pSortableColumn="leadSourceFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="leadSourceName"></p-sortIcon>
                                    </th> -->
                                            <th class="p-frozen-column checkboxhead" style="width:40px">
                                                <div class="kt-checkbox-list" style="padding: 0px 8px!important;">
                                                    <label for="lead_id" class="kt-checkbox">
                                                        <input type="checkbox" id="lead_id" name="all"
                                                            [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </th>
                                            <th class="p-frozen-column" style="width:95px; left:40px !important;">
                                                {{l('Actions')}}
                                            </th>
                                            <th style="width:150px; left:135px !important;" class="p-frozen-column" pSortableColumn="companyName">
                                                {{l('CopanyName')}}
                                                <p-sortIcon field="lead.companyName"></p-sortIcon>
                                            </th>
                                            <th style="width:150px;">
                                                {{l('Organization')}}
                                                <!-- <p-sortIcon field="organizationName"></p-sortIcon> -->
                                            </th>
                                            <th style="width: 130px" *ngIf="'Pages.MyLeads.ShowLeadSource' | permission" pSortableColumn="leadSource">
                                                {{l('LeadSource')}}
                                                <p-sortIcon field="lead.leadSource"></p-sortIcon>
                                            </th>
                                            <!-- <th style="width: 150px" pSortableColumn="email">
                                                {{l('Email')}}
                                                <p-sortIcon field="lead.email"></p-sortIcon>
                                            </th> -->
                                            <!-- <th style="width: 130px" pSortableColumn="phone">
                                                {{l('Phone')}}
                                                <p-sortIcon field="lead.phone"></p-sortIcon>
                                            </th> -->

                                            <!-- <th style="width: 115px" pSortableColumn="mobile">
                                                {{l('Mobile')}}
                                                <p-sortIcon field="lead.mobile"></p-sortIcon>
                                            </th> -->
                                            <th style="width:150px;" pSortableColumn="Address">
                                                {{l('Address')}}
                                                <p-sortIcon field="lead.address"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="Suburb" style="width:120px;">
                                                {{l('Suburb')}}
                                                <p-sortIcon field="lead.suburb"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="State" style="width:100px;">
                                                {{l('State')}}
                                                <p-sortIcon field="lead.state"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="PostCode" style="width:100px;">
                                                {{l('PostCode')}}
                                                <p-sortIcon field="lead.postCode"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="cancelReasonId" style="width:200px;">
                                                {{l('CancelReasonName')}}
                                                <p-sortIcon field="lead.cancelReasonId"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="changeStatusDate" style="width:200px;">
                                                {{l('CancelDate')}}
                                                <p-sortIcon field="lead.changeStatusDate"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="rejectReason" style="width:80px;">
                                                {{l('Note')}}
                                                <p-sortIcon field="lead.rejectReason"></p-sortIcon>
                                            </th>
                                            <th style="width:170px;">
                                                {{l('LastModifiedUser')}}
                                            </th>

                                            <!-- <th style="width: 150px" pSortableColumn="requirements">
                                        {{l('Requirements')}}
                                        <p-sortIcon field="lead.requirements"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="requirements">
                                        <div class="kt-checkbox-list">
                                            <label class="kt-checkbox">
                                                <input type="checkbox" name="name1" value="true">
                                               &nbsp;
                                                <span></span>
                                            </label>
                                        </div>  
                                    </th> -->

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr [pSelectableRow]="record">
                                            <td class="p-frozen-column" style="width:40px">
                                                <div class="kt-checkbox-list set_new6 set_new2" style="padding: 0px 8px!important;" *ngIf="hideTransfer(record)">
                                                    <label for="{{record.lead.id}}" class="kt-checkbox">
                                                        <input type="checkbox" id="{{record.lead.id}}" name="recordSource"
                                                            [(ngModel)]="record.lead.isSelected"
                                                            (change)="oncheckboxCheck()" />
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td class="p-frozen-column" style="width:95px; left:40px !important;">
                                                <a href="javascript:;" (click)="reassign(record.lead.id)" class="verified green" style="width:38px; height:38px; margin:0 auto;" *ngIf="role == 'SalesRep'">
                                                    <i class="las la-user-check" style="font-size:1.3rem;"></i>
                                                </a>
                                                <a href="javascript:;" class="verified green" style="width:38px; height:38px; margin:0 auto;" *ngIf="role != 'SalesRep'">
                                                    <i class="las la-user-check" style="font-size:1.3rem;"></i>
                                                </a>
                                            </td>
                                            <td style="width:150px; left:135px !important;" class="p-frozen-column">
                                                <!-- <span class="ui-column-title"> {{l('CopanyName')}}</span> -->
                                                {{record.lead.companyName}}
                                            </td>
                                            <td style="width:150px;">
                                                <!-- <span class="ui-column-title"> {{l('OrganizationName')}}</span> -->
                                                <span class="badge badge-secondary"> {{record.lead.organizationName}}</span>
                                            </td>
                                            <td style="width:130px" *ngIf="'Pages.MyLeads.ShowLeadSource' | permission">
                                                <!-- <span class="ui-column-title"> {{l('Phone')}}</span>
                                                {{record.lead.phone}} -->
                                                <!-- <span class="ui-column-title"> {{l('LeadSource')}}</span> -->
                                                <!-- <span class="{{record.leadSourceColorClass}}">{{record.leadSourceName}}</span> -->
                                                <span class="{{record.leadSourceColorClass}}">{{record.lead.leadSource}}</span>
                                            </td>

                                            <td style="width:150px">
                                                <!-- <span class="ui-column-title"> {{l('Address')}}</span> -->
                                                <p [tooltip]="record.lead.address" class="tooltipcnt">
                                                    {{record.lead.address | titlecase}}
                                                </p>
                                            </td>
                                            <td style="width:120px;">
                                                <!-- <span class="ui-column-title"> {{l('Suburb')}}</span> -->
                                                {{record.lead.suburb | titlecase}}
                                            </td>
                                            <td style="width:100px;">
                                                <!-- <span class="ui-column-title"> {{l('State')}}</span> -->
                                                {{record.lead.state}}
                                            </td>
                                            <td style="width:100px;">
                                                <!-- <span class="ui-column-title"> {{l('PostCode')}}</span> -->
                                                <span class="badge badge-secondary">{{record.lead.postCode}}</span>
                                            </td>
                                            <td style="width:200px;">
                                                <!-- <span class="ui-column-title"> {{l('CancelReasonName')}}</span> -->
                                                {{record.cancelReasonName}}
                                            </td>
                                            <td style="width:200px;">
                                                <span class="badge badge-secondary">{{record.lead.changeStatusDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                            </td>
                                            <td style="width:80px;">
                                                <span [tooltip]="record.lead.rejectReason" class="tooltipcnt">{{record.lead.rejectReason | titlecase}}</span>
                                            </td>
                                            <td style="width:170px;">
                                                <!-- <span class="ui-column-title"> {{l('LastModifiedUser')}}</span> -->
                                                {{record.lastModifiedUser}}
                                            </td>

                                            <!-- <td style="width:150px">
											<span class="ui-column-title"> {{l('Requirements')}}</span>
											{{record.lead.requirements}}
                                        </td>
                                        <td style="width:150px">
                                            <div class="kt-checkbox-list">
                                                <label class="kt-checkbox">
                                                    <input type="checkbox" name="name1" value="true">
                                                   &nbsp;
                                                    <span></span>
                                                </label>
                                            </div>  
                                        </td> -->

                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeads($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <!-- <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span> -->
                                    <span class="total-records-count">
                                        showing {{firstrowcount}}
                                        To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                            </div>
                            <!--<Primeng-Datatable-End>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>