<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #leadactivityForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                    <span >{{l("ToDoComment")}}</span>
                </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Notes">{{l("AddComment")}} *</label>
                                <textarea  name="body"  class="form-control " [(ngModel)]="body"  required style="height:150px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="fa fa-times"></i> {{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!leadactivityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>