<div class="kt-portlet kt-portlet--height-fluid dashboardboxmain margingcomman5 martop15">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                To Do Detail List
            </h3>
            <!-- <div *ngIf="role == 'Sales Manager'">
                <div class="form-group m-form__group">
                    <select class="form-control" [(ngModel)]="salesRepId" (change)="gettodoDetail(salesRepId)"
                        name="salesRepId">
                        <option value="0">{{l("SelectSalesRep")}}</option>
                        <option *ngFor="let item of filteredReps" value="{{item.id}}">
                            {{item.displayName}}</option>
                    </select>
                </div>
            </div> -->
        </div>
    </div>
    <div class="kt-portlet__body form-group paddnone">
        <div class="ui-table">
            <table class="table table-bordered paddset_table1 brd_only_btm">
                <thead>
                    <tr>
                        <th style="width:55px;"></th>
                        <th style="width:120px">Job No.</th>
                        <th>Task</th>
                        <th style="width:140px">Created Usre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of records">
                        <!-- <td>{{item.customerName}}</td> -->
                        <td style="width:55px;">
                            <!-- <div class="b-avatar badge-light-company rounded" style="width:32px; height:32px;">
                                <span class="b-avatar-custom">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                            </span>
                            </div> -->
                            <div class="verified blue fs-20" style="margin:0 auto;">
                                <i class="las la-briefcase"></i>
                            </div>

                        </td>
                        <td style="width:120px"><span class="badge badge-secondary" style="font-weight:500;">{{item.jobnumber}}</span></td>
                        <td>{{item.activityNote}}</td>

                        <td style="width:140px">{{item.createdUser}}</td>
                        <!-- <a href="javascript:;" (click)="addremark(item.id)">
                        <img src="../../../assets/common/images/bookmark.svg" style="width: 16px;"/>
                        {{l('AddRemark')}}</a> -->
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>