<div appBsModal #NotifyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg addjobactiveSmsEmailModal">
        <form #addActivityForm="ngForm" novalidate autocomplete="off">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span >{{l("Notify")}} - {{header}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body modal-bg-gray p-0">
                    <div class="d-flex align-items-center" style="justify-content: space-around;">
                        <div class="p-2">
                            <img [src]="appRootUrl() + 'assets/common/images/graphics-reminder.png'" style="max-width:320px;">
                        </div>
    
                        <!-- Right section starts -->
                        <div style="padding:15px 0; width:650px;">
                            <div class="emailboxlayout" style="margin-left:0 !important; margin-right:0 !important;" >
                                <div class="">
                                    <div class="form-group activitysms smsemailbox modal-white-box">
                                        <span class="labelttl width75">Notify To</span>
                                        <span class="badge badge-light d-flex align-items-center activity-tags"><i class="las la-user-shield"></i>{{lead.currentAssignUserName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="emailboxlayout">
                                <div>
                                    <div class="modal-white-box">
                                        <textarea rows="5" cols="20" placeholder="Add Note" id="Notes" class="form-control" name="Notes" [(ngModel)]="activityLog.activityNote" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" (click)="save()" [disabled]="!addActivityForm.form.valid"><i class="las la-save"></i><span>Send</span></button>
                </div>
            </div>
        </form>
        
    </div>
</div>