<div bsModal #LeadSMSModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg addjobactiveSmsEmailModal financeSmsEmailModal">
        <div class="modal-content">
            <form #addActivityForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span >{{l("Sms")}} - {{header}}
                        </span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray p-0">
                    <div class="d-flex align-items-center" style="justify-content: space-around;">
                        <div class="p-2">
                            <img [src]="appRootUrl() + 'assets/common/images/graphics-sms.png'" style="max-width:320px;" >
                        </div>
                        <!-- Right section starts -->
                        <div style="padding:15px 0; width:650px;">
                            <!-- SMS Starts -->
                            <div class="emailboxlayout" >
                                <div class="emailboxlayout">
                                    <div class="m-form__group">
                                        <div class="activitysms smsemailbox modal-white-box" >
                                            <span class="labelttl">SMS </span>
                                            <span class="badge badge-light d-flex align-items-center activity-tags"><i class="las la-comment"></i>{{ lead.mobile}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="emailboxlayout modal-white-box">
                                <div class="activitysms smsemailbox">
                                    <span class="labelttl">Template</span>
                                    <select class="form-control mr-0" name="SMSTemplate" [(ngModel)]="activityLog.smsTemplateId" (change)="smseditorLoaded()">
                                        <option value="0">New Template</option>
                                        <option *ngFor="let item of allSMSTemplates" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="" >
                                <div class="modal-white-box">
                                    <textarea class="form-control" (keyup)="countCharcters()" cols="20" rows="5" placeholder="SMS Body" [(ngModel)]="activityLog.body" id="SMSBody" name="SMSBody"></textarea>
                                </div>
                            </div>
                            <div style="margin-top:10px;" class="d-flex align-items-center">
                                <div class="mr-3 d-flex align-items-center"><span><b>Total: </b></span> <span class="badge badge-danger ml-1">{{total}}</span></div>
                                <div class="d-flex align-items-center"><span><b>Credit: </b></span> <span class="badge badge-success ml-1">{{credit}}</span></div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{("Cancel")}}</button>
                    
                    <button  (click)="save()" id="btnSubmit" type="submit" class="btn btn-primary blue"  [disabled]="!addActivityForm.form.valid || !lead.mobile" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>Send</span></button>
                </div>
            </form>
        </div>

    </div>

    <!-- <viewLeadDetail #viewLeadDetail></viewLeadDetail> -->
</div>