﻿<style>
    ul {
        margin-bottom: 0 !important;
    }
</style>
<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #leadExpenseForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("PricceList")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">

                    <div class="modal-white-box">
                        <div class="">
                            <ul class="row">
                                <li class="col-md-3"><label style="font-weight:600;">Price Item</label></li>
                                <li class="col-md-3"><label style="font-weight:600;">Cost</label></li>
                                <li class="col-md-3"><label style="font-weight:600;">GST</label></li>
                                <li class="col-md-3"><label style="font-weight:600;">Price INC. GST</label></li>
                            </ul>
                            <ul class="row" *ngFor="let item of myinstaller; let i = index">
                                <li class="col-md-3">
                                    <div class="form-group">
                                        <!-- <label>Price Item</label> -->
                                        <select [(ngModel)]="item.priceItemListId" #priceItemListId="ngModel" name="priceItemListId{{i}}" class="form-control" disabled>
                                            <option [ngValue]="undefined">Select Price Item
                                                Type
                                            </option>
                                            <option *ngFor="let item of priceitem" value="{{item.id}}">
                                                {{item.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="form-group">
                                        <!-- <label>Cost</label> -->
                                        <input type="text" name="jpcost{{i}}" #jpcost="ngModel" required [(ngModel)]="item.cost" (change)="pricecalculate(item , i)" class="form-control" placeholder="cost" />
                                        <validation-messages [formCtrl]="jpcost">
                                        </validation-messages>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="form-group">
                                        <!-- <label>GST</label> -->
                                        <input type="text" name="jpgst{{i}}" #jpgst="ngModel" [(ngModel)]="item.gst" disabled class="form-control" placeholder="gst" />
                                        <validation-messages [formCtrl]="jpgst">
                                        </validation-messages>
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="form-group">
                                        <!-- <label>Price INC. GST</label> -->
                                        <input type="text" name="jppriceINCGST{{i}}" #jppriceINCGST="ngModel" [(ngModel)]="item.priceINCGST" class="form-control" placeholder="priceINCGST" disabled />
                                        <validation-messages [formCtrl]="jppriceINCGST">
                                        </validation-messages>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" *ngIf="myinstallerlenght != 0">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" (click)="save()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>