<style>
    .form-icon .icon-box {
        padding: 0 4px !important;
        top: 30px !important;
    }
    
    .form-icon .icon-box i {
        font-size: 1.5rem !important;
    }
    
    @media (max-width: 768px) {
        .dis-column .col-6 {
            max-width: inherit;
        }
        .modal.show .modal-dialog {
            width: auto !important;
        }
    }
    
    .form-icon.form-group .form-control {
        padding-left: 35px !important;
    }
</style>

<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg" style="width:1180px;">
        <div class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="user.id">{{"Edit Installer" | localize}}: {{user.userName}}</span>
                        <span *ngIf="!user.id">Create New Installer</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <!-- <tabset>
                        <tab heading="{{'UserInformations' | localize}}"> -->
                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-user-cog fs-30 mr-2"></i> Installer Details</h3>
                        <div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="Name">{{"Name" | localize}} *</label>
                                        <input id="Name" #nameInput="ngModel" class="form-control" type="text" name="Name" [(ngModel)]="user.name" required maxlength="64">
                                        <span class="icon-box"><i class="las la-user"></i></span>
                                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="Surname">{{"Surname" | localize}} *</label>
                                        <input id="Surname" #surnameInput="ngModel" type="text" name="Surname" class="form-control" [(ngModel)]="user.surname" required maxlength="64">
                                        <span class="icon-box"><i class="las la-user"></i></span>
                                        <validation-messages [formCtrl]="surnameInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="Installer_companyName" class="form-label">{{l("Company
                                                    Name")}} *</label>
                                        <input type="text" id="Installer_companyName" #companyNameInput="ngModel" class="form-control" [(ngModel)]="user.companyName" name="CopanyName" minlength="2" maxlength="100" required />
                                        <span class="icon-box"><i class="las la-building"></i></span>
                                        <validation-messages [formCtrl]="companyNameInput">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="EmailAddress">{{"EmailAddress" | localize}} *</label>
                                        <input id="EmailAddress" #emailAddressInput="ngModel" type="email" name="EmailAddress" class="form-control emailbox" [(ngModel)]="user.emailAddress" required maxlength="256" email />
                                        <span class="icon-box"><i class="las la-envelope"></i></span>
                                        <validation-messages [formCtrl]="emailAddressInput">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="PhoneNumber">{{"PhoneNumber" | localize}}</label>
                                        <input id="PhoneNumber" type="text" name="PhoneNumber" class="form-control" [(ngModel)]="user.phoneNumber" maxlength="32">
                                        <span class="icon-box"><i class="las la-phone"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="Mobile">{{"Mobile" | localize}}</label>
                                        <input id="Mobile" type="text" #MobileInput="ngModel" name="Mobile" class="form-control" [(ngModel)]="user.mobile" required maxlength="32">
                                        <span class="icon-box"><i class="las la-mobile"></i></span>
                                        <validation-messages [formCtrl]="MobileInput"></validation-messages>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="Type">{{"Select Type" | localize}} </label>
                                        <select name="sourceType" [(ngModel)]="user.sourceTypeId" class="form-control" id="sourceType" required>
                                                    <option value="">{{l("SelectType")}}</option>
                                                    <option *ngFor="let item of sourceType" value="{{item.id}}">
                                                        {{item.displayName}}
                                                    </option>
                                                </select>
                                        <span class="icon-box"><i class="las la-solar-panel"></i></span>
                                        <!-- <validation-messages [formCtrl]="sourceType"></validation-messages> -->
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="Type">{{"Select Area" | localize}} </label>
                                        <select name="areaName" [(ngModel)]="user.areaName" class="form-control" id="areaName">
                                                    <option value="">Select Area</option>
                                                    <option value="Metro">Metro</option>
                                                    <option value="Regional">Regional</option>
                                                </select>
                                        <span class="icon-box"><i class="las la-city"></i></span>
                                        <!-- <validation-messages [formCtrl]="areaName"></validation-messages> -->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="notes" class="form-label">{{l("Notes")}}</label>
                                        <textarea type="text" id="notes" class="form-control" [(ngModel)]="user.notes" name="notes"></textarea>
                                        <!-- <validation-messages [formCtrl]="notesInput">
                                                </validation-messages> -->
                                    </div>
                                </div>
                                <!-- <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="UserName">{{"UserName" | localize}} *</label>
                                                <input id="UserName" #userNameInput="ngModel" type="text"
                                                    [disabled]="!canChangeUserName" name="UserName" class="form-control"
                                                    [(ngModel)]="user.userName" required maxlength="256">
                                                <span class="help-block"
                                                    *ngIf="!canChangeUserName">{{"CanNotChangeAdminUserName" |
                                                    localize}}</span>
                                                <validation-messages [formCtrl]="userNameInput"></validation-messages>
                                            </div>
                                        </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-map-marker fs-30 mr-2"></i> Address</h3>
                        <div class="installerdetailaddress">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="kt-radio-inline">
                                            <label for="Google2" class="kt-radio">
                                                        <input id="Google2" name="address2" (change)="google()"
                                                            [value]="'Google'" type="radio" checked="true"
                                                            [(ngModel)]="user.isGoogle">
                                                        Google Address
                                                        <span></span>
                                                    </label>
                                            <label for="Manual2" class="kt-radio">
                                                        <input id="Manual2" name="address2" (change)="database()"
                                                            [value]="'Manual'" type="radio"
                                                            [(ngModel)]="user.isGoogle">
                                                        Manual Address
                                                        <span></span>
                                                    </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" [hidden]="!selectAddress">
                                <div class="col-md-12">
                                    <div class="form-group form-icon">
                                        <label for="installerAddress_Address" class="form-label">{{l("Address")}}</label>
                                        <input (onAutocompleteSelected)="onAutocompleteSelected($event)" (onLocationSelected)="onLocationSelected($event)" placeholder="Search Address" country="au" [types]="['address']" class="form-control" matInput matGoogleMapsAutocomplete [(ngModel)]="user.address"
                                            name="Address">
                                        <span class="icon-box" style="height: 37px !important; top: 31px !important;"><i class="las la-map-marker"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="installerAddress_UnitNo" class="form-label">{{l("UnitNo")}}</label>
                                        <input type="text" placeholder='{{l("UnitNo")}}' id="installerAddress_UnitNo" class="form-control" [(ngModel)]="user.unit" name="UnitNo" minlength="1" maxlength="50" />
                                        <span class="icon-box"><i class="las la-hashtag"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="UnitTypeInput" class="form-label">{{l("UnitType")}}</label>
                                        <p-autoComplete [(ngModel)]="unitType" id="UnitTypeInput" [suggestions]="unitTypesSuggestions" (completeMethod)="filterunitTypes($event)" placeholder='{{l("UnitType")}}' [minlength]="1" name="UnitTypeInput" inputStyleClass="form-control" styleClass="width-percent-100 ">
                                        </p-autoComplete>
                                        <span class="icon-box"><i class="las la-house-damage"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="installerAddress_StreetNo" class="form-label">{{l("StreetNo")}} *</label>
                                        <input type="text" #streetNoInput="ngModel" id="installerAddress_StreetNo" placeholder='{{l("StreetNo")}}' class="form-control" [(ngModel)]="user.streetNo" name="StreetNo" minlength="1" maxlength="100" />
                                        <span class="icon-box"><i class="las la-road"></i></span>
                                        <validation-messages [formCtrl]="streetNoInput">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="streetSelectInput" class="form-label">{{l("StreetName")}} *</label>
                                        <p-autoComplete [(ngModel)]="streetName" id="streetSelectInput" [suggestions]="streetNamesSuggestions" placeholder='{{l("StreetName")}}' (completeMethod)="filterstreetnames($event)" [minlength]="1" #streetNameInput="ngModel" name="streetSelectInput" inputStyleClass="form-control"
                                            styleClass="width-percent-100">
                                        </p-autoComplete>
                                        <span class="icon-box"><i class="las la-map-signs"></i></span>
                                        <validation-messages [formCtrl]="streetNameInput">
                                        </validation-messages>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="StreetTypeInput" class="form-label">{{l("StreetType")}}
                                                    *</label>
                                        <p-autoComplete [(ngModel)]="streetType" id="StreetTypeInput" [suggestions]="streetTypesSuggestions" (completeMethod)="filterstreettypes($event)" placeholder='{{l("StreetType")}}' [minlength]="1" #streetTypeInput="ngModel" name="StreetTypeInput" inputStyleClass="form-control">
                                        </p-autoComplete>
                                        <span class="icon-box"><i class="las la-city"></i></span>
                                        <validation-messages [formCtrl]="streetTypeInput">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="PostCodeSuburb" class="form-label">{{l("Suburb")}}
                                                    *</label>
                                        <p-autoComplete [(ngModel)]="suburb" id="SuburbInput" [suggestions]="suburbSuggestions" (completeMethod)="filtersuburbs($event)" placeholder='{{l("Suburb")}}' [minlength]="1" #suburbInput="ngModel" name="SuburbInput" (onSelect)="fillstatepostcode()" inputStyleClass="form-control"
                                            styleClass="width-percent-100">
                                        </p-autoComplete>
                                        <span class="icon-box"><i class="las la-map-signs"></i></span>
                                        <validation-messages [formCtrl]="suburbInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="StateName" class="form-label">{{l("State")}} *</label>
                                        <select name="StateName" #stateInput="ngModel" [(ngModel)]="user.stateId" disabled="disabled" class="form-control">
                                                    <option value="">{{l("SelectAState")}}</option>
                                                    <option *ngFor="let item of allStates" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                        <span class="icon-box"><i class="las la-globe"></i></span>
                                        <validation-messages [formCtrl]="stateInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="installerAddress_PostCode" class="form-label">{{l("PostCode")}} *</label>
                                        <input type="text" id="installerAddress_PostCode" #postcodeInput="ngModel" placeholder='{{l("PostCode")}}' class="form-control" disabled="disabled" [(ngModel)]="user.postCode" name="installerAddress_PostCode" minlength="1" maxlength="100" />
                                        <span class="icon-box"><i class="las la-parking"></i></span>
                                        <validation-messages [formCtrl]="postcodeInput">
                                        </validation-messages>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <!-- <h3 class="d-flex align-items-center"><i class="las la-info-circle fs-30 mr-2"></i> Details</h3> -->
                        <div class="kt-checkbox-list mb-2">
                            <label for="isInst" class="kt-checkbox">
                                        <input id="isInst" type="checkbox" name="isInst" [(ngModel)]="user.isInst">
                                        {{"isInst" | localize}}
                                        <span></span>
                                    </label>
                        </div>
                        <div>
                            <div class="" *ngIf="user.isInst">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group form-icon">
                                            <label for="AccreditationNumber" class="form-label">{{l("AccreditationNumber")}}*</label>
                                            <input type="text" id="InstallerAccreditationNumber" #installerAccreditationNumber="ngModel" placeholder='{{l("AccreditationNumber")}}' class="form-control" [(ngModel)]="user.installerAccreditationNumber" name="InstallerAccreditationNumber" minlength="1"
                                                maxlength="100" required />
                                            <span class="icon-box "><i class="las la-hashtag"></i></span>
                                            <validation-messages [formCtrl]="installerAccreditationNumber">
                                            </validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="isInstDatePicker" class="form-label">Date</label>
                                            <input id="isInstDatePicker" type="text" #isInstDatePicker name="isInstDatePicker" class="form-control daterangebox" bsDatepicker datePickerMomentModifier [(date)]="isInstDate" required [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="file">Choose a file :</label>
                                            <div class="white-file-upload">
                                                <input type="file" (change)="filechangeEvent($event)" accept=".pdf" class="fileuploadboxbtn" />
                                                <span class="btnuparrow" [tooltip]="l('Atach')"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2" *ngIf="user.docInstaller">
                                        <div class="form-group">
                                            <label for="streetSelectInput" class="form-label">{{l("Uplaoded Doc")}} </label>
                                            <div class="col-md-4">
                                                <a (click)="downloadInstfile()" class="btndownloaddocument margintop10"><i class="las la-file-upload fs-24"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group form-icon">
                                                    <label for="AccreditationNumber" class="form-label">{{l("AccreditationNumber")}}
                                                        *</label>
                                                    <input type="text" id="InstallerAccreditationNumber"
                                                        #installerAccreditationNumber="ngModel"
                                                        placeholder='{{l("AccreditationNumber")}}'
                                                        class="form-control"
                                                        [(ngModel)]="user.installerAccreditationNumber"
                                                        name="InstallerAccreditationNumber" minlength="1"
                                                        maxlength="100" required />
                                                        <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                    <validation-messages
                                                        [formCtrl]="installerAccreditationNumber">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="isInstDatePicker"
                                                        class="form-label">Date</label>
                                                    <input id="isInstDatePicker" type="text" #isInstDatePicker
                                                        name="isInstDatePicker"
                                                        class="form-control daterangebox" bsDatepicker
                                                        datePickerMomentModifier [(date)]="isInstDate" required
                                                        [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="file">Choose a file :</label>
                                                    <div class="white-file-upload">
                                                        <input type="file" (change)="filechangeEvent($event)" accept=".pdf" class="fileuploadboxbtn" />                                                        
                                                    </div>
                                                </div>                                                
                                            </div>
                                            <div class="col-md-4" *ngIf="user.docInstaller">
                                                <a (click)="downloadInstfile()" class="btndownloaddocument margintop10"><i class="las la-file-upload fs-24"></i></a>
                                            </div>
                                        </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <div class="kt-checkbox-list mb-2">
                            <label for="isElec" class="kt-checkbox">
                                        <input id="isElec" type="checkbox" name="isElec"
                                            [(ngModel)]="user.isElec">
                                        {{"isElec" | localize}}
                                        <span></span>
                                    </label>
                        </div>
                        <div class="">
                            <div class="" *ngIf="user.isElec">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group form-icon">
                                            <label for="ElectricianLicenseNumber" class="form-label">{{l("ElectricianLicense")}}
                                                        *</label>
                                            <input type="text" id="ElectricianLicenseNumber" #electricianLicenseNumberInput="ngModel" placeholder='{{l("ElectricianLicenseNumber")}}' class="form-control" [(ngModel)]="user.electricianLicenseNumber" name="ElectricianLicenseNumber" minlength="1" maxlength="100"
                                                required />
                                            <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            <validation-messages [formCtrl]="electricianLicenseNumberInput">
                                            </validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="isElecDatePicker" class="form-label">Date</label>
                                            <input id="isElecDatePicker" type="text" #isElecDatePicker name="isElecDatePicker" class="form-control daterangebox" bsDatepicker datePickerMomentModifier [(date)]="isElecDate" required [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="file">Choose a file :</label>
                                                <div class="white-file-upload">
                                                    <input type="file" (change)="fileisElecchangeEvent($event)" accept=".pdf" class="fileuploadboxbtn" />
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-2" *ngIf="user.docElectrician">
                                        <div class="form-group">
                                            <label for="streetSelectInput" class="form-label">{{l("Uplaoded Doc")}} </label>
                                            <div class="col-md-4" *ngIf="user.docElectrician">
                                                <a (click)="downloadElecfile()" class="btndownloaddocument margintop10"><i class="las la-file-upload fs-22"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="ElectricianLicenseNumber"
                                                        class="form-label">{{l("ElectricianLicenseNumber")}}
                                                        *</label>
                                                    <input type="text" id="ElectricianLicenseNumber"
                                                        #electricianLicenseNumberInput="ngModel"
                                                        placeholder='{{l("ElectricianLicenseNumber")}}'
                                                        class="form-control"
                                                        [(ngModel)]="user.electricianLicenseNumber"
                                                        name="ElectricianLicenseNumber" minlength="1"
                                                        maxlength="100" required />
                                                    <validation-messages
                                                        [formCtrl]="electricianLicenseNumberInput">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="isElecDatePicker"
                                                        class="form-label">Date</label>
                                                    <input id="isElecDatePicker" type="text" #isElecDatePicker
                                                        name="isElecDatePicker"
                                                        class="form-control daterangebox" bsDatepicker
                                                        datePickerMomentModifier [(date)]="isElecDate" required
                                                        [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="flexbloxbutton fileuploadbtn">
                                                    <div class="form-group marginbtm0"><label class="form-label">Upload Doc.</label>
                                                        <div class="upload_area up_height40">
                                                            <span class="control-fileupload">
                                                                <label for="file">Choose a file :</label>
                                                                <input type="file"
                                                                    (change)="fileisElecchangeEvent($event)"
                                                                    accept=".pdf" class="fileuploadboxbtn" />
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4" *ngIf="user.docElectrician">
                                                <a (click)="downloadElecfile()" class="btndownloaddocument"><img
                                                        [src]="appRootUrl() + 'assets/common/images/down-arrow.svg'"
                                                        alt="" /></a>
                                            </div>
                                        </div> -->
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <div class="kt-checkbox-list">
                            <label for="isDesi" class="kt-checkbox">
                                        <input id="isDesi" type="checkbox" name="isDesi" [(ngModel)]="user.isDesi">
                                        {{"isDesi" | localize}}
                                        <span></span>
                                    </label>
                        </div>
                        <div class="" *ngIf="user.isDesi">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="DesignerLicenseNumber" class="form-label">{{l("DesignerLicense")}}
                                                    *</label>
                                        <input type="text" id="DesignerLicenseNumber" #designerLicenseNumberInput="ngModel" placeholder='{{l("DesignerLicenseNumber")}}' class="form-control" [(ngModel)]="user.designerLicenseNumber" name="DesignerLicenseNumber" minlength="1" maxlength="100" required
                                        />
                                        <span class="icon-box"><i class="las la-hashtag"></i></span>
                                        <validation-messages [formCtrl]="designerLicenseNumberInput">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="isDesiDatePicker" class="form-label">Date</label>
                                        <input id="isDesiDatePicker" type="text" #isDesiDatePicker name="isDesiDatePicker" class="form-control daterangebox" bsDatepicker datePickerMomentModifier [(date)]="isDesiDate" required [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="file">Choose a file :</label>
                                        <div class="white-file-upload">
                                            <input type="file" (change)="fileisDesichangeEvent($event)" accept=".pdf" class="fileuploadboxbtn" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" *ngIf="user.docDesigner">
                                    <div class="form-group">
                                        <label for="streetSelectInput" class="form-label">{{l("Uplaoded Doc")}} </label>
                                        <div class="col-md-4" *ngIf="user.docDesigner">
                                            <a (click)="downloadDesifile()" class="btndownloaddocument margintop10"><i class="las la-file-upload fs-24"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="DesignerLicenseNumber"
                                                    class="form-label">{{l("DesignerLicenseNumber")}}
                                                    *</label>
                                                <input type="text" id="DesignerLicenseNumber"
                                                    #designerLicenseNumberInput="ngModel"
                                                    placeholder='{{l("DesignerLicenseNumber")}}'
                                                    class="form-control"
                                                    [(ngModel)]="user.designerLicenseNumber"
                                                    name="DesignerLicenseNumber" minlength="1"
                                                    maxlength="100" required />
                                                <validation-messages
                                                    [formCtrl]="designerLicenseNumberInput">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="isDesiDatePicker"
                                                    class="form-label">Date</label>
                                                <input id="isDesiDatePicker" type="text" #isDesiDatePicker
                                                    name="isDesiDatePicker"
                                                    class="form-control daterangebox" bsDatepicker
                                                    datePickerMomentModifier [(date)]="isDesiDate" required
                                                    [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="flexbloxbutton fileuploadbtn">
                                                <div class="form-group marginbtm0"><label class="form-label">Upload Doc.</label>                                                                <div class="upload_area up_height40">
                                                        <span class="control-fileupload">
                                                            <label for="file">Choose a file :</label>
                                                            <input type="file"
                                                                (change)="fileisDesichangeEvent($event)"
                                                                accept=".pdf" class="fileuploadboxbtn" />
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4" *ngIf="user.docDesigner">
                                            <a (click)="downloadDesifile()" class="btndownloaddocument"><img
                                                    [src]="appRootUrl() + 'assets/common/images/down-arrow.svg'"
                                                    alt="" /></a>
                                        </div>
                                    </div> -->
                        </div>
                    </div>
                    <!-- <div class="col-sm-3 text-center mb-5 mt-5">
                                <img src="{{profilePicture}}" width="128" height="128"
                                    class="img-thumbnail img-rounded" />
                            </div> -->
                    <!-- </tab>
                    </tabset> -->
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{"Save" |
                            localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>