<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 100%;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item index_99">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{"My Installer" | localize}}</span>
                        <span class="total-records-count">
                            ({{primengTableHelper.totalRecordsCount}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getUsers();RereshLog();" class="btn_refresh"></button>
                                </li>

                                <li [hidden]="!(['Pages.Leads.Export', 'Pages.Leads.Import'] | permissionAny)">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations leadexceldropdown" *dropdownMenu>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;" *ngIf="permission.isGranted('Pages.Leads.Export')">
                                                <!-- <i class="fa fa-download" style="font-size: 1rem;"></i> -->
                                                <i class="las la-file-excel"></i> {{'Excel' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a href="javascript:;" *ngIf="'Pages.Leads.Import' | permission" class="no-padding a_set1">
                                                <span class="fileinput-button">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <span class="dropdown-item-text text-muted pl-3" href="#" *ngIf="'Pages.Leads.Import' | permission">
                                                <a href="/assets/sampleFiles/ImportLeadsSampleFile.xlsx" style="display:flex; align-items:center;"
                                                    class="dropdown-item btnsample">
                                                    <i class="las la-file-excel"></i> {{l('SampleFile')}}
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="'Pages.MyInstaller.Create' | permission">
                                    <button (click)="createUser()" class="btn btn-outline-primary btnadd">Add  <i class="las la-plus-circle"></i></button>
                                </li>

                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="organizationUnit" class="form-control" [(ngModel)]="organizationUnit" (change)="getUsers();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="isapprove" class="form-control" [(ngModel)]="isapprove" (change)="getUsers();addSearchLog('Filter ISApproved');">
                                                <option value=true>Approved</option>
                                                <option value=false>Not Approved</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="Name">Name</option>
                                                <option value="Surname">Surname</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox wdth250">
                                            <input type="text" class="form-control autoWidth" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getUsers();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getUsers();"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getUsers();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <!-- <div  *ngIf="!show" class="kt-advancefilterbox"> -->

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <!-- <li>
                                                        <div class="form-group m-form__group">
                                                            <input type="text" (keydown.enter)="getUsers($event)"
                                                                class="form-control" id="AddressFilter"
                                                                name="AddressFilter" [(ngModel)]="addressFilter"
                                                                placeholder='{{l("Address")}}'>
                                                        </div>
                                                    </li> -->
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" (keydown.enter)="getUsers();addSearchLog('Advanced Filter');" class="form-control" id="AddressFilter" name="AddressFilter" [(ngModel)]="suburb" placeholder='{{l("Suburb")}}'>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" (keydown.enter)="getUsers();addSearchLog('Advanced Filter');" [(ngModel)]="stateFilter" name="stateFilter">
                                                                    <option value="0">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates" value="{{item.id}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="number" class="form-control" id="postalcodefrom" (keydown.enter)="getUsers();addSearchLog('Advanced Filter');" name="postalcodefrom" [(ngModel)]="postalcodefrom" placeholder="PostCodeFrom">
                                                                <a class="btnclearsearch btndateClear" *ngIf="postalcodefrom" (click)="postalcodefrom=0"><i class="fas fa-times-circle"></i></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="number" class="form-control" id="postalcodeTo" (keydown.enter)="getUsers();addSearchLog('Advanced Filter');" name="postalcode" [(ngModel)]="postalcodeTo" placeholder="PostCodeTo">
                                                                <a class="btnclearsearch btndateClear" *ngIf="postalcodeTo" (click)="postalcodeTo=0"><i class="fas fa-times-circle"></i></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group">
                                                                <select name="jobTypeNameFilter" [(ngModel)]="jobTypeNameFilter" class="form-control" id="JobTypeNameFilter" (keydown.enter)="getUsers();addSearchLog('Advanced Filter');">
                                                                    <option value="0">{{l("SelectType")}}</option>
                                                                    <option *ngFor="let item of jobTypes"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" id="areaNameFilter" name="areaNameFilter" [(ngModel)]="areaNameFilter" (keydown.enter)="getUsers();addSearchLog('Advanced Filter');">
                                                                    <option value="">Select Area</option>
                                                                    <option value="Metro">Metro</option>
                                                                    <option value="Regional">Regional</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" id="areaNameFilter" name="areaNameFilter" [(ngModel)]="dateType" (keydown.enter)="getUsers();addSearchLog('Advanced Filter');">
                                                                    <option value="">Select Date</option>
                                                                    <option value="CreationDate">Created Date</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li></li>
                                                        <!-- <li>
                                                            <div class="form-group">
                                                                <input name="SampleDateRangePicker" type="text" (keydown.enter)="getUsers($event)" [(ngModel)]="sampleDateRange" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }"
                                                                    [(date)]="sampleDateRange" />
                                                            </div>
                                                        </li> -->
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getUsers();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <!-- <div class="kt-buttonarea"> -->


                            <!-- <div class="btn-group" dropdown>
                                <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-file-excel"></i> {{"ExcelOperations" | localize}}
                                </button>
                                <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                    <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()"
                                        href="javascript:;">
                                        <i class="fa fa-download" style="font-size: 1rem;"></i>
                                        {{'ExportToExcel' | localize}}
                                    </a>
                                    <a href="javascript:;" *ngIf="'Pages.Administration.Installer.Create' | permission"
                                        class="no-padding">
                                        <span class="fileinput-button">
                                            <p-fileUpload customUpload="true" name="ExcelFileUpload" #ExcelFileUpload
                                                maxFileSize="10000000" auto="auto" accept=".csv,.xls,.xlsx"
                                                (uploadHandler)="uploadExcel($event)" (onError)="onUploadExcelError()"
                                                chooseLabel="{{'ImportFromExcel' | localize}}">
                                            </p-fileUpload>
                                        </span>
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <span class="dropdown-item-text text-muted pl-3" href="#">
                                        <small
                                            [innerHTML]="l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/ImportUsersSampleFile.xlsx>' + l('ClickHere') + '</a>')"></small>
                                    </span>
                                </div>
                            </div> -->
                            <!-- </div> -->

                            <!-- <div class="kt-searchmainbox" style="display: none;">
                            <div class="kt-stextbox">
                               <input type="text" [(ngModel)]="filterText" name="filterText" autoFocus class="form-control" [placeholder]="l('SearchWithThreeDot')"/>
                                <input type="submit" (click)="getUsers()" class="btnsearch"/>
                            </div>
                            <div class="kt-advfilterbox">
                                <a  (click)="advancedFiltersAreShown=!advancedFiltersAreShown" class="btnadvfilter"><img [src]="appRootUrl() + 'assets/common/images/open-menu.svg'" alt="" height="30" width="30" />  </a>
                            </div>
                            <div class="kt-advancefilterbox" [hidden]="!advancedFiltersAreShown">
                                 <h3>Additional Filters </h3>
                                 <div class="advfilterform">
                                    <ul>
                                        <li>
                                         <div class="form-group m-form__group">

                                         </div>
                                        </li>
                                        <li>
                                         <div class="form-group m-form__group">

                                         </div>
                                        </li>
                                    </ul>
                                 </div>
                            </div>
                        </div> -->


                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>


            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">
                    <div>
                        <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.MyInstaller.EnableCopyPaste' | permission)}">
                            <!--<Primeng-TurboTable-Start>-->
                            <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                                <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                    <a class="icon_expan" (click)="expandGrid()"></a>
                                </button>
                                <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getUsers($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                    [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                    <!-- <p-table #dataTable sortMode="multiple" (onLazyLoad)="getUsers($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="actionwidth p-frozen-column" style="width: 95px" [hidden]="!(['Pages.MyInstaller.Edit', 'Pages.MyInstaller.View', 'Pages.MyInstaller.Comment', 'Pages.Reminder.Reminder', 'Pages.MyInstaller.SMS', 'Pages.MyInstaller.Email', 'Pages.MyInstaller.Notify', 'Pages.MyInstaller.ToDo', 'Pages.MyInstaller.UploadDoc', 'Pages.MyInstaller.PriceList', 'Pages.MyInstaller.SignContract'] | permissionAny)">
                                                {{'Actions' | localize}}</th>

                                            <th style="width:155px; left:95px !important;" class="p-frozen-column" pSortableColumn="name">
                                                {{'Name' | localize}}
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>
                                            <th style="width: 140px" pSortableColumn="surname" [hidden]="!ExpandedView">
                                                {{'Surname' | localize}}
                                                <p-sortIcon field="surname"></p-sortIcon>
                                            </th>
                                            <th style="width: 230px" pSortableColumn="CompanyName" [hidden]="!ExpandedView">
                                                {{'Company' | localize}}
                                                <p-sortIcon field="CompanyName"></p-sortIcon>
                                            </th>
                                            <th style="width: 145px; " pSortableColumn="IsApproveInstaller" [hidden]="!ExpandedView">
                                                {{'Verify' | localize}}
                                                <p-sortIcon field="IsApproveInstaller"></p-sortIcon>
                                            </th>
                                            <th style="width: 110px;" pSortableColumn="IsActive" [hidden]="!ExpandedView">
                                                {{'Status' | localize}}
                                                <p-sortIcon field="IsActive"></p-sortIcon>
                                            </th>
                                            <th style="width: 145px; " pSortableColumn="mobile" [hidden]="!ExpandedView" *ngIf="'Pages.MyInstaller.ShowEmailPhone' | permission">
                                                {{'Mobile' | localize}}
                                                <p-sortIcon field="mobile"></p-sortIcon>
                                            </th>
                                            <th style="width:300px" [hidden]="!ExpandedView">
                                                {{'Address' | localize}}
                                                <!-- <p-sortIcon field="address"></p-sortIcon> -->
                                            </th>
                                            <th style="width:200px" [hidden]="!ExpandedView">
                                                {{'Suburb' | localize}}
                                                <!-- <p-sortIcon field="suburb"></p-sortIcon> -->
                                            </th>
                                            <th style="width:100px" [hidden]="!ExpandedView">
                                                {{'State' | localize}}
                                                <!-- <p-sortIcon field="state"></p-sortIcon> -->
                                            </th>
                                            <th style="width:120px" [hidden]="!ExpandedView">
                                                {{'PostCode' | localize}}
                                                <!-- <p-sortIcon field="postcode"></p-sortIcon> -->
                                            </th>
                                            <th style="width:150px" [hidden]="!ExpandedView">
                                                {{'Source' | localize}}
                                                <!-- <p-sortIcon field="source"></p-sortIcon> -->
                                            </th>
                                            <th style="width:200px" [hidden]="!ExpandedView">
                                                {{'Comment' | localize}}
                                                <!-- <p-sortIcon field="commet"></p-sortIcon> -->
                                            </th>
                                            <th style="width:200px" [hidden]="!ExpandedView">
                                                {{'FollowupDesc' | localize}}
                                                <!-- <p-sortIcon field="followupDesc"></p-sortIcon> -->
                                            </th>
                                            <th style="width:200px" [hidden]="!ExpandedView">
                                                {{'FollowupComment' | localize}}
                                                <!-- <p-sortIcon field="followupDesc"></p-sortIcon> -->
                                            </th>
                                            <th style="width:120px" [hidden]="!ExpandedView">
                                                {{'Created By' | localize}}
                                                <!-- <p-sortIcon field="createdby"></p-sortIcon> -->
                                            </th>

                                            <th style="width:150px" pSortableColumn="CreationTime" [hidden]="!ExpandedView">
                                                {{'CreationDate' | localize}}
                                                <p-sortIcon field="CreationTime"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedId === record.id}">
                                            <td style="text-align:center; width:95px;" class="actionwidth p-frozen-column" [hidden]="!(['Pages.MyInstaller.Edit', 'Pages.MyInstaller.View', 'Pages.MyInstaller.Comment', 'Pages.Reminder.Reminder', 'Pages.MyInstaller.SMS', 'Pages.MyInstaller.Email', 'Pages.MyInstaller.Notify', 'Pages.MyInstaller.ToDo', 'Pages.MyInstaller.UploadDoc', 'Pages.MyInstaller.PriceList', 'Pages.MyInstaller.SignContract'] | permissionAny)">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                        <i class="flaticon-more"></i><span class="caret"></span>
                                                        {{"Actions" | localize}}
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li [hidden]="!isGrantedAny('Pages.MyInstaller.View')">
                                                            <a href="javascript:;" (click)="myInstallerDetailModal.show(record.id)">
                                                                <i class="las la-binoculars"></i>
                                                                <!-- {{l('View Detail')}} -->
                                                                View Details
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.MyInstaller.Edit')">

                                                            <a href="javascript:;" (click)="ApprovedInstaller(record.id)">
                                                                <i class="las la-user-times"></i> Approved Installer
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.MyInstaller.Edit')">
                                                            <a href="javascript:;" (click)="NotApprovedInstaller(record.id)">
                                                                <i class="las la-user-check"></i> UnApproved Installer
                                                            </a>
                                                        </li>

                                                        <li [hidden]="!isGrantedAny('Pages.MyInstaller.Edit')">
                                                            <a href="javascript:;" (click)="createOrEditMyInstallerModal.show(record.id,null,'My Installer')">
                                                                <i class="las la-edit"></i> {{'Edit' | localize}}</a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.MyInstaller.Comment')">
                                                            <a (click)="addmyinstalleractivity.show(record.id, 24,'My Installer')">
                                                                <i class="las la-comment"></i> Comment
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.MyInstaller.Reminder')">
                                                            <a (click)="addmyinstalleractivity.show(record.id, 8,'My Installer')">
                                                                <i class="las la-stopwatch"></i> Reminder
                                                            </a>
                                                        </li>
                                                        <!-- <li [hidden]="!isGrantedAny('Pages.MyInstaller.SMS')">
                                                            <a (click)="myInstallerSmsEmailModel.show(record.id,1)">
                                                                <i class="las la-sms"></i> {{l('SMS')}}
                                                            </a>
                                                        </li> -->
                                                        <!-- <li [hidden]="!isGrantedAny('Pages.MyInstaller.Email')">
                                                            <a (click)="myInstallerSmsEmailModel.show(record.id,2)">
                                                                <i class="las la-envelope"></i> {{l('Email')}}
                                                            </a>
                                                        </li> -->
                                                        <li [hidden]="!isGrantedAny('Pages.MyInstaller.Notify')">
                                                            <a (click)="addmyinstalleractivity.show(record.id, 9,'My Installer')">
                                                                <i class="las la-bell"></i> {{l('Notify')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.MyInstaller.ToDo')">
                                                            <a (click)="addmyinstalleractivity.show(record.id, 25,'My Installer')">
                                                                <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.MyInstaller.UploadDoc')">
                                                            <a href="javascript:;" (click)="installerUploadDoc.show(record.id, organizationUnit,'My Installer')">
                                                                <i class="las la-file-upload"></i>
                                                                <!-- {{'Upload Doc' | localize}}</a> -->
                                                                Upload Doc
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.MyInstaller.PriceList')">

                                                            <a href="javascript:;" (click)="createOrEditPriceListModal.show(record.id,'My Installer')">
                                                                <i class="las la-clipboard-list"></i>
                                                                <!-- {{l('Price List')}} -->
                                                                Price List
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.MyInstaller.SignContract')">

                                                            <a href="javascript:;" (click)="installerUploadDoc.show(record.id,organizationUnit,'My Installer')">
                                                                <i class="las la-file-signature"></i>
                                                                <!-- {{l('Sign Contract')}} -->
                                                                Sign Contract
                                                            </a>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </td>
                                            <td style="width:155px; left:95px !important;" class="p-frozen-column" (click)="navigateToLeadDetail(record.id);">
                                                <!-- <span class="ui-column-title"> {{'Name' | localize}}</span> -->
                                                <span *ngIf="record.name != null"> {{record.name}}</span>
                                                <span *ngIf="record.name == null"> </span>
                                            </td>
                                            <td style="width: 140px" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title"> {{'Surname' | localize}} </span> -->
                                                <span *ngIf="record.surname != null"> {{record.surname}}</span>
                                                <span *ngIf="record.surname == null"> </span>
                                            </td>
                                            <td style="width: 230px" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title"> {{'Company' | localize}}</span> -->
                                                <span *ngIf="record.companyName != null"> {{record.companyName}}</span>
                                                <span *ngIf="record.companyName == null"> </span>
                                            </td>
                                            <td style="width: 145px" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title" style="text-align: center;"> {{'Verify' | localize}}</span> -->
                                                <!-- <span *ngIf="record.verify != null" style="text-align: center;">{{record.verify}}</span>
                                                <span *ngIf="record.verify == null" style="text-align: center;">{{record.verify}}</span> -->
                                                <span class="badge badge-pill badge-success" *ngIf="record.isApproveInstaller">Approved</span>
                                                <span class="badge badge-pill badge-danger" *ngIf="!record.isApproveInstaller">Not Approved</span>
                                            </td>

                                            <td style="width: 110px" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title" style="text-align: center;"> {{'Status' | localize}}</span> -->
                                                <span class="kt-badge kt-badge--success kt-badge--inline" style="text-align: center;" *ngIf="record.isActive">{{'Yes' |
                                                    localize}}</span>
                                                <span class="kt-badge kt-badge--dark kt-badge--inline" style="text-align: center;" *ngIf="!record.isActive">{{'No' |
                                                    localize}}</span>
                                            </td>
                                            <td style="width: 145px" [hidden]="!ExpandedView" *ngIf="'Pages.MyInstaller.ShowEmailPhone' | permission">
                                                <!-- <span class="ui-column-title"> {{'Mobile' | localize}}</span> -->
                                                <span class="badge badge-secondary">{{record.mobile}}</span>
                                            </td>

                                            <td style="width:300px" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title"> {{'Address' | localize}}</span> -->
                                                <span *ngIf="record.address != null">{{record.address | titlecase}}</span>
                                                <span *ngIf="record.address == null"></span>
                                            </td>

                                            <td style="width:200px" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title"> {{'Suburb' | localize}}</span> -->
                                                <span *ngIf="record.suburb != null"> {{record.suburb | titlecase}}</span>
                                                <span *ngIf="record.suburb == null"> </span>
                                            </td>
                                            <td style="width:100px" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title"> {{'State' | localize}}</span> -->
                                                <span *ngIf="record.state != null"> {{record.state}}</span>
                                                <span *ngIf="record.state == null"> </span>
                                            </td>
                                            <td style="width:120px" class="lower_text" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title"> {{'PostCode' | localize}}</span> -->
                                                <span *ngIf="record.postCode != null"> {{record.postCode}}</span>
                                                <span *ngIf="record.postCode == null"> </span>
                                            </td>
                                            <td style="width:150px" class="lower_text" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title"> {{'Source' | localize}}</span> -->
                                                <span *ngIf="record.sourceType != null"> {{record.sourceType}}</span>
                                                <span *ngIf="record.sourceType == null"> </span>
                                            </td>
                                            <td style="width:200px" class="lower_text" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title"> {{'Comment' | localize}}</span> -->
                                                <span *ngIf="record.comment != null"> {{record.comment}}</span>
                                                <span *ngIf="record.comment == null"> </span>
                                            </td>
                                            <td style="width:200px" class="lower_text" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title"> {{'FollowupDesc' | localize}}</span> -->
                                                <span *ngIf="record.followup != null">
                                                    {{record.followup | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                                <span *ngIf="record.followup == null"> </span>
                                            </td>
                                            <td style="width:200px" class="lower_text" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title"> {{'FollowupComment' | localize}}</span> -->
                                                <span *ngIf="record.followupDesc != null">
                                                    {{record.followupDesc}}</span>
                                                <span *ngIf="record.followupDesc == null"> </span>
                                            </td>
                                            <td style="width:120px" class="lower_text" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title"> {{'Created By' | localize}}</span> -->
                                                <span *ngIf="record.creatorBy != null"> {{record.creatorBy}}</span>
                                                <span *ngIf="record.creatorBy == null"> </span>
                                            </td>

                                            <td style="width:150px" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title"> {{'CreationTime' | localize}}</span> -->
                                                {{record.creationTime | momentFormat:'L'}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{'NoData' | localize}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getUsers($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                                    </p-paginator>

                                    <span class="total-records-count">
                                        showing {{firstrowcount}}
                                        To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                            </div>
                            <div [hidden]="ExpandedView === true" class="leadedetailleftpart right_side_scrool scrool_red">
                                <viewmyInstallerDetail #viewmyInstallerDetail SelectedId="{{SelectedId}}" (reloadLead)="reloadPage($event)"></viewmyInstallerDetail>
                            </div>
                            <!--<Primeng-TurboTable-End>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <createOrEditMyInstallerModal #createOrEditMyInstallerModal (modalSave)="getUsers()">
        </createOrEditMyInstallerModal>
        <!-- <organizationDoc #organizationDoc></organizationDoc> -->
        <installerUploadDoc #installerUploadDoc (modalSave)="getUsers()"></installerUploadDoc>
        <addmyinstalleractivity #addmyinstalleractivity (modalSave)="getUsers()"></addmyinstalleractivity>
        <myInstallerSmsEmailModel #myInstallerSmsEmailModel (modalSave)="getUsers()"></myInstallerSmsEmailModel>
        <myInstallerDetailModal #myInstallerDetailModal (modalSave)="getUsers()"></myInstallerDetailModal>
        <createOrEditPriceListModal #createOrEditPriceListModal (modalSave)="getUsers()"></createOrEditPriceListModal>

    </div>
</div>