<div appBsModal #installerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="installerModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #userForm="ngForm" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">
                        <h3 class="kt-subheader__title">
                            <span>Create Organization Wise Doc</span>
                        </h3>
                    </h4>
                    <button type="button" class="close" (click)="cancel()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="white-file-upload">
                            <input type="file" #myInput (change)="filechangeEvent($event)" multiple accept=".pdf" />
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <div class="secondary-grid tablebodyscroll">
                            <!--begin::Table-->
                            <table class="table ui-table-scrollable-header-table">
                                <!--begin::Thead-->
                                <thead class="ui-table-thead brdnone">
                                    <tr>
                                        <th>File</th>
                                        <th>User</th>
                                        <th class="text-center" style="width:120px;">Download</th>
                                        <th class="text-center" style="width:120px;">Delete</th>
                                    </tr>
                                </thead>
                                <!--end::Thead-->
                                <!--begin::Tbody-->
                                <tbody>
                                    <tr *ngFor="let item of userwithorgwisedoclist">

                                        <td>{{item.fileName}}</td>
                                        <td>{{item.userName}}</td>
                                        <!-- <td class="text-center"><a (click)="downloadfile(item)"><img
                                                    [src]="appRootUrl() + 'assets/common/images/signature.svg'" alt=""
                                                    style="width:16px;" /></a></td> -->
                                        <td class="text-center" style="width:120px;">
                                            <a (click)="downloadfile(item)" class="btndownloaddocument"><i class="las la-file-download fs-24"></i></a>
                                        </td>
                                        <td class="text-center" style="width:120px;">
                                            <a (click)="deletefile(item.id)" class="btndownloaddocument"><i class="las la-trash fs-24 text-danger"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button (click)="cancel()" class="btn btn-secondary float-right"><i class="las la-times-circle"></i>Cancel</button>
                    <!-- <button (click)="save()" class="btn btn-primary float-right ml-0" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')">
                        <span>{{l("Save")}}</span>
                    </button> -->
                </div>
            </form>
        </div>
    </div>
</div>