﻿<div [@routerTransition]>
    <!-- side bar grid-->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <!-- <div class="kt-cdetailhead leaddetilpage">
                <div class="kt-cname">
                    <ul class="custdetail h2_flex">
                        <li>
                            <span *ngIf="item.lead.leadStatusID == 6 && item.jobNumber != null" class="flex_disply">
                                <h2> {{ item.lead.companyName }} - <span
                                        class="badgelead hotlead hotlead1 fnt1rem">{{item.jobNumber}}</span></h2> -
                                <span class="badgelead hotlead ">{{item.jobStatusName}}</span>
                            </span>
                            <span *ngIf="item.lead.leadStatusID != 6 && item.jobNumber != null">
                                <h2> {{ item.lead.companyName }} - <span
                                        class="badgelead hotlead hotlead1 fnt1rem">{{item.jobNumber}}</span></h2>
                            </span>
                            <span *ngIf="item.lead.leadStatusID != 6 && item.jobNumber == null">
                                <h2> {{ item.lead.companyName }}</h2>
                            </span>
                        </li>
                        <li>
                            <div *ngIf="item.lead.leadStatusID == 11">
                                <span class="badgelead hotlead ">ReAssigned</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 10">
                                <span class="badgelead hotlead ">Assigned</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 9">
                                <span class="badgelead hotlead ">Closed</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 8">
                                <span class="badgelead warmlead">Canceled</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 7">
                                <span class="badgelead coldlead ">Rejected</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 6">
                                <span class="badgelead  unhandled">Upgrade</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 5">
                                <span class="badgelead hotlead ">Hot</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 4">
                                <span class="badgelead warmlead">Warm</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 3">
                                <span class="badgelead coldlead ">Cold</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 2">
                                <span class="badgelead  unhandled">Unhandled</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 1">
                                <span class="badgelead  unhandled">New</span>
                            </div>
                        </li>
                        <li>
                            <a class="nbox custphone" *ngIf="item.lead.mobile">
                                href="{{ item.lead.mobile }}"
                                <img [src]="appRootUrl() + 'assets/common/images/icon_phoneblue.svg'" alt="" />
                                {{ item.lead.mobile }}
                            </a>
                        </li>
                        <li *ngIf="item.lead.phone">
                            <a class="nbox custphone">
                                href="{{ item.lead.phone }}"
                                <img [src]="appRootUrl() + 'assets/common/images/icon_phoneblue.svg'" alt="" />
                                {{ item.lead.phone }}
                            </a>
                        </li>
                        <li>
                            <a class="nbox custemail" *ngIf="item.lead.email">
                                href="{{ item.lead.email }}"
                                <img [src]="appRootUrl() + 'assets/common/images/icon_mail.svg'" alt="" />
                                {{ item.lead.email }}
                            </a>
                        </li>
                    </ul>
                    <ul class="actionsicon">
                        <li *ngIf="item.lead.leadStatusID != 6">
                            <div class="dropdown" dropdown container="body">
                                <a class="dropdown-toggle" dropdownToggle [tooltip]="l('ChangeStatus')">
                                    <img [src]="appRootUrl() + 'assets/common/images/icon_changestatus.svg'" alt="" />
                                    Status
                                </a>
                                <div>
                                    <ul class="dropdown-menu leadstatusdrp li_padd_0 widthset_1" *dropdownMenu>
                                        <li>
                                            <a (click)="warm(item.lead)"><i><img
                                                        src="../../../../assets/common/images/orangesun.png" /></i><span>Warm</span></a>
                                        </li>
                                        <li>
                                            <a (click)="cold(item.lead)"><i><img
                                                        src="../../../../assets/common/images/icon_blueice.png" /></i><span>Cold</span></a>
                                        </li>
                                        <li>
                                            <a (click)="hot(item.lead)"><i><img
                                                        src="../../../../assets/common/images/icon_flame.png" /></i><span>Hot</span></a>
                                        </li>
                                        <li>
                                            <a (click)="cancel(item.lead)"><i><img
                                                        src="../../../../assets/common/images/icon_canceled_new.svg"
                                                        style="width:22px!important;" /></i><span>Cancelled</span></a>
                                        </li>
                                        <li *ngIf="item.lead.leadStatusID === 10 || item.lead.leadStatusID === 11">
                                            <a href="javascript:;" (click)="reject(item.lead.id)">
                                                <i><img src="../../../../assets/common/images/icon_canceled_new.svg"
                                                        style="width:22px!important;" /></i><span>{{l('Reject')}}</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li *ngIf="item.jobStatusId < 4 || role == 'Admin'">
                            <a (click)="createEditLead.show(1,item.lead.id,name)" [tooltip]="l('Edit')" placement="top">
                                <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt="" /> Edit
                            </a>
                        </li>
                        <li *ngIf="permission.isGranted('Pages.Leads.Delete')">
                            <a (click)="deleteLead(item.lead)" [tooltip]="l('Delete')"><img
                                    [src]="appRootUrl() + 'assets/common/images/icon_delete.svg'" alt="" /> Delete</a>
                        </li>
                        <li [hidden]="!showsectionwise">
                            (click)="addActivityModal.show(item.lead.id,0,0,sectionId)"
                            <a [tooltip]="l('Add')" placement="top">
                                <img [src]="appRootUrl() + 'assets/common/images/add_plus1.svg'" alt="" /> Add
                            </a>
                        </li>
                        <li *ngIf="sectionId == 30">
                            <a (click)="promoStopRespmodel.deattilshow(item.lead.id)">
                                <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt="" /> StopResponce
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="myleadsstatus myleadsReport mrbtmzero subtalentpage">
                    <ul>
                        <li>
                            <label>My Installer created By</label>
                            <span>{{item.createdByName}}</span>
                        </li>
                        <li>
                            <label>My Installer Created On</label>
                            <span>{{item.createdOn | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="kt-portlet kt-portlet--mobile myleaddetails marpadzero">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <div class="table-responsive statictable">
                        </div>

                        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                            <div class="kt-portlet ">
                                <div class="kt-portlet__body padzero leaddetailtabs">
                                    <tabset>
                                        <!-------------------- start Activitylog tab -->
                                        <tab heading="{{'ActivityLog' | localize}}" [active]="activeTabIndex == 0">
                                            <activityLogMyInstaller #activityLogMyInstaller></activityLogMyInstaller>
                                        </tab>
                                    </tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <addActivityModal #addActivityModal (modalSave)="addActivitySuccess()"></addActivityModal> -->
        <!-- <createEditLead #createEditLead (modalSave)="addActivitySuccess()"></createEditLead>
        <promoStopRespmodel #promoStopRespmodel (modalSave)="addActivitySuccess()"></promoStopRespmodel> -->

    </div>
</div>