<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("DocumentLibrary")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getDocumentLibrary()"></button>
                            </li>
                            <li *ngIf="isGranted('Pages.Tenant.datavault.DocumentLibrary.Create')"><button (click)="createDocumentType()" class="btn btn-outline-primary btnadd">
                                    Add <i class="las la-plus-circle"></i>
                                </button></li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getDocumentLibrary();searchLog()" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getDocumentLibrary()"></a>
                                        <input type="button" class="btnsearch" (click)="getDocumentLibrary();searchLog()" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getDocumentLibrary($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.datavault.DocumentLibrary.Edit', 'Pages.Tenant.datavault.documentlibrary.Delete')">
                                            {{l('Actions')}}</th>
                                        <th pSortableColumn="title">
                                            {{l('Name')}}
                                            <p-sortIcon field="documentlibrary.title"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="fileName">
                                            {{l('FileName')}}
                                            <p-sortIcon field="documentlibrary.fileName"></p-sortIcon>
                                        </th>
                                        <th style="width:100px; text-align: center;">
                                            Action
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.datavault.DocumentLibrary.Edit', 'Pages.Tenant.datavault.DocumentLibrary.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <!-- <li>
                                                        <a href="javascript:;"
                                                            (click)="viewDocumentLibraryModal.show(record)">
                                                            <img src="../../../assets/common/images/icon_view.svg" />
                                                            {{l('View')}}</a>
                                                    </li> -->
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.datavault.DocumentLibrary.Edit')" (click)="createOrEditDocumentLibraryModal.show(record.documentlibrary.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.datavault.DocumentLibrary.Delete')" (click)="deleteDocumentlibrary(record.documentlibrary)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.documentlibrary.title}}
                                        </td>

                                        <td>
                                            <span class="ui-column-title"> {{l('FileName')}}</span> {{record.documentlibrary.fileName}}

                                        </td>
                                        <td style="width:100px; text-align: center;">
                                            <a (click)="downfile(record.documentlibrary.filePath)" class="btndownloaddocument">
                                                <i class="las la-file-download fs-24"></i>
                                            </a>
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getDocumentLibrary($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditDocumentLibraryModal #createOrEditDocumentLibraryModal (modalSave)="getDocumentLibrary()">
        </createOrEditDocumentLibraryModal>
        <viewDocumentLibraryModal #viewDocumentLibraryModal></viewDocumentLibraryModal>

    </div>
</div>