<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Commission Paid")}}</span>
                        <span class="total-records-count">
                            <!-- ({{(primengTableHelper.totalRecordsCount)}}) -->
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getUserCallHistory();RereshLog();" class="btn_refresh"></button>
                                </li>

                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="organizationUnit" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getUserCallHistory();bindUsers(organizationUnit);addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select class="form-control" [(ngModel)]="teamId" name="teamId" (change)="getUserCallHistory();addSearchLog('Filter Team');">
                                                <option value="0">{{l("SelectTeam")}}</option>
                                                <option *ngFor="let item of filteredTeams" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox" style="overflow:inherit;">
                                            <div class="form-group mb-0">
                                                <p-autoComplete id="installerIds" name="installerIds" [suggestions]="userSearchResult" (completeMethod)="filterUser($event)" [minLength]="1" [placeholder]="l('Select User')" inputStyleClass="form-control" styleClass="w-275px" (onSelect)="selectUser($event);addSearchLog('Filter User');"
                                                    field="displayName" (onClear)="selectUser($event)" (keydown.enter)="selectUser($event);addSearchLog('Filter User');">
                                                    <ng-template let-result pTemplate="item">
                                                        <div class="result-item">
                                                            <div class="d-flex align-items-center mb-1">
                                                                <i class="las la-user-cog fs-16 mr-1"></i> {{result.displayName}}
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-autoComplete>
                                            </div>
                                        </div>
                                    </div>

                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox apptrackeradv">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getUserCallHistory();addSearchLog('Filter JobNumber');" name="filterText" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getUserCallHistory()"><i class="fas fa-times-circle"></i></a>
                                            <button (click)="getUserCallHistory();addSearchLog('Filter JobNumber');" class="btnsearch" type="submit">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                        </div>


                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <div class="kt-advfilterbox" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action')">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>Advance Filters </h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <!-- <li>
                                                            <select class="form-control" [(ngModel)]="dateType" name="dateType" (change)='getUserCallHistory()'>
                                                                <option value="InstallDate">InstallDate</option>
                                                            </select>
                                                        </li> -->
                                                        <!-- <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="StartDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" (keydown.enter)="getUserCallHistory($event)" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="EndDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" (keydown.enter)="getUserCallHistory($event)" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li> -->
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" (keydown.enter)="getUserCallHistory($event)" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" (keydown.enter)="getUserCallHistory($event)" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="text-right fullwidth">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()"><i class="fa fa-times-circle"></i> {{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm" (click)="getUserCallHistory();addSearchLog('Advance Filter');"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay" *ngIf="permission.isGranted('Pages.Report.JobCommission.Create')"></div>
                </div>
            </div>
        </div>
        <!-- <div class="blue-filter-box" [hidden]="!FiltersData" *ngIf="permission.isGranted('Pages.Report.JobCommission.Create')">
            <div class="d-flex align-items-center justify-content-end" style="width:100%;">
                <div class="d-flex align-items-center">
                    <button [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary btn-sm" (click)="submit();">
                        <i class="las la-plus-circle"></i> Commission
                    </button>
                </div>
                <div class="recordsSelect">
                    <h2>Selected Records <span>{{count}}</span></h2>
                </div>
            </div>
        </div> -->
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row">
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getUserCallHistory($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th class="checkboxhead" style="width: 50px !important;" *ngIf="permission.isGranted('Pages.Report.JobCommission.Create')" >
                                            <div class="kt-checkbox-list" style="padding: 0px 8px!important;">
                                                <label for="lead_id" class="kt-checkbox">
                                                    <input type="checkbox" id="lead_id" name="all"
                                                        [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th> -->

                                        <th style="width:200px" pSortableColumn="jobNumber">
                                            {{l('JobNumber')}}
                                            <p-sortIcon field="record.jobNumber"></p-sortIcon>
                                        </th>
                                        <th style="width:200px;" pSortableColumn="userId">SalesRep
                                            <p-sortIcon field="record.salesREp"></p-sortIcon>
                                        </th>
                                        <th style="width:200px;" [hidden]="!ExpandedView" pSortableColumn="NOP">
                                            {{l('NoOfPanel')}}
                                            <p-sortIcon field="record.noOfPanel"></p-sortIcon>
                                        </th>
                                        <th style="width:200px;" [hidden]="!ExpandedView" pSortableColumn="sys">
                                            {{l('SystemCapacity')}}
                                            <p-sortIcon field="record.systemCapacity"></p-sortIcon>
                                        </th>
                                        <th style="width:120px;" [hidden]="!ExpandedView" style="width:200px;" pSortableColumn="commissionDate">
                                            {{l('CommissionDate')}}
                                            <p-sortIcon field="record.commissionDate"></p-sortIcon>
                                        </th>
                                        <th style="width:200px;" [hidden]="!ExpandedView" pSortableColumn="commissionAmount">
                                            {{l('CommissionAmount')}}
                                            <p-sortIcon field="record.commissionAmount"></p-sortIcon>
                                        </th>
                                        <th style="width:200px;" [hidden]="!ExpandedView" pSortableColumn="CommitionActualAmount">
                                            {{l('ActualAmount')}}
                                            <p-sortIcon field="record.actualAmount"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.id}">

                                        <!-- <td class="" style="width:50px" *ngIf="permission.isGranted('Pages.Report.JobCommission.Create')" > 
                                            <div class="kt-checkbox-list set_new6 set_new2" style="padding: 0px 8px!important;">
                                                <label for="{{record.id}}" class="kt-checkbox">
                                                    <input type="checkbox" id="{{record.id}}" name="recordSource"
                                                        [(ngModel)]="record.isSelected"
                                                        (change)="oncheckboxCheck()" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td> -->

                                        <td style="width:200px;" class="gridleadimage">
                                            {{record.jobNumber}}
                                        </td>
                                        <td style="width:200px;">{{record.salesREp}}</td>
                                        <td style="width:200px;" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.noOfPanel}}</span>
                                        </td>
                                        <td style="width:200px;" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.systemCapacity}}</span>
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:200px;">
                                            {{record.commissionDate | momentFormat:'DD-MM-YYYY'}}
                                        </td>
                                        <td style="width:200px;" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.commissionAmount}}</span>
                                        </td>
                                        <td style="width:200px;" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.actualAmount}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getUserCallHistory($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <!-- <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <createEditJobCommissionModel #createEditJobCommissionModel (modalSave)="getUserCallHistory()"></createEditJobCommissionModel>
        <DetailModal #DetailModal></DetailModal>
    </div>
</div>