<style>
    .first{
        max-width:350px !important; 
    }
</style>



<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" >
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Ecommerce DataVault ActivityLog")}}</span>
                        <span class="total-records-count">
                        ({{(primengTableHelper.totalRecordsCount)}})
                    </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getActivity()"></button>
                            </li>

                            <!-- <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getActivity()" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getActivity()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getActivity()" />
                                    </div>
                                </div>
                            </li> -->
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass]="{'unselectable': ('Pages.JobGrid.EnableCopyPaste' | permission)}">
                        <!-- <div class="row leaddata_row"> -->
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getActivity($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="p-frozen-column" pSortableColumn="SectionName" style="width:160px;" alignFrozen="left">
                                            Module Name
                                            <p-sortIcon field="SectionName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="CreatorUserId" [hidden]="!ExpandedView" style="width:250px">
                                            {{l('LastUpdateBy')}}
                                            <p-sortIcon field="userName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="CreationTime" [hidden]="!ExpandedView" style="width:250px">
                                            {{l('LastUpdated')}}
                                            <p-sortIcon field="CreationTime"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Action" [hidden]="!ExpandedView" style="width:250px">
                                            {{l('LastUpdateAction')}}
                                            <p-sortIcon field="actionName"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">

                                        <!-- <td style="width: 250px" class="gridleadimage"> -->
                                        <td style="width:160px;" class="p-frozen-column" (click)="navigateToLeadDetail(record.sectionId);">
                                            <!-- <td class="gridleadimage" (click)="navigateToLeadDetail(record.sectionId);"> -->
                                            <!-- <span class="lead-status-icon badge badge-pill badge-primary"><i
                                                    class="fs-4 las la-eye"></i></span>  -->
                                            {{record.sectionName}}
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:250px">
                                            {{record.userName}}
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:250px">
                                            {{record.lastModificationTime | momentFormat:'DD-MM-YYYY'}}
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:250px">
                                            {{record.actionName}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getActivity($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">

                            <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                                <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
                                    <div class="kt-cdetailhead leaddetilpage">
                                        <div class="kt-cname">
                                            <ul class="custdetail h2_flex">
                                                <li>
                                                    <span class="flex_disply ng-star-inserted">
                                                        <h2 ><span class="userName">
                                                            <i class="las la-history"></i> {{setctionName}}</span>
                                                    </h2>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="kt-portlet detail-view-tab myleaddetails marpadzero right_side_scrool scrool_red">
                                        <div class="kt-portlet__body" style="padding:15px 30px;">
                                            <div class="row align-items-center">
                                                <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid">
                                                    <div class="kt-portlet">
                                                        <div class="leaddtltitle activitytitle" style="background: #efedfb; padding: 8px 20px; display:flex; align-items:center; margin:0 0 15px 0;">
                                                            <div class="d-flex align-items-center">
                                                                <h3 style="font-size: 1.3rem; line-height: normal; margin: 0;">Activity</h3>
                                                                <!-- <div class="d-flex align-items-center">
                                                                    <button class="btn btn-primary blue btnadd btn-sm d-flex align-items-center" style="padding-top: 0 !important; margin: 0 0 0 10px !important;"> 
                                                                        Add <i class="las la-plus-circle ml-1"></i>
                                                                    </button>
                                                                </div> -->
                                                            </div>
                                                        </div>

                                                        <div class="leaddetailcnt">
                                                            <div class="form-group">
                                                                <div class="ativityLogs">
                                                                    <div class="list_area_box">

                                                                        <div class="list_box" *ngFor="let item of DataVaultList">
                                                                            <div *ngIf="item.actionName == 'Created'" class="img_area activity_assign">
                                                                                <div><i class="las la-file-medical"></i></div>
                                                                            </div>
                                                                            <div *ngIf="item.actionName == 'Updated'" class="img_area activity_assign">
                                                                                <div (click)="DataVaultloghistory(item.id);"><i class="las la-edit"></i></div>
                                                                            </div>

                                                                            <div *ngIf="item.actionName == 'Deleted'" class="img_area activity_sms">
                                                                                <div><i class="las la-trash"></i></div>
                                                                            </div>


                                                                            <div class="text_area">
                                                                                <div class="title_hd d-flex align-items-center">
                                                                                    <span class="fw-bolder me-3">Activity - {{item.actionName}}</span>
                                                                                    <span class="log-date d-flex align-items-center ml-3">
                                                                                        <i class="las la-clock mr-1"></i>{{item.lastModificationTime | momentFormat:'DD-MM-YYYY'}}
                                                                                    </span>
                                                                                </div>

                                                                                <div class="notice d-flex rounded border-primary  min-w-lg-600px flex-shrink-0 p-2" style="padding-left:0;">
                                                                                    <p class="m-0 ng-star-inserted">
                                                                                        <span class="text-dark">{{item.userName}}</span> -
                                                                                        <!-- <a href="javascript:void(0)">{{item.userName}}</a> - -->
                                                                                        <span *ngIf="item.actionName == 'Updated'">
                                                                                            <a (click)="DataVaultloghistory(item.id);" style="cursor: pointer;" > {{item.actionNote}}</a>                                                           
                                                                                        </span>
                                                                                        <span *ngIf="item.actionName != 'Updated'">                            
                                                                                             {{item.actionNote}}                                                         
                                                                                        </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div appBsModal #detailActivityModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="detailActivityModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{setctionName}} Module</h5>
                <button type="button" class="btn-close" (click)="close()" [attr.aria-label]="l('Close')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group table_dark box_show_div margin_none normal-table">
                    <table class="table table-striped">
                        <thead>
                            <th>FieldName</th>
                            <th style="max-width: 400px!important;">Previous Value</th>
                            <th style="max-width: 400px!important;">Current Value</th>
                        </thead>
                        <tr *ngFor="let item of DataVaultHistoryList">
                            <td>
                                {{item.fieldName}}
                            </td>
                            <td style="max-width: 400px!important; overflow: hidden;">
                                {{item.prevValue}}
                            </td>
                            <td style="max-width: 400px!important; overflow: hidden">
                                {{item.curValue}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="close()">
                    <i class="las la-times-circle"></i> Close
                </button>
            </div>
        </div>
    </div>
</div>