﻿<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Appointment")}}</span>
                    </h3>
                </div>

                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li class="paddnone">
                                    <div class="d-flex align-items-center" style="border:1px solid #5867dd; border-radius:5px; overflow:hidden;">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button name="previousDate" type="button" class="btn btn-light" (click)="previousDate();addSearchLog('Filter Previous Date');" style="border-radius:0 !important;"><i class="las la-angle-left pr-0"></i></button>
                                            <button name="nextDate" type="button" class="btn btn-light" style="border-left:1px solid #5867dd !important; border-radius:0 !important;" (click)="nextDate();addSearchLog('Filter Next Date');"><i class="las la-angle-right pr-0"></i></button>
                                        </div>
                                        <!-- <div class="kt-advfilterbox">
                                            <a class="btnadvfilter" (click)="previousDate()"><i class="las la-angle-left"></i></a>
                                        </div>
                                        <span class="mx-4">|</span>
                                        <div class="kt-advfilterbox">
                                            <a class="btnadvfilter ml-0" (click)="nextDate()"><i class="las la-angle-right"></i></a>
                                        </div> -->
                                    </div>

                                </li>
                                <li class="paddnone marginleft10">

                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getInstaller();addSearchLog('Filter Organization');">
                                                <option value="0">All Organization</option>
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">{{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" [(ngModel)]="createBy" name="createBy" (change)='getInstallations();addSearchLog("Filter Created By");'>
                                                <option value="0">{{l("CreatedBy")}}</option>
                                                <option *ngFor="let item of users" value="{{item.id}}">{{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" [(ngModel)]="appointmentfor" name="appointmentfor" (change)='getInstallations();addSearchLog("Filter Appointment For");'>
                                                <option value="0">{{l("CreatedFor")}}</option>
                                                <option *ngFor="let item of appoForList" value="{{item.id}}">{{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select class="form-control" id="areaNameFilter" name="areaNameFilter" (change)="getInstallations()">
                                        <option value="">Select Area</option>
                                        <option value="Metro">Metro</option>
                                        <option value="Regional">Regional</option>
                                      </select>
                                        </div>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select class="form-control" name="stateNameFilter" [(ngModel)]="stateNameFilter" (change)="getInstallations();addSearchLog('Filter State');">
                                                <option value="">{{l("SelectAState")}}</option>
                                                <option *ngFor="let item of allStates" value="{{item.displayName}}">{{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select class="form-control" [(ngModel)]="installerId" name="installerId" (change)="getInstallations()" *ngIf="permission.isGranted('Pages.Tenant.InstallerManager.InstallerCalendar')">
                                            <option value="0">All Installers</option>
                                            <option *ngFor="let item of InstallerList" value="{{item.id}}">{{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li> -->

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile bg_none">
                <div class="kt-portlet__body padzero">
                    <div class="installationboxmain">
                        <div class="installationsubox no_warp_main">
                            <div class="installationbox" *ngFor="let item of InstallationList; let i = index">
                                <div class="day-box">{{item.appointmentDate | momentFormat:'dddd'}}</div>
                                <div class="monthname">
                                    <span>{{item.appointmentDate | momentFormat:'DD-MM-YYYY'}}</span>
                                    <span class="badge badge-primary">Leads: {{item.appointments.length}}</span>
                                </div>

                                <div>
                                    <!-- <span>Job</span> -->
                                    <!-- <span>Time Bkd</span> -->
                                </div>
                                <div style="width:100%; max-height:74vh; overflow-y: auto; padding-right:4px;" class="scroll-section">
                                    <div *ngFor="let installData of item.appointments">
                                        <div class="installation-job ">
                                            <div class="d-flex align-items-center mb-2 header-row">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm py-1 px-1" dropdownToggle>
                                                        <i class="flaticon-more fs-16"></i><span class="caret"></span>                                                    
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <!-- <li [hidden]="!isGrantedAny('Pages.PendingInstallation.SMS')"> -->
                                                        <li>
                                                            <a (click)="deleteAppoiment(installData)">
                                                                <i class="las la-trash"></i> {{l('Delete')}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div>
                                                    <i class="las la-user-alt fs-18 mr-1" style="color:#797789;"></i> {{installData.customerName}}
                                                </div>
                                            </div>
                                            <!-- <h4 class="d-flex align-items-center">
                                                <i class="las la-user-alt fs-18 mr-1" style="color:#797789;"></i> {{installData.customerName}}
                                            </h4> -->
                                            <div class="databox">
                                                <div class="dataleft">
                                                    <div class="d-flex">
                                                        <i class="las la-map-marker-alt fs-18 mr-1" style="color:#797789;"></i>
                                                        <div>
                                                            <span>{{installData.address}} </span>
                                                            <span style="border-top:0;">{{installData.suburb}}, {{installData.state}} - {{installData.postalCode}} </span>
                                                            <span><i class="las la-stopwatch"></i>{{installData.appointmentDateTime | momentFormat:'hh:mm'}} </span>
                                                        </div>
                                                    </div>
                                                    <span><i class="las la-user-cog fs-18 mr-2" style="color:#797789;"></i> <span style="font-weight:600; border-top: 0;">{{installData.appointmentUserName}}</span> </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <pendinginstallationTrackerSmsEmailModal #pendinginstallationTrackerSmsEmailModal></pendinginstallationTrackerSmsEmailModal> -->