<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
    
    .graybackbox .row h6 {
        margin: 0 5px 0 0 !important;
    }
</style>
<div [@routerTransition]>
    <div>
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>{{l("Wholesale Leads")}}</span>
                            <span>&nbsp; ({{primengTableHelper.totalRecordsCount}})</span>
                        </h3>
                        <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                    </div>
                    <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                        <div class="kt-subheader__wrapper">
                            <div class="kt-searchmainbox leadedropdown wdth830 width927 inherit_width">
                                <ul class="hd_right">
                                    
                                    <li>
                                        <button type="button" class="btn_refresh" (click)="getLeads()"></button>
                                    </li>
                                    
                                    <div class="kt-searchmainbox searchclearbox" style="padding-right: 10px;">
                                        <div class="kt-stextbox">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getLeads();" style="width:125px;">
                                                <option *ngFor="let item of allOrganizationUnits"
                                                    value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>

                                   
                                    <li>
                                        <div class="kt-searchmainbox searchclearbox" >
                                            <div class="kt-stextbox leardsearchfilter" >
                                                
                                                <!-- <li *ngIf="isGranted('Pages.WholeSale.RequestToTransferLeads.Dropdown')"> -->
                                                <select name="activeFilter"  (change)="getLeads()" [(ngModel)]="activeFilter"  class="form-control">
                                                    <option value="Transfer">Transfer</option>
                                                    <option value="Move" >Move</option>
                                                </select>
                                           <!-- </li> -->
                                            </div>
                                            <div class="kt-advfilterbox" *ngIf="(activeFilter == 'Transfer' && permission.isGranted('Pages.WholeSale.RequestToTransferLeads.Approve')) || (activeFilter == 'Move' && permission.isGranted('Pages.WholeSale.RequestToMove.Approve'))">
                                                <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                            </div>

                                            <div class="kt-advfilterbox">
                                                <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                    <i class="las la-sliders-h"></i>
                                                </button>
                                            </div>
                                            

                                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                                <h3>{{l("AdditionalFilters")}}</h3>
                                                <div class="advfilterform">
                                                    <ul>
                                                       
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier name="distapplied" [(date)]="StartDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier name="distapplied" [(date)]="EndDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li>

                                                        </li>
                                                        <li class="text-right fullwidth">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">
                                                                <i class="fa fa-times-circle ng-tns-c458-53"></i> {{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getLeads()">
                                                                <i class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                    </div>
                </div>
            </div>
            <div class="blue-filter-box" [hidden]="!FiltersData" *ngIf="permission.isGranted('Pages.WholeSale.Action')">
                <div class="d-flex align-items-center justify-content-end dis-column" style="width:100%;">
                    <div class="d-flex align-items-center dis-column">
                        <select name="approveFilter"  [(ngModel)]="approveFilter" class="form-control">
                            <option value="Approve">Approved</option>
                           <option value="UnApproved">UnApproved</option>
                      </select>

                     
                        <div *ngIf="approveFilter == 'Approve' && activeFilter == 'Move'" >
                        <select name="Var_Org"  class="form-control mr-3"  [(ngModel)]="Var_Org" (change)="onchange();" style="width:125px;">
                            <option *ngFor="let item of allOrganizationUnits"
                                value="{{item.id}}">
                                {{item.displayName}}</option>
                         </select>
                         </div>
                      
                      <div *ngIf="approveFilter == 'Approve' && activeFilter == 'Move'">
                        <select name="SalesRapid" class="form-control" [(ngModel)]="SalesRapid"  style="width:130px;">
                            <option value= 0> select SalesRap</option>
                            <option *ngFor="let item of allSalesRap"
                                value="{{item.id}}">
                                {{item.displayName}}</option>
                        </select> 
                    </div>  
                        
                        
                        
                        <button id="saving"  type="submit" class="btn btn-primary btn-sm" (click)="submit()">
                            Submit
                        </button>
                    </div>
                    <div class="recordsSelect">
                        <h2>Selected Records <span>{{count}}</span></h2>
                    </div>
                </div>
            </div>
            
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">

                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body padzero tablewithoutaction tablewithtooltip">
                        <div class="row leaddata_row" [ngClass]="{'unselectable': ('Pages.WholeSale.Leads.EnableCopyPaste' | permission)}">
                            <div class="table-responsive statictable"></div>

                            <div class="primeng-datatable-container myleadtable" data-scroll="true" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                                <button class="btn btn-outline-primary btnadd btnback">
                                    <img [src]="appRootUrl() + 'assets/common/images/pagi_nextactive.svg'" alt=""
                                        (click)="expandGrid()" /></button>
                                <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeads($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="p-frozen-column checkboxhead" style="width:40px">
                                                <div class="kt-checkbox-list" style="padding: 0px 8px!important;">
                                                    <label for="lead_id" class="kt-checkbox">
                                                        <input type="checkbox" id="lead_id" name="all"
                                                            [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </th>
                                            <th class="actionwidth p-frozen-column" [hidden]="!isGrantedAny('Pages.WholeSale.RequestToTransferLeads.Approve')">
                                               <!-- {{l('Actions')}}</th> -->
                                            <th style="width: 230px;" class="p-frozen-column" pSortableColumn="companyName">
                                                {{l('Full Name')}}
                                            </th>
                                            <th style="width: 200px;" pSortableColumn="companyName" [hidden]="!ExpandedView">
                                                {{l('Company Name')}}
                                            </th>
                                            <th style="width: 200px;" pSortableColumn="companyName" [hidden]="!ExpandedView">
                                                {{l('ABNNumber')}}
                                            </th>
                                            <th style="width: 200px;" [hidden]="!ExpandedView">
                                                {{l('RequestedBy')}}
                                                <!-- <p-sortIcon field="lead.mobile"></p-sortIcon> -->
                                            </th>
                                            <th style="width: 200px" [hidden]="!ExpandedView">
                                                {{l('RequestedOn')}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        
                                     <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.id}">
                                        <td class="p-frozen-column" style="width:40px">
                                            <div class="kt-checkbox-list set_new6 set_new2" style="padding: 0px 8px!important;">
                                                <label for="{{record.id}}" class="kt-checkbox">
                                                    <input type="checkbox" id="{{record.id}}" name="recordSource"
                                                        [(ngModel)]="record.isSelected"
                                                        (change)="oncheckboxCheck()" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                            <!-- <td style="text-align: center;" class="actionwidth p-frozen-column" [hidden]="!isGrantedAny('Pages.WholeSale.RequestToTransferLeads.Approve')">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                        <i class="flaticon-more"></i><span class="caret"></span>
                                                        {{l("Actions")}}
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li [hidden]="!isGrantedAny('Pages.WholeSale.RequestToTransferLeads.Approve')">
                                                            <a href="javascript:;" (click)="Approved(record.id)">
                                                                <i class="las la-user-check"></i> Approved
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.WholeSale.RequestToTransferLeads.Approve')">
                                                            <a href="javascript:;" (click)="NotApproved(record.id)">
                                                                <i class="las la-user-check"></i> UnApproved
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td> -->
                                            <td style="width: 230px;" class="p-frozen-column" (click)="navigateToLeadDetail(record.leadId);">
                                                <span class="ui-column-title"> {{l('Full Name')}}</span> {{record.name }}
                                            </td>
                                            <td style="width: 200px;" [hidden]="!ExpandedView">
                                                <span class="ui-column-title"> {{l('Company Name')}}</span> {{record.companyName }}
                                            </td>
                                            <td style="width: 200px;" [hidden]="!ExpandedView">
                                                {{record.abnNumber }}
                                            </td>
                                            <td style="width: 200px;" [hidden]="!ExpandedView">
                                                {{record.createdBy}}
                                            </td>
                                            <td style="width:200px" [hidden]="!ExpandedView">
                                                {{record.createdDate | momentFormat:'DD-MM-YYYY'}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeads($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <span class="total-records-count">
                                        showing {{firstrowcount}}
                                        To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                            </div>
                            <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                                <ViewWholesaleLeadDetail #ViewWholesaleLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></ViewWholesaleLeadDetail>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>