<div bsModal #createoreditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form *ngIf="active" #stockorderForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <h3 class="kt-subheader__title">
                            <span *ngIf="stockpayment.id">{{l("Edit Stock Payment")}}</span>
                            <span *ngIf="!stockpayment.id">{{l("Create Stock Payment")}}</span>
                        </h3>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box"style="padding:10px 45px !important;">
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center justify-content-between">
                                    <span class="mr-5 d-flex align-items-center"><i class="las la-info-circle mr-2"></i>{{ l("Payment Details") }}</span>
                                    <div class="d-flex align-items-center">
                                        <!-- <div class="d-flex align-items-center mr-4 form-icon placehold_clr" *ngIf="!stockpayment.id"
                                            style="border: none; outline: none !important;">
                                            <input type="number" id="stockNo" name="stockNo"
                                                class="form-control second" [(ngModel)]="stockNo" (keyup.enter)="getData()"
                                                maxlength="100" placeholder="Stock No"  />
                                            <span class="icon-box" style="top: 3px !important ;color:#384770 !important; ">
                                                <i class="las la-hashtag" style="color:black !important;"></i>
                                            </span>
                                            <span>
                                                <a class="d-flex align-items-center first" (click)="getData()" >
                                                    <i class="las la-download" style="
                                                            font-size: 16px !important;
                                                            color: #fff;"></i>
                                                    Get Data
                                                </a>
                                            </span>
                                        </div> -->

                                        <span class="d-flex align-items-center">
                                            <span class="mr-2 badge badge-secondary fs-16 d-flex align-items-center"
                                                *ngIf="!stockpayment.id" >
                                                Next Invoice No.
                                                <span style="font-weight: 600">{{
                                                    stockpayment.stockNo
                                                    }}</span>
                                            </span>
                                            <span class="mr-2 badge badge-secondary fs-16 d-flex align-items-center"
                                                *ngIf="stockpayment.id" style="height: 40px">
                                                Invoice No.
                                                <span style="font-weight: 600">{{
                                                    stockpayment.stockNo
                                                    }}</span>
                                            </span>
                                        </span>
                                    </div>
                                </h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{ l("Payment Method") }} *</label>
                                    <select class="form-control" [(ngModel)]="stockpayment.paymentMethodId" name="paymentMethodId">
                                        <option value="undefined">
                                            {{ l("Select Payment Method") }}
                                        </option>
                                        <option *ngFor="let item of allPaymentMethod" [value]="item.id">
                                            {{ item.displayName }}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-user"></i></span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{ l("Currency") }}
                                        *</label>
                                    <select class="form-control" [(ngModel)]="stockpayment.currencyId" (ngModelChange)="onCurrencyChange()" name="currencyId">
                                        <option value="undefined">
                                            {{ l("Select Currency") }}
                                        </option>
                                        <option *ngFor="let item of allCurrency" value="{{ item.id }}">
                                            {{ item.displayName }}
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-building"></i></span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{ l("GST Type") }}</label>
                                    <select class="form-control" [(ngModel)]="stockpayment.gstType"
                                        name="gstType">
                                        <option value="1">
                                            With GST
                                        </option>
                                        <option value="2">
                                            Without GST
                                        </option>
                                    </select>
                                    <span class="icon-box"><i class="las la-donate"></i></span>
                                </div>
                            </div>
  
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{ l("Rate") }} *</label>
                                    <input id="rate" #rateInput="ngModel" type="number" name="rate"
                                        class="form-control" [(ngModel)]="stockpayment.rate" required
                                        maxlength="64"  [disabled]="isRateDisabled"/>
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                    
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{ l("PaymentAmount") }} *</label>
                                    <input id="paymentAmount" #paymentAmountInput="ngModel" type="number" name="paymentAmount"
                                        class="form-control" [(ngModel)]="stockpayment.paymentAmount" required
                                        maxlength="64"  disabled/>
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                   
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{ l("AUD") }} *</label>
                                    <input id="aud" #audInput="ngModel" type="number" name="aud" disabled
                                        class="form-control" [(ngModel)]="stockpayment.aud" required maxlength="64" />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                   
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{ l("USD") }} *</label>
                                    <input id="usd" #usdInput="ngModel" type="number" name="usd"
                                        class="form-control" [(ngModel)]="stockpayment.usd" required
                                        maxlength="64" disabled />
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                   
                                </div>
                            </div>
                        
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{ l("Payment Date") }}*</label>
                                    <input type="text" name="targetArrivalDate" class="form-control daterangebox"
                                        bsDatepicker datePickerMomentModifier placeholder="Payment Date"
                                        [(date)]="paymentDate" required [bsConfig]="{customTodayClass: 'today', adaptivePosition: true}" />
                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group ">
                                <label for="Name">{{l("Payment Recipt")}} *</label>
                                <div class="flexbloxbutton fileuploadbtn">
                                    <div class="form-group marginbtm0">
                                        <div class="white-file-upload">
                                            <input name="f1"  class="fileuploadboxbtn" type="file" style="width: 232px; font-size:1rem" (change)="onFileChange($event)" multiple accept=".pdf,.jpg"   />
                                            <a  *ngIf="stockpayment.filePath && stockpayment.fileName" (click)="downloadfile(stockpayment.filePath,stockpayment.fileName)" >
                                                <i class="las la-file-pdf"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box" style="padding:10px 45px !important;">
                        <div class="col-md-12">
                            <h3 class="d-flex align-items-center">
                                <i class="las la-info-circle mr-2"></i>{{ l("Stock Payment Order Item") }}
                            </h3>
                        </div>
                        <div class="productsgridbox formcontainer ">
                            <div class="row mb-2 d-flex align-items-center" >
                                <div class="col-md-2">Order No</div>
                                <div class="col-md-2">Amount</div>
                                <div class="col-md-2" style="text-align: left !important;">Action</div>
                            </div>
                            
                            <div class="row marginbtm0 mb-2" *ngFor="let item of StockPaymentOrderItemList;let i = index" >
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <p-autoComplete [(ngModel)]="item.orderNo" 
                                        id="orderNo{{i}}" 
                                        name="orderNo{{ i }}" 
                                        #orderNo="ngModel" 
                                        required 
                                        [suggestions]="ordernoItemSuggestions"
                                        (completeMethod)="filterOrderNos($event, i)"
                                        (onSelect)="selectOrderNo($event, i)" 
                                        aria-placeholder="Search Order No"
                                        inputStyleClass="form-control" 
                                        styleClass="width-percent-100"
                                        [disabled]="!isCurrencyAndGSTSelected()">
                                        <ng-template let-result pTemplate="item">
                                            <div class="result-item">{{ result.orderNo }}</div>
                                        </ng-template>
                                    </p-autoComplete>

                                    </div>
                                </div>
                            
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" 
                                            
                                            #jpmodel="ngModel" 
                                            name="amount{{ i }}" 
                                            placeholder="Amount" 
                                            class="form-control" 
                                            [(ngModel)]="item.amount" 
                                            (ngModelChange)="calculateTotalPaymentAmount()" 
                                            required 
                                            [disabled]="!isCurrencyAndGSTSelected()" />
                                    </div>
                                </div>
                            
                                <div class="col-md-2">
                                    <div class="d-flex">
                                        <div class="action-btn" style="margin: 0px !important; padding:0px !important;" *ngIf="StockPaymentOrderItemList.length != 1">
                                            <a (click)="removeStockPaymentOrderItem(item)" class=""><i class="las la-trash text-danger"></i></a>
                                        </div>
                                        <div class="action-btn addbtn" *ngIf="StockPaymentOrderItemList.length == i + 1">
                                            <a (click)="addStockPaymentOrderItem()"><i class="las la-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                  
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">
                        <i class="las la-times-circle"></i>{{ l("Cancel") }}
                    </button>
                    <button type="submit" class="btn btn-primary" [disabled]="!stockorderForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i>
                        <span>{{ "Save" | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>