﻿<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">  
  
                <div class="kt-subheader kt-grid__item">
                  <div [class]="containerClass">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
            				<span *ngIf="active && invoicePayment.id">{{"EditInvoicePayment" }}</span>
            				<span *ngIf="active && !invoicePayment.id">{{l("CreateInvoicePayment")}}</span>
            			</h3>
            			<!-- <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            			<div class="kt-subheader__breadcrumbs">
            				<a [routerLink]="['/app/main/invoices/invoicePayments']"
            					class="kt-subheader__breadcrumbs-home"><i
            						class="flaticon2-shelter"></i>{{l("InvoicePayment")}}</a>
            				<span class="kt-subheader__breadcrumbs-separator"></span>
            				<a 
            					class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
            					<span *ngIf="active && invoicePayment.id">{{l("Edit")}}</span>
            					<span *ngIf="active && !invoicePayment.id">{{l("Create")}}</span>
            				</a>
            			</div> -->
                    </div>
                  </div>
                </div>
            
    
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile creatleadpage ">
            <div class="kt-portlet__body grayback ">
				<div class="createleadform">
					<div class="row">
						<div class="form-group  col-md-3">
							<label for="JobNote">{{l("Job")}}</label>
							<!-- <select name="invoicePayment.jobId" [(ngModel)]="invoicePayment.jobId" class="form-control" >
								<option value="">{{l("SelectAJob")}}</option>
								<option *ngFor="let item of allJobs" value="{{item.id}}">{{item.displayName}}</option>
							</select> -->
						</div>
						<div class="form-group m-form__group col-md-3">
							<label for="UserName">{{l("User")}}</label>
							<select name="invoicePayment.userId" [(ngModel)]="invoicePayment.userId" class="form-control" >
								<option value="">{{l("SelectAUser")}}</option>
								<option *ngFor="let item of allUsers" value="{{item.id}}">{{item.displayName}}</option>
							</select>
						</div>
						<div class="form-group m-form__group col-md-3">
							<label for="UserName2">{{l("User")}}</label>
							<select name="invoicePayment.verifiedBy" [(ngModel)]="invoicePayment.verifiedBy" class="form-control" >
								<option value="">{{l("SelectAUser")}}</option>
								<option *ngFor="let item of allUsers" value="{{item.id}}">{{item.displayName}}</option>
							</select>
						</div>
						<div class="form-group m-form__group col-md-3">
							<label for="UserName3">{{l("User")}}</label>
							<select name="invoicePayment.refundBy" [(ngModel)]="invoicePayment.refundBy" class="form-control" >
								<option value="">{{l("SelectAUser")}}</option>
								<option *ngFor="let item of allUsers" value="{{item.id}}">{{item.displayName}}</option>
							</select>
						</div>
						<div class="form-group m-form__group col-md-3">
							<label for="InvoicePaymentMethodPaymentMethod">{{l("InvoicePaymentMethod")}}</label>
							<select name="invoicePayment.invoicePaymentMethodId" [(ngModel)]="invoicePayment.invoicePaymentMethodId" class="form-control" >
								<option value="">{{l("SelectAInvoicePaymentMethod")}}</option>
								<option *ngFor="let item of allInvoicePaymentMethods" value="{{item.id}}">{{item.displayName}}</option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<label for="InvoicePayment_InvoicePayExGST">{{l("InvoicePayExGST")}}</label>
							<input type="number" id="InvoicePayment_InvoicePayExGST" class="form-control" [(ngModel)]="invoicePayment.invoicePayExGST" name="InvoicePayExGST"  />
						</div>
						<div class="form-group col-md-3">
							<label for="InvoicePayment_InvoicePayGST">{{l("InvoicePayGST")}}</label>
							<input type="number" id="InvoicePayment_InvoicePayGST" class="form-control" [(ngModel)]="invoicePayment.invoicePayGST" name="InvoicePayGST"  />
						</div>
						<div class="form-group col-md-3">
							<label for="InvoicePayment_InvoicePayTotal">{{l("InvoicePayTotal")}}</label>
							<input type="number" id="InvoicePayment_InvoicePayTotal" class="form-control" [(ngModel)]="invoicePayment.invoicePayTotal" name="InvoicePayTotal"  />
						</div>
						<div class="form-group col-md-3">
							<label for="InvoicePayment_InvoicePayDate">{{l("InvoicePayDate")}}</label>
							 <input class="form-control daterangebox m-input" type="datetime" bsDatepicker [bsConfig]="{ customTodayClass: 'today' }" datePickerMomentModifier [(date)]="invoicePayment.invoicePayDate" id="InvoicePayment_InvoicePayDate" name="InvoicePayment_InvoicePayDate">
						</div>
						<div class="form-group col-md-3">
							<label for="InvoicePayment_CCSurcharge">{{l("CCSurcharge")}}</label>
							<input type="number" id="InvoicePayment_CCSurcharge" class="form-control" [(ngModel)]="invoicePayment.ccSurcharge" name="CCSurcharge"  />
						</div>
						<div class="form-group col-md-3">
							<label for="InvoicePayment_VerifiedOn">{{l("VerifiedOn")}}</label>
							 <input class="form-control daterangebox m-input" type="datetime" bsDatepicker [bsConfig]="{ customTodayClass: 'today' }" datePickerMomentModifier [(date)]="invoicePayment.verifiedOn" id="InvoicePayment_VerifiedOn" name="InvoicePayment_VerifiedOn">
						</div>
			
						<div class="form-group col-md-3">
							<label for="InvoicePayment_PaymentNote">{{l("PaymentNote")}}</label>
							<input type="text" id="InvoicePayment_PaymentNote" class="form-control" [(ngModel)]="invoicePayment.paymentNote" name="PaymentNote"   minlength="0"  maxlength="255" />
						</div>
			
						
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="dividerline "></div>
						</div>
					</div>
					<div class="row">
						<div class="m-checkbox-list col-md-12 mb-2">
							<label for="InvoicePayment_Refund" class="kt-checkbox">
								<input id="InvoicePayment_Refund" type="checkbox" name="Refund" [(ngModel)]="invoicePayment.refund"> 
								{{l("Refund")}}
								<span></span>
							</label>
						</div>
			
						<div class="form-group col-md-3">
							<label for="InvoicePayment_RefundType">{{l("RefundType")}}</label>
							<input type="number" id="InvoicePayment_RefundType" class="form-control" [(ngModel)]="invoicePayment.refundType" name="RefundType"  />
						</div>
			
						<div class="form-group col-md-3">
							<label for="InvoicePayment_RefundDate">{{l("RefundDate")}}</label>
							 <input class="form-control daterangebox m-input" type="datetime" bsDatepicker [bsConfig]="{ customTodayClass: 'today' }" datePickerMomentModifier [(date)]="invoicePayment.refundDate" id="InvoicePayment_RefundDate" name="InvoicePayment_RefundDate">
						</div>
			
						<div class="form-group col-md-3">
							<label for="InvoicePayment_PaymentNumber">{{l("PaymentNumber")}}</label>
							<input type="number" id="InvoicePayment_PaymentNumber" class="form-control" [(ngModel)]="invoicePayment.paymentNumber" name="PaymentNumber"  />
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="dividerline "></div>
						</div>
					</div>
					<div class="row">
						<div class="m-checkbox- col-md-12 mb-2">
							<label for="InvoicePayment_IsVerified" class="kt-checkbox">
								<input id="InvoicePayment_IsVerified" type="checkbox" name="IsVerified" [(ngModel)]="invoicePayment.isVerified"> 
								{{l("IsVerified")}}
								<span></span>
							</label>
						</div>
			
						<div class="form-group col-md-3">
							<label for="InvoicePayment_ReceiptNumber">{{l("ReceiptNumber")}}</label>
							<input type="text" id="InvoicePayment_ReceiptNumber" class="form-control" [(ngModel)]="invoicePayment.receiptNumber" name="ReceiptNumber"    />
						</div>
			
						<div class="form-group col-md-3">
							<label for="InvoicePayment_ActualPayDate">{{l("ActualPayDate")}}</label>
							 <input class="form-control daterangebox m-input" type="datetime" bsDatepicker [bsConfig]="{ customTodayClass: 'today' }" datePickerMomentModifier [(date)]="invoicePayment.actualPayDate" id="InvoicePayment_ActualPayDate" name="InvoicePayment_ActualPayDate">
						</div>
			
						<div class="form-group col-md-3">
							<label for="InvoicePayment_PaidComment">{{l("PaidComment")}}</label>
							<input type="text" id="InvoicePayment_PaidComment" class="form-control" [(ngModel)]="invoicePayment.paidComment" name="PaidComment"    />
						</div>
					</div>
				</div>
            </div>
              <div class="kt-portlet__foot">
				<div class="col-lg-12">
					<button class="btn btn-primary blue float-right btnsubmitbox" >
						<!-- <i class="fa fa-save"></i>  -->
                        <span>{{l("Cancel")}}</span>
                    </button>
					<button (click)="save()" class="btn btn-primary mr-3 ml-0 blue float-right btnsubmitbox"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
						<!-- <i class="fa fa-save"></i>  -->
                        <span>{{l("Save")}}</span>
                    </button>
                    <button *ngIf="!this.invoicePayment.id" (click)="saveAndNew()" class=" mr-3 btn btn-primary btnsubmitbox blue float-right"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
						<!-- <i class="fa fa-save"></i>  -->
                        <span>{{l("SaveAndNew")}}</span>
                    </button>
				</div>
		    </div>
        </div>
    </div>
  </div>
  
</div>
