﻿<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("InvoicePayments")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <!-- <button *ngIf="isGranted('Pages.InvoicePayments.Create')" (click)="createInvoicePayment()" 
                        class="btn btn-primary blue btnadd">
                        <img [src]="appRootUrl() + 'assets/common/images/plusicon.svg'" alt="" />
                        {{l("CreateNewInvoicePayment")}}</button>
                    <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                     -->

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <div>
                            <button type="button" (click)="getInvoicePayments()" class="btnrefreshbox"> <img
                                    src="../../../../assets/common/images/icon_refreshbtn.svg" />
                            </button>
                        </div>
                        <div class="kt-buttonarea">
                            <!-- <button *ngIf="isGranted('Pages.InvoicePayments.Create')" (click)="createInvoicePayment()" 
                                class="btn btn-outline-primary btnadd">
                        Add 
                        <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt="" />
                    </button> -->
                            <div class="btn-group btnexceldropdown" dropdown>
                                <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <!-- <i class="far fa-file-excel"></i> -->
                                    <!-- {{"ExcelOperations" | localize}} -->
                                    {{l("Export")}}
                                    <img src="../../../assets/common/images/icon_downarrow.svg" />

                                </button>
                                <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu
                                    style="margin-left:10px;">
                                    <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()"
                                        href="javascript:;" *ngIf="'Pages.Tracker.InvoiceTracker.Export' | permission">
                                        <!-- <i class="fa fa-download" style="font-size: 1rem;"></i> -->
                                        <!-- {{'Export CSV' | localize}} -->
                                        {{'Export' | localize}}
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:;">
                                        {{l("ExportCSV")}}
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:;">
                                        {{l("PDF")}}
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="kt-searchmainbox leadedropdown cancelleadssearch leadtrackeradvancefilter" >
                            <div class="kt-sdropdown" *ngIf="organizationUnitlength > 1"> 
                                <div class="form-group  selectdropdown m-form__group">
                                    <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit"
                                        (change)="getInvoicePayments()">
                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="kt-sdropdown">
                                <div class="form-group  selectdropdown m-form__group">
                                    <select name="invPayPaymentOptions" [(ngModel)]="jobPaymentOption"
                                        class="form-control" (change)="getInvoicePayments()">
                                        <option value="0">All</option>
                                        <option *ngFor="let item of jobPaymentOptions" value="{{item.id}}">
                                            {{item.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="kt-sdropdown">
                                <div class="form-group  selectdropdown m-form__group">
                                    <!-- <label for="IsVerifiedFilterSelect">{{l("IsVerified")}}</label> -->
                                    <select class="form-control" name="IsVerifiedFilter" id="IsVerifiedFilterSelect"
                                        [(ngModel)]="isVerifiedFilter" (change)="getInvoicePayments()">
                                        <option value="-1">{{l("AllVarified")}}</option>
                                        <option value="0">{{l("NotVerify")}}</option>
                                        <option value="1">{{l("Verify")}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="kt-stextbox apptrackeradv wdth250 ">
                                <input type="text" class="form-control" placeholder="JobNo/Name/Email/Mobile"
                                    [(ngModel)]="filterText" (keydown.enter)="getInvoicePayments()" />
                                <input type="button" class="btnsearch" (click)="getInvoicePayments()" />
                            </div>
                            <div class="kt-advfilterbox">
                                <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><img
                                        [src]="appRootUrl() + 'assets/common/images/open-menu.svg'" alt="" height="30"
                                        width="30" /> </a>
                            </div>

                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                <h3>{{l("AdvanceFilters")}}</h3>
                                <div class="advfilterform">

                                    <form class="kt-form" autocomplete="off">
                                        <ul>
                                            <!-- <li class="fullwidth">
                                                    <div class="form-group">
                                                        <input name="ActualPayDateRangePicker"
                                                        type="text"
                                                        class="form-control daterangebox"
                                                        id="ActualPayDateRange"
                                                        placeholder="ActualPay DateRange"
                                                        bsDaterangepicker
                                                        dateRangePickerMomentModifier
                                                        [(date)]="ActualPayDateRange"
                                                        />
                                                    </div>
                                                </li> -->
                                            <li>
                                                <div class="form-group m-form__group">
                                                    <p-autoComplete [(ngModel)]="postCodeSuburbFilter"
                                                        id="postCodeSuburbFilter" [suggestions]="suburbSuggestions"
                                                        (completeMethod)="filtersuburbs($event)" (keydown.enter)="getInvoicePayments($event)"
                                                        placeholder='{{l("Suburb")}}' [minlength]="2"
                                                        #suburbInput="ngModel" name="postCodeSuburbFilter"
                                                        inputStyleClass="form-control" styleClass="width-percent-100">
                                                    </p-autoComplete>
                                                </div>
                                            </li>
                                              <!-- <li>
                                                <div class="form-group m-form__group">
                                                    <select name="jobStatusID" class="form-control"
                                                        [(ngModel)]="jobStatusID" (keydown.enter)="getInvoicePayments($event)">
                                                        <option value="0">{{l("AllJobStatus")}}</option>
                                                        <option *ngFor="let item of alljobstatus" value="{{item.id}}">
                                                            {{item.displayName}}</option>
                                                    </select>
                                                </div>
                                            </li> -->
                                            <li>
                                                <div class="form-group m-form__group jobmultipleselect">
                                                    <ng-select [items]="alljobstatus" [multiple]="true"  bindLabel="displayName"
                                                        [closeOnSelect]="false" bindValue="id" placeholder="Select JobStatus"
                                                        [(ngModel)]="jobStatusID" name="jobStatusID">
                                                        <ng-template ng-option-tmp let-item="item" let-item$="item$"
                                                            let-index="index">
                                                            <input id="item-{{index}}" type="checkbox"
                                                                [ngModel]="item$.selected" name="item-{{index}}"/> {{item.displayName}}
                                                        </ng-template>
                                                    </ng-select>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group m-form__group">
                                                    <select class="form-control" [(ngModel)]="stateNameFilter"
                                                        name="stateNameFilter" (keydown.enter)="getInvoicePayments($event)">
                                                        <option value="">{{l("SelectAState")}}</option>
                                                        <option *ngFor="let item of allStates"
                                                            value="{{item.displayName}}">{{item.displayName}}</option>
                                                    </select>
                                                </div>
                                            </li>
                                          
                                            <li>
                                                <div class="form-group m-form__group">
                                                    <select name="invoicePaymentMethodId" (keydown.enter)="getInvoicePayments($event)"
                                                        [(ngModel)]="invoicePaymentMethodId" class="form-control">
                                                        <option value="0">{{l("PaymentType")}}</option>
                                                        <option *ngFor="let item of allInvoicePaymentMethods"
                                                            value="{{item.id}}">{{item.displayName}}</option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group m-form__group">
                                                    <select name="invoicePaymentStatusId" (keydown.enter)="getInvoicePayments($event)"
                                                        [(ngModel)]="invoicePaymentStatusId" class="form-control">
                                                        <option value="0">{{l("PaymentStatusType")}}</option>
                                                        <option *ngFor="let item of allInvoicePaymentStatus"
                                                            value="{{item.id}}">{{item.displayName}}</option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group m-form__group">
                                                    <select name="financeOptionId" [(ngModel)]="financeOptionId"
                                                        class="form-control" (keydown.enter)="getInvoicePayments($event)">
                                                        <option value="0">{{l("FinanceOption")}}
                                                        </option>
                                                        <option *ngFor="let item of jobFinOptions" value="{{item.id}}">
                                                            {{item.displayName}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group m-form__group">
                                                    <select class="form-control" [(ngModel)]="invoiceDateNameFilter"
                                                        name="invoiceDateNameFilter">
                                                        <option value="All">{{l("All")}}</option>
                                                        <option value="Creation">{{l("InvDate")}}</option>
                                                        <option value="ActualDate">{{l("ActualDateDate")}}</option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group">
                                                    <input name="SampleDateRangePicker" type="text"
                                                        (keydown.enter)="getInvoicePayments($event)" [(ngModel)]="sampleDateRange"
                                                        class="form-control daterangebox" id="SampleDateRangePicker"
                                                        bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }"
                                                        [(date)]="sampleDateRange" />
                                                </div>
                                            </li>
                                            <li class="fullwidth text-right">
                                                <button class="btn btn-success btn-sm ng-tns-c458-53"
                                                    (click)="clear()"><i class="fa fa-search ng-tns-c458-53"></i>
                                                    {{l("Clear")}}</button>
                                                <button class="btn btn-success btn-sm ng-tns-c458-53"
                                                    (click)="getInvoicePayments()"><i
                                                        class="fa fa-search ng-tns-c458-53"></i>
                                                    {{l("Search")}}</button>
                                            </li>

                                        </ul>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}"
                            class="kt-advancefilterbox-overlay"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="myleadsReport leadtopcouont leadtracker leadtrackerpage joblist">
            <div class="wd50 leftpart duplicatecountbox">
                <ul>
                    <li>
                        <span>
                            <label> {{l("Total")}} <span>${{this.totalpaymentData}}</span></label>
                        </span>
                    </li>
                    <li>
                        <span>
                            <label> {{l("Verify")}} <span>${{this.totalpaymentVerifyData}}</span></label>
                        </span>
                    </li>
                    <li>
                        <span>
                            <label> {{l("NotVerify")}} <span>${{this.totalpaymentnotVerifyData}}</span></label>
                        </span>
                    </li>
                    <li>
                        <span>
                            <label> {{l("TotalAmount")}} <span>${{this.totalAmountOfInvoice}}</span></label>
                        </span>
                    </li>
                    <li>
                        <span>
                            <label> {{l("TotalAmountReceived")}} <span>${{this.totalAmountReceived}}</span></label>
                        </span>
                    </li>
                    <li>
                        <span>
                            <label> {{l("Balowning")}} <span>${{this.balanceOwning}}</span></label>
                        </span>
                    </li>
                    <li>
                        <span>
                            <label> {{l("CancelAmount")}} <span>${{this.totalCancelAmount}}</span></label>
                        </span>
                    </li>
                </ul>
                <ul *ngIf="stateNameFilter == 'VIC'">
                    <li>
                        <span>
                            <label> {{l("TotalCustAmount")}} <span>${{this.totalCustAmountOfInvoice}}</span></label>
                        </span>
                    </li>
                    <li>
                        <span>
                            <label> {{l("TotalCustAmountReceived")}} <span>${{this.totalCustAmountReceived}}</span></label>
                        </span>
                    </li>
                    <li>
                        <span>
                            <label> {{l("TotalCustAmountBalOwing")}} <span>${{this.totalCustBAlOwning}}</span></label>
                        </span>
                    </li>
                </ul>
                <ul *ngIf="stateNameFilter == 'VIC'">
                    <li>
                        <span>
                            <label> {{l("TotalVICAmount")}} <span>${{this.totalVICAmountOfInvoice}}</span></label>
                        </span>
                    </li>
                    <li>
                        <span>
                            <label> {{l("TotalVICAmountReceived")}} <span>${{this.totalVICAmountReceived}}</span></label>
                        </span>
                    </li>
                    <li>
                        <span>
                            <label> {{l("TotalVICAmountBalOwing")}} <span>${{this.totalVICBAlOwning}}</span></label>
                        </span>
                    </li>

                </ul>
            </div>

            <!-- <span tooltip="All Invoice" class="tooltipcnt">
                <img src="../../../assets/common/images/help.svg" />
            </span> -->
            <div class="dropdown help-dropdown" dropdown >
                <a class="dropdown-toggle" dropdownToggle>
                    <img src="../../../assets/common/images/help.svg" style="width: 30px;" />                   
                </a>
                <ul class="dropdown-menu helpmenudorpdown" *dropdownMenu>
                    <li>All Invoice</li>                                      
                </ul>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid mt100'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">


                    <div class="row">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container myleadtable"
                            [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }"
                            [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                                </button>
                            <!-- <button class="btn btn-outline-primary btnadd btnback">
                                <img [src]="appRootUrl() + 'assets/common/images/pagi_nextactive.svg'" alt=""
                                    (click)="expandGrid()" /></button> -->
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getInvoicePayments($event)"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth"
                                            [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Verify','Pages.Tracker.InvoiceTracker.Notify','Pages.Tracker.InvoiceTracker.SMS','Pages.Tracker.InvoiceTracker.Email','Pages.Tracker.InvoiceTracker.QuickView')">
                                            {{l('Actions')}}</th>
                                        <th style="width: 150px" pSortableColumn="jobFk.jobnumber">
                                            {{l('InvoiceNo')}}
                                            <p-sortIcon field="jobnumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="jobFk.leadfk.companyName"
                                            [hidden]="!ExpandedView">
                                            {{l('Customer')}}
                                            <p-sortIcon field="companyName"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" pSortableColumn="jobFk.leadfk.mobile"
                                            [hidden]="!ExpandedView">
                                            {{l('Mobile')}}
                                            <p-sortIcon field="mobile"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="jobFk.leadfk.email"
                                            [hidden]="!ExpandedView">
                                            {{l('Email')}}
                                            <p-sortIcon field="email"></p-sortIcon>
                                        </th>

                                        <th style="width: 180px" pSortableColumn="invoicePayDate"
                                            [hidden]="!ExpandedView">
                                            {{l('InvoicePaidDate')}}
                                            <p-sortIcon field="invoicePayDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 140px" pSortableColumn="actualPayDate"
                                            [hidden]="!ExpandedView">
                                            {{l('ActualPayDate')}}
                                            <p-sortIcon field="actualPayDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 180px" pSortableColumn="invoicePayTotal"
                                            [hidden]="!ExpandedView">
                                            {{l('InvoicePayTotal')}}
                                            <p-sortIcon field="invoicePayTotal"></p-sortIcon>
                                        </th>
                                        <th style="width: 160px" pSortableColumn="ccSurcharge" [hidden]="!ExpandedView">
                                            {{l('CCSurcharge')}}
                                            <p-sortIcon field="ccSurcharge"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="invoicePayGST"
                                            [hidden]="!ExpandedView">
                                            {{l('InvoicePayGST')}}
                                            <p-sortIcon field="invoicePayGST"></p-sortIcon>
                                        </th>

                                        <th style="width: 150px" pSortableColumn="invoicePaymentMethodId"
                                            [hidden]="!ExpandedView">
                                            {{l('PaidBy')}}
                                            <p-sortIcon field="invoicePaymentMethodPaymentMethod"></p-sortIcon>
                                        </th>
                                        <th style="width: 160px" pSortableColumn="userFK.username"
                                            [hidden]="!ExpandedView">
                                            {{l('ReceivedBy')}}
                                            <p-sortIcon field="username"></p-sortIcon>
                                        </th>
                                        <th style="width: 160px" pSortableColumn="paymentNote" [hidden]="!ExpandedView">
                                            {{l('PaymentNote')}}
                                            <p-sortIcon field="paymentNote"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" pSortableColumn="isVerified" [hidden]="!ExpandedView">
                                            {{l('IsVerified')}}
                                            <p-sortIcon field="isVerified"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" pSortableColumn="userFK.username"
                                            [hidden]="!ExpandedView">
                                            {{l('VerifiedBy')}}
                                            <p-sortIcon field="username2"></p-sortIcon>
                                        </th>
                                        <!-- <th style="width: 150px" pSortableColumn="invoicePayExGST">
                                                {{l('InvoicePayExGST')}}
                                                <p-sortIcon field="invoicePayment.invoicePayExGST"></p-sortIcon>
                                            </th> -->
                                        <th style="width: 150px" pSortableColumn="invoiceSmsSend"
                                            [hidden]="!ExpandedView">
                                            {{l('SmsSend')}}
                                            <p-sortIcon field="invoiceSmsSend"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="invoiceEmailSend"
                                            [hidden]="!ExpandedView">
                                            {{l('EmailSend')}}
                                            <p-sortIcon field="invoiceEmailSend"></p-sortIcon>
                                        </th>
                                        <th style="width:190px" [hidden]="!ExpandedView">
                                            {{l('CurrentLeadOwaner')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [ngClass]="{'leadSelection': SelectedLeadId === record.leadId}">
                                        <td class="actionwidth" style="text-align:Center"
                                            [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Verify','Pages.Tracker.InvoiceTracker.Notify','Pages.Tracker.InvoiceTracker.SMS','Pages.Tracker.InvoiceTracker.Email','Pages.Tracker.InvoiceTracker.QuickView')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Verify')"
                                                        *ngIf="record.isVerified != true">
                                                        <a href="javascript:;"
                                                            (click)="verifyInvoicePayment(record.invoicePayment)">
                                                            <img src="../../../../assets/common/images/icon_tick.svg" />
                                                            {{l('Verify')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Notify')">
                                                        <a (click)="addActivityModal.show(record.leadId,9)">
                                                            <img src="../../../assets/common/images/icon_notify.svg" />
                                                            {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.SMS')">
                                                        <a
                                                            (click)="invoicepaymentSmsEmailModel.show(record.leadId,1,6,record.invoicePayment.id)">
                                                            <img src="../../../../assets/common/images/icon_sms.svg" />
                                                            {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Email')">
                                                        <a
                                                            (click)="invoicepaymentSmsEmailModel.show(record.leadId,2,6,record.invoicePayment.id)">
                                                            <img src="../../../../assets/common/images/icon_mail.svg" />
                                                            {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li
                                                        [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.QuickView')">
                                                        <a href="javascript:;"
                                                            (click)="viewApplicationModal.show(record.invoicePayment.jobId)">
                                                            <img [src]="appRootUrl() + 'assets/common/images/icon_quickview.svg'"
                                                                alt="" />
                                                            {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <!-- <li>
                                                            <a *ngIf="permission.isGranted('Pages.InvoicePayments.Edit')" 
                                                                        [routerLink]="['/app/main/invoices/invoicePayments/createOrEdit']" [queryParams]="{id: record.invoicePayment.id}">
                                                                        <img src="../../../assets/common/images/icon_edit.svg"/> 
                                                                        {{l('Edit')}}	
                                                            </a>												
                                                        </li>
                                                        <li>
                                                            <a  href="javascript:;" *ngIf="permission.isGranted('Pages.InvoicePayments.Delete')"
                                                                (click)="deleteInvoicePayment(record.invoicePayment)">                                                        
                                                                <img src="../../../assets/common/images/icon_delete.svg"/> 
                                                                {{l('Delete')}}</a>
                                                        </li> -->
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:150px" (click)="navigateToLeadDetail(record.leadId);">
                                            <span class="ui-column-title"> {{l('invoiceNo')}}</span>
                                            {{record.jobNumber}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('Customer')}}</span>
                                            {{record.companyName}}
                                        </td>
                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('Mobile')}}</span>
                                            {{record.mobile}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView" class="lower_text">
                                            <span class="ui-column-title"> {{l('Email')}}</span>
                                            <span class="emailtext">{{record.email}}</span>
                                        </td>

                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('InvoicePayDate')}}</span>
                                            <span *ngIf="record.invoicePayment.invoicePayDate">
                                                {{record.invoicePayment.invoicePayDate | momentFormat:'DD MMM YYYY'}}
                                            </span>
                                            <span *ngIf="!record.invoicePayment.invoicePayDate">-</span>
                                        </td>
                                        <td style="width:140px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('ActualPayDate')}}</span>
                                            <span *ngIf="record.invoicePayment.actualPayDate">
                                                {{record.invoicePayment.actualPayDate | momentFormat:'DD MMM YYYY'}}
                                            </span>
                                            <span *ngIf="!record.invoicePayment.actualPayDate">-</span>
                                        </td>

                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('InvoicePayTotal')}}</span>
                                            ${{record.invoicePayment.invoicePayTotal}}
                                        </td>
                                        <td style="width:160px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('CCSurcharge')}}</span>
                                            ${{record.invoicePayment.ccSurcharge}}
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('InvoicePayGST')}}</span>
                                            ${{record.invoicePayment.invoicePayGST}}
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('PaidBy')}}</span>
                                            {{record.invoicePaymentMethodPaymentMethod}}
                                        </td>

                                        <td style="width:160px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('ReceivedBy')}}</span>
                                            {{record.userName}}
                                        </td>
                                        <td style="width:160px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('PaymentNote')}}</span>
                                            {{record.invoicePayment.paymentNote}}
                                        </td>
                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('IsVerified')}}</span>

                                            <span class="kt-badge kt-badge--success kt-badge--inline"
                                                *ngIf="record.invoicePayment.isVerified">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline"
                                                *ngIf="!record.invoicePayment.isVerified">{{'No' | localize}}</span>


                                            <!-- <div *ngIf="record.invoicePayment.isVerified" class="text-center"><i class="fa fa-check-circle kt--font-success" title="True"></i></div>
                                                        <div *ngIf="!record.invoicePayment.isVerified" class="text-center"><i class="fa fa-times-circle" title="False"></i></div> -->


                                        </td>

                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('VerifiedBy')}}</span>
                                            {{record.userName2}}
                                        </td>
                                        <!-- <td style="width:150px">
                                                <span class="ui-column-title"> {{l('ReceivedBy')}}</span>
                                                {{record.userName}}
                                            </td>
                                        
                                            <td style="width:150px">
                                                        <span class="ui-column-title"> {{l('RefundedBy')}}</span>
                                                        {{record.userName3}}
                                                    </td>
                                            <td style="width:150px">
                                                        <span class="ui-column-title"> {{l('PaymentMethod')}}</span>
                                                        {{record.invoicePaymentMethodPaymentMethod}}
                                                    </td> -->
                                        <!-- <td style="width:150px">
                                                    <span class="ui-column-title"> {{l('InvoicePayExGST')}}</span>
                                                    {{record.invoicePayment.invoicePayExGST}}
                                                </td> -->





                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('SmsSend')}}</span>
                                            <Span *ngIf="record.invoicePayment.invoiceSmsSend == 1" [tooltip]="record.invoicePayment.invoiceSmsSendDate | momentFormat:'DD-MM-YYYY
                                                HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success "> {{l("Yes")}}
                                            </Span>
                                            <Span *ngIf="record.invoicePayment.invoiceSmsSend != 1" [tooltip]="record.invoicePayment.invoiceSmsSendDate | momentFormat:'DD-MM-YYYY
                                                HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}}
                                            </Span>
                                        </td>
                                        <td style="width:190px" [hidden]="!ExpandedView">
                                            <span class="ui-column-title"> {{l('EmailSend')}}</span>
                                            <Span *ngIf="record.invoicePayment.invoiceEmailSend == 1" [tooltip]="record.invoicePayment.invoiceEmailSendDate | momentFormat:'DD-MM-YYYY
                                                HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success "> {{l("Yes")}}
                                            </Span>
                                            <Span *ngIf="record.invoicePayment.invoiceEmailSend != 1" [tooltip]="record.invoicePayment.invoiceEmailSendDate | momentFormat:'DD-MM-YYYY
                                                HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}}
                                            </Span>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.currentLeadOwaner}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getInvoicePayments($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}"
                                (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <verifyInvoiceModal #verifyInvoiceModal (modalSave)="reloadPage($event)"></verifyInvoiceModal>
        <addActivityModal #addActivityModal></addActivityModal>
        <invoicepaymentSmsEmailModel #invoicepaymentSmsEmailModel (modalSave)="getInvoicePayments()">
        </invoicepaymentSmsEmailModel>
    </div>
</div>