<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addActivityForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("VerifyInvoice")}} - {{leadCompanyName}} - {{jobNumber}} </span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group m-form__group">
                                <div class="maxwdth15">
                                    <input id="paymentDate" type="text" [(ngModel)]="paymentDate" name="paymentDatePicket"
                                        class="form-control daterangebox" placeholder="Select Date" bsDatepicker
                                        datePickerMomentModifier [(date)]="paymentDate" 
                                        [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" cols="20" rows="5" placeholder="Comment"
                                    [(ngModel)]="comment" id="comment" name="comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!addActivityForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>