﻿<div bsModal #viewModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewModel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("ViewPaymentDetail")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">

                <div class="invoice-detail-box mb-4">
                    <div class="box-block">
                        <h3>
                            <i class="las la-file-invoice-dollar"></i>
                            <div>
                                Total Cost
                                <span>
                                    ${{job.totalCost}}                                    
                                </span>
                            </div>
                        </h3>
                    </div>
                    <div class="box-block">
                        <h3 class="red">
                            <i class="las la-receipt"></i>
                            <div>
                                Customer Paid
                                <span>
                                    ${{totalInvoiceAmountPaid}}                                    
                                </span>
                            </div>
                        </h3>
                    </div>
                    <div class="box-block">
                        <h3>
                            <i class="las la-coins"></i>
                            <div>
                                Balance Owing
                                <span>
                                    ${{job.totalCost - totalInvoiceAmountPaid}}                                  
                                </span>
                            </div>
                        </h3>
                    </div>
                </div>

                <div class="jobnotebox modal-white-box">
                    <div *ngIf="count > 0">
                        <div class="secondary-grid tablebodyscroll vscrollbar">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Payby</th>
                                        <th>Paid Ammount</th>
                                        <th>SSCharge</th>
                                        <th>AllotedBy</th>
                                        <th>Receipt Number</th>
                                        <th>Purchase Number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of applicationview">
                                        <td>{{item.date | momentFormat:'DD-MM-YYYY'}}</td>
                                        <td>{{item.paymentMethodName}}</td>
                                        <td>{{item.paidAmmount}}</td>
                                        <td>{{item.ssCharge}}</td>
                                        <td>{{item.allotedBy}}</td>
                                        <td>{{item.receiptNumber}}</td>
                                        <td>{{item.purchaseNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                    <div class="row" *ngIf="count == 0">
                        <span class="text-danger">No Data Found</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary blue" (click)="close()"><i class="las la-times-circle"></i>{{l("Close")}}</button>
            </div>
        </div>
    </div>
</div>