﻿<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span *ngIf="active && leadSource.id">{{"EditLeadSource" }}</span>
                        <span *ngIf="active && !leadSource.id">{{l("CreateLeadSource")}}</span>
                    </h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <div class="kt-subheader__breadcrumbs">
                        <a [routerLink]="['/app/main/leadSources/leadSources']" class="kt-subheader__breadcrumbs-home"><i
								class="flaticon2-shelter"></i>{{l("LeadSource")}}</a>
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
                            <span *ngIf="active && leadSource.id">{{l("Edit")}}</span>
                            <span *ngIf="active && !leadSource.id">{{l("Create")}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body">


                    <div class="form-group">
                        <label for="LeadSource_Name">{{l("Name")}} *</label>
                        <input type="text" #LeadSource_Name="ngModel" id="LeadSource_Name" class="form-control" [(ngModel)]="leadSource.name" name="Name" minlength="2" maxlength="50" required />
                        <validation-messages [formCtrl]="LeadSource_Name"></validation-messages>
                    </div>

                    <br />
                    <div class="m-checkbox-list">
                        <label for="LeadSource_IsActive" class="kt-checkbox">
							<input #LeadSource_IsActive="ngModel" required id="LeadSource_IsActive" type="checkbox"
								name="IsActive" [(ngModel)]="leadSource.isActive">
							{{l("IsActive")}}
							<span></span>
						</label>
                        <validation-messages [formCtrl]="LeadSource_IsActive"></validation-messages>
                    </div>

                </div>
                <div class="kt-portlet__foot">
                    <div class="col-lg-12">
                        <button (click)="save()" class="btn btn-primary blue float-right" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
							<span>{{l("Save")}}</span>
						</button>
                        <button *ngIf="!this.leadSource.id" (click)="saveAndNew()" class="btn btn-primary blue float-right" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
							<span>{{l("SaveAndNew")}}</span>
						</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>