﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #leadSourceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off" [ngClass]="{'formvalid':leadSourceForm.form.valid}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="LeadSource.id">{{l("EditLeadSource")}}</span>
                        <span *ngIf="!LeadSource.id">{{l("CreateNewLeadSource")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label for="LeadSource_Name">{{l("Name")}} *</label>
                                    <input type="text" id="LeadSource_Name" class="form-control" [(ngModel)]="LeadSource.name" name="Name" required/>
                                    <span class="icon-box"><i class="las la-edit"></i></span>
                                </div>
                              
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label for="LeadSource_Name">{{l("Missing Percentage")}} *</label>
                                    <input type="number" id="LeadSource_MissingPer" class="form-control" [(ngModel)]="LeadSource.missingPer" name="MissingPer" required/>
                                    <span class="icon-box"><i class="las la-percentage"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <div class="jobmultipleselect selectdropdown ml-0 rt_arrow size40">
                                        <label for="LeadSource_Name">{{l("Lead Source")}} *</label>
                                        <ng-select [items]="allOrganizationUnits" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadSource" [(ngModel)]="LeadSource.organizationUnits" name="organazationId">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                        
                                    </div>
                                    <span class="icon-box"><i class="las la-sourcetree"></i></span>
                                </div>
                            </div>
                          
                            <div class="col-md-3">
                                <div class="m-checkbox-list">
                                    <label for="LeadSource_Active" class="kt-checkbox">
                                        <input id="LeadSource_Active" type="checkbox" name="LeadSourceActive" [(ngModel)]="LeadSource.isActive" required> 
                                        {{l("Active")}} *
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="m-checkbox-list">
                                    <label for="LeadSourceSalesRep_Active" class="kt-checkbox">
                                        <input id="LeadSourceSalesRep_Active" type="checkbox" name="Active" [(ngModel)]="LeadSource.isActiveSalesRep"> 
                                        {{l("ActiveSalesRep")}} *
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>





                    <!-- <div class="m-checkbox-list">
                        <label for="LeadSource_isActive" class="kt-checkbox">
                            <input type="checkbox"  id="LeadSource_isActive" name="Active" [(ngModel)]="LeadSource.isActive"> 
                            {{l("Active")}}
                        </label>
                    </div> -->

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las fa-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- [disabled]="!leadSourceForm.form.valid" -->