﻿<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("LeadSources")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">

                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getLeadSources()"></button>
                            </li>
                            <li>
                                <div class="btn-group btnexceldropdown" dropdown>
                                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <!-- <i class="far fa-file-excel"></i> -->
                                        <!-- {{"ExcelOperations" | localize}} -->
                                        Export
                                        <img src="../../../assets/common/images/icon_downarrow.svg" />

                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                        <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            <i class="las la-file-csv"></i> CSV
                                        </a>
                                        <!-- <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            PDF
                                        </a> -->
                                    </div>
                                </div>
                            </li>
                            <li><button *ngIf="isGranted('Pages.LeadSources.Create')" (click)="createOrEditLeadSourceModal.show()" class="btn btn-outline-primary btnadd">
                                    <!-- <i class="fa fa-plus"></i>  -->
                                    <!-- <img [src]="appRootUrl() + 'assets/common/images/plusicon.svg'" alt="" />   -->
                                    <!-- {{l("CreateNewLeadSource")}} -->
                                    Add
                                    <i class="las la-plus-circle"></i>
                                </button>
                            </li>
                            <li *ngIf="organizationUnitlength > 1">
                                <div class="kt-searchmainbox">
                                    <div class="kt-sdropdown tenantsearhdropdown">
                                        <div class="form-group m-form__group">

                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getLeadSources()">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>


                            </li>
                            <li>
                                <div class="kt-searchmainbox">
                                    <div class="kt-stextbox searchclearbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getLeadSources()" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getLeadSources()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getLeadSources()" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- <div class="kt-buttonarea">
                        </div> -->
                    </div>
                </div>
            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getLeadSources($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.LeadSources.Edit', 'Pages.LeadSources.Delete')">
                                            {{l('Actions')}}</th>
                                        <th pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="leadSource.name"></p-sortIcon>
                                        </th>
                                        <th>
                                            {{l('Organization')}}
                                            <!-- <p-sortIcon field="leadSource.name"></p-sortIcon> -->
                                        </th>
                                        <th style="width: 200px" class="text-center" pSortableColumn="isActive">
                                            {{l('IsActive')}}
                                            <p-sortIcon field="leadSource.isActive"></p-sortIcon>
                                        </th>
                                        <th style="width: 250px" class="text-center" pSortableColumn="isActive">
                                            {{l('IsActiveSalesRep')}}
                                            <p-sortIcon field="leadSource.isActive"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align:center; width:95px;" class="actionwidth" [hidden]="!isGrantedAny('Pages.LeadSources.Edit', 'Pages.LeadSources.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" (click)="viewLeadSourceModal.show(record)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Teams.Edit')" (click)="createOrEditLeadSourceModal.show(record.leadSource.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.LeadSources.Delete')" (click)="deleteLeadSource(record.leadSource)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>




                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.leadSource.name}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Organization')}}</span>
                                            <div class="d-flex align-items-center">
                                                <div *ngFor="let items of record.leadSource.organizationUnitsName" style="margin-right:3px;">
                                                    <span class="badge badge-pill badge-secondary amount me-1">
                                                        {{items}}
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- <span *ngFor="let item of record.leadSource.organizationUnitsName">{{ item }}</span> -->
                                            <!-- {{record.leadSource.OrganizationUnitsName}} -->
                                        </td>
                                        <td style="width:200px" class="text-center">
                                            <span class="ui-column-title"> {{l('IsActive')}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.leadSource.isActive">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.leadSource.isActive">{{'No' | localize}}</span>
                                        </td>
                                        <td style="width:250px" class="text-center">
                                            <span class="ui-column-title"> {{l('IsActiveSalesRep')}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.leadSource.isActiveSalesRep">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.leadSource.isActiveSalesRep">{{'No' | localize}}</span>
                                        </td>

                                    </tr>

                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeadSources($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>


        <createOrEditLeadSourceModal #createOrEditLeadSourceModal (modalSave)="getLeadSources()">
        </createOrEditLeadSourceModal>
        <viewLeadSourceModal #viewLeadSourceModal>
        </viewLeadSourceModal>

    </div>
</div>