.kt-login__options a {
  cursor: pointer;
  padding-right: 0.35rem;
  margin: 0 5px 0 0 !important;
}
.kt-login__options a i.fa-openidconnect {
  background: url(/assets/common/images/social/openid.png) no-repeat;
  width: 16px;
  height: 16px;
}
.kt-login__options a i.fa-wsfederation {
  background: url(/assets/common/images/social/adfs.png) no-repeat;
  width: 16px;
  height: 16px;
}
.kt-login.kt-login--v1 .kt-login__aside {
  display: none !important;
}
.kt-login__title h3 {
  color: #ffffff;
}
.kt-login__form p {
  color: #272727;
}
p.mb32 {
  margin-bottom: 70px;
}
#kt_login .kt-login__aside {
  display: none !important;
}
#kt_login .kt-login_body {
  height: 100vh;
  display: FLEX !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#kt_login .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}
#kt_login input[type="text"] {
  background: url(../../assets/common/images/icon_user.png) no-repeat left center !important;
}
.kt-login__body.forgotpasswordbox {
  background-size: contain;
  height: 100vh !important;
}
.kt-login__body.forgotpasswordbox.kt-login__btn-primary {
  margin-bottom: 0px !important;
}
.kt-login__body.forgotpasswordbox .kt-loginmainbox {
  padding: 0rem 4rem 0px;
}
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form {
  margin: 0px !important;
}
.logo .centerlogo {
  flex-direction: center;
  align-items: center;
}
.resetpassword h3 {
  color: #ffffff !important;
}
.resetpassword .kt-login__title {
  margin-bottom: 1.5rem !important;
}
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__title h3 {
  color: #ffffff !important;
}
.kt-login__form h3 {
  color: #ffffff !important;
}
.forgotpasssection {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  width: 100%;
}
.forgotpasssection .btnback {
  color: #7367f0 !important;
  margin-top: 5px;
  height: 45px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  line-height: 42px !important;
}
.forgotpasssection .btnback:hover {
  color: #7367f0 !important;
}
.forgotpasswordmain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0rem;
}
.forgotpasswordmain .kt-login__form .logo {
  top: -150px !important;
  max-width: 410px;
}
@media screen and (min-width: 1600px) {
  .forgotpasswordmain .kt-login__form .logo {
    top: -170px !important;
  }
}
@media screen and (min-width: 1800px) {
  .forgotpasswordmain .kt-login__form .logo {
    top: -180px !important;
  }
}
.forgottext {
  color: #6e6b7b !important;
}
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form.forgotform {
  margin-top: 15px !important;
}
.forgotpasswordmain {
  position: relative;
}
.forgotpasswordmain .logo {
  justify-content: center !important;
  align-items: center !important;
  width: 95% !important;
}
.forgotpasswordmain .kt-login__form {
  padding: 0rem !important;
}
.forgotpasswordmain .kt-login__signup-label.tenant-change-box {
  justify-content: center !important;
  display: flex;
  align-items: center !important;
  margin-left: 0px;
  margin-bottom: 15px !important;
}
@media screen and (min-width: 1600px) {
  .kt-login__form {
    padding: 3.5rem 2rem 2rem !important;
  }
}
.kt-login__signup-label.tenant-change-box {
  top: 37% !important;
}
@media screen and (min-width: 1400px) {
  .kt-login__signup-label.tenant-change-box {
    top: 37% !important;
  }
}
@media screen and (min-width: 1600px) {
  .kt-login__signup-label.tenant-change-box {
    top: 39% !important;
  }
}
@media screen and (min-width: 1800px) {
  .kt-login__signup-label.tenant-change-box {
    top: 39% !important;
  }
}
@media screen and (min-width: 1900px) {
  .kt-login__signup-label.tenant-change-box {
    top: 39% !important;
  }
}
