.kt-login__options {
    a {
        cursor: pointer;
        padding-right: 0.35rem;
        margin: 0 5px 0 0 !important;

        i.fa-openidconnect {
            background: url(/assets/common/images/social/openid.png) no-repeat;
            width: 16px;
            height: 16px;
        }

        i.fa-wsfederation {
            background: url(/assets/common/images/social/adfs.png) no-repeat;
            width: 16px;
            height: 16px;
        }
    }
}

.kt-login.kt-login--v1 .kt-login__aside {
    display: none !important;
}

.kt-login__title {
    h3 {
        color: #ffffff;
    }
}

.kt-login__form p {
    color: #272727;
}

p {
    &.mb32 {
        margin-bottom: 120px;
        // @media screen and (min-width:1400px) {
        //     margin-bottom: 56px!important; 
        // }
    }
}

#kt_login {
    .kt-login__aside {
        display: none !important;
    }

    .kt-login_body {
        height: 100vh;
        display: FLEX !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body {
        display: flex !important;
        justify-content: flex-end;
        align-items: center;
        height: 100vh;
    }

    input[type="text"] {
        background: url(../../assets/common/images/icon_user.png) no-repeat left center !important;
    }

}

.kt-login__body {
    &.forgotpasswordbox {
        // background: url('../../assets/common/images/progress-hd2.png') no-repeat center bottom;
        background-size: contain;
        height: 100vh !important;

        &.kt-login__btn-primary {
            margin-bottom: 0px !important;
        }

        .kt-loginmainbox {
            padding: 0rem 4rem 0px;
        }
    }
}

// .kt-login__form {max-width: 320px!important; border:0px solid #ff0000!important; width:300px!important;
//     background: rgba(0,0,0,0.5) 0% 0% no-repeat padding-box;
// background: rgba(0,0,0,0.5) 0% 0% no-repeat padding-box;
// box-shadow: 0px 0px 55px #000000A0;
// border-radius: 17px;
// opacity: 1;
// backdrop-filter: blur(50px);
// -webkit-backdrop-filter: blur(50px);
//     border-radius: 17px;
//     padding:20px;
//     opacity: 1;
//     backdrop-filter: blur(50px); float:right;
//     -webkit-backdrop-filter: blur(50px);
//     h3{color:red!important;}
//     .form-control{height:43px!important; background: #ffffff;

//     }
//     input:-internal-autofill-selected{background: #ffffff; background-color: #ffffff;}
//     .logo{
//         display:flex; justify-content: center; align-items: center; margin-top: 10px;
//     }
// }

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form {
    margin: 0px !important;
}

.logo {
    .centerlogo {
        flex-direction: center;
        align-items: center;
    }
}

.resetpassword {
    h3 {
        color: #ffffff !important
    }

    .kt-login__title {
        margin-bottom: 1.5rem !important;
    }
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__title h3 {
    color: #ffffff !important;

}

.kt-login__form h3 {
    color: #ffffff !important
}


.forgotpasssection {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // width: 180px;
    // min-width: 144px;
    padding-left: 0px;
    width: 100%;

    .btnback {
        color: #7367f0 !important;
        margin-top: 5px;
        // border-color: #ecf8ff;
        // background-color: #ecf8ff;
        height: 45px;
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 4px;
        margin-bottom: 10px;
        line-height: 42px !important;

        &:hover {
            // background-color: #1A73E8 !important;
            // border-color: #1A73E8;
            color: #7367f0 !important;
        }
    }
}

.forgotpasswordmain {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;

    .kt-login__form .logo {
        top: -150px !important;
        max-width: 410px;

        @media screen and (min-width:1600px) {
            top: -170px !important;
        }

        @media screen and (min-width:1800px) {
            top: -180px !important;
        }
    }
}

.forgottext {
    color: #6e6b7b !important;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form.forgotform {
    margin-top: 15px !important;
}

.forgotpasswordmain {
    position: relative;

    .logo {
        justify-content: center !important;
        align-items: center !important;
        width: 95% !important;
    }

    .kt-login__form {
        padding: 0rem !important;
    }

    .kt-login__signup-label.tenant-change-box {
        justify-content: center !important;
        display: flex;
        align-items: center !important;
        margin-left: 0px;
        margin-bottom: 15px !important;
    }
}

@media screen and (min-width:1600px) {
    .kt-login__form {
        padding: 3.5rem 2rem 2rem !important;
    }
}


.kt-login__signup-label.tenant-change-box {
    top: 37% !important;

    @media screen and (min-width:1400px) {
        top: 37% !important;
    }

    @media screen and (min-width:1600px) {
        top: 39% !important;
    }

    @media screen and (min-width:1800px) {
        top: 39% !important;
    }

    @media screen and (min-width:1900px) {
        top: 39% !important;
    }
}
