<div class="kt-login__body forgotpasswordbox">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 d-nonemobile">
                <div class="loginimgbox">
                    <div class="logo">
                        <a href="">
                            <img [src]="appRootUrl() + 'assets/common/images/logo_solarblue.svg'" alt="logo" height="50" />
                            <h2>{{ 'BrandName' | localize }}</h2>
                        </a>
                    </div>
                    <img src="../../assets/common/images/change-password.png" class="img-fluid loginmainimg" />
                </div>

            </div>
            <div class="col-lg-4 whiteback">
                <div class="kt-loginmainbox">
                    <div class="logo deviceshow">
                        <a href="">
                            <img [src]="appRootUrl() + 'assets/common/images/logo_solarblue.svg'" alt="logo" height="50" />
                            <h2>{{ 'BrandName' | localize }}</h2>
                        </a>
                    </div>
                    <div class="forgotpasswordmain">
                        <div class="kt-login__form resetpassword" [@routerTransition]>
                            <!-- <div  class="logo centerlogo">
                                <a href=""> 
                                    <img [src]="appRootUrl() + 'assets/common/images/logo.svg'" alt="logo" height="80" />            
                                </a>
                            </div>  -->
                            <div class="kt-login__title">
                                <h1>
                                    {{ 'ChangePassword' | localize }} 🔒
                                </h1>
                                <p>
                                    <!-- {{"PleaseEnterYourNewPassword" | localize}} -->
                                    Your new password must be different from previously used passwords
                                </p>
                            </div>
                            <form #resetPassForm="ngForm" class="kt-form" method="post" (ngSubmit)="save()">
                                <div class="form-group form-icon login-screen">
                                    <label>New Password</label>
                                    <input type="password" name="Password" class="form-control placeholder-no-fix m-input" [(ngModel)]="model.password" #Password="ngModel" placeholder="{{'Password' | localize}}" validateEqual="PasswordRepeat" reverse="true" [requireDigit]="passwordComplexitySetting.requireDigit"
                                        [requireLowercase]="passwordComplexitySetting.requireLowercase" [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                                        required style="padding-left:80px !important; background:#fff !important; border-radius:30px !important; height:60px !important;">
                                    <span class="icon-box" style="top:38px;"><i class="las la-key"></i></span>
                                </div>
                                <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine" class="form-group">
                                    <ul class="form-text text-danger" *ngIf="Password.errors">
                                        <li [hidden]="!Password.errors.requireDigit">{{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                                        <li [hidden]="!Password.errors.requireLowercase">{{"PasswordComplexity_RequireLowercase_Hint" | localize}}</li>
                                        <li [hidden]="!Password.errors.requireUppercase">{{"PasswordComplexity_RequireUppercase_Hint" | localize}}</li>
                                        <li [hidden]="!Password.errors.requireNonAlphanumeric">{{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</li>
                                        <li [hidden]="!Password.errors.requiredLength">{{"PasswordComplexity_RequiredLength_Hint" | localize:passwordComplexitySetting.requiredLength}}</li>
                                    </ul>
                                </div>

                                <div class="form-group form-icon login-screen">
                                    <label>Confirm Password</label>
                                    <input type="password" name="PasswordRepeat" class="form-control placeholder-no-fix" [ngModel]="model.passwordRepeat" #PasswordRepeat="ngModel" placeholder="{{'PasswordRepeat' | localize}}" validateEqual="Password" reverse="false" [requireDigit]="passwordComplexitySetting.requireDigit"
                                        [requireLowercase]="passwordComplexitySetting.requireLowercase" [requireUppercase]="passwordComplexitySetting.requireUppercase" [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric" [requiredLength]="passwordComplexitySetting.requiredLength"
                                        required style="padding-left:80px !important; background:#fff !important; border-radius:30px !important; height:60px !important;">
                                    <span class="icon-box" style="top:38px;"><i class="las la-key"></i></span>
                                </div>
                                <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine" class="form-group">
                                    <ul class="form-text text-danger" *ngIf="PasswordRepeat.errors">
                                        <li [hidden]="!PasswordRepeat.errors.requireDigit">{{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                                        <li [hidden]="!PasswordRepeat.errors.requireLowercase">{{"PasswordComplexity_RequireLowercase_Hint" | localize}}</li>
                                        <li [hidden]="!PasswordRepeat.errors.requireUppercase">{{"PasswordComplexity_RequireUppercase_Hint" | localize}}</li>
                                        <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">{{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</li>
                                        <li [hidden]="!PasswordRepeat.errors.requiredLength">{{"PasswordComplexity_RequiredLength_Hint" | localize:passwordComplexitySetting.requiredLength}}</li>
                                        <li [hidden]="PasswordRepeat.valid">{{"PasswordsDontMatch" | localize}}</li>
                                    </ul>
                                </div>

                                <div class="kt-login__actions">
                                    <button type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary" [disabled]="!resetPassForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                        <!-- <i class="fa fa-check"></i>  -->
                                        {{"Submit" | localize}}</button>
                                    <div class="forgotpasssection">
                                        <!-- <button [disabled]="saving" routerLink="/account/login" type="button" class="btn-elevate btnback"><i class="fa fa-arrow-left"></i> {{"Back" | localize}}</button> -->
                                        <a routerLink="/account/login" type="button" class="btn-elevate btnback"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left mb-25"><polyline points="15 18 9 12 15 6"></polyline></svg>                                            Back To Login</a>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>