﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #serviceTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="serviceTypes.id">{{l("EditServiceType")}}</span>
                        <span *ngIf="!serviceTypes.id">{{l("CreateNewServiceType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="form-group form-icon">
                            <label for="ServiceType_ServiceType">{{l("ServiceTypeName")}} *</label>
                            <input type="text" #ServiceType_ServiceType="ngModel" id="ServiceType_ServiceType" class="form-control" [(ngModel)]="serviceTypes.name" name="name" required />
                            <validation-messages [formCtrl]="ServiceType_ServiceType"></validation-messages>
                            <span class="icon-box"><i class="las la-edit"></i></span>
                        </div>

                        <div class="form-group form-icon">
                            <label>Is-Active</label>
                            <input type="checkbox"  class="form-control" [(ngModel)]="serviceTypes.isActive" name="isActive" style="width: 22px;" />
                          </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!serviceTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>