<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }

    .leadtopcouont .leftpart ul li span,
    .leadtopcouont .leftpart ul li label {
        cursor: pointer;
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("State Call History")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <!-- <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a> -->
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter"
                    [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div
                            class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh"
                                        (click)="getStateWiseCallHistory();RereshLog();"></button>
                                </li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button"
                                            class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            {{l("Import")}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations"
                                            *dropdownMenu style="margin-left:10px;">
                                            <a href="javascript:;" class="dropdown-item icon_import"
                                                style="padding:0 !important;"
                                                *ngIf="'Pages.CallHistory.StateWiseCallHistory.Import' | permission">
                                                <span class="fileinput-button">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx"
                                                        (uploadHandler)="uploadExcelEnfornicaCallDetails($event)"
                                                        (onError)="onUploadExcelErrorEnfornicaCallDetails()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                            <div class="dropdown-divider"
                                                *ngIf="'Pages.CallHistory.StateWiseCallHistory.Import' | permission">
                                            </div>
                                            <a href="/assets/sampleFiles/EnfonicaSampleFile.xlsx"
                                                class="dropdown-item btnsample"
                                                *ngIf="'Pages.CallHistory.StateWiseCallHistory.Import' | permission">
                                                <i class="las la-file-excel"></i>{{l('SampleFile')}}
                                            </a>
                                            <div class="dropdown-divider"
                                                *ngIf="'Pages.CallHistory.StateWiseCallHistory.Import' | permission">
                                            </div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton"
                                                (click)="exportToExcel(1)" href="javascript:;"
                                                *ngIf="'Pages.CallHistory.StateWiseCallHistory.Export' | permission">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton"
                                                (click)="exportToExcel(2)" href="javascript:;"
                                                *ngIf="'Pages.CallHistory.StateWiseCallHistory.Export' | permission">
                                                <i class="las la-file-excel"></i> CSV
                                            </a>

                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select name="OrganizationUnits" class="form-control"
                                                [(ngModel)]="organizationUnit" (change)="getStateWiseCallHistory();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" [(ngModel)]="stateNameFilter"
                                                name="stateNameFilter" (change)="getStateWiseCallHistory();addSearchLog('Filter State');">
                                                <option value="">{{l("SelectAState")}}</option>
                                                <option *ngFor="let item of allStates" value="{{item.displayName}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <!-- <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" [(ngModel)]="locality" name="locality" (change)="getStateWiseCallHistory($event)">
                                                <option value="">Locality</option>
                                                <option *ngFor="let item of allLocality"
                                                    value="{{item.displayName}}">{{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div> -->

                                    <div class="kt-searchmainbox">
                                        <div class="kt-stextbox" style="overflow:inherit;">
                                            <div class="form-group form-icon mb-0">
                                                <p-autoComplete id="installerIds" name="installerIds"
                                                    [suggestions]="LocalitySearchResult"
                                                    (completeMethod)="filterLocality($event)" [minLength]="1"
                                                    [placeholder]="l('Locality')" inputStyleClass="form-control"
                                                    styleClass="pl-4 w-275px" (onSelect)="selectLocality($event);addSearchLog('Filter Locality');"
                                                    field="displayName" (onClear)="selectLocality($event)"
                                                    (keydown.enter)="selectLocality($event);addSearchLog('Filter Locality');">
                                                    <ng-template let-result pTemplate="item">
                                                        <div class="result-item">
                                                            <div class="d-flex align-items-center mb-1">
                                                                {{result.displayName}}
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-autoComplete>
                                                <span class="icon-box" style="z-index:1; top:-2px; padding:0 4px;"><i
                                                        class="las la-map-marked fs-20"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox wdth250">
                                            <input type="text" class="form-control autoWidth" placeholder="Mobile"
                                                [(ngModel)]="filterText" />
                                            <a class="btnclearsearch" *ngIf="filterText"><i
                                                    class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch"
                                                (click)="getStateWiseCallHistory();addSearchLog('Filter Mobile');" />
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i
                                                    class="las la-filter"></i></a>
                                        </div>

                                        <!-- <div  *ngIf="!show" class="kt-advancefilterbox"> -->
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}"
                                            class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier
                                                                placeholder="Start Date" name="SampleDatePicker"
                                                                [(date)]="startDate"
                                                                [bsConfig]="{ customTodayClass: 'today' }"
                                                                class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate"
                                                                (click)="startDate=null"><i
                                                                    class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier
                                                                placeholder="End Date" name="SampleDatePicker"
                                                                [(date)]="endDate"
                                                                [bsConfig]="{ customTodayClass: 'today' }"
                                                                class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate"
                                                                (click)="endDate=null"><i
                                                                    class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10"
                                                                (click)="onClear()"><i
                                                                    class="fa fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53"
                                                                (click)="getStateWiseCallHistory();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search"></i> {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}"
                        class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>

        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul *ngIf="permission.isGranted('Pages.CallHistory.StateWiseCallHistory.HeaderDetail')">
                    <li><span>{{this.totalCall}}</span><label>Total</label></li>
                    <li (click)="viewModel('QLD')" style="cursor:pointer;">
                        <span>{{this.totalQLD}}</span><label>QLD</label></li>
                    <li (click)="viewModel('SA')" style="cursor:pointer;"><span>{{this.totalSA}}</span><label>SA</label>
                    </li>
                    <li (click)="viewModel('NSW')" style="cursor:pointer;">
                        <span>{{this.totalNSW}}</span><label>NSW</label></li>
                    <li (click)="viewModel('VIC')" style="cursor:pointer;">
                        <span>{{this.totalVIC}}</span><label>VIC</label></li>
                    <li (click)="viewModel('Other')" style="cursor:pointer;">
                        <span>{{this.totalOthers}}</span><label>Other</label></li>
                </ul>
                <ul *ngIf="!permission.isGranted('Pages.CallHistory.StateWiseCallHistory.HeaderDetail')">
                    <li><span>{{this.totalCall}}</span><label>Total</label></li>
                    <li style="cursor:pointer;"><span>{{this.totalQLD}}</span><label>QLD</label></li>
                    <li style="cursor:pointer;"><span>{{this.totalSA}}</span><label>SA</label></li>
                    <li style="cursor:pointer;"><span>{{this.totalNSW}}</span><label>NSW</label></li>
                    <li style="cursor:pointer;"><span>{{this.totalVIC}}</span><label>VIC</label></li>
                    <li style="cursor:pointer;"><span>{{this.totalOthers}}</span><label>Other</label></li>
                </ul>
            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool"
                            [busyIf]="primengTableHelper.isLoading"
                            [ngClass]="{'unselectable' : permission.isGranted('Pages.CallHistory.StateWiseCallHistory.EnableCopyPaste')}">
                            <p-table #dataTable (onLazyLoad)="getStateWiseCallHistory($event)" [lazyLoadOnInit]=false
                                [value]="primengTableHelper.records" selectionMode="single"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                                [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="fromLocationAdministrativeArea">State
                                            <p-sortIcon field="fromLocationAdministrativeArea"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="fromLocationLocality">Locality
                                            <p-sortIcon field="fromLocationLocality"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="CreationTime" style="text-align:center;">CreateTime
                                            <p-sortIcon field="CreationTime"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="startTime" style="text-align:center;">StartTime
                                            <p-sortIcon field="startTime"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="endTime" style="text-align:center;">EndTime
                                            <p-sortIcon field="endTime"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="answerDuration" style="text-align:center;">Answer Duration
                                            <p-sortIcon field="answerDuration"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="cost" style="text-align:center;">Cost
                                            <p-sortIcon field="cost"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td> {{record.fromLocationAdministrativeArea}}</td>
                                        <td> {{record.fromLocationLocality}}</td>
                                        <td style="text-align:center;">{{record.creationDate | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss A'}}</td>
                                        <td style="text-align:center;">{{record.startTime | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss A'}}</td>
                                        <td style="text-align:center;">{{record.endTime | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss A'}}</td>
                                        <td style="text-align:center;">{{record.answerDuration | number: '1.2'}}</td>
                                        <td style="text-align:center;">{{record.cost}}</td>
                                    </tr>
                                </ng-template>
                                <!-- <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Teams.Edit', 'Pages.Teams.Delete')">

                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.team.name}}
                                        </td>

                                    </tr>
                                </ng-template> -->
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getStateWiseCallHistory($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}}
                                    Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <statecallDetailModal #statecallDetailModal></statecallDetailModal>

    </div>
</div>

<!-- <callDetailModal #callDetailModal></callDetailModal> -->