<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div>

        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>SMS</span>
                            <span class="total-records-count">
                                ({{(primengTableHelper.totalRecordsCount)}})
                            </span>
                        </h3>
                        <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                    </div>
                    <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                        <div class="kt-subheader__wrapper">
                            <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown">
                                <ul class="hd_right">
                                    <li><button type="button" class="btn_refresh" (click)="getSmsReply();RereshLog();"></button></li>

                                    <li *ngIf="permission.isGranted('Pages.Leads.Export')">
                                        <div class="btn-group btnexceldropdown leadbtnexcel " dropdown>
                                            <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Export
                                                <img src="../../../assets/common/images/icon_downarrow.svg" />

                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                                <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                    <i class="las la-file-excel"></i> Excel
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="javascript:;">
                                                    <i class="las la-file-csv"></i> CSV
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li *ngIf="organizationUnitlength > 1">
                                        <div class="kt-sdropdown">
                                            <div class="form-group selectdropdown m-form__group">
                                                <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getSmsReply();addSearchLog('Filter Organization');">
                                                    <option *ngFor="let item of allOrganizationUnits"
                                                        value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group selectdropdown m-form__group">
                                                <select name="markstatusid" class="form-control" [(ngModel)]="markstatusid" (change)="getSmsReply();addSearchLog('Filter IsRead');">
                                                    <option value=0>{{l("All")}}</option>
                                                    <option value="1">{{l("Read")}}</option>
                                                    <option value="2">{{l("UnRead")}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group  selectdropdown m-form__group">
                                                <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                    <option value="MobileNo">Mobile No</option>
                                                    <option value="Phone">Phone</option>
                                                    <option value="CompanyName">Company Name</option>
                                                    <option value="Email">Email</option>
                                                    <option value="JobNumber">JobNumber</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-searchmainbox searchclearbox">
                                            <div class="kt-stextbox wdth250">
                                                <!-- <input [(ngModel)]="filter" name="filter" autoFocus class="form-control m-input" placeholder="{{filterName}}" type="text">
                                                <a class="btnclearsearch" *ngIf="filter" (click)="filter='';getSmsReply()"><i class="fas fa-times-circle"></i></a>
                                                <button (click)="getSmsReply()" class="btnsearch" type="submit"><i
                                                        class="flaticon-search-1"></i></button> -->
                                                        <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                                        <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filter" (keydown.enter)="getSmsReply();addSearchLog('Filter' + filterName +  ' : ' + filter);" name="filter"/>
                                                        <a class="btnclearsearch" *ngIf="filter" (click)="filter='';getSmsReply()"><i class="fas fa-times-circle"></i></a>
                                                        <button (click)="getSmsReply();addSearchLog('Filter' + filterName +  ' : ' + filter);" class="btnsearch" type="submit">
                                                        <i class="flaticon-search-1"></i></button>
                                            </div>

                                            <div class="kt-advfilterbox">
                                                <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                    <i class="las la-sliders-h"></i>
                                                </button>
                                            </div>

                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blue-filter-box" style="width:100%;" [hidden]="!FiltersData">
                <div class="d-flex align-items-center justify-content-end" style="width:100%;">
                    <select name="readunreadsmstag" [(ngModel)]="readunreadsmstag" class="form-control mr-3">
                            <option value="0" selected>All</option>
                            <option value="1">{{l("Read")}}</option>
                            <option value="2">{{l("Unread")}}</option>
                        </select>

                    <button (click)="submit()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary btn-sm">
                            Submit
                        </button>
                </div>
            </div>


            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
                <div class="kt-portlet kt-portlet--mobile boxshownone">
                    <div class="kt-portlet__body padzero">
                        <div class="row leaddata_row" [ngClass]="{'unselectable': ('Pages.Sms.EnableCopyPaste' | permission)}">
                            <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView ===
                            false,  'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                                <!-- Left Starts -->
                                <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow" (click)="expandGrid()"><a class="icon_expan"></a></button>
                                <!-- <button class="btn btn-outline-primary btnadd btnback" (click)="expandGrid()"><i class="fas fa-angle-right fs-18 pr-0"></i></button> -->
                                <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getSmsReply($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                    [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                    <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getSmsReply($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                    <ng-template pTemplate="header">
                                        <tr class="th_sms_area">
                                            <th style="width:250px;">Company Name</th>
                                            <th style="width:250px;" [hidden]="!ExpandedView">User Name</th>
                                            <th [hidden]="!ExpandedView">Last Responce</th>
                                            <th style="width:250px" [hidden]="!ExpandedView">Date & Time</th>
                                            <th style="width:45px; text-align:center;" [hidden]="!ExpandedView">
                                                <label for="lead_id" class="kt-checkbox">
                                                    <input type="checkbox" id="lead_id" name="all"
                                                        [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                    <span></span>
                                                </label>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr [pSelectableRow]="record" class="td_sms_area">
                                            <td style="width:250px;">
                                                <div class="d-flex align-items-center">
                                                    <span class="verified blue mr-2" (click)="shouldShow = !shouldShow;getOldSmsReply(record.id, record.leadId);">
                                                        <i class="las la-comments fs-20"></i></span>
                                                    <span >{{record.leadCompanyName}}</span>
                                                    <!-- <span (click)="navigateToLeadDetail(record.leadId);">{{record.leadCompanyName}}</span> -->
                                                </div>
                                            </td>
                                            <td style="width:250px;" [hidden]="!ExpandedView">
                                                <span class="d-flex align-items-center badge badge-secondary fs-14" style="width:110px; justify-content: center;"><i class="las la-user-tie fs-22 mr-1"></i>{{record.userName}}</span>
                                            </td>
                                            <td [hidden]="!ExpandedView">
                                                <div class="d-flex align-items-center"><i class="las la-comments fs-22 mr-2"></i>{{record.responceBody}}</div>
                                            </td>
                                            <td style="width:250px" [hidden]="!ExpandedView">
                                                <div class="d-flex align-items-center"><i class="las la-calendar fs-22 mr-2"></i>{{record.responceCreationTime|momentFormat:'DD-MM-YYYY HH:mm:ss'}}</div>
                                            </td>
                                            <td style="width:45px; text-align:center;" [hidden]="!ExpandedView">
                                                <div class="kt-checkbox-list">
                                                    <label for="{{record.id}}" class="kt-checkbox">
                                                        <input type="checkbox" id="{{record.id}}" name="recordSource" [(ngModel)]="record.isSelected" />
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getSmsReply($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <!-- <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span> -->
                                    <span class="total-records-count">
                                        showing {{firstrowcount}}
                                        To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                                <!-- Left Ends -->

                            </div>
                            <div [hidden]="LeadExpandedView === true" class="leadedetailleftpart">
                                <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail>
                            </div>
                            <!-- Right Starts -->
                            <div class="leadedetailleftpart gray-bg" [hidden]="SMSExpandedView">
                                <div class="email_section_area flex_none brdnone postion_reletive overflowvisible">
                                    <div class="primeng-datatable-container myleadtable" [busyIf]="primengTableHelper.isLoading">
                                        <div class="sms_detail_new" [ngClass]="{show: shouldShow, hide: !shouldShow}">
                                            <div class="detail_section">
                                                <div class="select_all_area email_detail_head darker">
                                                    <div class="left_div">
                                                        <div class="email_header_left">
                                                            <!-- <button class="btn btn-outliner go-back" (click)="shouldShow = !shouldShow">
                                                                <i class="las la-angle-left"></i>
                                                            </button> -->
                                                            <div class="d-flex align-items-center">
                                                                <h4 class="email-subject mb-0 d-flex align-items-center"><i class="las la-sms mr-2"></i>SMS</h4>
                                                                <!-- {{item.jobNumber}} -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="email_detail_area">
                                                    <div class="email_content">
                                                        <div *ngIf="datalenght > 0">
                                                            <div class="box_new1 list-view" *ngFor="let item of olddataresult">
                                                                <main class="msger-chat">
                                                                    <div class="msg right-msg">
                                                                        <div class="msg-img">{{item.userName}}</div>

                                                                        <div class="msg-bubble">
                                                                            <div class="msg-info">
                                                                                <div class="msg-info-name">{{item.userName}}</div>
                                                                                <div class="msg-info-time">{{item.creationTime|momentFormat:'DD-MM-YYYY hh:mm A'}}</div>
                                                                            </div>
                                                                            <div class="msg-text">
                                                                                {{item.body}}
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="msg left-msg">
                                                                        <div class="msg-img">{{item.leadCompanyName}}</div>

                                                                        <div class="msg-bubble">
                                                                            <div class="msg-info">
                                                                                <div class="msg-info-name">{{item.leadCompanyName}}</div>
                                                                                <div class="msg-info-time">{{item.responceCreationTime|momentFormat:'DD-MM-YYYY hh:mm A'}}</div>
                                                                            </div>
                                                                            <div class="msg-text">
                                                                                {{item.responceBody}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </main>


                                                                <!-- <div class="hd_div">
                                                                    <div class="person_box">
                                                                        <div class="box_img"><img src="https://pixinvent.com/demo/vuexy-angular-admin-dashboard-template/demo-1/assets/images/avatars/6.png" alt="" /></div>
                                                                        <h2 class="mb-0">{{item.leadCompanyName}}<span>{{item.userName}}</span></h2>
                                                                    </div>
                                                                    <div class="date_box">
                                                                        <span>{{item.responceCreationTime|momentFormat:'DD-MM-YYYYHH:mm:ss'}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="content_div">
                                                                    <div class="name mb-3">
                                                                        <span><b>Send Sms ( {{item.creationTime|momentFormat:'DD-MM-YYYYHH:mm'}} ) : </b></span> {{item.body}}
                                                                    </div>
                                                                    <p>
                                                                        <span><span><b>Responce ( {{item.responceCreationTime|momentFormat:'DD-MM-YYYYHH:mm'}} ) : </b></span>{{item.responceBody}}</span>
                                                                    </p>
                                                                </div> -->
                                                            </div>
                                                        </div>
                                                        <div *ngIf="datalenght == 0">
                                                            No Data
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                                <a class="icon_expan"></a>
                                            </button>


                                    </div>
                                </div>
                            </div>
                            <!-- Right Ends -->

                        </div>


                    </div>
                </div>
            </div>
        </div>

        <viewsmsreposnceBodymodel #viewsmsreposnceBodymodel></viewsmsreposnceBodymodel>
    </div>
</div>