<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
    
    bs-daterangepicker-container {
        left: -180px !important;
    }
    
    body.kt-aside--minimize bs-daterangepicker-container {
        left: -180px !important;
    }

    .gridcircle {
        width: 23px;
        height: 23px;
        line-height: 24px;
        border-radius: 40%;
        font-size: 15px;
        color: #fff;
        text-align: center;
        background: #6610f2;
        font-weight: 700;
    }


    .kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox .kt-advancefilterbox .advfilterform .pi ul li {
        width: 100%;
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("JobCost")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getJobs();RereshLog();" class="btn_refresh"></button>
                                </li>
                                <li *ngIf="'Pages.Report.JobCost.Export' | permission">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.Report.JobCost.Export' | permission">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getJobs();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="cost" class="form-control" [(ngModel)]="cost" (change)="getJobs();addSearchLog('Filter Cost');">
                                                <option value="">Cost</option>
                                                <option value="1">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="category" class="form-control" [(ngModel)]="category" (change)="getJobs();addSearchLog('Filter Category');">
                                                <option value="">Category</option>
                                                <option value="A">A</option>
                                                <option value="B">B</option>
                                                <option value="C">C</option>
                                                <option value="D">D</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder=" Job Status" [(ngModel)]="jobStatus" name="jobStatus">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox wdth250">
                                            <input type="text" class="form-control autoWidth" placeholder="JobNumber" [(ngModel)]="filterText" (keydown.enter)="getJobs();addSearchLog('Filter JobNumber');" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getJobs();"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getJobs()" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" *ngIf="!FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                            <button class="btnadvfilter" *ngIf="FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox" style="overflow: visible;">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" id="areaNameFilter" name="areaNameFilter" [(ngModel)]="areaNameFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value="">Select Area</option>
                                                                    <option value="Metro">Metro</option>
                                                                    <option value="Regional">Regional</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="systemWithFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="systemWithFilter">
                                                                    <option value="0">Select System With</option>
                                                                    <option value="1">With Battery</option>
                                                                    <option value="2">Without Battery</option>
                                                                    <option value="3">Only Battery</option>
                                                                    <option value="4">Only Inverter</option>
                                                                    <option value="5">Only Battery and Inverter</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" [(ngModel)]="stateFilter" name="stateFilter">
                                                                    <option value="">{{l("Select State")}}</option>
                                                                    <option *ngFor="let item of allStates" value="{{item.displayName}}">{{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" [(ngModel)]="installationFilter" name="installationFilter">
                                                                    <option value="">Installation Invoice</option>
                                                                    <option value="1">Yes</option>
                                                                    <option value="2">No</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" pattern="[0-9]*" class="form-control" placeholder="Start System Capacity" [(ngModel)]="startSysCapRangeFilter" name="startSysCapRangeFilter"
                                                                Id="startSysCapRangeFilter" (keydown.enter)="getJobs();addSearchLog('Filter JobNumber');" />
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" pattern="[0-9]*" class="form-control" placeholder="End System Capacity" [(ngModel)]="endSysCapRangeFilter" name="endSysCapRangeFilter"
                                                                id="endSysCapRangeFilter" (keydown.enter)="getJobs();addSearchLog('Filter JobNumber');" />
                                                            </div>
                                                        </li>

                                                        <li style="width: 100%;">
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="productItemName" id="productItemName" name="productItemName" #productItem="ngModel" [suggestions]="productItemSuggestions" 
                                                                (completeMethod)="filterProductIteams($event)" (onSelect)="selectProductItem($event)" (onClear)="onClearProductItem()" placeholder="Search Product Item" [minLength]="5"
                                                                 inputStyleClass="form-control" styleClass="width-percent-100 pi">
                                                                    <ng-template let-result pTemplate="item">
                                                                        <div class="result-item">
                                                                            {{ result.displayName }}
                                                                        </div>
                                                                    </ng-template>
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="curruntDateFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="curruntDateFilter">
                                                                    <option value="">Select</option>
                                                                    <option value="CurruntDate">Currunt Date</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="jobDateFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="jobDateFilter">
                                                                    <option value="CreationDate">{{l("ProjectOpen")}}</option>
                                                                    <option value="FirstDeposite">{{l("FirstDepositeDate")}}</option>
                                                                    <option value="DepositeReceived">{{l("DepositeReceivedDate")}}</option>
                                                                    <option value="Active">{{l("ActiveDate")}}</option>
                                                                    <option value="InstallBook">{{l("InstallBookDate")}}</option>
                                                                    <option value="InstallComplete">{{l("InstallCompleteDate")}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10" (click)="clear()"><i class="fa fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getJobs();addSearchLog('Advanced Filter');"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>

        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{ summary.noOfPanels }}</span><label>Total No Of Panels</label></li>
                    <li><span>{{ summary.pricePerKw | number: '1.2-2' }}</span><label>{{l("Price/KW")}}</label></li>
                    <li><span>{{ summary.megaWatt | number: '1.2-4' }}</span><label>MegaWatt</label></li>
                </ul>
            </div>
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{ summary.systemCapacity | number: '1.2-2' }}</span><label>System Capacity</label></li>
                    <li><span>{{ summary.batteryKw | number: '1.2-2' }}</span><label>Battery Kw</label></li>
                    <li><span>{{ summary.panelCost | number: '1.2-2' }}</span><label>Panel Cost</label></li>
                    <li><span>{{ summary.inverterCost | number: '1.2-2' }}</span><label>Inverter Cost</label></li>
                    <li><span>{{ summary.batteryCost | number: '1.2-2' }}</span><label>Battery Cost</label></li>
                    <li><span>{{ summary.installationCost | number: '1.2-2' }}</span><label>Installation Cost</label></li>
                    <li><span>{{ summary.batteryInstallation | number: '1.2-2' }}</span><label>Battery Installation</label></li>
                    <li><span>{{ summary.racking | number: '1.2-2' }}</span><label>Racking</label></li>
                    <li><span>{{ summary.accessories | number: '1.2-2' }}</span><label>Accessories</label></li>
                    <li><span>{{ summary.adCost | number: '1.2-2' }}</span><label>Ad Cost</label></li>
                    <li><span>{{ summary.fixedExpense | number: '1.2-2' }}</span><label>Fixed Expense</label></li>
                    <li><span>{{ summary.extraInsCost | number: '1.2-2' }}</span><label>Extra Ins Cost</label></li>
                    <li><span>{{ summary.financeCost | number: '1.2-2' }}</span><label>Finance Cost</label></li>
                    <li><span>{{ summary.totalCost | number: '1.2-2' }}</span><label>Total Cost</label></li>
                    <li><span>{{ summary.stcRebate | number: '1.2-2' }}</span><label>STC Rebate</label></li>
                    <li><span>{{ summary.costAfteRebate | number: '1.2-2' }}</span><label>Cost After STC Rebate</label></li>
                    <li><span>{{ summary.sellPrice | number: '1.2-2' }}</span><label>Sell Price</label></li>
                    <li><span>{{ summary.np | number: '1.2-2' }}</span><label>NP</label></li>
                    <li><span>{{ summary.npPercentage | number: '1.2-2' }}</span><label>NP%</label></li>
                    <li><span>{{ summary.gp | number: '1.2-2' }}</span><label>GP</label></li>
                    <li><span>{{ summary.nP_SysCap | number: '1.2-2' }}</span><label>NP/SysCap</label></li>
                </ul>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass]="{'unselectable' : permission.isGranted('Pages.Report.JobCost.EnableCopyPaste')}">
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center p-frozen-column" style="width:95px;" alignFrozen="left">
                                            {{l('Actions')}}
                                        </th>
                                        <th style="width:110px; left:95px !important;" pSortableColumn="jobnumber" class="p-frozen-column">
                                            {{l('JobNumber')}}
                                            <p-sortIcon field="JobNumber"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="State" [hidden]="!ExpandedView" style="width:90px;">
                                            {{l('State')}}
                                            <p-sortIcon field="State"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="PostCode" [hidden]="!ExpandedView" style="width:90px;">
                                            {{l('PostCode')}}
                                            <p-sortIcon field="PostCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="AreaName" [hidden]="!ExpandedView" style="width:90px;">
                                            {{l('Area')}}
                                            <p-sortIcon field="AreaName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Team" [hidden]="!ExpandedView" style="width:100px;">
                                            Team
                                            <p-sortIcon field="Team"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="SalesRep" [hidden]="!ExpandedView" style="width:120px;">
                                            Sales Rep
                                            <p-sortIcon field="SalesRep"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="PanelSize" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Panel Size
                                            <p-sortIcon field="PanelSize"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="NoOfPanel" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            No Of Panel
                                            <p-sortIcon field="NoOfPanel"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="PricePerKw" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Price/Kw
                                            <p-sortIcon field="PricePerKw"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="SystemCapacity" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            System Kw
                                            <p-sortIcon field="SystemCapacity"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="BatteryKw" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Battery KW
                                            <p-sortIcon field="BatteryKw"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="PanelCost" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Panel Cost
                                            <p-sortIcon field="PanelCost"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="InverterCost" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Inverter Cost
                                            <p-sortIcon field="InverterCost"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="BatteryCost" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Battery Cost
                                            <p-sortIcon field="BatteryCost"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="InstallationCost" [hidden]="!ExpandedView" style="width:150px;text-align: center;">
                                            Installation Cost
                                            <p-sortIcon field="InstallationCost"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="BatteryInstallation" [hidden]="!ExpandedView" style="width:150px;text-align: center;">
                                            Battery Installation
                                            <p-sortIcon field="BatteryInstallation"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Racking" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Racking
                                            <p-sortIcon field="Racking"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Accessories" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Accessories
                                            <p-sortIcon field="Accessories"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="AdCost" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Ad Cost
                                            <p-sortIcon field="AdCost"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="FixedExpense" [hidden]="!ExpandedView" style="width:115px;text-align: center;">
                                            Fixed Expense
                                            <p-sortIcon field="FixedExpense"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="ExtraInsCost" [hidden]="!ExpandedView" style="width:115px;text-align: center;">
                                            Extra Ins Cost
                                            <p-sortIcon field="ExtraInsCost"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="FinanceCost" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Finance Cost
                                            <p-sortIcon field="FinanceCost"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="TotalCost" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Total Cost
                                            <p-sortIcon field="TotalCost"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="STCRebate" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            STC Rebate
                                            <p-sortIcon field="STCRebate"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="CostAfteRebate" [hidden]="!ExpandedView" style="width:160px;text-align: center;">
                                            Cost Afte STC Rebate
                                            <p-sortIcon field="CostAfteRebate"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="SellPrice" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Sell Price
                                            <p-sortIcon field="SellPrice"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="NP" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            NP
                                            <p-sortIcon field="NP"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="NPPercentage" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            NP%
                                            <p-sortIcon field="NPPercentage"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="GP" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            GP
                                            <p-sortIcon field="GP"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="NP_SysCap" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            NP/SysCap
                                            <p-sortIcon field="NP_SysCap"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Category" [hidden]="!ExpandedView" style="width:110px;text-align: center;">
                                            Category
                                            <p-sortIcon field="Category"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.id}">
                                        <td class="actionwidth p-frozen-column" style="text-align: center; width:95px;">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Report.JobCost.QuickView')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.id,0,'Job Cost Report')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:110px; left:95px !important;" class="p-frozen-column">
                                            {{record.jobNumber}}
                                        </td>
                                        <td style="width:90px;">
                                            {{record.state}}
                                        </td>
                                        <td style="width:90px;">
                                            {{record.postCode}}
                                        </td>
                                        <td style="width:90px;">
                                            {{record.areaName}}
                                        </td>
                                        <td style="width:100px;">
                                            {{record.team}}
                                        </td>
                                        <td style="width:120px;">
                                            {{record.salesRep}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.panelSize}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.noOfPanel}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.pricePerKw | number: '1.2-2' }}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.systemCapacity | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.batteryKw | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            <span (click)="createOrEditInstallationModal.showJobCost(1, record.panelCost, record.id, jobDateFilter);">
                                                {{record.panelCost | number: '1.2-2'}}
                                            </span>
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            <span (click)="createOrEditInstallationModal.showJobCost(2, record.inverterCost, record.id, jobDateFilter);">
                                                {{record.inverterCost | number: '1.2-2'}}
                                            </span>
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            <span (click)="createOrEditInstallationModal.showJobCost(5, record.batteryCost, record.id, jobDateFilter);">
                                                {{record.batteryCost | number: '1.2-2'}}
                                            </span>
                                        </td>
                                        <td style="width:150px;text-align: center;">
                                            <div style="display: inline-flex;">
                                                <span (click)="createOrEditCostModal.showJobCost(record.installationCost, record.id, record.postCode, jobDateFilter)">
                                                    {{record.installationCost | number: '1.2-2'}} 
                                                </span>&nbsp;&nbsp;
                                                <span *ngIf="record.installationCost > 0" class="gridcircle">
                                                    {{record.installationCostType}}
                                                </span>
                                            </div>
                                        </td>
                                        <td style="width:150px;text-align: center;">
                                            {{record.batteryInstallation | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.racking | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.accessories | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.adCost | number: '1.2-2'}}
                                        </td>
                                        <td style="width:115px;text-align: center;">
                                            {{record.fixedExpense | number: '1.2-2'}}
                                        </td>
                                        <td style="width:115px;text-align: center;">
                                            {{record.extraInsCost | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.financeCost | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.totalCost | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.stcRebate | number: '1.2-2'}}
                                        </td>
                                        <td style="width:160px;text-align: center;">
                                            {{record.costAfteRebate | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.sellPrice | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.np | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.npPercentage | number: '1.2-2'}}%
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.gp | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.nP_SysCap | number: '1.2-2'}}
                                        </td>
                                        <td style="width:110px;text-align: center;">
                                            {{record.category}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getJobs($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="[25, 50, 100, 500, 5000, 10000]">
                                </p-paginator>
                                <span class="total-records-count">
                                    Showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <!-- <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
        <jobNotesModal #jobNotesModal (modalSave)="reloadPage($event)"></jobNotesModal>
        <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal>
        <jobgridTrackerSmsEmailModal #jobgridTrackerSmsEmailModal (modalSave)="getJobs()"></jobgridTrackerSmsEmailModal> -->
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <createOrEditPostCodeWiseCostModal #createOrEditCostModal (modalSave)="getJobs()"></createOrEditPostCodeWiseCostModal>
        <createOrEditInstallationModal #createOrEditInstallationModal (modalSave)="getJobs()"></createOrEditInstallationModal>
    </div>
</div>