<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #wholesaletransportTyprform="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="id">{{l("Edit Specification")}}</span>
                        <span *ngIf="!id">{{l("Create Specification")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <div class="jobmultipleselect selectdropdown" style="margin-left:0 !important;">
                                        <label for="Product Type">{{l("Product Type")}} *</label>
                                        <ng-select [items]="productType" [multiple]="true" [closeOnSelect]="false" bindLabel="displayName"
                                        placeholder="Select Product Types" [(ngModel)]="selectedProductTypes" name="productType">
                                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                        </ng-template>
                                       </ng-select>
                                     
                                        <span class="icon-box"><i class="las la-file"></i></span>
                                    </div>
                                </div>
                            </div>
                            


                           
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="Name">{{l("Name")}} *</label>
                                    <input type="text" id="Name" class="form-control" [(ngModel)]="ecommercespecification.name" name="Name" required/>
                                    <span class="icon-box" ><i class="las la-edit"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="IsActive">{{l("IsActive")}} *</label>
                                    <input type="checkbox" id="IsActive" class="form-control" [(ngModel)]="ecommercespecification.isActive" name="IsActive" style="width: 22px;" />
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!wholesaletransportTyprform.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>