<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #depositReceivedForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="checkDepositReceived.id">{{l("EditCheckDepositReceived")}}</span>
                        <span *ngIf="!checkDepositReceived.id">{{l("CreateCheckDepositReceived")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group form-icon">
                                    <label for="Name">{{l("Name")}} *</label>
                                    <input type="text" id="Name" class="form-control" [(ngModel)]="checkDepositReceived.name" name="Name"  [disabled]="checkDepositReceived.id ? true : false" minlength="1" maxlength="200" required/>
                                    <span class="icon-box" ><i class="las la-edit"></i></span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="Name">&nbsp;</label>
                                    <div class="m-checkbox-list" style="padding-top:10px;">
                                        <label for="Active" class="kt-checkbox" >
                                            <input id="Active" style="padding-top:10px;" type="checkbox" name="Active" [(ngModel)]="checkDepositReceived.isActive" > 
                                            {{l("Active")}} *
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn  btn-secondary" (click)="close()">{{l("Close")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!depositReceivedForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>