﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #productTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="productType.id">Edit Product Type</span>
                        <span *ngIf="!productType.id">Create New Product Type</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="ProductType_Name">{{l("Name")}} *</label>
                                    <input type="text" id="ProductType_Name" class="form-control" [(ngModel)]="productType.name" name="Name" minlength="3" maxlength="200" required/>
                                    <span class="icon-box"><i class="lab la-product-hunt"></i></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ECommerceSlider_Name">{{l("Image")}} *</label>
                                    <div class="flexbloxbutton fileuploadbtn">
                                        <div class="form-group marginbtm0">
                                            <div class="white-file-upload">
                                                <input name="f1" type="file" style="width: 232px; font-size:1rem" (change)="fileChangeEvent($event)" [(ngModel)]="selectedFile" required/>
                                                <a (click)="downloadfile(productType.imgPath)" *ngIf="productType.imgPath">
                                                    <i class="las la-file-pdf"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label>Is-Active</label>
                                    <input type="checkbox"  class="form-control" [(ngModel)]="productType.isActive" name="isActive" style="width: 22px;" />
                                  </div>
                            </div> -->

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!productTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>