<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
    
    bs-daterangepicker-container {
        left: -180px !important;
    }
    
    body.kt-aside--minimize bs-daterangepicker-container {
        left: -180px !important;
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("EmpJobCost")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getJobs();RereshLog();" class="btn_refresh"></button>
                                </li>
                                <li *ngIf="'Pages.Report.EmpJobCost.Export' | permission">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.Report.EmpJobCost.Export' | permission">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="selectOrganizationUnit();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown">
                                        <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder=" Job Status" [(ngModel)]="jobStatus" name="jobStatus">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox" style="overflow:inherit;">
                                            <div class="form-group form-icon mb-0">
                                                <p-autoComplete id="salesRap" name="salesRap" [suggestions]="salesRapSearchResult" (completeMethod)="filterSalesRap($event)" [minLength]="1" [placeholder]="l('SelectSalesRap')" inputStyleClass="form-control" styleClass="" (onSelect)="selectSalesRap($event)"
                                                    field="displayName" (onClear)="selectSalesRap($event)" (keydown.enter)="selectSalesRap($event)">
                                                    <ng-template let-result pTemplate="item">
                                                        <div class="result-item">
                                                            <div class="d-flex align-items-center mb-1">
                                                                <i class="las la-user-cog fs-16 mr-1"></i> {{result.displayName}}
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-autoComplete>

                                                <!-- <span class="icon-box" style="z-index:1; top:-2px; padding:0 4px;"><i class="las la-user-cog fs-20"></i></span> -->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox wdth250">
                                            <input type="text" class="form-control autoWidth" placeholder="JobNumber" [(ngModel)]="filterText" (keydown.enter)="getJobs();addSearchLog('Filter JobNumber');" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getJobs();"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getJobs();addSearchLog('Filter JobNumber');" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <!-- <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" *ngIf="!FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                            <button class="btnadvfilter" *ngIf="FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div> -->

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <!-- <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" id="areaNameFilter" name="areaNameFilter" [(ngModel)]="areaNameFilter" (keydown.enter)="getJobs($event)">
                                                                    <option value="">Select Area</option>
                                                                    <option value="Metro">Metro</option>
                                                                    <option value="Regional">Regional</option>
                                                                </select>
                                                            </div>
                                                        </li> -->

                                                        <li style="width:100%;">
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="jobDateFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="jobDateFilter">
                                                                    <option value="CreationDate">{{l("ProjectOpen")}}</option>
                                                                    <option value="FirstDeposite">{{l("FirstDepositeDate")}}</option>
                                                                    <option value="DepositeReceived">{{l("DepositeReceivedDate")}}</option>
                                                                    <option value="Active">{{l("ActiveDate")}}</option>
                                                                    <option value="InstallBook">{{l("InstallBookDate")}}</option>
                                                                    <option value="InstallComplete">{{l("InstallCompleteDate")}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10" (click)="clear()"><i class="fa fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getJobs();addSearchLog('Advanced Filter');"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>

        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{totalProfit | number:'1.2-2' }}</span><label>{{l("TotalProfit" )}}</label></li>
                    <li><span>{{totalLoss | number:'1.2-2' }}</span><label>{{l("TotalLoss" )}}</label></li>
                    <li><span>{{totalProfit-totalLoss | number:'1.2-2' }}</span><label>{{l("TotalNet" )}}</label></li>

                </ul>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass]="{'unselectable' : permission.isGranted('Pages.Report.EmpJobCost.EnableCopyPaste')}">
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center p-frozen-column" style="width:95px;" alignFrozen="left">
                                            {{l('Actions')}}
                                        </th>
                                        <th style="width:110px; left:95px !important;" pSortableColumn="jobnumber" class="p-frozen-column">
                                            {{l('JobNumber')}}
                                            <p-sortIcon field="JobNumber"></p-sortIcon>
                                        </th>
                                        <th style="width:120px;" pSortableColumn="salesRep" class="p-frozen-column">
                                            {{l('SalesRap')}}
                                            <p-sortIcon field="SalesRap"></p-sortIcon>
                                        </th>
                                        <th style="width:90px;" pSortableColumn="state" class="p-frozen-column">
                                            {{l('State')}}
                                            <p-sortIcon field="State"></p-sortIcon>
                                        </th>
                                        <th style="width:90px;" pSortableColumn="areaName" class="p-frozen-column">
                                            {{l('Area')}}
                                            <p-sortIcon field="Area"></p-sortIcon>
                                        </th>
                                        
                                        <th style="width:100px;" pSortableColumn="panelSize" class="p-frozen-column">
                                            {{l('Panel Size')}}
                                            <p-sortIcon field="PanelSize"></p-sortIcon>
                                        </th>
                                        <th style="width:100px;" pSortableColumn="noOfPanel" class="p-frozen-column">
                                            {{l(' No Of Panel')}}
                                            <p-sortIcon field="noOfPanel"></p-sortIcon>
                                        </th>
                                        <th style="width:100px;" pSortableColumn="systemCapacity" class="p-frozen-column">
                                            {{l('System Kw')}}
                                            <p-sortIcon field="systemCapacity"></p-sortIcon>
                                        </th>
                                        <th style="width:100px;" pSortableColumn="totalCost" class="p-frozen-column">
                                            {{l('Total Cost')}}
                                            <p-sortIcon field="totalCost"></p-sortIcon>
                                        </th>
                                        <th style="width:100px;" pSortableColumn="stcRebate" class="p-frozen-column">
                                            {{l('STC Rebate')}}
                                            <p-sortIcon field="stcRebate"></p-sortIcon>
                                        </th>
                                        <th style="width:150px;" pSortableColumn="costAfteRebate" class="p-frozen-column">
                                            {{l('Cost Afte STC Rebate')}}
                                            <p-sortIcon field="costAfteRebate"></p-sortIcon>
                                        </th>
                                        <th style="width:100px;" pSortableColumn="sellPrice" class="p-frozen-column">
                                            {{l('Sell Price')}}
                                            <p-sortIcon field="sellPrice"></p-sortIcon>
                                        </th>
                                        <th style="width:100px;" pSortableColumn="NP" class="p-frozen-column">
                                            {{l('NP')}}
                                            <p-sortIcon field="NP"></p-sortIcon>
                                        </th>
                                        
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.id}">
                                        <td class="actionwidth p-frozen-column" style="text-align: center; width:95px;">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Report.EmpJobCost.QuickView')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.id,0,'Employee Job Cost Report')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:110px; left:95px !important;" class="p-frozen-column">
                                            {{record.jobNumber}}
                                        </td>
                                        <td style="width:120px;">
                                            {{record.salesRep}}
                                        </td>
                                        <td style="width:90px;">
                                            {{record.state}}
                                        </td>
                                        <td style="width:90px;">
                                            {{record.areaName}}
                                        </td>

                                        <td style="width:100px;text-align: center;">
                                            {{record.panelSize}}
                                        </td>
                                        <td style="width:100px;text-align: center;">
                                            {{record.noOfPanel}}
                                        </td>
                                        <td style="width:100px;text-align: center;">
                                            {{record.systemCapacity | number: '1.2-2'}}
                                        </td>

                                        <td style="width:100px;text-align: center;">
                                            {{record.totalCost | number: '1.2-2'}}
                                        </td>
                                        <td style="width:100px;text-align: center;">
                                            {{record.stcRebate | number: '1.2-2'}}
                                        </td>
                                        <td style="width:150px;text-align: center;">
                                            {{record.costAfteRebate | number: '1.2-2'}}
                                        </td>
                                        <td style="width:100px;text-align: center;">
                                            {{record.sellPrice | number: '1.2-2'}}
                                        </td>
                                        <td style="width:100px;text-align: center;" *ngIf="record.np >= 0">
                                            <span class="badge badge-success">{{record.np | number: '1.2-2'}}</span>
                                        </td>

                                        <td style="width:100px;text-align: center;" *ngIf="record.np < 0">
                                            <span class="badge badge-danger">{{record.np | number: '1.2-2'}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getJobs($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="[25, 50, 100, 500, 5000, 10000]">
                                </p-paginator>
                                <span class="total-records-count">
                                    Showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <!-- <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>

        <!-- <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
        <jobNotesModal #jobNotesModal (modalSave)="reloadPage($event)"></jobNotesModal>
        <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <jobgridTrackerSmsEmailModal #jobgridTrackerSmsEmailModal (modalSave)="getJobs()"></jobgridTrackerSmsEmailModal> -->
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
    </div>
</div>