<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #purchaseCompanyForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="purchaseCompany.id">{{l("Edit Purchase Company")}}</span>
                        <span *ngIf="!purchaseCompany.id">{{l("Create Purchase Company")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="purchaseCompanys_purchaseCompanys">{{l("Purchase Company Name")}} *</label>
                                    <input type="text" #purchaseCompanys_purchaseCompanys="ngModel" id="purchaseCompanys_purchaseCompanys" class="form-control" [(ngModel)]="purchaseCompany.name" name="name" required />
                                    <validation-messages [formCtrl]="purchaseCompanys_purchaseCompanys"></validation-messages>
                                    <span class="icon-box" ><i class="las la-edit"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="purchaseCompanys_email">{{l("Email")}} *</label>
                                    <input type="text" #purchaseCompanys_email="ngModel" id="purchaseCompanys_email" class="form-control" [(ngModel)]="purchaseCompany.email" name="email" required />
                                    <validation-messages [formCtrl]="purchaseCompanys_email"></validation-messages>
                                    <span class="icon-box" ><i class="las la-at"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="purchaseCompanys_phone">{{l("Phone")}} *</label>
                                    <input type="text" #purchaseCompanys_phone="ngModel" id="purchaseCompanys_phone" class="form-control" [(ngModel)]="purchaseCompany.phone" name="phone" required />
                                    <validation-messages [formCtrl]="purchaseCompanys_phone"></validation-messages>
                                    <span class="icon-box" ><i class="las la-phone"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="purchaseCompanys_Address">{{l("Address")}} *</label>
                                    <input type="text" #purchaseCompanys_Address="ngModel" id="purchaseCompanys_Address" class="form-control" [(ngModel)]="purchaseCompany.address" name="address" required />
                                    <validation-messages [formCtrl]="purchaseCompanys_Address"></validation-messages>
                                    <span class="icon-box" ><i class="las la-map"></i></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label for="Name">{{l("Image")}} *</label>
                                    <div class="flexbloxbutton fileuploadbtn">
                                        <div class="form-group marginbtm0">
                                            <div class="white-file-upload">
                                                <input name="f1" type="file" style="width: 232px; font-size:1rem" (change)="fileChangeEvent($event)" [(ngModel)]="selectedFile" />
                                                <a (click)="downloadfile(purchaseCompany.logo)" *ngIf="purchaseCompany.logo">
                                                    <i class="las la-file-pdf"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="purchaseCompanys_IsActive">{{l("Purchase Company Active")}} </label>
                                    <input type="checkbox" id="purchaseCompanys_IsActive" class="form-control" [(ngModel)]="purchaseCompany.isActive" name="isActive" style="width: 22px;" />
                                </div>
                            </div>
                        </div>


                    </div>



                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!purchaseCompanyForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>