<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
    
    .gm-style .gm-style-iw-d::-webkit-scrollbar-track,
    .gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
        background: none !important;
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid
        kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div class="kt-container kt-container--fluid">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>Installation Map</span>({{total}})
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927
                            width_inherit leadedropdown
                            leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <div class="d-flex align-items-center">
                                        <label class="switch mr-2 mb-0">
                                            <input type="checkbox" id="nightmode" (change)="checkedStyle($event)" value="angular">
                                            <span class="slider round"></span>
                                        </label>
                                        <span for="nightmode">Light / Dark Mode</span>
                                    </div>
                                </li>
                                <li>
                                    <button type="button" (click)="getMapDetail();RereshLog();" class="btn_refresh"></button>
                                </li>
                                <li *ngIf="organizationUnitlength> 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown
                                            m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getMapDetail();addSearchLog('Filter Organization');" style="width:120px;">
                                                <option *ngFor="let item of
                                                    allOrganizationUnits"
                                                    value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-stextbox">
                                        <select class="form-control" id="jobstatusid" name="jobstatusid" [(ngModel)]="jobstatusid" (change)="getMapDetail();addSearchLog('Filter Job Status');" style="width:120px;">
                                            <option value="0">Select JobStatus</option>
                                            <option value="6">JobBook</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-stextbox">
                                        <select class="form-control" id="areaNameFilter" name="areaNameFilter" [(ngModel)]="areaNameFilter" (change)="getMapDetail();addSearchLog('Filter Area');" style="width:120px;">
                                            <option value="">Select Area</option>
                                            <option value="Metro">Metro</option>
                                            <option value="Regional">Regional</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-stextbox">
                                        <select class="form-control" id="priority" name="priority" [(ngModel)]="priority" (change)="getMapDetail();addSearchLog('Filter Priority');" style="width:100px;">
                                            <option value=0>All</option>
                                            <option value=1>Yes</option>
                                            <option value=2>No</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="Phone">Phone</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                                <option value="Address">Address</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox
                                        searchclearbox">
                                        <div class="kt-stextbox">
                                            <input type="text" class="form-control" [(ngModel)]="filterText" (keydown.enter)="getMapDetail();addSearchLog('Filter' + filterName +  ' : ' + filterText);" placeholder="{{filterName}}" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getMapDetail()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getMapDetail();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>


                                        <!-- <div  *ngIf="!show" class="kt-advancefilterbox"> -->
                                        <div [ngClass]="{show: shouldShow, hide:
                                            !shouldShow}" class="kt-advancefilterbox
                                            overflow">
                                            <h3>Advance Filters </h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">

                                                    <ul>
                                                        <li class="fullwidth">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="steetAddressFilter" name="steetAddressFilter" (keydown.enter)="getMapDetail();addSearchLog('Advanced Filter');" placeholder="Street
                                                                    Address" [(ngModel)]="steetAddressFilter">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group
                                                                m-form__group">
                                                                <select class="form-control" [(ngModel)]="housetypeId" name="housetypeId" (keydown.enter)="getMapDetail();addSearchLog('Advanced Filter');">
                                                                    <option
                                                                        value=0>Select
                                                                        HouseType</option>
                                                                    <option
                                                                        *ngFor="let
                                                                        item of
                                                                        jobHouseTypes"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group
                                                                m-form__group">
                                                                <select class="form-control" [(ngModel)]="rooftypeid" name="rooftypeid" (keydown.enter)="getMapDetail();addSearchLog('Advanced Filter');">
                                                                    <option
                                                                        value=0>Select
                                                                        RoofType</option>
                                                                    <option
                                                                        *ngFor="let
                                                                        item of
                                                                        jobRoofTypes"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <!-- <li>
                                                                <div class="form-group m-form__group">
                                                                    <select class="form-control" [(ngModel)]="jobstatusid"
                                                                        name="jobstatusid">
                                                                        <option value=0>Select JobStatus</option>
                                                                        <option *ngFor="let item of alljobstatus" value="{{item.id}}">
                                                                            {{item.displayName}}</option>
                                                                    </select>
                                                                </div>
                                                            </li> -->
                                                        <li>
                                                            <div class="form-group
                                                                m-form__group">
                                                                <p-autoComplete [(ngModel)]="panelmodel" id="panelmodel" [suggestions]="panelSuggestions" (keydown.enter)="getMapDetail();addSearchLog('Advanced Filter');" (completeMethod)="filterPanelModel($event)" [minlength]="2" placeholder="Enter
                                                                    PanelModel" #suburbInput="ngModel" name="panelmodel" inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group
                                                                m-form__group">
                                                                <p-autoComplete [(ngModel)]="invertmodel" id="invertmodel" [suggestions]="invertSuggestions" (keydown.enter)="getMapDetail();addSearchLog('Advanced Filter');" (completeMethod)="filterInvertModel($event)" [minlength]="2" placeholder="Enter
                                                                    InvertModel" #suburbInput="ngModel" name="invertmodel" inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group
                                                                m-form__group">
                                                                <select class="form-control" [(ngModel)]="stateNameFilter" name="stateNameFilter" (keydown.enter)="getMapDetail();addSearchLog('Advanced Filter');">
                                                                    <option
                                                                        value="">Select
                                                                        State</option>
                                                                    <option
                                                                        *ngFor="let
                                                                        item of
                                                                        allStates"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group
                                                                m-form__group">
                                                                <input type="text" class="form-control" id="postalcodefrom" (keydown.enter)="getMapDetail();addSearchLog('Advanced Filter');" name="postalcodefrom" [(ngModel)]="postalcodefrom" placeholder="PostCodeFrom">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group
                                                                m-form__group">
                                                                <input type="text" class="form-control" id="postalcodeTo" (keydown.enter)="getMapDetail();addSearchLog('Advanced Filter');" name="postalcode" [(ngModel)]="postalcodeTo" placeholder="PostCodeTo">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group
                                                                m-form__group">
                                                                <select name="paymenttypeid" [(ngModel)]="paymenttypeid" class="form-control" (keydown.enter)="getMapDetail();addSearchLog('Advanced Filter');">
                                                                    <option
                                                                        value=0>Select
                                                                        PaymentMethod</option>
                                                                    <option
                                                                        *ngFor="let
                                                                        item of
                                                                        jobPaymentOptions"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group
                                                                m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateFilterType" name="dateFilterType">
                                                                    <option
                                                                        value="All">All</option>
                                                                    <option
                                                                        value="Service">Service Date</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <!-- <li>
                                                            <input name="SampleDateRangePicker" type="text" (keydown.enter)="getMapDetail($event)" class="form-control
                                                                daterangebox" id="SampleDateRangePicker" bsDaterangepicker [bsConfig]="{
                                                                customTodayClass:
                                                                'today' }" [(ngModel)]="sampleDateRange" dateRangePickerMomentModifier [(date)]="sampleDateRange" />
                                                        </li> -->
                                                        <li></li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth
                                                            text-right">
                                                            <button class="btn
                                                                btn-primary
                                                                btn-sm
                                                                ng-tns-c458-53" (click)="getMapDetail();addSearchLog('Advanced Filter');"><i
                                                                    class="fa
                                                                    fa-search
                                                                    ng-tns-c458-53"></i>
                                                                Search</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div (click)="shouldShow= !shouldShow" [ngClass]="{show:
                        shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist" style="display:none;">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{totalMapData}}</span><label>Total</label></li>
                </ul>
            </div>
        </div>
        <div class="kt-grid__item kt-grid__item--fluid leadmaindiv">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body calendarbox map_data_area" style="border-radius:20px; overflow: hidden;">
                    <agm-map [latitude]="lt" [longitude]="long" [zoom]="5" style="height: 80vh;" [fullscreenControl]='true' [mapTypeControl]='true' [styles]="customestyles" [styles]="mapStyle === 'darkStyle' ? darkStyle : customestyles">
                        <agm-marker *ngFor="let marker of markers" [latitude]="marker.latitude" [longitude]="marker.longitude">
                            <agm-info-window #infoWindow>
                                <div class="map_contnet_comman titla_map d-flex align-items-center">
                                    <a class="d-flex align-items-center color_purpal" href="javascript:;" *ngIf="'Pages.Map.JobView' | permission" [routerLink]="['/app/main/jobs/jobs/jobDetail']" target="_blank" [queryParams]="{id:
                                        marker.leadId}">
                                        <i class="las la-user fs-24 mr-2"></i> {{ marker.label }}
                                    </a> : {{marker.company}}
                                    <span class="bg_active ml-1">{{marker.status}}</span>
                                </div>

                                <div style="padding-top:50px;">
                                    <div class="modal-white-box m-3 p-3">
                                        <div class="map_contnet_comman d-flex align-items-center">
                                            <i class="las la-map-marker fs-22 mr-2"></i>{{ marker.adress }}
                                        </div>
                                        <div class="map_contnet_comman lower_text d-flex align-items-center">
                                            <i class="las la-info-circle fs-22 mr-2"></i>{{ marker.phoneEmail }}
                                        </div>
                                        <div class="map_contnet_comman d-flex align-items-center justify-content-between">
                                            <span class="d-flex align-items-center"><i class="las la-calendar-alt fs-22 mr-2"></i><span><strong>Dep Rec Date :</strong> {{ marker.depRecDate | momentFormat:'DD-MM-YYYY'}}</span></span>
                                            <span class="d-flex align-items-center"><i class="las la-calendar-check fs-22 mr-2"></i><span><strong>ActiveDate :</strong> {{ marker.activeDate | momentFormat:'DD-MM-YYYY'}}</span></span>
                                        </div>
                                        <div class="map_contnet_comman d-flex align-items-center justify-content-between">
                                            <span class="d-flex align-items-center"><i class="las la-home fs-22 mr-2"></i><span><strong>HouseType :</strong> {{ marker.houseType }}</span></span>
                                            <span class="d-flex align-items-center"><i class="las la-warehouse fs-22 mr-2"></i><span><strong>RoofType :</strong> {{ marker.roofType }}</span></span>
                                            <span class="d-flex align-items-center"><i class="las la-city fs-22 mr-2"></i><span><strong>Area :</strong> {{marker.areaType}}</span></span>
                                        </div>
                                        <div class="map_contnet_comman d-flex align-items-center">
                                            <i class="las la-route fs-22 mr-2"></i><span><strong>Distance :</strong> {{ marker.distance }} KM</span>
                                        </div>
                                        <div class="map_contnet_comman d-flex align-items-center">
                                            <i class="las la-user-cog fs-22 mr-2"></i><span><strong>Nearest Installer :</strong> {{ marker.firstNearestInstallerName }} , {{ marker.secondNearestInstallerName }}</span>
                                        </div>
                                    </div>
                                    <div class="modal-white-box m-3 p-3">
                                        <div class="secondary-grid mt-2">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Type</th>
                                                        <th>Name</th>
                                                        <th>Model</th>
                                                        <th class="text-center">Quntity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of
                                                        marker.productIteams">
                                                        <td>{{item.jobNote}}</td>
                                                        <td>{{item.productItemName}}</td>
                                                        <td>{{item.model}}</td>
                                                        <td class="text-center">{{item.quantity}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </agm-info-window>
                        </agm-marker>
                    </agm-map>
                </div>
            </div>
        </div>
        <viewLatLongMissingModal #viewLatLongMissingModal></viewLatLongMissingModal>
    </div>
</div>