﻿<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("3CX Call Queue")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getCallFlowQueue();RereshLog();"></button>
                                </li>
                                <li *ngIf="'Pages.CallHistory.CallFlowQueueCallHistory.Export' | permission">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;" *ngIf="'Pages.CallHistory.CallFlowQueueCallHistory.Export' | permission">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>

                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getCallFlowQueue();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox maxwdth210 dateandsearch_icon width236">
                                            <input type="text" class="form-control autoWidth" placeholder="Mobile" [(ngModel)]="filterText" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getCallFlowQueue();"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getCallFlowQueue();addSearchLog('Filter Mobile');" />
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox maxwdth210 dateandsearch_icon width236">
                                            <input name="daterange" type="text" class="form-control daterangebox autoWidth" id="daterange" placeholder="Select Date Range" bsDaterangepicker dateRangePickerMomentModifier [(date)]="sampleDateRange" />
                                            <!-- </div> -->
                                            <!-- <input type="text" class="form-control" [placeholder]="l('SearchWithThreeDot')" [(ngModel)]="filterText"/> -->
                                            <input type="button" class="btnsearch" (click)="getCallFlowQueue();addSearchLog('Filter Date');" />
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="kt-buttonarea">
                        </div> -->
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>

        <div class="myleadsReport leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{ totalCalls }}</span><label>Total Calls</label></li>
                </ul>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading" [ngClass]="{'unselectable' : permission.isGranted('Pages.CallHistory.CallFlowQueueCallHistory.EnableCopyPaste')}">
                            <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getCallFlowQueue($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                    ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="name" style="width:350px;">
                                                {{l('3cx Call Queue')}}
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="Count">
                                                {{l('Call Count')}}
                                                <p-sortIcon field="Count"></p-sortIcon>
                                            </th>

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit" *ngIf="permission.isGranted('Pages.CallHistory.CallFlowQueueCallHistory.Detail')">
                                        <tr [pSelectableRow]="record">
                                            <td style="width:350px;">
                                                <span class="ui-column-title"> {{l('Name')}}</span> {{record.name}}
                                            </td>
                                            <td>
                                                <span class="ui-column-title"> {{l('Count')}}</span>
                                                <a href="javascript:;" (click)="CsxCallQueueReportModal.show(record.extentionNumber,organizationUnit,startDate,endDate,filterText,'3CX Call Queue')"><span class="badge badge-warning">{{record.count}}</span></a>
                                            </td>

                                        </tr>

                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit" *ngIf="!permission.isGranted('Pages.CallHistory.CallFlowQueueCallHistory.Detail')">
                                        <tr [pSelectableRow]="record">
                                            <td style="width:350px;">
                                                <span class="ui-column-title"> {{l('Name')}}</span> {{record.name}}
                                            </td>
                                            <td>
                                                <span class="ui-column-title"> {{l('Count')}}</span>
                                                <a href="javascript:;"><span class="badge badge-warning">{{record.count}}</span></a>
                                            </td>

                                        </tr>

                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getCallFlowQueue($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                    <span class="total-records-count">
                                    Showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                            </div>
                            <!--<Primeng-Datatable-End>-->
                        </div>
                    </div>
                </div>
            </div>

            <UserCsxCallQueueReportModal #UserCsxCallQueueReportModal></UserCsxCallQueueReportModal>
            <CsxCallQueueReportModal #CsxCallQueueReportModal></CsxCallQueueReportModal>

        </div>
    </div>