﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("UserCallDetails")}}</span>
                </h4>
                <div *ngIf="'Pages.CallHistory.CallFlowQueueCallHistory.Detail.UserCallDetails.Export' | permission">
                    <button class="btn btn-primary btn-sm ml-4" type="button" (click)="exportToExcel()"><i class="las la-file-excel"></i> Export</button>
                </div>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <div class="row dis-column">
                        <div class="col-6 mb-3">
                            <h6><span>Total Duration  : </span><span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">{{ totalDuration }}</span></h6>
                        </div>

                        <div class="col-6 mb-3">
                            <h6><span>Avg Duration  : </span><span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">{{AVGDuration }}</span></h6>
                        </div>

                        <div class="col-12">
                            <div class="secondary-grid vscrollbar" style="max-height: 280px; overflow-y: auto;">
                                <table class="table table_blck">
                                    <thead>
                                        <tr>
                                            <th>Mobile</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <th>Duration</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let index of item; let i = index">
                                            <td>{{index.mobile}}</td>
                                            <td>{{index.startTime | momentFormat: 'DD-MM-YYYY hh:mm:ss A' }}</td>
                                            <td>{{index.endTime | momentFormat: 'DD-MM-YYYY hh:mm:ss A' }}</td>
                                            <td>{{index.duration}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i class="las fa-times-circle"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>