<div class="kt-customersignature" [@routerTransition] style="max-width: 650px;
margin: 0 auto !important;
height: 100vh;">
    <img src="../../assets/common/images/thanks-subscribe.png" style="margin: 0; " />
    <div style="margin-top:40px; text-align:center;">
        <div style="font-size:2.5rem; font-weight:600; color:#000; margin-bottom:25px;">Congratulations!</div>
        <p style="font-size:20px;">Your membership has been reactivated.<br>Some one will call you soon !!</p>
        <!-- Thanks for the reply. We will get back to you soon. -->
    </div>
</div>