﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #serviceCtegoryForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="serviceCategory.id">{{l("EditServiceCategory")}}</span>
                        <span *ngIf="!serviceCategory.id">Create New Service Category</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group form-icon">
                        <label for="ServiceCategory_ServiceCategory">{{l("ServiceCategoryName")}} *</label>
                        <input type="text" #ServiceCategory_ServiceCategory="ngModel"
                            id="ServiceCategory_ServiceCategory" class="form-control" [(ngModel)]="serviceCategory.name"
                            name="name" required />
                        <validation-messages [formCtrl]="ServiceCategory_ServiceCategory"></validation-messages>
                        <span class="icon-box"><i class="las la-edit"></i></span>
                    </div>
                    <div class="form-group form-icon">
                        <label>Is-Active</label>
                        <input type="checkbox"  class="form-control" [(ngModel)]="serviceCategory.isActive" name="isActive" style="width: 22px;" />
                      </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!serviceCtegoryForm.form.valid"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>