﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #refundReasonForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="refundReason.id">{{l("EditRefundReason")}}</span>
                        <span *ngIf="!refundReason.id">{{l("CreateNewRefundReason")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="form-group form-icon">
                            <label for="RefundReason_Name">{{l("Name")}} *</label>
                            <input type="text" #RefundReason_Name="ngModel" id="RefundReason_Name" class="form-control" required [(ngModel)]="refundReason.name" name="Name" />
                            <validation-messages [formCtrl]="RefundReason_Name"></validation-messages>
                            <span class="icon-box"><i class="las la-comment-dollar"></i></span>
                        </div>
                        <div class="form-group form-icon">
                            <label>Is-Active</label>
                            <input type="checkbox"  class="form-control" [(ngModel)]="refundReason.isActive" name="isActive" style="width: 22px;" />
                          </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!refundReasonForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>