<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 100%;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("InvoicePayWay")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getinvoicepaywaydata();RereshLog();"></button></li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{l("Import")}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a href="javascript:;" *ngIf="'Pages.Tracker.InvoiceTracker.Import' | permission" class="no-padding btnuploadexcel a_set1">
                                                <span class="fileinput-button">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a href="/assets/sampleFiles/InvoiceAccountData.xlsx" class="dropdown-item btnsample">
                                                <i class="las la-file-excel"></i>{{l('SampleFile')}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;">
                                                <i class="las la-file-excel"></i>{{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item icon_csv" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;">
                                                <i class="las la-file-csv"></i>{{l("ExportCSV")}}
                                            </a>

                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getinvoicepaywaydata();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox apptrackeradv">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getinvoicepaywaydata();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getinvoicepaywaydata()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getinvoicepaywaydata();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="state" name="state" (keydown.enter)="getinvoicepaywaydata();addSearchLog('Advanced Filter');">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="payby" (keydown.enter)="getinvoicepaywaydata();addSearchLog('Advanced Filter');" [(ngModel)]="payby" class="form-control">
                                                                    <option value="0">{{l("PayBy")}}</option>
                                                                    <option
                                                                        *ngFor="let item of allInvoicePaymentMethods"
                                                                        value="{{item.id}}">{{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateFilterType" name="dateFilterType" (keydown.enter)="getinvoicepaywaydata();addSearchLog('Advanced Filter');">
                                                                    <option value="All">{{l("All")}}</option>
                                                                    <option value="CreationDate">{{l("CreationDate")}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <!-- <li class="clear-date">
                                                            <div class="form-group">
                                                                <input name="SampleDateRangePicker" type="text" (keydown.enter)="getinvoicepaywaydata($event)" [(ngModel)]="sampleDateRange" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }"
                                                                    [(date)]="sampleDateRange" />
                                                                <a class="btnclearsearch btndateClear" *ngIf="sampleDateRange" (click)="sampleDateRange=null"><i class="fas fa-times-circle"></i></a>
                                                            </div>
                                                        </li> -->
                                                        <li></li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red marright10 ng-tns-c458-53" (click)="clear()"><i class="fas fa-times-circle"></i> {{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm  ng-tns-c458-53" (click)="getinvoicepaywaydata();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>

                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>

            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>${{this.totalData}}</span><label>{{l("Total Amount")}}</label></li>
                    <li><span>${{this.totalpaidammount}}</span><label> {{l("Total Amount Paid")}} </label></li>
                </ul>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.InvoicePayWay.EnableCopyPaste' | permission)}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol">
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getinvoicepaywaydata($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:145px" pSortableColumn="CreationTime">
                                            {{l('Date')}}
                                            <p-sortIcon field="CreationTime"></p-sortIcon>
                                        </th>
                                        <th style="width:95px" pSortableColumn="JobFk.JobNumber">
                                            {{l('JobNumber')}}
                                            <p-sortIcon field="JobNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" pSortableColumn="paymentMethod">
                                            {{l('PayBy')}}
                                            <p-sortIcon field="paymentMethod"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="principalAmount">
                                            {{l('PaidAmmount')}}
                                            <p-sortIcon field="PaidAmmount"></p-sortIcon>
                                        </th>
                                        <th style="width: 120px" pSortableColumn="status">
                                            {{l('Status')}}
                                            <p-sortIcon field="status"></p-sortIcon>
                                        </th>
                                        <th style="width: 120px" pSortableColumn="responseCode">
                                            {{l('ResponseCode')}}
                                            <p-sortIcon field="responseCode"></p-sortIcon>
                                        </th>
                                        <th style="width: 250px" pSortableColumn="responseText">
                                            {{l('ResponseText')}}
                                            <p-sortIcon field="responseText"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="transactionType">
                                            {{l('Transaction Type')}}
                                            <p-sortIcon field="transactionType"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="receiptNumber">
                                            {{l('ReceiptNumber')}}
                                            <p-sortIcon field="receiptNumber"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <!-- <td class="actionwidth" style="text-align: center;">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li
                                                        [hidden]="!isGrantedAny('Pages.InvoicePayWay.Reminder')">
                                                        <a
                                                            (click)="addActivityModal.show(record.leadId,9,0,25)">
                                                            <img src="../../../assets/common/images/icon_notify.svg" />
                                                            {{l('Notify')}}
                                                        </a>
                                                    </li>

                                                    <li
                                                        [hidden]="!isGrantedAny('Pages.InvoicePayWay.SMS')">
                                                        <a (click)="newinvoicePayWaySmsEmailModel.show(record.leadId,1,25)">
                                                            <img src="../../../../assets/common/images/icon_sms.svg" />
                                                            {{l('Sms')}}
                                                        </a>
                                                    </li>
                                                    <li
                                                        [hidden]="!isGrantedAny('Pages.InvoicePayWay.Email')">
                                                        <a (click)="newinvoicePayWaySmsEmailModel.show(record.leadId,2,25)">
                                                            <img src="../../../../assets/common/images/icon_mail.svg" />
                                                            {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li
                                                        [hidden]="!isGrantedAny('Pages.InvoicePayWay.Comment')">
                                                        <a
                                                            (click)="addActivityModal.show(record.leadId,24,0,25)">
                                                            <img src="../../../assets/common/images/icon_comment.svg" />
                                                            {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.InvoicePayWay.ToDo')">
                                                        <a
                                                            (click)="addActivityModal.show(record.leadId,25,0,25)">
                                                            <img src="../../../assets/common/images/icon_todo.svg" />
                                                            {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li
                                                        [hidden]="!isGrantedAny('Pages.InvoicePayWay.Reminder')">
                                                        <a
                                                            (click)="addActivityModal.show(record.leadId,8,0,25)">
                                                            <img
                                                                src="../../../assets/common/images/icon_exreminder.svg" />
                                                            Reminder
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td> -->
                                        <td style="width:145px">
                                            <span class="badge badge-secondary d-flex align-items-center"><i class="las la-calendar fs-18 mr-1"></i>{{record.payway.createdDate | momentFormat:'DD MMM YYYY'}}</span>
                                        </td>
                                        <td style="width:95px">
                                            <span class="badge badge-secondary">{{record.payway.jobNumber}}</span>
                                        </td>
                                        <td style="width:130px">
                                            {{record.payway.paymentMethodName}}
                                        </td>

                                        <td style="width:130px">
                                            <span class="badge badge-success">{{record.payway.paidAmmount}}</span>
                                        </td>
                                        <td style="width:120px">
                                            {{record.payway.status}}
                                        </td>
                                        <td style="width:120px; text-align: center;">
                                            {{record.payway.responseCode}}
                                        </td>
                                        <td style="width:250px">
                                            {{record.payway.responseText}}
                                        </td>
                                        <td style="width:100px">
                                            {{record.payway.transactionType}}
                                        </td>
                                        <td style="width:100px; text-align:center;">
                                            <span class="badge badge-secondary">{{record.payway.receiptNumber}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getinvoicepaywaydata($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <!-- <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}"
                                (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal>
        <editnewinvoices #editnewinvoices (modalSave)="reloadPage($event)"></editnewinvoices>
        <newinvoicePayWaySmsEmailModel #newinvoicePayWaySmsEmailModel (modalSave)="reloadPage($event)">
        </newinvoicePayWaySmsEmailModel>
    </div>
</div>