<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #checkActiveForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="stcDealPrice.id">{{l("EditStcDealPrice")}}</span>
                        <span *ngIf="!stcDealPrice.id">{{l("CreateNewStcDealPrice")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="CheckActives_CheckActives">Value</label>
                                    <input type="text" #CheckActives_CheckActives="ngModel" id="CheckActives_CheckActives" class="form-control" [(ngModel)]="stcDealPrice.value"  name="value" required />
                                    <validation-messages [formCtrl]="CheckActives_CheckActives"></validation-messages>
                                    <span class="icon-box" ><i class="las la-edit"></i></span>
                                </div>
                            </div>
                            
                        </div>


                    </div>



                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!checkActiveForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>