<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("STC Deal Price")}}</span>
                        <span class="total-records-count">
                      ({{(primengTableHelper.totalRecordsCount)}})
                  </span>
                    </h3>

                </div>

                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getStcDealPrice()"></button>
                            </li>
                            <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.EcommerceStcDealPrice.Create')"><button  class="btn btn-outline-primary btnadd" (click)="createStcDealPrice()">
                          Add <i class="las la-plus-circle"></i>
                      </button></li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getStcDealPrice();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getStcDealPrice()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getStcDealPrice();searchLog();" />
                                    </div>
                                </div>
                            </li>
                            
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getStcDealPrice($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.WholeSale.ECommerce.EcommerceStcDealPrice.Edit', 'Pages.Tenant.WholeSale.ECommerce.EcommerceStcDealPrice.Delete')">{{l('Actions')}}</th>
                                        <th pSortableColumn="value">
                                            {{l('Value')}}
                                            <p-sortIcon field="stcDealPrice.value"></p-sortIcon>
                                        </th>

                                        
                                        
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.WholeSale.ECommerce.EcommerceStcDealPrice.Edit', 'Pages.Tenant.WholeSale.ECommerce.EcommerceStcDealPrice.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                              <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                          </button>
                                          <ul class="dropdown-menu" *dropdownMenu>
                                            <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.EcommerceStcDealPrice.Edit')">
                                                <a href="javascript:;" (click)="createOrEditStcDealPriceModal.show(record.stcDealPrice.id)" >
                                                    <i class="las la-edit"></i> {{l('Edit')}}</a>
                                            </li>


                                            <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.EcommerceStcDealPrice.Delete')">
                                                <a href="javascript:;" (click)="deleteStcDealPrice(record.stcDealPrice)">
                                                    <i class="las la-trash"></i> {{l('Delete')}}</a>
                                            </li>
                                                </ul>
                                            </div>
                                        </td> 
                                        <td>
                                            <span class="ui-column-title"> {{l('Value')}}</span> {{record.stcDealPrice.value}}
                                        </td>
                                       
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getStcDealPrice($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                            showing {{firstrowcount}}
                            To {{last}}
                            <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <createOrEditStcDealPriceModal #createOrEditStcDealPriceModal (modalSave)="getStcDealPrice()"></createOrEditStcDealPriceModal>

    </div>
</div>