<style>
    body {
        overflow-y: hidden;
    }
    
    bs-dropdown-container {
        z-index: 101 !important;
        top: -24.5% !important;
        left: 10px !important;
    }
    
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 100%;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="d-flex align-items-center">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>{{l("InvoiceIssued")}}</span>
                            <span class="total-records-count">
                                ({{(primengTableHelper.totalRecordsCount)}})
                            </span>
                        </h3>
                        <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                    </div>
                    <div class="dropdown help-dropdown" dropdown style="display:none;">
                        <a class="dropdown-toggle fs-30" dropdownToggle>
                            <i class="las la-question-circle"></i>
                        </a>
                        <ul class="dropdown-menu helpmenudorpdown" *dropdownMenu>
                            <li>Invoice Received Job Data</li>
                        </ul>
                    </div>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getInvoiceIssued();RereshLog();"></button></li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <div class="dropdown-divider"></div>
                                            <span class="dropdown-item-text text-muted pl-3" href="#">
                                                <a href="/assets/sampleFiles/InvoiceAccountData.xlsx" class="dropdown-item btnsample">{{l('SampleFile')}}</a>
                                            </span>
                                        </div>
                                        <div class="btn-group btnexceldropdown" dropdown>
                                            <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <!-- <i class="far fa-file-excel"></i> -->
                                                <!-- {{"ExcelOperations" | localize}} -->
                                                {{l("Export")}}
                                                <img src="../../../assets/common/images/icon_downarrow.svg" />

                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations minwidth167" *dropdownMenu style="margin-left:10px;">
                                                <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;">
                                                    <i class="las la-file-excel"></i>{{'Export' | localize}}
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item icon_csv" href="javascript:;" id="ExportUsersToExcelButton" (click)="exportToExcel(2)">
                                                    <i class="las la-file-csv"></i>{{l("ExportCSV")}}
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item icon_deposite" id="ExportUsersToExcelButton" (click)="depositeexportToExcel()" href="javascript:;">
                                                    <i class="las la-file-excel"></i>{{'DepositeExport' | localize}}
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item icon_excel" id="ExportUsersToExcelButton" (click)="owningexportToExcel()" href="javascript:;">
                                                    <i class="las la-file-excel"></i>{{'OwningExport' | localize}}
                                                </a>

                                                <!-- <div class="dropdown-divider"></div>
                                                <a class="dropdown-item icon_pdf" href="javascript:;">
                                                    {{l("PDF")}}
                                                </a> -->
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();onOrganizationUnitChange();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="invissuedPaymentOptions" [(ngModel)]="jobPaymentOption" class="form-control" (change)="getInvoiceIssued();addSearchLog('Filter Payment Option');">
                                                <option value="0">All</option>
                                                <option *ngFor="let item of jobPaymentOptions" value="{{item.id}}">
                                                    {{item.displayName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="invoicenamefilter" (change)="getInvoiceIssued();addSearchLog('Filter Paid');" [(ngModel)]="invoicenamefilter" class="form-control">
                                                <option value="All">{{l("All")}}</option>
                                                <option value="Owing">{{l("Owing")}}</option>
                                                <option value="FullPaid">{{l("Full Paid")}}</option>
                                                <option value="OverPayment">{{l("Over Payment")}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox">
                                        <div class="kt-stextbox" style="overflow:inherit;">
                                            <div class="form-group form-icon mb-0">
                                                <p-autoComplete id="installerIds" name="installerIds" [suggestions]="installerSearchResult" (completeMethod)="filterInstaller($event)" [minLength]="1" [placeholder]="l('SelectInstaller')" inputStyleClass="form-control" styleClass="pl-4 w-250px" (onSelect)="selectInstaller($event)"
                                                    field="displayName" (onClear)="selectInstaller($event)" (keydown.enter)="selectInstaller($event)">
                                                    <ng-template let-result pTemplate="item">
                                                        <div class="result-item">
                                                            <div class="d-flex align-items-center mb-1">
                                                                <i class="las la-user-cog fs-16 mr-1"></i> {{result.displayName}}
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-autoComplete>
                                                <span class="icon-box" style="z-index:1; top:-2px; padding:0 4px;"><i class="las la-user-cog fs-20"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox apptrackeradv">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getInvoiceIssued();addSearchLog('Filter' + filterName +  ' : ' + filterText)" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getInvoiceIssued()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getInvoiceIssued();addSearchLog('Filter' + filterName +  ' : ' + filterText)" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="postCodeSuburbFilter" (keydown.enter)="getInvoiceIssued();addSearchLog('Advanced Filter');" id="postCodeSuburbFilter" [suggestions]="suburbSuggestions" (completeMethod)="filtersuburbs($event)" placeholder='{{l("Suburb")}}' [minlength]="2" #suburbInput="ngModel"
                                                                    name="postCodeSuburbFilter" inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="stateNameFilter" name="stateNameFilter" (keydown.enter)="getInvoiceIssued();addSearchLog('Advanced Filter');">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" id="postalcodefrom" (keydown.enter)="getInvoiceIssued();addSearchLog('Advanced Filter');" name="postalcodefrom" [(ngModel)]="postalcodefrom" placeholder="PostCodeFrom">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" id="postalcodeTo" (keydown.enter)="getInvoiceIssued();addSearchLog('Advanced Filter');" name="postalcode" [(ngModel)]="postalcodeTo" placeholder="PostCodeTo">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group jobmultipleselect">
                                                                <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select JobStatus" [(ngModel)]="jobStatusID" name="jobStatusID">
                                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                                    </ng-template>
                                                                </ng-select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="areaNameFilter" (keydown.enter)="getInvoiceIssued();addSearchLog('Advanced Filter');" name="areaNameFilter">
                                                                    <option value="">{{l("SelectArea")}}</option>
                                                                    <option value="Metro">{{l("Metro")}}</option>
                                                                    <option value="Regional">{{l("Regional")}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li *ngIf="organizationUnit == 2 || organizationUnit == 8">
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="vicrebate" (keydown.enter)="getInvoiceIssued();addSearchLog('Advanced Filter');" name="vicrebate">
                                                                    <option value="All">{{l("VICRebate")}}</option>
                                                                    <option value="With Rebate Install">With Rebate
                                                                        Install</option>
                                                                    <option value="Without Rebate Install">Without
                                                                        Rebate Install</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li *ngIf="organizationUnit == 2 || organizationUnit == 8">
                                                            <div class="form-group m-form__group">
                                                                <select [(ngModel)]="solarRebateStatus" (keydown.enter)="getInvoiceIssued();addSearchLog('Advanced Filter');" name="solarRebateStatus" class="form-control">
                                                                    <option value="0">{{l("SolarRebateStatus")}}</option>
                                                                    <option value="1">Blank</option>
                                                                    <option value="2">After Install</option>
                                                                    <option value="3">Cancelled</option>
                                                                    <option value="4">Installation Completed
                                                                    </option>
                                                                    <option value="5">Installation Scheduled
                                                                    </option>
                                                                    <option value="6">Payment Approved</option>
                                                                    <option value="7">Payment Claim Under Review
                                                                    </option>
                                                                    <option value="8">Payment Processed</option>
                                                                    <option value="9">Quote Submitted</option>
                                                                    <option value="10">Appl Rejected</option>
                                                                    <option value="11">Additional Info Required
                                                                    </option>
                                                                    <option value="12">App Expired</option>
                                                                    <option value="13">Draft quote</option>
                                                                    <option value="14">Quote expired</option>
                                                                    <option value="15">Appl Started</option>
                                                                    <option value="16">Appl under review</option>
                                                                    <option value="17">Appl approved</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="paymentMethodId" (keydown.enter)="getInvoiceIssued();addSearchLog('Advanced Filter');" [(ngModel)]="paymentMethodId" class="form-control">
                                                                    <option value="0">{{l("PaymentType")}}</option>
                                                                    <option
                                                                        *ngFor="let item of allInvoicePaymentMethods"
                                                                        value="{{item.id}}">{{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="salesRepId" (keydown.enter)="getInvoiceIssued();addSearchLog('Advanced Filter');" name="salesRepId">
                                                                    <option value="0">{{l("SelectSalesRep")}}</option>
                                                                    <option *ngFor="let item of filteredReps"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="invoiceDateNameFilter" name="invoiceDateNameFilter" (keydown.enter)="getInvoiceIssued();addSearchLog('Advanced Filter');">
                                                                    <option value="Creation">{{l("InvDate")}}</option>
                                                                    <option value="InstallDate">{{l("InstallDate")}}</option>
                                                                    <option value="InstallCompleteDate">{{l("InstallCompleteDate")}}
                                                                    <option value="BankDate">{{l("BankDate")}}
                                                                    <option value="UploadDate">{{l("UploadDate")}}
                                                                    </option>
                                                                    <!-- <option value="ActualDate">{{l("ActualDateDate")}}</option> -->
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <!-- <li class="clear-date">
                                                            <div class="form-group">
                                                                <input name="SampleDateRangePicker" type="text" (keydown.enter)="getInvoiceIssued($event)" [(ngModel)]="sampleDateRange" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }"
                                                                    [(date)]="sampleDateRange" />
                                                                <a class="btnclearsearch btndateClear" *ngIf="sampleDateRange" (click)="sampleDateRange=null"><i class="fas fa-times-circle"></i></a>
                                                            </div>
                                                        </li> -->
                                                        <li> </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>

                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red marright10 btn-sm ng-tns-c458-53" (click)="clear()">
                                                                <i class="fas fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getInvoiceIssued();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>

                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>

            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per" *ngIf="organizationUnit == 1 || organizationUnit == 7">
                <ul class="pdrightxlzero">
                    <li><span>${{this.totalAmountOfInvoice | number : '1.2'}}</span><label> {{l("TotalAmount")}} </label></li>
                    <li><span>${{this.newtotalAmountReceived | number : '1.2'}}</span><label>{{l("AmountReceived")}}</label></li>
                    <li><span>{{this.totalSystemCapacity}}</span><label>{{l("TotalSystemCapacityKW")}}</label></li>
                    <li><span>${{this.newbalanceOwning | number : '1.2'}}</span><label> {{l("BalOwing")}} </label></li>
                </ul>
            </div>

            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per" *ngIf="organizationUnit == 2 || organizationUnit == 8">
                <ul>
                    <li class="d-flex align-items-center justify-content-between" style="flex-direction:inherit !important; width:33%;">
                        <div>
                            <label>{{l("TotalAmount")}}</label>
                            <span>${{this.totalAmountOfInvoice | number : '1.2'}}</span>
                        </div>
                        <div class="mx-1 px-4" style="border:1px solid #ddd; border-width:0 1px;">
                            <label>{{l("AmountReceived")}}</label>
                            <span>${{this.newtotalAmountReceived | number : '1.2'}}</span>
                        </div>
                        <div>
                            <label>{{l("BalOwing")}}</label>
                            <span>${{this.newbalanceOwning | number : '1.2'}}</span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-between red" style="flex-direction:inherit !important; width:33%;">
                        <div>
                            <label>{{l("CustAmount")}}</label>
                            <span>${{this.totalCustAmountOfInvoice | number : '1.2'}}</span>
                        </div>
                        <div class="mx-1 px-4" style="border:1px solid #ddd; border-width:0 1px;">
                            <label>{{l("AmountReceived")}}</label>
                            <span>${{this.totalCustAmountReceived | number : '1.2'}}</span>
                        </div>
                        <div>
                            <label>{{l("BalOwing")}}</label>
                            <span>${{this.totalCustBAlOwning | number : '1.2'}}</span>
                        </div>
                    </li>
                    <li class="d-flex align-items-center justify-content-between yellow" style="flex-direction:inherit !important; width:33%;">
                        <div>
                            <label>{{l("VICAmount")}}</label>
                            <span>${{this.totalVICAmountOfInvoice | number : '1.2'}}</span>
                        </div>
                        <div class="mx-1 px-4" style="border:1px solid #ddd; border-width:0 1px;">
                            <label>{{l("AmountReceived")}}</label>
                            <span>${{this.totalVICAmountReceived | number : '1.2'}}</span>
                        </div>
                        <div>
                            <label>{{l("BalOwing")}}</label>
                            <span>${{this.totalVICBAlOwning | number : '1.2'}}</span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.Tracker.InvoiceIssuedTracker.EnableCopyPaste' | permission)}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>                                
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getInvoiceIssued($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getInvoiceIssued($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                scrollDirection="horizontal" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth p-frozen-column" [hidden]="!isGrantedAny('Pages.Tracker.InvoiceIssuedTracker.ToDo','Pages.Tracker.InvoiceIssuedTracker.Comment','Pages.Tracker.InvoiceIssuedTracker.Reminder','Pages.Tracker.InvoiceIssuedTracker.Verify','Pages.Tracker.InvoiceIssuedTracker.Notify','Pages.Tracker.InvoiceIssuedTracker.SMS','Pages.Tracker.InvoiceIssuedTracker.Email','Pages.Tracker.InvoiceIssuedTracker.QuickView')">
                                            {{l('Actions')}}</th>
                                        <th style="width:120px; left:95px !important;" class="p-frozen-column" pSortableColumn="JobNumber">
                                            {{l('JobNumber')}}
                                            <p-sortIcon field="jobNumber"></p-sortIcon>
                                        </th>
                                        <th style="width:130px" pSortableColumn="LeadFk.State" [hidden]="!ExpandedView">
                                            {{l('State')}}
                                            <p-sortIcon field="state"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" pSortableColumn="PaymentOptionFk.Name" [hidden]="!ExpandedView">
                                            {{l('Finance')}}
                                            <p-sortIcon field="PaymentMethod"></p-sortIcon>
                                        </th>
                                        <th style="width: 180px" pSortableColumn="JobStatusFk.Name" [hidden]="!ExpandedView">
                                            {{l('ProjectStatus')}}
                                            <p-sortIcon field="ProjectStatus"></p-sortIcon>
                                        </th>
                                        <th style="width: 250px" pSortableColumn="LeadFk.CompanyName" [hidden]="!ExpandedView">
                                            {{l('Contact')}}
                                            <p-sortIcon field="companyName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="leadfk.mobile" [hidden]="!ExpandedView" *ngIf="'Pages.Tracker.InvoiceIssuedTracker.ShowEmailPhone' | permission">
                                            {{l('Mobile')}}
                                            <p-sortIcon field="mobile"></p-sortIcon>
                                        </th>
                                        <th style="width: 300px" [hidden]="!ExpandedView">
                                            {{l('SalesRep')}}
                                            <!-- <p-sortIcon field="salesRep"></p-sortIcon> -->
                                        </th>
                                        <th style="width: 300px" [hidden]="!ExpandedView">
                                            {{l('Installer')}}
                                            <!-- <p-sortIcon field="installerid"></p-sortIcon> -->
                                        </th>
                                        <th style="width: 150px" [hidden]="!ExpandedView">
                                            {{l('Installed')}}
                                        </th>
                                        <th style="width: 120px" pSortableColumn="totalCost" [hidden]="!ExpandedView">
                                            {{l('Total')}}
                                            <p-sortIcon field="totalCost"></p-sortIcon>
                                        </th>
                                        <!-- <th style="width: 100px" [hidden]="!ExpandedView">
                                            {{l('Balance')}}
                                        </th> -->
                                        <th style="width: 120px" [hidden]="!ExpandedView">
                                            {{l('Balance')}}
                                        </th>
                                        <!-- <th style="width:130px" [hidden]="!ExpandedView">
                                            {{l('IssuedDate')}}
                                        </th> -->
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('InvoideNotes')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Reminder')}}
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.leadId}">
                                        <td class="actionwidth p-frozen-column" style="text-align:Center; width:95px;" [hidden]="!isGrantedAny('Pages.Tracker.InvoiceIssuedTracker.ToDo','Pages.Tracker.InvoiceIssuedTracker.Comment','Pages.Tracker.InvoiceIssuedTracker.Reminder','Pages.Tracker.InvoiceIssuedTracker.Verify','Pages.Tracker.InvoiceIssuedTracker.Notify','Pages.Tracker.InvoiceIssuedTracker.SMS','Pages.Tracker.InvoiceIssuedTracker.Email','Pages.Tracker.InvoiceIssuedTracker.QuickView')">
                                            <div class="btn-group dropdown dropright" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle data-toggle="dropdown" aria-expanded="false">
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceIssuedTracker.QuickView')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.job.id,0,'Invoice Issued')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a (click)="taxInvoice(record.job.id)">
                                                            <i class="las la-file-invoice-dollar"></i> {{l('TaxInvoice')}}
                                                        </a>
                                                        <a (click)="paymentReceipt(record.job.id)">
                                                            <i class="las la-receipt"></i> {{l('PaymentReceipt')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a (click)="viewpaymentdetail.show(record.job.id,record.leadId,'Invoice Issued')">
                                                            <i class="las la-file-invoice"></i> View Payment
                                                        </a>
                                                    </li>

                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceIssuedTracker.Notify')">
                                                        <a (click)="notifyModel.show(record.leadId,9,0,'Invoice Issued')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,9,0,9)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceIssuedTracker.Reminder')">
                                                        <a (click)="ReminderModal.show(record.leadId,9,0,'Invoice Issued')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,8,0,9)"> -->
                                                            <i class="las la-history"></i> {{l('ActionReminder')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceIssuedTracker.Comment')">
                                                        <a (click)="commentModel.show(record.leadId,9,0,'Invoice Issued')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,24,0,9)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceIssuedTracker.ToDo')">
                                                        <a (click)="todoModal.show(record.leadId,9,0,'Invoice Issued')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,25,0,9)"> -->
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceIssuedTracker.SMS')">
                                                        <a (click)="smsModel.show(record.leadId,9,0,'Invoice Issued')">
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceIssuedTracker.Email')">
                                                        <a (click)="invoiceIssuedpaymentSmsEmailModel.show(record.leadId,2,9,record.invoiceID,'Invoice Issued')">
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a (click)="issuedActivityLogModel.show(record.leadId,9,'Invoice Issued')">
                                                            <i class="las la-cog"></i> {{l('Activity')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:120px; left:95px !important;" class="p-frozen-column" (click)="navigateToLeadDetail(record.leadId);">
                                            {{record.job.jobNumber}}
                                        </td>
                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            {{record.stateName}}
                                        </td>
                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            {{record.paymentMethod}}
                                        </td>
                                        <td class="no_warp" style="width:180px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip">
                                                <span [tooltip]="record.projectStatus">
                                                    {{record.projectStatus}}
                                                </span>
                                            </div>
                                        </td>
                                        <td class="no_warp" style="width:250px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.companyName">
                                                {{record.companyName}}
                                                </span>
                                            </div>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView" *ngIf="'Pages.Tracker.InvoiceIssuedTracker.ShowEmailPhone' | permission">
                                            <span class="badge badge-secondary">{{record.mobile}}</span>
                                        </td>
                                        <td style="width:300px" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title"> {{l('Intstaller')}}</span> -->
                                            {{record.salesRep}}
                                        </td>
                                        <td style="width:300px" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title"> {{l('Intstaller')}}</span> -->
                                            {{record.installer}}
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title"> {{l('Intstalled')}}</span> -->
                                            {{record.job.installationDate | momentFormat:'DD MMM YYYY'}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title"> {{l('Total')}}</span> -->
                                            <div class="badge badge-primary d-flex align-items-center" *ngIf="record.newOwning != 0 && record.newOwning < 0">
                                                <i class="las la-dollar-sign mr-1 fs-18"></i> <span>{{record.totalCost | number : '1.2'}}</span>
                                            </div>
                                            <div class="badge badge-danger d-flex align-items-center" *ngIf="record.newOwning > 0 && record.newOwning !=0 ">
                                                <i class="las la-dollar-sign mr-1 fs-18"></i> <span>{{record.totalCost | number : '1.2' }}</span>
                                            </div>

                                            <div class="badge badge-success d-flex align-items-center" *ngIf="record.newOwning == 0">
                                                <i class="las la-dollar-sign mr-1 fs-18"></i> <span>{{record.totalCost | number : '1.2'}}</span>
                                            </div>

                                            <!-- <div class="badge badge-primary d-flex align-items-center">
                                                <i class="las la-dollar-sign mr-1 fs-18"></i> <span>{{record.totalCost}}</span>
                                            </div> -->
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            <div class="badge badge-primary d-flex align-items-center" *ngIf="record.newOwning != 0 && record.newOwning < 0">
                                                <i class="las la-dollar-sign mr-1 fs-18"></i> <span>{{record.newOwning | number : '1.2'}}</span>
                                            </div>
                                            <div class="badge badge-danger d-flex align-items-center" *ngIf="record.newOwning > 0 && record.newOwning !=0 ">
                                                <i class="las la-dollar-sign mr-1 fs-18"></i> <span>{{record.newOwning | number : '1.2'}}</span>
                                            </div>
                                            <div class="badge badge-success d-flex align-items-center" *ngIf="record.newOwning == 0">
                                                <i class="las la-check-circle mr-1 fs-18"></i> <span>Paid</span>
                                            </div>
                                        </td>
                                        <!-- <td style="width:130px" [hidden]="!ExpandedView">
                                            {{record.creationDate | momentFormat:'DD MMM YYYY'}}
                                        </td> -->
                                        <td style="width:200px" class="no_warp" [hidden]="!ExpandedView">
                                            <span class="set_warp_toltrip">
                                                <span [tooltip]="record.job.invoiceNotes">{{record.job.invoiceNotes}}</span></span>
                                        </td>
                                        <td style="width:200px" class="no_warp" [hidden]="!ExpandedView">
                                            <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.activityComment">{{record.activityComment}}</span></span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.activityReminderTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.activityDescription">{{record.activityDescription}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getInvoiceIssued($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <!-- <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <viewpaymentdetail #viewpaymentdetail></viewpaymentdetail>
        <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal>
        <editJobInvoiceModal #editJobInvoiceModal (modalSave)="getInvoiceIssued()"></editJobInvoiceModal>
        <invoiceIssuedpaymentSmsEmailModel #invoiceIssuedpaymentSmsEmailModel (modalSave)="getInvoiceIssued()">
        </invoiceIssuedpaymentSmsEmailModel>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="getInvoiceIssued()"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="getInvoiceIssued()"></ReminderModal>
        <smsModel #smsModel></smsModel>
        <issuedActivityLogModel #issuedActivityLogModel></issuedActivityLogModel>
    </div>
</div>