<div appBsModal #IssuedActivityLogModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg xl_largemodel addjobactiveSmsEmailModal">
        <!-- <form #addActivityForm="ngForm" novalidate autocomplete="off"> -->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Activity</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>

            <div class="modal-body modal-bg-gray" style="max-height:80vh">

                <div class="modal-white-box">
                    <div class="d-flex align-items-center activityfilter" style="border-bottom: 1px solid #EFF2F5; padding-bottom: 12px; margin-bottom: 12px;">
                        <button type="button" class="btn_refresh mr-3" (click)="changeActivity(leadId)" style="height: 32px; padding: 0 1rem !important;"></button>
                        <select class="form-control minwidth145 mr-3" (change)="changeActivity(leadId)" [disabled]="sectionId == 15 || sectionId == 28" [(ngModel)]="actionId" name="typeNameFilter" style="width:170px;">
                            <option value="0">Select Activity</option>
                            <option value="1">{{l("Lead")}}</option>
                            <option value="6">{{l("SMS")}}</option>
                            <option value="7">{{l("Email")}}</option>
                            <option value="8">{{l("Remider")}}</option>
                            <option value="9">{{l("Notify")}}</option>
                            <option value="10">{{l("Job")}}</option>
                            <option sectionId value="11">{{l("Promotion")}}</option>
                            <option value="24">{{l("Comment")}}</option>
                            <option value="27">{{l("Service")}}</option>
                            <option value="28">{{l("Review")}}</option>
                            <option value="33">{{l("WarrantyCliam")}}</option>
                            <!-- <option *ngFor="let item of leadActionList" value="{{item.id}}">{{item.displayName}}</option> -->
                        </select>

                        <div class="switchbox mr-3 d-flex align-items-center">
                            <span class="switchlabel">Current Page</span>
                            <span class="kt-switch kt-switch--icon">
                            <label>
                                <input checked="checked" (change)="myActivity(leadId)" name="SwitchToMyActivity" [(ngModel)]="currentactivity" type="checkbox">
                                <span></span>
                            </label>
                            </span>
                        </div>
                        <div class="switchbox mr-3 d-flex align-items-center">
                            <span class="switchlabel">My Activity</span>
                            <span class="kt-switch kt-switch--icon">
                                    <label>
                                        <input checked="checked" (change)="myActivity(leadId)" name="SwitchToMyActivity"
                                            [(ngModel)]="activity" type="checkbox">
                                        <span></span>
                            </label>
                            </span>
                        </div>
                        <div class="switchbox d-flex align-items-center">
                            <span class="switchlabel">All Activity</span>
                            <span class="kt-switch kt-switch--icon">
                                    <label>
                                        <input (change)="myActivity(leadId)" name="SwitchToMyActivity"
                                            [(ngModel)]="allActivity" type="checkbox">
                                        <span></span>
                            </label>
                            </span>
                        </div>
                    </div>
                    <div class="leaddetailcnt" style="margin:20px 0 0 15px;">
                        <div class="form-group">
                            <div class="ativityLogs">
                                <div class="list_area_box">
                                    <div class="list_box" *ngFor="let item of leadActivityList">
                                        <div *ngIf="item.actionId == 1 || item.actionId == 10" class="img_area activity_assign">
                                            <div><i class="las la-edit"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 2" class="img_area activity_assign">
                                            <div (click)="navigateToLeadHistory(item.id);"><i class="las la-file-medical"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 3" class="img_area activity_assign">
                                            <div><i class="las la-user-check"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 4" class="img_area activity_transfer">
                                            <div><i class="las la-exchange-alt"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 5 || item.actionId == 14" class="img_area activity_transfer">
                                            <div><i class="las la-exchange-alt"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 6" class="img_area activity_sms">
                                            <div><i class="las la-comment"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 44" class="img_area activity_sms">
                                            <div><i class="las la-trash"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 65" class="img_area activity_transfer">
                                            <div><i class="las la-hand-holding-usd"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 21" class="img_area activity_sms">
                                            <!-- <div><i class="las la-share"></i></div> -->
                                            <div><img [src]="appRootUrl() + 'assets/common/images/next.png'" style="width:30px; margin-top:3px" alt="" /></div>
                                        </div>
                                        <div *ngIf="item.actionId == 7" class="img_area activity_mail">
                                            <div><i class="las la-envelope"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 8" class="img_area activity_exreminder">
                                            <div><i class="las la-bell"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 9" class="img_area activity_notify">
                                            <div><i class="las la-bell"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 11" class="img_area activity_update">
                                            <div><i class="las la-sync-alt"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 12" class="img_area activity_update">
                                            <div><i class="las la-comment-dollar"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 13" class="img_area activity_update">
                                            <div><i class="las la-toolbox"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 15" class="img_area activity_update">
                                            <div><i class="las la-hand-holding-usd"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 16" class="img_area activity_update">
                                            <div><i class="las la-file-invoice-dollar"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 17" class="img_area activity_update">
                                            <div><i class="las la-file-invoice"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 19" class="img_area activity_update">
                                            <div><i class="las la-ad"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 18" class="img_area activity_update">
                                            <div><i class="las la-file-alt"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 20 || item.actionId == 22" class="img_area activity_update">
                                            <!-- <div><i class="las la-reply"></i></div> -->
                                            <div><img [src]="appRootUrl() + 'assets/common/images/back.png'" style="width:30px; margin-top:3px" alt="" /></div>
                                        </div>
                                        <div *ngIf="item.actionId == 24" class="img_area activity_update">
                                            <div><i class="las la-comment-dots"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 25" class="img_area activity_update">
                                            <div><i class="las la-clipboard-list"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 26" class="img_area activity_update">
                                            <div><i class="las la-file-invoice-dollar"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 27 || item.actionId == 29 || item.actionId == 30" class="img_area activity_update">
                                            <div><i class="las la-user-cog"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 28" class="img_area activity_update">
                                            <div><i class="las la-binoculars"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 31" class="img_area activity_update">
                                            <div><i class="las la-clipboard-list"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 64" class="img_area activity_update">
                                            <div><i class="las la-hand-holding-usd"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 43" class="img_area activity_update">
                                            <div><i class="las la-calendar-plus"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 42" class="img_area activity_mail">
                                            <div><i class="las la-folder-plus"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 34" class="img_area activity_sms">
                                            <div><i class="las la-clipboard-list"></i></div>
                                        </div>
                                        <div *ngIf="item.actionId == 35" class="img_area activity_update">
                                            <div><i class="las la-calendar-plus"></i></div>
                                        </div>

                                        <div class="text_area">
                                            <div class="title_hd d-flex align-items-center"><span>{{item.section}} - {{item.actionName}} : </span>
                                                <span class="log-date d-flex align-items-center ml-3">
                                                        <i class="las la-clock mr-1"></i>{{item.creationTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                                    </span>
                                            </div>
                                            <p *ngIf="item.actionId != 8" class="123456">
                                                <a href="javascript:void(0)">{{item.creatorUserName}}</a> -
                                                <span *ngIf="item.showLeadJobDetail == 1" style="display:inline-block">
                                                        <a (click)="activityloghistory.show(item.id, 1, sectionName);" class="ml-2 badge badge-pill badge-warning log-edit d-flex align-items-center">
                                                            <i class="las la-user-edit mr-1"></i> {{item.actionNote}}</a> <span *ngIf="item.activityNote"> - Message :
                                                            {{item.activityNote}} - {{item.activitysDate}} </span>
                                                </span>
                                                <span *ngIf="item.showLeadJobDetail == 2" style="display:inline-block">
                                                        <span *ngIf="item.showJobLink == 1" >
                                                            <a (click)="activityloghistory.show(item.id , 2,sectionName);" class="ml-2 badge badge-pill badge-warning log-edit d-flex align-items-center">
                                                                <i class="las la-user-edit mr-1"></i>{{item.actionNote}}
                                                            </a>
                                                            <span *ngIf="item.activityNote"> - Message : {{item.activityNote}} - {{item.activitysDate}} </span>
                                                </span>
                                                <span *ngIf="item.showJobLink == 2">
                                                            {{item.actionNote}} <span *ngIf="item.activityNote"> - Message :
                                                                {{item.activityNote}} - {{item.activitysDate}} 
                                                            </span>
                                                </span>
                                                </span>
                                                <span *ngIf="item.showLeadJobDetail == 3" style="display:inline-block">
                                                        <!-- <a  class="badge badge-pill badge-primary d-flex align-items-center" style="color:#fff !important; width:150px; justify-content: center; "> -->
                                                            <a (click)="activityLogPromotionDetail.show(item.promotionId,'','activity',sectionName);"  class="badge badge-pill badge-primary d-flex align-items-center" style="color:#fff !important; width:100px; justify-content: center; ">
                                                            <i style="color:#fff !important;" class="las la-binoculars fs-20 mr-2"></i> View
                                                        </a>
                                                    </span>
                                                <span *ngIf="item.showLeadJobDetail == 4" style="display:inline-block">
                                                        <!-- <a  class="badge badge-pill badge-primary d-flex align-items-center" style="color:#fff !important; width:150px; justify-content: center; "> -->
                                                            <a (click)="activityLogPromotionDetail.show(item.promotionId,item.activityNote,'activityEmail',sectionName);"  class="badge badge-pill badge-primary d-flex align-items-center" style="color:#fff !important; width:100px; justify-content: center; ">
                                                            <i style="color:#fff !important;" class="las la-binoculars fs-20 mr-2"></i> View
                                                        </a>
                                                    </span>
                                                <span *ngIf="item.showLeadJobDetail == 0" class="123456">
                                                        {{item.actionNote}} : <span *ngIf="item.activityNote"> - Message :
                                                            {{item.activityNote}}</span>
                                                </span>

                                            </p>
                                            <p *ngIf="item.actionId == 8" class="d-flex align-items-center">
                                                <span style="white-space:nowrap"><a href="javascript:void(0)">{{item.creatorUserName}}</a> -</span>
                                                <span *ngIf="item.activityNote" class="d-flex align-items-center"> Next {{item.actionNote}} for
                                                        <span class="badge badge-warning d-flex align-items-center mx-1" style="border-radius:15px; font-weight:500;">
                                                            <i class="las la-calendar mr-1 fs-20"></i> {{item.activitysDate}}
                                                        </span>with Message : {{item.activityNote}}
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <addActivityModal #addActivityModal (modalSave)="addActivitySuccess()"></addActivityModal>
                <activityloghistory #activityloghistory></activityloghistory>
                <activityLogPromotionDetail #activityLogPromotionDetail></activityLogPromotionDetail>
                <smsModel #smsModel (modalSave)="addActivitySuccess()"></smsModel>
                <emailModel #emailModel (modalSave)="addActivitySuccess()"></emailModel>
                <notifyModel #notifyModel (modalSave)="addActivitySuccess()"></notifyModel>
                <commentModel #commentModel (modalSave)="addActivitySuccess()"></commentModel>
                <todoModal #todoModal (modalSave)="addActivitySuccess()"></todoModal>
                <ReminderModal #ReminderModal (modalSave)="addActivitySuccess()"></ReminderModal>

            </div>
            <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" (click)="save()" [disabled]="!addActivityForm.form.valid"><i class="las la-save"></i><span>Send</span></button>
                </div> -->
        </div>
        <!-- </form> -->
    </div>
</div>