<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form *ngIf="active" #WholeSaleLeadDocumentForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="!SpecialOffer.id">{{l("Add New Special Offer")}}</span>
                        <span *ngIf="SpecialOffer.id">{{l("Edit Special Offer")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">

                    <div class="modal-white-box">
                        <h3><i class="las la-award fs-22 mr-2"></i> Offer Details</h3>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group form-icon">
                                    <label for="">{{l("Offer Title")}} *</label>
                                    <input type="text" id="" class="form-control" [(ngModel)]="SpecialOffer.offerTitle" name="Name" minlength="1" maxlength="200" required />
                                    <span class="icon-box"><i class="las la-edit"></i></span>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">{{l("Deal Starts")}} *</label>
                                    <input type="text" bsDatepicker datePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }" name="InvDate" [(date)]="SpecialOffer.dealStarts" class="form-control daterangebox" />
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label for="">{{l("Deal Ends")}} *</label>
                                    <input type="text" bsDatepicker datePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }" name="InvDate" [(date)]="SpecialOffer.dealEnds" class="form-control daterangebox" />
                                </div>
                            </div>
                            <!-- <div class="col-4">
                                <div class="form-group">
                                    <label for="">{{l("Special Offer Price")}} *</label>
                                    <input type="number" id="" class="form-control" name="" required />
                                </div>
                            </div> -->
                            <div class="col-4" style="margin-top:36px;">
                                <div class="form-group">
                                    <div class="kt-checkbox-list">
                                        <label for="Active" class="kt-checkbox">
                                            <input id="Active" type="checkbox" [(ngModel)]="SpecialOffer.isOfferActive" name="Active">
                                            {{"Is Offer Active?" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <h3><i class="las la-box fs-22 mr-2"></i> Product Details</h3>
                        <div class="row">

                            <div class="col-5">
                                <div class="form-group form-icon">
                                    <label for="">{{l("Product Name")}} *</label>
                                    <!-- <input type="text" id="" class="form-control" name="Name" minlength="1" maxlength="200" required /> -->
                                    <p-autoComplete id="productName" name="productName" [(ngModel)]="SpecialOfferProduct.productName" [suggestions]="searchResult" (completeMethod)="filterProductame($event)" placeholder="ProductName" [minLength]="5" inputStyleClass="form-control" styleClass="width-percent-100" (keydown.enter)="OnSelectDetails($event)"
                                    (onSelect)="OnSelectDetails($event)" (onClear)="OnSelectDetails($event)" >
                                        <ng-template let-result pTemplate="item">
                                            <div class="result-item">
                                                <div class="d-flex align-items-center mb-1">
                                                    {{result.productName}} - {{result.price}}
                                                    
                                                </div>
                                               
                                            </div>
                                        </ng-template>
                                    </p-autoComplete>
                                    <span class="icon-box"><i class="las la-edit"></i></span>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="form-group form-icon">
                                    <label for="">{{l("Origional Price")}}</label>
                                    <input type="number" id="oldPrice" name="oldPrice"class="form-control" [(ngModel)]="SpecialOfferProduct.oldPrice" value="$ 600" disabled />
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="form-group form-icon">
                                    <label for="">{{l("Offer Price")}}</label>
                                    <input type="number" id="newPrice" name="newPrice" class="form-control" [(ngModel)]="SpecialOfferProduct.newPrice" placeholder="Special Offer Price" />
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>

                            <div class="col-1">
                                <div class="d-flex align-items-center" style="margin-top:32px;">
                                    <!-- <div class="action-btn mr-2">
                                        <a class="ng-tns-c179-13"><i class="las la-trash text-danger"></i></a>
                                    </div> -->
                                    <div class="action-btn addbtn">
                                        <a class="ng-tns-c179-13" (click)="AddProduct()" ><i class="las la-plus-circle"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12" style="margin-top:10px;">
                                <div class="card card-custom card-stretch">
                                    <div class="card-body sitedetailbox">
                                        <div class="secondary-grid vscrollbar" style="max-height:250px; overflow-y: auto;">
                                            <table class="table table_blck">
                                                <thead>
                                                    <tr>
                                                        <th>Product Name</th>
                                                        <th>Brand</th>
                                                        <th>Product Category</th>
                                                        <th>Origional Price</th>
                                                        <th>Offer Price</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of SpecialOffer.specialOfferProducts; let i = index">
                                                        <td>{{item.productName}}</td>
                                                        <td>{{item.brand}}</td>
                                                        <td>{{item.productCategory}}</td>
                                                        <td><span class="badge badge-secondary">{{item.oldPrice}}</span></td>
                                                        <td><span class="badge badge-primary">{{item.newPrice}}</span></td>
                                                        <td class="text-center action" style="width: 100px;">
                                                            <div class="action-btn">
                                                                <a class="ng-tns-c179-13" (click)="removeProduct(item)"><i class="las la-trash text-danger"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!WholeSaleLeadDocumentForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>