<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Special Offers")}}</span>
                        <span class="total-records-count">
                        ({{(primengTableHelper.totalRecordsCount)}})
                    </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getWholeSaleLeadDocumentType()"></button>
                            </li>
                            <li *ngIf="isGranted('Pages.Tenant.WholeSale.ECommerce.SpecialOffer.Create')"><button (click)="createOffer()" class="btn btn-outline-primary btnadd">
                          Add <i class="las la-plus-circle"></i>
                      </button></li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getWholeSaleLeadDocumentType();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getWholeSaleLeadDocumentType()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getWholeSaleLeadDocumentType();searchLog();" />
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getWholeSaleLeadDocumentType($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.WholeSale.ECommerce.SpecialOffer.Edit', 'Pages.Tenant.WholeSale.ECommerce.SpecialOffer.Delete', 'Pages.Tenant.WholeSale.ECommerce.SpecialOffer.View')">{{l('Actions')}}</th>
                                        <th pSortableColumn="OfferTitle">
                                            {{l('Title')}}
                                            <p-sortIcon field="OfferTitle"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="DealStarts">
                                            {{l('Duration')}}
                                            <p-sortIcon field="DealStarts"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="title">
                                            {{l('Created On')}}
                                            <p-sortIcon field="WholeSaleLeadDocumentType.IsActive"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="title">
                                            {{l('Created By')}}
                                            <p-sortIcon field="WholeSaleLeadDocumentType.IsActive"></p-sortIcon>
                                        </th>
                                        <th >
                                            {{l('Total Items')}}
                                        </th>
                                        <th pSortableColumn="title">
                                            {{l('Status')}}
                                            <p-sortIcon field="WholeSaleLeadDocumentType.IsActive"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.WholeSale.ECommerce.SpecialOffer.Edit', 'Pages.Tenant.WholeSale.ECommerce.SpecialOffer.Delete', 'Pages.Tenant.WholeSale.ECommerce.SpecialOffer.View')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                  <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                              </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.SpecialOffer.View')">
                                                             <a href="javascript:;" (click)="ViewSpecialOfferModal.show(record.specialOffer.id)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}</a>
                                                    </li>
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.SpecialOffer.Edit')">
                                                        <a href="javascript:;" (click)="CreateOrEditSpecialOfferModal.show(record.specialOffer.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.SpecialOffer.Delete')">
                                                        <a href="javascript:;" (click)="deleteSpecialOffer(record.specialOffer)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            {{record.specialOffer.offerTitle}}
                                        </td>
                                        <td>
                                            <span class="badge badge-pill bg-secondary amount">{{record.specialOffer.dealStarts | momentFormat:'DD-MM-YYYY'}}</span>
                                            <span style="margin:0 6px;">to</span>
                                            <span class="badge badge-pill bg-secondary amount">{{record.specialOffer.dealEnds  | momentFormat:'DD-MM-YYYY'}}</span>
                                        </td>
                                        <td>
                                            {{record.specialOffer.offerCreatedDate  | momentFormat:'DD-MM-YYYY'}}
                                        </td>
                                        <td>
                                            {{record.specialOffer.offerCreatedBy}}
                                        </td>
                                        <td>
                                            <span class="badge badge-secondary">{{record.specialOffer.productCount}}</span>
                                        </td>
                                        <td>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.specialOffer.isOfferActive">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.specialOffer.isOfferActive">{{'No' | localize}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getWholeSaleLeadDocumentType($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                showing {{firstrowcount}}
                                To {{last}}
                                <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <CreateOrEditSpecialOfferModal #CreateOrEditSpecialOfferModal></CreateOrEditSpecialOfferModal>
        <ViewSpecialOfferModal #ViewSpecialOfferModal></ViewSpecialOfferModal>

    </div>
</div>