<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("View Special Offer")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">

                    <div class="modal-white-box">
                        <h3><i class="las la-award fs-22 mr-2"></i> Offer Details</h3>
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-4 mt-2 text-primary" style="font-weight:500; font-size:1.5rem;">{{SpecialOffer.offerTitle}}</div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="form-label mr-2" style="font-weight: 600;">Deal Starts :</label>
                                    <span class="badge badge-pill badge-secondary" style="font-weight: 600;">{{SpecialOffer.dealStarts | momentFormat:'DD-MM-YYYY'}}</span>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="form-group">
                                    <label class="form-label mr-2" style="font-weight: 600;">Deal Ends :</label>
                                    <span class="badge badge-pill badge-secondary" style="font-weight: 600;">{{SpecialOffer.dealEnds | momentFormat:'DD-MM-YYYY'}}</span>
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group">
                                    <label class="form-label mr-2" style="font-weight: 600;">Active :</label>
                                    
                                    <span class="badge badge-success" *ngIf="SpecialOffer.isOfferActive">Yes</span>
                                    <span class="badge badge-dark" *ngIf="!SpecialOffer.isOfferActive">No</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <h3><i class="las la-box fs-22 mr-2"></i> Product Details</h3>
                        <div class="row">

                            <div class="col-12" style="margin-top:10px;">
                                <div class="card card-custom card-stretch">
                                    <div class="card-body sitedetailbox">
                                        <div class="secondary-grid vscrollbar" style="max-height:250px; overflow-y: auto;">
                                            <table class="table table_blck">
                                                <thead>
                                                    <tr>
                                                        <th>Product Name</th>
                                                        <th>Brand</th>
                                                        <th>Product Category</th>
                                                        <th>Origional Price</th>
                                                        <th>Offer Price</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of SpecialOffer.specialOfferProducts; let i = index">
                                                        <td>{{item.productName}}</td>
                                                        <td>{{item.brand}}</td>
                                                        <td>{{item.productCategory}}</td>
                                                        <td><span class="badge badge-secondary">{{item.oldPrice}}</span></td>
                                                        <td><span class="badge badge-primary">{{item.newPrice}}</span></td>
                                                        
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    
                </div>
        </div>
    </div>

</div>