<div class='form-group form-icon searchclearbox withoutserachicon'>
    <input type='text' (input)="filterPermissions($event)" [(ngModel)]="filter" class='form-control'
        placeholder='{{"SearchWithThreeDot" | localize}}'>
        <a class="btnclearsearch" *ngIf="filter" (click)="filter=''"></a>
        <span class="icon-box" style="top:7px"><i class="las la-search"></i></span>
</div>
<p-tree [value]="treeData" [(selection)]="selectedPermissions" selectionMode="checkbox"
    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="onNodeUnselect($event)" [propagateSelectionUp]="false">
</p-tree>