﻿<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("ManageService")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getServices();RereshLog();"></button>
                                    <!-- <button type="button" class="btnrefreshbox" (click)="getServices();">
                                        <img src="../../../../assets/common/images/icon_refreshbtn.svg" />
                                        <i class="fa fa-sync"></i>
                                    </button> -->
                                </li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [hidden]="!isGrantedAny('Pages.JobBooking.Export')">
                                            {{l("Export")}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" href="javascript:;" [hidden]="!isGrantedAny('Pages.JobBooking.Export')">
                                                <i class="las la-file-excel"></i> {{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;">
                                                <i class="las la-file-csv"></i> {{l("ExportCSV")}}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="organizationUnit" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getServices(); getusers();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" (change)='getServices();addSearchLog("Filter State");' [(ngModel)]="stateNameFilter" name="stateNameFilter">
                                                <option value="">{{l("SelectAState")}}</option>
                                                <option *ngFor="let item of allStates" value="{{item.displayName}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="Phone">Phone</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                                <option value="Address">Address</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getServices();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getServices()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getServices();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">

                                                    <ul>
                                                        <li class="fullwidth">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="" name="adressFilter" (keydown.enter)="getServices();addSearchLog('Advanced Filter');" placeholder="Street Address" [(ngModel)]="adressFilter">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="serviceCategory" name="serviceCategory" (keydown.enter)="getServices();addSearchLog('Advanced Filter');">
                                                                    <option value=0>{{l("Category")}} </option>
                                                                    <option *ngFor="let item of allServieCategorys"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getServices();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                    {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div class="blue-filter-box myleadsReport leadtopcouont leadtracker leadtrackerpage space_between flexend set_1_lead new_class_1_1221 minhieght71" [hidden]="!FiltersData">
            <div class="leadreportright wd50 paddtopnone">
                <select class="form-control" [(ngModel)]="leadAction" name="leadAction">
                    <option value="0"> {{l("Actions")}}</option>
                    <option value="1">{{l("Delete")}}</option>
                    <option value="2">{{l("Assign")}}</option>
                </select>
                <select name="assignservice" [(ngModel)]="assignservice" class="form-control" *ngIf="leadAction == 2">
                    <option value="0">{{l("SelectAUser")}}</option>
                    <option *ngFor="let item of allServiceUsers" value="{{item.id}}">{{item.displayName}}</option>
                </select>
                <button (click)="submit()" type="submit" class="btngreen">
                    Submit
                </button>
            </div>

        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row" [ngClass] = "{'unselectable': ('Pages.Lead.ManageService.EnableCopyPaste' | permission)}">
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getServices($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable (onLazyLoad)="getServices($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:114px">
                                            <!-- [hidden]="!isGrantedAny('Pages.Jobs.Edit', 'Pages.Jobs.Delete')"> -->
                                            {{l('QuickView')}}
                                        </th>
                                        <th style="width:120px" pSortableColumn="JobNumber">
                                            {{l('ProjNo')}}
                                            <p-sortIcon field="JobNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 120px" [hidden]="!ExpandedView">
                                            {{l('Organization')}}
                                        </th>
                                        <th style="width: 170px" [hidden]="!ExpandedView" pSortableColumn="Name">
                                            {{l('Name')}}
                                            <p-sortIcon field="Name"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" [hidden]="!ExpandedView" pSortableColumn="Address">
                                            {{l('Address')}}
                                            <p-sortIcon field="Address"></p-sortIcon>
                                        </th>
                                        <th style="width: 210px" [hidden]="!ExpandedView" pSortableColumn="Email" *ngIf="'Pages.Lead.ManageService.ShowEmailPhone' | permission">
                                            {{l('Email')}}
                                            <p-sortIcon field="Email"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" [hidden]="!ExpandedView" pSortableColumn="Mobile" *ngIf="'Pages.Lead.ManageService.ShowEmailPhone' | permission">
                                            {{l('Mobile')}}
                                            <p-sortIcon field="Mobile"></p-sortIcon>
                                        </th>
                                        <th style="width:120px" [hidden]="!ExpandedView" pSortableColumn="State">
                                            {{l('State')}}
                                            <p-sortIcon field="State"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="ServiceCategoryName">
                                            {{l('ServiceCategoryName')}}
                                            <p-sortIcon field="ServiceCategoryName"></p-sortIcon>
                                        </th>
                                        <th style="width:100px; text-align: center;">
                                            <span>{{l('Duplicate')}}</span>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" >
                                            {{l('Comment')}}
                                        </th>
                                        <th style="width:45px;" class="checkboxhead set14" [hidden]="!ExpandedView">
                                            <div class="kt-checkbox-list">
                                                <label for="lead_id" class="kt-checkbox">
                                                    <input type="checkbox" id="lead_id" name="all"
                                                        [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="width:114px; text-align: center;" *ngIf="record.service.jobId != 0">
                                            <a href="javascript:;" (click)="viewApplicationModal.show(record.service.jobId,0,'Manage Service')">
                                                <i class="las la-binoculars fs-22"></i>
                                            </a>
                                        </td>
                                        <td style="width:120px">
                                            <span class="badge badge-secondary">{{record.service.jobNumber}}</span>
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.organizationName}}
                                        </td>
                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            {{record.service.name}}
                                        </td>
                                        <td class="no_warp" style="width:150px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.service.address">{{record.service.address |
                                                    titlecase}}</span></div>
                                        </td>
                                        <td class="no_warp" style="width:210px" [hidden]="!ExpandedView" *ngIf="'Pages.Lead.ManageService.ShowEmailPhone' | permission">
                                            <div class="set_warp_toltrip"> <span class="tooltipcnt" [tooltip]="record.service.email">
                                                    {{record.service.email}}</span></div>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView" *ngIf="'Pages.Lead.ManageService.ShowEmailPhone' | permission">
                                            <span class="badge badge-secondary">{{record.service.mobile}}</span>
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.service.state}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.service.serviceCategoryName}}
                                        </td>

                                        <td style="width:100px;">
                                            <div class="dupleadbox">
                                                <div *ngIf="record.duplicate">
                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                            <i class="fas fa-database"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dupdropdown" *dropdownMenu>
                                                            <li>
                                                                <a href="javascript:;" (click)="viewServiceDuplicateModal.show(record.service.id, organizationUnit,'Manage Service')">
                                                                    <i class="las la-eye"></i> {{l('View')}}
                                                                </a>
                                                            </li>
                                                            <li *ngIf="record.isMerge">
                                                                <a href="javascript:;" (click)="mergeRecord(record.service.id)">
                                                                    <i class="las la-object-group"></i> {{l('Merge')}}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" (click)="duplicate(record.service.id , true)">
                                                                    <i class="las la-copy"></i> {{l('Duplicate')}}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" (click)="notduplicate(record.service.id , false)">
                                                                    <i class="las la-not-equal"></i> {{l('NotDuplicate')}}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a (click)="addActivityModal.show(record.service.leadId,9,24,0,0,0,'Manage Service')">
                                                                    <i class="las la-bell"></i> {{l('Notify')}}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" (click)="deleteLead(record.service.id)">
                                                                    <i class="las la-trash"></i> {{l('PreviuosDelete')}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.service.notes">{{record.service.notes}}</span>
                                            </div>
                                        </td>
                                        <td style="width:45px;" [hidden]="!ExpandedView">
                                            <div class="kt-checkbox-list" *ngIf="!record.duplicate">
                                                <label for="{{record.service.id}}" class="kt-checkbox">
                                                    <input type="checkbox" id="{{record.service.id}}"
                                                        name="recordSource" [(ngModel)]="record.isSelected"
                                                        (change)="oncheckboxCheck()" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getServices($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <viewServiceDuplicateModal #viewServiceDuplicateModal></viewServiceDuplicateModal>
        <addActivityModal #addActivityModal></addActivityModal>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>

    </div>
</div>