<div bsModal #duplicateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="duplicateModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("DuplicateRecord")}} - {{DupCount}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="duplicateleaddetail">
                    <div class="row modal-white-box" *ngFor="let item of item">
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6 class="">{{l("ProjNo")}}:</h6>
                                <span class="badge badge-secondary" style="min-width:inherit !important;">{{item.projectNo}}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("CopanyName")}} :</h6>
                                <span>{{ item.companyName }}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("Email")}} :</h6>
                                <span style="min-width:inherit !important;" class="emailtext email_lowercase badge badge-danger">{{ item.email }}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("Phone")}} :</h6>
                                <span>{{ item.phone }}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("Mobile")}} :</h6>
                                <span style="min-width:inherit !important;" class="badge badge-danger">{{ item.mobile }}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("Address")}} :</h6>
                                <span>{{ item.address  | titlecase}} {{ item.state | titlecase }}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>Current Owner :</h6>
                                <span>{{item.currentAssignUserName}}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("SeviceCategory")}} :</h6>
                                <span> {{item.serviceCategory}}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("Sevice SubCategory")}} :</h6>
                                <span> {{item.serviceSubCategory}}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("ServiceSource")}} :</h6>
                                <span> {{item.serviceSource}}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("ServiceStatus")}} :</h6>
                                <span> {{item.serviceStatus}}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("ServicePriority")}} :</h6>
                                <span> {{item.servicePriority}}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("CreatedBy")}} :</h6>
                                <span>{{item.createdByName}}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("CreatedOn")}}:</h6>
                                <span>{{item.creationTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                            </div>
                        </div>


                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("Status")}}:</h6>
                                <span>{{item.projectStatus}}</span>
                            </div>
                        </div>
                        <div class="col-6 mb-3">
                            <div class="duplicaterecord">
                                <h6>{{l("ProjectOpen")}} :</h6>
                                <span>{{item.projectOpenDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                        class="las la-times-circle"></i> {{l("Cancel")}}</button>
            </div>
        </div>
    </div>
</div>