<!-- <div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form  #WholeSaleEmailTemplateForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
             <div class="modal-header">
                <h4 class="modal-title">
                    <span *ngIf="WholeSaleEmailTemplate.id">{{l("EditWholeSaleEmailTemplate")}} </span>
                    <span *ngIf="!WholeSaleEmailTemplate.id">{{l("CreateNewWholeSaleEmailTemplate")}} </span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body">
                <div class="row">
            
        </div>
                <div class="form-group">
                    <label for="Template_Text">{{l("Text")}} *</label>
                    <textarea type="text" #Template_Text="ngModel" id="Template_Text" class="form-control"
                        [(ngModel)]="WholeSaleEmailTemplate.viewHtml" name="ViewHtml" required></textarea>
                    <validation-messages [formCtrl]="Template_Text"></validation-messages>
                </div>

                <br/><div class="m-checkbox-list">
                    <label for="WholeSaleEmailTemplate_Active" class="kt-checkbox">
                        <input id="WholeSaleEmailTemplate_Active" type="checkbox" name="Active" [(ngModel)]="WholeSaleEmailTemplate.isActive"> 
                        {{l("Active")}}
                        <span></span>
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="cancel()"><i class="fa fa-times"></i> {{l("Cancel")}}</button>
                <button type="submit" class="btn btn-primary blue" [disabled]="!WholeSaleEmailTemplateForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
            </div>
        </form>
        </div>
    </div>

</div> -->

<!-- <div [@routerTransition] >
    <div class="kt-content creatleadpage kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid grayback'">
            <div class="kt-portlet kt-portlet--mobile">
                
            </div>
        </div>
    </div>
</div> -->

<div class="mx-3">
    <div class="container-fluid" style="margin-top: -50px !important;">
        <form autocomplete="off" #QuoteForm="ngForm">
            <div id="bar">
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-info-circle mr-2"></i>Template Details</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group form-icon">
                                <label for="name">{{l("Name")}} *</label>
                                <input type="text" id="name" class="form-control"
                                    [(ngModel)]="WholeSaleEmailTemplate.templateName" name="name" required />
                                <span class="icon-box"><i class="las la-edit"></i></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group form-icon">
                                <label for="organizationUnits">{{l("Organazation")}} *</label>
                                <select class="form-control" [(ngModel)]="WholeSaleEmailTemplate.organizationUnitId"
                                    name="organizationUnitId">
                                    <option value="0">{{l("Select")}}</option>
                                    <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                        {{item.displayName}}</option>
                                </select>
                                <span class="icon-box"><i class="las la-globe"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-code mr-2"></i>Template Code</h3>
                    <textarea id="name" class="form-control"
                        style="height: 60vh !important; text-transform: none !important; text-transform: none;"
                        [(ngModel)]="WholeSaleEmailTemplate.viewHtml" name="viewHtml" required></textarea>
                </div>

                <ul class="hd_right">
                    <li><button (click)="cancel()" class="btn btn-secondary marginleft0"><i
                                class="las la-times-circle"></i>Cancel</button></li>
                    <li><button (click)="saveDesign()" class="btn btn-primary min-width94 marginleft0"
                            [disabled]="!QuoteForm.form.valid"><i class="las la-save"></i>Save Design</button></li>
                </ul>
            </div>
        </form>
    </div>
</div>