<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("EmailTemplates")}}</span>
                        <span class="total-records-count">
                   ({{(primengTableHelper.totalRecordsCount)}})
                </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getEmailTemplates()"></button>
                                </li>
                                <li *ngIf="isGranted('Pages.QuotationTemplate.Create')"><button (click)="createEmailTemplate()" class="btn btn-outline-primary btnadd">
                                    Add <i class="las la-plus-circle"></i>
                                    </button>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getEmailTemplates();">
                                                <option value="0">Organazation</option>
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">{{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div class="kt-searchmainbox">
                                        <div class="kt-stextbox searchclearbox">
                                            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="filterText" (keydown.enter)="getEmailTemplates();searchLog();" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getEmailTemplates()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getEmailTemplates();searchLog();" />
                                        </div>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getEmailTemplates($event)" selectionMode="single" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.QuotationTemplate.Edit', 'Pages.QuotationTemplate.Delete')">{{l('Actions')}}</th>
                                        <th pSortableColumn="templateName" style="width: 250px">
                                            {{l('Name')}}
                                            <p-sortIcon field="emailTamplate.templateName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="TemplateType" style="width: 250px">
                                            {{l('TemplateType')}}
                                            <p-sortIcon field="emailTamplate.organazationUnitsName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="organazationUnitsName" style="width: 250px">
                                            {{l('Organazation')}}
                                            <p-sortIcon field="emailTamplate.organazationUnitsName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="isActive" style="width:130px">
                                            {{l('IsActive')}}
                                            <p-sortIcon field="emailTamplate.isActive"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td class="actionwidth" [hidden]="!isGrantedAny('Pages.QuotationTemplate.Edit', 'Pages.QuotationTemplate.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                  <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.QuotationTemplate.Edit')" (click)="createEmailTemplate(record.emailTamplate.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.QuotationTemplate.Delete')" (click)="deleteEmailTemplate(record.emailTamplate)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 250px">
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.emailTamplate.templateName}}
                                        </td>
                                        <td style="width: 250px">
                                            <span class="ui-column-title"> {{l('TemplateType')}}</span> {{record.emailTamplate.templateType}}
                                        </td>
                                        <td style="width: 250px">
                                            <span class="ui-column-title"> {{l('Organization')}}</span> {{record.emailTamplate.organazationUnitsName}}
                                        </td>
                                        <td style="width:130px">
                                            <span class="ui-column-title"> {{l('IsActive')}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.emailTamplate.isActive">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.emailTamplate.isActive">{{'No' | localize}}</span>
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getEmailTemplates($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                  {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                              </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- <createOrEditQuotationTemplateModal #createOrEditQuotationTemplateModal (modalSave)="getEmailTemplates()"></createOrEditQuotationTemplateModal> -->