﻿<style>
    .form-icon .icon-box {
        top: 30px;
    }
</style>
<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Edit Payment")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group m-form__group">
                                    <div class="form-group maxwdth15">
                                        <label for="JobRefund_Notes">{{l("Date")}}</label>
                                        <input type="text" bsDatepicker datePickerMomentModifier [(ngModel)]="importdate" [bsConfig]="{ customTodayClass: 'today' }" name="distapprovaldate" [(date)]="importdate" class="form-control daterangebox" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group form-icon">
                                    <div class="form-group maxwdth15">
                                        <label for="paymentid">{{l("PaymentType")}}</label>
                                        <select name="paymentid" [(ngModel)]="paymentid" class="form-control">
                                                <option value="0">{{l("PaymentType")}}</option>
                                                <option *ngFor="let item of allInvoicePaymentMethods" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        <span class="icon-box"><i class="las la-wallet"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group form-icon">
                                    <div class="form-group maxwdth15">
                                        <label for="ammount">{{l("PaidAmmount")}}</label>
                                        <input type="text" name="ammount" [(ngModel)]="ammount" class="form-control" />
                                        <span class="icon-box"><i class="las la-coins"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group m-form__group form-icon">
                                    <div class="form-group maxwdth15">
                                        <label for="ssCharge">{{l("SSCharge")}}</label>
                                        <input type="text" name="ssCharge" [(ngModel)]="ssCharge" class="form-control" />
                                        <span class="icon-box"><i class="las la-coins"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group form-icon">
                                    <div class="form-group maxwdth15">
                                        <label for="receiptNumber">{{l("ReceiptNumber")}}</label>
                                        <input type="text" name="receiptNumber" [(ngModel)]="receiptNumber" class="form-control" />
                                        <span class="icon-box"><i class="las la-hashtag"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group form-icon">
                                    <div class="form-group maxwdth15">
                                        <label for="purchaseNumber">{{l("PurchaseNumber")}}</label>
                                        <input type="text" name="purchaseNumber" [(ngModel)]="purchaseNumber" class="form-control" />
                                        <span class="icon-box"><i class="las la-hashtag"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <div class="form-group maxwdth15">
                                        <label for="description">{{l("Description")}}</label>
                                        <textarea name="description" [(ngModel)]="description" class="form-control"></textarea>
                                        <!-- <input type="text" name="description" [(ngModel)]="description" class="form-control" /> -->
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group m-form__group">
                                    <div class="form-group maxwdth15">
                                        <label for="invoiceNotesDescription">{{l("InvoiceNotesDescription")}}</label>
                                        <textarea name="invoiceNotesDescription" [(ngModel)]="invoiceNotesDescription" class="form-control"></textarea>
                                        <!-- <input type="text" name="invoiceNotesDescription" [(ngModel)]="invoiceNotesDescription" class="form-control" /> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>