<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 100%;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Invoice Paid")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getinvoiceimportedata();RereshLog();"></button></li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <!-- <i class="far fa-file-excel"></i> -->
                                            <!-- {{"ExcelOperations" | localize}} -->
                                            {{l("Import")}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a href="javascript:;" *ngIf="'Pages.Tracker.InvoiceTracker.Import' | permission" class="no-padding btnuploadexcel a_set1">
                                                <span class="fileinput-button">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a href="/assets/sampleFiles/InvoiceAccountData.xlsx" class="dropdown-item btnsample">
                                                <!-- <img src="../../../../assets/common/images/icon_samplefile.svg" /> -->
                                                <i class="las la-file-excel"></i>{{l('SampleFile')}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;">
                                                <i class="las la-file-excel"></i>{{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item icon_csv" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;">
                                                <i class="las la-file-csv"></i>{{l("ExportCSV")}}
                                            </a>

                                        </div>

                                    </div>
                                </li>
                                <li *ngIf="isGranted('Pages.Tracker.InvoiceTracker.CreateManually')">
                                    <button (click)="createnewinvoices.show(10,'Invoice Paid')" class="btn btn-outline-primary btnadd">
                                        Add <i class="las la-plus-circle"></i>
                                    </button>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getinvoiceimportedata();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox apptrackeradv">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" class="form-control" [ngClass]="{pl50: filterName == 'JobNumber' }" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getinvoiceimportedata();addSearchLog('Filter' + filterName +  ' : ' + filterText)" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getinvoiceimportedata()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getinvoiceimportedata();addSearchLog('Filter' + filterName +  ' : ' + filterText)" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="state" name="state" (keydown.enter)="getinvoiceimportedata();addSearchLog('Advanced Filter');">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="paymenttypeid" [(ngModel)]="paymenttypeid" class="form-control" (keydown.enter)="getinvoiceimportedata();addSearchLog('Advanced Filter');">
                                                                    <option value=0>Select PaymentMethod</option>
                                                                    <option *ngFor="let item of jobPaymentOptions"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="payby" (keydown.enter)="getinvoiceimportedata();addSearchLog('Advanced Filter');" [(ngModel)]="payby" class="form-control">
                                                                    <option value="0">{{l("PayBy")}}</option>
                                                                    <option
                                                                        *ngFor="let item of allInvoicePaymentMethods"
                                                                        value="{{item.id}}">{{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateFilterType" name="dateFilterType" (keydown.enter)="getinvoiceimportedata();addSearchLog('Advanced Filter');">
                                                                    <option value="CreationDate">{{l("CreationDate")}}</option>
                                                                    <option value="InstallDate">{{l("InstallDate")}}</option>
                                                                    <option value="BankDate">{{l("BankDate")}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <!-- <li class="clear-date">
                                                            <div class="form-group">
                                                                <input name="SampleDateRangePicker" type="text" (keydown.enter)="getinvoiceimportedata($event)" [(ngModel)]="sampleDateRange" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }"
                                                                    [(date)]="sampleDateRange" />
                                                                <a class="btnclearsearch btndateClear" *ngIf="sampleDateRange" (click)="sampleDateRange=null"><i class="fas fa-times-circle"></i></a>
                                                            </div>
                                                        </li> -->
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>

                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red marright10 ng-tns-c458-53" (click)="clear()"><i class="fas fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm  ng-tns-c458-53" (click)="getinvoiceimportedata();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>

                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>

            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>${{this.totalData | number : '1.2'}}</span><label>{{l("TotalAmount")}}</label></li>
                    <li><span>${{this.totalpaidammount | number : '1.2'}}</span><label> {{l("PaidAmount")}} </label></li>
                    <li><span>${{this.totalWOPaidammount | number : '1.2'}}</span><label>Wave-Off</label></li>
                    <li><span>${{this.totalData - totalpaidammount - totalWOPaidammount | number : '1.2'}}</span><label> {{l("BalOwing")}} </label></li>
                </ul>

            </div>

        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.Tracker.InvoiceTracker.EnableCopyPaste' | permission)}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol">
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getinvoiceimportedata($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getinvoiceimportedata($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" style="width:95px" [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Verify','Pages.Tracker.InvoiceTracker.Notify','Pages.Tracker.InvoiceTracker.SMS','Pages.Tracker.InvoiceTracker.Email','Pages.Tracker.InvoiceTracker.QuickView')">
                                            {{l('Actions')}}</th>
                                        <th style="width:145px" pSortableColumn="Date">
                                            {{l('Date')}}
                                            <p-sortIcon field="Date"></p-sortIcon>
                                        </th>
                                        <th style="width:110px" pSortableColumn="JobNumber">
                                            {{l('JobNumber')}}
                                            <p-sortIcon field="JobNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 130px" pSortableColumn="InvoicePaymentMethodFk.PaymentMethod">
                                            {{l('PayBy')}}
                                            <p-sortIcon field="InvoicePaymentmothodName"></p-sortIcon>
                                        </th>
                                        <th style="width: 250px" pSortableColumn="Description">
                                            {{l('Description')}}
                                            <p-sortIcon field="Description"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="PaidAmmount">
                                            {{l('PaidAmmount')}}
                                            <p-sortIcon field="PaidAmmount"></p-sortIcon>
                                        </th>
                                        <th style="width: 140px" pSortableColumn="SSCharge">
                                            {{l('SSCharge')}}
                                            <p-sortIcon field="SSCharge"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="AllotedBy">
                                            {{l('AllotedBy')}}
                                            <p-sortIcon field="AllotedBy"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="ReceiptNumber">
                                            {{l('ReceiptNumber')}}
                                            <p-sortIcon field="ReceiptNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="PurchaseNumber">
                                            {{l('PurchaseNumber')}}
                                            <p-sortIcon field="PurchaseNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 300px" pSortableColumn="InvoiceNotesDescription">
                                            {{l('InvoiceNotesDecription')}}
                                            <p-sortIcon field="InvoiceNotesDescription"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td class="actionwidth" style="text-align:Center; width:95px;" [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Edit','Pages.Tracker.InvoiceTracker.Delete','Pages.Tracker.InvoiceTracker.Reminder','Pages.Tracker.InvoiceTracker.Email','Pages.Tracker.InvoiceTracker.Comment','Pages.Tracker.InvoiceTracker.ToDo','Pages.Tracker.InvoiceTracker.Reminder')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>

                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Edit')">
                                                        <a href="javascript:;" (click)="editnewinvoices.show(record.importdata.id,10,'Invoice Paid')">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Delete')">
                                                        <a href="javascript:;" (click)="deleteLeadExpense(record.importdata.id)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Reminder')">
                                                        <a (click)="notifyModel.show(record.importdata.leadId,10,0,'Invoice Paid')">
                                                            <!-- <a (click)="addActivityModal.show(record.importdata.leadId,9,0,10)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>

                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Email')">
                                                        <a (click)="newinvoicepaidSmsEmailModel.show(record.importdata.leadId,2,10,record.importdata.id,organizationUnit,'Invoice Paid')">
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Comment')">
                                                        <a (click)="commentModel.show(record.importdata.leadId,10,0,'Invoice Paid')">
                                                            <!-- <a (click)="addActivityModal.show(record.importdata.leadId,24,0,10)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.ToDo')">
                                                        <a (click)="todoModal.show(record.importdata.leadId,10,0,'Invoice Paid')">
                                                            <!-- <a (click)="addActivityModal.show(record.importdata.leadId,25,0,10)"> -->
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.InvoiceTracker.Reminder')">
                                                        <a (click)="ReminderModal.show(record.importdata.leadId,10,0,'Invoice Paid')">
                                                            <!-- <a (click)="addActivityModal.show(record.importdata.leadId,8,0,10)"> -->
                                                            <i class="las la-history"></i> {{l('ActionReminder')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:145px">
                                            <!-- <span class="ui-column-title"> {{l('jobNumber')}}</span> -->
                                            <span class="badge badge-secondary d-flex align-items-center"><i class="las la-calendar fs-18 mr-1"></i>{{record.importdata.date | momentFormat:'DD MMM YYYY'}}</span>
                                        </td>
                                        <td style="width:110px">
                                            <span class="badge badge-secondary">{{record.importdata.jobNumber}}</span>
                                        </td>
                                        <td style="width:130px">
                                            {{record.importdata.paymentMethodName}}
                                        </td>
                                        <td class="no_warp" style="width:250px">
                                            <span [tooltip]="record.importdata.description" class="tooltipcnt">{{record.importdata.description}}</span>
                                        </td>
                                        <td style="width:200px">
                                            <span class="badge badge-success">${{record.importdata.paidAmmount | number : '1.2'}}</span>
                                        </td>
                                        <td style="width:140px">
                                            <span class="badge badge-secondary">{{record.importdata.ssCharge | number : '1.2'}}</span>
                                        </td>
                                        <td style="width:150px">
                                            {{record.importdata.allotedBy}}
                                        </td>
                                        <td style="width:150px">
                                            {{record.importdata.receiptNumber}}
                                        </td>
                                        <td style="width:150px">
                                            {{record.importdata.purchaseNumber}}
                                        </td>
                                        <td class="no_warp" style="width:300px">
                                            <span [tooltip]="record.importdata.invoiceNotDescription" class="tooltipcnt">{{record.importdata.invoiceNotDescription}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getinvoiceimportedata($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <!-- <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}"
                                (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal>
        <editnewinvoices #editnewinvoices (modalSave)="reloadPage($event)"></editnewinvoices>
        <newinvoicepaidSmsEmailModel #newinvoicepaidSmsEmailModel (modalSave)="reloadPage($event)">
        </newinvoicepaidSmsEmailModel>
        <createnewinvoices #createnewinvoices (modalSave)="reloadPage($event)"></createnewinvoices>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="reloadPage($event)"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="reloadPage($event)"></ReminderModal>
    </div>
</div>