#HostDashboard div.chart {
  height: 260px;
  width: 100%;
}
#HostDashboard div.chart h3 small {
  padding-left: 0px !important;
}
#HostDashboard .expiring-tenants-table thead th {
  background-color: #e08283 !important;
  color: white;
}
#HostDashboard .recent-tenants-table thead th {
  background-color: #8877a9 !important;
  color: white;
}
#HostDashboard .expiring-tenants-table {
  color: green;
}
#HostDashboard div.pie-chart-label {
  border: 1px solid grey;
  font-size: 8pt;
  text-align: center;
  padding: 5px;
  color: white;
}
#HostDashboard div.portlet div.portlet-title div.caption div.caption-helper {
  margin-top: 5px;
}
#HostDashboard div.portlet div.portlet-title div.actions {
  padding: 0;
}
#HostDashboard div.portlet div.portlet-body {
  min-height: 330px;
}
#HostDashboard div.flot-x-axis > div {
  white-space: nowrap;
  transform: translate(0px, 0) rotate(-25deg);
  text-indent: -6%;
  transform-origin: bottom;
}
#HostDashboard input[type="radio"] {
  display: none;
}
#HostDashboard .portlet > .portlet-title > .caption > .caption-helper {
  font-size: 11px;
}
#HostDashboard .m-subheader .m-subheader__daterange > .btn > i {
  font-size: 22px !important;
}
#HostDashboard .m-subheader .m-subheader__daterange .m-subheader__daterange-label {
  padding: 0rem 0.75rem 0rem 0.75rem !important;
}
@media (max-width: 768px) {
  #HostDashboard .m-subheader .m-subheader__daterange {
    padding: 0px !important;
  }
  #HostDashboard .m-subheader__daterange.dashboard-report-range a.btn-primary {
    padding: 19px !important;
  }
}
.income-statistics svg.ngx-charts {
  margin-left: -40px;
  margin-top: -20px;
}
.edition-statistics svg.ngx-charts {
  margin-left: -40px;
  margin-top: -30px;
}
.dashboard-report-range {
  margin-left: 5px;
}
/** New Styles **/
.dashboard-report-range {
  color: #fff !important;
}
.kt-portlet__head-toolbar label.btn {
  cursor: pointer;
}
.kt-subheader__wrapper .dashboard-report-range {
  margin-right: -204px;
}
.dashboard-header-text-edit-mode {
  color: #272727;
}
.kt-user-card {
  display: none !important;
}
.progress-bar {
  background-color: #1A73E8 !important;
}
.kt-font-brand {
  color: #1A73E8 !important;
}
.kt-portlet__body .row .col-md-12,
.kt-portlet__body .row .col-lg-6 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
