<style>
    /* .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
        padding-top: 80px !important;
    }
     */
    
    .day-filter .dropdown-toggle::after {
        display: none;
    }
    
    .day-filter .btn {
        background: #fff !important;
        color: #5344ed !important;
        padding: 0 10px !important;
        height: 36px !important;
    }
    
    .day-filter .btn:hover {
        background: #5344ed !important;
        color: #fff !important;
    }
    
    .day-filter .movedd {
        inset: 100% auto auto -5px !important;
    }
    
    .day-filter .form-control {
        height: 36px !important;
        border-color: #5344ed !important;
    }
</style>

<div class="maindashboard">
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor ng-tns-c729-7">
        <div class="new-dashboard-block">
            <div class="d-flex align-items-center justify-content-between mb-4 day-filter">
                <h3 class="kt-subheader__title">Wholesale Dashboard</h3>
                <div class="d-flex align-items-center">
                    <select class="form-control mr-2" style="width:150px !important">
                        <option>Nilesh Dhimar</option>
                        <option>Ravindra Gohel</option>
                    </select>
                    <div class="btn-group dropdown" dropdown>
                        <button class="dropdown-toggle btn btn-primary btn-primary btn-sm d-flex align-items-center" dropdownToggle>
                            Today: <span class="ml-1">{{ today }}</span> <i class="las la-calendar ml-3"></i>
                        </button>
                        <ul class="dropdown-menu movedd" *dropdownMenu>
                            <li><a href="javascript:;">Today</a></li>
                            <li><a href="javascript:;">Yesterday</a></li>
                            <li><a href="javascript:;">Last 7 Days</a></li>
                            <li><a href="javascript:;">Last 30 Days</a></li>
                            <li><a href="javascript:;">This Month</a></li>
                            <li><a href="javascript:;">Last Month</a></li>
                            <li><a href="javascript:;">Custom Range</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mb-4" style="display:none;">
                <div class="col-md-4">
                    <div class="card-white no-bdr">
                        <div class="dcard-body" style="height:220px;">
                            <!-- <h3 style="margin:0 0 0.5rem !important;"><span class="mr-1">Congratulations</span> Nilesh! 🎉</h3> -->
                            <h3 style="margin:0 0 0.5rem !important;"><span class="mr-1">Amount Receivable</span></h3>
                            <!-- <p class="mb-0 light text-light">You are now on 1st position in Sales Ladder</p> -->
                            <div class="mt-1">
                                <div class="fs-30 mr-5 mb-1 text-primary" style="font-weight:500;">$95.5k</div>
                                <div class="mb-2 light d-flex align-items-center text-light">75% of target <span class="ml-2">🤟🏻</span></div>
                                <button class="btn btn-primary">VIEW SALES</button>
                            </div>
                        </div>
                        <div class="img_avod"><img src="../../../../assets/common/images/trophy.png" alt=""></div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card-white no-bdr" style="height:220px;">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-chalkboard-teacher fs-30 mr-2 text-primary"></i><span>Message Board</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body" style="height:155px;">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row mb-4">
                <div class="col-md-12">
                    <div class="card-white plain-card no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-chart-bar fs-30 mr-2 text-primary"></i><span>Overview</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body gray-box">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="card-white border-primary">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">New</div>
                                                    <h3 class="text-info lrg">$10000</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-jobs.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-danger">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Cold</div>
                                                    <h3 class="text-info lrg">$1500</h3>
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-activetask.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 12% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-danger">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Warm</div>
                                                    <h3 class="text-info lrg">$1500</h3>
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-planned.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 12% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-success">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Hot</div>
                                                    <h3 class="text-info lrg">$945</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-active.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block down">+ 13% <i class="ml-2 fas fa-angle-down"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="card-white border-primary">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <div class="mb-2 task-label">Upgrade</div>
                                                    <h3 class="text-info lrg">$1500</h3>
                                                    <!-- <span class="badge badge-secondary">Last 4 Months</span> -->
                                                </div>
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-booked.png" alt="" style="max-height:70px;">
                                                    <!-- <div class="ratio-block">+ 28% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <div class="card-white no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-globe fs-30 mr-2 text-primary"></i><span>State Wise Sales</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body gray-box">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/nsw.png" alt="" style="max-height:65px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 task-label fs-14">NSW</div>
                                                    <div class="d-flex align-items-center">
                                                        <h3 class="text-info">$1,30,000</h3>
                                                        <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/qld.png" alt="" style="max-height:65px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 task-label fs-14">QLD</div>
                                                    <div class="d-flex align-items-center">
                                                        <h3 class="text-info">$4,10,000</h3>
                                                        <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/vic.png" alt="" style="max-height:65px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 task-label fs-14">VIC</div>
                                                    <div class="d-flex align-items-center">
                                                        <h3 class="text-info">$4,60,900</h3>
                                                        <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/sa.png" alt="" style="max-height:65px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-1 task-label fs-14">SA</div>
                                                    <div class="d-flex align-items-center">
                                                        <h3 class="text-info">$2,60,000</h3>
                                                        <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="card-white no-bdr">
                        <div class="dcard-title d-flex align-items-center justify-content-between">
                            <h3 style="margin:0 !important;" class="text-secondaty"><i class="las la-phone-volume fs-30 mr-2 text-primary"></i><span>Call History</span></h3>
                            <div>
                                <div class="btn-group dropdown" dropdown>
                                    <button class="dropdown-toggle btn btn-sm" dropdownToggle>
                                        <i class="las la-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu movedd" *dropdownMenu>
                                        <li><a href="javascript:;">Last Week</a></li>
                                        <li><a href="javascript:;">Last Month</a></li>
                                        <li><a href="javascript:;">Last Year</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dcard-body gray-box" style="height:201px;">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-incoming.png" alt="" style="max-height:50px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-3 task-label fs-14">Inbound</div>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <h3 class="text-info">6000</h3>
                                                        <!-- <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-outgoing.png" alt="" style="max-height:50px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-3 task-label fs-14">Outbound</div>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <h3 class="text-info">10000</h3>
                                                        <!-- <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-misscall.png" alt="" style="max-height:50px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-3 task-label fs-14">Missed</div>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <h3 class="text-info">500</h3>
                                                        <!-- <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card-white border-primary" style="box-shadow:none;">
                                        <div class="dcard-body column-record">
                                            <div class="d-flex justify-content-between align-items-center" style="flex-direction: column;">
                                                <div class="">
                                                    <img src="../../../../assets/common/images/icon-outbound.png" alt="" style="max-height:50px;">
                                                    <!-- <div class="ratio-block">+ 20% <i class="ml-2 fas fa-angle-up"></i></div> -->
                                                </div>
                                                <div style="text-align:center">
                                                    <div class="mt-3 task-label fs-14">Not Answered</div>
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        <h3 class="text-info">1020</h3>
                                                        <!-- <i class="fas fa-sort-up fs-18 text-success ml-2 mt-2"></i> -->
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- <customizable-dashboard [dashboardName]="dashboardName"></customizable-dashboard> -->
</div>