﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #leadSourceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off" [ngClass]="{'formvalid':leadSourceForm.form.valid}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="CommissionRange.id">{{l("EditCommissionRanges")}}</span>
                        <span *ngIf="!CommissionRange.id">{{l("CreateNewCommissionRanges")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label for="CallFlowQueue_Name">Commission Range *</label>
                                    <input type="text" id="Range" class="form-control" name="Name" [(ngModel)]="CommissionRange.range"  required/>
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label for="CallFlowQueue_ExtentionNumber">Commission Value*</label>
                                    <input type="number" id="value" class="form-control" name="ExtentionNumber"  [(ngModel)]="CommissionRange.value" required/>
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label for="CallFlowQueue_ExtentionNumber">Organization *</label>
                                    <select name="OrganizationUnits" class="form-control" [(ngModel)]="CommissionRange.orgId" required> 
                                        <option value="undefined">select Organization</option>
                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-sitemap"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label >Is-Active</label>
                                    <input type="checkbox"  class="form-control" [(ngModel)]="CommissionRange.isActive" name="isActive" style="width: 22px;" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las fa-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" [disabled]="!leadSourceForm.form.valid"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>