﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg promotionmodalwidth">
        <div class="modal-content promotionmodal">
            <form *ngIf="active" #promotionForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="promotion.id">{{l("EditPromotion")}}</span>
                        <span *ngIf="!promotion.id">{{l("CreateNewPromotion")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body promotionnewmodal">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="Promotion_Title">{{l("Title")}}</label>
                                    <input type="text" id="Promotion_Title" class="form-control" [(ngModel)]="promotion.title" name="Title" required />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group m-form__group mb-0">
                                    <label for="PromotionTypeName">{{l("Type")}}</label>
                                    <select name="promotion.promotionTypeId" [(ngModel)]="promotion.promotionTypeId" class="form-control" (change)="this.SelectedPromotionTypeId=promotion.promotionTypeId" required>
                                        <option value="null" selected>{{l("Select Promotion Type")}}</option>
                                        <option *ngFor="let item of allPromotionTypes" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6" *ngIf="promotion.promotionTypeId == 1">
                                <div class="form-group">
                                    <label for="mobileNos">{{l("mobile")}}</label>
                                    <input id="promotion.mobileNos" class="form-control" [(ngModel)]="promotion.mobileNos" name="mobileNos" />
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="promotion.promotionTypeId == 2">
                                <div class="form-group">
                                    <label for="emails"> {{l("Email")}}</label>
                                    <input id="promotion.emails" class="form-control" [(ngModel)]="promotion.emails" name="emails" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="MultiSelectInput_LeadSource">Lead Source</label>
                                    <p-autoComplete [(ngModel)]="leadSourceids" [suggestions]="filteredLeadSource" (completeMethod)="filterLeadSource($event)" (onSelect)="this.countLeads()" (onUnselect)="this.RefreshCountLeads()" field="name" placeholder="Select Lead Source" [minLength]="1"
                                        name="MultiSelectInput" id="MultiSelectInput_LeadSource" [multiple]="true" inputStyleClass="form-control" styleClass="width-percent-100">
                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="MultiSelectInput_leadStatus">Lead Status</label>
                                    <p-autoComplete [(ngModel)]="leadStatusids" [suggestions]="filteredLeadStatus" (completeMethod)="filterLeadStatus($event)" (onSelect)="this.countLeads()" (onUnselect)="this.RefreshCountLeads()" field="name" placeholder="Select Lead Status" [minLength]="1"
                                        name="MultiSelectInput" id="MultiSelectInput_leadStatus" [multiple]="true" inputStyleClass="form-control" styleClass="width-percent-100">
                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="col-md-6" [hidden]="!showjobstatus">
                                <div class="form-group">
                                    <label for="MultiSelectInput_jobStatus">Job Status</label>
                                    <p-autoComplete [(ngModel)]="jobStatusids" [suggestions]="filteredJobStatus" (completeMethod)="filterJobStatus($event)" (onSelect)="this.countLeads()" (onUnselect)="this.RefreshCountLeads()" field="name" placeholder="Select Job Status" [minLength]="1"
                                        name="MultiSelectInput" id="MultiSelectInput_jobStatus" [multiple]="true" inputStyleClass="form-control" styleClass="width-percent-100">
                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="MultiSelectInput_State">States</label>
                                    <p-autoComplete [(ngModel)]="stateids" [suggestions]="filteredState" (completeMethod)="filterState($event)" (onSelect)="this.countLeads()" (onUnselect)="this.RefreshCountLeads()" field="name" placeholder="Select States" [minLength]="1" name="MultiSelectInput"
                                        id="MultiSelectInput_State" [multiple]="true" inputStyleClass="form-control" styleClass="width-percent-100">
                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="MultiSelectInput">Teams</label>
                                    <p-autoComplete [(ngModel)]="teamids" [suggestions]="filteredTeams" (completeMethod)="filterTeams($event)" (onSelect)="this.countLeads()" (onUnselect)="this.RefreshCountLeads()" field="name" placeholder="Select Teams" [minLength]="1" name="MultiSelectInput"
                                        id="MultiSelectInput" [multiple]="true" inputStyleClass="form-control" styleClass="width-percent-100">
                                    </p-autoComplete>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="AreaNameFilter">{{l("Area")}}</label>
                                    <select class="form-control" id="areaNameFilter" name="areaNameFilter" [(ngModel)]="areaNameFilter" (change)="this.countLeads()">
                                        <option value="">Select Area</option>
                                        <option value="Metro">Metro</option>
                                        <option value="Regional">Regional</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="typeNameFilter">{{l("Type")}}</label>
                                    <select class="form-control" id="typeNameFilter" name="typeNameFilter" [(ngModel)]="typeNameFilter" (change)="this.countLeads()">
                                        <option value="">Select Type</option>
                                        <option value="Res">RES</option>
                                        <option value="Com">COM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="daterange">Date Type</label>
                                    <select class="form-control" id="typeNameFilter" name="dateType" [(ngModel)]="dateType" (change)="this.countLeads()">
                                        <option value="LeadCreated">Lead Created</option>
                                        <option value="ProjectOpen">Project Open</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="daterange">Date Range</label>
                                    <input name="daterange" placeholder="Select Date Range" type="text" class="form-control  daterangebox" id="daterange" bsDaterangepicker dateRangePickerMomentModifier [(date)]="sampleDateRange" (bsValueChange)="countLeads()" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Promotion_PromoCharge">{{l("Charge")}}</label>
                                    <input type="number" id="Promotion_PromoCharge" class="form-control" style="text-align: right;" [(ngModel)]="promotion.promoCharge" name="PromoCharge" min=0 step="0.01" placeholder="0.00" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="disblock">&nbsp;</label>
                                    <div class="totalleads">Total Leads: <span>{{promotion.leadCount}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label *ngIf="SelectedPromotionTypeId!=0" for="Promotion_Description">{{l("Description")}}</label>
                                    <textarea *ngIf="SelectedPromotionTypeId==1" (keyup)="countCharcters()" type="text" id="Promotion_Description" class="form-control" [(ngModel)]="promotion.description" name="Description"></textarea>
                                    <!-- <p-editor *ngIf="SelectedPromotionTypeId==2" name="HtmlEditorInput" [style]="{'height':'300px'}" [(ngModel)]="promotion.description"></p-editor> -->
                                    <email-editor *ngIf="SelectedPromotionTypeId==2" [(ngModel)]="promotion.description" name="HtmlEditorInput" aria-placeholder="Email Body"></email-editor>

                                </div>
                            </div>
                        </div>
                        <div *ngIf="SelectedPromotionTypeId==1" (keyup)="countCharcters()">
                            <span><b>Total: </b></span> {{total}}
                            <span><b>Credit: </b></span> {{credit}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                                class="fa fa-times"></i> {{l("Cancel")}}</button>
                        <button type="submit" #btn *ngIf="SelectedPromotionTypeId==1" (click)="savesms(); btn.disabled = true;" class="btn btn-primary blue" [disabled]="!promotionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                            <span>{{l("Send")}}</span></button>

                        <button type="submit" *ngIf="SelectedPromotionTypeId==2" (click)="sendEmail()" class="btn btn-primary blue" [disabled]="!promotionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                            <span>{{l("Send")}}</span></button>

                        <button type="submit" (click)="Testing()" class="btn btn-primary blue" [disabled]="!promotionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                            <span>{{l("Testing")}}</span></button>

                        <button type="submit" *ngIf="SelectedPromotionTypeId==1" (click)="exportExcel()" class="btn btn-primary blue" [disabled]="!promotionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
                            <span>{{l("ExportExcel")}}</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>