﻿<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
    .gridcircle {
        width: 23px;
        height: 23px;
        line-height: 24px;
        border-radius: 40%;
        font-size: 15px;
        color: #fff;
        text-align: center;
        background: #6610f2;
        font-weight: 700;
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("JobTracker")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getJobs();RereshLog();" class="btn_refresh"></button>
                                </li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.JobGrid.Export' | permission">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <!-- <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;" *ngIf="'Pages.JobGrid.Export' | permission">
                                                <i class="las la-file-csv"></i> CSV
                                            </a> -->
                                            <a class="dropdown-item" id="ExportUsersToExcelButton1" (click)="exportToExcelProductDetails(1)" href="javascript:;" *ngIf="'Pages.JobGrid.Export.ProductDetail' | permission">
                                                <i class="las la-file-excel"></i> Product Details Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton2" (click)="exportToExcelProductItemDetails(1)" href="javascript:;" *ngIf="'Pages.JobGrid.Export.ProductDetailItemWise' | permission">
                                                <i class="las la-file-excel"></i> Product Details Item
                                            </a>
                                            <!-- <a class="dropdown-item" id="ExportUsersToExcelButton1" (click)="exportToExcelProductDetails(2)" href="javascript:;" *ngIf="'Pages.JobGrid.Export' | permission">
                                                <i class="las la-file-csv"></i> Product Details CSV
                                            </a> -->
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getJobs();onsalesrep();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadSource" [(ngModel)]="leadSourceIdFilter" name="jobStatusID">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select JobStatus" [(ngModel)]="jobStatusIDFilter" name="jobStatusIDFilter">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" class="form-control" placeholder="{{filterName}}" [ngClass]="{pl50: filterName == 'JobNumber' }" [(ngModel)]="filterText" (keydown.enter)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getJobs();"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" *ngIf="!FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                            <button class="btnadvfilter" *ngIf="FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <!-- <div  *ngIf="!show" class="kt-advancefilterbox"> -->
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" class="form-control" id="AddressFilter" name="AddressFilter" [(ngModel)]="addressFilter" placeholder='{{l("Address")}}'>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" [(ngModel)]="stateFilter" name="stateFilter">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li *ngIf="stateFilter == 'VIC'">
                                                            <div class="form-group m-form__group">
                                                                <select [(ngModel)]="solarvicstatus" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="solarvicstatus" class="form-control">
                                                                    <option value=0>{{l("SolarRebateStatus")}}</option>
                                                                    <option value="1">Blank</option>
                                                                    <option value="2">After Install</option>
                                                                    <option value="3">Cancelled</option>
                                                                    <option value="4">Installation Completed</option>
                                                                    <option value="5">Installation Scheduled</option>
                                                                    <option value="6">Payment Approved</option>
                                                                    <option value="7">Payment Claim Under Review</option>
                                                                    <option value="8">Payment Processed</option>
                                                                    <option value="9">Quote Submitted</option>
                                                                    <option value="10">Appl Rejected</option>
                                                                    <option value="11">Additional Info Required</option>
                                                                    <option value="12">App Expired</option>
                                                                    <option value="13">Draft quote</option>
                                                                    <option value="14">Quote submitted</option>
                                                                    <option value="15">Appl Started</option>
                                                                    <option value="16">Appl under review</option>
                                                                    <option value="17">Appl approved</option>
                                                                    <option value="18">Quote expired</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="paymentid" [(ngModel)]="paymentid" class="form-control" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value=0>Select PaymentMethod</option>
                                                                    <option *ngFor="let item of jobPaymentOptions"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="financeOptionNameFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" [(ngModel)]="financeOptionNameFilter" class="form-control">
                                                                    <option value="">Payment Term
                                                                    </option>
                                                                    <option *ngFor="let item of jobFinOptions"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="panelModel" id="panelModel" [suggestions]="panelSuggestions" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" (completeMethod)="filterPanelModel($event)" placeholder='{{l("PanelModel")}}' [minlength]="2" #suburbInput="ngModel" name="panelModel"
                                                                    inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="invertModel" id="invertModel" [suggestions]="invertSuggestions" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" (completeMethod)="filterInvertModel($event)" placeholder='{{l("InvertModel")}}' [minlength]="2" #suburbInput="ngModel" name="invertModel"
                                                                    inputStyleClass="form-control" styleClass="width-percent-100" (onSelect)="getJobs($event)">
                                                                    <ng-template let-result pTemplate="item">
                                                                        <div class="result-item">
                                                                            <div class="d-flex align-items-center mb-1">
                                                                                <!-- <i class="las la-user-cog fs-16 mr-1"></i>  -->
                                                                                {{result}}
                                                                            </div>
                                                                        </div>
                                                                    </ng-template>
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="batteryModel" id="batteryModel" [suggestions]="batterySuggestions" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" (completeMethod)="filterBatteryModel($event)" placeholder='{{l("BatteryModel")}}' [minlength]="2" #suburbInput="ngModel"
                                                                    name="batteryModel" inputStyleClass="form-control" styleClass="width-percent-100" (onSelect)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <ng-template let-result pTemplate="item">
                                                                        <div class="result-item">
                                                                            <div class="d-flex align-items-center mb-1">
                                                                                <!-- <i class="las la-user-cog fs-16 mr-1"></i>  -->
                                                                                {{result}}
                                                                            </div>
                                                                        </div>
                                                                    </ng-template>
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" id="areaNameFilter" name="areaNameFilter" [(ngModel)]="areaNameFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value="">Select Area</option>
                                                                    <option value="Metro">Metro</option>
                                                                    <option value="Regional">Regional</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" id="postalcodefrom" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="postalcodefrom" [(ngModel)]="postalcodefrom" placeholder="PostCodeFrom">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" id="postalcodeTo" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="postalcode" [(ngModel)]="postalcodeTo" placeholder="PostCodeTo">
                                                            </div>
                                                        </li>

                                                        <li class="multi_select">
                                                            <div class="form-group m-form__group jobmultipleselect">
                                                          
                                                                <ng-select [items]="jobTypes" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="displayName" placeholder="Select Type" [(ngModel)]="jobTypeFilterList" name="jobStatusID">
                                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                                    </ng-template>
                                                                </ng-select>
                                                            </div>
                                                        </li>

                                                   


                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="teamId" name="teamId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value="0">{{l("SelectTeam")}}</option>
                                                                    <option *ngFor="let item of filteredTeams"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="salesRepId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="salesRepId">
                                                                    <option value="0">{{l("SelectSalesRep")}}</option>
                                                                    <option *ngFor="let item of filteredReps"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li class="multi_select">
                                                            <div class="form-group m-form__group jobmultipleselect">
                                                                <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Previous Job Status" [(ngModel)]="previousJobStatusId" name="previousJobStatusId">
                                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                                    </ng-template>
                                                                </ng-select>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="batteryFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="BatteryFilter">
                                                                    <option value="0">Select System With</option>
                                                                    <option value="1">With Battery System</option>
                                                                    <option value="2">Without Battery</option>
                                                                    <option value="3">Only Battery</option>
                                                                    <option value="4">Only Inverter</option>
                                                                    <option value="5">Only Battery and Inverter</option>
                                                                    <option value="6">With Battery </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="priceType" id="priceType" [(ngModel)]="priceType" required class="form-control">
                                                                    <option value="">Select Price Type</option>
                                                                    <option value="Normal">Normal</option>
                                                                    <option value= "Beat Quote">Beat Quote</option>
                                                                    <option value= "Promotion">Promotion</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="jobDateFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="jobDateFilter">
                                                                    <option value="CreationDate">{{l("ProjectOpen")}}</option>
                                                                    <option value="NextFollowUp">{{l("NextFollowUpDate")}}</option>
                                                                    <option value="FirstDeposite">{{l("FirstDepositeDate")}}</option>
                                                                    <option value="DepositeReceived">{{l("DepositeReceivedDate")}}</option>
                                                                    <option value="Active">{{l("ActiveDate")}}</option>
                                                                    <option value="InstallBook">{{l("InstallBookDate")}}</option>
                                                                    <option value="InstallComplete">{{l("InstallCompleteDate")}}</option>
                                                                    <option value="CancelDate">{{l("CancelDate")}}</option>
                                                                    <option value="HoldDate">{{l("HoldDate")}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10" (click)="clear()"><i class="fa fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getJobs();addSearchLog('Advanced Filter');"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>

        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{this.totalNoOfPanel |  number : '1.2-2'}}</span><label>{{l("TotalNoOfPannels")}}</label></li>
                    <!-- <li><span>{{this.totalSystemCapacity}}</span><label>{{l("TotalSystemCapacityKW")}}</label></li> -->
                    <li><span>M : {{this.totalMetroSystemCapacity |  number : '1.2-2'}} / R : {{this.totalRegionalSystemCapacity |  number : '1.2-2'}}</span><label>Total System KW : {{this.totalMetroSystemCapacity + this.totalRegionalSystemCapacity | number : '1.2-2'}} / {{this.totalMetroSystemCapacity + this.totalRegionalSystemCapacity + this.totalBatteryKw  |  number : '1.2-2'}} </label></li>
                    <li><span>M : {{this.totalMetroBatteryKw |  number : '1.2-2'}} / R : {{this.totalRegionalBatteryKw |  number : '1.2-2'}}</span><label>Total Battery KW : {{this.totalBatteryKw | number : '1.2-2'}}</label></li>
                    <!-- <li>
                        <span>
                            <label> {{l("Installed")}} <span>{{this.installJob}}</span></label>
                        </span>
                    </li> -->
                    <!-- <li><span>{{this.price}}</span><label>{{l("Price/KW")}}</label></li> -->
                    <li><span>M : {{this.metroPrice |  number : '1.2-2'}} / R : {{this.regionalPrice |  number : '1.2-2'}}</span><label>Price/KW : {{this.metroPrice + this.regionalPrice  |  number : '1.2-2'}}</label></li>
                    <li><span>{{this.active |  number : '1.2-2'}}</span><label>{{l("Active")}}</label></li>
                    <li><span>{{this.depositeReceived |  number : '1.2-2'}}</span><label>{{l("DepositeReceived")}}</label></li>
                </ul>
            </div>
        </div>

        <!-- <div>Height: {{test}}</div> -->

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass]="{'unselectable': ('Pages.JobGrid.EnableCopyPaste' | permission)}">
                        <!-- <div class="row leaddata_row"> -->
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                               
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center p-frozen-column" style="width:95px;" alignFrozen="left">
                                            {{l('Actions')}}</th>
                                        <th style="width:110px; left:95px !important;" pSortableColumn="jobnumber" class="p-frozen-column">
                                            {{l('ProjNo')}}
                                            <p-sortIcon field="jobnumber"></p-sortIcon>
                                        </th>
                                        <th style="width:180px" pSortableColumn="JobStatusFk.name" [hidden]="!ExpandedView">
                                            {{l('JobStatus')}}
                                            <p-sortIcon field="jobStatusName"></p-sortIcon>
                                        </th>
                                        <th style="width:200px" *ngIf="diplayifvic == true" [hidden]="!ExpandedView">
                                            {{l('solarRebateStatus')}}
                                        </th>
                                        <th style="width:160px" [hidden]="!ExpandedView">
                                            {{l('SalesRepName')}}

                                        </th>
                                        <th style="width:150px" pSortableColumn="leadFk.leadSource" [hidden]="!ExpandedView">
                                            {{l('LeadSource')}}
                                            <p-sortIcon field="leadSourceName"></p-sortIcon>
                                        </th>
                                        <th style="width:120px" pSortableColumn="postalCode" [hidden]="!ExpandedView">
                                            {{l('P/CD')}}
                                            <p-sortIcon field="postalCode"></p-sortIcon>
                                        </th>
                                        <th style="width:150px" pSortableColumn="leadFk.companyName" [hidden]="!ExpandedView">
                                            {{l('Contact')}}
                                            <p-sortIcon field="leadCompanyName"></p-sortIcon>
                                        </th>
                                        <!-- <th style="width:120px" pSortableColumn="leadFk.mobile" [hidden]="!ExpandedView">
                                            {{l('Mobile')}}
                                            <p-sortIcon field="mobile"></p-sortIcon>
                                        </th> -->
                                        <!-- <th style="width:180px" [hidden]="!ExpandedView">
                                            {{l('NexFollowUp')}}
                                        </th>
                                        <th style="width:200px" [hidden]="!ExpandedView">
                                            {{l('FollowUpNotes')}}
                                        </th> -->
                                        <th style="width: 230px" pSortableColumn="installationDate" [hidden]="!ExpandedView">
                                            {{l('InstallationBookingDate')}}
                                            <p-sortIcon field="installationDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 230px" pSortableColumn="DepositeRecceivedDate" [hidden]="!ExpandedView">
                                            {{l('depositeRecceivedDate')}}
                                            <p-sortIcon field="DepositeRecceivedDate"></p-sortIcon>
                                        </th>

                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Reminder')}}
                                        </th>
                                        <th style="width:140px;" [hidden]="!ExpandedView" *ngIf="showCancel">
                                            Cancel Reason
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" *ngIf="showCancel">
                                            Cancel Reason Notes
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" *ngIf="showCancel">
                                            Previous Job Status
                                        </th>
                                        <th style="width:140px;" [hidden]="!ExpandedView" *ngIf="showHold">
                                            Hold Reason
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" *ngIf="showHold">
                                            Hold Reason Notes
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.job.leadId}">
                                        <td class="actionwidth p-frozen-column" style="text-align: center; width:95px;">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.JobGrid.QuickView')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.job.id,0,'Jobs')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <!-- <li [hidden]="!isGrantedAny('Pages.JobGrid.JobDetail')">
                                                        <a href="javascript:;" target="_blank" [routerLink]="['/app/main/jobs/jobs/jobDetail']" [queryParams]="{id: record.job.leadId}">
                                                            <i class="las la-info-circle"></i> {{l('JobDetail')}}
                                                        </a>
                                                    </li> -->
                                                    <li [hidden]="!isGrantedAny('Pages.JobGrid.Notify')">
                                                        <a (click)="notifyModel.show(record.job.leadId,8,0,'Jobs')">
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.JobGrid.SMS')">
                                                        <a (click)="smsModel.show(record.job.leadId,8,0,'Jobs')">
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.JobGrid.Email')">
                                                        <a (click)="emailModel.show(record.job.leadId,8,0,0,'Jobs')">
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.JobGrid.Comment')">
                                                        <a (click)="commentModel.show(record.job.leadId,8,0,'Jobs')">
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.JobGrid.ToDo')">
                                                        <a (click)="todoModal.show(record.job.leadId,8,0,'Jobs')">
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.JobGrid.Reminder')">
                                                        <a (click)="ReminderModal.show(record.job.leadId,8,0,'Jobs')">
                                                            <i class="las la-stopwatch"></i> Reminder
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:110px; left:95px !important;" class="p-frozen-column" (click)="navigateToLeadDetail(record.job.leadId);">
                                            {{record.job.jobNumber}}
                                        </td>
                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            <span class="{{record.jobStatusColorClass}}">{{record.jobStatusName}}</span>&nbsp;&nbsp;
                                            <span *ngIf="record.isBattery" class="gridcircle">
                                                &nbsp;B&nbsp;
                                            </span>
                                        </td>
                                        <td *ngIf="diplayifvic == true" style="width:200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary" *ngIf="record.jobSolarRebateStatus == '1'">Without Rebate</span>
                                            <span class="badge badge-secondary" *ngIf="record.jobSolarRebateStatus == '2'">After Install</span>
                                            <span class="badge badge-danger" *ngIf="record.jobSolarRebateStatus == '3'">Cancelled</span>
                                            <span class="badge badge-success" *ngIf="record.jobSolarRebateStatus == '4'">Installation Completed</span>
                                            <span class="badge badge-success blue" *ngIf="record.jobSolarRebateStatus == '5'">Installation Scheduled</span>
                                            <span class="badge badge-success" *ngIf="record.jobSolarRebateStatus == '6'">Payment Approved</span>
                                            <span class="badge badge-success blue" *ngIf="record.jobSolarRebateStatus == '7'">Payment Claim Under Review</span>
                                            <span class="badge badge-success blue" *ngIf="record.jobSolarRebateStatus == '8'">Payment Processed</span>
                                            <span class="badge badge-success" *ngIf="record.jobSolarRebateStatus == '9'">Quote Submitted</span>
                                            <span class="badge badge-danger" *ngIf="record.jobSolarRebateStatus == '10'">Appl Rejected</span>
                                            <span class="badge badge-success blue" *ngIf="record.jobSolarRebateStatus == '11'">Additional Info Required</span>
                                            <span class="badge badge-danger" *ngIf="record.jobSolarRebateStatus == '12'">App Expired</span>
                                            <span class="badge badge-secondary" *ngIf="record.jobSolarRebateStatus == '13'">Draft quote</span>
                                            <span class="badge badge-danger" *ngIf="record.jobSolarRebateStatus == '14'">Quote expired</span>
                                            <span class="badge badge-secondary" *ngIf="record.jobSolarRebateStatus == '15'">Appl Started</span>
                                            <span class="badge badge-success blue" *ngIf="record.jobSolarRebateStatus == '16'">Appl under review</span>
                                            <span class="badge badge-success" *ngIf="record.jobSolarRebateStatus == '17'">Appl approved</span>
                                            <span class="badge badge-danger" *ngIf="record.jobSolarRebateStatus == '18'">Quote expired</span>

                                        </td>
                                        <td style="width:160px" [hidden]="!ExpandedView">
                                            {{record.job.currentLeadOwaner}}
                                        </td>

                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <span class="{{record.leadSourceColorClass}}">{{record.leadSourceName}}</span>
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary" >{{record.job.postalCode}}</span>
                                        </td>
                                        <td class="no_warp" style="width:150px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.leadCompanyName">{{record.leadCompanyName}}</span>
                                            </div>
                                        </td>
                                        <!-- <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.mobile}}
                                        </td> -->

                                        <td style="width:230px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary" >{{record.job.installationDate | momentFormat:'DD-MM-YYYY HH:mm:ss' }}</span>
                                        </td>
                                        <td style="width:230px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.job.depositeRecceivedDate | momentFormat:'DD-MM-YYYY HH:mm:ss' }}</span>
                                        </td>

                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.activityComment">{{record.activityComment}}</span>
                                            </div>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.reminderTime}}</span>
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.activityDescription">{{record.activityDescription}}</span>
                                            </div>
                                        </td>

                                        <td style="width:140px;" [hidden]="!ExpandedView" *ngIf="showCancel">
                                            {{record.jobCancelReason}}
                                        </td>
                                        <td style="width: 200px" [hidden]="!ExpandedView" *ngIf="showCancel">
                                            {{record.jobCancelReasonNotes}}
                                        </td>
                                        <td style="width: 200px" [hidden]="!ExpandedView" *ngIf="showCancel">
                                            {{record.previousJobStatus}}
                                        </td>
                                        <td style="width:140px;" [hidden]="!ExpandedView" *ngIf="showHold">
                                            {{record.jobHoldReason}}
                                        </td>
                                        <td style="width: 200px" [hidden]="!ExpandedView" *ngIf="showHold">
                                            {{record.jobHoldReasonNotes}}
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getJobs($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
        <jobNotesModal #jobNotesModal (modalSave)="reloadPage($event)"></jobNotesModal>
        <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <jobgridTrackerSmsEmailModal #jobgridTrackerSmsEmailModal (modalSave)="getJobs()"></jobgridTrackerSmsEmailModal>
        <smsModel #smsModel></smsModel>
        <emailModel #emailModel></emailModel>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="getJobs()"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="getJobs()"></ReminderModal>
    </div>
</div>