.graybackbox .secondary-grid table th,
    .graybackbox .secondary-grid table td,
    .secondary-grid table th,
    .secondary-grid table td {
        white-space: nowrap;
    }

    agm-map {
        height: 300px;
    }
    
    @media screen and (min-width:1600px) {
        agm-map {
            height: 600px;
        }
    
    }
    
    bs-daterangepicker-container {
        left: -195px !important;
    }
    
    body.kt-aside--fixed bs-daterangepicker-container {
        left: -235px !important;
    }
    
    body .ui-table .ui-table-tbody>tr.leadSelection {
        background-color: #e2f3ff !important;
    }
    
    .graybackbox .secondary-grid table th,
    .graybackbox .secondary-grid table td,
    .secondary-grid table th,
    .secondary-grid table td {
        white-space: nowrap;
    }