<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #leadSourceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off" [ngClass]="{'formvalid':leadSourceForm.form.valid}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="TransportCost.id">{{l("EditTransportCost")}}</span>
                        <span *ngIf="!TransportCost.id">{{l("CreateTransportCost")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="TransportCost_Name">{{l("Job")}} *</label>
                                    <p-autoComplete [(ngModel)]="TransportCost.jobnumber" [suggestions]="filteredJobs" (completeMethod)="filterJobs($event)" field="displayName" placeholder="Select JobNumber" [minLength]="5" name="MultiSelectInput" id="MultiSelectInput" [multiple]="true" inputStyleClass="form-control"
                                                styleClass="width-percent-100">
                                            </p-autoComplete>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="comapany">Transport Company *</label>
                                    <select id="comapany" name="comapany" class="form-control" [(ngModel)]="TransportCost.transportCompanyId">
                                        <option [value]="undefined">Select Comapny</option>
                                        <option *ngFor="let item of Companies" [value]="item.id">{{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Contact">Contact No*</label>
                                    <input id="Contact" type="text" name="Contact" class="form-control" [(ngModel)]="TransportCost.mobile"  minlength="10" maxlength="10" required>
                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="TrackingNo">TrackingNo*</label>
                                    <input id="TrackingNo" type="text" name="TrackingNo" class="form-control" [(ngModel)]="TransportCost.trackingNo" required>
                                    
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Amount">Amount*</label>
                                    <input id="Amount" type="number" name="Amount" class="form-control" [(ngModel)]="TransportCost.amount" required>
                                    
                                </div>
                            </div>

                        
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Notes">Notes</label>
                                    <textarea id="Notes" class="form-control" [(ngModel)]="TransportCost.notes" name="TransportCost" minlength="1" maxlength="500" placeholder='{{l("Notes")}}'></textarea>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las fa-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>
<!-- [disabled]="!leadSourceForm.form.valid" -->