<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("TransportCost")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <!-- <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a> -->
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getTransportCost();RereshLog();"></button>
                                </li>
                                <!-- <li *ngIf="'Pages.Report.InstallerWiseInvoicePayment.Export' | permission">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;" >
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </div>
                                    </div>
                                </li> -->
                                <li><button *ngIf="isGranted('Pages.TransportCost.Create')" (click)="createOrEditTransportCostModal.show(null,'Transport Cost Tracker')" class="btn btn-outline-primary btnadd">
                                    <!-- <i class="fa fa-plus"></i>  -->
                                    <!-- <img [src]="appRootUrl() + 'assets/common/images/plusicon.svg'" alt="" />   -->
                                    <!-- {{l("CreateNewLeadSource")}} -->
                                    Add
                                    <i class="las la-plus-circle"></i>
                                </button>
                            </li>
                                <!-- <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getTransportCost()">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <p-autoComplete [(ngModel)]="installername" id="installerId" [suggestions]="installerSearchResult" (keydown.enter)="getTransportCost()" (change)="filterInstaller($event)" (completeMethod)="filterInstaller($event)" (onSelect)="selectInstaller($event)" placeholder="Select Installer" name="installerId"
                                            inputStyleClass="form-control" styleClass="width-percent-100">
                                            <ng-template let-result pTemplate="item">
                                                <div class="result-item">
                                                    <div class="d-flex align-items-center mb-1">
                                                        <i class="las la-user-cog fs-16 mr-1"></i> {{result.installerName}}
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </p-autoComplete>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select name="areafilter" class="form-control" [(ngModel)]="areafilter" (change)="getTransportCost()">
                                                <option value="">select Area</option>
                                                <option value="Metro">Metro</option>
                                                <option value="Regional">Regional</option>
                                            </select>
                                        </div>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName" (change)="getTransportCost()">
                                                <option value="ContactNo">ContactNo</option>
                                                <option value="Jobnumber">Jobnumber</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox ">
                                            <!-- <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span> -->
                                            <input [ngClass]="{pl50: filterName == 'JobNumber' }" [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" placeholder="{{filterName}}" type="text" (keydown.enter)="getTransportCost();addSearchLog('Filter' + filterName +  ' : ' + filterText)">
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getTransportCost()"><i class="fas fa-times-circle"></i></a>
                                            <button (click)="getTransportCost();addSearchLog('Filter' + filterName +  ' : ' + filterText)" class="btnsearch" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                                    
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" *ngIf="!FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                            <!-- <button class="btnadvfilter" *ngIf="FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button> -->
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        
                                                        <!-- <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="" class="form-control" [(ngModel)]="userFilter">
                                                                    <option value="0">{{l("Select User")}}</option>
                                                                    <option *ngFor="let item of userList" value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>-->
                                                        <!-- <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="teamId" name="teamId">
                                                                    <option value="0">{{l("SelectTeam")}}</option>
                                                                    <option *ngFor="let item of filteredTeams"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li> -->

                                                        <!-- <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="userFilter" name="userFilter">
                                                                    <option value="0">{{l("SelectUser")}}</option>
                                                                    <option *ngFor="let item of userList"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li> -->
                                                        <!-- <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" name="stateFilter" [(ngModel)]="datetype">
                                                                    <option value="CreationDate">Project Open</option>
                                                                    <option value="FirstDeposite">First Deposite</option>
                                                                    <option value="DepositeReceived">Deposite Received</option>
                                                                    <option value="Active">Active</option>
                                                                    <option value="InstallBook">Install Book</option>
                                                                </select>
                                                            </div>
                                                        </li> -->

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <!-- <button class="btn btn_red btn-sm marright10"><i class="fa fa-times-circle"></i>{{l("Clear")}}</button> -->
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getTransportCost();addSearchLog('Advanced Filter');"><i class="fa fa-search"></i> {{l("Search")}}</button>

                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div> -->
                </div>
            </div>
        </div>
<!-- 
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{this.totalMetroPrice | number: '1.2-2'}} / {{totalMetroKW | number: '1.2-2'}}</span><label>Metro</label></li>
                    <li><span>{{this.totalMetroPricePerKW | number: '1.2-2'}}</span><label>Metro</label></li>
                    <li><span>{{this.totalRegionalPrice | number: '1.2-2'}} / {{totalRegionalKW | number: '1.2-2'}}</span><label>Regional</label></li>
                    <li><span>{{this.totalRegionalPricePerKW | number: '1.2-2'}}</span><label>Regional</label></li>
                </ul>
            </div>
        </div> -->

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center" [ngClass]="{'unselectable' : permission.isGranted('Pages.Report.LeadAssign.EnableCopyPaste')}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getTransportCost($event)"  [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.TransportCost.Edit', 'Pages.TransportCost.Delete')">
                                            {{l('Actions')}}</th>
                                        <th style="width:350px;" pSortableColumn="TransportCompanyFK.CompanyName">
                                            TransportCompany
                                            <p-sortIcon field="TransportCompany"></p-sortIcon>
                                        </th>
                                        <th >
                                            Jobs
                                            <!-- <p-sortIcon field="NSW"></p-sortIcon> -->
                                        </th>
                                        <th pSortableColumn="Mobile" *ngIf="'Pages.TransportCost.ShowEmailPhone' | permission">
                                            ContactNo
                                            <p-sortIcon field="Mobile"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="TrackingNo">
                                            TrackingNo
                                            <p-sortIcon field="TrackingNo"></p-sortIcon>
                                        </th> 
                                        <th pSortableColumn="Amount">
                                            Amount
                                            <p-sortIcon field="Amount"></p-sortIcon>
                                        </th> 
                                        <th pSortableColumn="Created">
                                            Created
                                            <p-sortIcon field="Created"></p-sortIcon>
                                        </th>                                      
                                       
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align:center; width:95px;" class="actionwidth" [hidden]="!isGrantedAny('Pages.TransportCost.Edit', 'Pages.TransportCost.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.TransportCost.Edit')" (click)="createOrEditTransportCostModal.show(record.id,'Transport Cost Tracker')">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.TransportCost.Delete')" (click)="deleteTeam(record.id)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>




                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:350px;">{{record.transportCompany}}</td>
                                        <td><span class="badge badge-secondary">{{record.jobs}}</span></td>
                                        <td *ngIf="'Pages.TransportCost.ShowEmailPhone' | permission">{{record.mobile}}</td>
                                        <td>{{record.trackingNo}}</td>
                                        <td><span class="badge badge-secondary">{{record.amount | number: '1.2-2'}}</span></td>
                                        <td>{{record.created | momentFormat:'DD-MM-YYYY HH:mm:ss' }}</td>
                                    </tr>
                                </ng-template>
                                <!-- <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Teams.Edit', 'Pages.Teams.Delete')">

                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.team.name}}
                                        </td>

                                    </tr>
                                </ng-template> -->
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getTransportCost($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                            showing {{firstrowcount}}
                            To {{last}}
                            <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- <callDetailModal #callDetailModal (modalSave)="getUserCallHistory()"></callDetailModal> -->
<!-- <SectionWiseSmsCountModel #SectionWiseSmsCountModel></SectionWiseSmsCountModel> -->
<createOrEditTransportCostModal #createOrEditTransportCostModal (modalSave)="getTransportCost()"></createOrEditTransportCostModal>
    </div>
</div>

<!-- <callDetailModal #callDetailModal></callDetailModal> -->