 <div bsModal #CreateEditMyLeadGenModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="CreateEditMyLeadGenModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form  #MyLeadGenForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
            
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Create Appointment")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
    
                <div class="modal-body modal-bg-gray">
    
                    <div class="modal-white-box">
                        <div class="card card-custom card-stretch">
                            <div class="card-body sitedetailbox xlmin517">
                                <div class="row">
                                    <!-- <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <label for="">{{l("Created Date")}} *</label>
                                            <input type="text" bsDatepicker required datePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" name="sampleDate" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group form-icon">
                                            <label for="">{{l("Created By")}} *</label>
                                            <input type="text" id="" class="form-control" name="Name" required/>
                                            <span class="icon-box" style="top:30px;"><i class="las la-user-cog"></i></span>
                                        </div>
                                    </div> -->
    
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group">
                                            <label for="">{{l("Appointment Date")}} *</label>
                                            <!-- <input [owlDateTime]="dt1" required class="form-control daterangebox" required [owlDateTimeTrigger]="dt1" placeholder="Select Date Time" #myNameElem >
                                            <owl-date-time #dt1></owl-date-time> -->
                                            <input [owlDateTime]="dt1" required class="form-control daterangebox" [owlDateTimeTrigger]="dt1" placeholder="Select Date Time" #myNameElem >
                                            <owl-date-time #dt1></owl-date-time>
                                            <!-- <input type="text" bsDatepicker required datePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" name="sampleDate"  /> -->
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group form-icon">
                                            <label for="">{{l("Appointment For")}} *</label>
                                            <select class="form-control" [(ngModel)]="leadGenAppointment.appointmentFor" name="appointmentFor" (change)="appointmentSelect()" required>
                                                <option value="">Appointment For</option>
                                                <option *ngFor="let item of userList" value="{{item.id}}">{{item.displayName}}</option>
                                            </select>
                                            <span class="icon-box" style="top:30px;"><i class="las la-user"></i></span>
                                        </div>
                                    </div>
    
                                    <div class="col-md-12 mb-2">
                                        <div class="form-group">
                                            <label for="">{{l("Notes")}} *</label>
                                            <textarea class="form-control" style="height:100px !important;" [(ngModel)]="leadGenAppointment.notes" required></textarea>
                                        </div>
                                    </div>
    
    
                                </div>
                            </div>
                        </div>
    
                    </div>
    
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="close()">
                        <i class="las la-times-circle"></i>
                        {{ 'Cancel' }}
                    </button>
                    <button type="submit" class="btn btn-primary blue float-right" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" [disabled]="!MyLeadGenForm.form.valid"><i class="fa fa-save"></i>
                        <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>