<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("My Lead Generation")}}</span>
                        <span class="total-records-count">
                            <!-- ({{(primengTableHelper.totalRecordsCount)}}) -->
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getLeads();RereshLog();" class="btn_refresh"></button>
                                </li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [hidden]="!isGrantedAny('Pages.JobBooking.Export')">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" href="javascript:;" [hidden]="!isGrantedAny('Pages.JobBooking.Export')">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;">
                                                <i class="las la-file-csv"></i> CSV
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="organizationUnit" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getLeads();bindUsers(organizationUnit);addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" [(ngModel)]="userId" name="userId" (change)="getLeads();addSearchLog('Filter User');" [disabled]="currRoleName == 'Leadgen SalesRep'">
                                                <option value="0">{{l("Users")}}</option>
                                                <option *ngFor="let item of users" value="{{item.id}}">{{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox ">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getLeads();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getLeads()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getLeads();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <div class="kt-advfilterbox" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action')">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>Advance Filters </h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <!-- <li class="fullwidth">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="" name="steetAddressFilter" (keydown.enter)="getJobs($event)" placeholder="Street Address" [(ngModel)]="steetAddressFilter">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="housetypeId" name="housetypeId" (keydown.enter)="getJobs($event)">
                                                                    <option value=0>Select HouseType</option>
                                                                    <option *ngFor="let item of jobHouseTypes"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="rooftypeid" name="rooftypeid" (keydown.enter)="getJobs($event)">
                                                                    <option value=0>Select RoofType</option>
                                                                    <option *ngFor="let item of jobRoofTypes"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group">
                                                                <select name="jobTypeId" [(ngModel)]="jobTypeId" (keydown.enter)="getJobs($event)" class="form-control" id="jobTypeId">
                                                                    <option value="0">{{l("Select Type")}}</option>
                                                                    <option *ngFor="let item of jobTypes"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="panelmodel" id="panelmodel" [suggestions]="panelSuggestions" (keydown.enter)="getJobs($event)" (completeMethod)="filterPanelModel($event)" [minlength]="2" placeholder="Enter PanelModel" #suburbInput="ngModel" name="panelmodel"
                                                                    inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="invertmodel" id="invertmodel" [suggestions]="invertSuggestions" (keydown.enter)="getJobs($event)" (completeMethod)="filterInvertModel($event)" [minlength]="2" placeholder="Enter InvertModel" #suburbInput="ngModel" name="invertmodel"
                                                                    inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" id="postalcodefrom" (keydown.enter)="getJobs($event)" name="postalcodefrom" [(ngModel)]="postalcodefrom" placeholder="PostCodeFrom">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" id="postalcodeTo" (keydown.enter)="getJobs($event)" name="postalcode" [(ngModel)]="postalcodeTo" placeholder="PostCodeTo">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="paymenttypeid" [(ngModel)]="paymenttypeid" class="form-control" (keydown.enter)="getJobs($event)">
                                                                    <option value=0>Select PaymentMethod</option>
                                                                    <option *ngFor="let item of jobPaymentOptions"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateFilterType" name="dateFilterType">
                                                                    <option value="All">All</option>
                                                                    <option value="Active">Active</option>
                                                                    <option value="DepositeReceived">DepositeReceived
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <input name="SampleDateRangePicker" type="text" (keydown.enter)="getJobs($event)" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker [bsConfig]="{ customTodayClass: 'today' }" [(ngModel)]="sampleDateRange" dateRangePickerMomentModifier
                                                                [(date)]="sampleDateRange" />
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getJobs()"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                Search</button>
                                                        </li> -->
                                                        <li style="width:100%;">
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateType" (keydown.enter)="getLeads();addSearchLog('Advanced Filter');" name="dateType">
                                                                    <option value="Assign">{{l("AssignDate")}}</option>
                                                                    <option value="ReAssign">{{l("ReAssignDate")}}</option>
                                                                    <option value="Creation">{{l("CreationDate")}}</option>
                                                                    <option value="Followup">{{l("FollowUpDate")}}</option>
                                                                    <option value="NextFollowup">{{l("NextFollowupDate")}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="StartDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" (keydown.enter)="getLeads($event)" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="EndDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" (keydown.enter)="getLeads($event)" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>

                                                        <li class="text-right fullwidth">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()"><i class="fa fa-times-circle"></i> {{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm" (click)="getLeads();addSearchLog('Advanced Filter');"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div class="blue-filter-box" [hidden]="!FiltersData" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action')">
            <div class="d-flex align-items-center justify-content-end" style="width:100%;">
                <div class="d-flex align-items-center">

                    <select name="assignUserId" class="form-control mr-3" [(ngModel)]="assignUserId" style="border-radius: 5px !important;">
                        <option value="0">Select Sales Rep</option>
                        <option *ngFor="let item of assignUser" value="{{item.id}}">{{item.displayName}}</option>
                    </select>

                    <button [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary btn-sm" (click)="submit();">
                        Submit
                    </button>
                </div>
                <div class="recordsSelect">
                    <h2>Selected Records <span>{{count}}</span></h2>
                </div>
            </div>
        </div>

        <!-- <a href="javascript:;" (click)="CreateAppontmentModal()">Add Appointment</a> -->
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.LeadGeneration.MyLeadsGeneration.EnableCopyPaste' | permission)}">
                        <div class="primeng-datatable-container myleadtable nobulebox_table_scrool" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeads($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeads($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="p-frozen-column checkboxhead" style="width: 40px !important;">
                                            <div class="kt-checkbox-list" style="padding: 0px 8px!important;">
                                                <label for="lead_id" class="kt-checkbox">
                                                    <input type="checkbox" id="lead_id" name="all"
                                                        [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th class="actionwidth text-center p-frozen-column" style="width: 100px !important;left:40px !important;">
                                            {{l('Actions')}}
                                        </th>
                                        <th class="p-frozen-column" pSortableColumn="companyName" style="width:200px;left:140px !important;">
                                            {{l('CopanyName')}}
                                            <p-sortIcon field="companyName"></p-sortIcon>
                                        </th>
                                        <th style="width:80px; left:340px !important;" pSortableColumn="isGoogle" class="p-frozen-column" [hidden]="!ExpandedView">
                                            {{l('Verify')}}
                                            <p-sortIcon field="isGoogle"></p-sortIcon>
                                        </th>
                                        <th style="width:140px;" [hidden]="!ExpandedView">
                                            {{l('AllLeadStatus')}}
                                        </th>
                                        <th pSortableColumn="mobile" style="width:120px;" [hidden]="!ExpandedView" *ngIf="'Pages.LeadGeneration.MyLeadsGeneration.ShowEmailPhone' | permission">
                                            {{l('Mobile')}}
                                            <p-sortIcon field="lead.mobile"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="address" [hidden]="!ExpandedView" style="width:200px;">
                                            {{l('Address')}}
                                            <p-sortIcon field="lead.address"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Suburb" [hidden]="!ExpandedView" style="width:120px;">
                                            {{l('Suburb')}}
                                            <p-sortIcon field="lead.suburb"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="State" [hidden]="!ExpandedView" style="width:100px;">
                                            {{l('State')}}
                                            <p-sortIcon field="lead.state"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="PostCode" [hidden]="!ExpandedView" style="width:120px;">
                                            {{l('PostCode')}}
                                            <p-sortIcon field="lead.postCode"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="LeadSource" style="width:150px;" [hidden]="!ExpandedView">
                                            {{l('LeadSource')}}
                                            <p-sortIcon field="lead.leadSource"></p-sortIcon>
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;">
                                            {{l('ReminderDate')}}
                                            <!-- <p-sortIcon field="lead.leadSource"></p-sortIcon> -->
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;">
                                            {{l('Reminder')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;">
                                            Last Description
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            Last Comment
                                        </th>
                                        <!-- <th style="width: 200px" [hidden]="!ExpandedView" *ngIf="leadcancel == true">
                                            {{l('CancelReasonName')}}
                                        </th> -->
                                        <!-- <th [hidden]="!ExpandedView" style="width:200px;" *ngIf="leadcancel == true">
                                            {{l('CancelDate')}}
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;" *ngIf="leadcancel == true">
                                            {{l('Note')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" *ngIf="leadreject == true">
                                            {{l('RejectReasons')}}
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;" *ngIf="leadreject == true">
                                            {{l('RejectedDate')}}
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;" *ngIf="leadreject == true">
                                            {{l('Note')}}
                                        </th> -->
                                        <th style="width:170px;" pSortableColumn="leadAssignDate" [hidden]="!ExpandedView">
                                            {{l('LeadAssignDate')}}
                                            <p-sortIcon field="leadAssignDate"></p-sortIcon>
                                        </th>
                                        <th style="width:150px;" [hidden]="!ExpandedView">
                                            {{l('LeadOwner')}}
                                        </th>
                                        <th style="width:170px;" pSortableColumn="creationTime" [hidden]="!ExpandedView">
                                            {{l('CreationTime')}}
                                            <p-sortIcon field="lead.creationTime"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.id}">
                                        <td class="p-frozen-column" style="width:40px">
                                            <div class="kt-checkbox-list set_new6 set_new2" style="padding: 0px 8px!important;">
                                                <label for="{{record.id}}" class="kt-checkbox">
                                                    <input type="checkbox" id="{{record.id}}" name="recordSource"
                                                        [(ngModel)]="record.isSelected"
                                                        (change)="oncheckboxCheck()" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="actionwidth p-frozen-column" style="text-align: center;width:100px!important;left:40px !important;">
                                            <!-- [hidden]="!isGrantedAny('Pages.Jobs.Edit', 'Pages.Jobs.Delete')"> -->
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <!-- <li>
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.id)">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li> -->
                                                    <li [hidden]="!isGrantedAny('Pages.LeadGeneration.MyLeadsGeneration.Appointment')">
                                                        <a href="javascript:;" (click)="CreateAppontmentModal(record.id)">
                                                            <i class="las la-binoculars"></i> {{l('Appontment')}}
                                                        </a>
                                                    </li>
                                                    <!-- <li>
                                                        <a href="javascript:;" [hidden]="!isGrantedAny('Pages.JobBooking.ViewJobDetail')" [routerLink]="['/app/main/installation/installation/pendinginstallationdetail']" target="_blank" [queryParams]="{id: record.job.leadId}">
                                                            <i class="las la-info-circle"></i> {{l('JobDetail')}}
                                                        </a>
                                                    </li> -->
                                                    <li [hidden]="!isGrantedAny('Pages.LeadGeneration.MyLeadsGeneration.Sms')">
                                                        <!-- <a (click)="jobBookingsmsemail.show(record.id,1,32)"> -->
                                                        <a (click)="smsModel.show(record.id,32,0,'My Leads Generation')">
                                                            <!-- <a (click)="addSmsEmailModal.show(record.id,1,32)"> -->
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.LeadGeneration.MyLeadsGeneration.Email')">
                                                        <a (click)="emailModel.show(record.id,32,0,0,'My Leads Generation')">
                                                            <!-- <a (click)="addSmsEmailModal.show(record.id,2,32)"> -->
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.LeadGeneration.MyLeadsGeneration.Comment')">
                                                        <a (click)="commentModel.show(record.id,32,0,'My Leads Generation')">
                                                            <!-- <a (click)="addActivityModal.show(record.id,24,0,32)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.LeadGeneration.MyLeadsGeneration.ToDo')">
                                                        <a (click)="todoModal.show(record.id,32,0,'My Leads Generation')">
                                                            <!-- <a (click)="addActivityModal.show(record.id,25,0,32)"> -->
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.LeadGeneration.MyLeadsGeneration.Reminder')">
                                                        <a (click)="ReminderModal.show(record.id,32,0,'My Leads Generation')">
                                                            <!-- <a (click)="addActivityModal.show(record.id,8,0,32)"> -->
                                                            <i class="las la-stopwatch"></i> Reminder
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.LeadGeneration.MyLeadsGeneration.Notify')">
                                                        <a (click)="notifyModel.show(record.id,32,0,'My Leads Generation')">
                                                            <!-- <a (click)="addActivityModal.show(record.id,9,0,32)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:200px;left:140px !important;" class="gridleadimage p-frozen-column" *ngIf="permission.isGranted('Pages.Jobs')" (click)="navigateToLeadDetail(record.id);">
                                            <div class="name_and_img">
                                                <img *ngIf="record.leadStatusId == 5" [src]="appRootUrl() + 'assets/common/images/icon_flame.png'">
                                                <img *ngIf="record.leadStatusId == 4" [src]="appRootUrl() + 'assets/common/images/icon_orangesun.png'">
                                                <img *ngIf="record.leadStatusId == 3" [src]="appRootUrl() + 'assets/common/images/icon_blueice.png'">
                                                <img *ngIf="record.leadStatusId != 5 && record.leadStatusId != 4 && record.leadStatusId != 3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'">
                                                <!-- <span class="ui-column-title"> {{l('CopanyName')}}</span> -->
                                                {{record.companyName}}
                                            </div>
                                        </td>
                                        <td style="width:200px;left:140px !important;" class="p-frozen-column gridleadimage" *ngIf="!permission.isGranted('Pages.Jobs')">
                                            <img *ngIf="record.leadStatusId == 5" [src]="appRootUrl() + 'assets/common/images/icon_flame.png'">
                                            <img *ngIf="record.leadStatusId == 4" [src]="appRootUrl() + 'assets/common/images/icon_orangesun.png'">
                                            <img *ngIf="record.leadStatusId == 3" [src]="appRootUrl() + 'assets/common/images/icon_blueice.png'">
                                            <img *ngIf="record.leadStatusId != 5 && record.leadStatusId != 4 && record.leadStatusId != 3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'">
                                            <!-- <span class="ui-column-title"> {{l('CopanyName')}}</span> -->
                                            {{record.companyName}}
                                        </td>
                                        <td style="width:80px;left:340px !important;" class="p-frozen-column" [hidden]="!ExpandedView">
                                            <span class="verified green" *ngIf="record.isGoogle == 'Manual'" [tooltip]="record.isGoogle"><i class="lab la-maxcdn fs-16"></i></span>
                                            <span class="verified blue" *ngIf="record.isGoogle == 'Google'" [tooltip]="record.isGoogle"><i class="fab fa-google fs-16" style="color:#4285f4;"></i></span>
                                            <span class="verified green" *ngIf="record.isGoogle == null"><i class="fas fa-ban fs-16"></i></span>
                                        </td>
                                        <td style="width:140px;" [hidden]="!ExpandedView">
                                            <span *ngIf="record.leadStatusName == 'Upgrade'" class="{{record.leadStatusColorClass}}"><span *ngIf="record.reAssignDate != undefined">R</span>U-{{record.jobStatus}}</span>
                                            <span *ngIf="record.leadStatusName != 'Upgrade'" class="{{record.leadStatusColorClass}}"><span *ngIf="record.reAssignDate != undefined">R-</span>{{record.leadStatus}}</span>

                                        </td>

                                        <td style="width:120px;" [hidden]="!ExpandedView"  *ngIf="'Pages.LeadGeneration.MyLeadsGeneration.ShowEmailPhone' | permission">
                                            <!-- <span class="ui-column-title"> {{l('Mobile')}}</span> -->
                                            <span class="badge badge-secondary">{{record.mobile}}</span>
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:200px;">
                                            <!-- <span class="ui-column-title"> {{l('Address')}}</span> -->
                                            <span [tooltip]="record.address" class="tooltipcnt">{{record.address | titlecase}}</span>
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:120px;">
                                            <!-- <span class="ui-column-title"> {{l('Suburb')}}</span> -->
                                            <span [tooltip]="record.suburb" class="tooltipcnt">{{record.suburb | titlecase}}</span>
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:100px;">
                                            <!-- <span class="ui-column-title"> {{l('State')}}</span> -->
                                            {{record.state}}
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:120px;">
                                            <!-- <span class="ui-column-title"> {{l('PostCode')}}</span> -->
                                            {{record.postCode}}
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView">
                                            <span class="{{record.leadSourceColorClass}}">{{record.leadSource}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.nextFollowup}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.activityDescription">{{record.description}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.activityComment">{{record.comment}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.activityLastDescription">{{record.lastDescription}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.activityLastComment">{{record.lastComment}}</span>
                                        </td>
                                        <!-- <td style="width:200px" [hidden]="!ExpandedView" *ngIf="leadcancel == true">
                                            <span [tooltip]="record.cancelReasonName">{{record.cancelReasonName}}</span>
                                        </td> -->
                                        <!-- <td style="width:200px" [hidden]="!ExpandedView" *ngIf="leadcancel == true">
                                            {{record.lead.changeStatusDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td> -->
                                        <!-- <td style="width:200px" [hidden]="!ExpandedView" *ngIf="leadcancel == true">
                                            <span [tooltip]="record.lead.rejectReason">{{record.lead.rejectReason}}</span>
                                        </td> -->
                                        <!-- <td style="width:200px" [hidden]="!ExpandedView" *ngIf="leadreject == true">
                                            <span [tooltip]="record.rejectReasonName">{{record.rejectReasonName}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView" *ngIf="leadreject == true">
                                            {{record.lead.changeStatusDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView" *ngIf="leadreject == true">
                                            <span [tooltip]="record.lead.rejectReason">{{record.lead.rejectReason}}</span>
                                        </td> -->
                                        <td [hidden]="!ExpandedView" style="width:170px;">
                                            <!-- <span class="ui-column-title"> {{l('LeadAssignDate')}}</span> -->
                                            {{record.assignDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:150px;">
                                            <!-- <span class="ui-column-title"> {{l('CurrentLeadOwner')}}</span> -->
                                            {{record.currentLeadOwner}}
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:170px;">
                                            <!-- <span class="ui-column-title"> {{l('CreationTime')}}</span> -->
                                            {{record.creationDate| momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeads($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
        <jobNotesModal #jobNotesModal (modalSave)="reloadPage($event)"></jobNotesModal>
        <!-- <jobBookingsmsemail #jobBookingsmsemail (modalSave)="reloadPage($event)"></jobBookingsmsemail> -->
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <CreateEditMyLeadGenModal #CreateEditMyLeadGenModal></CreateEditMyLeadGenModal>

        <addSmsEmailModal #addSmsEmailModal></addSmsEmailModal>
        <smsModel #smsModel></smsModel>
        <emailModel #emailModel></emailModel>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="reloadPage($event)"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="reloadPage($event)"></ReminderModal>
    </div>
</div>