﻿<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("PostCodeRange")}}</span>
                        <span class="total-records-count">
                      ({{(primengTableHelper.totalRecordsCount)}})
                  </span>
                    </h3>
                </div>

                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getPostCodeRange()"></button>
                            </li>
                            <!-- <li>
                                <div class="btn-group btnexceldropdown " dropdown>
                                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Export
                                        <img src="../../../assets/common/images/icon_downarrow.svg" />
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                        <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                            Excel
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            CSV
                                        </a>
                                    </div>
                                </div>
                            </li> -->
                            <li *ngIf="isGranted('Pages.PostCodeRange.Create')">
                                <button (click)="createOrEditPostCodeRangeModal.show()" class="btn btn-outline-primary btnadd">
                                    Add
                                    <i class="las la-plus-circle"></i>
                                </button>
                            </li>

                            <!-- <li>
                                <div class="kt-searchmainbox">
                                    <div class="kt-sdropdown tenantsearhdropdown">
                                        <div class="form-group m-form__group">
                                            <select name="leadExpense.leadSourceId" [(ngModel)]="leadSourceIdFilter" class="form-control" (ngModelChange)="getLeadExpenses($event)">
                                                <option value = "0" >All Lead Source</option>
                                                <option *ngFor="let item of allLeadSources" value="{{item.id}}">{{item.displayName}}</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </li> -->
                            <li>
                                <div class="kt-searchmainbox">
                                    <div class="kt-stextbox searchclearbox">
                                        <input type="number" class="form-control" placeholder="Post Code" [(ngModel)]="filterText" (keydown.enter)="getPostCodeRange();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getPostCodeRange()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getPostCodeRange();searchLog();" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getPostCodeRange($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" style="width:95px;" [hidden]="!isGrantedAny('Pages.PostCodeRange.Edit', 'Pages.PostCodeRange.Delete')">{{l('Actions')}}</th>
                                        <th pSortableColumn="startPostCode">
                                            {{l('Range')}}
                                            <p-sortIcon field="startPostCode"></p-sortIcon>
                                        </th>
                                        <th style="width: 300px" pSortableColumn="area">
                                            {{l('Area')}}
                                            <p-sortIcon field="area"></p-sortIcon>
                                        </th>
                                        <th style="width: 300px" pSortableColumn="area">
                                            {{l('IsActive')}}
                                            <p-sortIcon field="area"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align:center; width:95px;" class="actionwidth" [hidden]="!isGrantedAny('Pages.PostCodeRange.Edit', 'Pages.PostCodeRange.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                 <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                             </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.PostCodeRange.Edit')" (click)="createOrEditPostCodeRangeModal.show(record.postCodeRange.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.PostCodeRange.Delete')" (click)="deletePostCodeRange(record.postCodeRange)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Range')}}</span>{{record.postCodeRange.startPostCode}} - {{record.postCodeRange.endPostCode}}
                                        </td>
                                        <td style="width: 300px">
                                            <span class="ui-column-title"> {{l('Area')}}</span> {{record.postCodeRange.area}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('IsActive')}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.postCodeRange.isActive">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.postCodeRange.isActive">{{'No' | localize}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getPostCodeRange($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                showing {{firstrowcount}}
                                To {{last}}
                                <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditPostCodeRangeModal #createOrEditPostCodeRangeModal (modalSave)="getPostCodeRange()"></createOrEditPostCodeRangeModal>
    </div>
</div>