<div bsModal #addAttachment="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addAttachment" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #roofAngleForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <h3 class="kt-subheader__title">
                            <span>{{l("AddDoc")}}</span>
                        </h3>
                    </h4>
                    <button type="button" class="close" (click)="cancel()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="white-file-upload">
                            <input type="file" (change)="fileChangeEvent($event)" accept=".pdf" class="fileuploadboxbtn" />
                        </div>
                    </div>
                    <!-- <div class="flexbloxbutton fileuploadbtn">
                        <input type="file" #myInput (change)="fileChangeEvent($event)" multiple accept=".pdf" />
                    </div> -->
                    <div class="modal-white-box">
                        <div class="secondary-grid">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>FileName</th>
                                        <th>Created Date</th>
                                        <th>Created By</th>
                                        <th class="text-center" style="width:120px;">Download</th>
                                        <th class="text-center" style="width:120px;">Delete</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let item of servicedocs">
                                        <td><span class="d-flex align-items-center"><i class="las la-file-pdf fs-20 mr-2"></i> {{item.fileName}}</span></td>
                                        <td><span class="badge badge-secondary">{{item.creationTime | momentFormat:'DD-MM-YYYY'}}</span></td>
                                        <td>{{item.creationUser}}</td>
                                        <td class="text-center" style="width:120px;">
                                            <a (click)="downloadfile(item)" class="btndownloaddocument"><i class="las la-file-download fs-22"></i></a>
                                        </td>
                                        <td class="text-center" style="width:120px;">
                                            <a (click)="deletefile(item.serviceId)" class="btndownloaddocument"><i class="las la-trash fs-22 text-danger"></i></a>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="col-lg-12 pagebuttonbox">
                        <button (click)="cancel()" class="btn btn_red float-right"><i class="las la-times-circle"></i> Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>