﻿<style>
    .form-icon .icon-box {
        top: 31px !important;
        padding: 0 8px !important;
        left: 10px !important;
    }
</style>

<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form *ngIf="active" #serviceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="service.id">{{l("EditService")}}</span>
                        <span *ngIf="!service.id">{{l("CreateNewService")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">


                    <div class="row modal-white-box p-3">
                        <div class="col-md-12">
                            <h3 class="d-flex align-items-center">
                                <i class="las la-user-alt fs-30 mr-2"></i> Customer Details
                            </h3>
                        </div>
                        <div class="form-group col-md-4 form-icon">
                            <label for="service_JobNumber">{{l("JobNumber")}}</label>
                            <p-autoComplete [(ngModel)]="service.jobNumber" id="service_JobNumber" [suggestions]="filteredLeadSource" (completeMethod)="filterjobnumber($event)"
                            (onSelect)="OnSelectDetails($event)" (onClear)="OnSelectDetails($event)" (keydown.enter)="OnSelectDetails($event)"
                             placeholder="Select Job Number" [minlength]="1" name="jobNumber" inputStyleClass="form-control" styleClass="width-percent-100" [minLength]="6">
                                <ng-template let-result pTemplate="item">
                                    <div class="result-item">
                                        <div class="d-flex align-items-center mb-1">
                                            <i class="las la-user-cog fs-16 mr-1"></i> {{result.jobNumber}} | {{result.customerName}} |  {{result.mobile}}
                                        </div>
                                    </div>
                                </ng-template>
                            </p-autoComplete>
                            <span class="icon-box"><i class="las la-hashtag"></i></span>
                        </div>
                        <div class="form-group col-md-4 form-icon">
                            <label for="service_Name">{{l("Name")}}</label>
                            <input type="text" id="service_Name" class="form-control" [(ngModel)]="service.name" name="Name" required />
                            <span class="icon-box"><i class="las la-user-alt"></i></span>
                        </div>

                        <div class="form-group col-md-4 form-icon">
                            <label for="service_Mobile">{{l("Mobile")}}</label>
                            <input type="text" id="service_Mobile" class="form-control" [(ngModel)]="service.mobile" name="mobile" required />
                            <span class="icon-box"><i class="las la-mobile"></i></span>
                        </div>

                        <div class="form-group col-md-4 form-icon">
                            <label for="service_Email">{{l("Email")}}</label>
                            <input type="text" id="service_Email" class="form-control" [(ngModel)]="service.email" name="email" required />
                            <span class="icon-box"><i class="las la-envelope"></i></span>
                        </div>
                        <div class="form-group col-md-4 form-icon">
                            <label for="service_OtherEmail">{{l("OtherEmail")}}</label>
                            <input type="text" id="service_OtherEmail" class="form-control" [(ngModel)]="service.otherEmail" name="otheremail" />
                            <span class="icon-box"><i class="las la-envelope"></i></span>
                        </div>
                        
                        <div class="form-group col-md-4 form-icon">
                            <label for="service_address">{{l("Address")}}</label>
                            <input type="text" id="service_address" class="form-control" [(ngModel)]="service.address" name="address" />
                            <span class="icon-box"><i class="las la-map-marker"></i></span>
                        </div>

                        <div class="form-group col-md-4 form-icon">
                            <label for="service_State">{{l("State")}}</label>
                            <select class="form-control" [(ngModel)]="service.state" name="state">
                                <option value="">{{l("SelectAState")}}</option>
                                <option *ngFor="let item of allStates" value="{{item.displayName}}">
                                    {{item.displayName}}</option>
                            </select>
                            <span class="icon-box"><i class="las la-globe"></i></span>
                        </div>
                        <div class="form-group col-md-4 form-icon" *ngIf="!service.id">
                            <label for="service_State">{{l("Name")}}</label>
                            <select name="service.state" [(ngModel)]="service.serviceAssignId" class="form-control" required>
                                <option *ngFor="let item of allServiceManagerUsers"
                                    value="{{item.id}}">{{item.displayName}}
                                </option>
                            </select>
                            <span class="icon-box"><i class="las la-user-alt"></i></span>
                        </div>
                        <div class="form-group col-md-4 form-icon" *ngIf="service.id">
                            <label for="service_State">{{l("Name")}}</label>
                            <input type="text" id="service_State" class="form-control" [(ngModel)]="service.serviceAssign" name="service_State" disabled/>
<!-- 
                            <select name="service.state" [(ngModel)]="service.serviceAssignId" class="form-control" required disabled>
                                <option *ngFor="let item of allServiceManagerUsers" 
                                    value="{{item.id}}">{{item.displayName}}
                                </option>
                            </select> -->
                            <span class="icon-box"><i class="las la-user-alt"></i></span>
                        </div>

                    </div>

                    <div class="row modal-white-box p-3">
                        <div class="col-md-12">
                            <h3 class="d-flex align-items-center">
                                <i class="las la-cog fs-30 mr-2"></i> Service Details
                            </h3>
                        </div>
                        <div class="form-group col-md-4 form-icon">
                            <label for="service_Priority">{{l("ServicePriority")}}</label>
                            <select class="form-control" [(ngModel)]="service.servicePriorityId" name="priority">
                                <option value="">{{l("SelectAPriority")}}</option>
                                <option *ngFor="let item of allpriority" value="{{item.id}}">
                                    {{item.displayName}}</option>
                            </select>
                            <span class="icon-box"><i class="las la-tag"></i></span>
                        </div>
                        <div class="form-group col-md-4 form-icon">
                            <label for="service_Source">{{l("ServiceSource")}}</label>
                            <select class="form-control" [(ngModel)]="service.serviceSource" name="source">
                                <option value="">{{l("SelectASource")}}</option>
                                <option *ngFor="let item of allSource" value="{{item.displayName}}">
                                    {{item.displayName}}</option>
                            </select>
                            <span class="icon-box"><i class="las la-ad"></i></span>
                        </div>

                        <div class="form-group col-md-4 form-icon">
                            <label for="service_Status">{{l("ServiceStatus")}}</label>
                            <select class="form-control" [(ngModel)]="service.serviceStatusId" name="status">
                                <option value="">{{l("SelectAStatus")}}</option>
                                <option *ngFor="let item of allStatus" value="{{item.id}}">
                                    {{item.displayName}}</option>
                            </select>
                            <span class="icon-box"><i class="las la-hourglass-half"></i></span>
                        </div>

                        <div class="form-group col-md-4 form-icon">
                            <label for="service_Category">{{l("ServiceCategory")}}</label>
                            <select class="form-control" [(ngModel)]="service.serviceCategoryName" (change)="getSubcategory(service.serviceCategoryName)" name="serviceCategoryName">
                                <option value="">{{l("SelectACategory")}}</option>
                                <option *ngFor="let item of allCategory" value="{{item.displayName}}">
                                    {{item.displayName}}</option>
                            </select>
                            <span class="icon-box"><i class="las la-layer-group"></i></span>
                        </div>
                        <div class="form-group col-md-4 form-icon">
                            <label for="service_Category">{{l("ServiceSubCategory")}}</label>
                            <select class="form-control" [(ngModel)]="service.serviceSubCategoryId" name="serviceSubCategoryId">
                                <option value="">{{l("ServiceSubCategory")}}</option>
                                <option *ngFor="let item of allSubCategory" value="{{item.id}}">
                                    {{item.displayName}}</option>
                            </select>
                            <span class="icon-box"><i class="las la-layer-group"></i></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="service_ServiceLine">
                                <input id="WarrantyClaim" type="checkbox" name="WarrantyClaim" [(ngModel)]="service.isWarrantyClaim">{{l("IsWarrantyClaim")}}</label>
                             <!-- <input type="text" id="service_ServiceLine" class="form-control" [(ngModel)]="service.serviceLine" name="serviceLine" required />  -->
                        </div>
                    </div>
                    <div class="row modal-white-box p-3">
                        <div class="col-md-12">
                            <h3 class="d-flex align-items-center">
                                <i class="las la-sticky-note fs-30 mr-2"></i> <label for="service_ServiceLine">{{l("SubjectLine")}}</label>
                            </h3>
                        </div>
                        <div class="col-md-12">
                            <textarea id="service.serviceLine" class="form-control" id="service_ServiceLine" class="form-control" [(ngModel)]="service.serviceLine" name="serviceLine" required> </textarea>
                        </div>
                    </div>
                    <div class="row modal-white-box p-3">
                        <div class="col-md-12">
                            <h3 class="d-flex align-items-center">
                                <i class="las la-sticky-note fs-30 mr-2"></i> <label for="service_Notes">{{l("Notes")}}</label>
                            </h3>
                        </div>
                        <div class="col-md-12">
                            <textarea id="service.notes" class="form-control" id="service_Notes" class="form-control" [(ngModel)]="service.notes" name="notes" required> </textarea>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!serviceForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                    <a href="javascript:;" style="display: none;" id="auto_trigger" (click)="this.duplicateservicepopupModal.show(item)"></a>
                </div>
            </form>
        </div>
    </div>
    <duplicateservicepopupModal #duplicateservicepopupModal></duplicateservicepopupModal>
</div>