﻿<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 48%;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("MyService")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getServices();RereshLog();"></button>
                                </li>
                                <li *ngIf="isGranted('Pages.Service.MyService.Create')">
                                    <button (click)="createService()" class="btn btn-outline-primary btnadd">Add <i class="las la-plus-circle"></i></button>
                                </li>

                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [hidden]="!isGrantedAny('Pages.Service.MyService.Export')">
                                        Export
                                        <img src="../../../assets/common/images/icon_downarrow.svg" />
                                    </button>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="organizationUnit" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getServices(); getusers();addSearchLog('Filter Organization');">
                                            <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" (change)='getServices();addSearchLog("Filter State");' [(ngModel)]="stateNameFilter" name="stateNameFilter">
                                            <option value="">{{l("SelectAState")}}</option>
                                            <option *ngFor="let item of allStates" value="{{item.displayName}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" (change)='getServices();addSearchLog("Filter Service Status");' [(ngModel)]="servicestatusFilter" name="servicestatusFilter">
                                            <option value=0>{{l("All")}}</option>
                                            <option *ngFor="let item of allServieStatus" value="{{item.id}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="Phone">Phone</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                                <option value="Address">Address</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getServices();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getServices()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getServices();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li class="fullwidth">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="" name="adressFilter" (keydown.enter)="getServices();addSearchLog('Advanced Filter');" placeholder="Street Address" [(ngModel)]="adressFilter">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="serviceCategory" name="serviceCategory" (keydown.enter)="getServices();addSearchLog('Advanced Filter');">
                                                                <option value="">Select Category</option>
                                                                <option *ngFor="let item of allServieCategorys"
                                                                    value="{{item.displayName}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="serviceSource" name="serviceSource" (keydown.enter)="getServices();addSearchLog('Advanced Filter');">
                                                                <option value="">Select Source</option>
                                                                <option *ngFor="let item of allServieSource"
                                                                    value="{{item.displayName}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="servicepriority" name="servicepriority" (keydown.enter)="getServices();addSearchLog('Advanced Filter');">
                                                                <option value=0>Select Priority</option>
                                                                <option *ngFor="let item of allServiePrioritys"
                                                                    value="{{item.id}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                            </div>
                                                        </li>
                                                        <!-- <li>
                                                            <div class="form-group">
                                                                <input name="SampleDateRangePicker" type="text" (keydown.enter)="getServices($event)" [(ngModel)]="sampleDateRange" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }"
                                                                    [(date)]="sampleDateRange" />
                                                            </div>
                                                        </li> -->
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="datefilter" name="datefilter" (keydown.enter)="getServices();addSearchLog('Advanced Filter');">
                                                                <option value="All">{{l("All")}}</option>
                                                                <option value="CreationDate">{{l("Creation Date")}}
                                                                </option>
                                                                <option value="ClosedDate">{{l("Closed Date")}}
                                                                </option>
                                                            </select>
                                                            </div>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getServices();addSearchLog('Advanced Filter');"><i
                                                                class="fa fa-search ng-tns-c458-53"></i>
                                                            Search</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div [hidden]="!FiltersData">
            <div class="blue-filter-box" *ngIf="'Pages.Service.MyService.AssignUser' | permission" [hidden]="!(['Pages.Service.MyService.AssignUser'] | permissionAny)" style="display:none;">
                <div class="d-flex align-items-center justify-content-end" style="width:100%;">
                    <select name="assignservice" [(ngModel)]="assignservice" class="form-control mr-3" required style="width: 210px; border-radius: 5px !important;">
                        <option value="0">{{l("SelectAUser")}}</option>
                        <option *ngFor="let item of allServiceManagerUsers" value="{{item.id}}">{{item.displayName}}
                        </option>
                    </select>
                    <button (click)="submit()" type="submit" class="btn btn-primary btn-sm">
                        Submit
                    </button>
                </div>
            </div>
            <div class="myleadsReport leadtopcouont leadtracker leadtrackerpage joblist job-page">
                <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                    <ul>
                        <li><span>{{this.total}}</span><label>{{l("Total")}}</label></li>
                        <li><span>{{this.open}}</span><label>{{l("Open")}}</label></li>
                        <li><span>{{this.pending}}</span><label>{{l("Pending")}}</label></li>
                        <li><span>{{this.assign}}</span><label>{{l("Assign")}}</label></li>
                        <li><span>{{this.resolved}}</span><label>{{l("Resolved")}}</label></li>
                        <li><span>{{this.closed}}</span><label>{{l("Closed")}}</label></li>
                        <!-- <li style="height:67px; justify-content:center;" *ngIf="'Pages.Service.MyService.AssignUser' | permission" [hidden]="!(['Pages.Service.MyService.AssignUser'] | permissionAny)">
                            <div class="d-flex align-items-center justify-content-end" style="width:100%;">
                                <select name="assignservice" [(ngModel)]="assignservice" class="form-control mr-3" required style="height:35px !important;">
                                    <option value="0">{{l("SelectAUser")}}</option>
                                    <option *ngFor="let item of allServiceManagerUsers" value="{{item.id}}">{{item.displayName}}
                                    </option>
                                </select>
                                <button (click)="submit()" type="submit" class="btn btn-primary btn-sm" style="height:35px !important;">
                                    Submit
                                </button>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.Service.MyService.EnableCopyPaste' | permission)}">
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getServices($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable (onLazyLoad)="getServices($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center p-frozen-column">
                                            {{l('Actions')}}</th>
                                        <th style="width:170px; left:95px !important;" class="p-frozen-column" pSortableColumn="JobNumber">
                                            {{l('ProjNo')}}
                                            <p-sortIcon field="JobNumber"></p-sortIcon>
                                        </th>

                                        <th style="width: 170px" [hidden]="!ExpandedView" pSortableColumn="Name">
                                            {{l('Name')}}
                                            <p-sortIcon field="Name"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="Address">
                                            {{l('Address')}}
                                            <p-sortIcon field="Address"></p-sortIcon>
                                        </th>
                                        <th style="width: 250px" [hidden]="!ExpandedView" pSortableColumn="Email" *ngIf="'Pages.Service.MyService.ShowEmailPhone' | permission">
                                            {{l('Email')}}
                                            <p-sortIcon field="Email"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" [hidden]="!ExpandedView" pSortableColumn="Mobile" *ngIf="'Pages.Service.MyService.ShowEmailPhone' | permission">
                                            {{l('Mobile')}}
                                            <p-sortIcon field="Mobile"></p-sortIcon>
                                        </th>
                                        <th style="width:100px" [hidden]="!ExpandedView" pSortableColumn="State">
                                            {{l('State')}}
                                            <p-sortIcon field="State"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="ServiceCategoryName">
                                            {{l('ServiceCategoryName')}}
                                            <p-sortIcon field="ServiceCategoryName"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="ServiceSource">
                                            {{l('ServiceSource')}}
                                            <p-sortIcon field="ServiceSource"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="PriorityFk.Name">
                                            {{l('ServicePriority')}}
                                            <p-sortIcon field="ServicePriority"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="TicketNo">
                                            {{l('Ticket No')}}
                                            <p-sortIcon field="TicketNo"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="StatusFk.Name">
                                            {{l('ServiceStatus')}}
                                            <p-sortIcon field="ServiceStatus"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" pSortableColumn="Notes">
                                            {{l('Notes')}}
                                            <p-sortIcon field="Notes"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" *ngIf="role == 'Service Manager' || 'Admin'" [hidden]="!ExpandedView" pSortableColumn="ServiceAssignDate">
                                            {{l('AssignDate')}}
                                            <p-sortIcon field="ServiceAssignDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" *ngIf="role == 'Service Manager' || 'Admin'" [hidden]="!ExpandedView">
                                            {{l('AssignUser')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Reminder')}}
                                        </th>
                                        <!-- <th style="width:45px;" class="checkboxhead set14" [hidden]="!ExpandedView" *ngIf="role == 'Service Manager' || 'Admin'">
                                            <div class="kt-checkbox-list">
                                                <label for="lead_id" class="kt-checkbox">
                                                    <input type="checkbox" id="lead_id" name="all"
                                                        [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th> -->

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td class="actionwidth text-center p-frozen-column" style="width:95px;">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Gridconnectiontracker.QuickView')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.service.jobId,22,'My Service')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Service.MyService.AddServiceInstaller')" (click)="addserviceinstallerModal.show(record.service.id, record.service.organizationId,22,'My Service')">
                                                            <i class="las la-plus-circle"></i> {{l('Add Installer')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Service.MyService.Edit')" (click)="createOrEditMyServiceOptionModal.show(record.service.id, record.service.organizationId,22,'My Service')">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Service.MyService.Notify')">
                                                        <a (click)="notifyModel.show(record.service.leadId,22,record.service.id,'My Service')">
                                                            <!-- <a (click)="addActivityModal.show(record.service.leadId,9,0,22,0,record.service.id)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Service.MyService.Reminder')">
                                                        <a (click)="ReminderModal.show(record.service.leadId,22,record.service.id,'My Service')">
                                                            <!-- <a (click)="addActivityModal.show(record.service.leadId,8,0,22,0,record.service.id)"> -->
                                                            <i class="las la-stopwatch"></i> {{l('ActionReminder')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Service.MyService.Comment')">
                                                        <a (click)="commentModel.show(record.service.leadId,22,record.service.id,'My Service')">
                                                            <!-- <a (click)="addActivityModal.show(record.service.leadId,24,0,22,0,record.service.id)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Service.MyService.ToDo')">
                                                        <a (click)="todoModal.show(record.service.leadId,22,record.service.id,'My Service')">
                                                            <!-- <a (click)="addActivityModal.show(record.service.leadId,25,0,22,0,record.service.id)"> -->
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Service.MyService.SMS')">
                                                        <a (click)="myserviceSmsEmailModel.show(record.service.leadId,1,22,record.service.id,record.service.tenentId,'My Service')">
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Service.MyService.Email')">
                                                        <a (click)="myserviceSmsEmailModel.show(record.service.leadId,2,22,record.service.id,record.service.tenentId,'My Service')">
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Service.MyService.Delete')">
                                                        <a (click)="delete(record.service.id)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" (click)="addserviceAttachmentModal.show(record.service.id,'My Service')">
                                                            <i class="las la-file-upload"></i> {{l('UploadDoc')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:170px; left:95px !important;" class="p-frozen-column" (click)="navigateToLeadDetail(record.service.leadId,record.service.id);">
                                            <span class="badge badge-secondary">{{record.service.jobNumber}}</span>
                                        </td>

                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            {{record.service.name}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.service.address" class="tooltipcnt">{{record.service.address | titlecase}}</span>
                                        </td>
                                        <td style="width:250px" [hidden]="!ExpandedView" *ngIf="'Pages.Service.MyService.ShowEmailPhone' | permission">
                                            <span class="tooltipcnt">
                                                {{record.service.email}}</span>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView" *ngIf="'Pages.Service.MyService.ShowEmailPhone' | permission">
                                            <span class="badge badge-secondary">{{record.service.mobile}}</span>
                                        </td>
                                        <td style="width:100px" [hidden]="!ExpandedView">
                                            {{record.service.state}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.service.serviceCategoryName}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.service.serviceSource}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.servicePriority}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.service.ticketNo}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.serviceStatus}}
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.service.notes">{{record.service.notes}}</span>
                                            </div>
                                        </td>
                                        <td class="no_warp" *ngIf="role == 'Service Manager' || 'Admin'" style="width:200px" [hidden]="!ExpandedView">
                                            {{record.service.serviceAssignDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td>
                                        <td class="no_warp" *ngIf="role == 'Service Manager' || 'Admin'" style="width:200px" [hidden]="!ExpandedView">
                                            {{record.assignUser}}
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.activityComment">{{record.activityComment}}</span></span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.reminderTime}}
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.activityDescription">{{record.activityDescription}}</span>
                                            </span>
                                        </td>
                                        <!-- <td style="width:45px;" [hidden]="!ExpandedView" *ngIf="role == 'Service Manager' || 'Admin'">
                                            <div class="kt-checkbox-list">
                                                <label for="{{record.service.id}}" class="kt-checkbox">
                                                    <input type="checkbox" id="{{record.service.id}}"
                                                        name="recordSource" [(ngModel)]="record.isSelected"
                                                        (change)="oncheckboxCheck()" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td> -->

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getServices($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    of {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <createOrEditMyServiceOptionModal #createOrEditMyServiceOptionModal (modalSave)="getServices()">
        </createOrEditMyServiceOptionModal>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <myserviceSmsEmailModel #myserviceSmsEmailModel></myserviceSmsEmailModel>
        <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal>
        <addserviceinstallerModal #addserviceinstallerModal (modalSave)="reloadPage($event)"></addserviceinstallerModal>
        <addserviceAttachmentModal #addserviceAttachmentModal (modalSave)="reloadPage($event)">
        </addserviceAttachmentModal>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="reloadPage($event)"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="reloadPage($event)"></ReminderModal>

    </div>
</div>