﻿<style>
    .form-icon .icon-box {
        left: 8px !important;
        top: 31px !important;
    }
</style>
<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #serviceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        {{l("Service")}}
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="row modal-white-box">
                        <div class="form-group col-md-6">
                            <label for="service_InstallerNotes">{{l("ServiceDate")}}</label>
                            <input type="text" bsDatepicker datePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }" name="installerDate" [(date)]="service.installerDate" class="form-control daterangebox" />
                        </div>

                        <div class="form-group col-md-6 form-icon">
                            <label for="service_InstallerNotes">{{l("ServiceInstaller")}}</label>
                            <select class="form-control" [(ngModel)]="service.installerId" name="installerId">
                                <option value="0">Select Installer</option>
                                <option *ngFor="let item of InstallerList" value="{{item.id}}">{{item.displayName}}
                                </option>
                            </select>
                            <span class="icon-box"><i class="las la-user-cog"></i></span>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="service_InstallerNotes">{{l("ServiceNotes")}}</label>
                            <textarea id="service_InstallerNotes" class="form-control" [(ngModel)]="service.installerNotes" name="installernotes" required></textarea>
                            <!-- <input type="text" id="service_InstallerNotes" class="form-control" [(ngModel)]="service.installerNotes" name="installernotes" required /> -->
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!serviceForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
    <duplicateservicepopupModal #duplicateservicepopupModal></duplicateservicepopupModal>
</div>