.kt-user-card {
  display: none !important;
}
.dropdown-menu.dropdown-menu-xl {
  width: 300px;
}
.kt-notification .kt-notification__item {
  padding: 0.6rem 1.5rem;
}
.kt-notification .kt-notification__item .kt-notification__item-icon i {
  color: #414141;
}
.btn.btn-danger {
  cursor: pointer;
}
.kt-header .kt-header__topbar .kt-header__topbar-item:hover .kt-header__topbar-icon,
.kt-header .kt-header__topbar .kt-header__topbar-item.show .kt-header__topbar-icon,
.kt-header .kt-header__topbar .kt-header__topbar-item:hover.kt-header__topbar-item--user .kt-header__topbar-user,
.kt-header .kt-header__topbar .kt-header__topbar-item.show.kt-header__topbar-item--user .kt-header__topbar-user {
  background: none !important;
}
.notificationtitle {
  color: #333333 !important;
  font-size: 1.2rem !important;
  padding-top: 8px;
}
.divider {
  border-bottom: 1px solid #f4f4f4;
  margin-top: 6px;
}
.user-profile-menu a.kt-notification__item:hover .kt-notification__item-title {
  color: #1A73E8 !important;
}
.user-profile-menu a.kt-notification__item:hover i {
  color: #1A73E8 !important;
}
.btn.btn-success {
  color: #ffffff !important;
}
.btn.btn-secondary {
  color: #ffffff;
}
