<!-- BEGIN: Topbar -->
<div class="commonsearch searchclearbox customtop-search" *ngIf="('Pages.Tenant.HeaderSearch' | permission)">
    <select name="filterName" class="form-control mr-2" [(ngModel)]="filterName" style="width:220px;">
        <option value="JobNumber">Job Number</option>
        <option value="MobileNo" selected="selected" >Mobile No</option>
        <!-- <option value="CompanyName">Company Name</option> -->
        <option value="Email">Email</option>
        <option value="PhoneNo">PhoneNo</option>
        <!-- <option value="Addess">Addess</option> -->
    </select>
    <!-- <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 202px; font-weight:500;">AS</span> -->
    <input type="text" class="form-control" placeholder="{{filterName}}" [(ngModel)]="str">
    <a class="btnclearsearch" *ngIf="str" (click)="str='';clear();" style="top: 18px;right: 36px;"><i class="fas fa-times-circle"></i></a>
    <!-- <a class="customsearch-btn" href="javascript:;" (click)="FiltersData = !FiltersData;" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"> -->
    <!-- <a class="customsearch-btn" href="javascript:;" (click)="filterjobnumber(str)" [buttonBusy]="saving" [busyText]="l('Saving')">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search ficon"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    </a> -->
    <button type="button" [buttonBusy]="saving" busyText="Searching.." class="customsearch-btn px-2" (click)="filterjobnumber(str)">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search ficon"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    </button>
    <div class="top-search-result" [hidden]="!FiltersData">
        <ul>
            <li *ngFor="let item of searchResult">
                <div class="result-item" (click)="AllcommonFilter(item)">
                    <div class="d-flex align-items-center mb-1">
                        <strong>{{item.jobNumber}}</strong><span class="px-2" *ngIf="item.jobNumber != null">|</span>
                        <strong>{{item.customerName}}</strong><span class="px-2" *ngIf="item.customerName != null">|</span>
                        <strong>{{item.salesRep}}</strong>
                    </div>
                    <div class="d-flex align-items-center mb-1">
                        <span *ngIf="item.mobile != null" class="d-flex align-items-center"><i class="las la-mobile fs-16 mr-1"></i> {{item.mobile}}</span>
                        <span class="px-2" *ngIf="item.mobile != null && item.email != ''">|</span>
                        <span class="d-flex align-items-center" *ngIf="item.email != ''"><i class="las la-envelope fs-16 mr-1"></i> {{item.email}}</span>
                    </div>
                    <div class="d-flex align-items-center" *ngIf="item.address != ''"><i class="las la-map-marker-alt fs-16 mr-1"></i> {{item.address}}</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="top-search-result" [hidden]="!NoData">
        <ul>
            <li style="cursor:auto">
                <div class="text-danger fw-600 text-center" style="margin-bottom:0;">
                    No Data
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="commonsearch searchclearbox customtop-search" *ngIf="('Pages.Tenant.HeaderSearch.WholeSaleLead' | permission)">
    <select name="filterNameWholesale" class="form-control mr-2" [(ngModel)]="filterNameWholesale" style="width:220px;">
        <option value="AbnNumber">ABN Number</option>
        <option value="MobileNo" selected="selected" >Mobile No or Phone No</option>
        <option value="CompanyName">Company Name</option>
        <option value="Email">Email</option>
        <!-- <option value="PhoneNo">PhoneNo</option> -->
        <!-- <option value="Addess">Addess</option> -->
    </select>
    <!-- <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 202px; font-weight:500;">AS</span> -->
    <input type="text" class="form-control" placeholder="{{filterNameWholesale}}" [(ngModel)]="strWholeSale">
    <a class="btnclearsearch" *ngIf="strWholeSale" (click)="strWholeSale='';clearW();" style="top: 18px;right: 36px;"><i class="fas fa-times-circle"></i></a>
    <!-- <a class="customsearch-btn" href="javascript:;" (click)="FiltersData = !FiltersData;" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"> -->
    <!-- <a class="customsearch-btn" href="javascript:;" (click)="filterjobnumber(str)" [buttonBusy]="saving" [busyText]="l('Saving')">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search ficon"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    </a> -->
    <button type="button" [buttonBusy]="savingW" busyText="Searching.." class="customsearch-btn px-2" (click)="filterABNNumber(strWholeSale)">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search ficon"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    </button>
    <div class="top-search-result" [hidden]="!FiltersDataWholeSale">
        <ul>
            <li *ngFor="let item of searchResultWholeSale">
                <div class="result-item" (click)="AllWholesalecommonFilter(item)">
                    <div class="d-flex align-items-center mb-1">
                        <strong>{{item.abnNumber}}</strong><span class="px-2" *ngIf="item.abnNumber != null">|</span>
                        <strong>{{item.customerName}}</strong><span class="px-2" *ngIf="item.customerName != null">|</span>
                        <strong>{{item.companyName}}</strong>
                    </div>
                    <div class="d-flex align-items-center mb-1">
                        <span *ngIf="item.mobile != null" class="d-flex align-items-center"><i class="las la-mobile fs-16 mr-1"></i> {{item.mobile}}</span>
                        <span class="px-2" *ngIf="item.mobile != null && item.email != ''">|</span>
                        <span class="d-flex align-items-center" *ngIf="item.email != ''"><i class="las la-envelope fs-16 mr-1"></i> {{item.email}}</span>
                    </div>
                    <div class="d-flex align-items-center" *ngIf="item.address != ''"><i class="las la-map-marker-alt fs-16 mr-1"></i> {{item.address}}</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="top-search-result" [hidden]="!NoDataWholeSale">
        <ul>
            <li style="cursor:auto">
                <div class="text-danger fw-600 text-center" style="margin-bottom:0;">
                    No Data
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- <div class="commonsearch searchclearbox" *ngIf="('Pages.Tenant.HeaderSearch' | permission)" style="display:none;">

    <p-autoComplete id="jobIds" name="filterText" [suggestions]="searchResult" (completeMethod)="filterjobnumber($event)" [placeholder]="l('LeadSearch')" [minLength]="5" inputStyleClass="form-control" styleClass="width-percent-100" (keydown.enter)="AllcommonFilter($event)"
        (onSelect)="AllcommonFilter($event)" field="customerName">
        <ng-template let-result pTemplate="item">
            <div class="result-item">
                <div class="d-flex align-items-center mb-1">
                    <strong>{{result.jobNumber}}</strong>
                    <span class="px-2" *ngIf="result.jobNumber != null">|</span>
                    <strong>{{result.customerName}}</strong>
                    <span class="px-2" *ngIf="result.customerName != null">|</span>
                    <strong>{{result.salesRep}}</strong>
                </div>
                <div class="d-flex align-items-center mb-1">
                    <span *ngIf="result.mobile != null" class="d-flex align-items-center"><i class="las la-mobile fs-16 mr-1"></i> {{result.mobile}}</span>
                    <span class="px-2" *ngIf="result.mobile != null && result.email != ''">|</span>
                    <span class="d-flex align-items-center" *ngIf="result.email != ''"><i class="las la-envelope fs-16 mr-1"></i> {{result.email}}</span>
                </div>
                <div class="d-flex align-items-center" *ngIf="result.address != ''">
                    <i class="las la-map-marker-alt fs-16 mr-1"></i> {{result.address}}</div>
            </div>
        </ng-template>
    </p-autoComplete>

    <a class="btnclearsearch" *ngIf="filterText1" (click)="filterText1=''"></a>
    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search ficon"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
</div> -->

<div class="kt-topright" style="margin-left:auto;">
    <div class="leadreport" style="display:none;">
        <ul>
            <li>
                <span>
                    <img  src="./assets/common/images/aim.png"/>
                </span>Leads
                <!-- {{leadCount.new}}/{{leadCount.total}}  -->
            </li>
            <li>
                <span>
                    <img  src="./assets/common/images/flame.png"/>
                </span>
                <!-- {{leadCount.hot}}/{{leadCount.total}}  -->
                Hot
            </li>
            <li>
                <span>
                    <img  src="./assets/common/images/ice.png"/>
                </span>
                <!-- {{leadCount.cold}}/{{leadCount.total}}  -->
                Cold
            </li>
            <li>
                <span>
                    <img  src="./assets/common/images/sun.png"/>
                </span>
                <!-- {{leadCount.warm}}/{{leadCount.total}}  -->
                Warms
            </li>
        </ul>
    </div>
    <div class="kt-header__topbar">

        <div class="kt-header__topbar-item dropdown d-none d-lg-block subscription-warning" *ngIf="subscriptionStatusBarVisible()">
            <a href="javascript:;" *ngIf="appSession.tenant.isInTrialPeriod && !subscriptionIsExpiringSoon()" class="kt-nav__link m-dropdown__toggle">
                <span class="kt-nav__link-text glowing">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="kt-menu__link-text ml-1" [innerHTML]="getTrialSubscriptionNotification()"></span>
                </span>
            </a>
            <a *ngIf="subscriptionIsExpiringSoon()" routerLink="/app/admin/subscription-management" class="kt-nav__link">
                <span *ngIf="subscriptionIsExpiringSoon() && appSession.tenant.isInTrialPeriod" class="kt-nav__link-text glowing">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="kt-menu__link-text ml-1">{{getExpireNotification("TrialExpireNotification")}}</span>
                </span>
                <span *ngIf="subscriptionIsExpiringSoon() && !appSession.tenant.isInTrialPeriod" class="kt-nav__link-text glowing">
                    <i class="fa fa-exclamation-triangle"></i>
                    <span class="kt-menu__link-text ml-1">{{getExpireNotification("SubscriptionExpireNotification")}}</span>
                </span>
            </a>
        </div>
        <!-- Make this component ! -->
        <active-delegated-users-combo *ngIf="!installationMode"></active-delegated-users-combo>
        <!-- -->
        <!-- <div *ngIf="isQuickThemeSelectEnabled" id="kt_theme_selection_panel_toggle" class="kt-header__topbar-item dropdown">
            <div class="kt-header__topbar-wrapper">
                <span class="kt-header__topbar-icon kt-header__topbar-icon--brand">
                    <i class="flaticon-interface-7"></i>
                </span>
            </div>
        </div> -->
        <!-- <div dropdown class="kt-header__topbar-item dropdown dropdown-language" *ngIf="languages.length > 1">
            <div dropdownToggle class="kt-header__topbar-wrapper dropdown-toggle" data-toggle="dropdown"
                data-offset="30px,0px" aria-expanded="true" aria-haspopup="true">
                <span class="kt-header__topbar-icon kt-header__topbar-icon--brand">
                    <i [class]="currentLanguage.icon"></i>
                </span>
            </div>
            <div *dropdownMenu
                class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-lg"
                [attr.aria-label]="l('Languages')">
                <ul class="kt-nav kt-margin-t-10 kt-margin-b-10">
                    <li class="kt-nav__item" *ngFor="let language of languages">
                        <a class="kt-nav__link" (click)="changeLanguage(language.name)">
                            <span class="kt-nav__link-icon">
                                <i [class]="language.icon"></i>
                            </span>
                            <span class="kt-nav__link-text">
                                {{language.displayName}}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->
        <div *ngIf="(isHost || ('App.ChatFeature' | checkFeature)) && !chatConnected" class="kt-header__topbar-item dropdown">
            <div class="kt-header__topbar-wrapper">
                <span class="kt-header__topbar-icon kt-header__topbar-icon--brand">
                <!-- <img *ngIf="!chatConnected" src="./assets/common/images/loading.gif" style="width: 23px;"
                    tooltip="{{'ChatIsConnecting' | localize}}" placement="left" /> -->
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square ficon"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> -->
                    <img [src]="appRootUrl() +'assets/common/images/live-chat.png'" style="width:26px;">
            </span>
            </div>
        </div>
        <div id="kt_quick_sidebar_toggle" [hidden]="!(isHost || ('App.ChatFeature' | checkFeature)) || !chatConnected" class="kt-header__topbar-item dropdown">
            <div class="kt-header__topbar-wrapper">
                <span class="kt-header__topbar-icon kt-header__topbar-icon--brand  pulse pulse-warning unread_area">
                <div *ngIf="unreadChatMessageCount">
                    <!-- <i class="flaticon-chat-2 unread-notification"></i> -->
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell ficon"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg> -->
                    <img [src]="appRootUrl() +'assets/common/images/icon-notification.png'" style="width:26px;">
                    <span class="kt-badge kt-badge--primary unread-notification-count"> 
                        {{unreadChatMessageCount}}
                    </span>
            </div>
            <div *ngIf="!unreadChatMessageCount">
                <!-- <i class="flaticon-chat-2"></i> -->
                <img [src]="appRootUrl() +'assets/common/images/live-chat.png'" style="width:26px;">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square ficon"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg> -->
            </div>
            <span _ngcontent-nnr-c14="" class="pulse-ring"></span>
            </span>
        </div>

    </div>
    <div headerNotifications class="kt-header__topbar-item dropdown" dropdown id="header_notification_bar"></div>
    <div class="kt-header__topbar-item kt-header__topbar-item--user   dropdown" dropdown placement="bottom-right">
        <div class="kt-header__topbar-wrapper dropdown-toggle" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" dropdownToggle>
            <div class="kt-header__topbar-user">
                <i *ngIf="isImpersonatedLogin" class="fa fa-reply kt-font-danger mr-2"></i>
                <span class="profilepicbox">
                    <img *ngIf="profilePicture" class="header-profile-picture m--img-rounded m--marginless m--img-centered"
                    alt="Pic" [src]="profilePicture" >
                </span>
                <span class="kt-header__topbar-username kt-hidden-mobile">
                        <span *ngIf="isMultiTenancyEnabled" class="tenancy-name">{{userName}}</span>{{tenancyName}}
                </span>

            </div>
        </div>
        <div *dropdownMenu class="dropdown-menu max_widthset1 dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl" x-placement="bottom-right" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(1253px, 64px, 0px);">
            <!-- <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x"
                    [ngStyle]="{ 'background': 'url(' + appRootUrl() + 'assets/metronic/themes/' + currentTheme.baseSettings.theme + '/images/bg/bg-1.jpg)', 'background-size': 'cover'}">
                    <div class="kt-user-card__avatar">
                        <img class="" alt="Pic" [src]="profilePicture">
                    </div>
                    <div class="kt-user-card__name">
                        <span *ngIf="isMultiTenancyEnabled" class="tenancy-name">{{tenancyName}}\</span>{{userName}}
                    </div>
                </div> -->
            <div class="kt-notification user-profile-menu">
                <a *ngIf="isImpersonatedLogin" href="javascript:;" class="kt-notification__item" (click)="backToMyAccount()">
                    <div class="kt-notification__item-icon">
                        <i class="fa fa-reply kt-font-danger"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">
                            <span>
                                    {{"BackToMyAccount" | localize}}
                                </span>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="kt-notification__item linked-accounts" (click)="showLinkedAccounts()">
                    <div class="kt-notification__item-icon">
                        <i class="flaticon-user-settings"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">
                            <span>
                                    {{"ManageLinkedAccounts" | localize}}
                                </span>
                        </div>
                    </div>
                </a>
                <div class="kt-notification__custom py-0 linked-accounts">
                    <ul class="kt-nav linked-accounts" *ngIf="recentlyLinkedUsers && recentlyLinkedUsers.length" [attr.aria-label]="l('LinkedAccounts')">
                        <li *ngFor="let linkedUser of recentlyLinkedUsers" class="kt-nav__item py-2">
                            <a href="javascript:;" (click)="switchToLinkedUser(linkedUser)" class="recently-linked-user">
                                <span class="kt-nav__link-bullet">
                                        <span></span>
                                </span>
                                <span class="kt-nav__link-text">
                                        {{getShownUserName(linkedUser)}}
                                    </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <a *ngIf="appSession.application.userDelegationIsEnabled && !isImpersonatedLogin" href="javascript:;" class="kt-notification__item" (click)="showUserDelegations()">
                    <div class="kt-notification__item-icon">
                        <i class="flaticon-users"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">
                            <span>
                                    {{"ManageUserDelegations" | localize}}
                                </span>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="kt-notification__item" (click)="changePassword()">
                    <div class="kt-notification__item-icon">
                        <i class="flaticon-more-v6"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">
                            <span>
                                    {{"ChangePassword" | localize}}
                                </span>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="kt-notification__item" (click)="showLoginAttempts()">
                    <div class="kt-notification__item-icon">
                        <i class="flaticon-list"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">
                            <span>
                                    {{"LoginAttempts" | localize}}
                                </span>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="kt-notification__item" (click)="changeProfilePicture()">
                    <div class="kt-notification__item-icon">
                        <i class="flaticon-profile-1"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">
                            <span>
                                    {{"ChangeProfilePicture" | localize}}
                                </span>
                        </div>
                    </div>
                </a>
                <a href="javascript:;" class="kt-notification__item" (click)="changeMySettings()">
                    <div class="kt-notification__item-icon">
                        <i class="flaticon-cogwheel"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">
                            <span>
                                    {{"MySettings" | localize}}
                                </span>
                        </div>
                    </div>
                </a>
                <a *ngIf="('Pages.Administration.UiCustomization' | permission)" routerLink="admin/ui-customization" class="kt-notification__item">
                    <div class="kt-notification__item-icon">
                        <i class="flaticon-medical"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">
                            <span>
                                    {{"VisualSettings" | localize}}
                                </span>
                        </div>
                    </div>
                </a>
                <!-- <a href="javascript:;" class="kt-notification__item" (click)="downloadCollectedData()">
                        <div class="kt-notification__item-icon">
                            <i class="flaticon-download"></i>
                        </div>
                        <div class="kt-notification__item-details">
                            <div class="kt-notification__item-title kt-font-bold">
                                <span>
                                    {{"DownloadCollectedData" | localize}}
                                </span>
                            </div>
                        </div>
                    </a> -->
                <div class="kt-notification__custom">
                    <a (click)="logout()" class="btn btn_spcial_bg btn-sm btn-bold"><i class="logout_icon"></i> {{"Logout" | localize}}</a>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<!-- END: Topbar -->