<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg addactivitymodal">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Upload Documents
                        <!-- <span>{{l("AddNotes")}} - {{leadCompanyName}} - {{this.item.job.jobNumber}}</span> -->
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Document Type :</label>
                                <select name="Invoice.userId" [(ngModel)]="documentTypeId" class="form-control">
                                <option [ngValue]="undefined">{{l("DocumentType")}}</option>
                                <option *ngFor="let item of DocumentTypes"
                                    value="{{item.id}}">
                                    {{item.documentTitle}}</option>
                            </select>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="">
                                    <div class="form-group marginbtm0">
                                        <label>File :</label>
                                        <div class="white-file-upload">
                                            <input #myInput type="file" (change)="fileChangeEvent($event)" accept=".pdf" class="fileuploadboxbtn" />
                                            <span class="btnuparrow" [tooltip]="l('Atach')"></span>
                                        </div>

                                    </div>
                                </div>
                                <!-- <div class="flexbloxbutton fileuploadbtn">
                                    <label>
                                        <input #myInput type="file" (change)="fileChangeEvent($event)"
                                            accept=".pdf" class="fileuploadboxbtn" />
                                        <span class="btnuparrow" [tooltip]="l('Atach')"></span>
                                    </label>                               
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn_red" (click)="close()"><i class="las la-times-circle"></i>{{("Cancel")}}</button>
                    <button type="submit" (click)="savedocument()" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>