<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 100%;
        }
    }
</style>
<div [@routerTransition]>
    <div>

        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="d-flex align-items-center">
                        <div class="kt-subheader__main justify-content-between full-width-mob">
                            <h3 class="kt-subheader__title">
                                <span>Warranty Tracker</span>
                                <span class="total-records-count">
                                    ({{(primengTableHelper.totalRecordsCount)}})
                                </span>
                            </h3>
                            <div class="dropdown help-dropdown" dropdown>
                                <a class="dropdown-toggle fs-30" dropdownToggle>
                                    <i class="las la-question-circle"></i>
                                </a>
                                <ul class="dropdown-menu helpmenudorpdown" *dropdownMenu>
                                    <li>Installed completeDate</li>
                                    <li>Fully Paid</li>
                                </ul>
                            </div>
                            <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                        </div>
                    </div>


                    <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                        <div class="kt-subheader__wrapper">
                            <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                                <ul class="hd_right">
                                    <li><button type="button" class="btn_refresh" (click)="getReferrallist();RereshLog();"></button></li>

                                    <li *ngIf="organizationUnitlength > 1">
                                        <div class="kt-sdropdown">
                                            <div class="form-group selectdropdown m-form__group">
                                                <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getReferrallist();onsalesrep();addSearchLog('Filter Organization');">
                                                    <option *ngFor="let item of allOrganizationUnits"
                                                        value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group selectdropdown m-form__group">
                                                <select name="paymentStatus" [(ngModel)]="paymentStatus" class="form-control" (change)="getReferrallist();addSearchLog('Filter Payment Status');">
                                                    <option value="0">Document Send</option>
                                                    <option value="1">{{l("Yes")}}</option>
                                                    <option value="2">{{l("No")}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group selectdropdown m-form__group">
                                                <select name="documentStatus" [(ngModel)]="documentStatus" class="form-control" (change)="getReferrallist();addSearchLog('Filter Document Status');">
                                                    <option value="1">Awaiting</option>
                                                    <option value="2">Ready To Send</option>

                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group  selectdropdown m-form__group">
                                                <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                    <option value="JobNumber">Job Number</option>
                                                    <option value="MobileNo">Mobile No</option>
                                                    <option value="CompanyName">Company Name</option>
                                                    <option value="Email">Email</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-searchmainbox searchclearbox">
                                            <div class="kt-stextbox leardsearchfilter">
                                                <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                                <input [(ngModel)]="filterText" [ngClass]="{pl50: filterName == 'JobNumber' }" name="filterText" autoFocus (keydown.enter)="getReferrallist();addSearchLog('Filter' + filterName +  ' : ' + filterText);" class="form-control m-input" placeholder="{{filterName}}
                                                " type="text">
                                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getReferrallist()"><i class="fas fa-times-circle"></i></a>
                                                <button (click)="getReferrallist();addSearchLog('Filter' + filterName +  ' : ' + filterText);" class="btnsearch" type="submit"><i
                                                        class="flaticon-search-1"></i></button>
                                            </div>
                                            <div class="kt-advfilterbox">
                                                <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                    <i class="las la-filter"></i>
                                                </a>
                                            </div>
                                            <div class="kt-advfilterbox">
                                                <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                    <i class="las la-sliders-h"></i>
                                                </button>
                                            </div>
                                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox maxwidth500">
                                                <h3>Additional Filters </h3>
                                                <div class="advfilterform">
                                                    <ul>
                                                        <li>

                                                            <select class="form-control" [(ngModel)]="stateid" name="stateid" (keydown.enter)="getReferrallist();addSearchLog('Advanced Filter');">
                                                                <option value="">{{l("SelectAState")}}</option>
                                                                <option *ngFor="let item of allStates"
                                                                    value="{{item.displayName}}">
                                                                    {{item.displayName}}</option>
                                                            </select>

                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="salesRepId" (keydown.enter)="getReferrallist();addSearchLog('Advanced Filter');" name="salesRepId">
                                                                    <option value="0">{{l("SelectSalesRep")}}</option>
                                                                    <option *ngFor="let item of filteredReps"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateFilterType" (keydown.enter)="getReferrallist();addSearchLog('Advanced Filter');" name="dateFilterType">
                                                                    <option value="All">{{l("All")}}</option>
                                                                    <option value="InstalledcompleteDate">
                                                                        {{l("InstalledcompleteDate")}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <input name="SampleDateRangePicker" type="text" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }" [(date)]="sampleDateRange" />
                                                        </li>
                                                        <li class="text-right fullwidth">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">
                                                                Clear</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getReferrallist();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                Search</button>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                    </div>
                </div>
            </div>

            <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
                <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                    <ul>
                        <li><span>{{total}}</span><label>{{l("Total")}}</label></li>
                        <li><span>{{sendtotal}}</span><label>{{l("send")}}</label></li>
                        <li><span>{{pendingtotal}}</span><label>{{l("Pending")}}</label></li>
                    </ul>
                </div>

            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body padzero tablewithtooltip">
                        <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.Tracker.Warranty.EnableCopyPaste' | permission)}">
                            <!--<Primeng-Datatable-Start>-->
                            <div class="primeng-datatable-container myleadtable horizantal_scrrol col-12 scroll scroll-pull " data-scroll="true" [ngClass]="{'leadcompanynamebar scrollone scroll1': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                                <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                    <a class="icon_expan" (click)="expandGrid()"></a>                                    
                                </button>
                                <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getReferrallist($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                    scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                    <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getReferrallist($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                    ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="actionwidth text-center p-frozen-column">
                                                {{l('Actions')}}</th>
                                            <th style="width:110px; left:95px !important;" pSortableColumn="JobNumber" class="p-frozen-column">
                                                {{l('ProjectName')}}
                                                <p-sortIcon field="projectName"></p-sortIcon>
                                            </th>
                                            <th style="width:150px" pSortableColumn="LeadFk.CompanyName" [hidden]="!ExpandedView">
                                                {{l('Name')}}
                                                <p-sortIcon field="lead.companyName"></p-sortIcon>
                                            </th>
                                            <th style="width:150px;" pSortableColumn="LeadFk.Mobile"  [hidden]="!ExpandedView" *ngIf="'Pages.Tracker.Warranty.ShowEmailPhone' | permission">
                                                {{l('Mobile')}}
                                                <p-sortIcon field="lead.Mobile"></p-sortIcon>
                                            </th>

                                            <th style="width:250px" pSortableColumn="LeadFk.Email" [hidden]="!ExpandedView" *ngIf="'Pages.Tracker.Warranty.ShowEmailPhone' | permission">
                                                {{l('Email')}}
                                                <p-sortIcon field="lead.Email"></p-sortIcon>

                                            </th>
                                            <th style="width:150px" [hidden]="!ExpandedView">
                                                {{l('Panel Name')}}
                                            </th>
                                            <th style="width:250px" [hidden]="!ExpandedView">
                                                {{l('Panel Model')}}
                                            </th>
                                            <th style="width:150px" [hidden]="!ExpandedView">
                                                {{l('Panel Docu')}}
                                            </th>
                                            <th style="width:150px" [hidden]="!ExpandedView">
                                                {{l('Inverter Name')}}
                                            </th>
                                            <th style="width:250px" [hidden]="!ExpandedView">
                                                {{l('Inverter Model')}}
                                            </th>
                                            <th style="width:150px" [hidden]="!ExpandedView">
                                                {{l('Inverter Doc')}}
                                            </th>
                                            <th style="width:150px; text-align:center;" [hidden]="!ExpandedView">
                                                {{l('Balance Owing')}}
                                            </th>
                                            <th style="width:150px" [hidden]="!ExpandedView">
                                                {{l('Sales Rep')}}
                                            </th>
                                            <th style="width:150px" pSortableColumn="WarrantySmsSend" [hidden]="!ExpandedView">
                                                {{l('SMS')}}
                                                <p-sortIcon field="WarrantySmsSend"></p-sortIcon>
                                            </th>
                                            <th style="width:150px" pSortableColumn="WarrantyEmailSend" [hidden]="!ExpandedView">
                                                {{l('EMAIL')}}
                                                <p-sortIcon field="WarrantyEmailSend"></p-sortIcon>

                                            </th>
                                            <th style="width:150px" [hidden]="!ExpandedView">
                                                {{l('Comment')}}
                                            </th>
                                            <th style="width:150px" [hidden]="!ExpandedView">
                                                {{l('ReminderDate')}}
                                            </th>
                                            <th style="width:150px" [hidden]="!ExpandedView">
                                                {{l('Description')}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.leadid}">
                                            <td class="actionwidth text-center p-frozen-column" style="width:95px;">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li [hidden]="!isGrantedAny('Pages.Tracker.Warranty.QuickView')">
                                                            <a href="javascript:;" (click)="viewApplicationModal.show(record.id,26,'Warranty Tracker')">
                                                                <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.Tracker.Warranty.DocUpload')">
                                                            <a href="javascript:;" (click)="addwarrantyattachmentModal.show(record.leadid,1,'Warranty Tracker')">
                                                                <i class="las la-file-upload"></i> {{l('UploadDocuments')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.Tracker.Warranty.Notify')">
                                                            <a (click)="notifyModel.show(record.leadid,18,0,'Warranty Tracker')">
                                                                <!-- <a (click)="addActivityModal.show(record.leadid,9,0,18)"> -->
                                                                <i class="las la-bell"></i> {{l('Notify')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.Tracker.Warranty.Sms')">
                                                            <a (click)="smsModel.show(record.leadid,18,0,'Warranty Tracker')">
                                                                <!-- <a (click)="invoiceIssuedpaymentSmsEmailModel.show(record.leadid,record.id,26)"> -->
                                                                <i class="las la-sms"></i> {{l('SMS')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.Tracker.Warranty.Email')">
                                                            <a (click)="addwarrantySmsEmailModal.show(record.leadid,2,1)">
                                                                <!-- <a (click)="addwarrantySmsEmailModal.show(record.leadid,2,1)"> -->
                                                                <i class="las la-envelope"></i> {{l('Email')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.Tracker.Warranty.ToDo')">
                                                            <a (click)="ReminderModal.show(record.leadid,16,0,'Warranty Tracker')">
                                                                <!-- <a (click)="addActivityModal.show(record.leadid,8,0,16)"> -->
                                                                <i class="las la-history"></i> Reminder
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.Tracker.Warranty.ToDo')">
                                                            <a (click)="commentModel.show(record.leadid,18,0,'Warranty Tracker')">
                                                                <!-- <a (click)="addActivityModal.show(record.leadid,24,0,18)"> -->
                                                                <i class="las la-comment"></i> {{l('Comment')}}
                                                            </a>
                                                        </li>
                                                        <li [hidden]="!isGrantedAny('Pages.Tracker.Warranty.ToDo')">
                                                            <a (click)="todoModal.show(record.leadid,18,0,'Warranty Tracker')">
                                                                <!-- <a (click)="addActivityModal.show(record.leadid,25,0,18)"> -->
                                                                <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="no_warp p-frozen-column" style="width:110px; left:95px !important;" (click)="navigateToLeadDetail(record.leadid);">
                                                <span>
                                                    <!-- <span class="ui-column-title">{{l('ProjectName')}}</span> -->
                                                <span>{{record.projectName}}</span></span>

                                            </td>
                                            <td class="no_warp" style="width:150px" [hidden]="!ExpandedView">
                                                <span class="set_warp_toltrip">
                                                    <span [tooltip]="record.customer">
                                                        <!-- <span class="ui-column-title"> {{l('CompanyName')}}</span> --> {{record.customer}}
                                                </span>
                                                </span>
                                            </td>
                                            <td style="width:150px" *ngIf="'Pages.Tracker.Warranty.ShowEmailPhone' | permission">
                                                <!-- <span class="ui-column-title" [hidden]="!ExpandedView">{{l('jobstatus')}}</span> -->
                                                <span class="badge badge-pill badge-secondary amount">{{record.mobile}}</span>
                                            </td>
                                            <td class="lower_text" style="width:250px" [hidden]="!ExpandedView" *ngIf="'Pages.Tracker.Warranty.ShowEmailPhone' | permission">
                                                <!-- <span class="ui-column-title"> {{l('InstallComplate')}}</span> -->
                                                {{record.email}}
                                            </td>
                                            <td class="no_warp" style="width:150px" [hidden]="!ExpandedView">
                                                <span class="set_warp_toltrip">
                                                    <span [tooltip]="record.panelName">
                                                        <!-- <span class="ui-column-title">{{l('totalCost')}}</span> --> {{record.panelName}}
                                                </span>
                                                </span>
                                            </td>
                                            <td style="width:250px">
                                                <span class="ui-column-title" [hidden]="!ExpandedView">{{l('owningAmt')}}</span> {{record.panelModel}}
                                            </td>
                                            <td class="no_warp" style="width:150px" [hidden]="!ExpandedView" (click)="downloadaprovefile(record.panelDocu,record.panelDocuPath)">
                                                <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.panelDocu">{{record.panelDocu}}</span></span>
                                            </td>
                                            <td class="no_warp" style="width:150px" [hidden]="!ExpandedView">
                                                <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.inverterNname">{{record.inverterNname}}</span></span>
                                            </td>
                                            <td style="width:250px" [hidden]="!ExpandedView">
                                                {{record.inverterModel}}
                                            </td>
                                            <td style="width:150px" [hidden]="!ExpandedView" (click)="downloadaprovefile(record.inverterDoc,record.inverterDocPath)">
                                                {{record.inverterDoc}}
                                            </td>
                                            <td style="width:150px" [hidden]="!ExpandedView">
                                                <span class="badge badge-pill badge-secondary amount d-flex align-items-center justify-content-center" style="width:105px; margin:0 auto;">
                                                    <i class="las la-coins fs-22 mr-1"></i>{{record.balanceOwing}}
                                                </span>
                                            </td>
                                            <td style="width:150px" [hidden]="!ExpandedView">
                                                {{record.salesRep}}
                                            </td>
                                            <td style="width:150px" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title" ngif> {{l('SmsSend')}}</span> -->
                                                <Span *ngIf="record.warrantySmsSend == 1" [tooltip]="record.warrantySmsSendDate| momentFormat:'DD-MM-YYYY
                                            HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success"> {{l("Yes")}}
                                            </Span>
                                                <Span *ngIf="record.warrantySmsSend != 1" [tooltip]="record.warrantySmsSendDate | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}} </Span>
                                            </td>
                                            <td style="width:150px" [hidden]="!ExpandedView">
                                                <!-- <span class="ui-column-title" ngif> {{l('EmailSend')}}</span> -->
                                                <Span *ngIf="record.warrantyEmailSend == 1" [tooltip]="record.warrantyEmailSendDate | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success"> {{l("Yes")}}
                                            </Span>
                                                <Span *ngIf="record.warrantyEmailSend != 1" [tooltip]="record.warrantyEmailSendDate | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}} </Span>
                                            </td>
                                            <td class="no_warp" style="width:150px" [hidden]="!ExpandedView">
                                                <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.activityComment">{{record.activityComment}}</span></span>
                                            </td>
                                            <td style="width:150px" [hidden]="!ExpandedView">
                                                {{record.activityReminderTime}}
                                            </td>
                                            <td class="no_warp" style="width:150px" [hidden]="!ExpandedView">
                                                <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.activityDescription">{{record.activityDescription}}</span></span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getReferrallist($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                            </div>
                            <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                                <!-- <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail> -->
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <!-- <createnewinstallerinvoice #createnewinstallerinvoice (modalSave)="getReferrallist()"></createnewinstallerinvoice>    
        
        <editinstallerinvoice #editinstallerinvoice (modalSave)="getReferrallist()"></editinstallerinvoice> -->
    <viewApplicationModal #viewApplicationModal (modalSave)="getReferrallist()"></viewApplicationModal>
    <!-- <verifyInvoiceModal #verifyInvoiceModal (modalSave)="reloadPage()"></verifyInvoiceModal> -->
    <!-- <addActivityModal #addActivityModal (modalSave)="getReferrallist()"></addActivityModal> -->
    <!-- <invoiceIssuedpaymentSmsEmailModel #invoiceIssuedpaymentSmsEmailModel (modalSave)="getReferrallist()">
    </invoiceIssuedpaymentSmsEmailModel> -->
    <addwarrantySmsEmailModal #addwarrantySmsEmailModal (modalSave)="getReferrallist()"></addwarrantySmsEmailModal>
    <addwarrantyattachmentModal #addwarrantyattachmentModal (modalSave)="getReferrallist()">
    </addwarrantyattachmentModal>
    <editupdatereferral #editupdatereferral (modalSave)="getReferrallist()"></editupdatereferral>
    <smsModel #smsModel></smsModel>
    <!-- <emailModel #emailModel></emailModel> -->
    <notifyModel #notifyModel></notifyModel>
    <commentModel #commentModel (modalSave)="getReferrallist()"></commentModel>
    <todoModal #todoModal></todoModal>
    <ReminderModal #ReminderModal (modalSave)="getReferrallist()"></ReminderModal>
</div>