<div appBsModal #CreateStockOrderForModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Create / Edit Stock Order For")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-bg-gray">

                <div class="modal-white-box">
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    <div class="form-group">
                                        <label for="">{{l("Stock Order For")}} *</label>
                                        <input type="text" id="" class="form-control" name="Name" required/>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="m-checkbox-list">
                                        <label for="" class="kt-checkbox">
                                            <input id="" type="checkbox" name="Active" required> 
                                            {{l("Active")}} *
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
            </div>
        </div>
    </div>
</div>