<div bsModal #LeadSMSModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg addjobactiveSmsEmailModal financeSmsEmailModal">
        <div class="modal-content">
            <form #addActivityForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        
                        <span>{{l("Email")}}
                        </span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray p-0">
                  

                    <div class="modal-white-box" style="width:96%; margin:0 auto 15px;" >
                        <div class="emailboxlayout">
                            <div class="activitysms smsemailbox brdrbottom1" >
                                <span class="labelttl"> EmailFrom </span> <span class="lowercase">
                                    <select class="form-control " name="emailfrom" style="width:377px;"
                                        [(ngModel)]="activityLog.emailFrom">
                                        <option *ngFor="let item of fromemails" value="{{item.displayName}}">
                                            {{item.displayName}}
                                        </option>
                                    </select></span>
                            </div>
                            <div class="activitysms smsemailbox brdrbottom1" >
                                <span class="labelttl"> Email </span>
                                <span class="lowercase ccandbbcc">
                                    <span class="badge badge-light d-flex align-items-center activity-tags"><i class="las la-at"></i> {{ vendor.email}}</span>
                                <span class="ccbcc_box"><a
                                            (click)="opencc();">Cc</a>&nbsp;&nbsp;<a
                                            (click)="openbcc();">Bcc</a></span></span>
                            </div>
                            <div *ngIf="ccbox">
                                <div class="activitysms smsemailbox brdrbottom1 ccEmaillowercase" >
                                    <span class="labelttl">CC </span>
                                    <input type="text" name="cc" [(ngModel)]="activityLog.cc" placeholder="write CC" class="form-control ccbox paddnone"><a (click)="opencc();" class="fnt26">&times;</a>
                                </div>
                            </div>
                            <div *ngIf="bccbox">
                                <div class="activitysms smsemailbox brdrbottom1 ccEmaillowercase" >
                                    <span class="labelttl">BCC </span>
                                    <input type="text" name="cc" [(ngModel)]="activityLog.bcc" placeholder="write BCC" class="form-control brd_none"><a (click)="openbcc();" class="fnt26">&times;</a>
                                </div>
                            </div>
                        </div>
                        <div class="emailboxlayout" >
                            <div class="activitysms smsemailbox brdrbottom1 templatebox">
                                <span class="labelttl">Template</span>
                                <select class="form-control" name="EmailTemplate" [(ngModel)]="activityLog.emailTemplateId" (change)="editorLoaded()">
                                    <option value="0">New Template</option>
                                    <option *ngFor="let item of allEmailTemplates" value="{{item.id}}">
                                        {{item.displayName}}</option>
                                </select>
                                <select *ngIf="activityLog.emailTemplateId == 0" (change)="onTagChange($event)" class="form-control mr-0" name="EmailTemplate" [(ngModel)]="activityLog.customeTagsId">
                                    <option value="0">CustomeTags</option>
                                    <option value="1">Custome Name</option>
                                    <option value="2">Custome Mobile</option>
                                    <option value="3">Custome Phone</option>
                                    <option value="4">Custome Email</option>
                                    <option value="5">Custome Address</option>
                                    <option value="6">SalesRep Name</option>
                                    <option value="7">SalesRep Mobile</option>
                                    <option value="8">SalesRep Email</option>
                                    <option value="9">Project No</option>
                                    <option value="10">System Capacity</option>
                                    <option value="11">All product Item</option>
                                    <option value="12">Total Quote price</option>
                                    <option value="13">Installation Date</option>
                                    <option value="14">Installer Name</option>
                                    <option value="15">Transport Company</option>
                                    <option value="16">Transport Link</option>
                                    <option value="17">Dispatched Date</option>
                                    <option value="18">Tracking No</option>
                                    <option value="19">Promo type</option>
                                    <option value="20">User Name</option>
                                    <option value="21">User Mobile</option>
                                    <option value="22">User Email</option>
                                    <option value="23">Owing</option>
                                    <option value="24">Organization Name</option>
                                    <option value="25">Organization Email</option>
                                    <option value="26">Organization Mobile</option>
                                    <option value="27">Organization Logo</option>
                                    <option value="28">Review Link</option>
                                    <option value="29">Payment Option</option>
                                    <option value="30">FinPayment Type</option>
                                    <option value="31">Deposit Option</option>
                                    <option value="32">Finance Purchase No</option>
                                    <option value="33">Finance Amount</option>
                                    <option value="34">Finance Deposite Amount</option>
                                    <option value="35">Finance Net Amount</option>
                                    <option value="36">Payment Term</option>
                                    <option value="37">Repayment Amount</option>
                                    <option value="38">Invoice Amount</option>
                                    <option value="39">Approved Amount</option>
                                </select>

                            </div>
                            <div class="activitysms smsemailbox brdrbottom1 templatebox">
                                <span class="labelttl">Subject</span>
                                <span class="text_capital subject">
                                    <input type="text" name="subject" [(ngModel)]="activityLog.subject"
                                        placeholder="write subject" style="width:790px !important; padding-left:10px !important;" class="form-control pl-1 brd_none mr-0">
                                </span>
                            </div>
                        </div>


                        <div class="row" >
                            <div class="col-md-12">
                                <div class="col-md-12" *ngIf="activityLog.emailTemplateId != 0 ">
                                    <div style="margin-top:10px; height:45vh; overflow-y: auto;" [innerHtml]="templateBody"></div>
                                </div>
                                <div class="form-group" *ngIf="activityLog.emailTemplateId == 0">
                                    <p-editor [(ngModel)]="activityLog.body" aria-placeholder="EmailBody" name="activityLog.body" [style]="{'height':'200px'}" [(ngModel)]="activityLog.body"></p-editor>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{("Cancel")}}</button>
                    <button  (click)="saveDesign()" id="btnSubmit" type="submit" class="btn btn-primary blue"  [disabled]="!addActivityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>Send</span></button>
                    
                    
                </div>
            </form>
        </div>

    </div>

    <!-- <viewLeadDetail #viewLeadDetail></viewLeadDetail> -->
</div>