<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("AddNotes")}} - {{leadCompanyName}} - {{item.service.jobNumber}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="caseNo">Case No</label>
                                <input type="text" class="form-control" [(ngModel)]="caseNo" name="caseNo"/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="caseStatus">Case Status</label>
                                <select name="caseStatus" [(ngModel)]="caseStatus" class="form-control" (change)="onStatusChange($event)">
                                    <option value="" selected>Select Case Status</option>
                                    <option value="Panding">Panding</option>
                                    <option value="Approved">Approved</option>
                                </select>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="caseNotes">Case Notes</label>
                                <textarea type="text" class="form-control" [(ngModel)]="caseNotes" name="caseNotes"></textarea>
                            </div>
                            
                            <div class="form-group col-md-6"  *ngIf="caseStatus == 'Approved'">
                                <label for="trackingNo">Tracking No</label>
                                <input type="text" class="form-control" [(ngModel)]="trackingNo" name="trackingNo"/>
                            </div>
                            <div class="form-group col-md-6" *ngIf="caseStatus == 'Approved'">
                                <label for="stockArrivalDate">Stock Arrival Date</label>
                                <input type="text" bsDatepicker datePickerMomentModifier placeholder="Stock Arrival Date" name="SampleDatePicker" [(date)]="stockArrivalDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                <!-- <a class="btnclearsearch btndateClear" *ngIf="pickupdate" (click)="pickupdate=null"><i class="fas fa-times-circle"></i></a> -->
                            </div>
                            <div class="form-group col-md-12" *ngIf="caseStatus == 'Approved'">
                                <label for="trackingNotes">Tracking Notes</label>
                                <textarea type="text" class="form-control" [(ngModel)]="trackingNotes" name="trackingNotes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>