<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Add Invoice</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="form-group col-md-6" *ngIf="status == 'invoice'">
                                <label for="serviceinvo.invoiceNo">Invoice No</label>
                                <input type="text" class="form-control" [(ngModel)]="serviceinvo.invoiceNo" name="invoiceNo"/>
                            </div>
                            <div class="form-group col-md-6" *ngIf="status == 'invoice'">
                                <label for="serviceinvo.invoiceDate">Invoice Date</label>
                                <input type="text" bsDatepicker datePickerMomentModifier placeholder="Invoice Date" name="SampleDatePicker" [(date)]="serviceinvo.invoiceDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                <!-- <a class="btnclearsearch btndateClear" *ngIf="pickupdate" (click)="pickupdate=null"><i class="fas fa-times-circle"></i></a> -->
                            </div>
                            <div class="form-group col-md-6" *ngIf="status == 'invoice'">
                                <label for="serviceinvo.amount">Amount</label>
                                <input type="number" class="form-control" [(ngModel)]="serviceinvo.amount" name="amount"/>
                            </div>
                            
                            <div class="form-group col-md-6"  *ngIf="status == 'payment'">
                                <label for="serviceinvo.paidDate">PickUp Date</label>
                                <input type="text" bsDatepicker datePickerMomentModifier placeholder="Invoice Paid Date" name="SampleDatePicker" [(date)]="serviceinvo.paidDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                            </div>
                            <div class="form-group col-md-6" *ngIf="status == 'payment'">
                                <label for="serviceinvo.paidReferenceNo">Paid Reference No</label>
                                <input type="text" class="form-control" [(ngModel)]="serviceinvo.paidReferenceNo" name="caseNo"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>