<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("AddNotes")}} - {{leadCompanyName}} - {{this.item.service.jobNumber}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="pickBy">Pickby</label>
                                <select name="caseStatus" [(ngModel)]="pickBy" class="form-control" >
                                    <option value="">Select Pick by</option>
                                    <option value="Warehouse">Warehouse</option>
                                    <option value="Manufacture">Manufacture</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="pickupdate">PickUp Date</label>
                                <input type="text" bsDatepicker datePickerMomentModifier placeholder="PickUp Date" name="SampleDatePicker" [(date)]="pickupdate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                <!-- <a class="btnclearsearch btndateClear" *ngIf="pickupdate" (click)="pickupdate=null"><i class="fas fa-times-circle"></i></a> -->
                            </div>
                            
                            <div class="form-group col-md-6"  >
                                <label for="pickupMethod">Pickup Method</label>
                                <input type="text" class="form-control" [(ngModel)]="pickupMethod" name="pickupMethod"/>
                            </div>
                            <div class="form-group col-md-12">
                                <label for="pickupNotes">Pickup Notes</label>
                                <textarea type="text" class="form-control" [(ngModel)]="pickupNotes" name="pickupNotes"></textarea>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>