<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg financeSmsEmailModal">
        <div class="modal-content">
            <form #addActivityForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <!-- <span *ngIf="activityType == 1">{{l("Sms")}} - {{leadCompanyName}} - {{this.item.jobNumber}}
                        </span> -->
                        <span *ngIf="activityType == 2">{{l("Email")}} - {{header}}
                        </span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body padtopzero">
                    <div class="row emailboxlayout">
                        <div class="col-md-12 ">
                            <div class="m-form__group">
                                <!-- <div class="activitysms smsemailbox brdrbottom1" *ngIf="activityName == 'SMS To '">
                                    <span class="labelttl">{{activityName}}</span> <span>{{ item.lead.mobile
                                        }}</span>
                                </div> -->
                                <div class="activitysms smsemailbox brdrbottom1" *ngIf="activityName == 'Email To '">
                                    <span class="labelttl"> Email From </span> <span class="lowercase">
                                        <select class="form-control brd_none" name="emailfrom"
                                            [(ngModel)]="activityLog.emailFrom">
                                            <option *ngFor="let item of fromemails" value="{{item.displayName}}">{{item.displayName}}
                                            </option>
                                        </select></span>
                                </div>
                                <div class="activitysms smsemailbox brdrbottom1" *ngIf="activityName == 'Email To '">
                                    <span class="labelttl"> {{activityName}} </span> <span class="lowercase ccandbbcc">{{
                                        lead.email }}<span class="ccbcc_box"><a (click)="opencc();">Cc</a>&nbsp;&nbsp;<a (click)="openbcc();">Bcc</a></span></span>
                                </div>
                                <div *ngIf="ccbox">
                                    <div class="activitysms smsemailbox brdrbottom1 ccemail lowercase" *ngIf="activityName == 'Email To '">
                                        <span class="labelttl">CC </span>
                                        <input type="text" name="cc" [(ngModel)]="activityLog.cc" placeholder="write CC" class="form-control ccbox paddnone"><a (click)="opencc();" class="fnt26">&times;</a>
                                    </div>
                                </div>
                                <div *ngIf="bccbox">
                                    <div class="activitysms smsemailbox brdrbottom1 ccemail lowercase" *ngIf="activityName == 'Email To '">
                                        <span class="labelttl">BCC </span>
                                        <input type="text" name="cc" [(ngModel)]="activityLog.bcc" placeholder="write BCC" class="form-control brd_none"><a (click)="openbcc();" class="fnt26">&times;</a>
                                    </div>
                                </div>

                                <div class="activitysms smsemailbox brdrbottom1 ccemail lowercase" *ngIf="activityName == 'Email To '">
                                    <span class="labelttl">Subject </span>
                                    <input type="text" name="subject" [(ngModel)]="activityLog.subject" placeholder="Subject" class="form-control brd_none">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row emailboxlayout" *ngIf="activityName == 'Email To '">
                        <div class="col-md-12">
                            <div class="form-group activitysms smsemailbox subjectbox templatebox">
                                <span class="labelttl">Template</span>
                                <select class="form-control brd_none" name="EmailTemplate" [(ngModel)]="activityLog.emailTemplateId" (change)="editorLoaded()">
                                    <option value="0">New Template</option>
                                    <option *ngFor="let item of allEmailTemplates" value="{{item.id}}">
                                        {{item.displayName}}</option>
                                </select>
                                <select *ngIf="activityLog.emailTemplateId == 0" (change)="onTagChange($event)" class="form-control" name="EmailTemplate" [(ngModel)]="activityLog.customeTagsId">
                                    <option value="0">CustomeTags</option>
                                    <option value="1">Custome Name</option>
                                    <option value="2">Custome Mobile</option>
                                    <option value="3">Custome Phone</option>
                                    <option value="4">Custome Email</option>
                                    <option value="5">Custome Address</option>
                                    <option value="6">SalesRep Name</option>
                                    <option value="7">SalesRep Mobile</option>
                                    <option value="8">SalesRep Email</option>
                                    <option value="9">Project No</option>
                                    <option value="10">System Capacity</option>
                                    <option value="11">All product Item</option>
                                    <option value="12">Total Quote price</option>
                                    <option value="13">Installation Date</option>
                                    <option value="14">Installer Name</option>
                                    <option value="15">Transport Company</option>
                                    <option value="16">Transport Link</option>
                                    <option value="17">Dispatched Date</option>
                                    <option value="18">Tracking No</option>
                                    <option value="19">Promo type</option>
                                    <option value="20">User Name</option>
                                    <option value="21">User Mobile</option>
                                    <option value="22">User Email</option>
                                    <option value="23">Owing</option>
                                    <option value="24">Organization Name</option>
                                    <option value="25">Organization Email</option>
                                    <option value="26">Organization Mobile</option>
                                    <option value="27">Organization Logo</option>
                                    <option value="28">Review Link</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row emailboxlayout" *ngIf="activityName == 'SMS To '">
                        <div>
                            <div class="col-md-12">
                                <div class="form-group activitysms smsemailbox">
                                    <span class="labelttl">Template</span>
                                    <select class="form-control brd_none" name="EmailTemplate" [(ngModel)]="activityLog.smsTemplateId" (change)="smseditorLoaded()">
                                        <option value="0">New Template</option>
                                        <option *ngFor="let item of allSMSTemplates" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="activityName == 'SMS To '">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" (keyup)="countCharcters()" cols="20" rows="5" placeholder="SMS Body" [(ngModel)]="activityLog.body" id="SMSBody" name="SMSBody"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="activityName == 'Email To '">
                        <div class="col-md-12">
                            <div class="form-group" *ngIf="activityLog.emailTemplateId == 0">
                                <p-editor [(ngModel)]="activityLog.body" aria-placeholder="Email Body" name="HtmlEditorInput" [style]="{'height':'200px'}"></p-editor>
                            </div>
                            <div class="container-fluid maxwidth80 emailtemplatebox" *ngIf="activityLog.emailTemplateId != 0">
                                <email-editor [(ngModel)]="activityLog.body" aria-placeholder="Email Body" name="HtmlEditorInput"></email-editor>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="activityName == 'Email To '">
                        <div class="attachment-list d-flex align-items-center justify-content-between mb-1" *ngIf="filename != null">
                            <div class="d-flex align-items-center">
                                <span class="mr-3 w-100px">PaymentReceipt</span>
                                <span class="mr-3">|</span>
                                <span>{{this.filename}}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <a (click)="downloadaprovefile(this.filename,this.reportPath)" class="btndownloaddocument mr-3 fs-22">
                                    <i class="las la-file-download"></i>
                                </a>
                                <a (click)="deletefiledata(1)" class="text-danger fs-22">
                                    <i class="las la-trash"></i>
                                </a>
                            </div>
                        </div>
                        <div class="attachment-list d-flex align-items-center justify-content-between mb-1" *ngFor="let it of this.lead.filelist">
                            <div class="d-flex align-items-center">
                                <span class="mr-3 w-100px">Other</span>
                                <span class="mr-3">|</span>
                                <span>{{it.fileName}}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <a (click)="downloadaprovefile(it.fileName,it.filePath)" class="btndownloaddocument mr-3 fs-22">
                                    <i class="las la-file-download"></i>>
                                </a>
                                <a (click)="deleteattachfiledata(it.id)" class="text-danger fs-22">
                                    <i class="las la-trash"></i>
                                </a>
                            </div>
                        </div>

                    </div>


                    <div *ngIf="activityName == 'SMS To '">
                        <span><b>Total: </b></span> {{total}}
                        <span><b>Credit: </b></span> {{credit}}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex align-items-center">
                        <button (click)="saveDesign()" type="submit" class="btn btn-primary blue mr-3" *ngIf="activityName == 'Email To '" [disabled]="!addActivityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                            <i class="fas fa-paper-plane" style="font-size:14px !important;"></i> <span>Send</span>
                        </button>
                        <span class="btn btn-primary btn-file" *ngIf="activityName == 'Email To '">
                            <i class="las la-paperclip pr-0 fs-22"></i><input type="file" #myInput (change)="fileChangeEvent($event)" accept=".pdf" class="fileuploadboxbtn" />
                        </span>
                    </div>

                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">
                        <i class="las la-times-circle"></i> {{("Cancel")}}
                    </button>

                    <button (click)="save()" id="btnSubmit" type="submit" class="btn btn-primary blue" *ngIf="activityName == 'SMS To '" [disabled]="!addActivityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fas fa-paper-plane" style="font-size:14px !important;"></i> <span>Send</span></button>

                </div>
            </form>
        </div>
    </div>
    <!-- <viewLeadDetail #viewLeadDetail></viewLeadDetail> -->
</div>