﻿<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div>
        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
            <div class="kt-subheader kt-grid__item">
                <div [class]="containerClass">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>{{l("DuplicateLead")}}</span>
                            <span>&nbsp;({{primengTableHelper.totalRecordsCount}})</span>
                        </h3>
                        <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                    </div>
                    <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                        <div class="kt-subheader__wrapper ">
                            <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                                <ul class="hd_right">
                                    <li>
                                        <button type="button" class="btn_refresh" (click)="getLeads();RereshLog();"></button>
                                    </li>
                                    <li>
                                        <div class="btn-group btnexceldropdown h35 leadbtnexcel" dropdown>
                                            <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Export
                                                <img src="../../../assets/common/images/icon_downarrow.svg" />
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                                <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.Leads.Export' | permission">
                                                    <i class="las la-file-excel"></i> {{'Export' | localize}}
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" (click)="exportToExcel(2)" href="javascript:;" *ngIf="'Pages.Leads.Export' | permission">
                                                    <i class="las la-file-csv"></i> {{l("ExportCSV")}}
                                                </a>
                                                <!-- <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="javascript:;">
                                                    {{l("PDF")}}
                                                </a> -->
                                            </div>
                                        </div>
                                    </li>
                                    <li *ngIf="organizationUnitlength > 1">
                                        <div class="kt-sdropdown">
                                            <div class="form-group selectdropdown m-form__group">
                                                <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();addSearchLog('Filter Organization')">
                                                    <option *ngFor="let item of allOrganizationUnits"
                                                        value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group selectdropdown wdth140 m-form__group jobmultipleselect">
                                            <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadSource" [(ngModel)]="leadSourceIdFilter" name="jobStatusID">
                                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group  selectdropdown m-form__group">
                                                <select name="process" class="form-control" [(ngModel)]="process" (change)="getLeads();addSearchLog('Filter Process')">
                                                    <option value="All">All</option>
                                                    <option value="Duplicate">Duplicate</option>
                                                    <option value="WebDuplicate">WebDuplicate</option>
                                                    <option value="FakeLead">FakeLead</option>
                                                    <option value="Assigned">Assigned</option>
                                                    <option value="UnAssigned">UnAssigned</option>
                                                    <option value="Deleted">Deleted</option>
                                                    <option value="Process">Process</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group  selectdropdown m-form__group">
                                                <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                    <option value="JobNumber">Job Number</option>
                                                    <option value="MobileNo">Mobile No</option>
                                                    <option value="CompanyName">Company Name</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-searchmainbox searchclearbox">
                                            <!-- <div class="kt-stextbox leardsearchfilter dateandsearch_icon"> -->
                                                <div class="kt-stextbox">
                                                    <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                                    <input type="text" class="form-control" placeholder="{{filterName}}" [ngClass]="{pl50: filterName == 'JobNumber' }" [(ngModel)]="filterText" (keydown.enter)="getLeads();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                                    <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getLeads();"><i class="fas fa-times-circle"></i></a>
                                                    <input type="button" class="btnsearch" (click)="getLeads();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                                </div>
                                                <!-- <input name="SampleDateRangePicker" type="text" class="form-control daterangebox autoWidth" (keydown.enter)="getLeads();addSearchLog('Filter DateRange : ' + sampleDateRange)" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [(date)]="sampleDateRange" [bsConfig]="{ customTodayClass: 'today' }"
                                                />
                                                <button (click)="getLeads();addSearchLog('DateRange : ' + sampleDateRange)" class="btnsearch" type="submit"><i
                                                        class="flaticon-search-1"></i></button> -->
                                            <!-- </div> -->
                                            <div class="kt-advfilterbox">
                                                <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                            </div>
                                            <div class="kt-advfilterbox">
                                                <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                    <i class="las la-sliders-h"></i>
                                                </button>
                                            </div>
                                            <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox maxwidth500">
                                                <h3>{{l("AdditionalFilters")}}</h3>
                                                <div class="advfilterform">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="postCodeSuburbFilter" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" id="postCodeSuburbFilter" [suggestions]="suburbSuggestions" (completeMethod)="filtersuburbs($event)" placeholder='{{l("Suburb")}}' [minlength]="2" #suburbInput="ngModel"
                                                                    name="postCodeSuburbFilter" inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="stateNameFilter" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" name="stateNameFilter">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" id="postCodePostalCode2Filter" name="postCodePostalCode2Filter" [(ngModel)]="postCodePostalCode2Filter" placeholder='{{l("PostCode")}}'>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="duplicateFilter" (keydown.enter)="getLeads();addSearchLog('Advanced Filter');" name="duplicateFilter">
                                                                    <option value="">{{l("SelectDuplicateType")}}e
                                                                    </option>
                                                                    <option value="web">{{l("WebDuplicate")}}</option>
                                                                    <option value="db">{{l("DatabaseDuplicate")}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier name="distapplied" [(date)]="StartDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier name="distapplied" [(date)]="EndDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="text-right fullwidth">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">
                                                                <i class="fa fa-times-circle"></i> {{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getLeads();addSearchLog('Advanced Filter')">
                                                                <i class="fa fa-search"></i>
                                                                {{l("Search")}}</button>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                    </div>
                </div>
            </div>

            <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
                <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                    <ul>
                        <li>
                            <span><span>{{this.Total}}</span>
                            <label> {{l("Total")}} </label>
                            </span>
                        </li>
                        <li>
                            <span><span>{{this.Online}}</span>
                            <label> {{l("Google")}} </label>
                            </span>
                        </li>
                        <li>
                            <span><span>{{this.FaceBook}}</span>
                            <label> {{l("FaceBook")}} </label>
                            </span>
                        </li>
                        <li>
                            <span><span>{{this.Others}}</span>
                            <label>{{l("Others")}} </label>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                <div class="kt-portlet kt-portlet--mobile">
                    <div class="kt-portlet__body padzero tablewithoutaction tablewithtooltip">
                        <div class="row align-items-center" [ngClass]="{'unselectable': ('Pages.Lead.Duplicate.EnableCopyPaste' | permission)}">
                            <div class="table-responsive statictable"></div>
                            <!--<Primeng-Datatable-Start>-->
                            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeads($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                    [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                    <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeads($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <!-- <th style="width:120px; text-align: center;">
                                                {{l('DupCount')}}
                                            </th>-->
                                            <th style="width: 200px" >
                                                {{l('Process')}}
                                            </th> 
                                            <th style="width:150px" pSortableColumn="companyName">
                                                {{l('CopanyName')}}
                                                <p-sortIcon field="lead.companyName"></p-sortIcon>
                                            </th>
                                            <th style="width:100px;" pSortableColumn="LeadSource">
                                                {{l('SourceName')}}
                                                <p-sortIcon field="lead.leadSource"></p-sortIcon>
                                            </th>
                                            <th style="width:150px;" pSortableColumn="Organization">
                                                {{l('Organization')}}
                                                <p-sortIcon field="organization"></p-sortIcon>
                                            </th>
                                            <th style="width:150px" pSortableColumn="email" *ngIf="'Pages.Lead.Duplicate.ShowEmailPhone' | permission">
                                                {{l('Email')}}
                                                <p-sortIcon field="lead.email"></p-sortIcon>
                                            </th>
                                            <th style="width: 120px" pSortableColumn="mobile" *ngIf="'Pages.Lead.Duplicate.ShowEmailPhone' | permission">
                                                {{l('Mobile')}}
                                                <p-sortIcon field="lead.mobile"></p-sortIcon>
                                            </th>
                                            <th style="width: 180px" pSortableColumn="address">
                                                {{l('Address')}}
                                                <p-sortIcon field="lead.address"></p-sortIcon>
                                            </th>
                                            <th style="width: 120px" pSortableColumn="Suburb">
                                                {{l('Suburb')}}
                                                <p-sortIcon field="lead.suburb"></p-sortIcon>
                                            </th>
                                            <th style="width: 80px" pSortableColumn="State">
                                                {{l('State')}}
                                                <p-sortIcon field="lead.state"></p-sortIcon>
                                            </th>
                                            <th style="width: 100px" pSortableColumn="PostCode">
                                                {{l('PostCode')}}
                                                <p-sortIcon field="lead.postCode"></p-sortIcon>
                                            </th>
                                            <th style="width: 160px" pSortableColumn="creationTime">
                                                {{l('CreationTime')}}
                                                <p-sortIcon field="lead.creationTime"></p-sortIcon>
                                            </th>

                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr [pSelectableRow]="record" (click)="navigateToLeadDetail(record.lead.id);">
                                            <!-- <td style="width:120px; text-align: center;" (click)="setOpenRecord(record.duplicateLead.id)">
                                                <span class="badge badge-pill badge-warning" style="min-width:40px;"><strong>{{record.webDuplicateCount}}</strong></span>
                                            </td>-->
                                            <td style="width:200px; text-align: center;">
                                                <span *ngIf="record.duplicate && !record.isDeleted" class="tabletdicon">
                                                    <i class="fas fa-globe "></i><!-- duplicate-->
                                                </span>
                                                <span   *ngIf="record.webDuplicate && !record.isDeleted" class="tabletdicon">
                                                    <i class="fas fa-globe  " ></i><!-- webDuplicate-->
                                                </span>
                                                <span  *ngIf="record.isFakeLead && !record.isDeleted" class="tabletdicon">
                                                     <img style="height: 30px;"  src="../../../assets/common/images/fake-lead_2.png" /><!-- FakeLead -->
                                                </span>
                                                <span *ngIf="record.isAssigned && !record.isDeleted" class="tabletdicon">
                                                    <i class="las la-user-check " ></i><!-- Assign -->
                                                </span>
                                                <span *ngIf="!record.isAssigned && !record.isDeleted" class="tabletdicon">
                                                    <i class="las la-ban"></i><!-- unassign-->
                                                </span>
                                                <span *ngIf="record.isDeleted" class="tabletdicon">
                                                    <i class="las la-trash "></i> <!-- Deleted-->
                                                  
                                                </span>
                                                <span *ngIf="!record.isAssigned && !record.duplicate && !record.webDuplicate  && !record.isFakeLead && !record.isDeleted" class="tabletdicon">
                                                    <i class="las la-spinner"></i> <!-- InProcess  -->
                                                </span>
                                                <!-- <span *ngIf="!record.webDuplicate && !record.duplicate" class="tabletdicon">
                                                    <i class="fas fa-toolbox grid-icon"></i>                                                    
                                                </span> -->
                                            </td>

                                            <td style="width:150px;">
                                                {{record.duplicateLead.companyName}}
                                            </td>
                                            <td style="width:100px;">
                                                <span [tooltip]="record.duplicateLead.leadSource" class="tooltipcnt">{{record.duplicateLead.leadSource}}</span>
                                            </td>
                                            <td style="width:130px;">
                                                <span [tooltip]="record.duplicateLead.organizationName" class="tooltipcnt">{{record.duplicateLead.organizationName}}</span>
                                            </td>
                                            <td style="width:150px" class="lower_text" *ngIf="'Pages.Lead.Duplicate.ShowEmailPhone' | permission">
                                                <span [tooltip]="record.duplicateLead.email" class="tooltipcnt">
                                                    {{record.duplicateLead.email}}</span>
                                            </td>
                                            <td style="width:120px;" *ngIf="'Pages.Lead.Duplicate.ShowEmailPhone' | permission">
                                                <span class="badge badge-secondary">{{record.duplicateLead.mobile}}</span>
                                            </td>
                                            <td style="width: 180px">
                                                <span [tooltip]="record.duplicateLead.address" class="tooltipcnt">{{record.duplicateLead.address |
                                                    titlecase}}</span>
                                            </td>
                                            <td style="width:120px;">
                                                <span [tooltip]="record.duplicateLead.suburb" class="tooltipcnt">{{record.duplicateLead.suburb |
                                                    titlecase}}</span>
                                            </td>
                                            <td style="width:80px;">
                                                <span [tooltip]="record.duplicateLead.state" class="tooltipcnt">{{record.duplicateLead.state}}</span>
                                            </td>
                                            <td style="width:100px;">
                                                {{record.duplicateLead.postCode}}
                                            </td>
                                            <td style="width:160px;">
                                                {{record.duplicateLead.creationTime | momentFormat:'DD-MM-YYYY HH:mm:ss' }}
                                            </td>
                                        </tr>
                                        <tr *ngIf="OpenRecordId === record.duplicateLead.id" class="expandrowbox">
                                            <td colspan="12" class="pad2">
                                                <div class="secondary-grid inner-grid" style="margin:10px !important;">
                                                    <table class="expandtable">
                                                        <thead>
                                                            <tr>
                                                                <!-- <th style="width:50px;">

                                                                </th> -->
                                                                <th style="width: 200px" >
                                                                    {{l('Process')}}
                                                                </th> 
                                                                <th style="width:150px;">
                                                                    {{l('CopanyName')}}
                                                                </th>
                                                                <th *ngIf="'Pages.MyLeads.ShowLeadSource' | permission" style="width:100px;">
                                                                    {{l('SourceName')}}
                                                                </th>
                                                                <th style="width:150px;">
                                                                    {{l('Organization')}}
                                                                </th>
                                                                <!-- <th style="width:150px;">
                                                                    {{l('LeadOwner')}}
                                                                </th> -->
                                                                <th style="width:200px;" *ngIf="'Pages.Lead.Duplicate.ShowEmailPhone' | permission">
                                                                    {{l('Email')}}
                                                                </th>
                                                                <th style="width:130px;" *ngIf="'Pages.Lead.Duplicate.ShowEmailPhone' | permission">
                                                                    {{l('Phone')}}
                                                                </th>
                                                                <th style="width:130px;" *ngIf="'Pages.Lead.Duplicate.ShowEmailPhone' | permission">
                                                                    {{l('Mobile')}}
                                                                </th>
                                                                <th style="width:160px;">
                                                                    {{l('Address')}}
                                                                </th>
                                                                <th style="width:80px;">
                                                                    {{l('Suburb')}}
                                                                </th>
                                                                <th style="width:100px;">
                                                                    {{l('State')}}
                                                                </th>
                                                                <th style="width:100px;">
                                                                    {{l('PostCode')}}
                                                                </th>
                                                                <th style="width:160px;">
                                                                    {{l('CreationTime')}}
                                                                </th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let item of record.duplicateDetail">
                                                                <!-- <td style="width:50px; text-align:center;">
                                                                    <span *ngIf="item.isDuplicate" class="tabletdicon">
                                                                        <i class="fas fa-database grid-icon"></i>
                                                                    </span>
                                                                    <span *ngIf="item.isWebDuplicate" class="tabletdicon">
                                                                        <i class="fas fa-globe grid-icon"></i>
                                                                    </span>
                                                                    <span *ngIf="!item.isWebDuplicate && !item.isDuplicate" class="tabletdicon">
                                                                        <i class="fas fa-toolbox grid-icon"></i>
                                                                    </span>
                                                                </td> -->
                                                                <td style="width:200px; text-align: center;">
                                                                    <span *ngIf="record.duplicate && !record.isDeleted" class="tabletdicon">
                                                                        <i class="fas fa-globe "></i><!-- duplicate-->
                                                                    </span>
                                                                    <span *ngIf="record.webDuplicate && !record.isDeleted" class="tabletdicon">
                                                                        <i class="fas fa-globe "></i><!-- webDuplicate-->
                                                                    </span>
                                                                    <span *ngIf="record.isFakeLead && !record.isDeleted" class="tabletdicon">
                                                                        <img style="height: 30px;"  src="../../../assets/common/images/fake-lead_2.png" /><!-- FakeLead -->
                                                                    </span>
                                                                    <span *ngIf="record.isAssigned && !record.isDeleted" class="tabletdicon">
                                                                        <i class="las la-user-check " style="font-size: 22px !important; color: #5867dd !important;"></i><!-- Assign -->
                                                                    </span>
                                                                    <span *ngIf="!record.isAssigned && !record.isDeleted" class="tabletdicon">
                                                                        <i class="las la-ban" style="font-size: 22px !important; color: #5867dd !important;"></i><!-- unassign-->
                                                                    </span>
                                                                    <span *ngIf="record.isDeleted" class="tabletdicon">
                                                                        <i class="las la-trash "></i> <!-- Deleted-->
                                                                      
                                                                    </span>
                                                                    <span *ngIf="!record.isAssigned && !record.duplicate && !record.webDuplicate  && !record.isFakeLead && !record.isDeleted" class="tabletdicon">
                                                                        <i class="las la-spinner" style="font-size: 27px; color: #5867dd; font-weight:bolder !important;"></i> <!-- InProcess  -->
                                                                    </span>
                                                                    <!-- <span *ngIf="!record.webDuplicate && !record.duplicate" class="tabletdicon">
                                                                        <i class="fas fa-toolbox grid-icon"></i>                                                    
                                                                    </span> -->
                                                                </td>
                                                                <td style="width:150px;">
                                                                    {{item.companyName}}
                                                                </td>
                                                                <td  *ngIf="'Pages.MyLeads.ShowLeadSource' | permission" style="width:100px;">
                                                                    {{item.leadSourceName}}
                                                                </td>
                                                                <td style="width:150px;">
                                                                    {{item.organizationName}}
                                                                </td>
                                                                <!-- <td style="width:150px;">
                                                                    {{item.currentLeadOwner}}
                                                                </td> -->
                                                                <td class="email_lowercase" style="width:200px;" *ngIf="'Pages.Lead.Duplicate.ShowEmailPhone' | permission">
                                                                    <span [tooltip]="item.email" class="tooltipcnt">
                                                                        {{item.email}} </span>
                                                                </td>
                                                                <td style="width:130px;" *ngIf="'Pages.Lead.Duplicate.ShowEmailPhone' | permission">
                                                                    {{item.phone}}
                                                                </td>
                                                                <td style="width:130px;" *ngIf="'Pages.Lead.Duplicate.ShowEmailPhone' | permission">
                                                                    {{item.mobile}}
                                                                </td>
                                                                <td style="width:160px;">
                                                                    <span [tooltip]="item.address" class="tooltipcnt">
                                                                        {{item.address}}</span>
                                                                </td>
                                                                <td style="width:80px;">
                                                                    <span [tooltip]="item.suburb" class="tooltipcnt">{{item.suburb}}</span>
                                                                </td>
                                                                <td style="width:100px;">
                                                                    {{item.state}}
                                                                </td>
                                                                <td style="width:100px;">
                                                                    {{item.postCode}}
                                                                </td>
                                                                <td style="width:160px;">
                                                                    {{item.creationTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                                                </td>

                                                            </tr>
                                                            <tr *ngIf="record.duplicateDetail.length == 0">
                                                                {{l('NoData')}}
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeads($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <!-- <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span> -->
                                    <span class="total-records-count">
                                        showing {{firstrowcount}}
                                        To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                            </div>
                            <!--<Primeng-Datatable-End>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>