bs-datepicker-container,
bs-daterangepicker-container {
  left: -178px !important;
}
body.kt-aside--minimize bs-daterangepicker-container {
  left: -184px !important;
}
@media screen and (min-width: 1600px) {
  body.kt-aside--minimize bs-daterangepicker-container {
    left: -131px !important;
  }
}
