<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("SmsTemplates")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getSmsTemplates()"></button>
                            </li>

                            <li *ngIf="isGranted('Pages.Tenant.WholeSale.DataVaults.SmsTemplates.Export')">
                                <div class="btn-group btnexceldropdown" dropdown>
                                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Export
                                        <img src="../../../assets/common/images/icon_downarrow.svg" />
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                        <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            <i class="las la-file-csv"></i> CSV
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="isGranted('Pages.Tenant.WholeSale.DataVaults.SmsTemplates.Create')"><button (click)="createSmsTemplate()" class="btn btn-outline-primary btnadd">
                                Add <i class="las la-plus-circle"></i>
                            </button></li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getSmsTemplates()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getSmsTemplates();searchLog();" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getSmsTemplates($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.WholeSale.DataVaults.SmsTemplates.Edit', 'Pages.Tenant.WholeSale.DataVaults.SmsTemplates.Delete')">
                                            {{l('Actions')}}</th>

                                        <th style="width: 250px" pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="smsTemplate.name"></p-sortIcon>
                                        </th>

                                        <th style="width: 250px" pSortableColumn="name">
                                            {{l('Organization')}}
                                        </th>

                                        <th pSortableColumn="text">
                                            {{l('Text')}}
                                            <p-sortIcon field="smsTemplate.text"></p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                    <tr class="widthset_tooltrip" [pSelectableRow]="record">
                                        <td class="actionwidth">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li *ngIf="isGranted('Pages.Tenant.WholeSale.DataVaults.SmsTemplates.View')">
                                                        <a href="javascript:;" (click)="viewWholeSaleSmsTemplateModal.show(record)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}</a>
                                                    </li>
                                                    <li *ngIf="isGranted('Pages.Tenant.WholeSale.DataVaults.SmsTemplates.Edit')">
                                                        <a href="javascript:;" (click)="createOrtWholeSaleEditSmsTemplateModal.show(record.wholeSaleSmsTemplate.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                    <li *ngIf="isGranted('Pages.Tenant.WholeSale.DataVaults.SmsTemplates.Create')">
                                                        <a href="javascript:;" (click)="deleteSmsTemplate(record.wholeSaleSmsTemplate)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 250px">
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.wholeSaleSmsTemplate.name}}
                                        </td>
                                        <td style="width:250px">
                                            <span class="ui-column-title"> {{l('Organization')}}</span> {{record.organization}}
                                        </td>
                                        <td class="no_warp warp_text">
                                            <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.wholeSaleSmsTemplate.text"><span class="ui-column-title">
                                                        {{l('Text')}}</span> {{record.wholeSaleSmsTemplate.text}}
                                            </span>
                                            </span>

                                        </td>

                                    </tr>

                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getSmsTemplates($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage" [showCurrentPageReport]="true"
                                    [currentPageReportTemplate]="'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount">
                                </p-paginator>
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrtWholeSaleEditSmsTemplateModal #createOrtWholeSaleEditSmsTemplateModal (modalSave)="getSmsTemplates()">
        </createOrtWholeSaleEditSmsTemplateModal>
        <viewWholeSaleSmsTemplateModal #viewWholeSaleSmsTemplateModal></viewWholeSaleSmsTemplateModal>

    </div>
</div>