<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <h6 class="d-flex align-items-center">{{l("Name")}} : <span class="badge badge-secondary ml-1" style="font-weight:600;">{{ item.wholeSaleSmsTemplate.name }}</span></h6>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <h6 class="mb-1">{{l("Text")}} :</h6>
                                <textarea type="text" #SmsTemplate_Text="ngModel" id="SmsTemplate_Text" class="form-control" style="height:300px !important;" [(ngModel)]="item.wholeSaleSmsTemplate.text" name="Text"></textarea>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn  btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>