﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #leadSourceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off" [ngClass]="{'formvalid':leadSourceForm.form.valid}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="DashboardMessage.id">{{l("EditDashboardMessage")}}</span>
                        <span *ngIf="!DashboardMessage.id">{{l("CreateNewDashboardMessage")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="DashboardTypr">Dashboard Type *</label>
                                    <select name="DashboardTypr" class="form-control" [(ngModel)]="DashboardMessage.dashboardType" required>
                                        <option>Sales</option>
                                        <option>Invoice</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-tachometer-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="CallFlowQueue_ExtentionNumber">Organization *</label>
                                    <select name="OrganizationUnits" class="form-control" [(ngModel)]="DashboardMessage.orgId" required>
                                        <option value="undefined">select Organization</option>
                                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">{{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-sitemap"></i></span>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="OrganizationName">Message *</label>
                                    <textarea class="form-control" cols="20" rows="4" placeholder="SMS Body" [(ngModel)]="DashboardMessage.message" id="SMSBody" name="SMSBody"></textarea>
                               
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="m-checkbox-list" style="margin-top:10px;">
                                    <label for="DashboardMessage" class="kt-checkbox">
                                        <input id="DashboardMessage" type="checkbox" name="DashboardMessage" [(ngModel)]="DashboardMessage.isActive"> 
                                        {{l("Active")}} *
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las fa-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" [disabled]="!leadSourceForm.form.valid"><i class="las la-save" ></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>