﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Message Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <div class="row">
                        <div class="col-12 mb-4">
                            <label><strong>{{l("Organization")}} :</strong></label> <span class="badge badge-warning" style="margin-left:5px;">Arise Solar</span>
                        </div>
                        <div class="col-12 mb-4">
                            <label><strong>{{l("Dashboard Type")}} :</strong></label> Sales Dashboard
                        </div>
                        <div class="col-12 mb-4">
                            <label><strong>{{l("Is Active")}} :</strong></label> <span class="badge badge-success" style="margin-left:5px;">Yes</span>
                        </div>
                        <div class="col-12">
                            <label><strong>{{l("Message")}} :</strong></label> -
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i class="las fa-times-circle"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>