﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #teamForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off" [ngClass]="{ 'has-error': teamForm.submitted}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="team.id">{{l("EditTeam")}}</span>
                        <span *ngIf="!team.id">Create New Team</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="form-group form-icon">
                            <label for="Team_Name" class="mb-2">{{l("Name")}} *</label>
                            <input type="text" id="Team_Name" class="form-control ng-pristine ng-invalid ng-touched" [(ngModel)]="team.name" name="Name" autofocus required />
                            <span class="icon-box"><i class="las la-users"></i></span>
                        </div>
                        <div class="form-group form-icon">
                            <label>Is-Active</label>
                            <input type="checkbox"  class="form-control" [(ngModel)]="team.isActive" name="isActive" style="width: 22px;" />
                          </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!teamForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>