﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #depositOptionForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="depositOption.id">{{l("EditDepositOption")}}</span>
                        <span *ngIf="!depositOption.id">Create New Payment Option</span>
                        
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                            <div class="form-group form-icon ">
                                <label for="DepositOption_Name">{{l("Name")}}</label>
                                <input type="text" id="DepositOption_Name" class="form-control" [(ngModel)]="depositOption.name" name="Name" required />
                                <span class="icon-box"><i class="las la-edit"></i></span>
                            </div>
                            </div>    
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                 <label>Is-Active</label>
                                 <input type="checkbox"  class="form-control" [(ngModel)]="depositOption.isActive" name="isActive" style="width: 22px;" />
                               </div>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!depositOptionForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>