﻿<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("DepositOptions")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>


                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getDepositOptions()"></button>
                            </li>

                            <li *ngIf="isGranted('Pages.DepositOptions.Export')">
                                <div class="btn-group btnexceldropdown" dropdown>
                                    <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                                        
                                        Export
                                        <img src="../../../assets/common/images/icon_downarrow.svg" />

                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                        <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                            <i class="las la-file-excel"></i> Excel
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:;">
                                            <i class="las la-file-excel"></i> CSV
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li *ngIf="isGranted('Pages.DepositOptions.Create')"><button (click)="createDepositOption()" class="btn btn-outline-primary btnadd">
                                Add <i class="las la-plus-circle"></i>
                            </button></li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getDepositOptions()" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getDepositOptions()"></a>
                                        <input type="button" class="btnsearch" (click)="getDepositOptions()" />
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getDepositOptions($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.DepositOptions.Edit', 'Pages.DepositOptions.Delete')">
                                            {{l('Actions')}}</th>
                                        <th pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="depositOption.name"></p-sortIcon>
                                        </th>
                                        <th style=" text-align: center;" pSortableColumn="isActive">
                                        {{l('IsActive')}}
                                        <p-sortIcon field="depositOption.isActive"></p-sortIcon>
                                    </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td class="actionwidth" style="text-align: center;" [hidden]="!isGrantedAny('Pages.DepositOptions.Edit', 'Pages.DepositOptions.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" (click)="viewDepositOptionModal.show(record)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.DepositOptions.Edit')" (click)="createOrEditDepositOptionModal.show(record.depositOption.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.DepositOptions.Delete')" (click)="deleteDepositOption(record.depositOption)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.depositOption.name}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('IsActive')}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.depositOption.isActive">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.depositOption.isActive">{{'No' | localize}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getDepositOptions($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditDepositOptionModal #createOrEditDepositOptionModal (modalSave)="getDepositOptions()">
        </createOrEditDepositOptionModal>
        <viewDepositOptionModal #viewDepositOptionModal></viewDepositOptionModal>

    </div>
</div>