<div class="kt-portlet kt-portlet--height-fluid dashboardboxmain margingcommanleftright15 martop15">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Todays Follow up List -({{recordslength}})
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body" style="padding: 0px;;">
        <!-- <h4>Date Range {{selectedDateRange[0] | momentFormat:'DD-MM-YYYY'}} To {{selectedDateRange[1] | momentFormat:'DD-MM-YYYY'}}</h4> -->
        <div class="ui-table">
            <table class="table table-bordered paddset_table1 brd_only_btm table_padd_new">
                <thead>
                    <tr>
                        <th style="width:55px;"></th>
                        <th width="170">Name</th>
                        <th width="80">Source</th>
                        <th width="100">Mobile</th>
                        <th width="150">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of records">
                        <td style="width:55px;">
                            <div class="img_max22"><img src="../../../assets/common/images/toolbox.svg" /></div>
                        </td>
                        <td>{{item.customerName}}
                            <br/>
                            <span class="colr_greay email_lowercase">{{item.email}}</span>
                        </td>
                        <td>{{item.source}}
                        </td>
                        <td>{{item.mobileno}}
                        </td>
                        <!-- <td class="white_space_normal"><span class="invoice_span maxwidth512" data-toggle="tooltip" data-placement="top" [tooltip]="item.comment">{{item.comment}}</span></td> -->
                        <td class="white_space_normal no_warp">
                            <span class="set_warp_toltrip"><span tooltip="Invoice Received Job Data" class="tooltipcnt" data-container="body" data-toggle="tooltip" data-placement="top">{{item.comment}}</span> </span>
                            <!-- <span class="invoice_span maxwidth512">{{item.comment}}</span> -->
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>