<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("BatteryInstallationCost")}}</span>
                        <span class="total-records-count">
                      ({{(primengTableHelper.totalRecordsCount)}})
                  </span>
                    </h3>

                </div>

                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh"></button>
                            </li>
                            <li *ngIf="isGranted('Pages.Tenant.DataVaults.InstallationCost.BatteryInstallationCost.Create')">
                                <button (click)="CreateOrEditBatteryInstallationCosteModal.show()" class="btn btn-outline-primary btnadd">Add <i class="las la-plus-circle"></i></button>
                            </li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getBatteryInstallationCost();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getBatteryInstallationCost()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getBatteryInstallationCost();searchLog();" />
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getBatteryInstallationCost($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.DataVaults.InstallationCost.BatteryInstallationCost.Edit', 'Pages.Tenant.DataVaults.InstallationCost.BatteryInstallationCost.Delete')">{{l('Actions')}}</th>
                                        
                                        <th pSortableColumn="KW">
                                            Upto KW
                                            <p-sortIcon field="batteryInstallationCost.kw"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="FixCost">
                                            {{l('FixCost')}}
                                            <p-sortIcon field="batteryInstallationCost.fixCost"></p-sortIcon>
                                        </th>
                                        
                                        <th pSortableColumn="ExtraCost">
                                            Extra Cost/Kw after Fix Cost
                                            <p-sortIcon field="batteryInstallationCost.extraCost"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.DataVaults.InstallationCost.BatteryInstallationCost.Edit', 'Pages.Tenant.DataVaults.InstallationCost.BatteryInstallationCost.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                              <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                          </button>
                                                <ul class="dropdown-menu" *dropdownMenu>

                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.DataVaults.InstallationCost.BatteryInstallationCost.Edit')" (click)="CreateOrEditBatteryInstallationCosteModal.show(record.batteryInstallationCost.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.Tenant.DataVaults.InstallationCost.BatteryInstallationCost.Delete')" (click)="delete(record.batteryInstallationCost)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('KW')}}</span> {{record.batteryInstallationCost.kw}} Kw
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('FixCost')}}</span> {{record.batteryInstallationCost.fixCost}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('ExtraCost')}}</span> {{record.batteryInstallationCost.extraCost}}
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getBatteryInstallationCost($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                            Showing {{firstrowcount}}
                            To {{last}}
                            <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <CreateOrEditBatteryInstallationCosteModal #CreateOrEditBatteryInstallationCosteModal (modalSave)="getBatteryInstallationCost()"></CreateOrEditBatteryInstallationCosteModal>



    </div>
</div>