<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #BatteryInstallationCostForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off" [ngClass]="{ 'has-error': BatteryInstallationCostForm.submitted}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="batteryInstallationCost.id">{{l("EditBatteryInstallationCost")}}</span>
                        <span *ngIf="!batteryInstallationCost.id">{{l("CreateBatteryInstallationCost")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="FixCost" >{{l("FixCost")}}</label>
                                    <input type="text" id="FixCost" class="form-control" [(ngModel)]="batteryInstallationCost.fixCost" name="FixCost" autofocus required />
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="KW" >{{l("KW")}}</label>
                                    <input type="text" id="KW" class="form-control" [(ngModel)]="batteryInstallationCost.kw" name="KW" autofocus required />
                                    <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="ExtraCost" >{{l("ExtraCost")}}</label>
                                    <input type="text" id="ExtraCost" class="form-control" [(ngModel)]="batteryInstallationCost.extraCost" name="ExtraCost" autofocus required />
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!BatteryInstallationCostForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>