<style>
    .form-icon .icon-box {
        padding: 0 5px !important;
        top: 32px !important;
    }
</style>
<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("AddNotes")}} - {{this.item.installerCompanyName}} - {{this.item.jobNumber}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box mt-0">
                        <h3 class="d-flex align-items-center"><i class="las la-briefcase fs-30 mr-2"></i>{{l('Job Detail')}}</h3>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Project No")}}</label>
                                    <input type="text" name="jobNumber" readonly [(ngModel)]="item.jobNumber" class="form-control" />
                                    <span class="icon-box"><i class="lab la-slack-hash"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("State")}}</label>
                                    <input type="text" name="state" readonly [(ngModel)]="item.state" class="form-control" />
                                    <span class="icon-box"><i class="las la-globe"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Installer Name")}}</label>
                                    <input type="text" name="installerName" readonly [(ngModel)]="item.installerName" class="form-control" />
                                    <span class="icon-box"><i class="las la-user-cog"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Installer Company Name")}}</label>
                                    <input type="text" name="installerCompanyName" readonly [(ngModel)]="item.installerCompanyName" class="form-control" />
                                    <span class="icon-box"><i class="las la-building"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-info-circle fs-30 mr-2"></i>{{l("Details")}}</h3>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <!-- <label class="form-label">{{l('Installation/ Maintenance/ Inspection')}}</label> -->
                                    <label class="form-label">Select Option</label>
                                    <select name="installation_Maintenance_Inspection" readonly disabled [(ngModel)]="item.installation_Maintenance_Inspection" class="form-control">
                                        <option value="">{{l('Select')}}</option>
                                        <option value="Installation">{{l('Installation')}}</option>
                                        <option value="Maintenance">{{l('Maintenance')}}</option>
                                        <option value="Inspection">{{l('Inspection')}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-user-cog"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('Email Sent')}}</label>
                                    <select name="emailSent" [(ngModel)]="item.emailSent" class="form-control">
                                        <option value="">{{l('Select')}}</option>
                                        <option value="1">{{l('Yes')}}</option>
                                        <option value="0">{{l('No')}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-envelope"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group d-flex align-items-center" style="margin-top:35px !important;">
                                    <label class="form-label mr-2">{{l('Is Verified')}}</label>
                                    <input type="checkbox" name="isVerify" [(ngModel)]="item.isVerify" class="form-control" style="height:22px !important; width:22px !important;" />
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("No of Panels (Invoice)")}}</label>
                                    <input type="text" name="noof_Panels_Invoice" [(ngModel)]="item.noof_Panels_invoice" class="form-control" />
                                    <span class="icon-box"><i class="las la-solar-panel"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("No of Panels (Portal)")}}</label>
                                    <input type="text" name="totalNoOfPanel" readonly [(ngModel)]="item.totalNoOfPanel" class="form-control" />
                                    <span class="icon-box"><i class="las la-solar-panel"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Actual Panels Installed")}}</label>
                                    <input type="text" name="actualPanels_Installed" [(ngModel)]="item.actualPanels_Installed" class="form-control" />
                                    <span class="icon-box"><i class="las la-solar-panel"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("No of Inverters")}}</label>
                                    <input type="text" name="totalNoOfInvert" readonly [(ngModel)]="item.totalNoOfInvert" class="form-control" />
                                    <span class="icon-box"><i class="las la-car-battery"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Verified double story?")}}</label>
                                    <input type="text" name="verifieddoublestory" readonly [(ngModel)]="item.verifieddoublestory" class="form-control" />
                                    <span class="icon-box"><i class="las la-check-circle"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Three Phase yes / No")}}</label>
                                    <input type="text" name="threephase" readonly [(ngModel)]="item.threephase" class="form-control" />
                                    <span class="icon-box"><i class="las la-check-circle"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('Splits')}}</label>
                                    <select name="splits" [(ngModel)]="item.splits" class="form-control">
                                        <option>{{l('Select')}}</option>
                                        <option value="1">{{l('Yes')}}</option>
                                        <option value="0">{{l('No')}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-columns"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Travel KM")}}</label>
                                    <input type="text" name="travelKMfromWarehouse" [(ngModel)]="item.travelKMfromWarehouse" class="form-control" />
                                    <span class="icon-box"><i class="las la-route"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Any other Extra")}}</label>
                                    <input type="text" name="otherExtraInvoiceNumber" [(ngModel)]="item.otherExtraInvoiceNumber" class="form-control" />
                                    <span class="icon-box"><i class="las la-sticky-note"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Invoice Number")}}</label>
                                    <input type="text" name="invoiceNo" [(ngModel)]="item.invNo" class="form-control" readonly />
                                    <span class="icon-box"><i class="lab la-slack-hash"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Invoice Amount")}}</label>
                                    <input type="text" name="invoiceAmount" [(ngModel)]="item.amount" class="form-control" readonly />
                                    <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Notes Or Reason for Pending")}}</label>
                                    <input type="text" name="notesOrReasonforPending" [(ngModel)]="item.notesOrReasonforPending" class="form-control" />
                                    <span class="icon-box"><i class="las la-sticky-note"></i></span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-white-box" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                        <h3 class="d-flex align-items-center"><i class="las la-info-circle fs-30 mr-2"></i>{{l("SiteDetail")}}</h3>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('Installer selfie')}}</label>
                                    <select name="installer_selfie" [(ngModel)]="item.installer_selfie" class="form-control">
                                        <option>{{l('Select')}}</option>
                                        <option value="1">{{l('Yes')}}</option>
                                        <option value="0">{{l('No')}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-camera"></i></span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('Front of property')}}</label>
                                    <select name="front_of_propertyId" [(ngModel)]="item.front_of_property" class="form-control">                                    
                                        <option>{{l('Select')}}</option>
                                        <option value="1">{{l('Yes')}}</option>
                                        <option value="0">{{l('No')}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-camera"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('Installer/Designer/EleSign')}}</label>
                                    <select name="inst_Des_Ele_signId" [(ngModel)]="item.inst_Des_Ele_sign" class="form-control">                                    
                                        <option>{{l('Select')}}</option>
                                        <option value="1">{{l('Yes')}}</option>
                                        <option value="0">{{l('No')}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-signature"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('CxSign')}}</label>
                                    <select name="cx_SignId" [(ngModel)]="item.cx_Sign" class="form-control">                                        
                                        <option>{{l('Select')}}</option>
                                        <option value="1">{{l('Yes')}}</option>
                                        <option value="0">{{l('No')}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-signature"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('CES')}}</label>
                                    <select name="ces" [(ngModel)]="item.ces" class="form-control"> 
                                        <option>{{l('Select')}}</option>
                                       <option value="1">{{l('Yes')}}</option>
                                       <option value="0">{{l('No')}}</option>
                                   </select>
                                    <span class="icon-box"><i class="las la-check-circle"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('Panels Serial No')}}</label>
                                    <select name="PanelsSerialNo" [(ngModel)]="item.panelsSerialNo" class="form-control">                                    
                                        <option>{{l('Select')}}</option>
                                        <option value="1">{{l('Yes')}}</option>
                                        <option value="0">{{l('No')}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-barcode"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('Inverter Serial No')}}</label>
                                    <select name="InverterSerialNo" [(ngModel)]="item.inverterSerialNo" class="form-control">
                                        <option>{{l('Select')}}</option>
                                        <option value="1">{{l('Yes')}}</option>
                                        <option value="0">{{l('No')}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-barcode"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('Instalaltion Pic')}}</label>
                                    <select name="InstalaltionPic" [(ngModel)]="item.instalaltionPic" class="form-control">
                                        <option>{{l('Select')}}</option>
                                        <option value="1">{{l('Yes')}}</option>
                                        <option value="0">{{l('No')}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-check-circle"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('Wi-Fi Dongle')}}</label>
                                    <select name="wi_FiDongle" [(ngModel)]="item.wi_FiDongle" class="form-control">
                                        <option>{{l('Select')}}</option>
                                        <option value="1">{{l('Yes')}}</option>
                                        <option value="0">{{l('No')}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-wifi"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('Traded')}}</label>
                                    <select name="traded" [(ngModel)]="item.traded" class="form-control">
                                            <option>{{l('Select')}}</option>
                                        <option value="1">{{l('Yes')}}</option>
                                        <option value="0">{{l('No')}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-check-circle"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box" *ngIf="item.installation_Maintenance_Inspection == 'Installation'">
                        <h3 class="d-flex align-items-center"><i class="las la-hand-holding-usd fs-30 mr-2"></i>{{l("Timeline & Payment")}}</h3>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Installation Complete Date")}}</label>
                                    <input type="text" name="installedcompleteDate" readonly [(ngModel)]="item.installedcompleteDate" class="form-control" />
                                    <span class="icon-box"><i class="las la-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("System Price")}}</label>
                                    <input type="text" name="totalCost" readonly [(ngModel)]="item.totalCost" class="form-control" />
                                    <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Owning Amount")}}</label>
                                    <input type="text" name="owningAmt" readonly [(ngModel)]="item.owningAmt" class="form-control" />
                                    <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('Remark if owing')}}</label>
                                    <input type="text" name="remark_if_owing" readonly [(ngModel)]="item.remark_if_owing" class="form-control" />
                                    <span class="icon-box"><i class="las la-sticky-note"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l('Cash/Humm')}}</label>
                                    <input type="text" name="Finance" readonly [(ngModel)]="item.financeName" class="form-control" />
                                    <span class="icon-box"><i class="las la-coins"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label class="form-label">{{l("Grid Connection")}}</label>
                                    <input type="text" name="gridConnection" readonly [(ngModel)]="item.gridConnection" class="form-control" />
                                    <span class="icon-box"><i class="las la-link"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>