<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 100%;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("PendingInstallerInvoice")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getInstallerInvoice();RereshLog();"></button>
                                </li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{l("Export")}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;"  *ngIf="'Pages.Installer.ExcelExport' | permission">
                                                <i class="las la-file-excel"></i>{{'Export' | localize}}
                                            </a>
                                            <!-- <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;">
                                                <i class="las la-file-csv"></i>{{l("ExportCSV")}}
                                            </a> -->
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getInstallerInvoice();getInstaller();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="invoiceStatus" [(ngModel)]="invoiceStatus" class="form-control" (change)="verifyShow();getInstallerInvoice();addSearchLog('Filter Invoice Status');">
                                                <option value="0">{{l("All")}}</option>
                                                <option value="1">{{l("Pending")}}</option>
                                                <option value="2">{{l("Verified")}}</option>
                                                
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select class="form-control" [(ngModel)]="invoiceType" id="invoiceType" name="invoiceType" (change)="getInstallerInvoice();addSearchLog('Filter Invoice Type');">
                                                <option value="">{{l("InvoiceType")}}</option>
                                                <option value="Installation">{{l('Installation')}}</option>
                                                <option value="Maintenance">{{l('Maintenance')}}</option>
                                                <option value="Inspection">{{l('Inspection')}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">JobNumber</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                                <option value="Phone">Phone</option>
                                                <option value="InvNo">Invoice No</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox apptrackeradv">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getInstallerInvoice();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getInstallerInvoice()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getInstallerInvoice();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" *ngIf="!FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                            <button class="btnadvfilter" *ngIf="FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group">
                                                                <!-- <p-autoComplete [(ngModel)]="installerId" id="installerId" [suggestions]="filteredinstaller" (completeMethod)="filterinstaller($event)" placeholder="Select Installer" [minlength]="1" name="installerId" inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete> -->
                                                                <p-autoComplete id="installerId" name="installerId" [suggestions]="installerSearchResult" (completeMethod)="filterInstaller($event)" [minLength]="1" [placeholder]="l('SelectInstaller')" inputStyleClass="form-control" styleClass="width-percent-100" (onSelect)="selectInstaller($event);addSearchLog('Advanced Filter');"
                                                                    (onClear)="installerId = 0" field="displayName" (keydown.enter)="selectInstaller($event);addSearchLog('Advanced Filter');">
                                                                    <ng-template let-result pTemplate="item">
                                                                        <div class="result-item">
                                                                            <div class="d-flex align-items-center mb-1">
                                                                                <i class="las la-user-cog fs-16 mr-1"></i> {{result.displayName}}
                                                                            </div>
                                                                        </div>
                                                                    </ng-template>
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="suburbFilter" (keydown.enter)="getInstallerInvoice();addSearchLog('Advanced Filter');" id="suburbFilter" [suggestions]="suburbSuggestions" (completeMethod)="filtersuburbs($event)" placeholder='{{l("Suburb")}}' [minlength]="2" #suburbInput="ngModel"
                                                                    name="suburbFilter" inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="stateNameFilter" name="stateNameFilter" (keydown.enter)="getInstallerInvoice();addSearchLog('Advanced Filter');">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"value="{{item.displayName}}">{{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateFilterType" name="dateFilterType">
                                                                    <option value="CreationDate">Creation Date</option>
                                                                    <option value="InstallDate">Install Date</option>
                                                                    <option value="InstallCompleteDate">Install Complete Date</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">
                                                                {{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getInstallerInvoice();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>

                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>

        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData" >
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li>
                        <span>{{total}}</span><label>{{l("Total")}}</label>
                    </li>
                    <li>
                        <span>{{pending}}</span><label>{{l("Pending")}}</label>
                    </li>
                    <li>
                        <span>{{verified}}</span><label>{{l("Verified")}}</label>
                    </li>
                    <li style="height:67px; justify-content:center;max-width: 150px!important;" *ngIf="verifybtn">
                        <div class="d-flex align-items-center justify-content-end" style="width:100%;">
                            <button (click)="verify()" [buttonBusy]="saving" busyText="Searching.." type="submit" 
                            class="btn btn-primary btn-sm" style="height:35px !important;">Submit</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- <div class="blue-filter-box" [hidden]="!FiltersData" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action')">
            <div class="d-flex align-items-center justify-content-end dis-column" style="width:100%;">
                <div class="d-flex align-items-center dis-column">
                    <button [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary btn-sm" (click)="submit()">
                        Submit
                    </button>
                </div>
                <div class="recordsSelect">
                    <h2>Selected Records <span>{{count}}</span></h2>
                </div>
            </div>
        </div> -->

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.Installer.Invoice.EnableCopyPaste' | permission)}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getInstallerInvoice($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" 
                                scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getInstallerInvoice($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="p-frozen-column checkboxhead" style="width:45px!important">
                                            <div class="kt-checkbox-list">
                                                <label for="job_id" class="kt-checkbox">
                                                    <input type="checkbox" id="job_id" name="all"
                                                        [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th class="actionwidth p-frozen-column" style="width: 95px!important; left:45px!important;" [hidden]="!isGrantedAny('Pages.Installer.QuickView', 'Pages.Installer.Edit', 'Pages.Installer.Delete', 'Pages.Installer.Notify', 'Pages.Installer.Reminder', 'Pages.Installer.Comment', 'Pages.Installer.ToDo', 'Pages.Installer.RevertVerify', 'Pages.Installer.ReadyToPay')">
                                            {{l('Actions')}}
                                        </th>
                                        
                                        <th style="width:140px; left:140px !important;" class="p-frozen-column" pSortableColumn="JobFk.JobNumber">
                                            {{l('JobNumber')}}
                                            <p-sortIcon field="jobNumber"></p-sortIcon>
                                        </th>
                                        <th style="width:130px" pSortableColumn="JobFk.State" [hidden]="!ExpandedView">
                                            {{l('State')}}
                                            <p-sortIcon field="state"></p-sortIcon>
                                        </th>
                                        <th style="width: 340px"  [hidden]="!ExpandedView">
                                            <!-- {{l('Installer/InstallerCompanyName')}} -->
                                            Installer Name/ Company Name
                                            <!-- <p-sortIcon field="installerid"></p-sortIcon> -->
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Installation_Maintenance_Inspection" [hidden]="!ExpandedView">
                                            {{l('InvoiceType')}}
                                            <p-sortIcon field="Installation_Maintenance_Inspection"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px;" pSortableColumn="InvNo" [hidden]="!ExpandedView">
                                            {{l('InvoiceNumber')}}
                                            <p-sortIcon field="InvNo"></p-sortIcon>
                                        </th>
                                        <th style="width: 174px" pSortableColumn="Amount" [hidden]="!ExpandedView">
                                            {{l('InvoiceAmount')}}
                                            <p-sortIcon field="Amount"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="InvDate" [hidden]="!ExpandedView">
                                            {{l('InvoiceDate')}}
                                            <p-sortIcon field="InvDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="invoiceIssuedDate" [hidden]="!ExpandedView">
                                            {{l('IssuedDate')}}
                                            <p-sortIcon field="invoiceIssuedDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="JobFk.InstalledcompleteDate" [hidden]="!ExpandedView">
                                            {{l('InstallCompleteDate')}}
                                            <p-sortIcon field="InstalledcompleteDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 213px" pSortableColumn="JobFk.TotalCost" [hidden]="!ExpandedView">
                                            {{l('SystemPrice')}}
                                            <p-sortIcon field="TotalCost"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" [hidden]="!ExpandedView">
                                            {{l('OwingAmount')}}
                                        </th>
                                        <th style="width: 170px" pSortableColumn="Remark_if_owing" [hidden]="!ExpandedView">
                                            {{l('RemarksIfOwing')}}
                                            <p-sortIcon field="remarksIfOwing"></p-sortIcon>
                                        </th>
                                        <th style="width: 178px" pSortableColumn="JobFk.PaymentOptionFk.Name" [hidden]="!ExpandedView">
                                            Job Payment Type
                                            <p-sortIcon field="FinanceName"></p-sortIcon>
                                        </th>
                                        <th style="width: 170px" pSortableColumn="JobFk.IsGridConnected" [hidden]="!ExpandedView">
                                            {{l('GridConnection')}}
                                            <p-sortIcon field="gridConnection"></p-sortIcon>
                                        </th>
                                        <th style="width: 270px" pSortableColumn="NotesOrReasonforPending" [hidden]="!ExpandedView">
                                            {{l('NotesOrReasonforPending')}}
                                            <p-sortIcon field="NotesOrReasonforPending"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Reminder')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.leadId}">
                                        <td class="p-frozen-column" style="width:45px!important">
                                            <div class="kt-checkbox-list set_new6 set_new2" style="padding: 0px 8px!important;">
                                                <label for="{{record.id}}" class="kt-checkbox">
                                                    <input type="checkbox" id="{{record.id}}"
                                                        name="recordSource" [(ngModel)]="record.isSelected" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="actionwidth p-frozen-column" style="text-align:Center; width:95px;left:45px !important;" [hidden]="!isGrantedAny('Pages.Installer.QuickView', 'Pages.Installer.Edit', 'Pages.Installer.Delete', 'Pages.Installer.Notify', 'Pages.Installer.Reminder', 'Pages.Installer.Comment', 'Pages.Installer.ToDo', 'Pages.Installer.RevertVerify', 'Pages.Installer.ReadyToPay')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Installer.QuickView')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.jobId,26,'Pending Installer Invoice')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Installer.Edit')" *ngIf="record.isVerify==false">
                                                        <a href="javascript:;" (click)="invoiceinstallerModal.show(record.id, 29,'Pending Installer Invoice')">
                                                            <i class="las la-sticky-note"></i> {{l('AddNotes')}}
                                                        </a>
                                                    </li>

                                                    <li [hidden]="!isGrantedAny('Pages.Installer.Edit')" *ngIf="record.isVerify==false">
                                                        <a *ngIf="'Pages.Installer.Edit' | permission" (click)="editinstallerinvoice.show(organizationUnit, record.id,'Pending Installer Invoice')">
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Installer.Delete')"  *ngIf="record.isVerify==false">
                                                        <a *ngIf="'Pages.Installer.Delete' | permission" (click)="delete(record)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>

                                                    <li [hidden]="!isGrantedAny('Pages.Installer.Notify')">
                                                        <a (click)="notifyModel.show(record.leadId,29,0,'Pending Installer Invoice')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,9,0,29)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <!-- <li [hidden]="!isGrantedAny('Pages.Installer.SMS')">
                                                        <a (click)="invoiceinstallersmsEmailModel.show(record.leadId,record.id,26)">
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li> -->
                                                    <li [hidden]="!isGrantedAny('Pages.Installer.Email')">
                                                        <a (click)="emailModel.show(record.leadId,29,0,record.id,'Pending Installer Invoice')">
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Installer.Reminder')">
                                                        <a (click)="ReminderModal.show(record.leadId,29,0,'Pending Installer Invoice')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,8,0,29)"> -->
                                                            <i class="las la-stopwatch"></i> Reminder
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Installer.Comment')">
                                                        <a (click)="commentModel.show(record.leadId,29,0,'Pending Installer Invoice')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,24,0,29)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Installer.ToDo')">
                                                        <a (click)="todoModal.show(record.leadId,29,0,'Pending Installer Invoice')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,25,0,29)"> --> 
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Installer.RevertVerify')" *ngIf="record.isVerify == true">
                                                        <a (click)="revertInvoice(record)"><i class="las la-user-times"></i> {{l('Unverified')}}</a>
                                                    </li>

                                                    <li [hidden]="!isGrantedAny('Pages.Installer.ReadyToPay')" *ngIf="record.paidStatus == false && record.isVerify==true">
                                                        <a (click)="readyTopay.show(record.id, 29, 'Pending Installer Invoice')">
                                                            <i class="las la-wallet"></i> {{l('ReadyToPay')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Installer.View')">
                                                        <a href="javascript:;" (click)="invoiceDetailModal.show(record.id, 'Pending Installer Invoice')">
                                                            <i class="las la-binoculars"></i> {{l('View')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        
                                        <td style="width:140px; left:140px !important;" class="p-frozen-column" (click)="navigateToLeadDetail(record.leadId);">
                                            <span class="badge badge-secondary">{{record.jobNumber}}</span>
                                        </td>
                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            {{record.state}}
                                        </td>
                                        <td style="width:340px" [hidden]="!ExpandedView">
                                            {{record.installerName}}/ {{record.installerCompanyName}}
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.installation_Maintenance_Inspection}}
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.invoiceNo}}</span>
                                        </td>
                                        <td style="width:174px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary blue d-flex align-items-center" style="max-width:95px;">
                                                ${{record.amount | number : '1.2-2'}}
                                            </span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary d-flex align-items-center" *ngIf="record.invDate"><i class="las la-calendar fs-18 mr-1"></i>{{record.invDate | date:'mediumDate' }}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary d-flex align-items-center" *ngIf="record.invoiceIssuedDate"><i class="las la-calendar fs-18 mr-1"></i>{{record.invoiceIssuedDate | date:'mediumDate' }}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary d-flex align-items-center" *ngIf="record.installedCompleteDate"><i class="las la-calendar fs-18 mr-1"></i>{{record.installedCompleteDate | date:'mediumDate' }}</span>
                                        </td>
                                        <td style="width:213px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary blue d-flex align-items-center" *ngIf="record.totalCost" style="max-width:95px;">${{record.totalCost | number : '1.2-2'}}</span>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <div class="badge badge-primary d-flex align-items-center" *ngIf="record.owningAmt != 0 && record.owningAmt < 0">
                                                <span>${{record.owningAmt | number : '1.2-2'}}</span>
                                            </div>
                                            <div class="badge badge-danger d-flex align-items-center" *ngIf="record.owningAmt > 0 && record.owningAmt !=0">
                                                <span>${{record.owningAmt | number : '1.2-2'}}</span>
                                            </div>
                                            <div class="badge badge-success d-flex align-items-center" *ngIf="record.owningAmt == 0">
                                                <i class="las la-check-circle mr-1 fs-18"></i> <span>Paid</span>
                                            </div>
                                        </td>
                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            {{record.remarkIfOwing}}
                                        </td>
                                        <td style="width:178px" [hidden]="!ExpandedView">
                                            {{record.financeName}}
                                        </td>
                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            <span *ngIf="record.gridConnection == true" class="tooltipcnt kt-badge kt-badge--success">{{l("Yes")}} </span>
                                            <span *ngIf="record.gridConnection == false" class="tooltipcnt  kt-badge kt-badge--dark"> {{l("No")}} </span>
                                        </td>
                                        <td style="width:270px" [hidden]="!ExpandedView">
                                            {{record.notesOrReasonforPending}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.activityComment">{{record.activityComment}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary d-flex align-items-center" *ngIf="record.activityReminderTime"><i class="las la-calendar fs-18 mr-1"></i>{{record.activityReminderTime}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.activityDescription">{{record.activityDescription}}</span>
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getInstallerInvoice($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <viewApplicationModal #viewApplicationModal (modalSave)="getInstallerInvoice()"></viewApplicationModal>
        <!-- <verifyInvoiceModal #verifyInvoiceModal (modalSave)="reloadPage()"></verifyInvoiceModal> -->
        <addActivityModal #addActivityModal (modalSave)="getInstallerInvoice()"></addActivityModal>
        <editJobInvoiceModal #editJobInvoiceModal (modalSave)="getInstallerInvoice()"></editJobInvoiceModal>
        <invoiceinstallersmsEmailModel #invoiceinstallersmsEmailModel (modalSave)="getInstallerInvoice()">
        </invoiceinstallersmsEmailModel>

        <readyTopay #readyTopay (modalSave)="getInstallerInvoice()"></readyTopay>
        <editinstallerinvoice #editinstallerinvoice (modalSave)="getInstallerInvoice()"></editinstallerinvoice>

        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="getInstallerInvoice()"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="getInstallerInvoice()"></ReminderModal>
        <emailModel #emailModel></emailModel>
        <invoiceinstallerModal #invoiceinstallerModal (modalSave)="getInstallerInvoice()"></invoiceinstallerModal>
        <invoiceDetailModal #invoiceDetailModal></invoiceDetailModal>

    </div>
</div>