<div appBsModal #CreateStockTransferModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Create / Edit Stock Transfer")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-bg-gray">

                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between mb-3">
                        <span><i class="las la-info-circle fs-30 mr-2"></i>Transfer Details</span>
                    </h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="">Transfered Date *</label>
                                        <input type="text" id="" name="" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-calendar-week"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="LastName">Entered By *</label>
                                        <select class="form-control">
                                            <option>Select</option>
                                        </select>
                                        <span class="icon-box" style="top:30px;"><i class="las la-user"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="">Tracking No *</label>
                                        <input type="text" id="" name="" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-hashtag"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="Mobile">Transfer Company *</label>
                                        <select class="form-control">
                                            <option>Select</option>
                                        </select>
                                        <span class="icon-box" style="top:30px;"><i class="las la-building"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="Email">Transfer From *</label>
                                        <select class="form-control">
                                            <option>Select</option>
                                        </select>
                                        <span class="icon-box" style="top:30px;"><i class="las la-user"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="Email">Amount *</label>
                                        <input type="text" id="" name="" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-dollar-sign"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="Email">Transfer To *</label>
                                        <select class="form-control">
                                            <option>Select</option>
                                        </select>
                                        <span class="icon-box" style="top:30px;"><i class="las la-user"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-4 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="Email">Company</label>
                                        <select class="form-control">
                                            <option>Arise Solar</option>
                                        </select>
                                        <span class="icon-box" style="top:30px;"><i class="las la-building"></i></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between mb-4">
                        <span><i class="las la-box fs-30 mr-2"></i>Stock Details</span>
                    </h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="Email">{{l("Stock")}}</label>
                                        <select class="form-control">
                                            <option>Select Category</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Email">{{l("Stock Item")}}</label>
                                        <select class="form-control">
                                            <option>Select</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Email">{{l("Qty")}}</label>
                                        <input type="number" id="" name="" required="" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="Email">{{l("Avl Qty")}}</label>
                                        <input type="number" id="" name="" required="" class="form-control" value="">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group" style="margin-top:30px;">
                                        <div class="action-btn addbtn"><a><i class="las la-plus-circle"></i></a></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between mb-4">
                        <span><i class="las la-sticky-note fs-30 mr-2"></i>Notes</span>
                    </h3>
                    <textarea class="form-control" style="height:120px;"></textarea>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{("Cancel")}}</button>
                <button type="submit" class="btn btn-primary blue"><i class="las la-save"></i><span>Save</span></button>
            </div>
        </div>
    </div>
</div>