<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Activity - Purchase Order Modified</h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="secondary-grid" style="overflow-x: auto;">
                        <table class="table">
                            <thead>
                                <th>FieldName</th>
                                <th>Previous Value</th>
                                <th>Current Value</th>
                                <th>Modified by</th>
                            </thead>
                            <tr *ngFor="let item of PurchaseOrderHistory">
                                <td>
                                    {{item.fieldName}}
                                </td>
                                <td>
                                    {{item.prevValue}}
                                </td>
                                <td>
                                    <div [tooltip]="item.curValue" class="tooltipcnt" style="width:320px;">{{item.curValue}}</div>
                                </td>
                                <td>
                                    {{item.lastmodifiedbyuser}}
                                </td>

                            </tr>
                        </table>
                    </div>


                </div>

            </form>
        </div>
    </div>

</div>