<style>
    .form-icon .icon-box {
        top: 31px !important;
    }

    .form-icon .icon-box1 {
        top: 5px !important;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 22px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e3e2ef;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #7367f0;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #7367f0;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
    }

    /* Rounded sliders */

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>

<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="user.id">{{"Edit Sales Manager" | localize}}: {{user.userName}}</span>
                        <!-- <span *ngIf="!user.id">{{"CreateNewUser" | localize}}</span> -->
                        <span *ngIf="!user.id">Create New Sales Manager</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="tab_design tab-new">
                        <tabset>
                            <tab heading="{{'UserInformations' | localize}}">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-icon">
                                            <label for="Name">{{"Name" | localize}} *</label>
                                            <input id="Name" #nameInput="ngModel" class="form-control" type="text"
                                                name="Name" [(ngModel)]="user.name" required maxlength="64">
                                            <span class="icon-box"><i class="las la-user"></i></span>
                                            <validation-messages [formCtrl]="nameInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-icon">
                                            <label for="Surname">{{"Surname" | localize}} *</label>
                                            <input id="Surname" #surnameInput="ngModel" type="text" name="Surname"
                                                class="form-control" [(ngModel)]="user.surname" required maxlength="64">
                                            <span class="icon-box"><i class="las la-user"></i></span>
                                            <validation-messages [formCtrl]="surnameInput"></validation-messages>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-icon">
                                            <label for="EmailAddress">{{"EmailAddress" | localize}} *</label>
                                            <input id="EmailAddress" #emailAddressInput="ngModel" type="email"
                                                name="EmailAddress" class="form-control" [(ngModel)]="user.emailAddress"
                                                required maxlength="256" email />
                                            <span class="icon-box"><i class="las la-envelope"></i></span>
                                            <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-icon">
                                            <label for="PhoneNumber">{{"PhoneNumber" | localize}}</label>
                                            <input id="PhoneNumber" type="text" name="PhoneNumber" class="form-control"
                                                [(ngModel)]="user.phoneNumber" maxlength="32">
                                            <span class="icon-box"><i class="las la-phone"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="ExtensionNumber">{{"ExtensionNumber" | localize}} *</label>
                                            <input id="ExtensionNumber" #extensionNumberInput="ngModel" type="text"
                                                name="ExtensionNumber" class="form-control"
                                                [(ngModel)]="user.extensionNumber" required maxlength="256" />
                                            <span class="icon-box"><i class="las la-phone"></i></span>
                                            <validation-messages
                                                [formCtrl]="extensionNumberInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="Target">Target (Per Hour) *</label>
                                            <input id="Target" type="text" name="Target" class="form-control"
                                                [(ngModel)]="user.target" maxlength="32" required>
                                            <span class="icon-box"><i class="las la-stopwatch"></i></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="Category">Category</label>
                                            <select id="Category" name="CategoryId" class="form-control"
                                                [(ngModel)]="user.categoryId">
                                                <option *ngFor="let category of categories" [value]="category.id">
                                                    {{category.name}}</option>
                                            </select>
                                            <span class="icon-box"><i class="las la-clipboard-list"></i></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="MonthlySMSQuote">Monthly SMS Quote *</label>
                                            <input id="MonthlySMSQuote" type="number" name="MonthlySMSQuote"
                                                class="form-control" [(ngModel)]="user.monthlySMSQuote" value="0" min=0>
                                            <span class="icon-box"><i class="las la-comment"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="MonthlyEMailQuote">Monthly EMail Quote *</label>
                                            <input id="MonthlyEMailQuote" type="number" name="MonthlyEMailQuote"
                                                class="form-control" [(ngModel)]="user.monthlyEMailQuote" min=0>
                                            <span class="icon-box"><i class="las la-envelope"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group ">
                                            <label for="MultiSelectInput">Teams</label>
                                            <p-autoComplete [(ngModel)]="teamids" [suggestions]="filteredTeams"
                                                (completeMethod)="filterTeams($event)" field="name"
                                                placeholder="Select Teams" [minLength]="1" name="MultiSelectInput"
                                                id="MultiSelectInput" [multiple]="true"
                                                inputStyleClass="form-control teambox1"
                                                styleClass="width-percent-100 teambox2">
                                            </p-autoComplete>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="UserName">{{"UserName" | localize}} *</label>
                                            <input id="UserName" #userNameInput="ngModel" type="text"
                                                [disabled]="!canChangeUserName" name="UserName" class="form-control"
                                                [(ngModel)]="user.userName" required maxlength="256">
                                            <span class="icon-box"><i class="las la-user"></i></span>
                                            <span class="help-block"
                                                *ngIf="!canChangeUserName">{{"CanNotChangeAdminUserName" |
                                                localize}}</span>
                                            <validation-messages [formCtrl]="userNameInput"></validation-messages>
                                        </div>
                                    </div>
                                    <div class="form-group form-icon col-md-4">
                                        <label for="startTime">IN Time *</label>
                                        <input id="startTime" #startTimeInput="ngModel" class="form-control" type="time" name="startTime" [(ngModel)]="user.startTime" required>
                                        <span class="icon-box"><i class="las la-stopwatch"></i></span>
                                        <validation-messages [formCtrl]="startTimeInput"></validation-messages>
                                    </div>
                                    <div class="form-group form-icon col-md-4">
                                        <label for="endTime">OUT Time *</label>
                                        <input id="endTime" #endTimeInput="ngModel" class="form-control" type="time" name="endTime" [(ngModel)]="user.endTime" required>
                                        <span class="icon-box"><i class="las la-stopwatch"></i></span>
                                        <validation-messages [formCtrl]="endTimeInput"></validation-messages>
                                    </div>
                                    <div class="col-md-12 mt-3">
                                        <div class="kt-checkbox-list">
                                            <label for="EditUser_ShowAnotherTeamLead" class="kt-checkbox">
                                                <input id="EditUser_ShowAnotherTeamLead" type="checkbox"
                                                    name="ShowAnotherTeamLead" [(ngModel)]="user.showAnotherTeamLead">
                                                {{"ShowAnotherTeamLead" | localize}}
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="kt-checkbox-list">
                                            <label for="EditUser_SetRandomPassword" class="kt-checkbox">
                                                <input id="EditUser_SetRandomPassword" type="checkbox"
                                                    name="SetRandomPassword" [(ngModel)]="setRandomPassword">
                                                {{"SetRandomPassword" | localize}}
                                                <span></span>
                                            </label>
                                        </div>
                                        
                                        <div class="row mb-3" *ngIf="!setRandomPassword">
                                            <div class="col-md-6">
                                                <div class="form-group" *ngIf="!setRandomPassword">
                                                    <div class="right">
                                                        <label for="Password">{{"Password" | localize}}</label>
                                                        <input id="Password" type="password" name="Password"
                                                            #Password="ngModel" id="Password" class="form-control"
                                                            [(ngModel)]="user.password"
                                                            [required]="!user.id && !setRandomPassword" maxlength="32"
                                                            [requireDigit]="passwordComplexitySetting.requireDigit"
                                                            [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                                            [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                                            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                                            [requiredLength]="passwordComplexitySetting.requiredLength"
                                                            validateEqual="PasswordRepeat" reverse="true"
                                                            autocomplete="new-password">
                                                    </div>
                                                </div>
                                                <div
                                                    [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                                                    <ul class="help-block text-danger"
                                                        *ngIf="userForm.controls['Password'] && userForm.controls['Password'].errors">
                                                        <li
                                                            [hidden]="!userForm.controls['Password'].errors.requireDigit">
                                                            {{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                                                        <li
                                                            [hidden]="!userForm.controls['Password'].errors.requireLowercase">
                                                            {{"PasswordComplexity_RequireLowercase_Hint" | localize}}
                                                        </li>
                                                        <li
                                                            [hidden]="!userForm.controls['Password'].errors.requireUppercase">
                                                            {{"PasswordComplexity_RequireUppercase_Hint" | localize}}
                                                        </li>
                                                        <li
                                                            [hidden]="!userForm.controls['Password'].errors.requireNonAlphanumeric">
                                                            {{"PasswordComplexity_RequireNonAlphanumeric_Hint" |
                                                            localize}}</li>
                                                        <li
                                                            [hidden]="!userForm.controls['Password'].errors.requiredLength">
                                                            {{"PasswordComplexity_RequiredLength_Hint" |
                                                            localize:passwordComplexitySetting.requiredLength}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" *ngIf="!setRandomPassword">
                                                    <div class="right">
                                                        <label for="PasswordRepeat">{{"PasswordRepeat" |
                                                            localize}}</label>
                                                        <input id="PasswordRepeat" type="password" name="PasswordRepeat"
                                                            #PasswordRepeat="ngModel" class="form-control"
                                                            [(ngModel)]="userPasswordRepeat"
                                                            [required]="!user.id && !setRandomPassword" maxlength="32"
                                                            [requireDigit]="passwordComplexitySetting.requireDigit"
                                                            [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                                            [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                                            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                                            [requiredLength]="passwordComplexitySetting.requiredLength"
                                                            validateEqual="Password" reverse="false"
                                                            autocomplete="new-password">
                                                    </div>
                                                </div>
                                                <div
                                                    [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                                                    <ul class="help-block text-danger"
                                                        *ngIf="userForm.controls['PasswordRepeat'] && userForm.controls['PasswordRepeat'].errors">
                                                        <li
                                                            [hidden]="!userForm.controls['PasswordRepeat'].errors.requireDigit">
                                                            {{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                                                        <li
                                                            [hidden]="!userForm.controls['PasswordRepeat'].errors.requireLowercase">
                                                            {{"PasswordComplexity_RequireLowercase_Hint" | localize}}
                                                        </li>
                                                        <li
                                                            [hidden]="!userForm.controls['PasswordRepeat'].errors.requireUppercase">
                                                            {{"PasswordComplexity_RequireUppercase_Hint" | localize}}
                                                        </li>
                                                        <li
                                                            [hidden]="!userForm.controls['PasswordRepeat'].errors.requireNonAlphanumeric">
                                                            {{"PasswordComplexity_RequireNonAlphanumeric_Hint" |
                                                            localize}}</li>
                                                        <li
                                                            [hidden]="!userForm.controls['PasswordRepeat'].errors.requiredLength">
                                                            {{"PasswordComplexity_RequiredLength_Hint" |
                                                            localize:passwordComplexitySetting.requiredLength}}</li>
                                                        <li [hidden]="userForm.controls['PasswordRepeat'].valid">
                                                            {{"PasswordsDontMatch" | localize}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="kt-checkbox-list">
                                            <label for="EditUser_IsOutdoor" class="kt-checkbox">
                                                <input id="EditUser_IsOutdoor" type="checkbox" name="IsOutdoor"
                                                    [(ngModel)]="user.isOutdoor">
                                                {{"OutdoorUser" | localize}}
                                                <span></span>
                                            </label>

                                            <label for="EditUser_ShouldChangePasswordOnNextLogin" class="kt-checkbox">
                                                <input id="EditUser_ShouldChangePasswordOnNextLogin" type="checkbox"
                                                    name="ShouldChangePasswordOnNextLogin"
                                                    [(ngModel)]="user.shouldChangePasswordOnNextLogin">
                                                {{"ShouldChangePasswordOnNextLogin" | localize}}
                                                <span></span>
                                            </label>

                                            <label for="EditUser_SendActivationEmail" class="kt-checkbox">
                                                <input id="EditUser_SendActivationEmail" type="checkbox"
                                                    name="SendActivationEmail" [(ngModel)]="sendActivationEmail">
                                                {{"SendActivationEmail" | localize}}
                                                <span></span>
                                            </label>

                                            <label for="EditUser_IsActive" class="kt-checkbox">
                                                <input id="EditUser_IsActive" type="checkbox" name="IsActive"
                                                    [(ngModel)]="user.isActive">
                                                {{"Active" | localize}}
                                                <span></span>
                                            </label>

                                            <label *ngIf="isTwoFactorEnabled" for="EditUser_IsTwoFactorEnabled"
                                                class="kt-checkbox">
                                                <input id="EditUser_IsTwoFactorEnabled" type="checkbox"
                                                    name="IsTwoFactorEnabled" [(ngModel)]="user.isTwoFactorEnabled">
                                                {{"IsTwoFactorEnabled" | localize}}
                                                <span></span>
                                            </label>

                                            <label *ngIf="isLockoutEnabled" for="EditUser_IsLockoutEnabled"
                                                class="kt-checkbox">
                                                <input id="EditUser_IsLockoutEnabled" type="checkbox"
                                                    name="IsLockoutEnabled" [(ngModel)]="user.isLockoutEnabled">
                                                {{"IsLockoutEnabled" | localize}}
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                            <tab heading="{{'Roles' | localize}}" *ngIf="loginUser == 'nilesh'">
                                <ng-template tabHeading>
                                    <span
                                        class="kt-badge kt-badge--success kt-badge--inline">{{getAssignedRoleCount()}}</span>
                                </ng-template>
                                <div class="kt-checkbox-list">
                                    <label attr.for="EditUser_{{role.roleName}}" class="kt-checkbox"
                                        *ngFor="let role of roles">
                                        <input id="EditUser_{{role.roleName}}" type="checkbox" name="{{role.roleName}}"
                                            [(ngModel)]="role.isAssigned"
                                            [disabled]="role.inheritedFromOrganizationUnit">
                                        {{role.roleDisplayName}} <small
                                            *ngIf="role.inheritedFromOrganizationUnit">({{'RoleIsInheritedFromOrganizationUnit'
                                            | localize}})</small>
                                        <span></span>
                                    </label>
                                </div>
                            </tab>
                            <tab heading="{{'OrganizationUnits' | localize}}">
                                <!-- <organization-unit-tree [cascadeSelectEnabled]="false" #organizationUnitTree></organization-unit-tree> -->

                                <div class="row" *ngFor="let item of userOrganization; let i = index">
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <select [(ngModel)]="item.organizationUnitId" required
                                                #organizationUnitId="ngModel" name="organizationUnitId{{i}}"
                                                class="form-control">
                                                <option [ngValue]="undefined">Select Organization
                                                    Type
                                                </option>
                                                <option *ngFor="let org of allOrganizationUnits" value="{{org.id}}">
                                                    {{org.displayName}}
                                                </option>
                                            </select>
                                            <span class="icon-box1" style="top:0 !important;"><i class="las la-sitemap"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group form-icon">
                                            <input type="text" name="jpemailFromAdress{{i}}"
                                                #jpemailFromAdress="ngModel" required [(ngModel)]="item.emailFromAdress"
                                                class="form-control" placeholder="FromEmailAdress">
                                            <span class="icon-box1" style="top:0 !important;"><i class="las la-envelope"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="d-flex align-items-center mt-1">
                                            <div class="action-btn mr-1" *ngIf="userOrganization.length != 1">
                                                <a (click)="removeJoboldsysdetail(item)"><i
                                                        class="las la-trash text-danger"></i></a>
                                            </div>
                                            <div class="action-btn addbtn" *ngIf="userOrganization.length == (i+1)">
                                                <a (click)="adduseremailorgDetail()"><i
                                                        class="las la-plus-circle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </tab>
                            <tab heading="{{'IPAddress' | localize}}">
                                <div class="row mb-3" *ngFor="let item of userIPAddress; let i = index;">
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                        <input type="text" name="IpAddress{{i}}" #jpemailFromAdress="ngModel"
                                            [(ngModel)]="item.ipAdress" class="form-control" placeholder="IPAddress">
                                        <span class="icon-box1" style="top:0 !important;"><i
                                                class="las la-network-wired"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <label class="switch mr-2 mb-0" style="margin-top:7px !important;">
                                        <input class="custom-control-input" type="checkbox" role="switch"
                                            id="IpAddress_IsActive{{i}}" name="IpAddress_IsActive{{i}}"
                                            [(ngModel)]="item.isActive">
                                        <span class="slider round" attr.for="IpAddress_IsActive{{i}}"></span>
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <div class="d-flex align-items-center mt-1">
                                        <div class="action-btn mr-1" *ngIf="userIPAddress.length != 1">
                                            <a (click)="removeUserIPAddress(item)"><i
                                                    class="las la-trash text-danger"></i></a>
                                        </div>
                                        <div class="action-btn addbtn" *ngIf="userIPAddress.length == (i+1)">
                                            <a (click)="addUserIPAddress()"><i class="las la-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    </tab>
                    </tabset>
                </div>
        </div>
        <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                    class="las la-times-circle"></i> {{"Cancel" | localize}}</button>
            <button type="submit" class="btn btn-primary" [disabled]="!userForm.form.valid" [buttonBusy]="saving"
                [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{"Save" |
                    localize}}</span></button>
        </div>
        </form>
    </div>
</div>
</div>