<style>
    .form-icon .icon-box {
        top: 31px !important;
    }

    .form-icon .icon-box1 {
        top: 4px !important;
    }
</style>
<div appBsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="user.id">{{"Edit Installer" | localize}}: {{user.userName}}</span>
                        <span *ngIf="!user.id">Create New Installer</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')"
                        [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="tab_design tab-new">
                        <tabset>
                            <tab heading="{{'UserInformations' | localize}}">
                                <div class="modal-gray-box">
                                    <h3><i class="las la-user-cog fs-22 mr-2"></i> Installer Details</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <label for="Name">{{"Name" | localize}} *</label>
                                                <input id="Name" #nameInput="ngModel" class="form-control" type="text"
                                                    name="Name" [(ngModel)]="user.name" required maxlength="64">
                                                <span class="icon-box"><i class="las la-user-cog"></i></span>
                                                <validation-messages [formCtrl]="nameInput"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <label for="Surname">{{"Surname" | localize}} *</label>
                                                <input id="Surname" #surnameInput="ngModel" type="text" name="Surname"
                                                    class="form-control" [(ngModel)]="user.surname" required
                                                    maxlength="64">
                                                <span class="icon-box"><i class="las la-user-cog"></i></span>
                                                <validation-messages [formCtrl]="surnameInput"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <label for="Installer_companyName" class="form-label">{{l("Company
                                                    Name")}} *</label>
                                                <input type="text" id="Installer_companyName"
                                                    #companyNameInput="ngModel" class="form-control"
                                                    [(ngModel)]="user.companyName" name="CopanyName" minlength="2"
                                                    maxlength="100" required />
                                                <span class="icon-box"><i class="las la-building"></i></span>
                                                <validation-messages [formCtrl]="companyNameInput">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group form-icon">
                                                <label for="EmailAddress">{{"EmailAddress" | localize}} *</label>
                                                <input id="EmailAddress" #emailAddressInput="ngModel" type="email"
                                                    name="EmailAddress" class="form-control emailbox"
                                                    [(ngModel)]="user.emailAddress" required maxlength="256" email />
                                                <span class="icon-box"><i class="las la-envelope"></i></span>
                                                <validation-messages [formCtrl]="emailAddressInput">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-icon">
                                                <label for="PhoneNumber">{{"PhoneNumber" | localize}}</label>
                                                <input id="PhoneNumber" type="text" name="PhoneNumber"
                                                    class="form-control" [(ngModel)]="user.phoneNumber" maxlength="32">
                                                <span class="icon-box"><i class="las la-phone"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-icon">
                                                <label for="Mobile">{{"Mobile" | localize}}</label>
                                                <input id="Mobile" type="text" #MobileInput="ngModel" name="Mobile"
                                                    class="form-control" [(ngModel)]="user.mobile" required
                                                    maxlength="32">
                                                <span class="icon-box"><i class="las la-mobile"></i></span>
                                                <validation-messages [formCtrl]="MobileInput"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group form-icon">
                                                <label for="UserName">{{"UserName" | localize}} *</label>
                                                <input id="UserName" #userNameInput="ngModel" type="text"
                                                    [disabled]="!canChangeUserName" name="UserName" class="form-control"
                                                    [(ngModel)]="user.userName" required maxlength="256">
                                                <span class="icon-box"><i class="las la-user"></i></span>
                                                <span class="help-block"
                                                    *ngIf="!canChangeUserName">{{"CanNotChangeAdminUserName" |
                                                    localize}}</span>
                                                <validation-messages [formCtrl]="userNameInput"></validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-gray-box">
                                    <h3><i class="las la-map-marker fs-22 mr-2"></i> Address Details</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="kt-radio-inline">
                                                    <label for="Google2" class="kt-radio">
                                                        <input id="Google2" name="address2" (change)="google()"
                                                            [value]="'Google'" type="radio" [(ngModel)]="user.isGoogle">
                                                        Google Address
                                                        <span></span>
                                                    </label>
                                                    <label for="Manual2" class="kt-radio">
                                                        <input id="Manual2" name="address2" (change)="database()"
                                                            [value]="'Manual'" type="radio" [(ngModel)]="user.isGoogle">
                                                        Manual Address
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" [hidden]="!selectAddress">
                                        <div class="col-md-12">
                                            <div class="form-group form-icon">
                                                <label for="installerAddress_Address"
                                                    class="form-label">{{l("Address")}}</label>
                                                <input (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                                    (onLocationSelected)="onLocationSelected($event)"
                                                    placeholder="Search Address" country="au" [types]="['address']"
                                                    class="form-control" matInput matGoogleMapsAutocomplete
                                                    [(ngModel)]="user.address" name="Address">
                                                <span class="icon-box"><i class="las la-map-marker-alt"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="installerAddress_UnitNo"
                                                    class="form-label">{{l("UnitNo")}}</label>
                                                <input type="text" placeholder='{{l("UnitNo")}}'
                                                    id="installerAddress_UnitNo" class="form-control"
                                                    [(ngModel)]="user.unit" name="UnitNo" minlength="1"
                                                    maxlength="50" />
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="UnitTypeInput" class="form-label">{{l("UnitType")}}</label>
                                                <p-autoComplete [(ngModel)]="unitType" id="UnitTypeInput"
                                                    [suggestions]="unitTypesSuggestions"
                                                    (completeMethod)="filterunitTypes($event)"
                                                    placeholder='{{l("UnitType")}}' [minlength]="1" name="UnitTypeInput"
                                                    inputStyleClass="form-control" styleClass="width-percent-100">
                                                </p-autoComplete>
                                                <span class="icon-box"><i class="las la-house-damage"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="installerAddress_StreetNo"
                                                    class="form-label">{{l("StreetNo")}} *</label>
                                                <input type="text" #streetNoInput="ngModel"
                                                    id="installerAddress_StreetNo" placeholder='{{l("StreetNo")}}'
                                                    class="form-control" [(ngModel)]="user.streetNo" name="StreetNo"
                                                    minlength="1" maxlength="100" />
                                                <span class="icon-box"><i class="las la-road"></i></span>
                                                <validation-messages [formCtrl]="streetNoInput">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="streetSelectInput" class="form-label">{{l("StreetName")}}
                                                    *</label>
                                                <p-autoComplete [(ngModel)]="streetName" id="streetSelectInput"
                                                    [suggestions]="streetNamesSuggestions"
                                                    placeholder='{{l("StreetName")}}'
                                                    (completeMethod)="filterstreetnames($event)" [minlength]="1"
                                                    #streetNameInput="ngModel" name="streetSelectInput"
                                                    inputStyleClass="form-control" styleClass="width-percent-100">
                                                </p-autoComplete>
                                                <span class="icon-box"><i class="las la-map-signs"></i></span>
                                                <validation-messages [formCtrl]="streetNameInput">
                                                </validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="StreetTypeInput" class="form-label">{{l("StreetType")}}
                                                    *</label>
                                                <p-autoComplete [(ngModel)]="streetType" id="StreetTypeInput"
                                                    [suggestions]="streetTypesSuggestions"
                                                    (completeMethod)="filterstreettypes($event)"
                                                    placeholder='{{l("StreetType")}}' [minlength]="1"
                                                    #streetTypeInput="ngModel" name="StreetTypeInput"
                                                    inputStyleClass="form-control" styleClass="width-percent-100">
                                                </p-autoComplete>
                                                <span class="icon-box"><i class="las la-city"></i></span>
                                                <validation-messages [formCtrl]="streetTypeInput">
                                                </validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="PostCodeSuburb" class="form-label">{{l("Suburb")}}
                                                    *</label>
                                                <p-autoComplete [(ngModel)]="suburb" id="SuburbInput"
                                                    [suggestions]="suburbSuggestions"
                                                    (completeMethod)="filtersuburbs($event)"
                                                    placeholder='{{l("Suburb")}}' [minlength]="1" #suburbInput="ngModel"
                                                    name="SuburbInput" (onSelect)="fillstatepostcode()"
                                                    inputStyleClass="form-control" styleClass="width-percent-100">
                                                </p-autoComplete>
                                                <span class="icon-box"><i class="las la-map-signs"></i></span>
                                                <validation-messages [formCtrl]="suburbInput"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="StateName" class="form-label">{{l("State")}} *</label>
                                                <select name="StateName" #stateInput="ngModel"
                                                    [(ngModel)]="user.stateId" disabled="disabled" class="form-control">
                                                    <option value="">{{l("SelectAState")}}</option>
                                                    <option *ngFor="let item of allStates" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-globe"></i></span>
                                                <validation-messages [formCtrl]="stateInput"></validation-messages>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="installerAddress_PostCode"
                                                    class="form-label">{{l("PostCode")}} *</label>
                                                <input type="text" id="installerAddress_PostCode"
                                                    #postcodeInput="ngModel" placeholder='{{l("PostCode")}}'
                                                    class="form-control" disabled="disabled" [(ngModel)]="user.postCode"
                                                    name="installerAddress_PostCode" minlength="1" maxlength="100" />
                                                <span class="icon-box"><i class="las la-parking"></i></span>
                                                <validation-messages [formCtrl]="postcodeInput">
                                                </validation-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-gray-box">
                                    <div class="kt-checkbox-list">
                                        <label for="isInst" class="kt-checkbox">
                                            <input id="isInst" type="checkbox" name="isInst" [(ngModel)]="user.isInst">
                                            {{"isInst" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="mt-2" *ngIf="user.isInst">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="AccreditationNumber"
                                                        class="form-label">{{l("AccreditationNumber")}}
                                                        *</label>
                                                    <input type="text" id="InstallerAccreditationNumber"
                                                        #installerAccreditationNumber="ngModel"
                                                        placeholder='{{l("AccreditationNumber")}}' class="form-control"
                                                        [(ngModel)]="user.installerAccreditationNumber"
                                                        name="InstallerAccreditationNumber" minlength="1"
                                                        maxlength="100" required
                                                        (change)="checkAccreditationNumber($event)" />
                                                    <validation-messages [formCtrl]="installerAccreditationNumber">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="isInstDatePicker" class="form-label">Date</label>
                                                    <input id="isInstDatePicker" type="text" #isInstDatePicker
                                                        name="isInstDatePicker" class="form-control daterangebox"
                                                        bsDatepicker datePickerMomentModifier [(date)]="isInstDate"
                                                        required
                                                        [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Upload Doc.</label>
                                                    <div class="white-file-upload">
                                                        <input type="file" (change)="filechangeEvent($event)"
                                                            accept=".pdf" class="fileuploadboxbtn" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="streetSelectInput" class="form-label">{{l("Uplaoded
                                                        Doc")}} </label>
                                                    <div class="col-md-4" *ngIf="user.docInstaller">
                                                        <a (click)="downloadInstfile()" class="btndownloaddocument"><i
                                                                class="las la-file-upload fs-22"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="modal-gray-box">
                                    <div class="kt-checkbox-list">
                                        <label for="isElec" class="kt-checkbox">
                                            <input id="isElec" type="checkbox" name="isElec" [(ngModel)]="user.isElec">
                                            {{"isElec" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="mt-2" *ngIf="user.isElec">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="ElectricianLicenseNumber"
                                                        class="form-label">{{l("ElectricianLicense")}}
                                                        *</label>
                                                    <input type="text" id="ElectricianLicenseNumber"
                                                        #electricianLicenseNumberInput="ngModel"
                                                        placeholder='{{l("ElectricianLicenseNumber")}}'
                                                        class="form-control" [(ngModel)]="user.electricianLicenseNumber"
                                                        name="ElectricianLicenseNumber" minlength="1" maxlength="100"
                                                        required />
                                                    <validation-messages [formCtrl]="electricianLicenseNumberInput">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="isElecDatePicker" class="form-label">Date</label>
                                                    <input id="isElecDatePicker" type="text" #isElecDatePicker
                                                        name="isElecDatePicker" class="form-control daterangebox"
                                                        bsDatepicker datePickerMomentModifier [(date)]="isElecDate"
                                                        required
                                                        [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Upload Doc.</label>
                                                    <div class="white-file-upload">
                                                        <input type="file" (change)="fileisElecchangeEvent($event)"
                                                            accept=".pdf" class="fileuploadboxbtn" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="streetSelectInput" class="form-label">{{l("Uplaoded
                                                        Doc")}} </label>
                                                    <div class="col-md-4" *ngIf="user.docElectrician">
                                                        <a (click)="downloadElecfile()" class=""><i
                                                                class="las la-file-upload fs-22"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-gray-box">
                                    <div class="kt-checkbox-list">
                                        <label for="isDesi" class="kt-checkbox">
                                            <input id="isDesi" type="checkbox" name="isDesi" [(ngModel)]="user.isDesi">
                                            {{"isDesi" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="mt-2" *ngIf="user.isDesi">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="DesignerLicenseNumber"
                                                        class="form-label">{{l("DesignerLicense")}}
                                                        *</label>
                                                    <input type="text" id="DesignerLicenseNumber"
                                                        #designerLicenseNumberInput="ngModel"
                                                        placeholder='{{l("DesignerLicenseNumber")}}'
                                                        class="form-control" [(ngModel)]="user.designerLicenseNumber"
                                                        name="DesignerLicenseNumber" minlength="1" maxlength="100"
                                                        required />
                                                    <validation-messages [formCtrl]="designerLicenseNumberInput">
                                                    </validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="isDesiDatePicker" class="form-label">Date</label>
                                                    <input id="isDesiDatePicker" type="text" #isDesiDatePicker
                                                        name="isDesiDatePicker" class="form-control daterangebox"
                                                        bsDatepicker datePickerMomentModifier [(date)]="isDesiDate"
                                                        required
                                                        [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Upload Doc.</label>
                                                    <div class="white-file-upload">
                                                        <input type="file" (change)="fileisDesichangeEvent($event)"
                                                            accept=".pdf" class="fileuploadboxbtn" />
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label for="streetSelectInput" class="form-label">{{l("Uplaoded
                                                        Doc")}} </label>
                                                    <div class="col-md-4" *ngIf="user.docDesigner">
                                                        <a (click)="downloadDesifile()" class=""><i
                                                                class="las la-file-upload fs-22"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal-gray-box">
                                    <div class="kt-checkbox-list">
                                        <label for="EditUser_SetRandomPassword" class="kt-checkbox marginbtm10">
                                            <input id="EditUser_SetRandomPassword" type="checkbox"
                                                name="SetRandomPassword" [(ngModel)]="setRandomPassword">
                                            {{"SetRandomPassword" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="mt-2" *ngIf="!setRandomPassword">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group" *ngIf="!setRandomPassword">
                                                    <div class="right">
                                                        <label for="Password">{{"Password" | localize}}</label>
                                                        <input id="Password" type="password" name="Password"
                                                            #Password="ngModel" id="Password" class="form-control"
                                                            [(ngModel)]="user.password"
                                                            [required]="!user.id && !setRandomPassword" maxlength="32"
                                                            [requireDigit]="passwordComplexitySetting.requireDigit"
                                                            [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                                            [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                                            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                                            [requiredLength]="passwordComplexitySetting.requiredLength"
                                                            validateEqual="PasswordRepeat" reverse="true"
                                                            autocomplete="new-password">
                                                    </div>
                                                </div>
                                                <div
                                                    [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                                                    <ul class="help-block text-danger"
                                                        *ngIf="userForm.controls['Password'] && userForm.controls['Password'].errors">
                                                        <li
                                                            [hidden]="!userForm.controls['Password'].errors.requireDigit">
                                                            {{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                                                        <li
                                                            [hidden]="!userForm.controls['Password'].errors.requireLowercase">
                                                            {{"PasswordComplexity_RequireLowercase_Hint" | localize}}
                                                        </li>
                                                        <li
                                                            [hidden]="!userForm.controls['Password'].errors.requireUppercase">
                                                            {{"PasswordComplexity_RequireUppercase_Hint" | localize}}
                                                        </li>
                                                        <li
                                                            [hidden]="!userForm.controls['Password'].errors.requireNonAlphanumeric">
                                                            {{"PasswordComplexity_RequireNonAlphanumeric_Hint" |
                                                            localize}}
                                                        </li>
                                                        <li
                                                            [hidden]="!userForm.controls['Password'].errors.requiredLength">
                                                            {{"PasswordComplexity_RequiredLength_Hint" |
                                                            localize:passwordComplexitySetting.requiredLength}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" *ngIf="!setRandomPassword">
                                                    <div class="right">
                                                        <label for="PasswordRepeat">{{"PasswordRepeat" |
                                                            localize}}</label>
                                                        <input id="PasswordRepeat" type="password" name="PasswordRepeat"
                                                            #PasswordRepeat="ngModel" class="form-control"
                                                            [(ngModel)]="userPasswordRepeat"
                                                            [required]="!user.id && !setRandomPassword" maxlength="32"
                                                            [requireDigit]="passwordComplexitySetting.requireDigit"
                                                            [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                                            [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                                            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                                            [requiredLength]="passwordComplexitySetting.requiredLength"
                                                            validateEqual="Password" reverse="false"
                                                            autocomplete="new-password">
                                                    </div>
                                                </div>
                                                <div
                                                    [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                                                    <ul class="help-block text-danger"
                                                        *ngIf="userForm.controls['PasswordRepeat'] && userForm.controls['PasswordRepeat'].errors">
                                                        <li
                                                            [hidden]="!userForm.controls['PasswordRepeat'].errors.requireDigit">
                                                            {{"PasswordComplexity_RequireDigit_Hint" | localize}}</li>
                                                        <li
                                                            [hidden]="!userForm.controls['PasswordRepeat'].errors.requireLowercase">
                                                            {{"PasswordComplexity_RequireLowercase_Hint" | localize}}
                                                        </li>
                                                        <li
                                                            [hidden]="!userForm.controls['PasswordRepeat'].errors.requireUppercase">
                                                            {{"PasswordComplexity_RequireUppercase_Hint" | localize}}
                                                        </li>
                                                        <li
                                                            [hidden]="!userForm.controls['PasswordRepeat'].errors.requireNonAlphanumeric">
                                                            {{"PasswordComplexity_RequireNonAlphanumeric_Hint" |
                                                            localize}}
                                                        </li>
                                                        <li
                                                            [hidden]="!userForm.controls['PasswordRepeat'].errors.requiredLength">
                                                            {{"PasswordComplexity_RequiredLength_Hint" |
                                                            localize:passwordComplexitySetting.requiredLength}}
                                                        </li>
                                                        <li [hidden]="userForm.controls['PasswordRepeat'].valid">
                                                            {{"PasswordsDontMatch" | localize}}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="modal-gray-box">
                                    <div class="kt-checkbox-list">
                                        <label for="EditUser_ShouldChangePasswordOnNextLogin" class="kt-checkbox">
                                            <input id="EditUser_ShouldChangePasswordOnNextLogin" type="checkbox"
                                                name="ShouldChangePasswordOnNextLogin"
                                                [(ngModel)]="user.shouldChangePasswordOnNextLogin">
                                            {{"ShouldChangePasswordOnNextLogin" | localize}}
                                            <span></span>
                                        </label>

                                        <label for="EditUser_SendActivationEmail" class="kt-checkbox">
                                            <input id="EditUser_SendActivationEmail" type="checkbox"
                                                name="SendActivationEmail" [(ngModel)]="sendActivationEmail">
                                            {{"SendActivationEmail" | localize}}
                                            <span></span>
                                        </label>

                                        <label for="EditUser_IsActive" class="kt-checkbox" *ngIf="role == 'Admin'">
                                            <input id="EditUser_IsActive" type="checkbox" name="IsActive"
                                                [(ngModel)]="user.isActive">
                                            {{"Active" | localize}}
                                            <span></span>
                                        </label>

                                        <label *ngIf="isTwoFactorEnabled" for="EditUser_IsTwoFactorEnabled"
                                            class="kt-checkbox">
                                            <input id="EditUser_IsTwoFactorEnabled" type="checkbox"
                                                name="IsTwoFactorEnabled" [(ngModel)]="user.isTwoFactorEnabled">
                                            {{"IsTwoFactorEnabled" | localize}}
                                            <span></span>
                                        </label>

                                        <label *ngIf="isLockoutEnabled" for="EditUser_IsLockoutEnabled"
                                            class="kt-checkbox">
                                            <input id="EditUser_IsLockoutEnabled" type="checkbox"
                                                name="IsLockoutEnabled" [(ngModel)]="user.isLockoutEnabled">
                                            {{"IsLockoutEnabled" | localize}}
                                            <span></span>
                                        </label>
                                    </div>
                                </div>

                            </tab>

                            <tab heading="{{'OrganizationUnits' | localize}}">

                                <div class="row" *ngFor="let item of userOrganization; let i = index">
                                    <div class="col-md-4 mb-2">
                                        <div class="form-group form-icon">
                                            <select [(ngModel)]="item.organizationUnitId" required
                                                #organizationUnitId="ngModel" name="organizationUnitId{{i}}"
                                                class="form-control">
                                                <option [ngValue]="undefined">Select Organization Type</option>
                                                <option *ngFor="let org of allOrganizationUnits" value="{{org.id}}">
                                                    {{org.displayName}}</option>
                                            </select>
                                            <span class="icon-box1"><i class="las la-sitemap"></i></span>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <div class="form-group form-icon">
                                            <input type="text" name="jpemailFromAdress{{i}}"
                                                #jpemailFromAdress="ngModel" required [(ngModel)]="item.emailFromAdress"
                                                class="form-control" placeholder="FromEmailAdress">
                                            <span class="icon-box1"><i class="las la-at"></i></span>
                                        </div>

                                    </div>
                                    <div class="col-md-2 mb-2">
                                        <div class="d-flex align-items-center mt-1">
                                            <div class="action-btn mr-1" *ngIf="userOrganization.length != 1">
                                                <a (click)="removeJoboldsysdetail(item)" class=""><i
                                                        class="las la-trash text-danger"></i></a>
                                            </div>
                                            <div class="action-btn addbtn"
                                                *ngIf="userOrganization.length == (i+1) && i < 4">
                                                <a (click)="adduseremailorgDetail()"><i
                                                        class="las la-plus-circle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </tab>

                            <tab heading="{{'IPAddress' | localize}}">
                                <div class="row mb-3" *ngFor="let item of userIPAddress; let i = index;">
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <input type="text" name="IpAddress{{i}}" #jpemailFromAdress="ngModel"
                                                [(ngModel)]="item.ipAdress" class="form-control"
                                                placeholder="IPAddress">
                                            <span class="icon-box1"><i class="las la-network-wired"></i></span>
                                        </div>

                                    </div>
                                    <div class="col-md-1">
                                        <label class="switch mr-2 mb-0" style="margin-top:7px !important;">
                                            <input class="custom-control-input" type="checkbox" role="switch"
                                                id="IpAddress_IsActive{{i}}" name="IpAddress_IsActive{{i}}"
                                                [(ngModel)]="item.isActive">
                                            <span class="slider round" attr.for="IpAddress_IsActive{{i}}"></span>
                                        </label>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="d-flex align-items-center mt-1">
                                            <div class="action-btn mr-1" *ngIf="userIPAddress.length != 1">
                                                <a (click)="removeUserIPAddress(item)"><i
                                                        class="las la-trash text-danger"></i></a>
                                            </div>
                                            <div class="action-btn addbtn" *ngIf="userIPAddress.length == (i+1)">
                                                <a (click)="addUserIPAddress()"><i class="las la-plus-circle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </tab>
                        </tabset>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{"Save" |
                            localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>