<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item addproductsform">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <!-- <span *ngIf="active && productItem.id">{{"EditProductItem" }}</span>
                        <span *ngIf="active && !productItem.id">{{l("CreateProductItem")}}</span> -->
                    </h3>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body addproductsform">
               
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="InstallerAccreditationNumber"
                                        class="form-label">{{l("InstallerAccreditationNumber")}} *</label>
                                    <input type="text" id="InstallerAccreditationNumber"
                                        #installerAccreditationNumber="ngModel"
                                        placeholder='{{l("InstallerAccreditationNumber")}}' class="form-control"
                                        [(ngModel)]="user.installerAccreditationNumber"
                                        name="InstallerAccreditationNumber" minlength="1" maxlength="100" required />
                                    <validation-messages [formCtrl]="installerAccreditationNumber">
                                    </validation-messages>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="isInstDatePicker" class="form-label">Date</label>
                                    <input id="isInstDatePicker" type="text" #isInstDatePicker name="isInstDatePicker"
                                        class="form-control daterangebox" bsDatepicker datePickerMomentModifier [(date)]="isInstDate"
                                        required [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        <input type="file" (change)="filechangeEvent($event)" accept=".pdf"
                                            class="fileuploadboxbtn" />
                                    </label>
                                </div>
                            </div>
                        </div>
                   
              
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="col-lg-12 pagebuttonbox">

                </div>
            </div>
        </div>
    </div>
</div>
