<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item index_99">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{"Installer" | localize}}</span>
                        <span class="total-records-count">
                            ({{primengTableHelper.totalRecordsCount}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getUsers()"></button>
                                </li>
                                <!-- <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />    
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;">
                                                <i class="las la-file-csv"></i> CSV
                                            </a>
                                        </div>
                                    </div>
                                </li> -->
                                <li [hidden]="!(['Pages.Leads.Export', 'Pages.Leads.Import'] | permissionAny)">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{"Excel" | localize}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg"
                                                class="ng-tns-c490-7">
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations leadexceldropdown" *dropdownMenu>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;" *ngIf="permission.isGranted('Pages.Leads.Export')">
                                                <!-- <i class="fa fa-download" style="font-size: 1rem;"></i> -->
                                                <i class="las la-file-excel"></i> {{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a href="javascript:;" *ngIf="'Pages.Leads.Import' | permission" class="no-padding a_set1">
                                                <span class="fileinput-button">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <span class="dropdown-item-text text-muted pl-3" href="#" *ngIf="'Pages.Leads.Import' | permission">
                                                <a href="/assets/sampleFiles/ImportLeadsSampleFile.xlsx"
                                                    class="dropdown-item btnsample">
                                                    <i class="las la-file-excel"></i> {{l('SampleFile')}}
                                                </a>
                                            </span>
                                            <div class="dropdown-divider"></div>
                                            <a href="javascript:;" *ngIf="'Pages.Leads.Import' | permission" class="no-padding a_set1">
                                                <span class="fileinput-button">
                                                    <a class="dropdown-item" href="javascript:;" (click)="updateInstallerFromGreenDeal()">
                                                        <i class="las la-globe-americas"></i> Update From Green Deal
                                                    </a>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="'Pages.Administration.Installer.Create' | permission"><button (click)="createUser()" class="btn btn-outline-primary btnadd">
                                    Add <i class="las la-plus-circle"></i>
                                    </button></li>
                                <li>
                                    <div class="kt-searchmainbox">
                                        <div class="kt-stextbox searchclearbox">
                                            <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getUsers();searchLog();"/>
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getUsers()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getUsers();searchLog();" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-advfilterbox">
                                        <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                            <i class="las la-sliders-h"></i>
                                        </button>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="permissionmodal modalbutton set_1 fix_permission">
            <div [ngClass]="{'wdth200': ('Pages.Administration.Roles' | permission), 'col-md-12 wdth200':!('Pages.Administration.Roles' | permission)}">
                <div class="setpermission">
                    <permission-tree-modal #permissionFilterTreeModal (onModalclose)="getUsers()">
                    </permission-tree-modal>
                </div>
            </div>
        </div>

        <div class="blue-filter-box myleadsReport leadtopcouont leadtracker leadtrackerpage space_between flexend joblist job-page" [ngClass]="{'h-mobile': toggle, 'new': !toggle}" [hidden]="FiltersData">
            <form class="kt-form marbtmset">
                <div class="d-flex align-items-center justify-content-end" style="width:100%;">
                    <!-- <input type="text" [(ngModel)]="filterText" name="filterText" class="form-control mr-3" [placeholder]="l('Name')" /> -->
                    <select name="OrganizationUnits" class="form-control mr-3" #stateInput="ngModel" [(ngModel)]="organizationUnit">
                        <option value="">{{l("SelectAOrganization")}}</option>
                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                            {{item.displayName}}</option>
                    </select>
                    <div class="kt-checkbox-list mr-3">
                        <label for="UsersTable_OnlyLockedUsers" class="kt-checkbox">
                            <input id="UsersTable_OnlyLockedUsers" type="checkbox" name="OnlyLockedUsers"
                                [(ngModel)]="onlyLockedUsers">
                            {{"OnlyLockedUsers" | localize}}
                            <span></span>
                        </label>
                    </div>

                    <button class="btn btn-primary btn-sm" (click)="getUsers()">
                        {{"Search" | localize}}                            
                    </button>


                </div>
            </form>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">

            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">
                    <div>
                        <div class="row align-items-center">
                            <!--<Primeng-TurboTable-Start>-->

                            <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable sortMode="multiple" [lazyLoadOnInit]="true" (onLazyLoad)="getUsers($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                    [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                    <!-- <p-table #dataTable sortMode="multiple" (onLazyLoad)="getUsers($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="actionwidth" style="text-align:center; width:95px;" [hidden]="!(['Pages.Administration.Installer.Impersonation', 'Pages.Administration.Installer.Edit', 'Pages.Administration.Installer.ChangePermissions', 'Pages.Administration.Installer.Delete'] | permissionAny)">
                                                {{'Actions' | localize}}</th>
                                            <th pSortableColumn="username" style="width: 150px">
                                                {{'UserName' | localize}}
                                                <p-sortIcon field="username"></p-sortIcon>
                                            </th>
                                            <th style="width: 140px" pSortableColumn="name">
                                                {{'Name' | localize}}
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>
                                            <th style="width: 140px" pSortableColumn="surname">
                                                {{'Surname' | localize}}
                                                <p-sortIcon field="surname"></p-sortIcon>
                                            </th>
                                            <!-- <th style="width: 150px">
                                            {{'Roles' | localize}}
                                        </th> -->
                                            <th style="width:200px" pSortableColumn="emailAddress">
                                                {{'EmailAddress' | localize}}
                                                <p-sortIcon field="emailAddress"></p-sortIcon>
                                            </th>
                                            <th style="width: 145px; text-align: center;" pSortableColumn="isEmailConfirmed">
                                                {{'EmailConfirm' | localize}}
                                                <p-sortIcon field="isEmailConfirmed"></p-sortIcon>
                                            </th>
                                            <th style="width: 95px; text-align: center;" pSortableColumn="isActive">
                                                {{'Active' | localize}}
                                                <p-sortIcon field="isActive"></p-sortIcon>
                                            </th>
                                            <th style="width:127px" pSortableColumn="creationTime">
                                                {{'CreationTime' | localize}}
                                                <p-sortIcon field="creationTime"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr [pSelectableRow]="record">
                                            <td style="text-align:center; width:95px;" class="actionwidth" [hidden]="!(['Pages.Administration.Installer.Impersonation', 'Pages.Administration.Installer.Edit', 'Pages.Administration.Installer.ChangePermissions', 'Pages.Administration.Installer.Delete'] | permissionAny)">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                                                        <i class="flaticon-more"></i><span class="caret"></span>
                                                        {{"Actions" | localize}}
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="('Pages.Administration.Installer.Impersonation' | permission) && record.id !== appSession.userId" (click)="_impersonationService.impersonate(record.id, appSession.tenantId)">

                                                                <i class="las la-sign-in-alt"></i> {{'LoginAsThisUser' | localize}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Administration.Installer.Edit' | permission" (click)="createOrEditInstallerModal.show(record.id)">
                                                                <i class="las la-edit"></i> {{'Edit' | localize}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Administration.Installer.ChangePermissions' | permission" (click)="editInstallerPermissionsModal.show(record.id, record.userName)">
                                                                <i class="las la-shield-alt"></i> {{'Permissions' | localize}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Administration.Installer.Unlock' | permission" (click)="unlockUser(record)">
                                                                <i class="las la-unlock"></i> {{'Unlock' | localize}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Administration.EntityDynamicParameterValue.Edit' | permission" (click)="showDynamicParameters(record)">

                                                                <i class="las la-cog"></i> {{'DynamicParameters' | localize}}</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" *ngIf="'Pages.Administration.Installer.Delete' | permission" (click)="deleteUser(record)">
                                                                <i class="las la-trash"></i> {{'Block' | localize}}</a>
                                                        </li>
                                                        <!-- <li>
                                                        <a href="javascript:;"
                                                            (click)="organizationDoc.show(record.id)">
                                                            <img src="../../../assets/common/images/icon_edit.svg"/>
                                                            {{'Doc' | localize}}</a>
                                                    </li> -->
                                                        <li>
                                                            <a href="javascript:;" (click)="installerContractModal.show(record.id)">
                                                                <i class="las la-edit"></i> {{'Doc' | localize}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td style="width: 150px">
                                                <!-- <span class="ui-column-title"> {{'UserName' | localize}}</span> -->
                                                <span>
                                                    <!-- <a [href]="record.profilePictureUrl" target="_blank">
                                                        <img class="img-circle" [src]="record.profilePictureUrl">
                                                    </a> -->
                                                    <span class="d-flex align-items-center"><i class="las la-user fs-22 mr-2"></i> {{record.userName}}</span>
                                                </span>
                                            </td>
                                            <td style="width: 140px">
                                                <!-- <span class="ui-column-title"> {{'Name' | localize}}</span>  -->
                                                {{record.name}}
                                            </td>
                                            <td style="width: 140px">
                                                <!-- <span class="ui-column-title"> {{'Surname' | localize}}</span>  -->
                                                {{record.surname}}
                                            </td>
                                            <!-- <td style="width: 150px">
                                            <span class="ui-column-title"> {{'Roles' | localize}}</span>
                                            {{getRolesAsString(record.roles)}}
                                        </td> -->
                                            <td style="width:200px" class="lower_text">
                                                <!-- <span class="ui-column-title"> {{'EmailAddress' | localize}}</span> -->
                                                <span> {{record.emailAddress}}</span>
                                            </td>
                                            <td style="width: 145px; text-align: center;">
                                                <!-- <span class="ui-column-title"> {{'EmailConfirm' | localize}}</span> -->
                                                <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.isEmailConfirmed">{{'Yes' | localize}}</span>
                                                <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.isEmailConfirmed">{{'No' | localize}}</span>
                                            </td>
                                            <td style="width: 95px;text-align:center;">
                                                <!-- <span class="ui-column-title"> {{'Active' | localize}}</span> -->
                                                <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.isActive">{{'Yes' | localize}}</span>
                                                <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.isActive">{{'No' | localize}}</span>
                                            </td>
                                            <td style="width:127px">
                                                <!-- <span class="ui-column-title"> {{'CreationTime' | localize}}</span>  -->
                                                {{record.creationTime | momentFormat:'L'}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{'NoData' | localize}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getUsers($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">

                                    </p-paginator>
                                    <!-- <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span> -->
                                    <span class="total-records-count">
                                        showing {{firstrowcount}}
                                        To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                            </div>
                            <!--<Primeng-TurboTable-End>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <createOrEditInstallerModal #createOrEditInstallerModal (modalSave)="getUsers()"></createOrEditInstallerModal>
        <editInstallerPermissionsModal #editInstallerPermissionsModal></editInstallerPermissionsModal>
        <manage-entity-dynamic-parameter-values-modal #dynamicParametersModal>
        </manage-entity-dynamic-parameter-values-modal>
        <!-- <organizationDoc #organizationDoc></organizationDoc> -->
        <installerContractModal #installerContractModal></installerContractModal>

    </div>
</div>