.ui-autocomplete-multiple-container.ui-inputtext {
  border: 0px!important;
  padding-left: 0px!important;
  outline: none!important;
}
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-input-token,
body .ui-autocomplete.ui-autocomplete-multiple .ui-autocomplete-multiple-container .ui-autocomplete-input-token input {
  width: 100%!important;
}
.kt-portlet__body .searcharea .col-md-3,
.kt-portlet__body .searcharea .col-md-2,
.kt-portlet__body .searcharea .col-md-4 {
  padding-left: 10px!important;
  padding-right: 10px!important;
}
.kt-portlet__body .searcharea .col-md-3.pl-0 {
  padding-left: 0px!important;
}
.kt-portlet__body .searcharea .kt-checkbox-list {
  margin-top: 0px!important;
}
.kt-portlet__body .searcharea .kt-checkbox-list label {
  margin-bottom: 0px!important;
  margin-top: 0px!important;
}
.kt-portlet__body .searcharea .kt-checkbox {
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}
.kt-portlet__body .searcharea .setpermission {
  margin-top: 0px;
  width: 180px;
}
.kt-portlet__body .searcharea .setpermission .btn-default {
  background: #d0d0d0 !important;
  border: 1px solid #d0d0d0 !important;
  border-radius: 0.2rem !important;
  padding: 6px 16px;
}
.kt-portlet__body .searcharea .setpermission .btn-default:hover {
  background: #bbbbbb !important;
}
.kt-portlet__body .searcharea .setpermission .modal-footer .btn-default {
  background: orange!important;
  border: 1px solid orange!important;
  border-radius: 0.2rem !important;
  padding: 6px 16px;
}
.kt-portlet__body .searcharea .setpermission .modal-footer .btn-default:hover {
  background: orange!important;
}
.kt-portlet__body .searcharea .wdth200 {
  width: 170px;
  max-width: 170px;
}
.kt-portlet__body .searcharea .wdth150 {
  width: 130px;
  max-width: 130px;
}
.kt-portlet__body .rolefilter .form-control {
  background: none!important;
  margin-bottom: 0px!important;
}
