﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #jobRefundForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="jobRefund.id">{{l("EditJobRefund")}} - {{leadCompanyName}} - {{jobNumber}}</span>
                        <span *ngIf="!jobRefund.id">{{l("CreateNewJobRefund")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="formcontainer">
                            <ul>
                                <!-- <li class="col-md-3">
									<div class="form-group">
										<label for="PaymentOptionName">{{l("PaymentOption")}}</label>
										<select name="jobRefund.paymentOptionId" [(ngModel)]="jobRefund.paymentOptionId" class="form-control" >
											<option value="">{{l("SelectAPaymentOption")}}</option>
											<option *ngFor="let item of allPaymentOptions" value="{{item.id}}">{{item.displayName}}</option>
										</select>
									</div>
								</li>  -->
                                <li class="col-md-3">
                                    <div class="form-group">
                                        <label for="RefundReasonName">{{l("RefundReason")}}</label>
                                        <select name="jobRefund.refundReasonId" [(ngModel)]="jobRefund.refundReasonId" class="form-control">
											<option value="">{{l("SelectARefundReason")}}</option>
											<option *ngFor="let item of allRefundReasons" value="{{item.id}}">{{item.displayName}}</option>
										</select>
                                        <!-- <span class="icon-box"><i class="las la-donate"></i></span> -->
                                    </div>
                                </li>
                                <li class="col-md-4">
                                    <div class="form-group">
                                        <label for="RefundReasonName">Payment Type</label>
                                        <select name="jobRefund.refundPaymentType" required [(ngModel)]="jobRefund.refundPaymentType" class="form-control" (change)="checkReq($event)" >
                                            <option value="">Select</option>
                                            <option value="EFT">EFT</option>
                                            <option value="CC">CC</option>
                                        </select>
                                        <!-- <span class="icon-box"><i class="las la-hand-holding-usd"></i></span> -->
                                    </div>
                                </li>
                                <li class="col-md-3">
                                    <div class="form-group">
                                        <label for="JobRefundAmount">{{l("Amount")}}</label>
                                        <input type="number" id="JobRefundAmount" class="form-control" [(ngModel)]="jobRefund.amount" name="Amount" required/>
                                    </div>
                                </li>
                                <li class="col-md-3" *ngIf="req">
                                    <div class="form-group">
                                        <label for="JobRefundBankName">{{l("BankName")}} *</label>
                                        <input type="text" id="JobRefundBankName" class="form-control" [(ngModel)]="jobRefund.bankName" name="BankName" [required]="req"/>
                                    </div>
                                </li>
                                <li class="col-md-3" *ngIf="req">
                                    <div class="form-group" >
                                        <label for="JobRefundAccountName">{{l("AccountName")}}</label>
                                        <input type="text" id="JobRefundAccountName" class="form-control" [(ngModel)]="jobRefund.accountName" name="AccountName" [required]="req"/>
                                    </div>
                                </li>
                                <li class="col-md-3" *ngIf="req">
                                    <div class="form-group">
                                        <label for="JobRefundBSBNo">{{l("BSBNo")}}</label>
                                        <input type="text" id="JobRefundBSBNo" class="form-control" [(ngModel)]="jobRefund.bsbNo" name="BSBNo" [required]="req"/>
                                    </div>
                                </li>
                                <li class="col-md-3" *ngIf="req">
                                    <div class="form-group">
                                        <label for="JobRefundAccountNo">{{l("AccountNo")}} *</label>
                                        <input type="text" id="JobRefundAccountNo" class="form-control" [(ngModel)]="jobRefund.accountNo" name="AccountNo" [required]="req"/>
                                    </div>
                                </li>
                                <li class="col-md-12" *ngIf="req">
                                    <div class="form-group">
                                        <label for="JobRefund_Notes">{{l("Notes")}}</label>
                                        <!-- <input type="text" id="JobRefund_Notes" class="form-control" [(ngModel)]="jobRefund.notes" name="Notes" /> -->
                                        <textarea id="JobRefund_Note" class="form-control notesarea" [required]="req" [(ngModel)]="jobRefund.notes" name="Notes"></textarea>
                                    </div>
                                </li>
                                <!-- <li class="col-md-3">
									<div class="form-group">
										<label for="JobRefund_PaidDate">{{l("PaidDate")}}</label>
										<input class="form-control daterangebox m-input" type="datetime" bsDatepicker [bsConfig]="{ customTodayClass: 'today' }" datePickerMomentModifier [(date)]="jobRefund.paidDate" id="JobRefund_PaidDate" name="JobRefund_PaidDate">
									</div>
								</li> 
								<li class="col-md-3">
									<div class="form-group">
										<label for="JobRefund_Remarks">{{l("Remarks")}}</label>
										<input type="text" id="JobRefund_Remarks" class="form-control" [(ngModel)]="jobRefund.remarks" name="Remarks"    />
									</div>
								</li>  -->
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary blue" [disabled]="!jobRefundForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="la la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>