﻿<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }

        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 100%;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("JobRefunds")}}</span>
                        <span class="total-records-count">
                            ({{primengTableHelper.totalRecordsCount}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i
                            class="las la-filter"></i></a>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter"
                    [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div
                            class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh"
                                        (click)="getJobRefunds();RereshLog();"></button></li>
                                <li *ngIf="permission.isGranted('Pages.Leads.Export')">
                                    <div class="btn-group btnexceldropdown leadbtnexcel " dropdown>
                                        <button dropdownToggle type="button"
                                            class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <!-- <i class="far fa-file-excel"></i> -->
                                            <!-- {{"ExcelOperations" | localize}} -->
                                            {{l("Export")}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations"
                                            *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton"
                                                (click)="exportToExcel(1)" href="javascript:;"
                                                *ngIf="'Pages.Tracker.RefundTracker.Export' | permission">
                                                <!-- <i class="fa fa-download" style="font-size: 1rem;"></i> -->
                                                {{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton"
                                                (click)="exportToExcel(2)" href="javascript:;"
                                                *ngIf="'Pages.Tracker.RefundTracker.Export' | permission">
                                                {{l("ExportCSV")}}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control"
                                                [(ngModel)]="organizationUnit"
                                                (change)="changeOrgCode();getJobRefunds();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="applicationstatus" [(ngModel)]="applicationstatus"
                                                class="form-control"
                                                (change)="getJobRefunds();addSearchLog('Filter Application Status');">
                                                <option value="0">{{l("All")}}</option>
                                                <option value="1">{{l("Refunded")}}</option>
                                                <option value="2">{{l("Pending")}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="IsVerify" [(ngModel)]="isVerify" class="form-control"
                                                (change)="getJobRefunds();addSearchLog('Filter VerifyOrNot');">
                                                <option [ngValue]="undefined">{{l("All")}}</option>
                                                <option value="false">Not Verify</option>
                                                <option value="true">Verify</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                                <option value="Phone">Phone</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox apptrackeradv">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'"
                                                style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }"
                                                class="form-control" placeholder="{{filterName}}"
                                                [(ngModel)]="filterText"
                                                (keydown.enter)="getJobRefunds();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <!-- <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" placeholder="{{filterName}}" type="text" (keydown.enter)="getJobRefunds($event)"> -->
                                            <a class="btnclearsearch" *ngIf="filterText"
                                                (click)="filterText='';getJobRefunds()"></a>
                                            <button type="button" class="btnsearch"
                                                (click)="getJobRefunds();addSearchLog('Filter' + filterName +  ' : ' + filterText);"
                                                type="submit">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter"
                                                (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}"
                                            class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">

                                                    <ul>
                                                        <!-- <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="salesManagerId" (keydown.enter)="getJobRefunds($event)" name="salesManagerId">
                                                                    <option value="0">{{l("SelectSalesManager")}}
                                                                    </option>
                                                                    <option *ngFor="let item of filteredManagers"
                                                                        value="{{item.id}}">{{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li> -->
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="salesRepId"
                                                                    (keydown.enter)="getJobRefunds();addSearchLog('Advanced Filter');"
                                                                    name="salesRepId">
                                                                    <option value="0">{{l("SelectSalesRep")}}</option>
                                                                    <option *ngFor="let item of filteredReps"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control"
                                                                    [(ngModel)]="refundPaymentType"
                                                                    (keydown.enter)="getJobRefunds();addSearchLog('Advanced Filter');"
                                                                    name="refundPaymentType">
                                                                    <option value="">ALL</option>
                                                                    <option value="EFT">EFT</option>
                                                                    <option value="CC">CC</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <!-- <li>
                                                                <div class="form-group m-form__group">
                                                                    <select name="jobStatusID" class="form-control"
                                                                        [(ngModel)]="jobStatusID" (keydown.enter)="getJobRefunds($event)">
                                                                        <option value="0">{{l("AllJobStatus")}}</option>
                                                                        <option *ngFor="let item of alljobstatus" value="{{item.id}}">
                                                                            {{item.displayName}}</option>
                                                                    </select>
                                                                </div>
                                                            </li> -->
                                                        <li>
                                                            <div class="form-group m-form__group jobmultipleselect">
                                                                <ng-select [items]="alljobstatus" [multiple]="true"
                                                                    bindLabel="displayName" [closeOnSelect]="false"
                                                                    bindValue="id" placeholder="Select JobStatus"
                                                                    [(ngModel)]="jobStatusID" name="jobStatusID">
                                                                    <ng-template ng-option-tmp let-item="item"
                                                                        let-item$="item$" let-index="index">
                                                                        <input id="item-{{index}}" type="checkbox"
                                                                            [ngModel]="item$.selected"
                                                                            name="item-{{index}}" />
                                                                        {{item.displayName}}
                                                                    </ng-template>
                                                                </ng-select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="jobRefundID" class="form-control"
                                                                    [(ngModel)]="jobRefundID"
                                                                    (keydown.enter)="getJobRefunds();addSearchLog('Advanced Filter');">
                                                                    <option value="0">{{l("AllRefundReason")}}</option>
                                                                    <option *ngFor="let item of allRefundReason"
                                                                        value="{{item.id}}">{{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control"
                                                                    (keydown.enter)="getJobRefunds();addSearchLog('Advanced Filter');"
                                                                    [(ngModel)]="stateFilter" name="stateFilter">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" id="areaNameFilter"
                                                                    name="areaNameFilter" [(ngModel)]="areaNameFilter"
                                                                    (keydown.enter)="getJobRefunds();addSearchLog('Advanced Filter');">
                                                                    <option value="">Select Area</option>
                                                                    <option value="Metro">Metro</option>
                                                                    <option value="Regional">Regional</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateType"
                                                                    (keydown.enter)="getJobRefunds();addSearchLog('Advanced Filter');"
                                                                    name="DateType">
                                                                    <option value="Receive">{{l("ReceivedDate")}}
                                                                    </option>
                                                                    <option value="Complete">{{l("CompletedDate")}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier
                                                                placeholder="Start Date" name="SampleDatePicker"
                                                                [(date)]="startDate"
                                                                [bsConfig]="{ customTodayClass: 'today' }"
                                                                class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate"
                                                                (click)="startDate=null"><i
                                                                    class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier
                                                                placeholder="End Date" name="SampleDatePicker"
                                                                [(date)]="endDate"
                                                                [bsConfig]="{ customTodayClass: 'today' }"
                                                                class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate"
                                                                (click)="endDate=null"><i
                                                                    class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <!-- <li>
                                                            <input name="SampleDateRangePicker" type="text" class="form-control daterangebox" [(ngModel)]="sampleDateRange" (keydown.enter)="getJobRefunds($event)" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }"
                                                                [(date)]="sampleDateRange" />
                                                        </li> -->
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53"
                                                                (click)="clear()"><i
                                                                    class="fa fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53"
                                                                (click)="getJobRefunds();addSearchLog('Advanced Filter');">
                                                                <i class="fa fa-search"></i>
                                                                {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                        <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}"
                            class="kt-advancefilterbox-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blue-filter-box" [hidden]="!FiltersData" *ngIf="permission.isGranted('Pages.WholeSale.Action')">
            <div class="d-flex align-items-center justify-content-end dis-column" style="width:100%;">
                <div class="d-flex align-items-center dis-column">
                    <button [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary btn-sm" (click)="submit()">
                        Download
                    </button>
                </div>
                <div class="recordsSelect">
                    <h2>Selected Records <span>{{count}}</span></h2>
                </div>
            </div>
        </div>
        
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{total}}- ${{totalAmt}}</span><label>{{l("Total")}}</label></li>
                    <li><span>{{totalPending}}- ${{totalPendingAmt}}</span><label>{{l("Pending")}}</label></li>
                    <li><span>{{totalRefunded}}- ${{totalRefundedAmt}}</span><label>{{l("Refunded")}}</label></li>
                </ul>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row"
                        [ngClass]="{'unselectable': ('Pages.Tracker.RefundTracker.EnableCopyPaste' | permission)}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol col-12 scroll scroll-pull "
                            [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }"
                            [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobRefunds($event)"
                                [value]="primengTableHelper.records" selectionMode="single"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobRefunds($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="p-frozen-column checkboxhead" style="width:40px" [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.Download')">
                                            <div class="kt-checkbox-list" style="padding: 0px 8px!important;">
                                                <label for="lead_id" class="kt-checkbox">
                                                    <input type="checkbox" id="lead_id" name="all"
                                                        [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th class="actionwidth text-center p-frozen-column"
                                            [hidden]="!(['Pages.Tracker.RefundTracker.Refund','Pages.Tracker.RefundTracker.Notify','Pages.Tracker.RefundTracker.SMS','Pages.Tracker.RefundTracker.Email','Pages.Tracker.RefundTracker.QuickView','Pages.Tracker.RefundTracker.Delete'] | permissionAny)">
                                            {{l('Actions')}}</th>
                                        <th style="width: 150px; left:135px !important;" class="p-frozen-column"
                                            pSortableColumn="jobFk.Jobnumber">
                                            {{l('Project')}}
                                            <p-sortIcon field="jobNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 180px" pSortableColumn="jobFk.leadFk.companyName"
                                            [hidden]="!ExpandedView">
                                            {{l('CompanyName')}}
                                            <p-sortIcon field="companyName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="creationTime"
                                            [hidden]="!ExpandedView">
                                            {{l('Refund Request')}}
                                            <p-sortIcon field="creationTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" [hidden]="!ExpandedView">
                                            {{l('Verify By')}}
                                            <!-- <p-sortIcon field="creationTime"></p-sortIcon> -->
                                        </th>
                                        <th style="width: 150px" pSortableColumn="amount" [hidden]="!ExpandedView">
                                            Amount Requested
                                            <p-sortIcon field="amount"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" pSortableColumn="amount" [hidden]="!ExpandedView">
                                            {{l('Amount')}}
                                            <p-sortIcon field="amount"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="paidAmount" [hidden]="!ExpandedView">
                                            Paid Amount
                                            <p-sortIcon field="paidAmount"></p-sortIcon>
                                        </th>
                                        <th style="width: 120px" pSortableColumn="bsbNo" [hidden]="!ExpandedView">
                                            {{l('BSBNo')}}
                                            <p-sortIcon field="bsbNo"></p-sortIcon>
                                        </th>
                                        <th style="width: 140px" pSortableColumn="accountNo" [hidden]="!ExpandedView">
                                            {{l('AccountNo')}}
                                            <p-sortIcon field="accountNo"></p-sortIcon>
                                        </th>
                                        <th style="width:200px" [hidden]="!ExpandedView">
                                            {{l('CurrentLeadOwaner')}}

                                        </th>
                                        <th style="width: 180px" pSortableColumn="RefundPaymentType"
                                            [hidden]="!ExpandedView">
                                            {{l('PaymentType')}}
                                            <p-sortIcon field="PaymentType"></p-sortIcon>
                                        </th>
                                        <th style="width: 180px" pSortableColumn="refundReasonFk.name"
                                            [hidden]="!ExpandedView">
                                            {{l('RefundReason')}}
                                            <p-sortIcon field="refundReasonName"></p-sortIcon>
                                        </th>
                                        <th style="width: 180px" pSortableColumn="Notes" [hidden]="!ExpandedView">
                                            {{l('RefundNotes')}}
                                            <p-sortIcon field="record.refundNotes"></p-sortIcon>
                                        </th>
                                        <th style="width: 180px" [hidden]="!ExpandedView">
                                            {{l('PaymentOptions')}}
                                            <!-- <p-sortIcon field="paymentOptionName"></p-sortIcon> -->
                                        </th>
                                        <!-- <th style="width: 180px" pSortableColumn="jobRefundtype" [hidden]="!ExpandedView">
                                            {{l('refundType')}}
                                            <p-sortIcon field="jobRefundtype"></p-sortIcon>
                                        </th> -->
                                        <th style="width: 150px" pSortableColumn="paidDate" [hidden]="!ExpandedView">
                                            {{l('PaidDate')}}
                                            <p-sortIcon field="paidDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 210px" [hidden]="!ExpandedView">
                                            {{l('PreviousProjectStatus')}}
                                        </th>
                                        <th style="width: 210px" [hidden]="!ExpandedView">
                                            {{l('CurrentProjectStatus')}}
                                        </th>
                                        <th style="width: 150px; text-align:center;" pSortableColumn="jobRefundSmsSend"
                                            [hidden]="!ExpandedView">
                                            {{l('SmsSend')}}

                                            <p-sortIcon field="jobRefundSmsSend"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px; text-align:center;"
                                            pSortableColumn="jobRefundEmailSend" [hidden]="!ExpandedView">
                                            {{l('EmailSend')}}
                                            <p-sortIcon field="jobRefundEmailSend"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" [hidden]="!ExpandedView">
                                            {{l('CreatedBy')}}
                                        </th>

                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Reminder')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record"
                                        [ngClass]="{'leadSelection': SelectedLeadId === record.leadId}">
                                        <td class="p-frozen-column" style="width:40px" [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.Download')">
                                            <div class="kt-checkbox-list set_new6 set_new2"
                                                style="padding: 0px 8px!important;" *ngIf="record.verifyornot == true">
                                                <label for="{{record.id}}"
                                                    class="kt-checkbox">
                                                    <input type="checkbox"
                                                        id="{{record.id}}"
                                                        name="recordSource"
                                                        [(ngModel)]="record.isSelect"
                                                        (change)="oncheckboxCheck()" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="actionwidth p-frozen-column" style="text-align: center; width:95px;"
                                            [hidden]="!(['Pages.Tracker.RefundTracker.Refund','Pages.Tracker.RefundTracker.Notify','Pages.Tracker.RefundTracker.SMS','Pages.Tracker.RefundTracker.Email','Pages.Tracker.RefundTracker.QuickView','Pages.Tracker.RefundTracker.Delete'] | permissionAny)">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li
                                                        [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.QuickView')">
                                                        <a href="javascript:;"
                                                            (click)="viewApplicationModal.show(record.jobId,0,'Refund Tracker')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.Refund')"
                                                        *ngIf="record.verifyornot == true">
                                                        <a href="javascript:;"
                                                            (click)="jobrefundModal.show(record.id,4,'Refund Tracker')">
                                                            <i class="las la-hand-holding-usd"></i> {{l('Refund')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.Verify')"
                                                        *ngIf="record.verifyornot != true">
                                                        <a href="javascript:;"
                                                            (click)="verifyorNotVerifyJobRefund(record.id, true, 'Verify')">
                                                            <i class="lar la-check-circle"></i> {{l('Verify')}}

                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.NotVerify')"
                                                        *ngIf="record.verifyornot == true">
                                                        <a href="javascript:;"
                                                            (click)="verifyorNotVerifyJobRefund(record.id, false, 'NotVerify')">
                                                            <i class="las la-ban"></i> {{l('NotVerify')}}

                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.Notify')">
                                                        <a
                                                            (click)="notifyModel.show(record.leadId,4,0,'Refund Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,9,0,4,record.id)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <li
                                                        [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.Reminder')">
                                                        <a
                                                            (click)="ReminderModal.show(record.leadId,4,0,'Refund Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,8,0,4,record.id)"> -->
                                                            <i class="las la-stopwatch"></i> Reminder
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.Comment')">
                                                        <a
                                                            (click)="commentModel.show(record.leadId,4,0,'Refund Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,24,0,4,record.id)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.ToDo')">
                                                        <a (click)="todoModal.show(record.leadId,4,0,'Refund Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,25,0,4,record.id)"> -->
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.SMS')">
                                                        <a
                                                            (click)="smsModel.show(record.leadId,4,record.id,'Refund Tracker')">
                                                            <!-- <a (click)="jobRefundTrackerSmsEmailModel.show(record.leadId,1,4,record.id)"> -->
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.Email')">
                                                        <a
                                                            (click)="emailModel.show(record.leadId,4,record.id,0,'Refund Tracker')">
                                                            <!-- <a (click)="jobRefundTrackerSmsEmailModel.show(record.leadId,2,4,record.id)"> -->
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.Delete')">
                                                        <a href="javascript:;"
                                                            *ngIf="permission.isGranted('Pages.JobRefunds.Delete')"
                                                            (click)="deleteJobRefund(record.id)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.RefundTracker.Download')"
                                                        *ngIf="record.verifyornot == true">
                                                        <a (click)="refundPDF(record.id,record.jobNumber)">
                                                            <!-- <a (click)="jobRefundTrackerSmsEmailModel.show(record.leadId,2,4,record.id)"> -->
                                                            <i class="las la-envelope"></i> {{l('Download')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width: 150px; left:135px !important;" class="p-frozen-column"
                                            (click)="navigateToLeadDetail(record.leadId);">
                                            {{record.jobNumber}}
                                        </td>
                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            {{record.companyName}}
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.creationTime |
                                                momentFormat:'L'}}</span>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.verifyBy}}
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">${{record.totalAmountRequested | number
                                                : '1.2-2'}}</span>

                                        </td>
                                        <td style="width:100px" [hidden]="!ExpandedView">
                                            <!-- <span [ngClass]="{'badge badge-danger': record.paidDate == null, 'badge badge-success' : record.paidDate != null }">${{record.amount}}</span> -->
                                            <!-- <span [ngClass]="{'badge badge-danger': record.paidDate == null, 'badge badge-success' : record.paidDate != null }">${{record.amount | number : '1.2-2'}}</span> -->
                                            <div class="badge badge-success d-flex align-items-center"
                                                *ngIf="record.paidDate != null">
                                                <span>${{record.amount | number : '1.2-2'}}</span>
                                            </div>
                                            <div class="badge badge-danger d-flex align-items-center"
                                                *ngIf="record.paidDate == null">
                                                <span>${{record.amount | number : '1.2-2'}}</span>
                                            </div>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <!-- <span [ngClass]="{'badge badge-danger': record.paidDate == null, 'badge badge-success' : record.paidDate != null }">${{record.amount}}</span> -->
                                            <!-- <span [ngClass]="{'badge badge-danger': record.paidDate == null, 'badge badge-success' : record.paidDate != null }">${{record.amount | number : '1.2-2'}}</span> -->
                                            <div class="badge badge-success d-flex align-items-center"
                                                *ngIf="record.paidDate != null && record.paidAmount != null">
                                                <span>${{record.paidAmount | number : '1.2-2'}}</span>
                                            </div>
                                            <div class="badge badge-danger d-flex align-items-center"
                                                *ngIf="record.paidDate == null && record.paidAmount == null">
                                                <span>${{record.paidAmount | number : '1.2-2'}}</span>
                                            </div>
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.bsbNo}}</span>
                                        </td>
                                        <td style="width:140px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.accountNo}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.currentLeadOwaner}}
                                        </td>
                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.PaymentType"><span
                                                    class="badge badge-secondary">{{record.paymentType}}</span></span>
                                        </td>
                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.refundReasonName">{{record.refundReasonName}}</span>
                                        </td>
                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.refundNotes"><span
                                                    class="badge badge-secondary">{{record.refundNotes}}</span></span>
                                        </td>
                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            {{record.paymentOptionName}}
                                        </td>
                                        <!-- <td style="width:180px" [hidden]="!ExpandedView">
                                            {{record.jobRefundtype}}
                                        </td> -->
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <span *ngIf="record.paidDate">
                                                <span class="badge badge-secondary">{{record.paidDate |
                                                    momentFormat:'L'}}</span>
                                            </span>
                                            <!-- <span *ngIf="!record.paidDate">-</span> -->
                                        </td>
                                        <td style="width:210px" [hidden]="!ExpandedView">
                                            <!-- {{record.previousProjectStatus}} -->
                                            <span class="badge badge-secondary">{{record.previousProjectStatus}}</span>
                                        </td>
                                        <td style="width:210px" [hidden]="!ExpandedView">
                                            <!-- {{record.projectStatus}} -->
                                            <span class="{{record.jobStatusColorClass}}">{{record.projectStatus}}</span>
                                        </td>
                                        <td style="width:150px; text-align:center;" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title" ngif> {{l('SmsSend')}}</span> -->
                                            <Span *ngIf="record.jobRefundSmsSend == 1" [tooltip]="record.jobRefundSmsSendDate | momentFormat:'DD-MM-YYYY
                                                HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success"> {{l("Yes")}}
                                            </Span>
                                            <Span *ngIf="record.jobRefundSmsSend != 1" [tooltip]="record.jobRefundSmsSendDate | momentFormat:'DD-MM-YYYY
                                                HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}}
                                            </Span>
                                        </td>
                                        <td style="width:150px; text-align:center;" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title" ngif> {{l('EmailSend')}}</span> -->
                                            <Span *ngIf="record.jobRefundEmailSend == 1" [tooltip]="record.jobRefundEmailSendDate | momentFormat:'DD-MM-YYYY
                                                HH:mm:ss'" class="kt-badge kt-badge--success tooltipcnt"> {{l("Yes")}}
                                            </Span>
                                            <Span *ngIf="record.jobRefundEmailSend != 1" [tooltip]="record.jobRefundEmailSendDate | momentFormat:'DD-MM-YYYY
                                                HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}}
                                            </Span>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.requestedBy}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.activityReminderTime}}</span>
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span
                                                    [tooltip]="record.activityDescription">{{record.activityDescription}}</span>
                                            </div>
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span
                                                    [tooltip]="record.activityComment">{{record.activityComment}}</span>
                                            </div>
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getJobRefunds($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}}
                                    Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <!-- <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <viewJobRefundModal #viewJobRefundModal></viewJobRefundModal>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <jobrefundModal #jobrefundModal (modalSave)="reloadPage($event)"></jobrefundModal>
        <!-- <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal> -->
        <!-- <jobRefundTrackerSmsEmailModel #jobRefundTrackerSmsEmailModel (modalSave)="getJobRefunds()">
        </jobRefundTrackerSmsEmailModel> -->
        <smsModel #smsModel></smsModel>
        <emailModel #emailModel></emailModel>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="getJobRefunds()"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="getJobRefunds()"></ReminderModal>
    </div>
</div>