﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("Amount")}} :</h6>
                        {{ item.jobRefund.amount }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BankName")}} :</h6>
                        {{ item.jobRefund.bankName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AccountName")}} :</h6>
                        {{ item.jobRefund.accountName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BSBNo")}} :</h6>
                        {{ item.jobRefund.bsbNo }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("AccountNo")}} :</h6>
                        {{ item.jobRefund.accountNo }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("PaidDate")}} :</h6>
                        {{ item.jobRefund.paidDate | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Remarks")}} :</h6>
                        {{ item.jobRefund.remarks }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("PaymentOption")}}) {{l("Name")}} :</h6>
                        {{item.paymentOptionName}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("Job")}}) {{l("Note")}} :</h6>
                        {{item.jobNote}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>({{l("RefundReason")}}) {{l("Name")}} :</h6>
                        {{item.refundReasonName}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn  btn-secondary" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
