<style>
    .modal-body .card .card-body .pdrightxlzero li.wdth50w {
        width: calc(48.5% - 10px) !important;
    }
</style>
<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #jobmeterForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="job.id">Meter Application Details - {{leadCompanyName}} - {{jobNumber}}</span>

                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-info-circle fs-30 mr-2"></i>{{l('SiteDetail')}}</h3>
                        <div class="card card-custom card-stretch">
                            <div class="card-body sitedetailbox xlmin517">
                                <ul class="pdrightxlzero">
                                    <li>
                                        <div class="form-group form-icon">
                                            <label class="form-label">{{l('ElectDist')}}</label>
                                            <div class="padrightzero">
                                                <select name="elecDistId" #elecDistInput="ngModel" [(ngModel)]="job.elecDistributorId" class="form-control">
                                                    <option [ngValue]="undefined">{{l('SelectElecDistributors')}}
                                                    </option>
                                                    <option *ngFor="let item of jobElecDistributors"
                                                        value="{{item.id}}">{{item.displayName}}
                                                    </option>
                                                </select>
                                                <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                                <validation-messages [formCtrl]="elecDistInput">
                                                </validation-messages>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group form-icon">
                                            <label class="form-label">{{l('electricRetailer')}}</label>
                                            <div class="padrightzero">
                                                <select name="elecRetailerId" #elecRetailerInput="ngModel" [(ngModel)]="job.elecRetailerId" class="form-control">
                                                    <option [ngValue]="undefined">{{l('SelectElecRetailer')}}
                                                    </option>
                                                    <option *ngFor="let item of jobElecRetailers" value="{{item.id}}">
                                                        {{item.displayName}}
                                                    </option>
                                                    <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                                </select>
                                                <validation-messages [formCtrl]="elecRetailerInput">
                                                </validation-messages>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                      
                                        <div class="form-group form-icon">
                                            <label class="form-label">{{l('MeterUpgrades')}}</label>
                                            <div class="padrightzero">
                                                <select name="meterUpgradeId" #meterUpgradeInput="ngModel" disabled [(ngModel)]="job.meterUpgradeId" class="form-control">
                                                    <option>{{l('Select')}}</option>
                                                    <option value="1">{{l('Yes')}}</option>
                                                    <option value="2">{{l('No')}}</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                                <validation-messages [formCtrl]="meterUpgradeInput">
                                                </validation-messages>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group form-icon">
                                            <label class="form-label">{{l('NMINumber')}}
                                            </label>
                                            <div class="padrightzero">
                                                <input type="text" name="nminumber" #nminumberInput="ngModel" [(ngModel)]="job.nmiNumber" class="form-control" />
                                                <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                                <validation-messages [formCtrl]="nminumberInput">
                                                   
                                                </validation-messages>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group form-icon">
                                            <label class="form-label">{{l("PeakMeterNo")}}</label>
                                            <div>
                                                <input type="text" name="peakMeterNo" #peakMeterNoInput="ngModel" [(ngModel)]="job.peakMeterNo" class="form-control" />
                                                <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                                <validation-messages [formCtrl]="peakMeterNoInput">
                                                    
                                                </validation-messages>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group form-icon">
                                            <label class="form-label">{{l("OffPeakMeter")}}</label>
                                            <div>
                                                <input type="text" name="offPeakMeter" #offPeakMeterInput="ngModel" [(ngModel)]="job.offPeakMeter" class="form-control" />
                                                <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                                <validation-messages [formCtrl]="offPeakMeterInput">
                                                   
                                                </validation-messages>
                                                <!-- <select name="offPeakMeter" #offPeakMeterInput="ngModel" [(ngModel)]="job.offPeakMeter"  class="form-control">
                                                    <option>Select</option>
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select> -->
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group form-icon">
                                            <label class="form-label">Meter Phase
                                                1-2-3</label>
                                            <div>
                                                <select name="meterPhaseId" #meterPhaseInput="ngModel" [(ngModel)]="job.meterPhaseId" class="form-control">
                                                    <option [ngValue]="undefined">Select Meter Phase
                                                    </option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-broadcast-tower"></i></span>
                                                <validation-messages [formCtrl]="meterPhaseInput">
                                                </validation-messages>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group form-icon">
                                            <label class="form-label">{{l('LotNumber')}}</label>
                                            <div class="padrightzero">
                                                <input type="text" name="lotNumber" #lotNumberInput="ngModel" [(ngModel)]="job.lotNumber" class="form-control" />
                                                <span class="icon-box"><i class="las la-edit"></i></span>
                                                <validation-messages [formCtrl]="lotNumberInput">
                                                    
                                                </validation-messages>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group form-icon">
                                            <label class="form-label">{{l('RegPlanNo')}}</label>
                                            <div class="padrightzero">
                                                <input type="text" name="regPlanNo" #regPlanNoInput="ngModel" [(ngModel)]="job.regPlanNo" class="form-control" />
                                                <span class="icon-box"><i class="las la-edit"></i></span>
                                                <validation-messages [formCtrl]="regPlanNoInput">
                                                </validation-messages>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-tachometer-alt fs-30 mr-2"></i>Meter Details</h3>
                        <div class="card card-custom card-stretch">
                            <div class="card-body sitedetailbox xlmin517">
                                <ul class="pdrightxlzero">
                                    <li>
                                        <div class="form-group form-icon">
                                            <label for="meterapplyref">Meter Apply Ref</label>
                                            <input type="text" id="meterapplyref" class="form-control" required [(ngModel)]="job.meterApplyRef" name="meterapplyref" />
                                            <span class="icon-box"><i class="las la-edit"></i></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group form-icon">
                                            <label for="inspectorname">Inspector Name</label>
                                            <input type="text" id="inspectorname" class="form-control" [(ngModel)]="job.inspectorName" name="inspectorname" />
                                            <span class="icon-box"><i class="las la-user"></i></span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label for="InspectionDate">Meter Applied Ref Date</label>
                                            <input id="InspectionDate" type="text" [(ngModel)]="job.inspectionDate" name="InspectionDate" class="form-control daterangebox" bsDatepicker datePickerMomentModifier [(date)]="job.inspectionDate" required [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" />
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-info-circle fs-30 mr-2"></i>{{l("DistributorApplicableDetail")}}</h3>
                        <div class="card card-custom card-stretch mt-3">
                            <div class="card-body">
                                <ul class="pdrightxlzero">
                                    <li>
                                        <div class="form-group">
                                            <label for="distapplied">{{l("DistApplied")}}</label>
                                            <input type="text" bsDatepicker datePickerMomentModifier required [(ngModel)]="job.distApplied" name="distapplied" [bsConfig]="{ customTodayClass: 'today' }" [(date)]="job.distApplied" disabled class="form-control daterangebox" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label for="approvalref">{{l("ApprovalRef")}}</label>
                                            <input id="job.approvalref" class="form-control" disabled [(ngModel)]="job.applicationRefNo" name="approvalref" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label class="form-label">{{l("DistSelectedBy")}}</label>
                                            <div class="padrightzero">
                                                <select name="distapproveby" disabled [(ngModel)]="job.distApproveBy" class="form-control">
                                                    <option [ngValue]="0">{{l("PleaseSelectUser")}}
                                                    </option>
                                                    <option *ngFor="let item of allUsers" value="{{item.id}}">
                                                        {{item.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="form-group">
                                            <label for="distapprovaldate">{{l("DistApprovalDate")}}</label>
                                            <input type="text" bsDatepicker datePickerMomentModifier disabled name="distapprovaldate" [(ngModel)]="job.distApproveDate" [bsConfig]="{ customTodayClass: 'today' }" [(date)]="job.distApproveDate" class="form-control daterangebox" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label class="form-label">{{l("AppliedBy")}}</label>
                                            <div class="padrightzero">
                                                <select name="appliedby" disabled [(ngModel)]="job.appliedBy" class="form-control">
                                                    <option [ngValue]="0">{{l("PleaseSelectUser")}}</option>
                                                    <option *ngFor="let item of allUsers" value="{{item.id}}">
                                                        {{item.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label for="expiryDate">{{l("ExpiryDate")}}</label>
                                            <input type="text" bsDatepicker datePickerMomentModifier disabled [(ngModel)]="job.distExpiryDate" name="distExpiryDate" [bsConfig]="{ customTodayClass: 'today' }" [(date)]="job.distExpiryDate" class="form-control daterangebox" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label for="approvedCapacityonExport">{{l("ApprovedCapacityonExport")}}</label>
                                            <input type="number" name="approvedCapacityonExport" #distapprovaldateInput="ngModel" disabled [(ngModel)]="job.approvedCapacityonExport" class="form-control" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label for="approvedCapacityonNonExport">{{l("ApprovedCapacityonNonExport")}}</label>
                                            <input type="number" name="approvedCapacityonNonExport" #distapprovaldateInput="ngModel" disabled [(ngModel)]="job.approvedCapacityonNonExport" class="form-control" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label class="form-label">{{l("Employee")}}</label>
                                            <div class="padrightzero">
                                                <select name="employee" #employee="ngModel" disabled [(ngModel)]="job.empId" class="form-control">
                                                    <option [ngValue]="0">{{l("PleaseSelectUser")}}
                                                    </option>
                                                    <option *ngFor="let item of allUsers" value="{{item.id}}">
                                                        {{item.displayName}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="form-group">
                                            <label for="PaidAmount">{{l("PaidAmount")}}</label>
                                            <input id="job.paidAmount" class="form-control" disabled [(ngModel)]="job.paidAmmount" name="paidAmount" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label for="paidby">{{l("PaidBy")}}</label>
                                            <select class="form-control" [(ngModel)]="job.paidby" disabled id="job.paidby" name="paidby">
                                                <option value=1>{{l("Customer")}}</option>
                                                <option value=2>{{l("Company")}}</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label for="paidstaustype">{{l("PaidStatus")}}</label>
                                            <select class="form-control" [(ngModel)]="job.paidStatus" disabled id="job.paidstaustype" name="paidstaustype">
                                                <option value=1>{{l("Paid")}}</option>
                                                <option value=2>{{l("Pending")}}</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group">
                                            <label for="invrefno">{{l("InvRefNo")}}</label>
                                            <input id="item.job.invrefno" [required]="job.paidby == 2" disabled class="form-control" [(ngModel)]="job.invRefNo" name="invrefno" />
                                        </div>
                                    </li>


                                    <li>
                                        <div class="form-group">
                                            <label for="invpaiddate">{{l("InvPaidDate")}}</label>
                                            <input type="text" bsDatepicker datePickerMomentModifier name="invpaiddate" disabled [(ngModel)]="job.invPaidDate" [(date)]="job.invPaidDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                        </div>
                                    </li>
                                    <li style="margin-top:22px;">
                                        <div class="kt-checkbox-list flexbox meterdetailcheckbox">
                                            <label for="enoughMeterSpace" class="kt-checkbox">
                                                <input type="checkbox" id="enoughMeterSpace" disabled
                                                    [(ngModel)]="job.enoughMeterSpace" name="enoughMeterSpace" />
                                                <span></span>
                                                {{l("EnoughMeterSpace")}}
                                            </label>
                                        </div>
                                        <div class="kt-checkbox-list flexbox meterdetailcheckbox">
                                            <label for="isSystemOffPeak" class="kt-checkbox">
                                                <input type="checkbox" id="isSystemOffPeak" disabled
                                                    [(ngModel)]="job.isSystemOffPeak" name="isSystemOffPeak" />
                                                <span></span>
                                                {{l("InSystemOffPeak")}}
                                            </label>
                                        </div>
                                    </li>


                                    <li class="wdth50w">
                                        <div class="form-group">
                                            <label for="Notes">{{l("ProjectNotes")}}</label>
                                            <textarea id="job.ProjectNotes" disabled class="form-control" disabled [(ngModel)]="job.projectNotes" name="ProjectNotes"> </textarea>
                                        </div>
                                    </li>
                                    <li class="wdth50w">
                                        <div class="form-group">
                                            <label for="Notes">{{l("InstallerDepartmentNotes")}}</label>
                                            <textarea id="job.installationNotes" disabled class="form-control" disabled [(ngModel)]="job.installationNotes" name="installationNotes"> </textarea>
                                        </div>
                                    </li>
                                    <li class="wdth50w">
                                        <div class="form-group">
                                            <label for="Notes">{{l("InstallerNotes")}}</label>
                                            <textarea id="job.installerNotes" disabled class="form-control" disabled [(ngModel)]="job.installerNotes" name="installerNotes"> </textarea>
                                        </div>
                                    </li>
                                    <li class="wdth50w">
                                        <div class="form-group">
                                            <label for="Notes">{{l("OldSystemDetail")}}</label>
                                            <textarea id="job.oldSystemDetails" disabled class="form-control" disabled [(ngModel)]="job.oldSystemDetails" name="oldSystemDetails"> </textarea>
                                        </div>
                                    </li>
                                    <li class="wdth50w">
                                        <div class="form-group">
                                            <label for="Notes">{{l("ApplpicationNotes")}}</label>
                                            <textarea id="job.ApplicationNotes" class="form-control" disabled [(ngModel)]="job.applicationNotes" name="Notes"> </textarea>
                                        </div>
                                    </li>
                                    <li class="wdth50w">
                                        <div class="form-group">
                                            <label for="Notes">{{l("GridConnectionNotes")}}</label>
                                            <textarea id="job.gridConnectionNotes" class="form-control" [(ngModel)]="job.gridConnectionNotes" name="Notes"> </textarea>
                                        </div>
                                    </li>

                                    <!-- <li class="wdth100w">
                                        <div class="form-group col-md-6">
                                            <label for="metertime">Time</label>
                                            <input type="time" id="metertime" class="form-control"
                                                [(ngModel)]="job.meterTime" name="metertime" />
                                        </div>
                                    </li> -->


                                </ul>
                            </div>

                        </div>
                    </div>


                </div>


                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!jobmeterForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>