<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("GridConnectionTracker")}}</span>
                        <span class="total-records-count">
                            ({{(totalGrid)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getJobs();RereshLog();"></button></li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                                            
                                            {{l("Export")}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.Gridconnectiontracker.Export' | permission">
                                                <i class="las la-file-excel"></i>{{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;" *ngIf="'Pages.Gridconnectiontracker.Export' | permission">
                                                <i class="las la-file-csv"></i>{{l("ExportCSV")}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="gridConnectExportToExcel()" href="javascript:;" *ngIf="'Pages.Gridconnectiontracker.Export' | permission">
                                                <i class="las la-file-csv"></i>{{l("GridConnect")}}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getJobs();getInstaller();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" name="applicationstatus" id="applicationstatus" [(ngModel)]="applicationstatus" (change)="getJobs();addSearchLog('Filter Application Status');">
                                                <option value="0">{{l("all")}}</option>
                                                <option value="1">{{l("Awaiting")}}</option>
                                                <option value="2">{{l("Pending")}}</option>
                                                <option value="3">{{l("Complete")}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox advancesearch">
                                        <div class="kt-stextbox apptrackeradv">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getJobs()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <!-- <div  *ngIf="!show" class="kt-advancefilterbox"> -->
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform ">

                                                <form class="kt-form" autocomplete="off">

                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="stateNameFilter" name="stateNameFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value="">{{l("SelectAState")}}</option>
                                                                    <option *ngFor="let item of allStates" value="{{item.displayName}}">{{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="elecDistId" [(ngModel)]="elecDistributorId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" class="form-control">
                                                                    <option value="0">{{l("Select Elec Distibutor")}}</option>
                                                                    <option *ngFor="let item of jobElecDistributors" value="{{item.id}}">{{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group jobmultipleselect">
                                                                <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select JobStatus" [(ngModel)]="jobStatusIDFilter" name="jobStatusIDFilter">
                                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                                    </ng-template>
                                                                </ng-select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group selectdropdown alljobsdropdown m-form__group">
                                                                <select name="jobTypeId" [(ngModel)]="jobTypeId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" class="form-control" id="jobTypeId">
                                                                    <option value="0">{{l("Select Type")}}</option>
                                                                    <option *ngFor="let item of jobTypes"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group selectdropdown alljobsdropdown m-form__group">
                                                                <select class="form-control" [(ngModel)]="installerID" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="installerID">
                                                                    <option value="0">Select Installer</option>
                                                                    <option *ngFor="let item of InstallerList"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group selectdropdown alljobsdropdown m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateNameFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="dateNameFilter">
                                                                    <option value="All">{{l("All")}}</option>
                                                                    <option value="DepositeReceived">{{l("DepositDate")}}</option>
                                                                    <option value="ActiveDate">{{l("ActiveDate")}}</option>
                                                                    <option value="DistAppliExpiryDate">{{l("DistAppliExpiryDate")}}</option>
                                                                    <option value="InstallDate">{{l("InstallDate")}}</option>
                                                                    <option value="InstallCmpltDate">{{l("InstallCompleteDate")}}</option>
                                                                    <option value="MeterApplied">{{l("Meter Applied")}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <!-- <li>
                                                            <div class="form-group">
                                                                <input name="SampleDateRangePicker" type="text" (keydown.enter)="getJobs($event)" [(ngModel)]="sampleDateRange" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }"
                                                                    [(date)]="sampleDateRange" />
                                                            </div>
                                                        </li> -->
                                                        <li class="clear-date">
                                                            <input type="text" placeholder="NMI Number" name="nMINumber" class="form-control" [(ngModel)]="nMINumber" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="nMINumber" (click)="nMINumber=null"></a>
                                                        </li>
                                                        <li class="text-right fullwidth">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getJobs();addSearchLog('Advanced Filter');"><i class="fa fa-search ng-tns-c458-53"></i>{{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{totalGrid}}</span><label>{{l("Total")}}</label></li>
                    <li><span>{{awaitingGrid}}</span><label>{{l("Awaiting")}}</label></li>
                    <li><span>{{pendingGrid}}</span><label>{{l("Pending")}}</label></li>
                    <li><span>{{aprrovedGrid}}</span><label>{{l("Completed")}}</label></li>
                </ul>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero ">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.Tracker.Gridconnectiontracker.EnableCopyPaste' | permission)}">
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center p-frozen-column">
                                            {{l('Actions')}}</th>
                                        <th style="width: 130px; left:95px !important;" class="p-frozen-column" pSortableColumn="jobnumber">
                                            {{l('JobNumber')}}
                                            <p-sortIcon field="jobnumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 190px" pSortableColumn="jobTypeFk.name" [hidden]="!ExpandedView">
                                            {{l('JobType')}}
                                            <p-sortIcon field="jobType"></p-sortIcon>
                                        </th>
                                        <th style="width:150px" [hidden]="!ExpandedView" pSortableColumn="JobStatusFk.Name">
                                            {{l('JobStatus')}}
                                            <p-sortIcon field="JobStatus"></p-sortIcon>
                                        </th>
                                        <th style="width:180px" pSortableColumn="leadFk.companyName" [hidden]="!ExpandedView">
                                            {{l('CompanyName')}}
                                            <p-sortIcon field="leadCompanyName"></p-sortIcon>
                                        </th>
                                        <th style="width: 172px" pSortableColumn="InstallationDate" [hidden]="!ExpandedView">
                                            {{l('InstalledDate')}}
                                            <p-sortIcon field="InstallationDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="address" [hidden]="!ExpandedView">
                                            {{l('Address')}}
                                            <p-sortIcon field="address"></p-sortIcon>
                                        </th>
                                        <th style="width: 170px" [hidden]="!ExpandedView">
                                            {{l('InstallerName')}}
                                        </th>

                                        <th style="width: 200px" pSortableColumn="InstalledcompleteDate" [hidden]="!ExpandedView">
                                            {{l('InstalledCompleteDate')}}
                                            <p-sortIcon field="InstalledCompleteDate"></p-sortIcon>
                                        </th>
                                        <th style="width:190px" pSortableColumn="MeterApplyRef" [hidden]="!ExpandedView">
                                            {{l('MeterAppliedRefNo')}}
                                            <p-sortIcon field="meterAppliedRefNo"></p-sortIcon>
                                        </th>
                                        <th style="width:230px" pSortableColumn="InspectionDate" [hidden]="!ExpandedView">
                                            {{l('MeterAppliedDate')}}
                                            <p-sortIcon field="meterAppliedDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 220px" pSortableColumn="elecDistributorFk.name" [hidden]="!ExpandedView">
                                            {{l('ElecDistributorName')}}
                                            <p-sortIcon field="elecDistributorName"></p-sortIcon>
                                        </th>
                                        <th style="width: 190px" pSortableColumn="elecDistributorFk.name" [hidden]="!ExpandedView">
                                            {{l('ElecRetailerName')}}
                                            <p-sortIcon field="elecDistributorName"></p-sortIcon>
                                        </th>
                                        <th style="width:160px" pSortableColumn="DistApproveDate" [hidden]="!ExpandedView">
                                            {{l('DistApprovalDate')}}
                                            <p-sortIcon field="DistApproveDate"></p-sortIcon>
                                        </th>
                                        <th style="width:200px" pSortableColumn="DistExpiryDate" [hidden]="!ExpandedView">
                                            {{l('DistExpDate')}}
                                            <p-sortIcon field="DistExpiryDate"></p-sortIcon>
                                        </th>
                                        <th style="width:190px" pSortableColumn="ApplicationRefNo" [hidden]="!ExpandedView">
                                            {{l('AppRefNo')}}
                                            <p-sortIcon field="ApplicationRefNo"></p-sortIcon>
                                        </th>

                                        <th style="width:150px; text-align:center;" pSortableColumn="SystemCapacity" [hidden]="!ExpandedView">
                                            {{l('SystemCapacity')}}
                                            <p-sortIcon field="systemCapacity"></p-sortIcon>
                                        </th>

                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Reminder')}}
                                        </th>
                                        <th style="width: 120px; text-align:center;" pSortableColumn="GridConnectionSmsSend" [hidden]="!ExpandedView">
                                            {{l('SmsSend')}}
                                            <p-sortIcon field="gridConnectionSmsSend"></p-sortIcon>
                                        </th>
                                        <th style="width:120px; text-align:center;" pSortableColumn="gridConnectionEmailSend" [hidden]="!ExpandedView">
                                            {{l('EmailSend')}}
                                            <p-sortIcon field="gridConnectionEmailSend"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.leadId}">
                                        <td class="actionwidth p-frozen-column" style="text-align: center; width:95px;">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Gridconnectiontracker.QuickView')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.id,0,'Grid Connect Tracker')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Gridconnectiontracker.AddNote')">
                                                        <a (click)="addMeterModal.show(record.id,6,'Grid Connect Tracker')">
                                                            <i class="las la-plus-circle"></i> {{l('AddNotes')}}

                                                        </a>
                                                    </li>

                                                    <li [hidden]="!isGrantedAny('Pages.Gridconnectiontracker.Notify')">
                                                        <a (click)="notifyModel.show(record.leadId,6,0,'Grid Connect Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,9,0,6)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Gridconnectiontracker.Reminder')">
                                                        <a (click)="ReminderModal.show(record.leadId,6,0,'Grid Connect Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,8,0,6)"> -->
                                                            <i class="las la-stopwatch"></i> Reminder
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Gridconnectiontracker.Comment')">
                                                        <a (click)="commentModel.show(record.leadId,6,0,'Grid Connect Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,24,0,6)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Gridconnectiontracker.ToDo')">
                                                        <a (click)="todoModal.show(record.leadId,6,0,'Grid Connect Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,25,0,6)"> -->
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Gridconnectiontracker.SMS')">
                                                        <a (click)="smsModel.show(record.leadId,6,0,'Grid Connect Tracker')">
                                                            <!-- <a (click)="griddConnectionTrackerSmsEmailModel.show(record.leadId,1,6)"> -->
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Gridconnectiontracker.Email')">
                                                        <a (click)="emailModel.show(record.leadId,6,0,0,'Grid Connect Tracker')">
                                                            <!-- <a (click)="griddConnectionTrackerSmsEmailModel.show(record.leadId,2,6)"> -->
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>

                                                    <li [hidden]="!isGrantedAny('Pages.Gridconnectiontracker.JobDetail')">
                                                        <a href="javascript:;" [routerLink]="['/app/main/gridconnectiontracker/gridconnectiondetail']" target="_blank" [queryParams]="{id: record.leadId}">
                                                            <i class="las la-info-circle"></i> {{l('JobDetail')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>

                                        <td style="width: 130px; left:95px !important;" class="p-frozen-column" (click)="navigateToLeadDetail(record.leadId);">
                                            {{record.jobNumber}}
                                        </td>

                                        <td style="width:190px" [hidden]="!ExpandedView">
                                            <span>{{record.jobType}}</span>
                                        </td>

                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <span class="{{record.jobStatusColorClass}}">{{record.jobStatus}}</span>
                                        </td>

                                        <td class="no_warp" style="width:180px" [hidden]="!ExpandedView">
                                            <span class="set_warp_toltrip"><span [tooltip]="record.companyName">{{record.companyName}}</span>
                                            </span>
                                        </td>

                                        <td style="width:172px" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary">{{record.installationDate | momentFormat:'DD-MM-YYYY'}}</span>
                                        </td>

                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <span class="set_warp_toltrip"> <span [tooltip]="record.address | titlecase" class="tooltipcnt">{{record.address | titlecase}}</span></span>
                                        </td>
                                        <td class="no_warp" style="width:170px" [hidden]="!ExpandedView">
                                            <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.installerName">{{record.installerName}}</span>
                                            </span>
                                        </td>
                                        <td style="width:200px; text-align: center;" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary">{{record.installedCompleteDate | momentFormat:'DD-MM-YYYY'}}</span>
                                        </td>
                                        <td style="width:190px" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary">{{record.meterApplyRef}}</span>
                                        </td>
                                        <td style="width:230px" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary">{{record.inspectionDate | momentFormat:'DD-MM-YYYY'}}</span>
                                        </td>
                                        <td style="width:220px" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary">{{record.elecDistributorName}}</span>
                                        </td>
                                        <td style="width:190px" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary">{{record.elecRetailerName}}</span>
                                        </td>

                                        <td style="width:160px" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary">{{record.distApproveDate | momentFormat:'DD-MM-YYYY'}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary">{{record.distExpiryDate | momentFormat:'DD-MM-YYYY'}}</span>
                                        </td>
                                        <td style="width:190px" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary">{{record.applicationRefNo}}</span>
                                        </td>

                                        <td style="width:150px; text-align:center;" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary amount d-flex align-items-center justify-content-center" style="width:80px; margin:0 auto;"><i class="las la-bolt fs-22 mr-1"></i> {{record.systemCapacity}}</span>
                                        </td>

                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">

                                            <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.activityComment">{{record.activityComment}}</span></span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-pill badge-secondary">{{record.activityReminderTime}}</span>
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.activityDescription">{{record.activityDescription}}</span>
                                            </span>

                                        </td>
                                        <td style="width:120px; text-align:center;" [hidden]="!ExpandedView">

                                            <span *ngIf="record.gridConnectionSmsSend == 1" [tooltip]="record.gridConnectionSmsSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success "> {{l("Yes")}} </span>
                                            <span *ngIf="record.gridConnectionSmsSend != 1" [tooltip]="record.gridConnectionSmsSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="tooltipcnt  kt-badge kt-badge--dark"> {{l("No")}} </span>
                                        </td>
                                        <td style="width:120px; text-align:center;" [hidden]="!ExpandedView">
                                            <span *ngIf="record.gridConnectionEmailSend == 1" [tooltip]="record.gridConnectionEmailSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success "> {{l("Yes")}} </span>
                                            <span *ngIf="record.gridConnectionEmailSend != 1" [tooltip]="record.gridConnectionEmailSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="tooltipcnt  kt-badge kt-badge--dark"> {{l("No")}} </span>
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getJobs($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    Showing {{firstrowcount}} To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <!-- <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
        <addMeterModal #addMeterModal></addMeterModal>
        <jobNotesModal #jobNotesModal (modalSave)="reloadPage($event)"></jobNotesModal>
        <!-- <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal> -->
        <!-- <griddConnectionTrackerSmsEmailModel #griddConnectionTrackerSmsEmailModel (modalSave)="reloadPage($event)">
        </griddConnectionTrackerSmsEmailModel> -->
        <smsModel #smsModel></smsModel>
        <emailModel #emailModel></emailModel>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="reloadPage($event)"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="reloadPage($event)"></ReminderModal>
    </div>
</div>