<div bsModal #addAttachment="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addAttachment" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #roofAngleForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <h3 class="kt-subheader__title">
                            <span *ngIf="active && productItem.id">{{"EditProductItem" }}</span>
                            <span *ngIf="active && !productItem.id">{{l("CreateProductItem")}}</span>
                        </h3>
                    </h4>
                    <button type="button" class="close" (click)="cancel()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">

                    <div class="modal-white-box">
                        <div class="white-file-upload">
                            <input type="file" (change)="fileChangeEvent($event)" accept=".pdf" class="fileuploadboxbtn" />
                        </div>
                    </div>



                    <div class="flexbloxbutton fileuploadbtn" style="display:none;">
                        <div class="form-group marginbtm0">
                            <!-- <div class="upload_area up_height40"> -->
                            <!-- <span class="control-fileupload"> -->
                            <!-- <label for="file">Choose a file :</label> -->
                            <input type="file" (change)="fileChangeEvent($event)" accept=".pdf" />
                            <a (click)="downloadfile()" *ngIf="productItem.filePath" style="margin-left:10px;">
                                <i class="las la-file-pdf" style="font-size:1.9rem;"></i>
                            </a>
                            <!-- </span> -->
                            <!-- </div>                                                                  -->
                        </div>
                    </div>
                    <div class="flexbloxbutton fileuploadbtn fileuploadbtnnew flexstart" style="display:none;">
                        <label>
                            <!-- <p-fileUpload id="DefaultFileUploadFileInput" name="DefaultFileUploadFileInput[]"
                                [url]="uploadUrl" accept="application/pdf" maxFileSize="1000000"
                                (onUpload)="onUpload($event)" (onBeforeSend)="onBeforeSend($event)">

                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles.length">
                                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                                    </ul>
                                </ng-template>
                            </p-fileUpload> -->
                            <!-- <input type="file" (change)="fileChangeEvent($event)"
                           	accept=".pdf" class="fileuploadboxbtn" /> -->

                            <!-- <input type="file" (change)="fileChangeEvent($event)"
                                accept=".pdf" class="fileuploadboxbtn" />
                            <span class="btnuparrow" [tooltip]="l('Atach')">
                                <img [src]="appRootUrl() + 'assets/common/images/icon_attachment.svg'"
                                    alt="" style="width:20px;" />
                            </span> -->
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-12 pagebuttonbox">
                        <button (click)="cancel()" class="btn btn_red float-right"><i class="las la-times-circle"></i>Cancel</button>
                        <button (click)="savedocument()" class="btn btn-primary marright10 float-right ml-0" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i><span>{{l("Save")}}</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>