<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #formProduct="ngForm" autocomplete="off" (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <h3 class="kt-subheader__title">
                            <span>Add Product Image - {{ productItem.name }}</span>
                        </h3>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">

                    <div class="modal-white-box">
                        <div class="white-file-upload">
                            <input name="file" type="file" (change)="fileChangeEvent($event)" [(ngModel)]="selectedFile" accept=".jpg,jpeg,png" class="fileuploadboxbtn" required />
                            <a (click)="downloadfile()" *ngIf="productItem.imagePath" style="margin-left:10px;">
                                <i class="las la-file-pdf" style="font-size:1.9rem;"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-lg-12 pagebuttonbox">
                        <button (click)="close()" class="btn btn_red float-right"><i class="las la-times-circle"></i>Cancel</button>
                        <button type="submit" [disabled]="!formProduct.form.valid" class="btn btn-primary marright10 float-right ml-0" 
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i><span>{{l("Save")}}</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>