<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 22px;
    }
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e3e2ef;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 17px;
        width: 17px;
        left: 3px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }
    
    input:checked+.slider {
        background-color: #7367f0;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px #7367f0;
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
    }
    /* Rounded sliders */
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
    
    .table td {
        vertical-align: middle;
    }
    
    .table tr:nth-child(odd) td {
        background: #f7f6ff !important;
    }
    
    .modal-white-box {
        flex: 1;
        margin: 10px;
    }
    
    .table th {
        background: #D8D6ED !important;
        border-top: 0 !important;
    }
    
    .table th,
    .table td {
        padding: 0.45rem 0.55rem !important;
        border: 0 !important;
    }
    
    .table td input.form-control {
        height: 32px !important;
    }
    
    .creatleadpage .grayback input.form-control.ng-valid.ng-touched,
    .creatleadpage .grayback input.form-control.ng-valid {
        border-color: #9d9ba9 !important;
    }
</style>
<div bsModal #editProductItem="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addAttachment" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #roofAngleForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <h3 class="kt-subheader__title">
                            <span *ngIf="productItem.id">{{l("EditProductItems")}}</span>
                            <span *ngIf="!productItem.id">{{l("CreateProductItem")}}</span>
                        </h3>
                    </h4>
                    <button type="button" class="close" (click)="cancel()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-info-circle fs-30 mr-2"></i>Stock Details</h3>
                        <div>
                            <div class="row mx-0">
                                <div class="col-md-6">
                                    <div class="form-group form-icon">
                                        <label for="ProductTypeName" class="form-label">
                                                    Stock Category
                                                </label>
                                        <div>
                                            <select name="productItem.productTypeId" [(ngModel)]="productItem.productTypeId" class="form-control" required>
                                                        <option value="">{{l("SelectAProductType")}}</option>
                                                        <option *ngFor="let item of allProductTypes" value="{{item.id}}">{{item.displayName}}</option>
                                                    </select>
                                                    <span class="icon-box"><i class="las la-warehouse"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-icon">
                                        <label for="Stock_Item" class="form-label">
                                                    Stock Item
                                                </label>
                                        <div>
                                            <input type="text" id="ProductItem_Name" class="form-control" [(ngModel)]="productItem.name" name="Name" required />
                                            <span class="icon-box"><i class="las la-warehouse"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-icon">
                                        <label for="Brand" class="form-label">
                                                    Brand
                                                </label>
                                        <div>
                                            <input type="text" id="ProductItem_Manufacturer" class="form-control" [(ngModel)]="productItem.manufacturer" name="Manufacturer" minlength="3" maxlength="200" />
                                            <span class="icon-box"><i class="las la-warehouse"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-icon">
                                        <label for="Stock_Model" class="form-label">
                                                    Stock Model
                                                </label>
                                        <div>
                                            <input type="text" id="ProductItem_Model" class="form-control" [(ngModel)]="productItem.model" name="Model" minlength="1" maxlength="50" />
                                            <span class="icon-box"><i class="las la-edit"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-icon">
                                        <label for="Stock_Series" class="form-label">
                                                    Stock Series
                                                </label>
                                        <div>
                                            <input type="text" id="ProductItem_Series" class="form-control" [(ngModel)]="productItem.series" name="Series" minlength="1" maxlength="50" />
                                            <span class="icon-box"><i class="las la-edit"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-icon">
                                        <label for="Stock_Series" class="form-label">
                                                    Stock Size
                                                </label>
                                        <div>
                                            <input type="number" id="ProductItem_Size" class="form-control" [(ngModel)]="productItem.size" name="Size" />
                                            <span class="icon-box"><i class="las la-ruler-combined"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-icon">
                                        <label for="Stock_Series" class="form-label">
                                                    Stock ID
                                                </label>
                                        <div>
                                            <input type="text" id="ProductItem_StockId" class="form-control" [(ngModel)]="productItem.stockId" name="StockId" />
                                            <span class="icon-box"><i class="las la-id-card"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-icon">
                                        <label for="Stock_Series" class="form-label" style="display: none;">
                                                    Is Active?
                                               </label>
                                        <div>
                                            <div class="m-checkbox-list hight30and40">
                                                <label for="ProductItem_IsActive" class="kt-checkbox">
                                                           <input id="ProductItem_IsActive" type="checkbox" name="IsActive" [(ngModel)]="productItem.isActive" (change)="onChange(productItem.isActive)"> 
                                                           {{l("IsActive")}}
                                                           <span></span>
                                                       </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="Stock_Series" class="form-label" style="display: none;">
                                                    E-Commerce
                                               </label>
                                        <div>
                                            <div class="m-checkbox-list hight30and40">
                                                <label for="ProductItem_eCommerce" class="kt-checkbox">
                                                           <input id="ProductItem_eCommerce" type="checkbox" name="eCommerce" [(ngModel)]="productItem.eCommerce" > 
                                                           {{l("E-Commerce")}}
                                                           <span></span>
                                                       </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="IsScanned" class="form-label" style="display: none;">
                                                    IsScanned
                                               </label>
                                        <div>
                                            <div class="m-checkbox-list hight30and40">
                                                <label for="IsScanned" class="kt-checkbox">
                                                           <input id="IsScanned" type="checkbox" name="eCommerce" [(ngModel)]="productItem.isScanned" > 
                                                           {{l("IsScanned")}}
                                                           <span></span>
                                                       </label>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-white-box" [hidden]="!showifactive">
                        <h3 class="d-flex align-items-center"><i class="las la-map-marker fs-30 mr-2"></i>Location Details</h3>
                        <div [hidden]="!showifactive">
                            <table class="table table-striped table-hover" style="border-radius:10px; overflow:hidden;">
                                <tr>
                                    <th>Stock Location</th>
                                    <th style="text-align:center;">S Qty</th>
                                    <th style="text-align:center;">M Qty</th>
                                    <th>Sales Tag</th>
                                </tr>
                                <tr>
                                    <td>AUS: Australia</td>
                                    <td>
                                        <input type="text" id="ProductItem_AUSStockQty" class="form-control" [(ngModel)]="productItem.ausStockQty" name="AUSStockQty" />
                                    </td>
                                    <td>
                                        <input type="text" id="ProductItem_AUSMinumumQty" class="form-control" [(ngModel)]="productItem.ausMinumumQty" name="AUSMinumumQty" />
                                    </td>
                                    <td>
                                        <label class="switch mr-2 mb-0" style="margin-bottom:0 !important;">
                                            <input class="custom-control-input" type="checkbox" role="switch" id="ProductItem_AUSSalesTag" name="AUSSalesTag" [(ngModel)]="productItem.ausSalesTag">
                                            <span class="slider round" for="AUSSalesTag"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>NSW: Sydney</td>
                                    <td>
                                        <input type="text" id="ProductItem_NSWStockQty" class="form-control" [(ngModel)]="productItem.nswStockQty" name="NSWStockQty" />
                                    </td>
                                    <td>
                                        <input type="text" id="ProductItem_NSWMinimumQty" class="form-control" [(ngModel)]="productItem.nswMinimumQty" name="NSWMinimumQty" />
                                    </td>
                                    <td>
                                        <label class="switch mr-2 mb-0" style="margin-bottom:0 !important;">
                                            <input class="custom-control-input" type="checkbox" role="switch" id="ProductItem_NSWSalesTag" name="NSWSalesTag" [(ngModel)]="productItem.nswSalesTag">
                                            <span class="slider round" for="NSWSalesTag"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>NT: Darwin</td>
                                    <td>
                                        <input type="text" id="ProductItem_NTStockQty" class="form-control" [(ngModel)]="productItem.ntStockQty" name="NTStockQty" />
                                    </td>
                                    <td>
                                        <input type="text" id="ProductItem_NTMinimumQty" class="form-control" [(ngModel)]="productItem.ntMinimumQty" name="NTMinimumQty" />
                                    </td>
                                    <td>
                                        <label class="switch mr-2 mb-0" style="margin-bottom:0 !important;">
                                            <input class="custom-control-input" type="checkbox" role="switch" id="ProductItem_NTSalesTag" name="NTSalesTag" [(ngModel)]="productItem.ntSalesTag">
                                            <span class="slider round" for="NTSalesTag"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>QLd: Brisbane</td>
                                    <td>
                                        <input type="text" id="ProductItem_QLDStockQty" class="form-control" [(ngModel)]="productItem.qldStockQty" name="QLDStockQty" />
                                    </td>
                                    <td>
                                        <input type="text" id="ProductItem_QLDMinimumQty" class="form-control" [(ngModel)]="productItem.qldMinimumQty" name="QLDMinimumQty" />
                                    </td>
                                    <td>
                                        <label class="switch mr-2 mb-0" style="margin-bottom:0 !important;">
                                            <input class="custom-control-input" type="checkbox" role="switch" id="ProductItem_QLDSalesTag" name="QLDSalesTag" [(ngModel)]="productItem.qldSalesTag">
                                            <span class="slider round" for="QLDSalesTag"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>SA: Adelaide</td>
                                    <td>
                                        <input type="text" id="ProductItem_SAStockQty" class="form-control" [(ngModel)]="productItem.saStockQty" name="SAStockQty" />
                                    </td>
                                    <td>
                                        <input type="text" id="ProductItem_SAMinimumQty" class="form-control" [(ngModel)]="productItem.saMinimumQty" name="SAMinimumQty" />
                                    </td>
                                    <td>
                                        <label class="switch mr-2 mb-0" style="margin-bottom:0 !important;">
                                            <input class="custom-control-input" type="checkbox" role="switch" id="ProductItem_SASalesTag" name="SASalesTag" [(ngModel)]="productItem.saSalesTag">
                                            <span class="slider round" for="SASalesTag"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>TAS: Hobart</td>
                                    <td>
                                        <input type="text" id="ProductItem_TASStockQty" class="form-control" [(ngModel)]="productItem.tasStockQty" name="TASStockQty" />
                                    </td>
                                    <td>
                                        <input type="text" id="ProductItem_TASMinimumQty" class="form-control" [(ngModel)]="productItem.tasMinimumQty" name="TASMinimumQty" />
                                    </td>
                                    <td>
                                        <label class="switch mr-2 mb-0" style="margin-bottom:0 !important;">
                                            <input class="custom-control-input" type="checkbox" role="switch" id="ProductItem_TASSalesTag" name="TASSalesTag"  [(ngModel)]="productItem.tasSalesTag">
                                            <span class="slider round" for="TASSalesTag"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>VIC: Melbourne</td>
                                    <td>
                                        <input type="text" id="ProductItem_VICStockQty" class="form-control" [(ngModel)]="productItem.vicStockQty" name="VICStockQty" />
                                    </td>
                                    <td>
                                        <input type="text" id="ProductItem_VICMinimumQty" class="form-control" [(ngModel)]="productItem.vicMinimumQty" name="VICMinimumQty" />
                                    </td>
                                    <td>
                                        <label class="switch mr-2 mb-0" style="margin-bottom:0 !important;">
                                            <input class="custom-control-input" type="checkbox" role="switch" id="ProductItem_VICSalesTag" name="VICSalesTag" [(ngModel)]="productItem.vicSalesTag">
                                            <span class="slider round" for="VICSalesTag"></span>
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>WA: Perth</td>
                                    <td>
                                        <input type="text" id="ProductItem_WAStockQty" class="form-control" [(ngModel)]="productItem.waStockQty" name="WAStockQty" />
                                    </td>
                                    <td>
                                        <input type="text" id="ProductItem_WAMinimumQty" class="form-control" [(ngModel)]="productItem.waMinimumQty" name="WAMinimumQty" />
                                    </td>
                                    <td>
                                        <label class="switch mr-2 mb-0" style="margin-bottom:0 !important;">
                                            <input class="custom-control-input" type="checkbox" role="switch" id="ProductItem_WASalesTag" name="WASalesTag"  [(ngModel)]="productItem.waSalesTag">
                                            <span class="slider round" for="WASalesTag"></span>
                                        </label>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-certificate fs-30 mr-2"></i>Warranty Details</h3>
                        <div class="row mx-0">
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="PerformanceWarranty" class="form-label">
                                                    Performance Warranty
                                                </label>
                                    <div>
                                        <input type="number" id="PerformanceWarranty" class="form-control" [(ngModel)]="productItem.performanceWarranty" name="PerformanceWarranty" />
                                        <span class="icon-box"><i class="las la-certificate"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="ProductWarranty" class="form-label">
                                                    Product Warranty
                                                </label>
                                    <div>
                                        <input type="number" id="ProductWarranty" class="form-control" [(ngModel)]="productItem.productWarranty" name="ProductWarranty" />
                                        <span class="icon-box"><i class="las la-certificate"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="ExtendedWarranty" class="form-label">
                                                    Extended Warranty
                                                </label>
                                    <div>
                                        <input type="number" id="ExtendedWarranty" class="form-control" [(ngModel)]="productItem.extendedWarranty" name="ExtendedWarranty" />
                                        <span class="icon-box"><i class="las la-certificate"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="WorkmanshipWarranty" class="form-label">
                                                    Workmanship Warranty
                                                </label>
                                    <div>
                                        <input type="number" id="WorkmanshipWarranty" class="form-control" [(ngModel)]="productItem.workmanshipWarranty" name="WorkmanshipWarranty" />
                                        <span class="icon-box"><i class="las la-certificate"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-coins fs-30 mr-2"></i>Price Details</h3>
                        <div class="row mx-0">
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="PricePerWatt" class="form-label">
                                                    Price Per Watt
                                                </label>
                                    <div>
                                        <input type="text" id="PricePerWatt" class="form-control" [(ngModel)]="productItem.pricePerWatt" name="PricePerWatt" />
                                        <span class="icon-box"><i class="las la-battery-full"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="Amount" class="form-label">
                                                    Amount
                                                </label>
                                    <div>
                                        <input type="text" id="WorkmanshipWarranty" class="form-control" [(ngModel)]="productItem.amount" name="Amount" />
                                        <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-coins fs-30 mr-2"></i>Manu Details</h3>
                        <div class="row mx-0">
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="ManuPhone" class="form-label">
                                                    Manu Phone
                                                </label>
                                    <div>
                                        <input type="text" id="manuPhone" required class="form-control" [(ngModel)]="productItem.manuPhone" name="ManuPhone" minlength="10" maxlength="10" placeholder='{{l("ManuPhone")}}' />
                                        <span class="icon-box"><i class="las la-battery-full"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="ManuMobile" class="form-label">
                                        Manu Mobile
                                                </label>
                                    <div>
                                        <input type="text" id="ManuMobile" required class="form-control" [(ngModel)]="productItem.manuMobile" name="ManuMobile" minlength="10" maxlength="10" placeholder='{{l("ManuMobile")}}' />
                                        <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="ManuEmail" class="form-label">
                                        Manu Email
                                                </label>
                                    <div>
                                        <input type="text" id="Manu_Email" class="form-control" [(ngModel)]="productItem.manuEmail" name="Manu_Email" />
                                        <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="ManuWebsite" class="form-label">
                                        Manu Website
                                                </label>
                                    <div>
                                        <input type="text" id="ManuWebsite" class="form-control" [(ngModel)]="productItem.manuWebsite" name="ManuWebsite" />
                                        <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- </div> -->
                <div class="modal-footer">
                    <button (click)="cancel()" class="btn btn_red float-right"><i class="las la-times-circle"></i>Cancel</button>
                    <button (click)="save()" class="btn btn-primary marright10 float-right ml-0" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i><span>{{l("Save")}}</span>
                        </button>
                </div>
            </form>
        </div>
    </div>

</div>