﻿<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("ProductItems")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927  leadedropdown leadtrackeradvancefilter myleadfilter inherit_width">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getProductItems()"></button>
                                </li>
                                <!-- <li *ngIf="isGranted('Pages.ProductItems.Create')">
                                    <button (click)="fetchProductItem()" class="btn btn-outline-primary btnadd">
                                        Fetch
                                        <i class="las la-database"></i>
                                        </button>
                                </li> -->
                                <li *ngIf="isGranted('Pages.ProductItems.Create')">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Fetch
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="fetchProductItem()" href="javascript:;">
                                                <i class="las la-database"></i> Fetch
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;" (click)="fetchProductItemFromGreenDeal()">
                                                <i class="las la-globe-americas"></i> Fetch From Green Deal
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;">
                                                <i class="las la-file-csv"></i> CSV
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown maxwidth250">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select class="form-control" [(ngModel)]="attachment" name="attachment" (change)="getProductItems()">
                                                <option value="All">{{l("All")}}</option>
                                                <option value="Yes">{{l("Yes")}}</option>
                                                <option value="No">{{l("No")}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="allLocation" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select Location" [(ngModel)]="locationIDFilter" name="locationIDFilter">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox apptrackeradv">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('Searchfieldname')" type="text" (keydown.enter)="getProductItems($event)">
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getProductItems()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getProductItems()" />
                                        </div>

                                        <div class="kt-searchmainbox searchclearbox">
                                            <div class="kt-advfilterbox" [ngClass]="{show: shouldShow, hide: !shouldShow}">
                                                <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                    <i class="las la-filter"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform ">

                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="productTypeId" (keydown.enter)="getProductItems($event)" [(ngModel)]="productTypeId" class="form-control">
                                                                    <option value="0">{{l("SelectAProductType")}}
                                                                    </option>
                                                                    <option *ngFor="let item of allProductTypes"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>

                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="activeOrDeactive" (keydown.enter)="getProductItems($event)" [(ngModel)]="activeOrDeactive" class="form-control" required>
                                                                    <option value="All">{{l("All")}}</option>
                                                                    <option value="Active">{{l("Active")}}</option>
                                                                    <option value="Deactive">{{l("Deactive")}}</option>
                                                                </select>

                                                            </div>
                                                        </li>
                                                        <li class="text-right fullwidth">
                                                            <button class="btn btn_red marright10 btn-sm ng-tns-c458-53" (click)="clear()">{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getProductItems()"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero ">

                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getProductItems($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center" [hidden]="!isGrantedAny('Pages.ProductItems.Edit', 'Pages.ProductItems.Delete')">
                                            {{l('Actions')}}</th>
                                        <th class="text-center" style="width:130px;">
                                            {{l('attachment')}}
                                        </th>
                                        <th pSortableColumn="productTypeFk.name" style="width:160px;">
                                            {{l('Name')}}
                                            <p-sortIcon field="productTypeName"></p-sortIcon>
                                        </th>
                                        <th style="width:300px" pSortableColumn="stockItem">
                                            {{l('StockItem')}}
                                            <p-sortIcon field="productItem.stockItem"></p-sortIcon>
                                        </th>
                                        <th style="width:250px" pSortableColumn="manufacturer">
                                            {{l('Manufacturer')}}
                                            <p-sortIcon field="productItem.manufacturer"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="model">
                                            {{l('Model')}}
                                            <p-sortIcon field="productItem.model"></p-sortIcon>
                                        </th>
                                        <th style="width: 180px" pSortableColumn="series">
                                            {{l('Series')}}
                                            <p-sortIcon field="productItem.series"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px; text-align: left;" pSortableColumn="size">
                                            {{l('Size')}}
                                            <p-sortIcon field="productItem.size"></p-sortIcon>
                                        </th>
                                        <th style="width: 105px; text-align: center;" pSortableColumn="status">
                                            {{l('Status')}}
                                            <p-sortIcon field="productItem.Status"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px; text-align: left;" pSortableColumn="ExpiryDate">
                                            {{l('ExpiryDate')}}
                                            <p-sortIcon field="productItem.ExpiryDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 105px; text-align: left;" pSortableColumn="stockId">
                                            {{l('Id')}}
                                            <p-sortIcon field="productItem.id"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td class="actionwidth text-center" [hidden]="!isGrantedAny('Pages.ProductItems.Edit', 'Pages.ProductItems.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a *ngIf="permission.isGranted('Pages.ProductItems.View')" [routerLink]="['/app/main/jobs/productItems/view']" [queryParams]="{id: record.productItem.id}">
                                                            <i class="las la-binoculars"></i> {{l('View')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a *ngIf="permission.isGranted('Pages.ProductItems.Edit')" (click)="editProductItemModal.show(record.productItem.id)">
                                                            <!-- <a *ngIf="permission.isGranted('Pages.ProductItems.Edit')" [routerLink]="['/app/main/jobs/productItems/createOrEdit']" [queryParams]="{id: record.productItem.id}"> -->
                                                            <i class="las la-edit"></i> {{l('Edit')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.ProductItems.Delete')" (click)="deleteProductItem(record.productItem)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.ProductItems.Upload')" (click)="addAttachmentModal.show(record.productItem.id)">
                                                            <i class="las la-file-upload"></i> {{l('Upload')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.ProductItems.UploadImage')" (click)="addproductimageModal.show(record.productItem.id)">
                                                            <i class="las la-file-upload"></i> Upload Image
                                                        </a>
                                                    </li>
                                                    <li *ngIf="record.productItem.fileName">
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.ProductItems.Download')" (click)="downloadfile(record.productItem.filePath , record.productItem.fileName)">
                                                            <i class="las la-file-download"></i> {{l('Download')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:130px; text-align: center;">
                                            <span class="ui-column-title"> {{'attachment' | localize}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.productItem.fileName">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.productItem.fileName">{{'No' | localize}}</span>
                                        </td>
                                        <td style="width:160px;">
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.productTypeName}}
                                        </td>
                                        <td class="no_warp" style="width:300px">
                                            <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.productItem.name"><span class="ui-column-title">
                                                        {{l('StockItem')}}</span> {{record.productItem.name}}
                                            </span>
                                            </span>
                                        </td>
                                        <td class="no_warp" style="width:250px">
                                            <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.productItem.manufacturer"><span
                                                        class="ui-column-title"> {{l('Manufacturer')}}</span> {{record.productItem.manufacturer}}
                                            </span>
                                            </span>
                                        </td>
                                        <td class="no_warp" style="width:200px">
                                            <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.productItem.model"><span class="ui-column-title">
                                                        {{l('Model')}}</span> {{record.productItem.model}}
                                            </span>
                                            </span>

                                        </td>
                                        <td class="no_warp" style="width:180px">
                                            <span class="set_warp_toltrip"><span
                                                [tooltip]="record.productItem.model"> <span class="ui-column-title"> {{l('Series')}}</span> {{record.productItem.series}}
                                            </span>
                                            </span>
                                        </td>
                                        <td style="width:100px; text-align: left;">
                                            <span class="ui-column-title"> {{l('Size')}}</span> {{record.productItem.size}}
                                        </td>
                                        <th style="width: 105px; text-align: center;">
                                            <span class="badge badge-success">{{record.productItem.status}}</span>
                                        </th>
                                        <td style="width:150px; text-align: left;">
                                            <span class="badge badge-danger">{{record.productItem.expiryDate | momentFormat:'DD-MM-YYYY'}}</span>
                                        </td>
                                        <td style="width:105px; text-align: left;">
                                            <span class="ui-column-title"> {{l('Id')}}</span> {{record.productItem.id}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getProductItems($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <addAttachmentModal #addAttachmentModal (modalSave)="getProductItems()"></addAttachmentModal>
        <addproductimageModal #addproductimageModal></addproductimageModal>
        <editProductItemModal #editProductItemModal (modalSave)="getProductItems()"></editProductItemModal>
    </div>
</div>