<div class="kt-portlet kt-portlet--height-fluid dashboardboxmain margingcommanleftright15 martop15">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Lead Status Details
            </h3>

        </div>
    </div>
    <div class="kt-portlet__body form-group row paddnone">




        <div class="col-lg-12">
            <div class="ui-table">
                <table class="table table-bordered paddset_table1 brd_only_btm table_padd_new">
                    <thead>
                        <tr>
                            <th style="width:40px;"></th>
                            <th width="80"> Source</th>
                            <th class="text-center" width="130"> Lead</th>
                            <th class="text-center" width="110"> Upgraded</th>
                            <th class="text-center" width="50"> Sales</th>
                            <th class="text-center" width="50"> Ratio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="width:40px;">
                                <div class="verified blue fs-20" style="margin:0 auto;"><i class="las la-tv"></i></div>
                                <!-- <div class="img_max22"><img src="../../../assets/common/images/toolbox.svg" /></div> -->
                            </td>
                            <td>TV</td>
                            <td class="text-center">{{tv}}</td>
                            <td class="text-center">{{tvupgrade}}</td>
                            <td class="text-center">{{tvsales}}</td>
                            <td class="text-center">{{tvRatio}} %</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="verified blue fs-20" style="margin:0 auto;"><i class="lab la-google"></i></div>
                            </td>
                            <td>Google</td>
                            <td class="text-center">{{google}}</td>
                            <td class="text-center">{{googleupgrade}}</td>
                            <td class="text-center">{{googlesales}}</td>
                            <td class="text-center">{{googleRatio}} %</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="verified blue fs-20" style="margin:0 auto;"><i class="lab la-facebook-f"></i></div>
                            </td>
                            <td>Facebook</td>
                            <td class="text-center">{{facebook}}</td>
                            <td class="text-center">{{facebookupgrade}}</td>
                            <td class="text-center">{{facebooksales}}</td>
                            <td class="text-center">{{facebookRatio}} %</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="verified blue fs-20" style="margin:0 auto;"><i class="las la-user-friends"></i></div>
                            </td>
                            <td>Refferal</td>
                            <td class="text-center">{{refferal}}</td>
                            <td class="text-center">{{refferalupgrade}}</td>
                            <td class="text-center">{{refferalsales}}</td>
                            <td class="text-center">{{refferalRatio}} %</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="verified blue fs-20" style="margin:0 auto;"><i class="las la-users"></i></div>
                            </td>
                            <td>Others</td>
                            <td class="text-center">{{others}}</td>
                            <td class="text-center">{{othersupgrade}}</td>
                            <td class="text-center">{{otherssales}}</td>
                            <td class="text-center">{{othersRatio}} %</td>
                        </tr>
                    </tbody>
                </table>
            </div>




        </div>
    </div>
</div>