<style>
    th, td {
  padding: 10px;
}

.kt-portlet__body .primeng-datatable-container .first th{
    border: 1px solid white !important;
    text-align: center !important;
}

.kt-portlet__body .primeng-datatable-container .second td{
    border: 1px solid #e3dada  !important;
    text-align: center !important;
    margin-left: 10px !important;
}

.kt-portlet__body .primeng-datatable-container .first_a th{
    border: 1px solid white !important;
    text-align: center !important;
    padding:0px !important;
}
.btnsearch i::before{
    font-weight: 600 !important;
}
/* .sticky-footer {
    position: sticky;
    bottom: 0;
    background-color: #f5f5f5;
    z-index: 1;
    font-weight: bold;
} */
/* body .ui-table .ui-table-tbody .second td{
    height:48px !important;
} */


</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Lead Comparison")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getAcivityList();RereshLog();" class="btn_refresh"></button>
                                </li>
                              
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadSource" [(ngModel)]="leadSourceIdFilter" name="jobStatusID">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="allStates" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="displayName" placeholder="All States" [(ngModel)]="stateFilter" name="jobStatusID">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="allAreas" [multiple]="true" [closeOnSelect]="false" placeholder="All Area" [(ngModel)]="areaFilter" name="area">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140 ">
                                        <ng-select [items]="allhederFeild" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select Feild" [(ngModel)]="allheder" name="allheder">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <div>
                                                <select name="organizationid" class="form-control" [(ngModel)]="organizationid" (change)="getAcivityList();addSearchLog('Filter Organization');">
                                                    <option *ngFor="let item of allOrganizationUnits"
                                                        value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" ><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" ><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10"><i class="fa fa-times-circle"></i>{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getAcivityList(); shouldShow = false;;addSearchLog('Advanced Filter');"><i class="fa fa-search"></i> {{l("Search")}}</button>

                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                                <li>
                                    <button (click)="getAcivityList()" class="btnsearch" type="submit" style="border: 1px solid #7367f0 !important;
                                    background-color: white !important;
                                    padding: 4px !important;
                                    padding-left: 8px !important;
                                    border-radius: 4px;
                                    text-align: center !important;
                                    padding-right: 8px !important;
                                    color:#7367f0 !important">
                                     <i class="flaticon-search-1" style></i></button>
                                       
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <form class="kt-form pad25" hidden autocomplete="off">
                        <div>
                            <div class="row align-items-center">
                                <div class="col-xl-12">
                                    <div class="form-group m-form__group align-items-center">
                                        <div class="input-group">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                            <span class="input-group-btn">
                                                <button (click)="getAcivityList()" class="btn btn-primary"
                                                    type="submit"><i class="flaticon-search-1"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
                        <div class="kt-portlet kt-portlet--mobile">
                            <div class="kt-portlet__body padzero tablewithtooltip">
                                <div class="row leaddata_row" >
                                    <!-- <div class="row leaddata_row"> -->
                                    <div class="primeng-datatable-container myleadtable horizantal_scrrol">
                                        
                                        <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getAcivityList($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                            [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                            <ng-template pTemplate="header">
                                                <tr style="border: 2px solid white !important ;" class="first">
                                                    <th class="comparisontable" style="background-color: #3FA2F6 !important;" rowspan="2" scope="colgroup">LeadSource</th>
                                                    <th class="comparisontable" style="background-color: #7FA1C3 !important ;"   [attr.colspan]="colspan" scope="colgroup">{{ datee}}</th>
                                                    <th class="comparisontable" style="background-color: #C9DABF !important; "[attr.colspan]="colspan" scope="colgroup">{{ lastDate }}</th>
                                                    <th class="comparisontable" style="background-color: #BB9AB1 !important;" [attr.colspan]="colspan" scope="colgroup">{{ lastDate2 }}</th>
                                                    
                                                 
                                                </tr>
                                                 <tr class="tr_bordr first_a">
                                                    <th class="comparisontable" style="background-color: #7FA1C3 !important;" *ngIf="lead==0" colspan="1" scope="colgroup">Lead</th>
                                                    <th class="comparisontable" style="background-color: #7FA1C3 !important;" *ngIf="sold==0" colspan="1" scope="colgroup">KW Sold / <br> Battery KW</th>
                                                    <th class="comparisontable" style="background-color: #7FA1C3 !important;" *ngIf="installed==0" colspan="1" scope="colgroup">KW Installed</th>
                                                    <th class="comparisontable" style="background-color: #7FA1C3 !important;" *ngIf="expence==0" colspan="1" scope="colgroup">Expense</th>
                                                    <th class="comparisontable" style="background-color: #C9DABF !important;" *ngIf="lead==0" colspan="1" scope="colgroup">Lead</th>
                                                    <th class="comparisontable" style="background-color: #C9DABF !important;" *ngIf="sold==0" colspan="1" scope="colgroup">KW Sold / <br> Battery KW</th>
                                                    <th class="comparisontable" style="background-color: #C9DABF !important;" *ngIf="installed==0" colspan="1" scope="colgroup">KW Installed</th>
                                                    <th class="comparisontable" style="background-color: #C9DABF !important;" *ngIf="expence==0" colspan="1" scope="colgroup">Expense</th>
                                                    <th class="comparisontable" style="background-color: #BB9AB1 !important;" *ngIf="lead==0" colspan="1" scope="colgroup">Lead</th>
                                                    <th class="comparisontable" style="background-color: #BB9AB1 !important;" *ngIf="sold==0" colspan="1" scope="colgroup">KW Sold / <br> Battery KW</th>
                                                    <th class="comparisontable" style="background-color: #BB9AB1 !important;" *ngIf="installed==0" colspan="1" scope="colgroup">KW Installed</th>
                                                    <th class="comparisontable" style="background-color: #BB9AB1 !important;" *ngIf="expence==0" colspan="1" scope="colgroup">Expense</th>
                                                </tr>
                                        


                                            </ng-template>
                                            <ng-template pTemplate="body" let-record="$implicit">
                                                <tr [pSelectableRow]="record"  class="second" >
                                                    <!-- <td class="comparisontable">AP001001</td> -->
                                                   <!-- <td class="comparisontable">{{data.spend}}</td> -->
                                                   <td style="background-color: #3FA2F6 !important;" class="comparisontable">{{record.leadSource}}</td>
                                                   <td style="background-color: #7FA1C3 !important;" *ngIf="lead==0" class="comparisontable">{{record.totalLead}}</td>
                                                   <td style="background-color: #7FA1C3 !important;" *ngIf="sold==0" class="comparisontable">{{record.panelSold_KW}} / {{record.batterySold_KW}}</td>
                                                   <!-- <td class="comparisontable">{{data.panelSold_NoOfPanel}}</td> -->
                                                   <!-- <td class="comparisontable">{{data.totalLeadInstalled}}</td> -->
                                                   <td style="background-color: #7FA1C3 !important;" *ngIf="installed==0" class="comparisontable">{{record.installed_KW}}</td>
                                                   <td style="background-color: #7FA1C3 !important;" *ngIf="installed==0" class="comparisontable">{{record.spend | number : '1.2-2'}}</td>
                                                   <!-- <td class="comparisontable">{{data.installed_NoOfPanel}}</td> -->
                                                   <!-- <td class="comparisontable">{{data.lastSpend}}</td> -->
                                                   <td style="background-color: #C9DABF !important; margin-left: 10px !important; border: 1px solid #f1eaea  !important;" *ngIf="lead==0" class="comparisontable">{{record.lastTotalLead}}</td>
                                                   <td style="background-color: #C9DABF !important;  border: 1px solid #f1eaea  !important;" *ngIf="sold==0" class="comparisontable">{{record.lastPanelSold_KW}} / {{record.lastBatterySold_KW}}</td>
                                                   <!-- <td class="comparisontable">{{data.lastPanelSold_NoOfPanel}}</td> -->
                                                   <!-- <td class="comparisontable">{{data.lastTotalLeadInstalled}}</td> -->
                                                   <td style="background-color: #C9DABF !important;  border: 1px solid #f1eaea  !important;" *ngIf="installed==0" class="comparisontable">{{record.lastInstalled_KW}}</td>
                                                   <td style="background-color: #C9DABF !important;  border: 1px solid #f1eaea  !important;" *ngIf="expence==0" class="comparisontable">{{record.lastSpend | number : '1.2-2'}}</td>
                                                   <!-- <td class="comparisontable">{{data.lastInstalled_NoOfPanel}}</td> -->
                                                   <!-- <td class="comparisontable">{{data.lastSpend2}}</td> -->
                                                   <td class="comparisontable" style="background-color: #BB9AB1 !important;" *ngIf="lead==0" class="comparisontable">{{record.lastTotalLead2}}</td>
                                                   <td class="comparisontable" style="background-color: #BB9AB1 !important;" *ngIf="sold==0" class="comparisontable">{{record.lastPanelSold2_KW}} / {{record.lastBatterySold_KW2}}</td>
                                                   <!-- <td class="comparisontable">{{data.lastPanelSold2_NoOfPanel}}</td> -->
                                                   <!-- <td class="comparisontable">{{data.lastTotalLeadInstalled2}}</td> -->
                                                   <td class="comparisontable" style="background-color: #BB9AB1 !important;" *ngIf="installed==0" class="comparisontable">{{record.lastInstalled2_KW}}</td>
                                                   <td class="comparisontable" style="background-color: #BB9AB1 !important; width:7% !important;" *ngIf="expence==0" class="comparisontable">{{record.lastSpend2 | number : '1.2-2'}}</td>
                                                   <!-- <td class="comparisontable">{{data.lastInstalled2_NoOfPanel}}</td> -->
                                               </tr>
                                            </ng-template>
                                            <ng-template pTemplate="footer">
                                                <tr *ngIf="lastRecord" class="second" >
                                                    <td style="background-color: #3FA2F6 !important;"  class="comparisontable">{{ lastRecord.leadSource }}</td>
                                                    <td style="background-color: #7FA1C3 !important;" *ngIf="lead==0" class="comparisontable">{{ lastRecord.totalLead }}</td>
                                                    <td style="background-color: #7FA1C3 !important;"  *ngIf="sold==0" class="comparisontable">{{ lastRecord.panelSold_KW }}/{{ lastRecord.batterySold_KW }}</td>
                                                    <td style="background-color: #7FA1C3 !important;" *ngIf="installed==0" class="comparisontable">{{ lastRecord.installed_KW }}</td>
                                                    <td style="background-color: #7FA1C3 !important;" *ngIf="expence==0"  class="comparisontable">{{ lastRecord.spend | number : '1.2-2' }}</td>
                                                    <td style="background-color: #C9DABF !important;  border: 1px solid #f1eaea !important;"ngIf="lead==0" class="comparisontable">{{ lastRecord.lastTotalLead }}</td>
                                                    <td style="background-color: #C9DABF !important; border: 1px solid #f1eaea !important;"  *ngIf="sold==0" class="comparisontable">{{ lastRecord.lastPanelSold_KW }}/{{ lastRecord.lastBatterySold_KW }}</td>
                                                    <td style="background-color: #C9DABF !important; border: 1px solid #f1eaea !important;" *ngIf="installed==0" class="comparisontable">{{ lastRecord.lastInstalled_KW }}</td>
                                                    <td style="background-color: #C9DABF !important; border: 1px solid #f1eaea !important;" *ngIf="expence==0" class="comparisontable">{{ lastRecord.lastSpend | number : '1.2-2' }}</td>
                                                    <td style="background-color: #BB9AB1 !important;" *ngIf="lead==0" class="comparisontable">{{ lastRecord.lastTotalLead2 }}</td>
                                                    <td style="background-color: #BB9AB1 !important;" *ngIf="sold==0" class="comparisontable">{{ lastRecord.lastPanelSold2_KW }}/{{ lastRecord.lastBatterySold_KW2 }}</td>
                                                    <td style="background-color: #BB9AB1 !important;" *ngIf="installed==0" class="comparisontable">{{ lastRecord.lastInstalled2_KW }}</td>
                                                    <td style="background-color: #BB9AB1 !important; width: 7% !important;"  *ngIf="expence==0"class="comparisontable">{{ lastRecord.lastSpend2 | number : '1.2-2' }}</td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                      
                                        
                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{l('NoData')}}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator style="font-weight:800 !important" [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getAcivityList($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                            </p-paginator>
                                            <!-- <span class="total-records-count">
                                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                            </span> -->
                                            
                                            <span class="total-records-count">
                                                showing {{firstrowcount}}
                                                To {{last}}
                                                <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                            </span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    table.comparisontable,
    th.comparisontable,
    td.comparisontable {
        /* border: 1px solid white; */
        border-collapse: collapse;
    }

    th.comparisontable {
        background-color: #4B4B4B;
        color: white;
    }

    td.comparisontable {
        background-color: #fff;
        border-bottom: 1px solid #ebe9f1 !important;
    }
</style>