<div class="kt-customersignature" [@routerTransition] style="max-width: 650px;
margin: 0 auto !important;
height: 100vh;">
    <div class="sign-header t-center"><img [src]="OLogo" style='max-width:200px;'></div>
    <img src="../../assets/common/images/thanks.png" style="margin: 0; " />
    <div style="margin-top:60px; text-align:center;">
        <div style="font-size:2.5rem; font-weight:600; color:#000; margin-bottom:25px;">You have successfully Unsubscribed!</div>
        <p style="font-size:20px;">Your message has been received. We will miss you.</p>
        <!-- Thanks for the reply. We will get back to you soon. -->
    </div>
</div>