<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap' rel='stylesheet'>
</head>

<style>
    body {
        font-size: 13px !important;
    }
    
    .form-control-chk {
        font-family: system-ui, sans-serif;
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 1.2em;
    }
    
    .form-control-chk+.form-control-chk {
        margin-top: 1em;
    }
    
    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        /* Remove most all native input styles */
        appearance: none;
        /* For iOS < 15 */
        background-color: var(--form-background);
        /* Not removed via appearance */
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.50em;
        height: 1.50em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }
    
    input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: CanvasText;
    }
    
    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }
    
    input[type="checkbox"]:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
    }
    
    input[type="checkbox"]:disabled {
        --form-control-color: var(--form-control-disabled);
        color: var(--form-control-disabled);
        cursor: not-allowed;
    }
    
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    
    .data-container {
        width: 900px;
        padding: 0 20px;
        margin: 0 auto;
    }
    /*************** Common Classes ******************/
    
    .medium {
        font-weight: 500 !important;
    }
    
    .bold {
        font-weight: 700 !important;
    }
    
    .bolder {
        font-weight: 900 !important;
    }
    
    .f12 {
        font-size: 12px !important;
    }
    
    .f14 {
        font-size: 14px !important;
    }
    
    .f16 {
        font-size: 16px !important;
    }
    
    .f18 {
        font-size: 18px !important;
    }
    
    .f20 {
        font-size: 20px !important;
    }
    
    .mt15 {
        margin-top: 15px !important
    }
    
    .mt20 {
        margin-top: 20px !important
    }
    
    .mb10 {
        margin-bottom: 10px !important;
    }
    
    .mb15 {
        margin-bottom: 15px !important;
    }
    
    .mb5 {
        margin-bottom: 5px !important;
    }
    
    .mt10 {
        margin-top: 10px !important;
    }
    /*************** Common Ends ******************/
    
    .pdf_header {
        width: 880px;
        padding: 15px 10px;
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: space-between;
    }
    
    .pdf_header_line {
        display: flex;
        height: 4px;
        width: 100%;
    }
    
    .pdf_header_line .yellow_line {
        height: 4px;
        width: 450px;
        background: #FEC95E;
    }
    
    .pdf_header_line .blue_line {
        height: 4px;
        width: 450px;
        background: #078BCC;
    }
    
    .header_abn {
        border-radius: 20px;
        background: #078BCC;
        border: 1px solid #078BCC;
        display: flex;
        align-items: center;
        font-size: 1rem;
        font-weight: 600;
        color: #fff;
        padding-left: 15px;
    }
    
    .header_abn span {
        background: #fff;
        color: #000;
        border-radius: 0 20px 20px 0;
        margin-left: 15px;
        padding: 8px 12px;
    }
    
    .pdf_address_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .pdf_address_box .sign_items {
        margin: 0 5px;
        width: 100%;
    }
    
    .pdf_address_box .sign_items .sign_box {
        border-bottom: 1px solid #ccc;
        padding: 5px 0;
        height: 70px;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        font-weight: 600;
    }
    
    .pdf_address_box .sign_items .box_label {
        text-align: center;
        padding: 5px 0;
        font-weight: 600;
    }
    
    .pdf_footer_box {
        display: flex;
        padding: 25px;
        align-items: center;
        justify-content: space-between;
        background: #078BCC;
        color: #fff;
        margin-top: 25px;
    }
    
    .pdf_footer_box .pdf_address_box {
        text-align: center;
        margin: 0 5px;
        display: block;
    }
    
    .pdf_footer_box .pdf_address_box h3 {
        display: block;
        font-size: 0.8rem;
        margin: 0 0 5px;
        padding: 0;
    }
    
    .pdf_footer_box .pdf_address_box p {
        line-height: 20px;
        padding: 0;
        margin: 0;
    }
    
    .pdf_main_data {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .pdf_main_data .pdf_left_box {
        width: 70%;
    }
    
    .pdf_main_data .pdf_right_table {
        width: 27%;
    }
    
    .logo_img {
        width: 320px;
    }
    
    .pdf_banner_img {
        width: 100%;
        margin: 30px 0 0;
    }
    
    .chart_img {
        border-radius: 10px;
        width: 870px;
        margin: 0 auto;
        overflow: hidden;
        box-shadow: 0 0 10px #00000040;
    }
    
    .pdf_bottom_tags {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
        font-size: 0.7rem;
        font-weight: 600;
    }
    
    .tags {
        background: #e1e1ef;
    }
    
    @media (max-width: 768px) {
        html,
        body {
            overflow-x: hidden;
        }
        section {
            padding: 15px;
        }
        .data-container {
            width: auto;
            padding: 0;
        }
        .pdf_header {
            width: 100%;
            flex-direction: column;
            padding: 10px 0;
        }
        .logo_img {
            width: 250px;
        }
        .header_abn {
            margin-top: 15px;
        }
        .pdf_header_line .blue_line,
        .pdf_header_line .yellow_line {
            width: 50%;
        }
        .pdf_main_data {
            flex-direction: column;
        }
        .pdf_main_data .pdf_left_box,
        .pdf_main_data .pdf_right_table {
            width: 100%;
        }
        .pdf_main_data .pdf_right_table {
            margin-top: 15px
        }
        .chart_img {
            width: 95%;
        }
        .pdf_address_box,
        .pdf_footer_box {
            flex-direction: column;
        }
        .pdf_address_box .sign_items,
        .pdf_footer_box .pdf_address_box {
            width: 95%;
            margin: 10px;
        }
        .pdf_bottom_tags {
            flex-direction: column;
        }
    }
    
    @media (min-width: 768px) {
        body {
            background: #fff;
            color: #000;
            font-size: 13px !important;
        }
    }
    
    .kt-login.kt-login--v1 .kt-login__wrapper {
        background: #fff !important;
    }
</style>

<div [@routerTransition]>
    <div class='wrapper' style='overflow:hidden; background:#fff; height:auto !important;'>
        <div class='data-container'>
            <!-- HEADER STARTS -->
            <div class="pdf_header">
                <img [src]="appRootUrl() + 'assets/common/images/logo_arise.svg'" class="logo_img">
                <div class="header_abn"><img [src]="appRootUrl() + 'assets/common/images/phone-call.png'" style="max-height:20px;"><span>1300 274 737</span></div>
            </div>
            <div class="pdf_header_line">
                <div class="blue_line"></div>
                <div class="yellow_line"></div>
            </div>
            <!-- HEADER ENDS -->

            <!-- MIDDLE CONTENT STARTS -->
            <img [src]="appRootUrl() + 'assets/common/images/efficiency_banner.png'" class="pdf_banner_img">
            <section>
                <h1 style="text-align:center; margin:20px 0 15px; font-size:1.4rem;">QLD Efficiency Declaration</h1>
                <p style="text-align:center; margin:0 0 20px; font-size:1rem; font-weight:500;">(for panels with less than 15° tilt - OR - panels oriented between 100° E - 260° W.)</p>
            </section>
            <section style="padding:40px 20px; background:#eefaff;">
                <div class="pdf_main_data">
                    <div class="pdf_left_box">
                        <div style="text-align:justify; line-height: 18px; font-size:13px !important;">
                            <strong>I,</strong> the customer, agree with the proposed location of the solar panels, as confirmed by the installer.<br><br>
                            <strong>I,</strong> the customer acknowledge that Arise Solar will not be liable for any compensation relating to the losses in efficiency that may occur to part (or whole) of the solar system installed at the property, as
                            a result of the proposed angle of tilt and orientation of the solar panels. (see chart below)<br><br>
                            <strong>I,</strong> the customer acknowledge that solar panels mounted at tilt angles less than 15° may require additional cleaning in order to maintain their power output. As a general guide (see chart to right)
                        </div>
                    </div>
                    <div class="pdf_right_table">
                        <div style="overflow:hidden; border-radius:5px; border:2px solid #078BCC;">
                            <table style="width:100%; border:0; border-collapse: collapse; background:#fff;">
                                <tr>
                                    <th style="background:#078BCC; padding:8px; color:#fff; font-weight:600; text-align: center; font-size:13px !important;">
                                        Tilt
                                    </th>
                                    <th style="background:#078BCC; padding:8px; color:#fff; font-weight:600; text-align: center; font-size:13px !important;">
                                        Cleaning Frequency
                                    </th>
                                </tr>
                                <tr>
                                    <td style="padding:8px; text-align: center; font-size:13px !important;">0°</td>
                                    <td style="padding:8px; text-align: center; font-size:13px !important;">Monthly</td>
                                </tr>
                                <tr style="background:#def4ff;">
                                    <td style="padding:8px; text-align: center; font-size:13px !important;">15°</td>
                                    <td style="padding:8px; text-align: center; font-size:13px !important;">Quarterly</td>
                                </tr>
                                <tr>
                                    <td style="padding:8px; text-align: center; font-size:13px !important;">25°</td>
                                    <td style="padding:8px; text-align: center; font-size:13px !important;">Bi-annually</td>
                                </tr>
                                <tr style="background:#def4ff;">
                                    <td style="padding:8px; text-align: center; font-size:13px !important;">30°+</td>
                                    <td style="padding:8px; text-align: center; font-size:13px !important;">Annually</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


            </section>

            <section style="padding:40px 0 20px; text-align:center; background:#fff; text-align: center;">
                <img [src]="appRootUrl() + 'assets/common/images/qld-solar-data.jpg'" class="chart_img">
            </section>

            <section>
                <div class="pdf_address_box">
                    <div class="sign_items">
                        <div class="sign_box">
                            <!-- {{A.Name}} -->
                        </div>
                        <div class="box_label">Name (known as "the customer")</div>
                    </div>
                    <div class="sign_items">
                        <div class="sign_box">
                            <!-- <img src="{{A.CustomerSign.SignSrc}}" style="max-height:100px;"> -->
                        </div>
                        <div class="box_label">Signature</div>
                    </div>
                    <div class="sign_items">
                        <div class="sign_box">
                            <!-- {{A.CustomerSign.Date}} -->
                        </div>
                        <div class="box_label">Date</div>
                    </div>
                </div>
            </section>

            <section class="pdf_bottom_tags">
                <div class="tags" style="padding:5px 10px;  border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                    <span>Captured IP Address: </span>
                    <span style="font-weight:700">
                        <!-- {{ipAddress}} -->
                    </span>
                </div>
                <div class="tags" style="padding:5px 10px; border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                    <span>Latitude: </span>
                    <span style="font-weight:700">
                        <!-- {{lat}} -->
                    </span>
                </div>
                <div class="tags" style="padding:5px 10px; border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                    <span>Longitide: </span>
                    <span style="font-weight:700">
                        <!-- {{lng}} -->
                    </span>
                </div>
            </section>

            <!-- <div class="pdf_footer_box">
                <div class="pdf_address_box">
                    <h3 font-size:14px !important;>QUEENSLAND</h3>
                    <p font-size:13px !important;>4/29 Bellrick St<br>Acacia Ridge QLD 4110</p>
                </div>
                <div class="pdf_address_box">
                    <h3 font-size:14px !important;>NEW SOUTH WALES</h3>
                    <p font-size:13px !important;>5 Goulburn St<br>Kings Park NSW 2148</p>
                </div>
                <div class="pdf_address_box">
                    <h3 font-size:14px !important;>SOUTH AUSTRALIA</h3>
                    <p font-size:13px !important;>19 Thomas St<br>Cavan SA 5094</p>
                </div>
            </div> -->
            <div style="padding:10px 0; text-align:center; background:#FEC95E; font-size:0.9rem; font-weight: 600;">ABN: 32 168 697 907</div>


            <!-- MIDDLE CONTENT ENDS -->



            <!-- THANKS MSSAEGE STARTS -->
            <!-- <section class="white-bg" *ngIf="Submit"> -->
            <section class="white-bg">
                <div style="text-align:center; margin:0 0;">
                    <img src="https://thesolarproduct.com/assets/common/images/submit.jpg" style="width:95%;">
                </div>
                <div style="text-align:center; font-size:40px; font-weight:bold; margin:0 0 20px;">Thank You!</div>
                <div style="text-align:center; font-size:20px; margin:20px 0;">You have successfully signed the documents !!</div>
            </section>
            <!-- THANKS MESSAGE STARTS -->
            <!-- ALREADY SIGNED STARTS -->
            <section class="white-bg" style="padding:60px 0; display:flex; flex-direction:column; align-items: center;">
                <div style="text-align:center; margin:0 0;">
                    <img src="https://thesolarproduct.com/assets/common/images/banner-img.png">
                </div>
                <div style="text-align:center; font-size:24px; margin:50px 0 0; font-weight:bold;">You have already signed the <br>
                    <!-- {{Page}} -->.
                </div>
            </section>
            <!-- ALREADY SIGNED ENDS -->
            <!-- EXPIRE MESSAGE STARTS -->
            <section class="white-bg" style="padding:50px 0;">
                <div style="text-align:center; margin:0 0;">
                    <img src="https://thesolarproduct.com/assets/common/images/link-expired.jpg" style="width:95%;">
                </div>
                <div style="text-align:center; font-size:18px; margin:40px 0 0; font-weight:bold;">Sorry, Your Link Has Expired Please Request New Link Again.</div>
            </section>
            <!-- EXPIRE MESSAGE ENDS -->
        </div>
    </div>
</div>

<!-- <div class="kt-customersignature" [@routerTransition] style="display:none;">
    <div class="quotepdfbox">
        <div class="expiredmessage" *ngIf="quotationData.signed">
            <img src="../../assets/common/images/smile.svg" style="width:100px;" />
            <h3 class="mt-4">Hello </h3>
            <p class="text-center">You have already signed the Quotation. <br /> Please Ignore this email/SMS</p>
        </div>
        <div class="quotepdfbox">
            <div class="expiredmessage" *ngIf="quotationData.expiry">
                <img src="../../assets/common/images/sad.svg" style="width:100px;" />
                <h3 class="mt-4">Sorry </h3>
                <p class="text-center">Your Link Has Expired Please Request New Link Again. <br /> Thank You</p>
            </div>
            <div class="quotationarea" *ngIf="!quotationData.expiry && !quotationData.signed">
                <form #custSignForm="ngForm" novalidate autocomplete="off">
                    <h2>Collecting Home Owner Signature</h2>
                    <p class="mt-3">Dear {{quotationData.custName}},</p>
                    <p>Your Solar Advisor {{quotationData.instName}} from {{quotationData.organization}} PTY LTD is requesting a signature on Quote No.. {{quotationData.quoteNo}} for your property {{quotationData.address1 | titlecase}} {{quotationData.address2
                        | titlecase}}.</p>
                    <h3 class="mt-4">Before signing please verify your system details below:</h3>
                    <div class="customerinfobox ">
                        <ul>
                            <li><label>Panel Name</label>
                                <Span>: {{quotationData.panelName}}</Span>
                            </li>
                            <li><label>Panel brand </label>
                                <Span>: {{quotationData.panelBrand}} </Span>
                            </li>
                            <li><label>Panel Model </label>
                                <Span>: {{quotationData.panelModel}}</Span>
                            </li>
                            <li><label>Inverter Name </label>
                                <Span>: {{quotationData.inverterName}}</Span>
                            </li>
                            <li><label>Inverter brand </label>
                                <Span>: {{quotationData.inverterBrand}}</Span>
                            </li>
                            <li><label>Inverter Model </label>
                                <Span>: {{quotationData.inverterModel}}</Span>
                            </li>
                            <li><label>System Capacity </label>
                                <Span>: {{quotationData.systemCapecity}}</Span>
                            </li>
                            <li><label>No Of Panel</label>
                                <Span>: {{quotationData.noOfPanel}} </Span>
                            </li>
                            <li><label>No of Stc </label>
                                <Span>: {{quotationData.noOfSTC}} </Span>
                            </li>
                            <li><label>House type </label>
                                <Span>: {{quotationData.nonOfStory}} </Span>
                            </li>
                            <li><label>Roof Type </label>
                                <Span>: {{quotationData.roofType}} </Span>
                            </li>
                            <li><label>Roof Angle </label>
                                <Span>: {{quotationData.roofPinch}} </Span>
                            </li>
                            <li><label>NMI Number </label>
                                <Span>: {{quotationData.nmiNumber}} </Span>
                            </li>
                            <li><label>Distributor </label>
                                <Span>: {{quotationData.energyDist}} </Span>
                            </li>
                            <li><label>Retailer </label>
                                <Span>: {{quotationData.energyRet}} </Span>
                            </li>
                            <li><label>Meter upgrade </label>
                                <Span>: {{quotationData.upgrades}} </Span>
                            </li>
                            <li><label>Meter Phase </label>
                                <Span>: {{quotationData.meterPhase}} </Span>
                            </li>
                            <li><label>Price </label>
                                <Span>: {{quotationData.totalCost}} </Span>
                            </li>
                            <li><label>Deposit Paid </label>
                                <Span>: {{quotationData.depositePaid}} </Span>
                            </li>
                            <li *ngIf="quotationData.state == 'VIC'"><label>Less: Solar VIC Rebate </label>
                                <Span>:
                                    {{quotationData.solarVICRebate}} </Span>
                            </li>
                            <li *ngIf="quotationData.state == 'VIC'"><label>Less: Solar VIC Interest Free Loan</label>
                                <Span>: {{quotationData.solarVICLoanDiscont}} </Span>
                            </li>
                            <li><label>Bal To Pay </label>
                                <Span>: {{quotationData.balance}} </Span>
                            </li>
                            <li><label>Payment Option </label>
                                <Span *ngIf="quotationData.paymentOptionId == 1"> {{quotationData.paymentOption}}
                                </Span>
                                <Span *ngIf="quotationData.paymentOptionId != 1"> Finance With
                                    {{quotationData.financeOption}} with {{quotationData.depositOption}} for
                                    {{quotationData.paymentOption}} </Span>
                            </li>
                        </ul>

                        <h3 class="mt-4">Mandatory Declaration:</h3>
                        <p>* Provided layout of the solar panels for your property is just a reference only. Final Decision will be made on the day of installation by CEC Certified Installer.</p>
                        <p>* Free panels will be subject to available roof space and will be taken back by the installer if not installed. The price will remain unchanged. For any panel installed less than that, the price will be reduced by $75 per panel.</p>
                        <p>* Upgrade of Meter Box (if needed) will be negotiated and charged by our Electrician directly. The cost of the replacement of your current electric meter has to be borne by you, which can be legal charges imposed by the Electricity
                            Distributor. Customer agrees to pay the balance amount of the system plus any additional costs towards the system installation. {{quotationData.organization}} must have the final payment on the day of the installation by EFT,Credit
                            Card or Cheque.</p>
                        <p>* In case of Certegy EziPay or any other finance option offered by {{quotationData.organization}} cooling off period of 10 days will be applicable and the installation date will be scheduled accordingly.</p>
                        <p>* It is mandatory to inform {{quotationData.organization}} in case you change your electricity retailer anywhere between the date of initial deposit and the installation. Failure to inform us may result in delay in grid connection
                            and {{quotationData.organization}} will not be held liable for any such consequences.</p>

                        <label for="isChange" class="kt-checkbox">
                            <input type="checkbox" name="isChange" id="isChange" [(ngModel)]="checkboxtrue" required />
                            <span></span>
                            I have read and understood these terms and conditions and accept them
                        </label>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-5">
                            <div class="digitalsignaturebox">
                                <div class="digitalsignature">
                                    <h5>Signature</h5>
                                    <div class="wrapper">
                                        <canvas id="signature-pad" class="signature-pad" width=300 height=130></canvas>
                                    </div>
                                    <div>
                                        <button id="save" (click)="save()">Save</button>
                                        <button id="clear" (click)="clear()">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <p>
                                Customer name: {{quotationData.custName}} <br /> Date: {{quotationData.date}}<br /> Email: {{quotationData.custEmail}} <br /> Captured IP Address: {{ipAddress}} <br /> Location: Latitude: {{lat}} <br /> Longitide: {{lng}}
                            </p>
                            <p><strong>Privacy Declaration:</strong> {{quotationData.organization}} Pty Ltd will only use this personal information as intended and will not sell or divulge this to any parties other than the Clean Energy Regulator. If you
                                are not the intended recipient of this email - Please dispose this email and disregard the information within.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->