<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #WholeSaleLeadDocumentForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="WholeSaleLeadDocumenttype.id">{{l("EditDocumentType")}}</span>
                        <span *ngIf="!WholeSaleLeadDocumenttype.id">{{l("CreateNewDocumentType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="form-group form-icon">
                                    <label for="WholeSaleLeadDocumenttype_Name">{{l("Name")}} *</label>
                                    <input type="text" id="Department_Name" class="form-control" [(ngModel)]="WholeSaleLeadDocumenttype.title" name="Name" minlength="1" maxlength="200" required />
                                    <span class="icon-box"><i class="las la-edit"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="WholeSaleLeadDocumenttype_Name">{{l("WholeSaleLeadDocumentRequest")}} </label>
                                    <input type="checkbox" id="Department_ServiceDocumentRequest" class="form-control" [(ngModel)]="WholeSaleLeadDocumenttype.isDocumentRequest" name="isDocumentRequest" style="width: 22px;" />
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!WholeSaleLeadDocumentForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>