@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI'), url('assets/fonts/segoe/Segoe UI.woff') format('woff');
}

@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('assets/fonts/segoe/Segoe UI Bold.woff') format('woff');
}




@font-face {
    font-family: 'CircularStd Regular';
    font-style: normal;
    font-weight: normal;
    src: local('CircularStd Regular'), url('assets/fonts/circular/CircularStd-Book.woff') format('woff');
}


@font-face {
    font-family: 'Circular Medium';
    font-style: normal;
    font-weight: medium;
    src: local('Circular Medium'), url('assets/fonts/circular/CircularStd-Medium.woff') format('woff');
}


@font-face {
    font-family: 'CircularStd Bold';
    font-style: normal;
    font-weight: bold;
    src: local('CircularStd Bold'), url('assets/fonts/circular/CircularStd-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Circular Black';
    src: url('assets/fonts/circular/CircularStd-Black.eot');
    src: url('assets/fonts/circular/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/circular/CircularStd-Black.woff2') format('woff2'),
        url('assets/fonts/circular/CircularStd-Black.woff') format('woff'),
        url('assets/fonts/circular/CircularStd-Black.svg#CircularStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
$purpal:#5344ed;
$btnhovershadow:#7367f0; 
$hoverbg1:rgba(115,103,240,.12);
$darkgray:#585858;
$gray2:#333333;
$gray4:#414141;   
$lightgray:#a8a8a8;
$orange:#7367f0;
$orange2:#1d73e5;
$orange3:#1268da;
$orange4:#1d73e5;
$graytextboxborder:#ACACAC;
$lightorange:#b0ccf1;
$whitecolor:#ffffff;
$morelightgray:#221e1e;
$grayarrow:#a5a3a3;
$lightgray2:#e9e9e9;
$lightgray4:#efefef;
$lightgray5:#f5f5f5;

$gray3:#4a4949;
$graybtn:#5a5a5a;
$black:#000000;
$gray5:#727272;
$gray6:#BBBBBB;
$gray8:#2e2e2e;
$gray27:#666666;
$gray28:#d7d7d7;
$sidemenulinkcolor:#272727;
// $fntpoppins:'Poppins',
// sans-serif;
// $fntsegoe:'CircularStd Regular',
// sans-serif;
// $fntsegoebold:'CircularStd Bold',
// sans-serif;
// $fntsegoemedium:'Circular Medium',
// sans-serif;
// $fntsegoeblack:'Circular Black',
// sans-serif;

$fntsegoe:'Montserrat', sans-serif;
$fntsegoebold:'Montserrat', sans-serif;
$fntsegoemedium:'Montserrat', sans-serif;
$fntsegoeblack:'Montserrat', sans-serif;


$textborder:#e2e5ec;
$heading:#e7f0fb;
$pad25:25px;
$errorColor:#c30000;
$fnt11:0.7rem;
$fnt12:0.92rem;
$fnt13:1rem;
$fnt14:1.07rem;
$fnt15:1.15rem;
$fnt16:1.23rem;
$fnt17:1.30rem;
$fnt18:1.28rem;
$fnt19:1.46rem;
$fnt20:1.53rem;
$fnt21:1.61rem;
$fnt22:1.69rem;
$fnt23:1.76rem;
$fnt28:2rem;
$greenColor:#81bb3c;
$green2:#52d843;
$green3:#29A535;
$hovergreen2:#37b729;
$greenbtn:#37C845;
$bluecolor:#007FFF;
$bluebrdr:#0053a7;
$gray7:#dedede;
$gray9:#694242;
$redcolor:#ea5455;
$lightblue:#0090FF;
$lightblue2:#70B9F1;
$gray10:#e6e6e6;
$gray11:#272727;
$gray12:#f4f4f4;
$gray13:#e0e0e0;
$gray14:#f2f2f2;
$gray15:#dee2e6;
$gray16:#707070;
$gray17:#d6d6d6;
$gray18:#cccccc;
$gray19:#6E6E6E;
$gray20:#bbbbbb;
$gray21:#b9b9b9;
$gray22:#d0d0d0;
$gray23:#848484;
$gray24:#7e7e7e;
$gray25:#555555;
$gray26:#eeeeee;
$gray30:#fbfbfb;
$gray31:#e5e5e5;
$gray32:#f7f7f7;
$gray33:#f9f9f9;
$greenbrdr:#219a2c;
$darkgray2:#2b2b2b;
$orangebrdr:#7367f0;
$lightgray6:#c4c4c4;
$disabled:#f7f8fa;

$green5:#5FC408;
$green6:#9CE959;
$green7:#70CE1E;
$green8:#A1EC5F;
$green9:#5FC4088C;
$green10:#54AF06;
$buttonblue:#7367f0;
$buttonblue2:#7367f0;
$lightbluebox:#f5f9fe;
$dividercolor:#ECEFF1;
$pdforange : #ff5100;

$color8d:#d8d8d8;

$fntbold:700;
/**************** mixin ********************************/

@mixin big-desktop {
    @media (min-width: 1400px) and (max-width: 2500px) {
        @content;
    }
}

@mixin mini-desktop {
    @media (max-width:1280px) {
        @content;
    }
}

@mixin tab_min {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin tab {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin phone {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin phone-xs {
    @media (max-width: 575px) {
        @content;
    }
}

@mixin btntheme ($backcolorname, $textcolor, $brdrcolor) {
    color: $textcolor !important;
    background-color: $backcolorname !important;
    border-color: $brdrcolor !important;
    transition: all ease 0.5s;

    &:hover {
        background: darken($color: $backcolorname, $amount: 10) !important;
        transition: all ease 0.5s;
        border-color: darken($color: $brdrcolor, $amount: 10) !important;
        color: #fff !important;
    }
}
