@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI"), url("assets/fonts/segoe/Segoe UI.woff") format("woff");
}
@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Bold"), url("assets/fonts/segoe/Segoe UI Bold.woff") format("woff");
}
@font-face {
  font-family: "CircularStd Regular";
  font-style: normal;
  font-weight: normal;
  src: local("CircularStd Regular"), url("assets/fonts/circular/CircularStd-Book.woff") format("woff");
}
@font-face {
  font-family: "Circular Medium";
  font-style: normal;
  font-weight: medium;
  src: local("Circular Medium"), url("assets/fonts/circular/CircularStd-Medium.woff") format("woff");
}
@font-face {
  font-family: "CircularStd Bold";
  font-style: normal;
  font-weight: bold;
  src: local("CircularStd Bold"), url("assets/fonts/circular/CircularStd-Bold.woff") format("woff");
}
@font-face {
  font-family: "Circular Black";
  src: url("assets/fonts/circular/CircularStd-Black.eot");
  src: url("assets/fonts/circular/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("assets/fonts/circular/CircularStd-Black.woff2") format("woff2"), url("assets/fonts/circular/CircularStd-Black.woff") format("woff"), url("assets/fonts/circular/CircularStd-Black.svg#CircularStd-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/**************** mixin ********************************//*# sourceMappingURL=globalvariables.css.map */