@media (max-width: 1280px) {
    topbar .commonsearch {
        top: 10px;
        left: 10%;
    }
    topbar .commonsearch .form-control.ng-valid.ng-touched {
        border: 1px solid #7367f0 !important;
    }
    .kt-subheader--enabled.kt-subheader--solid .kt-subheader {
        background: none !important;
        padding: 0 !important;
    }
    .kt-subheader .kt-container {
        flex-direction: column;
    }
    .kt-searchmainbox ul.hd_right {
        justify-content: flex-start;
        padding: 10px;
        background: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox.leadedropdown .selectdropdown.wdth140 {
        padding-right: 0;
    }
    .kt-content.kt-grid__item.kt-grid__item--fluid.kt-grid {
        padding: 5px 10px !important;
    }
}

@media (max-width: 1024px) {
    html,
    body {
        font-size: 14px !important;
        overflow-x: hidden;
    }
    #kt_header_mobile {
        z-index: 999999 !important;
    }
    /**************************************************************************
    Login style starts
    ****************************************************************************/
    .kt-loginmainbox {
        padding: 0rem 1rem !important;
    }
    .kt-loginmainbox .logo {
        position: inherit !important;
        left: 0 !important;
        top: 0 !important;
    }
    .loginimgbox .logo a h2,
    .logo a h2 {
        font-size: 3rem !important;
    }
    .kt-login__form h1,
    .kt-login__form p {
        text-align: center;
    }
    .kt-login__actions .kt-login__btn-primary {
        width: 100% !important;
    }
    .form-icon.login-screen .icon-box {
        top: 36px;
    }
    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form label {
        font-size: 1rem !important;
    }
    .kt-login__signup-label.tenant-change-box tenant-change>span {
        padding: 15px 10px !important;
    }
    topbar .commonsearch {
        top: 60px;
        left: 33%;
    }
    /**************************************************************************
    Login style ends
    ****************************************************************************/
    .kt-subheader--enabled.kt-subheader--solid .kt-subheader {
        background: none !important;
        padding: 0 !important;
    }
    .kt-subheader .kt-container {
        flex-direction: column;
    }
    .kt-searchmainbox ul.hd_right {
        justify-content: flex-start;
        padding: 10px;
        background: #fff;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox.leadedropdown .selectdropdown.wdth140 {
        padding-right: 0;
    }
    .kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox .kt-advancefilterbox.hide {
        right: 330%;
    }
    .kt-content.kt-grid__item.kt-grid__item--fluid.kt-grid {
        padding: 5px 10px !important;
    }
    .kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox .kt-advancefilterbox.show {
        right: -97%;
    }
    .kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox .kt-advancefilterbox.overflow {
        max-height: inherit;
    }
    .myleadsReport.leadtracker.leadtrackerpage.joblist {
        margin-top: 10px;
    }
    .leadmaindiv .leadedetailleftpart {
        width: calc(100% - 20%) !important;
    }
    .leadmaindiv .kt-content.kt-grid__item.kt-grid__item--fluid.kt-grid .kt-container {
        padding: 0 !important;
    }
    .kt-cdetailhead .kt-cname ul.custdetail li.h-mobile {
        display: none;
    }
    .leaddetailtabs .leaddetailcnt {
        padding: 10px 5px;
    }
    .leadmaindiv .myleadsstatus {
        margin-bottom: 15px !important;
    }
    .leadmaindiv .myleadsstatus ul li {
        padding: 10px !important;
    }
    .leadmaindiv .myleadsstatus ul li span.icon {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .leadmaindiv .leaddetailcnt .comcontactdtl {
        margin: 0;
    }
    .leaddetailtabs .leaddtltitle {
        padding: 10px 5px;
    }
    .leaddetailtabs .leaddtltitle h3 {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    /******************************************************************
    Common style starts
    *********************************************************************/
    html,
    body {
        font-size: 14px !important;
        overflow-x: hidden;
    }
    .d-mobile {
        display: block !important;
    }
    .h-mobile {
        display: none !important;
    }
    .dis-column {
        flex-direction: column !important;
    }
    .full-width-mob {
        width: 100%;
    }
    .blue-filter-box {
        padding: 5px;
    }
    .recordsSelect {
        border: 0;
        margin: 8px 0 0 0;
        padding-left: 0;
    }
    .legends div {
        border: 0;
        margin: 3px auto !important;
    }
    .mob-mar-0 {
        margin: 0 !important;
    }
    .blue-filter-box select.form-control {
        width: 100%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    #kt_header_mobile {
        z-index: 9999 !important;
    }
    .kt-header-mobile .kt-header-mobile__logo img {
        height: 35px !important;
    }
    .kt-aside-menu .kt-menu__nav {
        margin-top: 60px !important;
    }
    .kt-quick-panel--right .kt-quick-panel.kt-quick-panel--on {
        top: 50px;
        overflow-y: auto !important;
    }
    .kt-header__topbar .dropdown .dropdown-menu {
        width: 29rem
    }
    .kt-header__topbar .dropdown.open.show .dropdown-menu {
        inset: 100% -63px auto auto !important;
    }
    .top-search-result {
        width: 100%;
        top: 43px;
    }
    .kt-content.kt-grid__item.kt-grid__item--fluid.kt-grid {
        padding: 5px 10px !important
    }
    .kt-subheader--enabled.kt-subheader--solid .kt-subheader {
        background: none !important;
        padding: 0 !important;
    }
    .mobile-filter {
        background: #fff;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px #00000040;
    }
    .mobile-filter ul.hd_right {
        justify-content: flex-start !important;
        padding: 5px;
        margin: 5px !important;
    }
    .mobile-filter ul.hd_right.wrap {
        flex-wrap: wrap;
    }
    .mobile-filter ul.hd_right li {
        margin: 3px 5px 3px 0 !important;
    }
    .kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox.leadedropdown .selectdropdown.wdth140 {
        width: auto !important;
    }
    .p-datatable-scrollable .p-frozen-column,
    .p-frozen-column {
        position: inherit;
        left: inherit;
    }
    .leadcompanynamebar,
    .leadmaindiv .leadedetailleftpart {
        max-width: 100% !important;
        width: 100% !important;
        margin: 5px 0;
    }
    .leadmaindiv .leadedetailleftpart .kt-container {
        padding: 0 !important;
    }
    .leaddetailtabs .leaddetailcnt {
        padding: 15px 0;
    }
    .leaddetailtabs.fix-tab .nav-tabs {
        position: relative;
        background: #fff;
    }
    .leaddetailtabs .leaddetailcnt.subtabpanel .nav-tabs {
        position: relative;
        background: #fff;
        top: 5px;
        border: 1px solid #ddd;
        border-width: 1px 0;
        flex-direction: column;
        margin: 0;
    }
    .leaddetailtabs .leaddetailcnt.subtabpanel .nav-tabs .nav-item {
        width: 100%;
    }
    .leaddetailtabs.fix-tab .nav-tabs .nav-item {
        width: 48.5%;
        margin: 4px 2px;
    }
    .leaddetailtabs.fix-tab .nav-tabs .nav-item .nav-link {
        justify-content: center;
    }
    .leadmaindiv .myleadsstatus {
        margin-bottom: 10px !important;
    }
    .leadmaindiv .myleadsstatus ul {
        flex-direction: column;
    }
    .leadmaindiv .myleadsstatus ul li {
        margin: 10px 0 0 !important;
        width: 100%;
    }
    .leadmaindiv .myleadsstatus ul li:nth-child(2) {
        margin: 10px 0 !important;
    }
    .leadmaindiv .leaddetailcnt .comcontactdtl .comcontactdtl-body {
        min-height: inherit;
    }
    .leadmaindiv .leaddetailcnt .comcontactdtl {
        width: 100%;
        margin: 5px 0;
    }
    .leadmaindiv .leaddetailcnt .comcontactdtl h5,
    .leadmaindiv .leaddetailcnt .comcontactdtl .comcontactdtl-body {
        padding: 0.8rem !important;
    }
    .comcontactdtl ul {
        margin-bottom: 0;
    }
    .comcontactdtl ul li {
        margin: 0 0 10px;
        width: 100%;
    }
    .kt-portlet__body .primeng-datatable-container .primeng-paging-container .total-records-count,
    .primeng-datatable-container .primeng-paging-container .ui-paginator .ui-dropdown {
        display: none;
    }
    .kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox .kt-advancefilterbox.show {
        left: -16px;
        top: -135px;
    }
    .kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox .kt-advancefilterbox {
        width: 370px;
    }
    .leaddetailtabs .leaddtltitle {
        padding: 10px;
    }
    .leaddetailtabs .leaddtltitle h3 {
        font-size: 1.2rem;
    }
    .leaddetailtabs .leaddtltitle.activitytitle .switchbox {
        display: none;
    }
    .ativityLogs .list_area_box .list_box .img_area {
        width: 32px;
        margin-left: -16px;
    }
    .ativityLogs .list_area_box .list_box .img_area div {
        width: 32px;
        height: 32px;
        left: 6px;
    }
    .log-date {
        padding: 4px 5px;
        font-size: 0.7rem !important;
    }
    .leadmaindiv .kt-cdetailhead .kt-cname h2 {
        font-size: 1.2rem;
    }
    .leadmaindiv .kt-cdetailhead .kt-cname h2 i {
        margin-right: 0;
    }
    .kt-cdetailhead .kt-cname ul.custdetail li {
        white-space: nowrap;
    }
    .ativityLogs .list_area_box .list_box .text_area p {
        flex-direction: column;
        align-items: start !important;
    }
    .myleadsReport.leadtracker.job-page .leftpart ul li {
        flex: auto;
        width: 115px;
    }
    .primeng-datatable-container .primeng-no-data {
        background: #fff;
    }
    .modal-body .card .card-body .pdrightxlzero li {
        width: 100%;
    }
    .modal-header,
    .modal-body,
    .modal-body .jobnotebox,
    .modal-white-box {
        padding: 0.8rem !important;
    }
    .modal-dialog.addSmsEmailModal .modal-content .p-1,
    .modal-dialog.addSmsEmailModal .modal-content .p-2,
    .modal-content .emailboxlayout .activitysms span.labelttl:after,
    .modal-dialog.financeSmsEmailModal .p-2 {
        display: none;
    }
    .modal-content .emailboxlayout .activitysms.smsemailbox {
        flex-direction: column;
        align-items: flex-start;
    }
    .modal-content .emailboxlayout .activitysms.smsemailbox.templatebox .form-control {
        margin-bottom: 5px;
    }
    .modal-content .emailboxlayout .activitysms .form-control,
    .modal-content .emailboxlayout .text_capital.subject,
    .modal-content .emailboxlayout .activitysms.smsemailbox .lowercase {
        width: 100% !important;
    }
    .kt-subheader .kt-subheader__main .kt-subheader__title {
        padding: 0.5rem 0.5rem 0.5rem 0 !important;
    }
    .modal.show .modal-dialog {
        width: auto !important;
    }
    .jobformmain.fix-button .jobrightbox {
        position: static;
    }
    .leaddetailtabs .leaddetailcnt .white-form-block .notes-sec {
        border-left: 0 !important;
        padding-left: 0 !important;
        border-top: 1px solid #eee;
        padding-top: 20px!important;
    }
    .mob-autoWidth {
        width: auto !important;
    }
    .mob-autoWidth img {
        width: 100%;
    }
    .distance-tag {
        position: inherit;
        left: inherit;
        margin: 0 auto;
        top: -52px;
    }
    /******************************************************************
    Common style ends
    *********************************************************************/
    topbar .commonsearch {
        min-width: auto;
        margin-left: 0 !important;
        top: 7px;
        left: 2%;
    }
    .myleadsReport.leadtracker.leadtrackerpage.joblist {
        margin-top: 0;
    }
    .installationboxmain .installationbox {
        min-width: 85%;
    }
    .installationboxmain .installationbox:first-child {
        margin-left: 0;
    }
    .installationboxmain .installationbox:last-child {
        margin-right: 0;
    }
    .installationboxmain .installationbox .scroll-section {
        max-height: 66vh !important;
    }
    .kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox .kt-stextbox.wdth250 {
        min-width: 230px !important;
    }
    .searchclearbox.commonsearch .btnclearsearch {
        top: 6px !important;
    }
    .kt-header__topbar .kt-header__topbar-wrapper img,
    .kt-header__topbar .dropdown-toggle img {
        width: 24px !important;
    }
    .kt-header__topbar #header_notification_bar.dropdown .dropdown.set_unred_count .unReadSMSCount span {
        top: -12px;
    }
    /************* Dashboard Style starts *****************/
    .day-filter {
        flex-direction: column;
        margin-top: 15px;
    }
    .dcard-title,
    .dcard-title {
        padding: 10px;
    }
    .custom-org-list .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content {
        padding: 8px 12px !important;
    }
    .custom-org-list .ui-treenode-label div>span {
        min-width: 90px !important;
    }
    .custom-org-list .ui-treenode-label div small {
        margin-left: 10px !important;
        padding-left: 10px !important;
    }
}


/******************* Mobile CSS Starts ******************/

@media (max-width: 767px) {}


/******************* Mobile CSS Ends ******************/

@media (max-width: 640px) {}

@media (max-width: 460px) {}