<div appBsModal #changeProfilePictureModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content"> 
            <form *ngIf="active" #changeProfilePictureModalForm="ngForm" (ngSubmit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{"ChangeProfilePicture" | localize}}</span>
                    </h5>
                    <button type="button" class="close" [attr.aria-label]="l('Close')" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group usegravtar">
                        <label for="Profile_UseGravatarProfilePicture" class="kt-checkbox">
                            <input id="Profile_UseGravatarProfilePicture" type="checkbox" name="UseGravatarProfilePicture"
                            [(ngModel)]="useGravatarProfilePicture">
                            {{"UseGravatarProfilePicture" | localize}}
                            <span></span>
                        </label>
                    </div>
                    <div class="form-group"> 
                        <!-- <div>
                        <input type="file" (change)="fileChangeEvent($event)" [disabled]="useGravatarProfilePicture" />
                    </div> -->                    
                        <!-- <div class="upload_area">
                            <span class="control-fileupload">
                                <label for="file">Choose a file :</label> -->
                                <input type="file" id="file" (change)="fileChangeEvent($event)" [disabled]="useGravatarProfilePicture" >
                            <!-- </span>
                        </div> -->
                        <div>
                            <span class="help-block m-b-none" [hidden]="useGravatarProfilePicture">{{"ProfilePicture_Change_Info" | localize:maxProfilPictureBytesUserFriendlyValue}}</span>
                        </div>
                    </div>
                  
                        <image-cropper
                            [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true"
                            [aspectRatio]="4 / 4"
                            [resizeToWidth]="128"
                            format="png"
                            (imageCropped)="imageCroppedFile($event)"
                            [hidden]="useGravatarProfilePicture"
                        ></image-cropper>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="close()" [disabled]="saving"><i class="fa fa-times"></i> {{"Cancel" | localize}}</button>
                    <button type="submit" class="btn btn-primary" [disabled]="!changeProfilePictureModalForm.form.valid || saving"><i class="fa fa-save"></i> <span>{{"Save" | localize}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
