﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #streetTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="streetType.id">Edit Street Type</span>
                        <span *ngIf="!streetType.id">Create New Street Type</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="StreetType_Name">{{l("Name")}} *</label>
                                    <input type="text" id="StreetType_Name" class="form-control" [(ngModel)]="streetType.name" name="Name" required/>
                                    <span class="icon-box"><i class="las la-city"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="StreetType_Code">{{l("Code")}} *</label>
                                    <input type="text" id="StreetType_Code" class="form-control" [(ngModel)]="streetType.code" name="Code" minlength="2" maxlength="50" required/>
                                    <span class="icon-box"><i class="las la-city"></i></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                            <div class="form-group form-icon">
                                <label>Is-Active</label>
                                <input type="checkbox"  class="form-control" [(ngModel)]="streetType.isActive" name="isActive" style="width: 22px;" />
                              </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="fa fa-times"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!streetTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>