﻿<div [@routerTransition]>
  <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item">
      <div [class]="containerClass">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
				<span *ngIf="active && streetType.id">{{"EditStreetType" }}</span>
				<span *ngIf="active && !streetType.id">{{l("CreateStreetType")}}</span>
			</h3>
			<span class="kt-subheader__separator kt-subheader__separator--v"></span>
			<div class="kt-subheader__breadcrumbs">
				<a [routerLink]="['/app/main/streetTypes/streetTypes']"
					class="kt-subheader__breadcrumbs-home"><i
						class="flaticon2-shelter"></i>{{l("StreetType")}}</a>
				<span class="kt-subheader__breadcrumbs-separator"></span>
				<a 
					class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
					<span *ngIf="active && streetType.id">{{l("Edit")}}</span>
					<span *ngIf="active && !streetType.id">{{l("Create")}}</span>
				</a>
			</div>
        </div>
      </div>
    </div>
    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">              
                
                
								<div class="form-group">
									<label for="StreetType_Name">{{l("Name")}} *</label>
									<input type="text" id="StreetType_Name" class="form-control" [(ngModel)]="streetType.name" name="Name"   minlength="2"  maxlength="50"  required/>
								</div>
					
								<div class="form-group">
									<label for="StreetType_Code">{{l("Code")}} *</label>
									<input type="text" id="StreetType_Code" class="form-control" [(ngModel)]="streetType.code" name="Code"   minlength="2"  maxlength="50"  required/>
								</div>
					
            </div>
              <div class="kt-portlet__foot">			  
				<div class="col-lg-12">
					<button (click)="save()" class="btn btn-primary blue"
                        [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> 
                        <span>{{l("Save")}}</span>
                    </button>               
				</div>
		    </div>
        </div>
    </div>
  </div>
  
</div>
