<style>
    .form-icon .icon-box {
        top: 30px !important;
    }
</style>
<div bsModal #addEssentialModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addEssentialModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("AddNotes")}}  - {{this.item.job.jobNumber}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                   
                    <div class="jobnotebox modal-white-box">
                        <h3>{{l("DistributorApplicableDetail")}}</h3>
                        <div class="card card-custom card-stretch mt-3">
                            <div class="card-body p-0">
                                <ul class="pdrightxlzero">
                                    <li>
                                        <div class="form-group custom-required">
                                            <label for="essentialDistApplied">{{l("EssentialDistApplied")}}</label>
                                            <input type="text" bsDatepicker datePickerMomentModifier required [(ngModel)]="item.job.essentialDistApplied" name="essentialDistApplied" [(date)]="item.job.essentialDistApplied" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-group form-icon">
                                            <label for="essentialApprovalRef">{{l("EssentialApprovalRef")}}</label>
                                            <input id="item.job.essentialApprovalRef" class="form-control" [(ngModel)]="item.job.essentialApprovalRef" name="essentialApprovalRef" />
                                            <span class="icon-box"><i class="las la-hashtag"></i></span>
                                        </div>
                                    </li>
                                   
                                 
                                </ul>
                            </div>

                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>