<div bsModal #EssentialactiveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EssentialactiveModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #jobActiveForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Essential Tracker Status</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group CheckJobStatusbox">
                        <div class="d-flex justify-content-between">
                            <div class="w-400px list-box">
                                <div class="popup_titlebox"><span>Essential Document</span></div>
                                <ul>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="essentialStatus.electricityBill">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!essentialStatus.electricityBill">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Electricity Bill</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="essentialStatus.electricPoleImg">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!essentialStatus.electricPoleImg">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Electric Pole Img</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="essentialStatus.meterBox">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!essentialStatus.meterBox">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Meter Box</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="essentialStatus.essentialGreenBox">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!essentialStatus.essentialGreenBox">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Essential Green Box</div>
                                    </li>
                                     
                                </ul>

                            </div>
                           
                           

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>