<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #WholeSaleLeadDocumentForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="ECommerceSlider.id">{{l("Edit ECommerceSlider")}}</span>
                        <span *ngIf="!ECommerceSlider.id">{{l("Create New ECommerceSlider")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ECommerceSlider_Name">{{l("Name")}} *</label>
                                    <input type="text" id="Department_Name" class="form-control"
                                        [(ngModel)]="ECommerceSlider.name" name="Name" minlength="1" maxlength="200"
                                        required />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ECommerceSlider_Name">{{l("Image")}}*</label>
                                    <div class="flexbloxbutton fileuploadbtn">
                                        <div class="form-group marginbtm0">
                                            <div class="white-file-upload">
                                                <input name="f1" type="file" style="width: 232px; font-size:1rem; border-radius: 8px;"
                                                    (change)="fileChangeEvent($event)" [(ngModel)]="selectedFile"
                                                    [required]="ECommerceSlider.imgPath == null" class="btn-primary" />
                                                <a (click)="downloadfile(ECommerceSlider.imgPath)"
                                                    *ngIf="ECommerceSlider.imgPath">
                                                    <i class="las la-file-pdf "></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ECommerceSlider_ImageUrl">{{l("ImageUrl")}} *</label>
                                    <input type="text" id="Department_ImageUrl" class="form-control"
                                        [(ngModel)]="ECommerceSlider.imageUrl" name="ImageUrl" minlength="1"
                                        maxlength="200" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ECommerceSlider_Button">{{l("Button")}}</label>
                                    <input type="text" id="Department_Button" class="form-control"
                                        [(ngModel)]="ECommerceSlider.button" name="Button" minlength="1"
                                        maxlength="200" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ECommerceSlider_Header">{{l("Header")}}</label>
                                    <input type="text" id="Department_Header" class="form-control"
                                        [(ngModel)]="ECommerceSlider.header" name="Header" minlength="1"
                                        maxlength="200" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ECommerceSlider_SubHeader">{{l("SubHeader")}} *</label>
                                    <input type="text" id="Department_SubHeader" class="form-control"
                                        [(ngModel)]="ECommerceSlider.subHeader" name="SubHeader" minlength="1"
                                        maxlength="200" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ECommerceSlider_Name">{{l("IsActive")}} *</label>
                                    <input type="checkbox" id="Department_ServiceDocumentRequest" class="form-control"
                                        [(ngModel)]="ECommerceSlider.active" name="active" style="width: 22px;" />
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i>{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue"
                        [disabled]="!WholeSaleLeadDocumentForm.form.valid" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>