<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("ECommerce Slider")}}</span>
                        <span class="total-records-count">
                        ({{(primengTableHelper.totalRecordsCount)}})
                    </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getECommerceSlider()"></button>
                            </li>
                            <li *ngIf="isGranted('Pages.Tenant.WholeSale.ECommerce.Slider.Create')"><button (click)="createECommerceSlider()" class="btn btn-outline-primary btnadd">
                          Add <i class="las la-plus-circle"></i>
                      </button></li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getECommerceSlider();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getECommerceSlider()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getECommerceSlider();searchLog();" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <select class="form-control" [(ngModel)]="IsActive" name="IsActive" (change)="getECommerceSlider()">
                                            <option value="All">{{l("All")}}</option>
                                            <option value="Yes">{{l("Yes")}}</option>
                                            <option value="No">{{l("No")}}</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getECommerceSlider($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth"  [hidden]="!isGrantedAny('Pages.Tenant.WholeSale.ECommerce.Slider.Edit', 'Pages.Tenant.WholeSale.ECommerce.Slider.Delete', 'Pages.Tenant.WholeSale.ECommerce.Slider.View')" >{{l('Actions')}}</th>
                                        <th pSortableColumn="Name">
                                            {{l('Name')}}
                                            <p-sortIcon field="ecommerceslider.Name"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Header">
                                            {{l('Header')}}
                                            <p-sortIcon field="ecommerceslider.Header"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="SubHeader">
                                            {{l('SubHeader')}}
                                            <p-sortIcon field="ecommerceslider.SubHeader"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="active">
                                            {{l('IsActive')}}
                                            <p-sortIcon field="ecommerceslider.active"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth"  [hidden]="!isGrantedAny('Pages.Tenant.WholeSale.ECommerce.Slider.Edit', 'Pages.Tenant.WholeSale.ECommerce.Slider.Delete', 'Pages.Tenant.WholeSale.ECommerce.Slider.View')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                  <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                              </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.Slider.View')">
                                                        <a href="javascript:;" (click)="viewEcommerceSliderModal.show(record.eCommerceSliders.id)">
                                                            <i class="las la-binoculars"></i> {{l('View')}}</a>
                                                    </li>
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.Slider.Edit')">
                                                        <a href="javascript:;" (click)="CreateOrEditECommerceSliderModal.show(record.eCommerceSliders.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.WholeSale.ECommerce.Slider.Delete')">
                                                        <a href="javascript:;" (click)="deleteECommerceSlider(record.eCommerceSliders)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                   
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.eCommerceSliders.name}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Header')}}</span> {{record.eCommerceSliders.header}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('SubHeader')}}</span> {{record.eCommerceSliders.subHeader}}
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('IsActive')}}</span> 
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.eCommerceSliders.active">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.eCommerceSliders.active">{{'No' | localize}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getECommerceSlider($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                showing {{firstrowcount}}
                                To {{last}}
                                <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
         <CreateOrEditECommerceSliderModal #CreateOrEditECommerceSliderModal (modalSave)="getECommerceSlider()"></CreateOrEditECommerceSliderModal>
        <viewEcommerceSliderModal #viewEcommerceSliderModal></viewEcommerceSliderModal>

    </div>
</div>