<style>
.wdth_set .row{
margin-bottom: 8px;
}
</style>


<div bsModal #viewEcommerceSlider="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="viewEcommerceSlider" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 50% ; margin: auto;">
            <div class="modal-header" style="line-height: 1;">
                <h4 class="modal-title">
                    <span>{{l("ViewSlider")}}</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()" aria-label="Close" style="
                color: #fff;
                background-color: #5578eb;
                border: none;
                outline: none;
                font-size: 22px;
                padding-bottom: 0px;
                padding: 3px 9px !important;
                border-radius: 6px;
                font-weight: 600;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray p-0">

                <div class="d-flex align-items-center">
                    <div class="p-3" style="width:100%;">
                        <div class="promotion-title">
                            <span>{{ ECommerceSlider.name }}</span>
                        </div>
                        <div class="modal-white-box wdth_set">
                            <div class="row">
                                <div class="col-sm-3">{{l("ImageUrl")}}</div>
                                <div><span class="col-sm-3" style="font-weight: 600;">:</span></div>
                                <div><span class="col-sm-6" style="font-weight:600;">{{ ECommerceSlider.imageUrl }}
                                    </span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">{{l("Button")}} </div>
                                <div><span class="col-sm-3" style="font-weight: 600;">:</span></div>
                                <div> <span class="col-sm-6" style="font-weight:600;">{{ ECommerceSlider.button }}</span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">{{l("Header")}} </div>
                                <div><span class="col-sm-3" style="font-weight: 600;">:</span></div>
                                <div><span class="col-sm-6" style="font-weight:600;">{{ ECommerceSlider.header }}</span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">{{l("SubHeader")}} </div>
                                <div><span class="col-sm-3" style="font-weight: 600;">:</span></div>
                                <div><span class="col-sm-6" style="font-weight:600;">{{ ECommerceSlider.subHeader }}</span></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">{{l("IsActive")}} </div>
                                <div><span class="col-sm-3" style="font-weight: 600;">:</span></div>
                                <div><span class="col-sm-6" class="kt-badge kt-badge--success kt-badge--inline" *ngIf="ECommerceSlider.active">{{'Yes' | localize}}</span></div>
                                <div><span class="col-sm-6" class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!ECommerceSlider.active">{{'No' | localize}}</span></div>
                            </div>
                        </div>
                        <div class="modal-white-box">
                            <h3 style="font-size:1.2rem;">{{l("Image")}}</h3>
                            <img src='{{imgurl}}' style="max-width:430px;">
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()">
                    <i class="las la-times-circle"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>