<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .unselectable {
            -webkit-user-select: none;
            -webkit-touch-callout: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor unselectable">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{"Notifications" | localize}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper notificationtopbutton">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getNotifications()" class="btn_refresh"></button>
                                </li>
                                <li>
                                    <button style="width:auto; display:flex; align-items:center; justify-content:center; margin-left:0 !important;" class="btn btn-outline" (click)="openNotificationSettingsModal()"><i class="las la-cog" style="top:0;"></i> {{"NotificationSettings" | localize}}</button>
                                </li>
                                <li>
                                    <button style="width:auto; display:flex; align-items:center; justify-content:center; margin-left:0 !important;" class="btn btn-outline" (click)="setAllNotificationsAsRead()"><i class="las la-check" style="top:0;"></i> {{"SetAllAsRead" | localize}}</button>
                                </li>
                                <li>
                                    <input class="form-control daterangebox" id="StartEndRange" name="StartEndRange" #drp="bsDaterangepicker" readonly="readonly" bsDaterangepicker dateRangePickerMomentModifier [(date)]="dateRange">
                                </li>
                                <li>
                                    <select #TargetValueFilterSelectionCombobox class="form-control" [(ngModel)]="readStateFilter" name="readStateFilter">
                                            <option value="ALL">{{"All" | localize}}</option>
                                            <option value="UNREAD">{{"Unread" | localize}}</option>
                                        </select>
                                </li>
                                <li>
                                    <button style="width:auto; display:flex; align-items:center; justify-content:center; margin-left:0 !important;" class="btn btn-outline text-danger" (click)="deleteNotifications()">
                                        <i class="las la-trash text-danger" style="top:0;"></i> {{"DeleteListedNotifications" | localize}}
                                    </button>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet">
                <div class="kt-portlet__body padzero notificationsform">

                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="col primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getNotifications($event)" [value]="primengTableHelper.records" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [responsive]="primengTableHelper.isResponsive">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width:150px;">
                                            {{'Actions' | localize}}
                                        </th>
                                        <th style="width: 80px;text-align:center">{{'Severity' | localize}}</th>
                                        <th>
                                            {{'Notification' | localize}}
                                        </th>
                                        <th style="width:200px;text-align:center">
                                            {{'CreationTime' | localize}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td style="width:150px;" class="notification_grid">
                                            <button class="btn padzero" [attr.title]="!isRead(record) ? l('SetAsRead') : ''" (click)="setAsRead(record)" [disabled]="isRead(record)">
                                                <img *ngIf="isRead(record)" [src]="appRootUrl() + 'assets/common/images/gridmail_read.svg'" [attr.aria-label]="l('Read')" alt="" />
                                                <!-- <i class="fa fa-check" *ngIf="isRead(record)"
                                                    [attr.aria-label]="l('Read')"></i> -->
                                                <!-- <i class="fa fa-circle-notch" *ngIf="!isRead(record)"
                                                    [attr.aria-label]="l('Unread')"></i> -->

                                                    <img *ngIf="!isRead(record)" [src]="appRootUrl() + 'assets/common/images/mail_unread.svg'" [attr.aria-label]="l('Unread')" alt="" />
                                            </button>
                                            <button class="btn padzero" [attr.title]="l('Delete')" (click)="deleteNotification(record)">
                                                <!-- <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i> -->
                                                <img [attr.title]="l('Delete')" [src]="appRootUrl() + 'assets/common/images/griddelete.svg'" [attr.aria-label]="l('Delete')" alt="" />
                                            </button>
                                        </td>
                                        <td style="text-align: center;" class="notification_grid">
                                            <!-- <i
                                                class="{{record.formattedNotification.icon}} {{record.formattedNotification.iconFontClass}} fa-2x"></i> -->
                                            <img [src]="appRootUrl() + 'assets/common/images/gridinfo.svg'" alt="" ngbTooltip="Tooltip on top" ngbTooltipClass="kt-tooltip" />
                                            <!-- <br> -->
                                            <!-- {{getNotificationTextBySeverity(record.formattedNotification.severity)}} -->
                                        </td>
                                        <td>
                                            <span class="ui-column-title">{{'Notification' | localize}}</span>
                                            <a *ngIf="record.formattedNotification.url" href="{{record.formattedNotification.url}}" class="{{getRowClass(record)}}">{{truncateString(record.formattedNotification.text, 120)}}</a>
                                            <span *ngIf="!record.formattedNotification.url" title="{{record.formattedNotification.text}}" class="{{getRowClass(record)}}">{{truncateString(record.formattedNotification.text, 120)}}</span>
                                        </td>
                                        <td style="text-align:center">
                                            <span title="{{record.notification.creationTime | momentFormat:'llll'}}" class="{{getRowClass(record)}}">
                                                {{fromNow(record.notification.creationTime)}}
                                            </span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getNotifications($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>