.kt-portlet__body.notificationsform .col-md-4 {
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.kt-portlet__body.notificationsform .form-group {
  margin-bottom: 0px!important;
}
.kt-portlet__body .padtop20 {
  padding-top: 5px;
}
.kt-portlet__body .btn.padzero {
  padding: 0px!important;
}
