.kt-portlet__body{
    &.notificationsform { 
        .col-md-4{padding-left:5px!important; padding-right:5px!important;}
        .form-group{margin-bottom:0px!important;}
    }
    .padtop20{padding-top: 5px;}
    .btn.padzero{padding:0px!important;}
 
    }