<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("ProductPackages")}}</span>
                        <span class="total-records-count">
                      ({{(primengTableHelper.totalRecordsCount)}})
                  </span>
                    </h3>
                </div>

                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getProductPackage()"></button>
                            </li>

                            <li *ngIf="isGranted('Pages.ProductPackages.Create')">
                                <button (click)="createOrEditProductPackageModal.show()" class="btn btn-outline-primary btnadd">
                                    Add
                                    <i class="las la-plus-circle"></i>
                                </button>
                            </li>

                            <li>
                                <div class="kt-searchmainbox">
                                    <div class="kt-stextbox searchclearbox">
                                        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="filterText" (keydown.enter)="getProductPackage()" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getProductPackage()"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getProductPackage()" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getProductPackage($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" style="width:95px;" [hidden]="!isGrantedAny('Pages.ProductPackages.Edit', 'Pages.ProductPackages.Delete')">{{l('Actions')}}</th>
                                        <th pSortableColumn="name">
                                            {{l('Name')}}
                                            <p-sortIcon field="name"></p-sortIcon>
                                        </th>
                                        <th style="width: 300px" pSortableColumn="price">
                                            {{l('Price')}}
                                            <p-sortIcon field="price"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" class="text-center" pSortableColumn="isActive">
                                            {{l('IsActive')}}
                                            <p-sortIcon field="isActive"></p-sortIcon>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align:center; width:95px;" class="actionwidth" [hidden]="!isGrantedAny('Pages.ProductPackages.Edit', 'Pages.ProductPackages.Delete')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                 <i class="flaticon-more"></i><span class="caret"></span> {{l("Actions")}}
                                             </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.ProductPackages.Edit')" (click)="createOrEditProductPackageModal.show(record.productPackage.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" *ngIf="permission.isGranted('Pages.ProductPackages.Delete')" (click)="deleteProductPackage(record.productPackage)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span>{{record.productPackage.name}}
                                        </td>
                                        <td style="width: 300px">
                                            <span class="ui-column-title"> {{l('Price')}}</span> {{record.productPackage.price}}
                                        </td>
                                        <td style="width:200px" class="text-center">
                                            <span class="ui-column-title"> {{l('IsActive')}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.productPackage.isActive">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.productPackage.isActive">{{'No' | localize}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getProductPackage($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                showing {{firstrowcount}}
                                To {{last}}
                                <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <createOrEditProductPackageModal #createOrEditProductPackageModal (modalSave)="getProductPackage()"></createOrEditProductPackageModal>
    </div>
</div>