<style>
    .checkboxcontainer input {
        display: none;
    }
    
    .checkboxcontainer {
        display: inline-block;
        padding-left: 30px;
        position: relative;
        cursor: pointer;
        user-select: none;
    }
    
    .checkboxcontainer .checkmark {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: white;
        position: absolute;
        left: 0;
        top: 2px;
        border: 1px solid #bdbdc9;
        border-radius: 0.2rem;
    }
    
    .checkboxcontainer .checkmark:hover {
        border: 1px solid #5344ed;
    }
    
    .checkboxcontainer input:checked+.checkmark {
        background-color: #5344ed;
        border: 1px solid #5344ed;
    }
    
    .checkboxcontainer input:indeterminate+.checkmark {
        background-color: #5344ed;
        border: 1px solid #5344ed;
    }
    
    .checkboxcontainer input:checked+.checkmark:after {
        content: "";
        position: absolute;
        height: 5px;
        width: 12px;
        border-left: 3px solid white;
        border-bottom: 3px solid white;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    .checkboxcontainer input:checked:disabled+.checkmark {
        border: 1px solid grey;
        background-color: grey;
    }
    
    .checkboxcontainer input:disabled+.checkmark {
        border: 1px solid grey;
    }
    
    .checkboxcontainer input:indeterminate+.checkmark:after {
        content: "";
        position: absolute;
        height: 0px;
        width: 11px;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(180deg);
    }
</style>
<div [@routerTransition]>
    <div>

        <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

            <div class="kt-subheader kt-grid__item" style="display:none">
                <div [class]="containerClass">
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>Email</span>
                            <span class="total-records-count">
                                ({{(primengTableHelper.totalRecordsCount)}})
                            </span>
                        </h3>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
                            <div class="kt-searchmainbox wdth830 width927 leadedropdown">
                                <ul class="hd_right">
                                    <li><button type="button" class="btnrefreshbox">
                                            <i class="fa fa-sync"></i>
                                        </button></li>
                                    <li *ngIf="permission.isGranted('Pages.Leads.Export')">
                                        <div class="btn-group btnexceldropdown leadbtnexcel " dropdown>
                                            <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Export
                                                <img src="../../../assets/common/images/icon_downarrow.svg" />

                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                                <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
                                                    Excel
                                                </a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="javascript:;">
                                                    CSV
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                    <li *ngIf="organizationUnitlength > 1">
                                        <div class="kt-sdropdown">
                                            <div class="form-group selectdropdown m-form__group">
                                                <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getEmailReply()">
                                                    <option *ngFor="let item of allOrganizationUnits"
                                                        value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-sdropdown">
                                            <div class="form-group  selectdropdown m-form__group">
                                                <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                    <option value="MobileNo">Mobile No</option>
                                                    <option value="Phone">Phone</option>
                                                    <option value="CompanyName">Company Name</option>
                                                    <option value="Email">Email</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="kt-searchmainbox searchclearbox">
                                            <div class="kt-stextbox wdth250">
                                                <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('Text')" type="text">
                                                <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getEmailReply()"><i class="fas fa-times-circle"></i></a>
                                                <button (click)="getEmailReply();addSearchLog('Filter' + filterName +  ' : ' + filterText);" class="btnsearch" type="submit"><i class="flaticon-search-1"></i></button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <button (click)="FiltersData = !FiltersData; testHeightSize()">
                <i class="las la-sliders-h"></i>
            </button> -->

            <div style="height:90px; width:100%; background:#fff;" [hidden]="!FiltersData"></div>

            <div class="container-fluid email-application">
                <div class="content-area-wrapper" [ngStyle]="{'height': screenHeight - testHeight + 'px'}">
                    <div class="email-sidebar-left">
                        <div class="sidebar-content">
                            <div class="compose-btn">
                                <button type="button" (click)="ComposeBox = !ComposeBox" data-target="#compose-mail" rippleeffect="" class="compose-email btn btn-primary d-flex align-items-center justify-content-center"><i class="las la-pencil-alt fs-20"></i> Compose </button>
                            </div>
                            <div class="sidebar-emnu-lst">
                                <div class="list-group list-group-messages">
                                    <a href="#" class="item-active"><span><i class="las la-envelope"></i> Inbox</span> <span class="badge badge-secondary count">1</span></a>
                                    <a href="#"><span><i class="las la-paper-plane"></i> Send</span></a>
                                    <a href="#"><span><i class="las la-pencil-alt"></i> Draft</span></a>
                                    <a href="#"><span><i class="las la-info-circle"></i> Spam</span></a>
                                    <a href="#"><span><i class="las la-trash"></i> Trash</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content-right">
                        <div class="content-body">
                            <!-- EMAIL DETAIL VIEW STARTS -->
                            <div class="email-app-list" [hidden]="!emailDetailView">
                                <div class="email-action-box">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void()" (click)="emailDetailView = !emailDetailView" class="mr-3"><i class="las la-arrow-left fs-22"></i></a>
                                        </div>
                                        <div class="mail-subect">Google Review</div>

                                        <div class="pagging-box d-flex align-items-center" style="margin-left:auto;">
                                            <div class="mr-3 light-font">1-25 of 50</div>
                                            <div class="d-flex align-items-center">
                                                <a href="javascript:void()" class="mr-1"><i class="las la-angle-left"></i></a>
                                                <a href="javascript:void()"><i class="las la-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="email-detail-view email_section_area email-action-box">
                                    <div class="d-flex" style="width:100%;">
                                        <div class="email-thumb-box mx-3">
                                            <img src="../../../../assets/common/images/avatar-s-11.jpg" />
                                        </div>
                                        <div class="email-body-box">
                                            <div class="d-flex align-items-center justify-content-between email-header">
                                                <div>
                                                    <div class="from-email d-flex align-items-center">Nilesh Dhimar <span class="ml-2">ndhimar@yahoo.co.in</span></div>
                                                    <div class="to-email d-flex align-items-center">
                                                        <span class="mr-2">to</span>
                                                        <div class="btn-group dropdown" dropdown container="body">
                                                            <button class="dropdown-toggle btn no-arrow btn-email-dropdownl" dropdownToggle>
                                                                <!-- <span class="caret"></span>-->
                                                                <i class="fas fa-caret-down fs-16"></i>
                                                            </button>
                                                            <ul class="dropdown-menu auto-width" *dropdownMenu>
                                                                <li class=""><span>From:</span> Nilesh Dhimar <span>ndhimar@yahoo.co.in</span></li>
                                                                <li><span>To:</span> Ravindra <span>ravindra@localchamp.com.au</span></li>
                                                                <li><span>Date: 14 Nov 2022, 08:12</span></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex align-items-center" style="margin-left:auto">

                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button class="dropdown-toggle btn no-arrow btn-email-dropdownl" dropdownToggle>
                                                            <!-- <span class="caret"></span>-->
                                                            <i class="las la-ellipsis-v fs-24"></i>                                                            
                                                        </button>
                                                        <ul class="dropdown-menu" *dropdownMenu>
                                                            <li><a href="javascript:;"><i class="las la-undo fs-20"></i> Reply</a></li>
                                                            <li><a href="javascript:;"><i class="las la-redo fs-20"></i> Forward</a></li>
                                                            <li><a href="javascript:;"><i class="las la-trash fs-20"></i> Delete</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="mx-4 small date">11 Nov 2022, 09:45</div>
                                                    <!-- <a href="javascript:;" class="mr-2"><i class="las la-undo fs-22"></i></a>
                                                    <a href="javascript:;" class="mr-2"><i class="las la-redo fs-22"></i></a>
                                                    <a href="javascript:;"><i class="las la-trash fs-22"></i></a> -->
                                                </div>
                                            </div>

                                            <div class="email-content-body">
                                                <div class="email-content">
                                                    <p>Hi Ravidra,</p>
                                                    <p>Biscuit lemon drops marshmallow. Cotton candy marshmallow bear claw. Dragée tiramisu cookie cotton candy. Carrot cake sweet roll I love macaroon wafer jelly soufflé I love dragée. Jujubes jelly I love
                                                        carrot cake topping I love. Sweet candy I love chupa chups dragée. Tart I love gummies. Chocolate bar carrot cake candy wafer candy canes oat cake I love. Sesame snaps icing pudding sweet roll marshmallow.
                                                        Cupcake brownie sweet roll chocolate bar I love gummies. Biscuit biscuit macaroon sesame snaps macaroon icing I love soufflé caramels. Apple pie candy jelly. I love icing gummi bears jelly-o pie
                                                        muffin apple pie.</p>
                                                    <p>Marshmallow halvah brownie cake marzipan ice cream marshmallow. I love lollipop toffee croissant liquorice wafer muffin. Lollipop jelly beans caramels lollipop tootsie roll pudding pie macaroon tootsie
                                                        roll. Oat cake jujubes gummies cake cake powder cupcake soufflé muffin. Chocolate caramels muffin tart. Jelly beans caramels dessert cotton candy liquorice chocolate cake. Chupa chups muffin bear
                                                        claw I love. Biscuit jujubes soufflé tart caramels pie sugar plum. Croissant jelly beans cake. Ice cream chocolate liquorice dessert cookie chocolate cake. Powder tart sweet roll macaroon croissant.
                                                        Sweet tootsie roll macaroon gummi bears macaroon. Gingerbread cake tart.</p>
                                                    <p>Marshmallow halvah brownie cake marzipan ice cream marshmallow. I love lollipop toffee croissant liquorice wafer muffin. Lollipop jelly beans caramels lollipop tootsie roll pudding pie macaroon tootsie
                                                        roll. Oat cake jujubes gummies cake cake powder cupcake soufflé muffin. Chocolate caramels muffin tart. Jelly beans caramels dessert cotton candy liquorice chocolate cake. Chupa chups muffin bear
                                                        claw I love. Biscuit jujubes soufflé tart caramels pie sugar plum. Croissant jelly beans cake. Ice cream chocolate liquorice dessert cookie chocolate cake. Powder tart sweet roll macaroon croissant.
                                                        Sweet tootsie roll macaroon gummi bears macaroon. Gingerbread cake tart.</p>
                                                    <p>Marshmallow halvah brownie cake marzipan ice cream marshmallow. I love lollipop toffee croissant liquorice wafer muffin. Lollipop jelly beans caramels lollipop tootsie roll pudding pie macaroon tootsie
                                                        roll. Oat cake jujubes gummies cake cake powder cupcake soufflé muffin. Chocolate caramels muffin tart. Jelly beans caramels dessert cotton candy liquorice chocolate cake. Chupa chups muffin bear
                                                        claw I love. Biscuit jujubes soufflé tart caramels pie sugar plum. Croissant jelly beans cake. Ice cream chocolate liquorice dessert cookie chocolate cake. Powder tart sweet roll macaroon croissant.
                                                        Sweet tootsie roll macaroon gummi bears macaroon. Gingerbread cake tart.</p>
                                                    <p>Marshmallow halvah brownie cake marzipan ice cream marshmallow. I love lollipop toffee croissant liquorice wafer muffin. Lollipop jelly beans caramels lollipop tootsie roll pudding pie macaroon tootsie
                                                        roll. Oat cake jujubes gummies cake cake powder cupcake soufflé muffin. Chocolate caramels muffin tart. Jelly beans caramels dessert cotton candy liquorice chocolate cake. Chupa chups muffin bear
                                                        claw I love. Biscuit jujubes soufflé tart caramels pie sugar plum. Croissant jelly beans cake. Ice cream chocolate liquorice dessert cookie chocolate cake. Powder tart sweet roll macaroon croissant.
                                                        Sweet tootsie roll macaroon gummi bears macaroon. Gingerbread cake tart.</p>
                                                    <p>Marshmallow halvah brownie cake marzipan ice cream marshmallow. I love lollipop toffee croissant liquorice wafer muffin. Lollipop jelly beans caramels lollipop tootsie roll pudding pie macaroon tootsie
                                                        roll. Oat cake jujubes gummies cake cake powder cupcake soufflé muffin. Chocolate caramels muffin tart. Jelly beans caramels dessert cotton candy liquorice chocolate cake. Chupa chups muffin bear
                                                        claw I love. Biscuit jujubes soufflé tart caramels pie sugar plum. Croissant jelly beans cake. Ice cream chocolate liquorice dessert cookie chocolate cake. Powder tart sweet roll macaroon croissant.
                                                        Sweet tootsie roll macaroon gummi bears macaroon. Gingerbread cake tart.</p>
                                                    <p>Marshmallow halvah brownie cake marzipan ice cream marshmallow. I love lollipop toffee croissant liquorice wafer muffin. Lollipop jelly beans caramels lollipop tootsie roll pudding pie macaroon tootsie
                                                        roll. Oat cake jujubes gummies cake cake powder cupcake soufflé muffin. Chocolate caramels muffin tart. Jelly beans caramels dessert cotton candy liquorice chocolate cake. Chupa chups muffin bear
                                                        claw I love. Biscuit jujubes soufflé tart caramels pie sugar plum. Croissant jelly beans cake. Ice cream chocolate liquorice dessert cookie chocolate cake. Powder tart sweet roll macaroon croissant.
                                                        Sweet tootsie roll macaroon gummi bears macaroon. Gingerbread cake tart.</p>
                                                    <p>Regards,<br>Nilesh</p>
                                                </div>

                                                <div class="email-attachments mb-5">
                                                    <div class="title-attachment d-flex align-items-center mb-3">
                                                        <i class="las la-paperclip fs-24 mr-2"></i>
                                                        <div>2 Attachments</div>
                                                    </div>
                                                    <div class="attachment-files d-flex align-items-center">
                                                        <a class="d-flex align-items-center mr-3" href="javascript:;"><i class="las la-file-pdf fs-24"></i> Quotation <span class="ml-2">2 MB</span></a>
                                                        <a class="d-flex align-items-center mr-3" href="javascript:;"><i class="las la-file-pdf fs-24"></i> CustomerSignDocuments <span class="ml-2">600 KN</span></a>
                                                    </div>
                                                </div>

                                                <div class="email-bottom-action-box d-flex align-items-center">
                                                    <a class="d-flex align-items-center mr-3" href="javascript:;"><i class="las la-undo fs-22 mr-2"></i> Reply</a>
                                                    <a class="d-flex align-items-center mr-3" href="javascript:;"><i class="las la-redo fs-22 mr-2"></i> Forward</a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- INBOX LISTING STARTS -->
                            <div class="email-app-list">
                                <div class="email-action-box">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="w-300px d-flex align-items-center">
                                            <label class="checkboxcontainer mb-0 mr-3"> Select All
                                                <input type="checkbox">
                                                <span class="checkmark"></span>
                                                </label>
                                            <a href="javascript:void()" (click)="getEmailReply()" class=""><i class="fas fa-redo fs-16 "></i></a>
                                        </div>
                                        <div class="kt-sdropdown">
                                            <div class="form-group  selectdropdown m-form__group">
                                                <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                    <option value="MobileNo">Mobile No</option>
                                                    <option value="Phone">Phone</option>
                                                    <option value="CompanyName">Company Name</option>
                                                    <option value="Email">Email</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="email-search-box mr-3" style="min-width:600px !important;">
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control" [placeholder]="l('Text')" type="text" style="padding-left:45px !important;">
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getEmailReply()"><i class="fas fa-times-circle"></i></a>
                                            <span class="glass-icon"><i class="las la-search fs-20"></i></span>
                                        </div>
                                        <div class="email-search-box">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getEmailReply()" style="width:180px;">
                                                <option *ngFor="let item of allOrganizationUnits"
                                                    value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                        <div class="pagging-box d-flex align-items-center" style="margin-left:auto;">
                                            <div class="mr-3 light-font">1-25 of 50</div>
                                            <div class="d-flex align-items-center">
                                                <a href="javascript:void()" class="mr-1"><i class="las la-angle-left"></i></a>
                                                <a href="javascript:void()"><i class="las la-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="email-user-list email_section_area aaaaaa">
                                    <ul class="email-media-list">
                                        <li class="mail-read">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3" (click)="emailDetailView = !emailDetailView">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3" (click)="emailDetailView = !emailDetailView">
                                                    <span class="subject mr-1">Google Review</span>
                                                    <span class="sort-body-msg">- Dear Tim Chan! We are so happy and thankful to you for your business and trust. We are glad to have bridged your savings account directly to the sun to save your hard earned money on your power bills.</span>
                                                </div>
                                                <div (click)="emailDetailView = !emailDetailView"><i class="las la-paperclip fs-20"></i></div>
                                                <div class="mail-date" style="margin-left:auto;" (click)="emailDetailView = !emailDetailView">8:10 AM</div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Ravindra Gohel</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Google Review - Your Review matters</span>
                                                    <span class="sort-body-msg">- Dear Tim Chan! We are so happy and thankful to you for your business and trust. We are glad to have bridged your savings account directly to the sun to save your hard earned money on your power bills.</span>
                                                </div>
                                                <div><i class="las la-paperclip fs-20"></i></div>
                                                <div class="mail-date" style="margin-left:auto;">9:20 AM</div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Suresh</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Elec Dist Approval - Eletric Distributor Application Process</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10:15 AM</div>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="main-title mr-3">Nilesh Dhimar</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">Custom Template</span>
                                                    <span class="sort-body-msg">- Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">10 Nov</div>
                                            </div>
                                        </li>

                                        <li class="" *ngFor="let item of emailListData" style="display:none;">
                                            <div class="d-flex align-items-center" style="width:100%;">
                                                <div class="d-flex align-items-center form-actions mr-4">
                                                    <label class="checkboxcontainer mr-2 mb-0">&nbsp;
                                                        <input type="checkbox">
                                                        <span class="checkmark"></span>
                                                      </label>
                                                    <i class="far fa-star"></i>
                                                    <!-- <i class="las la-star fs-18"></i> -->
                                                </div>
                                                <div class="main-title w-200px mr-3" (click)="shouldShow = !shouldShow">{{item.leadCompanyName}}</div>
                                                <div class="mail-body d-flex align-items-center mr-3">
                                                    <span class="subject mr-1">{{item.templateName}} - {{item.subject}}</span>
                                                    <span class="sort-body-msg"> - Test message for mail body.</span>
                                                </div>
                                                <div class="mail-date" style="margin-left:auto;">{{item.creationTime|momentFormat:'DD MMM'}}</div>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="sms_detail_new" [ngClass]="{show: shouldShow, hide: !shouldShow}">
                                        <div class="detail_section">
                                            <div class="select_all_area email_detail_head">
                                                <div class="left_div">
                                                    <div class="email_header_left"><button class="btn_comman go-back" (click)="shouldShow = !shouldShow">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21"
                                                                viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                                stroke-width="2" stroke-linecap="round"
                                                                stroke-linejoin="round"
                                                                class="feather feather-chevron-left">
                                                                <polyline points="15 18 9 12 15 6"></polyline>
                                                            </svg></button>
                                                        <h4 class="email-subject mb-0">EMAIL</h4>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="email_detail_area">
                                                <div class="email_content">
                                                    <div *ngIf="datalenght > 0">
                                                        <div class="box_new1" *ngFor="let item of olddataresult">
                                                            <div class="hd_div">
                                                                <div class="person_box">
                                                                    <div class="box_img"> <img src="../../../../assets/common/images/icon_mail_small.svg" /></div>
                                                                    <h2><span>{{item.leadCompanyName}}</span><span> <h6>{{item.templateName}}-{{item.subject}}</h6></span>
                                                                    </h2>
                                                                </div>
                                                                <div class="date_box">

                                                                    <span>{{item.responceCreationTime |momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="content_div">
                                                                <div class="name"><span><b>Email Send:  </b></span>
                                                                    <div>
                                                                        <div *ngIf="item.templateid != 0">
                                                                            <div [innerHtml]="item.body"></div>
                                                                        </div>
                                                                        <div *ngIf="item.templateid == 0">
                                                                            {{ item.body }}
                                                                        </div>

                                                                    </div>
                                                                </div>&nbsp;
                                                                <!-- <div [@routerTransition]>
                                                                    
                                                                    <div>
                                                                        <div *ngIf="templateid != 0">
                                                                            <div [innerHtml]="itembody"></div>
                                                                        </div>
                                                                        <div *ngIf="templateid == 0 || templateid == null">
                                                                            {{ item.body }}
                                                                        </div>
                                                                
                                                                    </div>
                                                                </div> -->
                                                                <p><span><span><b>Responce:  </b></span>{{item.responceBody}}</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>



                                                </div>
                                                <div *ngIf="datalenght == 0">
                                                    No Data
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!-- INBOX LISTING ENDS -->
                        </div>
                    </div>
                </div>

            </div>

            <!-- EMAIL COMPOSE BOX STARTS -->
            <div class="email-compose-box" [hidden]="!ComposeBox">
                <div class="title-row d-flex align-items-center justify-content-between">
                    <span>New Message</span>
                    <div class="actions d-flex align-items-center">
                        <a href="javascript:void()" class="mr-2"><i class="fas fa-minus fs-14"></i></a>
                        <a href="javascript:void()" (click)="ComposeBox = !ComposeBox"><i class="fas fa-times fs-14"></i></a>
                    </div>
                </div>
                <div class="compose-container">
                    <div class="t-box d-flex align-items-center justify-content-between">
                        <input type="text" class="form-control" placeholder="Recipients">
                        <div class="cc-action">
                            <a href="javascript:void()" class="mr-1">Cc</a>
                            <a href="javascript:void()">Bcc</a>
                        </div>
                    </div>
                    <div class="t-box d-flex align-items-center justify-content-between">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>

                    <div class="email-compost-text">
                        <textarea></textarea>
                    </div>

                    <div class="bottom-action-box d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-primary btn-sm d-flex align-items-center mr-3"><i class="las la-paper-plane fs-18 mr-1"></i> Send</button>
                            <a href="javascript:void()" class="mr-3"><i class="las la-paperclip fs-22"></i></a>
                        </div>
                        <a href="javascript:void()" (click)="ComposeBox = !ComposeBox"><i class="las la-trash fs-22"></i></a>
                    </div>

                </div>

            </div>
            <!-- EMAIL COMPOSE BOX ENDS -->


            <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'" style="display:none;">
                <div class="kt-portlet kt-portlet--mobile boxshownone">
                    <div class="kt-portlet__body padzero">
                        <div class="email_section_area flex_none brdnone postion_reletive overflowvisible">
                            <div class="primeng-datatable-container myleadtable" [busyIf]="primengTableHelper.isLoading">
                                <div class="sms_detail_new" [ngClass]="{show: shouldShow, hide: !shouldShow}">
                                    <div class="detail_section">
                                        <div class="select_all_area email_detail_head">
                                            <div class="left_div">
                                                <div class="email_header_left"><button class="btn_comman go-back" (click)="shouldShow = !shouldShow">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21"
                                                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                            stroke-width="2" stroke-linecap="round"
                                                            stroke-linejoin="round"
                                                            class="feather feather-chevron-left">
                                                            <polyline points="15 18 9 12 15 6"></polyline>
                                                        </svg></button>
                                                    <h4 class="email-subject mb-0">EMAIL</h4>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="email_detail_area">
                                            <div class="email_content">
                                                <div *ngIf="datalenght > 0">
                                                    <div class="box_new1" *ngFor="let item of olddataresult">
                                                        <div class="hd_div">
                                                            <div class="person_box">
                                                                <div class="box_img"> <img src="../../../../assets/common/images/icon_mail_small.svg" /></div>
                                                                <h2><span>{{item.leadCompanyName}}</span><span> <h6>{{item.templateName}}-{{item.subject}}</h6></span>
                                                                </h2>
                                                            </div>
                                                            <div class="date_box">

                                                                <span>{{item.responceCreationTime |momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="content_div">
                                                            <div class="name"><span><b>Email Send:  </b></span>
                                                                <div>
                                                                    <div *ngIf="item.templateid != 0">
                                                                        <div [innerHtml]="item.body"></div>
                                                                    </div>
                                                                    <div *ngIf="item.templateid == 0">
                                                                        {{ item.body }}
                                                                    </div>

                                                                </div>
                                                            </div>&nbsp;
                                                            <!-- <div [@routerTransition]>
                                                                
                                                                <div>
                                                                    <div *ngIf="templateid != 0">
                                                                        <div [innerHtml]="itembody"></div>
                                                                    </div>
                                                                    <div *ngIf="templateid == 0 || templateid == null">
                                                                        {{ item.body }}
                                                                    </div>
                                                            
                                                                </div>
                                                            </div> -->
                                                            <p><span><span><b>Responce:  </b></span>{{item.responceBody}}</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                            <div *ngIf="datalenght == 0">
                                                No Data
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                    <a class="icon_expan"></a>
                                </button>
                                <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getEmailReply($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                    ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns">
                                    <ng-template pTemplate="header">
                                        <tr class="th_sms_area">
                                            <th style="font-size:  1.1rem!important;width: 700px;">Customer Name
                                            </th>
                                            <th style="font-size:  1.1rem!important;">Subject
                                            </th>
                                            <th style="width:300px;font-size: 1.1rem!important;">Date & Time
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit">
                                        <tr (click)="shouldShow = !shouldShow;  getOldemailReply(record.leadId);">
                                            <td (click)="shouldShow = !shouldShow">
                                                <div class="name_text">
                                                    <span style="font-size: 1.1rem!important;width: 600px;"> {{record.leadCompanyName}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="name_text">
                                                    <span>
                                                        <strong> {{record.templateName}}-</strong>
                                                        <span class="subjectdesc" style="font-size: 1.1rem!important;"> {{record.subject}}</span>
                                                    </span>
                                                </div>
                                            </td>
                                            <!-- <td>
                                                <div class="text_detail">
                                                    <div *ngIf="record.templateid != 0">
                                                        <div [innerHtml]="record.body"></div>
                                                    </div>
                                                    <div *ngIf="record.templateid == 0 || record.templateid == null">
                                                        <p>{{record.body}}</p>
                                                    </div>
                                                </div>
                                            </td> -->
                                            <td style="width:300px">
                                                <div class="date_and_time">
                                                    <ul>
                                                        <li><span style="font-size: 1.1rem;">{{record.creationTime|momentFormat:'DD-MM-YYYY
                                                                HH:mm:ss'}}</span></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getEmailReply($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <!-- <span class="total-records-count">
                                        {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                    </span> -->
                                    <span class="total-records-count">
                                        showing {{firstrowcount}}
                                        To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- <viewEmailBodymodel #viewEmailBodymodel></viewEmailBodymodel> -->
    </div>
</div>