﻿<!-- <div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-6">
                        <h6>{{l("Body")}} :</h6>
                        {{ responcebody }}
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i class="fa fa-times"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div> -->

<div bsModal #viewmodel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="viewmodel"
    aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                  
                    <div [@routerTransition]>
                        
                        <div>
                            <div *ngIf="templateid != 0">
                                <div [innerHtml]="responcebody"></div>
                            </div>
                            <div *ngIf="templateid == 0 || templateid == null">
                                {{ responcebody }}
                            </div>
                    
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i
                        class="fa fa-times"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div> 

<!-- <div [@routerTransition]>
    
    <div>
        <div *ngIf="templateid != 0">
            <div [innerHtml]="responcebody"></div>
        </div>
        <div *ngIf="templateid == 0 || templateid == null">
            {{ responcebody }}
        </div>

    </div>
</div> -->