<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg largemodel">
        <div class="modal-content">
            <form *ngIf="active" #ecommerceSolarPackageForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="ecommerceSolarPackage.id">{{l("EditProductPackagese")}}</span>
                        <span *ngIf="!ecommerceSolarPackage.id">{{l("CreateNewProductPackages")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body lead_expen_popup modal-bg-gray">
                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-info-circle mr-2"></i>Packages Details
                        </h3>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-icon">
                                    <label for="Name">{{l("Name")}}</label>
                                    <input type="text" #Name="ngModel" id="Name" class="form-control"
                                        [(ngModel)]="ecommerceSolarPackage.name" name="Name" required />
                                    <validation-messages [formCtrl]="Name"></validation-messages>
                                    <span class="icon-box"><i class="las la-database"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label for="price">{{l("Price")}}</label>
                                    <input type="text" #Price="ngModel" id="Price" class="form-control"
                                        [(ngModel)]="ecommerceSolarPackage.price" name="price" required />
                                    <validation-messages [formCtrl]="Price"></validation-messages>
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ecommerceSolarPackage_Banner">{{l("Banner")}} *</label>
                                    <div class="flexbloxbutton fileuploadbtn">
                                        <div class="form-group marginbtm0">
                                            <div class="white-file-upload">
                                                <input name="f1" type="file" style="width: 232px; font-size:1rem"
                                                    (change)="fileChangeEvent($event)" [(ngModel)]="selectedFile" />
                                                <a (click)="downloadfile(ecommerceSolarPackage.banner)"
                                                    *ngIf="ecommerceSolarPackage.banner">
                                                    <i class="las la-file-pdf"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="m-checkbox-list col-md-3">
                                <label for="IsActive" class="kt-checkbox" style="margin-top:38px;">
                                    <input #IsActive="ngModel" id="IsActive" type="checkbox" name="IsActive"
                                        [(ngModel)]="ecommerceSolarPackage.isActive">
                                    {{l("IsActive")}}
                                    <span></span>
                                </label>
                                <validation-messages [formCtrl]="Price"></validation-messages>
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box">
                        <h3 class="d-flex align-items-center"><i class="las la-boxes mr-2"></i>Items Detail</h3>
                        <div class="row" *ngFor="let item of EcommerceProductItems; let i = index">

                            <div class="col-md-2 mb-2">
                                <select (change)="filterProductItem(item,i)" [(ngModel)]="item.productTypeId" required
                                    #productType="ngModel" name="productType{{i}}" class="form-control">
                                    <option [ngValue]="undefined">Select Product Type</option>
                                    <option *ngFor="let ptitem of productTypes" value="{{ptitem.id}}">
                                        {{ptitem.displayName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-5 mb-2">
                                <!-- <p-autoComplete [(ngModel)]="item.productItemName" id="SuburbInput" name="jp{{i}}" #jp="ngModel" required [suggestions]="productItemSuggestions" (completeMethod)="filterProductIteams($event , i)" (onSelect)="getProductTypeId(i)" aria-placeholder="Search Item"
                                    [minLength]="2" inputStyleClass="form-control" styleClass="width-percent-100">
                                </p-autoComplete> -->
                                <p-autoComplete [(ngModel)]="item.productItemName" id="productItemName" name="jp{{i}}"
                                    #productItem="ngModel" required [suggestions]="productItemSuggestions"
                                    (completeMethod)="filterProductIteams($event , i)"
                                    (onSelect)="selectEcommerceSolarItem($event, i)" aria-placeholder="Search Item"
                                    [minLength]="5" inputStyleClass="form-control" styleClass="width-percent-100">
                                    <ng-template let-result pTemplate="item">
                                        <div class="result-item">
                                            {{result.productItem}}
                                        </div>
                                    </ng-template>
                                </p-autoComplete>
                            </div>
                            <div class="col-md-3 mb-2">
                                <input type="text" name="jpmodel{{i}}" required #jpmodel="ngModel"
                                    [(ngModel)]="item.model" class="form-control" placeholder="Model" />
                                <validation-messages [formCtrl]="jpmodel">
                                </validation-messages>
                            </div>
                            <div class="col-md-1 mb-2">
                                <input type="number" name="jpqty{{i}}" required #jpqty="ngModel"
                                    [(ngModel)]="item.quantity" class="form-control" placeholder="Qty"
                                    (input)="check($event)">
                                <validation-messages [formCtrl]="jpqty">
                                </validation-messages>
                            </div>
                            <div class="col-md-1 mb-2">
                                <div class="d-flex align-items-center mt-1">
                                    <div class="action-btn mr-1" *ngIf="EcommerceProductItems.length != 1">
                                        <a (click)="removeEcommerceSolarPackageItem(item)" class=""><i
                                                class="las la-trash text-danger"></i></a>
                                    </div>
                                    <div class="action-btn addbtn"
                                        *ngIf="EcommerceProductItems.length == (i+1) && i < 4">
                                        <a (click)="addEcommerceSolarPackageItem()"><i
                                                class="las la-plus-circle"></i></a>
                                    </div>
                                </div>
                            </div>

                            <ul *ngFor="let item of EcommerceProductItems; let i = index" style="display:none;">
                                <li class="w-275px mr-2" style="padding-left:0 !important;">
                                    <div class="form-group">
                                        <select (change)="filterProductItem(item,i)" [(ngModel)]="item.productTypeId"
                                            required #productType="ngModel" name="productType{{i}}"
                                            class="form-control">
                                            <option [ngValue]="undefined">Select Product Type</option>
                                            <option *ngFor="let ptitem of productTypes" value="{{ptitem.id}}">
                                                {{ptitem.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </li>
                                <li class="w-500px mr-2">
                                    <div class="form-group">
                                        <!-- <p-autoComplete [(ngModel)]="item.productItemName" id="SuburbInput" name="jp{{i}}" #jp="ngModel" required [suggestions]="productItemSuggestions" (completeMethod)="filterProductIteams($event , i)" (onSelect)="getProductTypeId(i)" aria-placeholder="Search Item"
                                            [minLength]="2" inputStyleClass="form-control" styleClass="width-percent-100">
                                        </p-autoComplete> -->
                                        <p-autoComplete [(ngModel)]="item.productItemName" id="productItemName"
                                            name="jp{{i}}" #productItem="ngModel" required
                                            [suggestions]="productItemSuggestions"
                                            (completeMethod)="filterProductIteams($event , i)"
                                            (onSelect)="selectEcommerceSolarItem($event, i)"
                                            aria-placeholder="Search Item" [minLength]="5"
                                            inputStyleClass="form-control" styleClass="width-percent-100">
                                            <ng-template let-result pTemplate="item">
                                                <div class="result-item">
                                                    {{result.productItem}}
                                                </div>
                                            </ng-template>
                                        </p-autoComplete>
                                    </div>
                                </li>
                                <li class="w-250px mr-2">
                                    <div class="form-group">
                                        <input type="text" name="jpmodel{{i}}" required #jpmodel="ngModel"
                                            [(ngModel)]="item.model" class="form-control" placeholder="Model" />
                                        <validation-messages [formCtrl]="jpmodel">
                                        </validation-messages>
                                    </div>
                                </li>
                                <li class="w-225px mr-2">
                                    <div class="form-group">
                                        <input type="number" name="jpqty{{i}}" required #jpqty="ngModel"
                                            [(ngModel)]="item.quantity" class="form-control" placeholder="Qty"
                                            (input)="check($event)">
                                        <validation-messages [formCtrl]="jpqty">
                                        </validation-messages>
                                    </div>
                                </li>
                                <li class="w-125px">
                                    <div class="form-group">
                                        <div class="d-flex align-items-center mt-1">
                                            <div class="action-btn mr-1" *ngIf="EcommerceProductItems.length != 1">
                                                <a (click)="removeEcommerceSolarPackageItem(item)" class=""><i
                                                        class="las la-trash text-danger"></i></a>
                                            </div>
                                            <div class="action-btn addbtn"
                                                *ngIf="EcommerceProductItems.length == (i+1) && i < 4">
                                                <a (click)="addEcommerceSolarPackageItem()"><i
                                                        class="las la-plus-circle"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" (click)="save()" [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')" [disabled]="!ecommerceSolarPackageForm.valid"> <i
                            class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>