bs-datepicker-container,
bs-daterangepicker-container {
    left: -155px !important;
}

.kt-subheader__toolbar .kt-subheader__wrapper .kt-searchmainbox .kt-sdropdown {
    min-width: 140px !important;

    @media screen and (min-width:1400px) {
        min-width: 165px !important;
    }

}