<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">{{installer}}</h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="secondary-grid" style="overflow-x: auto;">
                        <table class="table">
                            <thead>
                                <th> Project No </th>
                                <th> KW </th>
                                <th> Invoice Amount</th>  
                                
                            </thead>
                            <tr *ngFor="let item of InstallerinvoiceInstallerWiseSummary">
                                <td>
                                    {{item.jobNumber}}
                                </td>
                                <td >
                                    {{item.kw}}
                                </td>

                                <td>
                                    {{item.invoiceAmt}}
                                </td>
                               

                            </tr>
                        </table>
                    </div>


                </div>

            </form>
        </div>
    </div>

</div>