<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
    .primeng-datatable-container .ui-table .hedbordr th{
        border:2px solid #fff !important;
    }


    .primeng-datatable-container .ui-table .hedbordr_a td{
        border:1px solid #fce4e4 !important;
        text-align:center !important;
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("InstallerWiseInvoicePayment")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <!-- <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a> -->
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getInstallerInvoicePayment();RereshLog();"></button>
                                </li>
                                <li *ngIf="'Pages.Report.InstallerWiseInvoicePayment.Export' | permission">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;" >
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                        </div>
                                    </div>
                                </li>
                             
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox ">
                                            <!-- <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input [ngClass]="{pl50: filterName == 'JobNumber' }" [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" placeholder="{{filterName}}" type="text" (keydown.enter)="getInstallerInvoicePayment()">
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getInstallerInvoicePayment()"><i class="fas fa-times-circle"></i></a>
                                            <button (click)="getInstallerInvoicePayment()" class="btnsearch" type="submit"><i
                                                    class="flaticon-search-1"></i></button> -->
                                                    <select class="form-control" required [(ngModel)]="invoiceTypeFilter" id="invoiceTypeFilter" name="invoiceTypeFilter" (change)="getInstallerInvoicePayment();addSearchLog('Filter Invoice Type');">
                                                        <option value="">{{l("Select Invoice Type")}}</option>
                                                        <option *ngFor="let item of installerInvoiceType"
                                                        value="{{item}}">{{item}}
                                                        </option>   
                                                    </select>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" *ngIf="!FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                            <!-- <button class="btnadvfilter" *ngIf="FiltersData" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button> -->
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}} </h3>
                                            <div class="advfilterform">
                                                <form class="kt-form" autocomplete="off">
                                                    <ul>
                                                        
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="state" name="state" (keydown.enter)="getInstallerInvoicePayment();">
                                                                    <option value="">{{l("Select A State")}}</option>
                                                                    <option *ngFor="let item of allStates"
                                                                        value="{{item.displayName}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <!-- <button class="btn btn_red btn-sm marright10"><i class="fa fa-times-circle"></i>{{l("Clear")}}</button> -->
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getInstallerInvoicePayment();addSearchLog('Advanced Filter');"><i class="fa fa-search"></i> {{l("Search")}}</button>

                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>

        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{this.totalMetroPrice | number: '1.2-2'}} / {{totalMetroKW | number: '1.2-2'}}</span><label>Metro <br/> Price & Kw</label></li>
                    <li><span>{{this.totalMetroPricePerKW | number: '1.2-2'}}</span><label>Metro <br/> Price / Kw</label></li>
                    <li><span>{{this.totalRegionalPrice | number: '1.2-2'}} / {{totalRegionalKW | number: '1.2-2'}}</span><label>Regional <br/> Price & Kw</label></li>
                    <li><span>{{this.totalRegionalPricePerKW | number: '1.2-2'}}</span><label>Regional <br/> Price / Kw</label></li>
                </ul>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center" [ngClass]="{'unselectable' : permission.isGranted('Pages.Report.LeadAssign.EnableCopyPaste')}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getInstallerInvoicePayment($event)"  [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr class="hedbordr">
                                        <th style="width:350px;" rowspan="2" pSortableColumn="Installer">
                                            Installer
                                            <p-sortIcon field="Installer"></p-sortIcon>
                                        </th>
                                        <th colspan="2" style="text-align:center">
                                            Metro
                                            <!-- <p-sortIcon field="NSW"></p-sortIcon> -->
                                        </th>
                                        <th colspan="2" style="text-align:center">
                                            Regional
                                            <!-- <p-sortIcon field="SA"></p-sortIcon> -->
                                        </th>                                     
                                       
                                    </tr>       
                                    <tr>
                                        <th style="border-right:1px solid #fff !important;width:326px;" pSortableColumn="metroPrice">Price & Kw <p-sortIcon field="metroPrice"></p-sortIcon></th>
                                        <th style="border-right :2px solid #fff !important;width:326px;" pSortableColumn="metroPricePerKW">Price / Kw <p-sortIcon field="metroPricePerKW"></p-sortIcon></th>
                                        <th style="border-right:1px solid #fff !important;width:326px;" pSortableColumn="regionalPrice">Price & Kw <p-sortIcon field="regionalPrice"></p-sortIcon></th>
                                        <th style="border-right:2px solid #fff !important;width:326px;" pSortableColumn="regionalPricePerKW">Price / Kw <p-sortIcon field="regionalPricePerKW"></p-sortIcon></th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" class=" hedbordr_a">
                                        <td style="width:350px;" ><a *ngIf="permission.isGranted('Pages.Report.InstallerJobWiseInvoicePayment')" (click)="InstallerDetailmodalmethod(record.installerId)" >{{record.installer}} </a></td>
                                        <td style="width:326px;"><span class="badge badge-secondary" (click)="InstallerInvoiceDetailmodal.show(record.installerId,startDate,endDate,'Metro')">{{record.metroPrice}} & {{record.metroKW}}</span></td>
                                        <td style="width:326px;"><span class="badge badge-secondary">{{record.metroPricePerKW | number: '1.2-2'}}</span></td>
                                        <td style="width:326px;"><span class="badge badge-secondary" (click)="InstallerInvoiceDetailmodal.show(record.installerId,startDate,endDate,'Regional')">{{record.regionalPrice}} & {{record.regionalKW}}</span></td>
                                        <td style="width:310px !important;"><span class="badge badge-secondary">{{record.regionalPricePerKW | number: '1.2-2'}}</span></td>
                                    </tr>   
                                </ng-template>
                                <!-- <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Teams.Edit', 'Pages.Teams.Delete')">

                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Name')}}</span> {{record.team.name}}
                                        </td>

                                    </tr>
                                </ng-template> -->
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getInstallerInvoicePayment($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                            showing {{firstrowcount}}
                            To {{last}}
                            <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>

        <!-- <callDetailModal #callDetailModal (modalSave)="getUserCallHistory()"></callDetailModal> -->

    </div>
</div>
 <InstallerDetailmodal #InstallerDetailmodal></InstallerDetailmodal> 
<InstallerInvoiceDetailmodal #InstallerInvoiceDetailmodal></InstallerInvoiceDetailmodal> 