﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #fixedCostPriceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off" [ngClass]="{ 'has-error': fixedCostPriceForm.submitted}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="fixedCostPrice.id">{{l("EditFixedCostPrice")}}</span>
                        <span *ngIf="!fixedCostPrice.id">{{l("CreateFixedCostPrice")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="name" ><strong>{{l("Name")}}</strong> *</label>
                                    <input type="text" id="name" class="form-control" name="name" required [(ngModel)]="fixedCostPrice.name" />
                                    <span class="icon-box"><i class="las la-edit"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="type" ><strong>{{l("Type")}}</strong> *</label>

                                    <select name="type" required class="form-control" [(ngModel)]="fixedCostPrice.type">
                                    <option value="">Select</option>
                                    <option value="Panel">Panel</option>
                                    <option value="Job">Job</option>
                                    <option value="Kw">Kw</option>                                                                        
                                </select>
                                <span class="icon-box"><i class="las la-list"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label for="cost" ><strong>{{l("Cost")}}</strong></label>
                                    <input type="cost" id="cost" class="form-control" name="Number" required [(ngModel)]="fixedCostPrice.cost" />
                                    <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!fixedCostPriceForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>