﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form *ngIf="active" #promotionUserForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">
						<span *ngIf="promotionUser.id">Import Responce</span>
					</h4>
					<button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<div class="kt-sdropdown tenantsearhdropdown ">
								<div class="form-group m-form__group">
									<select class="form-control" [(ngModel)]="promotionTitleFilter"
										name="promotionTitleFilter">
										<option selected value=0>{{l("AllPromotions")}}</option>
										<option *ngFor="let item of allPromotions" value="{{item.id}}">
											{{item.displayName}}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<p-fileUpload customUpload="true" name="ExcelFileUpload" #ExcelFileUpload
								maxFileSize="10000000" auto="auto" accept=".csv,.xls,.xlsx"
								(uploadHandler)="uploadExcel($event)" (onError)="onUploadExcelError()"
								chooseLabel="{{'Import' | localize}}">
							</p-fileUpload>
						</div>
					</div>
				</div>
				<!-- <div class="modal-footer">
					<button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
							class="fa fa-times"></i> <span>{{l("Cancel")}}</span></button>
					<button type="submit" class="btn btn-primary blue" [disabled]="!promotionUserForm.form.valid"
						[buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
						<span>{{l("Save")}}</span></button>
				</div> -->
			</form>
		</div>
	</div>
</div>