﻿<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor leadmaindiv">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("PromotionUsers")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getPromotionUsers();RereshLog();"></button></li>
                                <li *ngIf="'Pages.PromotionUsers.Excel' | permission">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success
                                            dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <!-- <i class="far fa-file-excel"></i> -->
                                            <!-- {{"ExcelOperations" | localize}} -->
                                            {{'Export' | localize}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu
                                            dropdown-menu-right
                                            dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item " id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item " id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;">
                                                <i class="las la-file-csv"></i> {{l("ExportCSV")}}
                                            </a>
                                            <!-- <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;">
                                                {{l("PDF")}}
                                            </a> -->
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength> 1">
                                    <div class="kt-searchmainbox
                                        promotionusersearch">
                                        <div class="kt-sdropdown">
                                            <div class="form-group
                                                selectdropdown m-form__group">
                                                <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getPromotionUsers();addSearchLog('Filter Organization');">
                                                    <option *ngFor="let item of
                                                        allOrganizationUnits" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox width166
                                        promotionusersearch">
                                        <div class="kt-sdropdown
                                            tenantsearhdropdown">
                                            <div class="form-group
                                                m-form__group">
                                                <select name="readunreadsms" [(ngModel)]="readunreadsms" class="form-control" (change)="getPromotionUsers();addSearchLog('Filter')">
                                                    <option value="0" selected>All</option>
                                                    <option value="1">{{l("Read")}}</option>
                                                    <option value="2">{{l("Unread")}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox
                                        promotionusersearch">
                                        <div class="kt-sdropdown
                                            tenantsearhdropdown">
                                            <div class="form-group
                                                m-form__group">
                                                <select name="promotype" [(ngModel)]="promotype" class="form-control" (change)="getPromotionUsers();addSearchLog('Filter')">
                                                    <option value="0" selected>PromoType</option>
                                                    <option value="1">{{l("SMS")}}</option>
                                                    <option value="2">{{l("Email")}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox
                                        promotionusersearch">
                                        <div class="kt-sdropdown
                                            tenantsearhdropdown">
                                            <div class="form-group
                                                m-form__group">
                                                <select name="responseType" [(ngModel)]="promotionResponseStatusIdFilter" class="form-control" (change)="getPromotionUsers();addSearchLog('Filter')">
                                                    <option value="0" selected>Responce
                                                        All</option>
                                                    <option *ngFor="let item of
                                                        allPromotionResponseStatuss" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                                <option value="Phone">Phone</option>
                                                <option value="ResponseMessage">Response Message</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input [(ngModel)]="filterText" [ngClass]="{pl50: filterName == 'JobNumber' }" name="filterText" (keydown.enter)="getPromotionUsers();addSearchLog('Filter' + filterName +  ' : ' + filterText)" autoFocus class="form-control
                                                m-input" placeholder="{{filterName}}" type="text">
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getPromotionUsers()"><i class="fas fa-times-circle"></i></a>
                                            <button (click)="getPromotionUsers();addSearchLog('Filter' + filterName +  ' : ' + filterText)" class="btnsearch" type="submit">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>

                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox  maxwidth500">
                                            <h3>{{l("AdditionalFilters")}}</h3>
                                            <div class="advfilterform">
                                                <ul>
                                                    <li>
                                                        <div class="form-group
                                                            m-form__group
                                                            jobmultipleselect">
                                                            <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select
                                                                JobStatus" [(ngModel)]="jobStatusIDFilter" name="jobStatusIDFilter">
                                                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                                </ng-template>
                                                            </ng-select>
                                                        </div>
                                                    </li>
                                                    <li *ngIf="role != 'Sales Rep'">
                                                        <div class="form-group
                                                            m-form__group">
                                                            <select class="form-control" [(ngModel)]="teamId" name="teamId" (change)="bindSalesRep()" (keydown.enter)="getPromotionUsers();addSearchLog('Advanced Filter');">
                                                                <option value="0">{{l("SelectTeam")}}</option>
                                                                <option *ngFor="let
                                                                    item of
                                                                    filteredTeams" value="{{item.id}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                        </div>
                                                    </li>

                                                    <li *ngIf="role != 'Sales Rep'">
                                                        <div class="form-group
                                                            m-form__group">
                                                            <select class="form-control" [(ngModel)]="salesRepId" (keydown.enter)="getPromotionUsers();addSearchLog('Advanced Filter');" name="salesRepId">
                                                                <option value="0">{{l("SelectSalesRep")}}</option>
                                                                <option *ngFor="let
                                                                    item of
                                                                    filteredReps" value="{{item.id}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li >
                                                        <div class="form-group
                                                            m-form__group">
                                                            <select class="form-control" [(ngModel)]="userId" (keydown.enter)="getPromotionUsers();addSearchLog('Advanced Filter');" name="userId">
                                                                <option value="0">{{l("Select User")}}</option>
                                                                <option *ngFor="let
                                                                    item of
                                                                    filteredUsers" value="{{item.id}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group
                                                            m-form__group">
                                                            <select class="form-control" [(ngModel)]="promotionTitleFilter" name="promotionTitleFilter" (keydown.enter)="getPromotionUsers();addSearchLog('Advanced Filter');">
                                                                <option selected value=0>{{l("AllPromotions")}}</option>
                                                                <option *ngFor="let
                                                                    item of
                                                                    allPromotions" value="{{item.id}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group
                                                            m-form__group">
                                                            <select class="form-control" [(ngModel)]="responseDateFilter" (keydown.enter)="getPromotionUsers();addSearchLog('Advanced Filter');" name="responseDateFilter">
                                                                <option value="All">{{l("All")}}</option>
                                                                <option value="Responce">{{l("Responce")}}</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <!-- <li>
                                                        <input name="SampleDateRangePicker" type="text" class="form-control
                                                            daterangebox" [(ngModel)]="sampleDateRange" (keydown.enter)="getPromotionUsers($event)" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{
                                                            customTodayClass:
                                                            'today' }" [(date)]="sampleDateRange" />
                                                    </li> -->
                                                   
                                                    <li class="clear-date">
                                                        <div class="form-group
                                                            m-form__group">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </div>
                                                    </li>
                                                    <li class="clear-date">
                                                        <div class="form-group
                                                            m-form__group">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </div>
                                                    </li>
                                                    <li class="fullwidth text-right">
                                                        <button class="btn btn-primary btn-sm" (click)="this.getPromotionUsers();addSearchLog('Advanced Filter');"><i class="fa fa-search"></i> Search</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div (click)="shouldShow= !shouldShow" [ngClass]="{show:
                            shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                    </div>
                </div>

            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{totalPromotion}}</span><label>{{l("Total")}}</label></li>
                    <li><span>{{interestedCount}}/{{perinterestedCount}} %</span><label>{{l('Yes')}}</label></li>
                    <li><span>{{notInterestedCount}}/{{pernotInterestedCount}} %</span><label>{{l('No')}}</label></li>
                    <li><span>{{otherCount}}/{{perotherCount}} %</span><label>{{l('Other')}}</label></li>
                    <li><span>{{unhandle}}/{{perunhandle}} %</span><label>{{l("Unhandled")}}</label></li>
                    <li><span>{{promotionProject}}/{{perpromotionProject}} %</span><label>{{l("Project")}}</label></li>
                    <li><span>{{promotionSold}}/{{perpromotionSold}} %</span><label>{{l("Sold")}}</label></li>
                    <li style="height:67px; justify-content:center;">
                        <div class="d-flex align-items-center justify-content-end" style="width:100%;">
                            <select name="readunreadsmstag" [(ngModel)]="readunreadsmstag" class="form-control mr-3" style="height:35px !important;">
                            <option value="0" selected>All</option>
                            <option value="1">{{l("Read")}}</option>
                            <option value="2">{{l("Unread")}}</option>
                        </select>
                            <button (click)="submit()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary btn-sm" style="height:35px !important;">Submit</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.PromotionUsers.EnableCopyPaste' | permission)}">
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView ===
                            false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd
                                btnback">
                                <img [src]="appRootUrl() +
                                    'assets/common/images/pagi_nextactive.svg'" alt=""
                                    (click)="expandGrid()" /></button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getPromotionUsers($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                scrollDirection="horizontal" [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getPromotionUsers($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true"
                                ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center" [hidden]="!isGrantedAny('Pages.PromotionUsers.View')">
                                            {{l('Actions')}}
                                        </th>
                                        <th style="width:45px;" class="checkboxhead p-frozen-column" [hidden]="!ExpandedView">
                                            <div class="kt-checkbox-list">
                                                <label for="lead_id" class="kt-checkbox">
                                                    <input type="checkbox" id="lead_id" name="all"
                                                        [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th style="width: 230px; left:45px !important;" class="p-frozen-column" pSortableColumn="LeadFk.CompanyName">
                                            {{l('CopanyName')}}
                                            <p-sortIcon field="LeadFk.CompanyName"></p-sortIcon>
                                        </th>
                                        <th style="width: 100px" [hidden]="!ExpandedView">
                                            {{l('SalesRep')}}
                                        </th>
                                        <!-- <th style="width: 150px" [hidden]="!ExpandedView">
                                            {{l('Mobile')}}/ {{l('EMail')}}
                                        </th> -->
                                        <th style="width:125px; text-align:
                                            left;" pSortableColumn="ResponseMessage" [hidden]="!ExpandedView">
                                            {{l('Response')}}
                                            <p-sortIcon field="promotionUser.responseMessage"></p-sortIcon>
                                        </th>
                                        <th style="width: 140px" pSortableColumn="ResponseDate" [hidden]="!ExpandedView">
                                            {{l('ResponseOn')}}
                                            <p-sortIcon field="responseDate"></p-sortIcon>
                                        </th>
                                        <th style="width: 120px" [hidden]="!ExpandedView">
                                            {{l('LeadStatus')}}
                                            <!-- <p-sortIcon field="responseDate"></p-sortIcon> -->
                                        </th>

                                        <th style="width: 120px" [hidden]="!ExpandedView">
                                            {{l('PrjctNo')}}
                                            <!-- <p-sortIcon field="responseDate"></p-sortIcon> -->
                                        </th>
                                        <th style="width: 170px" [hidden]="!ExpandedView">
                                            {{l('ProjectStatus')}}
                                            <!-- <p-sortIcon field="responseDate"></p-sortIcon> -->
                                        </th>
                                        <th style="width: 200px" pSortableColumn="promotionFk.title" [hidden]="!ExpandedView">
                                            {{l('Title')}}
                                            <p-sortIcon field="promotionFk.Title"></p-sortIcon>
                                        </th>
                                        <th style="width:130px" pSortableColumn="promotionFk.PromotionTypeFk.name" [hidden]="!ExpandedView">
                                            {{l('Type')}}
                                            <p-sortIcon field="promotionFk.PromotionTypeFk.name"></p-sortIcon>
                                        </th>
                                        <th style="width: 120px" pSortableColumn="promotionFk.CreationTime" [hidden]="!ExpandedView">
                                            {{l('SendOn')}}
                                            <p-sortIcon field="promotionFk.CreationTime"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;">
                                            {{l('Reminder')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection':
                                        SelectedLeadId === record.leadId}">
                                        <td class="actionwidth p-frozen-column" style="text-align: center; width:95px;" [hidden]="!isGrantedAny('Pages.PromotionUsers.View')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.PromotionUsers.View')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.jobId,0,'Promotion Tracker')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="padd8and10 p-frozen-column" style="width:45px;" [hidden]="!ExpandedView">
                                            <div class="kt-checkbox-list">
                                                <label for="{{record.promotionUser.id}}" class="kt-checkbox">
                                                    <input type="checkbox" id="{{record.promotionUser.id}}"
                                                        name="recordSource" [(ngModel)]="record.isSelected" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td style="width: 230px; left:45px !important;" class="p-frozen-column" (click)="navigateToLeadDetail(record.leadId);">
                                            <img style="width: 22px;" *ngIf="record.leadStatus =='Hot'" title="Hot Lead" [src]="appRootUrl() +'assets/common/images/icon_flame.png'">
                                            <img style="width: 22px;" *ngIf="record.leadStatus =='Warm'" title="Warm Lead" [src]="appRootUrl() +'assets/common/images/icon_orangesun.png'">
                                            <img style="width: 22px;" *ngIf="record.leadStatus =='Cold'" title="Cold Lead" [src]="appRootUrl() +'assets/common/images/icon_blueice.png'">
                                            <img style="width: 22px;" *ngIf="record.leadStatus =='Duplicate'" title="Duplicate Lead" [src]="appRootUrl() +'assets/common/images/duplicatelead.png'">
                                            <img style="width: 22px;" *ngIf="record.leadStatus == 'NotDuplicate'" title="Not Duplicate Lead" [src]="appRootUrl() +'assets/common/images/not_duplicate.png'">
                                            <img style="width: 22px;" *ngIf="record.leadStatus !='Hot' && record.leadStatus !='Cold' && record.leadStatus !='Warm'" title="Unhandled Lead" [src]="appRootUrl() +'assets/common/images/unhandle_yellow.svg'">                                            {{record.leadCopanyName}}
                                        </td>
                                        <td style="width:100px" [hidden]="!ExpandedView">
                                            {{record.assignedToName}}
                                        </td>
                                        <!-- <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.mobile}} {{record.email}}
                                        </td> -->
                                        <td style="width:125px; text-align:center;" [hidden]="!ExpandedView">
                                            <div class="badge badge-danger d-flex align-items-center" [tooltip]="record.promotionUser.responseMessage" *ngIf="record.promotionUser.promotionResponseStatusId==2">
                                                <i class="las la-thumbs-down fs-22 txt-white"></i>
                                                <span>
                                                        {{record.promotionUser.responseMessage}}
                                                    </span>
                                            </div>

                                            <div class="badge badge-success d-flex align-items-center" [tooltip]="record.promotionUser.responseMessage" *ngIf="record.promotionUser.promotionResponseStatusId==1">
                                                <i class="las la-thumbs-up fs-22"></i>
                                                <span>
                                                        {{record.promotionUser.responseMessage}}
                                                    </span>
                                            </div>

                                            <div *ngIf="record.promotionUser.promotionResponseStatusId==3" [tooltip]="record.promotionUser.responseMessage">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm d-flex align-items-center btn-warning darker" dropdownToggle style="width:90px; height:35px; padding:0 5px !important;">
                                                            <i class="las la-question fs-20 pr-0"></i> <span style="max-width:65%; overflow:hidden; color:#000; font-size:0.9rem;">{{record.promotionUser.responseMessage}}</span>
                                                        </button>
                                                    <ul class="dropdown-menu
                                                            dupdropdown" *dropdownMenu>
                                                        <li>
                                                            <a href="javascript:;" (click)="updateResponseStatusFor(record.promotionUser.id,
                                                                    1)">
                                                                <i class="las la-thumbs-up"></i> {{l('Interested')}}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" (click)="updateResponseStatusFor(record.promotionUser.id,
                                                                    2)">
                                                                <i class="las la-ban"></i> {{l('Stop')}}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:;" (click)="updateResponseStatusFor(record.promotionUser.id,
                                                                    3)">
                                                                <i class="las la-question-circle"></i> {{l('Not Sure')}}
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>

                                        </td>
                                        <td style="width:140px" [hidden]="!ExpandedView">
                                            <span *ngIf="record.promotionResponseStatusName"><span class="badge badge-secondary">
                                                {{record.promotionUser.responseDate | momentFormat:'L'}}</span>
                                            </span>
                                            <span *ngIf="!record.promotionResponseStatusName">-</span>
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.leadStatus}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.projectNumber}}
                                        </td>
                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            {{record.projectStatus}}
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.promotionTitle">
                                                <!-- <span class="ui-column-title">{{l('Title')}}</span> -->
                                                <a href="javascript:;" (click)="viewPromotionModal.show(record.getPromotionForViewDto)">
                                                        {{record.promotionTitle}}
                                                    </a></span>
                                            </div>
                                        </td>
                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            {{record.getPromotionForViewDto.promotionTypeName}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.getPromotionForViewDto.promotion.creationTime | momentFormat:'L' }}
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.activityComment">{{record.activityComment}}</span>
                                            </div>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.activityReminderTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <div class="set_warp_toltrip"><span [tooltip]="record.activityDescription">{{record.activityDescription}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>

                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount ==
                                0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getPromotionUsers($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount',
                                    primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <!-- <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <createOrEditPromotionUserModal #createOrEditPromotionUserModal (modalSave)="getPromotionUsers()">
        </createOrEditPromotionUserModal> -->
        <!-- <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal> -->
        <!-- <viewPromotionUserModal #viewPromotionUserModal></viewPromotionUserModal> -->
        <viewPromotionModal #viewPromotionModal></viewPromotionModal>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>

    </div>
</div>