﻿<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #promotionUserForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Add Promotion Responce</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Lead_Comment" class="form-label">{{l("Comment")}}</label>
                                <input type="text" placeholder='{{l("Comment")}}' id="Lead_Comment"  required class="form-control"
                                    [(ngModel)]="comment" name="comment" minlength="2" maxlength="50" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i
                            class="fa fa-times"></i> {{l("Close")}}</button>
                    <button type="submit" *ngIf="active1" class="btn btnsubmitbox">
                        <span>Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>