<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap' rel='stylesheet'>
</head>

<style>
    .form-control-chk {
        font-family: system-ui, sans-serif;
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 1.2em;
    }
    
    .form-control-chk+.form-control-chk {
        margin-top: 1em;
    }
    
    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        /* Remove most all native input styles */
        appearance: none;
        /* For iOS < 15 */
        background-color: var(--form-background);
        /* Not removed via appearance */
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.50em;
        height: 1.50em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        display: grid;
        place-content: center;
    }
    
    input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--form-control-color);
        /* Windows High Contrast Mode */
        background-color: CanvasText;
    }
    
    input[type="checkbox"]:checked::before {
        transform: scale(1);
    }
    
    input[type="checkbox"]:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
    }
    
    input[type="checkbox"]:disabled {
        --form-control-color: var(--form-control-disabled);
        color: var(--form-control-disabled);
        cursor: not-allowed;
    }
</style>

<div [ngClass]="{'sm-container': quotationData.organizationId === 8, 'sb-container' : quotationData.organizationId === 1, 'savy-container' : quotationData.organizationId === 2 }" [@routerTransition]>
    <div class="container">
        <div *ngIf="!quotationData.expiry && !quotationData.signed">
            <form #custSignForm="ngForm" novalidate autocomplete="off">
                <table style="width:100%; border:0 !important;">
                    <tr>
                        <td>
                            <div class="sign-header t-center"><img [src]="quotationData.orgLogo" style='max-width:200px;'></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <section class="customer-section d-flex align-items-center justify-content-between">
                                <div class="customer-info">
                                    <h2>{{quotationData.custName}}</h2>
                                    <div class="d-flex align-items-center mb-15">
                                        <img src="https://thesolarproduct.com/assets/common/images/sm/mobile.png" class="mr-10" style="height:18px; opacity:0.6;">
                                        <div>{{quotationData.custMobile}}</div>
                                    </div>
                                    <div class="d-flex align-items-center mb-15">
                                        <img src="https://thesolarproduct.com/assets/common/images/sm/mail.png" class="mr-10" style="width:18px; opacity:0.6;">
                                        <div>{{quotationData.custEmail}}</div>
                                    </div>
                                    <div class="d-flex mb-20">
                                        <img src="https://thesolarproduct.com/assets/common/images/sm/pin_black.png" class="mr-10" style="height:18px; opacity:0.6;">
                                        <div>{{quotationData.address1}} <br> {{quotationData.address2}}
                                        </div>
                                    </div>

                                    <div class="tech-info d-flex align-items-center justify-content-between">
                                        <ul>
                                            <li><span>Phase: </span><br>{{quotationData.meterPhase}}</li>
                                            <li><span>Roof Type: </span> <br>{{quotationData.roofType}}</li>
                                            <li><span>Energy Dist: </span><br>{{quotationData.energyDist}}</li>
                                            <li><span>No. of Storey: </span> <br>{{quotationData.nonOfStory}}</li>
                                        </ul>
                                        <ul>
                                            <li><span>Upgrades: </span><br>{{quotationData.upgrades}}</li>
                                            <li><span>Roof Pitch: </span><br>{{quotationData.roofPinch}}</li>
                                            <li><span>Energy Retailer: </span><br>{{quotationData.energyRet}}</li>
                                            <li><span>NMI Number: </span><br>{{quotationData.nmiNumber}}</li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="main-banner">
                                    <img src="https://thesolarproduct.com/assets/common/images/sm/banner-img.png" *ngIf="quotationData.organizationId == 7">
                                    <img src="https://thesolarproduct.com/assets/common/images/sm/banner-img.png" *ngIf="quotationData.organizationId == 8">
                                    <img src="https://thesolarproduct.com/assets/common/images/sb/sb-banner-img.png" *ngIf="quotationData.organizationId != 8 && quotationData.organizationId != 7">
                                </div>
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <section class="customer-section">
                                <div class="table-box">
                                    <div class="main-table table-responsive">
                                        <table class="table">
                                            <tr>
                                                <th>Job Notes</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="t-left">
                                                    <div style="min-height:90px;">
                                                        <li>{{ quotationData.jobNotes }}</li>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <section class="customer-section">
                                <h1>Quote Number - {{quotationData.jobNumber}}</h1>
                                <div class="table-box">
                                    <div class="main-table table-responsive">
                                        <table class="table">
                                            <tr>
                                                <th>Solar Power Solution Design, Supply & Installation</th>
                                                <th class="t-right">Price</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="t-left">
                                                    <div style="min-height:90px;">
                                                        <li *ngFor="let item of quotationData.qunityAndModelLists">{{ item.name }}</li>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="highlight">
                                                <td>Sub Total (A)</td>
                                                <td>${{quotationData.subTotal}}</td>
                                            </tr>
                                            <tr>
                                                <td>Less STC INCENTIVE <strong>({{quotationData.stcDesc}}) (B)</strong></td>
                                                <td>${{quotationData.stc}}</td>
                                            </tr>
                                            <tr>
                                                <td>Grand Total (A-B)</td>
                                                <td>${{quotationData.grandTotal}}</td>
                                            </tr>
                                            <tr>
                                                <td>Plus Additional Charges</td>
                                                <td>${{quotationData.additionalCharges}}</td>
                                            </tr>
                                            <tr *ngIf="quotationData.vicRebate == 'With Rebate Install'">
                                                <td>Less - Solar VIC Rebate</td>
                                                <td>${{quotationData.solarVICRebate}}</td>
                                            </tr>
                                            <tr *ngIf="quotationData.vicRebate == 'With Rebate Install'">
                                                <td>Less - Solar VIC Loan</td>
                                                <td>${{quotationData.solarVICLoanDiscount}}</td>
                                            </tr>
                                            <tr>
                                                <td>Less Discount</td>
                                                <td>${{quotationData.discount}}</td>
                                            </tr>
                                            <tr class="highlight">
                                                <td class="no-bdr t-right">Total Price<br><span style="font-size:12px;">(Inc. GST)</span></td>
                                                <td class="no-bdr t-right">${{quotationData.total}}</td>
                                            </tr>
                                            <tr class="highlight">
                                                <td class="no-bdr t-right">{{quotationData.depositeText}}</td>
                                                <td class="no-bdr t-right">${{quotationData.depositRequired}}</td>
                                            </tr>
                                            <tr class="highlight balance">
                                                <td style="background:#fff;"><strong>Balance Due :</strong></td>
                                                <td style="background:#fff;"><strong>${{quotationData.balance}}</strong></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <section class="red-bg" style="text-align:justify;">
                                <strong>Privacy Declaration:</strong> {{quotationData.organization}} Pty Ltd will only use this personal information as intended and will not sell or divulge this to any parties other than the legal entities when required.
                                If you are not the intended recipient of this email, please dispose of it and disregard the information within.
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <section class="white">
                                <div style="margin:0 0 15px;">
                                    <div style="font-size:14px; font-weight:700; margin:0 0 20px;">Mandatory Declaration:</div>
                                    <p style="font-size:14px; font-weight:normal; text-align: justify; margin:0 0 20px; padding:0;">* Provided layout of the solar panels for your property is just a reference only. A final Decision will be made by the CEC Certified Installer on the day of installation.</p>
                                    <p style="font-size:14px; font-weight:normal; text-align: justify; margin:0 0 20px; padding:0;">* Overall system price would stay unchanged if we are unable to execute the Installation of Free panels because of inadequate roof space/strength etc. And will be taken back by the installer. For each uninstalled panel
                                        after the free quantity, we will reduce the system price by $75.</p>
                                    <p style="font-size:14px; font-weight:normal; text-align: justify; margin:0 0 20px; padding:0;">* The panels on inadequate roof angle or in shadow are less efficient. The preferred panel angle should be 15 to 30 degrees toward east, west or north.</p>
                                    <p style="font-size:14px; font-weight:normal; text-align: justify; margin:0 0 20px; padding:0;">* Upgrade of Meter Box (if needed) will be negotiated and charged by our Electrician directly. A cost to replace your current electricity meter has to be borne by you, which can be legal charges imposed by the Electricity
                                        Distributor. The customer agrees to pay the balance amount of the system plus any additional costs towards the system installation. {{quotationData.organization}} must have a final payment on the day of your solar
                                        system installation by EFT, Credit Card or Cheque.</p>
                                    <p style="font-size:14px; font-weight:normal; text-align: justify; margin:0 0 20px; padding:0;">* If you have opted for the payment terms or finance, a 10-day cooling-off period will be applicable and the installation will be scheduled accordingly.</p>
                                    <p style="font-size:14px; font-weight:normal; text-align: justify; margin:0 0 20px; padding:0;">* It is mandatory to inform {{quotationData.organization}} in case you change your electricity retailer anywhere between the date of the initial deposit and the installation. Failure to provide this information may
                                        result in delayed grid connection which {{quotationData.organization}} is not liable for any consequences.</p>
                                    <p style="font-size:14px; font-weight:normal; text-align: justify; margin:0 0 20px; padding:0;">* If there is a premium feed-in tariff on the existing solar system, it will change to current standards on exceeding the originally approved inverter capacity.</p>
                                </div>
                                <div style="font-weight:500; margin-bottom: 15px; line-height:28px;">
                                    <input type="checkbox" name="isChange" id="isChange" [(ngModel)]="checkboxtrue" required style="float:left; top: 2px; margin-right:5px; position: relative;" /> I have read and understood the above. Also, accept the
                                    standard terms and conditions outlined <span style="display:inline-block; cursor: pointer; text-decoration: underline; color:#407BFF !important;" (click)="aDeclarationShow = !aDeclarationShow">here</span>
                                </div>

                                <div style="margin:0 0 15px;font-size:14px; font-weight:normal; text-align: justify;" [innerHtml]="aDeclarationBody" *ngIf="aDeclarationShow"></div>

                                <div class="wrapper" style="text-align: center!important;">
                                    <!-- <canvas id="signature-pad" class="signature-pad"></canvas> -->
                                    <!-- <canvas id="signature-pad" class="signature-pad" width=300 height=130></canvas> -->
                                    <canvas id="signature-pad" class="signature-pad" style="border:1px solid #999; border-radius: 10px; position:inherit; background-color: #fff;" height=130></canvas>
                                </div>

                                <div class="bottom-tags">
                                    <div class="tags" style="padding:5px 10px;  border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                                        <span>Captured IP Address: </span>
                                        <span style="font-weight:700">{{ipAddress}}</span>
                                    </div>
                                    <div class="tags" style="padding:5px 10px; border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                                        <span>Latitude: </span>
                                        <span style="font-weight:700">{{lat}}</span>
                                    </div>
                                    <div class="tags" style="padding:5px 10px; border-radius:0.25rem; font-size:0.8rem; margin:5px;">
                                        <span>Longitide: </span>
                                        <span style="font-weight:700">{{lng}}</span>
                                    </div>
                                </div>
                            </section>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <!-- <div class="btn-box">
                <button id="save" (click)="save()" class="main-button">Save</button>
                <button id="clear" (click)="clear()" class="clear-button">Clear</button>
            </div> -->
                            <div style="text-align:center; height:80px; display:flex; align-items:center; justify-content: center; z-index: 1; position:relative;">
                                <button type="button" id="save" (click)="save()" class="main-button" style="float:left; width:47%;">Save</button>
                                <button type="button" id="clear" (click)="clear()" class="clear-button" style="float:right; width:47%;">Clear</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>


        </div>

        <div style="padding:60px 0; display:flex; flex-direction:column; align-items: center;" class="white-bg" *ngIf="quotationData.signed && !Submit">
            <div class="sign-header t-center"><img [src]="quotationData.orgLogo" style='max-width:200px;'></div>
            <div style="text-align:center; margin:0 0;"><img src="https://thesolarproduct.com/assets/common/images/sm/banner-img.png"></div>
            <div style="text-align:center; font-size:20px; margin:50px 0 20px; font-weight:bold;">You have already signed the Quotation !!</div>
            <div style="text-align:center; font-size:16px; color:#777; margin:0 0 0; font-weight:600;">Please Ignore this email/SMS</div>
        </div>

        <div style="padding:60px 0; display:flex; flex-direction:column; align-items: center;" class="white-bg" *ngIf="quotationData.expiry">
            <div class="sign-header t-center"><img [src]="quotationData.orgLogo" style='max-width:200px;'></div>
            <div style="text-align:center; margin:0 0;"><img src="https://thesolarproduct.com/assets/common/images/sm/link-expired.jpg" style="width:95%;"></div>
            <div style="text-align:center; font-size:20px; margin:40px 0; font-weight:bold;">Sorry, The link you followed has expired.</div>
        </div>

        <section class="white-bg" *ngIf="Submit">
            <div class="sign-header t-center"><img [src]="quotationData.orgLogo" style='max-width:200px;'></div>
            <div style="text-align:center; margin:0 0;"><img src="https://thesolarproduct.com/assets/common/images/sm/submit.jpg" style="width:95%;"></div>
            <div style="text-align:center; font-size:40px; font-weight:bold; margin:0 0 20px;">Thank You!</div>
            <div style="text-align:center; font-size:20px; margin:20px 0;">You have successfully signed the documents !!</div>
        </section>
    </div>
</div>

<!-- <div class="kt-customersignature" [@routerTransition] style="display:none;">
    <div class="quotepdfbox">
        <div class="expiredmessage" *ngIf="quotationData.signed">
            <img src="../../assets/common/images/smile.svg" style="width:100px;" />
            <h3 class="mt-4">Hello </h3>
            <p class="text-center">You have already signed the Quotation. <br /> Please Ignore this email/SMS</p>
        </div>
        <div class="quotepdfbox">
            <div class="expiredmessage" *ngIf="quotationData.expiry">
                <img src="../../assets/common/images/sad.svg" style="width:100px;" />
                <h3 class="mt-4">Sorry </h3>
                <p class="text-center">Your Link Has Expired Please Request New Link Again. <br /> Thank You</p>
            </div>
            <div class="quotationarea" *ngIf="!quotationData.expiry && !quotationData.signed">
                <form #custSignForm="ngForm" novalidate autocomplete="off">
                    <h2>Collecting Home Owner Signature</h2>
                    <p class="mt-3">Dear {{quotationData.custName}},</p>
                    <p>Your Solar Advisor {{quotationData.instName}} from {{quotationData.organization}} PTY LTD is requesting a signature on Quote No.. {{quotationData.quoteNo}} for your property {{quotationData.address1 | titlecase}} {{quotationData.address2
                        | titlecase}}.</p>
                    <h3 class="mt-4">Before signing please verify your system details below:</h3>
                    <div class="customerinfobox ">
                        <ul>
                            <li><label>Panel Name</label>
                                <Span>: {{quotationData.panelName}}</Span>
                            </li>
                            <li><label>Panel brand </label>
                                <Span>: {{quotationData.panelBrand}} </Span>
                            </li>
                            <li><label>Panel Model </label>
                                <Span>: {{quotationData.panelModel}}</Span>
                            </li>
                            <li><label>Inverter Name </label>
                                <Span>: {{quotationData.inverterName}}</Span>
                            </li>
                            <li><label>Inverter brand </label>
                                <Span>: {{quotationData.inverterBrand}}</Span>
                            </li>
                            <li><label>Inverter Model </label>
                                <Span>: {{quotationData.inverterModel}}</Span>
                            </li>
                            <li><label>System Capacity </label>
                                <Span>: {{quotationData.systemCapecity}}</Span>
                            </li>
                            <li><label>No Of Panel</label>
                                <Span>: {{quotationData.noOfPanel}} </Span>
                            </li>
                            <li><label>No of Stc </label>
                                <Span>: {{quotationData.noOfSTC}} </Span>
                            </li>
                            <li><label>House type </label>
                                <Span>: {{quotationData.nonOfStory}} </Span>
                            </li>
                            <li><label>Roof Type </label>
                                <Span>: {{quotationData.roofType}} </Span>
                            </li>
                            <li><label>Roof Angle </label>
                                <Span>: {{quotationData.roofPinch}} </Span>
                            </li>
                            <li><label>NMI Number </label>
                                <Span>: {{quotationData.nmiNumber}} </Span>
                            </li>
                            <li><label>Distributor </label>
                                <Span>: {{quotationData.energyDist}} </Span>
                            </li>
                            <li><label>Retailer </label>
                                <Span>: {{quotationData.energyRet}} </Span>
                            </li>
                            <li><label>Meter upgrade </label>
                                <Span>: {{quotationData.upgrades}} </Span>
                            </li>
                            <li><label>Meter Phase </label>
                                <Span>: {{quotationData.meterPhase}} </Span>
                            </li>
                            <li><label>Price </label>
                                <Span>: {{quotationData.totalCost}} </Span>
                            </li>
                            <li><label>Deposit Paid </label>
                                <Span>: {{quotationData.depositePaid}} </Span>
                            </li>
                            <li *ngIf="quotationData.state == 'VIC'"><label>Less: Solar VIC Rebate </label>
                                <Span>:
                                    {{quotationData.solarVICRebate}} </Span>
                            </li>
                            <li *ngIf="quotationData.state == 'VIC'"><label>Less: Solar VIC Interest Free Loan</label>
                                <Span>: {{quotationData.solarVICLoanDiscont}} </Span>
                            </li>
                            <li><label>Bal To Pay </label>
                                <Span>: {{quotationData.balance}} </Span>
                            </li>
                            <li><label>Payment Option </label>
                                <Span *ngIf="quotationData.paymentOptionId == 1"> {{quotationData.paymentOption}}
                                </Span>
                                <Span *ngIf="quotationData.paymentOptionId != 1"> Finance With
                                    {{quotationData.financeOption}} with {{quotationData.depositOption}} for
                                    {{quotationData.paymentOption}} </Span>
                            </li>
                        </ul>

                        <h3 class="mt-4">Mandatory Declaration:</h3>
                        <p>* Provided layout of the solar panels for your property is just a reference only. Final Decision will be made on the day of installation by CEC Certified Installer.</p>
                        <p>* Free panels will be subject to available roof space and will be taken back by the installer if not installed. The price will remain unchanged. For any panel installed less than that, the price will be reduced by $75 per panel.</p>
                        <p>* Upgrade of Meter Box (if needed) will be negotiated and charged by our Electrician directly. The cost of the replacement of your current electric meter has to be borne by you, which can be legal charges imposed by the Electricity
                            Distributor. Customer agrees to pay the balance amount of the system plus any additional costs towards the system installation. {{quotationData.organization}} must have the final payment on the day of the installation by EFT,Credit
                            Card or Cheque.</p>
                        <p>* In case of Certegy EziPay or any other finance option offered by {{quotationData.organization}} cooling off period of 10 days will be applicable and the installation date will be scheduled accordingly.</p>
                        <p>* It is mandatory to inform {{quotationData.organization}} in case you change your electricity retailer anywhere between the date of initial deposit and the installation. Failure to inform us may result in delay in grid connection
                            and {{quotationData.organization}} will not be held liable for any such consequences.</p>

                        <label for="isChange" class="kt-checkbox">
                            <input type="checkbox" name="isChange" id="isChange" [(ngModel)]="checkboxtrue" required />
                            <span></span>
                            I have read and understood these terms and conditions and accept them
                        </label>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-5">
                            <div class="digitalsignaturebox">
                                <div class="digitalsignature">
                                    <h5>Signature</h5>
                                    <div class="wrapper">
                                        <canvas id="signature-pad" class="signature-pad" width=300 height=130></canvas>
                                    </div>
                                    <div>
                                        <button id="save" (click)="save()">Save</button>
                                        <button id="clear" (click)="clear()">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <p>
                                Customer name: {{quotationData.custName}} <br /> Date: {{quotationData.date}}<br /> Email: {{quotationData.custEmail}} <br /> Captured IP Address: {{ipAddress}} <br /> Location: Latitude: {{lat}} <br /> Longitide: {{lng}}
                            </p>
                            <p><strong>Privacy Declaration:</strong> {{quotationData.organization}} Pty Ltd will only use this personal information as intended and will not sell or divulge this to any parties other than the Clean Energy Regulator. If you
                                are not the intended recipient of this email - Please dispose this email and disregard the information within.</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->