<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">


        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span>{{l("SerialNo Status")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>

                </div>
                <div class="kt-subheader__toolbar">
                    <div class="kt-subheader__wrapper">
                        <ul class="hd_right">
                            <li>
                                <button type="button" class="btn_refresh" (click)="getSerialNoStatus()"></button>
                            </li>
                            
                            <li>
                                <div class="kt-searchmainbox searchclearbox">
                                    <div class="kt-stextbox">
                                        <input type="text" class="form-control" placeholder="{{l('Searchfieldname')}}" [(ngModel)]="filterText" (keydown.enter)="getSerialNoStatus();searchLog();" />
                                        <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getSerialNoStatus();searchLog();"><i class="fas fa-times-circle"></i></a>
                                        <input type="button" class="btnsearch" (click)="getSerialNoStatus();searchLog();" />
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getSerialNoStatus($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth" >
                                            {{l('Actions')}}</th>
                                        <th pSortableColumn="status">
                                            {{l('Status')}}
                                            <p-sortIcon field="status"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="status" >
                                            {{l('Status')}}
                                            <!-- <p-sortIcon field="jobType.name"></p-sortIcon> -->
                                        </th>
                                       
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="text-align: center;" class="actionwidth" [hidden]="!isGrantedAny('Pages.Tenant.QuickStock.DataVaults.SerialNoStatus.Edit', 'Pages.Tenant.QuickStock.DataVaults.SerialNoStatus.Delete')" >
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                  
                                                    <li *ngIf="permission.isGranted('Pages.Tenant.QuickStock.DataVaults.SerialNoStatus.Edit')">
                                                        <a href="javascript:;" (click)="CreateOrEditSerialNoModal.show(record.serialNoStatus.id)">
                                                            <i class="las la-edit"></i> {{l('Edit')}}</a>
                                                    </li>

                                                    <li  *ngIf="permission.isGranted('Pages.Tenant.QuickStock.DataVaults.SerialNoStatus.Delete')">
                                                        <a href="javascript:;" click="delete(record.serialNoStatus.id)">
                                                            <i class="las la-trash"></i> {{l('Delete')}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="ui-column-title"> {{l('Status')}}</span> {{record.serialNoStatus.status}}
                                        </td>
                                        <td >
                                            <span class="ui-column-title"> {{l('IsActive')}}</span>
                                            <span class="kt-badge kt-badge--success kt-badge--inline" *ngIf="record.serialNoStatus.isActive">{{'Yes' | localize}}</span>
                                            <span class="kt-badge kt-badge--dark kt-badge--inline" *ngIf="!record.serialNoStatus.isActive">{{'No' | localize}}</span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getSerialNoStatus($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>

    </div>


    
</div>

<CreateOrEditSerialNoModal #CreateOrEditSerialNoModal (modalSave)="getSerialNoStatus()"></CreateOrEditSerialNoModal >