<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
           
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("AddNotes")}} - {{leadCompanyName}} - {{this.item.job.jobNumber}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="formcontainer">
                    <div class="modal-body modal-bg-gray">
                        <div class="modal-white-box" >
                            <div class="card card-custom card-stretch" style="border-bottom: 0px!important;">
                                <div class="card-body sitedetailbox xlmin517">
                                    <div  class="row textmiddal">
                                        <div class="col-md-3">
                                            <div class="form-group padrightzero">
                                                <select name="reviewtype" #reviewtype="ngModel" [(ngModel)]="JobReviews.reviewTypeId" class="form-control">
                                                    <option [ngValue]="undefined">Select Review Type</option>
                                                    <option *ngFor="let reviewitem of allReviewType"
                                                        value="{{reviewitem.id}}">
                                                        {{reviewitem.displayName}}
                                                    </option>
                                                </select>
                                               
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group padrightzero">
                                                <input type="text" name="reviewRating" #reviewRating="ngModel" [(ngModel)]="JobReviews.rating" class="form-control" placeholder="Review Rating" />
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group padrightzero">
                                                <input type="text" name="reviewNotes" #reviewNotes="ngModel" [(ngModel)]="JobReviews.reviewNotes" class="form-control" placeholder="Review Notes" />
                                            </div>
                                            
                                        </div>
                                        <div class="col-md-3">
                                           
                                            <div class="white-file-upload">
                                                <input class="fileuploadboxbtn  mb-3" #myFile type="file" name="myfile" (change)="onFileChange($event)"  multiple />
                                                 
                                            </div>
                                        </div>
                                        <div class="col-md-2 ">
                                           
                                            <button class="btn btn-primary" (click)="save()" >Upload</button>
                                    </div>
                                    </div>

                                   
                                </div>

                            </div>
                        </div>
                        <div class="modal-white-box">
                            <h3 class="d-flex align-items-center"><i class="las la-clipboard-list fs-30 mr-2"></i>Review List</h3>
                            <div class="card card-custom card-stretch">
                                <div class="card card-custom card-stretch">
                                    <div class="secondary-grid vscrollbar" style="max-height: 350px; overflow: auto;">
                                        <table class="table table_blck">
                                            <tr>
                                                <th>Review Type</th>
                                                <th>Review Rating</th>
                                                <th>Review Notes</th>
                                                <th class="text-center">Download</th>
                                            </tr>
                                            <tr *ngFor="let document of documents">
                                                <td>{{ document.reviewType }}</td>
                                                <td>{{ document.reviewRating }}</td>
                                                <td>{{ document.reviewNote }}</td>
                                                
                                                <td class="text-center action">
                                                    <a class="btndownloaddocument" (click)="downloadfile(document.filePath,document.fileName)"><i class="las la-file-download"></i></a>&nbsp;
                                                    <a class="btndownloaddocument" (click)="deleteJobReview(document.id)"><i class="las la-trash text-danger"></i></a>
                                                </td>
                                            </tr>
                                           
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
           
        </div>
    </div>
</div>