<div appBsModal #LeadNewContactModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Add New Contact")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-bg-gray">

                <div class="modal-white-box">
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-md-6 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="FirstName">First Name *</label>
                                        <input type="text" id="FirstName" name="FirstName" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-user"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="LastName">Last Name *</label>
                                        <input type="text" id="LastName" name="LastName" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-user"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="Mobile">Mobile *</label>
                                        <input type="text" id="Mobile" name="Mobile" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-mobile"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <div class="form-group form-icon">
                                        <label for="Email">Email *</label>
                                        <input type="text" id="Email" name="Email" required="" class="form-control">
                                        <span class="icon-box" style="top:30px;"><i class="las la-envelope"></i></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{("Cancel")}}</button>
                <button type="submit" class="btn btn-primary blue"><i class="las la-save"></i><span>Save</span></button>
            </div>
        </div>
    </div>
</div>