﻿<div class="kt-content creatleadpage kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
    <div class="kt-subheader kt-grid__item grayback">
        <div [class]="containerClass">
            <div class="kt-subheader__main">
                <h3 class="kt-subheader__title">
                    <span>{{l("Create Wholesale Lead")}}</span>
                </h3>
            </div>
        </div>
    </div>

    <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid grayback'">
        <div class="" style="margin-top:0 !important;">
            <div class="createleadform">
                <form #addWholesaleLeadForm="ngForm" novalidate autocomplete="off">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-user-alt mr-2"></i>{{l("Addcustomerdetails")}}</h3>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_abn" class="form-label">{{l("ABN")}}</label>
                                    <input type="text" id="wLead_abn" required class="form-control" minlength="10" maxlength="12" placeholder='{{l("ABN Number")}}' [(ngModel)]="wholeSaleLead.abnNumber" name="wholeSaleLead_abnNumber"/>
                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_firstName" class="form-label">{{l("First Name")}} *</label>
                                    <input type="text" id="wLead_firstName" id="" class="form-control" ViewLead maxlength="100" required placeholder='{{l("First Name")}}'[(ngModel)]="wholeSaleLead.firstName" name="wholeSaleLead_firstName"/>
                                    <span class="icon-box"><i class="las la-user-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_lastName" class="form-label">{{l("Last Name")}} *</label>
                                    <input type="text" id="wLead_lastName" id="" class="form-control" name="wholeSaleLead_lastName" ViewLead maxlength="100" required placeholder='{{l("Last Name")}}' [(ngModel)]="wholeSaleLead.lastName" />
                                    <span class="icon-box"><i class="las la-user-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="Lead_companyName" class="form-label">Company Name *</label>
                                    <input type="text" id="Lead_companyName" id="" class="form-control" name="wholeSaleLead_companyName" maxlength="100" required placeholder='{{l("Copany Name")}}' [(ngModel)]="wholeSaleLead.companyName" />
                                    <span class="icon-box"><i class="las la-user-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_Mobile" class="form-label">{{l("Mobile")}}</label>
                                    <input type="text" id="wLead_Mobile" required class="form-control" name="wholeSaleLead_mobile" minlength="10" maxlength="10" placeholder='{{l("Mobile")}}' [(ngModel)]="wholeSaleLead.mobile" />
                                    <span class="icon-box"><i class="las la-mobile-alt"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_Tel" class="form-label">{{l("Telephone")}}</label>
                                    <input type="text" id="wLead_Tel" required class="form-control" name="wholeSaleLead_talephone" minlength="10" maxlength="10" placeholder='{{l("Telephone")}}' [(ngModel)]="wholeSaleLead.talephone"/>
                                    <span class="icon-box"><i class="las la-phone"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_email" class="form-label">{{l("Email")}}</label>
                                    <input type="text" id="wLead_email" required class="form-control" name="wholeSaleLead_email" placeholder='{{l("Email")}}' [(ngModel)]="wholeSaleLead.email"/>
                                    <span class="icon-box"><i class="las la-envelope"></i></span>
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="wLead_Telephone" class="form-label">{{l("Telephone")}}</label>
                                    <input type="text" id="wLead_Telephone" required class="form-control" name="" minlength="10" maxlength="10" placeholder='{{l("Telephone")}}' />
                                    <span class="icon-box"><i class="las la-phone"></i></span>
                                </div>
                            </div> -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="MultiSelectInput_customerTypes">Customer Type</label>
                                    <p-autoComplete [(ngModel)]="customerTypes" [suggestions]="filteredcustomerType" (completeMethod)="filtercustomerTypes($event)"  field="name" placeholder="Select Customer Type" [minLength]="1"
                                        name="MultiSelectInput" id="MultiSelectInput_customerTypes" [multiple]="true" inputStyleClass="form-control" styleClass="width-percent-100">
                                    </p-autoComplete>
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("Customer Type")}}</label>
                                    <select class="form-control" [(ngModel)]="customerTypes" >
                                        <option>Wholesaler</option>
                                        <option>Wholesaler1</option>
                                        <option>Wholesaler2</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-user"></i></span>
                                </div>
                            </div> -->
                            <div class="col-md-3">
                                <div class="form-group form-icon custom-required">
                                    <label for="" class="form-label">{{l("WholeSale Status")}}</label>
                                    <select class="form-control" [(ngModel)]="wholeSaleLead.wholeSaleStatusId" name="wholeSaleLead_wholeSaleStatusId">
                                        <option value="0">{{l("Select A Status")}}</option>
                                        <option *ngFor="let item of allWholesaleStatus" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box"><i class="las la-user"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-map-marker mr-2"></i>{{l("Addressdetail")}} </h3>
                            </div>
                            <div class="col-md-12">
                                <div class="addcustomerform">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="kt-radio-inline">
                                                    <label for="Google2" class="kt-radio">
                                                        <input id="Google2" name="address2" (change)="google()"
                                                            [value]="'Google'" type="radio" checked >
                                                        Google Address
                                                        <span></span>
                                                    </label>
                                                    <label for="Manual2" class="kt-radio">
                                                        <input id="Manual2" name="address2" (change)="database()"
                                                            [value]="'Manual'" type="radio" >
                                                        Manual Address
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="row" [hidden]="!selectAddress">
                                        <div class="col-md-12">
                                            <div class="form-group form-icon">
                                                <label for="Lead_Address" class="form-label">{{l("Address")}}</label>
                                                <input matInput id="Lead_Address" matGoogleMapsAutocomplete country="au" [types]="['address']" (onAutocompleteSelected)="onAutocompleteSelected($event)" (onLocationSelected)="onLocationSelected($event)" placeholder="Search Address" class="form-control"
                                                     [(ngModel)]="wholeSaleLead.postalAddress" name="postalAddress" autocomplete="off" autocompleteOff>

                                                <span class="icon-box" style="height:37px !important; top:31px !important;"><i class="las la-map-marker"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_UnitNo" class="form-label">{{l("UnitNo")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("UnitNo")}}' id="" class="form-control" name="postalUnitNo" minlength="1" maxlength="50" [(ngModel)]="wholeSaleLead.postalUnitNo"/>
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_UnitType" class="form-label">{{l("UnitType")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Unit Type")}}' id="" class="form-control" name="postalUnitType" minlength="1" [(ngModel)]="wholeSaleLead.postalUnitType"/>
                                                <span class="icon-box"><i class="las la-house-damage"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetNo" class="form-label">{{l("StreetNo *")}}</label>
                                                <input type="text" autocomplete="off"  autocompleteOff id="Lead_StreetNo" placeholder='{{l("StreetNo")}}' class="form-control" name="postalStreetNo" minlength="1" maxlength="100" [(ngModel)]="wholeSaleLead.postalStreetNo"/>
                                                <span class="icon-box"><i class="las la-road"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("StreetName *")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Street Name")}}' id="postalStreetName" class="form-control" name="postalStreetName" minlength="1" [(ngModel)]="wholeSaleLead.postalStreetName"/>
                                                <span class="icon-box"><i class="las la-map-signs"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("StreetType *")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Street Type")}}' id="postalStreetType" class="form-control" name="postalStreetType" minlength="1" [(ngModel)]="wholeSaleLead.postalStreetType"/>
                                                <span class="icon-box"><i class="las la-city"></i></span>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("Suburb *")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Suburb")}}' id="" class="form-control" name="" minlength="1" [(ngModel)]="wholeSaleLead.postalUnitNo"/>
                                                <span class="icon-box"><i class="las la-map-signs"></i></span>
                                            </div>
                                        </div> -->
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("State *")}}</label>
                                                <select name="postalStateId" #stateInput="ngModel" [(ngModel)]="wholeSaleLead.postalStateId"  class="form-control">
                                                    <option value="">{{l("SelectAState")}}</option>
                                                    <option *ngFor="let item of allStates" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select><span class="icon-box"><i class="las la-globe"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("Postcode")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Postcode")}}' id="postalPostCode" class="form-control" name="postalPostCode" minlength="1" [(ngModel)]="wholeSaleLead.postalPostCode" />
                                                <span class="icon-box"><i class="las la-parking"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("Latitude")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Latitude")}}' id="postalLatitude" class="form-control" name="postalLatitude" minlength="1" [(ngModel)]="wholeSaleLead.postalLatitude"/>
                                                <span class="icon-box"><i class="las la-parking"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("Longitude")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Longitude")}}' id="postalLongitude" class="form-control" name="postalLongitude" minlength="1" [(ngModel)]="wholeSaleLead.postalLongitude"/>
                                                <span class="icon-box"><i class="las la-parking"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <div class="d-flex align-items-center">
                                                <label class="switch mr-2 mb-0">
                                                    <input type="checkbox" id="nightmode" value="angular" checked (change)="DelAddress = !DelAddress;">
                                                    <span class="slider round"></span>
                                                </label>
                                                <span for="nightmode">Postal & Delivery Address are the same</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="addcustomerform mt-3" [hidden]="DelAddress">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 class="d-flex align-items-center"><i class="las la-map-marker mr-2"></i>{{l("Delivery Address")}} </h3>
                                        </div>
                                        
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="kt-radio-inline">
                                                    <label for="GoogleDelivery" class="kt-radio">
                                                        <input id="GoogleDelivery" name="addressDelivery" (change)="googleDelivery()"
                                                            [value]="'Google'" type="radio"  checked>
                                                        Google Address
                                                        <span></span>
                                                    </label>
                                                    <label for="ManualDelivery" class="kt-radio">
                                                        <input id="ManualDelivery" name="addressDelivery" (change)="databaseDelivery()"
                                                            [value]="'Manual'" type="radio" >
                                                        Manual Address
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="row" [hidden]="!selectAddressDelivery">
                                        <div class="col-md-12">
                                            <div class="form-group form-icon">
                                                <label for="Lead_Address" class="form-label">{{l("Address")}}</label>
                                                <input matInput id="Lead_Address" matGoogleMapsAutocomplete country="au" [types]="['address']"  (onAutocompleteSelectedDel)="onAutocompleteSelectedDel($event)" (onLocationSelectedDel)="onLocationSelectedDel($event)" placeholder="Search Address" class="form-control"
                                                     [(ngModel)]="wholeSaleLead.delivaryAddress" name="Address" autocomplete="off" autocompleteOff>

                                                <span class="icon-box" style="height:37px !important; top:31px !important;"><i class="las la-map-marker"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_UnitNo" class="form-label">{{l("UnitNo")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("UnitNo")}}' id="delivaryUnitNo" class="form-control" name="delivaryUnitNo" minlength="1" maxlength="50" [(ngModel)]="wholeSaleLead.delivaryUnitNo"/>
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_UnitType" class="form-label">{{l("UnitType")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Unit Type")}}' id="delivaryUnitType" class="form-control" name="delivaryUnitType" minlength="1" [(ngModel)]="wholeSaleLead.delivaryUnitType"/>
                                                <span class="icon-box"><i class="las la-house-damage"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetNo" class="form-label">{{l("StreetNo *")}}</label>
                                                <input type="text" autocomplete="off"  autocompleteOff id="Lead_StreetNo" placeholder='{{l("StreetNo")}}' class="form-control" name="delivaryStreetNo" minlength="1" maxlength="100" [(ngModel)]="wholeSaleLead.delivaryStreetNo"/>
                                                <span class="icon-box"><i class="las la-road"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("StreetName *")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Street Name")}}' id="delivaryStreetName" class="form-control" name="delivaryStreetName" minlength="1" [(ngModel)]="wholeSaleLead.delivaryStreetName"/>
                                                <span class="icon-box"><i class="las la-map-signs"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("StreetType *")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Street Type")}}' id="delivaryStreetType" class="form-control" name="delivaryStreetType" minlength="1" [(ngModel)]="wholeSaleLead.delivaryStreetType"/>
                                                <span class="icon-box"><i class="las la-city"></i></span>
                                            </div>
                                        </div>
                                        <!-- <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("Suburb *")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Suburb")}}' id="" class="form-control" name="" minlength="1" />
                                                <span class="icon-box"><i class="las la-map-signs"></i></span>
                                            </div>
                                        </div> -->
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("State *")}}</label>
                                                <select name="delivaryStateId" #stateInput="ngModel"  [(ngModel)]="wholeSaleLead.delivaryStateId"  class="form-control">
                                                    <option value="">{{l("SelectAState")}}</option>
                                                    <option *ngFor="let item of allStates" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-globe"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("Postcode")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Postcode")}}' id="delivaryPostCode" class="form-control" name="delivaryPostCode" minlength="1" [(ngModel)]="wholeSaleLead.delivaryPostCode"/>
                                                <span class="icon-box"><i class="las la-parking"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("Latitude")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Postcode")}}' id="delivaryLatitude" class="form-control" name="delivaryLatitude" minlength="1" [(ngModel)]="wholeSaleLead.delivaryLatitude"/>
                                                <span class="icon-box"><i class="las la-parking"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="Lead_StreetName" class="form-label">{{l("Longitude")}}</label>
                                                <input type="text" autocomplete="off" autocompleteOff placeholder='{{l("Longitude")}}' id="delivaryLongitude" class="form-control" name="delivaryLongitude" minlength="1" [(ngModel)]="wholeSaleLead.delivaryLongitude"/>
                                                <span class="icon-box"><i class="las la-parking"></i></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-map-marker mr-2"></i>{{l("Bank Details")}} </h3>
                            </div>
                            <div class="col-md-12">
                                <div class="addcustomerform">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="" class="form-label">{{l("Bank Name")}}</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("Bank Name")}}' id="bankName" class="form-control" name="bankName" minlength=""  [(ngModel)]="wholeSaleLead.bankName"/>
                                                <span class="icon-box"><i class="las la-university"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="" class="form-label">{{l("Account Name")}}</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("Account Name")}}' id="accountName" class="form-control" name="accountName" minlength="" [(ngModel)]="wholeSaleLead.accountName"/>
                                                <span class="icon-box"><i class="las la-money-check"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="" class="form-label">{{l("BSB No")}}</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("BSB No")}}' id="bsbNo" class="form-control" name="bsbNo" minlength="" [(ngModel)]="wholeSaleLead.bsbNo"/>
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="" class="form-label">{{l("Account No")}}</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("Account No")}}' id="accoutNo" class="form-control" name="accoutNo" minlength="" [(ngModel)]="wholeSaleLead.accoutNo"/>
                                                <span class="icon-box"><i class="las la-hashtag"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="" class="form-label">{{l("Credit Amount")}}</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("Credit Amount")}}' id="creditAmount" class="form-control" name="creditAmount" minlength="" [(ngModel)]="wholeSaleLead.creditAmount"/>
                                                <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="" class="form-label">{{l("Credit Days")}}</label>
                                                <input type="text" autocomplete="off" placeholder='{{l("Credit Days")}}' id="creditDays" class="form-control" name="creditDays" minlength="" [(ngModel)]="wholeSaleLead.creditDays"/>
                                                <span class="icon-box"><i class="las la-dollar-sign"></i></span>
                                            </div>
                                        </div>

                                        <!-- <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="" class="form-label">{{l("Sales Rep")}}</label>
                                                <select class="form-control">
                                                    <option>Nilesh Dhimar</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-user"></i></span>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="addcustomerform">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="" class="form-label">{{l("BDM")}}</label>
                                                <select class="form-control" name="bdmId" [(ngModel)]="wholeSaleLead.bdmId" [disabled]="isBDM">
                                                    <option value="0">{{l("Select A BDM")}}</option>
                                                    <option *ngFor="let item of allBDMs" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-user"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="" class="form-label">{{l("SaleRep")}}</label>
                                                <select class="form-control" name="salesRapId" [(ngModel)]="wholeSaleLead.salesRapId" [disabled]="isSalesRap">
                                                    <option value="0">{{l("Select A SaleRep")}}</option>
                                                    <option *ngFor="let item of allSalesRap" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-user"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-icon">
                                                <label for="" class="form-label">{{l("Price Category")}}</label>
                                                <select class="form-control" name="priceCategoryId" [(ngModel)]="wholeSaleLead.priceCategoryId" >
                                                    <option value="0">{{l("Select A PriceCategory")}}</option>
                                                    <option *ngFor="let item of PriceCategory" value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                                <span class="icon-box"><i class="las la-user"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box">
                        <div class="col-md-12">
                            <h3 class="d-flex align-items-center"><i class="las la-map-marker mr-2"></i>{{l("Contacts")}} </h3>
                        </div>
                        <div class="productsgridbox formcontainer">
                            <div class="row mb-2">
                                <div class="col-md-3">Name</div>
                                <div class="col-md-3">Email</div>
                                <div class="col-md-2">Phone</div>
                                <div class="col-md-2">Mobile</div>
                                <div class="col-md-1">IsWhatsapp</div>
                                <div class="col-md-1">Action</div>
                            </div>
                            <div class="row marginbtm0 mb-2" *ngFor="let item of wholeSaleLead.wholeSaleLeadContacts; let i = index">
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <input type="text" #jpmodel="ngModel" name="Name{{i}}" placeholder="Name" class="form-control" [(ngModel)]="item.name" required >
                                        <!-- <span class="icon-box" style="top:0;"><i class="las la-dollar-sign"></i></span> -->
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <input type="text" #jpmodel="ngModel" name="Email{{i}}" placeholder="Email" class="form-control" [(ngModel)]="item.email" required >
                                        <!-- <span class="icon-box" style="top:0;"><i class="las la-dollar-sign"></i></span> -->
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-icon">
                                        <input type="text" #jpmodel="ngModel" name="Phone{{i}}" placeholder="Phone" class="form-control" [(ngModel)]="item.phone" required >
                                        <!-- <span class="icon-box" style="top:0;"><i class="las la-dollar-sign"></i></span> -->
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-icon">
                                        <input type="text" #jpmodel="ngModel" name="Mobile{{i}}" placeholder="Mobile" class="form-control" [(ngModel)]="item.mobile" required >
                                        <!-- <span class="icon-box" style="top:0;"><i class="las la-dollar-sign"></i></span> -->
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group form-icon">
                                        <input type="checkbox" #jpmodel="ngModel" name="IsWhatsapp{{i}}"class="form-control" [(ngModel)]="item.isWhatsapp" required >
                                        <!-- <span class="icon-box" style="top:0;"><i class="las la-dollar-sign"></i></span> -->
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="action-btn mr-1" *ngIf="wholeSaleLead.wholeSaleLeadContacts.length != 1">
                                            <a (click)="removeContactItem(item)" class=""><i class="las la-trash text-danger"></i></a>
                                        </div>
                                        <div class="action-btn addbtn" *ngIf="wholeSaleLead.wholeSaleLeadContacts.length == (i+1)">
                                            <a (click)="addContactItem()"><i class="las la-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-sticky-note mr-2"></i>{{l("Trading STC")}} </h3>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group form-icon">
                                    <label for="" class="form-label">{{l("Trading STC")}}</label> <br/>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label for="Yes" class="kt-radio">
                                                <input id="Yes" name="TradinSTC" [value]="true" type="radio"  [(ngModel)]="wholeSaleLead.tradinSTC">
                                                Yes
                                                <span></span>
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            
                                            <label for="No" class="kt-radio">
                                                <input id="No" name="TradinSTC" [value]="false" type="radio"  [(ngModel)]="wholeSaleLead.tradinSTC">
                                                No
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    
                                    
                                    <!-- <input type="checkbox" id="TradinSTC" class="form-control" [(ngModel)]="wholeSaleLead.tradinSTC" name="Trading STC" style="width: 22px;" /> -->
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="wholeSaleLead.tradinSTC == true">
                                <div class="form-group form-icon">
                                    <label for="" class="form-label">{{l("Trading STC Price")}}</label>
                                    <input type="number" autocomplete="off" placeholder='{{l("Trading STC Price")}}' id="tradinSTCPrice" class="form-control" name="TradinSTCPrice" minlength=""  [(ngModel)]="wholeSaleLead.tradinSTCPrice"/>
                                </div>
                            </div>
                            <div class="col-md-3" *ngIf="wholeSaleLead.tradinSTC != true">
                                <div class="form-group form-icon">
                                    <label for="" class="form-label">{{l("Trading STC with Whom")}}</label>
                                    <select name="tradinSTCWhom" #tradinSTCWhomInput="ngModel" [(ngModel)]="wholeSaleLead.tradinSTCWhomId"  class="form-control">
                                        <option value="undefined">{{l("Trading STC with Whom")}}</option>
                                        <option *ngFor="let item of TradingSTCs" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select><span class="icon-box"><i class="las la-globe"></i></span>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="wholeSaleLead.tradinSTC != true">
                                <div class="form-group form-icon">
                                    <label for="" class="form-label">{{l("Trading STC  Note")}}</label>
                                    <textarea id="TradinSTCNote" name="TradinSTCNote" minlength="1" maxlength="500" class="form-control" placeholder="Trading STC  Note" [(ngModel)]="wholeSaleLead.tradinSTCNote"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="d-flex align-items-center"><i class="las la-sticky-note mr-2"></i>{{l("Additional Notes")}} </h3>
                            </div>
                            <div class="col-md-12">
                                <div class="addcustomerform">
                                    <textarea id="Lead_Requirements" name="aditionalNotes" minlength="1" maxlength="500" class="form-control" placeholder="Additional Notes" [(ngModel)]="wholeSaleLead.aditionalNotes"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="btngroupbox mt-1">
                                <ul>
                                    <li>
                                        <a (click)="Reset()" class="btn btn_black">
                                            <i class="las la-times-circle"></i>Clear</a>
                                    </li>
                                    <li>
                                        <a class="btn btn_red" (click)="cancel()">
                                            <i class="las la-times-circle"></i>Cancel</a>
                                    </li>
                                    <li>
                                        <button (click)="save()" type="submit" class="btn btn-primary" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                            <i class="las la-save"></i><span>Save</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<ViewDuplicateWholesaleLeadPopUpModal #ViewDuplicateWholesaleLeadPopUpModal></ViewDuplicateWholesaleLeadPopUpModal>
</div>