.pac-container {
    z-index:99999999!important;
}


.commonsearch svg {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.5rem;
    color: #6e6b7b;
    position: absolute;
    right: 0px;
    left:10px;
    z-index: 10;
    top:7px;
}

.commonsearch input {
    padding-left: 40px!important;
}

.body .pi {
    padding: 0px 40px 0px 40px!important;
}

i.ui-autocomplete-loader {
    margin: -44px!important;
}

.ui-autocomplete-loader {
    right: 2.25em!important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #7367f0;
}

input:focus+.slider {
    box-shadow: 0 0 1px #7367f0;
}

input:checked+.slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
