<div appBsModal #LeadDetailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Lead Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-bg-gray">
                <!-- CUSTOMER SECTION DETAILS STARTS -->
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between mb-4">
                        <span><i class="las la-user-alt fs-30 mr-2"></i>Customer Details</span>
                    </h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Organization Name")}} : </span><span> Arise Solar LLP.</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Full Name")}} : </span><span>Nilesh Dhimar</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Mobile")}} : </span><span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">9898545454</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Telephone")}} : </span><span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">9898545454</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Email")}} : </span><span class="">nileshdhimar@gmail.com</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("ABN")}} : </span><span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">AB01020304</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Customer Type")}} : </span><span class="badge badge-pill badge-primary" style="display: inline-block; width: auto; font-weight: 600;">Wholesale</span></h6>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- CUSTOMER SECTION DETAILS ENDS -->

                <!-- Address DETAILS STARTS -->
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between mb-4">
                        <span><i class="las la-map-marker fs-30 mr-2"></i>Address Details</span>
                    </h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Street No.")}} : </span><span> 38</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Street Name.")}} : </span><span> HAMELIN</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Street Type")}} : </span><span> Street type</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Suburb")}} : </span><span> BENTLEY PARK</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("State")}} : </span><span> QLD</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Post Code")}} : </span><span> 4869</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Address DETAILS ENDS -->


                <!-- Bank DETAILS STARTS -->
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between mb-4">
                        <span><i class="las la-university fs-30 mr-2"></i>Bank Details</span>
                    </h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Bank Name")}} : </span><span> Westpac</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("BSB")}} : </span><span>034439</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Account No.")}} : </span><span>23546971</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Credit Amount")}} : </span>
                                        <span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">$4000.00</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Credit Days")}} : </span>
                                        <span class="badge badge-pill badge-secondary" style="display: inline-block; width: auto; font-weight: 600;">30</span>
                                    </h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("Sales Rep")}} : </span><span>Ravindra Gohel</span></h6>
                                </div>
                                <div class="col-6 mb-3">
                                    <h6><span>{{l("BDM")}} : </span><span>-</span></h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bank DETAILS ENDS -->

                <!-- Bank DETAILS STARTS -->
                <div class="modal-white-box">
                    <h3 class="d-flex align-items-center justify-content-between mb-4">
                        <span><i class="las la-sticky-note fs-30 mr-2"></i>Additional Notes</span>
                    </h3>
                    <div class="card card-custom card-stretch">
                        <div class="card-body sitedetailbox xlmin517">
                            <div class="row">
                                <div class="col-12">
                                    -
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Bank DETAILS ENDS -->


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="close()">
                    <i class="las la-times-circle"></i>
                    {{ 'Close' }}
                </button>
            </div>
        </div>
    </div>
</div>