﻿<div [@routerTransition]>
    <!-- side bar grid-->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-cdetailhead leaddetilpage">
                <div class="kt-cname">
                    <ul class="custdetail h2_flex">
                        <li>
                            <span class="flex_disply">
                                <h2><i class="las la-user-tie"></i> {{ item.createOrEditWholeSaleLeadDto.firstName }}  {{ item.createOrEditWholeSaleLeadDto.lastName }} 
                                    <!-- <span class="badge badge-primary d-flex align-items-center" style="font-size:0.9rem; margin:0 10px; font-weight:600; height:27px;">{{item.jobNumber}}</span> -->
                            </h2>
                            <span class="badgelead hotlead green ">{{item.leadStatusName}}</span>
                            </span>

                        </li>

                        <li>
                            <a class="nbox custphone">
                                <!-- href="{{ item.createOrEditWholeSaleLeadDto.mobile }}" -->
                                <img [src]="appRootUrl() + 'assets/common/images/icon_phoneblue.svg'" alt="" /> {{ item.createOrEditWholeSaleLeadDto.mobile }}
                            </a>
                        </li>
                        <li>
                            <a class="nbox custphone">
                                <!-- href="{{ item.createOrEditWholeSaleLeadDto.phone }}" -->
                                <img [src]="appRootUrl() + 'assets/common/images/icon_phoneblue.svg'" alt="" /> {{ item.createOrEditWholeSaleLeadDto.talephone }}
                            </a>
                        </li>
                        <li>
                            <a class="nbox custemail" *ngIf="item.createOrEditWholeSaleLeadDto.email">
                                <!-- href="{{ item.createOrEditWholeSaleLeadDto.email }}" -->
                                <img [src]="appRootUrl() + 'assets/common/images/icon_mail.svg'" alt="" /> {{ item.createOrEditWholeSaleLeadDto.email }}
                            </a>
                        </li>
                    </ul>
                    <ul class="actionsicon" hidden>
                        <li *ngIf="item.createOrEditWholeSaleLeadDto.wholeSaleStatusId != 6">
                            <div class="dropdown" dropdown container="body">
                                <a class="dropdown-toggle" dropdownToggle>
                                    <i class="las la-hourglass-half" style="font-size:1.4rem; margin-right:3px;"></i> Status
                                </a>
                                <div>
                                    <ul class="dropdown-menu leadstatusdrp li_padd_0 widthset_1" *dropdownMenu>
                                        <li>
                                            <a (click)="warm(item.createOrEditWholeSaleLeadDto)">
                                                <!-- <i><img src="../../../../assets/common/images/orangesun.png" /></i> -->
                                                <i class="las la-thermometer-empty"></i> <span>Warm</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a (click)="cold(item.createOrEditWholeSaleLeadDto)">
                                                <!-- <i><img src="../../../../assets/common/images/icon_blueice.png" /></i> -->
                                                <i class="las la-temperature-low"></i> <span>Cold</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a (click)="hot(item.createOrEditWholeSaleLeadDto)">
                                                <!-- <i><img src="../../../../assets/common/images/icon_flame.png" /></i> -->
                                                <i class="las la-burn"></i> <span>Hot</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a>
                                                <!-- <i><img src="../../../../assets/common/images/icon_canceled_new.svg" style="width:22px!important;" /></i><span>Cancelled</span> -->
                                                <i class="las la-ban"></i> <span>Cancelled</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" (click)="reject(item.createOrEditWholeSaleLeadDto.id)">
                                                <i class="las la-ban"></i><span>{{l('Reject')}}</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a>
                                <!-- <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt="" />  -->
                                <i class="las la-edit" style="font-size:1.4rem; margin-right:3px;"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a (click)="deleteLead(item.createOrEditWholeSaleLeadDto)">
                                <!-- <img [src]="appRootUrl() + 'assets/common/images/icon_delete.svg'" alt="" />  -->
                                <i class="las la-trash" style="font-size:1.4rem; margin-right:3px;"></i> Delete</a>
                        </li>
                        <li [hidden]="!showsectionwise">
                            <a>
                                <!-- <img [src]="appRootUrl() + 'assets/common/images/add_plus1.svg'" alt="" /> -->
                                <i class="las la-plus-circle" style="font-size:1.4rem; margin-right:3px;"></i> Add
                            </a>
                        </li>
                        <li *ngIf="sectionId == 30">
                            <a>
                                <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt="" /> StopResponce
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="lead-progress" style="display:none;">
                    <div class="lead-progress-content">
                        <ul class="steps ">
                            <li class="step ">
                                <div class=" step-content step-success"><span class="step-circle "><i  class=""></i>1</span><span class="step-text ">Application Submitted</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>2</span><span class="step-text ">Document Verified</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>3</span><span class="step-text ">DisCom Letter</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>4</span><span class="step-text ">Feasibility Approved</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>5</span><span class="step-text ">Work Execution</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>6</span><span class="step-text ">Inspection Self Certification</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>7</span><span class="step-text ">Meter Installation</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>8</span><span class="step-text ">Subsidy Claimed</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>9</span><span class="step-text ">Inspection Approved From CEI</span></div>
                            </li>
                            <li class="step  ">
                                <div class=" step-content"><span class="step-circle "><i  class=""></i>10</span><span class="step-text ">Intimation Rejected</span></div>
                            </li>
                            <!---->
                        </ul>
                    </div>
                </div>

            </div>
            <div class="kt-portlet detail-view-tab myleaddetails marpadzero right_side_scrool scrool_red">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <div class="table-responsive statictable">
                        </div>

                        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                            <div class="kt-portlet ">
                                <div class="kt-portlet__body padzero leaddetailtabs">
                                    <tabset>
                                        <tab heading="{{'Summary' | localize}}" [active]="activeTabIndex == 0">
                                            <div class="leaddetailcnt radiusborder">
                                                <div class="kt-form">
                                                    <div class="myleadsstatus myleadsReport mrbtmzero subtalentpage">
                                                        <ul>
                                                            <li>
                                                                <span class="icon blue">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user avatar-icon"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                                </span>
                                                                <div>
                                                                    <label>Current Lead Owner</label>
                                                                    <span>{{item.currentAssignUserName}}</span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <span class="icon red">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3 avatar-icon"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                                </span>
                                                                <div>
                                                                    <label>Lead created By</label>
                                                                    <span>{{item.createdByName}}</span>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <span class="icon green">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar avatar-icon"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                                                </span>
                                                                <div>
                                                                    <label>Lead Created On</label>
                                                                    <span>{{item.createdOn | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                                                </div>
                                                            </li>

                                                        </ul>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-12 col-xs-12">
                                                            <div class="leaddetailcnt white-form-block">


                                                                <div class="card card-custom card-stretch">
                                                                    <div class="card-body sitedetailbox xlmin517">
                                                                        <div class="graybackbox">
                                                                            <div class="card-header d-flex align-items-center">
                                                                                <i class="las la-user-alt fs-30 mr-2"></i>{{l("Addcustomerdetails")}}
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                    <h6> <span>{{l("ABN")}}</span></h6>
                                                                                    <span style="width: 25px;font-weight: 600;">:</span>
                                                                                    <span>{{ item.createOrEditWholeSaleLeadDto.abnNumber}}</span>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>Name</span>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        </h6><span>{{ item.createOrEditWholeSaleLeadDto.firstName}} {{item.createOrEditWholeSaleLeadDto.lastName}}</span> </div>
                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Company Name")}}</span>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        </h6><span>{{item.createOrEditWholeSaleLeadDto.companyName}}</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Mobile")}}</span>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        </h6><span>{{ item.createOrEditWholeSaleLeadDto.mobile}}</span> </div>
                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Telephone")}}</span>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        </h6><span>{{ item.createOrEditWholeSaleLeadDto.talephone}}</span> </div>

                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Email")}}</span>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        </h6><span>{{ item.createOrEditWholeSaleLeadDto.email}}</span> </div>
                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Customer Type")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>
                                                                                                {{ item.createOrEditWholeSaleLeadDto.customerType}}                                                
                                                                                        </span>
                                                                                    </div>

                                                                                </div>
                                                                                <div class="col-6 mb-6">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("WholeSale Status")}}</span>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        </h6><span>{{ item.createOrEditWholeSaleLeadDto.wholeSaleStatus}}</span></div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="card card-custom card-stretch">
                                                                    <div class="card-body sitedetailbox xlmin517">
                                                                        <div class="graybackbox">
                                                                            <div class="card-header d-flex align-items-center">
                                                                                <i class="las la-map-marked-alt fs-30 mr-2"></i>{{l("Address Detail")}}
                                                                            </div>
                                                                            <div class="row dis-column">
                                                                                <div class="col-12 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Postal Address")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>  
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.postalAddress}}</span> </div>

                                                                                </div>
                                                                                <div class="col-12 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Postal State")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>  
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.postalState}}</span></div>

                                                                                </div>
                                                                                <div class="col-12 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Delivery Address")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.delivaryAddress}}</span> </div>

                                                                                </div>
                                                                                <div class="col-12 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Delivery State")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.delivaryState}}</span> </div>

                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                                <div class="card card-custom card-stretch">
                                                                    <div class="card-body sitedetailbox xlmin517">
                                                                        <div class="graybackbox">
                                                                            <div class="card-header d-flex align-items-center">
                                                                                <i class="las la-university fs-30 mr-2"></i>{{l("Bank Detail")}}
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Bank Name")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.bankName}}</span> </div>

                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>Account Name</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.accountName}}</span> </div>
                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("BSB No")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{item.createOrEditWholeSaleLeadDto.bsbNo}}</span> </div>
                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Account No")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.accoutNo}}</span> </div>
                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Credit Amount")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.creditAmount}}</span> </div>

                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Credit Days")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.creditDays}}</span> </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                                <div class="card card-custom card-stretch">
                                                                    <div class="card-body sitedetailbox xlmin517">
                                                                        <div class="graybackbox">
                                                                            <div class="row">
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("BDM")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.bdm}}</span> </div>

                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>SalesRap</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.salesRapName}}</span> </div>
                                                                                </div>
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>Price Category</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.priceCategory}}</span> </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                                <div class="card card-custom card-stretch">
                                                                    <div class="card-body sitedetailbox xlmin517">
                                                                        <div class="graybackbox">
                                                                            <div class="card-header d-flex align-items-center">
                                                                                <i class="las la-user-alt fs-30 mr-2"></i>{{l("Contacts")}}
                                                                            </div>
                                                                            <div class="secondary-grid vscrollbar" style="max-height:300px; overflow-y:auto;">
                                                                                <table class="table table_blck">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Name</th>
                                                                                            <th>Email</th>
                                                                                            <th>Phone</th>
                                                                                            <th>Mobile</th>
                                                                                            <th>IsWhatsapp</th>
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr *ngFor="let item of item.createOrEditWholeSaleLeadDto.wholeSaleLeadContacts">
                                                                                            <td>{{ item.name }}</td>
                                                                                            <td>{{ item.email}}</td>
                                                                                            <td>{{ item.phone }}</td>
                                                                                            <td>{{ item.mobile }}</td>
                                                                                            <td>{{ item.isWhatsapp }}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>



                                                                <div class="card card-custom card-stretch">
                                                                    <div class="card-body sitedetailbox xlmin517">
                                                                        <div class="graybackbox">
                                                                            <div class="card-header d-flex align-items-center">
                                                                                <i class="las la-tag fs-30 mr-2"></i>{{l("Trading STC")}}
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-6 mb-2">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Trading STC")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.tradinSTC}}</span> </div>

                                                                                </div>
                                                                                <div class="col-6 mb-2" *ngIf="item.createOrEditWholeSaleLeadDto.tradinSTC == true">

                                                                                    <div class="row">
                                                                                        <h6><span>Trading STC Price</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.tradinSTCPrice}}</span> </div>
                                                                                </div>
                                                                                <div class="col-6 mb-2" *ngIf="item.createOrEditWholeSaleLeadDto.tradinSTC != true">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Trading STC with Whom")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{item.createOrEditWholeSaleLeadDto.tradinSTCWhom}}</span> </div>
                                                                                </div>
                                                                                <div class="col-6 mb-2" *ngIf="item.createOrEditWholeSaleLeadDto.tradinSTC != true">
                                                                                    <div class="row">
                                                                                        <h6><span>{{l("Trading STC  Note")}}</span></h6>
                                                                                        <span style="width: 25px;font-weight: 600;">:</span>
                                                                                        <span>{{ item.createOrEditWholeSaleLeadDto.tradinSTCNote}}</span> </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="card card-custom card-stretch">
                                                                    <div class="card-body sitedetailbox xlmin517">
                                                                        <div class="graybackbox">
                                                                            <div class="card-header d-flex align-items-center">
                                                                                <i class="las la-sticky-note fs-30 mr-2"></i>{{l("Additional Notes")}}
                                                                            </div>
                                                                            <div>
                                                                                {{ item.createOrEditWholeSaleLeadDto.aditionalNotes}}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </tab>
                                        <tab heading="{{'ActivityLog' | localize}}">
                                            <wholeSaleactivityLog #wholeSaleactivityLog [SelectedLeadId]="SelectedLeadId"></wholeSaleactivityLog>
                                        </tab>
                                        <tab heading="{{'CallHistory' | localize}}">
                                            <div class="leaddtltitle activitytitle mt-3">
                                                <div class="disflexdiv">
                                                    <h3>Call History</h3>
                                                </div>
                                                <div class="activityfilter d-flex align-items-center">
                                                    <div style="margin-top:7px;">
                                                        <button type="button" class="btn_refresh mr-2" (click)="getCallHistory()" style="height: 32px; padding: 0 1rem !important;"></button>
                                                    </div>
                                                    <div class="form-group m-form__group mr-3 mb-0">
                                                        <select class="form-control minwidth145" name="typyFilter" [(ngModel)]="callType" (change)="getCallHistory()">
                                                            <option value="">All History</option>
                                                            <option value="Inbound">{{l("Inbound")}}</option>
                                                            <option value="Outbound">{{l("Outbound")}}</option>
                                                            <option value="Notanswered">{{l("Notanswered")}}</option>
                                                            <option value="Missed">{{l("Missed")}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="switchbox">
                                                        <span class="switchlabel">My History</span>
                                                        <span class="kt-switch kt-switch--icon">
                                                            <label>
                                                                <input checked="checked" name="SwitchToMyActivity" [(ngModel)]="myHistory" type="checkbox" (change)="getCallHistory()">
                                                                <span></span>
                                                        </label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="leaddetailcnt">
                                                <div class="form-group">
                                                    <div class="ativityLogs">
                                                        <div class="list_area_box">
                                                            <div class="list_box" *ngFor="let item of callHistories">
                                                                <div class="img_area {{item.colorClass}}">
                                                                    <div><i class="{{item.callTypeIcon}}"></i></div>
                                                                </div>
                                                                <div class="d-flex align-items-center justify-content-between" style="width:100%;">
                                                                    <div class="text_area">
                                                                        <div class="title_hd d-flex align-items-center">
                                                                            <span class="mr-2">{{item.agentName}} : </span>
                                                                            <span class="log-date d-flex align-items-center"><i class="las la-clock mr-1"></i>{{item.callStartTimeUTC | momentFormat:'DD-MM-YYYY hh:mm:ss a'}}</span>
                                                                        </div>
                                                                        <p class="d-flex align-items-center">
                                                                            <span> Call Type : {{l(item.callType)}}</span>
                                                                            <span class="mx-4">|</span>
                                                                            <span> Duration : {{item.duration}}</span>
                                                                        </p>
                                                                    </div>
                                                                    <div class="d-flex align-items-canter mr-3">
                                                                        <!-- <audio controls>
                                                                            <source [src]="appRootUrl() + 'assets/common/images/sample.ogg'" type="audio/ogg">
                                                                            <source [src]="appRootUrl() + 'assets/common/images/sample.mp3'" type="audio/mpeg">
                                                                            Your browser does not support the audio element.
                                                                          </audio> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </tab>
                                        <tab heading="{{'Invoice' | localize}}">
                                            <div class="leaddetailcnt radiusborder">
                                                <div class="kt-form">

                                                    <div class="row">
                                                        <div class="col-md-12 col-xs-12">
                                                            <div class="leaddetailcnt white-form-block">

                                                                <div class="card card-custom card-stretch">
                                                                    <div class="card-body sitedetailbox xlmin517">
                                                                        <div class="graybackbox">
                                                                            <div class="card-header d-flex align-items-center">
                                                                                <i class="las la-user-alt fs-30 mr-2"></i>{{l("invoice-Details")}}
                                                                            </div>
                                                                            <div class="secondary-grid vscrollbar" style="max-height:300px; overflow-y:auto;">
                                                                                <table class="table table_blck">
                                                                                    <thead>
                                                                                        <tr>
                                                                                            <th>Invoice Number</th>
                                                                                            <th>Amount</th>
                                                                                            <th>Amount With GST</th>
                                                                                            <th>Invoice Type</th>
                                                                                            <th>Invoice Date</th>
                                                                                           
                                                                                        </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                        <tr *ngFor="let invoice of WholesaleInvoiceDto">
                                                                                            <td>{{ invoice.invoiceNo }}</td>
                                                                                            <td>{{ invoice.invoiceAmount }}</td>
                                                                                            <td>{{ invoice.invoiceAmountWithGST }}</td>
                                                                                            <td>{{ invoice.invoiceType }}</td>
                                                                                            <td>{{ invoice.invoiceDate | date:'shortDate' }}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </tab>
                                    </tabset>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- <addActivityModal #addActivityModal (modalSave)="addActivitySuccess()"></addActivityModal> -->
        <!-- <createEditWholesaleLead #createEditLead (modalSave)="addActivitySuccess()"></createEditWholesaleLead> -->
        <!-- <promoStopRespmodel #promoStopRespmodel (modalSave)="addActivitySuccess()"></promoStopRespmodel> -->


    </div>
</div>