agm-map {
    height: 300px;
}

@media screen and (min-width:1600px) {
    agm-map {
        height: 600px;
    }

}

bs-daterangepicker-container {
    left: -195px !important;
}

body.kt-aside--fixed bs-daterangepicker-container {
    left: -235px !important;
}

body .ui-table .ui-table-tbody>tr.leadSelection {
    background-color: #e2f3ff !important;
}
