<div [@routerTransition]>
    <div class="leaddtltitle activitytitle mt-3">
        <div class="disflexdiv">
            <h3>Activity</h3>
            <div [hidden]="!showsectionwise">
                <!-- <button class="btn btn-primary blue btnadd btn-sm d-flex align-items-center" style="padding-top:0 !important;" (click)="addActivityModal.show(leadId,id,0,sectionId)">
                    Add <i class="las la-plus-circle ml-1"></i>
                </button> -->
            </div>
        </div>
        <div class="activityfilter d-flex align-items-center">
            <div style="margin-top:7px;">
                <button type="button" class="btn_refresh mr-2" (click)="changeActivity(leadId)" style="height: 32px; padding: 0 1rem !important;"></button>
            </div>
            <div class="form-group m-form__group mr-3 mb-0">
                <select class="form-control minwidth145" (change)="changeActivity(leadId)" [disabled]="sectionId == 15 || sectionId == 28" [(ngModel)]="actionId" name="typeNameFilter">
                    <option value="0">Select Activity</option>
                    <option value="1">{{l("Lead")}}</option>
                    <option value="6">{{l("SMS")}}</option>
                    <option value="7">{{l("Email")}}</option>
                    <option value="8">{{l("Remider")}}</option>
                    <option value="9">{{l("Notify")}}</option>
                    <!-- <option value="10">{{l("Job")}}</option> -->
                    <option sectionId value="11">{{l("Promotion")}}</option>
                    <option value="24">{{l("Comment")}}</option>
                    <!-- <option value="27">{{l("Service")}}</option>
                    <option value="28">{{l("Review")}}</option>
                    <option value="33">{{l("WarrantyCliam")}}</option> -->
                    <!-- <option *ngFor="let item of leadActionList" value="{{item.id}}">{{item.displayName}}</option> -->
                </select>
            </div>
            <div class="switchbox mr-1">
                <span class="switchlabel">Current Page</span>
                <span class="kt-switch kt-switch--icon">
                    <label>
                        <input checked="checked" (change)="myActivity(leadId)" name="SwitchToMyActivity" [(ngModel)]="currentactivity" type="checkbox">
                        <span></span>
                </label>
                </span>
            </div>
            <div class="switchbox">
                <span class="switchlabel">My Activity</span>
                <span class="kt-switch kt-switch--icon">
                    <label>
                        <input checked="checked" (change)="myActivity(leadId)" name="SwitchToMyActivity"
                            [(ngModel)]="activity" type="checkbox">
                        <span></span>
                </label>
                </span>
            </div>
            <div class="switchbox">
                <span class="switchlabel">All Activity</span>
                <span class="kt-switch kt-switch--icon">
                    <label>
                        <input (change)="myActivity(leadId)" name="SwitchToMyActivity"
                            [(ngModel)]="allActivity" type="checkbox">
                        <span></span>
                </label>
                </span>
            </div>
        </div>
    </div>
    <div class="leaddetailcnt">
        <div class="form-group">
            <div class="ativityLogs">
                <div class="list_area_box">
                    <div class="list_box" *ngFor="let item of leadActivityList">
                        <div *ngIf="item.actionId == 53 " class="img_area activity_assign 111">
                            <div><i class="las la-edit"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 54 || item.actionId == 56" class="img_area activity_assign 222">
                            <div (click)="navigateToLeadHistory(item.id);"><i class="las la-file-medical"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 59" class="img_area activity_assign 333">
                            <div><i class="las la-user-check"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 6 || item.actionId == 52" class="img_area activity_sms 666">
                            <div><i class="las la-comment"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 7 || item.actionId == 63" class="img_area activity_mail 777">
                            <div><i class="las la-envelope"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 8" class="img_area activity_exreminder 888">
                            <div><i class="las la-bell"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 9" class="img_area activity_notify 999">
                            <div><i class="las la-stapwatch"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 20 || item.actionId == 51 || item.actionId == 73" class="img_area activity_update 0808">
                            <div><i class="las la-reply"></i></div>
                            <!-- <div><img [src]="appRootUrl() + 'assets/common/images/back.png'" style="width:30px; margin-top:3px" alt="" /></div> -->
                        </div>
                        <div *ngIf="item.actionId == 24" class="img_area activity_update 0909">
                            <div><i class="las la-comment-dots"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 25" class="img_area activity_update 1010">
                            <div><i class="las la-clipboard-list"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 28" class="img_area activity_update">
                            <div><i class="las la-binoculars"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 57" class="img_area activity_sms 666">
                            <div><i class="las la-trash"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 59" class="img_area activity_assign"><!--Assign-->
                            <div><i class="las la-user-check"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 73" class="img_area activity_transfer"><!--Transfer-->
                            <div><i class="las la-exchange-alt"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 60" class="img_area activity_update"><!--ReAssign-->
                            <div><i class="las la-calendar-plus"></i></div>
                        </div>
                        <div *ngIf="item.actionId == 67" class="img_area activity_update">
                            <div><i class="las la-crosshairs"></i></div>
                        </div>
                        <div class="text_area">
                            <div class="title_hd d-flex align-items-center"><span>{{item.section}} - {{item.actionName}} : </span>
                                <span class="log-date d-flex align-items-center ml-3">
                                    <i class="las la-clock mr-1"></i>{{item.creationTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                </span>
                            </div>
                            <p *ngIf="item.actionId != 8" class="123456">
                                <a href="javascript:void(0)">{{item.creatorUserName}}</a> -

                                <span *ngIf="item.showLeadJobDetail != 0" style="display:inline-block">
                                    <a *ngIf="item.showLeadJobDetail == 2" (click)="wholesaleactivityloghistory.show(item.id,1);" class="ml-2 badge badge-pill badge-warning log-edit d-flex align-items-center">
                                        <i class="las la-user-edit mr-1"></i>{{item.actionNote}}
                                    </a>
                                    <a  *ngIf="item.showLeadJobDetail == 3" (click)="wholeSaleactivityLogDetail.show(item.promotionId,'','activity');" class="badge badge-pill badge-primary d-flex align-items-center" style="color:#fff !important; width:100px; justify-content: center; ">
                                        <i style="color:#fff !important;" class="las la-binoculars fs-20 mr-2"></i> View
                                    </a>
                                    <a  *ngIf="item.showLeadJobDetail == 4" (click)="wholeSaleactivityLogDetail.show(item.promotionId, item.activityNote,'activityEmail');" class="badge badge-pill badge-primary d-flex align-items-center" style="color:#fff !important; width:100px; justify-content: center; ">
                                        <i style="color:#fff !important;" class="las la-binoculars fs-20 mr-2"></i> View
                                    </a>
                                <span *ngIf="item.activityNote && item.showLeadJobDetail != 4" > - Message : {{item.activityNote}} - {{item.activitysDate}} </span>

                                </span>

                                <span *ngIf="item.showLeadJobDetail == 0" class="123456" >
                                    <a *ngIf="item.actionId == 53" (click)="wholesaleactivityloghistory.show(item.id,2);" >
                                    {{item.actionNote}} : <span *ngIf="item.activityNote"> - Message :
                                        {{item.activityNote}}</span>
                                    </a>
                                    <a>
                                        {{item.actionNote}} : <span *ngIf="item.activityNote"> - Message :
                                            {{item.activityNote}}</span>
                                        </a>
                                </span>

                            </p>
                            <p *ngIf="item.actionId == 8" class="d-flex align-items-center 654321">
                                <span style="white-space:nowrap"><a href="javascript:void(0)">{{item.creatorUserName}}</a> -</span>
                                <span *ngIf="item.activityNote" class="d-flex align-items-center"> Next {{item.actionNote}} for
                                    <span class="badge badge-warning d-flex align-items-center mx-1" style="border-radius:15px; font-weight:500;">
                                        <i class="las la-calendar mr-1 fs-20"></i> {{item.activitysDate}}
                                    </span>with Message : {{item.activityNote}}
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <addActivityModal #addActivityModal (modalSave)="addActivitySuccess()"></addActivityModal> -->
    <wholesaleactivityloghistory #wholesaleactivityloghistory></wholesaleactivityloghistory>
    <wholeSaleactivityLogDetail #wholeSaleactivityLogDetail></wholeSaleactivityLogDetail>
</div>