<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">

                <div class="">

                    <!-- <div class="p-2 h-mobile">
                        <img [src]="appRootUrl() + 'assets/common/images/promotion.png'" style="max-width:360px;">
                    </div> -->
                    <div>
                        <div class="promotion-title">
                            <span>{{promotionHistory.title}}</span>
                        </div>
                        <div class="modal-white-box" *ngIf="viewType == 'promotion'">
                            <div class="d-flex align-items-center">
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">{{l("Charge")}} :</label>
                                            <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{ promotionHistory.charges }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">Type :</label>
                                            <span>{{type}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4" *ngIf="type == 'SMS'">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">Total Credit :</label>
                                            <span style="font-weight:600;" class="badge badge-pill badge-danger"> {{promotionHistory.totalCredit}}</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4" *ngIf="type == 'SMS'">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">Total Char :</label>
                                            <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{promotionHistory.totalCharCount}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">LeadStatus :</label>
                                            <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{promotionHistory.leadStatuses}}</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">States :</label>
                                            <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{promotionHistory.states}}</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">Start Date :</label>
                                            <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{promotionHistory.startDate | momentFormat:'DD-MM-YYYY'}}</span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label mr-2" style="font-weight:600;">End Date :</label>
                                            <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{promotionHistory.endDate | momentFormat:'DD-MM-YYYY'}}</span>
                                        </div>
                                    </div>



                                    <!-- <div style="width:50%;">{{l("Charge")}} : <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{ promotionHistory.charges }}</span></div>
                                    <div>Type : <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{type}}</span></div>
                                    <div>Total Credit : <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{promotionHistory.totalCredit}}</span></div>
                                    <div>Total Char : <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{promotionHistory.totalCharCount}}</span></div>
                                    <div>LeadStatus : <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{promotionHistory.leadStatuses}}</span></div>
                                    <div>States : <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{promotionHistory.states}}</span></div>
                                    <div>Start Date : <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{promotionHistory.startDate | momentFormat:'DD-MM-YYYY'}}</span></div>
                                    <div>End Date : <span style="font-weight:600;" class="badge badge-pill badge-secondary"> {{promotionHistory.endDate | momentFormat:'DD-MM-YYYY'}}</span></div> -->
                                </div>

                            </div>
                        </div>
                        <div class="modal-white-box" *ngIf="viewType != 'activityEmail'">
                            <h3 style="font-size:1.2rem;">{{l("Description")}}</h3>
                            <div [innerHTML]="promotionHistory.description"> </div>
                        </div>
                        <div class="modal-white-box" *ngIf="viewType == 'promotion'">
                            <h3 style="font-size:1.2rem;">{{l("Responce")}}</h3>
                            <div [innerHTML]="responseMessage"> </div>

                        </div>
                        <div class="modal-white-box html-contentPrint" *ngIf="viewType == 'activityEmail'">
                            <!-- <h3 style="font-size:1.2rem;">{{l("Description")}}</h3> -->
                            <!-- <div [innerHTML]="promotionHistory.description"> </div> -->
                            <div [innerHtml]="htmlContentBody"></div>
                        </div>
                        <!-- <div class="modal-white-box">
                            <h3 style="font-size:1.2rem;">{{l("Responce")}}</h3>
                            <div [innerHTML]="item.wholeSalePromotion.responseMessage"> </div>

                        </div> -->
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary blue" (click)="close()"><i class="las la-times-circle"></i> {{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>