﻿<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Calendar")}}</span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="getInstaller();getJobbookcount();;addSearchLog('Filter Organization');">
                                                <option value="0">All Organization</option>
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">{{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="documentStatus" [(ngModel)]="documentStatus" class="form-control" (change)="getJobbookcount();addSearchLog('Filter Document Status');"> 
                                            <option value="1">Job Count</option>
                                            <!-- <option value="2">Availibility</option>-->
                                        </select>
                                        </div>
                                    </div>
                                </li>

                                <!-- <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select class="form-control" [(ngModel)]="installerId" name="installerId" (change)="getJobbookcount()" *ngIf="permission.isGranted('Pages.Tenant.InstallerManager.InstallerCalendar')">
                                                <option value="0">Select Installer</option>
                                                <option *ngFor="let item of InstallerList" value="{{item.id}}">{{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li> -->

                                <li>
                                    <div class="kt-searchmainbox">
                                        <div class="kt-stextbox" style="overflow:inherit;">
                                            <div class="form-group form-icon mb-0">
                                                <p-autoComplete id="installerIds" name="installerIds" [suggestions]="installerSearchResult" (completeMethod)="filterInstaller($event)" [minLength]="1" [placeholder]="l('SelectInstaller')" inputStyleClass="form-control" styleClass="pl-4 w-275px" (onSelect)="selectInstaller($event);addSearchLog('Filter Installer');"
                                                    field="displayName" (onClear)="selectInstaller($event)" (keydown.enter)="selectInstaller($event);addSearchLog('Filter Installer');">
                                                    <ng-template let-result pTemplate="item">
                                                        <div class="result-item">
                                                            <div class="d-flex align-items-center mb-1">
                                                                <i class="las la-user-cog fs-16 mr-1"></i> {{result.displayName}}
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                </p-autoComplete>
                                                <span class="icon-box" style="z-index:1; top:-2px; padding:0 4px;"><i class="las la-user-cog fs-20"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body calendarbox">
                    <div class="email_section_area minheight900">

                        <div class="email_right_section">
                            <full-calendar [options]="calendarOptionsforcount" *ngIf="show == 1"></full-calendar>
                            <full-calendar [options]="calendarOptions" *ngIf="show == 2"></full-calendar>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<createOrEditCancelReasonModal #createOrEditCancelReasonModal></createOrEditCancelReasonModal>