<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("3CX Call Queue")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter"
                    [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div
                            class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <!-- <li>
                                    <button type="button" class="btn_refresh" (click)="getCallFlowQueue()"></button>
                                </li> -->
                                <li>
                                    <div class="d-flex align-items-center"
                                        style="border:1px solid #5867dd; border-radius:5px; overflow:hidden;">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-light" (click)="previousDate();addSearchLog('Filter Previous Date');"
                                                style="border-radius:0 !important;"><i
                                                    class="las la-angle-left pr-0"></i></button>
                                            <button type="button" class="btn btn-light"
                                                style="border-left:1px solid #5867dd !important; border-radius:0 !important;"
                                                (click)="nextDate();addSearchLog('Filter Next Date');"><i class="las la-angle-right pr-0"></i></button>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li *ngIf="'Pages.CallHistory.CallFlowQueueCallHistory.Export' | permission">
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />      
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;" *ngIf="'Pages.CallHistory.CallFlowQueueCallHistory.Export' | permission">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>

                                        </div>
                                    </div>
                                </li> -->

                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select name="OrganizationUnits" class="form-control"
                                                [(ngModel)]="organizationUnit" (change)="getCallFlowQueue();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox maxwdth210 dateandsearch_icon width236">
                                            <input type="text" class="form-control autoWidth" placeholder="Mobile"
                                                [(ngModel)]="filterText" />
                                            <a class="btnclearsearch" *ngIf="filterText"
                                                (click)="filterText='';getCallFlowQueue();"><i
                                                    class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getCallFlowQueue();addSearchLog('Filter Mobile');" />
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="kt-buttonarea">
                        </div> -->
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}"
                        class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>

        <div class="myleadsReport leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{ totalCalls }}</span><label>Total Calls</label></li>
                </ul>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile bg_none">
                <div class="kt-portlet__body padzero">


                    <!-- <div class="installationboxmain">
                        <div class="installationsubox no_warp_main">
                            <div class="installationbox">
                                <div class="day-box">Monday</div>
                                <div class="monthname">
                                    <span>04-03-2024</span>
                                    <span class="badge badge-primary">Calls: 10</span>
                                </div>

                                <div>
                                    
                                </div>

                                <div style="width:100%; max-height:74vh; overflow-y: auto; padding-right:4px;" class="scroll-section">
                                    <div>
                                        <div class="installation-job">
                                            <div class="d-flex align-items-center mb-2 header-row">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm py-1 px-1" dropdownToggle>
                                                        <i class="flaticon-more fs-16"></i><span class="caret"></span>                                                    
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a>
                                                                <i class="las la-sms"></i> SMS
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div>
                                                    <a href="javascript:;">
                                                        Arise Overflow
                                                    </a>
                                                    <span>Arise Overflow</span>
                                                </div>
                                            </div>

                                            <h4 class="d-flex align-items-center">
                                                <i class="las la-user-alt fs-18 mr-1" style="color:#797789;"></i> Customer Name
                                            </h4>

                                            <div class="databox">
                                                <div class="dataleft">
                                                    <div class="d-flex">
                                                        <i class="las la-map-marker-alt fs-18 mr-1" style="color:#797789;"></i>
                                                        <div>
                                                            <span>Address</span>
                                                            <span style="border-top:0;">State - Postcode </span>
                                                        </div>
                                                    </div>
                                                    <span><i class="las la-user-cog fs-18 mr-2" style="color:#797789;"></i> <span style="font-weight:600; border-top: 0;">Installer Name</span> </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="installationbox">
                                <div class="day-box">Monday</div>
                                <div class="monthname">
                                    <span>04-03-2024</span>
                                    <span class="badge badge-primary">Calls: 10</span>
                                </div>

                                <div>
                                   
                                </div>

                                <div style="width:100%; max-height:74vh; overflow-y: auto; padding-right:4px;" class="scroll-section">
                                    <div>
                                        <div class="installation-job">
                                            <div class="d-flex align-items-center mb-2 header-row">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm py-1 px-1" dropdownToggle>
                                                        <i class="flaticon-more fs-16"></i><span class="caret"></span>                                                    
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a>
                                                                <i class="las la-sms"></i> SMS
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div>
                                                    <a href="javascript:;">
                                                        Arise Overflow
                                                    </a>
                                                    <span>Arise Overflow</span>
                                                </div>
                                            </div>

                                            <h4 class="d-flex align-items-center">
                                                <i class="las la-user-alt fs-18 mr-1" style="color:#797789;"></i> Customer Name
                                            </h4>

                                            <div class="databox">
                                                <div class="dataleft">
                                                    <div class="d-flex">
                                                        <i class="las la-map-marker-alt fs-18 mr-1" style="color:#797789;"></i>
                                                        <div>
                                                            <span>Address</span>
                                                            <span style="border-top:0;">State - Postcode </span>
                                                        </div>
                                                    </div>
                                                    <span><i class="las la-user-cog fs-18 mr-2" style="color:#797789;"></i> <span style="font-weight:600; border-top: 0;">Installer Name</span> </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="installationbox">
                                <div class="day-box">Monday</div>
                                <div class="monthname">
                                    <span>04-03-2024</span>
                                    <span class="badge badge-primary">Calls: 10</span>
                                </div>

                                <div>
                                  
                                </div>

                                <div style="width:100%; max-height:74vh; overflow-y: auto; padding-right:4px;" class="scroll-section">
                                    <div>
                                        <div class="installation-job">
                                            <div class="d-flex align-items-center mb-2 header-row">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm py-1 px-1" dropdownToggle>
                                                        <i class="flaticon-more fs-16"></i><span class="caret"></span>                                                    
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a>
                                                                <i class="las la-sms"></i> SMS
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div>
                                                    <a href="javascript:;">
                                                        Arise Overflow
                                                    </a>
                                                    <span>Arise Overflow</span>
                                                </div>
                                            </div>

                                            <h4 class="d-flex align-items-center">
                                                <i class="las la-user-alt fs-18 mr-1" style="color:#797789;"></i> Customer Name
                                            </h4>

                                            <div class="databox">
                                                <div class="dataleft">
                                                    <div class="d-flex">
                                                        <i class="las la-map-marker-alt fs-18 mr-1" style="color:#797789;"></i>
                                                        <div>
                                                            <span>Address</span>
                                                            <span style="border-top:0;">State - Postcode </span>
                                                        </div>
                                                    </div>
                                                    <span><i class="las la-user-cog fs-18 mr-2" style="color:#797789;"></i> <span style="font-weight:600; border-top: 0;">Installer Name</span> </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="installationbox">
                                <div class="day-box">Monday</div>
                                <div class="monthname">
                                    <span>04-03-2024</span>
                                    <span class="badge badge-primary">Calls: 10</span>
                                </div>

                                <div>
                                 
                                </div>

                                <div style="width:100%; max-height:74vh; overflow-y: auto; padding-right:4px;" class="scroll-section">
                                    <div>
                                        <div class="installation-job">
                                            <div class="d-flex align-items-center mb-2 header-row">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm py-1 px-1" dropdownToggle>
                                                        <i class="flaticon-more fs-16"></i><span class="caret"></span>                                                    
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a>
                                                                <i class="las la-sms"></i> SMS
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div>
                                                    <a href="javascript:;">
                                                        Arise Overflow
                                                    </a>
                                                    <span>Arise Overflow</span>
                                                </div>
                                            </div>

                                            <h4 class="d-flex align-items-center">
                                                <i class="las la-user-alt fs-18 mr-1" style="color:#797789;"></i> Customer Name
                                            </h4>

                                            <div class="databox">
                                                <div class="dataleft">
                                                    <div class="d-flex">
                                                        <i class="las la-map-marker-alt fs-18 mr-1" style="color:#797789;"></i>
                                                        <div>
                                                            <span>Address</span>
                                                            <span style="border-top:0;">State - Postcode </span>
                                                        </div>
                                                    </div>
                                                    <span><i class="las la-user-cog fs-18 mr-2" style="color:#797789;"></i> <span style="font-weight:600; border-top: 0;">Installer Name</span> </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="installationbox">
                                <div class="day-box">Monday</div>
                                <div class="monthname">
                                    <span>04-03-2024</span>
                                    <span class="badge badge-primary">Calls: 10</span>
                                </div>

                                <div>
                                   
                                </div>

                                <div style="width:100%; max-height:74vh; overflow-y: auto; padding-right:4px;" class="scroll-section">
                                    <div>
                                        <div class="installation-job">
                                            <div class="d-flex align-items-center mb-2 header-row">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm py-1 px-1" dropdownToggle>
                                                        <i class="flaticon-more fs-16"></i><span class="caret"></span>                                                    
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a>
                                                                <i class="las la-sms"></i> SMS
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div>
                                                    <a href="javascript:;">
                                                        Arise Overflow
                                                    </a>
                                                    <span>Arise Overflow</span>
                                                </div>
                                            </div>

                                            <h4 class="d-flex align-items-center">
                                                <i class="las la-user-alt fs-18 mr-1" style="color:#797789;"></i> Customer Name
                                            </h4>

                                            <div class="databox">
                                                <div class="dataleft">
                                                    <div class="d-flex">
                                                        <i class="las la-map-marker-alt fs-18 mr-1" style="color:#797789;"></i>
                                                        <div>
                                                            <span>Address</span>
                                                            <span style="border-top:0;">State - Postcode </span>
                                                        </div>
                                                    </div>
                                                    <span><i class="las la-user-cog fs-18 mr-2" style="color:#797789;"></i> <span style="font-weight:600; border-top: 0;">Installer Name</span> </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="installationbox">
                                <div class="day-box">Monday</div>
                                <div class="monthname">
                                    <span>04-03-2024</span>
                                    <span class="badge badge-primary">Calls: 10</span>
                                </div>

                                <div>
                                  
                                </div>

                                <div style="width:100%; max-height:74vh; overflow-y: auto; padding-right:4px;" class="scroll-section">
                                    <div>
                                        <div class="installation-job">
                                            <div class="d-flex align-items-center mb-2 header-row">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm py-1 px-1" dropdownToggle>
                                                        <i class="flaticon-more fs-16"></i><span class="caret"></span>                                                    
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a>
                                                                <i class="las la-sms"></i> SMS
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div>
                                                    <a href="javascript:;">
                                                        Arise Overflow
                                                    </a>
                                                    <span>Arise Overflow</span>
                                                </div>
                                            </div>

                                            <h4 class="d-flex align-items-center">
                                                <i class="las la-user-alt fs-18 mr-1" style="color:#797789;"></i> Customer Name
                                            </h4>

                                            <div class="databox">
                                                <div class="dataleft">
                                                    <div class="d-flex">
                                                        <i class="las la-map-marker-alt fs-18 mr-1" style="color:#797789;"></i>
                                                        <div>
                                                            <span>Address</span>
                                                            <span style="border-top:0;">State - Postcode </span>
                                                        </div>
                                                    </div>
                                                    <span><i class="las la-user-cog fs-18 mr-2" style="color:#797789;"></i> <span style="font-weight:600; border-top: 0;">Installer Name</span> </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="installationbox">
                                <div class="day-box">Monday</div>
                                <div class="monthname">
                                    <span>04-03-2024</span>
                                    <span class="badge badge-primary">Calls: 10</span>
                                </div>

                                <div>
                           
                                </div>

                                <div style="width:100%; max-height:74vh; overflow-y: auto; padding-right:4px;" class="scroll-section">
                                    <div>
                                        <div class="installation-job">
                                            <div class="d-flex align-items-center mb-2 header-row">
                                                <div class="btn-group dropdown" dropdown container="body">
                                                    <button class="dropdown-toggle btn btn-sm py-1 px-1" dropdownToggle>
                                                        <i class="flaticon-more fs-16"></i><span class="caret"></span>                                                    
                                                    </button>
                                                    <ul class="dropdown-menu" *dropdownMenu>
                                                        <li>
                                                            <a>
                                                                <i class="las la-sms"></i> SMS
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div>
                                                    <a href="javascript:;">
                                                        Arise Overflow
                                                    </a>
                                                    <span>Arise Overflow</span>
                                                </div>
                                            </div>

                                            <h4 class="d-flex align-items-center">
                                                <i class="las la-user-alt fs-18 mr-1" style="color:#797789;"></i> Customer Name
                                            </h4>

                                            <div class="databox">
                                                <div class="dataleft">
                                                    <div class="d-flex">
                                                        <i class="las la-map-marker-alt fs-18 mr-1" style="color:#797789;"></i>
                                                        <div>
                                                            <span>Address</span>
                                                            <span style="border-top:0;">State - Postcode </span>
                                                        </div>
                                                    </div>
                                                    <span><i class="las la-user-cog fs-18 mr-2" style="color:#797789;"></i> <span style="font-weight:600; border-top: 0;">Installer Name</span> </span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div> -->




                    <div class="row align-items-center">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12 nobulebox_table_scrool"
                            [busyIf]="primengTableHelper.isLoading"
                            [ngClass]="{'unselectable' : permission.isGranted('Pages.CallHistory.CallFlowQueueCallHistory.EnableCopyPaste')}">
                            <div class="primeng-datatable-container col-12 nobulebox_table_scrool"
                                [busyIf]="primengTableHelper.isLoading">
                                <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getCallFlowQueue($event)"
                                    [value]="primengTableHelper.records" selectionMode="single"
                                    rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                    [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                    [responsive]="primengTableHelper.isResponsive"
                                    [resizableColumns]="primengTableHelper.resizableColumns"
                                    [scrollHeight]="screenHeight - testHeight +'px'">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="name" style="width:350px;">
                                                {{l('3cx Call Queue')}}
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="Count" style="text-align: center;">
                                                {{l('Call Count')}}
                                                <p-sortIcon field="Count"></p-sortIcon>
                                            </th>
                                            <th style="text-align: center;">
                                                Monday<br />{{dates[0] | momentFormat:'DD-MM-YYYY'}}
                                            </th>
                                            <th style="text-align: center;">
                                                Tuesday<br />{{dates[1] | momentFormat:'DD-MM-YYYY'}}
                                            </th>
                                            <th style="text-align: center;">
                                                wedday<br />{{dates[2] | momentFormat:'DD-MM-YYYY'}}
                                            </th>
                                            <th style="text-align: center;">
                                                Thursday<br />{{dates[3] | momentFormat:'DD-MM-YYYY'}}
                                            </th>
                                            <th style="text-align: center;">
                                                Friday<br />{{dates[4] | momentFormat:'DD-MM-YYYY'}}
                                            </th>
                                            <th style="text-align: center;">
                                                Saturday<br />{{dates[5] | momentFormat:'DD-MM-YYYY'}}
                                            </th>
                                            <th style="text-align: center;">
                                                Sunday<br />{{dates[6] | momentFormat:'DD-MM-YYYY'}}
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit"
                                        *ngIf="permission.isGranted('Pages.CallHistory.CallFlowQueueCallHistory.Detail')">
                                        <tr [pSelectableRow]="record">
                                            <td style="width:350px;">
                                                <span class="ui-column-title"> {{l('Name')}}</span> {{record.name}}
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="ui-column-title"> {{l('Count')}}</span>
                                                <span class="badge badge-warning">{{record.count}}</span>
                                                <!-- <a href="javascript:;" (click)="CsxCallQueueReportModal.show(record.extentionNumber,organizationUnit,startDate,endDate,filterText)"></a> -->
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="badge badge-primary">{{record.mondayCount}}</span>
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="badge badge-primary">{{record.tuesdayCount}}</span>
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="badge badge-primary">{{record.wednesdayCount}}</span>
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="badge badge-primary">{{record.thrusdayCount}}</span>
                                            </td>
                                            <td style="text-align: center;">
                                               <span class="badge badge-primary">{{record.fridayCount}}</span>
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="badge badge-primary">{{record.satdayCount}}</span>
                                            </td>
                                            <td style="text-align: center;">
                                                <span class="badge badge-primary">{{record.sundayCount}}</span>
                                            </td>
                                        </tr>

                                    </ng-template>
                                    <ng-template pTemplate="body" let-record="$implicit"
                                        *ngIf="!permission.isGranted('Pages.CallHistory.CallFlowQueueCallHistory.Detail')">
                                        <tr [pSelectableRow]="record">
                                            <td style="width:350px;">
                                                <span class="ui-column-title"> {{l('Name')}}</span> {{record.name}}
                                            </td>
                                            <td>
                                                <span class="ui-column-title"> {{l('Count')}}</span>
                                                <a href="javascript:;"><span
                                                        class="badge badge-warning">{{record.count}}</span></a>
                                            </td>

                                        </tr>

                                    </ng-template>
                                </p-table>
                                <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                    {{l('NoData')}}
                                </div>
                                <div class="primeng-paging-container">
                                    <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                        (onPageChange)="getCallFlowQueue($event)"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                    </p-paginator>
                                    <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                    <span class="total-records-count">
                                        Showing {{firstrowcount}}
                                        To {{last}}
                                        <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}}
                                        Records
                                    </span>
                                </div>
                            </div>
                            <!--<Primeng-Datatable-End>-->
                        </div>
                    </div>
                </div>
            </div>

            <!-- <UserCsxCallQueueReportModal #UserCsxCallQueueReportModal></UserCsxCallQueueReportModal>
            <CsxCallQueueReportModal #CsxCallQueueReportModal></CsxCallQueueReportModal> -->

        </div>
    </div>