<div bsModal #SectionWiseSmsCountModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="statecallDetailModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span> SMS Count - {{user}}</span>
                </h4>
                <!-- <button class="btn btn-primary btn-sm ml-4" type="button" (click)="exportToExcel()" *ngIf="permission.isGranted('Pages.CallHistory.StateWiseCallHistory.HeaderDetail.Export')"><i class="las la-file-excel"></i> Export</button> -->
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <div class="modal-white-box">
                    <div class="secondary-grid vscrollbar" style="max-height: 300px; overflow-y: auto;">
                        <table class="table table_blck">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Section</th>
                                    <th>SMS</th>
                                    <th>Credit</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let index of SectionWiseData; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{index.section}}</td>
                                    <td>{{index.smsCount}}</td>
                                    <td>{{index.creditCount}}</td>
                                    <td>{{index.amount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>
                    {{l("Cancel")}}</button>
            </div>
        </div>
    </div>

</div>