<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("3rdPartyLeadTracker")}}</span>
                        <span>&nbsp;({{totalLeads}})</span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927  leadedropdown leadtrackeradvancefilter myleadfilter inherit_width">
                            <ul class="hd_right wrap">
                                <li>
                                    <div class="switchbox d-flex align-items-center">
                                        <span class="switchlabel">My Lead</span>
                                        <span class="kt-switch kt-switch--icon" style="margin:15px 0 0 8px;">
                                            <label>
                                                <input checked="checked" (change)="getLeads();" name="mylead"
                                                    [(ngModel)]="mylead" type="checkbox">
                                                <span></span>
                                        </label>
                                        </span>
                                    </div>
                                </li>


                                <li>
                                    <button type="button" class="btn_refresh" (click)="getLeads();RereshLog();"></button>
                                    <!--<button type="button" (click)="getLeads()" class="btnrefreshbox">
                                         <img src="../../../../assets/common/images/icon_refreshbtn.svg" />
                                        <i class="fa fa-sync"></i>
                                    </button> -->
                                </li>
                                <li *ngIf="isGranted('Pages.3rdPartyLeadTracker.Create')">
                                    <button (click)="createOrEdit3rdPartyLeadsModel.show(organizationUnit,undefined,40,SectionName)" class="btn btn-outline-primary btnadd">
                                        {{l("Add")}}
                                        <i class="las la-plus-circle"></i>
                                    </button>
                                </li>
                                <li *ngIf="permission.isGranted('Pages.3rdPartyLeadTracker.Export')">
                                    <div class="btn-group btnexceldropdown  " dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <!-- <i class="far fa-file-excel"></i> -->
                                            <!-- {{"ExcelOperations" | localize}} -->
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations " *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;">
                                                <!-- <i class="fa fa-download" style="font-size: 1rem;"></i> -->
                                                <!-- {{'Export CSV' | localize}} -->

                                                <i class="las la-file-excel"></i> {{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;">
                                                <i class="las la-file-csv"></i> {{l("ExportCSV")}}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getLeads(); getOrganizationuser();getOrganizationWiseUser();onsalesmanger();onsalesrep();bindLeadSource($event.target.value);addSearchLog('Filter Organization')">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <!-- <li>
                                    <div class="form-group m-form__group selectdropdown jobmultipleselect wdth140">
                                        <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadSource" [(ngModel)]="leadSourceIdFilter" name="jobStatusID">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li> -->
                                <li>
                                    <div class="form-group m-form__group selectdropdown jobmultipleselect wdth140">
                                        <ng-select [items]="leadstatuss" [multiple]="true" bindLabel="name" [closeOnSelect]="false" bindValue="value" placeholder="All LeadStatus" [(ngModel)]="leadStatusIDS" name="leadStatusIDS" (change)="leadstatuschange()">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.name}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>

                                <li [hidden]="!showJobStatus">
                                    <div class="form-group m-form__group selectdropdown jobmultipleselect wdth140">
                                        <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select JobStatus" [(ngModel)]="jobStatusID" name="jobStatusID">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>

                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                                <option value="Phone">Phone</option>
                                                <option value="Address">Address</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox leardsearchfilter">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input [(ngModel)]="filterText" name="filterText" (keydown.enter)="getLeads();addSearchLog('Filter' + filterName +  ' : ' + filterText)" autoFocus [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control m-input" placeholder="{{filterName}}" type="text">
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getLeads()"><i class="fas fa-times-circle"></i></a>
                                            <button (click)="getLeads();addSearchLog('Filter' + filterName +  ' : ' + filterText)" class="btnsearch" type="submit">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>

                                        <!-- <div class="kt-advfilterbox" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action')">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                    <i class="las la-sliders-h"></i>
                                                </button>
                                        </div> -->

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox max_width_set400">
                                            <h3>{{l("AdditionalFilters")}}</h3>
                                            <div class="advfilterform">
                                                <ul>
                                                    <li>
                                                        <div class="form-group m-form__group">
                                                            <input type="text" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" class="form-control" id="AddressFilter" name="AddressFilter" [(ngModel)]="addressFilter" placeholder='{{l("Address")}}'>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group m-form__group">
                                                            <p-autoComplete [(ngModel)]="postCodeSuburbFilter" id="postCodeSuburbFilter" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" [suggestions]="suburbSuggestions" (completeMethod)="filtersuburbs($event)" placeholder='{{l("Suburb")}}' [minlength]="2" #suburbInput="ngModel"
                                                                name="postCodeSuburbFilter" inputStyleClass="form-control" styleClass="width-percent-100">
                                                            </p-autoComplete>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group m-form__group">
                                                            <select class="form-control" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" [(ngModel)]="stateNameFilter" name="stateNameFilter">
                                                                <option value="">{{l("SelectAState")}}</option>
                                                                <option *ngFor="let item of allStates"
                                                                    value="{{item.displayName}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group m-form__group">
                                                            <input type="text" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" class="form-control" id="PostCodeFilter" name="postCodeFilter" [(ngModel)]="postCodeFilter" placeholder='{{l("PostCode")}}'>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group m-form__group">
                                                            <select class="form-control" [(ngModel)]="typeNameFilter" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" name="typeNameFilter">
                                                                <option value="">{{l("SelectType")}}</option>
                                                                <option value="Res">{{l("RES")}}</option>
                                                                <option value="Com">{{l("COM")}}</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group m-form__group">
                                                            <select class="form-control" [(ngModel)]="areaNameFilter" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" name="areaNameFilter">
                                                                <option value="">{{l("SelectArea")}}</option>
                                                                <option value="Metro">{{l("Metro")}}</option>
                                                                <option value="Regional">{{l("Regional")}}</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group m-form__group">
                                                            <select class="form-control" [(ngModel)]="cancelrequestfilter" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" name="cancelrequestfilter">
                                                                <option value=0>{{l("CancelRequest")}}</option>
                                                                <option value=1>{{l("Yes")}}</option>
                                                            </select>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="form-group m-form__group">
                                                            <select class="form-control" [(ngModel)]="teamId" name="teamId" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')">
                                                                <option value="0">{{l("SelectTeam")}}</option>
                                                                <option *ngFor="let item of filteredTeams"
                                                                    value="{{item.id}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li *ngIf="role != 'Sales Rep'">
                                                        <div class="form-group m-form__group">
                                                            <select class="form-control" [(ngModel)]="salesManagerId" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" name="salesManagerId">
                                                                <option value="0">{{l("SelectSalesManager")}}</option>
                                                                <option *ngFor="let item of filteredManagers"
                                                                    value="{{item.id}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li *ngIf="role != 'Sales Rep'">
                                                        <div class="form-group m-form__group">
                                                            <select class="form-control" [(ngModel)]="salesRepId" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" name="salesRepId">
                                                                <option value="0">{{l("SelectSalesRep")}}</option>
                                                                <option *ngFor="let item of filteredReps"
                                                                    value="{{item.id}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <!-- <li>
                                                                {{totalcount}}
                                                            </li> -->
                                                    <li style="width:100%;">
                                                        <div class="form-group m-form__group">
                                                            <select class="form-control" [(ngModel)]="dateFilterType" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" name="dateFilterType">
                                                                <option value="Assign">{{l("AssignDate")}}</option>
                                                                <option value="ReAssign">{{l("ReAssignDate")}}</option>
                                                                <option value="Creation">{{l("CreationDate")}}</option>
                                                                <option value="Followup">{{l("FollowUpDate")}}</option>
                                                                <option value="NextFollowup">{{l("NextFollowupDate")}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </li>

                                                    <li class="clear-date">
                                                        <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="StartDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" (keydown.enter)="getLeads($event)" />
                                                        <a class="btnclearsearch btndateClear" *ngIf="StartDate" (click)="StartDate=null"><i class="fas fa-times-circle"></i></a>
                                                    </li>
                                                    <li class="clear-date">
                                                        <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="EndDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" (keydown.enter)="getLeads($event)" />
                                                        <a class="btnclearsearch btndateClear" *ngIf="EndDate" (click)="EndDate=null"><i class="fas fa-times-circle"></i></a>
                                                    </li>

                                                    <li class="text-right fullwidth">
                                                        <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()"><i class="fa fa-times-circle"></i> {{l("Clear")}}</button>
                                                        <button class="btn btn-primary btn-sm" (click)="getLeads();addSearchLog('Advanced Filter')"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div class="blue-filter-box" [hidden]="!FiltersData" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action')">
            <div class="d-flex align-items-center justify-content-end dis-column" style="width:100%;">
                <div class="d-flex align-items-center dis-column">
                    <select name="changeOrganization" class="form-control mr-3" [(ngModel)]="changeOrganization" style="border-radius: 5px !important;" [disabled]="!permission.isGranted('Pages.Leads.LeadTracker.ChangeOrganization')" (change)="changeAction();">
                        <option value="0">Select Organization</option>
                        <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">{{item.displayName}}</option>
                    </select>

                    <select name="action" class="form-control mr-3" [(ngModel)]="action" style="border-radius: 5px !important;" (change)="changeAction();">
                        <option value="0">Select Action</option>
                        <option value="1" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action.AssignToManager')">Assign To Sales Manager</option>
                        <option value="2" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action.AssignToSalesRep')">Assign To Sales Rep</option>
                        <option value="3" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action.AssignToUsers')">Assign To Users</option>
                        <option value="4" *ngIf="permission.isGranted('Pages.Leads.LeadTracker.Action.TransferToLeadGen') && ('App.LeadGeneration' | checkFeature)">Transfer To Lead Gen</option>
                    </select>

                    <select name="assignManagerId" class="form-control mr-3" [(ngModel)]="assignManagerId" style="border-radius: 5px !important;" *ngIf="action == 2" (change)="getSaleRep()">
                        <option value="0">Select Manager</option>
                        <option *ngFor="let item of assignManager" value="{{item.id}}">{{item.displayName}}</option>
                    </select>

                    <p-autoComplete id="assignUserId" name="assignUserId" [suggestions]="UserSearchResult" (completeMethod)="filterUserSearchResult($event)" [minLength]="1" placeholder='{{l(PlaceHolderVal)}}' inputStyleClass="form-control" styleClass="mr-3" (onSelect)="selectAssignUser($event)"
                        field="displayName" (onClear)="selectAssignUser($event)" (keydown.enter)="selectAssignUser($event)" *ngIf="action != 0">
                        <ng-template let-result pTemplate="item">
                            <div class="result-item">
                                <div class="d-flex align-items-center mb-1">
                                    <i class="las la-user-cog fs-16 mr-1"></i> {{result.displayName}}
                                </div>
                            </div>
                        </ng-template>
                    </p-autoComplete>

                    <!-- <select name="assignUserId" class="form-control mr-3" [(ngModel)]="assignUserId" style="border-radius: 5px !important;" *ngIf="action != 0">
                        <option value="0">Select {{PlaceHolderVal}}</option>
                        <option *ngFor="let item of assignUser" value="{{item.id}}">{{item.displayName}}</option>
                    </select> -->

                    <button [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary btn-sm" (click)="submit()">
                        Submit
                    </button>
                </div>
                <div class="recordsSelect">
                    <h2>Selected Records <span>{{count}}</span></h2>
                </div>
            </div>
        </div>
        <!-- <div class="blue-filter-box" [hidden]="!FiltersData">
            <div class="d-flex align-items-center justify-content-end" style="width:100%;">
                <div class="d-flex align-items-center">
                    <div class="mr-5" >
                        <div class="custom-control custom-switch">
                            <input class="custom-control-input" type="checkbox" role="switch" name="isTransferChange" id="isTransferChange" [(ngModel)]="isTransferChange" (change)="onTransfercheck($event)">
                            <label class="custom-control-label" for="isTransferChange">{{l("TransferToLeadGen")}}</label>
                        </div>
                    </div>

                    <div [hidden]="!isTransferChange" style="display: flex;">
                        <select name="assignLead1" class="form-control mr-3" [(ngModel)]="assignLead1" style="border-radius: 5px !important;">
                            <option value="0">Lead Gen Manager</option>
                            <option *ngFor="let item of leadGenManager" value="{{item.id}}">{{item.displayName}}</option>
                        </select>
                        <button (click)="transferLead()" [buttonBusy]="saving1" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary btn-sm">
                            Transfer
                        </button>
                    </div>

                    <div style="display: flex;">
                        <div class="mr-5" *ngIf="permission.isGranted('Pages.Leads.ChangeOrganization')">
                            <div class="custom-control custom-switch">
                                <input class="custom- control-input" type="checkbox" role="switch" name="isChange" id="isChange" [(ngModel)]="isChange" (change)="oncheck($event)">
                                <label class="custom-control-label" for="isChange">{{l("ChangeOrganization")}}</label>
                            </div>
                        </div>

                        <div class="mr-4">
                            <div class="custom-control custom-switch" *ngIf="role != 'Sales Manager'">
                                <input class="custom-control-input" type="checkbox" role="switch" name="isAssign" id="isAssign" [(ngModel)]="isAssign">
                                <label class="custom-control-label" for="isAssign">{{l("AssignToSaleRep")}}</label>
                            </div>
                        </div>

                        <select name="OrganizationUnits" [hidden]="!showOrganizationUnits" class="form-control mr-3" style="border-radius: 5px !important; " [(ngModel)]="organizationChangeUnit" (change)="getOrganizationWiseUser()">
                            <option value="0">Select org</option>
                            <option *ngFor="let item of allOrganizationUnitsList" value="{{item.id}}">{{item.displayName}}
                            </option>
                        </select>
                    
                        <select name="assignLead" [(ngModel)]="assignLead" [hidden]="!isChangefalse" (change)="getsalerep($event)" class="form-control mr-3" style="width:210px; border-radius: 5px !important;" required>
                            <option value="0">{{PlaceHolder}}</option>
                            <option *ngFor="let item of allUsers" value="{{item.id}}">{{item.displayName}}</option>
                        </select>
                        <select name="assignLead" [(ngModel)]="assignLead" [hidden]="!isChangetrue" (change)="getsalerep($event)" class="form-control mr-3" style="width:220px;border-radius: 5px !important;" required>
                            <option value="0">Select Manager</option>
                            <option *ngFor="let item of allUsersss" value="{{item.id}}">{{item.displayName}}</option>
                        </select>
                        <select name="assignLead1" *ngIf="isAssign" class="form-control mr-3" [(ngModel)]="assignLead1" style="border-radius: 5px !important;">
                            <option value="0">Select Sales Rep</option>
                            <option *ngFor="let item of allSalesrepUsers" value="{{item.id}}">{{item.displayName}}</option>
                        </select>
                        <button (click)="submit()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary btn-sm">
                            Submit
                        </button>
                    </div>

                </div>
                <div class="recordsSelect">
                    <h2>Selected Records <span>{{count}}</span></h2>
                </div>
            </div>
        </div> -->
        <div>
            <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page">
                <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                    <ul>
                        <li><span>{{this.totalLeads}}</span><label>{{l("TotalLeads")}}</label></li>
                        <li><span>{{this.assigned}}</span><label>{{l("Assign")}}</label></li>
                        <li><span>{{this.reAssigned}}</span><label>{{l("ReAssign")}}</label></li>
                        <li><span>{{this.new}}</span><label>{{l("New")}}</label></li>
                        <li><span>{{this.unHandledLeads}}</span><label>{{l("Unhandled")}}</label></li>
                        <li><span>{{this.cold}}</span><label>{{l("Cold")}}</label></li>
                        <li><span>{{this.warm}}</span><label>{{l("Warm")}}</label></li>
                        <li><span>{{this.hot}}</span><label>{{l("Hot")}}</label></li>
                        <li><span>{{this.upgrade}}</span><label>{{l("Upgrade")}}</label></li>
                        <li><span>{{this.rejected}}</span><label>Rejected</label></li>
                        <li><span>{{this.canceled}}</span><label>Cancelled</label></li>
                        <li><span>{{this.sold}}</span><label>Sold</label></li>
                        <!-- <li>
                        <span>
                            <label> Closed <span>{{this.closed}}</span></label>
                        </span>
                    </li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body tablewithoutaction padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass]="{'unselectable': ('Pages.LeadTracker.EnableCopyPaste' | permission)}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>                                
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeads($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <!-- <th class="p-frozen-column checkboxhead" style="width:40px">
                                            <div class="kt-checkbox-list" style="padding: 0px 8px!important;">
                                                <label for="lead_id" class="kt-checkbox">
                                                    <input type="checkbox" id="lead_id" name="all"
                                                        [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th> -->
                                        <th class="p-frozen-column" pSortableColumn="companyName" style="width:200px;">
                                            {{l('CopanyName')}}
                                            <p-sortIcon field="companyName"></p-sortIcon>
                                        </th>
                                        <th style="width:80px; left:200px !important;" pSortableColumn="isGoogle" class="p-frozen-column" [hidden]="!ExpandedView">
                                            {{l('Verify')}}
                                            <p-sortIcon field="isGoogle"></p-sortIcon>
                                        </th>
                                        <th style="width:140px;" [hidden]="!ExpandedView">
                                            {{l('AllLeadStatus')}}
                                            <!-- <p-sortIcon field="leadStatusFk.leadStatusName"></p-sortIcon> -->
                                        </th>
                                        <th pSortableColumn="cancelReasonName" style="width:140px;" [hidden]="!ExpandedView" *ngIf="leadStatusId == 8">
                                            {{l('cancelReasonName')}}
                                            <p-sortIcon field="leadStatusFk.cancelReasonName"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="mobile" style="width:120px;" [hidden]="!ExpandedView" *ngIf="'Pages.3rdPartyLeadTracker.ShowEmailPhone' | permission">
                                            {{l('Mobile')}}
                                            <p-sortIcon field="lead.mobile"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="address" [hidden]="!ExpandedView" style="width:250px;">
                                            {{l('Address')}}
                                            <p-sortIcon field="lead.address"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Suburb" [hidden]="!ExpandedView" style="width:120px;">
                                            {{l('Suburb')}}
                                            <p-sortIcon field="lead.suburb"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="State" [hidden]="!ExpandedView" style="width:100px;">
                                            {{l('State')}}
                                            <p-sortIcon field="lead.state"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="PostCode" [hidden]="!ExpandedView" style="width:120px;">
                                            {{l('PostCode')}}
                                            <p-sortIcon field="lead.postCode"></p-sortIcon>
                                        </th>

                                        <th pSortableColumn="LeadSource"  *ngIf="'Pages.MyLeads.ShowLeadSource' | permission" style="width:150px;" [hidden]="!ExpandedView">
                                            {{l('LeadSource')}}
                                            <p-sortIcon field="lead.leadSource"></p-sortIcon>
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;" *ngIf="forall == true">
                                            {{l('ReminderDate')}}
                                            <!-- <p-sortIcon field="lead.leadSource"></p-sortIcon> -->
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;" *ngIf="forall == true">
                                            {{l('Reminder')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" *ngIf="forall == true">
                                            {{l('Comment')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" *ngIf="leadcancel == true">
                                            {{l('CancelReasonName')}}
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;" *ngIf="leadcancel == true">
                                            {{l('CancelDate')}}
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;" *ngIf="leadcancel == true">
                                            {{l('Note')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView" *ngIf="leadreject == true">
                                            {{l('RejectReasons')}}
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;" *ngIf="leadreject == true">
                                            {{l('RejectedDate')}}
                                        </th>
                                        <th [hidden]="!ExpandedView" style="width:200px;" *ngIf="leadreject == true">
                                            {{l('Note')}}
                                        </th>
                                        <th style="width:170px;" [hidden]="!ExpandedView">
                                            {{l('LeadAssignDate')}}
                                            <!-- <p-sortIcon field="lead.leadAssignDate"></p-sortIcon> -->
                                        </th>
                                        <th style="width:150px;" [hidden]="!ExpandedView">
                                            {{l('LeadOwner')}}
                                        </th>
                                        <th style="width:170px;" pSortableColumn="creationTime" [hidden]="!ExpandedView">
                                            {{l('CreationTime')}}
                                            <p-sortIcon field="lead.creationTime"></p-sortIcon>
                                        </th>
                                        <th style="width:160px;" [hidden]="!ExpandedView">
                                            Last Quote Created
                                            <!-- <p-sortIcon field="lastQuoteCreationTime"></p-sortIcon> -->
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.lead.id}">
                                        <!-- <td class="p-frozen-column" style="width:40px">
                                            <div class="kt-checkbox-list set_new6 set_new2" style="padding: 0px 8px!important;" *ngIf="hideTransfer(record)">
                                                <label for="{{record.lead.id}}" class="kt-checkbox">
                                                    <input type="checkbox" id="{{record.lead.id}}" name="recordSource"
                                                        [(ngModel)]="record.lead.isSelected"
                                                        (change)="oncheckboxCheck()" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td> -->
                                        <td style="width:200px;" class="gridleadimage p-frozen-column" *ngIf="permission.isGranted('Pages.Jobs')" (click)="navigateToLeadDetail(record.lead.id);">
                                            <div class="name_and_img">
                                                <img *ngIf="record.lead.leadStatusID == 5" [src]="appRootUrl() + 'assets/common/images/icon_flame.png'">
                                                <img *ngIf="record.lead.leadStatusID == 4" [src]="appRootUrl() + 'assets/common/images/icon_orangesun.png'">
                                                <img *ngIf="record.lead.leadStatusID == 3" [src]="appRootUrl() + 'assets/common/images/icon_blueice.png'">
                                                <img *ngIf="record.lead.leadStatusID != 5 && record.lead.leadStatusID != 4 && record.lead.leadStatusID != 3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'">
                                                <!-- <span class="ui-column-title"> {{l('CopanyName')}}</span> -->
                                                {{record.lead.companyName}}
                                            </div>
                                        </td>
                                        <td style="width:80px; left:200px !important;" class="p-frozen-column gridleadimage" *ngIf="!permission.isGranted('Pages.Jobs')">
                                            <img *ngIf="record.lead.leadStatusID == 5" [src]="appRootUrl() + 'assets/common/images/icon_flame.png'">
                                            <img *ngIf="record.lead.leadStatusID == 4" [src]="appRootUrl() + 'assets/common/images/icon_orangesun.png'">
                                            <img *ngIf="record.lead.leadStatusID == 3" [src]="appRootUrl() + 'assets/common/images/icon_blueice.png'">
                                            <img *ngIf="record.lead.leadStatusID != 5 && record.lead.leadStatusID != 4 && record.lead.leadStatusID != 3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'">
                                            <span class="ui-column-title"> {{l('CopanyName')}}</span> {{record.lead.companyName}}
                                        </td>
                                        <td style="width:80px; left:200px !important;" class="p-frozen-column" [hidden]="!ExpandedView">
                                            <span class="verified green" *ngIf="record.lead.isGoogle == 'Manual'" [tooltip]="record.lead.isGoogle"><i class="lab la-maxcdn fs-16"></i></span>
                                            <span class="verified blue" *ngIf="record.lead.isGoogle == 'Google'" [tooltip]="record.lead.isGoogle"><i class="fab fa-google fs-16" style="color:#4285f4;"></i></span>
                                            <span class="verified green" *ngIf="record.lead.isGoogle == null"><i class="fas fa-ban fs-16"></i></span>
                                        </td>
                                        <td style="width:140px;" [hidden]="!ExpandedView">
                                            <span *ngIf="record.leadStatusName == 'Upgrade'" class="{{record.leadStatusColorClass}}"><span *ngIf="record.lead.reAssignDate != undefined">R</span>U-{{record.jobStatusName}}</span>
                                            <span *ngIf="record.leadStatusName != 'Upgrade'" class="{{record.leadStatusColorClass}}"><span *ngIf="record.lead.reAssignDate != undefined">R-</span>{{record.leadStatusName}}</span>

                                        </td>
                                        <td style="width:140px;" [hidden]="!ExpandedView" *ngIf="leadStatusId == 8">
                                            <span>{{record.cancelReasonName}}</span>

                                        </td>
                                        <td style="width:120px;" [hidden]="!ExpandedView" *ngIf="'Pages.3rdPartyLeadTracker.ShowEmailPhone' | permission">
                                            <!-- <span class="ui-column-title"> {{l('Mobile')}}</span> -->
                                            <span class="badge badge-secondary">{{record.lead.mobile}}</span>
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:250px;">
                                            <!-- <span class="ui-column-title"> {{l('Address')}}</span> -->
                                            <span [tooltip]="record.lead.address" class="tooltipcnt">
                                                {{record.lead.address | titlecase}}</span>
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:120px;">
                                            <!-- <span class="ui-column-title"> {{l('Suburb')}}</span> -->
                                            <span [tooltip]="record.lead.suburb" class="tooltipcnt">{{record.lead.suburb
                                                | titlecase}}</span>
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:100px;">
                                            <!-- <span class="ui-column-title"> {{l('State')}}</span> -->
                                            {{record.lead.state}}
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:120px;">
                                            <!-- <span class="ui-column-title"> {{l('PostCode')}}</span> -->
                                            <span class="badge badge-secondary">{{record.lead.postCode}}</span>
                                        </td>
                                        <td style="width:150px;" [hidden]="!ExpandedView" *ngIf="'Pages.MyLeads.ShowLeadSource' | permission">
                                            <span class="{{record.leadSourceColorClass}}">{{record.lead.leadSource}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView" *ngIf="forall == true">
                                            <span class="badge badge-secondary">{{record.reminderTime}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView" *ngIf="forall == true">
                                            <span [tooltip]="record.activityDescription">{{record.activityDescription}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView" *ngIf="forall == true">
                                            <span [tooltip]="record.activityComment">{{record.activityComment}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView" *ngIf="leadcancel == true">
                                            <span [tooltip]="record.cancelReasonName">{{record.cancelReasonName}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView" *ngIf="leadcancel == true">
                                            <span class="badge badge-secondary">{{record.lead.changeStatusDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView" *ngIf="leadcancel == true">
                                            <span [tooltip]="record.lead.rejectReason">{{record.lead.rejectReason}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView" *ngIf="leadreject == true">
                                            <span [tooltip]="record.rejectReasonName">{{record.rejectReasonName}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView" *ngIf="leadreject == true">
                                            <span class="badge badge-secondary">{{record.lead.changeStatusDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView" *ngIf="leadreject == true">
                                            <span [tooltip]="record.lead.rejectReason">{{record.lead.rejectReason}}</span>
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:170px;">
                                            <!-- <span class="ui-column-title"> {{l('LeadAssignDate')}}</span> -->
                                            <span class="badge badge-secondary">{{record.leadAssignDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:150px;">
                                            <!-- <span class="ui-column-title"> {{l('CurrentLeadOwner')}}</span> -->
                                            {{record.lead.currentLeadOwner}}
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:170px;">
                                            <!-- <span class="ui-column-title"> {{l('CreationTime')}}</span> -->
                                            <span class="badge badge-secondary">{{record.lead.creationTime| momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:150px;">
                                            <span class="badge badge-secondary">{{record.lastQuoteCreationTime | momentFormat:'DD-MM-YYYY' }}</span>
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeads($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <!-- <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLead #viewLead SelectedLeadId="{{SelectedLeadId}}"
                                      (reloadLead)="reloadPage()"></viewLead>
                        </div> -->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div>
                        <!-- <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <addActivityModal #addActivityModal SelectedLeadId="{{SelectedLeadId}}"
                                (reloadLead)="reloadPage($event)"></addActivityModal>
                        </div> -->

                    </div>
                    <createOrEdit3rdPartyLeadsModel #createOrEdit3rdPartyLeadsModel (modalSave)="getLeads()"></createOrEdit3rdPartyLeadsModel>

                </div>
            </div>
        </div>
    </div>

</div>