<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
      <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">
          <div class="kt-subheader__main">
              <h3 class="kt-subheader__title">
                  <span>{{l("Leads")}} {{l("Details")}}</span>
              </h3>
              <span class="kt-subheader__separator kt-subheader__separator--v"></span>
              <a [routerLink]="['/app/main/leads/leads']"
					class="kt-subheader__breadcrumbs-home"><i
                        class="flaticon2-shelter"></i>{{l("Lead")}}</a>
          </div>
        </div>
      </div>
      <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
          <div class="kt-portlet kt-portlet--mobile">
              <div class="kt-portlet__body">
                  <div class="row align-items-center" *ngFor="let item of activityLog">
                     <div class="col-6 mb-3">
                          <h6>{{l("CopanyName")}} :</h6>
                          {{ item.leadCompanyName }}
                      </div>
                      <div class="col-6 mb-3">
                          <h6>{{l("Action")}} :</h6>
                          {{ item.actionName }}
                      </div>
                      <div class="col-6 mb-3">
                          <h6>{{l("CreationTime")}} :</h6>
                          {{ item.creationTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                      </div>
                      <div class="col-6 mb-3">
                          <h6>{{l("CreatedBy")}} :</h6>
                          {{ item.creatorUserName }}
                      </div>
                  </div>
              </div>
          </div>          
      </div>
    </div>
  </div>
  