<div [@routerTransition]>
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
      <div class="kt-subheader kt-grid__item">
        <div [class]="containerClass">
          <div class="kt-subheader__main">
              <h3 class="kt-subheader__title">
                  <span>{{"ChangeStatus" }}</span>
              </h3>
              <span class="kt-subheader__separator kt-subheader__separator--v"></span>
              <div class="kt-subheader__breadcrumbs">
                  <a [routerLink]="['/app/main/leads/leads']"
                      class="kt-subheader__breadcrumbs-home"><i
                          class="flaticon2-shelter"></i>{{l("Lead")}}</a>
                  <span class="kt-subheader__breadcrumbs-separator"></span>
                  <a 
                      class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
                       <span >{{lead.companyName}}</span>
                  </a>
              </div>
          </div>
        </div>
      </div>
      <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
          <div class="kt-portlet kt-portlet--mobile">
              <div class="kt-portlet__body">
                      <div class="form-group m-form__group">
                          <label for="LeadStatus">{{l("LeadStatus")}}</label>
                          <select name="lead.leadStatusID" [(ngModel)]="lead.leadStatusID" class="form-control" required>
                              <option value="">{{l("SelectAStatus")}}</option>
                              <option *ngFor="let item of allLeadStatus" value="{{item.value}}">{{item.name}}</option>
                          </select>
                      </div>
              </div>
                <div class="kt-portlet__foot">			  
                  <div class="col-lg-12">
                      <button (click)="save()" class="btn btn-primary blue"
                          [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> 
                          <span>{{l("Save")}}</span>
                      </button>               
                  </div>
              </div>
          </div>
      </div>
    </div>    
  </div> 