.pac-container {
    z-index:99999999!important;
}


.commonsearch svg {
    height: 1.5rem;
    width: 1.5rem;
    font-size: 1.5rem;
    color: #6e6b7b;
    position: absolute;
    right: 0px;
    left:10px;
    z-index: 10;
    top:7px;
}

.commonsearch input {
    padding-left: 40px!important;
}

.body .pi {
    padding: 0px 40px 0px 40px!important;
}

i.ui-autocomplete-loader {
    margin: -44px!important;
}

.ui-autocomplete-loader {
    right: 2.25em!important;
}
