﻿<div [@routerTransition] (onShown)="onShown()">
    <div class="kt-content creatleadpage kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item grayback">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        <span *ngIf="active && lead.id">{{l("EditMyLead") }}</span>
                        <span *ngIf="active && !lead.id">{{l("CreateLead")}} </span>
                    </h3>
                    <div class="kt-subheader__breadcrumbs" style="display:none">
                        <span class="kt-subheader__breadcrumbs-separator"></span>
                        <a class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">
                            <span *ngIf="active && lead.id">
                                <!--{{l("Edit")}} --> {{lead.companyName}}
                            </span>
                            <span *ngIf="active && !lead.id">
                                <!--{{l("Create")}} -->
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid grayback'">
            <div class="" style="margin-top:0 !important;">
                <div class="createleadform">
                    <form *ngIf="active" #createOrEditLead="ngForm" novalidate (ngSubmit)="save()" autocomplete="off"
                        autocompleteOff [ngClass]="{ 'has-error': createOrEditLead.submitted}">
                        <div class="modal-white-box">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="d-flex align-items-center"><i
                                            class="las la-user-alt mr-2"></i>{{l("Addcustomerdetails")}}</h3>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group form-icon custom-required">
                                        <label for="Lead_companyName" class="form-label">{{l("CopanyName")}} *</label>
                                        <input type="text" id="Lead_companyName" #companyNameInput="ngModel"
                                            id="companyNameInput" class="form-control" [(ngModel)]="lead.companyName"
                                            name="CopanyName" ViewLead maxlength="100" required
                                            placeholder='{{l("CopanyName")}}' />
                                        <span class="icon-box"><i class="las la-user-alt"></i></span>
                                        <validation-messages [formCtrl]="companyNameInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-3" *ngIf="('Pages.LeadTracker' | permission)">
                                    <div class="form-group form-icon custom-required">
                                        <label for="Lead_Email" class="form-label">{{l("Email")}}</label>
                                        <input type="text" required id="Lead_Email" #emailAddressInput="ngModel"
                                            class="form-control" [(ngModel)]="lead.email" name="Email"
                                            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                            minlength="1" maxlength="255" placeholder='{{l("Email")}}' />
                                        <span class="icon-box"><i class="las la-envelope"></i></span>
                                        <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-3" *ngIf="('Pages.LeadTracker' | permission)">
                                    <div class="form-group form-icon custom-required">
                                        <label for="Lead_Mobile" class="form-label">{{l("Mobile")}}</label>
                                        <input type="text" id="Lead_Mobile" required class="form-control"
                                            [(ngModel)]="lead.mobile" name="Mobile" minlength="10" maxlength="10"
                                            placeholder='{{l("Mobile")}}' />
                                        <span class="icon-box"><i class="las la-mobile-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3" *ngIf="!('Pages.LeadTracker' | permission)">
                                    <div class="form-group form-icon">
                                        <label for="Lead_Email" class="form-label">{{l("Email")}} *</label>
                                        <input type="text" required id="Lead_Email" required
                                            #emailAddressInput="ngModel" class="form-control" [(ngModel)]="lead.email"
                                            name="Email"
                                            pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                            minlength="1" maxlength="255" placeholder='{{l("Email")}}' />
                                        <span class="icon-box"><i class="las la-envelope"></i></span>
                                        <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-3 form-icon" *ngIf="!('Pages.LeadTracker' | permission)">
                                    <div class="form-group">
                                        <label for="Lead_Mobile" required class="form-label">{{l("Mobile")}} *</label>
                                        <input type="text" id="Lead_Mobile" required class="form-control"
                                            [(ngModel)]="lead.mobile" name="Mobile" minlength="10" maxlength="10"
                                            placeholder='{{l("Mobile")}}' />
                                        <span class="icon-box"><i class="las la-mobile-alt"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="Lead_Phone" class="form-label">{{l("Phone")}}</label>
                                        <input type="text" id="Lead_Phone" class="form-control" [(ngModel)]="lead.phone"
                                            style="padding-left:50px !important;" name="Phone" minlength="10"
                                            maxlength="10" placeholder='{{l("Phone")}}' />
                                        <span class="icon-box"><i class="las la-phone"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="Lead_AltPhone" class="form-label">{{l("AltPhone")}}</label>
                                        <input type="text" id="Lead_AltPhone" class="form-control"
                                            [(ngModel)]="lead.altPhone" name="AltPhone" minlength="10" maxlength="10"
                                            placeholder='{{l("AltPhone")}}' />
                                        <span class="icon-box"><i class="las la-phone"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3" *ngIf="lead.id != null">
                                    <div class="form-group m-form__group form-icon">
                                        <label for="Lead_LeadStatus">{{l("LeadStatus")}}</label>
                                        <select name="Lead_LeadStatus" [(ngModel)]="lead.leadStatusID"
                                            [disabled]="lead.leadStatusID == 6" required class="form-control">
                                            <option value="1">{{l("SelectALeadStatus")}}</option>
                                            <option value="2">UnHandled</option>
                                            <option value="3">Cold</option>
                                            <option value="4">Warm</option>
                                            <option value="5">Hot</option>
                                            <option *ngIf="lead.leadStatusID == 6" value="6">Upgrade</option>
                                            <option value="10">Assigned</option>
                                            <option value="11">ReAssigned</option>
                                        </select>
                                        <span class="icon-box"><i class="las la-hourglass-half"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3" *ngIf="!('Pages.LeadTracker' | permission) && lead.id">
                                    <div class="form-group m-form__group form-icon custom-required">
                                        <label for="LeadSourceName" class="form-label">{{l("LeadSource")}} *</label>
                                        <select name="lead.leadSource" disabled [(ngModel)]="lead.leadSource"
                                            class="form-control" required>
                                            <option value="">{{l("SelectALeadSource")}}</option>
                                            <option *ngFor="let item of allLeadSources" value="{{item.displayName}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        <span class="icon-box"><i class="las la-ad"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3" *ngIf="('Pages.LeadTracker' | permission) && lead.id">
                                    <div class="form-group m-form__group form-icon custom-required">
                                        <label for="LeadSourceName" class="form-label">{{l("LeadSource")}} *</label>
                                        <select name="lead.leadSource" disabled [(ngModel)]="lead.leadSource"
                                            class="form-control" required (change)="LeadSourceOnChange()">
                                            <option value="">{{l("SelectALeadSource")}}</option>
                                            <option *ngFor="let item of allLeadSources" value="{{item.displayName}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        <span class="icon-box"><i class="las la-ad"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3" *ngIf="!('Pages.LeadTracker' | permission) && !lead.id">
                                    <div class="form-group m-form__group form-icon custom-required">
                                        <label for="LeadSourceName" class="form-label">{{l("LeadSource")}} *</label>
                                        <select name="lead.leadSource" [(ngModel)]="lead.leadSource"
                                            class="form-control" required (change)="LeadSourceOnChange()">
                                            <option value="">{{l("SelectALeadSource")}}</option>
                                            <option *ngFor="let item of leadSources" value="{{item.displayName}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        <span class="icon-box"><i class="las la-ad"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3" *ngIf="('Pages.LeadTracker' | permission) && !lead.id">
                                    <div class="form-group m-form__group form-icon custom-required">
                                        <label for="LeadSourceName" class="form-label">{{l("LeadSource")}} *</label>
                                        <select name="lead.leadSource" [(ngModel)]="lead.leadSource"
                                            class="form-control" (change)="LeadSourceOnChange()">
                                            <option value="">{{l("SelectALeadSource")}}</option>
                                            <option *ngFor="let item of allLeadSources" value="{{item.displayName}}">
                                                {{item.displayName}}</option>
                                        </select>
                                        <span class="icon-box"><i class="las la-ad"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="TypeNameFilter">{{l("Type")}}</label>
                                        <select class="form-control" id="Type" name="Type" [(ngModel)]="lead.type"
                                            [required]="role != 'Admin'">
                                            <option value="">Select Type</option>
                                            <option value="Res">RES</option>
                                            <option value="Com">COM</option>
                                        </select>
                                        <span class="icon-box"><i class="las la-house-damage"></i></span>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-icon">
                                        <label for="AreaNameFilter">{{l("Area")}}</label>
                                        <select class="form-control" id="Area" name="Area" [(ngModel)]="lead.area"
                                            [required]="role != 'Admin'" disabled>
                                            <option value="">Select Area</option>
                                            <option value="Metro">Metro</option>
                                            <option value="Regional">Regional</option>
                                        </select>
                                        <span class="icon-box"><i class="las la-city"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-white-box" *ngIf="referal">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="d-flex align-items-center"><i
                                            class="las la-user-friends mr-2"></i>Referred By</h3>
                                </div>
                                <div class="col-md-3">

                                    <div class="commonsearch searchclearbox customtop-search ">


                                        <input type="text" class="form-control" id="refferedJobName"
                                            name="refferedJobName" placeholder="JobNumber"
                                            [(ngModel)]="lead.referralName">
                                        <!-- <a class="btnclearsearch" style="top: 18px;right: 36px;"><i
                                                class="fas fa-times-circle"></i></a> -->

                                        <!-- <a class="btnclearsearch" *ngIf="str" (click)="str='';clear();" style="top: 18px;right: 36px;"><i class="fas fa-times-circle"></i></a> -->
                                        <button type="button" [buttonBusy]="saving" busyText="Searching.." class="customsearch-btn1" (click)="filterjobnumber(lead.referralName)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                                stroke-linecap="round" stroke-linejoin="round"
                                                class="feather feather-search ficon">
                                                <circle cx="11" cy="11" r="8"></circle>
                                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                            </svg>
                                        </button>
                                        <div class="top-search-result" [hidden]="!filterdata">
                                            <ul>
                                                <li *ngFor="let item of searchResult">
                                                    <div class="result-item" (click)="OnSelectDetails(item)">
                                                        <div class="d-flex align-items-center mb-1">
                                                            <strong>{{item.jobNumber}}</strong>
                                                            <span class="px-2" *ngIf="item.jobNumber != null">|</span>
                                                            <strong>{{item.customerName}}</strong>
                                                        </div>
                                                        <div class="d-flex align-items-center mb-1">
                                                            <span *ngIf="item.mobile != null"
                                                                class="d-flex align-items-center"><i
                                                                    class="las la-mobile fs-16 mr-1"></i>
                                                                {{item.mobile}}</span>
                                                            <span class="px-2"
                                                                *ngIf="item.mobile != null && item.email != ''">|</span>
                                                            <span class="d-flex align-items-center"
                                                                *ngIf="item.email != ''"><i
                                                                    class="las la-envelope fs-16 mr-1"></i>
                                                                {{item.email}}</span>
                                                        </div>
                                                        <div class="d-flex align-items-center"
                                                            *ngIf="item.address != ''">
                                                            <i class="las la-map-marker-alt fs-16 mr-1"></i>
                                                            {{item.address}}
                                                        </div>
                                                    </div>

                                                </li>
                                            </ul>

                                        </div>
                                        <div class="top-search-result" [hidden]="!NoData">
                                            <ul>
                                                <li style="cursor:auto">
                                                    <div class="text-danger fw-600 text-center"
                                                        style="margin-bottom:0;">
                                                        No Data
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                        </div>


                        <div class="modal-white-box">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="d-flex align-items-center"><i
                                            class="las la-map-marker mr-2"></i>{{l("Addressdetail")}} </h3>
                                </div>
                                <div class="col-md-12">
                                    <div class="addcustomerform">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <div class="kt-radio-inline">
                                                        <label for="Google2" class="kt-radio">
                                                            <input id="Google2" name="address2" (change)="google()"
                                                                [value]="'Google'" type="radio"
                                                                [(ngModel)]="lead.isGoogle">
                                                            Google Address
                                                            <span></span>
                                                        </label>
                                                        <label for="Manual2" class="kt-radio">
                                                            <input id="Manual2" name="address2" (change)="database()"
                                                                [value]="'Manual'" type="radio"
                                                                [(ngModel)]="lead.isGoogle">
                                                            Manual Address
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div><span *ngIf="lead.excelAddress">Excel Address :
                                                    {{lead.excelAddress}}</span>
                                            </div>
                                        </div>
                                        <div class="row" [hidden]="!selectAddress">
                                            <div class="col-md-12">
                                                <div class="form-group form-icon">
                                                    <label for="Lead_Address"
                                                        class="form-label">{{l("Address")}}</label>
                                                    <input matInput id="Lead_Address" matGoogleMapsAutocomplete
                                                        country="au"
                                                        style="padding-left:50px !important; height:41px !important;"
                                                        [types]="['address']"
                                                        (onAutocompleteSelected)="onAutocompleteSelected($event)"
                                                        (onLocationSelected)="onLocationSelected($event)"
                                                        placeholder="Search Address" class="form-control"
                                                        [(ngModel)]="lead.address" name="Address" autocomplete="off"
                                                        autocompleteOff>
                                                    <span class="icon-box"><i class="las la-map-marker"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-icon">
                                                    <label for="Lead_UnitNo" class="form-label">{{l("UnitNo")}}</label>
                                                    <input type="text" autocomplete="off" autocompleteOff
                                                        placeholder='{{l("UnitNo")}}' id="Lead_UnitNo"
                                                        class="form-control" [(ngModel)]="lead.unitNo" name="UnitNo"
                                                        minlength="1" maxlength="50" />
                                                    <span class="icon-box"><i class="las la-hashtag"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-icon">
                                                    <label for="Lead_UnitType"
                                                        class="form-label">{{l("UnitType")}}</label>
                                                    <p-autoComplete [(ngModel)]="unitType" id="UnitTypeInput"
                                                        [suggestions]="unitTypesSuggestions"
                                                        (completeMethod)="filterunitTypes($event)"
                                                        placeholder='{{l("UnitType")}}' [minlength]="1"
                                                        name="UnitTypeInput" inputStyleClass="form-control"
                                                        styleClass="width-percent-100">
                                                    </p-autoComplete>
                                                    <span class="icon-box"><i class="las la-house-damage"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-icon">
                                                    <label for="Lead_StreetNo"
                                                        class="form-label">{{l("StreetNo")}}</label>
                                                    <input type="text" autocomplete="off" [required]="role != 'Admin'"
                                                        autocompleteOff #streetNoInput="ngModel" id="Lead_StreetNo"
                                                        placeholder='{{l("StreetNo")}}' class="form-control"
                                                        [(ngModel)]="lead.streetNo" name="StreetNo" minlength="1"
                                                        maxlength="100" />
                                                    <span class="icon-box"><i class="las la-road"></i></span>
                                                    <validation-messages
                                                        [formCtrl]="streetNoInput"></validation-messages>
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-icon">
                                                    <label for="Lead_StreetName"
                                                        class="form-label">{{l("StreetName")}}</label>
                                                    <p-autoComplete [(ngModel)]="streetName" id="streetSelectInput"
                                                        [suggestions]="streetNamesSuggestions"
                                                        placeholder='{{l("StreetName")}}'
                                                        (completeMethod)="filterstreetnames($event)" [minlength]="1"
                                                        #streetNameInput="ngModel" name="streetSelectInput"
                                                        inputStyleClass="form-control" styleClass="width-percent-100"
                                                        [required]="role != 'Admin'">
                                                    </p-autoComplete>
                                                    <span class="icon-box"><i class="las la-map-signs"></i></span>
                                                    <validation-messages
                                                        [formCtrl]="streetNameInput"></validation-messages>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group form-icon">
                                                    <label for="Lead_StreetType"
                                                        class="form-label">{{l("StreetType")}}</label>
                                                    <p-autoComplete [(ngModel)]="streetType" id="StreetTypeInput"
                                                        [suggestions]="streetTypesSuggestions"
                                                        (completeMethod)="filterstreettypes($event)"
                                                        placeholder='{{l("StreetType")}}' [minlength]="1"
                                                        #streetTypeInput="ngModel" name="StreetTypeInput"
                                                        inputStyleClass="form-control" styleClass="width-percent-100"
                                                        [required]="role != 'Admin'">
                                                    </p-autoComplete>
                                                    <span class="icon-box"><i class="las la-city"></i></span>
                                                    <validation-messages
                                                        [formCtrl]="streetTypeInput"></validation-messages>
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-icon">
                                                    <label for="PostCodeSuburb"
                                                        class="form-label">{{l("Suburb")}}</label>
                                                    <p-autoComplete [(ngModel)]="suburb" id="SuburbInput"
                                                        [suggestions]="suburbSuggestions"
                                                        (completeMethod)="filtersuburbs($event)"
                                                        placeholder='{{l("Suburb")}}' [minlength]="1"
                                                        #suburbInput="ngModel" name="SuburbInput"
                                                        (onSelect)="fillstatepostcode()" inputStyleClass="form-control"
                                                        styleClass="width-percent-100" [required]="role != 'Admin'">
                                                    </p-autoComplete>
                                                    <span class="icon-box"><i class="las la-map-signs"></i></span>
                                                    <validation-messages [formCtrl]="suburbInput"></validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-icon">
                                                    <label for="StateName" class="form-label">{{l("State")}}</label>
                                                    <select name="lead.state" #stateInput="ngModel"
                                                        [required]="role != 'Admin'" [(ngModel)]="lead.state"
                                                        disabled="disabled" class="form-control">
                                                        <option value="">{{l("SelectAState")}}</option>
                                                        <option *ngFor="let item of allStates"
                                                            value="{{item.displayName}}">
                                                            {{item.displayName}}</option>
                                                    </select>
                                                    <span class="icon-box"><i class="las la-globe"></i></span>
                                                    <validation-messages [formCtrl]="stateInput"></validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group form-icon">
                                                    <label for="Lead_PostCode"
                                                        class="form-label">{{l("PostCode")}}</label>
                                                    <input type="text" id="Lead_PostCode" [required]="role != 'Admin'"
                                                        #postcodeInput="ngModel" placeholder='{{l("PostCode")}}'
                                                        class="form-control" disabled="disabled"
                                                        [(ngModel)]="lead.postCode" name="lead.postCode" minlength="1"
                                                        maxlength="100" />
                                                    <span class="icon-box"><i class="las la-parking"></i></span>
                                                    <validation-messages
                                                        [formCtrl]="postcodeInput"></validation-messages>
                                                </div>
                                            </div>
                                            <div class="col-md-3" [hidden]="selectAddress">
                                                <div class="form-group form-icon">
                                                    <label for="Lead_Latitude"
                                                        class="form-label">{{l("Latitude")}}</label>
                                                    <input type="text" autocomplete="off" autocompleteOff
                                                        placeholder='{{l("Latitude")}}' id="Lead_Latitude"
                                                        class="form-control" [(ngModel)]="lead.latitude"
                                                        name="Latitude" />
                                                    <span class="icon-box" style="height: 38px; top: 28px;"><i
                                                            class="las la-map-pin"></i></span>
                                                </div>
                                            </div>
                                            <div class="col-md-3" [hidden]="selectAddress">
                                                <div class="form-group form-icon">
                                                    <label for="Lead_Longitude"
                                                        class="form-label">{{l("Longitude")}}</label>
                                                    <input type="text" autocomplete="off" autocompleteOff
                                                        placeholder='{{l("Longitude")}}' id="Lead_Longitude"
                                                        class="form-control" [(ngModel)]="lead.longitude"
                                                        name="Longitude" />
                                                    <span class="icon-box" style="height: 38px; top: 28px;"><i
                                                            class="las la-map-pin"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal-white-box" *ngIf="('Pages.MyLeads.AssignUserId' | permission)">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h3 class="d-flex align-items-center"><i
                                                class="lar la-sticky-note mr-2"></i>{{l("Assign User")}}</h3>
                                                
                                                <div class="col-md-3">
                                                    <div class="form-group form-icon">
                                                        <label 
                                                            class="form-label">{{l("Assign To User")}}</label>
                                                        <select class="form-control" [(ngModel)]="lead.assignToUserID" name="assignToUserID" >
                                                    <option value="0">{{l("SelectUser")}}</option>
                                                    <option *ngFor="let item of userList"
                                                        value="{{item.id}}">
                                                        {{item.displayName}}</option>
                                                </select>
                                                        <span class="icon-box"><i class="las la-house-damage"></i></span>
                                                    </div>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-white-box">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h3 class="d-flex align-items-center"><i
                                                class="lar la-sticky-note mr-2"></i>{{l("AdditionalNotes")}}</h3>
                                        <textarea id="Lead_Requirements" class="form-control"
                                            [(ngModel)]="lead.requirements" name="Requirements" minlength="1"
                                            maxlength="500" placeholder='{{l("AdditionalNotes")}}'></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="btngroupbox mt-1">
                                    <ul>
                                        <li>
                                            <a (click)="Reset()" class="btn btn_black">
                                                <i class="las la-times-circle"></i>Clear</a>
                                        </li>
                                        <li>
                                            <a (click)="cancel()" class="btn btn_red">
                                                <i class="las la-times-circle"></i>Cancel</a>
                                        </li>

                                        <li>
                                            <a href="javascript:;" style="display: none;" id="auto_trigger"
                                                (click)="this.duplicatepopupModal.show(item,role)"></a>
                                            <button type="submit" *ngIf="active && !lead.id"
                                                [disabled]="createOrEditLead.invalid" class="btn btn-primary"
                                                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                                <i class="las la-save"></i><span>Add</span>
                                            </button>
                                            <button type="submit" *ngIf="active && lead.id"
                                                [disabled]="createOrEditLead.invalid" class="btn btn-primary"
                                                [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                                <i class="las la-save"></i><span>Save</span>
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <duplicatepopupModal #duplicatepopupModal (modalSave)="createEdit()"></duplicatepopupModal>
    </div>
</div>