<div bsModal #duplicateLeadPOPModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="duplicateLeadPOPModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("DuplicateRecord")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <tr style="background:#f2f2f2;">
                        <th>{{l("CopanyName")}}</th>
                        <th>{{l("Email")}}</th>
                        <th>{{l("Mobile")}}</th>
                        <th>{{l("Address")}}</th>
                        <th >Lead Owaner</th>
                        <th >Job Status</th>
                    </tr>
                    <tr *ngFor="let item of result">
                        <td><span>{{ item.companyName }}</span></td>
                        <td class="email_lowercase"><span [ngClass]="{'dupHighLisghClass': item.emailExist == true}">{{ item.email }}</span></td>
                        <td><span [ngClass]="{'dupHighLisghClass': item.mobileExist == true}">{{ item.mobile }}</span></td>
                        <td><span [ngClass]="{'dupHighLisghClass': item.addressExist == true}">{{ item.unitNo }}{{ item.unitType | titlecase }}{{ item.streetNo }}{{ item.streetName | titlecase }} {{ item.streetType | titlecase }}, {{ item.suburb | titlecase }} {{ item.state | titlecase }} - {{ item.postcode }}</span></td>
                        <td><span>{{ item.currentAssignUserName }}</span></td>
                        <td><span>{{ item.jobStatus }}</span></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()"><i
                        class="fa fa-times"></i> {{l("Cancel")}}</button>
                <button type="button" (click)="save()" class="btn btn-primary blue" *ngIf="saveBtnShow" ><i class="las la-save"></i>
                            <span>{{l("Save")}}</span></button>
            </div>
        </div>
    </div>
</div>