﻿<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("Leads")}}</span>
                        <span>&nbsp;({{primengTableHelper.totalRecordsCount}})</span>
                    </h3>
                    <div class="d-flex align-items-center">
                        <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                        <a href="javascript:;" (click)="changeFilter()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-sliders-h"></i></a>
                    </div>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" class="btn_refresh" (click)="getLeads();RereshLog();"></button>
                                </li>
                                <li [hidden]="!(['Pages.Leads.Export', 'Pages.Leads.Import'] | permissionAny)">
                                    <div class="btn-group btnexceldropdown h35" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{"Excel" | localize}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg"
                                                class="ng-tns-c490-7">
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations leadexceldropdown" *dropdownMenu>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.Leads.Export' | permission">
                                                <i class="las la-file-excel"></i> {{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;" *ngIf="'Pages.Leads.Export' | permission">
                                                <i class="las la-file-csv"></i> {{'CSV' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a href="javascript:;" *ngIf="'Pages.Leads.Import' | permission" class="no-padding btnuploadexcel a_set1">
                                                <span class="fileinput-button">
                                                    <p-fileUpload customUpload="true" name="ExcelFileUpload"
                                                        #ExcelFileUpload maxFileSize="10000000" auto="auto"
                                                        accept=".csv,.xls,.xlsx" (uploadHandler)="uploadExcel($event)"
                                                        (onError)="onUploadExcelError()"
                                                        chooseLabel="{{'Import' | localize}}">
                                                    </p-fileUpload>
                                                </span>
                                            </a>
                                            <div class="dropdown-divider"></div>

                                            <a *ngIf="'Pages.Leads.Import' | permission" href="/assets/sampleFiles/ImportLeadsSampleFile.xlsx" class="dropdown-item btnsample" styl="display:flex; align-items:center;">
                                                <i class="las la-file-excel"></i> {{l('SampleFile')}}
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="isGranted('Pages.Leads.Create')"><button (click)="createLead()" class="btn btn-outline-primary btnadd">
                                        <!-- <i class="fa fa-plus"></i>  -->
                                        <!-- <img [src]="appRootUrl() + 'assets/common/images/plusicon.svg'" alt="" />  
                                        {{l("CreateNewLead")}} -->
                                        {{l("Add")}}
                                        <i class="las la-plus-circle"></i>
                                        <!-- <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt="" /> -->
                                    </button></li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown minwidth127">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getLeads();addSearchLog('Filter Organization')">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown minwidth200">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select class="form-control" [(ngModel)]="duplicateFilter" name="duplicateFilter" (change)="getLeads();addSearchLog('Filter DuplicateType')">
                                                <option value="">{{l("SelectDuplicateType")}}</option>
                                                <option value="no">{{l("NoDuplicate")}}</option>
                                                <option value="web">{{l("WebDuplicate")}}</option>
                                                <option value="db">{{l("DatabaseDuplicate")}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown wdth140 m-form__group jobmultipleselect">
                                            <ng-select [items]="allLeadSources" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="All LeadSource" [(ngModel)]="leadSourceIdFilter" name="jobStatusID">
                                                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                </ng-template>
                                            </ng-select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                                <option value="Address">Address</option>
                                                <option value="Phone">Phone</option>
                                                <option value="Requirements">Requirements</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox wdth330 leardsearchfilter">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input [(ngModel)]="filterText" name="filterText" autoFocus [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control m-input" (keydown.enter)="getLeads();addSearchLog(filterName +  ' : ' + filterText)" placeholder="{{filterName}}" type="text">
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getLeads()"><i class="fas fa-times-circle"></i></a>
                                            <button (click)="getLeads();addSearchLog('Filter' + filterName +  ' : ' + filterText)" class="btnsearch" type="submit"><i
                                                    class="flaticon-search-1"></i></button>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>
                                        <div class="kt-advfilterbox h-mobile">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox">
                                            <h3>{{l("AdditionalFilters")}}</h3>
                                            <div class="advfilterform">
                                                <ul>
                                                    <li>
                                                        <div class="form-group m-form__group">
                                                            <p-autoComplete [(ngModel)]="postCodeSuburbFilter" id="postCodeSuburbFilter" [suggestions]="suburbSuggestions" (completeMethod)="filtersuburbs($event)" placeholder='{{l("Suburb")}}' [minlength]="2" #suburbInput="ngModel" name="postCodeSuburbFilter" inputStyleClass="form-control"
                                                                styleClass="width-percent-100" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')">
                                                            </p-autoComplete>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group m-form__group">
                                                            <select class="form-control" [(ngModel)]="stateNameFilter" (change)="getLeads();addSearchLog('Advanced Filter')" name="stateNameFilter">
                                                                <option value="">{{l("SelectAState")}}</option>
                                                                <option *ngFor="let item of allStates"
                                                                    value="{{item.displayName}}">
                                                                    {{item.displayName}}</option>
                                                            </select>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group m-form__group">
                                                            <input type="text" class="form-control" (keydown.enter)="getLeads();addSearchLog('Advanced Filter')" id="postCodeFilter" name="postCodeFilter" [(ngModel)]="postCodeFilter" placeholder='{{l("PostCode")}}'>
                                                        </div>
                                                    </li>
                                                    <li class="text-right fullwidth">
                                                        <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">
                                                            <i class="fa fa-times-circle"></i> {{l("Clear")}}</button>
                                                        <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getLeads();addSearchLog('Advanced Filter')">
                                                                <i class="fa fa-search"></i> {{l("Search")}}</button>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>
        <div class="blue-filter-box dis-column h-mobile" [hidden]="!FiltersData" [ngClass]="{'h-mobile': toggle1, 'new': !toggle1}">
            <div class="legends d-flex align-items-center dis-column">
                <div class="mr-4 d-flex align-items-center">
                    <!-- <img [src]="appRootUrl() + 'assets/common/images/database.svg'" alt="" height="25" width="30" /> -->
                    <i class="fas fa-database"></i>
                    <span> {{l("DatabaseDuplicate")}}</span>
                </div>

                <div class="d-flex align-items-center mr-4">
                    <!-- <img [src]="appRootUrl() + 'assets/common/images/world.svg'" alt="" height="25" width="25" class="worldicon" /> -->
                    <i class="fas fa-globe"></i>
                    <span> {{l("WebDuplicate")}}</span>
                </div>


                <div class="d-flex align-items-center">
                    <!-- <img [src]="appRootUrl() + 'assets/common/images/world.svg'" alt="" height="25" width="25" class="worldicon" /> -->
                    <!-- <i class="fas fa-globe"></i> -->
                    <!-- <input checked="checked" (change)="changeEnableAutoAssignLead()" name="SwitchToMyActivity" [(ngModel)]="EnableAutoAssignLead" type="checkbox">
                    
                    <span> {{l("WebDuplicate")}}</span> -->
                    <div class="switchbox mr-1 ">
                        <span class="kt-switch kt-switch--icon d-flex align-items-center">
                            <label style="margin-bottom:0; margin-right:5px;">
                                <input checked="checked" (change)="changeEnableAutoAssignLead()" name="SwitchToMyActivity" [(ngModel)]="EnableAutoAssignLead" type="checkbox"/>
                                <span>&nbsp;</span>
                        </label>
                        <span>Enable Auto Assign Lead</span>
                        </span>
                    </div>
                </div>


            </div>

            <div class="d-flex align-items-center justify-content-end dis-column mob-mar-0" style="margin-left:auto;">
                <div class="d-flex align-items-center dis-column">
                    <!-- <select *ngIf="duplicateFilter != 'web' && duplicateFilter != 'db'" class="form-control mr-2" [(ngModel)]="leadAction" name="leadAction" (change)="getOrganizationWiseUser()" style="min-width:190px; width:auto;"> -->
                    <select class="form-control mr-2" [(ngModel)]="leadAction" name="leadAction" (change)="getOrganizationWiseUser()" style="min-width:190px; width:auto;">
                        <option value="0"> {{l("Actions")}}</option>
                        <option value="1"  *ngIf="'Pages.Leads.Delete' | permission">{{l("Delete")}}</option>
                        <option value="3" *ngIf="'Pages.Leads.Assign' | permission">{{l("Assign")}}</option>
                        <option value="2" *ngIf="'Pages.Leads.AssignToDifferentOrganization' | permission">{{l("AssignToDifferentOrganization")}}</option>
                        <option value="4" *ngIf="'Pages.Leads.CopyToDifferentOrganization' | permission">{{l("CopyToDifferentOrganization")}}</option>
                        <option value="5" *ngIf="'Pages.Leads.MarkAsDuplicate' | permission">{{l("MarkAsDuplicate")}}</option>
                        <option value="6" *ngIf="'Pages.Leads.UpdateFacebookLeads' | permission">Update Facebook Leads</option>
                        <option value="7" *ngIf="'Pages.Leads.FakeLeads' | permission">{{l("MarkAsFakeLead")}}</option>
                    </select>
                    <!-- <select *ngIf="duplicateFilter == 'web'" class="form-control mr-2" [(ngModel)]="leadAction" name="leadAction" style="min-width:190px; width:auto;">
                        <option value="0"> {{l("Actions")}}</option>
                        <option value="5"> {{l("MarkAsDuplicate")}}</option>
                    </select>
                    <select *ngIf="duplicateFilter == 'db'" class="form-control mr-2" [(ngModel)]="leadAction" name="leadAction" style="min-width:190px; width:auto;">
                        <option value="0"> {{l("Actions")}}</option>
                        <option value="6"> {{l("MarkAsDataBaseDuplicate")}}</option>
                    </select> -->
                    <select name="OrganizationUnits" [hidden]="!showOrganizationUnits" class="form-control mr-2" [(ngModel)]="organizationChangeUnit" (change)="getOrganizationWiseUser()" style="min-width:190px; width:auto;">
                        <option *ngFor="let item of allOrganizationUnitsList" value="{{item.id}}">{{item.displayName}}
                        </option>
                    </select>
                    <select name="assignLead" *ngIf="leadAction == 3" [(ngModel)]="assignLead" class="form-control mr-2" required style="min-width:190px; width:auto;">
                        <option value="0">{{l("SelectAUser")}}</option>
                        <option *ngFor="let item of allUsers" value="{{item.id}}">{{item.displayName}}</option>
                    </select>
                    <select name="assignLead" *ngIf="leadAction == 2" [hidden]="!showOrganizationUnits" [(ngModel)]="assignLead" class="form-control mr-2" required style="min-width:190px; width:auto;">
                        <option value="0">{{l("SelectAUser")}}</option>
                        <option *ngFor="let item of allUsers" value="{{item.id}}">{{item.displayName}}</option>
                    </select>
                    <button (click)="submit()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>


        </div>
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">

                    <div class="row align-items-center" [ngClass]="{'unselectable': ('Pages.ManageLeads.EnableCopyPaste' | permission)}">
                        <!--<Primeng-Datatable-Start>-->
                        <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getLeads($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn="CompanyName" class="p-frozen-column" style="width:110px">
                                            {{l('CopanyName')}}
                                            <p-sortIcon field="lead.companyName"></p-sortIcon>
                                        </th>
                                        <th style="width:90px;" *ngIf="'Pages.MyLeads.ShowLeadSource' | permission" pSortableColumn="LeadSource">
                                            {{l('SourceName')}}
                                            <p-sortIcon field="lead.leadSource"></p-sortIcon>
                                        </th>
                                        <th style="width:130px;">
                                            {{l('Organization')}}
                                        </th>
                                        <th style="width:170px;" pSortableColumn="Address">
                                            {{l('Address')}}
                                            <p-sortIcon field="lead.address"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="Suburb" style="width:90px;">
                                            {{l('Suburb')}}
                                            <p-sortIcon field="lead.suburb"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="State" style="width:80px;">
                                            {{l('State')}}
                                            <p-sortIcon field="lead.state"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="PostCode" style="width:95px;">
                                            {{l('PostCode')}}
                                            <p-sortIcon field="lead.postCode"></p-sortIcon>
                                        </th>
                                        <!-- <th pSortableColumn="phone" style="width:120px;">
                                        {{l('Phone')}}
                                        <p-sortIcon field="lead.phone"></p-sortIcon>
                                    </th> -->
                                        <th pSortableColumn="mobile" style="width:100px;"  *ngIf="'Pages.ManageLeads.ShowEmailPhone' | permission">
                                            {{l('Mobile')}}
                                            <p-sortIcon field="lead.mobile"></p-sortIcon>
                                        </th>
                                        <th pSortableColumn="email" style="width:140px;"  *ngIf="'Pages.ManageLeads.ShowEmailPhone' | permission">
                                            {{l('Email')}}
                                            <p-sortIcon field="lead.email"></p-sortIcon>
                                        </th>
                                        <th style="width:100px; text-align: center;">
                                            <span>{{l('Duplicate')}}</span>
                                        </th>
                                        <th style="width:100px; text-align: center;" pSortableColumn="CreationTime">
                                            <span>{{l('LeadDate')}}</span>
                                            <p-sortIcon field="lead.LeadDate"></p-sortIcon>
                                        </th>
                                        <th style="width:39px;" class="checkboxhead">
                                            <div class="kt-checkbox-list">
                                                <label for="lead_id" class="kt-checkbox">
                                                    <input type="checkbox" id="lead_id" name="all"
                                                        [checked]="isAllChecked()" (change)="checkAll($event)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record">
                                        <td style="width:110px" class="gridleadimage p-frozen-column">
                                            <!-- <div *ngIf="record.lead.leadStatusID == 5">
                                            <img [src]="appRootUrl() + 'assets/common/images/redflame.png'">
                                        </div>
                                        <div *ngIf="record.lead.leadStatusID == 4">
                                            <img [src]="appRootUrl() + 'assets/common/images/orangesun.png'">
                                        </div>
                                        <div *ngIf="record.lead.leadStatusID == 3">
                                            <img [src]="appRootUrl() + 'assets/common/images/blueice.png'">
                                        </div>
                                        <div *ngIf="record.lead.leadStatusID != 5 && record.lead.leadStatusID != 4 && record.lead.leadStatusID != 3">
                                            <img [src]="appRootUrl() + 'assets/common/images/actarrow.png'">
                                        </div> -->
                                            <!-- <span class="ui-column-title"> {{l('CopanyName')}}</span> -->
                                            <img *ngIf="record.lead.leadStatusID == 5" [src]="appRootUrl() + 'assets/common/images/icon_flame.png'">
                                            <img *ngIf="record.lead.leadStatusID == 4" [src]="appRootUrl() + 'assets/common/images/icon_orangesun.png'">
                                            <img *ngIf="record.lead.leadStatusID == 3" [src]="appRootUrl() + 'assets/common/images/icon_blueice.png'">
                                            <img *ngIf="record.lead.leadStatusID != 5 && record.lead.leadStatusID != 4 && record.lead.leadStatusID != 3" [src]="appRootUrl() + 'assets/common/images/unhandle_yellow.svg'"> {{record.lead.companyName}}
                                        </td>
                                        <td  *ngIf="'Pages.MyLeads.ShowLeadSource' | permission" style="width:90px;">
                                            <!-- {{record.lead.leadSource}} -->
                                            <span class="{{record.leadSourceColorClass}}">{{record.lead.leadSource}}</span>
                                        </td>
                                        <td style="width:130px;">
                                            <!-- <span class="ui-column-title"> {{l('Organization')}}</span> -->
                                            {{record.lead.organizationName}}
                                        </td>
                                        <td style="width:170px;">
                                            <!-- <span class="ui-column-title"> {{l('Address')}}</span> -->
                                            <span [tooltip]="record.lead.address" class="tooltipcnt">{{record.lead.address | titlecase}}</span>
                                        </td>
                                        <td style="width:90px;">
                                            <!-- <span class="ui-column-title"> {{l('Suburb')}}</span> -->
                                            {{record.lead.suburb | titlecase}}
                                        </td>
                                        <td style="width:80px;">
                                            <!-- <span class="ui-column-title"> {{l('State')}}</span> -->
                                            {{record.lead.state}}
                                        </td>
                                        <td style="width:95px;">
                                            <!-- <span class="ui-column-title"> {{l('PostCode')}}</span> -->
                                            <span class="badge badge-secondary">{{record.lead.postCode}}</span>
                                        </td>
                                        <!-- <td style="width:120px;">
											<span class="ui-column-title"> {{l('Phone')}}</span>
											{{record.lead.phone}}
										</td> -->
                                        <td style="width:100px;" *ngIf="'Pages.ManageLeads.ShowEmailPhone' | permission">
                                            <!-- <span class="ui-column-title"> {{l('Mobile')}}</span> -->
                                            <span class="badge badge-secondary">{{record.lead.mobile}} {{record.lead.phone}}</span>
                                        </td>
                                        <td class="lower_text" style="width:140px;" *ngIf="'Pages.ManageLeads.ShowEmailPhone' | permission">
                                            <!-- <span class="ui-column-title"> {{l('Email')}}</span> -->
                                            <span class="badge badge-secondary"> {{record.lead.email}}</span>
                                        </td>
                                        <td style="width:100px;">
                                            <div class="dupleadbox">
                                                <div *ngIf="record.duplicate">
                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                            <!-- <img [src]="appRootUrl() + 'assets/common/images/database.svg'"> -->
                                                            <i class="fas fa-database"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dupdropdown" *dropdownMenu>
                                                            <li>
                                                                <a href="javascript:;" (click)="viewDuplicateModal.show(record.lead.id, organizationUnit)">
                                                                    <i class="las la-eye"></i> {{l('View')}}
                                                                </a>
                                                            </li>
                                                            <!-- <li>
                                                                <a href="javascript:;" (click)="duplicate(record.lead)">
                                                                    <i class="las la-copy"></i> {{l('Duplicate')}}
                                                                </a>
                                                            </li> -->
                                                            <li>
                                                                <a href="javascript:;" (click)="notduplicate(record.lead, record.webDuplicate)">
                                                                    <i class="las la-not-equal"></i> {{l('NotDuplicate')}}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a (click)="addActivityModal.show(record.dublicateLeadId,9,1,null,null,null,'Manage Leads')">
                                                                    <i class="las la-bell"></i> {{l('Notify')}}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" (click)="deleteLead(record.lead)">
                                                                    <i class="las la-trash"></i> {{l('PreviuosDelete')}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div *ngIf="record.webDuplicate" class="ml-1">
                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                            <!-- <img [src]="appRootUrl() + 'assets/common/images/world.svg'"> -->
                                                            <i class="fas fa-globe"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dupdropdown" *dropdownMenu>
                                                            <li>
                                                                <a href="javascript:;" (click)="webDuplicate(record.lead)">
                                                                    <i class="las la-copy"></i> {{l('Duplicate')}}
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" (click)="webNotduplicate(record.lead, record.duplicate)">
                                                                    <i class="las la-not-equal"></i> {{l('NotDuplicate')}}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width:100px;">
                                            {{record.lead.leadreationDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td>
                                        <td style="width:43px;">
                                            <!-- <div class="kt-checkbox-list" *ngIf="!record.duplicate && !record.webDuplicate"> -->
                                            <div class="kt-checkbox-list">
                                                <!-- *ngIf="!record.duplicate && !record.webDuplicate"> -->
                                                <label for="{{record.lead.id}}" class="kt-checkbox">
                                                    <input id="{{record.lead.id}}" type="checkbox" name="recordSource"
                                                        [(ngModel)]="record.lead.isSelected">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <!-- <div>
                            Showing {{paginator}} to 4 of {{primengTableHelper.totalRecordsCount}} Entries
                        </div> -->
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getLeads($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                    </div>
                </div>
            </div>
        </div>
        <viewDuplicateModal #viewDuplicateModal (modalSave)="getLeads()"></viewDuplicateModal>
        <addActivityModal #addActivityModal (modalSave)="getLeads()"></addActivityModal>
    </div>
</div>