﻿<div [@routerTransition]>

    <!-- side bar grid-->
    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
            <div class="kt-cdetailhead">
                <div class="kt-cname">
                    <ul class="custdetail">
                        <li>
                            <h2> {{ item.lead.companyName }}</h2>
                        </li>
                        <li>
                            <div *ngIf="item.lead.leadStatusID == 9">
                                <span class="badgelead hotlead ">Closed</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 8">
                                <span class="badgelead warmlead">Canceled</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 7">
                                <span class="badgelead coldlead ">Rejected</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 6">
                                <span class="badgelead  unhandled">Upgrade</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 5">
                                <span class="badgelead hotlead ">Hot</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 4">
                                <span class="badgelead warmlead">Warm</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 3">
                                <span class="badgelead coldlead ">Cold</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 2">
                                <span class="badgelead  unhandled">Unhandled</span>
                            </div>
                            <div *ngIf="item.lead.leadStatusID == 1">
                                <span class="badgelead  unhandled">New</span>
                            </div>
                        </li>
                        <li>
                            <a class="nbox custphone" href="{{ item.lead.mobile }}">
                                <img [src]="appRootUrl() + 'assets/common/images/icon_phoneblue.svg'" alt="" /> {{ item.lead.mobile }}
                            </a>
                        </li>
                        <li>
                            <a class="nbox custphone" href="{{ item.lead.phone }}">
                                <img [src]="appRootUrl() + 'assets/common/images/icon_phoneblue.svg'" alt="" /> {{ item.lead.phone }}
                            </a>
                        </li>
                        <li>
                            <a class="nbox custemail" href="{{ item.lead.email }}">
                                <img [src]="appRootUrl() + 'assets/common/images/icon_mail.svg'" alt="" /> {{ item.lead.email }}
                            </a>
                        </li>
                    </ul>
                    <ul class="actionsicon">
                        <li>
                            <div class="dropdown" dropdown container="body">
                                <a class="dropdown-toggle" dropdownToggle [tooltip]="l('ChangeStatus')">
                                    <img [src]="appRootUrl() + 'assets/common/images/icon_changestatus.svg'" alt="" />
                                </a>
                                <ul class="dropdown-menu leadstatusdrp li_padd_0" *dropdownMenu>
                                    <li>
                                        <a (click)="warm(item.lead)"> Warm</a>
                                    </li>
                                    <li>
                                        <a (click)="cold(item.lead)"> Cold</a>
                                    </li>
                                    <li>
                                        <a (click)="hot(item.lead)"> Hot</a>
                                    </li>
                                    <li>
                                        <a (click)="cancel(item.lead)">Cancelled</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a [routerLink]="['/app/main/leads/leads/createOrEdit']" [queryParams]="{id: item.lead.id,from:'mylead'}" [tooltip]="l('Edit')">
                                <img [src]="appRootUrl() + 'assets/common/images/icon_edit.svg'" alt="" />
                            </a>
                        </li>
                        <li *ngIf="permission.isGranted('Pages.Leads.Delete')">
                            <a (click)="deleteLead(item.lead)" [tooltip]="l('Delete')"><img [src]="appRootUrl() + 'assets/common/images/icon_delete.svg'" alt="" /></a>
                        </li>
                        <li>
                            <a (click)="addActivityModal.show(item.lead.id)" [tooltip]="l('Add')" placement="top">
                                <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="myleadsstatus">
                    <ul>
                        <li>
                            <label>Current Lead Owner</label>
                            <span>{{item.currentAssignUserName}}</span>
                        </li>
                        <li>
                            <label>Lead created By</label>
                            <span>{{item.createdByName}}</span>
                        </li>
                        <li>
                            <label>Lead Created On</label>
                            <span>{{item.createdOn | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kt-portlet kt-portlet--mobile marpadzero">
                <div class="kt-portlet__body padzero">
                    <div class="row align-items-center">
                        <div class="table-responsive statictable">
                        </div>
                        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
                            <div class="kt-portlet ">
                                <div class="kt-portlet__body padzero leaddetailtabs">
                                    <tabset>
                                        <!-------------------- start summary tab -->
                                        <tab heading="{{'Summary' | localize}}" [active]="activeTabIndex == 0">
                                            <div class="leaddetailcnt">
                                                <div class="kt-form">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="comcontactdtl">
                                                                <!-- <h4>{{item.leadSourceName}}</h4> -->
                                                                <h5>Contact Detail</h5>
                                                                <ul>
                                                                    <li class="email"> <img [src]="appRootUrl() + 'assets/common/images/icon_mail.svg'" alt="" /> {{ item.lead.email }}</li>
                                                                    <li class="phone"> <img [src]="appRootUrl() + 'assets/common/images/icon_phoneblue.svg'" alt="" /> {{ item.lead.phone }}</li>
                                                                    <li class="mobile"><img [src]="appRootUrl() + 'assets/common/images/icon_mobile.svg'" alt="" style="height:20px;" /> {{ item.lead.mobile }}</li>
                                                                    <li class="address"> <img [src]="appRootUrl() + 'assets/common/images/icon_location.svg'" alt="" style="height:20px;" /> {{ item.lead.address | titlecase }} {{ item.lead.suburb | titlecase }}, {{ item.lead.state
                                                                        | titlecase }} - {{ item.lead.postCode }}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="comcontactdtl">
                                                                <!-- <h4>{{item.leadSourceName}}</h4> -->
                                                                <h5>Other Detail</h5>
                                                                <ul>
                                                                    <li class="abn"> <img [src]="appRootUrl() + 'assets/common/images/icon_abnnew.svg'" alt="" /> ABN</li>
                                                                    <li class="phone"><img [src]="appRootUrl() + 'assets/common/images/icon_residential.svg'" alt="" />(Residential Type) Metro</li>
                                                                    <li class="phone"> <img [src]="appRootUrl() + 'assets/common/images/icon_onlineleads.svg'" alt="" />{{item.lead.leadSource}}</li>
                                                                    <li class="address"> <img [src]="appRootUrl() + 'assets/common/images/icon_test.svg'" alt="" /> {{ item.lead.requirements }}</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="col-12">
                                                        <div class="comcontactdtl">
                                                            <h4>{{item.leadSourceName}}</h4>
                                                            <ul>
                                                                <li class="email"> <img [src]="appRootUrl() + 'assets/common/images/icon_emailenvelope.svg'"
                                                                    alt="" />  {{ item.lead.email }}</li>
                                                                 <li class="phone"> <img [src]="appRootUrl() + 'assets/common/images/icon_phone.svg'"
                                                                        alt="" />   {{ item.lead.phone }}</li>
                                                                <li class="mobile"> <img [src]="appRootUrl() + 'assets/common/images/smartphone.svg'"
                                                                            alt="" />  {{ item.lead.mobile }}</li>
                                                            </ul>
                                                        </div>
                                                    </div> -->
                                                        <!-- <div class="col-6 mb-3">
                                                        <h6>{{l("CopanyName")}} </h6>
                                                        {{ item.lead.companyName }}
                                                    </div> -->
                                                        <!-- <div class="col-6 mb-3">
                                                        <h6>{{l("Email")}}</h6>                                                        
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <h6>{{l("Phone")}}</h6>
                                                        {{ item.lead.phone }}
                                                    </div> -->
                                                        <!-- <div class="col-6 mb-3">
                                                        <h6>{{l("Mobile")}}</h6>
                                                        {{ item.lead.mobile }}
                                                    </div> -->
                                                        <!-- <div class="col-12 mb-3">
                                                        <h6>{{l("Address")}} </h6>
                                                        {{ item.lead.address }}
                                                    </div>                                                    -->
                                                        <!-- <div class="col-12 mb-3">
                                                        <h6>{{l("PostCode")}}</h6>
                                                        {{item.lead.suburb}}
                                                    </div>
                                                    <div class="col-12 mb-3">
                                                        <h6>{{l("State")}}</h6>
                                                        {{item.lead.state}}
                                                    </div> -->
                                                        <!-- <div class="col-12 mb-3">
                                                        <h6>{{l("Requirements")}} </h6>
                                                        {{ item.lead.requirements }}
                                                    </div> -->
                                                        <!-- <div class="col-6 mb-3">
                                                        <h6>{{l("LeadSource")}}</h6>
                                                        {{item.lead.leadSource}}
                                                    </div>
                                                    <div class="col-6 mb-3" *ngIf="item.lead.leadStatusID == 7">
                                                        <h6>{{l("RejectReason")}}</h6>
                                                        {{item.lead.rejectReason}}
                                                        {{item.rejectReasonName}}
                                                    </div>
                                                    <div class="col-6 mb-3" *ngIf="item.lead.leadStatusID == 8">
                                                        <h6>{{l("CancelReason")}}</h6>
                                                        {{item.lead.rejectReason}}
                                                        {{item.cancelReasonName}}
                                                    </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </tab>
                                        <!-------------------- start summary tab -->
                                        <!-------------------- start map tab -->
                                        <tab heading="{{'Map' | localize}}">
                                            <div class="leaddetailcnt">
                                                <div class="row m-form">
                                                    <tab heading="{{'Map' | localize}}">
                                                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="50" [mapTypeId]="'satellite'">
                                                            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                                                        </agm-map>
                                                    </tab>
                                                </div>
                                            </div>
                                        </tab>
                                        <!-------------------- end map tab -->
                                        <!-------------------- start Job tab -->
                                        <tab heading="{{'Job' | localize}}">
                                            <jobCreateOrEdit #jobCreateOrEdit [LeadId]="SelectedLeadId"></jobCreateOrEdit>
                                        </tab>
                                        <!-------------------- end Job tab -->
                                        <!-------------------- start Activitylog tab -->
                                        <tab heading="{{'ActivityLog' | localize}}">

                                            <div class="leaddtltitle activitytitle">
                                                <div class="disflexdiv">
                                                    <h3>Activity</h3>
                                                    <button class="btn btn-primary blue btnadd btn-sm" (click)="addActivityModal.show(item.lead.id)">
                                                   Add <img [src]="appRootUrl() + 'assets/common/images/add_plus.svg'" alt=""/>
                                                    </button>
                                                </div>
                                                <div class="activityfilter">
                                                    <div class="btn-group dropdown dropdown-inline" dropdown container="body">
                                                        <button dropdownToggle class="dropdown-toggle btn btn-light btn-sm font-size-sm font-weight-bolder dropdown-toggle text-dark-75">
                                                               <span class="caret"></span>
                                                                Select
                                                            </button>
                                                        <ul class="dropdown-menu activityfiltermenu navi navi-hover" *dropdownMenu>
                                                            <li>
                                                                <a href="#">SMS</a>
                                                                <a href="#">Email</a>
                                                                <a href="#">Reminder</a>
                                                                <a href="#">Comment</a>
                                                                <a href="#">Modified</a>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="switchbox">
                                                        <span class="kt-switch kt-switch--icon">
                                                                <label>
                                                                    <input checked="checked"
                                                                           name="SwitchToTenant"
                                                                           type="checkbox"  
                                                                           value="dfsdf">
                                                                    <span></span>
                                                        </label>

                                                        </span>
                                                        <span class="switchlabel">My Activity</span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="leaddetailcnt">

                                                <div class="form-group">


                                                    <!-- <a href="javascript:;" class="btn btn-primary blue btnadd"
                                                    (click)="addActivityModal.show(item.lead.id)">
                                                    <img [src]="appRootUrl() + 'assets/common/images/plusicon.svg'" alt="" /></a> -->
                                                    <div class="ativityLogs">
                                                        <ul class="mainactivity">
                                                            <li *ngFor="let item of activityDatabyDate">
                                                                <div class="activitylogttl">
                                                                    {{ item.activityDate}}
                                                                </div>
                                                                <div class="activitylogdtl">
                                                                    <ul>
                                                                        <li *ngFor="let item1 of item.DatewiseActivity">
                                                                            <!-- <a *ngIf="item1.actionId == 6">
                                                                                {{item1.actionNote}}
                                                                            </a> -->
                                                                            <span class="" data-toggle="tooltip" title="" data-placement="left" data-original-title="Quick actions">
                                                                                 
                                                                                <!-- <i class="icon-2x text-dark-50 flaticon-multimedia"></i> -->
                                                                                <img [src]="appRootUrl() + 'assets/common/images/icon_mail.svg'" alt="" class="width25" />
                                                                            
                                                                            </span>
                                                                            <!-- <span class="badgelead badgeboxsms"><i class="icon-2x text-dark-50 flaticon2-sms"></i></span>
                                                                            <span class="badgelead badgeboxcomment"><i class="icon-2x text-dark-50 flaticon2-checking"></i></span> 
                                                                            <span class="badgelead badgeboxreminder"><i class="icon-2x text-dark-50 flaticon2-bell"></i></span> 
                                                                            <span class="badgelead badgeboxmodified"><i class="icon-2x text-dark-50 flaticon2-box-1"></i></span>   -->


                                                                            {{item1.actionNote}}



                                                                            <!-- <a *ngIf="item1.actionId != 6 || item1.actionId != 7 || item1.actionId != 8 || item1.actionId != 9">
                                                                                {{item1.actionNote}}
                                                                            </a> -->
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </tab>
                                        <!-------------------- end Activitylog tab -->
                                    </tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <addActivityModal #addActivityModal (modalSave)="addActivitySuccess()"></addActivityModal>
    </div>
</div>