<div bsModal #duplicateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="duplicateModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("DuplicateRecord")}} - {{DupCount}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray ">

                <div class="duplicateleaddetail">
                    <div class="row modal-white-box" *ngFor="let item of item">
                        <div class="col-6" >
                            
                        </div>
                        <div class="col-6" >
                            <div class="duplicaterecord row align-items-center justify-content-end">
                                <button type="button" class="btn btn-danger btn-sm" (click)="delete(item.id)"><i class="las la-trash"></i> </button>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">{{l("CopanyName")}}</label>
                                <div class="col-lg-7" style="font-weight: 600;">{{ item.companyName }}</div>
                            </div>
                        </div>
                        <div class="col-6  ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">{{l("Email")}}</label>
                                <div class="col-lg-5"><span class="badge badge-danger emailtext email_lowercase" style="min-width:auto !important; max-width: none;font-weight: 600;">{{ item.email }}</span></div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">{{l("Phone")}}</label>
                                <div class="col-lg-7" style="font-weight: 600;">{{ item.phone }}</div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">{{l("Mobile")}}</label>
                                <div class="col-lg-7" ><span class="badge badge-danger" style="min-width:auto !important; max-width: none;font-weight: 600;">{{ item.mobile }}</span></div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">{{l("Address")}}</label>
                                <div class="col-lg-7" style="font-weight: 600;">{{ item.address | titlecase}} {{ item.suburb | titlecase}}, {{ item.state | titlecase }} - {{ item.postCode }}</div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">Current Owner</label>
                                <div class="col-lg-7" style="font-weight: 600;">{{item.currentAssignUserName}}</div>
                            </div>
                        </div>
                        <!-- <div class="col-6 ">
                        <div class="duplicaterecord">
                            <h6>{{l("Requirements")}}</h6>
                            <span>{{ item.requirements }}</span>
                        </div>
                    </div> -->
                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">{{l("LeadSource")}}</label>
                                <div class="col-lg-7" style="font-weight: 600;" ><span > {{item.leadSource}}</span></div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">{{l("LeadStatus")}}</label>
                                <div class="col-lg-7" style="font-weight: 600;">{{item.leadStatus}}</div>
                            </div>
                        </div>

                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">Lead Created By</label>
                                <div class="col-lg-7" style="font-weight: 600;">{{item.createdByName}}</div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">Lead Created On</label>
                                <div class="col-lg-7" ><span class="badge badge-secondary" style="min-width:auto !important; max-width: none;font-weight: 600;">{{item.creationTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</span></div>
                            </div>
                        </div>

                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">Last Follow-up Date</label>
                                <div class="col-lg-7" style="font-weight: 600;">{{item.lastFollowupDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">Description</label>
                                <div class="col-lg-7" style="font-weight: 600;">{{item.description}}</div>
                            </div>
                        </div>


                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">Project No</label>
                                <div class="col-lg-7" style="font-weight: 600;"><span class="badge badge-danger emailtext email_lowercase" style="min-width:auto !important; max-width: none; text-transform: uppercase !important;">{{item.projectNo}}</span></div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">Project Status</label>
                                <div class="col-lg-7" style="font-weight: 600;"><span class="badge badge-danger emailtext email_lowercase" style="min-width:auto !important; max-width: none; text-transform: uppercase !important;">{{item.projectStatus}}</span></div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">Project Open Date</label>
                                <div class="col-lg-7" style="font-weight: 600;">{{item.projectOpenDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</div>
                            </div>
                        </div>
                        <div class="col-6 ">
                            <div class="duplicaterecord row align-items-center">
                                <label class="col-lg-5">Last Quote Date</label>
                                <div class="col-lg-7" style="font-weight: 600;">{{item.lastQuoteDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                        class="las la-times-circle"></i> {{l("Cancel")}}</button>
            </div>
        </div>
    </div>
</div>