<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main justify-content-between full-width-mob">
                    <h3 class="kt-subheader__title">
                        <span>{{l("JobBooking")}}</span>
                        <span class="total-records-count">
                            ({{(primengTableHelper.totalRecordsCount)}})
                        </span>
                    </h3>
                    <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                </div>
                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li>
                                    <button type="button" (click)="getJobs();RereshLog();" class="btn_refresh"></button>
                                </li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [hidden]="!isGrantedAny('Pages.JobBooking.Export')">
                                            <!-- <i class="far fa-file-excel"></i> -->
                                            <!-- {{"ExcelOperations" | localize}} -->
                                            Export
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" href="javascript:;" [hidden]="!isGrantedAny('Pages.JobBooking.Export')">
                                                <i class="las la-file-excel"></i> Excel
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;">
                                                <i class="las la-file-csv"></i> CSV
                                            </a>
                                            <!-- <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="javascript:;">
                                                PDF
                                            </a> -->
                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="organizationUnit" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getJobs();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" (change)='getJobs();addSearchLog("Filter State");' [(ngModel)]="stateFilter" name="stateFilter">
                                                <option value="">{{l("SelectAState")}}</option>
                                                <option *ngFor="let item of allStates" value="{{item.displayName}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" [(ngModel)]="areaNameFilter" (change)='getJobs();addSearchLog("Filter Area");' name="areaNameFilter">
                                                <option value="">{{l("SelectArea")}}</option>
                                                <option value="Metro">{{l("Metro")}}</option>
                                                <option value="Regional">{{l("Regional")}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown">
                                            <select class="form-control" name="status" id="status" [(ngModel)]="status" (change)='getJobs();addSearchLog("Filter Job Status");'>
                                                <option value="0">{{l("JobStatus")}}</option>
                                                <option value="4">{{l("depositereceived")}}</option>
                                                <option value="5">{{l("active")}}</option>
                                                <option value="6">{{l("JobBook")}}</option>
                                                <option value="3">{{l("OnHold")}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">JobNumber</option>
                                                <option value="LotNumber">LotNumber</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                                <option value="Phone">Phone</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" class="form-control" [ngClass]="{pl50: filterName == 'JobNumber' }" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getJobs()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter"><i class="las la-filter"></i></a>
                                        </div>

                                        <!-- <div  *ngIf="!show" class="kt-advancefilterbox"> -->
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>Advance Filters </h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">

                                                    <ul>
                                                        <li class="fullwidth">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" id="" name="steetAddressFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" placeholder="Street Address" [(ngModel)]="steetAddressFilter">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="housetypeId" name="housetypeId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value=0>Select HouseType</option>
                                                                    <option *ngFor="let item of jobHouseTypes"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="rooftypeid" name="rooftypeid" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value=0>Select RoofType</option>
                                                                    <option *ngFor="let item of jobRoofTypes"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group">
                                                                <select name="jobTypeId" [(ngModel)]="jobTypeId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" class="form-control" id="jobTypeId">
                                                                    <option value="0">{{l("Select Type")}}</option>
                                                                    <option *ngFor="let item of jobTypes"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="panelmodel" id="panelmodel" [suggestions]="panelSuggestions" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" (completeMethod)="filterPanelModel($event)" [minlength]="2" placeholder="Enter PanelModel" #suburbInput="ngModel" name="panelmodel"
                                                                    inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <p-autoComplete [(ngModel)]="invertmodel" id="invertmodel" [suggestions]="invertSuggestions" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" (completeMethod)="filterInvertModel($event)" [minlength]="2" placeholder="Enter InvertModel" #suburbInput="ngModel" name="invertmodel"
                                                                    inputStyleClass="form-control" styleClass="width-percent-100">
                                                                </p-autoComplete>
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" id="postalcodefrom" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="postalcodefrom" [(ngModel)]="postalcodefrom" placeholder="PostCodeFrom">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <input type="text" class="form-control" id="postalcodeTo" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="postalcode" [(ngModel)]="postalcodeTo" placeholder="PostCodeTo">
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="paymenttypeid" [(ngModel)]="paymenttypeid" class="form-control" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value=0>Select PaymentMethod</option>
                                                                    <option *ngFor="let item of jobPaymentOptions"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateFilterType" name="dateFilterType">
                                                                    <option value="All">All</option>
                                                                    <option value="Active">Active</option>
                                                                    <option value="DepositeReceived">DepositeReceived
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li></li>


                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getJobs();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                Search</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile margintop0">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.JobBooking.EnableCopyPaste' | permission)}">
                        <div class="primeng-datatable-container myleadtable nobulebox_table_scrool" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <!-- <p-table #dataTable (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%" [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center p-frozen-column">
                                            {{l('Actions')}}
                                        </th>
                                        <th style="width:140px; left:95px !important;" pSortableColumn="JobNumber" class="p-frozen-column">
                                            {{l('ProjNo')}}
                                            <p-sortIcon field="JobNumber"></p-sortIcon>
                                        </th>
                                        <th style="width: 155px" pSortableColumn="JobTypeFk.Name" [hidden]="!ExpandedView">
                                            {{l('JobType')}}
                                            <p-sortIcon field="JobTypeName"></p-sortIcon>
                                        </th>
                                        <th style="width: 170px" pSortableColumn="JobStatusFk.Name" [hidden]="!ExpandedView">
                                            {{l('JobStatus')}}
                                            <p-sortIcon field="JobStatusName"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" [hidden]="!ExpandedView">
                                            {{l('CompanyName')}}
                                        </th>
                                        <th style="width: 200px" pSortableColumn="Address" [hidden]="!ExpandedView">
                                            {{l('Address')}}
                                            <p-sortIcon field="Address"></p-sortIcon>
                                        </th>
                                        <th style="width: 150px" pSortableColumn="Suburb" [hidden]="!ExpandedView">
                                            {{l('Suburb')}}
                                            <p-sortIcon field="Suburb"></p-sortIcon>
                                        </th>
                                        <th style="width:100px" pSortableColumn="State" [hidden]="!ExpandedView">
                                            {{l('State')}}
                                            <p-sortIcon field="State"></p-sortIcon>
                                        </th>
                                        <th style="width: 120px" pSortableColumn="PostalCode" [hidden]="!ExpandedView">
                                            {{l('PostCode')}}
                                            <p-sortIcon field="PostalCode"></p-sortIcon>
                                        </th>
                                        <th style="width: 120px" [hidden]="!ExpandedView">
                                            {{l('Distance')}}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="ElecDistributorFk.Name" [hidden]="!ExpandedView">
                                            {{l('ElecDist')}}
                                            <p-sortIcon field="ElecDistributorName"></p-sortIcon>
                                        </th>
                                        <th style="width:130px" pSortableColumn="DistAppliedDate" [hidden]="!ExpandedView">
                                            {{l('DistAppDate')}}
                                            <p-sortIcon field="DistAppliedDate"></p-sortIcon>
                                        </th>
                                        <th style="width:130px" [hidden]="!ExpandedView">
                                            {{l('DistExpDate')}}
                                        </th>
                                        <th style="width:190px" pSortableColumn="ApplicationRefNo" [hidden]="!ExpandedView">
                                            {{l('AppRefNo')}}
                                            <p-sortIcon field="ApplicationRefNo"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Reminder')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.job.leadId}">
                                        <td class="actionwidth p-frozen-column" style="text-align: center;">
                                            <!-- [hidden]="!isGrantedAny('Pages.Jobs.Edit', 'Pages.Jobs.Delete')"> -->
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li>
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.job.id)">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;" [hidden]="!isGrantedAny('Pages.JobBooking.ViewJobDetail')" [routerLink]="['/app/main/installation/installation/pendinginstallationdetail']" target="_blank" [queryParams]="{id: record.job.leadId}">
                                                            <i class="las la-info-circle"></i> {{l('JobDetail')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.JobBooking.SMS')">
                                                        <a (click)="jobBookingsmsemail.show(record.job.leadId,1,12,'Job Booking')">
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.JobBooking.Email')">
                                                        <a (click)="jobBookingsmsemail.show(record.job.leadId,2,12,'Job Booking')">
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.JobBooking.Comment')">
                                                        <a (click)="commentModel.show(record.job.leadId,12,0,'Job Booking')">
                                                            <!-- <a (click)="addActivityModal.show(record.job.leadId,24,0,12)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.JobBooking.ToDo')">
                                                        <a (click)="todoModal.show(record.job.leadId,12,0,'Job Booking')">
                                                            <!-- <a (click)="addActivityModal.show(record.job.leadId,25,0,12)"> -->
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.JobBooking.Reminder')">
                                                        <a (click)="ReminderModal.show(record.job.leadId,12,0,'Job Booking')">
                                                            <!-- <a (click)="addActivityModal.show(record.job.leadId,8,0,12)"> -->
                                                            <i class="las la-stopwatch"></i> Reminder
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.JobBooking.Notify')">
                                                        <a (click)="notifyModel.show(record.job.leadId,12,0,'Job Booking')">
                                                            <!-- <a (click)="addActivityModal.show(record.job.leadId,9,0,12)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:140px; left:95px !important;" class="p-frozen-column" (click)="navigateToLeadDetail(record.job.leadId);">
                                            {{record.job.jobNumber}}
                                        </td>
                                        <td style="width:155px" [hidden]="!ExpandedView">
                                            {{record.jobTypeName}}
                                        </td>
                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            {{record.jobStatusName}}
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.leadCompanyName}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.job.address" class="tooltipcnt">
                                                {{record.job.address | titlecase}}</span>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.job.suburb | titlecase}}
                                        </td>
                                        <td style="width:100px" [hidden]="!ExpandedView">
                                            {{record.job.state}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            {{record.job.postalCode}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            <span>
                                                {{record.warehouseDistance}}Km
                                            </span>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.elecDistributorName}}
                                        </td>
                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            {{record.job.distAppliedDate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td>
                                        <td style="width:130px" [hidden]="!ExpandedView">

                                        </td>
                                        <td style="width:190px" [hidden]="!ExpandedView">
                                            {{record.job.applicationRefNo}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.activityReminderTime | momentFormat:'DD-MM-YYYY HH:mm:ss'}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.activityDescription">{{record.activityDescription}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.activityComment">{{record.activityComment}}</span>
                                        </td>
                                        <!-- <td style="width:50px;">
                                                <div class="kt-checkbox-list">
                                                    <label for="{{record.job.id}}" class="kt-checkbox">
                                                        <input type="checkbox" id="{{record.job.id}}"
                                                            name="recordSource" [(ngModel)]="record.job.isSelected"
                                                            (change)="oncheckboxCheck()" />
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </td> -->

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getJobs($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal>
        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
        <jobNotesModal #jobNotesModal (modalSave)="reloadPage($event)"></jobNotesModal>
        <jobBookingsmsemail #jobBookingsmsemail (modalSave)="reloadPage($event)"></jobBookingsmsemail>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="reloadPage($event)"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="reloadPage($event)"></ReminderModal>
    </div>
</div>