<div bsModal #activeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="activeModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #jobActiveForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Approved / Reject / Cancel Request")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="mb-2">{{l("CancelRequestReason")}} : </div>
                        <div style="font-weight:600">{{item.job.jobCancelRequestReason}}</div>
                    </div>

                    <div class="modal-white-box">
                        <!-- <input type="radio" name="jobstatus" id="jobstatus" [(ngModel)]="jobstatus" value=1 (change)="OnChnage($event)"> Approved
                        <input type="radio" name="jobstatus" id="jobstatus" [(ngModel)]="jobstatus" value=2 (change)="OnChnage($event)"> Reject -->

                        <div class="radio-tile-group lg-radio pt-0 mb-4" style="justify-content: start;">
                            <div class="input-container">
                                <input type="radio" name="jobstatus" class="radio-button" id="jobstatus" [(ngModel)]="jobstatus" value=1 (change)="OnChnage($event)">
                                <div class="radio-tile">
                                    <div class="icon walk-icon">
                                        <i class="las la-thumbs-up"></i>
                                    </div>
                                    <label for="amtime1" class="radio-tile-label">Approved</label>
                                </div>
                            </div>

                            <div class="input-container">
                                <input type="radio" name="jobstatus" class="radio-button" id="jobstatus" [(ngModel)]="jobstatus" value=2 (change)="OnChnage($event)">
                                <div class="radio-tile">
                                    <div class="icon bike-icon">
                                        <i class="las la-thumbs-down"></i>
                                    </div>
                                    <label for="jobstatus" class="radio-tile-label">Reject</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group CheckJobStatusbox">
                            <div class="row">

                                <div class="row pl-4" [hidden]="!approved">
                                    <div class="form-group col-md-5">
                                        <label for="jobStatus">Job Cancel Reason</label>
                                        <select name="jobStatus" [(ngModel)]="item.job.jobCancelReasonId" class="form-control" required>
                                            <option value="">Select Cancel Reason</option>
                                            <option *ngFor="let item of cancelReasons" value="{{item.id}}">{{item.displayName}}</option>
                                          </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <div class="kt-checkbox-list" style="margin-top:38px;">
                                            <label for="IsRefund" class="kt-checkbox">
                                                <input type="checkbox" id="IsRefund" name="recordSource" [(ngModel)]="item.job.isRefund" />
                                                <span>&nbsp;</span>
                                                Refund Available?
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="updateJobStatus_jobCancelReason">{{l("Notes")}}</label>
                                        <input type="text" id="updateJobStatus_jobCancelReason" class="form-control" [(ngModel)]="item.job.jobCancelReason" style="width:550px;" name="jobCancelReason" required/>
                                    </div>

                                </div>
                                <div class="row pl-4" [hidden]="!reject">
                                    <div class="form-group col-md-12">
                                        <label for="updateJobStatus_jobCancelRejectReason">{{l("Notes")}}</label>
                                        <input type="text" id="updateJobStatus_jobCancelRejectReason" class="form-control" [(ngModel)]="item.job.jobCancelRejectReason" style="width:550px;" name="jobCancelRejectReason" required/>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="save()"><i class="fa fa-times"></i> {{l("Save")}}</button>
                </div>
            </form>
        </div>
    </div>
</div>