<div bsModal #activeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="activeModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #jobActiveForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("CheckJobStatus")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group CheckJobStatusbox">
                        <div class="d-flex justify-content-between">
                            <div class="w-300px list-box">
                                <div class="popup_titlebox"><span>Deposite Received</span></div>
                                <ul>
                                    <li *ngFor="let item of depositStatuses">
                                        <div>
                                            <span class="badge badge-success" *ngIf="item.isActive">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!item.isActive">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">{{ item.displayName }}</div>
                                    </li>
                                </ul>
                                <!-- <ul>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.houseTypeId">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.houseTypeId">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">House Type</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.elecDistributorId">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.elecDistributorId">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Elec Distributor</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.roofAngleId">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.roofAngleId">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Roof Angle</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.roofTypeId">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.roofTypeId">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Roof Type</div>
                                    </li>
                                    
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.quote">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.quote">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Quote</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.invoice">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.invoice">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Invoice</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.productDetail">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.productDetail">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Product Detail</div>
                                    </li>
                                    
                                </ul> -->

                            </div>
                            <!-- <div class="w-300px mx-3 list-box" *ngIf="jobStatus.houseTypeId && jobStatus.elecDistributorId && jobStatus.roofAngleId && jobStatus.roofTypeId && jobStatus.installerNotes && jobStatus.quote && jobStatus.invoice && jobStatus.productDetail"> -->
                            <div class="w-300px mx-3 list-box" >
                                <div class="popup_titlebox"><span>Application Tracker</span></div>
                                <ul>
                                    <li *ngFor="let item of applicationStatuses" > 
                                        <span class="badge badge-success" *ngIf="item.isActive">
                                            <i class="lar la-check-circle"></i>
                                        </span>
                                        <span class="badge badge-danger" *ngIf="!item.isActive">
                                            <i class="las la-ban"></i>
                                        </span>
                                        <div class="title">{{item.displayName}}</div>
                                    </li>
                                  
                                </ul>

                                <!-- <ul>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.meterPhadeIDs">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.meterPhadeIDs">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Meter Phase</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.nmiNumber">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.nmiNumber">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">NMI Number</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.peakMeterNos">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.peakMeterNos">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Peak Meter No</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.docList">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.docList">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Doc List</div>
                                    </li>
                                </ul> -->

                            </div>
                            <!-- <div class="w-300px list-box" *ngIf="jobStatus.houseTypeId && jobStatus.elecDistributorId && jobStatus.roofAngleId && jobStatus.roofTypeId && jobStatus.installerNotes && jobStatus.quote && jobStatus.invoice && jobStatus.productDetail && jobStatus.docList && jobStatus.peakMeterNos && jobStatus.nmiNumber && jobStatus.meterPhadeIDs"></div> -->
                            <div class="w-300px list-box">
                                <div class="popup_titlebox"><span>Active</span></div>
                                <ul>
                                    <li *ngFor="let item of activeStatuses"> 
                                        <span class="badge badge-success" *ngIf="item.isActive">
                                            <i class="lar la-check-circle"></i>
                                        </span>
                                        <span class="badge badge-danger" *ngIf="!item.isActive">
                                            <i class="las la-ban"></i>
                                        </span>
                                        <div class="title">{{item.displayName}}</div>
                                    </li>
                                </ul>
                                <!-- <ul>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.nmiNumber">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.nmiNumber">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">NMI Number</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.approvedReferenceNumber">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.approvedReferenceNumber">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Approved Reference Number</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.distApproved">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.distApproved">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Dist Approve Date</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.meterUpdgrade">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.meterUpdgrade">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Meter Upgrade</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.meterBoxPhoto">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.meterBoxPhoto">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Meter Box Photo</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.signedQuote">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.signedQuote">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Signed Quote</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.deposite">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.deposite">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Deposit</div>
                                    </li>
                                    <li [hidden]="!cash">
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.finance">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.finance">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Finance</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.elecRetailerId">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.elecRetailerId">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Elec Retailer Id</div>
                                    </li>
                                    <li>
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.peakMeterNos">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.peakMeterNos">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Peak Meter No</div>
                                    </li>
                                    <li *ngIf="jobStatus.state == 'VIC'">
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.expiryDate">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.expiryDate">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Expiry Date</div>
                                    </li>
                                    <li *ngIf="jobStatus.state == 'VIC' && jobStatus.vicRebate == 'With Rebate Install'">
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.solarRebateStatus">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.solarRebateStatus">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Solar Rebate Status</div>
                                    </li>
                                    <li *ngIf="jobStatus.paymentType && jobStatus.payementoptionid == 1">
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.paymentVerified">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.paymentVerified">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Payment Verified</div>
                                    </li>
                                    <li *ngIf="jobStatus.quote">
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.quoteSigned">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.quoteSigned">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Last Quote Signed</div>
                                    </li>
                                    <li *ngIf="jobStatus.exportControlForm">
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.exportControlFormSigned">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.exportControlFormSigned">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Export Control Form Signed</div>
                                    </li>
                                    <li *ngIf="jobStatus.feedInTariff">
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.feedInTariffSigned">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.feedInTariffSigned">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Feed In Tariff Signed</div>
                                    </li>
                                    <li *ngIf="jobStatus.shadingDeclaration">
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.shadingDeclarationSigned">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.shadingDeclarationSigned">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Shading Declaration Signed</div>
                                    </li>
                                    <li *ngIf="jobStatus.efficiencyDeclaration">
                                        <div>
                                            <span class="badge badge-success" *ngIf="jobStatus.efficiencyDeclarationSigned">
                                                <i class="lar la-check-circle"></i>
                                            </span>
                                            <span class="badge badge-danger" *ngIf="!jobStatus.efficiencyDeclarationSigned">
                                                <i class="las la-ban"></i>
                                            </span>
                                        </div>
                                        <div class="title">Efficiency Declaration Signed</div>
                                    </li>
                                </ul> -->

                            </div>


                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>