<div bsModal #documentrequestlinkModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="documentrequestlinkModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l('DocumentRequest')}} - {{jobNumber}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box row">
                        <div class="col-md-6">
                            <div class="form-group form-icon">
                            <label>Document Type</label>
                            <select name="Invoice.userId" [(ngModel)]="documentTypeId" class="form-control" required>
                                <option value="">Select Document Type</option>
                                <option *ngFor="let item of DocumentTypes" value="{{item.id}}">{{item.documentTitle}}</option>
                            </select>
                            <span class="icon-box"><i class="las la-camera"></i></span>
                            </div>
                        </div>
                        <div class="col-md-6" style="margin-top: 25px;">
                            <button type="button" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" (click)="save('SMS')" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="lab la-telegram-plane"></i><span>Send SMS</span></button>
                            <button type="button" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" (click)="save('Email')" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="lab la-telegram-plane"></i><span>Send Email</span></button>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{("Cancel")}}</button>
                    <button type="button" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" (click)="save('SMS')" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i><span>Send SMS</span></button>
                    <button type="button" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" (click)="save('Email')" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i><span>Send Email</span></button>
                </div> -->
            </form>
        </div>
    </div>
</div>