<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #jobInvoiceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="jobInvoice.id">{{l("EditJobInvoice")}}</span>
                        <span *ngIf="!jobInvoice.id">{{l("CreateNewJobInvoice")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="brd_round">
                        <div class="modal-white-box">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <label for="InvoicePayDate1">Invoice Pay Date</label>
                                    <input id="InvoicePayDate1" type="text" name="InvoicePayDate1" class="form-control daterangebox" bsDatepicker datePickerMomentModifier placeholder="Receive Date" [(date)]="jobInvoice.invoicePayDate" 
                                    required [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" [disabled]="role != 'Admin'"
                                    />
                                </div>
                                <div class="form-group col-md-4 form-icon">
                                    <label for="invoicePayTotal">Invoice Pay Total</label>
                                    <input type="number" (change)="calculateGST()" required id="invoicePayTotal" class="form-control" [(ngModel)]="jobInvoice.invoicePayTotal" name="invoicePayTotal" />
                                    <span class="icon-box" style="left:9px; top:30px; height:37px;"><i class="las la-dollar-sign"></i></span>
                                </div>
                                <div class="form-group col-md-4 form-icon">
                                    <label for="invoicePayGST">Invoice Pay GST</label>
                                    <input type="text" id="invoicePayGST" readonly required class="form-control" [(ngModel)]="jobInvoice.invoicePayGST" name="invoicePayGST" />
                                    <span class="icon-box" style="left:9px; top:30px; height:37px;"><i class="las la-dollar-sign"></i></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6 form-icon">
                                    <label for="ccSurcharge">Payment Method</label>
                                    <select name="jobInvoice.invoicePaymentMethodId" required [(ngModel)]="jobInvoice.invoicePaymentMethodId" class="form-control">
                                        <option value="">{{l("PaymentType")}}</option>
                                        <option *ngFor="let item of allInvoicePaymentMethods" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box" style="left:9px; top:30px; height:37px;"><i class="las la-wallet"></i></span>
                                </div>
                                <div class="form-group col-md-6 form-icon">
                                    <label for="ccSurcharge">Receipt Number</label>
                                    <input type="text" id="ReceiptNumber" [required]="jobInvoice.invoicePaymentMethodId == 1 || jobInvoice.invoicePaymentMethodId == 3" required class="form-control" [(ngModel)]="jobInvoice.receiptNumber" name="ReceiptNumber" />
                                    <span class="icon-box" style="left:9px; top:30px; height:37px;"><i class="las la-receipt"></i></span>
                                </div>
                                <div class="form-group col-md-12 form-icon">
                                    <label for="TransactionCode">Transaction Code</label>
                                    <input type="text" id="TransactionCode" class="form-control" [(ngModel)]="jobInvoice.transactionCode" name="TransactionCode" />
                                    <span class="icon-box" style="left:9px; top:31px; height:37px;"><i class="las la-hashtag"></i></span>
                                </div>
                                <div class="form-group col-md-6 form-icon">
                                    <label for="ccSurcharge">Surcharge</label>
                                    <input type="text" id="ccSurcharge" class="form-control" [(ngModel)]="jobInvoice.ccSurcharge" name="ccSurcharge" />
                                    <span class="icon-box" style="left:9px; top:30px; height:37px;"><i class="las la-dollar-sign"></i></span>
                                </div>
                                <div class="form-group col-md-6 form-icon">
                                    <label for="ccSurcharge">Payment Type</label>
                                    <select name="jobInvoice.invoicePaymentStatusId" required [(ngModel)]="jobInvoice.invoicePaymentStatusId" class="form-control">
                                        <option value="">{{l("PaymentStatusType")}}</option>
                                        <option *ngFor="let item of allInvoicePaymentStatus" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                    <span class="icon-box" style="left:9px; top:30px; height:37px;"><i class="las la-university"></i></span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="PaymentNote">Payment Note</label>
                                    <textarea id="PaymentNote" class="form-control" required [(ngModel)]="jobInvoice.paymentNote" name="PaymentNote"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i
                            class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!jobInvoiceForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>