<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #jobpicklist="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("EditPickList")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <!-- <div class="col-md-4 form-group form-icon">
                                <label>Select Installer :</label>
                                <select class="form-control " required [(ngModel)]="picklistinstallerId" name="picklistinstaller" style="padding-left:40px !important;">
                                    <option value="0">Select Installer</option>
                                    <option *ngFor="let item of picklistinstallationList" value="{{item.id}}">
                                        {{item.displayName}}
                                    </option>
                                </select>
                                <span class="icon-box" style="top:30px !important; left:8px !important;"><i class="las la-user-cog"></i></span>
                            </div> -->
                            <div class="col-md-4">
                                <div class="form-group form-icon">
                                    <label>{{l("Installer")}}</label>
                                    <p-autoComplete id="installerIds" [(ngModel)]="installerName" name="installerIds" required [suggestions]="installerSearchResult" (completeMethod)="filterInstaller($event)" [minLength]="1" 
                                    inputStyleClass="form-control" styleClass="width-percent-100" (onSelect)="selectInstaller($event)" >
                                    <ng-template let-result pTemplate="item">
                                            <div class="result-item">
                                                <div class="d-flex align-items-center mb-1">
                                                   <i class="las la-user-cog fs-16 mr-1"></i> {{result.displayName}}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-autoComplete>
                                    <span class="icon-box"><i class="las la-user-cog"></i></span>
                                </div>
                            </div>
                            <div class="col-md-4 form-group form-icon">
                                <label>Warehouse Location :</label>
                                <select class="form-control" required name="picklistWarehouse" [(ngModel)]="picklistwarehouseLocation" style="padding-left:40px !important;">
                                    <option value="0">{{l("WarehouseLocation")}}</option>
                                    <option *ngFor="let item of warehouselocationlist" value="{{item.id}}">
                                        {{item.displayName}}</option>
                                </select>
                                <span class="icon-box" style="top:30px !important; left:8px !important;"><i class="las la-warehouse"></i></span>
                            </div>
                            <div class="col-md-4 form-group form-icon">
                                <label>Category :</label>
                                <select class="form-control " required [(ngModel)]="stockWithId" name="stockWithId" style="padding-left:40px !important;">
                                    <option value="0">{{l("Category")}}</option>
                                    <option value="1">With Installer</option>
                                    <option value="2">With Customer</option>
                                    <option value="3">With Transport</option>
                                </select>
                                <span class="icon-box" style="top:30px !important; left:8px !important;"><i class="las la-users-cog"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                        <div class="row mb-2">
                            <div class="col-md-3">Product Type :</div>
                            <div class="col-md-4">Select Item :</div>
                            <div class="col-md-2">Qty :</div>
                            <div class="col-md-2">Stock :</div>
                            <div class="col-md-1"></div>
                        </div>
                        <div *ngFor="let item of PicklistProducts; let i = index">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <select [(ngModel)]="item.productTypeId" #picklistType="ngModel" name="productTypeId{{i}}" class="form-control" [disabled]="item.scanIteamCount > 0">
                                            <option [ngValue]="undefined">{{l("PickProductType")}}
                                            </option>
                                            <option *ngFor="let ptitem of productTypes" value="{{ptitem.id}}">
                                                {{ptitem.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <p-autoComplete [(ngModel)]="item.item" id="item" name="jp{{i}}" #jpitem="ngModel" required [suggestions]="productItemSuggestions" [disabled]="item.scanIteamCount > 0" (completeMethod)="filterPicklistProductIteams($event , i)" aria-placeholder="Search Item"
                                            (onSelect)="selectPicklistProductItem($event, i)" [minLength]="5" inputStyleClass="form-control" styleClass="width-percent-100">
                                            <ng-template let-result pTemplate="item">
                                                <div class="result-item">
                                                    {{result.productItem}}
                                                </div>
                                            </ng-template>
                                        </p-autoComplete>
                                        <validation-messages [formCtrl]="jpitem">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" name="jpqty{{i}}" required #pickqty="ngModel" [disabled]="item.scanIteamCount > 0" [(ngModel)]="item.qty" class="form-control" placeholder="Qty" (change)="checkStockOnHandWithQty(i, item.qty, item.stock)" />
                                        <validation-messages [formCtrl]="pickqty">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" name="jpstock{{i}}" required #stock="ngModel" disabled [(ngModel)]="item.stock" class="form-control" placeholder="stock"  />
                                        <validation-messages [formCtrl]="stock">
                                        </validation-messages>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <!-- <div class="form-group qty_btnremove">
                                        <a (click)="removePicklistProduct(item)" *ngIf="item.scanIteamCount == 0" class="removebtn">
                                            <img style="width: 30px; height: 38px;" [src]="appRootUrl() + 'assets/common/images/icon_delete.svg'" alt="" />
                                        </a>
                                    </div> -->
                                    <div class="d-flex align-items-center p-1">
                                        <div class="action-btn mr-1" *ngIf="!(item.scanIteamCount > 0)">
                                            <a (click)="removePicklistProduct(item)" class=""><i class="las la-trash text-danger"></i></a>
                                        </div>
                                        <div class="action-btn addbtn" *ngIf="PicklistProducts.length == (i+1)">
                                            <a (click)="addPicklistProduct()"><i class="las la-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- <div class="addmorebtn pl90">
                            <a (click)="addPicklistProduct()">+ Add more item</a>
                        </div> -->
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">
                        <i class="la la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" [disabled]="!jobpicklist.form.valid">
                        <i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>