    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">
                        {{l("JobDetail")}} 
                    </h3>
                </div>
            </div>
            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <!-- <div class="kt-buttonarea ">
                        <a class="btn btn-outline-primary btnadd btnback"  (click)="cancel()"> <img src="../../../../assets/common/images/arrow_prev_blue.svg"/>  Back</a>
                    </div> -->
                </div>
            </div>
        </div>
        
      <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid'">
          <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body leaddetailtabs padzero jobdetailtabs">              
                <jobCreateOrEdit #jobCreateOrEdit [LeadId]="SelectedLeadId"></jobCreateOrEdit>
            </div>
            <div class="kt-portlet__foot">
                  
            </div>
          </div>
      </div>
    </div>
  