<div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("AddNotes")}} - {{leadCompanyName}} - {{this.item.job.jobNumber}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-4">
                                <label for="JobRefund_Notes">{{l("FirstDepositRecivedDate")}}</label>
                                <div class="form-group m-form__group">
                                    <div class="form-group maxwdth15">
                                        <input id="firstDepositDate" type="text" name="firstDepositDatePicker" class="form-control daterangebox" placeholder="Select First Deposit Date" bsDatepicker datePickerMomentModifier [(date)]="item.job.firstDepositDate" [disabled]="item.job.firstDepositDate != null && this.appSession.user.userName != 'admin'"
                                            [bsConfig]="{ adaptivePosition: true,customTodayClass: 'today' }" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="showDepReceived">
                                <label for="JobRefund_Notes">{{l("DepositRecivedDate")}}</label>
                                <div class="form-group m-form__group">
                                    <div class="form-group maxwdth15">
                                        <input id="depositeRecivedDate" type="text" name="depositeRecivedDatePicker" class="form-control daterangebox" placeholder="Select Deposit Received Date" bsDatepicker datePickerMomentModifier [(date)]="item.job.depositeRecceivedDate" [disabled]="item.job.depositeRecceivedDate != null && this.appSession.user.userName != 'admin'"
                                            [bsConfig]="{ adaptivePosition: true,customTodayClass: 'today' }"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" *ngIf="showActive">
                                <div class="form-group m-form__group">
                                    <div class="form-group maxwdth15">
                                        <label for="JobRefund_Notes">{{l("ActiveDates")}}</label>
                                        <input id="activeDate" type="text" name="activeDatePicker" class="form-control daterangebox" placeholder="Select Active Date" bsDatepicker [bsConfig]="{ customTodayClass: 'today',adaptivePosition: true }" datePickerMomentModifier [disabled]="item.job.activeDate != null && this.appSession.user.userName != 'admin'"
                                            [(date)]="item.job.activeDate" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{("Cancel")}}</button>
                   
                    <button type="submit" class="btn btn-primary blue" [disabled]="saveBtn" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i>
                        <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>