<style>
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
        .myleadsReport.leadtracker.job-page .leftpart ul li {
            width: 48%;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="d-flex align-items-center">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>{{l("JobActiveRequests")}}</span>
                            <span class="total-records-count">
                                ({{(totalActiveData)}})
                            </span>
                        </h3>
                        <a href="javascript:;" (click)="change1()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                    </div>
                    <!-- <div class="dropdown help-dropdown" dropdown>
                        <a class="dropdown-toggle fs-30" dropdownToggle>
                            <i class="las la-question-circle"></i>
                        </a>
                        <ul class="dropdown-menu helpmenudorpdown" *dropdownMenu>
                            <li>NMI Number</li>
                            <li>Approved Reference Number</li>
                            <li>Meter Upgrade</li>
                            <li>Meter Box Photo</li>
                            <li>Deposite Received</li>
                            <li>Signed Quote</li>
                            <li> If Finance Option Selected Finance Document Verified</li>
                        </ul>
                    </div> -->
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getJobs();RereshLog();"></button></li>

                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{l("Export")}}
                                            <img src="../../../assets/common/images/icon_downarrow.svg" />

                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:; " *ngIf="'Pages.Tracker.JobActiveTracker.Export' | permission">
                                                <i class="las la-file-excel"></i>{{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:; " *ngIf="'Pages.Tracker.JobActiveTracker.Export' | permission">
                                                <i class="las la-file-csv"></i>{{l("ExportCSV")}}
                                            </a>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton3" (click)="exportToExcelCheckActive(1)" href="javascript:; " *ngIf="'Pages.Tracker.JobActiveTracker.Export.CheckActive' | permission">
                                                <i class="las la-file-csv"></i>Check Active
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getJobs();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group selectdropdown m-form__group">
                                            <select name="applicationstatus" [(ngModel)]="applicationstatus" class="form-control" (change)="getJobs();addSearchLog('Filter Application Status');">
                                                <option value="0">{{l("All")}}</option>
                                                <!-- <option value="1">{{l("Yes")}}</option>
                                                <option value="2">{{l("No")}}</option> -->
                                                <option value="3">Awaiting Deposite Received</option>
                                                <option value="2">Awaiting Active</option>
                                                <option value="1">Active Ready</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group m-form__group jobmultipleselect selectdropdown wdth140">
                                        <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select Job Status" [(ngModel)]="jobStatusIDFilter" name="jobStatusIDFilter">
                                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                            </ng-template>
                                        </ng-select>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox apptrackeradv">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" class="form-control" [ngClass]="{pl50: filterName == 'JobNumber' }" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getJobs()"><i class="fas fa-times-circle"></i></a>
                                            <input type="button" class="btnsearch" (click)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText);" />
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>

                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform">

                                                <form class="kt-form" autocomplete="off">

                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="paymentid" [(ngModel)]="paymentid" class="form-control" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value="0">Select Payment Method</option>
                                                                    <option *ngFor="let item of jobPaymentOptions"
                                                                        value="{{item.Name}}">
                                                                        {{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="state" [(ngModel)]="state" class="form-control" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                    <option value="">Select State</option>
                                                                    <option *ngFor="let item of allState" value="{{item.displayName}}">{{item.displayName}}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li *ngIf="role != 'Sales Rep'">
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="salesRepId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="salesRepId">
                                                                    <option value="0">{{l("SelectSalesRep")}}</option>
                                                                    <option *ngFor="let item of filteredReps"
                                                                        value="{{item.id}}">
                                                                        {{item.displayName}}</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                        <li class="fullwidth">
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateType" name="dateType">
                                                                    <option value="">Select Date</option>
                                                                    <option value="DepositeReceivedDate">{{l("DepositeReceivedDate")}}</option>
                                                                    <option value="ActiveDate">{{l("ActiveDate")}}</option>
                                                                    <option value="FirstDespoitDate">{{l("FirstDespoitDate")}}</option>
                                                                </select>
                                                            </div>
                                                        </li>

                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePicker" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePicker" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>

                                                        <li class="fullwidth text-right">
                                                            <button class="btn btn_red btn-sm marright10 ng-tns-c458-53" (click)="clear()">{{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getJobs();addSearchLog('Advanced Filter');"><i
                                                                    class="fa fa-search ng-tns-c458-53"></i>
                                                                {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>

            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{totalActiveData}}</span><label>{{l("Total")}}</label></li>
                    <li><span>{{totalActiveDatanotAwaitingData}}</span><label>Awaiting Deposite Received</label></li>
                    <li><span>{{totalActiveDatanotVerifyData}}</span><label>Awaiting Active</label></li>
                    <li><span>{{totalActiveVerifyData}}</span><label>{{l("active")}}</label></li>
                </ul>
            </div>

        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.Tracker.JobActiveTracker.EnableCopyPaste' | permission)}">
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                            </button>
                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">
                                <!-- <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" ScrollWidth="100%"
                                [responsive]="primengTableHelper.isResponsive" [resizableColumns]="primengTableHelper.resizableColumns" [scrollHeight]="screenHeight - testHeight +'px'"> -->
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center" [hidden]="!isGrantedAny('Pages.Tracker.JobActiveTracker.AddDetails', 'Pages.Tracker.JobActiveTracker.Notify','Pages.Tracker.JobActiveTracker.SMS','Pages.Tracker.JobActiveTracker.Email','Pages.Tracker.JobActiveTracker.QuickView')">
                                            {{l('Actions')}}</th>
                                        <th style="width:120px" pSortableColumn="jobNumber">
                                            {{l('ProjNo')}}
                                            <p-sortIcon field="jobNumber"></p-sortIcon>
                                        </th>
                                        <th style="width:100px" [hidden]="!ExpandedView">
                                            {{l('Awaiting')}}
                                        </th>
                                        <th style="width: 150px" pSortableColumn="JobTypeFk.Name" [hidden]="!ExpandedView">
                                            {{l('JobType')}}
                                            <p-sortIcon field="jobTypeName"></p-sortIcon>
                                        </th>
                                        <th style="width:200px" pSortableColumn="JobStatusFk.Name" [hidden]="!ExpandedView">
                                            {{l('JobStatus')}}
                                            <p-sortIcon field="jobStatusName"></p-sortIcon>
                                        </th>
                                        <th style="width:200px" pSortableColumn="leadFk.companyName" [hidden]="!ExpandedView">
                                            {{l('CompanyName')}}
                                            <p-sortIcon field="leadCompanyName"></p-sortIcon>
                                        </th>
                                        <th style="width: 120px" pSortableColumn="jobActiveSmsSend" [hidden]="!ExpandedView">
                                            {{l('SmsSend')}}
                                            <p-sortIcon field="jobActiveSmsSend"></p-sortIcon>
                                        </th>
                                        <th style="width:120px" pSortableColumn="jobActiveEmailSend" [hidden]="!ExpandedView">
                                            {{l('EmailSend')}}
                                            <p-sortIcon field="jobActiveEmailSend"></p-sortIcon>
                                        </th>
                                        <th style="width:180px" [hidden]="!ExpandedView">
                                            {{l('CurrentLeadOwaner')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Description')}}
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{'leadSelection': SelectedLeadId === record.leadId}">
                                        <td class="actionwidth" style="text-align: center; width:95px;" [hidden]="!isGrantedAny('Pages.Tracker.JobActiveTracker.AddDetails', 'Pages.Tracker.JobActiveTracker.Notify','Pages.Tracker.JobActiveTracker.SMS','Pages.Tracker.JobActiveTracker.Email','Pages.Tracker.JobActiveTracker.QuickView')">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                    <i class="flaticon-more"></i><span class="caret"></span>
                                                    {{l("Actions")}}
                                                </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.JobActiveTracker.QuickView')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.id,0,'Referral Tracker')">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.JobActiveTracker.AddDetails') && applicationstatus != 0">
                                                        <!-- <a href="javascript:;" (click)="addDetails(record.id,applicationstatus)"> -->
                                                        <a href="javascript:;" (click)="jobActiveModel.show(record.id,'Referral Tracker')">
                                                            <i class="las la-comment-medical"></i> {{l('AddDetails')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.JobActiveTracker.Notify')">
                                                        <a (click)="notifyModel.show(record.leadId,5,0,'Job Active Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,9,0,5)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.JobActiveTracker.Reminder')">
                                                        <a (click)="ReminderModal.show(record.leadId,5,0,'Job Active Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,8,0,5)"> -->
                                                            <i class="las la-stopwatch"></i> Reminder
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.JobActiveTracker.Comment')">
                                                        <a (click)="commentModel.show(record.leadId,5,0,'Job Active Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,24,0,5)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.JobActiveTracker.ToDo')">
                                                        <a (click)="todoModal.show(record.leadId,5,0,'Job Active Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,25,0,5)"> -->
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.JobActiveTracker.SMS')">
                                                        <a (click)="smsModel.show(record.leadId,5,0,'Job Active Tracker')">
                                                            <!-- <a (click)="addjobactiveSmsEmailModal.show(record.leadId,1,5)"> -->
                                                            <i class="las la-sms"></i> {{l('SMS')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.JobActiveTracker.Email')">
                                                        <a (click)="emailModel.show(record.leadId,5,0,0,'Job Active Tracker')">
                                                            <!-- <a (click)="addjobactiveSmsEmailModal.show(record.leadId,2,5)"> -->
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="width:120px" (click)="navigateToLeadDetail(record.leadId);">
                                            <span class="badge badge-secondary">{{record.jobNumber}}</span>
                                        </td>
                                        <td [hidden]="!ExpandedView" style="width:100px; text-align: center;">
                                            <!-- <span *ngIf="record.nmIs" tooltip="NMI Number" class="tooltipcnt kt-badge kt-badge--success">
                                                {{l("NMI")}} </span>
                                            <span *ngIf="!record.nmIs" tooltip="NMI Number" class="tooltipcnt kt-badge kt-badge--dark">
                                                {{l("NMI")}} </span>

                                            <span *ngIf="record.approvedReferenceNumbers" tooltip="Approved Reference Number" class="tooltipcnt kt-badge kt-badge--success"> {{l("ARN")}} </span>
                                            <span *ngIf="!record.approvedReferenceNumbers" tooltip="Approved Reference Number" class="tooltipcnt kt-badge kt-badge--dark"> {{l("ARN")}} </span>

                                            <span *ngIf="record.meterUpdgrades" tooltip="Meter Updgrade" class="tooltipcnt kt-badge kt-badge--success">
                                                {{l("MU")}} </span>
                                            <span *ngIf="!record.meterUpdgrades" tooltip="Meter Updgrade" class="tooltipcnt kt-badge kt-badge--dark">
                                                {{l("MU")}} </span>

                                            <span *ngIf="record.meterBoxPhotos" tooltip="Meter Box Photo" class="tooltipcnt kt-badge kt-badge--success">
                                                {{l("MBP")}} </span>
                                            <span *ngIf="!record.meterBoxPhotos" tooltip="Meter Box Photo" class="tooltipcnt kt-badge kt-badge--dark">
                                                {{l("MBP")}} </span>

                                            <span *ngIf="record.signedQuotes" tooltip="Signed Quote" class="tooltipcnt kt-badge kt-badge--success">
                                                {{l("SQ")}} </span>
                                            <span *ngIf="!record.signedQuotes" tooltip="Signed Quote" class="tooltipcnt kt-badge kt-badge--dark">
                                                {{l("SQ")}} </span>

                                            <span *ngIf="record.deposites" tooltip="Deposites" class="tooltipcnt kt-badge kt-badge--success">
                                                {{l("D")}} </span>
                                            <span *ngIf="!record.deposites" tooltip="Deposites" class="tooltipcnt kt-badge kt-badge--dark">
                                                {{l("D")}} </span>
                                            <span *ngIf="record.finances" tooltip="Finance" class="tooltipcnt kt-badge kt-badge--success">
                                                {{l("FIN")}} </span>
                                            <span *ngIf="!record.finances" tooltip="Finance" class="tooltipcnt kt-badge kt-badge--dark">
                                                {{l("FIN")}} </span>
                                            <span *ngIf="record.elecRetailerId!=null" tooltip="ElecRetailerId" class="tooltipcnt kt-badge kt-badge--success">
                                                {{l("ER")}} </span>
                                            <span *ngIf="record.elecRetailerId==null" tooltip="ElecRetailerId" class="tooltipcnt kt-badge kt-badge--dark">
                                                {{l("ER")}} </span>


                                            <span *ngIf="record.peakMeterNos" tooltip="PeakMeterNo" class="tooltipcnt kt-badge kt-badge--success">
                                                {{l("PMN")}} </span>
                                            <span *ngIf="!record.peakMeterNos" tooltip="PeakMeterNo" class="tooltipcnt kt-badge kt-badge--dark">
                                                {{l("PMN")}} </span>

                                            <span *ngIf="record.expiryDate && record.state == 'VIC'" tooltip="ExpiryDate" class="tooltipcnt kt-badge kt-badge--success">
                                                {{l("ED")}} </span>
                                            <span *ngIf="!record.expiryDate && record.state == 'VIC'" tooltip="ExpiryDate" class="tooltipcnt kt-badge kt-badge--dark">
                                                {{l("PMN")}} </span>

                                            <span *ngIf="record.solarRebateStatus && record.state == 'VIC'" tooltip="SolarRebateStatus" class="tooltipcnt kt-badge kt-badge--success">
                                                {{l("SRS")}} </span>
                                            <span *ngIf="!record.solarRebateStatus && record.state == 'VIC'" tooltip="SolarRebateStatus" class="tooltipcnt kt-badge kt-badge--dark">
                                                {{l("SRS")}} </span> -->

                                            <a (click)="jobActiveModal.show(record.id)" class="statusbutton">
                                                <i class="las la-check-circle" style="font-size:1.4rem;"></i>
                                            </a>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            {{record.jobType}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="{{record.jobStatusColorClass}}">{{record.jobStatus}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.companyName}}
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title" ngif> {{l('SmsSend')}}</span> -->
                                            <Span *ngIf="record.jobActiveSmsSend == 1" [tooltip]="record.jobActiveSmsSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success"> {{l("Yes")}} </Span>
                                            <Span *ngIf="record.jobActiveSmsSend != 1" [tooltip]="record.jobActiveSmsSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}} </Span>
                                        </td>
                                        <td style="width:120px" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title" ngif> {{l('EmailSend')}}</span> -->
                                            <Span *ngIf="record.jobActiveEmailSend == 1" [tooltip]="record.jobActiveEmailSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success"> {{l("Yes")}} </Span>
                                            <Span *ngIf="record.jobActiveEmailSend != 1" [tooltip]="record.jobActiveEmailSendDate | momentFormat:'DD-MM-YYYY
                                        HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}} </Span>
                                        </td>
                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            {{record.curruntLeadOwner}}
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <span class="set_warp_toltrip"><span
                                                    [tooltip]="record.comment">{{record.comment}}</span></span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.nextFollowup}}
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <span class="set_warp_toltrip"> <span
                                                    [tooltip]="record.discription">{{record.discription}}</span></span>
                                        </td>

                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getJobs($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <!-- <span class="total-records-count">
                                    {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                                </span> -->
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <!-- <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <jobActiveModel #jobActiveModel (modalSave)="reloadPage($event)"></jobActiveModel>
        <!-- <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal> -->
        <!-- <addjobactiveSmsEmailModal #addjobactiveSmsEmailModal (modalSave)="getJobs()"></addjobactiveSmsEmailModal> -->
        <jobActiveModal #jobActiveModal></jobActiveModal>
        <smsModel #smsModel></smsModel>
        <emailModel #emailModel></emailModel>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="getJobs()"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="getJobs()"></ReminderModal>
    </div>
</div>