<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content jobstatusmodal">
            <form #jobStatusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("EditJobStatus")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">                    
                    <!-- <div class="form-group">
                        <label for="jobStatus">Job Status</label>
                        <select name="jobStatus" [(ngModel)]="updateJobStatus.jobStatusId" class="form-control" required>
                            <option value="">Select Job Reason</option>
                            <option *ngFor="let item of jobStatusIds" value="{{item.id}}">{{item.displayName}}</option>
                          </select>
                    </div> -->
                    <div class="row">
                        <div class="form-group col-md-6" *ngIf="updateJobStatus.jobStatusId == 3">
                            <label for="jobStatus">{{l("JobCancelReason")}}</label>
                            <select name="jobStatus" [(ngModel)]="updateJobStatus.jobCancelReasonId" class="form-control" required>
                                <option value=""> {{l("CancelReasons")}}</option>
                                <option *ngFor="let item of cancelReasons" value="{{item.id}}">{{item.displayName}}</option>
                              </select>
                        </div>
                        <div class="form-group col-md-12" *ngIf="updateJobStatus.jobStatusId == 3">
                            <label for="updateJobStatus_jobCancelReason">{{l("Notes")}}</label>
                            <input type="text" id="updateJobStatus_jobCancelReason" class="form-control" [(ngModel)]="updateJobStatus.jobCancelReason" name="jobCancelReason" required/>
                        </div>
                        <div class="form-group col-md-6" *ngIf="updateJobStatus.jobStatusId == 3">
                            <div class="kt-checkbox-list">
                                <label for="IsRefund" class="kt-checkbox">
                                    <input type="checkbox" id="IsRefund" name="recordSource" [(ngModel)]="updateJobStatus.isRefund" />
                                    <span>&nbsp;</span>
                                    Refund Available?
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-6" *ngIf="updateJobStatus.jobStatusId == 2">
                            <label for="updateJobStatus_NextFollowUpDate">{{l("NextFollowUpDate")}}</label>
                            <input type="text" bsDatepicker [bsConfig]="{ customTodayClass: 'today' }"
                                [(date)]="sampleDate"
                                datePickerMomentModifier 
                                required
                                class="form-control daterangebox" />
                        </div>
                        <div class="form-group col-md-6" *ngIf="updateJobStatus.jobStatusId == 2">
                            <label for="jobHoldReasonId">{{l("HoldReason")}}</label>
                            <select name="jobHoldReasonId" [(ngModel)]="updateJobStatus.jobHoldReasonId" class="form-control" required>
                                <option value=""> {{l("HoldReasons")}}</option>
                                <option *ngFor="let item of holdReasons" value="{{item.id}}">{{item.displayName}}</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6" *ngIf="updateJobStatus.jobStatusId == 2">
                            <label for="updateJobStatus_jobHoldReason">{{l("Notes")}}</label>
                            <input type="text" id="updateJobStatus_jobHoldReason" class="form-control" [(ngModel)]="updateJobStatus.jobHoldReason" name="jobHoldReason"/>
                        </div>
                        <div class="form-group col-md-12" *ngIf="updateJobStatus.jobStatusId == 0">
                            <label for="updateJobStatus_jobCancelRequestReason">{{l("Notes")}}</label>
                            <input type="text" id="updateJobStatus_jobCancelRequestReason" class="form-control" [(ngModel)]="updateJobStatus.jobCancelRequestReason" name="jobCancelRequestReason" required/>
                        </div>
                        <div class="form-group col-md-12" *ngIf="updateJobStatus.jobStatusId == 4">
                            <label for="updateJobStatus_jobdepositeStatusNotes">{{l("Notes")}}</label>
                            <input type="text" id="updateJobStatus_jobdepositeStatusNotes" class="form-control" [(ngModel)]="updateJobStatus.depositeStatusNotes" name="jobdepositeStatusNotes" required/>
                        </div>
                        <div class="form-group col-md-12" *ngIf="updateJobStatus.jobStatusId == 5">
                            <label for="updateJobStatus_activeStatusNotes">{{l("Notes")}}</label>
                            <input type="text" id="updateJobStatus_activeStatusNotes" class="form-control" [(ngModel)]="updateJobStatus.activeStatusNotes" name="jobactiveStatusNotes" required/>
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="fa fa-times"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!jobStatusForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>