bs-daterangepicker-container {
    left: -180px !important;
}

body.kt-aside--minimize bs-daterangepicker-container {
    left: -180px !important;
}

.ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}
.ng-select.custom ::ng-deep .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
}