﻿<style>
    body {
        overflow-y: hidden;
    }
    
    .dropdown-menu,
    bs-dropdown-container {
        z-index: 101 !important;
        top: -24.5% !important;
        left: 10px !important;
    }
    
    @media (max-width: 768px) {
        body {
            overflow-y: auto;
        }
    }
</style>
<div [@routerTransition]>
    <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
        <div class="kt-subheader kt-grid__item">
            <div [class]="containerClass">
                <div class="d-flex align-items-center">
                    <div class="kt-subheader__main justify-content-between full-width-mob">
                        <h3 class="kt-subheader__title">
                            <span>{{l("ApplicationTracker")}}</span>
                            <span class="total-records-count">
                                ({{(total)}})
                            </span>
                        </h3>
                        <a href="javascript:;" (click)="change()" class="d-mobile btn-outline" style="text-align:center;"><i class="las la-filter"></i></a>
                    </div>
                </div>

                <div class="kt-subheader__toolbar h-mobile mobile-filter" [ngClass]="{'h-mobile': toggle, 'new': !toggle}">
                    <div class="kt-subheader__wrapper">
                        <div class="kt-searchmainbox wdth830 width927 width_inherit leadedropdown leadtrackeradvancefilter">
                            <ul class="hd_right">
                                <li><button type="button" class="btn_refresh" (click)="getJobs();RereshLog()"></button></li>
                                <li>
                                    <div class="btn-group btnexceldropdown" dropdown>
                                        <button dropdownToggle type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{l("Export")}}
                                    <img src="../../../assets/common/images/icon_downarrow.svg" />

                                </button>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu style="margin-left:10px;">
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(1)" href="javascript:;" *ngIf="'Pages.Tracker.ApplicationTracker.Export' | permission">
                                                <!-- <i class="fa fa-download" style="font-size: 1rem;"></i> -->
                                                <i class="las la-file-excel"></i>{{'Export' | localize}}
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel(2)" href="javascript:;" *ngIf="'Pages.Tracker.ApplicationTracker.Export' | permission">
                                                <i class="las la-file-csv"></i>{{l("ExportCSV")}}
                                            </a>

                                        </div>
                                    </div>
                                </li>
                                <li *ngIf="organizationUnitlength > 1">
                                    <div class="kt-searchmainbox">
                                        <div class="kt-sdropdown">
                                            <div class="form-group  selectdropdown m-form__group">
                                                <select name="OrganizationUnits" class="form-control" [(ngModel)]="organizationUnit" (change)="changeOrgCode();getJobs();addSearchLog('Filter Organization');">
                                                <option *ngFor="let item of allOrganizationUnits" value="{{item.id}}">
                                                    {{item.displayName}}</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox">
                                        <div class="kt-sdropdown">
                                            <div class="form-group selectdropdown m-form__group">
                                                <select name="applicationstatus" [(ngModel)]="applicationstatus" class="form-control" (change)="getJobs();addSearchLog('Filter Application Status');">
                                                <option value="0">{{l("All")}}</option>
                                                <option value="1">{{l("Awaiting")}}</option>
                                                <option value="2" >{{l("Pending")}}</option>
                                                <option value="3">{{l("Complete")}}</option>
                                                <option value="4">{{l("Expiry")}}</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-sdropdown">
                                        <div class="form-group  selectdropdown m-form__group">
                                            <select name="filterName" class="form-control" [(ngModel)]="filterName">
                                                <option value="JobNumber">Job Number</option>
                                                <option value="MobileNo">Mobile No</option>
                                                <option value="CompanyName">Company Name</option>
                                                <option value="Email">Email</option>
                                                <option value="ApplicationRefNo">ApplicationRefNo</option>
                                                <option value="NMINumber">NMINumber</option>
                                            </select>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="kt-searchmainbox searchclearbox">
                                        <div class="kt-stextbox apptrackeradv">
                                            <span class="badge badge-secondary" *ngIf="filterName == 'JobNumber'" style="position: absolute; z-index: 99; left: 4px; top:4px; font-weight:500;">{{orgCode}}</span>
                                            <input type="text" [ngClass]="{pl50: filterName == 'JobNumber' }" class="form-control" placeholder="{{filterName}}" [(ngModel)]="filterText" (keydown.enter)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText)" name="filterText"/>
                                            <a class="btnclearsearch" *ngIf="filterText" (click)="filterText='';getJobs()"><i class="fas fa-times-circle"></i></a>
                                            <button (click)="getJobs();addSearchLog('Filter' + filterName +  ' : ' + filterText)" class="btnsearch" type="submit">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <a (click)="shouldShow = !shouldShow" class="btnadvfilter">
                                                <i class="las la-filter"></i>
                                            </a>
                                        </div>
                                        <div class="kt-advfilterbox">
                                            <button class="btnadvfilter" (click)="FiltersData = !FiltersData; testHeightSize();">
                                                <i class="las la-sliders-h"></i>
                                            </button>
                                        </div>
                                        <div [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox overflow">
                                            <h3>{{l("AdvanceFilters")}}</h3>
                                            <div class="advfilterform ">

                                                <form class="kt-form" autocomplete="off">

                                                    <ul>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="stateNameFilter" name="stateNameFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');">
                                                                <option value="">{{l("SelectAState")}}</option>
                                                                <option *ngFor="let item of allStates"
                                                                    value="{{item.displayName}}">{{item.displayName}}</option>
                                                            </select>

                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group m-form__group">
                                                                <select name="elecDistId" [(ngModel)]="elecDistributorId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" class="form-control">
                                                                <option value="0">{{l("Select Elec Distibutor")}}</option>
                                                                <option *ngFor="let item of jobElecDistributors"
                                                                    value="{{item.id}}">{{item.displayName}}
                                                                </option>
                                                            </select>
                                                            </div>
                                                        </li>
                                                        <li class="multi_select">
                                                            <div class="form-group m-form__group jobmultipleselect">
                                                                <ng-select [items]="alljobstatus" [multiple]="true" bindLabel="displayName" [closeOnSelect]="false" bindValue="id" placeholder="Select JobStatus" [(ngModel)]="jobStatusIDFilter" name="jobStatusIDFilter">
                                                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                                                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" /> {{item.displayName}}
                                                                    </ng-template>
                                                                </ng-select>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="form-group">
                                                                <select name="jobTypeId" [(ngModel)]="jobTypeId" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" class="form-control" id="jobTypeId">
                                                                <option value="0">{{l("Select Type")}}</option>
                                                                <option *ngFor="let item of jobTypes" value="{{item.id}}">
                                                                    {{item.displayName}}
                                                                </option>
                                                            </select>
                                                            </div>
                                                        </li>
                                                        <li class="fullwidth">
                                                            <div class="form-group m-form__group">
                                                                <select class="form-control" [(ngModel)]="dateTypeFilter" (keydown.enter)="getJobs();addSearchLog('Advanced Filter');" name="DateTypeFilter">
                                                                <option value="All">{{l("All")}}</option>
                                                                <option value="DepositeReceived">{{l("DepositeReceivedDate")}}</option>
                                                                <option value="ApplicationDate">{{l("ApplicationDate")}}</option>
                                                                <option value="ExpiryDate">{{l("ExpiryDate")}}</option>
                                                                <option value="ActiveDate">{{l("ActiveDate")}}</option>
                                                            </select>
                                                            </div>
                                                        </li>
                                                        <!-- <li>
                                                            <div class="form-group">
                                                                <input name="SampleDateRangePicker" type="text" (keydown.enter)="getJobs($event)" [(ngModel)]="sampleDateRange" class="form-control daterangebox" id="SampleDateRangePicker" bsDaterangepicker dateRangePickerMomentModifier [bsConfig]="{ customTodayClass: 'today' }"
                                                                    [(date)]="sampleDateRange" />
                                                            </div>
                                                        </li> -->
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="Start Date" name="SampleDatePickerStart" [(date)]="startDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="startDate" (click)="startDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="clear-date">
                                                            <input type="text" bsDatepicker datePickerMomentModifier placeholder="End Date" name="SampleDatePickerEnd" [(date)]="endDate" [bsConfig]="{ customTodayClass: 'today' }" class="form-control daterangebox" />
                                                            <a class="btnclearsearch btndateClear" *ngIf="endDate" (click)="endDate=null"><i class="fas fa-times-circle"></i></a>
                                                        </li>
                                                        <li class="text-right fullwidth">
                                                            <button class="btn btn_red btn-sm marright10  ng-tns-c458-53" (click)="clear()">
                                                            {{l("Clear")}}</button>
                                                            <button class="btn btn-primary btn-sm ng-tns-c458-53" (click)="getJobs();addSearchLog('Advanced Filter');"><i class="fa fa-search ng-tns-c458-53"></i>
                                                            {{l("Search")}}</button>
                                                        </li>
                                                    </ul>
                                                </form>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div (click)="shouldShow = !shouldShow" [ngClass]="{show: shouldShow, hide: !shouldShow}" class="kt-advancefilterbox-overlay"></div>
                </div>

            </div>
        </div>
        <div class="myleadsReport  leadtopcouont leadtracker leadtrackerpage joblist job-page" [hidden]="FiltersData">
            <div class="wd50 leftpart inherit_width duplicatecountbox stctrackerpage width100per">
                <ul>
                    <li><span>{{total}}</span><label>{{l("Total")}}</label></li>
                    <li><span>{{totalAwaiting}}</span><label>{{l("Awaiting")}}</label></li>
                    <li><span>{{totalPending}}</span><label>{{l("Pending")}}</label></li>
                    <li><span>{{totalComplete}}</span><label>{{l("Complete")}}</label></li>
                    <li><span>{{totalExpiry}}</span><label>{{l("Expiry")}}</label></li>
                </ul>
            </div>
        </div>

        <div [class]="containerClass + ' kt-grid__item kt-grid__item--fluid leadmaindiv'">
            <div class="kt-portlet kt-portlet--mobile">
                <div class="kt-portlet__body padzero tablewithtooltip">
                    <div class="row leaddata_row" [ngClass] = "{'unselectable': ('Pages.Tracker.ApplicationTracker.EnableCopyPaste' | permission)}">
                        <div class="primeng-datatable-container myleadtable horizantal_scrrol" [ngClass]="{'leadcompanynamebar': ExpandedView === false, 'col-12':ExpandedView === true }" [busyIf]="primengTableHelper.isLoading">
                            <button class="btn btn-outline-primary btnadd btnback lead_detail_arrow">
                                <a class="icon_expan" (click)="expandGrid()"></a>
                                </button>

                            <p-table #dataTable [lazyLoadOnInit]=false (onLazyLoad)="getJobs($event)" [value]="primengTableHelper.records" selectionMode="single" rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false" [lazy]="true" [scrollable]="true" scrollDirection="horizontal"
                                [scrollHeight]="screenHeight - testHeight +'px'" responsiveLayout="scroll">

                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="actionwidth text-center p-frozen-column" [hidden]="!(['Pages.Tracker.ApplicationTracker.AddNotes', 'Pages.Tracker.ApplicationTracker.JobDetail','Pages.Tracker.ApplicationTracker.JobDetail','Pages.Tracker.ApplicationTracker.Notify','Pages.Tracker.ApplicationTracker.SMS','Pages.Tracker.ApplicationTracker.Email','Pages.Tracker.ApplicationTracker.QuickView','Pages.Tracker.ApplicationTracker.DocumentRequest'] | permissionAny)">
                                            {{l('Actions')}}
                                        </th>
                                        <th pSortableColumn="jobNumber" class="p-frozen-column" style="width:120px; left:95px !important;">
                                            {{l('ProjNo')}}
                                            <p-sortIcon field="jobNumber"></p-sortIcon>
                                        </th>

                                        <th style="width:100px" [hidden]="!ExpandedView">
                                            {{l('Awaiting')}}
                                        </th>

                                        <th style="width: 130px" pSortableColumn="JobTypeFk.Name" [hidden]="!ExpandedView">
                                            {{l('JobType')}}
                                            <p-sortIcon field="jobType"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" pSortableColumn="JobStatusFk.Name" [hidden]="!ExpandedView">
                                            {{l('JobStatus')}}
                                            <p-sortIcon field="jobStatus"></p-sortIcon>
                                        </th>
                                        <th style="width: 170px" pSortableColumn="LeadFk.CompanyName" [hidden]="!ExpandedView">
                                            {{l('CompanyName')}}
                                            <p-sortIcon field="companyName"></p-sortIcon>
                                        </th>
                                        <th style="width:450px" pSortableColumn="address" [hidden]="!ExpandedView">
                                            {{l('Address')}}
                                            <p-sortIcon field="address"></p-sortIcon>
                                        </th>

                                        <th style="width:115px" pSortableColumn="ElecDistributorFk.Name" [hidden]="!ExpandedView">
                                            {{l('ElecDist')}}
                                            <p-sortIcon field="elecDistributor"></p-sortIcon>
                                        </th>
                                        <th style="width:180px" pSortableColumn="DistApplied" [hidden]="!ExpandedView">
                                            {{l('DistAppliedDate')}}
                                            <p-sortIcon field="distApplied"></p-sortIcon>
                                        </th>
                                        <th style="width: 160px" pSortableColumn="ApplicationRefNo" [hidden]="!ExpandedView">
                                            {{l('AppRefNo')}}
                                            <p-sortIcon field="applicationRefNo"></p-sortIcon>
                                        </th>
                                        <th style="width:180px" pSortableColumn="DistApproveDate" [hidden]="!ExpandedView">
                                            {{l('ApproveDate')}}
                                            <p-sortIcon field="distApproveDate"></p-sortIcon>
                                        </th>
                                        <th style="width:150px" pSortableColumn="DistExpiryDate" [hidden]="!ExpandedView">
                                            {{l('DistExpDate')}}
                                            <p-sortIcon field="distExpiryDate"></p-sortIcon>
                                        </th>
                                       
                                        <th style="width: 120px; text-align: center;" pSortableColumn="smsSend" [hidden]="!ExpandedView">
                                            {{l('SmsSend')}}
                                            <p-sortIcon field="smsSend"></p-sortIcon>
                                        </th>
                                        <th style="width:120px; text-align: center;" pSortableColumn="emailSend" [hidden]="!ExpandedView">
                                            {{l('EmailSend')}}
                                            <p-sortIcon field="emailSend"></p-sortIcon>
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('CurrentLeadOwaner')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Comment')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('ReminderDate')}}
                                        </th>
                                        <th style="width: 200px" [hidden]="!ExpandedView">
                                            {{l('Reminder')}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr [pSelectableRow]="record" [ngClass]="{ 'row-highlight': record.isExpired === true }">
                                        <!-- <div [ngClass]="{ 'row-highlight': record.isExpired === true }"> -->
                                        <td class="actionwidth p-frozen-column" style="text-align: center; width:95px;" [hidden]="!(['Pages.Tracker.ApplicationTracker.AddNotes', 'Pages.Tracker.ApplicationTracker.JobDetail','Pages.Tracker.ApplicationTracker.JobDetail','Pages.Tracker.ApplicationTracker.Notify','Pages.Tracker.ApplicationTracker.SMS','Pages.Tracker.ApplicationTracker.Email','Pages.Tracker.ApplicationTracker.QuickView','Pages.Tracker.ApplicationTracker.DocumentRequest'] | permissionAny)">
                                            <div class="btn-group dropdown" dropdown container="body">
                                                <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                        <i class="flaticon-more"></i><span class="caret"></span>
                                                        {{l("Actions")}}
                                                    </button>
                                                <ul class="dropdown-menu" *dropdownMenu>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.ApplicationTracker.AddNotes')">
                                                        <a href="javascript:;" (click)="addNotes(record.id, 1)">
                                                            <i class="las la-comment-medical"></i> {{l('AddNotes')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.ApplicationTracker.QuickView')">
                                                        <a href="javascript:;" (click)="viewApplicationModal.show(record.id)">
                                                            <i class="las la-binoculars"></i> {{l('QuickView')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.ApplicationTracker.Notify')">
                                                        <a (click)="notifyModel.show(record.leadId,1,0,'Application Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,9,0,1)"> -->
                                                            <i class="las la-bell"></i> {{l('Notify')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.ApplicationTracker.Reminder')">
                                                        <a (click)="ReminderModal.show(record.leadId,1,0,'Application Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,8,0,1)"> -->
                                                            <i class="las la-stopwatch"></i> Reminder
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.ApplicationTracker.Comment')">
                                                        <a (click)="commentModel.show(record.leadId,1,0,'Application Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,24,0,1)"> -->
                                                            <i class="las la-comment"></i> {{l('Comment')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.ApplicationTracker.ToDo')">
                                                        <a (click)="todoModal.show(record.leadId,1,0,'Application Tracker')">
                                                            <!-- <a (click)="addActivityModal.show(record.leadId,25,0,1)"> -->
                                                            <i class="las la-clipboard-list"></i> {{l('ToDo')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.ApplicationTracker.SMS')">
                                                        <a (click)="smsModel.show(record.leadId,1,0,'Application Tracker')">
                                                            <!-- <a (click)="addSmsEmailModal.show(record.leadId,1,1)"> -->
                                                            <i class="las la-sms"></i> {{l('Sms')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.ApplicationTracker.Email')">
                                                        <a (click)="emailModel.show(record.leadId,1,0,0,'Application Tracker')">
                                                            <!-- <a (click)="addSmsEmailModal.show(record.leadId,2,1)"> -->
                                                            <i class="las la-envelope"></i> {{l('Email')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.ApplicationTracker.JobDetail')">
                                                        <a href="javascript:;" [routerLink]="['/app/main/jobs/jobs/jobDetail']" target="_blank" [queryParams]="{id: record.leadId}">
                                                            <i class="las la-info-circle"></i> {{l('JobDetail')}}
                                                        </a>
                                                    </li>
                                                    <li [hidden]="!isGrantedAny('Pages.Tracker.ApplicationTracker.DocumentRequest')">
                                                        <a href="javascript:;" (click)="documentRequestModal.show(record.id, record.jobNumber, 1,'Application Tracker')">
                                                            <i class="las la-file-alt"></i> {{l('DocumentRequest')}}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td class="gridleadimage p-frozen-column" style="width:120px; left:95px !important;" (click)="navigateToLeadDetail(record.leadId);">
                                            <!-- <span class="ui-column-title"> {{l('ProjNo')}}</span> -->
                                            {{record.jobNumber}}
                                        </td>

                                        <td [hidden]="!ExpandedView" style="width:100px; text-align: center;">
                                            <!-- <span *ngIf="record.meterPhadeIDs" tooltip="Meter Phase" class="tooltipcnt kt-badge kt-badge--success">
                                                    {{l("MP")}} </span>
                                                <span *ngIf="!record.meterPhadeIDs" tooltip="Meter Phase" class="tooltipcnt kt-badge kt-badge--dark">
                                                    {{l("MP")}} </span>

                                                <span *ngIf="record.peakMeterNos" tooltip="Peak MeterNo" class="tooltipcnt kt-badge kt-badge--success"> {{l("MN")}} </span>
                                                <span *ngIf="!record.peakMeterNos" tooltip="Peak MeterNo" class="tooltipcnt kt-badge kt-badge--dark"> {{l("MN")}} </span>

                                                <span *ngIf="record.nminumbers" tooltip="NMI Number" class="tooltipcnt kt-badge kt-badge--success">
                                                    {{l("NMI")}} </span>
                                                <span *ngIf="!record.nminumbers" tooltip="NMI Number" class="tooltipcnt kt-badge kt-badge--dark">
                                                    {{l("NMI")}} </span>

                                                <span *ngIf="record.docLists" tooltip="Doc" class="tooltipcnt kt-badge kt-badge--success">
                                                    {{l("EB")}} </span>
                                                <span *ngIf="!record.docLists" tooltip="Doc" class="tooltipcnt kt-badge kt-badge--dark">
                                                    {{l("EB")}} </span> -->
                                            <a (click)="jobActiveModal.show(record.id,'Application Tracker')" class="statusbutton">
                                                <i class="las la-check-circle" style="font-size:1.4rem;"></i>
                                            </a>
                                        </td>
                                        <td style="width:130px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.jobType}}</span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="{{record.jobStatusColorClass}}">
                                                    {{record.jobStatus}}</span>
                                        </td>
                                        <td style="width:170px" [hidden]="!ExpandedView">
                                            {{record.companyName}}
                                        </td>
                                        <td style="width:450px;" [hidden]="!ExpandedView">
                                            <span [tooltip]="record.address" class="tooltipcnt">{{record.address | titlecase}}, {{record.suburb | titlecase}} .
                                                    {{record.state }} - {{record.postalCode}}</span>
                                        </td>
                                        <td style="width:115px" [hidden]="!ExpandedView">
                                            {{record.elecDistributor}}
                                        </td>
                                       
                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.distApplied | momentFormat:'DD-MM-YYYY'}}</span>
                                        </td>
                                        <td style="width:160px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.applicationRefNo}}</span>
                                        </td>
                                        <td style="width:180px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.distApproveDate | momentFormat:'DD-MM-YYYY'}}</span>
                                        </td>
                                        <td style="width:150px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.distExpiryDate | momentFormat:'DD-MM-YYYY'}}</span>
                                        </td>
                                        
                                        <td style="width:120px; text-align: center;" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title"> {{l('SmsSend')}}</span> -->
                                            <span *ngIf="record.smsSend == 1" [tooltip]="record.smsSendDate | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--success"> {{l("Yes")}} </span>
                                            <span *ngIf="record.smsSend != 1" [tooltip]="record.smsSendDate | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss'" class="tooltipcnt kt-badge kt-badge--dark"> {{l("No")}} </span>
                                        </td>
                                        <td style="width:120px; text-align:center;" [hidden]="!ExpandedView">
                                            <!-- <span class="ui-column-title"> {{l('EmailSend')}}</span> -->
                                            <span *ngIf="record.emailSend == 1" [tooltip]="record.emailSendDate | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss'" class="kt-badge kt-badge--success tooltipcnt"> {{l("Yes")}} </span>
                                            <span *ngIf="record.emailSend != 1" [tooltip]="record.emailSendDate | momentFormat:'DD-MM-YYYY
                                            HH:mm:ss'" class="kt-badge kt-badge--dark tooltipcnt"> {{l("No")}} </span>
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            {{record.curruntLeadOwner}}
                                        </td>
                                        <td style="width:200px" [hidden]="!ExpandedView">
                                            <span class="badge badge-secondary">{{record.nextFollowup}}</span>
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <span class="set_warp_toltrip"><span [tooltip]="record.activityDescription">{{record.discription}}</span> </span>
                                        </td>
                                        <td class="no_warp" style="width:200px" [hidden]="!ExpandedView">
                                            <span class="set_warp_toltrip"><span [tooltip]="record.activityComment">{{record.comment}}</span> </span>
                                        </td>
                                        <!-- </div> -->
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{l('NoData')}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator (onPageChange)="getJobs($event)" [totalRecords]="primengTableHelper.totalRecordsCount" [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    showing {{firstrowcount}}
                                    To {{last}}
                                    <span class="lower_text"> of </span> {{primengTableHelper.totalRecordsCount}} Records
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-Datatable-End>-->
                        <div [hidden]="ExpandedView === true" class="leadedetailleftpart">
                            <!-- <viewLeadDetail #viewLeadDetail SelectedLeadId="{{SelectedLeadId}}" (reloadLead)="reloadPage($event)"></viewLeadDetail> -->
                            <leaddetails #leaddetails (reloadLead)="reloadPage($event)"></leaddetails>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
        <jobNotesModal #jobNotesModal (modalSave)="getJobs()"></jobNotesModal>
        <viewApplicationModal #viewApplicationModal></viewApplicationModal>
        <documentRequestModal #documentRequestModal></documentRequestModal>
        <!-- <addActivityModal #addActivityModal (modalSave)="reloadPage($event)"></addActivityModal> -->
        <!-- <addSmsEmailModal #addSmsEmailModal (modalSave)="getJobs()"></addSmsEmailModal> -->
        <jobActiveModal #jobActiveModal></jobActiveModal>
        <smsModel #smsModel></smsModel>
        <emailModel #emailModel></emailModel>
        <notifyModel #notifyModel></notifyModel>
        <commentModel #commentModel (modalSave)="getJobs()"></commentModel>
        <todoModal #todoModal></todoModal>
        <ReminderModal #ReminderModal (modalSave)="getJobs()"></ReminderModal>
    </div>
</div>