<div bsModal #sendQuote="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="sendQuote" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate (ngSubmit)="saveDesign()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Email")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" style="padding-top: 0px;">
                    <div class="row emailboxlayout">
                        <div class="col-md-12 ">
                            <div class="m-form__group">

                                <div class="activitysms smsemailbox brdrbottom1">
                                    <span class="labelttl"> Email From </span>
                                    <select class="form-control brd_none" name="emailfrom" [(ngModel)]="emailFrom" [attr.disabled]="true" style="width:368px;">
                                            <option *ngFor="let item of fromemails" value="{{item.displayName}}">
                                                {{item.displayName}}
                                            </option>
                                    </select>
                                </div>
                                <div class="activitysms smsemailbox brdrbottom1">
                                    <span class="labelttl"> Email To </span>
                                    <span class="lowercase ccandbbcc">
                                        <span class="badge badge-light d-flex align-items-center activity-tags">
                                            <i class="las la-at"></i>
                                            {{ emailTo }}
                                        </span>
                                    <span class="ccbcc_box"><a (click)="opencc();">Cc</a>&nbsp;&nbsp; <a (click)="openbcc();">Bcc</a></span>
                                    </span>
                                </div>
                                <div *ngIf="ccbox">
                                    <div class="activitysms smsemailbox brdrbottom1 ccemail lowercase" style="padding:8px 0 !important;">
                                        <span class="labelttl">CC </span>
                                        <input type="text" name="cc" [(ngModel)]="cc" placeholder="write CC" class="form-control ccbox paddnone"><a (click)="opencc();" class="fnt26">&times;</a>
                                    </div>
                                </div>
                                <div *ngIf="bccbox">
                                    <div class="activitysms smsemailbox brdrbottom1 ccemail lowercase" style="padding:8px 0 !important;">
                                        <span class="labelttl">BCC </span>
                                        <input type="text" name="cc" [(ngModel)]="bcc" placeholder="write BCC" class="form-control brd_none"><a (click)="openbcc();" class="fnt26">&times;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row emailboxlayout">
                        <div class="col-md-12">
                            <div class="activitysms smsemailbox brdrbottom1 templatebox">
                                <span class="labelttl">Template</span>
                                <!-- <select class="form-control normal-control" name="Template" [(ngModel)]="Template" (change)="OnTemplateChnage()">
                                    <option value="1">Email Template</option>
                                    <option value="2">Custom Template</option>
                                </select>

                                <div *ngIf="temp">
                                    <select class="form-control normal-control" name="EmailTemplate" [(ngModel)]="emailTemplateId" (change)="editorLoaded()">
                                        <option value="0">New Template</option>
                                        <option *ngFor="let item of allEmailTemplates" value="{{item.id}}">
                                            {{item.displayName}}</option>
                                    </select>
                                </div> -->
                                <!-- <div *ngIf="!temp"> -->
                                <div>
                                    <select class="form-control" name="CustomTemplate" [(ngModel)]="customTemplateId" (change)="customTemplateOnChange()" style="width:368px;">
                                        <option value="0">Template</option>
                                        <option *ngFor="let item of quotationTemplate" value="{{item.id}}">
                                            {{item.displayName}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group activitysms smsemailbox subjectbox" style="margin-top:15px !important;">
                                <span class="labelttl">Subject</span>
                                <span class="wdth100w text_capital">
                                    <input type="text" name="subject" [(ngModel)]="subject"
                                        placeholder="write subject" class="form-control" style="background:#f5f5ff !important; padding-left:10px !important;">
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-12" *ngIf="temp">
                            <div class="form-group" *ngIf="emailTemplateId == 0">
                                <p-editor [(ngModel)]="emailData" aria-placeholder="Email Body" name="HtmlEditorInput" [style]="{'height':'200px'}"></p-editor>
                            </div>
                            <div class="container-fluid maxwidth80 emailtemplatebox" *ngIf="emailTemplateId != 0">
                                <email-editor [(ngModel)]="emailData" aria-placeholder="Email Body" name="HtmlEditorInput"></email-editor>
                            </div>
                        </div> -->
                        <div class="col-md-12" *ngIf="(customTemplateId == 0 || customTemplateId == null || customTemplateId == undefined) && type ==2">
                            <p-editor [(ngModel)]="Quotation.emailBody" aria-placeholder="Email Body" name="HtmlEditorInput" [style]="{'height':'200px'}"></p-editor>

                        </div>
                        <div class="col-md-12" *ngIf="customTemplateId != 0 && customTemplateId != null && customTemplateId != undefined">
                            <div style="margin-top:10px; height:45vh; overflow-y: auto;" [innerHtml]="templateBody"></div>
                        </div>
                    </div>

                    <div class="attachment-box" *ngIf="type == 1">
                        <div class="" style="margin-top:15px !important;">
                            <div class="attachment-list">
                                <div *ngFor="let item of productItemAttachments">
                                    <div class="attachments">
                                        <span *ngIf="item.fileName">{{item.fileName}}</span>
                                        <span *ngIf="item.fileName">
                                                <a (click)="downloadfile(item)" class="btndownloaddocument fs-22">
                                                    <i class="las la-file-download"></i>
                                                    <!-- <img [src]="appRootUrl() + 'assets/common/images/icon-pdf.png'" alt="" />
                                                    <img [src]="appRootUrl() + 'assets/common/images/icon-image.png'" alt="" /> -->
                                                </a>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" [disabled]="!addNotesForm.form.valid"><i class="las la-save"></i>
                        <span>{{l("Send")}}</span></button>
                </div>
            </form>
        </div>
    </div>
</div>