<div appBsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="applicationListDetailModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Suggested Products</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-bg-gray">
                <form *ngIf="active" #stockorderForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                    <div class="modal-white-box">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="Name">{{ l("Name") }}</label>
                                <input type="text" id="Name" class="form-control" 
                                    [(ngModel)]="JobSuggestedProduct.name" 
                                    name="name" required />
                            </div>
                            <div class="col-md-2">
                                <label for="SystemCapacity">{{ l("System Capacity") }}</label>
                                <input type="text" id="SystemCapacity" class="form-control" 
                                    [(ngModel)]="JobSuggestedProduct.sysCapacity" 
                                    name="sysCap" required disabled />
                            </div>
                            <div class="col-md-2">
                                <label for="Amount">{{ l("Amount") }}</label>
                                <input type="text" id="Amount" class="form-control" 
                                    [(ngModel)]="JobSuggestedProduct.amount" 
                                    name="amount" required />
                            </div>
                            <div class="col-md-2 mt-4">
                                <button type="submit" class="btn btn-primary" [disabled]="!stockorderForm.form.valid"
                                   [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                                      <i class="las la-save"></i>
                                    <span>{{ "Save" | localize }}</span>
                                </button>
                            </div>  
                        </div>
                        
                        <div class="productsgridbox formcontainer mt-2">
                            <div class="row mb-2 d-flex align-items-center"  style="width: 128% !important;">
                                <div class="col-md-2">Category</div>
                                <div class="col-md-2">Stock Item</div>
                                <div class="col-md-2" >Modal No</div>
                                <div class="col-md-2" >Amount</div>                             
                                <div class="col-md-1" >Action</div>
                            </div>
                            
                            <div class="row marginbtm0 mb-2" *ngFor="let item of JobSuggestedProductItemList; let i = index"  style="width: 128% !important; ">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <select class="form-control" style="padding-left: 20px !important;"
                                            (change)="changeProductType(i)" [(ngModel)]="item.productTypeId" required
                                            #productType="ngModel" name="productType{{ i }}">
                                            <option value="">
                                                Product Type
                                            </option>
                                            <option *ngFor="let item of productTypes" value="{{ item.id }}">
                                                {{ item.displayName }}
                                            </option>
                                        </select>
                                        <!-- <span class="icon-box" style="top:0;"><i class="las la-boxes"></i></span> -->
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <p-autoComplete [(ngModel)]="item.productItemName" id="productItemName"
                                            name="jp{{ i }}" #productItem="ngModel" required
                                            [suggestions]="productItemSuggestions"
                                            (completeMethod)="filterProductIteams($event, i) "
                                            (onSelect)="selectProductItem($event, i)" aria-placeholder="Search Item"
                                            [minLength]="5" inputStyleClass="form-control"
                                            styleClass="width-percent-100">
                                            <ng-template let-result pTemplate="item">
                                                <div class="result-item">
                                                    {{ result.productItem }}
                                                </div>
                                            </ng-template>
                                        </p-autoComplete>

                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text"
                                            class="form-control" name="productModel{{ i }}" [value]="item.productModel"
                                            disabled />
                                    </div>
                                </div>
                                
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" #jpmodel="ngModel" name="quantity{{ i }}" placeholder="quantity"
                                        (ngModelChange)="calculateSystemCapacity()"   [(ngModel)]="item.quantity" class="form-control" required />

                                    </div>
                                </div>

                                <div class="col-md-1">
                                    <div class="d-flex ">
                                        <div class="action-btn " style="margin: 0px !important; padding:0px !important;"
                                            *ngIf="JobSuggestedProductItemList.length !=1">
                                            <a (click)="removeProductItem(item)" class=""><i class="las la-trash text-danger"></i></a>
                                        </div>
                                        <div class="action-btn addbtn" *ngIf="JobSuggestedProductItemList.length ==i + 1">
                                            <a (click)="addProductItem()"><i class="las la-plus-circle"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-white-box">
                    <h3 class="d-flex align-items-center"><i class="las la-clipboard-list fs-30 mr-2"></i>Product-Item List</h3>
                    <div class="card card-custom card-stretch">
                        <div class="card card-custom card-stretch">
                            <div class="secondary-grid vscrollbar" style="max-height: 350px; overflow: auto;">
                                <table class="table table_blck">
                                    <tr>
                                        <th>Name</th>
                                        <th>System Capacity</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                        <th>Delete</th>
                                    </tr>
                                    <tr *ngFor="let product of JobSuggestedProducts">
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.sysCapacity }}</td>
                                        <td>{{ product.amount }}</td>
                                        <td>
                                          
                                          <a ><i class="las la-edit" (click)="edit(product.id)"></i></a>&nbsp;
                                        </td>
                                        <td >
                                          <a  class="btndownloaddocument" (click)="delete(product.id)">
                                            <i class="las la-trash text-danger"></i>
                                          </a>
                                        </td>
                                      </tr>
                                   
                                </table>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{("Cancel")}}</button>
            </div>
        </div>
    </div>
</div>