<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog ttttt" style="width:1000px !important; max-width: inherit !important;">
        <div class="modal-content">
            <div class="modal-header" style="align-items: center;">
                <h4 class="modal-title mr-3">
                    <i class="las la-people-carry mr-2"></i>
                    <span>Packages</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body lead_expen_popup modal-bg-gray">

                <div class="modal-white-box">
                    <div class="secondary-grid">
                        <table class="table table-striped">
                            <tr style="display:block; width:900px;">
                                <th style="width:70px;"></th>
                                <th style="width:450px;">Name</th>
                                <th style="width:260px;">Price</th>
                                <th style="width:120px;"></th>
                            </tr>
                            <tr *ngFor="let item of productPackages;let i = index" style="display:block; width:900px;">
                                <td style="width:70px; text-align: center;" (click)="expandcollapse(i,item.name);">
                                    <i id="i{{i}}" class="las la-chevron-circle-right fs-24"></i>
                                </td>
                                <td style="width:450px;">
                                    {{ item.name }}
                                </td>
                                <td style="width:260px;">
                                    <span class="badge badge-pill badge-secondary" style="font-weight:600;">${{ item.price }}</span>
                                </td>
                                <td style="width:120px; text-align:right;" (click)="select(item.id)">
                                    <i class="las la-check-circle fs-24 mr-2"></i>
                                </td>
                                <div id="div{{i}}" style="display: none;">
                                    <div style="display:block; width:100%; padding:20px; border-top:1px solid #ebedf2; background:#f7f8fa;">
                                        <table class="table table-bordered" style="background:#fff;">
                                            <tr>
                                                <th>Product Type</th>
                                                <th>Product Item</th>
                                                <th>Model</th>
                                                <th>Qty</th>
                                            </tr>
                                            <tr *ngFor="let pitem of item.packageItems">
                                                <td>{{ pitem.productType }}</td>
                                                <td>{{ pitem.productItem }}</td>
                                                <td>{{ pitem.model }}</td>
                                                <td>{{ pitem.quantity }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>