body {
    font-family: 'Poppins', sans-serif;
}

p {
    text-transform: none !important;
}

.kt-login.kt-login--v1 .kt-login__aside {
    width: 605px;
    padding: 3rem 3.5rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__subtitle {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 2.5rem 0 3.5rem 0;
    color: rgba(255, 255, 255, 0.7);
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__menu>a {
    text-decoration: none;
    color: #fff;
    margin-right: 2rem;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__menu>a:hover {
    color: #fff;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__menu>a:hover:after {
    border-bottom: 1px solid #fff;
    opacity: 0.3;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__menu>a:last-child {
    margin-right: 0;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__copyright {
    color: rgba(255, 255, 255, 0.4);
}

.kt-login.kt-login--v1 .kt-login__wrapper {
    // padding: 3rem 7.5rem;
    background: #f6f5ff;

    @media screen and (min-width:1800px) {
        // padding: 3rem 11rem;
    }


}

.whiteback {
    background: #ffffff;

    .deviceshow {
        display: none;
    }
}

.loginimgbox {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    height: 100vh;

    .logo {
        position: absolute;
        top: 23px;
        left: -12px;

        a {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            h2 {
                color: #000 !important;
                font-weight: 700;
                font-size: 2rem !important;
                margin-left: 0.5rem;
                margin-bottom: 0px;                
            }
        }
    }

    img {
        &.loginimgbox {
            max-width: 675px;
        }
    }
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__head {
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__head .kt-login__signup-label {
    color: #a7abc3;


}

.kt-login__signup-label.tenant-change-box {
    // position: absolute !important;
    // top: 23% !important;
    // left: 0px !important;
    // z-index: 999 !important;
    // text-align: left !important;
    // width: 700px !important;

    @media screen and (min-width:1400px) {
        // top: 27% !important;
        // width: 758px !important;
    }

    @media screen and (min-width:1600px) {
        // top: 27% !important;
        // width: 865px !important;
    }

    @media screen and (min-width:1800px) {
        // top: 27% !important;
        // width: 865px !important;
    }
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__head .kt-login__signup-link {
    color: #5d78ff;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: flex-end;
    height: 85%;
    flex-wrap: wrap;

    @media screen and (min-width:1600px) {
        padding-top: 5rem;
    }
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form {
    width: 100%;
    // max-width: 450px;
}

// .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form:before {
//     content: '';
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 300px;
//     height: 200px;

//     background: url('../assets/common/images/loginimg.svg') no-repeat left top;
// }

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__title {
    display: block;
    text-align: left;
    margin-bottom: 5rem;
    text-decoration: none;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__title>h3 {
    font-size: 2rem;
    color: #67666e;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form {
    margin: 10px auto 0px;

    &.forgotform {
        margin: 15px auto 0px;
    }

    .form-group {
        margin-bottom: 1rem !important;
    }

    label {
        margin-bottom: 0px;
        color: #5e5873;
        font-size: .857rem;
        padding-bottom: .2rem;
    }

    .formlabel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        a {
            font-size: .857rem;
            color: #7367f0;
        }
    }
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group {
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group .form-control {
    border: none;
    height: 50px;
    // margin-top: 1.25rem;
    background-color: #ffffff;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    width: 100% !important;
    border: 1px solid #acacac;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group input[type="email"].form-control,
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group input[type="text"].form-control,
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group input[type="text"].form-control:focus {
    // background-image: url('../assets/common/images/icon_user.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 1rem !important;
    border-radius: 4px !important;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group input[type="password"].form-control,
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group input[type="password"].form-control:focus {
    // background-image: url('../assets/common/images/lock.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 1rem !important;
    border-radius: 4px !important;
    width: 100%;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group .form-control:focus {
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    background-color: #f7f7f9;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    margin: 3rem 0 0px;

    &.flexrow {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__link-forgot {
    color: #ffffff;

    @media screen and (min-width:1800px) {
        font-size: 1.2rem !important;
    }

}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__link-forgot:hover {
    color: #FFAA2B;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__link-forgot:hover:after {
    border-bottom: 1px solid #1A73E8;
    opacity: 0.3;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__btn-secondary,
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__btn-primary,
.kt-login__actions .kt-login__btn-primary {
    height: 60px;
    background: #7367f0 !important;
    width: 100%;
    border-color: #7367f0 !important;
    // padding-left: 2.5rem;
    font-size: 1rem !important;
    // padding-right: 2.5rem;
    margin-bottom: 10px;
    padding-top: 8px;
    line-height: 29px;
    color: #ffffff !important;
    font-weight: 500;


    @media screen and (min-width:1800px) {
        height: 60px !important;
        padding-top: 8px;
        line-height: 28px !important;
    }
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body.forgotpasswordbox {
    .kt-login__form .kt-login__actions .kt-login__btn-primary {
        // max-width: 100px;
    }

}

.loginformbox {
    max-width: 92%;
    width: 100%;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__btn-primary:hover {
    // background: #1A73E8 !important;
    // width: 100%;
    // border-color: #1A73E8 !important;
    box-shadow: 0 8px 25px -8px #7367f0;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions {
    margin: 25px 0px 0px !important;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__divider {
    margin: 1rem 0 2rem 0;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__divider:not(:first-child):not(:last-child) {
    font-weight: 400;
    color: #b5b2c3;
    font-size: 1rem;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__options>a {
    text-decoration: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__options>a:not(:first-child):not(:last-child) {
    margin: 0 1.5rem;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group .kt-checkbox span {
    background: #ffffff !important;
}

@media (min-width: 1025px) {
    .kt-login.kt-login--v1 .kt-login__aside {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

@media (max-width: 1024px) {
    .kt-login.kt-login--v1 .kt-login__aside {
        width: 100%;
        height: auto;
        padding: 2rem 1.5rem;
    }

    .kt-login.kt-login--v1 .kt-login__aside .kt-login__logo {
        margin-bottom: 2.5rem;
    }

    .kt-login.kt-login--v1 .kt-login__aside .kt-login__info {
        margin-top: 2rem;
    }

    .kt-login.kt-login--v1 .kt-login__aside .kt-login__subtitle {
        margin: 2rem 0;
    }

    .kt-login.kt-login--v1 .kt-login__wrapper {
        // padding: 3rem 1.5rem;
        padding: 0px;
    }

    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__head {
        padding-left: 2rem;
        right: 2rem;
    }

    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 5rem;
    }

    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__options>a:not(:first-child):not(:last-child) {
        margin: 0 0.8rem;
    }
}

.language-switch-area {
    a {
        margin-right: 5px;
        cursor: pointer;
    }

    i {
        display: inline-block;
    }
}

// .kt-login__form {
//     margin: 0px auto !important;
// }

.kt-login__account {
    text-align: center;
}

.has-danger .form-control-feedback {
    color: #fd397a;
    margin-top: 0.2rem;
    font-size: .85rem;
    text-align: left;
}

ul.text-danger {
    list-style: none;
    color: #f4516c;
    margin-top: 0.2rem;
    font-size: .85rem;
    text-align: left;
    padding-left: 0;
}

.captcha-container {
    margin: auto;
    width: 70%;
}

.kt-login_body {
    .ng-star-inserted {
        width: 100%;
    }
}



.kt-login__form {
    // max-width: 450px !important;
    border: 0px solid #ff0000 !important;
    // width: 450px !important;
    width: 100%;
    // background: rgba(255, 255, 255, 0.5) 0% 0% no-repeat padding-box;
    // background: rgba(255, 255, 255, 0.5) 0% 0% no-repeat padding-box;
    background: #ffffff !important;
    // box-shadow: 0px 0px 55px #646464A0;
    // box-shadow: 0 .1rem 1rem .25rem rgba(0, 0, 0, .05) !important;
    border-radius: 17px;
    opacity: 1;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 15px;
    // padding: 1rem 2rem 2rem;
    padding: 0px;
    opacity: 1;
    backdrop-filter: blur(50px);
    float: right;
    -webkit-backdrop-filter: blur(50px);

    @media screen and (min-width:1400px) {
        // max-width: 500px !important;
        border: 0px solid #ff0000 !important;
        // width: 500px !important;
    }

    @media screen and (min-width:1600px) {
        // max-width: 500px !important;
        border: 0px solid #ff0000 !important;
        // width: 500px !important;
        padding: 0;
    }

    @media screen and (min-width:1800px) {
        // max-width: 550px !important;
        border: 0px solid #ff0000 !important;
        // width: 550px !important;
        padding: 0;
    }

    h3 {
        color: red !important;
    }

    h2 {
        margin-top: 15px;
        color: #0e2e3f;
        font-size: 1.5rem;
    }

    .form-control {
        height: 2.75rem !important;
        background: #ffffff;

        // @media screen and (min-width:1800px) {
        //     height: 57px !important;
        // }

    }

    @media screen and (min-width:1400px) {
        h2 {

            font-size: 2rem;
        }
    }

    input:-internal-autofill-selected {
        background: #ffffff;
        background-color: #ffffff;
    }

    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px 0px 0px;
        margin-left: -17px !important;
        position: absolute;
        top: -130px;

        img {
            width: 15rem !important;
        }

        @media screen and (min-width:1400px) {
            top: -140px;
        }

        @media screen and (min-width:1600px) {
            margin-left: -15px !important;
            top: -165px;
        }

        @media screen and (min-width:1800px) {
            margin-left: -20px !important;
        }
    }
}

.forgotpassbox {
    .kt-checkbox {
        margin-bottom: 0px !important;
    }
}

.kt-login__body.loginnew {
    .kt-login__form {
        box-shadow: none !important;
    }
}

.kt-loginheader {
    width: 100%;
    background-color: #ffffff !important;
    border-bottom: 1px solid #efefef;
}

.kt-login__body {
    // background: url('../assets/common/images/login-v2.svg') no-repeat 20% center;
    // background-size: 38%;
    height: 100vh !important;
    // background-position: right 10px top 0;
    margin-top: 0px !important;
    padding: 0px 0rem !important;
}

.kt-login__form {
    text-transform: initial !important;

    .form-control {
        border-radius: 4px !important;
    }

    h1 {
        color: #5e5873 !important;
        font-size: 1.74rem;
    }

    p {
        font-size: 0.94rem;
        color: #6e6b7b !important;
        margin: 0px;
        padding: 0px;
    }

    label.kt-checkbox {
        color: #0e2e3f !important;
        text-transform: none !important;
    }

}

@media screen and (max-width:825px) {
    .d-nonemobile {
        display: none;
    }

    .kt-loginmainbox {

        .loginformbox,
        .forgotpasswordmain,
        .validatecodeboxmain {
            max-width: 325px;
            margin: 0px auto;
        }
    }

    .kt-grid__item.kt-grid__item--fluid {
        padding: 0px !important;
    }

    .whiteback {
        background: #ffffff;

        .deviceshow {
            display: block;
            position: absolute;
            top: 25px;
            left: 15px;
            padding: 0px;
        }
    }
}
