body {
    font-family: 'Poppins', sans-serif;
}

p {
    text-transform: none !important;
}

.kt-login.kt-login--v1 .kt-login__aside {
    width: 605px;
    padding: 3rem 3.5rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__title {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__subtitle {
    font-size: 1.2rem;
    font-weight: 200;
    margin: 2.5rem 0 3.5rem 0;
    color: rgba(255, 255, 255, 0.7);
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__menu>a {
    text-decoration: none;
    color: #fff;
    margin-right: 2rem;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__menu>a:hover {
    color: #fff;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__menu>a:hover:after {
    border-bottom: 1px solid #fff;
    opacity: 0.3;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__menu>a:last-child {
    margin-right: 0;
}

.kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__copyright {
    color: rgba(255, 255, 255, 0.4);
}

.kt-login.kt-login--v1 .kt-login__wrapper {
    background: #f8f8f8;
}

@media screen and (min-width: 1800px) {}

.whiteback {
    background: #ffffff;
}

.whiteback .deviceshow {
    display: none;
}

.loginimgbox {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    height: 100vh;
    background: #4e54c8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.loginimgbox .logo {
    position: absolute;
    top: 23px;
    left: -12px;
}

.loginimgbox .logo a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.loginimgbox .logo a h2 {
    color: #7367f0 !important;
    font-weight: 600;
    font-size: 1.714rem;
    margin-left: 1rem;
    margin-bottom: 0px;
}

.loginimgbox img.loginimgbox {
    max-width: 675px;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__head {
    font-size: 1rem;
    font-weight: 500;
    text-align: right;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__head .kt-login__signup-label {
    color: #a7abc3;
}

@media screen and (min-width: 1400px) {}

@media screen and (min-width: 1600px) {}

@media screen and (min-width: 1800px) {}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__head .kt-login__signup-link {
    color: #5d78ff;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: flex-end;
    height: 85%;
    flex-wrap: wrap;
}

@media screen and (min-width: 1600px) {
    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body {
        padding-top: 5rem;
    }
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form {
    width: 100%;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__title {
    display: block;
    text-align: left;
    margin-bottom: 5rem;
    text-decoration: none;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__title>h3 {
    font-size: 2rem;
    color: #67666e;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form {
    margin: 10px auto 0px;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form.forgotform {
    margin: 15px auto 0px;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group {
    margin-bottom: 1rem !important;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form label {
    margin-bottom: 0px;
    color: #5e5873;
    font-size: 0.857rem;
    padding-bottom: 0.2rem;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .formlabel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .formlabel a {
    font-size: 0.857rem;
    color: #7367f0;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group {
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group .form-control {
    border: none;
    height: 50px;
    background-color: #ffffff;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    width: 100% !important;
    border: 1px solid #acacac;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group input[type="email"].form-control,
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group input[type="text"].form-control,
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group input[type="text"].form-control:focus {
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 1rem !important;
    border-radius: 4px !important;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group input[type="password"].form-control,
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group input[type="password"].form-control:focus {
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 1rem !important;
    border-radius: 4px !important;
    width: 100%;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group .form-control:focus {
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
    background-color: #f7f7f9;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
    margin: 3rem 0 0px;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions.flexrow {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__link-forgot {
    color: #ffffff;
}

@media screen and (min-width: 1800px) {
    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__link-forgot {
        font-size: 1.2rem !important;
    }
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__link-forgot:hover {
    color: #FFAA2B;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__link-forgot:hover:after {
    border-bottom: 1px solid #1A73E8;
    opacity: 0.3;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__btn-secondary,
.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__btn-primary,
.kt-login__actions .kt-login__btn-primary {
    height: 45px;
    background: #7367f0 !important;
    width: 100%;
    border-color: #7367f0 !important;
    font-size: 1rem !important;
    margin-bottom: 10px;
    padding-top: 6px;
    line-height: 29px;
    color: #ffffff !important;
    font-weight: 500;
}

@media screen and (min-width: 1800px) {
    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__btn-secondary,
    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__btn-primary,
    .kt-login__actions .kt-login__btn-primary {
        height: 45px !important;
        padding-top: 8px;
        line-height: 26px !important;
    }
}

.loginformbox {
    max-width: 92%;
    width: 100%;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions .kt-login__btn-primary:hover {
    box-shadow: 0 8px 25px -8px #7367f0;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__actions {
    margin: 25px 0px 0px !important;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__divider {
    margin: 1rem 0 2rem 0;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__divider:not(:first-child):not(:last-child) {
    font-weight: 400;
    color: #b5b2c3;
    font-size: 1rem;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 100%;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__options>a {
    text-decoration: none;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__options>a:not(:first-child):not(:last-child) {
    margin: 0 1.5rem;
}

.kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-form .form-group .kt-checkbox span {
    background: #ffffff !important;
}

@media (min-width: 1025px) {
    .kt-login.kt-login--v1 .kt-login__aside {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

@media (max-width: 1024px) {
    .kt-login.kt-login--v1 .kt-login__aside {
        width: 100%;
        height: auto;
        padding: 2rem 1.5rem;
    }
    .kt-login.kt-login--v1 .kt-login__aside .kt-login__logo {
        margin-bottom: 2.5rem;
    }
    .kt-login.kt-login--v1 .kt-login__aside .kt-login__info {
        margin-top: 2rem;
    }
    .kt-login.kt-login--v1 .kt-login__aside .kt-login__subtitle {
        margin: 2rem 0;
    }
    .kt-login.kt-login--v1 .kt-login__wrapper {
        padding: 0px;
    }
    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__head {
        padding-left: 2rem;
        right: 2rem;
    }
    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-top: 5rem;
    }
    .kt-login.kt-login--v1 .kt-login__wrapper .kt-login__body .kt-login__form .kt-login__options>a:not(:first-child):not(:last-child) {
        margin: 0 0.8rem;
    }
}

.language-switch-area a {
    margin-right: 5px;
    cursor: pointer;
}

.language-switch-area i {
    display: inline-block;
}

.kt-login__account {
    text-align: center;
}

.has-danger .form-control-feedback {
    color: #fd397a;
    margin-top: 0.2rem;
    font-size: 0.85rem;
    text-align: left;
}

ul.text-danger {
    list-style: none;
    color: #f4516c;
    margin-top: 0.2rem;
    font-size: 0.85rem;
    text-align: left;
    padding-left: 0;
}

.captcha-container {
    margin: auto;
    width: 70%;
}

.kt-login_body .ng-star-inserted {
    width: 100%;
}

.kt-login__form {
    border: 0px solid #ff0000 !important;
    width: 100%;
    background: #ffffff !important;
    border-radius: 17px;
    border-radius: 15px;
    padding: 0px;
    opacity: 1;
    backdrop-filter: blur(50px);
    float: right;
    -webkit-backdrop-filter: blur(50px);
}

@media screen and (min-width: 1400px) {
    .kt-login__form {
        border: 0px solid #ff0000 !important;
    }
}

@media screen and (min-width: 1600px) {
    .kt-login__form {
        border: 0px solid #ff0000 !important;
        padding: 0;
    }
}

@media screen and (min-width: 1800px) {
    .kt-login__form {
        border: 0px solid #ff0000 !important;
        padding: 0;
    }
}

.kt-login__form h3 {
    color: red !important;
}

.kt-login__form h2 {
    margin-top: 15px;
    color: #0e2e3f;
    font-size: 1.5rem;
}

.kt-login__form .form-control {
    height: 2.75rem !important;
    background: #ffffff;
}

@media screen and (min-width: 1400px) {
    .kt-login__form h2 {
        font-size: 2rem;
    }
}

.kt-login__form input:-internal-autofill-selected {
    background: #ffffff;
    background-color: #ffffff;
}

.kt-login__form .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0px 0px;
    margin-left: -17px !important;
    position: absolute;
    top: -130px;
}

.kt-login__form .logo img {
    width: 15rem !important;
}

@media screen and (min-width: 1400px) {
    .kt-login__form .logo {
        top: -140px;
    }
}

@media screen and (min-width: 1600px) {
    .kt-login__form .logo {
        margin-left: -15px !important;
        top: -165px;
    }
}

@media screen and (min-width: 1800px) {
    .kt-login__form .logo {
        margin-left: -20px !important;
    }
}

.forgotpassbox .kt-checkbox {
    margin-bottom: 0px !important;
}

.kt-login__body.loginnew .kt-login__form {
    box-shadow: none !important;
}

.kt-loginheader {
    width: 100%;
    background-color: #ffffff !important;
    border-bottom: 1px solid #efefef;
}

.kt-login__body {
    height: 100vh !important;
    margin-top: 0px !important;
    padding: 0px 0rem !important;
}

.kt-login__form {
    text-transform: initial !important;
}

.kt-login__form .form-control {
    border-radius: 4px !important;
}

.kt-login__form h1 {
    color: #5e5873 !important;
    font-size: 1.74rem;
}

.kt-login__form p {
    font-size: 0.94rem;
    color: #6e6b7b !important;
    margin: 0px;
    padding: 0px;
}

.kt-login__form label.kt-checkbox {
    color: #0e2e3f !important;
    text-transform: none !important;
}

@media screen and (max-width: 825px) {
    .d-nonemobile {
        display: none;
    }
    .kt-loginmainbox .loginformbox,
    .kt-loginmainbox .forgotpasswordmain,
    .kt-loginmainbox .validatecodeboxmain {
        max-width: 325px;
        margin: 0px auto;
    }
    .kt-grid__item.kt-grid__item--fluid {
        padding: 0px !important;
    }
    .whiteback {
        background: #ffffff;
    }
    .whiteback .deviceshow {
        display: block;
        position: absolute;
        top: 25px;
        left: 15px;
        padding: 0px;
    }
}