<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap' rel='stylesheet'>

    <title>Feed In Tarrif Form</title>
</head>

<style>
    body {
        font-family: 'Montserrat', sans-serif;
        color: #000;
        margin: 0;
        padding: 0;
        font-size: 13px;
        font-weight: 500;
        background: #F5F8FA;
    }
    
    .m-bold {
        font-weight: 600 !important;
    }
    
    .bolder {
        font-weight: 700 !important;
    }
    
    .f14 {
        font-size: 14px !important;
    }
    
    .f15 {
        font-size: 15px !important;
    }
    
    .f16 {
        font-size: 16px !important;
    }
    
    .f18 {
        font-size: 18px !important;
    }
    
    .bottom-part-sign {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 100px -15px 0;
        text-align: center;
    }
    
    .bottom-part-sign .steps {
        margin: 0 15px;
        flex: 1;
    }
    
    .bottom-part-sign .steps .sign {
        min-height: 20px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: end;
    }
    
    .bottom-part-sign .tag {
        border-top: 1px solid #ccc;
        margin-top: 10px;
        padding-top: 10px;
    }
</style>

<body style="background:#f3ece8">
    <div>
        <!-- Header starts -->
        <div style=" margin: 0 auto; width: 920px; min-width: 320px; padding:20px 10px;">
            <table style="width:100%; border:0;">
                <tr>
                    <td style="text-align: center; "><img src='{{O.OrgLogo}}' style='max-width:200px;'></td>
                </tr>
            </table>
        </div>
        <!-- Header ends -->

        <div style=" margin: 0 auto 10px; width: 920px; overflow: hidden; min-width: 320px; padding:00; background-color: #fff; border:1px solid #ffccb2; border-radius: 10px;">

            <div style="height:950px;">
                <div style="width:100%; background:#FFFAF7; min-height:200px; padding:20px;">
                    <div style="text-align:center; margin:0 0 30px; font-size:22px; font-weight:700;">Feed In Tarrif Form</div>
                    <table style="width:98%; border:0; ">
                        <tr>
                            <td>
                                <div style="width:500px; border-radius:10px; background:#fff; padding:10px; border:1px dashed #ced9ee;">
                                    <table style="width:100%; border:0;">
                                        <tr>
                                            <td style="padding:10px; font-weight:600; font-size:15px; width:110px;">Name : </td>
                                            <td style="padding:10px; font-weight:600; font-size:15px;">{{A.Name}}</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px; font-weight:600; font-size:15px; vertical-align:top;">Full Address : </td>
                                            <td style="padding:10px; font-weight:600; font-size:15px;">{{A.AddressLine1}}<br> {{A.AddressLine2}}</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px; font-weight:600; font-size:15px;">Mobile : </td>
                                            <td style="padding:10px; font-weight:600; font-size:15px;">{{A.Mobile}}</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px; font-weight:600; font-size:15px;">Email : </td>
                                            <td style="padding:10px; font-weight:600; font-size:15px;">{{A.Email}}</td>
                                        </tr>
                                        <tr>
                                            <td style="padding:10px; font-weight:600; font-size:15px;">Quote No. : </td>
                                            <td style="padding:10px; font-weight:600; font-size:15px;">{{A.JobNumber}}</td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td style="text-align:center;"><img src="https://thesolarproduct.com/assets/common/images/sb-banner.png" style="width:320px;"></td>
                        </tr>
                    </table>
                </div>
                <div style="padding:30px;">
                    <div style="font-size:0.9rem; font-weight:600; line-height:26px; margin:0 0 10px; padding:0;">
                        <p>You acknowledge that you will lose eligibility for the premium feed-in tariff on the existing solar system if you:</p>
                        <ul style="margin:0 0 0 10px; padding:0 0 0 20px;">
                            <li style="list-style:disc; font-weight:normal;">Move house (as this will result in a new electricity account holder for the premises).</li>
                            <li style="list-style:disc; font-weight:normal;">Sell or let your house (if this results in a new electricity account holder for the premises).</li>
                            <li style="list-style:disc; font-weight:normal;">Increase your inverter capacity (i.e. the size).</li>
                            <li style="list-style:disc; font-weight:normal;">Close your electricity account.</li>
                            <li style="list-style:disc; font-weight:normal;">Are disconnected (e.g. because you fail to pay a bill or breach a contract).</li>
                            <li style="list-style:disc; font-weight:normal;">Add extra capacity (i.e. panels) which exceeds the rated capacity of your system’s inverter.</li>
                            <li style="list-style:disc; font-weight:normal;">Use alternative energy sources, (e.g. other generators or batteries) when the system receiving the premium feed-in tariff is operating (unless alternative sources have separate connections to the network).</li>
                            <li style="list-style:disc; font-weight:normal;">Transfer your electricity account into any other name (other than your spouse).</li>
                            <li style="list-style:disc; font-weight:normal;">Add any other name to your electricity account (other than your spouse).</li>
                            <li style="list-style:disc; font-weight:normal;">Replace your inverter with a larger inverter.</li>
                        </ul>
                    </div>

                    <div style="margin:25px 0;">
                        <table style="width:100%; border:0;">
                            <tr>
                                <td style="vertical-align:top; padding-right:10px;">
                                    <img src="{{A.Y}}" style="width:25px;">
                                </td>
                                <td style="line-height:26px;" class="f14 m-bold"> I have read above & agree to proceed with the solar system installation.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div style="padding:10px 30px;">

                <div class="bottom-part-sign">
                    <div class="steps">
                        <div class="sign"><img src="{{A.CustomerSign.SignSrc}}" style="max-height:110px;"></div>
                        <div class="tag m-bold">Customer Signature</div>
                    </div>

                    <div class="steps">
                        <div class="sign">{{A.CustomerSign.Date}}</div>
                        <div class="tag m-bold">Date</div>
                    </div>
                </div>
            </div>

        </div>



    </div>

</body>

</html>