﻿<div bsModal #createOrEditModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #otherChargeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off" [ngClass]="{ 'has-error': otherChargeForm.submitted}">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="otherCharges.id">{{l("EditOtherCharges")}}</span>
                        <span *ngIf="!otherCharges.id">{{l("CreateNewOtherCharges")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <div class="form-group form-icon">
                            
                                <label for="Name" ><strong>{{l("Name")}}</strong> *</label>
                                <input type="text" id="Name" class="form-control" [(ngModel)]="otherCharges.name" name="Name" autofocus required />
                                <span class="icon-box"><i class="las la-hand-holding-usd"></i></span>
                        </div>  
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i> {{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!otherChargeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="las la-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>