<style>
    .ui-autocomplete-panel .ui-autocomplete-items.ui-autocomplete-list {
        display: block !important;
    }
    
    .ui-autocomplete-panel .ui-autocomplete-items.ui-autocomplete-list {
        width: 100% !important;
    }
</style>
<div bsModal #addModal="bs-modal" class="modal " tabindex="-1" role="dialog" aria-labelledby="addModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #addNotesForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("AddNotes")}} - <!--{{leadCompanyName}} - --> {{this.item.job.jobNumber}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-bg-gray">
                    <div class="modal-white-box">
                        <h3>{{l('JobDetail')}}</h3>
                        <div class="card card-custom card-stretch">
                            <div class="card-body sitedetailbox xlmin517">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label for="jobId">{{l('JobNumber')}}</label>
                                            <!-- <p-autoComplete [(ngModel)]="refferedJobName" id="refferedJobName" [suggestions]="filteredLeadSource" (completeMethod)="filterjobnumber($event)" placeholder="Select Referral Job Number" [minlength]="1" name="refferedJobName" inputStyleClass="form-control"
                                                styleClass="width-percent-100">
                                            </p-autoComplete>
                                            <span class="icon-box" style="top:30px;"><i class="las la-hashtag"></i></span> -->
                                            <input type="text" class="form-control"  id="refferedJobName" name="refferedJobName" placeholder="JobNumber" [(ngModel)]="refferedJobName">
                                            <!-- <a class="btnclearsearch" *ngIf="str" (click)="str='';clear();" style="top: 18px;right: 36px;"><i class="fas fa-times-circle"></i></a> -->
                                            <button type="button" [buttonBusy]="saving" busyText="Searching.." class="icon-box" style="border: 0px; background-color: #fff; margin-top: -3px;" (click)="filterjobnumber(refferedJobName)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search ficon"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                            </button>
                                            <div class="top-search-result" [hidden]="!filterdata">
                                                <ul>
                                                    <li *ngFor="let item of filteredLeadSource">
                                                        <div class="result-item" (click)="OnSelectDetails(item)">
                                                            <div class="d-flex align-items-center mb-1">
                                                                <strong>{{item.jobNumber}}</strong>
                                                                <span class="px-2 ng-start-inserted">|</span>
                                                            </div>
                                                            <div class="d-flex align-items-center mb-1">
                                                                <span class="d-flex align-items-center ng-start-inserted">
                                                                    <i class="las la-mobile fs-16 mr-1"> </i> {{item.name}}
                                                                </span>
    
    
                                                            </div>
                                                               
                                                    </div> 
                                                        
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="top-search-result" [hidden]="!NoData">
                                                <ul>
                                                    <li style="cursor:auto">
                                                        <div class="text-danger fw-600 text-center" style="margin-bottom:0;">
                                                            No Data
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label class="form-label">{{l("Accountname")}}</label>
                                            <input type="text" name="accountName" [(ngModel)]="item.job.accountName" class="form-control" />
                                            <span class="icon-box" style="top:30px;"><i class="las la-user-tie"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label class="form-label">{{l("AccountNo")}}</label>
                                            <input type="text" name="accountNo" [(ngModel)]="item.job.accountNo" class="form-control" />
                                            <span style="top:30px;" class="icon-box"><i class="las la-mobile"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label class="form-label">{{l("bsbNo")}}</label>
                                            <input type="text" name="bsbNo" [(ngModel)]="item.job.bsbNo" class="form-control" />
                                            <span class="icon-box" style="top:30px;"><i class="las la-hashtag"></i></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-icon">
                                            <label class="form-label">{{l("RefealAmount")}}</label>
                                            <input type="text" name="referralAmount" [(ngModel)]="item.job.referralAmount" class="form-control" />
                                            <span style="top:30px;" class="icon-box"><i class="las la-dollar-sign"></i></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()"><i class="las la-times-circle"></i>{{("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!addNotesForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="las la-save"></i> <span>{{l("Save")}}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>