<div class="kt-portlet kt-portlet--height-fluid dashboardboxmain margingleft15 margingcomman3 margintop-9">

    <!-- <div class="card card-custom card-stretch gutter-b">
        <div class="card-header border-0">
            <h3 class="card-title align-items-start flex-column">ffsdfdsf</h3>
        </div>
        <div class="card-body pt-4 pb-3 mt">
            <div class="tab-content">
                <div class="table-responsive">
                    <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                        <thead>
                            <tr class="text-left text-uppercase">
                                <th>fsdfsdf</th>
                                <th>fsdfsdf</th>
                                <th>fsdfsdf</th>
                                <th>fsdfsdf</th>
                                <th>fsdfsdf</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>dsfdsfsdfds</td>
                                <td>dsfdsfsdfds</td>
                                <td>dsfdsfsdfds</td>
                                <td>dsfdsfsdfds</td>
                                <td>dsfdsfsdfds</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div> -->




    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label dashboardboxmain width100per">
            <!-- <div class="kt-portlet__head-label dashboardflexheader dashboardboxmain"> -->
            <div class="div_flex width100per">
                <h3 class="kt-portlet__head-title h3_hd_comman">
                    In Active Leads -({{inActiveLeadlength}})
                </h3>
                <div *ngIf="leadCount != 0" class="col px-6 py-8 rounded-xl mb-7 messagelead messagelead_none">
                    Total UnAssigned Leads :<a href="/app/main/leads/leads" routerLinkActive="active"> {{leadCount}}</a>
                </div>
            </div>
            <!-- <div *ngIf="role == 'Sales Manager'">
                <div class="form-group m-form__group">
                    <select class="form-control" [(ngModel)]="salesRepId" (change)="getUserLead(salesRepId)"
                        name="salesRepId">
                        <option value="0">{{l("SelectSalesRep")}}</option>
                        <option *ngFor="let item of filteredReps" value="{{item.id}}">
                            {{item.displayName}}</option>
                    </select>
                </div>
            </div> -->
        </div>
    </div>
    <div class="kt-portlet__body dashboardboxmain paddnone" [perfectScrollbar] *ngIf="inActiveLeadlength != 0">
        <div id="region_statistics_content">
            <div class="table-responsive">
                <div class="ui-table max_height550">
                    <table class="table table-bordered paddset_table1 brd_only_btm table_padd_new">
                        <thead>
                            <tr>
                                <th style="width:55px;"></th>
                                <th class="m-widget11__app">Company</th>
                                <th style="width:160px;" class="m-widget11__change">LeadSource</th>
                                <th style="width:205px;" class="m-widget11__price">Last Followup</th>
                                <th style="width:130px;" class="m-widget11__price">In Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of inActiveLead; let index = index">
                                <td width="30">
                                    <div class="b-avatar badge-light-company rounded" style="width:32px; height:32px;">
                                        <span class="b-avatar-custom">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-crosshair"><circle cx="12" cy="12" r="10"></circle><line x1="22" y1="12" x2="18" y2="12"></line><line x1="6" y1="12" x2="2" y2="12"></line><line x1="12" y1="6" x2="12" y2="2"></line><line x1="12" y1="22" x2="12" y2="18"></line></svg>
                                        </span>
                                    </div>
                                    <!-- <div class="img_max22"><img src="../../../assets/common/images/toolbox.svg" /></div> -->
                                </td>
                                <td>{{ item.companyName }}
                                    <br/>
                                    <span class="colr_greay email_lowercase">{{item.email}}</span>
                                </td>
                                <td>{{ item.leadSourceName}}</td>
                                <td>{{ item.followupdate | momentFormat:'DD-MM-YYYY HH:mm:ss'}}</td>
                                <td class="text-center">{{ item.inactive}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__head" *ngIf="Length != 0">
        <div class="kt-portlet__head-label dashboardflexheader">
            <h3 class="kt-portlet__head-title">
                My Leads
            </h3>
            <div class="pull-right">
                <button (click)="getUserLead(salesRepId)" class="btn btn-primary btn-sm">Refresh</button>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body" [perfectScrollbar] *ngIf="Length != 0">
        <div id="region_statistics_content">
            <div class="table-responsive">
                <div class="ui-table">
                    <!--begin::Table-->
                    <table class="table ui-table-scrollable-header-table dashboardtable">
                        <!--begin::Thead-->
                        <thead class="ui-table-thead">
                            <tr>
                                <th class="m-widget11__app">Company</th>
                                <th class="m-widget11__sales" style="width:280px;">Email</th>
                                <th class="m-widget11__change" style="width:100px;">Phone</th>
                                <th class="m-widget11__change" style="width:100px;">Mobile</th>
                                <th class="m-widget11__change" style="width:100px;">LeadSource</th>
                                <th class="m-widget11__price">Address</th>
                                <th class="m-widget11__price" style="width:100px;">Lead Assign Date</th>
                                <th class="m-widget11__price" style="width:100px;">Note</th>
                                <th class="m-widget11__price" style="width:50px;">Next Followup Date</th>
                            </tr>
                        </thead>
                        <!--end::Thead-->
                        <!--begin::Tbody-->
                        <tbody class="ui-table-tbody">
                            <tr *ngFor="let item of userLead; let index = index">
                                <td>{{ item.companyName }}</td>
                                <td style="width:280px;" class="email_lowercase">{{ item.email }}</td>
                                <td style="width:100px;">{{ item.phone}}</td>
                                <td style="width:100px;">{{ item.mobile}}</td>
                                <td style="width:100px;">{{ item.leadSourceName }}</td>
                                <td>{{ item.address | titlecase }}</td>
                                <td style="width:100px;">{{ item.leadAssignDate | momentFormat:'DD-MM-YYYY' }}</td>
                                <td style="width:100px;">{{ item.lastReminder | titlecase }}</td>
                                <td style="width:100px;">{{ item.lastReminderDate | momentFormat:'DD-MM-YYYY' }}</td>
                                <td style="text-align:center; width:50px;">
                                    <div class="btn-group dropdown" dropdown container="body">
                                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                        <i class="flaticon-more"></i>
                                         <!-- <span class="caret"></span> -->
                                    </button>
                                        <ul class="dropdown-menu griddropdown" *dropdownMenu>
                                            <li>
                                                <a href="javascript:;" (click)="reject(item.id)">{{l('MarkAsReject')}}</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" (click)="addToMyLead(item.id)">{{l('AddToMyLead')}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>